<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST020_1/page.vue
 *  Description:    재고/재고입출고내역 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady"> </common-search>
    <common-form
      ref="commonFormRef"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :gridId="`${myPageId}-grid`"
      :gridStatisticsInfo="GRID_STATISTICS_INFO"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :readOnlyInputs="SEARCH_META.readOnlyInputs"
      :onApiParamsChanged="onApiParamsChanged">
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="GRID_STATISTICS_INFO" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button
            v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && selectedItems.value && Object.keys(selectedItems.value).length > 0"
            :data="btnData"
            @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST020_1" };
</script>
<script setup lang="ts">
import commonForm from "@/page/common-page/common-form.vue";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import commonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
let searchGridData: Function;

const { t } = useI18n();
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const SelectedDataStore = useSelectedDataStore();
const gridHeaderTitle = ref(t("grid-title.stock-in/out-list"));
function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}
let gridTotalData = reactive({ value: {} as any });
let gridApi = ref<GridApi | null>();

const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const selectedItems = ref({} as any);
const gridControlBtnRef = ref(CONTROL_BTN);
const SearchConditionStore = useSearchConditionStore();
const eventBus = useEventBusStore();
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSST020_rn");
  const res = await ApiService.postApi("/WINUS/WMSST020_rn.action", {}, data);

  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }

  const data2 = UtilService.getOptionApiData("WMSCM091_rn");
  const res2 = await ApiService.postApi("/WMSCM091_rn.action", {}, data2);

  if (res2.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res2.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res2.result);
  }
});

onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  eventBus.on("search-finished", getGridStatisticsData);

  searchGridData = commonFormRef.value!.searchGridData;
});

onUnmounted(() => {
  // 페이지 ID를 포함한 이벤트 이름으로 리스너 제거
  eventBus.off("search-finished", getGridStatisticsData);
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

function excelExport() {
  let columnKeys = [] as string[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.stock-in/out-list"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST020/list_rn.action", apiParams, bodyData.value, false);
}

// 그리드 상단 통계 데이터
async function getGridStatisticsData() {
  const searchConditions = SEARCH_INPUT;

  let apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
  apiParams._fullpath = "";
  apiParams.vrSrchBarcode = "";
  apiParams.vrSrchBlNo = "";
  if (!apiParams.chViewIn) {
    apiParams.chViewIn = "on";
  }
  if (!apiParams.chViewOut) {
    apiParams.chViewOut = "on";
  }
  if (apiParams.vrSrchPoolYn === "A") {
    apiParams.vrSrchPoolYn = "";
  }
  const keys = Object.keys(apiParams);
  for (let i = 0; keys.length > i; i++) {
    if (keys[i].includes("chView") && apiParams[keys[i]] === "") {
      delete apiParams[keys[i]];
    }
  }

  const res = await ApiService.postApi("/WMSST020/listSummaryCount_rn.action", apiParams, {}, false);
  if (res.status) {
    gridTotalData.value = res.result.LIST;
  }
}

function onApiParamsChanged(apiParams: any) {
  //  select-box 옵션에따라 다른 종류의 search modal이 띄어지는데, input value의 key값이 동일해서, 계속 첫번째 option의 값을 가지고 apiParams에 넣게됨.
  //  UtilService.getGridParams 에서 예외처리 하기가 까다로워 이런 경우의 페이지일 경우 따로 처리.
  apiParams._fullpath = "";
  apiParams.vrSrchBarcode = "";
  apiParams.vrSrchBlNo = "";
  if (!apiParams.chViewIn) {
    apiParams.chViewIn = "on";
  }
  if (!apiParams.chViewOut) {
    apiParams.chViewOut = "on";
  }
  if (apiParams.vrSrchPoolYn === "A") {
    apiParams.vrSrchPoolYn = "";
  }
  const keys = Object.keys(apiParams);
  for (let i = 0; keys.length > i; i++) {
    if (keys[i].includes("chView") && apiParams[keys[i]] === "") {
      delete apiParams[keys[i]];
    }
  }
  return apiParams;
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
