<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST020_2/form.vue
 *  Description:    재고/재고입출력내역(비고표시) 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <control-container>
    <div v-for="btnData in controlBtn.value" :key="btnData.title">
      <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" :excelExport="excelExport" />
    </div>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <grid-statistics-container :statisticsInfo="GRID_STATISTICS_INFO" :gridTotalData="gridTotalData" />
    <my-grid
      :onGridReady="onGridReady"
      :pagingSize="pagingSize"
      @onPageSizeChanged="
        (ps) => {
          pagingSize = ps;
        }
      "
      :pinnedBottomRowData="pinnedBottomRowData" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import MyGrid from "./grid.vue";
import { CONTROL_BTN, GRID_STATISTICS_INFO, SEARCH_INPUT } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const SelectedDataStore = useSelectedDataStore();
const FormHeightStore = useFormHeightStore();
const SearchConditionStore = useSearchConditionStore();
const bodyData = reactive({ value: {} as any });
// class="form-container" 엘리먼트
const formContainerRef = ref(null as null | any);
const pagingOptions = UtilService.getGridPagingOptions("WMSST020");
const pagingSize = ref<number>(pagingOptions![0]);
const gridTotalData = reactive({ value: {} as { [key: string]: any } });
const onGridReadyParams = reactive({ value: {} as any });
let gridApi: GridApi | null = null;
const pinnedBottomRowData = reactive({ value: {} as any });
const inactive = ref<boolean>(false);
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onBeforeMount(async () => {
  const typicalData = {
    srchKey: "TYPICALCUST",
  };
  const typicalResult = await ApiService.postApi("/WMSCM011/getTypicalCust_rn.action", {}, typicalData);
  if (typicalResult.status) {
    SelectedDataStore.selectedModalHandler({ owner: typicalResult.result.TYPICALCUST[0] });
  }
});

onMounted(() => {
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  window.addEventListener("resize", () => {
    resizeGridColumns();
  });
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST020_2", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(FormHeightStore._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  }
});

watch(SearchConditionStore._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const resizeGridColumns = () => {
  const myPageId = useTabsStore().selectedTab.value?.id;
  let myGridContainerWidth = document.querySelector("#" + myPageId + "-page .form-container")?.clientWidth || 0;
  let myGridBodyContainerWidth = document.querySelector("#" + myPageId + "-page .ag-body-viewport .ag-center-cols-container")?.clientWidth || 0;
  if (myGridContainerWidth > myGridBodyContainerWidth) {
    gridApi?.sizeColumnsToFit();
  }
};

const onGridReady = (params: any) => {
  gridApi = params.api;
  onGridReadyParams.value = params;
  resizeGridColumns();
};

function settingBottomColumn() {
  const colDefs = onGridReadyParams.value.columnApi.columnModel.columnDefs;
  colDefs?.forEach((column: any) => {
    if (column.headerKey === "no") {
      column.valueGetter = (params: any) => {
        if (Object.hasOwn(params.data, "RNUM")) {
          return params.node.rowIndex + 1;
        } else {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  gridApi?.setColumnDefs(colDefs);
}

// 그리드 통계결과 갖고오기
async function getGridStatisticsData() {
  const searchConditions = SEARCH_INPUT;

  let apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
  apiParams._fullpath = "";
  apiParams.vrSrchBarcode = "";
  apiParams.vrSrchBlNo = "";
  if (!apiParams.chViewIn) {
    apiParams.chViewIn = "on";
  }
  if (!apiParams.chViewOut) {
    apiParams.chViewOut = "on";
  }
  if (apiParams.vrSrchPoolYn === "A") {
    apiParams.vrSrchPoolYn = "";
  }
  const keys = Object.keys(apiParams);
  for (let i = 0; keys.length > i; i++) {
    if (keys[i].includes("chView") && apiParams[keys[i]] === "") {
      delete apiParams[keys[i]];
    }
  }

  const res = await ApiService.postApi("/WMSST020/listSummaryCount_E2_rn.action", apiParams, {});
  if (res.status) {
    gridTotalData.value = res.result.LIST;
  }
}

async function searchGridData() {
  if (SearchConditionStore._availableSearchBySearchCondition.value) {
    initBeforeSearchGridData();
    const searchConditions = SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
    apiParams._fullpath = "재고관리 &gt; 재고입출고내역";
    apiParams.vrSrchBarcode = "";
    apiParams.vrSrchBlNo = "";
    const keys = Object.keys(apiParams);
    for (let i = 0; keys.length > i; i++) {
      if (keys[i].includes("chView") && apiParams[keys[i]] === "") {
        delete apiParams[keys[i]];
      }
    }

    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSST020/list_E2_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            params.successCallback(gridData.result.list, UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows));
            await getGridStatisticsData();
            pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(gridData.result.list, pinnedBottomRowData.value);
          } else {
            useToast().warning(t("common-toast.no-data-list"));
            params.successCallback([], 0);
          }
        } else {
          params.successCallback([], 0);
        }
        SearchConditionStore.setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function initBeforeSearchGridData() {
  settingBottomColumn();
  gridApi?.deselectAll();
  gridTotalData.value = {};
  pinnedBottomRowData.value = {
    WORK_QTY: 0,
    REAL_PLT_QTY: 0,
  };
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

//엑셀
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_COLUMN_DEFS[i].field);
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.stock-in/out-list"),
    columnKeys,
  };

  gridApi?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.grid-statistics {
  &-container {
    position: absolute;
    top: -14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
  }

  &-title {
    font-weight: bold;
    font-size: 13px;
    color: #727272;
    margin-right: 17px;
  }
  &-value {
    font-weight: bold;
    font-size: 13px;
    color: #222222;
  }
}

.form-container {
  width: 100%;
  position: relative;
}
</style>
