<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST020_2/grid.vue
 *  Description:    재고/재고입출력내역(비고표시) 메인 Form화면의 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-header">{{ t("grid-title.stock-in/out-list(remarks indication)") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" @cellClicked="cellClicked" :modules="[ExcelExportModule]" :pinnedBottomRowData="[pinnedBottomRowData.value]" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onBeforeMount, ref } from "vue";
import { useI18n } from "vue-i18n";

import { CellClickedEvent, GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
// excel export관련 모듈을 따로 설치해줘여댬, 설치하고 그리드 컴포넌트에 프로퍼티로 입력
import { ExcelExportModule } from "ag-grid-enterprise";

import { UtilService } from "@/services/util-service";
import { useSelectedDataStore } from "@/store";

import { FORM_COLUMN_DEFS, MODAL_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const { onGridReady, pinnedBottomRowData } = defineProps<{
  onGridReady: any;
  pinnedBottomRowData: any;
}>();
const SelectedDataStore = useSelectedDataStore();
const pagingOptions = UtilService.getGridPagingOptions("WMSST020");
const pagingSize = ref<number>(pagingOptions![0]);
const emits = defineEmits(["onPageSizeChanged"]);
const { t } = useI18n();
const totalRows = ref<number>(0);
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};
const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  onPaginationChanged: onPaginationChanged,
  columnDefs: FORM_COLUMN_DEFS,
  onGridReady: onGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
};

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t(`grid-column-name.${column.headerKey}`);
    }
  });
  MODAL_COLUMN_DEFS.location?.forEach((column: any) => {
    //자식요소 컬럼 다국어 적용
    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        if (Object.hasOwn(column.children[i], "headerKey")) {
          column.children[i].headerName = t("grid-column-name." + column.children[i].headerKey);
        }
      }
    }
  });
});

// User Function Definitions
// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data);
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    width: 100%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
