<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST020_2/page.vue
 *  Description:    재고/재고입출고내역(비고표시) 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :gridStatisticsInfo="GRID_STATISTICS_INFO"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="GRID_STATISTICS_INFO" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST020_2" };
</script>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/stock/WMSST020_2/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const SelectedDataStore = useSelectedDataStore();
const SearchConditionStore = useSearchConditionStore();
const OptionDataStore = useOptionDataStore();
const onGridReadyParams = reactive({ value: {} as any });
const myPageId = ref<string>();
const selectedItems = reactive({ value: [] as any });
const eventBus = useEventBusStore();
const gridApi = ref<GridApi | undefined>();
const gridHeaderTitle = computed(() => {
  return t(`grid-title.stock-in/out-list(remarks indication)`);
});
const gridTotalData = reactive({ value: {} as { [key: string]: any } });
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data);
};

const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};
const pinnedBottomRowData = reactive({ value: {} as any });

// User Function Definitions
const resizeGridColumns = () => {
  const myPageId = useTabsStore().selectedTab.value?.id;
  let myGridContainerWidth = document.querySelector("#" + myPageId + "-page .form-container")?.clientWidth || 0;
  let myGridBodyContainerWidth = document.querySelector("#" + myPageId + "-page .ag-body-viewport .ag-center-cols-container")?.clientWidth || 0;
  if (myGridContainerWidth > myGridBodyContainerWidth) {
    gridApi.value?.sizeColumnsToFit();
  }
};

eventBus.on("onGridReady", (params: GridReadyEvent) => {
  gridApi.value = params.api;
  onGridReadyParams.value = params;
  resizeGridColumns();

  const columnDefs: any = gridApi.value?.getColumnDefs();
  columnDefs.forEach(function (colDef: any) {
    if (colDef.field === "WORK_STAT") {
      colDef.valueGetter = (params: any) => {
        if (params.node.data.WORK_STAT === "FF") {
          return t("grid-column-name.complete");
        } else {
          return t("not-completed");
        }
      };
    }
  });
  gridApi.value?.setColumnDefs(columnDefs);
});

function settingBottomColumn() {
  const colDefs = onGridReadyParams.value.columnApi.columnModel.columnDefs;
  colDefs?.forEach((column: any) => {
    if (column.headerKey === "no") {
      column.valueGetter = (params: any) => {
        if (Object.hasOwn(params.data, "RNUM")) {
          return params.node.rowIndex + 1;
        } else {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  gridApi.value?.setColumnDefs(colDefs);
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

function initBeforeSearchGridData() {
  settingBottomColumn();
  gridApi.value?.deselectAll();
  gridTotalData.value = {};
  pinnedBottomRowData.value = {
    WORK_QTY: 0,
    REAL_PLT_QTY: 0,
  };
}

// 그리드 통계결과 갖고오기
async function getGridStatisticsData() {
  const searchConditions = SEARCH_INPUT;

  let apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
  apiParams._fullpath = "";
  apiParams.vrSrchBarcode = "";
  apiParams.vrSrchBlNo = "";
  if (!apiParams.chViewIn) {
    apiParams.chViewIn = "on";
  }
  if (!apiParams.chViewOut) {
    apiParams.chViewOut = "on";
  }
  if (apiParams.vrSrchPoolYn === "A") {
    apiParams.vrSrchPoolYn = "";
  }
  const keys = Object.keys(apiParams);
  for (let i = 0; keys.length > i; i++) {
    if (keys[i].includes("chView") && apiParams[keys[i]] === "") {
      delete apiParams[keys[i]];
    }
  }

  const res = await ApiService.postApi("/WMSST020/listSummaryCount_E2_rn.action", apiParams, {});
  if (res.status) {
    gridTotalData.value = res.result.LIST;
  }
}

onBeforeMount(async () => {
  const typicalData = {
    srchKey: "TYPICALCUST",
  };
  const typicalResult = await ApiService.postApi("/WMSCM011/getTypicalCust_rn.action", {}, typicalData);
  if (typicalResult.status) {
    SelectedDataStore.selectedModalHandler({ owner: typicalResult.result.TYPICALCUST[0] });
  }
});

// Framework Function Definitions

onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSST020_rn");
  const res = await ApiService.postApi("/WINUS/WMSST020_rn.action", {}, data);

  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }

  const data2 = UtilService.getOptionApiData("WMSCM091_rn");
  const res2 = await ApiService.postApi("/WMSCM091_rn.action", {}, data2);
  // 페이지 ID를 포함한 이벤트 이름으로 리스너 등록
  eventBus.on("search-finished", getGridStatisticsData);

  if (res2.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res2.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res2.result);
  }
});

onUnmounted(() => {
  // 페이지 ID를 포함한 이벤트 이름으로 리스너 제거
  eventBus.off("search-finished", getGridStatisticsData);
});

//엑셀
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_COLUMN_DEFS[i].field || "");
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.stock-in/out-list"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

// User Function Definitions

function onApiParamsChanged(apiParams: any) {
  initBeforeSearchGridData();
  apiParams._fullpath = "재고관리 &gt; 재고입출고내역";
  apiParams.vrSrchBarcode = "";
  apiParams.vrSrchBlNo = "";
  const keys = Object.keys(apiParams);
  for (let i = 0; keys.length > i; i++) {
    if (keys[i].includes("chView") && apiParams[keys[i]] === "") {
      delete apiParams[keys[i]];
    }
  }

  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST020/list_E2_rn.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
