<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST020_2/search.vue
 *  Description:    재고/재고입출고내역(비고표시) 상단의 검색 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <search-container
      @setIsMore="setIsMore"
      :isMore="isMore"
      :data="SEARCH_INPUT"
      :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)"
      :use-setting="false"
      :ser-auth="page.value['SER_AUTH'] || 'Y'">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in SEARCH_INPUT" :key="i">
          <search-container-input
            :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
            :data="props"
            :columnDefs="MODAL_COLUMN_DEFS[props.title]"
            :modalData="SEARCH_MODAL_INFO[props.title]"
            :pageInfo="INFO" />
        </template>
      </template>
    </search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { SearchContainerInput } from "@/components/input";
import { SearchContainer } from "@/components/layout";
import { UtilService } from "@/services/util-service";
import { menusStore, useFormHeightStore } from "@/store/";
import { onMounted, reactive, ref } from "vue";
import { MODAL_COLUMN_DEFS } from "./column-defs";
import { INFO, SEARCH_INPUT, SEARCH_MODAL_INFO } from "./input.meta";

// Variable Definitions
const FormHeightStore = useFormHeightStore();
let isMore = ref(false);
// .search-area 돔 정보
const searchComponentRef = ref(null as null | HTMLDivElement);
const page = reactive({ value: {} as any });
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT) as number;

// Framework Function Definitions
onMounted(() => {
  if (searchComponentRef.value) {
    FormHeightStore.setSearchCompHeight(Number(searchComponentRef.value.clientHeight));
  }
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST020_2", menusStore().getMenus(), null);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

// User Function Definitions
function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    FormHeightStore.setSearchCompHeight(searchComponentRef.value!.clientHeight);
  }, 400);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-area {
  padding-top: 26px;
}
</style>
@/store/search-condition-data
