<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS094/page.vue
 *  Description:    상품군정보관리 화면
 *  Authors:        H. N. KO
 *  Update History:
 *                  2024.06. : Created by H.N.KO
 *
------------------------------------------------------------------------------->
<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header> </template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      @onSelectionChanged="onSelectionChanged"
      :getServerData="getServerData"
      :readOnlyInputs="SEARCH_META.readOnlyInputs">
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS094" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { default as CommonForm, default as commonForm } from "@/page/common-page/common-form.vue";
import commonSearch from "@/page/common-page/common-search.vue";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { GridApi, IServerSideDatasource } from "ag-grid-community";

import { onMounted, reactive, ref } from "vue";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";

import { GridUtils } from "@/lib/ag-grid/utils";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams } from "ag-grid-community";
const selectedItems = reactive({ value: [] as any });
const ConfirmStore = useConfirmStore();

const gridData = reactive({ value: [] as any });
const { t } = useI18n();
let searchGridData: Function;
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

const SearchConditionStore = useSearchConditionStore();
const gridApi = ref<GridApi | undefined>();
const SelectedDataStore = useSelectedDataStore();
const eventBus = useEventBusStore();

// Variable Definitions
const myPageId = ref<string>();
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
  "enter-excel": excelImport,
};
// Framework Function Definitions
onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  const res1 = await ApiService.postApi("/rest/WINUS/WMSMS094.action", {}, UtilService.getOptionApiData(`WMSMS094`));
  if (res1.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res1.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res1.result);
  }
  searchGridData();
});

function onSelectionChanged(e: any) {
  selectedItems.value = gridApi.value?.getSelectedRows();
}

async function getServerData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSMS094/list.action", apiParams, bodyData.value, false);
  gridData.value = res.result.list;
  return res;
}

let tempCount = 0;

//엑셀 export
function excelExport() {
  if (gridData.value.length === 0) {
    return useToast().warning(t("common-toast.no-data-found"));
  }
  const excelExportParams: ExcelExportParams = {
    fileName: t("menu-header-title.WMSMS094"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

// 엑셀입력 클릭시, excel import
function excelImport() {
  const data = {
    modalTitle: t("menu-header-title.WMSMS094"),
    saveUrl: "/rest/WMSMS094/uploadItemGroupInfo.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS094&file_name=execlTemp_goodsGroup_01.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

// User Function Definitions
const dataSource: IServerSideDatasource = {
  getRows: async () => {},
};

// 그리드 데이터 갖고오기
// 저장, 삭제후 업데이트된 리스트를 불러오기위함
async function getGridRowData() {
  gridApi.value?.setServerSideDatasource(dataSource);
}

async function commonFunction(selectedRows: any, data: any) {
  if (selectedRows.value?.length < 1) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }
  let confirmMessage = "confirm-message.save";
  let resultMessage = "common-toast.saved";
  if (selectedRows.ST_GUBUN0 == "DELETE") {
    confirmMessage = "confirm-message.delete";
    resultMessage = "common-toast.deleted";
  }
  await ConfirmStore.confirm(t(confirmMessage), t("button-name.confirm"));

  try {
    if (selectedRows && selectedRows?.length > 0) {
      let result = await ApiService.postApi("/rest/WMSMS094/save.action", data, data);
      if (result.status) {
        if (result.result.errCnt !== 0) {
          useToast().error(t(result.result.MSG));
        } else {
          useToast().success(t(resultMessage));
          searchGridData();
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      }
    }
  } catch (err) {
    return console.log(err);
  }
  tempCount = 0;
  gridApi.value?.deselectAll();
  await getGridRowData();
}

async function deleteRowData() {
  const selectedRows: any = gridApi.value?.getSelectedRows();

  let data: any = {
    _fullpath: "기준관리 &gt; 상품군정보관리",
    vrSrchItemGrpNm: SearchConditionStore.getSearchInputValue().vrSrchItemGrpNm,
    selectIds: String(selectedRows?.length),
    I_selectIds: String(selectedRows?.length),
    D_selectIds: String(selectedRows?.length),
  };
  for (let i = 0; selectedRows.length > i; i++) {
    data["ITEM_GRP_ID" + [i]] = selectedRows[i]?.ITEM_GRP_ID;
    data["ST_GUBUN" + [i]] = "DELETE";
  }
  commonFunction(selectedRows, data);
}

// 신규 빈 행 추가
// function addRowData() {
//   const LC_ID = `temp${tempCount}`;

//   const newRowData = [{ LC_ID: LC_ID }];

//   // 현재 페이지의 0번째 인덱스
//   const addNewIndex = (Number(gridApi.value?.paginationGetCurrentPage()) + 1) * Number(gridApi.value?.paginationGetPageSize()) - Number(gridApi.value?.paginationGetPageSize());

//   gridApi.value?.applyTransaction({
//     add: newRowData,
//     addIndex: addNewIndex,
//   });

//   tempCount++;

//   gridApi.value?.getRowNode(String(LC_ID))?.setSelected(true);
//   SelectedDataStore.selectedHandler(gridApi.value?.getRowNode(String(LC_ID))?.data);
// }

function addRowData() {
  const LC_ID = `temp${tempCount}`;
  // TODO :: 서버측 페이징으로 0으로 확정해도 될 것으로 보임.
  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi.value?.paginationGetCurrentPage()) + 1) * Number(gridApi.value?.paginationGetPageSize()) - Number(gridApi.value?.paginationGetPageSize());
  const newRowData = [{ LC_ID: LC_ID }];
  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });
  tempCount++;
}

/**
 * 데이터 유효성 검사 메소드
 * 반환값 : string
 * null : 정상
 * 그 외 : 아래 에러값에 따른 useToast 값 반환
 * 특정 컬럼에 빈값이나 검증 위반 시 객체 반환
 * 원부자재군 코드의 길이 영문 기준 20자 초과, 한글 10자 초과
 * 원부자재명 코드의 길이 영문 기준 30자 초과, 한글 기준 15자 초과
 */
function fn_listValidation(selectedItems: any, checkColumn: any) {
  for (let item of selectedItems) {
    for (let key of checkColumn) {
      //1. 원부자재군코드, 원부자재군명의 값 중 빈값이 존재할 경우
      if (!item[key]) {
        return { message: "empty-values-are-not-allowed", rowNum: null, itemCode: null, maxEng: null, maxKor: null };
      } else {
        //2. 원부자재군코드의 길이가 20보다 클경우
        if (item["ITEM_GRP_CD"].length > 20) {
          return {
            message: "enter-up-to-digits-in-English-or-digits-in-Korean",
            rowNum: item.RNUM == null ? 0 : item.RNUM,
            itemCode: t("grid-column-name.raw-subsidiary-material-group-code"),
            maxEng: 20,
            maxKor: 10,
          };
        }
        //3.
        else if (item["ITEM_GRP_NM"].length > 30) {
          return {
            message: "enter-up-to-digits-in-English-or-digits-in-Korean",
            rowNum: item.RNUM == null ? 0 : item.RNUM,
            itemCode: t("grid-column-name.raw-subsidiary-material-group-name"),
            maxEng: 30,
            maxKor: 15,
          };
        }
      }
    }
  }
  //정상 ->  0 반환
  return null;
}

async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  gridApi.value?.stopEditing();
  let requiredColumns = ["ITEM_GRP_CD", "ITEM_GRP_NM"];
  if (selectedRows.length < 1) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }
  let validationValue = fn_listValidation(selectedItems.value, requiredColumns);
  if (fn_listValidation(selectedItems.value, requiredColumns)) {
    return useToast().warning(
      t("common-toast." + validationValue?.message, { rowNum: validationValue?.rowNum, itemCode: validationValue?.itemCode, maxEng: validationValue?.maxEng, maxKor: validationValue?.maxKor })
    );
  } else {
    // { message: t("input-title.logistics-center") }
    let data: any = { _fullpath: "기준관리 &gt; 상품군정보관리", vrSrchItemGrpNm: useSearchConditionStore().getSearchInputValue().vrSrchItemGrpNm, selectIds: String(selectedRows.length) };
    for (let i = 0; i < selectedRows.length; i++) {
      if (String(selectedRows[i].LC_ID).includes("temp")) {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }
      data["ITEM_GRP_ID" + [i]] = selectedRows[i].ITEM_GRP_ID;
      data["ITEM_GRP_CD" + [i]] = selectedRows[i].ITEM_GRP_CD;
      data["ITEM_GRP_NM" + [i]] = selectedRows[i].ITEM_GRP_NM;
      data["ITEM_GRP_TYPE" + [i]] = "G";
      data["IN_ZONE_ID" + [i]] = selectedRows[i].IN_ZONE_ID;
    }
    commonFunction(selectedRows, data);
  }
}

// User Function Definitions
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
