<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST051_1/page.vue
 *  Description:    재고관리/일별재고-일별재고내역 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.10.10 : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->

<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady"> </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData">
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="GRID_STATISTICS_INFO" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button
            v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && selectedItems.value && Object.keys(selectedItems.value).length > 0"
            :data="btnData"
            @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<script lang="ts">
export default { name: "WMSST051_1" };
</script>
<script setup lang="ts">
import CommonForm from "@/page/common-page/common-form.vue";
import commonSearch from "@/page/common-page/common-search.vue";
import { useCallModalIdStore, useOptionDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { GridReadyEvent } from "ag-grid-community";

//#region ::  Variable Definitions

const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
let gridApi = ref<GridApi | null>();
const gridTotalData = reactive({ value: {} as any });
const selectedItems = ref({} as any);
const myPageId = ref<string>();
let searchGridData: Function;
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const gridControlBtnRef = ref(CONTROL_BTN);
const eventBus = useEventBusStore();
const gridData = ref(undefined);

const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const data = UtilService.getOptionApiData("WMSST051_rn");
  const res = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, data);
  res.result.selectBoxInfos.S_SET_ITEM_YN.unshift({ CODE_CD: "", CODE_NM: t("select-options.all") });

  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  eventBus.on("search-finished", getGridStatisticsData);
});

onUnmounted(() => {
  // 페이지 ID를 포함한 이벤트 이름으로 리스너 제거
  eventBus.off("search-finished", getGridStatisticsData);
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

//엑셀
function excelExport() {
  let columnKeys = [] as string[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.daily-stock"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//#endregion

//#region ::  Grid Event CallBack Definitions

/**
 * 그리드 조회 parameter 수정
 * @param apiParams 그리드 조회 parameter
 */
function onApiParamsChanged(apiParams: any) {
  return apiParams;
}

async function getServerData(apiParams: any, bodyData: any) {
  let response = await ApiService.postApi("/WMSST051/list_rn.action", apiParams, bodyData.value, false);
  gridData.value = response;
  return gridData.value;
}

async function getGridStatisticsData(apiParams: any) {
  const gridStatisticsData = await ApiService.postApi("/WMSST051/listSummaryCount_rn.action", apiParams, bodyData.value, false);
  if (gridStatisticsData.status) {
    gridTotalData.value = gridStatisticsData.result.LIST;
    gridTotalData.value.TOTAL_UNIT_PRICE = 0;
    gridTotalData.value.TOTAL_INOUT_QTY = 0;
    gridData.value?.result.list.forEach((data: any) => {
      gridTotalData.value.TOTAL_UNIT_PRICE += data.UNIT_PRICE;
      gridTotalData.value.TOTAL_INOUT_QTY += data.INOUT_QTY;
    });
  }
}

//#endregion
</script>

<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
