<!--*------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP030T.ts
 *  Description:    작업지시 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------*/-->
<template>
  <div>
    <div id="wmsop030t" class="wmsop030t">
      <div class="header-title">{{ t("modal-title.work-order") }}</div>
      <!--검색영역-->
      <div class="" ref="searchComponentRef">
        <search-container
          @setIsMore="setIsMore"
          :isMore="isMore"
          :data="WMSOP030T_SEARCH_INPUT"
          :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(WMSOP030T_SEARCH_INPUT)"
          :use-setting="false"
          :un-used-refresh-button="true">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in WMSOP030T_SEARCH_INPUT" :key="i">
              <search-container-input
                :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
                :data="props"
                :columnDefs="WMSOP030T_SEARCH_MODAL_COLUMN_DEFS?.[props.title]"
                :modalData="WMSOP030T_SEARCH_MODAL_INFO?.[props.title]"
                :pageInfo="null" />
            </template>
          </template>
        </search-container>
      </div>
      <control-container>
        <div v-for="btnData in WMSOP030T_CONTROL_BUTTON" :key="btnData.title">
          <control-button :data="btnData" :complete="complete" :workOrder="workOrder" :excelExport="excelExport" />
        </div>
      </control-container>

      <!--그리드영역-->
      <div class="grid-container" ref="formContainerRef">
        <div class="grid-header">{{ $t("grid-title.detail-list") }}</div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
      </div>

      <div class="ag-paging-custom">
        <select @change="onPageSizeChanged" class="page-size">
          <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
        </select>
        <span>Total : {{ totalRows }}</span>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { ExcelExportParams, GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useFormHeightStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import searchContainerInput from "@/components/input/search-container-input.vue";
import searchContainer from "@/components/layout/search-container.vue";

import type { IServerSideGetRowsParams } from "ag-grid-community";
import { WMSOP030T_GRID_COLUMN_DEFS, WMSOP030T_SEARCH_MODAL_COLUMN_DEFS } from "./column-defs";
import { WMSOP030T_CONTROL_BUTTON, WMSOP030T_SEARCH_INPUT, WMSOP030T_SEARCH_MODAL_INFO } from "./input.meta";

import controlButton from "@/components/button/control-button.vue";
import controlContainer from "@/components/layout/control-container.vue";
import type { IAvailableOptionsUtilParams } from "@/types";

const { t } = useI18n();
const inactive = ref<boolean>(false);
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSMS010");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const selectedItems = reactive({ value: [] as any });
const isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement);
const formContainerRef = ref(null as null | any);
const displayInputCount = UtilService.getShowInputCount(2, WMSOP030T_SEARCH_INPUT) as number;

// Framework Function Definitions
// 검색결과 그리드에 반영시키기
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  const res = await ApiService.postApi("/WINUS/WMSOP910_rn.action", {}, UtilService.getOptionApiData("WMSOP910_rn"));
  if (res.status) {
    const setAvailableOptionsUtilParam: IAvailableOptionsUtilParams[] = [
      {
        inputId: "vrSrchOrdSubtype",
        availableList: ["", "30", "33", "36", "39", "50", "121", "130", "131", "132", "133", "134", "140", "141", "142", "143", "162", "163"],
      },
      { inputId: "vrSrchOrderPhase", availableList: ["04", "01", "02", "20", "30", "33", "31", "03", "40", "0131"] },
    ];

    const ITEMGRP_OPTIONS_IN_SEARCH = Array.from(new Set(res.result.selectBoxInfos.ITEMGRP));

    res.result.selectBoxInfos.vrSrchOrderPhase.push({
      code: "0131",
      codeNm: "주문등록&피킹확정",
    });

    const mergeOptionsData = { ...res.result.selectBoxInfos, ...{ ITEMGRP_IN_SEARCH: ITEMGRP_OPTIONS_IN_SEARCH } };

    UtilService.setAvailableOptions(mergeOptionsData, setAvailableOptionsUtilParam);
    useOptionDataStore().setOptionData(mergeOptionsData);
  }

  const res3 = await ApiService.postApi("/WMSST040E3_rn.action", {}, UtilService.getOptionApiData("WMSST040E3_rn"));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res3.result.selectBoxInfos);
    useOptionDataStore().setAvailableWatchBySearchCondition(true);
  } else {
    useOptionDataStore().setOptionData(res3.result);
  }

  const res2 = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));
  if (res2.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res2.result);
  }
});

onMounted(async () => {
  useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("WMSOP030T")));

  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("WMSOP030T"));
  }, 300);
}

function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const onGridReady = () => {
  gridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      UtilService.setGridData("server-side", gridOptions.api, null, params);
    },
  });
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  onPaginationChanged: onPaginationChanged,
  columnDefs: WMSOP030T_GRID_COLUMN_DEFS,
  onRowSelected: onSelectionChanged,
  onGridReady: onGridReady,
  suppressColumnVirtualisation: true,
  suppressClickEdit: true,
  suppressRowClickSelection: true,
  suppressCellFocus: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
  groupSelectsChildren: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  enableCellEditingOnBackspace: false,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (useSelectedDataStore().getSelectedDataList().length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridOptions.api?.getSelectedNodes();
      useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
    }
  } else {
    selectedItems.value = gridOptions.api?.getSelectedNodes();
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  }
}

//검색
async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridOptions.api?.deselectAll();
    const searchConditions = WMSOP030T_SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams.dsMain_rowStatus = "INSERT";
    gridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSOP030/WorkUpdateOrder_rn.action", apiParams, bodyData.value);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            UtilService.setGridData("server-side", gridOptions.api, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridOptions.api, null, params);
          }
        } else {
          UtilService.setGridData("server-side", gridOptions.api, null, params);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 출고확정
async function complete() {
  if (selectedItems.value.length === 0 || !selectedItems.value) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  gridOptions.api?.stopEditing();
  UtilService.setGridStartEditing(gridOptions.api?.getSelectedNodes(), gridOptions.api);

  const bodyData: any = {
    vrSrchReqDtFrom: String(useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || ""),
    vrSrchReqDtTo: String(useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || ""),
    vrSrchOrderPhase: String(useSearchConditionStore().getSearchInputValue().vrSrchOrderPhase || ""),
    S_ITEM_CD: useSelectedDataStore().getSelectedModalData()["product-code"]?.ITEM_CODE || "",
    S_ITEM_NM: useSelectedDataStore().getSelectedModalData()["product-code"]?.ITEM_KOR_NM || "",
    S_ITEM_ID: useSelectedDataStore().getSelectedModalData()["product-code"]?.ITEM_ID || "",
    vrSrchSapBarCode: String(useSearchConditionStore().getSearchInputValue().vrSrchSapBarCode || ""),
    vrSrchEpcCd: String(useSearchConditionStore().getSearchInputValue().vrSrchEpcCd || ""),
    vrSrchSerial: String(useSearchConditionStore().getSearchInputValue().vrSrchSerial || ""),
    vrSrchHexGb: String(useSearchConditionStore().getSearchInputValue().vrSrchHexGb || ""),
    vrSrchSerialId: String(useSearchConditionStore().getSearchInputValue().vrSrchSerialId || ""),
    S_POOL_CODE: useSelectedDataStore().getSelectedModalData()["logistics-container-code"]?.CODE,
    S_POOL_RITEM_ID: useSelectedDataStore().getSelectedModalData()["logistics-container-code"]?.NAME,
    S_POOL_ID: useSelectedDataStore().getSelectedModalData()["logistics-container-code"]?.ID,
    S_POOL_NM: useSelectedDataStore().getSelectedModalData()["logistics-container-code"]?.RITEM_ID,
    vrSrchCustLotNo: String(useSearchConditionStore().getSearchInputValue().vrSrchCustLotNo || ""),
    vrSrchOrdId: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdId || ""),
    selectIds: String(selectedItems.value.length),
  };

  for (let i = 0; selectedItems.value.length > i; i++) {
    bodyData["ORD_ID" + [i]] = String(selectedItems.value[i].ORD_ID || "");
    bodyData["ORD_SEQ" + [i]] = String(selectedItems.value[i].ORD_SEQ || "");
    bodyData["ORD_QTY" + [i]] = String(selectedItems.value[i].ORD_QTY || "");
    bodyData["WORK_DT" + [i]] = String(selectedItems.value[i].WORK_DT || "");
    bodyData["ORD_WEIGHT" + [i]] = String(selectedItems.value[i].ORD_WEIGHT || "");
    bodyData["RTI_EPC_CD" + [i]] = String(selectedItems.value[i].RTI_EPC_CD || "");
    bodyData["SAP_CD" + [i]] = String(selectedItems.value[i].SAP_BARCODE || "");
  }

  const res = await ApiService.postApi("/WMSMO500/save_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.errCnt === 0) {
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 작업지시
async function workOrder() {
  if (selectedItems.value.length === 0 || !selectedItems.value) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  gridOptions.api?.stopEditing();
  UtilService.setGridStartEditing(gridOptions.api?.getSelectedNodes(), gridOptions.api);

  const bodyData: any = {
    vrSrchReqDtFrom: String(useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || ""),
    vrSrchReqDtTo: String(useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || ""),
    vrSrchOrderPhase: String(useSearchConditionStore().getSearchInputValue().vrSrchOrderPhase || ""),
    S_ITEM_CD: useSelectedDataStore().getSelectedModalData()["product-code"]?.ITEM_CODE || "",
    S_ITEM_NM: useSelectedDataStore().getSelectedModalData()["product-code"]?.ITEM_KOR_NM || "",
    S_ITEM_ID: useSelectedDataStore().getSelectedModalData()["product-code"]?.ITEM_ID || "",
    vrSrchSapBarCode: String(useSearchConditionStore().getSearchInputValue().vrSrchSapBarCode || ""),
    vrSrchEpcCd: String(useSearchConditionStore().getSearchInputValue().vrSrchEpcCd || ""),
    vrSrchSerial: String(useSearchConditionStore().getSearchInputValue().vrSrchSerial || ""),
    vrSrchHexGb: String(useSearchConditionStore().getSearchInputValue().vrSrchHexGb || ""),
    vrSrchSerialId: String(useSearchConditionStore().getSearchInputValue().vrSrchSerialId || ""),
    S_POOL_CODE: useSelectedDataStore().getSelectedModalData()["logistics-container-code"]?.CODE,
    S_POOL_RITEM_ID: useSelectedDataStore().getSelectedModalData()["logistics-container-code"]?.NAME,
    S_POOL_ID: useSelectedDataStore().getSelectedModalData()["logistics-container-code"]?.ID,
    S_POOL_NM: useSelectedDataStore().getSelectedModalData()["logistics-container-code"]?.RITEM_ID,
    vrSrchCustLotNo: String(useSearchConditionStore().getSearchInputValue().vrSrchCustLotNo || ""),
    vrSrchOrdId: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdId || ""),
    selectIds: String(selectedItems.value.length),
  };

  for (let i = 0; selectedItems.value.length > i; i++) {
    bodyData["ST_GUBUN" + [i]] = "UPDATE";
    bodyData["ORD_ID" + [i]] = String(selectedItems.value[i].ORD_ID || "");
    bodyData["ORD_SEQ" + [i]] = String(selectedItems.value[i].ORD_SEQ || "");
  }

  const res = await ApiService.postApi("/WMSOP030/saveWorkOrder_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.errCnt === 0) {
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.work-order-detail-list"),
  };
  gridOptions.api?.exportDataAsExcel(excelExportParams);
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>

<style lang="scss" scoped>
.header-title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 20px;
}
.wmsop030t {
  padding: 20px 10px 10px 10px;
  height: 100%;
}
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: 100%;
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
</style>
