<!--*------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG732E3pop1.ts
 *  Description:    출고주문분석 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------*/-->
<template>
  <div id="WMSTG732E3pop1" class="WMSTG732E3pop1">
    <div class="container">
      <!--search 영역-->
      <search-container :unique-key="compoentId" :data="WMSTG732E3pop1_SEARCH_INPUT" :use-setting="false" :SEARCH_INPUT="WMSTG732E3pop1_SEARCH_INPUT" :un-used-refresh-button="true">
        <template v-slot:search_input_slot>
          <template v-for="(props, i) in WMSTG732E3pop1_SEARCH_INPUT" :key="i">
            <search-container-input :data="props" :columnDefs="WMSTG732E3pop1_SEARCH_MODAL_COLUMN_DEF[props.title]" :modalData="WMSTG732E3pop1_SEARCH_MODAL_INFO[props.title]" :pageInfo="null" />
          </template>
        </template>
      </search-container>
      <!--control영역-->
      <div class="control-button-container">
        <control-button v-for="btnData in WMSTG732E3pop1_CONTROL_BTN" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
      </div>
      <!--grid영역-->
      <div class="grid-container">
        <div class="grid-header">{{ $t("grid-title.forwarding-order-analysis") }}</div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" :modules="[ExcelExportModule]" />
      </div>
      <div class="buttons">
        <button class="close" @click="() => closeEvent()">{{ t("button-name.close") }}</button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { SearchContainerInput } from "@/components/input";
import { SearchContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useSearchConditionStore, useSelectedDataStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule, ExcelExportParams, GridApi, GridOptions } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { onBeforeMount, onMounted, onUnmounted } from "vue";
import { useI18n } from "vue-i18n";
import { WMSTG732E3pop1_GRID_COLUMN_DEFS, WMSTG732E3pop1_SEARCH_MODAL_COLUMN_DEF } from "./column-defs";
import { WMSTG732E3pop1_CONTROL_BTN, WMSTG732E3pop1_SEARCH_INPUT, WMSTG732E3pop1_SEARCH_MODAL_INFO } from "./input.meta";

const { data, closeEvent } = defineProps<{
  closeEvent: any;
  data: { owner: any; date: string[] };
}>();
const compoentId = "WMSTG732E3pop1";
const { t } = useI18n();
let gridApi: GridApi | null = null;
const eventBus = useEventBusStore();
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

onMounted(() => {
  window.onkeydown = (e: any) => {
    if (e.key == "Escape") {
      closeEvent();
    }
  };

  if (data.owner) {
    useSelectedDataStore().selectedModalHandler({ "WMSTG732E3pop1-owner": data.owner });
  }
  useSearchConditionStore().changeSearchInputValue("vrSrchReqDtFrom", data.date[0]);
  useSearchConditionStore().changeSearchInputValue("vrSrchReqDtTo", data.date[1]);

  eventBus.on(`search-data-${compoentId}`, searchGridData);
});

onUnmounted(() => {
  eventBus.off(`search-data-${compoentId}`, searchGridData);
});

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi?.setRowData([]);
    const searchConditions = WMSTG732E3pop1_SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());

    const gridData = await ApiService.postApi("/WMSTG732/listE3_rn.action", {}, apiParams);
    if (gridData.status) {
      gridApi?.setRowData(gridData.result.list);
    }
    useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  }
}

const onGridReady = (params: any) => {
  gridApi = params.api;
  gridApi?.setRowData([]);
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: WMSTG732E3pop1_GRID_COLUMN_DEFS,
  suppressRowVirtualisation: true,
  onGridReady: onGridReady,
  pagination: false,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

/**
 * 엑셀
 */
function excelExport() {
  let columnKeys = [] as string[];

  columnKeys = GridUtils.getExportColumns(WMSTG732E3pop1_GRID_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("grid-title.forwarding-order-analysis"),
    columnKeys,
  };

  gridApi?.exportDataAsExcel(excelExportParams);
}
</script>

<style lang="scss" scoped>
#WMSTG732E3pop1 {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 1300px;
    border-radius: 15px;
    background-color: white;
    padding: 28px 13px 20px 13px;
  }

  .control-button-container {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 15px 0;
  }

  .grid {
    &-container {
      width: 100%;
      position: relative;
    }

    &-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

    width: 100%;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 0px;
      width: 100%;
    }
    .close {
      @include btnColorStyle($font-secondary);
    }
  }
}

.ag-grid-size {
  height: 500px;
}
</style>
