<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS120/page.vue
 *  Description:    기준정보/도크장정보관리 화면
 *  Authors:        H. N. Ko
 *  Update History:
 *                  2024.08. : Created by  H. N. Ko
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <commonGridInfoForm
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :onCellClicked="onCellClicked"
      :info-meta="INFO_META"
      :infoTripleSearchChanged="infoModalSearchCallBack"
      :infoControlBtn="INFO_CONTROL_BTN"
      :infoTextChanged="infoCompChangedCallBack"
      :infoSelectChanged="infoCompSelectedCallBack">
      <template v-slot:grid-button>
        <control-container>
          <div v-for="btnData in controlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
      <template v-slot:info-button>
        <control-container>
          <div v-for="btnData in infoControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
    </commonGridInfoForm>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS120" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import commonGridInfoForm from "@/page/common-page/common-grid-info-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, INFO_CONTROL_BTN, INFO_INPUT, INFO_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const infoControlBtnRef = ref(INFO_CONTROL_BTN);
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const { t } = useI18n();

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
  "enter-excel": excelImport,
};

const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
});

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "text"
 */
function infoCompChangedCallBack(e: Event, key: string, overapCheckVal?: boolean) {
  const target = e.target as HTMLInputElement;
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;
  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  rowNode.setDataValue(key, target.value);
}

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "select"
 */
function infoCompSelectedCallBack(e: Event, key: string, option: any) {
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  rowNode.setDataValue(key, option.CODE_CD);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "triple search (modal)"
 */
function infoModalSearchCallBack(key: string, value: any) {
  if (!value) return;

  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  rowNode.setDataValue(key, value);
}

/**
 * 신규
 */
let tempCount = 0;

function addRowData() {
  const no = `temp${tempCount}`;

  const newRowData = [{ no: no, DOCK_NM: "", DOCK_CD: "", SEQ: "", IN_TON: "", REMARK: "", CAR_CD: "", WH_ID: "", LC_ID: "", DOCK_NO: "", IN_CAR_CNT: "", CAR_ID: "", ST_GUBUN: "INSERT" }];
  const addNewIndex = (Number(gridApi.value?.paginationGetCurrentPage()) + 1) * Number(gridApi.value?.paginationGetPageSize()) - Number(gridApi.value?.paginationGetPageSize());

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });
  tempCount++;
  gridApi.value?.getRowNode(String(no))?.setSelected(true);
}

async function fn_common(selectedRows: any, type: "DELETE" | "SAVE") {
  gridApi.value?.stopEditing();
  selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  let st_gubun = null;
  try {
    let requestURL = "/rest/WMSMS120/save.action";
    let bodyData: any = { _fullpath: "" };

    if (!selectedRows[0].ST_GUBUN) {
      if (type == "DELETE") {
        st_gubun = type;
      } else {
        st_gubun = "UPDATE";
      }
    } else {
      st_gubun = selectedRows[0].ST_GUBUN;
    }

    for (var i = 0; i < selectedRows.length; i++) {
      bodyData["selectIds"] = selectedRows.length;
      bodyData["ST_GUBUN" + i] = st_gubun;
      setBodyData(bodyData, selectedRows[i], i);
    }

    const res = await ApiService.postApi(requestURL, bodyData, bodyData);
    if (res.status) {
      if (res.result.errCnt === 0) {
        useToast().success(res.result.MSG);
        searchGridData();
        gridApi.value?.deselectAll();
      } else {
        useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

function setBodyData(bodyData: any, selectedRow: any, idx: number) {
  bodyData["DOCK_NM" + idx] = selectedRow.DOCK_NM;
  bodyData["DOCK_CD" + idx] = selectedRow.DOCK_CD;
  bodyData["SEQ" + idx] = selectedRow.SEQ;
  bodyData["IN_TON" + idx] = selectedRow.IN_TON;
  bodyData["REMARK" + idx] = selectedRow.REMARK;
  bodyData["CAR_ID" + idx] = selectedRow.CAR_CD;
  bodyData["WH_ID" + idx] = selectedRow.WH_ID;
  bodyData["LC_ID" + idx] = selectedRow.LC_ID;
  bodyData["DOCK_NO" + idx] = selectedRow.DOCK_NO;
  bodyData["IN_CAR_CNT" + idx] = selectedRow.IN_CAR_CNT;
}

/**
 * 저장
 */
async function saveRowData() {
  gridApi.value?.stopEditing();

  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const validationResult = UtilService.inputRequiredValidation(INFO_INPUT, selectedRows);
  if (!validationResult?.status) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${validationResult?.toastKey}`) }));
  }
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  fn_common(selectedRows, "SAVE");
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
  fn_common(selectedRows, "DELETE");
}

/**
 * 엑셀 입력
 */
function excelImport() {
  const data = {
    modalTitle: t("modal-title.warehouse-information-enter-excel"),
    saveUrl: "/WMSMS120/uploadWhInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS120&file_name=execlTemp_warehouse_01.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * "엑셀" 버튼 클릭 이벤트 콜백
 */
function excelExport() {
  // 편집 상태 종료
  gridApi.value?.stopEditing();

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.warehouse-information-management"),
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSMS120/list.action", apiParams, bodyData.value, false);
}

/**
 * 그리드 셀 클릭 이벤트
 * - 선택 행의 정보를 info 영역에 맵핑
 */
function onCellClicked(e: CellClickedEvent) {
  useSelectedDataStore().selectedInfoHandler(e.data, true);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
