<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS020/grid.vue
 *  Description:    시스템관리/권한관리 메인 Form화면의 권한관리목록 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-filter" @click="() => checkClientData()">
      <div :class="[{ disabled: !useSelectedDataStore().getSelectedModalData().hasOwnProperty('customer') }, 'grid-filter-container']">
        <search-container-input v-for="(props, i) in GRID_FILTER_INPUT" :key="i" :data="props" :columnDefs="[]" :modalData="[]" :pageInfo="INFO" :modalType="null" />
      </div>
    </div>
    <control-container>
      <div v-for="btnData in controlBtn.value" :key="btnData.title">
        <control-button
          v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && Object.keys(selectedItems.value).length > 0"
          :data="btnData"
          :saveRowData="saveRowData"
          :deleteRowData="deleteRowData" />
      </div>
    </control-container>
    <div class="grid-header">{{ t("grid-title.authority-management-list") }}</div>
    <ag-grid-vue
      class="ag-theme-alpine ag-grid-size"
      :gridOptions="gridOptions"
      :modules="[ExcelExportModule]"
      :context="{ ...AUTHORITY_MANAGEMENT_CHECKBOX_INFO, ...AUTHORITY_MANAGEMENT_SELECT_BOX_INFO }" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { SearchContainerInput } from "@/components/input";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule, GridApi, IServerSideGetRowsParams } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { AUTHORITY_MANAGEMENT_COLUMN_DEFS } from "./column-defs";
import { AUTHORITY_MANAGEMENT_CHECKBOX_INFO, AUTHORITY_MANAGEMENT_SELECT_BOX_INFO, GRID_FILTER_INPUT, INFO, MANAGEMENT_AND_PROGRAM_CONTROL_BTN } from "./input";

// Variable Definitions
const { currentProgramMenuListGridData, currentAuthorityListGridData } = defineProps<{
  currentProgramMenuListGridData: any;
  currentAuthorityListGridData: any;
}>();

const pagingOptions = UtilService.getGridPagingOptions("TMSYS010_2");
const pagingSize = ref<number>(pagingOptions![0]);
const emits = defineEmits(["onPageSizeChanged"]);
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const totalRows = ref<number>(0);
const selectedItems = reactive({ value: {} as any });
const inactive = ref<boolean>(false);
let gridApi: GridApi | null = null;
const controlBtn = reactive({ value: MANAGEMENT_AND_PROGRAM_CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("TMSYS", "TMSYS020", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t(`grid-column-name.${column.headerKey}`);
    }

    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        if (Object.hasOwn(column.children[i], "headerKey")) {
          column.children[i].headerName = t("grid-column-name." + column.children[i].headerKey);
        }
      }
    }
  });

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// 화주 재선택시 그리드 초기화
watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
      gridApi?.deselectAll();
      gridApi?.setServerSideDatasource({
        getRows: async (params: IServerSideGetRowsParams) => {
          UtilService.setGridData("server-side", gridApi, null, params);
        },
      });
    }
  }
});

watch(currentAuthorityListGridData, async () => {
  if (!inactive.value) {
    if (Object.keys(currentAuthorityListGridData.value).length > 0) {
      await searchGridData();
    }
  }
});

// 프로그램메뉴목록에서 선택한 값이 변경될때마다 검색
watch(currentProgramMenuListGridData, async () => {
  if (!inactive.value) {
    gridApi?.deselectAll();
    if (Object.keys(currentProgramMenuListGridData.value).length > 0) {
      useSearchConditionStore().changeSearchInputValue("VIEW_MENU_CD", "");
      await searchGridData();

      for (let i = 0; useOptionDataStore().getOptionData().VIEW_MENU_CD.length > i; i++) {
        if (
          currentProgramMenuListGridData.value.BA_CODE_CD === useOptionDataStore().getOptionData().VIEW_MENU_CD[i].code &&
          Object.hasOwn(useOptionDataStore().getOptionData().VIEW_MENU_CD[i], "code")
        ) {
          GRID_FILTER_INPUT[0].optionsAutoSelected = { allowAutoSelected: true, autoSelectedKeyIndex: i };
          useOptionDataStore().setAvailableWatchBySearchCondition(true);
          return;
        } else {
          delete GRID_FILTER_INPUT[0].optionsAutoSelected;
        }
      }
    }
  }
});

// User Function Definitions
function checkClientData() {
  if (!Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "customer")) {
    useCallModalIdStore().setCallModalId("customer");
    return useToast().warning(t("common-toast.is-a-required-entry", { message: t("input-title.customer-owner") }));
  }
}
const onGridReady = (params: any) => {
  gridApi = params.api;
};

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
    lockPosition: true,
  },
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: onGridReady,
  onPaginationChanged: onPaginationChanged,
  onRowSelected: onSelectionChanged,
  columnDefs: AUTHORITY_MANAGEMENT_COLUMN_DEFS,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  suppressRowClickSelection: true,
  suppressClickEdit: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  enableRangeSelection: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    if (selectedItems.value.length > 0) {
      useSelectedDataStore().changeSelectedDataList(selectedItems.value, "management");
    }
  },
};

function onCellFocused() {
  if (selectedItems.value.length > 0) {
    useSelectedDataStore().changeSelectedDataList(selectedItems.value, "management");
  }
}

function onCellDoubleClicked() {
  if (selectedItems.value.length > 0) {
    useSelectedDataStore().changeSelectedDataList(selectedItems.value, "management");
  }
}

async function searchGridData() {
  gridApi?.deselectAll();
  const apiParams: any = {
    _fullpath: "",
    vrAuthCd: currentAuthorityListGridData.value.AUTH_CD,
    BA_CODE_CD: currentProgramMenuListGridData.value.BA_CODE_CD || "",
    VIEW_MENU_CD: useSearchConditionStore().getSearchInputValue().VIEW_MENU_CD || "",
  };

  setTimeout(() => {
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const res = await ApiService.postApi("/TMSYS020/listMenuBtn_rn.action", apiParams, bodyData.value, false);

        if (res.status) {
          if (res.result.list.length > 0) {
            res.result.list.forEach((item: any) => {
              item.ST_GUBUN = item.VIEW_SEQ ? "UPDATE" : "INSERT";
              item.RNUM = String(item.RNUM) + "management";
              item.gridType = "management";
            });
            UtilService.setGridData("server-side", gridApi, { gridDataArray: res.result.list, totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }, 100);
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(selectedItems.value, "management");
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(selectedItems.value, "management");
  }
}

// 저장
async function saveRowData() {
  selectedItems.value = gridApi?.getSelectedRows();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  // 프로그램메뉴의 부모 로우의 순서 값이 있어야지만 저장이 가능
  if (!currentProgramMenuListGridData.value.VIEW_SEQ) {
    return useToast().warning(t("common-toast.no-top-menu-order-number"));
  }

  // column require validation
  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "",
      selectIds: String(selectedItems.value.length),
      BA_CODE_CD: useSearchConditionStore().getSearchInputValue().BA_CODE_CD || "",
      VIEW_MENU_CD: useSearchConditionStore().getSearchInputValue().VIEW_MENU_CD || "",
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      data["ST_GUBUN" + [i]] = selectedItems.value[i].ST_GUBUN || "";

      data["PROGRAM_ID" + [i]] = selectedItems.value[i].PROGRAM_ID || "";
      data["PROGRAM_NM" + [i]] = selectedItems.value[i].PROGRAM_NM || "";
      data["TOP_MENU_CD" + [i]] = currentProgramMenuListGridData.value.BA_CODE_CD || "";
      data["AUTH_CD" + [i]] = currentAuthorityListGridData.value.AUTH_CD || "";
      data["VIEW_MENU_CD" + [i]] = selectedItems.value[i].VIEW_MENU_CD || "";
      data["VIEW_SEQ" + [i]] = selectedItems.value[i].VIEW_SEQ || "";
      data["INS_AUTH" + [i]] = selectedItems.value[i].INS_AUTH || "";
      data["DEL_AUTH" + [i]] = selectedItems.value[i].DEL_AUTH || "";
      data["SER_AUTH" + [i]] = selectedItems.value[i].SER_AUTH || "";
      data["PRT_AUTH" + [i]] = selectedItems.value[i].PRT_AUTH || "";
      data["EXC_AUTH" + [i]] = selectedItems.value[i].EXC_AUTH || "";
    }
    const result = await ApiService.postApi("/TMSYS020/saveMenuBtn_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      gridApi?.deselectAll();
      await searchGridData();
    }
  } catch (err) {
    return console.log(err);
  }
}

// 삭제
async function deleteRowData() {
  selectedItems.value = gridApi?.getSelectedRows();
  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "",
      BA_CODE_CD: useSearchConditionStore().getSearchInputValue().BA_CODE_CD || "",
      VIEW_MENU_CD: useSearchConditionStore().getSearchInputValue().VIEW_MENU_CD || "",
      selectIds: String(selectedItems.value.length),
      D_selectIds: String(selectedItems.value.length),
      I_selectIds: "",
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      data["PROGRAM_ID" + [i]] = selectedItems.value[i].PROGRAM_ID || "";
      data["PROGRAM_NM" + [i]] = selectedItems.value[i].PROGRAM_NM || "";
      data["TOP_MENU_CD" + [i]] = selectedItems.value[i].TOP_MENU_CD || "";
      data["AUTH_CD" + [i]] = selectedItems.value[i].AUTH_CD || "";
      data["VIEW_MENU_CD" + [i]] = selectedItems.value[i].VIEW_MENU_CD || "";
      data["ST_GUBUN" + [i]] = "DELETE";
    }

    const result = await ApiService.postApi("/TMSYS020/saveMenuBtn_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      gridApi?.deselectAll();
      await searchGridData();
    }
  } catch (err) {
    return console.log(err);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 78px);
}
.grid {
  &-container {
    width: 49%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
.grid-filter {
  position: absolute;
  top: 2px;
  left: 10px;
  gap: 10px;
  width: 70%;
}
.grid-filter-container {
  display: flex;
  color: #727272;
  font-size: 15px;
  font-weight: bold;
}
</style>
