<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS020/grid.vue
 *  Description:    시스템관리/권한관리 Form화면의 권한목록 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <control-container>
      <div v-for="btnData in controlBtn.value" :key="btnData.title">
        <control-button
          v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && Object.keys(selectedItems.value).length > 0"
          :data="btnData"
          :saveRowData="saveRowData"
          :deleteRowData="deleteRowData" />
        <control-button
          v-else-if="btnData['display'] === 'Y' && btnData.title === 'new' && useSelectedDataStore().getSelectedModalData().hasOwnProperty('customer')"
          :data="btnData"
          :addRowData="addRowData" />
      </div>
    </control-container>
    <div class="grid-header">{{ t("grid-title.authority-list") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" @cellClicked="cellClicked" :modules="[ExcelExportModule]" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule, GridApi, IServerSideGetRowsParams } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { AUTHORITY_LIST_COLUMN_DEFS } from "./column-defs";
import { AUTHORITY_LIST_CONTROL_BTN, SEARCH_INPUT } from "./input";

// Variable Definitions
const { currentAuthorityListGridData } = defineProps<{
  currentAuthorityListGridData: any;
}>();
const emits = defineEmits<{
  changeCurrentAuthorityListGridData: [value: any[]];
  onPageSizeChanged: [value: number];
}>();
const pagingOptions = UtilService.getGridPagingOptions("TMSYS010_1");
const pagingSize = ref<number>(pagingOptions![0]);
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const selectedItems = reactive({ value: [] as any });
const totalRows = ref<number>(0);
const inactive = ref<boolean>(false);
let gridApi: GridApi | null = null;
let tempCount = 0;
const controlBtn = reactive({ value: AUTHORITY_LIST_CONTROL_BTN as any });
const page = reactive({ value: {} as any });

onMounted(() => {
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("TMSYS", "TMSYS020", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t(`grid-column-name.${column.headerKey}`);
    }
  });
  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// 검색결과 그리에 반영시키기
watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    useSearchConditionStore().changeSearchInputValue("BA_CODE_CD", "");
    await searchGridData();
  }
});

// User Function Definitions
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const onGridReady = (params: any) => {
  gridApi = params.api;
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
    lockPosition: true,
  },
  headerHeight: 25,
  rowHeight: 25,
  onGridReady: onGridReady,
  onPaginationChanged: onPaginationChanged,
  onRowSelected: onSelectionChanged,
  columnDefs: AUTHORITY_LIST_COLUMN_DEFS,
  rowSelection: "single",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  suppressRowClickSelection: true,
  suppressClickEdit: true,
  rowClassRules: {
    "ag-row-selected": function (params: any) {
      if (Object.hasOwn(currentAuthorityListGridData.value, "RNUM") && params.data?.RNUM === currentAuthorityListGridData.value?.RNUM) {
        return true;
      } else {
        return false;
      }
    },
  },
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  enableRangeSelection: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    if (selectedItems.value.length > 0) {
      useSelectedDataStore().changeSelectedDataList(selectedItems.value, "authority");
    }
  },
};

function onCellFocused() {
  if (selectedItems.value.length > 0) {
    useSelectedDataStore().changeSelectedDataList(selectedItems.value, "authority");
  }
}

function onCellDoubleClicked() {
  if (selectedItems.value.length > 0) {
    useSelectedDataStore().changeSelectedDataList(selectedItems.value, "authority");
  }
}

// 검색
async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "customer") || useSearchConditionStore().getResetValue()) {
      currentAuthorityListGridData.value = {};
      gridApi?.deselectAll();
      const searchConditions = SEARCH_INPUT;
      let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
      apiParams._fullpath = "";

      setTimeout(() => {
        gridApi?.setServerSideDatasource({
          getRows: async (params: IServerSideGetRowsParams) => {
            if (useSearchConditionStore().getResetValue()) {
              useOptionDataStore().changeOptionData("cmbAuthCd", []);
              UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
              UtilService.setGridData("server-side", gridApi, null, params);
              return;
            }
            setPagingBodyData(params);
            const gridData = await ApiService.postApi("/TMSYS020/listAuth_rn.action", apiParams, bodyData.value, false);
            if (gridData.status) {
              if (gridData.result.list.length > 0) {
                gridData.result.list.forEach((row: any) => {
                  row.RNUM = String(row.RNUM) + "authority";
                  row.gridType = "authority";
                });
                UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
              } else {
                UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
              }
            } else {
              UtilService.setGridData("server-side", gridApi, null, params);
            }
            useSearchConditionStore().setAvailableSearchBySearchCondition(false);
          },
        });
      }, 100);
    } else {
      useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.customer") }));
      useCallModalIdStore().setCallModalId("customer");
      useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      return;
    }
  }
}
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "authority");
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
    emits("changeCurrentAuthorityListGridData", Object.assign({}, gridApi?.getSelectedRows()[gridApi?.getSelectedRows().length - 1]));
    useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "authority");
  }
}

const cellClicked = (e: any) => {
  emits("changeCurrentAuthorityListGridData", e.data);
  if (!e.node.selected) {
    gridApi?.redrawRows();
  }
  setTimeout(() => {
    useSelectedDataStore().changeSelectedDataList(e.api.getSelectedRows(), "authority");
  });
};

// 신규 빈 행 추가
function addRowData() {
  const RNUM = `temp${tempCount}`;

  const newRowData = [{ RNUM: RNUM }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi?.paginationGetCurrentPage()) + 1) * Number(gridApi?.paginationGetPageSize()) - Number(gridApi?.paginationGetPageSize());

  gridApi?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;

  gridApi?.getRowNode(String(RNUM))?.setSelected(true);
  useSelectedDataStore().selectedHandler(gridApi?.getRowNode(String(RNUM))?.data);
}

//삭제
async function deleteRowData() {
  selectedItems.value = gridApi?.getSelectedRows();
  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "시스템관리 &gt; 기준코드",
      CODE_TYPE_CD: selectedItems.value[0].CODE_TYPE_CD || "",
      CODE_TYPE_NM: selectedItems.value[0].CODE_TYPE_NM || "",
      USER_GB: selectedItems.value[0].USER_GB || "",
      selectIds: String(selectedItems.value.length),
      I_selectIds: "",
      D_selectIds: String(selectedItems.value.length),
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      data["ST_GUBUN" + [i]] = "DELETE";
      data["CODE_TYPE_CD" + [i]] = selectedItems.value[i].CODE_TYPE_CD;
    }

    const result = await ApiService.postApi("/TMSYS010/saveCode_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    return console.log(err);
  }
}

// 저장
async function saveRowData() {
  selectedItems.value = gridApi?.getSelectedRows();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    gridApi?.deselectAll();

    let data: any = {
      _fullpath: "",
      txtCustCd: useSelectedDataStore().getSelectedModalData().customer.CODE,
      txtCustNm: useSelectedDataStore().getSelectedModalData().customer.NAME,
      hdnCustCd: useSelectedDataStore().getSelectedModalData().customer.ID,
      txtAuthNm: useSearchConditionStore().getSearchInputValue().txtAuthNm || "",
      selectIds: String(selectedItems.value.length),
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      data["CLIENT_CD" + [i]] = selectedItems.value[i].CLIENT_CD || "";
      data["AUTH_CD" + [i]] = selectedItems.value[i].AUTH_CD || "";
      data["AUTH_NM" + [i]] = selectedItems.value[i].AUTH_NM || "";
      if (String(selectedItems.value[i].RNUM).includes("temp")) {
        data["ST_GUBUN" + [i]] = "INSERT";
        data["CLIENT_CD" + [i]] = useSelectedDataStore().getSelectedModalData().customer.ID;
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }
    }

    const result = await ApiService.postApi("/TMSYS020/saveAuth_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      gridApi?.deselectAll();
    }
  } catch (err) {
    return console.log(err);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 78px);
}
.grid {
  &-container {
    width: 100%;
    height: 50%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
