<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS020/form.vue
 *  Description:    시스템관리/권한관리  메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container" :style="`height:${formHeight}`">
    <div class="right-grid">
      <authority-list-grid @changeCurrentAuthorityListGridData="changeCurrentAuthorityListGridData" :currentAuthorityListGridData="currentAuthorityListGridData" />
      <program-menu-list-grid
        @changeCurrentProgramMenuListGridData="changeCurrentProgramMenuListGridData"
        :currentAuthorityListGridData="currentAuthorityListGridData"
        :currentProgramMenuListGridData="currentProgramMenuListGridData" />
    </div>
    <authority-management-list-grid :currentAuthorityListGridData="currentAuthorityListGridData" :currentProgramMenuListGridData="currentProgramMenuListGridData" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, watch, onMounted, onActivated, onDeactivated, reactive } from "vue";

import { useFormHeightStore } from "@/store";

import authorityListGrid from "./authority-list-grid.vue";
import programMenuListGrid from "./program-menu-list-grid.vue";
import authorityManagementListGrid from "./authority-management-list-grid.vue";

// Variable Definitions
const FormHeightStore = useFormHeightStore();
const inactive = ref<boolean>(false);
const formHeight = ref("" as string); // form영역의 height값
const currentAuthorityListGridData = reactive({ value: {} } as { value: any });
const currentProgramMenuListGridData = reactive({ value: {} } as { value: any });

// Framework Function Definitions
onMounted(() => {
  formHeight.value = FormHeightStore.getFormHeight();
});

onActivated(() => {
  inactive.value = false;
  formHeight.value = FormHeightStore.getFormHeight();
});
onDeactivated(() => {
  inactive.value = true;
});

watch(FormHeightStore._searchCompHeight, () => {
  if (!inactive.value) {
    formHeight.value = FormHeightStore.getFormHeight();
  }
});

// User Function Definitions
function changeCurrentAuthorityListGridData(data: any) {
  currentAuthorityListGridData.value = data;
}

function changeCurrentProgramMenuListGridData(data: any) {
  currentProgramMenuListGridData.value = data;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  width: 100%;
}
.right-grid {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>
