<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS020/grid.vue
 *  Description:    시스템관리/권한관리 메인 Form화면의 프로그램 메뉴 목록 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <control-container>
      <div v-for="btnData in controlBtn.value" :key="btnData.title">
        <control-button
          v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && selectedItems.value.length > 0"
          :data="btnData"
          :saveRowData="saveRowData"
          :deleteRowData="deleteRowData" />
      </div>
    </control-container>
    <div class="grid-header">{{ t("grid-title.program-menu-list") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" :modules="[ExcelExportModule]" @cellClicked="cellClicked" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useConfirmStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule, GridApi, IServerSideGetRowsParams } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { PROGRAM_MENU_COLUMN_DEFS } from "./column-defs";
import { MANAGEMENT_AND_PROGRAM_CONTROL_BTN } from "./input";

// Variable Definitions
const { currentAuthorityListGridData, currentProgramMenuListGridData } = defineProps<{
  currentAuthorityListGridData: any;
  currentProgramMenuListGridData: any;
}>();
const emits = defineEmits<{
  changeCurrentProgramMenuListGridData: [value: any[]];
  onPageSizeChanged: [value: number];
}>();
const pagingOptions = UtilService.getGridPagingOptions("TMSYS010_2");
const pagingSize = ref<number>(pagingOptions![0]);
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const totalRows = ref<number>(0);
const selectedItems = reactive({ value: {} as any });
const inactive = ref<boolean>(false);
let gridApi: GridApi | null = null;
const controlBtn = reactive({ value: MANAGEMENT_AND_PROGRAM_CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("TMSYS", "TMSYS020", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t(`grid-column-name.${column.headerKey}`);
    }
  });

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// 검색결과 그리에 반영시키기
watch(currentAuthorityListGridData, async () => {
  if (!inactive.value) {
    if (Object.keys(currentAuthorityListGridData.value).length > 0) {
      await searchGridData();
    }
  }
});

// 화주 재선택시 그리드 초기화
watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
      gridApi?.deselectAll();
      gridApi?.setServerSideDatasource({
        getRows: async (params: IServerSideGetRowsParams) => {
          UtilService.setGridData("server-side", gridApi, null, params);
        },
      });
    }
  }
});

// User Function Definitions
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const onGridReady = (params: any) => {
  gridApi = params.api;
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
    lockPosition: true,
  },
  headerHeight: 25,
  rowHeight: 25,
  onGridReady: onGridReady,
  onPaginationChanged: onPaginationChanged,
  onRowSelected: onSelectionChanged,
  columnDefs: PROGRAM_MENU_COLUMN_DEFS,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  suppressRowClickSelection: true,
  suppressClickEdit: true,
  rowClassRules: {
    "ag-row-selected": function (params: any) {
      if (Object.hasOwn(currentProgramMenuListGridData.value, "RNUM") && params.data?.RNUM === currentProgramMenuListGridData.value?.RNUM) {
        return true;
      } else {
        return false;
      }
    },
  },
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableRangeSelection: true,
  enableCellEditingOnBackspace: false,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    if (selectedItems.value.length > 0) {
      useSelectedDataStore().changeSelectedDataList(selectedItems.value, "program");
    }
  },
};

function onCellFocused() {
  if (selectedItems.value.length > 0) {
    useSelectedDataStore().changeSelectedDataList(selectedItems.value, "program");
  }
}

function onCellDoubleClicked() {
  if (selectedItems.value.length > 0) {
    useSelectedDataStore().changeSelectedDataList(selectedItems.value, "program");
  }
}

async function searchGridData() {
  currentProgramMenuListGridData.value = {};
  gridApi?.deselectAll();
  const apiParams = { vrAuthCd: currentAuthorityListGridData.value.AUTH_CD };

  setTimeout(() => {
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/TMSYS020/listTopMenu_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            gridData.result.list.forEach((row: any) => {
              row.RNUM = String(row.RNUM) + "program";
              row.gridType = "program";
            });
            UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
      },
    });
  }, 100);
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(selectedItems.value, "program");
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
    emits("changeCurrentProgramMenuListGridData", Object.assign({}, gridApi?.getSelectedRows()[gridApi?.getSelectedRows().length - 1]));
    useSelectedDataStore().changeSelectedDataList(selectedItems.value, "program");
  }
}

function cellClicked(e: any) {
  if (!currentProgramMenuListGridData || currentProgramMenuListGridData.value.RNUM !== e.data.RNUM) {
    emits("changeCurrentProgramMenuListGridData", e.data);
    if (!e.node.selected) {
      gridApi?.redrawRows();
    }
    useSelectedDataStore().changeSelectedDataList(e.api.getSelectedRows(), "program");
  }
}

// 저장
async function saveRowData() {
  selectedItems.value = gridApi?.getSelectedRows();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "",
      selectIds: String(selectedItems.value.length),
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      data["ST_GUBUN" + [i]] = "UPDATE";
      data["BA_CODE_CD" + [i]] = selectedItems.value[i].BA_CODE_CD || "";
      data["BA_CODE_NM" + [i]] = selectedItems.value[i].BA_CODE_NM || "";
      data["AUTH_CD" + [i]] = currentAuthorityListGridData.value.AUTH_CD || "";
      data["VIEW_SEQ" + [i]] = selectedItems.value[i].VIEW_SEQ || "";
    }
    const result = await ApiService.postApi("/TMSYS020/saveTopMenu_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      gridApi?.deselectAll();
      await searchGridData();
    }
  } catch (err) {
    return console.log(err);
  }
}

// 삭제
async function deleteRowData() {
  selectedItems.value = gridApi?.getSelectedRows();
  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "",
      selectIds: String(selectedItems.value.length),
      D_selectIds: String(selectedItems.value.length),
      I_selectIds: "",
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      data["ST_GUBUN" + [i]] = "DELETE";
      data["BA_CODE_CD" + [i]] = selectedItems.value[i].BA_CODE_CD;
      data["AUTH_CD" + [i]] = selectedItems.value[i].AUTH_CD;
    }

    const result = await ApiService.postApi("/TMSYS020/saveTopMenu_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      gridApi?.deselectAll();
      await searchGridData();
    }
  } catch (err) {
    return console.log(err);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 78px);
}
.grid {
  &-container {
    width: 100%;
    height: 50%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
