<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS020/search.vue
 *  Description:    시스템관리/권한관리 상단의 검색 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <search-container
      @setIsMore="setIsMore"
      :isMore="isMore"
      :data="SEARCH_INPUT"
      :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)"
      :use-setting="false"
      :ser-auth="page.value['SER_AUTH'] || 'Y'">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in SEARCH_INPUT" :key="i">
          <search-container-input
            :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
            :data="props"
            :columnDefs="MODAL_COLUMN_DEFS[props.title]"
            :modalData="SEARCH_MODAL_INFO[props.title]"
            :pageInfo="INFO"
            :modalType="null" />
        </template>
      </template>
    </search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { SearchContainerInput } from "@/components/input";
import { SearchContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useFormHeightStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { onMounted, reactive, ref, watch } from "vue";
import { MODAL_COLUMN_DEFS } from "./column-defs";
import { INFO, SEARCH_INPUT, SEARCH_MODAL_INFO } from "./input";

// Variable Definitions
const searchComponentRef = ref(null as null | HTMLDivElement); // .search-area 돔 정보
const selectedModalDataBefore = reactive({ value: {} as any });
let isMore = ref(false);
const page = reactive({ value: {} as any });
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT) as number;

// Framework Function Definitions
onMounted(() => {
  if (searchComponentRef.value) {
    useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value.clientHeight) - 41);
  }
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("TMSYS", "TMSYS020", menusStore().getMenus(), null);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useSelectedDataStore()._selectedModalData, () => {
  if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "customer")) {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  }
});

// 화주, 타입 검색 조건에 따라 상세타입 select box options 값이 달라진다.
watch(useSearchConditionStore(), () => {
  const selectedModalDataAfter = useSelectedDataStore().getSelectedModalData()["customer"];

  if (selectedModalDataAfter && !UtilService.compareObjectKeyValue(selectedModalDataAfter, selectedModalDataBefore.value)) {
    selectedModalDataBefore.value = selectedModalDataAfter;
    getSelectboxOptionsByOtherSearchCondition(selectedModalDataBefore.value);
    selectedModalDataBefore.value = {};
  }
});

// User Function Definitions
async function getSelectboxOptionsByOtherSearchCondition(e: any) {
  const bodyData = {
    srchSubCode2: e.ID,
  };

  const res = await ApiService.postApi("/TMSYS020/selectAuthBox_rn.action", {}, bodyData);
  if (res.status) {
    useOptionDataStore().setOptionData({ cmbAuthCd: res.result.selectBoxInfos.LIST });

    if (res.result.selectBoxInfos.LIST.length === 0) {
      SEARCH_INPUT[1].disabled = "disabled";
    } else {
      delete SEARCH_INPUT[1].disabled;
    }
  }
}

function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    if (searchComponentRef.value) {
      useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value.clientHeight) - 41);
    }
  }, 100);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
