<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST051_4/page.vue
 *  Description:    재고관리/일별재고-월별재고내역
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData">
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->

<script lang="ts">
export default { name: "WMSST051_4" };
</script>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/stock/WMSST051_4/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const { t } = useI18n();
const eventBus = useEventBusStore();
const myPageId = ref<string>();
const selectedItems = reactive({ value: [] as any });
const SelectedDataStore = useSelectedDataStore();
const SearchConditionStore = useSearchConditionStore();
const gridHeaderTitle = computed(() => {
  return t(`grid-title.stock-detail-list-by-daily`);
});
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const gridControlBtnRef = ref(CONTROL_BTN);
const OptionDataStore = useOptionDataStore();
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res2 = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, UtilService.getOptionApiData("WMSST051_rn"));
  if (res2.status) {
    OptionDataStore.setOptionData(res2.result.selectBoxInfos);
  }
  const res = await ApiService.postApi("/WINUS/WMSMS090_rn.action", {}, UtilService.getOptionApiData("WMSMS090_rn"));
  if (res.status) {
    const ITEMGRP_OPTIONS_IN_SEARCH = Array.from(new Set(res.result.selectBoxInfos.ITEMGRP));
    const mergeOptionsData = { ...res.result.selectBoxInfos, ...{ ITEMGRP_IN_SEARCH: ITEMGRP_OPTIONS_IN_SEARCH } };
    OptionDataStore.setOptionData(mergeOptionsData);
  }
});

onMounted(() => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

//엑셀 export
function excelExport() {
  let columnKeys = [] as string[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.monthly-details-inventory-stock"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//#endregion

//#region ::  Grid Event CallBack Definitions

/**
 * 그리드 조회 parameter 수정
 * @param apiParams 그리드 조회 parameter
 */
function onApiParamsChanged(apiParams: any) {
  if (SearchConditionStore.getAvailableSearchBySearchCondition()) {
    const searchConditions = SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
    apiParams.LC_ID = UtilService.getCurrentLocation();
    apiParams._fullpath = "재고관리 &gt; 일별재고";

    /**
     * select-box 옵션에따라 다른 종류의 search modal이 띄어지는데, input value의 key값이 동일해서, 계속 첫번째 option의 값을 가지고 apiParams에 넣게됨.
     * UtilService.getGridParams 에서 예외처리 하기가 까다로워 이런 경우의 페이지일 경우 따로 처리.
     */
    let modalDataType = "";
    const vrSrchItemType4 = useSearchConditionStore().getSearchInputValue()["vrSrchItemType4"];
    if (vrSrchItemType4 === "G") {
      modalDataType = "product";
      apiParams.vrSrchItemCd4 = !useSelectedDataStore().getSelectedModalData()[modalDataType] ? "" : useSelectedDataStore().getSelectedModalData()[modalDataType].ITEM_CODE;
      apiParams.vrSrchItemNm4 = !useSelectedDataStore().getSelectedModalData()[modalDataType] ? "" : useSelectedDataStore().getSelectedModalData()[modalDataType].ITEM_KOR_NM;
      apiParams.vrSrchItemId4 = !useSelectedDataStore().getSelectedModalData()[modalDataType] ? "" : useSelectedDataStore().getSelectedModalData()[modalDataType].RITEM_ID;
    } else if (vrSrchItemType4 === "P") {
      modalDataType = "logistics-container";
      apiParams.vrSrchItemCd4 = useSelectedDataStore().getSelectedModalData()[modalDataType].POOL_CODE;
      apiParams.vrSrchItemNm4 = useSelectedDataStore().getSelectedModalData()[modalDataType].POOL_NM;
      apiParams.vrSrchItemId4 = useSelectedDataStore().getSelectedModalData()[modalDataType].POOL_ID;
    }
  }

  return apiParams;
}

/**
 * 데이터를 서버에서 수신해서 grid에 전달
 * @param apiParams api호츨을 위한 parameter
 * @param bodyData page등 데이터
 */
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST051/listMn_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
