<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP021/page.vue
 *  Description:    원부자재(부품/용기) 입고관리 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.06. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header>
        <div class="search-control-container">
          <control-container>
            <div v-for="btnData in searchCompControlBtn.value" :key="btnData.title">
              <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
            </div>
          </control-container>
        </div>
      </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOP021" };
</script>
<script setup lang="ts">
import { computed, onMounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import commonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/operation/WMSOP021/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { IAvailableOptionsUtilParams } from "@/types";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_COMPONENT_CONTROL_BTN, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const gridApi = ref<GridApi | undefined>();
let searchGridData: Function;
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};
const searchCompControlBtn = reactive({ value: SEARCH_COMPONENT_CONTROL_BTN as any });
const gridHeaderTitle = computed(() => {
  return t("menu-header-title.WMSOP021");
});
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  "change-receiving-date": changeReceivingDate,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
};

/* 입고일변경 */
function changeReceivingDate() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const name = "/date-change";
  const option = "width = 850, height = 250, top = 100, left = 200, location = no";
  let workedRows: any = new Array();

  // 선택한 로우가 없을때
  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  workedRows = selectedRows.filter((dt: any) => {
    return Object.hasOwn(dt, "WORK_ID") && !UtilService.isEmptyString(dt["WORK_ID"]);
  });

  // 선택한 로우중 WORK_ID가 없는 경우 리턴
  if (workedRows.length === 0) {
    return useToast().warning(t("common-toast.no-work-id"));
  }

  workedRows = workedRows.map((dt: any) => dt.WORK_ID).join(",");

  const data = {
    inputTitle: t("modal-title.work-day"),
    saveUrl: "/WMSOP000Q6/saveSetWorkDate_rn.action",
    uniqueParams: {
      func: "fn_search",
      vrWorkId: workedRows,
      vrWorkDt: "",
    },
  };

  localStorage.setItem("windowModal", JSON.stringify(data));

  const openWindowModal: any = window.open(name, name, option);

  // 모달이 close 되었을때를 감지
  openWindowModal.addEventListener("beforeunload", () => {
    searchGridData();
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  });
}

// 신규(function fn_new(strParameter))
function addRowData() {
  // strParameter = strParameter == undefined ? [] : strParameter;
  // if (strParameter.size() == 0) {
  //   strParameter.push("");
  //   strParameter.push("");
  // }
  // var vrCustId = jQuery("form[name='frm_list'] input[name='vrSrchCustId']").val();
  // var vrCustCd = jQuery("form[name='frm_list'] input[name='vrSrchCustCd']").val();
  // var vrCustNm = jQuery("form[name='frm_list'] input[name='vrSrchCustNm']").val();
  // strParameter.push(vrCustId);
  // strParameter.push(vrCustCd);
  // strParameter.push(vrCustNm);
  // var param = "?func=fn_search&strParameter=" + strParameter;
  // var url = "/WMSOP999T3.action" + param;
  // var width = "1100"; //900 MIN 1024
  // var height = "780"; //크기다시 재조정할 필요있음
  // var asppop = cfn_openPop2(url, "fn_splInPopup", width, height);
  // asppop.focus();
  // 선택된 데이터에서 owner가 있는지 확인하고 각 값을 가져옵니다.
  const info = {
    title: t("popup-title.receiving-order"),
  };
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  // URL과 파라미터 구성
  // const url = `/WMSOP999T3.action?func=fn_search&strParameter=,,${vrSrchCustId},${vrSrchCustCd},${vrSrchCustNm}`;

  // // 팝업 창 열기
  // const windowPopup = UtilService.openWindowPopup(info, url, {
  //   width: 1100,
  //   height: 780,
  //   top: 100,
  //   left: 200,
  // });

  const windowPopup = UtilService.openWindowPopup(null, `/logistics-container-receiving-order?vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`, {
    width: 1150,
    height: 750,
    top: 100,
    left: 200,
  });
  // 팝업 닫힘 이벤트 처리
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

//삭제
async function deleteRowData() {
  // var grid 		= jQuery("#list1");
  // var selectIds 	= grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
  // var tmpCnt 		= 0 ;
  // if(selectIds == ""){
  // 	alert("$!lang.getText('save.nodata')");
  // 	return;
  // }
  // //작업상태가 주문등록보다 크고 , 배차취소가 아니면 주문삭제 불가
  // for(var i = 0 ; i < selectIds.length ; i ++){
  // 	// 배차취소상태 삭제가능처리로직 추가(2011.10.13)
  // 	if(( grid.getCell(selectIds[i], 'WORK_STAT') > "100" ) && ( grid.getCell(selectIds[i], 'WORK_STAT') != "310" )){
  // 		alert("$!lang.getText('삭제불가')");
  // 		return;
  // 	}
  // }
  // if(confirm("$!lang.getText('delete.confirm')")){
  // 	jQuery("#formData").html('');
  //     if( jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
  //         jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
  //         jQuery("#formData").append("<br>");
  //     }else{
  //     	tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
  //     }
  // 	for(var i = 0 ; i < selectIds.length ; i++){
  // 		jQuery("#formData").append("<input type='text' name='ORD_ID"		+tmpCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "ORD_ID"))+"'/>");
  // 		jQuery("#formData").append("<input type='text' name='ORD_SEQ"		+tmpCnt+"'  value='"+cfn_trim(grid.getCell(selectIds[i], "ORD_SEQ"))+"'/>");
  // 		tmpCnt ++;
  // 	}
  // 	jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
  // 	var param 	= jQuery("form[name='frm_data']").serialize();
  //     var url 	= "/WMSOP020/deleteOrder.action";
  //     jQuery.post(url, param, function(data) {
  //     	alert(data.MSG);
  //         if(data.errCnt == 0 ){
  //         	var  page_check = 1;
  //             var  page = jQuery("#list1").jqGrid().getGridParam("page");
  //             fn_search(page,page_check);
  //         }
  //     }).fail(function(xhr, textStatus){
  // 			if(xhr.status == 404){
  // 				location.href=('/index.html');
  // 			}
  // 	});
  // }

  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  const ALLOW_DELETE_STATUS = ["100", "310"];
  for (let i = 0; i < selectedRows.length; i++) {
    const workStat = selectedRows[i].WORK_STAT;
    if (workStat > ALLOW_DELETE_STATUS[0] && workStat !== ALLOW_DELETE_STATUS[1]) {
      return useToast().warning(t("common-toast.unable-to-delete"));
    }
  }

  const confirmed = await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
  if (!confirmed) {
    return;
  }

  try {
    // 데이터 준비
    let data: any = {
      selectIds: String(selectedRows.length),
    };

    for (let i = 0; i < selectedRows.length; i++) {
      data[`ORD_ID${i}`] = selectedRows[i].ORD_ID || "";
      data[`ORD_SEQ${i}`] = String(selectedRows[i].ORD_SEQ || "");
    }

    // API 호출
    const res = await ApiService.postApi("/WMSOP020/deleteOrder.action", {}, data);

    if (res.status) {
      if (res.result.errCnt === 0) {
        useToast().success(t("common-toast.deleted"));
        searchGridData();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        return;
      } else {
        return useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    console.error(err);
  }
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.raw-material(parts/containers)-inbound-management"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSOP021");
  const res = await ApiService.postApi(`/rest/WINUS/WMSOP021.action`, {}, data);
  const setAvailableOptionsUtilParam: IAvailableOptionsUtilParams[] = [
    {
      inputId: "vrSrchOrdSubtype",
      availableList: ["", "20", "22", "23", "25", "111", "137", "138", "139", "146"],
    },
  ];

  UtilService.setAvailableOptions(res.result.selectBoxInfos, setAvailableOptionsUtilParam);

  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

// User Function Definitions

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSOP021/list.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
