<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG200/page.ts
 *  Description:    LOT별이력추적 grid meta 정보
 *  Authors:        S. Y. LIM
 *  Update History:
 *                  2024.07. : Created by S. Y. LIM
 *
 ------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header> </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme"></div>
    <common-form
      ref="masterFormRef"
      :gridId="`${myPageId}-master-grid`"
      :gridMeta="GRID_META"
      :onCellFocused="onCellFocused"
      :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
      :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
      :controlBtn="MASTER_CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onMasterApiParamsChanged"
      :getServerData="getMasterData"
      @onSelectionChanged="onSelectionChanged"
      :context="[]">
      <div class="grid-header">{{ masterGridTitleRef }}</div>
      <control-container>
        <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
    <common-form
      ref="detailFormRef"
      :gridId="`${myPageId}-detail-grid`"
      :gridMeta="GRID_META"
      :disableSearchEvent="disableSearchEvent"
      :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
      :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
      :controlBtn="DETAIL_CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onDetailApiParamsChanged"
      :getServerData="getDetailData"
      @onSelectionChanged="onDetailGridSelectionChanged"
      :onCellDoubleClicked="onCellDoubleClicked"
      :context="{}">
      <div class="grid-header">{{ detailGridTitleRef }}</div>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG200" };
</script>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, reactive, ref, unref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";

import { GridUtils } from "@/lib/ag-grid/utils";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellDoubleClickedEvent, GridReadyEvent, RowSelectedEvent } from "ag-grid-community";
import { ExcelExportParams, GridApi } from "ag-grid-enterprise";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { DETAIL_CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_META, MASTER_CONTROL_BTN, MASTER_GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";
const { t } = useI18n();

//master grid 선택시(복수 체크)
const selectedItems = ref<Record<string, any>[]>([]);

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});

//디테일 그리드 전체

// Variable Definitions
const OptionDataStore = useOptionDataStore();
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const internalMasterGridApi = ref<GridApi | null>(null);
const masterGridApi = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const eventBus = useEventBusStore();
const masterGridTitleRef = t("menu-header-title.WMSTG200_master");
const detailGridTitleRef = t("menu-header-title.WMSTG200_detail");
const selectedDetailRowItem = reactive({ value: {} } as { value: any });
const formTheme = {
  "--flex-direction": "column",
};

function onDetailGridSelectionChanged(e: any) {
  selectedDetailRowItem.value = e.event.data;
}

const masterEventHandler: Record<string, Function> = {
  save: saveRowData,
  excel: masterExport,
};

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const data = UtilService.getOptionApiData(`WMSTG200`);
  const res = await ApiService.postApi(`/rest/WINUS/WMSTG200.action`, {}, data);
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

let searchGridData: Function;

function handleGridReady(params: GridReadyEvent) {
  if (!internalMasterGridApi.value) {
    internalMasterGridApi.value = params.api; // 내부 ref에 값을 할당
    if (searchGridData) {
      searchGridData(); // 그리드가 준비된 후에만 호출
    }
  }
}

onMounted(() => {
  if (!searchGridData) {
    searchGridData = masterFormRef.value!.searchGridData;
  }

  eventBus.on("onGridReady", handleGridReady);
});

onUnmounted(() => {
  eventBus.off("onGridReady", handleGridReady);
});

function onSelectionChanged(e: any) {
  let isSelected = e.event.node.selected;
  let event: RowSelectedEvent = e.event;
  event.api.redrawRows();
  selectedItems.value = masterGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    detailFormRef.value.searchGridData();
  }
}

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
function sessionStorageReady() {}

function onMasterApiParamsChanged(apiParams: any) {
  const today = UtilService.getToday();
  apiParams.today = today;
  return apiParams; // 정상적인 경우에는 수정된 apiParams를 반환
}

function onDetailApiParamsChanged(apiParams: any) {
  detailGridApi.value?.deselectAll();
  // detailGridApi.value?.sizeColumnsToFit();
  const selectedMasterItem = GridUtils.getSelectedRowData(unref(masterGridApi) || new GridApi())[0];
  apiParams = {
    vrEpcCd: Object.hasOwn(selectedMasterItem, "EPC_CD") ? selectedMasterItem.EPC_CD : "",
    vrCustLotNo: Object.hasOwn(selectedMasterItem, "CUST_LOT_NO") ? selectedMasterItem.CUST_LOT_NO : "",
  };
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  if (apiParams.chkAllLcid === "on" && apiParams.vrSrchCustLotNo === "") {
    useToast().warning(t("common-toast.all-center-query-requires-lot-number"));
    return false; // 조건을 만족하지 않으면 중지
  }
  apiParams.vrSrchChkAllLcid = apiParams.chkAllLcid === "on" ? "Y" : "N";

  return await ApiService.postApi("/rest/WMSTG200/list.action", apiParams, bodyData.value, false);
}

async function getDetailData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSTG200/listSub.action", apiParams, bodyData.value, false);
}

/**
 * 저장
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(masterGridApi.value!);
  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    if (selectedRows && selectedRows?.length > 0) {
      let data: any = { selectIds: 1 };
      for (let i = 0; selectedRows.length > i; i++) {
        data["ST_GUBUN" + [i]] = "UPDATE";
        data["REMARK" + [i]] = selectedRows[i].REMARK || "";
        data["RITEM_CD" + [i]] = selectedRows[i].RITEM_CD || "";
        data["selectIds"] = selectedRows.length;
      }

      // 유효성 검사
      if (!masterValidate(data)) return;

      let result = await ApiService.postApi("/rest/WMSTG200/save.action", data, data);
      if (result.status) {
        if (result.result.errCnt !== 0) {
          useToast().error(t(result.result.MSG));
        } else {
          useToast().success(t("common-toast.saved"));
        }
      }
    }
  } catch (err) {
    return console.log(err);
  }
  masterGridApi.value?.deselectAll();
}

function masterValidate(data: Array<any>): boolean {
  if (data && data.length > 0) {
    var tmpText = ["비고"];
    var tmpVal;
    var tmpLeng = [600];

    for (var i = 0; i < data.length; i++) {
      var row = data[i];
      var REMARK = row.REMARK;

      tmpVal = [REMARK];

      /* 실사수량 최대 길이 , 숫자인지*/
      if (REMARK.length > tmpLeng[0]) {
        useToast().warning(`${row.RNUM}번째행의 ${REMARK}은 최대 ${tmpLeng[0]}까지 가능`);
        return false;
      }
    }
  }
  return true;
}

function masterExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.lot-based-traceability"),
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}

// 셀 더블클릭시 출고주문 팝업 노출 (신규팝업)
function onCellDoubleClicked(params: CellDoubleClickedEvent<any>) {
  const windowPopup = UtilService.openWindowPopup(null, `/wmstg200t1-new-popup?strParameter=${params.data.EPC_CD}`, {
    width: 1150,
    height: 750,
    top: 100,
    left: 200,
  });
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
.search-comment {
  text-align: right;
  color: $red;
  font-size: 12px;
  padding: 0 23px 15px 0;
}
</style>
