<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmstg200t1-new-popup.vue
 *  Description:    LOT별이력추적페이지에서 디테일 그리드 더블 클릭시 노출되는 이력추적상세 팝업
 *  Authors:        S. Y. LIM
 *  Update History:
 *                  2024.09. : Created by S. Y. LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <h3 class="form-container-title">{{ t("modal-title.traceability-detail") }}</h3>
    <!--그리드영역-->
    <common-form
      ref="masterFormRef"
      :gridId="`${myPageId}-master-grid`"
      :gridMeta="POPUP_GRID_META"
      :gridOptionsMeta="topGridOptions"
      :formColumnDefs="NEW_TOP_GRID_COL_DEF"
      :controlBtn="[]"
      :searchInput="[]"
      :getServerData="getMasterData"
      :context="[]">
      <div class="grid-header">{{ masterGridTitleRef }}</div>
    </common-form>
    <common-form
      ref="detailFormRef"
      :gridId="`${myPageId}-detail-grid`"
      :gridMeta="POPUP_GRID_META"
      :gridOptionsMeta="bottomGridOptions"
      :formColumnDefs="NEW_BOTTOM_GRID_COL_DEF"
      :controlBtn="[]"
      :searchInput="[]"
      :getServerData="getDetailData"
      :context="{}">
      <div class="grid-header">{{ detailGridTitleRef }}</div>
    </common-form>
  </div>
  <!--버튼영역-->
  <div class="buttons">
    <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
  </div>
  <confirm-popup />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "wmstg200t1-new-popup" };
</script>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, Ref, ref, unref } from "vue";

import CommonForm from "@/page/common-page/common-form.vue";
import { ConfirmPopup } from "@/popups/index";
import { ApiService } from "@/services/api-service";
import { GridApi, GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { useI18n } from "vue-i18n";
import { NEW_BOTTOM_GRID_COL_DEF, NEW_TOP_GRID_COL_DEF } from "./column-defs";
import { POPUP_GRID_META } from "./input.meta";

// Variable Definitions
const myPageId = ref<string>();
const { t } = useI18n();
const vrEpcCd = new URL(window.location.href).searchParams.get("strParameter");

const masterGridTitleRef = t("grid-title.receiving(in)");
const detailGridTitleRef = t("grid-title.shipping(out)");

const masterFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const detailFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value?.gridApi) || null;
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value?.gridApi) || null;
});

// Framework Function Definitions
onBeforeMount(async () => {});

onMounted(() => {
  loadMasterData();
  loadDetailData();
});

onUnmounted(() => {});

// 마스터 그리드 데이터 로드
async function loadMasterData() {
  const apiParams = {
    vrEpcCd: vrEpcCd, // URL에서 가져온 vrEpcCd 값
    vrOrdType: "I", // 마스터 그리드의 경우 I로 설정
  };

  const bodyData = {}; // body에 필요한 추가 데이터가 있다면 여기에 설정
  const data = await getMasterData(apiParams, bodyData);
  // 마스터 그리드에 데이터를 설정
  if (masterGridApi.value && data && data.result && data.result.list) {
    masterGridApi.value.setRowData(data.result.list);
  }
  return apiParams;
}

// 디테일 그리드 데이터 로드
async function loadDetailData() {
  const apiParams = {
    vrEpcCd: vrEpcCd, // URL에서 가져온 vrEpcCd 값
    vrOrdType: "O", // 디테일 그리드의 경우 O로 설정
  };

  const bodyData = {}; // body에 필요한 추가 데이터가 있다면 여기에 설정
  const data = await getDetailData(apiParams, bodyData);
  // 디테일 그리드에 데이터를 설정
  if (detailGridApi.value && data && data.result && data.result.list) {
    detailGridApi.value.setRowData(data.result.list);
  }
  return apiParams;
}

const topGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: NEW_TOP_GRID_COL_DEF,
  rowSelection: "multiple",
  rowModelType: "clientSide",
  enableRangeSelection: true,
  suppressRowClickSelection: false, // row클릭시 체크박스 체크방지
  pagination: false,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

const bottomGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: NEW_BOTTOM_GRID_COL_DEF,
  rowSelection: "multiple",
  rowModelType: "clientSide",
  enableRangeSelection: true,
  suppressRowClickSelection: false, // row클릭시 체크박스 체크방지
  pagination: false,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

async function getMasterData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSTG200/DetailPop.action", apiParams, bodyData, false);
}

async function getDetailData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSTG200/DetailPop.action", apiParams, bodyData, false);
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-local {
    flex-direction: column;
    gap: 10px;
    height: 90%;
    padding: 0 0 0 0 !important;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: 100%;
  }

  .close {
    @include btnColorStyle($font-secondary);
  }
}
</style>
