<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS092_2/form.vue
 *  Description:    기준정보/임가공상품구성정보관리 - 세트상품구성내역조회 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div class="form-container" ref="formContainerRef">
    <div class="form-container-grid-item">
      <control-container>
        <template v-for="btnData in controlBtn.value" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :excelExport="excelExport" />
        </template>
      </control-container>
      <my-grid
        :onGridReady="onGridReady"
        @onPageSizeChanged="
          (ps) => {
            pagingSize = ps;
          }
        " />
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import MyGrid from "./grid.vue";
import { CONTROL_BTN, SEARCH_INPUT } from "./input";

// Variable Definitions
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSMS092_2");
const pagingSize = ref<number>(pagingOptions![0]);
let gridApi: GridApi | null = null;
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트
const inactive = ref<boolean>(false);
const searchValue = ref<boolean>(false);
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();

  searchValue.value = true;
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSMS", "WMSMS092_2", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    if ((UtilService.getAuthOnButton("WMSMS", "WMSMS092_2", menusStore().getMenus(), null).SER_AUTH || "Y") === "Y") {
      searchGridData();
    }
  }
  searchValue.value = false;
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

//전체 검색
async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    const searchConditions = SEARCH_INPUT;
    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "기준관리 &gt; 임가공상품구성정보관리";

    if (searchValue.value) {
      apiParams.USE_YN_E5 = "Y";
    } else {
      if (!apiParams.USE_YN_E5) {
        apiParams.USE_YN_E5 = "";
      } else {
        apiParams.USE_YN_E5 = useSearchConditionStore().getSearchInputValue()["USE_YN_E5"];
      }
    }

    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSMS092/listE5_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          params.successCallback(gridData.result.list, UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows));
          if (gridData.result.list.length === 0) {
            useToast().warning(t("common-toast.no-data-list"));
          }
        } else {
          params.successCallback([], 0);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

// grid에 paging option 적용
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

//엑셀 export
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_COLUMN_DEFS[i].field);
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.kit-product-component-details"),
    columnKeys,
  };

  gridApi?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.form-container {
  flex-direction: column;
  justify-content: space-between;
  overflow: none;
}
.form-container-grid-item {
  height: 100%;
}

.grid-container {
  height: 100%;
}
@include infoComponentStyle;
@include formContainerStyle;
</style>
