<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG_733_1/page.vue
 *  Description:    통계관리/출고검수조회 - 출고박스조회 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady"></common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :gridStatisticsInfo="GRID_STATISTICS_INFO"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :readOnlyInputs="SEARCH_META.readOnlyInputs"
      :gridResultField="'rows'"
      :onApiParamsChanged="onApiParamsChanged">
      <div class="grid-header">
        {{ `${gridHeaderTitle}` }}
        <span class="grid-statistics-value">
          {{ `(${t("grid-statistics-title.total")} : ${gridRowItemCount})` }}
        </span>
      </div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG733_1" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { default as CommonForm, default as commonForm } from "@/page/common-page/common-form.vue";
import commonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams } from "ag-grid-community";
import { computed, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

import { GridApi, GridReadyEvent } from "ag-grid-community";
const gridApi = ref<GridApi | undefined>();
let gridRowItemCount = ref(0);
const gridControlBtnRef = ref(CONTROL_BTN);
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
// eslint-disable-next-line @typescript-eslint/no-unused-vars
let searchGridData: Function;
const { t } = useI18n();
const OptionDataStore = useOptionDataStore();
const eventBus = useEventBusStore();

// Variable Definitions
const myPageId = ref<string>();
const gridHeaderTitle = computed(() => {
  return t("grid-title.forwarding-box-inquiry");
});
// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  myPageId.value = useTabsStore().selectedTab.value?.id;
  searchGridData = commonFormRef.value!.searchGridData;

  const res = await ApiService.postApi(`/WINUS/WMSMS090_rn.action`, {}, UtilService.getOptionApiData(`WMSMS090_rn`));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}
async function getServerData(apiParams: any, bodyData: any) {
  const res = await ApiService.postApi("/WMSTG733/list_rn.action", null, apiParams, false);
  //요청 받은 값에 list 요소가 없어서 common-form에서 오류 발생 > list 추가함

  return res;
}

const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

/**
 * excel export
 */
//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.forwarding-box-inquiry"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 그리드 조회 parameter 수정
 * @param apiParams 그리드 조회 parameter
 */
function onApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "통계관리 &gt; 출고검수조회";
  //모달 데이터 아무것도 선택 안 하고 검색했을 때
  if (!useSearchConditionStore().getResetValue()) {
    if (!Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
      useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      useToast().warning(t("common-toast.please-select-a-owner"));
      throw t("common-toast.please-select-a-owner");
    }
  }
  return apiParams;
}

// User Function Definitions
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
