<template>
  <div class="search-container">
    <div class="search-modal-bg"></div>
    <div class="search-modal">
      <slot></slot>
      <h3 class="search-modal-title">
        <!-- 모달 타이틀 영역-->
        {{ $t("modal-title." + modalData.title) }}
      </h3>
      <button class="search-modal-close" @click="unmountModal">
        <i class="btn-close-popup"></i>
      </button>
      <div class="search-modal-input">
        <ul class="search-modal-input-list">
          <!--버튼 아이템 영역-->
          <modal-input v-for="data in modalData.inputs" :key="data.id" :data="data" :gridOptions="gridOptions" :apis="modalData.apis" :changeChildrenModal="changeChildrenModal" />
        </ul>
        <button class="search-modal-input-btn" @click.prevent="() => searchModalRowData()">
          <i class="btn-search"></i>
        </button>
      </div>
      <div class="search-modal-grid-title">
        <!-- 그리드 타이틀 영역-->
        {{ $t("grid-title." + modalData.gridTitle) }}
      </div>
      <ag-grid-vue style="width: 100%; height: 378px" class="ag-theme-alpine" :gridOptions="gridOptions" />
      <div class="search-modal-button">
        <button class="search-modal-button-close" @click.prevent="unmountModal">{{ $t("button-name.close") }}</button>
        <button class="search-modal-button-submit" @click.prevent="submitSearchModal">{{ $t("button-name.select") }}</button>
      </div>
    </div>
    <Teleport to="body" class="search-modal-bg">
      <search-modal v-if="isOpenChildrenModal" :columnDefs="columnDefs2" :modalData="modalData2" @closeSearchModal="closeSearchModal" />
    </Teleport>
  </div>
</template>

<script setup lang="ts">
import { SearchModal } from "@/popups";
import { ApiService } from "@/services/api-service";
import { useNewZoneModalStore, useSelectedDataStore } from "@/store";
import type { IModalValue } from "@/types";
import { ColDef, GridApi, GridOptions } from "ag-grid-community";
import { AgGridVue } from "ag-grid-vue3";
import { onBeforeMount, ref } from "vue";
import { ModalInput } from "../input";

const { columnDefs, modalData } = defineProps<{
  columnDefs: ColDef[];
  modalData: IModalValue;
}>();
const isOpenChildrenModal = ref(false);
let gridApi: GridApi | null = null;

// 창고조회 모달 column
const columnDefs2 = [
  {
    field: "",
    headerName: "",
    width: 100,
    valueGetter: (params: any) => params.node.rowIndex + 1, // 인덱스는 0이 아닌 1부터 시작
  },
  {
    field: "",
    headerName: "",
    checkboxSelection: true,
    width: 100,
  },
  {
    field: "WH_CD",
    headerName: "창고코드",
    width: 200,
    cellStyle: { textAlign: "center" },
    headerClass: "header-center",
    sortable: true,
  },
  {
    field: "WH_NM",
    headerName: "창고명",
    width: 200,
    cellStyle: { textAlign: "center" },
    headerClass: "header-center",
    sortable: true,
  },
  {
    field: "WH_TYPE_ORI",
    headerName: "창고구분",
    width: 200,
    cellStyle: { textAlign: "center" },
    headerClass: "header-center",
    sortable: true,
  },
  {
    field: "WH_TYPE_ORI",
    headerName: "창고유형",
    width: 200,
    cellStyle: { textAlign: "center" },
    headerClass: "header-center",
    sortable: true,
  },
];

// 창고조회 모달 info data
const modalData2: IModalValue = {
  page: "new-zone",
  id: "warehouse",
  title: "search-warehouse",
  gridTitle: "location-list",
  apis: {
    url: "/WMSMS040/poplist_rn.action",
    params: {
      func: "fn_setWMSCM040",
      WH_ID: "",
      WH_CD: "",
      WH_NM: "",
      S_WH_CD: "",
      S_WH_NM: "",
    },
    data: {
      _search: false,
      nd: "",
      rows: "100",
      page: "1",
      sidx: "",
      sord: "asc",
    },
  },
  inputs: [
    {
      id: "S_WH_CD",
      title: "창고코드",
      type: "text",
      width: "half",
    },
    {
      id: "S_WH_NM",
      title: "창고명",
      type: "text",
      width: "half",
    },
  ],
};

const onGridReady = (params: any) => {
  gridApi = params.api;
  gridApi?.sizeColumnsToFit();
};

const gridOptions: GridOptions = {
  headerHeight: 32,
  rowHeight: 32,
  columnDefs,
  rowData: [],
  rowSelection: "single",
  onGridReady: onGridReady,
  onRowDoubleClicked: submitSearchModal,
};

// onBeforeMount 우선순위가 모달인풋에서 포커스아웃이 우선시되기 때문에 onmountbefore사용
onBeforeMount(async () => {
  await getModalGridRowData();
});

function changeChildrenModal(value: boolean) {
  isOpenChildrenModal.value = value;
}
function closeSearchModal(value: boolean) {
  isOpenChildrenModal.value = value;
}

// 모달 그리드 데이터 갖고오기
async function getModalGridRowData() {
  const result = await ApiService.postApi(modalData.apis.url, {}, modalData.apis.data);

  gridOptions.api?.setRowData(result.result.list);
}

// 모달에서의 검색
async function searchModalRowData() {
  let params = modalData.apis.params;

  if (modalData.defaultParamsData && modalData.defaultParamsData?.paramsKeys.length > 0) {
    for (let i = 0; modalData.defaultParamsData.paramsKeys.length > i; i++) {
      const paramsData = useSelectedDataStore().getSelectedModalData()[modalData.defaultParamsData.storeSaveKey][modalData.defaultParamsData.rowDataKeys[i]];
      params[modalData.defaultParamsData.paramsKeys[i]] = paramsData;
    }
  }
  const data = modalData.apis.data;
  const url = modalData.apis.url;

  const result = await ApiService.postApi(url, params, data);
  if (result.result.list.length !== 0) {
    gridOptions.api?.setRowData(result.result.list);
  } else {
    getModalGridRowData();
  }
}

// 모달에서 선택 버튼 클릭
function submitSearchModal() {
  useNewZoneModalStore().setLocationData(gridOptions.api?.getSelectedRows()[0]);
  unmountModal();
}

// 모달 언마운트
function unmountModal() {
  useNewZoneModalStore().setOpenNewZone(false);
}
</script>

<style lang="scss" scoped>
.search-modal {
  width: 804px;
  border-radius: 15px;
  background-color: white;
  padding: 28px 13px 20px 13px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 16;

  &-bg {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 15;
  }
  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 49px;
  }
  &-close {
    position: absolute;
    right: 20px;
    top: 25px;
    background-color: rgba($color: $main, $alpha: 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: rgba($color: $main, $alpha: 0.3);
    }
  }

  &-input {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 19px;

    &-list {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 78px);
    }
    &-btn {
      width: 68px;
      height: 100%;
      border-radius: 10px;
      background-color: $main;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &-grid-title {
    color: white;
    font-weight: bold;
    background-color: #374a8d;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    padding: 7px 10px;
  }
  &-button {
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
    button {
      height: 44px;
      border-radius: 10px;
      width: 370px;
      font-weight: bold;
    }
    &-close {
      @include btnColorStyle($font-secondary);
    }
    &-submit {
      @include btnColorStyle($main);
    }
    &-new {
      @include btnColorStyle($main);
    }
  }
}

//
.search-button {
  left: 83px !important;
}

// searchInput custom
.search-modal-input-list {
  gap: 14px;
  .search.half {
    margin-right: 0 !important;
    width: calc(50% - 6px);
  }
}
</style>
