<template>
  <div>
    <input type="text" :value="inputValue" />
  </div>
</template>

<script setup lang="ts">
import { useNewZoneModalStore } from "@/store/new-zone";
import { watch, ref, onActivated, onDeactivated } from "vue";

const NewZoneModalStore = useNewZoneModalStore();

const props = defineProps<{
  params: any;
}>();

const inputValue = ref("" as string);
const inactive = ref<boolean>(false);

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

watch(
  NewZoneModalStore.locationDataList,
  () => {
    if (!inactive.value) {
      getInputValue();
    }
  },
  { deep: true }
);

function getInputValue() {
  const thisIndex = props.params.node.rowIndex;
  const thisValue = NewZoneModalStore.locationDataList.filter((data) => {
    return data.index === thisIndex;
  });
  let returnData;
  if (thisValue[0]) {
    returnData = thisValue[0].data.LOC_CD;
  } else {
    return (inputValue.value = "");
  }

  if (returnData) {
    return (inputValue.value = returnData);
  } else {
    return (inputValue.value = "");
  }
}
</script>

<style lang="scss" scoped></style>
