<template>
  <div class="grid-container">
    <button class="grid-button" @click.prevent="saveNewZone">{{ $t('button-name.save') }}</button>
    <div class="grid-header">{{ t('grid-title.new-zone') }}</div>
    <ag-grid-vue style="width: 100%; height: 200px; margin-bottom: 20px" class="ag-theme-alpine" :gridOptions="newZoneGridOption" />
    <button class="grid-button" @click.prevent="addRowData">{{ $t('control-button-name.new') }}</button>
    <div class="grid-header">{{ $t('grid-title.detailed-location-information') }}</div>
    <ag-grid-vue
      style="width: 100%; height: 200px"
      class="ag-theme-alpine"
      :gridOptions="locationInfogridOptions"
      :removeRowData="removeRowData"
      :context="{ api: removeRowData }"
    />
    <location-modal v-if="useNewZoneModalStore().getOpenNewZone()" :columnDefs="LOCATION_MODAL_COLUMN_DEFS" :modalData="modalData" />
  </div>
</template>

<script setup lang="ts">
import { onBeforeMount, ref } from "vue";
import { AgGridVue } from "ag-grid-vue3";
import { GridOptions, GridReadyEvent, GridApi } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { useToast } from "vue-toastification";
import { useI18n } from "vue-i18n";
import { useNewZoneModalStore } from "@/store";
import type { IModalValue } from "@/types";
import { NEW_ZONE_COLUMN_DEFS, LOCATION_INFO_COLUMN_DEFS, LOCATION_MODAL_COLUMN_DEFS } from "@/constants/new-zone";
import LocationModal from "./LocationModal.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";

const { t } = useI18n();
let gridApi: GridApi | null = null;
// 상단 그리드 옵션스
const newZoneGridOption: GridOptions = {
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: NEW_ZONE_COLUMN_DEFS,
  rowData: [{ zone_name: "", newZoneId: "newZoneId01" }],
  onGridReady: newZoneGridReady,
  getRowId: (params) => {
    return params.data.newZoneId;
  },
};
const locationIndex = ref<number>(1);

// 하단 그리드 옵션스
const locationInfogridOptions: GridOptions = {
  headerHeight: 32,
  rowHeight: 40,
  columnDefs: LOCATION_INFO_COLUMN_DEFS,
  suppressRowClickSelection: true,
  rowData: [{ locationIndex: "locationRow0" }],
  rowSelection: "multiple",
  onGridReady: locationInfoGridReady,
  getRowId: (data) => {
    return data.data.locationIndex;
  },
};

onBeforeMount(() => {
  newZoneGridOption.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
  locationInfogridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

// 상단 그리드 onReady
function newZoneGridReady(params: GridReadyEvent) {
  // 그리드가 로드 되자마자 edit상태
  const rowIndex = 0;
  const colKey = "zone_name";
  let cell = { rowIndex: rowIndex, colKey: colKey };
  newZoneGridOption.api?.startEditingCell(cell);
  params.api?.sizeColumnsToFit();
}

// 신규존 저장 클릭
async function saveNewZone() {
  newZoneGridOption.api?.clearFocusedCell();
  const newZoneValue = newZoneGridOption.api?.getRowNode("newZoneId01")?.data.zone_name;
  if (newZoneValue.length === 0) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t("modal-input-title.zone-name") }));
  }

  const locationGridData = locationInfogridOptions.api?.rowModel?.rowsToDisplay 

  const loationDatas = [] as any;
  locationGridData.forEach((locationData: any) => {
    loationDatas.push(locationData.data);
  })

  if (UtilService.isEmptyObject(loationDatas) || (loationDatas.length === 1 && !loationDatas[0].LOC_ID)) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: 'Location' }));
  }

  const bodyData: any = {
    ZONE_NM: newZoneValue,
    selectIds: loationDatas.length,
  };

  for (let i=0; i<loationDatas.length; i++) {
    bodyData["LOC_ID_" + [i]] = loationDatas[i].LOC_ID;
    bodyData["LOC_CD_" + [i]] = loationDatas[i].LOC_CD;
    bodyData["WORK_SEQ_" + [i]] = String(i + 1);
  }
  const res = await ApiService.postApi("/WMSCM083/save_rn.action", {}, bodyData);
  if (res.status === true) {
    useToast().success(t("common-toast.registered"));
    setTimeout(() => {
      window.close();
    }, 2000);
  }
}

function locationInfoGridReady(params: GridReadyEvent) {
  params.api?.getRowNode("locationRow0")?.setSelected(true);
  gridApi = params.api;
  gridApi?.sizeColumnsToFit();
}

// 로우 삭제버튼 클릭
function removeRowData(row: any) {
  locationInfogridOptions?.api?.applyTransaction({ remove: row });
}

// 신규 빈 행 추가
function addRowData() {
  const rowId = `locationRow${locationIndex.value}`;
  const newRowData = [{ locationIndex: rowId }];
  locationInfogridOptions?.api?.applyTransaction({ add: newRowData });
  locationInfogridOptions?.api?.getRowNode(String(rowId))?.setSelected(true);
  locationIndex.value++;
  // 모든 로우들 상태를 edit으로
}

const modalData: IModalValue = {
  page: "new-zone",
  id: "new-zone",
  defaultParamsData: {
    storeSaveKey: "warehouse",
    paramsKeys: ["S_WH_CD", "vrWhId", "S_WH_NM"],
    rowDataKeys: ["WH_CD", "WH_ID", "WH_NM"],
  },
  title: "search-location",
  gridTitle: "location-list",
  apis: {
    url: "/WMSCM080Q5/list02_rn.action",
    params: {
      func: "fn_setWMSCM080",
      LOC_ID: "",
      LOC_CD: "",
      AVAILABLE_QTY: "",
      STOCK_ID: "",
      SUB_LOT_ID: "",
      vrViewOnlyLoc: "",
      STOCK_WEIGHT: "",
      vrViewSubLotId: "",
      vrRitemId: "",
      ITEM_BEST_DATE_END: "",
      UOM_ID: "",
      UOM_CD: "",
      UOM_NM: "",
      vrViewStockQty: "",
      S_WH_CD: "",
      vrWhId: "",
      S_WH_NM: "",
      vrSrchLocCd: "",
      vrSrchLocId: "",
    },
    data: {
      _search: false,
      nd: "",
      rows: "100",
      page: "1",
      sidx: "",
      sord: "asc",
    },
  },
  inputs: [
    {
      id: "WH_CD",
      title: "warehouse",
      type: "search",
      width: "half",
      searchRowDataIds: ["WH_CD", "WH_NM"],
      searchIds: ["S_WH_CD", "S_WH_NM"],
    },
    {
      id: "vrSrchLocCd",
      title: "location-code",
      type: "text",
      width: "half",
    },
  ],
};
</script>

<style lang="scss" scoped>
.grid {
  &-container {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  &-header {
    width: 100%;
    padding: 10px 11px;
    background-color: #374a8d;
    font-size: 12px;
    color: white;
    font-weight: bold;
  }

  &-button {
    @include btnColorStyle($main);
    padding: 6px 19px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
// .ag-header-cell-label {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
</style>
