<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	info-text-input.vue
 *  Description:    Info Area에서 사용되는 Text Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div :class="[`info-input-container ${data.disabled ? 'disabled' : ''}`]">
    <label :class="['info-input-label', data.required ? 'required' : '', data.isHiddenInput ? 'hidden' : '']">
      <span v-if="koreanPattern.test(data.title)">{{ data.title }}</span>
      <span v-else>{{ $t("input-title." + data.title) }}</span>
      <i v-if="data.required || data.isHiddenInput" :class="['icon-required', data.isHiddenInput ? 'hidden' : '']"></i>
    </label>
    <div v-if="data.isEmail === undefined" :class="[data.size, data.width, 'info-input-box']">
      <div class="info-input-sub-container" v-for="(item, i) in data.rowDataIds" :key="i">
        <input
          :type="`${data.title === 'password' ? 'password' : 'text'}`"
          ref="textInput"
          :class="[data.isReadonly ? 'readonly' : '', data.size, 'info-input-item']"
          :readonly="data.isReadonly"
          v-model="inputText"
          :value="setInputValue(data, i)"
          @input="
            (e) => {
              chagnedHandler(e, item, data.overapCheck);
            }
          "
          @change="
            (e) => {
              changeValueHandler(e, item, data.overapCheck);
              focusOutUpdateData();
            }
          " />
        <span class="info-input-text" v-for="(innerText, i) in data.innerTexts" :key="i">{{ innerText }}</span>
      </div>
    </div>
    <div v-if="data.isEmail" :class="['email', 'info-input-box']">
      <input
        ref="emailInputLeft"
        :class="['email email-left', 'info-input-item']"
        type="text"
        :value="useSelectedDataStore().getSelectedInfoData()[data.ids[0]]"
        @change="
          (e) => {
            changeValueHandler(e, data.ids[0]);
            focusOutUpdateData();
          }
        " />
      <span class="email-icon">@</span>
      <input
        ref="emailInputRight"
        :class="['email', 'info-input-item']"
        type="text"
        :value="useSelectedDataStore().getSelectedInfoData()[data.ids[1]]"
        @change="
          (e) => {
            changeValueHandler(e, data.ids[1]);
            focusOutUpdateData();
          }
        " />
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, watch } from "vue";

import { useSelectedDataStore } from "@/store";
import { IInfoInput } from "@/types";
import { debounce } from "lodash";

// Variable Definitions
const { data, focusOutUpdateData, overapCheck } = defineProps<{
  data: IInfoInput;
  focusOutUpdateData: () => void;
  overapCheck?: (e: string) => void;
}>();
const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 다국어 아직 적용하지 못한 title 임시처리...
// const textInput = ref(null as string | null);
const emailInputLeft = ref(null as string | null);
const emailInputRight = ref(null as string | null);
const emits = defineEmits(["changedEvent"]);
const inputText = ref("");
watch(useSelectedDataStore()._selectedInfoData, () => {
  const value = setInputValue(data, 0);
  if (value && inputText.value !== value) {
    inputText.value = value;
  }
});
// Framework Function Definitions
// User Function Definitions
const changeValueHandler = (e: Event, key: string, overapCheckVal?: boolean) => {
  const target = e.target as HTMLInputElement;
  useSelectedDataStore().changeSelectedInfoData(key, target.value);
  if (overapCheckVal && overapCheck) {
    overapCheck(target.value);
  }
};

/**
 * input 이벤트 핸들러
 */
const chagnedHandler = debounce((e: Event, key: string, overapCheckVal?: boolean) => {
  emits("changedEvent", e, key, overapCheckVal);
}, 100);

function setInputValue(inputDef: any, index: any) {
  const ids = inputDef.rowDataIds;
  const id = inputDef.rowDataIds[0];
  if (inputDef.rowDataIds && inputDef.rowDataIds[0] && Object.hasOwn(useSelectedDataStore().getSelectedInfoData(), id)) {
    if (String(useSelectedDataStore().getSelectedInfoData()[id]).includes("temp") || Object.keys(useSelectedDataStore().getSelectedInfoData()).length === 0) {
      return "";
    }
    if (ids.length > 1) {
      if (Object.hasOwn(useSelectedDataStore().getSelectedInfoData(), ids[index])) {
        return useSelectedDataStore().getSelectedInfoData()[ids[index]];
      }
    } else {
      if (Object.hasOwn(useSelectedDataStore().getSelectedInfoData(), id)) {
        return useSelectedDataStore().getSelectedInfoData()[id];
      }
    }
  }
  return "";
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoInputStyle;
</style>
