<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	info-triple-search-input.vue
 *  Description:    Info Area에서 사용되는 Triple Search Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="info-input-container">
    <slot></slot>
    <label class="info-input-label" for="">
      <span v-if="koreanPattern.test(data.title)">{{ data.title }}</span>
      <span v-else>{{ $t("input-title." + data.title) }}</span>
      <i v-if="data.required || data.isHiddenInput" :class="['icon-required', data.isHiddenInput ? 'hidden' : '']"></i>
    </label>
    <div :class="[data.size, data.width, 'info-input-box']">
      <div class="info-input-sub-container">
        <div class="search-input">
          <button class="info-input-search" @click="() => showModal()">
            <i class="btn-search-component"></i>
          </button>
          <input :class="['info-input-item']" type="text" v-model="inputCode" />
        </div>
        <div class="value-input">
          <input :class="['info-input-item', 'readonly']" v-model="inputId" />
          <input :class="['info-input-item', 'readonly']" type="text" v-model="inputName" />
        </div>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
//#region ::  Variable Definitions

import { useSelectedDataStore } from "@/store";
import { IInfoInput } from "@/types";
import { computed, ref, watch } from "vue";

const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 다국어 아직 적용하지 못한 title 임시처리...
const SelectedDataStore = useSelectedDataStore();
const { data } = defineProps<{
  data: IInfoInput;
}>();

const emits = defineEmits<{
  changeIsSearchModal: [value: string];
  changedEvent: [key: string, value: string];
}>();

const inputCode = ref("");
const inputId = ref("");
const inputName = ref("");

const selectedInfoData = computed(() => SelectedDataStore.getSelectedInfoData());

// Watcher로 `input` 값 초기화 (Optional)
watch(
  selectedInfoData,
  (newData) => {
    if (newData) {
      inputCode.value = newData[data.ids[0]] || "";
      emits("changedEvent", data.ids[0], inputCode.value);
      inputId.value = newData[data.ids[1]] || "";
      emits("changedEvent", data.ids[1], inputId.value);
      inputName.value = newData[data.ids[2]] || "";
      emits("changedEvent", data.ids[2], inputName.value);
    }
  },
  { immediate: true }
); // immediate 옵션으로 초기 값도 처리

//#endregion

//#region ::  User Function Definitions

function showModal() {
  emits("changeIsSearchModal", data.title);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoInputStyle;

.info-input-label {
  transform: translateY(10px);
}
.info-input-container {
  align-items: flex-start;
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 6px;
}
.info-input-search {
  margin-left: 0;
  background-color: #d5dce6;
}
.info-input-item {
  width: 100%;
}
.value-input {
  display: flex;
  gap: 9px;
}
</style>
