<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	info-text-input.vue
 *  Description:    Info Area에서 사용되는 Text Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div :class="[`info-input-container ${data.disabled ? 'disabled' : ''}`]">
    <label :class="['info-input-label', data.required ? 'required' : '', data.isHiddenInput ? 'hidden' : '']">
      <span>{{ $t("input-title." + data.title) }}</span>
      <i v-if="data.required || data.isHiddenInput" :class="['icon-required', data.isHiddenInput ? 'hidden' : '']"></i>
    </label>
    <div :class="[data.size, data.width, 'info-input-box', 'search-checkbox-container']">
      <input :class="['search-checkbox-item']" type="checkbox" name="" :id="data.ids[0]" :checked="isChecked" @change="(e) => changeCheckboxValue(e, data.ids[0], data.checkboxValue!)" />
      <i class="circle"></i>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { useSelectedDataStore } from "@/store";
import { IInfoInput } from "@/types";
import { ref, watch } from "vue";

// Variable Definitions
const { data, focusOutUpdateData } = defineProps<{
  data: IInfoInput;
  focusOutUpdateData: any;
}>();

watch(useSelectedDataStore()._selectedInfoData, () => {
  if (Object.hasOwn(useSelectedDataStore().getSelectedInfoData(), data.ids[0]) && useSelectedDataStore().getSelectedInfoData()[data.ids[0]] === data.checkboxValue?.checkedValue[0]) {
    isChecked.value = true;
  } else {
    isChecked.value = false;
  }
});

// Framework Function Definitions
let isChecked = ref(false);
// User Function Definitions

// 체크박스 인풋의 상태가 변화할때 호출
function changeCheckboxValue(e: Event | null, id: string, value: any) {
  if (e) {
    const target = e.target as HTMLInputElement;
    const checkboxValue = target.checked;

    if (checkboxValue) {
      useSelectedDataStore().selectedInfoHandler({ [id]: value.checkedValue[0] });
    } else {
      useSelectedDataStore().selectedInfoHandler({ [id]: value.unCheckedValue[0] });
    }
    focusOutUpdateData();
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoInputStyle;
.info-input-box {
}
.search-checkbox {
  &-container {
    margin: 5px 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  &-item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $gray;
    margin-left: -10px; // (jicho)MESSAGE : radio버튼 정렬 필요 수정함
    cursor: pointer;
    transform: translateX(18px);
    position: relative;
    z-index: 3;
    opacity: 0;

    .circle {
      position: absolute;
    }
    &:checked + .circle {
      border: 5px solid $main;
      background-color: $main;
    }
    &:checked + .circle::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 4.5px;
      transform: rotate(45deg);
      height: 1.5px;
      background-color: white;
      border-radius: 3px;
      bottom: 1.5px;
      left: -1.5px;
    }
    &:checked + .circle::after {
      content: "";
      width: 1.5px;
      opacity: 1 !important;
      height: 9px;
      background-color: white;
      border-radius: 10px;
      transform: rotate(45deg);
      left: 4px;
      top: initial;
      bottom: -2px !important;
    }

    &:checked + .date-type-label {
      font-weight: bold;
    }
  }
  &-label {
    // margin: 0 20px 0 7px; // (jicho)MESSAGE : radio버튼 정렬 필요 수정함
    margin-left: 10px;
    color: $font-bk;
    font-size: 13px;
    display: inline-block;
    width: calc(100% - 32px);
    cursor: pointer;
  }
}

.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid $gray;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: $main;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: 0;
  }
}
</style>
