<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	info-search-input.vue
 *  Description:    Info Area에서 사용되는 Search Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div :class="[`info-input-container ${data.disabled ? 'disabled' : ''}`]">
    <slot></slot>
    <label :class="['info-input-label', 'search', data.required ? 'required' : '', data.isHiddenInput ? 'hidden' : '']">
      <span v-if="koreanPattern.test(data.title)">{{ data.title }}</span>
      <span v-else>{{ $t("input-title." + data.title) }}</span>
      <i v-if="data.required || data.isHiddenInput" :class="['icon-required', data.isHiddenInput ? 'hidden' : '']"></i>
    </label>
    <button :class="['info-input-search', data.required ? 'required' : '']" @click="() => showModal(data.title)">
      <i class="btn-search-component"></i>
    </button>    
    <div v-if="data.isEmail === undefined" :class="[data.size, data.width, 'info-input-box']">
      <div class="info-input-sub-container" v-for="(item, i) in data.ids" :key="i">
        <input
          type="text"
          :class="[data.isReadonly ? 'readonly' : '', data.size, 'info-input-item']"
          :readonly="data.isReadonly"
          v-model="itemValues[i].value"
        />
        <span class="info-input-text" v-for="(innerText, i) in data.innerTexts" :key="i">{{ innerText }}</span>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { useSelectedDataStore } from "@/store";
import { IInfoInput } from "@/types";
import { computed, onBeforeMount } from "vue";

// Variable Definitions
const { data } = defineProps<{ data: IInfoInput }>();
const emits = defineEmits<{ 
  changeIsSearchModal: [value: string];
  changedEvent: [key: string, value: string];
}>();
const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 다국어 아직 적용하지 못한 title 임시처리...
const itemValues = new Array();

// Framework Function Definitions

onBeforeMount(() => {
  
  for ( const index of data.ids ) {
    const itemModel =  computed({
      get: () => { 
        const key = index;
        const value = useSelectedDataStore().getSelectedInfoData() ? useSelectedDataStore().getSelectedInfoData()[key] : '';
        const hiddenKey = data.hiddenId;

        emits('changedEvent', key , value);

        if(hiddenKey) {
          const hiddenValue = useSelectedDataStore().getSelectedInfoData() ? useSelectedDataStore().getSelectedInfoData()[hiddenKey] : '';
          emits('changedEvent', hiddenKey , hiddenValue);
        }

        return value ;
      },
      set: (newValue: any) => {
        return newValue;
      }
    });

    itemValues.push(itemModel);
  }
});

// User Function Definitions

function showModal(title: string) {
  emits("changeIsSearchModal", title);
}



</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoInputStyle;
</style>
