<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	info-date-input.vue
 *  Description:    Info Area에서 사용되는 Date or Number Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="info-input-container">
    <label :class="['info-input-label', data.required ? 'required' : '', data.isHiddenInput ? 'hidden' : '']">
      <span v-if="koreanPattern.test(data.title)">{{ data.title }}</span>
      <span v-else>{{ $t("input-title." + data.title) }}</span>
      <i v-if="data.required || data.isHiddenInput" :class="['icon-required', data.isHiddenInput ? 'hidden' : '']"></i>
    </label>
    <div v-if="data.type === 'date'" :class="[data.width, 'info-input-box']">
      <div class="info-input-sub-container" v-for="(item, i) in data.ids" :key="i">
        <input
          type="date"
          :class="['date', data.isReadonly ? 'readonly' : '', 'info-input-item']"
          :readonly="data.isReadonly"
          :value="useSelectedDataStore().getSelectedInfoData()[data.ids[0]]"
          @input="
            (e) => {
              chagnedHandler(e, item, data.overapCheck);
            }
          "
          @change="
            (e) => {
              changeValueHandler(e, data.ids[0]);
              focusOutUpdateData();
            }
          " />
        <span class="info-input-text" v-for="(innerText, i) in data.innerTexts" :key="i">{{ innerText }}</span>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { useSelectedDataStore } from "@/store";
import { IInfoInput } from "@/types";
import { debounce } from "lodash";

// Variable Definitions
const { data, focusOutUpdateData } = defineProps<{
  data: IInfoInput;
  focusOutUpdateData: () => void;
}>();
const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 다국어 아직 적용하지 못한 title 임시처리...
const emits = defineEmits(["changedEvent"]);

// Framework Function Definitions

// User Function Definitions
const changeValueHandler = (e: Event, key: string) => {
  const target = e.target as HTMLInputElement;

  useSelectedDataStore().changeSelectedData(key, target.value);
};

const chagnedHandler = debounce((e: Event, key: string, overapCheckVal?: boolean) => {
  emits("changedEvent", e, key, overapCheckVal);
}, 100);
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoInputStyle;

.date.info-input-item {
  width: 100%;
  &[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color: rgba(0, 0, 0, 0); //숨긴다
    opacity: 1;
    display: block;
    background: url("/public/assets/images/btn-calendar.svg") calc(100% - 10px) center no-repeat white;
    width: 22px;
    height: 10px;
    border-width: thin;
    margin-right: -10px;
    position: absolute;
    right: 14px;
  }
}
</style>
