<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	info-upload-input.vue
 *  Description:    Info Area에서 사용되는 Color Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="info-input-container">
    <slot></slot>
    <label class="info-input-label">
      <span v-if="koreanPattern.test(data.title)">{{ data.title }}</span>
      <span v-else>{{ $t("input-title." + data.title) }}</span>
      <i v-if="data.required || data.isHiddenInput" :class="['icon-required', data.isHiddenInput ? 'hidden' : '']"></i>
    </label>
    <div v-if="data.isEmail === undefined" :class="[data.size, data.width, 'info-input-box']">
      <input type="text" :class="[data.isReadonly ? 'readonly' : '', data.size, 'info-input-item']" :value="fileName" />
      <div class="info-input-buttons">
        <input id="info-input-item" class="info-input-file-item" type="file" @change="(e) => changeExcelFile(e)" />
        <button class="info-input-choice">{{ $t("button-name.select") }}</button>
        <button class="info-input-download button" @click="downloadImage">{{ $t("control-button-name.download") }}</button>
        <button class="info-input-save button" @click="uploadImage">{{ $t("control-button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onDeactivated, ref, watch } from "vue";

import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService, PREFIX } from "@/services/api-service";
import { useSelectedDataStore } from "@/store";

import { IInfoInput } from "@/types";

// Variable Definitions
const { data } = defineProps<{
  data: IInfoInput;
}>();
const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 다국어 아직 적용하지 못한 title 임시처리...
let formData = new FormData();
const inactive = ref<boolean>(false);
const fileData = ref(null as any);
const fileName = ref<string>("");
const { t } = useI18n();

watch(useSelectedDataStore()._selectedInfoData, () => {
  if (!inactive.value) {
    formData = new FormData();
    fileName.value = "";
    fileData.value = null;
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

function changeExcelFile(e: any) {
  formData = new FormData();
  const target = e.currentTarget!.files[0];
  fileName.value = target.name;
  fileData.value = target;
}
// 다운로드 버튼 클릭
async function downloadImage() {
  const tempP1 = useSelectedDataStore().getSelectedInfoData().IMAGE_PATH;
  const tempP2 = useSelectedDataStore().getSelectedInfoData().ORG_FILENAME;

  if (!tempP1 && !tempP2) {
    useToast().error(t("common-toast.nosuchfile"));
  } else {
    location.href = PREFIX + "/jsp/filedownloadMt.jsp?file_path=" + tempP1 + "&file_name=" + tempP2;
  }
}

// 저장버튼 클릭
async function uploadImage() {
  formData.append("formname", "D_ATCH_FILE_NAME");
  formData.append("rowIdx", "0");
  formData.append("txtFile", fileData.value);
  formData.append("fileLimit", "20");
  formData.append("filePath", "");
  formData.append("fileIdx", "0");
  formData.append("filePostion", "ITEM");
  await ApiService.postFormData("/JDFW5XUploader", "post", {}, formData);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoInputStyle;
.info-input {
  &-box {
    gap: 6px;
    position: relative;
  }

  &-item.single {
    width: 70%;
  }

  &-buttons {
    display: flex;
    gap: 6px;
    width: 30%;
    position: relative;

    .button {
      color: white;
      background-color: $main;
      height: 30px;
      border-radius: 5px;
      width: 50%;
      font-size: 11px;
    }

    .info-input-file-item {
      position: absolute;
      width: 60px;
      margin-left: -67px;
      z-index: 1;
      opacity: 0;
    }
  }
  &-choice {
    position: absolute;
    left: 0;
    width: 44px;
    height: 22px;
    background-color: #b8bec8;
    border-radius: 5px;
    font-size: 11px;
    left: -10px;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}
</style>
