<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	info-select-input.vue
 *  Description:    Info Area에서 사용되는 Select Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div
    v-click-outside="
      () => {
        if (showSelectList) {
          showSelectList = false;
        }
      }
    "
    class="info-input-container"
    ref="infoInputContainer">
    <label :class="['info-input-label', data.required ? 'required' : '', data.isHiddenInput ? 'hidden' : '', data.disabled ? 'disabled' : '']">
      <span v-if="koreanPattern.test(data.title)">{{ data.title }}</span>
      <span v-else>{{ $t("input-title." + data.title) }}</span>
      <i v-if="data.required || data.isHiddenInput" :class="['icon-required', data.isHiddenInput ? 'hidden' : '']"></i>
    </label>
    <div :class="[data.disabled ? 'disabled' : '', data.size, data.width, 'info-input-box']">
      <div class="info-input-sub-container info-input-select-container" :class="{ 'info-input-select-container-on': showSelectList }" v-for="(item, i) in data.ids" :key="i">
        <div :class="[data.size, 'info-input-item', 'info-input-select-item']" @click="showSelectList = !showSelectList">
          {{ selectedNm }}
          <i :class="['btn-dropbox-component', , showSelectList ? 'on' : '']"></i>
        </div>
        <!-- 유형 1 -->
        <template v-if="data.optionsKey">
          <ul
            ref="optionKeyRef"
            v-if="OptionDataStore.getOptionData()[data.optionsKey]?.length"
            class="info-input-select-list"
            :class="{ 'slide-down': showSelectList === true, 'slide-up': showSelectList === false, reversed: reversedSelectList }"
            tabindex="-1">
            <li
              v-for="(option, i) in OptionDataStore.getOptionData()[data.optionsKey]"
              :key="i"
              :class="['info-input-select-list-item', selectedNm && (selectedNm == option.CODE_NM || selectedNm == option.codeNm || selectedNm == option.name) ? 'on' : '']"
              @click="(ev) => setSelectedValue(option, item, ev)">
              {{ option.CODE_NM || option.codeNm || option.name }}
              <i v-if="selectedNm && (selectedNm == option.CODE_NM || selectedNm == option.codeNm || selectedNm == option.name)" class="dropbox-selected"></i>
            </li>
          </ul>
        </template>
        <!-- 유형 2 -->
        <template v-else-if="data.options">
          <ul ref="optionsRef" v-if="data.options?.length" :class="['info-input-select-list', showSelectList === true ? 'slide-down' : showSelectList === false ? 'slide-up' : '']" tabindex="-1">
            <li
              v-for="(option, i) in data.options"
              :key="i"
              :class="['info-input-select-list-item', selectedNm && selectedNm == option.name ? 'on' : '']"
              @click="(ev) => setSelectedValue(option, item, ev)">
              {{ option.name }}
              <i v-if="selectedNm && selectedNm == option.name" class="dropbox-selected"></i>
            </li>
          </ul>
        </template>
        <span class="info-input-text" v-for="(innerText, i) in data.innerTexts" :key="i">{{ innerText }}</span>
      </div>
      <button v-if="data.optionControlName" class="info-input-save button" @click="ctlClickedHandler(data.optionControlName)">
        {{ $t(`control-button-name.${data.optionControlName}`) }}
      </button>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useSelectedDataStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import type { IInfoInput, info } from "@/types";
import { onActivated, onBeforeMount, onDeactivated, onMounted, ref, watch } from "vue";
import { useI18n } from "vue-i18n";

// Variable Definitions
const INFO: info = {
  autoModal: true,
  autoModalPage: "",
  pk: "RNUM",
};
const { t } = useI18n();
const { data, focusOutUpdateData } = defineProps<{
  data: IInfoInput;
  focusOutUpdateData: () => void;
}>();
const OptionDataStore = useOptionDataStore();
const SelectedDataStore = useSelectedDataStore();
// view에 보여질 선택된 select값
const selectedNm = ref<string>(t("select-options.all"));
// select list show상태
const showSelectList = ref<boolean | null>(null);
const reversedSelectList = ref(false);
const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 다국어 아직 적용하지 못한 title 임시처리...
const infoInputContainer = ref<any>(null);
const inactive = ref<boolean>(false);
const emits = defineEmits(["changedEvent"]);
const optionKeyRef = ref(null);
const optionsRef = ref(null);

// Framework Function Definitions
onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
  showSelectList.value = null;
});

onBeforeMount(() => {
  data.options?.forEach((option: any) => {
    if (option.nameKey) {
      option.name = koreanPattern.test(option.nameKey) ? option.nameKey : t("select-options." + option.nameKey);
    }
  });
});

onMounted(() => {
  // input 정의 파일의 options 값과 서버에서 받아온 options 값 merge
  const setSelectBoxOptions = setInterval(() => {
    if (!UtilService.isEmptyObject(OptionDataStore.getOptionData())) {
      clearInterval(setSelectBoxOptions);
      if (data.options && data.optionsKey) {
        OptionDataStore.mergeOptionData(data.optionsKey, data.options);
      }
    }
  }, 500);
});

// User Function Definitions
watch(OptionDataStore._optionData, () => {
  if (!inactive.value) {
    // page 컴포넌트에서 불러온 options들을 스토어에 저장한 뒤 호출하기 위함
    // 마운트시 기본값 세팅 default value setting
    if (
      data.optionsKey &&
      data.optionsAutoSelected &&
      Object.hasOwn(data.optionsAutoSelected, "autoSelectedKeyIndex") &&
      String(data.optionsAutoSelected.autoSelectedKeyIndex).length > 0 &&
      !data.optionInit
    ) {
      const autoSelectedKeyIndex = data.optionsAutoSelected?.autoSelectedKeyIndex;

      if (Object.hasOwn(data.optionsAutoSelected, "autoSelectedKeyIndex")) {
        const options = OptionDataStore.getOptionData()[data.optionsKey];
        if (options) {
          setSelectedValue(options[autoSelectedKeyIndex || 0], data.ids[0]);
        }
      }
    }

    // 서버에서 select box option 값을 못가져왔을 경우
    if (data.optionsAutoSelected) {
      let option;
      const autoSelectedKeyIndex = data.optionsAutoSelected.autoSelectedKeyIndex;
      if (autoSelectedKeyIndex || autoSelectedKeyIndex === 0) {
        if (data.options) {
          option = data.options[autoSelectedKeyIndex];
        }
      }
      if (!UtilService.isEmptyObject(option)) {
        setSelectedValue(option, data.ids[0]);
      }
    }
  }
});

watch(OptionDataStore._availableWatchBySearchCondition, () => {
  if (!inactive.value) {
    if (OptionDataStore.getAvailableWatchBySearchCondition()) {
      // page 컴포넌트에서 불러온 options들을 스토어에 저장한 뒤 호출하기 위함
      // 마운트시 기본값 세팅 default value setting
      if (
        data.optionsKey &&
        data.optionsAutoSelected &&
        Object.hasOwn(data.optionsAutoSelected, "autoSelectedKeyIndex") &&
        String(data.optionsAutoSelected.autoSelectedKeyIndex).length > 0 &&
        !data.optionInit
      ) {
        const autoSelectedKeyIndex = data.optionsAutoSelected?.autoSelectedKeyIndex;
        setSelectedValue(OptionDataStore.getOptionData()[data.optionsKey!][autoSelectedKeyIndex!], data.ids[0]);
      }

      // 서버에서 select box option 값을 못가져왔을 경우
      if (data.optionsAutoSelected) {
        let option;
        const autoSelectedKeyIndex = data.optionsAutoSelected.autoSelectedKeyIndex;
        if (autoSelectedKeyIndex || autoSelectedKeyIndex === 0) {
          if (data.options) {
            option = data.options[autoSelectedKeyIndex];
          }
        }
        if (!UtilService.isEmptyObject(option)) {
          setSelectedValue(option, data.ids[0]);
        }
      }
      // OptionDataStore.setAvailableWatchBySearchCondition(false);

      setTimeout(() => {
        OptionDataStore.setAvailableWatchBySearchCondition(false);
      });
    }
  }
});

// 그리드 클릭시 select박스에 값 바인딩
watch(SelectedDataStore._selectedInfoData, () => {
  if (!inactive.value) {
    if (UtilService.isEmptyObject(SelectedDataStore.getSelectedInfoData())) {
      return;
    }
    // api로 options를 받아온경우
    if (data.optionsKey && OptionDataStore.getOptionData()[data.optionsKey]) {
      const filtered: any = OptionDataStore.getOptionData()[data.optionsKey].filter((option: any) => {
        if (Object.hasOwn(option, "codeNm")) {
          return SelectedDataStore.getSelectedInfoData()[data.ids[0]] === option.code;
        } else if (Object.hasOwn(option, "CODE_NM")) {
          return SelectedDataStore.getSelectedInfoData()[data.ids[0]] === option.CODE_CD;
        }
      });
      if (filtered[0]) {
        if (Object.hasOwn(filtered[0], "codeNm")) {
          selectedNm.value = filtered[0].codeNm;
        } else {
          selectedNm.value = filtered[0].CODE_NM;
        }
        chagnedHandler(filtered[0], data.ids[0], null);
      } else {
        selectedNm.value = "";
      }
    } else if (data.options) {
      // const currentOptionValue: any = data.options.filter((option) => {
      //   return option.nameKey === SelectedDataStore.getSelectedInfoData()[option.nameKey];
      // });
      const currentOptionValue: any = data.options.filter((option) => {
        return option.value === SelectedDataStore.getSelectedInfoData()[data.ids[0]];
      })[0];
      selectedNm.value = currentOptionValue?.name;
    }

    // options가 있고 autoSelected가 select일때 , 해당 키값의 value가 없는 경우 기본값을 선택으로 셋팅해준다
    if (data.options) {
      const hasSelectOption = data.options.some((option) => {
        return option.nameKey === "select";
      });
      if (hasSelectOption && !SelectedDataStore.getSelectedInfoData()[data.ids[0]]) {
        selectedNm.value = t("select-options.select");
      }
    }

    // 신규 데이터일경우 default value setting
    const pkType = typeof SelectedDataStore.getSelectedInfoData()[INFO.pk];
    const pk = SelectedDataStore.getSelectedInfoData()[INFO.pk] + "";
    if (pkType === "string" && pk.includes("temp") && !data.optionInit) {
      const autoSelectedKeyIndex = data.optionsAutoSelected?.autoSelectedKeyIndex;
      if (data.rowDataIds && (autoSelectedKeyIndex || autoSelectedKeyIndex === 0)) {
        setSelectedValue(OptionDataStore.getOptionData()[data.optionsKey!][autoSelectedKeyIndex], data.rowDataIds[0]);
        data.optionInit = true;
      }
    }
  }
});
watch(showSelectList, () => {
  if (!inactive.value) {
    if (showSelectList.value === true) {
      let routerContainer = document.querySelector(".router-container") as HTMLElement;
      let inputClientRect = infoInputContainer.value.getBoundingClientRect();
      reversedSelectList.value = routerContainer?.offsetHeight - inputClientRect.bottom < 100;
    }
  }
});

function ctlClickedHandler(item: string) {
  let optionListRef;
  if (data.optionsKey) {
    optionListRef = optionKeyRef;
  } else {
    optionListRef = optionsRef;
  }
  useEventBusStore().emit(`btn-${item}-clicked`, { data: data, optionTarget: optionListRef });
}

const setSelectedValue = (option: any, id: string, ev: any = null) => {
  if (selectedNm.value !== (option.name || option.codeNm || option.CODE_NM || option.LC_NM)) {
    chagnedHandler(ev, id, option);
    selectedNm.value = option.name || option.codeNm || option.CODE_NM || option.LC_NM;
    /**
     * select box [key, value]
     * name, value
     * codeNm, code
     * CODE_NM, CODE_CD
     * LC_NM, LC_NM
     */
    const key = id;
    const value = option.value === "" ? "" : option.value || option.code || option.CODE_CD || option.LC_NM;
    // value: 실제 서버로 전달될 value값

    SelectedDataStore.changeSelectedInfoData(key, value);
    focusOutUpdateData();
    if (ev) {
      showSelectList.value = false;
    }
  }
};
let currentOption: string = "";
const chagnedHandler = (e: any, id: string, option: Record<string, string> | null = null) => {
  const optionStr = JSON.stringify(option);
  if (currentOption !== optionStr) {
    currentOption = optionStr;
    emits("changedEvent", e, id, option);
  }
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoInputStyle;
.info-input-select-container-on {
  z-index: 6;
}
.info-input-select-unmount-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  z-index: 5;
}
.button {
  margin-left: 10px;
  color: white;
  background-color: $main;
  height: 30px;
  border-radius: 5px;
  width: 50%;
  font-size: 11px;
}
</style>
