<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	info-text-input.vue
 *  Description:    Info Area에서 사용되는 Text Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div :class="[`info-input-container ${data.disabled ? 'disabled' : ''}`]">
    <label :class="['info-input-label', data.required ? 'required' : '', data.isHiddenInput ? 'hidden' : '']">
      <span>{{ $t("input-title." + data.title) }}</span>
      <i v-if="data.required || data.isHiddenInput" :class="['icon-required', data.isHiddenInput ? 'hidden' : '']"></i>
    </label>
    <div :class="[data.size, data.width, 'info-input-box']">
      <div class="info-input-sub-container" v-for="(item, i) in data.rowDataIds" :key="i">
        <input
          type="number"
          ref="textInput"
          :class="[data.isReadonly ? 'readonly' : '', data.size, 'info-input-item', data.title === 'user-ID' ? 'user-ID' : '']"
          :readonly="data.isReadonly"
          v-model="inputValue"
          :value="setInputValue(data, i)"
          @input="
            (e) => {
              chagnedHandler(e, item, data.overapCheck);
            }
          "
          @change="
            (e) => {
              changeValueHandler(e, item);
              focusOutUpdateData();
            }
          " />
        <span class="info-input-text" v-for="(innerText, i) in data.innerTexts" :key="i">{{ innerText }}</span>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { useSelectedDataStore } from "@/store";
import { IInfoInput } from "@/types";
import { debounce } from "lodash";
import { ref, watch } from "vue";

// Variable Definitions
const { data, focusOutUpdateData } = defineProps<{
  data: IInfoInput;
  focusOutUpdateData: () => void;
}>();
const emits = defineEmits(["changedEvent"]);

// Framework Function Definitions
// User Function Definitions
const changeValueHandler = (e: Event, key: string) => {
  const target = e.target as HTMLInputElement;
  useSelectedDataStore().changeSelectedInfoData(key, target.value);
};

/**
 * input 이벤트 핸들러
 */
const chagnedHandler = debounce((e: Event, key: string, overapCheckVal?: boolean) => {
  emits("changedEvent", e, key, overapCheckVal);
}, 100);

const inputValue = ref("");
watch(useSelectedDataStore()._selectedInfoData, () => {
  const value = setInputValue(data, 0);
  if (value && inputValue.value !== value) {
    inputValue.value = value;
  }
});

function setInputValue(inputDef: any, index: any) {
  const ids = inputDef.rowDataIds;
  const id = inputDef.rowDataIds[0];
  if (inputDef.rowDataIds && inputDef.rowDataIds[0] && Object.hasOwn(useSelectedDataStore().getSelectedInfoData(), id)) {
    if (String(useSelectedDataStore().getSelectedInfoData()[id]).includes("temp") || Object.keys(useSelectedDataStore().getSelectedInfoData()).length === 0) {
      return "";
    }
    if (ids.length > 1) {
      if (Object.hasOwn(useSelectedDataStore().getSelectedInfoData(), ids[index])) {
        return useSelectedDataStore().getSelectedInfoData()[ids[index]];
      }
    } else {
      if (Object.hasOwn(useSelectedDataStore().getSelectedInfoData(), id)) {
        return useSelectedDataStore().getSelectedInfoData()[id];
      }
    }
  }
  return "";
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoInputStyle;

.user-ID {
  width: 49% !important;
}
</style>
