<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	info-color-input.vue
 *  Description:    Info Area에서 사용되는 Color Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="info-input-container">
    <label :class="['info-input-label', data.required ? 'required' : '', data.isHiddenInput ? 'hidden' : '']">
      <span v-if="koreanPattern.test(data.title)">{{ data.title }}</span>
      <span v-else>{{ $t("input-title." + data.title) }}</span>
      <i v-if="data.required || data.isHiddenInput" :class="['icon-required', data.isHiddenInput ? 'hidden' : '']"></i>
    </label>
    <div v-if="data.isEmail === undefined" :class="['info-input-box', data.size, data.width]">
      <div class="info-input-sub-container" v-for="(item, i) in data.ids" :key="i">
        <input type="text" :class="['info-input-item color-text']" :value="getStyle(item)"/>
        <input id="color-input" type="color" @change="((e: any) => {setStyle(item, e)})" :value="getStyle(item)" />
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { useSelectedDataStore } from '@/store';
import { IInfoInput } from '@/types';
import { ref } from 'vue';

// Variable Definitions
const { data } = defineProps<{
  data: IInfoInput;
}>();
const colorValue = ref<string>('');
const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;  // 다국어 아직 적용하지 못한 title 임시처리...

// Framework Function Definitions

// User Function Definitions
function setStyle (key: string, e: any) {
  colorValue.value = e.target.value;
  useSelectedDataStore().changeSelectedInfoData(key, colorValue.value);
}

function getStyle (key: string) {
  return useSelectedDataStore().getSelectedInfoData()[key];
}

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoInputStyle;

.info-input-sub-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 7px;
}

.color-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}
.color-text {
  width: 85%;
}
.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}
.color-input::-moz-color-swatch {
  border-radius: 15px;
  border: none;
  border-radius: 5px;
}
.color-input-label {
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}
</style>
