<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	modal-input.vue
 *  Description:    Info Area에서 사용되는 Modal Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <li :class="[data.width, 'modal-input']">
    <label class="modal-input-label" for="">
      <span v-if="koreanPattern.test(data.title)">{{ data.title }}</span>
      <span v-else>{{ $t("modal-input-title." + data.title) }}</span>
    </label>
    <input v-if="data.type === 'text'" type="text" id="modal-input" class="modal-input-item" :value="searchInputValue" @input="(e) => setInputValue(data.id, e)" />
    <div
      v-if="data.type === 'select'"
      v-click-outside="
        () => {
          if (showSelectList) {
            showSelectList = false;
          }
        }
      "
      :class="[`select-input  ${data.optionsReadOnly ? 'disabled' : ''}`]"
    >
      <div :class="[`modal-input-item  select-input-item`]" @click="showSelectList = !showSelectList">
        {{ selectedValue }}
      </div>
      <i @click="showSelectList = !showSelectList" :class="['btn-dropbox-component', , showSelectList ? 'on' : '']"></i>
      <ul v-if="data.optionsKey && OptionDataStore.getOptionData()[data.optionsKey]" :class="['search-select-list', showSelectList === true ? 'slide-down' : showSelectList === false ? 'slide-up' : '']" tabindex="-1">
        <li v-for="(option, i) in OptionDataStore.getOptionData()[data.optionsKey]" :key="i" :class="['search-select-item', selectedValue && (option.name === selectedValue || option.codeNm == selectedValue || option.CODE_NM == selectedValue) ? 'on' : '']" @click="setSelectValue(option, $event)">
          {{ option.name || option.codeNm || option.CODE_NM || option.LC_NM }}
          <i v-if="selectedValue && (option.name === selectedValue || option.codeNm == selectedValue || option.CODE_NM == selectedValue)" class="dropbox-selected"></i>
        </li>
      </ul>
      <ul v-else-if="data.options" :class="['search-select-list', showSelectList === true ? 'slide-down' : showSelectList === false ? 'slide-up' : '']" tabindex="-1">
        <li v-for="(option, j) in data.options" :key="j" :class="['search-select-item', selectedValue && option.name == selectedValue ? 'on' : '']" @click="setSelectValue(option, $event)">
          {{ option.name }}
          <i v-if="selectedValue && option.name == selectedValue" class="dropbox-selected"></i>
        </li>
      </ul>
    </div>
    <!-- search일때-->
    <div class="search" v-if="data.type === 'search'">
      <button class="search-button" @click.prevent="showChildrenModal">
        <i class="btn-search-component"></i>
      </button>
      <div class="search-input-list">
        <input @input="(e) => setInputValue(data.title, e)" :value="SelectedDataStore.getSelectedModalData()[data.title]?.[data.searchRowDataIds![0]] || ''" class="search-input-item modal-input-item" />
        <input @input="(e) => setInputValue(data.searchIds![1], e)" :value="SelectedDataStore.getSelectedModalData()[data.title]?.[data.searchRowDataIds![1]] || ''" class="search-input-item modal-input-item" />
      </div>
    </div>
  </li>
  <!-- <Teleport to="body">
    <search-modal v-if="isOpenChildrenModal" :columnDefs="data." :modalData="modalData2" @closeSearchModal="closeSearchModal" />
  </Teleport> -->
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { debounce } from "lodash";
import { onDeactivated, onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";

import type { GridOptions, IServerSideGetRowsParams } from "ag-grid-community";

import { ApiService } from "@/services/api-service";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { IModalInput } from "@/types";


// Variable Definitions
const { t } = useI18n();
const { data, gridOptions, apis, changeChildrenModal } = defineProps<{
  data: IModalInput;
  gridOptions: GridOptions;
  apis: any;
  changeChildrenModal?: any;
}>();
const SearchConditionStore = useSearchConditionStore();
const SelectedDataStore = useSelectedDataStore();
// let selectInputValue = ref<string>('');
const showSelectList = ref<boolean | null>(null);
const searchInputValue = ref(Object.hasOwn(SearchConditionStore.getModalSearchInputValue(), data.id) ? SearchConditionStore.getModalSearchInputValue()[data.id] : SearchConditionStore.getSearchInputValue()[data.searchContainerInputId || ""]);
const selectedValue = ref<string>(t("select-options.all"));
const OptionDataStore = useOptionDataStore();
const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 다국어 아직 적용하지 못한 title 임시처리...
const isOpenChildrenModal = ref(false);

// Framework Function Definitions
// searchinput에서 포커스아웃되었을때 api결과값이 두개 이상일때 모달이 마운트 되면서 호출
const params = Object.assign({}, apis.params);
onMounted(() => {
  if (searchInputValue.value) {
    setInputValue(data.id, undefined, String(searchInputValue.value));
    params[data.id] = SearchConditionStore.getModalSearchInputValue()[data.id] || "";
    const apiData = apis.data;
    const url = apis.url;
    debounce(async () => {
      const result = await ApiService.postApi(url, params, apiData);
      gridOptions.api?.setServerSideDatasource({
        getRows: async (params: IServerSideGetRowsParams) => {
          params.successCallback(result.result.list, result.result.totCnt);
        },
      });
    }, 1000);
  }

  // selectbox option 다국어 적용
  data.options?.forEach((option: any) => {
    if (option.nameKey) {
      option.name = t("select-options." + option.nameKey);
    }
  });
  // selectbox option 없을 경우 서버에서 받아온 option 적용 // remove todo (각 페이지 input.ts 의 SEARCH_MODAL_INFO 의 inputs에 optionsKey 값 or options 설정해줘야함)
  if (!data.options && !data.optionsKey) {
    const options = [] as any;
    if (data.id === "vrSrchItemGrp") {
      OptionDataStore.getOptionData().ITEMGRP?.forEach((optionItem: any) => {
        options.push({ name: optionItem.CODE_NM, value: optionItem.CODE_CD });
      });
    } else if (data.id === "vrSrchSetItemYn") {
      OptionDataStore.getOptionData().S_SET_ITEM_YN?.forEach((optionItem: any) => {
        options.push({ name: optionItem.codeNm, value: optionItem.code });
      });
    } else if (data.id === "PACKING_BOX_TYPE_NM_T3" || data.id === "vrSrchPoolGrp" || data.id === "S_POOL_GRP_ID") {
      options.push({ name: "전체", nameKey: "all", value: "" });
      OptionDataStore.getOptionData().POOLGRP?.forEach((optionItem: any) => {
        options.push({ name: optionItem.CODE_NM, value: optionItem.CODE_CD });
      });
    }
    data.options = options;
  }
  // input 정의 파일의 options 값과 서버에서 받아온 options 값 merge
  const setSelectBoxOptions = setInterval(() => {
    if (OptionDataStore.getOptionData()) {
      clearInterval(setSelectBoxOptions);
      if (data.options && data.optionsKey) {
        // main search 영역에서 이미 options 값을 merge하여 중복 option 발생 가능하므로 중복 option 제거해준다.
        const mergeOptions = [...data.options, ...OptionDataStore.getOptionData()[data.optionsKey]];
        // OptionDataStore.changeOptionData(data.optionsUniqueKey, Array.from(new Set(mergeOptions))); // Line:205 타입 에러 수정, 같은 깊은 복사 동작
        // OptionDataStore.changeOptionData(data.optionsUniqueKey, [...new Set(mergeOptions.map(JSON.stringify))].map(JSON.parse));
      } else if (data.options && data.optionsKey && OptionDataStore.getOptionData()[data.optionsKey]) {
        const mergeOptions = [...data.options, ...OptionDataStore.getOptionData()[data.optionsKey]];
        OptionDataStore.changeOptionData(data.optionsKey, Array.from(new Set(mergeOptions)));
        // OptionDataStore.changeOptionData(data.optionsKey, [...new Set(mergeOptions.map(JSON.stringify))].map(JSON.parse));
      }
    }
  }, 500);

  if (data.optionsAutoSelected) {
    // options만 존재할때
    if (data.options && !data.optionsKey) {
      setSelectValue(data.options[data.optionsAutoSelected!.autoSelectedKeyIndex!]);
    }
  }
});

onDeactivated(() => {
  showSelectList.value = null;
});

// User Function Definitions
function closeSearchModal(value: boolean) {
  isOpenChildrenModal.value = value;
}

function showChildrenModal() {
  if (changeChildrenModal) {
    changeChildrenModal(true);
  }
}

function setInputValue(key: string, e?: Event, value?: string) {
  if (e) {
    // 인풋에 직접 값을 입력했을때
    const target = e.target as HTMLInputElement;
    SearchConditionStore.changeModalInputValue(key, target.value);
  } else if (value) {
    // 다른 값을 참조해 값을 변경했을때
    SearchConditionStore.changeModalInputValue(key, value);
  }
}

function setSelectValue(option: any, ev: any = null) {
  selectedValue.value = option.name || option.value || option.codeNm || option.CODE_NM || option.LC_NM;
  SearchConditionStore.changeModalInputValue(data.id, option.value || option.codeNm || option.CODE_CD || option.LC_NM);
  if (ev) {
    showSelectList.value = false;
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.triple {
  width: calc(100% / 3 - 14px);
  .modal-input-item {
    width: 68%;
  }
}
.half {
  width: calc(50% - 7px);
  .modal-input-item {
    width: 68%;
  }
}
.single {
  width: 100%;
  .modal-input-label {
    width: 10%;
  }
  .modal-input-item {
    width: 90%;
  }
}

.modal-input {
  position: relative;
  background-color: #f6f7fc;
  padding: 5px 8px 5px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #d5dce6;
    width: 5px;
    height: 100%;
  }

  &-label {
    @include labelStyle;
    width: 32%;
  }
  &-item {
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

.select-input {
  position: relative;
  width: 68%;
  background-color: #fff;
  border-radius: 10px;
}
.select-input-item {
  @include ellipsis;
  width: 100% !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 35px;
  padding-right: 25px;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}
.search-select {
  &-list {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    max-height: 442px;
    font-size: 15px;
    word-break: break-all;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
    background-color: white;
    box-sizing: border-box;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    outline: none;
    opacity: 0;
    transform: scaleY(0);
    &.slide-up {
      @include slideUpAnimation;
    }
    &.slide-down {
      @include slideDownAnimation;
    }
  }
  &-img {
    position: absolute;
    right: 14px;
    top: 7px;
    transition: 0.2s ease;
    transform: rotate(0deg);
    cursor: pointer;
    &.on {
      transform: rotate(180deg);
    }
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 20px;
    padding-right: 25px;
    margin: 0 -10px;
    box-sizing: border-box;
    &:hover {
      background-color: #f6f7fc;
      cursor: pointer;
    }
    &.on {
      color: $main;
      font-weight: bold;
      > i {
        position: absolute;
        right: 7px;
      }
    }
  }
}

.search {
  display: flex;
  justify-content: flex-end;

  &-button {
    position: absolute;
    left: 90px;
    top: 10px;
    background-color: $bg-gray2;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    &:hover {
      background-color: #b8bec8;
    }
  }
  &-input {
    &-list {
      width: 75%;
      display: flex;
      gap: 6px;
    }
    &-item {
      width: 50% !important;
    }
  }
}
</style>
