<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	search-container-input.vue
 *  Description:    Search Area에서 사용되는 Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <search-modal v-if="showModal && modalData" :modalData="modalData" :columnDefs="columnDefs" :pageInfo="pageInfo" :searchContainerInputDefs="data" @closeSearchModal="showModal = false" />
  <!--한줄에 input이 2개, 3개인경우 구분-->
  <div :class="[{ 'hidden-input': data.hidden }, { 'unused-input': data.isUnused }, 'search', data.width, isShowInput ? `input-item-is-${isShowInput}` : '']">
    <!--필수 유무-->
    <i v-if="data.required" class="required icon-required"> </i>

    <!-- Search Title (다국어 처리) -->
    <span v-if="UtilService.isEmptyString(data.title)">{{ data.title }}</span>
    <span v-else-if="koreanPattern.test(data.title)" class="search-title">{{ data.title }}</span>
    <span v-else class="search-title">{{ t("input-title." + data.title) }}</span>

    <!-- Contents -->
    <div class="search-input" :class="[{ 'no-title': UtilService.isEmptyString(data.title) }]" :style="data.style">
      <!--검색 아이콘 유무-->
      <button v-if="data.isSearch" :class="[data.disabled, 'search-input-button']" @click.prevent="changeShowModal">
        <i class="btn-search-component"></i>
      </button>
      <div
        v-for="(typeName, i) in data.types"
        :key="i"
        :class="{
          'input-width-single': data.types?.length === 1,
          'input-width-double': data.types?.length === 2,
          'input-width-triple': data.types?.length === 3,
          date: typeName === 'date',
        }">
        <!-- [1] input type이 text or date인 경우-->
        <input
          v-if="typeName === 'text' || typeName === 'date' || typeName === 'month'"
          max="9999-12-31"
          id="search-container-input"
          class="text-date-input"
          :class="[`${data.disabled} ${data.types?.length === 2 ? 'double' : ''} search-input-item search-input-item-select`]"
          :type="typeName"
          :value="setInputValue(i)"
          :placeholder="data.placeholder ? t('input-placeholder.' + data.placeholder[i]) : ''"
          @change="
            (e) => {
              changeSearchInputValue(e, data.ids[i], data.isModal);
              if (data.isSearch) {
                focusOutSearchEvent(e, data, data.ids[i], data.searchApiKeys[i]);
              }
            }
          " />

        <!-- [2] input textarea인 경우-->
        <textarea
          v-else-if="typeName === 'textarea'"
          id="search-container-textarea"
          class="text-date-input"
          :class="[`${data.disabled} ${data.types?.length === 2 ? 'double' : ''} search-input-item search-input-item-select`]"
          :type="typeName"
          :value="setInputValue(i)"
          @change="
            (e) => {
              changeSearchInputValue(e, data.ids[i], data.isModal);
            }
          "></textarea>

        <!-- [3] input type이 select인 경우 -->
        <div
          v-else-if="typeName === 'select-box'"
          class="search-input-item"
          v-click-outside="
            () => {
              if (isShowOptions) {
                isShowOptions = false;
              }
            }
          "
          :class="{ 'options-position-top': data.optionsPosition === 'top', single: data.types?.length === 1, double: data.types?.length === 2, disabled: data.optionsReadOnly }">
          <div @click="() => changeIsShowOptions()" class="select search-input-item-input" :class="data.disabled">
            {{ selectedValue }}
          </div>
          <i @click="() => changeIsShowOptions()" :class="['btn-dropbox-component', isShowOptions ? 'on' : '', data.disabled]"></i>
          <ul
            v-if="data.optionsKey && useOptionDataStore().getOptionData()[data.optionsKey]"
            :class="['search-select-list', isShowOptions ? 'slide-down' : isShowOptions ? 'slide-up' : '']"
            tabindex="-1">
            <li
              v-for="(option, i) in useOptionDataStore().getOptionData()[data.optionsKey]"
              :key="i"
              :class="[
                'search-select-item',
                {
                  on:
                    useTabsStore().selectedTab.value?.id === 'WMSYS030' && data.ids[0] === 'vrCustSeq'
                      ? getWMSTS030OptiuonsValue(option.CUST_SEQ)
                      : selectedValue &&
                        ((option.nameKey ? t(`select-options.${option.nameKey}`) : undefined) === selectedValue ||
                          option.name === selectedValue ||
                          option.codeNm === selectedValue ||
                          option.CODE_NM === selectedValue ||
                          option.LC_NM === selectedValue ||
                          option.ZONE_NM === selectedValue ||
                          option.REMARK === selectedValue ||
                          option.CODE_CD === selectedValue),
                },
              ]"
              @click="setSelectValue(option, $event)">
              {{
                option.nameKey
                  ? t(`select-options.${option.nameKey}`)
                  : undefined || option.name || option.codeNm || option.CODE_NM || option.LC_NM || option.ZONE_NM || option.REMARK || option.CODE_CD
              }}
              <i
                v-if="
                  useTabsStore().selectedTab.value?.id === 'WMSYS030' && data.ids[0] === 'vrCustSeq'
                    ? getWMSTS030OptiuonsValue(option.CUST_SEQ)
                    : selectedValue &&
                      ((option.nameKey ? t(`select-options.${option.nameKey}`) : undefined) === selectedValue ||
                        option.name === selectedValue ||
                        option.codeNm == selectedValue ||
                        option.CODE_NM == selectedValue ||
                        option.LC_NM == selectedValue ||
                        option.ZONE_NM == selectedValue ||
                        option.REMARK === selectedValue ||
                        option.CODE_CD === selectedValue)
                "
                class="dropbox-selected"></i>
            </li>
          </ul>
          <ul v-else-if="data.options" :class="['search-select-list', isShowOptions ? 'slide-down' : isShowOptions ? 'slide-up' : '']" tabindex="-1">
            <li
              v-for="(option, j) in data.options"
              :key="j"
              :class="['search-select-item', selectedValue && t(`select-options.${option.nameKey}`) == selectedValue ? 'on' : '']"
              @click="setSelectValue(option, $event)">
              {{ t(`select-options.${option.nameKey}`) }}
              <i v-if="selectedValue && option.name == selectedValue" class="dropbox-selected"></i>
            </li>
          </ul>
        </div>
        <div
          v-else-if="typeName === 'select-box2'"
          class="search-input-item"
          v-click-outside="
            () => {
              if (isShowOptions2) {
                isShowOptions2 = false;
              }
            }
          "
          :class="{ single: data.types?.length === 1, double: data.types?.length === 2, disabled: data.optionsReadOnly }">
          <div @click="() => changeIsShowOptions2()" class="select search-input-item-input" :class="data.disabled">
            {{ selectedValue2 }}
          </div>
          <i @click="() => changeIsShowOptions2()" :class="['btn-dropbox-component', isShowOptions2 ? 'on' : '', data.disabled]"></i>
          <ul
            v-if="data.optionsKey2 && useOptionDataStore().getOptionData()[data.optionsKey2]"
            :class="['search-select-list', isShowOptions2 ? 'slide-down' : isShowOptions2 ? 'slide-up' : '']"
            tabindex="-1">
            <li
              v-for="(option, i) in useOptionDataStore().getOptionData()[data.optionsKey2]"
              :key="i"
              :class="[
                'search-select-item',
                selectedValue2 &&
                ((option.nameKey ? t(`select-options.${option.nameKey}`) : undefined) === selectedValue2 ||
                  option.name === selectedValue2 ||
                  option.codeNm === selectedValue2 ||
                  option.CODE_NM === selectedValue2 ||
                  option.LC_NM === selectedValue2 ||
                  option.ZONE_NM === selectedValue2 ||
                  option.REMARK === selectedValue2 ||
                  option.CODE_CD === selectedValue2)
                  ? 'on'
                  : '',
              ]"
              @click="setSelectValue2(option, $event)">
              {{
                option.nameKey
                  ? t(`select-options.${option.nameKey}`)
                  : undefined || option.name || option.codeNm || option.CODE_NM || option.LC_NM || option.ZONE_NM || option.REMARK || option.CODE_CD
              }}
              <i
                v-if="
                  selectedValue2 &&
                  ((option.nameKey ? t(`select-options.${option.nameKey}`) : undefined) === selectedValue2 ||
                    option.name === selectedValue2 ||
                    option.codeNm == selectedValue2 ||
                    option.CODE_NM == selectedValue2 ||
                    option.LC_NM == selectedValue2 ||
                    option.ZONE_NM == selectedValue2 ||
                    option.REMARK === selectedValue2 ||
                    option.CODE_CD === selectedValue2)
                "
                class="dropbox-selected"></i>
            </li>
          </ul>
          <ul v-else-if="data.options" :class="['search-select-list', isShowOptions2 ? 'slide-down' : isShowOptions2 ? 'slide-up' : '']" tabindex="-1">
            <li v-for="(option, j) in data.options" :key="j" :class="['search-select-item', selectedValue2 && option.name == selectedValue2 ? 'on' : '']" @click="setSelectValue2(option, $event)">
              {{ option.name }}
              <i v-if="selectedValue2 && option.name == selectedValue2" class="dropbox-selected"></i>
            </li>
          </ul>
        </div>

        <!-- [4] input 타입이 check-box or 라디오 버튼으로 사용된(class로 ui를 구분) 경우-->
        <div
          v-if="typeName === 'check-box' && data.checkboxLabelTitles && data.checkboxLabelTitles.length > 0"
          :class="[{ 'selected-radio-box': data.isRadioBox && useSearchConditionStore().getSearchInputValue()[data.ids[i]] === data.checkboxCheckedValue![i] }, 'search-checkbox-container']">
          <input
            :class="[data.isRadioBox ? 'search-radio-item' : 'search-checkbox-item']"
            type="checkbox"
            name=""
            :id="data.checkboxLabelTitles[i]"
            :checked="
              useSearchConditionStore().getSearchInputValue().hasOwnProperty(data.ids[i]) && useSearchConditionStore().getSearchInputValue()[data.ids[i]] === data.checkboxCheckedValue![i]
                ? true
                : false
            "
            @change="(e) => changeCheckboxValue(e, data.ids[i], data.checkboxCheckedValue![i])" />
          <i class="circle"></i>
          <label class="search-checkbox-label" :for="data.checkboxLabelTitles![i]">{{
            data.hasOwnProperty("checkboxLabelTitles") && data.checkboxLabelTitles ? t(`input-title.${data.checkboxLabelTitles[i]}`) : ""
          }}</label>
        </div>

        <!-- [5] input 타입이 multi-select 경우-->
        <div v-if="typeName === 'multi-select'">
          <multiselect v-model="selectedOptions" :options="values" :multiple="true" @update:modelValue="multiSelectInput" placeholder="" class="custom-selection"></multiselect>
        </div>
        <!-- [6] input 타입이 exclusive-checkbox 경우-->
        <div v-if="typeName === 'exclusive-checkbox' && data.checkboxLabelTitles && data.checkboxLabelTitles.length" class="search-checkbox-container">
          <!-- 한 번만 렌더링되도록 조건 처리 -->
          <div v-if="filteredExclusiveIndexes[0] !== null && filteredExclusiveIndexes[1] !== null && i === 0">
            <!-- First exclusive checkbox -->
            <input
              type="checkbox"
              :id="data.checkboxLabelTitles[filteredExclusiveIndexes[0]]"
              :value="exclusiveCheckboxValues[data.ids[filteredExclusiveIndexes[0]]]"
              :checked="exclusiveCheckboxValues[data.ids[filteredExclusiveIndexes[0]]]"
              @change="() => updateExclusiveCheckbox(data.ids[filteredExclusiveIndexes[0]], data.ids[filteredExclusiveIndexes[1]])"
              class="search-checkbox-item" />
            <i class="circle"></i>
            <label class="search-checkbox-label" :for="data.checkboxLabelTitles[filteredExclusiveIndexes[0]]">{{ t(`input-title.${data.checkboxLabelTitles[filteredExclusiveIndexes[0]]}`) }}</label>

            <!-- Second exclusive checkbox -->
            <input
              type="checkbox"
              :id="data.checkboxLabelTitles[filteredExclusiveIndexes[1]]"
              :checked="exclusiveCheckboxValues[data.ids[filteredExclusiveIndexes[1]]]"
              @change="() => updateExclusiveCheckbox(data.ids[filteredExclusiveIndexes[1]], data.ids[filteredExclusiveIndexes[0]])"
              class="search-checkbox-item" />
            <i class="circle"></i>
            <label class="search-checkbox-label" :for="data.checkboxLabelTitles[filteredExclusiveIndexes[1]]">{{ t(`input-title.${data.checkboxLabelTitles[filteredExclusiveIndexes[1]]}`) }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { SearchModal } from "@/popups";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { ISearchInput } from "@/types";
import { onActivated, onDeactivated, onMounted, reactive, ref, toRef, watch } from "vue";
import { useI18n } from "vue-i18n";
import multiselect from "vue-multiselect";

import "vue-multiselect/dist/vue-multiselect.css";
import { useToast } from "vue-toastification";
// Variable Definitions
const { t } = useI18n();
const { index, data, columnDefs, modalData, modalType, pageInfo, isShowInput } = defineProps<{
  index?: number;
  data: ISearchInput;
  columnDefs?: any;
  modalData?: any;
  modalType?: any;
  pageInfo?: any;
  isShowInput?: "show" | "hidden";
}>();

const values = data.options?.map((option) => option.value);

const isShowOptions = ref<boolean>(false);
const isShowOptions2 = ref<boolean>(false);
const selectedValue = ref<string>(t("select-options.all"));
const selectedValue2 = ref<string>(t("select-options.all"));
// 모달 show상태 기존 ref(false) 에서 모달이 열리는 조건(포커스아웃, 검색아이콘클릭)을 구분하기 위해 구조변경
// 위의 내용 구분할 필요없이 코드수정으로 해결 다시 불리언으로 변경
const showModal = ref<boolean>(false);
const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 다국어 아직 적용하지 못한 title 임시처리...
const emits = defineEmits(["selectedValue", "multipleSelectedValue"]);
const setIntervalCount = reactive({
  autoSelectedOption: 0 as number,
  autoSelectedOption2: 0 as number,
  mergeSelectedOptions: 0 as number,
  mergeSelectedOptions2: 0 as number,
  autoSelectedOptionByOtherPageInfo: 0 as number,
});
const inactive = ref<boolean>(false);

// Framework Function Definitions
onActivated(() => {
  inactive.value = false;
  setSelectBoxDataByAnotherPageDatas();
});

onDeactivated(() => {
  inactive.value = true;
});

onMounted(async () => {
  // selectbox option 다국어 적용
  data.options?.forEach((option: any) => {
    if (option.nameKey) {
      option.name = t("select-options." + option.nameKey);
    }
  });

  if (data.types) {
    // date input 초기값 설정
    const today = UtilService.getToday();
    for (let i = 0; data.types.length > i; i++) {
      if (data.types[i] === "date") {
        if (!useSearchConditionStore().getSearchInputValue()[data.ids[i]]) {
          useSearchConditionStore().changeSearchInputValue(data.ids[i], today);
        }
      }
    }
  }

  // 페이지에 접근하자마자 모달을 띄워주는 경우
  if (pageInfo?.autoModal && pageInfo?.autoModalPage === modalData?.page) {
    showModal.value = true;
  }

  // 체크박스 자동 체크상태 변경
  if (data.checkboxAutoChecked && Object.hasOwn(data, "checkboxAutoChecked") && data.checkboxCheckedValue && Object.hasOwn(data, "checkboxCheckedValue")) {
    for (let i = 0; data.checkboxAutoChecked.length > i; i++) {
      const id = data.ids[Number(data.checkboxAutoChecked[i])];
      const value = data.checkboxCheckedValue[Number(data.checkboxAutoChecked[i])];
      changeCheckboxValue(null, id, value);
    }
  }

  // merge가 필요한 input에게만 해당
  if (data.optionsKey && data.options) {
    // input 정의 파일의 options 값과 서버에서 받아온 options 값 merge, 10초 이내에 받아온 options에 해당 500ms * 20
    const setSelectBoxOptions = setInterval(mergeOptions, 500);

    function mergeOptions() {
      setIntervalCount.mergeSelectedOptions++;
      if (setIntervalCount.mergeSelectedOptions > 20) {
        setIntervalCount.mergeSelectedOptions = 0;
        clearInterval(setSelectBoxOptions);
        data.optionMerge = false;
      }

      if (!UtilService.isEmptyObject(useOptionDataStore().getOptionData())) {
        if (useOptionDataStore().getOptionData()[data.optionsKey!]) {
          clearInterval(setSelectBoxOptions);
        }

        if (data.optionMerge !== false) {
          if (data.options && data.optionsKey) {
            useOptionDataStore().mergeOptionData(data.optionsKey, data.options);
          }
        }
      }
    }
  }

  // input 정의 파일의 options2 값과 서버에서 받아온 options 값 merge
  if (data.types![1] === "select-box2" || data.types![2] === "select-box2") {
    const setSelectBoxOptions2 = setInterval(() => {
      setIntervalCount.mergeSelectedOptions2++;
      if (setIntervalCount.mergeSelectedOptions2 > 10) {
        setIntervalCount.mergeSelectedOptions2 = 0;
        clearInterval(setSelectBoxOptions2);
      }
      if (!UtilService.isEmptyObject(useOptionDataStore().getOptionData())) {
        clearInterval(setSelectBoxOptions2);
        if (data.optionMerge2 !== false) {
          if (data.options2 && data.optionsKey2) {
            // useOptionDataStore().optionData.value[data.optionsKey2] = [...data.options, ...useOptionDataStore().optionData.value[data.optionsKey2]];
            useOptionDataStore().mergeOptionData(data.optionsKey2, data.options2);
          }
          data.optionMerge2 = false;
        }
      }
    }, 500);
  }

  if (data.optionsAutoSelected) {
    // select-box option 자동 선택
    const setOptionsAutoSelected = setInterval(() => {
      setIntervalCount.autoSelectedOption++;
      //! 서버 응답을 기다리는 횟수(20) 동안 대기
      if (setIntervalCount.autoSelectedOption > 20) {
        //   setIntervalCount.autoSelectedOption = 0;
        clearInterval(setOptionsAutoSelected);

        //   // 서버에서 select box option 값을 못가져왔을 경우
        //   if (data.optionsAutoSelected) {
        //     let option;
        //     const autoSelectedKeyIndex = data.optionsAutoSelected.autoSelectedKeyIndex;
        //     if (autoSelectedKeyIndex || autoSelectedKeyIndex === 0) {
        //       if (data.options) {
        //         option = data.options[autoSelectedKeyIndex];
        //       }
        //     } else {
        //       option = data.optionsAutoSelected;
        //     }
        //     if (!UtilService.isEmptyObject(option)) {
        //       setSelectValue(option);
        //     }
        //   }
      }

      // 기본설정값 (메타에 정의된 값)
      if (data.options && data.options.length > 0) {
        if (data.optionsAutoSelected) {
          let option;
          const autoSelectedKeyIndex = data.optionsAutoSelected.autoSelectedKeyIndex;
          if (autoSelectedKeyIndex || autoSelectedKeyIndex === 0) {
            if (data.options) {
              option = data.options[autoSelectedKeyIndex];
            }
          } else {
            option = data.optionsAutoSelected;
          }
          if (!UtilService.isEmptyObject(option)) {
            setSelectValue(option);
          }
        }
      }

      //! 각 페이지 별 비동기 데이터 바인딩을 위한 인터벌 조건
      if (!UtilService.isEmptyObject(useOptionDataStore().getOptionData())) {
        // 서버에서 select box option 값을 가져왔을 경우
        clearInterval(setOptionsAutoSelected);
        if (data.optionsAutoSelected) {
          let option;
          const autoSelectedKeyIndex = data.optionsAutoSelected.autoSelectedKeyIndex;
          if (autoSelectedKeyIndex || autoSelectedKeyIndex === 0) {
            if (!UtilService.isEmptyObject(useOptionDataStore().getOptionData()[data.optionsKey!])) {
              option = useOptionDataStore().getOptionData()[data.optionsKey!][autoSelectedKeyIndex];
            } else if (data.options) {
              option = data.options[autoSelectedKeyIndex];
            }
          } else {
            option = data.optionsAutoSelected;
          }
          if (!UtilService.isEmptyObject(option)) {
            setSelectValue(option);
          }
        }
      }
    }, 500);
  }

  // select-box2 option 자동 선택
  if (data.types![1] === "select-box2" || data.types![2] === "select-box2") {
    const setOptionsAutoSelected2 = setInterval(() => {
      setIntervalCount.autoSelectedOption2++;
      if (setIntervalCount.autoSelectedOption2 > 10) {
        setIntervalCount.autoSelectedOption2 = 0;
        clearInterval(setOptionsAutoSelected2);

        // 서버에서 select box option 값을 못가져왔을 경우
        if (data.optionsAutoSelected2) {
          let option;
          const autoSelectedKeyIndex = data.optionsAutoSelected2.autoSelectedKeyIndex;
          if (autoSelectedKeyIndex || autoSelectedKeyIndex === 0) {
            if (data.options2) {
              option = data.options2[autoSelectedKeyIndex];
            }
          } else {
            option = data.optionsAutoSelected2;
          }
          if (!UtilService.isEmptyObject(option)) {
            setSelectValue2(option);
          }
        }
      }

      if (!UtilService.isEmptyObject(useOptionDataStore().getOptionData())) {
        // 서버에서 select box option 값을 가져왔을 경우
        clearInterval(setOptionsAutoSelected2);
        if (data.optionsAutoSelected2) {
          let option;
          const autoSelectedKeyIndex = data.optionsAutoSelected2.autoSelectedKeyIndex;
          if (autoSelectedKeyIndex || autoSelectedKeyIndex === 0) {
            if (!UtilService.isEmptyObject(useOptionDataStore().getOptionData()[data.optionsKey2!])) {
              option = useOptionDataStore().getOptionData()[data.optionsKey2!][autoSelectedKeyIndex];
            } else if (data.options2) {
              option = data.options2[autoSelectedKeyIndex];
            }
          } else {
            option = data.optionsAutoSelected2;
          }
          if (!UtilService.isEmptyObject(option)) {
            setSelectValue2(option);
          }
        }
      }
    }, 500);
  }
});

watch(useCallModalIdStore().callModalId, () => {
  if (!inactive.value) {
    if (modalData) {
      if (useCallModalIdStore().callModalId.value.key === modalData.id) {
        showModal.value = true;
      }
    }
  }
});

/**
 * 검색조건 초기화시 select-box autoSelection 진행
 */
watch(useSearchConditionStore()._availableInitializeBySearchInputValue, () => {
  if (!inactive.value) {
    if (useSearchConditionStore().getAvailableInitializeBySearchInputValue()) {
      if (data.optionsAutoSelected) {
        setSelectValue(data.optionsAutoSelected);
      }
      setTimeout(() => {
        useSearchConditionStore().setAvailableInitializeBySearchInputValue(false);
      }, 2000);
    }
  }
});

/**
 * 검색 초기화했을때 selected Option Value 값도 초기화 시키기
 */
watch(useSearchConditionStore()._reset, () => {
  if (!inactive.value) {
    if (useSearchConditionStore().getResetValue()) {
      // 초기화시 selectedValue값이 유지되어야 하는 경우
      if (useTabsStore().selectedTab.value?.id === "WMSMS030") {
        return;
      }
      selectedValue.value = "";
      if (data.types) {
        // date input 초기값 설정
        const today = UtilService.getToday();
        for (let i = 0; data.types.length > i; i++) {
          if (data.types[i] === "date") {
            if (!useSearchConditionStore().getSearchInputValue()[data.ids[i]]) {
              useSearchConditionStore().changeSearchInputValue(data.ids[i], today);
            }
          }
        }
      }
      // 체크박스 자동 체크상태 변경
      if (data.checkboxAutoChecked && Object.hasOwn(data, "checkboxAutoChecked") && data.checkboxCheckedValue && Object.hasOwn(data, "checkboxCheckedValue")) {
        for (let i = 0; data.checkboxAutoChecked.length > i; i++) {
          const id = data.ids[Number(data.checkboxAutoChecked[i])];
          const value = data.checkboxCheckedValue[Number(data.checkboxAutoChecked[i])];
          changeCheckboxValue(null, id, value);
        }
      }
      // 초기화시 autoSelected가 필요없는 경우
      if (
        useTabsStore().selectedTab.value?.id === "WMSDF001_3" ||
        useTabsStore().selectedTab.value?.id === "WMSDF001_2" ||
        (useTabsStore().selectedTab.value?.id === "WMSYS030" && data.ids[0] !== "vrTempleteType")
      ) {
        return;
      } else {
        const autoSelectedKeyIndex = data.optionsAutoSelected?.autoSelectedKeyIndex;
        if (autoSelectedKeyIndex || autoSelectedKeyIndex === 0) {
          if (data.optionsKey) {
            const options = useOptionDataStore().getOptionData()[data.optionsKey];
            if (!UtilService.isEmptyObject(options)) {
              setSelectValue(options[autoSelectedKeyIndex]);
            } else {
              setSelectValue({ name: "", value: "" });
            }
            // 정의한 options로 autoSelected를 진행할때
          } else if (data.options) {
            if (!UtilService.isEmptyObject(data.options)) {
              setSelectValue(data.options[autoSelectedKeyIndex]);
            } else {
              setSelectValue({ name: "", value: "" });
            }
          }

          // 자동선택되는 select-box의 개수가 2개 이상인 경우를 위해 강제적으로 1초 뒤에 false로 변경해줌
          setTimeout(() => {
            useOptionDataStore().setAvailableWatchBySearchCondition(false);
          }, 1000);
        }
      }
    }
  }
});

/**
 * 다른 search input의 검색 조건에 따라 특정 select box options 값이 달라지면서 해당 select box의 option이 자동 선택될때 사용
 */
watch(
  useOptionDataStore()._availableWatchBySearchCondition,
  () => {
    if (!inactive.value) {
      const autoSelectedKeyIndex = data.optionsAutoSelected?.autoSelectedKeyIndex;
      if (data.optionsAutoSelected?.allowAutoSelected && (autoSelectedKeyIndex || autoSelectedKeyIndex === 0)) {
        // console.log("option auto Selected (watch)");
        if (data.optionsKey) {
          const options = useOptionDataStore().getOptionData()[data.optionsKey];
          if (!UtilService.isEmptyObject(options)) {
            setSelectValue(options[autoSelectedKeyIndex]);
          } else {
            setSelectValue({ name: "", value: "" });
          }
          // 정의한 options로 autoSelected를 진행할때
        } else if (data.options) {
          if (!UtilService.isEmptyObject(data.options)) {
            setSelectValue(data.options[autoSelectedKeyIndex]);
          } else {
            setSelectValue({ name: "", value: "" });
          }
        }

        // 자동선택되는 select-box의 개수가 2개 이상인 경우를 위해 강제적으로 1초 뒤에 false로 변경해줌
        setTimeout(() => {
          useOptionDataStore().setAvailableWatchBySearchCondition(false);
        }, 1000);
      }
    }
  },
  { deep: true }
);

function getWMSTS030OptiuonsValue(value: any) {
  if (useSearchConditionStore().getSearchInputValue().vrCustSeq === value) {
    return true;
  } else {
    return false;
  }
}

function changeIsShowOptions() {
  isShowOptions.value = !isShowOptions.value;
}

function changeIsShowOptions2() {
  isShowOptions2.value = !isShowOptions2.value;
}

/**
 * 다른페이지 데이터에 따라 새로 열리는 페이지의 select box 값 변경
 */
function setSelectBoxDataByAnotherPageDatas() {
  if (useTabsStore()._changedSelectedTabByNotClickedTabMenu.forSelectBox && useTabsStore().selectedTab.value?.id === "WMSST051_2" && data.ids[0] === "vrSrchItemType2") {
    const vrSrchItemType2 = useSearchConditionStore().getSearchInputValue()["vrSrchItemType2"];
    const getOption = setInterval(() => {
      setIntervalCount.autoSelectedOptionByOtherPageInfo++;
      if (setIntervalCount.autoSelectedOptionByOtherPageInfo > 10) {
        setIntervalCount.autoSelectedOptionByOtherPageInfo = 0;
        clearInterval(getOption);
      }
      if (!UtilService.isEmptyObject(useOptionDataStore().getOptionData())) {
        clearInterval(getOption);
        let option;
        if (vrSrchItemType2 === "G") {
          option = useOptionDataStore().getOptionData()[data.optionsKey!][0];
        } else {
          option = useOptionDataStore().getOptionData()[data.optionsKey!][1];
        }
        setSelectValue(option, "onRowDoubleClicked");
      }
    }, 500);
  }
}

// User Function Definitions
// 체크박스 인풋의 상태가 변화할때 호출
function changeCheckboxValue(e: Event | null, id: string, value: string) {
  // 라디오 버튼으로 사용되는 경우
  if (data.isRadioBox) {
    if (e) {
      const target = e.target as HTMLInputElement;
      const checkboxValue = target.checked;
      if (checkboxValue) {
        useSearchConditionStore().changeSearchInputValue(id, value);
      }
    } else {
      useSearchConditionStore().changeSearchInputValue(id, value);
    }
  } else {
    if (e) {
      const target = e.target as HTMLInputElement;
      const checkboxValue = target.checked;
      if (checkboxValue) {
        useSearchConditionStore().changeSearchInputValue(id, value);
      } else {
        useSearchConditionStore().removeSearchInputValue(id);
      }
    } else {
      useSearchConditionStore().changeSearchInputValue(id, value);
    }
  }
}

function changeSearchInputValue(e: any, key: string, isModal: boolean, value?: string) {
  // select 호출
  if (!e && value) {
    if (isModal) {
      useSearchConditionStore().changeModalInputValue(key, value);
    } else {
      useSearchConditionStore().changeSearchInputValue(key, value);
    }
  }

  // input 호출
  if (e) {
    const target = e.target as HTMLInputElement;
    if (isModal) {
      useSearchConditionStore().changeModalInputValue(key, target.value);
    } else {
      useSearchConditionStore().changeSearchInputValue(key, target.value);
    }
  }
}

// 포커스아웃 검색,
async function focusOutSearchEvent(e: any, data: ISearchInput, thisId: string, thisSearchApiKey: string) {
  const { ids, searchApiKeys, isAllUseSearchApiKey, srchKey, isSearch, defaultParamsData, title, rowDataIds, defaultSearchApiKeys } = data;

  if (isSearch && srchKey) {
    const target = e.target as HTMLInputElement;
    // 인풋란이 공백이거나, search값이 true인 경우에만 호출

    if (!target.value) {
      useSelectedDataStore().removeSelectedModalData(title);
      // useSearchConditionStore().resetModalInputValue();
      for (let i = 0; modalData.inputs.length > i; i++) {
        useSearchConditionStore().changeModalInputValue(modalData.inputs[i].id, "");
      }
      const apiParams = Object.assign({}, modalData.apis.params);
      const keys = Object.keys(apiParams);

      for (let i = 0; keys.length > i; i++) {
        if (!modalData.apis.params[keys[i]]) {
          modalData.apis.params[keys[i]] = "";
        }
      }
      for (let i = 0; searchApiKeys.length > i; i++) {
        useSearchConditionStore().removeSearchInputValue(ids[i]);
      }

      return;
    }

    const data: any = {
      srchKey: srchKey,
    };
    if (target.value.length === 0) {
      return;
    }
    // 기존 입력값들 초기화
    for (let i = 0; ids.length > i; i++) {
      if (thisId !== ids[i]) {
        useSearchConditionStore().changeSearchInputValue(ids[i], "");
      }
    }
    for (let i = 0; modalData.inputs.length > i; i++) {
      useSearchConditionStore().changeModalInputValue(modalData.inputs[i].id, "");
    }

    // 포커스아웃시 해당 인풋의 값으로만 조회할때
    for (let i = 0; searchApiKeys.length > i; i++) {
      if (isAllUseSearchApiKey) {
        data[searchApiKeys[i]] = useSearchConditionStore().getSearchInputValue()[ids[i]] || "";
      } else {
        if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), title)) {
          useSelectedDataStore().removeSelectedModalData(title);
        }
        data[thisSearchApiKey] = useSearchConditionStore().getSearchInputValue()[thisId] || "";
      }

      if (searchApiKeys[i] === "custId") {
        data["custId"] = "OK";
      }
    }
    // 다른 인풋의 값을 필요로 할 때
    if (defaultParamsData && defaultParamsData.storeSaveKey) {
      for (let i = 0; searchApiKeys.length > i; i++) {
        const { storeSaveKey, paramsKeys, rowDataKeys } = defaultParamsData;
        data[paramsKeys[i]] = useSelectedDataStore().getSelectedModalData()[storeSaveKey] ? useSelectedDataStore().getSelectedModalData()[storeSaveKey][rowDataKeys[i]] : "";
      }
    }
    // 하드코딩된 parmas값이 있을때
    if (defaultSearchApiKeys) {
      const keys = Object.keys(defaultSearchApiKeys);

      for (let i = 0; keys.length > i; i++) {
        data[keys[i]] = defaultSearchApiKeys[keys[i]];
      }
    }
    const result = await ApiService.postApi("/selectMngCode_rn.action", {}, data);
    if (srchKey) {
      if (result.result[srchKey].length === 1) {
        // 포커스아웃으로 조회한 결과 값이 1개일때
        const url = modalData.apis.url;
        const params: any = modalData.apis.params;
        const data = modalData.apis.data;
        for (let i = 0; modalData.inputs.length > i; i++) {
          if (Object.hasOwn(modalData.inputs[i], "searchContainerInputId") && Object.hasOwn(useSearchConditionStore().getSearchInputValue(), modalData.inputs[i].searchContainerInputId)) {
            params[modalData.inputs[i].id] = useSearchConditionStore().getSearchInputValue()[modalData.inputs[i].searchContainerInputId];
          }
        }
        if (Object.hasOwn(modalData, "defaultParamsData")) {
          if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), modalData.defaultParamsData.storeSaveKey)) {
            for (let i = 0; modalData.defaultParamsData.paramsKeys.length > i; i++) {
              params[modalData.defaultParamsData.paramsKeys[i]] = useSelectedDataStore().getSelectedModalData()[modalData.defaultParamsData.storeSaveKey][modalData.defaultParamsData.rowDataKeys[i]];
            }
          }
        }

        const gridData = await ApiService.postApi(url, params, data);
        useSelectedDataStore().selectedModalHandler({ [modalData.id]: gridData.result.list[0] });

        for (let i = 0; ids.length > i; i++) {
          useSearchConditionStore().changeSearchInputValue(ids[i], gridData.result.list[0][rowDataIds[i]]);
        }
        if (Object.hasOwn(e, "relatedTarget") && e.relatedTarget.id === "button-container") {
          useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        }
      } else if (result.result[srchKey].length > 1) {
        // 포커스아웃으로 조회한 결과가 여러개일때
        for (let i = 0; modalData.inputs.length > i; i++) {
          useSearchConditionStore().changeModalInputValue(modalData.inputs[i].id, useSearchConditionStore().getSearchInputValue()[modalData.inputs[i].searchContainerInputId]);
        }
        showModal.value = true;
      } else if (result.result[srchKey].length === 0) {
        // 포커스아웃으로 조회한 결과가 없을때
        useSelectedDataStore().removeSelectedModalData(title);
        useToast().warning(t("common-toast.no-data-found"));
        for (let i = 0; searchApiKeys.length > i; i++) {
          useSearchConditionStore().removeSearchInputValue(ids[i]);
        }

        for (let i = 0; modalData.inputs.length > i; i++) {
          useSearchConditionStore().changeModalInputValue(modalData.inputs[i].id, "");
        }
      }
    }
  }
}

function initInputValue() {
  for (let i = 0; modalData.inputs.length > i; i++) {
    useSearchConditionStore().changeModalInputValue(modalData.inputs[i].id, "");
  }
}

function changeShowModal() {
  // search영역에서 특정 selected modal data가 존재해야지만 모달이 열리는 경우가 있음
  if (Object.hasOwn(data, "modalOpenCondition") && data.modalOpenCondition) {
    if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), data.modalOpenCondition)) {
      initInputValue();
      showModal.value = true;
    } else {
      useCallModalIdStore().setCallModalId(data.modalOpenCondition);
      return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${data.modalOpenCondition}`) }));
    }
  } else {
    initInputValue();
    showModal.value = true;
  }
}

function setSelectValue(option: any, ev: any = null) {
  if (!inactive.value) {
    /**
     * select box value에 따라 열리는 search modal 이 다를경우, select box 값이 바뀔때마다 store저장되어있던 값 제거. (필요한 값을 지우는 경우가 발생하여 보류)
     */
    // if (data.modalTypes && modalType.value && index) {
    //   useSelectedDataStore().removeSelectedModalData(modalType.value[index]);
    // }

    /**
     * select box [key, value]
     * name, value
     * codeNm, code
     * CODE_NM, CODE_CD
     * LC_NM, LC_NM
     * ZONE_NM, ZONE_ID
     * REMARK, CUST_SEQ
     * CODE_CD, CODE_CD
     */

    if (!option) {
      return;
    }

    selectedValue.value = option.nameKey
      ? t(`select-options.${option.nameKey}`)
      : undefined || option.name || option.codeNm || option.CODE_NM || option.LC_NM || option.ZONE_NM || option.REMARK || option.CODE_CD;

    changeSearchInputValue(
      null,
      data.types![0] === "select-box" ? data.ids[0] : data.types![1] === "select-box" ? data.ids[1] : "",
      data.isModal,
      option.value === "" ? "option value empty" : option.value || option.code || option.CODE_CD || option.LC_NM || option.ZONE_ID || option.CUST_SEQ || option.CODE_CD
    );

    if (ev) {
      if (ev !== "onRowDoubleClicked") {
        isShowOptions.value = false;
      } else {
        useTabsStore().setChangedSelectedTabByNotClickedTabMenu("select-box", false);
        useTabsStore().setChangedSelectedTabByNotClickedTabMenu("form-grid", true);
      }
    }

    emits("selectedValue", option.value || option.code || option.CODE_CD || option.LC_NM || option.ZONE_ID || option.CUST_SEQ || option.CODE_CD);
  }
}

function setSelectValue2(option: any, ev: any = null) {
  if (!inactive.value) {
    /**
     * select box value에 따라 열리는 search modal 이 다를경우, select box 값이 바뀔때마다 store저장되어있던 값 제거. (필요한 값을 지우는 경우가 발생하여 보류)
     */
    // if (data.modalTypes && modalType.value && index) {
    //   useSelectedDataStore().removeSelectedModalData(modalType.value[index]);
    // }

    /**
     * select box [key, value]
     * name, value
     * codeNm, code
     * CODE_NM, CODE_CD
     * LC_NM, LC_NM
     * ZONE_NM, ZONE_ID
     * REMARK, CUST_SEQ
     * CODE_CD, CODE_CD
     */
    selectedValue2.value = option.nameKey
      ? t(`select-options.${option.nameKey}`)
      : undefined || option.name || option.codeNm || option.CODE_NM || option.LC_NM || option.ZONE_NM || option.REMARK || option.CODE_CD;
    changeSearchInputValue(
      null,
      data.types![1] === "select-box2" ? data.ids[1] : data.types![2] === "select-box2" ? data.ids[2] : "",
      data.isModal,
      option.value === "" ? "option value empty" : option.value || option.code || option.CODE_CD || option.LC_NM || option.ZONE_ID || option.CUST_SEQ || option.CODE_CD
    );

    if (ev) {
      if (ev !== "onRowDoubleClicked") {
        isShowOptions2.value = false;
      }
    }
  }
}

function setInputValue(i: number) {
  if (!inactive.value) {
    let value;
    if (!data.modalTypes) {
      value = useSelectedDataStore().getSelectedModalData()[data.title]?.[data.rowDataIds[i]] || useSearchConditionStore().getSearchInputValue()[data.ids[i]];
    } else {
      /**
       * select box value에 따라 열리는 search modal 이 다를경우, input value 설정 방법이 다름
       */
      let modalTypeRef = toRef(modalType);
      if (modalTypeRef.value && index) {
        if (modalTypeRef.value[index] === "product") {
          value = useSelectedDataStore().getSelectedModalData()[modalTypeRef.value[index]]?.[data.rowDataIds[i]];
        } else if (modalTypeRef.value[index] === "logistics-container") {
          value =
            useSelectedDataStore().getSelectedModalData()[modalTypeRef.value[index]]?.[data.rowData2ndIds ? data.rowData2ndIds[i] : ""] || useSearchConditionStore().getSearchInputValue()[data.ids[i]];
        }
      }
    }
    return value;
  }
}

const selectedOptions = ref([]);

function multiSelectInput(value: any[] = []) {
  emits("multipleSelectedValue", value);
}

// 필터링된 exclusive-checkbox 인덱스 추출
const filteredExclusiveIndexes = ref<number[]>([]);

if (data.types && Array.isArray(data.types)) {
  // exclusive-checkbox가 있는 경우 그 인덱스를 필터링
  filteredExclusiveIndexes.value = data.types.map((type, index) => (type === "exclusive-checkbox" ? index : null)).filter((index): index is number => index !== null);
}

// exclusive-checkbox 체크박스 값 초기화
const exclusiveCheckboxValues = ref<Record<string, boolean>>({});

if (filteredExclusiveIndexes.value.length >= 2) {
  exclusiveCheckboxValues.value[data.ids[filteredExclusiveIndexes.value[0]]] = false;
  exclusiveCheckboxValues.value[data.ids[filteredExclusiveIndexes.value[1]]] = false;
}

// exclusive-checkbox 값 업데이트 함수
function updateExclusiveCheckbox(idChecked: string, idUnchecked: string) {
  exclusiveCheckboxValues.value[idChecked] = !exclusiveCheckboxValues.value[idChecked];
  if (exclusiveCheckboxValues.value[idChecked]) {
    exclusiveCheckboxValues.value[idUnchecked] = false;
  }

  // 상태 업데이트
  useSearchConditionStore().changeSearchInputValue(idChecked, exclusiveCheckboxValues.value[idChecked] ? "Y" : "");
  useSearchConditionStore().changeSearchInputValue(idUnchecked, "");
}

// 필터링된 exclusive-checkbox 값을 watch하여 로컬 상태 업데이트
watch(
  () => useSearchConditionStore().getSearchInputValue(),
  (newVal) => {
    if (filteredExclusiveIndexes.value.length >= 2) {
      exclusiveCheckboxValues.value[data.ids[filteredExclusiveIndexes.value[0]]] = newVal[data.ids[filteredExclusiveIndexes.value[0]]] === "Y";
      exclusiveCheckboxValues.value[data.ids[filteredExclusiveIndexes.value[1]]] = newVal[data.ids[filteredExclusiveIndexes.value[1]]] === "Y";
    }
  },
  { deep: true, immediate: true }
);
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style scoped>
.custom-selection.multiselect__tag {
  background-color: red;
}
</style>

<style lang="scss" scoped>
.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 23px;
  background-color: $hidden-list-bg;
  height: 44px;
  transition: all 0.4s ease;
  &.hidden {
    display: none;
  }
  &.half {
    width: 50%;
    padding-right: 18px;
  }

  &.triple {
    width: 33.3%;
    padding-right: 21.4px;
  }
  &.quarter {
    width: 25%;
    padding-right: 21.4px;
  }
  // 조회 팝업 컴포넌트 작업할 때 scss수정 필요
  &.entire {
    width: calc(99% - 28px);
    height: 44px;
    .search-title {
      width: 9%;
    }
    .search-input {
      width: 100%;
      flex-wrap: wrap;
      // justify-content: flex-start;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: $bg-gray2;
  }

  .required {
    position: absolute;
    left: 12px;
  }

  &-title {
    @include labelStyle();
    width: 23%;
  }

  &-input {
    width: calc(80% - 40px);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .input-width-single {
      width: 100%;
      margin-right: -10px;
      > input {
        width: calc(100%);
      }
    }

    > .input-width-double {
      width: calc(50% - 9px);
    }
    > .input-width-double.date {
      width: calc(50% - 3px);
      border-radius: 10px;
    }
    > .input-width-triple {
      width: calc(100% / 3 - 6px);
      > input {
        width: calc(100%);
      }
    }
    &-button {
      @include flexCenter;
      background-color: $bg-gray2;
      width: 25px;
      height: 25px;
      border-radius: 6px;
      margin-right: 15px;
      position: absolute;
      left: -41px;
      z-index: 1;

      &:hover {
        background-color: #b8bec8;
      }
    }

    &-item {
      @include dateInputStyle;
      position: relative;
      border: 1px solid $border2;
      border-radius: 10px;
      height: 35px;
      padding: 0 5px 0 10px;
      font-weight: bold;
      background-color: #fff;
      display: flex;
      align-items: center;
      &::placeholder {
        font-size: 12px;
        text-align: left;
      }

      &[type="date"] {
        // border: none;
      }
      &.single {
        width: 100%;
      }
      &.double {
        width: 100%;
      }

      &:first-of-type {
        margin-right: 9px;
      }
      .select {
        @include ellipsis;
        width: calc(100% - 25px);
        font-size: 13px;
        font-weight: bold;
        border: none;
        background-color: #fff;
        cursor: pointer;
      }

      &-input {
        width: calc(100% - 30px);
      }
    }

    &-select {
      @include selectArrowStyle;
    }
  }
  &-select {
    &-list {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 100%;
      max-height: 442px;
      background-color: white;
      box-sizing: border-box;
      padding: 7px;
      border-radius: 8px;
      font-size: 15px;
      word-break: break-all;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
      z-index: 10;
      overflow-y: scroll;
      overflow-x: hidden;
      outline: none;
      opacity: 0;
      transform: scaleY(0);
      &.slide-up {
        @include slideUpAnimation;
      }
      &.slide-down {
        @include slideDownAnimation;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      box-sizing: border-box;
      padding: 10px 20px;
      padding-right: 25px;
      margin: 0 -10px;
      width: calc(100% + 20px);
      font-size: 14px;
      font-weight: normal;
      &:hover {
        background-color: #f6f7fc;
        cursor: pointer;
      }
      &.on {
        color: $main;
        font-weight: bold;
        > i {
          position: absolute;
          right: 7px;
        }
      }
    }
  }
}

.no-title {
  width: 100%;
}

// 체크박스 스타일
.search-checkbox {
  &-container {
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
  &-item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $gray;
    margin-left: -10px; // (jicho)MESSAGE : radio버튼 정렬 필요 수정함
    cursor: pointer;
    transform: translateX(18px);
    position: relative;
    z-index: 3;
    opacity: 0;

    .circle {
      position: absolute;
    }
    &:checked + .circle {
      border: 5px solid $main;
      background-color: $main;
    }
    &:checked + .circle::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 4.5px;
      transform: rotate(45deg);
      height: 1.5px;
      background-color: white;
      border-radius: 3px;
      bottom: 1.5px;
      left: -1.5px;
    }
    &:checked + .circle::after {
      content: "";
      width: 1.5px;
      opacity: 1 !important;
      height: 9px;
      background-color: white;
      border-radius: 10px;
      transform: rotate(45deg);
      left: 4px;
      top: initial;
      bottom: -2px !important;
    }

    &:checked + .date-type-label {
      font-weight: bold;
    }
  }
  &-label {
    // margin: 0 20px 0 7px; // (jicho)MESSAGE : radio버튼 정렬 필요 수정함
    margin-left: 10px;
    color: $font-bk;
    font-size: 13px;
    display: inline-block;
    width: calc(100% - 32px);
    cursor: pointer;
  }
}

// 라디오버튼 스타일
.search-radio {
  &-container {
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
  &-item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $gray;
    margin-left: -10px; // (jicho)MESSAGE : radio버튼 정렬 필요 수정함
    cursor: pointer;
    transform: translateX(18px);
    position: relative;
    z-index: 3;
    opacity: 0;

    &:checked + .circle:after {
      opacity: 1;
    }
    &:checked + .circle {
      border: 2px solid $main;
    }
    &:checked + .date-type-label {
      font-weight: bold;
    }
  }
  &-label {
    // margin: 0 20px 0 7px; // (jicho)MESSAGE : radio버튼 정렬 필요 수정함
    margin-left: 10px;
    color: $font-bk;
    font-size: 13px;
    display: inline-block;
    width: calc(100% - 32px);
    cursor: pointer;
  }
}
.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid $gray;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: $main;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: 0;
  }
}
.selected-radio-box.search-checkbox-container {
  opacity: 1 !important;
  pointer-events: none;
  cursor: pointer;
}

.icon-required {
  position: absolute;
  right: -10px;
  display: inline-block;
  width: 6px;
  height: 7px;
  background: url("/public/assets/images/asterisk.svg") 0% 0% / contain no-repeat;
  &.blue {
    background: url("/public/assets/images/asterisk-blue.svg") 0% 0% / contain no-repeat;
  }
  &.hidden {
    margin-right: 6px;
    filter: invert(39%) sepia(98%) saturate(419%) hue-rotate(186deg) brightness(90%) contrast(110%);
    &.triple {
      transform: translateY(13px);
    }
  }
}

#search-container-textarea {
  height: 70px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: justify;
}

textarea:focus {
  outline: none;
}

.input-item-is {
  &-show {
    // TODO : 애니메이션 유사 동작 필요 유무 확인, 검색 옵션 설정중 잉여 ui가 잠시 노출됨
    // display: flex;
    height: 44px;
    opacity: 1;
    margin-bottom: 5px;
  }
  &-hidden {
    // TODO : 애니메이션 유사 동작 필요 유무 확인, 검색 옵션 설정중 잉여 ui가 잠시 노출됨
    // display: none;
    height: 0px !important;
    opacity: 0 !important;
    pointer-events: none;
  }
}
.unused-input {
  opacity: 0 !important;
}
.hidden-input {
  display: none;
}

.options-position-top {
  > .search-select-list {
    bottom: calc(100% + 10px) !important;
    top: initial !important;

    &.slide-up {
      @include slideUpReversedAnimation;
    }
    &.slide-down {
      @include slideDownReversedAnimation;
    }
  }
}
</style>
