<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS010/form.vue
 *  Description:    시스템관리/기준관리 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container" :style="`height:${formHeight}`">
    <my-main-grid />
    <my-second-grid />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onDeactivated, onMounted, ref, watch } from "vue";

import { useFormHeightStore } from "@/store";

import MyMainGrid from "./main-grid.vue";
import MySecondGrid from "./second-grid.vue";

// Variable Definitions
const FormHeightStore = useFormHeightStore();
const inactive = ref<boolean>(false);
onMounted(() => {
  formHeight.value = FormHeightStore.getFormHeight();
});

watch(FormHeightStore._searchCompHeight, () => {
  if (!inactive.value) {
    formHeight.value = FormHeightStore.getFormHeight();
  }
});

onActivated(() => {
  inactive.value = false;
  formHeight.value = FormHeightStore.getFormHeight();
});
onDeactivated(() => {
  inactive.value = true;
});

// form영역의 height값
const formHeight = ref("" as string);

// Framework Function Definitions

// User Function Definitions
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  width: 100%;
}
</style>
