<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS010/grid.vue
 *  Description:    시스템관리/기준관리 Form화면의 코드유형목록 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <control-container>
      <div v-for="btnData in controlBtn.value" :key="btnData.title">
        <control-button
          v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && Object.keys(selectedItems.value).length > 0"
          :data="btnData"
          :saveRowData="saveRowData"
          :deleteRowData="deleteRowData" />
        <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" :addRowData="addRowData" />
      </div>
    </control-container>
    <div class="grid-header">{{ t("grid-title.code-type-list") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" @cellClicked="cellClicked" :modules="[ExcelExportModule]" :context="MAIN_CELL_RENDERER_INFO" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useConfirmStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule, GridApi, IServerSideGetRowsParams } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { MAIN_CELL_RENDERER_INFO, MAIN_CONTROL_BTN, SEARCH_INPUT } from "./input.grid";

// Variable Definitions
const SearchConditionStore = useSearchConditionStore();
const ConfirmStore = useConfirmStore();
const pagingOptions = UtilService.getGridPagingOptions("TMSYS010_1");
const pagingSize = ref<number>(pagingOptions![0]);
const emits = defineEmits(["onPageSizeChanged"]);
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const totalRows = ref<number>(0);
let gridApi: GridApi | null = null;
let tempCount = 0;
const selectedItems = reactive({ value: [] as any });
const inactive = ref<boolean>(false);
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};
let clickedItem = null as any;
const controlBtn = reactive({ value: MAIN_CONTROL_BTN as any });
const page = reactive({ value: {} as any });

onMounted(() => {
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("TMSYS", "TMSYS010", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
  useSearchConditionStore().setResetValue(false);
});

// Framework Function Definitions
// 검색결과 그리에 반영시키기
watch(SearchConditionStore._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t(`grid-column-name.${column.headerKey}`);
    }
  });

  // grid editColumn tab event 제거
  gridOptions.columnDefs?.forEach((column: any) => {
    if (Object.hasOwn(column, "editable")) {
      column.suppressKeyboardEvent = () => {
        return true;
      };
    }
  });

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
  SearchConditionStore.setAvailableSearchBySearchCondition(true);
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
    lockPosition: true,
  },
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: onGridReady,
  onPaginationChanged: onPaginationChanged,
  onRowSelected: onSelectionChanged,
  columnDefs: MASTER_GRID_COLUMN_DEFS,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  suppressRowClickSelection: true,
  suppressClickEdit: true,
  rowClassRules: {
    "ag-row-selected": function (params: any) {
      if (UtilService.hasKey(clickedItem, "RNUM") && params.data?.RNUM === clickedItem?.RNUM) {
        return true;
      } else {
        return false;
      }
    },
  },
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableRangeSelection: true,
  enableCellEditingOnBackspace: false,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

async function searchGridData() {
  if (SearchConditionStore.getAvailableSearchBySearchCondition()) {
    gridApi?.deselectAll();
    clickedItem = {};
    const searchConditions = SEARCH_INPUT;
    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), SearchConditionStore);
    apiParams._fullpath = "시스템관리 &gt; 기준코드";
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/TMSYS010/listCode_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            gridData.result.list.forEach((row: any) => {
              row.RNUM = String(row.RNUM) + "mainGrid";
              row.gridType = "mainGrid";
            });
            UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
        SearchConditionStore.setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "mainGrid");
    }
  } else {
    if (!String(e.data.RNUM).includes("temp")) {
      useSelectedDataStore().selectedInfoHandler(Object.assign({}, gridApi?.getSelectedRows()[gridApi?.getSelectedRows().length - 1]), true);
    }
    selectedItems.value = gridApi?.getSelectedRows();
    clickedItem = gridApi?.getSelectedRows()[gridApi?.getSelectedRows().length - 1];
    useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "mainGrid");
  }
}

const cellClicked = (e: any) => {
  if (!clickedItem || clickedItem.RNUM !== e.data.RNUM) {
    clickedItem = e.data;
    useSelectedDataStore().selectedInfoHandler(e.data, true);
    if (!e.node.selected) {
      gridApi?.redrawRows();
    }
    setTimeout(() => {
      useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "mainGrid");
    });
  }
};

// 신규 빈 행 추가
function addRowData() {
  const RNUM = `temp${tempCount}`;

  const newRowData = [{ RNUM: RNUM }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi?.paginationGetCurrentPage()) + 1) * Number(gridApi?.paginationGetPageSize()) - Number(gridApi?.paginationGetPageSize());

  gridApi?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;

  gridApi?.getRowNode(String(RNUM))?.setSelected(true);
  useSelectedDataStore().selectedHandler(gridApi?.getRowNode(String(RNUM))?.data);
}

//삭제
async function deleteRowData() {
  selectedItems.value = gridApi?.getSelectedRows();
  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  await ConfirmStore.confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "시스템관리 &gt; 기준코드",
      CODE_TYPE_CD: selectedItems.value[0].CODE_TYPE_CD || "",
      CODE_TYPE_NM: selectedItems.value[0].CODE_TYPE_NM || "",
      USER_GB: selectedItems.value[0].USER_GB || "",
      selectIds: String(selectedItems.value.length),
      I_selectIds: "",
      D_selectIds: String(selectedItems.value.length),
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      data["ST_GUBUN" + [i]] = "DELETE";
      data["CODE_TYPE_CD" + [i]] = selectedItems.value[i].CODE_TYPE_CD;
    }

    const result = await ApiService.postApi("/TMSYS010/saveCode_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      UtilService.reloadGridData(useSelectedDataStore(), SearchConditionStore, gridApi);
      SearchConditionStore.setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    return console.log(err);
  }
}

// 저장
async function saveRowData() {
  selectedItems.value = gridApi?.getSelectedRows();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await ConfirmStore.confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "시스템관리 &gt; 기준코드",
      CODE_TYPE_CD: Object.hasOwn(SearchConditionStore.getSearchInputValue(), "CODE_TYPE_CD") ? SearchConditionStore.getSearchInputValue().CODE_TYPE_CD : "",
      CODE_TYPE_NM: Object.hasOwn(SearchConditionStore.getSearchInputValue(), "CODE_TYPE_NM") ? SearchConditionStore.getSearchInputValue().CODE_TYPE_NM : "",
      USER_GB: Object.hasOwn(SearchConditionStore.getSearchInputValue(), "USER_GB") ? SearchConditionStore.getSearchInputValue().USER_GB : "",
      selectIds: String(selectedItems.value.length),
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      if (String(selectedItems.value[i].RNUM).includes("temp")) {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }
      data["USER_GB" + [i]] = selectedItems.value[i].USER_GB || "";
      data["CODE_TYPE_CD" + [i]] = selectedItems.value[i].CODE_TYPE_CD || "";
      data["CODE_TYPE_NM" + [i]] = selectedItems.value[i].CODE_TYPE_NM || "";
      data["CODE_LEVEL" + [i]] = selectedItems.value[i].CODE_LEVEL || "";
      data["ORG_CODE_TYPE_CD" + [i]] = selectedItems.value[i].ORG_CODE_TYPE_CD || "";
    }

    const result = await ApiService.postApi("/TMSYS010/saveCode_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      SearchConditionStore.setAvailableSearchBySearchCondition(true);
      UtilService.reloadGridData(useSelectedDataStore(), SearchConditionStore, gridApi);
    }
  } catch (err) {
    return console.log(err);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    width: 49%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
