<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS010/page.vue
 *  Description:    기준코드 화면
 *  Authors:        H.N.KO
 *  Update History:
 *                  2024.07. : Created by H.N.KO
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <!-- :context="{ ...MASTER_GRID_CELL_SELECT_BOX, ...MASTER_CELL_RENDERER_INFO }"> -->

      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :onCellFocused="onCellFocused"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged"
        :context="MASTER_GRID_CELL_SELECT_BOX">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onDetailApiParamsChanged"
        :getServerData="getDetailData"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :context="{}"
        :modules="[ExcelExportModule]">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "TMSYS010" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { ExcelExportModule, ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-enterprise";
import { computed, onMounted, reactive, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { DETAIL_CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_META, MASTER_CONTROL_BTN, MASTER_GRID_CELL_SELECT_BOX, MASTER_GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";
const { t } = useI18n();
const ConfirmStore = useConfirmStore();
const SearchConditionStore = useSearchConditionStore();
const tempCount = ref<number>(0);
const SelectedDataStore = useSelectedDataStore();
const bodyData = reactive({ value: {} as any });

//master grid 선택시(복수 체크)
const selectedItems = ref<Record<string, any>>({});

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});

//디테일 그리드 전체
const detailItemList = ref<Record<string, any>>({});

//체크된 디테일 그리드 전체
const childrenItems = reactive({ value: [] as any });

// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const masterGridApi = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  "save-master": saveMasterRowData,
  "new-master": addMasterRowData,
  "delete-master": deleteMasterRowData,
  "save-detail": saveDetailRowData,
  "new-detail": addDetailRowData,
  "delete-detail": deleteDetailRowData,
  excel: excelDetailExport,
};
const selectedItem = reactive({ value: [] as any });

const masterGridTitleRef = t("menu-header-title.TMSYS010_master");
const detailGridTitleRef = t("menu-header-title.TMSYS010_detail");
const selectedDetailRowItem = reactive({ value: {} } as { value: any });
const pagingOptions = UtilService.getGridPagingOptions("TMSYS010_1");
const pagingSize = ref<number>(pagingOptions![0]);
const formTheme = {
  "--flex-direction": "row",
};
function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
const selectedOptionValueRef = ref();

function sessionStorageReady() {}

// Framework Function Definitions
onMounted(async () => {
  //event로 처리가 필요하나 ???
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi(`/WINUS/TMSYS010_rn.action`, {}, UtilService.getOptionApiData(`TMSYS010_rn`));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
  console.log(res);
});

// User Function Definitions
function onSelectionChanged(e: any) {
  let isSelected = e.event.node.selected;
  selectedItems.value = masterGridApi.value.getSelectedRows();
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value.getSelectedRows()[0];

    detailFormRef.value.searchGridData();
  }
}

function onMasterApiParamsChanged(apiParams: any) {
  // apiParams._fullpath = "시스템관리 &gt; 기준코드";

  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  detailGridApi.value?.deselectAll();
  detailGridApi.value?.sizeColumnsToFit();
  const selectedMasterItem = GridUtils.getSelectedRowData(unref(masterGridApi) || new GridApi())[0];
  apiParams = { CODE_TYPE_CD: Object.hasOwn(selectedMasterItem, "CODE_TYPE_CD") ? selectedMasterItem.CODE_TYPE_CD : "" };
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/TMSYS010/listCode_rn.action", apiParams, bodyData.value, false);
  return res;
}

async function getDetailData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/TMSYS010/listDetailCode_rn.action", apiParams, bodyData.value, false);
  if (res.result.list.length > 0 || !res.result.list) {
    detailItemList.value = res.result.list;
  }
  return res;
}

function onDetailGridSelectionChanged(e: any) {
  selectedDetailRowItem.value = e.event.data;
}

function addMasterRowData() {
  const RNUM = `temp${tempCount.value}`;

  const newRowData = [
    {
      RNUM: RNUM,
      CODE_TYPE_CD: SearchConditionStore.getSearchInputValue().CODE_TYPE_CD ? SearchConditionStore.getSearchInputValue().CODE_TYPE_CD : "",
      CODE_TYPE_NM: SearchConditionStore.getSearchInputValue().CODE_TYPE_NM ? SearchConditionStore.getSearchInputValue().CODE_TYPE_NM : "",
      USER_GB: SearchConditionStore.getSearchInputValue().USER_GB ? SearchConditionStore.getSearchInputValue().USER_GB : "",
      CODE_LEVEL: "",
    },
  ];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(masterGridApi.value?.paginationGetCurrentPage()) + 1) * Number(masterGridApi.value?.paginationGetPageSize()) - Number(masterGridApi.value?.paginationGetPageSize());

  masterGridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount.value++;
  //행 추가시 체크박스 체크 이벤트
  masterGridApi.value?.getRowNode(RNUM)?.setSelected(true);
  //gridApi 데이터 셋팅
  useSelectedDataStore().selectedHandler(masterGridApi.value?.getRowNode(RNUM)?.data);
}
// 저장(마스터)
async function saveMasterRowData() {
  if (Object.keys(selectedItems.value).length <= 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await ConfirmStore.confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "시스템관리 &gt; 기준코드",
      CODE_TYPE_CD: selectedMasterItem.value.CODE_TYPE_CD,
      CODE_TYPE_NM: selectedMasterItem.value.CODE_TYPE_NM,
      USER_GB: selectedMasterItem.value.USER_GB,
      selectIds: String(selectedItems.value.length),
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      if (String(selectedItems.value[i].RNUM).includes("temp")) {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }
      data["USER_GB" + [i]] = selectedItems.value[i].USER_GB || "";
      data["CODE_TYPE_CD" + [i]] = selectedItems.value[i].CODE_TYPE_CD || "";
      data["CODE_TYPE_NM" + [i]] = selectedItems.value[i].CODE_TYPE_NM || "";
      data["CODE_LEVEL" + [i]] = selectedItems.value[i].CODE_LEVEL || "";
      data["ORG_CODE_TYPE_CD" + [i]] = selectedItems.value[i].ORG_CODE_TYPE_CD || "";
    }

    const result = await ApiService.postApi("/TMSYS010/saveCode_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      SearchConditionStore.setAvailableSearchBySearchCondition(true);
      UtilService.reloadGridData(useSelectedDataStore(), SearchConditionStore, masterGridApi.value);
    }
  } catch (err) {
    return console.log(err);
  }
}

async function deleteMasterRowData() {
  selectedItems.value = masterGridApi.value?.getSelectedRows();
  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  await ConfirmStore.confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "시스템관리 &gt; 기준코드",
      CODE_TYPE_CD: selectedItems.value[0].CODE_TYPE_CD || "",
      CODE_TYPE_NM: selectedItems.value[0].CODE_TYPE_NM || "",
      USER_GB: selectedItems.value[0].USER_GB || "",
      selectIds: String(selectedItems.value.length),
      I_selectIds: "",
      D_selectIds: String(selectedItems.value.length),
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      data["ST_GUBUN" + [i]] = "DELETE";
      data["CODE_TYPE_CD" + [i]] = selectedItems.value[i].CODE_TYPE_CD;
    }

    const result = await ApiService.postApi("/TMSYS010/saveCode_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      UtilService.reloadGridData(useSelectedDataStore(), SearchConditionStore, masterGridApi.value);
      SearchConditionStore.setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    return console.log(err);
  }
}

function addDetailRowData() {
  const RNUM = `temp${tempCount}`;

  const newRowData = [{ RNUM: RNUM }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(detailGridApi.value?.paginationGetCurrentPage()) + 1) * Number(detailGridApi.value?.paginationGetPageSize()) - Number(detailGridApi.value?.paginationGetPageSize());

  detailGridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount.value++;

  detailGridApi.value?.getRowNode(String(RNUM))?.setSelected(true);
  SelectedDataStore.selectedHandler(detailGridApi.value?.getRowNode(String(RNUM))?.data);
}

async function saveDetailRowData() {
  detailItemList.value = detailGridApi.value?.getSelectedRows();

  if (!detailItemList.value || detailItemList.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  await ConfirmStore.confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "시스템관리 &gt; 기준코드",
      selectIds: String(detailItemList.value.length),
      CODE_TYPE_CD: selectedMasterItem.value.CODE_TYPE_CD || "",
    };

    for (let i = 0; detailItemList.value.length > i; i++) {
      if (String(detailItemList.value[i].RNUM).includes("temp")) {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }
      data["BA_CODE_CD_O" + [i]] = detailItemList.value[i].BA_CODE_CD_O || "";
      data["BA_CODE_CD" + [i]] = detailItemList.value[i].BA_CODE_CD || "";
      data["BA_CODE_NM" + [i]] = detailItemList.value[i].BA_CODE_NM || "";
      data["CODE_VALUE" + [i]] = detailItemList.value[i].CODE_VALUE || "";
      data["VIEW_SEQ" + [i]] = detailItemList.value[i].CODE_VALUE || "";
    }
    const result = await ApiService.postApi("/TMSYS010/saveDetailCode_rn.action", {}, data);
    if (result.status) {
      if (result.result.errCnt === 0) {
        useToast().success(t("common-toast.registered"));
        detailGridApi.value?.deselectAll();
        await searchGridData();
      } else {
        useToast().error(result.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

async function searchGridData() {
  detailGridApi.value?.deselectAll();
  detailGridApi.value?.sizeColumnsToFit();
  const mainCurrentItem = SelectedDataStore.getSelectedInfoData();
  const apiParams = { CODE_TYPE_CD: Object.hasOwn(mainCurrentItem, "CODE_TYPE_CD") ? mainCurrentItem.CODE_TYPE_CD : "" };
  detailGridApi.value?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const gridData = await ApiService.postApi("/TMSYS010/listDetailCode_rn.action", apiParams, bodyData.value, false);
      if (gridData.status) {
        if (gridData.result.list.length > 0) {
          gridData.result.list.forEach((row: any) => {
            row.RNUM = String(row.RNUM) + "secondGrid";
            row.gridType = "secondGrid";
          });
          UtilService.setGridData("server-side", detailGridApi.value, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", detailGridApi.value, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
        }
      } else {
        UtilService.setGridData("server-side", detailGridApi.value, null, params);
      }
      SearchConditionStore.setAvailableSearchBySearchCondition(false);
    },
  });
}
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

async function deleteDetailRowData() {
  childrenItems.value = detailGridApi.value?.getSelectedRows();
  if (!childrenItems.value || childrenItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  await ConfirmStore.confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "시스템관리 &gt; 기준코드",
      CODE_TYPE_CD: selectedMasterItem.value.CODE_TYPE_CD || "",
      selectIds: String(childrenItems.value.length),
      D_selectIds: String(childrenItems.value.length),
      I_selectIds: "",
    };
    for (let i = 0; childrenItems.value.length > i; i++) {
      data["ST_GUBUN" + [i]] = "DELETE";
      data["BA_CODE_CD_O" + [i]] = childrenItems.value[i].BA_CODE_CD_O;
      data["BA_CODE_CD" + [i]] = childrenItems.value[i].BA_CODE_CD;
    }

    const result = await ApiService.postApi("/TMSYS010/saveDetailCode_rn.action", {}, data);

    if (result.status) {
      if (result.result.errCnt === 0) {
        useToast().success(t("common-toast.deleted"));
        detailGridApi.value?.deselectAll();
        await searchGridData();
      } else {
        useToast().error(result.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

function excelDetailExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.base-code-list"),
  };
  detailGridApi.value?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
