<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS010/grid.vue
 *  Description:    시스템관리/기준관리 메인 Form화면의 기초코드목록 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <control-container>
      <div v-for="btnData in controlBtn.value" :key="btnData.title">
        <control-button
          v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && Object.keys(selectedItems.value).length > 0"
          :data="btnData"
          :saveRowData="saveRowData"
          :deleteRowData="deleteRowData" />
        <control-button
          v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del') && SelectedDataStore.getSelectedInfoData().hasOwnProperty('RNUM')"
          :data="btnData"
          :excelExport="excelExport"
          :addRowData="addRowData" />
      </div>
    </control-container>
    <div class="grid-header">{{ t("grid-title.base-code-list") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" :modules="[ExcelExportModule]" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule, ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useConfirmStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

import { DETAIL_GRID_COLUMN_DEFS } from "./column-defs";
import { SECOND_CONTROL_BTN } from "./input.grid";

// Variable Definitions
const SelectedDataStore = useSelectedDataStore();
const SearchConditionStore = useSearchConditionStore();
const ConfirmStore = useConfirmStore();

const pagingOptions = UtilService.getGridPagingOptions("TMSYS010_1");
const pagingSize = ref<number>(pagingOptions![0]);
const emits = defineEmits(["onPageSizeChanged"]);
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const totalRows = ref<number>(0);
let gridApi: GridApi | null = null;
let tempCount = 0;
const selectedItems = reactive({ value: {} as any });
const inactive = ref<boolean>(false);
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};
const controlBtn = reactive({ value: SECOND_CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("TMSYS", "TMSYS010", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

// 검색결과 그리에 반영시키기
watch(SelectedDataStore._selectedInfoData, async () => {
  if (!inactive.value) {
    if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedInfoData())) {
      setTimeout(() => {
        gridApi?.deselectAll();
        gridApi?.setServerSideDatasource({
          getRows: async (params: IServerSideGetRowsParams) => {
            UtilService.setGridData("server-side", gridApi, null, params);
          },
        });
      });
      return;
    }
    await searchGridData();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    setTimeout(() => {
      gridApi?.deselectAll();
      gridApi?.setServerSideDatasource({
        getRows: async (params: IServerSideGetRowsParams) => {
          UtilService.setGridData("server-side", gridApi, null, params);
        },
      });
    });
  }
});

onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t(`grid-column-name.${column.headerKey}`);
    }
  });

  // grid editColumn tab event 제거
  gridOptions.columnDefs?.forEach((column: any) => {
    if (Object.hasOwn(column, "editable")) {
      column.suppressKeyboardEvent = () => {
        return true;
      };
    }
  });

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const resizeGridColumns = () => {
  const myPageId = useTabsStore().selectedTab.value?.id;
  let myGridContainerWidth = document.querySelector("#" + myPageId + "-page .form-container")?.clientWidth || 0;
  let myGridBodyContainerWidth = document.querySelector("#" + myPageId + "-page .ag-body-viewport .ag-center-cols-container")?.clientWidth || 0;
  if (myGridContainerWidth > myGridBodyContainerWidth) {
    gridApi?.sizeColumnsToFit();
  }
};

const onGridReady = (params: any) => {
  gridApi = params.api;
  resizeGridColumns();
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
    lockPosition: true,
  },
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: onGridReady,
  onPaginationChanged: onPaginationChanged,
  onRowSelected: onSelectionChanged,
  columnDefs: DETAIL_GRID_COLUMN_DEFS,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  suppressRowClickSelection: true,
  suppressClickEdit: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableRangeSelection: true,
  enableCellEditingOnBackspace: false,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

async function searchGridData() {
  gridApi?.deselectAll();
  gridApi?.sizeColumnsToFit();
  const mainCurrentItem = SelectedDataStore.getSelectedInfoData();
  const apiParams = { CODE_TYPE_CD: Object.hasOwn(mainCurrentItem, "CODE_TYPE_CD") ? mainCurrentItem.CODE_TYPE_CD : "" };
  gridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const gridData = await ApiService.postApi("/TMSYS010/listDetailCode_rn.action", apiParams, bodyData.value, false);
      if (gridData.status) {
        if (gridData.result.list.length > 0) {
          gridData.result.list.forEach((row: any) => {
            row.RNUM = String(row.RNUM) + "secondGrid";
            row.gridType = "secondGrid";
          });
          UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
        }
      } else {
        UtilService.setGridData("server-side", gridApi, null, params);
      }
      SearchConditionStore.setAvailableSearchBySearchCondition(false);
    },
  });
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "secondGrid");
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "secondGrid");
  }
}

// 신규 빈 행 추가
function addRowData() {
  const RNUM = `temp${tempCount}`;

  const newRowData = [{ RNUM: RNUM }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi?.paginationGetCurrentPage()) + 1) * Number(gridApi?.paginationGetPageSize()) - Number(gridApi?.paginationGetPageSize());

  gridApi?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;

  gridApi?.getRowNode(String(RNUM))?.setSelected(true);
  SelectedDataStore.selectedHandler(gridApi?.getRowNode(String(RNUM))?.data);
}

// 저장
async function saveRowData() {
  selectedItems.value = gridApi?.getSelectedRows();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  await ConfirmStore.confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "시스템관리 &gt; 기준코드",
      selectIds: String(selectedItems.value.length),
      CODE_TYPE_CD: SelectedDataStore.getSelectedInfoData().CODE_TYPE_CD || "",
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      if (String(selectedItems.value[i].RNUM).includes("temp")) {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }
      data["BA_CODE_CD_O" + [i]] = selectedItems.value[i].BA_CODE_CD_O || "";
      data["BA_CODE_CD" + [i]] = selectedItems.value[i].BA_CODE_CD || "";
      data["BA_CODE_NM" + [i]] = selectedItems.value[i].BA_CODE_NM || "";
      data["CODE_VALUE" + [i]] = selectedItems.value[i].CODE_VALUE || "";
      data["VIEW_SEQ" + [i]] = selectedItems.value[i].VIEW_SEQ || "";
    }
    const result = await ApiService.postApi("/TMSYS010/saveDetailCode_rn.action", {}, data);
    if (result.status) {
      if (result.result.errCnt === 0) {
        useToast().success(t("common-toast.registered"));
        gridApi?.deselectAll();
        await searchGridData();
      } else {
        useToast().error(result.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

// 삭제
async function deleteRowData() {
  selectedItems.value = gridApi?.getSelectedRows();
  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  await ConfirmStore.confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "시스템관리 &gt; 기준코드",
      CODE_TYPE_CD: SelectedDataStore.getSelectedInfoData().CODE_TYPE_CD || "",
      selectIds: String(selectedItems.value.length),
      D_selectIds: String(selectedItems.value.length),
      I_selectIds: "",
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      data["ST_GUBUN" + [i]] = "DELETE";
      data["BA_CODE_CD_O" + [i]] = selectedItems.value[i].BA_CODE_CD_O;
      data["BA_CODE_CD" + [i]] = selectedItems.value[i].BA_CODE_CD;
    }

    const result = await ApiService.postApi("/TMSYS010/saveDetailCode_rn.action", {}, data);

    if (result.status) {
      if (result.result.errCnt === 0) {
        useToast().success(t("common-toast.deleted"));
        gridApi?.deselectAll();
        await searchGridData();
      } else {
        useToast().error(result.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.base-code-list"),
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    width: 49%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
