<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSDF001_3/page.vue
 *  Description:    설정관리/택배기본정보관리 - 택배 단가 관리 -  업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->
<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData">
      <div class="grid-header">{{ t("menu-header-title.WMSDF001_3") }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSDF001_3" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service.ts";
import { SearchUtil } from "@/services/searchUtil-service.ts";
import { UtilService } from "@/services/util-service.ts";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus.ts";
import type { GridApi, GridReadyEvent } from "ag-grid-community";
import { onActivated, onBeforeMount, onMounted, onUnmounted, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const { t } = useI18n();
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  save: saveRowData,
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
});

onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  const custId = useSelectedDataStore().getSelectedModalData().owner?.CUST_ID;

  if (!UtilService.isEmptyString(custId)) {
    getDeliveryCompInfo(custId);
  }
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onActivated(() => {
  /** 화주 변경 감시 */
  const watchCustInfo = watch(
    () => [useSelectedDataStore().getSelectedModalData().owner?.CUST_CD, useSelectedDataStore().getSelectedModalData().owner?.CUST_NM, useSelectedDataStore().getSelectedModalData().owner?.CUST_ID],
    (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;
      if (UtilService.isEmptyArray(newValue)) {
        return;
      }

      const [custCd, custNm, custId] = newValue;

      custIdChangedEventCallBack(custCd, custNm, custId);
    }
  );

  /** 택배구분 변경 감시 */
  const watchDlvCompInfo = watch(
    () => useSearchConditionStore().getSearchInputValue().vrSrchParcelComCdE3,
    (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;
      if (UtilService.isEmptyString(newValue)) {
        return;
      }

      const custCd = useSelectedDataStore().getSelectedModalData().owner?.CUST_CD;
      const custNm = useSelectedDataStore().getSelectedModalData().owner?.CUST_NM;
      const custId = useSelectedDataStore().getSelectedModalData().owner?.CUST_ID;

      getDeliverySeq(newValue, custCd, custNm, custId);
    }
  );

  /** 택배SEQ 변경 감시 */
  const watchParcelSeq = watch(
    () => useSearchConditionStore().getSearchInputValue().vrSrchParcelSeqE3,
    (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;
      if (UtilService.isEmptyString(newValue)) {
        return;
      }

      // 자동조회
      searchGridData();
    }
  );

  useTabsStore().watchList.value.push(...[watchCustInfo, watchDlvCompInfo, watchParcelSeq]);
});

//#endregion

//#region ::  User Function Definitions

/**
 * "저장" 버튼 클릭 이벤트 콜백
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(SEARCH_INPUT, useSearchConditionStore(), useSelectedDataStore());

  if (searchInputRequiredValidation) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "시스템관리 &gt; 택배기본정보관리",
      vrSrchCustCdE3: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,
      vrSrchCustNmE3: useSelectedDataStore().getSelectedModalData().owner.CUST_NM,
      vrSrchCustIdE3: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
      vrSrchParcelComCdE3: useSearchConditionStore().getSearchInputValue().vrSrchParcelComCdE3 || "",
      vrSrchParcelSeqE3: String(useSearchConditionStore().getSearchInputValue().vrSrchParcelSeqE3 || ""),
      ROW_COUNT: String(selectedRows.length),
    };

    for (let i = 0; selectedRows.length > i; i++) {
      data["PARCEL_TYPE_" + [i]] = selectedRows[i].PARCEL_TYPE || "";
      data["BOX_CD_" + [i]] = selectedRows[i].BOX_CD || "";
      data["BOX_PRICE_" + [i]] = selectedRows[i].BOX_PRICE || "";
      data["USE_YN_" + [i]] = selectedRows[i].USE_YN || "";
    }

    const result = await ApiService.postApi("/WMSDF001/saveE3_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      searchGridData();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    console.log(err);
    return err;
  }
}

/**
 * 화주 변경 이벤트 콜백
 * - 하위 검색조건 조회
 *
 * @param custCd : 화주코드
 * @param custNm : 화주명
 * @param custId : 화주ID
 */
function custIdChangedEventCallBack(custCd: string, custNm: string, custId: string) {
  getDeliveryCompInfo(custId);
}

/**
 * 택배사 정보 획득
 *
 * @param custId : 화주ID
 */
async function getDeliveryCompInfo(custId: string) {
  const bodyData = {
    vrSrchCustId: custId,
  };

  const res = await ApiService.postApi("/WMSOP642/dlvDlvCompInfo_rn.action", {}, bodyData);

  if (res.result.DLV_COMP_INFO.length === 0) {
    SearchUtil.setClear(SEARCH_INPUT, "vrSrchParcelComCdE3");
    SearchUtil.setClear(SEARCH_INPUT, "vrSrchParcelSeqE3");
    SearchUtil.setDisabled(SEARCH_INPUT, "vrSrchParcelComCdE3", true);
    SearchUtil.setDisabled(SEARCH_INPUT, "vrSrchParcelSeqE3", true);
  } else {
    res.result.DLV_COMP_INFO.forEach((option: any) => {
      option.name = option.PARCEL_COM_TY_NM;
      option.value = option.PARCEL_COM_TY;
    });

    useOptionDataStore().setOptionData({ vrSrchParcelComCdE3: res.result.DLV_COMP_INFO });

    // 검색조건 바인딩 및 갱신
    SearchUtil.setDisabled(SEARCH_INPUT, "vrSrchParcelComCdE3", false);
    SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrSrchParcelComCdE3", true);
  }

  useOptionDataStore().setAvailableWatchBySearchCondition(true);
}

/**
 * 택배SEQ 획득
 *
 * @param dlvComp
 * @param custCd
 * @param custNm
 * @param custId
 */
async function getDeliverySeq(dlvComp: string, custCd: string, custNm: string, custId: string) {
  const bodyData = {
    _fullpath: "시스템관리 &gt; 택배기본정보관리",
    vrSrchCustCdE3: custCd,
    vrSrchCustNmE3: custNm,
    vrSrchCustIdE3: custId,
    vrSrchParcelComCdE3: dlvComp,
  };

  const res2 = await ApiService.postApi("/WMSDF001/selectDlvSeq_rn.action", {}, bodyData);

  if (res2.result.selectBoxInfos.list) {
    res2.result.selectBoxInfos.list.forEach((option: any) => {
      option.name = option.PARCEL_COM_TY_SEQ + " : " + option.SHORT_DESC;
      option.value = option.PARCEL_COM_TY_SEQ;
    });

    useOptionDataStore().setOptionData({ vrSrchParcelSeqE3: res2.result.selectBoxInfos.list });

    // 검색조건 바인딩 및 갱신
    SearchUtil.setDisabled(SEARCH_INPUT, "vrSrchParcelSeqE3", false);
    SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrSrchParcelComCdE3", false);
    SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrSrchParcelSeqE3", true);
    useOptionDataStore().setAvailableWatchBySearchCondition(true);
  }
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSDF001/listE3_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
