<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSYS030/page.vue
 *  Description:    시스템관리/템플릿관리 - 템플릿관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.10.11 : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData">
      <div class="grid-header">{{ t("menu-header-title.WMSYS030") }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :startRowValue="startRowValue.value" @changeStartRowValue="changeStartRowValue" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
  <template-prompt-modal
    v-if="isShowTemplatePrompt"
    :data="TEMPLATE_PROMPT_MODAL_INFO[currentTemplatePromptTitle]"
    :changeTemplateName="changeTemplateNameCallBack"
    :createNewTemplate="createNewTemplateCallBack"
    @changeIsShowTemplatePrompt="closeTemplatePrompt"
    :beforeTemplateName="beforeTemplateName" />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSYS030" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import TemplatePromptModal from "@/popups/template-prompt-modal.vue";
import { ApiService } from "@/services/api-service.ts";
import { SearchUtil } from "@/services/searchUtil-service.ts";
import { UtilService } from "@/services/util-service.ts";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus.ts";
import type { GridApi, GridReadyEvent } from "ag-grid-community";
import { onActivated, onBeforeMount, onMounted, onUnmounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META, SEARCH_MODAL_INFO, TEMPLATE_PROMPT_MODAL_INFO } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const { t } = useI18n();
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  "start-row-save": saveStartRow,
  "change-template-name": changeTemplateNameClickEvent,
  "create-new-template": createNewTemplateClickEvent,
  "delete-template": deleteTemplate,
  "copy-template": copyTemplate,
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

//select-box 값 가져오기
const searchModalInfo = reactive({ value: {} } as { value: any });
const beforeTemplateName = ref("");
let startRowValue = reactive({ value: 2 } as { value: any }); // api로 받아온 startRow(시작행)값, control영역 select-box에 전달
let isShowTemplatePrompt = ref(false); // TemplatePrompt 모달의 v-if 상태
let targetTemplateId: string;
let currentTemplatePromptTitle = ref(""); // 현재 활성화 되어야할 TEMPLATE_PROMPT_MODAL_INFO 를 전달하기 위해

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi("/WINUS/WMSYS030_rn.action", {}, UtilService.getOptionApiData("WMSYS030_rn"));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }

  searchModalInfo.value = Object.assign({}, SEARCH_MODAL_INFO);
});

onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  eventBus.on("search-finished", searchFinished);
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  eventBus.off("search-finished", searchFinished);
});

onActivated(() => {
  /** 화주 변경 감시 */
  const watchCustInfo = watch(
    () => [useSelectedDataStore().getSelectedModalData().owner?.CUST_CD, useSelectedDataStore().getSelectedModalData().owner?.CUST_NM, useSelectedDataStore().getSelectedModalData().owner?.CUST_ID],
    (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;
      if (UtilService.isEmptyArray(newValue)) {
        return;
      }

      const [custCd, custNm, custId] = newValue;

      custIdChangedEventCallBack(custCd, custNm, custId);
    }
  );

  /** 타입 변경 감시 */
  const watchTemplateType = watch(
    () => useSearchConditionStore().getSearchInputValue().vrTempleteType,
    (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;
      if (UtilService.isEmptyString(newValue)) {
        return;
      }

      const custCd = useSelectedDataStore().getSelectedModalData().owner?.CUST_CD;
      const custNm = useSelectedDataStore().getSelectedModalData().owner?.CUST_NM;
      const custId = useSelectedDataStore().getSelectedModalData().owner?.CUST_ID;

      templateTypeChangedEventCallBack(custCd, custNm, custId, newValue);
    }
  );

  const watchDetailType = watch(
    () => useSearchConditionStore().getSearchInputValue().vrCustSeq,
    (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;
      if (UtilService.isEmptyString(newValue)) {
        return;
      }

      searchGridData();
    }
  );

  useTabsStore().watchList.value.push(...[watchCustInfo, watchTemplateType, watchDetailType]);
});

//#endregion

//#region ::  User Function Definitions

/**
 * [common-search.vue] 세션 스토리지 후속 처리
 * - 화주 모달 팝업 호출
 */
function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

/**
 * 화주 변경 이벤트 콜백
 * - 하위 검색조건 재조회
 *
 * @params value : 변경 값, ( TODO :: 이벤트 변수)
 */
async function custIdChangedEventCallBack(custCd: string, custNm: string, custId: string, templateType?: string) {
  await getTemplateDetailType(custCd, custNm, custId, templateType); // "상세타입" 조회
  SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrTempleteType", true); // 자동선택 설정 (조회 값의 첫 번째로 설정)
  SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrCustSeq", true); // 자동선택 설정 (조회 값의 첫 번째로 설정)
  useOptionDataStore().setAvailableWatchBySearchCondition(true); // 검색조건 옵션 변경점 적용
}

/**
 * 타입 변경 이벤트 콜백
 *  - 하위 검색조건 재조회
 */
async function templateTypeChangedEventCallBack(custCd: string, custNm: string, custId: string, templateType: string) {
  await getTemplateDetailType(custCd, custNm, custId, templateType ?? ""); // "상세타입" 정보조회
  SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrTempleteType", false); // 자동선택 해제
  SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrCustSeq", true); // 자동선택 설정 (조회 값의 첫 번째로 설정)
  useOptionDataStore().setAvailableWatchBySearchCondition(true); // 검색조건 옵션 변경점 적용
}

/**
 * 템플릿 정보(상세타입) 조회
 *
 * @params custCd : 화주코드
 * @params custNm : 화주명
 * @params custId : 화주ID
 * @params templateType : 타입
 */
async function getTemplateDetailType(custCd?: string, custNm?: string, custId?: string, templateType?: string) {
  const bodyData = {
    vrSrchCustCd: custCd ?? useSelectedDataStore().getSelectedModalData().owner?.CUST_CD,
    vrSrchCustNm: custNm ?? useSelectedDataStore().getSelectedModalData().owner?.CUST_NM,
    vrSrchCustId: custId ?? useSelectedDataStore().getSelectedModalData().owner?.CUST_ID,
    vrTempleteType: templateType ?? useSearchConditionStore().getSearchInputValue()["vrTempleteType"],
    vrSrchCustCd_COPY: null,
    vrSrchCustNm_COPY: null,
    vrSrchCustId_COPY: null,
    vrTemplateId: null,
    vrTemplateNm: null,
    vrTemplateChNm: null,
  };

  const res = await ApiService.postApi("/WMSYS030/templateList_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.list.length === 0) {
      SearchUtil.setDisabled(SEARCH_INPUT, "vrCustSeq", true);

      useOptionDataStore().setOptionData({ vrCustSeq: [] });
      useSearchConditionStore().changeSearchInputValue("vrCustSeq", undefined);
    }
    if (res.result.list.length > 0) {
      SearchUtil.setDisabled(SEARCH_INPUT, "vrCustSeq", false);

      res.result.list.forEach((option: any, i: any) => {
        if (!option.REMARK) {
          option.REMARK = `타입 - ${i + 1}`;
        }
      });
      useOptionDataStore().setOptionData({ vrCustSeq: res.result.list });
    }
  }
}

/**
 * 시작 행 저장
 */
async function saveStartRow() {
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  const bodyData = {
    FORMAT_TEMPLATE_ID: targetTemplateId,
    FORMAT_CUST_SEQ: String(useSearchConditionStore().getSearchInputValue().vrCustSeq),
    FORMAT_CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
    FORMAT_START_ROW: String(startRowValue.value),
    FORMAT_LC_ID: UtilService.getCurrentLocation(),
  };
  const res = await ApiService.postApi("/WMSYS030/updateStartRow_rn.action", {}, bodyData);
  if (res.status) {
    useToast().success(res.result.MSG);
  } else {
    useToast().error(res.result.MSG);
  }
}

/**
 * 시작 행 변경 이벤트 콜백
 *
 * @param value : 변경 값
 */
function changeStartRowValue(value: any) {
  startRowValue.value = value;
}

/**
 * 팝업 닫기
 * (템플릿 명칭 변경, 신규템플릿 생성)
 */
function closeTemplatePrompt(value: boolean) {
  isShowTemplatePrompt.value = value;
}

/**
 * 템플릿명칭변경 클릭 이벤트
 */
function changeTemplateNameClickEvent() {
  currentTemplatePromptTitle.value = "change-template-name";
  isShowTemplatePrompt.value = true;
}

/**
 * 템플릿명칭변경 '저장' 이벤트 콜백
 */
async function changeTemplateNameCallBack(value: any) {
  const bodyData = {
    FORMAT_TEMPLATE_ID: targetTemplateId,
    FORMAT_CUST_SEQ: String(useSearchConditionStore().getSearchInputValue().vrCustSeq),
    FORMAT_CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
    FORMAT_REMARK: value,
    FORMAT_LC_ID: UtilService.getCurrentLocation(),
  };

  const res = await ApiService.postApi("/WMSYS030/updateTemplateName_rn.action", {}, bodyData);

  if (res.status) {
    gridApi.value?.setRowData([]); // 초기화
    await getTemplateDetailType();
    SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrTempleteType", false); // 자동선택 해제
    SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrCustSeq", true); // 자동선택 설정 (조회 값의 첫 번째로 설정)
    useOptionDataStore().setAvailableWatchBySearchCondition(true); // 검색조건 옵션 변경점 적용

    useToast().success(res.result.MSG);
  }
}

/**
 * 템플릿 삭제
 * - 등록된 모든 컬럼 정보 등 삭제
 */
async function deleteTemplate() {
  // TODO :: 저장하지 않은 작업은 초기화 됨을 안내.
  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    const bodyData = {
      FORMAT_TEMPLATE_ID: targetTemplateId,
      FORMAT_CUST_SEQ: String(useSearchConditionStore().getSearchInputValue().vrCustSeq),
    };

    const result = await ApiService.postApi("/WMSYS030/deleteTemplate_rn.action", {}, bodyData);
    if (result.status) {
      if (Object.hasOwn(result.result, "errCnt") && result.result.errCnt !== 0) {
        useToast().error(t(result.result.MSG));
      } else {
        useToast().success(t("common-toast.deleted"));

        getTemplateDetailType();
        SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrTempleteType", false); // 자동선택 해제
        SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrCustSeq", true); // 자동선택 설정 (조회 값의 첫 번째로 설정)
      }

      gridApi.value?.setRowData([]); // 그리드를 빈 그리드로 리셋
      useOptionDataStore().setAvailableWatchBySearchCondition(true); // 검색조건 옵션 변경점 적용
    }
  } catch (err) {
    console.log("err : ", err);
    throw err;
  }
}

/**
 * 템플릿 복사
 */
function copyTemplate() {
  searchModalInfo.value.owner.templateId = targetTemplateId;
  useCallModalIdStore().setCallModalId("owner");
}

/**
 * 신규템플릿생성 클릭 이벤트
 */
function createNewTemplateClickEvent() {
  currentTemplatePromptTitle.value = "create-new-template";
  isShowTemplatePrompt.value = true;
}

/**
 * 신규템플릿생성 '저장' 이벤트 콜백
 *
 * @param value
 */
async function createNewTemplateCallBack(value: any) {
  const bodyData = {
    FORMAT_TEMPLATE_ID: targetTemplateId,
    FORMAT_LC_ID: UtilService.getCurrentLocation(),
    FORMAT_CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
    FORMAT_REMARK: value,
  };

  const res = await ApiService.postApi("/WMSYS030/insertNewTemplate_rn.action", {}, bodyData);

  if (res.status) {
    gridApi.value?.setRowData([]); // 초기화
    await getTemplateDetailType();
    SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrTempleteType", false); // 자동선택 해제
    SearchUtil.setAllowAutoSelected(SEARCH_INPUT, "vrCustSeq", true); // 자동선택 설정 (조회 값의 첫 번째로 설정)
    useOptionDataStore().setAvailableWatchBySearchCondition(true); // 검색조건 옵션 변경점 적용
    useToast().success(res.result.MSG);
  }
}

/**
 * 저장 (행 단위)
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  // bodyData 셋팅
  let bodyData: any = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  bodyData.selectIds = String(selectedRows.length);
  bodyData.vrSrchCustCd_COPY = "";
  bodyData.vrSrchCustNm_COPY = "";
  bodyData.vrSrchCustId_COPY = "";
  bodyData.vrTemplateId = targetTemplateId;
  bodyData.vrTemplateNm = "";
  bodyData.vrTemplateChNm = "";
  bodyData.vrCustSeq += "";

  for (let i = 0; selectedRows.length > i; i++) {
    if (Object.hasOwn(selectedRows[i], "ST_GUBUN")) {
      bodyData["ST_GUBUN" + [i]] = selectedRows[i].ST_GUBUN;
    } else {
      bodyData["ST_GUBUN" + [i]] = "UPDATE";
    }
    bodyData["FORMAT_BIND_COL" + [i]] = String(selectedRows[i].FORMAT_BIND_COL || "");
    bodyData["FORMAT_MUST_YN" + [i]] = String(selectedRows[i].FORMAT_MUST_YN || "");
    bodyData["FORMAT_COL_NM" + [i]] = String(selectedRows[i].FORMAT_COL_NM || "");
    bodyData["FORMAT_USE_SEQ" + [i]] = String(selectedRows[i].FORMAT_USE_SEQ || "");
    bodyData["FORMAT_COL_SEQ" + [i]] = String(selectedRows[i].FORMAT_COL_SEQ || "");
    bodyData["FORMAT_VIEW_SEQ" + [i]] = String(selectedRows[i].FORMAT_VIEW_SEQ || "");
    bodyData["FORMAT_COL_WIDTH" + [i]] = String(selectedRows[i].FORMAT_COL_WIDTH || "");
    bodyData["FORMAT_DEFAULT_VALUE" + [i]] = String(selectedRows[i].FORMAT_DEFAULT_VALUE || "");
    bodyData["FORMAT_TEMPLATE_INFO" + [i]] = String(selectedRows[i].FORMAT_TEMPLATE_INFO || "");
    bodyData["FORMAT_USE_YN" + [i]] = String(selectedRows[i].FORMAT_USE_YN || "");
    bodyData["FORMAT_COL_FORMAT" + [i]] = String(selectedRows[i].FORMAT_COL_FORMAT || "");
    bodyData["FORMAT_COL_TYPE" + [i]] = String(selectedRows[i].FORMAT_COL_TYPE || "");
    bodyData["FORMAT_SAM_VALUE" + [i]] = String(selectedRows[i].FORMAT_SAM_VALUE || "");
    bodyData["ROW_CUST_SEQ" + [i]] = String(selectedRows[i].FORMAT_CUST_SEQ || "");
  }
  try {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
    const result = await ApiService.postApi("/WMSYS030/save_rn.action", {}, bodyData);
    if (result.status) {
      if (result.result.errCnt !== 0) {
        useToast().error(t(result.result.MSG));
      } else {
        useToast().success(t("common-toast.registered"));
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        searchGridData();
      }
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    throw err;
  }
}

/**
 * 신규 (행 추가)
 */
async function addRowData() {
  if (GridUtils.isGridEmtpy(gridApi.value!)) {
    useToast().warning(t("common-toast.no-data-found"));
    return;
  }
  const newRowData = [{ ST_GUBUN: "INSERT", FORMAT_COL_WIDTH: "0", FORMAT_USE_YN: "N" }];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });
}

/**
 * 삭제 (행 단위)
 * - "사용여부" 값을 N으로 변경한다.
 * - 실제 행에 대한 데이터는 삭제하지 않는다.
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  let bodyData = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());

  bodyData = {};

  for (let i = 0; selectedRows.length > i; i++) {
    // 반영되지 않은 신규 행 삭제
    if (selectedRows[i].ST_GUBUN === "INSERT") {
      gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
    } else {
      // 행의 모든 열 데이터 Merge
      for (const [key, value] of Object.entries(selectedRows[i])) {
        bodyData[`${key}${rowIndex}`] = String(value);
      }

      rowIndex++;
      isDataDelete = true;
    }
  }

  bodyData["selectIds"] = rowIndex;
  bodyData["vrSrchCustCd_COPY"] = null;
  bodyData["vrSrchCustNm_COPY"] = null;
  bodyData["vrSrchCustId_COPY"] = null;
  bodyData["vrTemplateId"] = targetTemplateId;
  bodyData["vrTemplateNm"] = null;
  bodyData["vrTemplateChNm"] = null;
  bodyData["vrCustSeq"] = "";

  // 데이터 삭제처리가 필요하지 않은 경우
  if (!isDataDelete) return;

  try {
    const result = await ApiService.postApi("/WMSYS030/delete_rn.action", {}, bodyData);
    if (result.status) {
      if (result.result.errCnt !== 0) {
        useToast().error(t(result.result.MSG));
      } else {
        useToast().success(t("common-toast.deleted"));
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        searchGridData();
      }
    }
  } catch (err) {
    console.log("err : ", err);
    throw err;
  }
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSYS030/list_rn.action", apiParams, bodyData.value, false);
}

/**
 * 그리드 조회 후속 이벤트
 * - 시작행 조회
 * - Template ID 획득
 * - 컬럼순번 최대값 획득
 */
async function searchFinished() {
  const firstRowData = gridApi.value?.getRowNode("0")!.data;

  /** Target Template ID */
  targetTemplateId = firstRowData.FORMAT_TEMPLATE_ID;

  const bodyData = {
    FORMAT_TEMPLATE_ID: targetTemplateId,
    FORMAT_CUST_SEQ: useSearchConditionStore().getSearchInputValue().vrCustSeq,
    FORMAT_CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
  };

  /** Start Row */
  const res = await ApiService.postApi("/WMSYS030/selectStartRow_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.list.length > 0) {
      startRowValue.value = res.result.list[0].START_ROW;
    }
  }
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
