<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	grid-panel/pagination-panel.vue
 *  Description:    SSRM 유형에서 "Row Group" 옵션을 사용하는 경우.
                    WINUS와 동일한 Pagination을 따르기 위한 개별 패널
 *  Authors:        dhkim
 *  Update History:
 *                  2024.05 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div class="ag-status-name-value">
    <span class="ag-paging-page-summary-panel" role="presentation">
      <div ref="btFirst" class="ag-button ag-paging-button" :class="previousDisalbed ? 'ag-disabled' : ''" role="button" aria-label="First Page" tabindex="0">
        <span class="ag-icon ag-icon-first" role="presentation" @click="gotoFirstPage"></span>
      </div>
      <div ref="btPrevious" class="ag-button ag-paging-button" :class="previousDisalbed ? 'ag-disabled' : ''" role="button" aria-label="Previous Page" tabindex="0">
        <span class="ag-icon ag-icon-previous" role="presentation" @click="gotoPreviousPage"></span>
      </div>
      <span class="ag-paging-description" role="status" style="display: flex">
        <span id="ag-38875-start-page">Page</span>
        <span id="ag-38875-start-page-number" ref="lbCurrent" class="ag-paging-number" style="margin: auto 0.4rem">
          {{ currentPageNumber.value }}
        </span>
        <span id="ag-38875-of-page">of</span>
        <span id="ag-38875-of-page-number" ref="lbTotal" class="ag-paging-number" style="margin: auto 0.4rem">
          {{ lastPageNumber.value }}
        </span>
      </span>
      <div ref="btNext" class="ag-button ag-paging-button" :class="nextDisalbed ? 'ag-disabled' : ''" aria-label="Next Page" tabindex="0">
        <span class="ag-icon ag-icon-next" role="presentation" @click="gotoNextPage"></span>
      </div>
      <div ref="btLast" class="ag-button ag-paging-button" :class="nextDisalbed ? 'ag-disabled' : ''" role="button" aria-label="Last Page" tabindex="0">
        <span class="ag-icon ag-icon-last" role="presentation" @click="gotoLastPage"></span>
      </div>
    </span>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { useSearchConditionStore } from "@/store";
import { computed, onMounted, reactive } from "vue";
import { useEventBusStore } from "../../store/event-bus/EventBus";

//#region ::  Variable Definitions

const { params } = defineProps<{
  params: any;
}>();

let currentPageNumber = reactive(params.currentPageNumber);
let lastPageNumber = reactive(params.lastPageNumber);

const nextDisalbed = computed(() => {
  return currentPageNumber.value >= lastPageNumber.value;
});
const previousDisalbed = computed(() => {
  return currentPageNumber.value <= 1;
});
const eventBus = useEventBusStore();
//#endregion

//#region ::  Framework Function Definitions

onMounted(() => {});

//#endregion

//#region ::  User Function Definitions

/**
 * 시작 페이지 이동
 */
function gotoFirstPage() {
  if (currentPageNumber.value <= 1) {
    return;
  }

  currentPageNumber.value = 1;

  // 검색(조회) 트리거
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  eventBus.emit("search-data");
}

/**
 * 이전 페이지 이동
 */
function gotoPreviousPage() {
  if (currentPageNumber.value <= 1) {
    return;
  }

  currentPageNumber.value--;

  // 검색(조회) 트리거
  eventBus.emit("search-data");
}

/**
 * 다음 페이지 이동
 */
function gotoNextPage() {
  if (currentPageNumber.value >= lastPageNumber.value) {
    return;
  }

  currentPageNumber.value++;

  // 검색(조회) 트리거
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  eventBus.emit("search-data");
}

/**
 * 마지막 페이지 이동
 */
function gotoLastPage() {
  if (currentPageNumber.value >= lastPageNumber.value) {
    return;
  }

  currentPageNumber.value = lastPageNumber.value;

  // 검색(조회) 트리거
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  eventBus.emit("search-data");
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
