<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	grid-panel/row-count-panel.vue
 *  Description:    SSRM 유형에서 "Row Group" 옵션을 사용하는 경우
                    그리드에 반영된 행의 총 개수를 출력하는 패널.
                    (Group Level 별 카운트 혹은 포함된 Children이 카운팅되어 혼선이 생기는 경우 사용.)
 *  Authors:        dhkim
 *  Update History:
 *                  2024.05 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div>
    <div class="ag-status-name-value" style="display: flex">
      <select @change="onPageSizeChanged" class="page-size" style="margin-right: 0.8rem">
        <option v-for="(option, i) in params.pageSizeList" :key="i" :value="option">{{ option }}</option>
      </select>
      <span style="margin-right: 0.8rem">Total:</span>
      <span class="ag-status-name-value-value">{{ totalRows.value }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onBeforeMount, onMounted, reactive } from "vue";

//#region ::  Variable Definitions

const { params } = defineProps<{
  params: any;
}>();

let totalRows = reactive(params.totalRows);
let pagingSize = reactive(params.pagingSize);

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(() => {});

onMounted(() => {});

//#endregion

//#region ::  User Function Definitions

/**
 * 페이지 사이즈 변경
 * - 페이지 설정값 초기화 (1 페이지 이동)
 * - 선택 사이즈로 자동 조회
 *
 * @param event
 */
function onPageSizeChanged(event: any) {
  pagingSize = Number(event.target.value);
  params.pageSizeChangedCallBack(pagingSize);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
