<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS040/page.vue
 *  Description:    기준정보/창고정보관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <commonGridInfoForm
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :onCellClicked="onCellClicked"
      :info-meta="INFO_META"
      :infoControlBtn="INFO_CONTROL_BTN"
      :infoTextChanged="infoCompChangedCallBack"
      :infoSelectChanged="infoCompSelectedCallBack">
      <template v-slot:grid-button>
        <control-container>
          <div v-for="btnData in controlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
      <template v-slot:info-button>
        <control-container>
          <div v-for="btnData in infoControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
    </commonGridInfoForm>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS040" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import commonGridInfoForm from "@/page/common-page/common-grid-info-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, INFO_CONTROL_BTN, INFO_INPUT, INFO_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const infoControlBtnRef = ref(INFO_CONTROL_BTN);
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const { t } = useI18n();

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
  "enter-excel": excelImport,
};

const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi(`/WINUS/${myPageId.value}_rn.action`, {}, UtilService.getOptionApiData(`${myPageId.value}`));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * 신규
 */
function addRowData() {
  const newRowData = [{ WH_CD: "", WH_NM: "", STATE: "C", WH_TYPE: "", WH_GB: "01" }];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });
}

/**
 * 저장
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let data: any = { _fullpath: "", selectIds: selectedRows.length };

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const validationResult = UtilService.inputRequiredValidation(INFO_INPUT, selectedRows);
  if (!validationResult?.status) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${validationResult?.toastKey}`) }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    for (let i = 0; selectedRows.length > i; i++) {
      if (selectedRows[i].STATE === "C") {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }
      data["WH_ID" + [i]] = selectedRows[i].WH_ID;
      data["WH_CD" + [i]] = selectedRows[i].WH_CD || "";
      data["WH_NM" + [i]] = selectedRows[i].WH_NM || "";
      data["WH_TYPE" + [i]] = selectedRows[i].WH_TYPE || "";
      data["WH_GB" + [i]] = selectedRows[i].WH_GB || "";
      data["MAX_LEN_W" + [i]] = selectedRows[i].MAX_LEN_W || "";
      data["MAX_LEN_L" + [i]] = selectedRows[i].MAX_LEN_L || "";
    }

    const result = await ApiService.postApi("/WMSMS040/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {};

    for (let i = 0; selectedRows.length > i; i++) {
      // 반영되지 않은 신규 행 삭제
      if (selectedRows[i].STATE === "C") {
        gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
      } else {
        data["ST_GUBUN" + [rowIndex]] = "DELETE";
        data["WH_ID" + [rowIndex]] = selectedRows[i].WH_ID;

        rowIndex++;
        isDataDelete = true;
      }
    }

    data["_fullpath"] = "";
    data["selectIds"] = String(rowIndex);
    data["I_selectIds"] = "";
    data["D_selectIds"] = String(rowIndex);

    // 데이터 삭제처리가 필요하지 않은 경우
    if (!isDataDelete) return;

    const result = await ApiService.postApi("/WMSMS040/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 엑셀 입력
 */
function excelImport() {
  const data = {
    modalTitle: t("modal-title.warehouse-information-enter-excel"),
    saveUrl: "/WMSMS040/uploadWhInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS040&file_name=execlTemp_warehouse_01.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * "엑셀" 버튼 클릭 이벤트 콜백
 */
function excelExport() {
  // 편집 상태 종료
  gridApi.value?.stopEditing();

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.warehouse-information-management"),
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "text"
 */
function infoCompChangedCallBack(e: Event, key: string, overapCheckVal?: boolean) {
  const target = e.target as HTMLInputElement;
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  rowNode.setDataValue(key, target.value);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "select"
 */
function infoCompSelectedCallBack(e: Event, key: string, option: any) {
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  rowNode.setDataValue(key, option.CODE_CD);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSMS040/list_rn.action", apiParams, bodyData.value, false);
}

/**
 * 그리드 셀 클릭 이벤트
 * - 선택 행의 정보를 info 영역에 맵핑
 */
function onCellClicked(e: CellClickedEvent) {
  useSelectedDataStore().selectedInfoHandler(e.data, true);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
