<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	barcode-multi-input.vue
 *  Description:    wmsom120-new-popup 팝업에서 상품세부코드 열 더블클릭시 노출되는 상품 바코드 다중입력 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="barcode-multi-input" class="barcode-multi-input">
    <div class="barcode-multi-input-container">
      <h3 class="barcode-multi-input-title">{{ t("modal-title.product-barcode-multi-input") }}</h3>
      <!--검색 인풋영역-->
      <search-container :data="BARCODE_MULTI_INPUT_DEF.searchInput" :use-setting="false" :un-used-refresh-button="true">
        <template v-slot:search_input_slot>
          <template v-for="(props, i) in (BARCODE_MULTI_INPUT_DEF.searchInput)" :key="i">
            <search-container-input :data="props" :columnDefs="[]" :modalData="[]" :pageInfo="null" />
          </template>
        </template>
      </search-container>
      <!--컨트롤버튼 영역-->
      <div class="barcode-multi-input-control">
        <template v-for="btnData in BARCODE_MULTI_INPUT_DEF.controlButton" :key="btnData.title">
          <control-button :data="btnData" :addRowData="addRowData" :saveRowData="saveRowData" :close="close" :deleteRowData="deleteRowData" :sync="sync" />
        </template>
      </div>
      <!--그리드영역-->
      <div class="barcode-multi-input-grid">
        <div class="grid-header">입고주문</div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
        <div class="ag-paging-custom">
          <select @change="onPageSizeChanged" class="page-size">
            <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
          </select>
          <span>Total : {{ totalRows }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, reactive, ref, watch } from "vue";

import { GridApi, GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useSearchConditionStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import searchContainer from "@/components/layout/search-container.vue";

import { BARCODE_MULTI_INPUT_DEF } from "@/constants/popup-component-def";

// Variable Definitions
const { changeIsShowBarcodeMultiInput, changeCurrentSelectedBarcode, barcodeSearchParams } = defineProps<{
  changeIsShowBarcodeMultiInput: (value: boolean) => void;
  changeCurrentSelectedBarcode: (value: string) => void;
  barcodeSearchParams: any;
}>();
const selectedItems = reactive({ value: [] as any });
const pagingOptions = UtilService.getGridPagingOptions("barcodeMultiInput");
const bodyData = reactive({ value: {} as any });
const pagingSize = ref<number>(pagingOptions![0]);
const { t } = useI18n();
const inactive = ref<boolean>(false);
const totalRows = ref<number>(0);
let tempCount = 0;
let gridApi: GridApi | null | any = null;

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

// 검색결과 그리드에 반영시키기
watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: BARCODE_MULTI_INPUT_DEF.gridColumn,
  onRowSelected: onSelectionChanged,
  onRowDoubleClicked: onRowDoubleClicked,
  onPaginationChanged: onPaginationChanged,
  onGridReady: onGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  suppressCellFocus: true,
  suppressClickEdit: true,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi?.deselectAll();

    const params = Object.assign({}, barcodeSearchParams);
    params.txtSrchItemBarCd = useSearchConditionStore().getSearchInputValue().txtSrchItemBarCd || "";
    const gridData = await ApiService.postApi("/WMSMS090pop3/list_rn.action", barcodeSearchParams, bodyData.value);
    gridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        setPagingBodyData(params);
        if (gridData.status === false) {
          params.successCallback([], 0);
        } else {
          params.successCallback(gridData.result.list, UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows));
        }

        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

// 신규
function addRowData() {
  const RNUM = `temp${tempCount}`;

  const newRowData = [{ RNUM: RNUM }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi?.paginationGetCurrentPage()) + 1) * Number(gridApi?.paginationGetPageSize()) - Number(gridApi?.paginationGetPageSize());

  gridApi?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;

  gridApi?.getRowNode(String(RNUM))?.setSelected(true);
}

function onSelectionChanged(e: any) {
  gridApi?.stopEditing();
  UtilService.setGridStartEditing(gridApi?.getSelectedNodes(), gridApi);
  gridApi?.ensureColumnVisible("NO", undefined);
  gridApi?.ensureIndexVisible(e.rowIndex, null);
  selectedItems.value = gridApi?.getSelectedRows();
}

function onRowDoubleClicked(params: any) {
  if (Object.hasOwn(params.data, "REG_DT")) {
    changeCurrentSelectedBarcode(params.data.ITEM_BAR_CD);
    close();
  }
}

// 저장
async function saveRowData() {
  gridApi?.stopEditing();
  UtilService.setGridStartEditing(gridApi?.getSelectedNodes(), gridApi);
  selectedItems.value = gridApi?.getSelectedRows();

  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi);
  if (!saveEditGridRequiredValidation.status) {
    UtilService.setGridStartEditing(gridApi?.getSelectedNodes(), gridApi);
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  const bodyData: any = {
    func: "selectedItemBarcodeCallBack",
    SrchCustId: barcodeSearchParams.SrchCustId,
    SrchRitemId: barcodeSearchParams.SrchRitemId,
    vrRepBarCd: "",
    vrItemBarCd: "",
    txtSrchItemBarCd: useSearchConditionStore().getSearchInputValue().txtSrchItemBarCd || "",
    selectIds: String(gridOptions.api?.getSelectedRows.length),
  };

  for (let i = 0; selectedItems.value.length > i; i++) {
    if (selectedItems.value[i].RNUM.includes("temp")) {
      bodyData["ST_GUBUN" + [i]] = "INSERT";
    } else {
      bodyData["ST_GUBUN" + [i]] = "UPDATE";
    }
    bodyData["ITEM_BAR_CD" + [i]] = selectedItems.value[i].ITEM_BAR_CD || "";
    bodyData["ITEM_MAKER" + [i]] = selectedItems.value[i].ITEM_MAKER || "";
    bodyData["ITEM_NM" + [i]] = selectedItems.value[i].ITEM_NM || "";
    bodyData["UOM1_CD" + [i]] = selectedItems.value[i].UOM1_CD || "";
    bodyData["UOM2_CD" + [i]] = selectedItems.value[i].UOM2_CD || "";
    bodyData["CVT_QTY" + [i]] = selectedItems.value[i].CVT_QTY || "";
    bodyData["DEF_QTY" + [i]] = selectedItems.value[i].DEF_QTY || "";
    bodyData["ORG_ITEM_BAR_CD" + [i]] = selectedItems.value[i].ORG_ITEM_BAR_CD || "";
  }

  const res = await ApiService.postApi("", {}, bodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success("");
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    } else {
      useToast().error("");
    }
  }
}

// 삭제
async function deleteRowData() {
  selectedItems.value = gridApi?.getSelectedRows();

  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  const bodyData: any = {
    func: "selectedItemBarcodeCallBack",
    SrchCustId: barcodeSearchParams.SrchCustId,
    SrchRitemId: barcodeSearchParams.SrchRitemId,
    vrRepBarCd: "",
    vrItemBarCd: "",
    txtSrchItemBarCd: useSearchConditionStore().getSearchInputValue().txtSrchItemBarCd || "",
    selectIds: String(gridOptions.api?.getSelectedRows.length),
  };

  for (let i = 0; selectedItems.value.length > i; i++) {
    bodyData["ORG_ITEM_BAR_CD" + [i]] = selectedItems.value[i].ITEM_BAR_CD;
  }

  const res = await ApiService.postApi("", {}, bodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success("");
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    } else {
      useToast().error("");
    }
  }
}

// 동기화
async function sync() {
  if (!gridApi?.getModel().rowNodes || Object.keys(gridApi?.getModel().rowNodes).length === 0) {
    return useToast().warning("");
  }
  const bodyData = {
    MASTER_CODE: "MASTER_THEDRIP",
    RITEM_ID: barcodeSearchParams.SrchRitemId,
    CUST_ID: barcodeSearchParams.SrchCustId,
    ITEM_CODE: "",
  };

  const res = await ApiService.postApi("", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success("");
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    } else {
      useToast().error("");
    }
  }
}

// 닫기
function close() {
  changeIsShowBarcodeMultiInput(false);
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.barcode-multi-input {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    padding: 25px 15px 15px 10px;
    border-radius: 20px;
    width: 800px;
    background-color: white;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 0 10px 0;
  }

  &-grid {
    position: relative;
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
    }
    .ag-grid-size {
      height: 400px;
    }
  }
}
</style>
