<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	center-synchroniztion.vue
 *  Description:    센터동기화 버튼 클릭시 노출되는 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="lcsync-modal">
    <div :class="['lcsync-modal-container', aboutToClose ? 'slide-up' : '']">
      <h3 class="lcsync-modal-title">{{ setLcSyncModalParams().uiOption?.title }}</h3>
      <button class="close-btn" @click.prevent="closeModal">
        <i class="btn-close-popup"></i>
      </button>
      <div v-if="setLcSyncModalParams().uiOption?.useAsnCheckbox" class="lcsync-modal-ans-checkbox-container">
        <input v-model="asnCheckBoxValue" type="checkbox" id="lcsync-modal-ans-checkbox-input" class="lcsync-modal-ans-checkbox-input" @click="asnCheckBoxValue = !asnCheckBoxValue" />
        <i class="circle"></i>
        <label :style="[asnCheckBoxValue === true ? 'font-weight:bold' : 'normal']" class="date-type-label" for="lcsync-modal-ans-checkbox-input">{{ t("input-title.auto-setting-asn-yn") }}</label>
      </div>
      <div class="lcsync-modal-button-list">
        <button class="lcsync-modal-button-item refresh" @click="refreshModal">{{ t("button-name.reload") }}</button>
      </div>
      <div class="lcsync-modal-grid-header">{{ t("grid-title.logistics-center") }}</div>
      <ag-grid-vue style="height: 420px" class="ag-theme-alpine" :gridOptions="gridOptions" />
      <div class="ag-paging-custom">
        <select @change="onPageSizeChanged" class="page-size">
          <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
        </select>
        <span>Total : {{ totalRows }}</span>
      </div>
      <div class="lcsync-modal-button-bottom">
        <button class="lcsync-modal-button-item close" @click="closeModal">{{ t("button-name.close") }}</button>
        <button class="lcsync-modal-button-item save" @click="saveModal">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { reactive, ref } from "vue";

import { GridApi, GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { userStore } from "@/store";
import { ILcSyncModalProps } from "@/types";

// Variable Definitions
const { setLcSyncModalParams, changeIsOpenLcSyncModal } = defineProps<{
  setLcSyncModalParams: () => ILcSyncModalProps;
  changeIsOpenLcSyncModal: (value: boolean) => void;
}>();

const pagingOptions = UtilService.getGridPagingOptions("WMSMS011");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const bodyData = reactive({ value: {} as any });
const aboutToClose = ref(false);
const { t } = useI18n();
let asnCheckBoxValue = ref(true as boolean); // ASN 체크박스 value
let gridApi: GridApi | null = null;

// Framework Function Definitions

// User Function Definitions
async function onGridReady(params: any) {
  gridApi = params.api;
  gridApi?.sizeColumnsToFit();
  await getLcSyncRowData();
}

// 그리드 데이터 검색
async function getLcSyncRowData() {
  const USER_NO = JSON.parse(userStore().getCurrentUser()).USER_NO;

  if (USER_NO) {
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSCM011/listLcSync_rn.action", { USER_NO: USER_NO }, bodyData.value);
        if (gridData.status === false) {
          params.successCallback([], 0);
        } else {
          totalRows.value = UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows);
          params.successCallback(gridData.result.list, totalRows.value);
        }
      },
    });
  }
}

// 저장
async function saveModal() {
  const selectedLc: any = gridApi?.getSelectedRows();

  if (selectedLc && selectedLc.length === 0) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  const bodyData = setLcSyncModalParams().params;

  // ASN체크박스를 사용하는 경우 값 셋팅
  if (setLcSyncModalParams().uiOption.useAsnCheckbox) {
    bodyData.ASN_SET_YN0 = asnCheckBoxValue.value === true ? "Y" : "N";
  }
  bodyData.MULIT_LC_ID_ARR = selectedLc[0]!.LC_ID;

  const res = await ApiService.postApi(setLcSyncModalParams().apiUrl, {}, bodyData, false);

  if (res.status) {
    useToast().success(t("common-toast.saved"));
  }
  changeIsOpenLcSyncModal(false);
}

async function refreshModal() {
  await getLcSyncRowData();
}

function closeModal() {
  aboutToClose.value = true;
  setTimeout(() => {
    changeIsOpenLcSyncModal(false);
    aboutToClose.value = false;
  }, 500);
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

const onPageSizeChanged = (e: any) => {
  const target = e.target as HTMLSelectElement;
  pagingSize.value = Number(target.value);
  gridApi?.paginationSetPageSize(Number(target.value));
  gridApi?.setCacheBlockSize(Number(target.value));
  totalRows.value = gridApi?.paginationGetRowCount()!;
};

const gridOptions: GridOptions = {
  columnDefs: [
    {
      field: "",
      headerName: "No",
      width: 60,
      cellStyle: { textAlign: "center" },
      valueGetter: (params: any) => params.node.rowIndex + 1, // 인덱스는 0이 아닌 1부터 시작
    },
    {
      field: "",
      headerName: "",
      headerCheckboxSelection: true,
      checkboxSelection: true,
      width: 50,
      cellStyle: { textAlign: "center" },
    },
    {
      field: "LC_NM",
      headerName: "물류센터명",
      sortable: true,
      width: 500,
    },
  ],
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "single",
  rowModelType: "serverSide",
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  pagination: true,
  onGridReady: onGridReady,
};
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.lcsync-modal {
  background-color: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    @include slideDownModalAnimation;

    max-width: 900px;
    min-width: 700px;
    width: 65vw;
    padding: 20px;
    z-index: 10;
    background-color: white;
    padding: 27px 15px 20px;
    border-radius: 15px;
    &.slide-up {
      @include slideUpModalAnimation;
    }
    .close-btn {
      @include flexCenter;
      position: absolute;
      right: 27px;
      top: 25px;
      background-color: rgba($color: $main, $alpha: 0.1);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: rgba($color: $main, $alpha: 0.3);
      }
    }
  }
  &-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 49px;
  }
  &-button {
    &-list {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-bottom: 10px;
    }
    &-item {
      font-weight: bold;
      border-radius: 10px;
      padding: 5px 15px;
      &.save {
        @include btnColorStyle($main);
        width: 50%;
        font-size: 14px;
        padding: 14px 0;
      }
      &.close {
        @include btnColorStyle($font-bk);
        width: 50%;
        padding: 14px 0;
        font-size: 14px;
      }
      &.refresh {
        @include btnColorStyle($main);
      }
    }
  }
}
.lcsync-modal-grid-header {
  color: white;
  font-weight: bold;
  background-color: #374a8d;
  border-radius: 5px 5px 0 0;
  font-size: 14px;
  padding: 7px 10px;
}
.lcsync-modal-button-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
  margin-top: 17px;
}

.lcsync-modal-ans-checkbox-input {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $gray;
  cursor: pointer;
  transform: translateX(18px);
  position: relative;
  z-index: 3;
  opacity: 0;

  &:checked + .circle:after {
    opacity: 1;
  }
  &:checked + .circle {
    border: 2px solid $main;
  }
  &:checked + .date-type-label {
    font-weight: bold;
  }
}

label {
  margin: 0 20px 0 7px;
  color: $font-bk;
  font-size: 13px;
  cursor: pointer;
}
.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid $gray;
  border-radius: 50%;
  position: relative;
  top: 4px;
  cursor: pointer;

  &:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: $main;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: 0;
  }
}
</style>
