<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	display-settings.vue
 *  Description:    주문관리 - 재고조정 - 설정 버튼 클릭시 노출되는 화면설정 모달
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="change-customer-info">
    <div class="wrap">
      <div class="header">{{ t("popup-title.change-customer-info") }}</div>
      <div class="content">
        <ul class="input-list">
          <li>
            <label for="">{{ t("input-title.customer-name-2") }}</label>
            <input type="text" v-model="userInfo.value.RCVR_NM" />
          </li>
          <li>
            <label for="">{{ t("input-title.tel") }}</label>
            <input type="text" v-model="userInfo.value.RCVR_TEL" />
          </li>
          <li>
            <label for="">{{ t("input-title.customer-address") }}</label>
            <input type="text" v-model="userInfo.value.RCVR_ADDR" />
          </li>
          <li>
            <label for="">{{ t("input-title.detail-address") }}</label>
            <input type="text" v-model="userInfo.value.RCVR_DETAIL_ADDR" />
          </li>
          <li>
            <label for="">{{ t("input-title.zip-code") }}</label>
            <input type="text" v-model="userInfo.value.ZIP_NO" />
          </li>
        </ul>
        <div class="ord-id-box">
          <h5>{{ t("text.this-ord-id") }}</h5>
          <div class="">{{ ordNo }}</div>
        </div>
      </div>
      <div class="button-list">
        <button @click="() => modalInfo.close()" class="cancel">{{ t("button-name.close") }}</button>
        <button @click="() => save()" class="save">
          {{ t("button-name.save") }}
        </button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, reactive, ref } from "vue";

import { useI18n } from "vue-i18n";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import { SEARCH_INPUT } from "@/page/delivery/WMSOP642_1/input";
import { useToast } from "vue-toastification";

// Variable Definitions

const { modalInfo } = defineProps<{
  modalInfo: {
    open: boolean;
    currentRowData: any;
    close: () => void;
  };
}>();

const { t } = useI18n();
const userInfo = reactive({
  value: Object.assign({}, modalInfo.currentRowData),
});
let ordNo = ref("조회중 . . .");

/* 저장시 사용되는 변수 */
const custInfoNameOrg = modalInfo.currentRowData.RCVR_NM;
const orgOrdIdList = [] as any[];

// Framework Function Definitions
onMounted(() => {
  /* 물류센터가 카카오VX이고, 고객주소수정으로 모달이 열린 경우 modalInfo.currentRowData값이 array로 전달됨 */
  if (modalInfo.currentRowData.length) {
    /* 물류센터가 카카오VX이고, 고객주소수정으로 모달이 열린 경우 */
    getOrdIdInfo();
  } else {
    /* 그리드 셀 더블클릭으로 모달이 노출된 경우  */
    getCustomerInfo();
  }
});

// User Function Definitions
/* 그리드 셀 더블클릭으로 모달이 노출된 경우  */
async function getCustomerInfo() {
  const searchConditions = SEARCH_INPUT;

  let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
  apiParams.PARCEL_COM_TY = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;
  apiParams.cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType;
  apiParams.vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
  apiParams.vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;
  apiParams.focusRow = "";
  apiParams.focusCol = "";
  const bodyData = {
    ...{ rcvrNm: userInfo.value.RCVR_NM, rcvrAddr: userInfo.value.RCVR_ADDR, rcvrDetailAddr: userInfo.value.RCVR_DETAIL_ADDR, rcvrZipNo: userInfo.value.ZIP_NO, rcvrTel: userInfo.value.RCVR_TEL },
    ...apiParams,
  } as any;

  bodyData.vrSrchOrdCnt = String(bodyData.vrSrchOrdCnt);

  const res = await ApiService.postApi("/WMSOP642/getCustInfo_rn.action", {}, bodyData);
  if (res.status) {
    const data = res.result.DS_ORG_ORD_NO;
    const cnt = res.result.DS_ORG_ORD_NO.length;
    let textVal = "";
    if (cnt > 0) {
      //원주문번호 정보
      for (let i = 0; i < cnt; i++) {
        if (i > 0) {
          textVal += " ,\n ";
        }
        textVal += data[i].CODE;
        orgOrdIdList.push(data[i].CODE);
      }
      ordNo.value = textVal;
    } else {
      ordNo.value = "";
    }
  }
}

/* 물류센터가 카카오VX이고, 고객주소수정으로 모달이 열린 경우 */
function getOrdIdInfo() {
  //원주문번호 정보
  let textVal = "";
  for (let i = 0; i < modalInfo.currentRowData.length; i++) {
    if (i > 0) {
      textVal += " ,\n ";
    }
    textVal += modalInfo.currentRowData[i].ORG_ORD_ID;
    orgOrdIdList.push(modalInfo.currentRowData[i].ORG_ORD_ID);
  }

  ordNo.value = textVal;
}

// 저장 버튼 클릭시 호출
async function save() {
  
    if (modalInfo.currentRowData.INVC_NO) {
      useToast().warning(t("common-toast.no-change-when-has-invc-no", { invc_no: modalInfo.currentRowData.INVC_NO }));
      return;
    }

    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

    const bodyData = {
      _fullpath: "",
      selectIds_2: "0",
      custInfoNameOrg,
      custInfoName: userInfo.value.RCVR_NM,
      custInfoTelNo: userInfo.value.RCVR_TEL,
      custInfoAddr1: userInfo.value.RCVR_ADDR,
      custInfoAddr2: userInfo.value.RCVR_DETAIL_ADDR,
      custInfoZipNo: userInfo.value.ZIP_NO,
      selectIds: String(orgOrdIdList.length),
      vrSrchCustId: userInfo.value.CUST_ID,
    } as any;

    orgOrdIdList.forEach((ordId: any, i: any) => {
      bodyData["orgOrdId" + [i]] = ordId;
    });

    const res = await ApiService.postApi("/WMSOP642/custInfoUpdateAddrRefineEAI_rn.action", {}, bodyData);

    if (res.status) {
      if (res.result.errCnt === "0") {
        modalInfo.close();
        useToast().success("고객정보 변경 완료.\n\n데이터가 재조회 됩니다.");
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      } else {
        useToast().error("ⓧERROR : 고객정보 변경 오류. !! \n\n " + res.result.message);
      }
    }
  
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#change-customer-info {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrap {
    border-radius: 15px;
    width: 600px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    background-color: #080d2c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
  }
  .content {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    padding: 0 40px;
    gap: 30px;
  }
  .input-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 60%;
    > li {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    label {
      @include labelStyle;
      text-wrap: nowrap;
    }
    input {
      font-size: 13px;
      color: $font-bk;
      padding: 10px;
      border: solid 1px #d6d6d6;
      border-radius: 10px;
      width: calc(100% - 20px);
    }
  }
  .ord-id-box {
    width: 40%;

    > h5 {
      height: 30px;
      line-height: 30px;
      width: 100%;
      background-color: $main-menu-sub;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
      padding-left: 10px;
      border-radius: 10px 10px 0 0;
    }
    > div {
      @include scrollbarStyle;

      border: solid 1px #d6d6d6;
      height: calc(245px - 30px);
      border-radius: 0 0 10px 10px;
      font-size: 13px;
      overflow-y: auto;
      padding: 8px;
      white-space: pre-line;
    }
  }
  .button-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 70px;
      width: calc(50% - 40px);
    }
    .cancel {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
}
</style>
