<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	combine-order-degree.vue
 *  Description:    주문차수 합치기 모달
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="combine-order-degree">
    <div class="container">
      <div class="header">
        {{ t("modal-title.combine-order-sequence") }}
      </div>
      <div class="input-item">
        <span class="require-icon">*</span>
        <label for="">{{ t("input-title.order-sequence") }}</label>
        <input v-model="orderDegreeInputValue" type="text" :class="[sequenceClass ? 'disabled' : '']" :placeholder="sequencePlaceholder ? t('input-placeholder.automatic-generation') : ''" />
      </div>
      <div class="input-item">
        <span class="require-icon">*</span>
        <label for="">{{ t("input-title.order-sequence-name") }}</label>
        <input v-model="orderDegreeNameInputValue" type="text" />
      </div>
      <div class="buttons">
        <button class="cancel" @click="() => info.closeEvent()">{{ t("button-name.close") }}</button>
        <button class="save" @click="() => save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ApiService } from "@/services/api-service";
import { useConfirmStore, useSearchConditionStore } from "@/store";
import { ref } from "vue";

import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

// Variable Definitions
const { info, sequenceClass, sequencePlaceholder } = defineProps<{
  info: {
    saveUrl: string;
    selectedItems: any;
    closeEvent: () => void;
  };
  sequenceClass?: any;
  sequencePlaceholder?: any;
}>();

const { t } = useI18n();
let orderDegreeInputValue = ref("");
let orderDegreeNameInputValue = ref("");

// User Function Definitions
async function save() {
  
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

    const bodyData: any = {
      _fullpath: "",
      selectIds: String(info.selectedItems.length),
      vrType: String(useSearchConditionStore().getSearchInputValue().vrType || ""),
      vrPageGb: "",
      vrOrderByGb: "",
      vrBarCodeGb: "",
      vrOrdDegree: orderDegreeInputValue.value,
      vrOrdDegreeNm: orderDegreeNameInputValue.value,
    };
    info.selectedItems.forEach((row: any, i: any) => {
      bodyData["ORD_ID" + [i]] = row.ORD_ID;
    });

    const res = await ApiService.postApi(info.saveUrl, {}, bodyData);

    if (res.status) {
      if (res.result.errCnt == 0) {
        useToast().success(res.result.MSG);
        setTimeout(() => {
          info.closeEvent();
        }, 1500);
        return;
      } else {
        return useToast().error(res.result.MSG);
      }
    }
  
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.combine-order-degree {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    background-color: #080d2c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
    margin-bottom: 20px;
  }
  .input-item {
    display: flex;
    align-items: center;
    width: 60%;
    margin-bottom: 10px;

    label {
      @include labelStyle;
      width: 40%;
      color: $red;
    }
    input {
      font-size: 13px;
      color: $font-bk;
      padding: 10px;
      border: solid 1px #d6d6d6;
      border-radius: 10px;
      width: 60%;
    }
  }

  &-input {
    font-size: 13px;
    color: $font-bk;
    padding: 10px;
    border: solid 1px #d6d6d6;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin-bottom: 16px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    white-space: nowrap;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 70px;
      width: calc(50% - 5px);
    }
    .cancel {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
}
.require-icon {
  color: $red;
  transform: translateY(4px);
  margin-right: 5px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
</style>
