<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	confirm.vue
 *  Description:    사용자에게 정보를 확인받거나 선택하는 화면을 보여주는 팝업 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div v-if="confirmMessage" id="confirm-popup-page">
    <div class="modal-mask">
      <div :class="['popup-container', aboutToClose ? 'slide-up' : '']">
        <div class="popup-header">
          <div class="title">Confirm</div>
        </div>
        <div class="popup-body">
          <pre class="message">{{ `${confirmMessage}` }}</pre>
        </div>
        <div class="popup-footer">
          <button @click.prevent="onConfirm(false)">{{ t("button-name.cancel") }}</button>
          <button @click.prevent="onConfirm(true)">{{ confirmButtonLabel || t("button-name.confirm") }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, watch, onActivated, onDeactivated } from "vue";
import { storeToRefs } from "pinia";

import { useConfirmStore } from "@/store";
import { useI18n } from "vue-i18n";

const { t } = useI18n();
const { confirmMessage, confirmButtonLabel } = storeToRefs(useConfirmStore());
const popupConfirm = ref(null as string | null);
const aboutToClose = ref(false);
const inactive = ref<boolean>(false);

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

watch(confirmMessage, (val: any) => {
  if (!inactive.value) {
    popupConfirm.value = val;
  }
});

// Framework Function Definitions

// User Function Definitions
const onConfirm = (decision: boolean) => {
  aboutToClose.value = true;
  setTimeout(() => {
    popupConfirm.value = null;
    useConfirmStore().setDecision(decision);
    aboutToClose.value = false;
  }, 500);
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#confirm-popup-page {
  .modal-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .popup-container {
    @include slideInAnimation;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: -96px;
    min-width: 362px;
    max-width: 420px;
    height: 196px;
    border-radius: 15px;
    background-color: #fff;
    z-index: 1001;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    &.slide-up {
      @include slideOutAnimation;
    }
  }
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 43px;
    padding: 0 15px;
    background-color: #080d2c;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: #fff;
  }
  .popup-body {
    @include flexCenter;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.64px;
    text-align: center;
    color: $font-bk;
    padding: 12px;
  }
  .popup-footer {
    @include flexCenter;
    justify-content: space-around;
    padding: 12px;
    padding-top: 0;
    > button {
      @include flexCenter;
      width: 164px;
      height: 44px;
      border-radius: 10px;
      background-color: #2222221a;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: -1.05px;
      color: $font-bk;
      &:last-of-type {
        background-color: #3d61e11a;
        color: $main;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
</style>
