<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	date-change.vue
 *  Description:    입고일변경, 출고일변경 버튼 클릭시 노출되는 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="date-change-container">
    <form class="date-change-input-box">
      <div class="date-calender">
        <span class="date-change-title">{{ dateModalData.inputTitle }}</span>
        <input v-model="dateInputValue" class="date-calender-input" type="date" />
      </div>
    </form>
    <div class="date-change-btns">
      <button class="date-change-btns-close" @click="closePopup">닫기</button>
      <button class="date-change-btns-save" @click="changeShippingDate">저장</button>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, ref } from "vue";

import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";

// Variable Definitions
const dateModalData = JSON.parse(localStorage.getItem("windowModal")!);
const dateInputValue = ref(UtilService.getToday() as any);
const { t } = useI18n();

// Framework Function Definitions
onMounted(() => {
  if (!dateModalData) {
    closePopup();
  }
});

// User Function Definitions
// 저장버튼 클릭
async function changeShippingDate() {
  const bodyData = Object.assign({}, dateModalData.uniqueParams);
  bodyData.vrWorkDt = dateInputValue.value;

  if (Object.hasOwn(dateModalData, "uniqueParams")) {
    const res = await ApiService.postApi(dateModalData.saveUrl, {}, bodyData);

    if (res.status) {
      useToast().success(t("common-toast.registered"));

      setTimeout(() => {
        closePopup();
      }, 1500);
    }
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  localStorage.removeItem("windowModal");
  window.close();
}

// 브라우저를 직접 닫았을때
window.addEventListener("beforeunload", () => {
  localStorage.removeItem("windowModal");
});
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.date-change {
  &-container {
    width: 800px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 15px;
    box-sizing: border-box;
  }

  &-title {
    width: 9%;
  }

  &-title {
    color: #727272;
    font-size: 13px;
    font-weight: bold;
    width: 23%;
    margin-right: 21.4px;
  }

  &-input {
    &-box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5px 0 23px;
      background-color: #f6f7fc;
      height: 44px;
      transition: all 0.4s ease;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;

    button {
      width: 370px;
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    &-close {
      @include btnColorStyle($font-bk);
    }

    &-save {
      @include btnColorStyle($main);
    }
  }
}
.date {
  &-label {
    margin: 0 20px 0 7px;
    color: $font-bk;
    font-size: 13px;
    cursor: pointer;
  }

  &-calender {
    width: 100%;

    &-input {
      @include dateInputStyle(0px, 30px);
      letter-spacing: -1px;
      width: 92%;
      height: 35px;
      border-radius: 10px;
      border: 1px solid $border2;
      padding: 0 15px;
      font-weight: bold;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: $bg-gray2;
    }
    &-icon {
      margin: 0 7px;
    }
  }
}
</style>
