<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	display-settings.vue
 *  Description:    주문관리 - 재고조정 - 설정 버튼 클릭시 노출되는 화면설정 모달
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="display-setting">
    <div class="display-setting-wrap">
      <div class="display-setting-header">{{ t("modal-title.display-settings") }}</div>
      <div class="input-container">
        <label for="">{{ t("input-title.order-information-modification") }}</label>
        <div class="multiple-access">
          <label for="multiple-access"></label>
          <input v-model="checkboxValue" type="checkbox" name="" id="multiple-access" />
        </div>
      </div>
      <div class="display-setting-buttons">
        <button class="cancel" @click="() => close()">{{ t("button-name.close") }}</button>
        <button
          class="save"
          @click="
            () => {
              changeOrderInformationModificationValue(checkboxValue);
              close();
            }
          "
        >
          {{ t("button-name.save") }}
        </button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref } from "vue";

import { useI18n } from "vue-i18n";

// Variable Definitions
const { orderInformationModificationValue, changeOrderInformationModificationValue, close } = defineProps<{
  orderInformationModificationValue: boolean;
  changeOrderInformationModificationValue: (value: boolean) => void;
  close: () => void;
}>();

const { t } = useI18n();
let checkboxValue = ref(orderInformationModificationValue); // 모달내 인풋 입력값

// User Function Definitions
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.display-setting {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrap {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-header {
    background-color: #080d2c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
  }

  &-content {
    font-weight: bold;
    color: $font-bk;
    margin: 38px 0 19px 0;
    padding: 0 82px;
  }

  &-input {
    font-size: 13px;
    color: $font-bk;
    padding: 10px;
    border: solid 1px #d6d6d6;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin-bottom: 16px;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;
    padding: 0 10px;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 70px;
    }
    .cancel {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
}

.multiple-access {
  > input {
    position: relative;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    width: 63px;
    height: 35px;
    background-color: rgba($color: $main, $alpha: 0.5);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
  }
  > input:checked {
    background-color: $main;
  }
  > input::before {
    content: "";
    position: absolute;
    top: 3.4px;
    left: 4px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgba($color: white, $alpha: 0.8);
  }
  > input:checked::before {
    right: 4px;
    left: initial;
    background-color: white;
  }
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 45px;
  align-items: center;
  margin: 45px 0;

  label {
    color: #727272;
    letter-spacing: -1px;
    font-size: 13px;
    font-weight: bold;
  }
}
</style>
