<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	enter-template.vue
 *  Description:    템플릿입력 버튼 클릭시 노출되는 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="enter-template" class="enter-template">
    <div class="enter-template-container">
      <h3 class="enter-template-title">{{ t(`modal-title.${title}`) }}</h3>
      <div class="search-container">
        <search-container-input
          v-for="(input, i) in ENTER_TEMPLATE.searchInput"
          :key="i"
          :data="input"
          :columnDefs="ENTER_TEMPLATE.searchModal.columnDef[input.title]"
          :modalData="ENTER_TEMPLATE.searchModal.modalInfo[input.title]"
          :pageInfo="null"
          :modalType="null" />
      </div>
      <h3 class="enter-template-download-btn" @click="downLoad">{{ $t("control-button-name.download-the-form") }}</h3>
      <form class="enter-template-input-box">
        <input v-if="fileName" v-model="fileName" type="text" class="enter-template-input-file-name" readonly />
        <div class="enter-template-input-file-input">
          <input class="enter-template-input-item" id="enter-template-input-item" type="file" @change="(e) => changeExcelFile(e)" />
          <label class="enter-template-input-label" for="enter-template-input-item">
            <div class="enter-template-input-label-icon"></div>
            <span class="enter-template-input-label-text">{{ $t("control-button-name.select-file") }}</span>
          </label>
        </div>
      </form>
      <h3 class="enter-template-log-title">Log</h3>
      <p class="enter-template-log-text">{{ logText }}</p>
      <div class="enter-template-btns">
        <button class="enter-template-btns-close" @click="closePopup">{{ $t("button-name.close") }}</button>
        <button class="enter-template-btns-save" @click="save">{{ $t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore, userStore } from "@/store";

import searchContainerInput from "@/components/input/search-container-input.vue";

import { ENTER_TEMPLATE } from "@/constants/template-modal";

// Variable Definitions
const selectedModalDataBefore = reactive({ value: {} as any });
const inactive = ref<boolean>(false);
const DS_TP_before = reactive({ value: "" as any });
const currentTemplate = reactive({ value: {} } as { value: any });
const { t } = useI18n();
const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId");
const vrSrchCustCdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustCd");
const vrSrchCustNmQueryString = new URL(window.location.href).searchParams.get("vrSrchCustNm");
const title = new URL(window.location.href).searchParams.get("title");
const saveUrl = new URL(window.location.href).searchParams.get("saveUrl");
let formData = new FormData();
let fileData = ref(null as any);
let fileName = ref("");
let logText = ref("");
let colSize = "15" as string;
// Framework Function Definitions
onMounted(() => {
  if (!saveUrl) {
    closePopup();
  }
  if (vrSrchCustIdQueryString) {
    ENTER_TEMPLATE.searchInput[0].disabled = "disabled";
    useSelectedDataStore().selectedModalHandler({
      owner: { CUST_ID: vrSrchCustIdQueryString, CUST_CD: vrSrchCustCdQueryString, CUST_NM: vrSrchCustNmQueryString },
    });
  } else {
    ENTER_TEMPLATE.searchInput[0].disabled = "";
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// 화주 select box options 값이 달라진다.
watch(useSelectedDataStore(), () => {
  if (!inactive.value) {
    allowGetSelectboxOptionsByOtherSearchCondition();
  }
});

// 템플릿 input의 값이 변경될때마다 자료시작행 select-box 값이 달라진다.
watch(useSearchConditionStore()._searchInputValue, () => {
  if (!inactive.value) {
    allowGetSelectboxOptionsByOtherSearchCondition_DS_TP();
  }
});

// User Function Definitions
function allowGetSelectboxOptionsByOtherSearchCondition() {
  const selectedModalDataAfter = useSelectedDataStore().getSelectedModalData()["owner"];
  if (selectedModalDataAfter && !UtilService.compareObjectKeyValue(selectedModalDataAfter, selectedModalDataBefore.value)) {
    selectedModalDataBefore.value = selectedModalDataAfter;
    getSelectboxOptionsByOtherSearchCondition(selectedModalDataBefore.value);
  }
}

function allowGetSelectboxOptionsByOtherSearchCondition_DS_TP() {
  const DS_TP_after = useSearchConditionStore().getSearchInputValue().vrSrchOrdSubtype;

  if (DS_TP_before.value !== DS_TP_after) {
    DS_TP_before.value = DS_TP_after;

    if (!DS_TP_before.value) {
      return;
    }
    const currentTemplate = useOptionDataStore()
      .getOptionData()
      .DS_TP.filter((option: any) => {
        return option.FORMAT_REMARK === useSearchConditionStore().getSearchInputValue().vrSrchOrdSubtype;
      })[0];
    const autoSelectedKeyIndex = ENTER_TEMPLATE.searchInput[2].options.findIndex((option: any) => {
      return String(currentTemplate.FORMAT_START_ROW) === String(option.value);
    });
    ENTER_TEMPLATE.searchInput[2].optionsAutoSelected.autoSelectedKeyIndex = autoSelectedKeyIndex - 1;
    ENTER_TEMPLATE.searchInput[2].optionsAutoSelected.allowAutoSelected = true;
    ENTER_TEMPLATE.searchInput[1].optionsAutoSelected.allowAutoSelected = false;
    useOptionDataStore().setAvailableWatchBySearchCondition(true);

    fn_searchTpCol(currentTemplate.FORMAT_TEMPLATE_ID, String(currentTemplate.FORMAT_CUST_SEQ));
  }
}

async function getSelectboxOptionsByOtherSearchCondition(e: any) {
  const bodyData: any = {
    vrCustCd: e.CUST_CD,
    vrTemplateFile: "",
  };
  if (title === "shipping-enter-template") {
    bodyData.vrTemplateType = "UO";
  } else {
    bodyData.vrTemplateType = "UI";
  }
  const res = await ApiService.postApi("/WMSCM210/getTpList_rn.action", {}, bodyData);
  if (res.status) {
    currentTemplate.value = res.result.DS_TP[0];
    ENTER_TEMPLATE.searchInput[1].optionsAutoSelected!.allowAutoSelected = true;
    ENTER_TEMPLATE.searchInput[2].optionsAutoSelected!.allowAutoSelected = false;

    const filteredData = res.result.DS_TP.filter((option: any) => {
      return option.FORMAT_CUST_SEQ >= 1;
    });
    filteredData.forEach((option: any, i: any) => {
      option.CODE_CD = option.FORMAT_REMARK;
      option.CODE_NM = option.FORMAT_REMARK;
      if (!option.FORMAT_REMARK) {
        option.CODE_CD = `타입 - ${i + 1}`;
        option.CODE_NM = `타입 - ${i + 1}`;
        option.FORMAT_REMARK = `타입 - ${i + 1}`;
      }
    });
    useOptionDataStore().setOptionData({ DS_TP: filteredData });
    useOptionDataStore().setAvailableWatchBySearchCondition(true);
    if (res.result.DS_TP.length === 0) {
      ENTER_TEMPLATE.searchInput[1].disabled = "disabled";
      ENTER_TEMPLATE.searchInput[3].disabled = "disabled";
    } else {
      delete ENTER_TEMPLATE.searchInput[1].disabled;
      delete ENTER_TEMPLATE.searchInput[3].disabled;
    }
  }
}

// input[type='file'] change이벤트
function changeExcelFile(e: any) {
  formData = new FormData();
  const target = e.currentTarget!.files[0];
  fileName.value = target.name;
  fileData.value = target;
}

// 저장버튼 클릭
async function save() {
  // 인풋영역 유효성 검사
  const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(ENTER_TEMPLATE.searchInput, useSearchConditionStore(), useSelectedDataStore());
  if (searchInputRequiredValidation) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
  }

  // 파일 선택 유무
  if (!fileName.value) {
    return useToast().warning(t("common-toast.no-excel-file"));
  }

  const currentTemplate = useOptionDataStore()
    .getOptionData()
    .DS_TP.filter((option: any) => {
      return option.FORMAT_REMARK === useSearchConditionStore().getSearchInputValue().vrSrchOrdSubtype;
    })[0];

  let currentVrTemplateType = "";

  if (useOptionDataStore().getOptionData().DS_TP.length > 0) {
    currentVrTemplateType = useOptionDataStore()
      .getOptionData()
      .DS_TP.filter((option: any) => {
        return option.FORMAT_REMARK === useSearchConditionStore().getSearchInputValue().vrTemplateType;
      })[0].FORMAT_CUST_SEQ;
  }

  const currentUser = JSON.parse(userStore().getCurrentUser());
  formData.append("txtFile", fileData.value);
  formData.append("startRow", useSearchConditionStore().getSearchInputValue().vrSrchOrderPhase);
  formData.append("colSize", colSize);
  formData.append("vrTemplateId", currentTemplate?.FORMAT_TEMPLATE_ID || "");
  formData.append("vrCustSeq", currentTemplate?.FORMAT_CUST_SEQ || "");
  formData.append("SS_SVC_NO", currentUser.LC_ID);
  formData.append("SS_CLIENT_IP", currentUser.LAST_CONT_IP);
  formData.append("SS_USER_NO", currentUser.USER_NO);
  formData.append("vrCustCd", useSelectedDataStore().getSelectedModalData().owner.CUST_CD);
  formData.append("vrCustId", useSelectedDataStore().getSelectedModalData().owner.CUST_ID);
  formData.append("vrTemplateType", currentVrTemplateType);
  // 입고, 출고 구분
  if (title === "shipping-enter-template") {
    formData.append("vrUploadType", "UO");
    formData.append("vrOrdType", "O");
  } else {
    formData.append("vrUploadType", "UI");
    formData.append("vrOrdType", "I");
  }

  const res = await ApiService.postFormData(saveUrl!, "post", {}, formData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      useToast().success(res.result.MSG);
      if (res.result.MSG) {
        if (res.result.O_CUR && res.result.O_CUR.length > 0) {
          for (let i = 0; res.result.O_CUR.length > i; i++) {
            if (res.result.O_CUR[i].RCD !== 0) {
              logText.value = `> Error 
              ${res.result.O_CUR[i].RCD} : ${res.result.O_CUR[i].RMSG}`;
            }
          }
        } else {
          logText.value = `${res.result.MSG} ${res.result.MSG_ORA ? " / " + res.result.MSG_ORA : ""}`;
          setTimeout(() => {
            closePopup();
          }, 1500);
        }
      }
    } else {
      useToast().error(res.result.MSG);
    }
  }
}

// 템플릿다운로드 버튼 클릭
async function downLoad() {
  // 화주 선택시 동작 가능
  if (!currentTemplate.value.FORMAT_TEMPLATE_ID) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.owner") }));
  }

  // 양식 다운로드 파라미터 셋팅을 위한 컬럼정보 api 호출
  const bodyData: any = {
    vrTemplateId: currentTemplate.value.FORMAT_TEMPLATE_ID,
    vrCustSeq: String(currentTemplate.value.FORMAT_CUST_SEQ),
  };
  const columnApiResponse: any = await ApiService.postApi("/WMSCM210/search_rn.action", {}, bodyData);
  if (columnApiResponse.status) {
    if (columnApiResponse.result.errCnt === 0) {
      // 컬럼 정보가 있는 경우 bodyData셋팅 및 양식다운로드 api 호출
      const templateApiBodyData: any = {};

      let colSize = 0;
      columnApiResponse.result.DS_TPCOL.forEach((responseData: any, i: any) => {
        if (responseData.FORMAT_USE_YN === "Y") {
          templateApiBodyData["Name_" + [i]] = `${responseData.FORMAT_COL_NM}${responseData.FORMAT_MUST_YN === "Y" ? " (필수)" : ""}`;
          templateApiBodyData["Col_" + [i]] = responseData.FORMAT_BIND_COL;
          templateApiBodyData["Row_" + [i]] = "";
          colSize++;
        }
      });
      templateApiBodyData.Col_Size = String(colSize);
      const res: any = await ApiService.postApi("/WMSOP030E2/sampleExcelDown_rn.action", {}, templateApiBodyData, true, true, "blob");
      if (res.status === 200) {
        UtilService.getExcelFile(res, t("excel-export-file-name.excel-template"));
      }
    }
  }
}

// /*화주별 템플릿(그리드) 컬럼 옵션조회*/
async function fn_searchTpCol(vrTemplateId: any, vrCustSeq: any) {
  const bodyData = { vrTemplateId, vrCustSeq };
  const url = "/WMSCM210/search_rn.action";
  const res = await ApiService.postApi(url, {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      colSize = String(res.result.DS_TPCOL.length || "15");
    } else {
      colSize = "15";
    }
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  localStorage.removeItem("windowModal");
  window.close();
}

// 브라우저를 직접 닫았을때
window.addEventListener("beforeunload", () => {
  localStorage.removeItem("windowModal");
});
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss">
.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .search {
    margin-right: 0px;

    &.half {
      width: calc(33.3% - 7px);
    }
  }
}
.enter-template {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 15px 0px 15px;
    box-sizing: border-box;
    z-index: 14;
    background-color: white;
  }

  &-title {
    font-size: 13px;
    color: $font-bk;
    font-weight: bold;
    margin-bottom: 22px;
  }

  &-download-btn {
    @include btnColorStyle($font-bk);
    position: absolute;
    top: 0px;
    right: 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px 13px;
    cursor: pointer;
  }

  &-input {
    &-box {
      background-color: #e2e7fa;
      width: 100%;
      height: 62px;
      padding: 0 36px 0 11px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      gap: 23px;
      display: flex;
      margin-bottom: 20px;
    }

    &-file-name {
      width: 610px;
      height: 35px;
      border-radius: 8px;
      border: 1px solid #d6d6d6;
      box-sizing: border-box;
      padding-left: 13px;
    }
    &-file-input {
      display: flex;
      align-items: center;
    }
    &-item {
      width: 0px;
      height: 0px;
    }
    &-label {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;

      &-icon {
        width: 25px;
        height: 25px;
        background-color: $main;
        border-radius: 6px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 12px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &-text {
        color: $main;
        font-weight: bold;
        font-size: 13px;
      }
    }
  }
  &-log {
    &-title {
      font-size: 13px;
      color: $font-bk;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-text {
      border: 1px solid #d6d6d6;
      width: 100%;
      height: 62px;
      border-radius: 8px;
      padding: 10px;
      overflow-y: scroll;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;

    button {
      width: calc(50% - 5px);
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    &-close {
      @include btnColorStyle($font-bk);
    }

    &-save {
      @include btnColorStyle($main);
    }
  }
}

// search영역 style
.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
</style>
