<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	excel-import.vue
 *  Description:    엑셀입력 버튼 클릭시 노출되는 찹업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="excel-import-container">
    <h3 class="excel-import-title">{{ excelModalData.modalTitle }}</h3>
    <h3 v-if="excelModalData.templateUrl" class="excel-import-download-btn" @click="downLoad">{{ $t("control-button-name.download-the-form") }}</h3>
    <form class="excel-import-input-box">
      <input v-if="fileName" v-model="fileName" type="text" class="excel-import-input-file-name" readonly />
      <div class="excel-import-input-file-input">
        <input class="excel-import-input-item" id="excel-import-input-item" type="file" @change="(e) => changeExcelFile(e)" />
        <label class="excel-import-input-label" for="excel-import-input-item">
          <div class="excel-import-input-label-icon"></div>
          <span class="excel-import-input-label-text">{{ $t("control-button-name.select-file") }}</span>
        </label>
      </div>
    </form>
    <div v-if="excelModalData.hasOwnProperty('chkDuplicationYn')" class="excel-import-input-duplicate-pass">
      <input type="checkbox" v-model="excelModalData.chkDuplicationYn" /> <span>{{ $t('modal-input-title.skip-duplicated-product-code') }}</span>
    </div>
    <h3 class="excel-import-log-title">Log</h3>
    <p class="excel-import-log-text">{{ logText }}</p>
    <div class="excel-import-btns">
      <button class="excel-import-btns-close" @click="closePopup">{{ $t("button-name.close") }}</button>
      <button class="excel-import-btns-save" @click="submitExcelFile">{{ $t("button-name.save") }}</button>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ApiService } from "@/services/api-service";
import { onBeforeMount, ref } from "vue";
import { useToast } from "vue-toastification";

// Variable Definitions
const excelModalData = JSON.parse(localStorage.getItem("windowModal")!);
let formData = new FormData();
let fileData = ref(null as any);
let fileName = ref("");
let logText = ref("");

// Framework Function Definitions
onBeforeMount(() => {
  if (!excelModalData) {
    closePopup();
  }
});

// User Function Definitions
function changeExcelFile(e: any) {
  formData = new FormData();
  const target = e.currentTarget!.files[0];
  fileName.value = target.name;
  fileData.value = target;
}

// 저장버튼 클릭
async function submitExcelFile() {
  formData = new FormData();
  formData.append("txtFile", fileData.value);
  formData.append("startRow", "1");
  formData.append("colSize", "40");

  if (Object.hasOwn(excelModalData, "uploadType")) {
    formData.append("uploadType", excelModalData.uploadType);
  }
  if (Object.hasOwn(excelModalData, "uniqueParams")) {
    const paramsKeys = Object.keys(excelModalData.uniqueParams);
    for (let i = 0; paramsKeys.length > i; i++) {
      formData.append(paramsKeys[i], excelModalData.uniqueParams[paramsKeys[i]]);
    }
  }
  if (Object.hasOwn(excelModalData, "vrCustId")) {
    formData.append("vrCustId", excelModalData.vrCustId);
  }
  if (Object.hasOwn(excelModalData, "vrSrchCustId")) {
    formData.append("vrSrchCustId", excelModalData.vrSrchCustId);
  }
  if (Object.hasOwn(excelModalData, "chkDuplicationYn")) {
    let chkDuplicationYn;
      if (excelModalData.chkDuplicationYn) {
        chkDuplicationYn = "Y";
      } else {
        chkDuplicationYn = "N";
      }
      formData.append("chkDuplicationYn", chkDuplicationYn);
  }
  const res = await ApiService.postFormData(excelModalData.saveUrl, "post", {}, formData);
  if (res.result.MSG) {
    logText.value = `${res.result.MSG} ${res.result.MSG_ORA ? " / " + res.result.MSG_ORA : ""}`;
  }
  if (res.status) {
    if (res.result.errCnt === 0) {
      useToast().success(res.result.MSG);
    } else {
      useToast().error(res.result.MSG);
    }
  }
}

// 템플릿 다운로드버튼 클릭
async function downLoad() {
  location.href = excelModalData.templateUrl;
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  localStorage.removeItem("windowModal");
  window.close();
}

// 브라우저를 직접 닫았을때
window.addEventListener("beforeunload", () => {
  localStorage.removeItem("windowModal");
});
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss">
.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .search {
    margin-right: 0px;

    &.triple {
      width: calc(33.3% - 7px);
    }
  }
}
.excel-import {
  &-container {
    width: 800px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 15px;
    box-sizing: border-box;
  }

  &-title {
    font-size: 13px;
    color: $font-bk;
    font-weight: bold;
    margin-bottom: 22px;
  }

  &-download-btn {
    @include btnColorStyle($font-bk);
    position: absolute;
    top: 28px;
    right: 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px 13px;
    cursor: pointer;
  }

  &-input {
    &-box {
      background-color: #e2e7fa;
      width: 100%;
      height: 62px;
      padding: 0 36px 0 11px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      gap: 23px;
      display: flex;
      margin-bottom: 25px;
    }

    &-file-name {
      width: 610px;
      height: 35px;
      border-radius: 8px;
      border: 1px solid #d6d6d6;
      box-sizing: border-box;
      padding-left: 13px;
    }
    &-file-input {
      display: flex;
      align-items: center;
    }
    &-item {
      width: 0px;
      height: 0px;
    }
    &-label {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;

      &-icon {
        width: 25px;
        height: 25px;
        background-color: $main;
        border-radius: 6px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 12px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &-text {
        color: $main;
        font-weight: bold;
        font-size: 13px;
      }
    }
    &-duplicate-pass {
      margin: -12.5px 0 12.5px 0;
    }
  }
  &-log {
    &-title {
      font-size: 13px;
      color: $font-bk;
      font-weight: bold;
      margin-bottom: 22px;
    }
    &-text {
      border: 1px solid #d6d6d6;
      width: 100%;
      height: 62px;
      border-radius: 8px;
      padding: 10px;
      overflow-y: scroll;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;

    button {
      width: 370px;
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    &-close {
      @include btnColorStyle($font-bk);
    }

    &-save {
      @include btnColorStyle($main);
    }
  }
}
</style>
