<!--화주통합템플릿 버튼 킅릭시 노출되는 모달 // 기능 개발 보류 (11/16)-->
<template>
  <div id="integrated-template" class="integrated-template">
    <div class="integrated-template-container">
      <h3 class="integrated-template-title">{{ t(`modal-title.${title}`) }}</h3>
      <div class="search-container">
        <search-container-input v-for="(input, i) in integratedTemplateInputInfo.value" :key="i" :data="input" :columnDefs="[]" :modalData="[]" :pageInfo="null" :modalType="null" />
      </div>
      <h3 class="integrated-template-download-btn" @click="downLoad">{{ $t("control-button-name.download-the-form") }}</h3>
      <form class="integrated-template-input-box">
        <input v-if="fileName" v-model="fileName" type="text" class="integrated-template-input-file-name" readonly />
        <div class="integrated-template-input-file-input">
          <input class="integrated-template-input-item" id="integrated-template-input-item" type="file" @change="(e) => changeExcelFile(e)" />
          <label class="integrated-template-input-label" for="integrated-template-input-item">
            <div class="integrated-template-input-label-icon"></div>
            <span class="integrated-template-input-label-text">{{ $t("control-button-name.select-file") }}</span>
          </label>
        </div>
      </form>
      <h3 class="integrated-template-log-title">Log</h3>
      <p class="integrated-template-log-text">{{ logText }}</p>
      <div class="integrated-template-btns">
        <button class="integrated-template-btns-close" @click="closePopup">{{ $t("button-name.close") }}</button>
        <button class="integrated-template-btns-save" @click="save">{{ $t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore, userStore } from "@/store";

import searchContainerInput from "@/components/input/search-container-input.vue";

import { INTEGRATED_TEMPLATE } from "@/constants/template-modal";
import { REST_SERVICE_PRODUCTION_URL } from "@/services/api-service";

// 로컬스토리지 모달관련 데이터 불러오기
const FORMAT_TEMPLATE_ID_Before = reactive({ value: "" as any });
const inactive = ref<boolean>(false);
const integratedTemplateInputInfo = reactive({ value: {} as any });
const { t } = useI18n();
const title = new URL(window.location.href).searchParams.get("title");
const saveUrl = new URL(window.location.href).searchParams.get("saveUrl");
const templateUrl = new URL(window.location.href).searchParams.get("templateUrl");
let formData = new FormData();
let fileData = ref(null as any);
let fileName = ref("");
let logText = ref("");

onBeforeMount(() => {
  // 로컬스토리지에 데이터가 없으면 모달 닫기
  if (!saveUrl) {
    closePopup();
  }

  const availableList = ["", "20", "22", "23", "25", "111", "137", "138", "139", "158", "159"];

  const availableOptions: any = [];

  INTEGRATED_TEMPLATE.searchInput[0].options.forEach((option: any) => {
    for (let i = 0; availableList.length > i; i++) {
      if (option.value === availableList[i]) {
        availableOptions.push(option);
      }
    }
  });
  INTEGRATED_TEMPLATE.searchInput[0].options = availableOptions;
  integratedTemplateInputInfo.value = INTEGRATED_TEMPLATE.searchInput;

  // 하드코딩 options 셋팅
  for (let i = 0; 40 > i; i++) {
    integratedTemplateInputInfo.value[1].options.push({ name: i + 1, nameKey: "", value: String(i + 1) });
  }
});

onMounted(async () => {
  useOptionDataStore().setAvailableWatchBySearchCondition(true);

  const res = await ApiService.postApi(
    "/WMSCM210/getTpListALL_rn.action",
    {},
    {
      vrCustCd: "",
      vrTemplateType: "UCI",
      vrTemplateFile: "",
    }
  );

  if (res.result.errCnt === 0) {
    res.result.DS_TP.forEach((option: any) => {
      option.CODE_CD = option.FORMAT_REMARK;
      option.CODE_NM = option.FORMAT_REMARK;
    });

    useOptionDataStore().setOptionData({ DS_TP: res.result.DS_TP });
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// 화주 select box options 값이 달라진다.
watch(useSearchConditionStore()._searchInputValue, () => {
  if (!inactive.value) {
    allowGetSelectboxOptionsByOtherSearchCondition();
  }
});

function allowGetSelectboxOptionsByOtherSearchCondition() {
  const FORMAT_TEMPLATE_ID_after = useSearchConditionStore().getSearchInputValue().FORMAT_TEMPLATE_ID;

  if (FORMAT_TEMPLATE_ID_Before.value !== FORMAT_TEMPLATE_ID_after) {
    FORMAT_TEMPLATE_ID_Before.value = FORMAT_TEMPLATE_ID_after;

    if (!FORMAT_TEMPLATE_ID_Before.value) {
      return;
    }
    delete integratedTemplateInputInfo.value[0].disabled;

    const currentTemplate = useOptionDataStore()
      .getOptionData()
      .DS_TP.filter((option: any) => {
        return option.FORMAT_REMARK === useSearchConditionStore().getSearchInputValue().FORMAT_TEMPLATE_ID;
      })[0];
    const autoSelectedKeyIndex = useOptionDataStore()
      .getOptionData()
      .DS_TP.findIndex((option: any) => {
        return String(currentTemplate.FORMAT_START_ROW) === String(option.FORMAT_START_ROW);
      });

    integratedTemplateInputInfo.value[3].optionsAutoSelected.autoSelectedKeyIndex = autoSelectedKeyIndex;
    integratedTemplateInputInfo.value[1].optionsAutoSelected.allowAutoSelected = false;
    useOptionDataStore().setAvailableWatchBySearchCondition(true);
  }
}

// input[type='file'] change이벤트
function changeExcelFile(e: any) {
  formData = new FormData();
  const target = e.currentTarget!.files[0];
  fileName.value = target.name;
  fileData.value = target;
}

// 저장버튼 클릭
async function save() {
  // 인풋영역 유효성 검사
  const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(integratedTemplateInputInfo.value, useSearchConditionStore(), useSelectedDataStore());
  if (searchInputRequiredValidation) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
  }

  // 파일 선택 유무
  if (!fileName.value) {
    return useToast().warning(t("common-toast.no-excel-file"));
  }

  const currentTemplate = useOptionDataStore()
    .getOptionData()
    .DS_TP.filter((option: any) => {
      return option.FORMAT_REMARK === useSearchConditionStore().getSearchInputValue().FORMAT_TEMPLATE_ID;
    })[0];
  const currentUser = JSON.parse(userStore().getCurrentUser());
  formData.append("txtFile", fileData.value);
  formData.append("colSize", "55");
  formData.append("startRow", useSearchConditionStore().getSearchInputValue().startRow);
  formData.append("vrTemplateId", currentTemplate.FORMAT_TEMPLATE_ID);
  formData.append("vrCustSeq", currentTemplate.FORMAT_CUST_SEQ);
  formData.append("vrOrdType", "I");
  formData.append("vrOrdSubType", useSearchConditionStore().getSearchInputValue().vrCustSeq);
  formData.append("SS_SVC_NO", currentUser.LC_ID);
  formData.append("SS_CLIENT_IP", currentUser.LAST_CONT_IP);
  formData.append("SS_USER_NO", currentUser.USER_NO);
  formData.append("vrTemplateType", currentTemplate.FORMAT_CUST_SEQ);
  formData.append("vrUploadType", "UCI");

  await ApiService.postFormData(saveUrl!, "post", {}, formData);
  // if (res.result.MSG) {
  //   logText.value = `${res.result.MSG} ${res.result.MSG_ORA ? " / " + res.result.MSG_ORA : ""}`;
  // }
  formData = new FormData();
}

// 템플릿 다운로드버튼 클릭
async function downLoad() {
  location.href = REST_SERVICE_PRODUCTION_URL + templateUrl;
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>

<style lang="scss">
.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .search {
    margin-right: 0px;

    &.half {
      width: calc(33.3% - 7px);
    }
  }
}
.integrated-template {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    position: relative;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 15px;
    box-sizing: border-box;
    z-index: 14;
    background-color: white;
  }

  &-title {
    font-size: 13px;
    color: $font-bk;
    font-weight: bold;
    margin-bottom: 22px;
  }

  &-download-btn {
    @include btnColorStyle($font-bk);
    position: absolute;
    top: 0px;
    right: 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px 13px;
    cursor: pointer;
  }

  &-input {
    &-box {
      background-color: #e2e7fa;
      width: 100%;
      height: 62px;
      padding: 0 36px 0 11px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      gap: 23px;
      display: flex;
      margin-bottom: 20px;
    }

    &-file-name {
      width: 610px;
      height: 35px;
      border-radius: 8px;
      border: 1px solid #d6d6d6;
      box-sizing: border-box;
      padding-left: 13px;
    }
    &-file-input {
      display: flex;
      align-items: center;
    }
    &-item {
      width: 0px;
      height: 0px;
    }
    &-label {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;

      &-icon {
        width: 25px;
        height: 25px;
        background-color: $main;
        border-radius: 6px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 12px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &-text {
        color: $main;
        font-weight: bold;
        font-size: 13px;
      }
    }
  }
  &-log {
    &-title {
      font-size: 13px;
      color: $font-bk;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-text {
      border: 1px solid #d6d6d6;
      width: 100%;
      height: 62px;
      border-radius: 8px;
      padding: 10px;
      overflow-y: scroll;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;

    button {
      width: 370px;
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    &-close {
      @include btnColorStyle($font-bk);
    }

    &-save {
      @include btnColorStyle($main);
    }
  }
}

// search영역 style
.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
</style>
