<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	invalid-modal.vue
 *  Description:    재고부족 모달
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="invalid-modal">
    <div class="invalid-modal-wrap">
      <div class="invalid-modal-header">
        {{ t(`modal-title.${invalidModalDef.headerTitle}`) }}
      </div>
      <div class="invalid-modal-title">
        {{ t(`common-description-text.${invalidModalDef.contentTitle}`) }}
      </div>
      <div class="invalid-modal-sub-title">
        {{ t(`common-description-text.${invalidModalDef.contentSubTitle}`) }}
      </div>
      <ul class="header-column-list">
        <li v-for="(col, i) in invalidModalDef.columns" :key="col + i" class="header-column">
          {{ t(`grid-column-name.${col}`) }}
        </li>
      </ul>
      <ul class="invalid-data">
        <li v-for="(invalidData, i) in invalidModalData" :key="invalidData + i" class="invalid-data-item">
          <span v-for="(key, j) in Object.keys(invalidData)" :key="j" class="invalid-data-column">
            {{ invalidData[key] }}
          </span>
        </li>
      </ul>
      <div class="invalid-modal-buttons">
        <button class="cancel" @click="close()">{{ t("button-name.close") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { useI18n } from "vue-i18n";

// Variable Definitions
const { invalidModalData, invalidModalDef, close } = defineProps<{
  invalidModalData: any;
  invalidModalDef: any;
  close: () => void;
}>();

const { t } = useI18n();
// User Function Definitions
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.invalid-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrap {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-header {
    background-color: #080d2c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
  }

  &-title {
    font-weight: bold;
    letter-spacing: -0.64px;
    color: $red;
    margin: 36px 0 25px 0;
    padding: 0 125px;
  }

  &-sub-title {
    margin-bottom: 25px;
    letter-spacing: -0.64px;
    color: #181818;
  }

  &-buttons {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 14px;
    margin-top: 16px;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 70px;
      width: 100%;
    }
    .cancel {
      @include btnColorStyle($font-secondary);
    }
  }
}
.header-column-list {
  display: flex;
  width: 100%;
  padding: 0 14px;
}
.header-column {
  width: calc(100% / 4);
  text-align: center;
  font-size: 12px;
  color: white;
  background-color: #0e1e54;

  padding: 10px 0px;
}

.invalid-data {
  width: 100%;
  padding: 0 14px;
}

.invalid-data-item {
  display: flex;
  &:not(&:last-of-type) {
    .invalid-data-column {
      border-bottom: none;
    }
  }
}

.invalid-data-column {
  display: block;
  width: calc(100% / 4);
  font-size: 12px;
  letter-spacing: -0.48px;
  color: #181818;
  text-align: center;
  padding: 5px 0;
  border: 1px solid #cfcfcf;

  &:not(&:last-of-type) {
    border-right: none;
  }
}
</style>
