<template>
  <div id="merge-order">
    <div>
      <h3>{{ $t("popup-title.select-order-ord-degree") }}</h3>
      <div v-for="(arrOrd, i) in arrOrds" :key="i">
        <input type="radio" name="ordDegree" :value="arrOrd[1]" :v-model="vrOrdDegree" />
        <label>{{ $t("input-title.order-number") }} : </label>
        <span style="margin-right: 20px">{{ arrOrd[0] }}</span>
        <label>{{ $t("input-title.order-sequence") }} : </label>
        <span>{{ arrOrd[1] }}</span>
      </div>
      <div>
        <button @click="close">Cancel</button>
        <button @click="mergeOrder_step3">OK</button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";

const { arrOrds, fn_mergeOrder_step3 } = defineProps<{
  arrOrds: any;
  fn_mergeOrder_step3: (vrOrdDegree: any) => void;
}>();

const emits = defineEmits(["popupOn"]);
const vrOrdDegree = ref<string>("");

function mergeOrder_step3() {
  fn_mergeOrder_step3(vrOrdDegree.value);
  close();
}

function close() {
  emits("popupOn", false);
}
</script>

<style lang="scss">
#merge-order {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    position: fixed;
    width: 500px;
    margin: auto;
    left: calc(50% - 250px);
    padding: 20px 0;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    z-index: 2;
    > h3 {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 15px;
    }
    > div {
      font-weight: bold;
      font-size: 18px;
      > input {
        margin-right: 10px;
      }
    }
    > div:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      gap: 15px;
      margin-top: 15px;
      > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 44px;
        border-radius: 10px;
        background-color: rgba(34, 34, 34, 0.1019607843);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -1.05px;
        color: #222222;
      }
      > button:nth-child(2) {
        background-color: rgba(61, 97, 225, 0.1019607843);
        color: #3d61e1;
      }
    }
  }
}
</style>
