<template>
  <div class="only-grid-view-modal">
    <div class="only-grid-view-modal-container">
      <h3 class="only-grid-view-modal-title">{{ setOnlyGridViewParams().title.modalTitle }}</h3>
      <button class="close-btn" @click.prevent="closeModal">
        <i class="btn-close-popup"></i>
      </button>
      <div class="only-grid-view-modal-grid-header">{{ setOnlyGridViewParams().title.gridTitle }}</div>
      <ag-grid-vue style="height: 600px" class="ag-theme-alpine" :gridOptions="gridOptions" />
      <div class="ag-paging-custom">
        <select @change="onPageSizeChanged" class="page-size">
          <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
        </select>
        <span>Total : {{ totalRows }}</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, reactive, onBeforeMount } from "vue";
import { GridApi, GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import { AgGridVue } from "ag-grid-vue3";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { useToast } from "vue-toastification";
import { useI18n } from "vue-i18n";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";

const { setOnlyGridViewParams } = defineProps<{
  setOnlyGridViewParams: () => { title: any; apiUrl: string; params: any; pagingInfo: string; columnDefs: any };
}>();
const emits = defineEmits(["close"]);
const pagingOptions = UtilService.getGridPagingOptions(setOnlyGridViewParams().pagingInfo);
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const bodyData = reactive({ value: {} as any });
const { t } = useI18n();
let gridApi: GridApi | null = null;

const gridOptions: GridOptions = {
  columnDefs: setOnlyGridViewParams().columnDefs,
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "single",
  rowModelType: "serverSide",
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  pagination: true,
  onGridReady: onGridReady,
};

onBeforeMount(() => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

async function onGridReady(params: any) {
  gridApi = params.api;
  gridApi?.sizeColumnsToFit();
  await getGridRowDatas();
}

// 그리드 데이터 검색
async function getGridRowDatas() {
  gridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const gridData = await ApiService.postApi(setOnlyGridViewParams().apiUrl, setOnlyGridViewParams().params, bodyData.value);
      if (gridData.status === false) {
        params.successCallback([], 0);
        useToast().error(gridData.result?.MSG);
      } else {
        totalRows.value = UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows);
        params.successCallback(gridData.result.list, totalRows.value);
      }
    },
  });
}

function closeModal() {
  emits("close", false);
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

const onPageSizeChanged = (e: any) => {
  const target = e.target as HTMLSelectElement;
  pagingSize.value = Number(target.value);
  gridApi?.paginationSetPageSize(Number(target.value));
  gridApi?.setCacheBlockSize(Number(target.value));
  totalRows.value = gridApi?.paginationGetRowCount()!;
};
</script>

<style lang="scss" scoped>
.only-grid-view-modal {
  background-color: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    @include slideDownModalAnimation;

    max-width: 900px;
    min-width: 700px;
    width: 65vw;
    padding: 20px;
    z-index: 10;
    background-color: white;
    padding: 27px 15px 20px;
    border-radius: 15px;
    &.slide-up {
      @include slideUpModalAnimation;
    }
    .close-btn {
      @include flexCenter;
      position: absolute;
      right: 27px;
      top: 25px;
      background-color: rgba($color: $main, $alpha: 0.1);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: rgba($color: $main, $alpha: 0.3);
      }
    }
  }
  &-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 49px;
  }
  &-button {
    &-list {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-bottom: 10px;
    }
    &-item {
      font-weight: bold;
      border-radius: 10px;
      padding: 5px 15px;
      &.save {
        @include btnColorStyle($main);
        width: 50%;
        font-size: 14px;
        padding: 14px 0;
      }
      &.close {
        @include btnColorStyle($font-bk);
        width: 50%;
        padding: 14px 0;
        font-size: 14px;
      }
      &.refresh {
        @include btnColorStyle($main);
      }
    }
  }
  &-grid-header {
    color: white;
    font-weight: bold;
    background-color: #374a8d;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    padding: 7px 10px;
  }
}
</style>
