<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	display-settings.vue
 *  Description:    주문관리 - 재고조정 - 설정 버튼 클릭시 노출되는 화면설정 모달
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="popup-curtain">
    <div id="search-option-settings-modal-container">
      <!--header-->
      <header>{{ t("modal-title.display-settings") }}</header>

      <!--content-->
      <content class="content">
        <div class="title-container">
          <h3 class="option-list-title">{{ t("text.use") }}</h3>
          <i class="reset" @click="() => reset()"></i>
        </div>
        <ul class="use-option-list option-list">
          <template v-for="(option, i) in displaySearchInputDef" :key="i">
            <li v-if="!option.hidden" :class="['option', { 'disabled-option': option.required }, { 'hidden-option': option.hidden }]" @click="() => changeOption(option.title)">
              <div class="on-off-button">
                <img src="/public/assets/images/btn-checkbox-on.svg" alt="" />
                <p :for="option.title"><i v-if="option.required" class="require">*</i>{{ t(`input-title.${option.title}`) }}</p>
              </div>
            </li>
          </template>
        </ul>
        <!--미사용중인 옵션들 리스트-->
        <h3 class="option-list-title">{{ t("text.un-use") }}</h3>
        <ul class="un-use-option-list option-list">
          <template v-for="(option, i) in displaySearchInputDef" :key="i">
            <li v-if="option.hidden" :class="['option', { 'hidden-option': option.hidden }]" @click="() => changeOption(option.title)">
              <div class="on-off-button">
                <img src="/public/assets/images/btn-checkbox-off.svg" alt="" />
                <p :for="option.title">{{ t(`input-title.${option.title}`) }}</p>
              </div>
            </li>
          </template>
        </ul>
      </content>

      <div class="button-list">
        <button class="cancel" @click="() => close()">{{ t("button-name.close") }}</button>
        <button class="save" @click="() => save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "PageSettings" };
</script>
<script setup lang="ts">

import { useTabsStore, useUserSettingStore, userStore } from "@/store";
import { cloneDeep } from "lodash";
import { onBeforeMount, ref } from "vue";
import { useI18n } from "vue-i18n";

//#region ::  Variable Definitions

const props = defineProps<{
  close: () => void;
}>();
const close = props.close;
const { t } = useI18n();
const userId = JSON.parse(userStore().getCurrentUser()).USER_ID;
const tab = useTabsStore().selectedTab.value?.id;
const searchInputDef = ref();
const displaySearchInputDef = ref();

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(() => {
  searchInputDef.value = useUserSettingStore().getUserSearchInput;
  displaySearchInputDef.value = cloneDeep(searchInputDef.value);

  // 필수항목은 설정 제한
  if(searchInputDef.value){
    displaySearchInputDef.value = displaySearchInputDef.value!.filter((searchItem:any) => searchItem.required === false);
  }
});

//#endregion

//#region ::  User Function Definitions

/**
 * 검색조건 항목 Show/Hidden 변경에 대한 이벤트
 * 
 * @param title : 검색조건 메타정보의 타이틀
 */
function changeOption(title: string) {
  displaySearchInputDef.value!.forEach((option: any) => {
    if (option.title === title) {
      if (option.hidden) {
        option.hidden = false;
      } else {
        option.hidden = true;
      }
    }
  });

  searchInputDef.value!.forEach((option: any) => {
    if (option.title === title) {
      if (option.hidden) {
        option.hidden = false;
      } else {
        option.hidden = true;
      }
    }
  });
}

/**
 * 초기화
 */
function reset() {
  const originSearchInput = useUserSettingStore().getOriginSearchInput;

  displaySearchInputDef.value!.forEach((option: any) => {
    if (Object.hasOwn(option, "hidden")) {
      const originData = originSearchInput?.find( (dt:any) => dt.title === option.title);
      option.hidden = originData?.hidden;
    }
  });

  searchInputDef.value!.forEach((option: any) => {
    if (Object.hasOwn(option, "hidden")) {
      const originData = originSearchInput?.find( (dt:any) => dt.title === option.title);
      option.hidden = originData?.hidden;
    }
  });

  localStorage.removeItem("userSearchOption" + userId + tab);
}

/**
 * 저장
 */
function save() {
  localStorage.setItem("userSearchOption" + userId + tab, JSON.stringify(searchInputDef.value));
  close();
}

//#endregion

</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.popup-curtain {
  position: fixed;
  background-color: rgba($color: black, $alpha: 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 13;
}

#search-option-settings-modal-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 13;
  border-radius: 15px;
  background-color: white;
  border-radius: 15px 15px;
  max-width: 900px;
  min-width: 700px;
  width: 65vw;

  /* header */
  header {
    border-radius: 15px 15px 0 0;
    font-size: 15px;
    font-weight: bold;
    background-color: #080d2c;
    color: white;
    padding: 14px 0 11px 18px;
  }

  /* content */
  content {
    @include scrollbarStyle;
    &::-webkit-scrollbar-track {
      border-radius: 0 0 8px 0;
    }
    display: block;
    padding: 0 17px;
    overflow-y: auto;
    max-height: 500px;

    .title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .reset {
        cursor: pointer;
        display: block;
        width: 50px;
        height: 25px;
        border-radius: 10px;
        padding: 3px 0;
        background: url("/public/assets/images/btn-reset-filter.svg") 0% 0% / contain no-repeat;
        background-position: center;
        background-origin: content-box;
        background-color: #b7b7b7;

        &:hover {
          background-color: #898989;
        }
      }
    }

    .option-list-title {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: -1px;
      color: #727272;
      margin-top: 24px;
      margin-bottom: 18px;
    }

    .option-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 9px;
      width: 100%;

      .option {
        width: calc(50% - 13px);
        text-align: center;
        border: 1px solid white;
        cursor: pointer;
        font-weight: bold;
        &.disabled-option {
          pointer-events: none;
        }

        &.hidden-option {
          color: gray;
        }

        .on-off-button {
          display: flex;
          align-items: center;
          gap: 13px;
          width: 100%;

          > p {
            font-size: 13px;
            letter-spacing: -0.52px;
            color: #727272;
            width: 100%;
            text-align: left;
            padding: 8px;
            background-color: #f6f7fc;

            > i.require {
              color: $red;
              margin: 0px 8px 0 0;
              display: inline-block;
              transform: translateY(3px);
            }
          }
        }
      }
    }
    .un-use-option-list {
      > p {
        background-color: #f2f2f2 !important;
      }
    }
  }
  /* 하단 버튼 영역 */
  .button-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0px;
    gap: 10px;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 0px;
      width: calc(50% - 17px);
    }
    .close {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
}
</style>
