<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	password-change.vue
 *  Description:    비밀번호 변경을 위한 팝업 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <form id="password-change-page" @submit.prevent="(e:any)=>submitChangePasswordForm(e)">
    <a class="close-popup" @click="closePopup()">
      <i class="btn-close-popup"></i>
    </a>
    <h2>{{ t("modal-title.change-password") }}</h2>
    <ul class="before">
      <li :class="[{ 'error-border': inputBorderType.error.includes(0) }, { 'success-border': inputBorderType.success.includes(0) }]">
        <label for="userId">{{ t("input-title.user-id") }}</label>
        <span class="error-content">{{ errorMessage[0] }}</span>
        <input id="userId" type="text" :placeholder="t('input-placeholder.please-enter-id')" />
      </li>
      <li :class="[{ 'error-border': inputBorderType.error.includes(1) }, { 'success-border': inputBorderType.success.includes(1) }]">
        <label for="beforePwd">{{ t("input-title.now-passwork") }}</label>
        <span class="error-content">{{ errorMessage[1] }}</span>
        <input id="beforePwd" type="password" :placeholder="t('input-placeholder.please-enter-password')" />
      </li>
    </ul>
    <ul class="after">
      <p>*비밀번호는 영문 대 소문자, 숫자, 특수문자 (!@$%^&* 만 허용) 를 조합하여 8~16자로 구성하세요.</p>
      <li :class="[{ 'error-border': inputBorderType.error.includes(2) }, { 'success-border': inputBorderType.success.includes(2) }]">
        <label for="afterPwd">{{ t("input-title.change-password") }}</label>
        <span class="error-content">{{ errorMessage[2] }}</span>
        <input id="afterPwd" type="password" :placeholder="t('input-placeholder.please-enter-change-password')" />
      </li>
      <li :class="[{ 'error-border': inputBorderType.error.includes(3) }, { 'success-border': inputBorderType.success.includes(3) }]">
        <label for="afterPwdCheck">{{ t("input-title.confirm-change-password") }}</label>
        <span class="error-content">{{ errorMessage[3] }}</span>
        <input id="afterPwdCheck" type="password" :placeholder="t('input-placeholder.please-enter-your-password-one-more-time')" />
      </li>
    </ul>
    <div class="buttons">
      <button class="close" @click="closePopup()">{{ t("button-name.close") }}</button>
      <button type="submit" class="confirm">{{ t("button-name.save") }}</button>
    </div>
  </form>
  <div class="modal-dimmed" @click="closePopup()"></div>
  <confirm-popup />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ApiService } from "@/services/api-service";
import { useConfirmStore } from "@/store";
import { reactive } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { ConfirmPopup } from ".";

// Variable Definitions
const emits = defineEmits<{ onPopupClosed: [value: boolean] }>();
const { t } = useI18n();

const inputBorderType = reactive({ success: [] as any[], error: [] as any[] });
const errorMessage = reactive({ 0: "", 1: "", 2: "", 3: "" } as any);

// Framework Function Definitions
// User Function Definitions
const closePopup = () => {
  emits("onPopupClosed", true);
};

function changeInputBorderType(type: "success" | "error", action: "add" | "remove", index: number[]) {
  for (let i = 0; index.length > i; i++) {
    if (action === "add") {
      inputBorderType[type] = [...inputBorderType[type], ...index];
    } else if (action === "remove") {
      inputBorderType[type] = inputBorderType[type].filter((item: any) => {
        return item !== index[i];
      });
    }
  }
}

async function submitChangePasswordForm(e: any) {
  
    changeInputBorderType("error", "remove", [0, 1, 2, 3]);
    changeInputBorderType("success", "add", [0, 1, 2]);

    /* 유효성검사 */
    const toastTexts = ["please-enter-your-user-ID", "please-enter-your-current-password", "please-enter-your-change-password", "enter-change-password-confirmation"];
    for (let i = 0; 3 > i; i++) {
      if (!e.target[i].value) {
        changeInputBorderType("success", "remove", [i]);
        changeInputBorderType("error", "add", [i]);
        errorMessage[String(i)] = t(`common-toast.${toastTexts[i]}`);
        return useToast().warning(t(`common-toast.${toastTexts[i]}`));
      }
    }
    // 비밀번호 정규식 검사
    if (!/^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@$%^&*])[A-Za-z\d!@$%^&*]{8,16}$/.test(e.target[2].value)) {
      changeInputBorderType("success", "remove", [2]);
      changeInputBorderType("error", "add", [2]);
      errorMessage["2"] = t("common-toast.password-not-invalidation");
      return useToast().warning(t("common-toast.password-not-invalidation"));
    }
    if (e.target[2].value !== e.target[3].value) {
      changeInputBorderType("success", "remove", [2, 3]);
      changeInputBorderType("error", "add", [2, 3]);
      errorMessage["2"] = t("common-toast.change-password-input-values-are-different");
      errorMessage["3"] = t("common-toast.change-password-input-values-are-different");
      return useToast().warning(t("common-toast.change-password-input-values-are-different"));
    }
    changeInputBorderType("success", "add", [3]);

    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

    /* bodyData셋팅 */
    const bodyData: any = {
      USER_ID: e.target[0].value,
      PWD: e.target[1].value,
      C_USER_PWD: e.target[2].value,
      C_USER_PWD2: e.target[3].value,
    };

    /* api호출 */
    const res = await ApiService.postApi("/ChangePassword_rn.action", {}, bodyData);
    if (res.status) {
      if (res.result.ERROR === "0") {
        useToast().success(res.result.MSG);
        setTimeout(() => {
          closePopup();
        }, 1500);
      } else {
        errorMessage["0"] = res.result.MSG;
        errorMessage["1"] = res.result.MSG;
        changeInputBorderType("success", "remove", [0, 1]);
        changeInputBorderType("error", "add", [0, 1]);
        useToast().error(res.result.MSG);
      }
    }
  
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#password-change-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 522px;
  background-color: #fff;
  border-radius: 15px;
  padding: 27.5px 23px 4px 24px;
  z-index: 3;

  > .close-popup {
    @include flexCenter();
    position: absolute;
    right: 23px;
    top: 23px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba($color: $main, $alpha: 0.1);
  }

  > h2 {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
  }

  > ul {
    > p {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: -1px;
      color: $font-secondary;
    }
    > li {
      @include flexbox(row, space-between, center, nowrap);
      padding: 0 73px 0 43px;
      > label {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: -1px;
        color: #727272;
      }
      > input {
        height: 35px;
        width: 229px;
        padding-left: 10px;
        border-radius: 10px;
        border: solid 1px #d6d6d6;
        position: relative;

        &::placeholder {
          letter-spacing: -0.98px;
          font-size: 13px;
          opacity: 0.5;
        }
      }

      &:nth-child(2) {
        margin-top: 26px;
      }

      &:last-child {
        margin-top: 26px;
      }
    }
  }

  ul.before {
    border-bottom: solid 1px $border3;
    padding-bottom: 38px;
    margin-top: 48px;
  }

  ul.after {
    > p {
      font-size: 11px;
      color: $font-bk;
      text-align: center;
    }
    margin-top: 20px;
    > li {
      > label {
        color: $main;
      }
    }
  }

  .buttons {
    @include flexbox(row, space-between, stretch, nowrap);
    margin-top: 38px;
    margin-bottom: 26px;
    button {
      width: 228px;
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: -1.05px;
    }
    .close {
      background-color: rgba(34, 34, 34, 0.1);
    }
    .confirm {
      background-color: rgba(61, 97, 225, 0.1);
      color: $main;
    }
  }
}
.modal-dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-color: #000;
  z-index: 2;
}
.error-content {
  display: none;
  font-size: 13px;
  letter-spacing: -0.98px;
  color: $red;
  position: absolute;
  left: 182px;
  top: -18px;
}
.error-border {
  position: relative;
  > input {
    border: 1px solid $red !important;
  }
  .error-content {
    display: block;
  }
}

.success-border {
  > input {
    border: 1px solid $main !important;
  }
}
</style>
