<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	re-location-modal.vue
 *  Description:    로케이션재등록 버튼 클릭시 노출되는 윈도우 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="re-location">
    <h2 class="re-location-title">{{ t("modal-title.search-deleted-location") }}</h2>
    <div class="re-location-search" ref="searchComponentRef">
      <search-container :data="[]" :use-setting="false" :un-used-refresh-button="true">
        <template v-slot:search_input_slot>
          <template v-for="(props, i) in RE_LOC_SEARCH_INPUT" :key="i">
            <search-container-input :data="props" :columnDefs="MODAL_COLUMN_DEFS?.[props.title]" :modalData="SEARCH_MODAL_INFO_AFTER.value?.[props.title]" :pageInfo="INFO" />
          </template>
        </template>
      </search-container>
    </div>
    <div class="re-location-grid" ref="formContainerRef">
      <h4 class="re-location-grid-header">{{ t("grid-title.location-information") }}</h4>
      <ag-grid-vue class="ag-grid-size ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
      <div class="ag-paging-custom">
        <select @change="onPageSizeChanged" class="page-size">
          <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
        </select>
        <span>Total : {{ totalRows }}</span>
      </div>
    </div>
    <div class="re-location-buttons">
      <button class="close" @click.prevent="closeWindow">{{ t("button-name.close") }}</button>
      <button class="submit" @click.prevent="reLocation">{{ t("button-name.re-registration") }}</button>
    </div>
  </div>
  <confirm-popup />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useFormHeightStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import { SearchContainerInput } from "@/components/input";
import { SearchContainer } from "@/components/layout";
import { ConfirmPopup } from "@/popups/index";

import { MODAL_COLUMN_DEFS, RE_LOCATION_COLUMN_DEF } from "@/page/master-data/WMSMS080/column-defs";
import { INFO, RE_LOC_SEARCH_INPUT, SEARCH_MODAL_INFO } from "@/page/master-data/WMSMS080/input.meta";

// Variable Definitions
const pagingOptions = UtilService.getGridPagingOptions("WMSMS080");
const pagingSize = ref<number>(pagingOptions![0]);
const inactive = ref<boolean>(false);
const bodyData = reactive({ value: {} as any });
const { t } = useI18n();
const totalRows = ref<number>(0);
const SEARCH_MODAL_INFO_AFTER = reactive({ value: {} } as { value: any });
let selectedItems = [] as any[];
const searchComponentRef = ref(null as null | HTMLDivElement);
const formContainerRef = ref(null as null | any);

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  // 로케이션 인풋 검색시 사용되는 params변경
  SEARCH_MODAL_INFO_AFTER.value = Object.assign({}, SEARCH_MODAL_INFO);
  SEARCH_MODAL_INFO_AFTER.value.location.apis.params.vrSrchLocDel = "Y";

  const res = await ApiService.postApi(`/WINUS/WMSMS080_rn.action`, {}, UtilService.getOptionApiData(`WMSMS080_rn`));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onMounted(() => {
  setTripleSelectBoxStyle();
  useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("re-location-modal")));
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

// 검색결과 그리드에 반영시키기
watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

// User Function Definitions
function setTripleSelectBoxStyle() {
  const codeOptionInput01 = document.querySelectorAll(".search.triple")[5] as any;
  const codeOptionInput02 = document.querySelectorAll(".search.triple")[6] as any;
  const codeOptionInput03 = document.querySelectorAll(".search.triple")[7] as any;
  codeOptionInput01.querySelector(".search-input").style.width = "calc(33% - 6px)";
  codeOptionInput01.querySelector(".search-input").style.margin = "0 -14px 0 0 ";
  codeOptionInput02.querySelector(".search-input").style.width = "calc(33% - 6px)";
  codeOptionInput02.querySelector(".search-input").style.margin = "0 -14px 0 0 ";
  codeOptionInput03.querySelector(".search-input").style.width = "calc(33% - 6px)";

  const divElements = document.createElement("div");
  divElements.classList.add("WMSMS080-triple-select-box");
  divElements.appendChild(codeOptionInput01.querySelector(".search-input"));
  divElements.appendChild(codeOptionInput02.querySelector(".search-input"));
  divElements.appendChild(codeOptionInput03.querySelector(".search-input"));
  codeOptionInput01.appendChild(divElements);
  codeOptionInput02.remove();
  codeOptionInput03.remove();
}
//검색
async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridOptions.api?.deselectAll();
    const searchConditions = RE_LOC_SEARCH_INPUT;
    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams.vrSrchLocDel = "Y";

    gridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSMS080/delList_rn.action", apiParams, bodyData.value);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            UtilService.setGridData("server-side", gridOptions.api, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridOptions.api, null, params);
          }
        } else {
          UtilService.setGridData("server-side", gridOptions.api, null, params);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

function onGridReady() {
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  resizeGridColumns();
  window.addEventListener("resize", () => {
    resizeGridColumns();
  });
}
const resizeGridColumns = () => {
  gridOptions.api?.sizeColumnsToFit();
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  onPaginationChanged: onPaginationChanged,
  onSelectionChanged: onSelectionChanged,
  onGridReady: onGridReady,
  columnDefs: RE_LOCATION_COLUMN_DEF,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  groupSelectsChildren: true,

  getRowId: (data) => {
    return data.data.RNUM;
  },
};

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems = gridOptions.api?.getSelectedRows()!;
    }
  } else {
    selectedItems = gridOptions.api?.getSelectedRows()!;
  }
}

// 재등록 버튼 클릭 / 저장
async function reLocation() {
  try {
    if (!selectedItems || selectedItems.length === 0) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }
    await useConfirmStore().confirm(t("confirm-message.register"), t("button-name.confirm"));

    const bodyData: any = {
      selectIds: String(selectedItems.length),
    };
    for (let i = 0; selectedItems.length > i; i++) {
      bodyData["LOC_ID_" + [i]] = selectedItems[i].LOC_ID || "";
    }

    const res = await ApiService.postApi("/WMSMS080/restore_rn.action", {}, bodyData);

    if (res.status) {
      if (res.result.errCnt === 0) {
        useToast().success(t(res.result.MSG));
        setTimeout(() => {
          window.close();
        }, 2000);
        return;
      } else {
        useToast().error(t(res.result.MSG));
      }
    }
  } catch (err) {
    console.log(err);
  }
}

function closeWindow() {
  window.close();
}
</script>

<style lang="scss">
.re-location {
  z-index: 100;
  background-color: white;
  padding: 20px 10px 0px 10px;

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }
  &-search {
    .search-container {
      padding: 0px 0px 0px 0px !important;
      border-bottom: none !important;
      min-width: initial !important;
      .form {
        max-height: none !important;
        padding-right: 33px !important;

        > button {
          right: 0px !important;
        }
      }
    }
    .btn-refresh-data {
      display: none !important;
    }
  }

  &-grid {
    margin-top: 20px;
    height: 100%;
    &-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      background-color: #374a8c;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
    }

    .ag-grid-size {
      height: calc(100% - 31px);
    }
  }
  &-buttons {
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
    > button {
      width: 50%;
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }
    > .close {
      @include btnColorStyle($font-secondary);
    }
    > .submit {
      @include btnColorStyle($main);
    }
  }
}
</style>
