<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	return-receipt.vue
 *  Description:    반품접수 모달
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="return-receipt" class="return-receipt">
    <div class="container">
      <div class="header">
        {{ t("modal-title.return-accepted") }}
      </div>
      <div class="select-box-container">
        <search-container-input :data="inputDef" :columnDefs="[]" :modalData="[]" :pageInfo="null" />
      </div>
      <div class="buttons">
        <button class="cancel" @click="() => closeEvent()">{{ t("button-name.close") }}</button>
        <button class="save" @click="() => save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">

import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { SearchContainerInput } from "@/components/input";
import { ApiService } from "@/services/api-service";
import { useSearchConditionStore } from "@/store";

// Variable Definitions
const { returnReceiptData, closeEvent } = defineProps<{
  returnReceiptData: {
    apiParams: any;
    selectedItems: any;
  };
  closeEvent: () => void;
}>();

const { t } = useI18n();

const inputDef: any = {
  ids: ["I_ORD_SUBTYPE"],
  hiddenId: "",
  rowDataIds: [""],
  rowDataHiddenId: "",
  searchApiKeys: [""],
  title: "return-classification",
  width: "entire",
  isModal: false,
  required: false,
  isSearch: false,
  types: ["select-box"],
  options: [
    { name: "", nameKey: "return-received-defective", value: "22" },
    { name: "", nameKey: "return-received-normal", value: "23" },
  ],
  optionsAutoSelected: {
    allowAutoSelected: true,
    autoSelectedKeyIndex: 0,
  },
};

// User Function Definitions
async function save() {
  
    const apiParams: any = {
      ...returnReceiptData.apiParams,
      ...{
        _fullpath: "",
        selectIds: String(returnReceiptData.selectedItems.length),
        I_ORD_TYPE: "I",
        I_ORD_SUBTYPE: useSearchConditionStore().getSearchInputValue().I_ORD_SUBTYPE || "",
      },
    };

    for (let i = 0; returnReceiptData.selectedItems.length > i; i++) {
      apiParams["I_CUST_ORD_NO" + [i]] = String(returnReceiptData.selectedItems[i].ORG_ORD_ID || "");
      apiParams["I_CUST_ORD_SEQ" + [i]] = String(returnReceiptData.selectedItems[i].CUST_ORD_SEQ || "");
      apiParams["I_CUST_CD" + [i]] = String(returnReceiptData.selectedItems[i].CUST_CD || "");
      apiParams["I_ORD_QTY" + [i]] = String(returnReceiptData.selectedItems[i].REAL_OUT_QTY || "");
      apiParams["I_UOM_CD" + [i]] = String(returnReceiptData.selectedItems[i].OUT_ORD_UOM_NM || "");
      apiParams["I_ITEM_CD" + [i]] = String(returnReceiptData.selectedItems[i].RITEM_CD || "");
      apiParams["I_ITEM_NM" + [i]] = String(returnReceiptData.selectedItems[i].RITEM_NM || "");
      apiParams["I_SALES_CUST_NM" + [i]] = String(returnReceiptData.selectedItems[i].SALES_CUST_NM || "");
      apiParams["I_ZIP" + [i]] = String(returnReceiptData.selectedItems[i].ZIP || "");
      apiParams["I_ADDR" + [i]] = String(returnReceiptData.selectedItems[i].ADDR || "");
      apiParams["I_PHONE1" + [i]] = String(returnReceiptData.selectedItems[i].PHONE_1 || "");
      apiParams["I_RJ_TYPE" + [i]] = "반품접수진행";
    }

    const res = await ApiService.postApi("/WMSOP030/saveListRtnOrderJavaB2AS_rn.action", {}, apiParams);

    if (res.status) {
      if (Object.hasOwn(res.result, "errCnt") && res.result.errCnt === 0) {
        useToast().success(res.result.MSG);
        setTimeout(() => {
          closeEvent();
        }, 2000);
        return;
      } else {
        return useToast().warning(res.result.MSG);
      }
    }
  
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#return-receipt {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    border-radius: 15px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    background-color: #080d2c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .select-box-container {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: 0 10px 10px 10px;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 70px;
    }
    .cancel {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
}
</style>
