<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	sales-customer-registration.vue
 *  Description:    매출거래처등록 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="sales-customer-registration" class="sales-customer-registration">
    <div class="sales-customer-registration-container">
      <h3 class="sales-customer-registration-title">{{ t("modal-title.sales-customer-registration") }}</h3>
      <!--컨트롤버튼 영역-->
      <div class="sales-customer-registration-control">
        <template v-for="btnData in SALES_COSTOMER_REGISTRATION.controlButton" :key="btnData.title">
          <control-button :data="btnData" :addRowData="addRowData" />
        </template>
      </div>
      <!--인풋영역-->
      <div class="sales-customer-registration-search">
        <template v-for="(props, i) in SALES_COSTOMER_REGISTRATION.searchInput" :key="i">
          <search-container-input :data="props" :columnDefs="SALES_COSTOMER_REGISTRATION.modalDef[props.title]" :modalData="SALES_COSTOMER_REGISTRATION.modalInfo[props.title]" :pageInfo="null" />
        </template>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
        <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
  <confirm-popup />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onBeforeMount } from "vue";

import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import { ConfirmPopup } from "@/popups/index";

import { SALES_COSTOMER_REGISTRATION } from "@/constants/popup-component-def";

// Variable Definitions
const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId"); // 조건문이나 html코드 영역에서 더블클릭으로 열렸는지 구분하기 위함
const vrSrchCustCdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustCd"); // 조건문이나 html코드 영역에서 더블클릭으로 열렸는지 구분하기 위함
const vrSrchCustNmQueryString = new URL(window.location.href).searchParams.get("vrSrchCustNm"); // 조건문이나 html코드 영역에서 더블클릭으로 열렸는지 구분하기 위함

const { t } = useI18n();

// Framework Function Definitions
onBeforeMount(() => {
  if (vrSrchCustIdQueryString) {
    useSelectedDataStore().selectedModalHandler({
      owner: { CUST_ID: vrSrchCustIdQueryString, CUST_CD: vrSrchCustCdQueryString, CUST_NM: vrSrchCustNmQueryString },
    });
  }
});

// 저장
async function save() {
  try {
    const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(SALES_COSTOMER_REGISTRATION.searchInput, useSearchConditionStore(), useSelectedDataStore());

    if (searchInputRequiredValidation) {
      return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
    }

    const bodyData = {
      func: "",
      selectIds: "1",
      ST_GUBUN0: "INSERT",
      BEST_DATE_YN0: "Y",
      TRUST_CUST_CD0: useSelectedDataStore().getSelectedModalData().owner.CUST_CD || "",
      TRUST_CUST_NM0: useSelectedDataStore().getSelectedModalData().owner.CUST_NM || "",
      TRUST_CUST_ID0: useSelectedDataStore().getSelectedModalData().owner.CUST_ID || "",
      CUST_CD0: useSearchConditionStore().getSearchInputValue().CUST_CD || "",
      CUST_NM0: useSearchConditionStore().getSearchInputValue().CUST_NM || "",
      REP_NM0: useSearchConditionStore().getSearchInputValue().REP_NM || "",
      BIZ_NO0: useSearchConditionStore().getSearchInputValue().BIZ_NO || "",
      TEL0: useSearchConditionStore().getSearchInputValue().TEL || "",
      FAX0: useSearchConditionStore().getSearchInputValue().FAX || "",
      MOBILE_NO0: useSearchConditionStore().getSearchInputValue().MOBILE_NO || "",
      ZIP0: useSearchConditionStore().getSearchInputValue().ZIP || "",
      ADDR0: useSearchConditionStore().getSearchInputValue().ADDR || "",
      E_MAIL0: useSearchConditionStore().getSearchInputValue().E_MAIL || "",
    };

    const res = await ApiService.postApi("/WMSMS011/save_rn.action", {}, bodyData);
    if (res.status) {
      if (Object.hasOwn(res.result, "errCnt") && res.result.errCnt === 0) {
        useToast().success(res.result.MSG);
        setTimeout(() => {
          close();
        }, 2000);
        return;
      } else {
        return useToast().warning(res.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

// 신규
async function addRowData() {
  try {
    await useConfirmStore().confirm(t("confirm-message.reset"), t("button-name.confirm"));
    useSelectedDataStore().selectedModalHandler({
      owner: { CUST_ID: vrSrchCustIdQueryString, CUST_CD: vrSrchCustCdQueryString, CUST_NM: vrSrchCustNmQueryString },
    });
    useSearchConditionStore().resetSearchInputValue({});
  } catch (err) {
    return console.log(err);
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.sales-customer-registration {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  min-height: 533px;
  max-height: 533px;

  justify-content: center;

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
  }

  &-container {
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 10px 0;
  }

  &-grid {
    position: relative;
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;

      &:nth-of-type(1) {
        margin-top: 10px;
      }
    }
    .ag-grid-size {
      height: 200px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 28px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(100% - 15px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
</style>
