<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	sap-template.vue
 *  Description:    sap템플릿입력 버톤 클릭시 노출되는 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="sap-template" class="sap-template">
    <div class="sap-template-container">
      <h3 class="sap-template-title">{{ t(`modal-title.${title}`) }}</h3>
      <div class="search-container">
        <search-container-input v-for="(input, i) in sapTemplateSearchInputInfo.value" :key="i" :data="input" :columnDefs="SAP_TEMPLATE.searchModal.columnDef[input.title]" :modalData="SAP_TEMPLATE.searchModal.modalInfo[input.title]" :pageInfo="null" :modalType="null" />
      </div>
      <div class="control-button-container">
        <control-button :data="SAP_TEMPLATE.GRID_CONTROL_BUTTON" :lineDel="lineDel" />
      </div>
      <div class="grid">
        <div class="grid-header">{{ $t("grid-title.owner-list") }}</div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
        <div class="ag-paging-custom">
          <span>Total : {{ totalRowCount }}</span>
        </div>
      </div>
      <h3 class="sap-template-download-btn" @click="downLoad">{{ $t("control-button-name.download-the-form") }}</h3>
      <div class="control-button-container">
        <control-button :data="SAP_TEMPLATE.FILE_CONTROL_BUTTON" :enterTemplate="enterTemplate" />
      </div>
      <form class="sap-template-input-box">
        <input v-if="fileName" v-model="fileName" type="text" class="sap-template-input-file-name" readonly />
        <div class="sap-template-input-file-input">
          <input class="sap-template-input-item" id="sap-template-input-item" type="file" @change="(e) => changeExcelFile(e)" />
          <label class="sap-template-input-label" for="sap-template-input-item">
            <div class="sap-template-input-label-icon"></div>
            <span class="sap-template-input-label-text">{{ $t("control-button-name.select-file") }}</span>
          </label>
        </div>
      </form>
      <div class="sap-template-btns">
        <button class="sap-template-btns-close" @click="closePopup">{{ $t("button-name.close") }}</button>
        <button class="sap-template-btns-save" @click="save">{{ $t("button-name.save") }}</button>
      </div>
    </div>
  </div>
  <confirm-popup />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSelectedDataStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import { ConfirmPopup } from "@/popups/index";

import { SAP_TEMPLATE } from "@/constants/template-modal";

// Variable Definitions
const selectedModalDataBefore = reactive({ value: {} as any });
const inactive = ref<boolean>(false);
const selectedItems = reactive({ value: [] } as { value: any });
const { t } = useI18n();
const currentTemplate = reactive({ value: {} } as { value: any });
const sapTemplateSearchInputInfo = reactive({ value: [] } as { value: any });
const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId");
const vrSrchCustCdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustCd");
const vrSrchCustNmQueryString = new URL(window.location.href).searchParams.get("vrSrchCustNm");
const title = new URL(window.location.href).searchParams.get("title");
const saveUrl = new URL(window.location.href).searchParams.get("saveUrl");
let formData = new FormData();
let fileData = ref(null as any);
let fileName = ref("");
let uniqueIdCount = 0;
let totalRowCount = ref(0);

// Framework Function Definitions
onMounted(() => {
  if (!saveUrl) {
    window.close();
  }

  if (vrSrchCustIdQueryString) {
    SAP_TEMPLATE.searchInput[0].disabled = "disabled";
    useSelectedDataStore().selectedModalHandler({
      owner: { CUST_ID: vrSrchCustIdQueryString, CUST_CD: vrSrchCustCdQueryString, CUST_NM: vrSrchCustNmQueryString },
    });
  } else {
    SAP_TEMPLATE.searchInput[0].disabled = "";
    useCallModalIdStore().setCallModalId("owner");
  }
  sapTemplateSearchInputInfo.value = Array.from(new Set(SAP_TEMPLATE.searchInput));
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// 화주 모달의 값이 변될때마다 템플릿 input options 값이 달라진다.
watch(useSelectedDataStore(), () => {
  if (!inactive.value) {
    allowGetSelectboxOptionsByOtherSearchCondition();
  }
});

// User Function Definitions
const gridOptions: GridOptions | any = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  onRowSelected: onSelectionChanged,
  rowData: [],
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  pagination: true,
  onRowDataUpdated: () => {
    totalRowCount.value = Object.keys(gridOptions.api?.getModel().nodeManager.allNodesMap).length;
  },
  getRowId: (data: any) => {
    return data.data.RNUM;
  },
};

function onSelectionChanged(e: any) {
  selectedItems.value = gridOptions.api?.getSelectedRows();
  gridOptions.api?.stopEditing();
  gridOptions.api?.ensureColumnVisible("NO", undefined);
  gridOptions.api?.ensureIndexVisible(e.rowIndex, null);
  UtilService.setGridStartEditing(gridOptions.api?.getSelectedNodes(), gridOptions.api);
}

async function allowGetSelectboxOptionsByOtherSearchCondition() {
  try {
    const selectedModalDataAfter = useSelectedDataStore().getSelectedModalData()["owner"];
    if (selectedModalDataAfter && !UtilService.compareObjectKeyValue(selectedModalDataAfter, selectedModalDataBefore.value)) {
      selectedModalDataBefore.value = selectedModalDataAfter;
      await getSelectboxOptionsByOtherSearchCondition(selectedModalDataBefore.value);

      // 선택한 화주 값이 달라질때마다 grid column 동적을로 그려주기
      const columnDefs: any = [
        {
          field: "NO",
          headerKey: "",
          headerName: "No",
          width: 60,
          valueGetter: (params: any) => params.node.rowIndex + 1, // 인덱스는 0이 아닌 1부터 시작
        },
        {
          field: "",
          headerKey: "",
          headerName: "",
          headerCheckboxSelection: true,
          checkboxSelection: true,
          width: 50,
        },
      ];

      const columnApiResponse: any = await ApiService.postApi(
        "/WMSCM210/search_rn.action",
        {},
        {
          vrTemplateId: currentTemplate.value.FORMAT_TEMPLATE_ID,
          vrCustSeq: String(currentTemplate.value.FORMAT_CUST_SEQ),
        }
      );
      if (columnApiResponse.status) {
        if (columnApiResponse.result.errCnt === 0) {
          columnApiResponse.result.DS_TPCOL.forEach((responseData: any) => {
            if (responseData.FORMAT_USE_YN === "Y") {
              const column = {
                field: responseData.FORMAT_BIND_COL,
                headerName: responseData.FORMAT_COL_NM,
                headerClass: "header-center",
                editable: true,
                width: 120,
              };
              if (responseData.FORMAT_MUST_YN === "Y") {
                column.headerClass = "header-require";
              }
              columnDefs.push(column);
            }
          });

          const defaultColumns = [
            { field: "RESULT_MSG", headerName: "오류정보", width: 120 },
            { field: "RESULT_CD", headerName: "오류코드", width: 120 },
          ];

          const mergeColumn = [...columnDefs, ...defaultColumns];

          gridOptions.api?.setColumnDefs(mergeColumn);
        }
      }

      // 화주 값이 바뀔때마다 그리드 초기화됨
      gridOptions.api?.setRowData([]);
      uniqueIdCount = 0;
    }
  } catch (err) {
    console.log(err);
  }
}

async function getSelectboxOptionsByOtherSearchCondition(e: any) {
  const bodyData = {
    vrCustCd: e.CUST_CD,
    vrTemplateType: "UO",
    vrTemplateFile: "",
  };
  const res = await ApiService.postApi("/WMSCM210/getTpList_rn.action", {}, bodyData);
  if (res.status) {
    currentTemplate.value = res.result.DS_TP[0];
    sapTemplateSearchInputInfo.value[1].optionsAutoSelected.autoSelectedKeyIndex = res.result.DS_TP[0].FORMAT_START_ROW;

    useOptionDataStore().setAvailableWatchBySearchCondition(true);
  }
}

// 행삭제 클릭
function lineDel() {
  selectedItems.value = gridOptions.api?.getSelectedRows();
  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  gridOptions.api?.applyTransaction({ remove: selectedItems.value });
}

// 템플릿입력 클릭
async function enterTemplate() {
  if (!fileData.value) {
    return useToast().warning(t("common-toast.no-excel-file"));
  }

  if (!Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    useCallModalIdStore().setCallModalId("owner");
    return;
  }

  formData = new FormData();
  formData.append("txtFile", fileData.value);
  formData.append("startRow", "1");
  formData.append("colSize", "64");

  const res = await ApiService.postFormData("/WMSOP030E2/inExcelFileUpload_rn.action", "post", {}, formData);
  if (res.status) {
    if (res.LIST.length > 0) {
      const gridColumns = gridOptions.api?.getColumnDefs();
      const defaultDataForm: any = {};
      gridColumns?.forEach((column: any) => {
        defaultDataForm[column.field] = "";
      });

      const addData: any = [];

      const defaultDataFormKeys = Object.keys(defaultDataForm);

      for (let i = 0; res.LIST.length > i; i++) {
        const apiResponseDataKeys = Object.keys(res.LIST[i]);
        for (let j = 2; defaultDataFormKeys.length > j; j++) {
          const data = Object.assign({}, defaultDataForm);

          data[defaultDataFormKeys[j]] = res.LIST[i][apiResponseDataKeys[i]];
          data.RNUM = uniqueIdCount;
          uniqueIdCount++;

          addData.push(data);
        }
      }

      gridOptions.api?.applyTransaction({ add: addData });

      // 추가된 요소만 selected상태로 만들어주기
      const rowNodes = gridOptions.api?.getModel().nodeManager.allNodesMap;

      const rowNodeKeys = Object.keys(rowNodes);
      const filteredNodes: any = rowNodeKeys.filter((key: any, i: any) => {
        return rowNodeKeys.length - addData.length <= i;
      });

      const setSelectedRowNodes: any = [];
      filteredNodes.forEach((key: any) => {
        setSelectedRowNodes.push(rowNodes[key]);
      });

      gridOptions.api?.setNodesSelected({ nodes: setSelectedRowNodes, newValue: true });
    }
  }
}

// 양식다운로드 버튼 클릭
async function downLoad() {
  if (!Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    useCallModalIdStore().setCallModalId("owner");
    return;
  }

  const columns: any = gridOptions.api?.getColumnDefs();
  // bodyData 셋팅, 엑셀 열 정보
  const bodyData: any = {
    Col_Size: String(columns.length - 4),
  };
  columns.forEach((column: any, i: any) => {
    bodyData["Name_" + [i]] = column.headerClass === "header-require" ? `${column.headerName} (필수)` : column.headerName;
    bodyData["Col_" + [i]] = column.field;
    bodyData["Row_" + [i]] = "";
  });

  await ApiService.postApi("/WMSOP030E2/sampleExcelDown.action", {}, bodyData);
}

function changeExcelFile(e: any) {
  formData = new FormData();
  const target = e.currentTarget!.files[0];
  fileName.value = target.name;
  fileData.value = target;
}

// 저장버튼 클릭
async function save() {
  
    gridOptions.api?.stopEditing();
    UtilService.setGridStartEditing(gridOptions.api?.getSelectedNodes(), gridOptions.api);

    selectedItems.value = gridOptions.api?.getSelectedRows();

    if (selectedItems.value.length === 0) {
      return useToast().warning(t("common-toast.no-selected-item"));
    }

    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

    const bodyData: any = {
      func: "fn_search",
      vrTemplateType: "UO",
      vrTemplateFile: "",
      vrOrdType: "O",
      vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,
      vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner.CUST_NM,
      vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
      selectIds: String(selectedItems.value.length),
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      bodyData["no" + [i]] = String(i + 1);
      bodyData["outReqDt" + [i]] = String(selectedItems.value[i].OUT_REQ_DT || "");
      bodyData["inReqDt" + [i]] = String(selectedItems.value[i].IN_REQ_DT || "");
      bodyData["custOrdNo" + [i]] = String(selectedItems.value[i].CUST_ORD_NO || "");
      bodyData["custOrdSeq" + [i]] = String(selectedItems.value[i].CUST_ORD_SEQ || "");
      bodyData["trustCustCd" + [i]] = String(selectedItems.value[i].TRUST_CUST_CD || "");
      bodyData["transCustCd" + [i]] = String(selectedItems.value[i].TRANS_CUST_CD || "");
      bodyData["transCustTel" + [i]] = String(selectedItems.value[i].TRANS_CUST_TEL || "");
      bodyData["transReqDt" + [i]] = String(selectedItems.value[i].TRANS_REQ_DT || "");
      bodyData["custCd" + [i]] = String(selectedItems.value[i].CUST_CD || "");
      bodyData["ordQty" + [i]] = String(selectedItems.value[i].ORD_QTY || "");
      bodyData["uomCd" + [i]] = String(selectedItems.value[i].UOM_CD || "");
      bodyData["sdeptCd" + [i]] = String(selectedItems.value[i].SDEPT_CD || "");
      bodyData["salePerCd" + [i]] = String(selectedItems.value[i].SALE_PER_CD || "");
      bodyData["carCd" + [i]] = String(selectedItems.value[i].CAR_CD || "");
      bodyData["drvNm" + [i]] = String(selectedItems.value[i].DRV_NM || "");
      bodyData["dlvSeq" + [i]] = String(selectedItems.value[i].DLV_SEQ || "");
      bodyData["drvTel" + [i]] = String(selectedItems.value[i].DRV_TEL || "");
      bodyData["custLotNo" + [i]] = String(selectedItems.value[i].CUST_LOT_NO || "");
      bodyData["blNo" + [i]] = String(selectedItems.value[i].BL_NO || "");
      bodyData["recDt" + [i]] = String(selectedItems.value[i].REC_DT || "");
      bodyData["outWhCd" + [i]] = String(selectedItems.value[i].OUT_WH_CD || "");
      bodyData["inWhCd" + [i]] = String(selectedItems.value[i].IN_WH_CD || "");
      bodyData["makeDt" + [i]] = String(selectedItems.value[i].MAKE_DT || "");
      bodyData["timePeriodDay" + [i]] = String(selectedItems.value[i].TIME_PERIOD_DAY || "");
      bodyData["workYn" + [i]] = String(selectedItems.value[i].WORK_YN || "");
      bodyData["rjType" + [i]] = String(selectedItems.value[i].RJ_TYPE || "");
      bodyData["locYn" + [i]] = String(selectedItems.value[i].LOC_YN || "");
      bodyData["confYn" + [i]] = String(selectedItems.value[i].CONF_YN || "");
      bodyData["eaCapa" + [i]] = String(selectedItems.value[i].EA_CAPA || "");
      bodyData["inOrdWeight" + [i]] = String(selectedItems.value[i].IN_ORD_WEIGHT || "");
      bodyData["outOrdWeight" + [i]] = String(selectedItems.value[i].OUT_ORD_WEIGHT || "");
      bodyData["itemCd" + [i]] = String(selectedItems.value[i].ITEM_CD || "");
      bodyData["itemNm" + [i]] = String(selectedItems.value[i].ITEM_NM || "");
      bodyData["transCustNm" + [i]] = String(selectedItems.value[i].TRANS_CUST_NM || "");
      bodyData["transCustAddr" + [i]] = String(selectedItems.value[i].TRANS_CUST_ADDR || "");
      bodyData["transEmpNm" + [i]] = String(selectedItems.value[i].TRANS_EMP_NM || "");
      bodyData["remark" + [i]] = String(selectedItems.value[i].REMARK || "");
      bodyData["transZipNo" + [i]] = String(selectedItems.value[i].TRANS_ZIP_NO || "");
      bodyData["etc2" + [i]] = String(selectedItems.value[i].ETC2 || "");
      bodyData["unitAmt" + [i]] = String(selectedItems.value[i].UNIT_AMT || "");
      bodyData["transBizNo" + [i]] = String(selectedItems.value[i].TRANS_BIZ_NO || "");
      bodyData["inCustAddr" + [i]] = String(selectedItems.value[i].IN_CUST_ADDR || "");
      bodyData["inCustCd" + [i]] = String(selectedItems.value[i].IN_CUST_CD || "");
      bodyData["inCustNm" + [i]] = String(selectedItems.value[i].IN_CUST_NM || "");
      bodyData["inCustTel" + [i]] = String(selectedItems.value[i].IN_CUST_TEL || "");
      bodyData["inCustEmpNm" + [i]] = String(selectedItems.value[i].IN_CUST_EMP_NM || "");
      bodyData["expiryDate" + [i]] = String(selectedItems.value[i].EXPIRY_DATE || "");
      bodyData["salesCustNm" + [i]] = String(selectedItems.value[i].SALES_CUST_NM || "");
      bodyData["zip" + [i]] = String(selectedItems.value[i].ZIP || "");
      bodyData["addr" + [i]] = String(selectedItems.value[i].ADDR || "");
      bodyData["phone1" + [i]] = String(selectedItems.value[i].PHONE_1 || "");
      bodyData["etc1" + [i]] = String(selectedItems.value[i].ETC1 || "");
      bodyData["deliveryNo" + [i]] = String(selectedItems.value[i].DELIVERY_NO || "");
      bodyData["shipmentNo" + [i]] = String(selectedItems.value[i].SHIPMENT_NO || "");
    }

    const res = await ApiService.postApi(saveUrl!, {}, bodyData);

    if (res.status) {
      if (res.result.errCnt === 0) {
        return useToast().success(res.result.MSG);
      } else {
        return useToast().error(res.result.MSG);
      }
    }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss">
.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .search {
    margin-right: 0px;

    &.half {
      width: calc(33.3% - 7px);
    }
  }
}
.sap-template {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 15px 15px 10px;
    box-sizing: border-box;
    z-index: 14;
    background-color: white;
  }

  &-title {
    font-size: 13px;
    color: $font-bk;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &-download-btn {
    @include btnColorStyle($font-bk);
    position: absolute;
    top: 0px;
    right: 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px 13px;
    cursor: pointer;
  }

  &-input {
    &-box {
      background-color: #e2e7fa;
      width: 100%;
      height: 62px;
      padding: 0 36px 0 11px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      gap: 23px;
      display: flex;
    }

    &-file-name {
      width: 610px;
      height: 35px;
      border-radius: 8px;
      border: 1px solid #d6d6d6;
      box-sizing: border-box;
      padding-left: 13px;
    }
    &-file-input {
      display: flex;
      align-items: center;
    }
    &-item {
      width: 0px;
      height: 0px;
    }
    &-label {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;

      &-icon {
        width: 25px;
        height: 25px;
        background-color: $main;
        border-radius: 6px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 12px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &-text {
        color: $main;
        font-weight: bold;
        font-size: 13px;
      }
    }
  }
  &-log {
    &-title {
      font-size: 13px;
      color: $font-bk;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-text {
      border: 1px solid #d6d6d6;
      width: 100%;
      height: 62px;
      border-radius: 8px;
      padding: 10px;
      overflow-y: scroll;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    button {
      width: 370px;
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    &-close {
      @include btnColorStyle($font-bk);
    }

    &-save {
      @include btnColorStyle($main);
    }
  }
}

// search영역 style
.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  row-gap: 10px;
  margin-bottom: 10px;
}
.grid {
  &-container {
    width: 52%;

    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
.ag-grid-size {
  height: 350px;
  margin-bottom: 10px;
}
.control-button-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.grid {
  position: relative;
}
</style>
