<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	search-modal.vue
 *  Description:    요청한 목록을 검색하여 선택된 항목을 회신해주는 팝업 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="search-modal-page" @keyup.prevent="keyupOnMyPage">
    <div class="popup-curtain">
      <div :class="['search-modal', aboutToClose ? 'slide-up' : '']">
        <slot></slot>
        <h3 class="title">
          <!-- 모달 타이틀 영역-->
          {{ $t("modal-title." + modalData.title) }}
        </h3>
        <button class="close-btn" @click.prevent="closeSearchModal">
          <i class="btn-close-popup"></i>
        </button>
        <div class="search-area">
          <ul class="modal-input-list">
            <!--버튼 아이템 영역-->
            <modal-input v-for="data in modalData.inputs" :key="data.id" :data="data" :gridOptions="gridOptions" :apis="modalData.apis" />
          </ul>
          <button @click.prevent="() => getModalGridRowData()">
            <i class="btn-search"></i>
          </button>
        </div>
        <div v-if="modalData.isNewBtn" class="is-new">
          <button @click.prevent="openWindowPopup">{{ $t("control-button-name.new") }}</button>
        </div>
        <div class="grid-title">
          <!-- 그리드 타이틀 영역-->
          {{ $t("grid-title." + modalData.gridTitle) }}
        </div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
        <div class="ag-paging-custom">
          <select @change="onPageSizeChanged" class="page-size">
            <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
          </select>
          <span>Total : {{ totalRows }}</span>
        </div>
        <div class="buttons">
          <button class="close" @click.prevent="closeSearchModal">{{ $t("button-name.close") }}</button>
          <button v-if="modalData.differentFunc" class="submit" @click.prevent="() => diffSubmitSearchModal()">
            {{ $t("button-name." + modalData.differentFunc.title) }}
          </button>
          <button v-else class="submit" @click.prevent="() => submitSearchModal(null)">{{ $t("button-name.select") }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ModalInput } from "@/components/input";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { IModalValue } from "@/types/index";
import { ColDef, GridApi, GridOptions, IServerSideDatasource, IServerSideGetRowsParams } from "ag-grid-community";
// import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

// Variable Definitions
const { inputDef, columnDefs, modalData, searchContainerInputDefs } = defineProps<{
  inputDef?: any;
  columnDefs: ColDef[];
  modalData: IModalValue;
  searchContainerInputDefs?: any;
}>();

const emits = defineEmits<{
  closeSearchModal: [value: boolean];
  changeIsSearchModal: [value: string];
  setGridCellData: [value: any];
}>();

const apiParams = Object.assign({}, modalData.apis.params);
const aboutToClose = ref(false as boolean);
const pagingOptions = UtilService.getGridPagingOptions(modalData.page);
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const { t } = useI18n();
let gridApi: GridApi | null = null;

// Framework Function Definitions
// onBeforeMount 우선순위가 모달인풋에서 포커스아웃이 우선시되기 때문에 onmountbefore사용
onBeforeMount(async () => {
  modalData.apis.data.rows = "" + pagingOptions![0];
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);

      // column내 children요소 다국어 적용
      if (Object.hasOwn(column, "children")) {
        for (let i = 0; column.children.length > i; i++) {
          column.children[i].headerName = t("grid-column-name." + column.children[i].headerKey);
        }
      }
    }
  });

  // grid column-name 다국어 적용
  const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      if (koreanPattern.test(column.headerKey)) {
        column.headerName = column.headerKey;
      } else {
        column.headerName = t("grid-column-name." + column.headerKey);
      }
    }
  });
});

onMounted(() => {
  // info 영역 모달 열리는 조건 핸들링(특정 값이 존재해야지만 열림)
  if (Object.hasOwn(modalData, "modalOpenCondition") && modalData.modalOpenCondition) {
    const { rowDataKey, rowDataValue } = modalData.modalOpenCondition;
    if (rowDataValue && useSelectedDataStore().getSelectedInfoData()[rowDataKey] !== rowDataValue) {
      useToast().error(t("common-toast.no-grid-info-item", { message: rowDataKey }));
      emits("changeIsSearchModal", inputDef.title);
    } else if (!Object.hasOwn(useSelectedDataStore().getSelectedInfoData(), rowDataKey) || useSelectedDataStore().getSelectedInfoData()[rowDataKey] === "") {
      useToast().error(t("common-toast.no-grid-info-item", { message: rowDataKey }));
      emits("changeIsSearchModal", inputDef.title);
    }
  }

  window.onkeydown = (e:any) => {
    if(e.key == "Escape"){
      closeSearchModal();
    }
  };
});

onUnmounted(() => {
  window.onkeydown = null;
});


// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
  gridApi?.setServerSideDatasource(dataSource);

  let displayCount = 0;
  columnDefs.forEach((cd: any) => {
    if (!cd.hide) {
      displayCount++;
    }
  });
  if (displayCount <= 5) {
    gridApi?.sizeColumnsToFit();
  }
};

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  columnDefs,
  headerHeight: 32,
  rowHeight: 32,
  rowSelection: "single",
  rowModelType: "serverSide",
  suppressContextMenu: true,
  onGridReady: onGridReady,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  onPaginationChanged: onPaginationChanged,
  getRowId: (data: any) => {
    return data.data.RNUM;
  },
  onRowDoubleClicked: onRowDoubleClicked,
};

const dataSource: IServerSideDatasource = {
  getRows: async () => {
    await getModalGridRowData();
  },
};

const keyupOnMyPage = (ev: any) => {
  if (ev.key === "Enter" && ev.target.id === "modal-input") {
    getModalGridRowData();
  }
};
// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

// 모달이 마운트 되었을때, 검색했을때 로우데이터 요청
async function getModalGridRowData() {
  gridOptions.api?.deselectAll();

  const keys = Object.keys(apiParams);
  for (let i = 0; keys.length > i; i++) {
    const key = keys[i]; // 각각의 키
    apiParams[key] = useSearchConditionStore().getModalSearchInputValue()[key] || useSearchConditionStore().getModalSearchInputValue()[key] === "" ? useSearchConditionStore().getModalSearchInputValue()[key] : apiParams[key];
  }

  if (modalData.defaultParamsData && modalData.defaultParamsData.storeSaveKey) {
    const { paramsKeys, storeSaveKey, rowDataKeys } = modalData.defaultParamsData;
    for (let i = 0; paramsKeys.length > i; i++) {
      if (useSelectedDataStore().getSelectedModalData()[storeSaveKey]) {
        apiParams[paramsKeys[i]] = useSelectedDataStore().getSelectedModalData()[storeSaveKey][rowDataKeys[i]];
      } else {
        apiParams[paramsKeys[i]] = "";
      }
    }
  }

  if (modalData.infoDefaultParamsData && Object.hasOwn(modalData, "infoDefaultParamsData")) {
    const { paramsKeys, rowDataKeys } = modalData.infoDefaultParamsData;
    for (let i = 0; paramsKeys.length > i; i++) {
      if (useSelectedDataStore().getSelectedInfoData()[rowDataKeys[i]]) {
        apiParams[paramsKeys[i]] = useSelectedDataStore().getSelectedInfoData()[rowDataKeys[i]];
      } else {
        apiParams[paramsKeys[i]] = "";
      }
    }
  }
  // *** 통계관리/출고검수조회 - 박스추천조회 모달 apiParams값이 상이하여 변경 후 그리드 데이터 요청 -> 수정 필요 ***
  if (useTabsStore().selectedTab.value?.id === "WMSTG733_3") {
    apiParams.POOL_CODE = "";
  }
  const gridData = await ApiService.postApi(modalData.apis.url, apiParams, modalData.apis.data, false, false);
  gridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      if (gridData.status) {
        if (gridData.result.list.length !== 0) {
          // 검색결과가 [] 일때 Line:266에서 에러 반환, 조건문 추가
          if (modalData.page === "WMSCM091" || modalData.page === "WMSCM162" || modalData.page === "WMSPL010") {
            UtilService.setGridColumnDataBySelectBoxOptionData(useOptionDataStore().getOptionData(), gridData);
          }

          // search-modal 에서는 Grid의 Unique한 key 값을 RNUM으로 지정. 불러온 데이터에 RNUM이 없을 경우 각 row별 RNUM 강제로 심어준다.
          if (!Object.hasOwn(gridData.result.list[0], "RNUM")) {
            UtilService.setGridDatasRowNum(gridData.result.list);
          }

          totalRows.value = UtilService.resetGridDataTotalCount(gridData, modalData.apis.data.rows);
          params.successCallback(gridData.result.list, totalRows.value);
        } else {
          params.successCallback([], 0);
        }
      } else {
        params.successCallback([], 0);
      }
    },
  });
}

// grid에 paging option 적용
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  modalData.apis.data = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 모달에서 선택 버튼 클릭
async function submitSearchModal(doubleClickedParms?: any) {
  let selectedRowData: any;
  if (doubleClickedParms) {
    selectedRowData = doubleClickedParms;
  } else {
    selectedRowData = gridOptions.api?.getSelectedRows()[0];
  }

  if (!selectedRowData) {
    useToast().warning(t("common-toast.item-select-no"));
    return;
  }
  if (Object.hasOwn(modalData, "isCellRenderer") && modalData.isCellRenderer) {
    // 로케이션 지정, 로케이션 지정(건별) 팝업에서 유효성 검사(운영관리 context menu)
    if (modalData.page === "wmsop000q5v2") {
      var vrAVAILABLE_QTY = selectedRowData.AVAILABLE_QTY;
      var vrOUT_EXP_QTY = selectedRowData.OUT_EXP_QTY;
      var vrLOCK_YN = selectedRowData.LOCK_YN;
      //제약조건
      if (vrOUT_EXP_QTY >= vrAVAILABLE_QTY) {
        return useToast().warning(t("common-toast.already-out-exp-qty"));
      }

      if (vrLOCK_YN == "Y") {
        return useToast().warning(t("common-toast.is-lock"));
      }
    }

    emits("setGridCellData", selectedRowData);
    closeSearchModal();
    return;
  }

  // 모달이 템플릿 복재 기능으로 사용되는 경우
  if (modalData.templateId) {
    const bodyData = {
      FORMAT_TEMPLATE_ID: modalData.templateId,
      FORMAT_CUST_SEQ: useSearchConditionStore().getSearchInputValue().vrCustSeq,
      FORMAT_CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
      FORMAT_CUST_COPY_ID: selectedRowData.CUST_ID,
      FORMAT_LC_ID: UtilService.getCurrentLocation(),
    };
    const res = await ApiService.postApi("/WMSYS030/insertTemplateCopy_rn.action", {}, bodyData);
    if (res.status) {
      useToast().success(res.result.MSG);
      modalData.templateId = "";

      setTimeout(() => {
        closeSearchModal();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      }, 800);
      return;
    } else {
      useToast().error(res.result.MSG);
    }
  }

  if (inputDef) {
    const result: any = {};
    for (let i = 0; i < inputDef.ids.length; i++) {
      result[inputDef.ids[i]] = selectedRowData[inputDef.rowDataIds[i]];
    }
    if (inputDef.hiddenId) {
      result[inputDef.hiddenId] = selectedRowData[inputDef.rowDataHiddenId];
    }
    useSelectedDataStore().selectedInfoHandler(result);
  } else {
    const data = { [modalData.id]: selectedRowData };

    for (let i = 0; searchContainerInputDefs.ids.length > i; i++) {
      if (searchContainerInputDefs.rowDataIds[i]) {
        useSearchConditionStore().changeSearchInputValue(searchContainerInputDefs.ids[i], selectedRowData[searchContainerInputDefs.rowDataIds[i]]);
      }
    }

    useSelectedDataStore().selectedModalHandler(data);

    if (modalData.saveSession) {
      const lcId = UtilService.getCurrentLocation();
      const data = {
        [lcId]: selectedRowData,
      };
      window.sessionStorage.setItem("userCustInfo", JSON.stringify(data));
    }
  }
  closeSearchModal();
}

// 모달에서 일반적인 선택 버튼이 아닌 다른 기능을 동작시켜야할 경우
async function diffSubmitSearchModal() {
  if (modalData.id === "deleted-product") {
    const bodyData = {} as any;
    const selectedItems = gridOptions.api?.getSelectedRows();
    selectedItems?.forEach((selectedItem: any, i: number) => {
      bodyData["ITEM_ID_" + i] = selectedItem.ITEM_ID;
    });
    bodyData.selectIds = selectedItems?.length;
    const result = await ApiService.postApi(modalData.differentFunc!.url, {}, bodyData, false);
    if (result.status) {
      useToast().success(t("common-toast.product-re-registered"));
      getModalGridRowData();
    }
  } else if (modalData.id === "uom") {
    const selectedItem = gridOptions.api?.getSelectedRows()[0];
    const uomCdQueryString = new URL(window.location.href).searchParams.get("UOM_CD");
    if (selectedItem.UOM1_CODE === uomCdQueryString) {
      useSelectedDataStore().selectedModalHandler({ uom: selectedItem });
      closeSearchModal();
    } else {
      return useToast().warning(t("common-toast.unavailable-uom-name"));
    }
  }
}

// 로우데이터 더블클릭 이벤트
function onRowDoubleClicked(params: any) {
  if (modalData.differentFunc) {
    diffSubmitSearchModal();
  } else {
    submitSearchModal(params.data);
  }
}

// 모달에서 닫기 버튼 클릭
function closeSearchModal() {
  aboutToClose.value = true;
  setTimeout(() => {
    emits("closeSearchModal", false);
    if (inputDef?.title) {
      emits("changeIsSearchModal", inputDef.title);
    }
    aboutToClose.value = false;
  }, 500);
  useSearchConditionStore().resetModalInputValue();
}

// 모달에서 신규버튼 클릭
function openWindowPopup() {
  UtilService.openWindowPopupBySearchModal(modalData.isNewBtn as string);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#search-modal-page {
  .popup-curtain {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 16;
    background-color: rgba($color: #000000, $alpha: 0.3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-modal {
    @include slideDownModalAnimation;
    max-width: 900px;
    min-width: 700px;
    width: 65vw;
    border-radius: 15px;
    background-color: white;
    padding: 28px 13px 20px 13px;

    &.slide-up {
      @include slideUpModalAnimation;
    }
    .title {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: -1px;
      text-align: center;
      margin-bottom: 49px;
    }
    .close-btn {
      @include flexCenter;
      position: absolute;
      right: 27px;
      top: 25px;
      background-color: rgba($color: $main, $alpha: 0.1);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: rgba($color: $main, $alpha: 0.3);
      }
    }

    .search-area {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: 19px;
      > .modal-input-list {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 78px);
      }
      > button {
        @include flexCenter;
        width: 68px;
        height: 100%;
        border-radius: 10px;
        background-color: $main;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .grid-title {
      color: white;
      font-weight: bold;
      background-color: #374a8d;
      border-radius: 5px 5px 0 0;
      font-size: 14px;
      padding: 7px 10px;
    }
    > .buttons {
      margin-top: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 31px;
      > button {
        width: 50%;
        height: 44px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: bold;
      }
      > .close {
        @include btnColorStyle($font-secondary);
      }
      > .submit {
        @include btnColorStyle($main);
      }
      &-new {
        @include btnColorStyle($main);
      }
    }

    .ag-grid-size {
      width: 100%;
      height: 378px;
    }

    .page-size {
      bottom: 95px;
    }
  }

  .is-new {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    > button {
      @include btnColorStyle($red);

      font-weight: bold;
      border-radius: 10px;
      padding: 6px 19px;
    }
  }
  // searchInput custom
  .modal-input-list {
    gap: 14px;
    .search.half {
      margin-right: 0 !important;
      width: calc(50% - 6px);
    }
  }
  .ag-header-group-cell {
    @include flexCenter;
  }
}

// ::v-deep .ag-root-wrapper .ag-row > .ag-cell {
//   border-bottom: var(--ag-row-border-style) var(--ag-row-border-color) var(--ag-row-border-width);
// }
</style>
