<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	search-option-settings-modal.vue
 *  Description:    검색영역 인풋들을 수정할 수 있는 화면(검색옵션 사용자 정의)
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="popup-curtain"></div>
  <div id="search-option-settings-modal-container">
    <!--header-->
    <header>{{ t("popup-title.setting-detail-option") }}</header>
    <!--content-->
    <content class="content">
      <div class="title-container">
        <h3 class="option-list-title">{{ t("text.use") }}</h3>
        <i class="reset" @click="() => reset()"></i>
      </div>
      <ul class="use-option-list option-list">
        <template v-for="(option, i) in cloneSearchInputDef.value" :key="i">
          <li v-if="!option.hidden" :class="['option', { 'disabled-option': option.required }, { 'hidden-option': option.hidden }]" @click="() => changeOption(option.title)">
            <div class="on-off-button">
              <img src="/public/assets/images/btn-checkbox-on.svg" alt="" />
              <p :for="option.title"><i v-if="option.required" class="require">*</i>{{ t(`input-title.${option.title}`) }}</p>
            </div>
          </li>
        </template>
      </ul>
      <!--미사용중인 옵션들 리스트-->
      <h3 class="option-list-title">{{ t("text.un-use") }}</h3>
      <ul class="un-use-option-list option-list">
        <template v-for="(option, i) in cloneSearchInputDef.value" :key="i">
          <li v-if="option.hidden" :class="['option', { 'hidden-option': option.hidden }]" @click="() => changeOption(option.title)">
            <div class="on-off-button">
              <img src="/public/assets/images/btn-checkbox-off.svg" alt="" />
              <p :for="option.title">{{ t(`input-title.${option.title}`) }}</p>
            </div>
          </li>
        </template>
      </ul>
    </content>
    <!--하단 버튼 영역-->
    <div class="button-list">
      <button class="close" @click="() => changeIsShowSearchOptionSettingsModal(false)">{{ t("button-name.close") }}</button>
      <button class="save" @click="() => save()">{{ t("button-name.save") }}</button>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">

import { UtilService } from "@/services/util-service";
import { useTabsStore, userStore } from "@/store";
import { ISearchInput } from "@/types";
import { cloneDeep } from "lodash";
import { onMounted, reactive } from "vue";
import { useI18n } from "vue-i18n";

//#region ::  Variable Definitions

const props = defineProps<{
  changeSearchInputDef: (value: any) => void;
  changeIsShowSearchOptionSettingsModal: (value: boolean) => void;
  searchInputDef: { value: ISearchInput[] };
  SEARCH_INPUT: any;
}>();
const changeSearchInputDef = props.changeSearchInputDef;
const changeIsShowSearchOptionSettingsModal = props.changeIsShowSearchOptionSettingsModal;
const cloneSearchInputDef = reactive({ value: cloneDeep(props.searchInputDef.value)});
const userId = JSON.parse(userStore().getCurrentUser()).USER_ID;
const tab = useTabsStore().selectedTab.value?.id;
const { t } = useI18n();

//#endregion

//#region ::  Framework Function Definitions

onMounted(() => {
  const searchOptionInLocalStorage = UtilService.getSearchOptionInLocalStorage();
  
  if (searchOptionInLocalStorage) {
    cloneSearchInputDef.value = UtilService.setSearchInputChanges(props.SEARCH_INPUT, searchOptionInLocalStorage);
  }
  
  // 필수항목은 설정 제한
  cloneSearchInputDef.value = cloneSearchInputDef.value.filter((searchItem:any) => searchItem.required === false);
});

//#endregion

//#region ::  User Function Definitions

/**
 * 초기화
 */
function reset() {
  cloneSearchInputDef.value = cloneDeep(props.searchInputDef.value).filter((searchItem:any) => searchItem.required === false);
  changeSearchInputDef(JSON.parse(JSON.stringify(props.SEARCH_INPUT)));
  localStorage.removeItem("userSearchOption" + userId + tab);
}

/* 저장 버튼 클릭 */
function save() {
  changeSearchInputDef(JSON.parse(JSON.stringify(cloneSearchInputDef.value)));
  localStorage.setItem("userSearchOption" + userId + tab, JSON.stringify(cloneSearchInputDef.value));
  changeIsShowSearchOptionSettingsModal(false);
}

function changeOption(title: string) {
  cloneSearchInputDef.value.forEach((option: any) => {
    if (option.title === title) {
      if (option.hidden) {
        option.hidden = false;
      } else {
        option.hidden = true;
      }
    }
  });
}

//#endregion
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.popup-curtain {
  position: fixed;
  background-color: rgba($color: black, $alpha: 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 13;
}

#search-option-settings-modal-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 13;
  border-radius: 15px;
  background-color: white;
  border-radius: 15px 15px;
  max-width: 900px;
  min-width: 700px;
  width: 65vw;

  /* header */
  header {
    border-radius: 15px 15px 0 0;
    font-size: 15px;
    font-weight: bold;
    background-color: #080d2c;
    color: white;
    padding: 14px 0 11px 18px;
  }

  /* content */
  content {
    @include scrollbarStyle;
    &::-webkit-scrollbar-track {
      border-radius: 0 0 8px 0;
    }
    display: block;
    padding: 0 17px;
    overflow-y: auto;
    max-height: 500px;

    .title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .reset {
        cursor: pointer;
        display: block;
        width: 50px;
        height: 25px;
        border-radius: 10px;
        padding: 3px 0;
        background: url("/public/assets/images/btn-reset-filter.svg") 0% 0% / contain no-repeat;
        background-position: center;
        background-origin: content-box;
        background-color: #b7b7b7;

        &:hover {
          background-color: #898989;
        }
      }
    }

    .option-list-title {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: -1px;
      color: #727272;
      margin-top: 24px;
      margin-bottom: 18px;
    }

    .option-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 9px;
      width: 100%;

      .option {
        width: calc(50% - 13px);
        text-align: center;
        border: 1px solid white;
        cursor: pointer;
        font-weight: bold;
        &.disabled-option {
          pointer-events: none;
        }

        &.hidden-option {
          color: gray;
        }

        .on-off-button {
          display: flex;
          align-items: center;
          gap: 13px;
          width: 100%;

          > p {
            font-size: 13px;
            letter-spacing: -0.52px;
            color: #727272;
            width: 100%;
            text-align: left;
            padding: 8px;
            background-color: #f6f7fc;

            > i.require {
              color: $red;
              margin: 0px 8px 0 0;
              display: inline-block;
              transform: translateY(3px);
            }
          }
        }
      }
    }
    .un-use-option-list {
      > p {
        background-color: #f2f2f2 !important;
      }
    }
  }
  /* 하단 버튼 영역 */
  .button-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0px;
    gap: 10px;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 0px;
      width: calc(50% - 17px);
    }
    .close {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
}
</style>
