<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	select-locale.vue
 *  Description:    Locale 목록을 제공하여 Locale을 선택하는 팝업 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="select-locale-page">
    <button class="btn-locale" :class="showLocaleList ? 'on' : ''" @click="showLocaleList = !showLocaleList"></button>
    <ul :class="['locale-list', showLocaleList === true ? 'slide-down' : showLocaleList === false ? 'slide-up' : '']">
      <li v-for="locale in allLocales" :class="localLocale === locale.name ? 'selected' : ''" :key="locale" @click="selectLocale(locale)">
        <i :class="['img-locale', locale.name]"></i>
        <span>{{ locale.name }}</span>
        <i v-if="localLocale === locale.name" class="dropbox-selected"></i>
      </li>
    </ul>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { allLocales, i18n, setLocale } from "@/i18n";
import { ApiService } from "@/services/api-service";
import { userStore } from "@/store";
import { computed, onDeactivated, onMounted, onUnmounted, ref } from "vue";

// Variable Definitions
const localLocale = ref(userStore().getUserLocale() as string);
const _showLocaleList = ref(null as boolean | null);
const showLocaleList = computed({
  get() {
    return _showLocaleList.value;
  },
  set(val) {
    _showLocaleList.value = val;
    if (val) {
      document.addEventListener("click", clickOnDocument);
    }
  },
});
const clickOnDocument = (ev: any) => {
  if (!ev.target.classList.value.includes("btn-locale")) {
    document.removeEventListener("click", clickOnDocument);
    if (_showLocaleList.value) {
      _showLocaleList.value = false;
    }
  }
};
// Framework Function Definitions
onMounted(() => {
  _showLocaleList.value = null;
});
onUnmounted(() => {});
onDeactivated(() => {
  showLocaleList.value = null;
});

// User Function Definitions
const selectLocale = async (locale: any) => {
  setLocale(locale.name);
  localLocale.value = i18n.global.locale.value;
  const currentUser = JSON.parse(userStore().getCurrentUser());
  currentUser.locale = locale.name;
  userStore().storeCurrentUser(JSON.stringify(currentUser));
  ApiService.postApi("/svcChange_rn.action", {}, { locale: locale.value, LC_ID: currentUser.LC_ID }, false);
  location.reload();
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#select-locale-page {
  > .locale-list {
    position: absolute;
    right: 0;
    top: 40px;
    width: 164px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
    background-color: #fff;
    border-radius: 8px;
    opacity: 0;
    transform: scaleY(0);
    z-index: 4;
    &.slide-up {
      @include slideUpAnimation;
      opacity: 1;
    }
    &.slide-down {
      @include slideDownAnimation;
    }
    > li {
      @include flexCenter();
      border-radius: 8px;
      padding: 8px 12px;
      cursor: pointer;
      &.selected span {
        font-weight: bold;
        color: $main;
      }
      &:hover {
        background-color: $hidden-list-bg;
      }
      span {
        margin-left: 14px;
        margin-right: auto;
        color: $font-bk;
        letter-spacing: -1.08px;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

// Page Image Definitions
.btn-locale {
  display: inline-block;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  background: url("/public/assets/images/btn-language.svg") 0% 0% / contain no-repeat;
}
.btn-locale.on {
  background: url("/public/assets/images/btn-language-on.svg") 0% 0% / contain no-repeat;
}

.img-locale {
  display: inline-block;
  width: 30px;
  height: 30px;
  &.korean {
    background: url("/public/assets/images/lan-korean.svg") 0% 0% / contain no-repeat;
  }
  &.english {
    background: url("/public/assets/images/lan-english.svg") 0% 0% / contain no-repeat;
  }
  &.japanese {
    background: url("/public/assets/images/lan-japan.svg") 0% 0% / contain no-repeat;
  }
  &.chinese {
    background: url("/public/assets/images/lan-chinese.svg") 0% 0% / contain no-repeat;
  }
  &.vietnam {
    background: url("/public/assets/images/lan-vietnam.svg") 0% 0% / contain no-repeat;
  }
  &.spanish {
    background: url("/public/assets/images/lan-spanish.svg") 0% 0% / contain no-repeat;
  }
}
</style>
