<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	set-user-info.vue
 *  Description:    사용자 정보를 수정하는 팝업 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="set-user-info-page">
    <div class="popup-dimmed"></div>
    <div class="content-wrap">
      <h3>{{ t("modal-title.user-information") }}</h3>
      <button @click="closePopup()" class="detail-close">
        <i class="btn-close-popup"></i>
      </button>
      <ul class="upper">
        <li>
          <label for="">{{ t("input-title.user-name") }}</label>
          <input class="" id="user-name" type="text" v-model="userInfoValue.userName" maxlength="60" />
        </li>
        <li>
          <label for="">{{ t("input-title.user-Id") }}</label>
          <input class="readonly" type="text" :value="userInfoValue.userId" readonly maxlength="15" />
        </li>
        <li>
          <label for="">{{ t("input-title.agency") }}</label>
          <input disabled id="user-agency" readonly type="text" :value="userInfoValue.userAgency" />
        </li>
        <li>
          <label for="">{{ t("input-title.user-type") }}</label>
          <select disabled id="user-type" type="text">
            <option :value="userInfoValue.userType">{{ userInfoValue.userType }}</option>
          </select>
        </li>
        <li>
          <label for="">{{ t("input-title.business") }}</label>
          <select disabled type="text">
            <option :value="userInfoValue.AUTH_CD">{{ userInfoValue.AUTH_CD }}</option>
          </select>
        </li>
      </ul>
      <!-- 바텀영역 -->
      <ul class="lower">
        <li>
          <label for="">{{ t("input-title.department") }}</label>
          <input id="dept-code" type="text" v-model="userInfoValue.deptCode" maxlength="15" />
        </li>
        <li>
          <label for="">{{ t("input-title.tel") }}</label>
          <div class="phone-number">
            <input id="tel-number-1" type="text" @input="(e:any) => checkNumber(e)" v-model="userInfoValue.telNumber1" maxlength="3" />
            <input id="tel-number-2" type="text" @input="(e:any) => checkNumber(e)" v-model="userInfoValue.telNumber2" maxlength="4" />
            <input id="tel-number-3" type="text" @input="(e:any) => checkNumber(e)" v-model="userInfoValue.telNumber3" maxlength="4" />
          </div>
        </li>
        <li>
          <label for="">{{ t("input-title.cell-phone-number") }}</label>
          <div class="phone-number">
            <input id="cell-phone-number-1" type="text" @input="(e:any) => checkNumber(e)" v-model="userInfoValue.cellPhoneNumber1" maxlength="3" />
            <input id="cell-phone-number-2" type="text" @input="(e:any) => checkNumber(e)" v-model="userInfoValue.cellPhoneNumber2" maxlength="4" />
            <input id="cell-phone-number-3" type="text" @input="(e:any) => checkNumber(e)" v-model="userInfoValue.cellPhoneNumber3" maxlength="4" />
          </div>
        </li>
        <li>
          <label for="">{{ t("input-title.E-mail") }}</label>
          <input id="email-address" type="text" v-model="userInfoValue.emailAddress" maxlength="30" />
        </li>
        <li>
          <label for="">{{ t("input-title.multi-access-Y/N") }}</label>
          <div class="multiple-access">
            <label for="multiple-access"></label>
            <input disabled type="checkbox" name="" id="multiple-access" v-model="userInfoValue.multipleAccess" />
          </div>
        </li>
        <li>
          <label for="">{{ t("input-title.grid-search-settings") }}</label>
          <input type="text" disabled maxlength="3" />
        </li>
      </ul>
      <div class="buttons">
        <button @click="closePopup" class="close">{{ t("button-name.close") }}</button>
        <button class="submit" @click="saveUserInfo">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ApiService } from "@/services/api-service";
import { useConfirmStore, userStore } from "@/store";
import { onMounted, reactive } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

const { userInfo, changeUserInfo } = defineProps<{
  userInfo: { value: any };
  changeUserInfo: any;
}>();

const emits = defineEmits<{
  onPopupClosed: [closeSignal: boolean];
}>();
const { t } = useI18n();

const userInfoValue = reactive({
  userAgency: "" as string,
  AUTH_CD: "" as string,
  userType: "" as string,
  userId: "" as string,
  userPassword: "" as string,
  userName: "" as string,
  deptCode: "" as string,
  telNumber1: "" as string,
  telNumber2: "" as string,
  telNumber3: "" as string,
  cellPhoneNumber1: "" as string,
  cellPhoneNumber2: "" as string,
  cellPhoneNumber3: "" as string,
  emailAddress: "" as string,
  multipleAccess: null as null | boolean,
  USER_NO: "" as string,
});

onMounted(async () => {
  if (userInfo.value) {
    userInfoValue.userAgency = userInfo.value.DETAIL2.CLIENT_NM;
    userInfoValue.AUTH_CD = userInfo.value.UserAuth.filter((data: any) => {
      return data.CODE_CD === userInfo.value.DETAIL2.AUTH_CD;
    })[0].CODE_NM;
    userInfoValue.userType = userInfo.value.UserGB.filter((data: any) => {
      return data.CODE_CD === userInfo.value.DETAIL2.USER_GB;
    })[0].CODE_NM;
    userInfoValue.userId = userInfo.value.DETAIL2.USER_ID;
    userInfoValue.userPassword = userInfo.value.PSWD2;
    userInfoValue.userName = userInfo.value.DETAIL2.USER_NM;
    userInfoValue.deptCode = userInfo.value.DETAIL2.DEPT_NM;
    userInfoValue.emailAddress = userInfo.value.DETAIL2?.EMAIL_ADDR;
    userInfoValue.multipleAccess = userInfo.value.DETAIL2.MULTI_USE_GB === "Y" ? true : false;
    const telNumberArr = Array.from(userInfo.value.DETAIL2.TEL_NO);
    const cellPhoneNumberArr = Array.from(userInfo.value.DETAIL2.MOBILE_NO);
    for (let i = 0; telNumberArr.length > i; i++) {
      if (3 > i) {
        userInfoValue.telNumber1 = userInfoValue.telNumber1 + telNumberArr[i];
      } else if (i > 2 && i < 7) {
        userInfoValue.telNumber2 = userInfoValue.telNumber2 + telNumberArr[i];
      } else {
        userInfoValue.telNumber3 = userInfoValue.telNumber3 + telNumberArr[i];
      }
    }
    for (let i = 0; cellPhoneNumberArr.length > i; i++) {
      if (3 > i) {
        userInfoValue.cellPhoneNumber1 = userInfoValue.cellPhoneNumber1 + cellPhoneNumberArr[i];
      } else if (i > 2 && i < 7) {
        userInfoValue.cellPhoneNumber2 = userInfoValue.cellPhoneNumber2 + cellPhoneNumberArr[i];
      } else {
        userInfoValue.cellPhoneNumber3 = userInfoValue.cellPhoneNumber3 + cellPhoneNumberArr[i];
      }
    }
  }
});

function closePopup() {
  emits("onPopupClosed", true);
}

function checkNumber(e: any) {
  e.target.value = e.target.value.replace(/[^0-9]/g, "").substring(0, 3);
}

// 저장
async function saveUserInfo() {
  try {
    /* 유효성검사 */
    if (!userInfoValue.userName) {
      return useToast().warning(t("common-toast.please-enter-your-user-name"));
    }

    // 이메일 유효성 검사
    // if (userInfoValue.emailAddress) {
    //   if (!/^[A-Za-z0-9]+@[A-Za-z0-9]+\.[A-Za-z]{1,20}$/.test(userInfoValue.emailAddress)) {
    //     return useToast().warning(t("common-toast.is-not-in-email-format", { message: `${userInfoValue.emailAddress}` }));
    //   }
    // }
    // 전화번호, 휴대폰번호 검사
    // if (!(userInfoValue.telNumber1 && userInfoValue.telNumber2 && userInfoValue.telNumber3)) {
    //   return useToast().warning(t("common-toast.please-check-tel"));
    // }
    // if (!(userInfoValue.cellPhoneNumber1 && userInfoValue.cellPhoneNumber2 && userInfoValue.cellPhoneNumber3)) {
    //   return useToast().warning(t("common-toast.please-check-cell-phone-number"));
    // }

    /* bodyData셋팅 */
    const bodyData = {
      USER_ID: userInfoValue.userId,
      USER_NM: userInfoValue.userName,
      PSWD2: userInfoValue.userPassword,
      DEPT_CD: userInfoValue.deptCode,
      TEL_NO: userInfoValue.telNumber1 || "" + userInfoValue.telNumber2 || +userInfoValue.telNumber3 || "",
      MOBILE_NO: userInfoValue.cellPhoneNumber1 || "" + userInfoValue.cellPhoneNumber2 || "" + userInfoValue.cellPhoneNumber3 || "",
      EMAIL_ADDR: userInfoValue.emailAddress,
      update_flag: "INSERT",
      USER_NO: userInfoValue.USER_NO,
    };

    //저장
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

    const res = await ApiService.postApi("/ChangeUserInfo_rn.action", {}, bodyData);
    if (res.status) {
      if (res.result.ERROR === "0") {
        useToast().success(res.result.MSG);
        setTimeout(() => {
          closePopup();
        }, 1500);

        const userInfoResponse = await ApiService.postApi("/TMSYS030/userInfo_rn.action", {}, { USER_ID: JSON.parse(userStore().getCurrentUser()).USER_ID });
        if (userInfoResponse.status) {
          changeUserInfo(userInfoResponse.result);
        }
      } else {
        useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    console.log(err);
  }
}
</script>

<style lang="scss" scoped>
.popup-dimmed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  background-color: rgba($color: black, $alpha: 0.3);
}
.required::before {
  content: "*";
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  left: -12px;
  color: #f1424c;
  font-size: 15px;
}

label {
  @include labelStyle;
  word-break: break-word;
  text-align: right;
  position: relative;
  display: flex;
  align-items: center;
}

#set-user-info-page {
  .popup-dimmed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    background-color: rgba($color: black, $alpha: 0.3);
  }
  .content-wrap {
    border-radius: 15px;
    min-width: 804px;
    width: 804px;
    padding: 27px 74px 22px 94px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background-color: white;
    > h3 {
      font-size: 25px;
      letter-spacing: -1px;
      font-weight: bold;
      margin-bottom: 30px;
      text-align: center;
    }
    > button {
      @include flexCenter();
      background-color: rgba($color: $main, $alpha: 0.1);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      position: absolute;
      top: 22px;
      right: 27px;
      z-index: 30;
      cursor: pointer;
    }
    > ul {
      position: relative;
      &.upper {
        margin-bottom: 52px;
        &::before {
          content: "";
          position: absolute;
          bottom: -24px;
          left: 50%;
          transform: translate(-50%);
          width: 736px;
          height: 1px;
          background-color: $bg-gray3;
        }
      }
      &.lower {
        label {
          color: $font-secondary;
        }

        .phone-number {
          width: 75%;
          display: flex;
          gap: 14px;
          > input {
            width: 134px;
          }
        }
      }
      > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        > label {
          font-weight: bold;
          font-size: 13px;
          color: $main;
          letter-spacing: -1px;
        }
        input,
        > select {
          height: 35px;
          box-sizing: border-box;
          padding: 10px 13px;
          border: 1px solid $border2;
          border-radius: 10px;
          font-weight: bold;
          width: 75%;
        }
        > select {
          @include selectArrowStyle;

          padding: 0 0 0 13px !important;
        }
        > .multiple-access {
          opacity: 0.5;
          width: 75%;
          > input {
            position: relative;
            -webkit-appearance: none;
            -webkit-box-sizing: border-box;
            width: 63px;
            height: 35px;
            background-color: rgba($color: $main, $alpha: 0.5);
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.5s;
          }
          > input:checked {
            background-color: $main;
          }
          > input::before {
            content: "";
            position: absolute;
            top: 2.4px;
            left: 4px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: rgba($color: white, $alpha: 0.8);
          }
          > input:checked::before {
            right: 4px;
            left: initial;
            background-color: white;
          }
        }
      }
    }
    > .buttons {
      @include flexCenter();
      gap: 31px;
      > button {
        height: 44px;
        border-radius: 10px;
        width: 370px;
        font-weight: bold;
        &.close {
          @include btnColorStyle($font-secondary);
        }
        &.submit {
          @include btnColorStyle($main);
        }
      }
    }
  }
}
.readonly {
  background-color: #e2e2e2;
  border: none;
  pointer-events: none;
}
</style>
