<template>
  <div class="shipment-control-modal-container">
    <h3 class="shipment-control-modal-title">{{ title }}</h3>
    <textarea class="shipment-control-modal-log-text" name="" id="" cols="30" rows="10" v-model="textAreaValue"></textarea>
    <div class="shipment-control-modal-btns">
      <button class="shipment-control-modal-btns-close" @click="closeModal">{{ t(`button-name.close`) }}</button>
      <button class="shipment-control-modal-btns-save" @click="saveModal">{{ t(`button-name.save`) }}</button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ApiService } from "@/services/api-service";
import { ref } from "vue";
import { useToast } from "vue-toastification";
import { useI18n } from "vue-i18n";

const shipmentControlModal = JSON.parse(localStorage.getItem("shipment-control-modal")!);
const { title, saveUrl, changeBodyKey, body } = shipmentControlModal;

let textAreaValue = ref("");
const { t } = useI18n();

async function saveModal() {
  const saveData = body;

  saveData[changeBodyKey] = textAreaValue.value;

  const res = await ApiService.postApi(saveUrl, {}, saveData, false);
  if (res.status) {
    useToast().success(t("common-toast.saved"));
    setTimeout(() => {
      closeModal();
    }, 1500);
  }
}

// 모달창 닫기 버튼 클릭
function closeModal() {
  localStorage.removeItem("shipment-control-modal");
  window.close();
}

// 브라우저를 직접 닫았을때
window.addEventListener("beforeunload", () => {
  localStorage.removeItem("shipment-control-modal");
});
</script>

<style lang="scss" scoped>
.shipment-control-modal {
  &-container {
    width: 800px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 15px;
    box-sizing: border-box;
  }

  &-title {
    font-size: 13px;
    color: $font-bk;
    font-weight: bold;
    margin-bottom: 22px;
  }

  &-log {
    &-text {
      border: 1px solid #d6d6d6;
      width: 100%;
      height: 100px;
      border-radius: 8px;
      padding: 10px;
      overflow-y: scroll;
      resize: none;
      outline: none;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;

    button {
      width: 370px;
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    &-close {
      @include btnColorStyle($font-bk);
    }

    &-save {
      @include btnColorStyle($main);
    }
  }
}
</style>
