<template>
  <div id="tab-print-order">
    <table>
      <tr>
        <td>{{ $t("popup-title.sort-selection") }} : {{ $t("popup-title.descending-order") }}</td>
      </tr>
      <tr>
        <td>
          <input type="radio" name="pageGb2" value="1" checked :v-model="pageGb2" />
          {{ $t("input-title.order-number") }}
        </td>
        <td>
          <input type="radio" name="pageGb2" value="2" v-model="pageGb2" />
          {{ $t("input-title.location") }}
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <button name="btn_cancle" @click="close()">Cancel</button>
        </td>
        <td>
          <button name="btn_confirm" @click="output(pageGb2)">OK</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";

const { printOrder, fn_pickingListStep3, fn_pickingListTotalStep3, fn_pickingListStep3_html, fn_pickingListStep3_godo, fn_pickingListStep3_noBarcode, fn_pickingListStep3_noBarcode_2 } = defineProps<{
  printOrder: any;
  fn_pickingListStep3: (pageGb: any, orderByGb: any, barcodeGb: any) => void;
  fn_pickingListTotalStep3?: (pageGb: any, orderByGb: any) => void;
  fn_pickingListStep3_html?: (pageGb: any) => void;
  fn_pickingListStep3_godo?: (pageGb: any, orderByGb: any, barcodeGb: any) => void;
  fn_pickingListStep3_noBarcode?: (orderByGb: any) => void;
  fn_pickingListStep3_noBarcode_2?: (orderByGb: any, param?: string) => void;
}>();

const emits = defineEmits(["popupOn"]);
const pageGb2 = ref<string>("1");

function output(pageGb2: string) {
  if (printOrder.type === "fn_pickingListStep3") {
    fn_pickingListStep3(printOrder.pageGb, pageGb2, printOrder.barcodeGb);
  } else if (printOrder.type === "fn_pickingListTotalStep3" && fn_pickingListTotalStep3) {
    fn_pickingListTotalStep3(printOrder.pageGb, pageGb2);
  } else if (printOrder.type === "fn_pickingListStep3_html" && fn_pickingListStep3_html) {
    fn_pickingListStep3_html(pageGb2);
  } else if (printOrder.type === "fn_pickingListStep3_godo" && fn_pickingListStep3_godo) {
    fn_pickingListStep3_godo(printOrder.pageGb, pageGb2, printOrder.barcodeGb);
  } else if (printOrder.type === "fn_pickingListStep3_noBarcode" && fn_pickingListStep3_noBarcode) {
    fn_pickingListStep3_noBarcode(pageGb2);
  } else if (printOrder.type === "fn_pickingListStep3_noBarcode_2" && fn_pickingListStep3_noBarcode_2) {
    fn_pickingListStep3_noBarcode_2(pageGb2);
  }
  close();
}

function close() {
  emits("popupOn", false);
}
</script>

<style lang="scss">
#tab-print-order {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    position: fixed;
    width: 400px;
    margin: auto;
    padding: 20px 0;
    top: calc(50% - 75px);
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    z-index: 2;
    > tr {
      display: flex;
      column-gap: 20px;
    }
    > tr:nth-child(1) {
      > td {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 15px;
      }
    }
    > tr:nth-child(2) {
      font-weight: bold;
      font-size: 18px;
    }
    > tr:nth-child(3) {
      > td > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 44px;
        border-radius: 10px;
        background-color: rgba(34, 34, 34, 0.1019607843);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -1.05px;
        color: #222222;
      }
      > td:nth-child(2) > button {
        background-color: rgba(61, 97, 225, 0.1019607843);
        color: #3d61e1;
      }
    }
  }
}
</style>
