<template>
  <div id="tab-print-sel">
    <table>
      <tr>
        <td style="background: url(http://winus.logisall.com/img/pageGb1.jpg); background-repeat: no-repeat; background-size: 100% 100%" width="70px" height="40px"></td>
        <td style="background: url(http://winus.logisall.com/img/pageGb4.jpg); background-repeat: no-repeat; background-size: 100% 100%" width="70px" height="40px"></td>
      </tr>
      <tr>
        <td>
          <input type="radio" name="pageGb" value="1" checked :v-model="pageGb" />
          1/1
        </td>
        <td>
          <input type="radio" name="pageGb" value="4" v-model="pageGb" />
          1/4
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <button name="btn_cancle" @click="close()">Cancel</button>
        </td>
        <td>
          <button name="btn_confirm" @click="tabPrint(pageGb)">OK</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";

const { fn_tabPrint } = defineProps<{
  fn_tabPrint: ((pageGb: string) => void) | undefined;
}>();

const emits = defineEmits(["popupOn"]);
const pageGb = ref<string>("1");

function tabPrint(pageGb: string) {
  fn_tabPrint!(pageGb);
  close();
}

function close() {
  emits("popupOn", false);
}
</script>

<style lang="scss">
#tab-print-sel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    position: fixed;
    width: 400px;
    margin: auto;
    left: calc(50% - 200px);
    padding: 20px 0;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    z-index: 2;
    > tr {
      display: flex;
      column-gap: 20px;
    }
    > tr:nth-child(2) {
      > td:nth-child(2) {
        margin: 0 0 0 25px;
      }
    }
    > tr:nth-child(3) {
      > td > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 44px;
        border-radius: 10px;
        background-color: rgba(34, 34, 34, 0.1019607843);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: -1.05px;
        color: #222222;
      }
      > td:nth-child(2) > button {
        background-color: rgba(61, 97, 225, 0.1019607843);
        color: #3d61e1;
      }
    }
  }
}
</style>
