<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	template-prompt-modal.vue
 *  Description:    템플릿 관련 text input이 있는 prompt모달
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="template-prompt">
    <div class="template-prompt-wrap">
      <div class="template-prompt-header">
        {{ data.header }}
      </div>
      <div class="template-prompt-content">
        {{ data.content }}
      </div>
      <input v-model="promptValue" class="template-prompt-input" />
      <div class="template-prompt-buttons">
        <button class="cancel" @click="() => emits('changeIsShowTemplatePrompt', false)">{{ t("button-name.close") }}</button>
        <button class="save" @click="save">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, ref } from "vue";

import { useI18n } from "vue-i18n";

// Variable Definitions
const { data, changeTemplateName, createNewTemplate, beforeTemplateName } = defineProps<{
  data: any;
  changeTemplateName?: any;
  createNewTemplate?: any;
  beforeTemplateName?: any;
}>();

const emits = defineEmits<{
  changeIsShowTemplatePrompt: [value: boolean];
}>();

const { t } = useI18n();
let promptValue = ref(""); // 모달내 인풋 입력값

onMounted(() => {
  promptValue.value = beforeTemplateName;
});

// User Function Definitions

// control-button 영역과 비슷한 구조
function save() {
  if (data.title === "change-template-name") {
    changeTemplateName(promptValue.value);
  } else if (data.title === "create-new-template") {
    createNewTemplate(promptValue.value);
  }

  emits("changeIsShowTemplatePrompt", false);
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.template-prompt {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrap {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-header {
    background-color: #080d2c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
  }

  &-content {
    font-weight: bold;
    color: $font-bk;
    margin: 38px 0 19px 0;
    padding: 0 82px;
  }

  &-input {
    font-size: 13px;
    color: $font-bk;
    padding: 10px;
    border: solid 1px #d6d6d6;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin-bottom: 16px;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 70px;
    }
    .cancel {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
}
</style>
