<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	upload-file.vue
 *  Description:    파일업로드 버튼 클릭시 노출되는 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="upload-file-container">
    <h3 class="upload-file-title">
      {{ uploadFilePopupData.title }}
      <span class="upload-file-top-comment">{{ t("common-description-text.error-korean-file-name") }}</span>
    </h3>
    <div v-for="(fileData, index) in fileDataList.value" :key="index" :class="[{ between: fileData.fileName }, 'upload-file-input-box']">
      <input v-if="fileData.fileName" :value="fileData.fileName" type="text" class="upload-file-input-file-name" readonly />
      <div class="upload-file-input-file-input">
        <input
          class="upload-file-input-item"
          :id="`upload-file-input-item_${index}`"
          type="file"
          @change="
            (e) => {
              changeExcelFile(e, index);
            }
          "
        />
        <label class="upload-file-input-label" :for="`upload-file-input-item_${index}`">
          <div class="upload-file-input-label-icon"></div>
          <span class="upload-file-input-label-text">{{ $t("control-button-name.select-file") }}</span>
        </label>
      </div>
    </div>
    <div class="upload-file-btns">
      <button class="upload-file-btns-close" @click="closePopup">{{ $t("button-name.close") }}</button>
      <button class="upload-file-btns-save" @click="save">{{ $t("button-name.save") }}</button>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onBeforeMount, reactive } from "vue";

import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";

// Variable Definitions
const uploadFilePopupData = JSON.parse(localStorage.getItem("windowModal")!);
const { t } = useI18n();
const fileDataList = reactive({
  value: [{}, {}, {}, {}, {}, {}, {}, {}, {}],
} as { value: any });

// Framework Function Definitions
onBeforeMount(() => {
  if (!uploadFilePopupData) {
    closePopup();
  }
});

// User Function Definitions
function changeExcelFile(e: any, index: any) {
  const target = e.currentTarget!.files[0];

  fileDataList.value[index].fileName = target.name;
  fileDataList.value[index].fileSize = target.size;
}

// 저장버튼 클릭
async function save() {
  let formData = new FormData();
  formData.append("vrOrdId", "");
  formData.append("vrOrdSeq", "");
  formData.append("workOrdId", "");

  // 이슈사항에 적은 인자관련 피드백 받은 이후 재확인 필요
  for (let i = 0; fileDataList.value.length > i; i++) {
    formData.append("D_ATCH_FILE_NAME", fileDataList.value[i].fileName || "");
    formData.append("D_ATCH_FILE_IDX", String(i));
    formData.append("D_ATCH_FILE_ROUTE", "");
    formData.append("ORG_FILENAME", "");
    formData.append("FILE_SIZE", fileDataList.value[i].fileSize);
    formData.append("FILE_STATE", "");
    formData.append("FILE_ID", "");
    formData.append("C_ORG_FILENAME", "");
    formData.append("C_ORG_ATCH_FILE_ROUTE", "");
  }

  const res = await ApiService.postFormData(uploadFilePopupData.saveUrl, "post", {}, formData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      useToast().success(res.result.MSG);
    } else {
      useToast().error(res.result.MSG);
    }
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  localStorage.removeItem("windowModal");
  window.close();
}

// 브라우저를 직접 닫았을때
window.addEventListener("beforeunload", () => {
  localStorage.removeItem("windowModal");
});
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss">
.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .search {
    margin-right: 0px;

    &.triple {
      width: calc(33.3% - 7px);
    }
  }
}
.upload-file {
  &-container {
    width: 670px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 35px 15px;
    box-sizing: border-box;
  }

  &-title {
    position: relative;
    font-size: 13px;
    color: $font-bk;
    font-weight: bold;
    margin-bottom: 18px;
  }

  &-top-comment {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    right: 0;
    color: red;
    font-size: 12px;
  }

  &-input {
    &-box {
      background-color: #e2e7fa;
      width: 100%;
      height: 40px;
      padding: 0 36px 0 11px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      gap: 23px;
      display: flex;
      margin-bottom: 8px;
      &.between {
        justify-content: space-between;
      }
    }

    &-file-name {
      width: 490px;
      height: 30px;
      border-radius: 8px;
      border: 1px solid #d6d6d6;
      box-sizing: border-box;
      padding-left: 13px;
    }
    &-file-input {
      display: flex;
      align-items: center;
    }
    &-item {
      width: 0px;
      height: 0px;
    }
    &-label {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;

      &-icon {
        width: 25px;
        height: 25px;
        background-color: $main;
        border-radius: 6px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 12px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &-text {
        color: $main;
        font-weight: bold;
        font-size: 11px;
      }
    }
  }
  &-log {
    &-title {
      font-size: 13px;
      color: $font-bk;
      font-weight: bold;
      margin-bottom: 22px;
    }
    &-text {
      border: 1px solid #d6d6d6;
      width: 100%;
      height: 62px;
      border-radius: 8px;
      padding: 10px;
      overflow-y: scroll;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    button {
      width: 49%;
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    &-close {
      @include btnColorStyle($font-bk);
    }

    &-save {
      @include btnColorStyle($main);
    }
  }
}
</style>
