<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	user-info.vue
 *  Description:    레이아웃 헤더에서 사용자 정보를 보여주는 팝업 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <set-user-info v-if="showSetUserInfo" @onPopupClosed="showSetUserInfo = false" :userInfo="userInfo" :changeUserInfo="changeUserInfo" />
  <div
    id="user-info-page"
    v-click-outside="
      () => {
        if (showUserInfo) {
          showUserInfo = false;
        }
      }
    "
  >
    <div class="user-name" @click="showUserInfo = !showUserInfo">
      <span>{{ userInfo.value?.DETAIL2.USER_NM || "" }}</span> 님
    </div>
    <div ref="userInfoElement" :class="['user-info', showUserInfo === true ? 'slide-down' : showUserInfo === false ? 'slide-up' : '']" tabindex="-1">
      <header>
        <p class="user-name">{{ userInfo.value?.DETAIL2.USER_NM }}</p>
        <p class="user-id">{{ userInfo.value?.DETAIL2.USER_ID }}</p>
        <button class="user-avatar" @click="showSetUserInfo = true">
          <img src="/public/assets/images/btn-user-edit.svg" alt="" />
        </button>
      </header>
      <ul>
        <li>
          <label>{{ t("input-title.agency") }}</label>
          <span>{{ userInfo.value?.DETAIL2.CLIENT_NM }}</span>
        </li>
        <li>
          <label>{{ t("input-title.user-type") }}</label>
          <span>{{
            userInfo.value?.UserGB.filter((data: any) => {
              return data.CODE_CD === userInfo.value.DETAIL2.USER_GB;
            })[0].CODE_NM
          }}</span>
        </li>
        <li>
          <label>{{ t("input-title.business") }}</label>
          <span>{{
            userInfo.value?.UserAuth.filter((data: any) => {
              return data.CODE_CD === userInfo.value.DETAIL2.AUTH_CD;
            })[0].CODE_NM
          }}</span>
        </li>
      </ul>
      <footer>
        <button @click="logout">{{ t("button-name.logout") }}</button>
        <!--버전정보를 따로 관리하고 있지 않음, 일단은 주석처리-->
        <!-- <p class="version">v. 213.123.123.12</p> -->
      </footer>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { computed, onDeactivated, onMounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useRouter } from "vue-router";

import { ApiService } from "@/services/api-service";
import { userStore } from "@/store/user/index";

import SetUserInfo from "@/popups/set-user-info.vue";

// Variable Definitions
const props = defineProps({
  logout: {
    type: Function as unknown as () => () => void,
  },
});
const router = useRouter();
const userInfoElement = ref(null as HTMLElement | null);
const _showUserInfo = ref(null as boolean | null);
const showUserInfo = computed({
  get() {
    return _showUserInfo.value;
  },
  set(val) {
    _showUserInfo.value = val;
  },
});

const _showSetUserInfo = ref(false);
const showSetUserInfo = computed({
  get() {
    return _showSetUserInfo.value;
  },
  set(val) {
    _showSetUserInfo.value = val;
    if (val) {
      showUserInfo.value = false;
    }
  },
});

const userInfo = reactive({ value: null } as { value: any });
const { t } = useI18n();

// Framework Function Definitions
onMounted(async () => {
  const res = await ApiService.postApi("/TMSYS030/userInfo_rn.action", {}, { USER_ID: JSON.parse(userStore().getCurrentUser()).USER_ID });
  if (res?.status) {
    userInfo.value = res.result;
  }
  else{
    router.push("/error");
  }
});
onDeactivated(() => {
  showUserInfo.value = null;
});

// User Function Definitions
function changeUserInfo(newUserInfoData: any) {
  userInfo.value = newUserInfoData;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#user-info-page {
  position: relative;
  > .user-name {
    font-size: 15px;
    letter-spacing: -1.5px;
    color: $font-bk;
    cursor: pointer;
    span {
      color: $main;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: -1.5px;
      margin-right: 2.5px;
    }
  }
  > .user-info {
    position: absolute;
    top: 30px;
    transform: translateY(20px);
    right: -10px;
    z-index: 10;
    background-color: white;
    width: 225px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
    padding: 28px 22px 16px 22px;
    outline: none;
    opacity: 0;
    transform: scaleY(0);
    &.slide-up {
      @include slideUpAnimation;
    }
    &.slide-down {
      @include slideDownAnimation;
    }
    > header {
      letter-spacing: -1.29px;
      font-size: 18px;
      position: relative;
      .user-name {
        font-weight: bold;
        color: $font-bk;
      }
      .user-id {
        color: #7b7b7b;
      }
      .user-avatar {
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba($color: $main, $alpha: 0.1);
        border-radius: 50%;
        width: 42px;
        height: 42px;
      }
    }
    > ul {
      margin: 29px 0 20px 0;
      > li {
        display: flex;
        justify-content: space-between;
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
        > label {
          font-size: 12px;
          letter-spacing: -0.86px;
          font-weight: bold;
          color: $main;
        }
        > span {
          letter-spacing: -0.93px;
          font-size: 13px;
          font-weight: bold;
          text-align: right;
          line-height: 20px;
        }
      }
    }
    > footer {
      position: absolute;
      bottom: 16px;
      > button {
        width: 180px;
        height: 36px;
        font-size: 14px;
        color: white;
        background-color: $main;
        border-radius: 10px;
        margin-bottom: 13px;
      }
      > .version {
        font-size: 12px;
        color: #7b7b7b;
        text-align: center;
      }
    }
  }
}
</style>
