<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	user-id-duplicate-verification.vue
 *  Description:    사용자 아이디 중복 확인 결과가 나오는 모달
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->

<template>
  <div id="user-id-duplicate-verification" class="user-id-duplicate-verification">
    <div class="container">
      <div class="header">
        {{ t("modal-title.user-id-duplication-check") }}
      </div>
      <div class="content">
        <span class="id-text">{{ id }}</span>
        <span :class="[`${userIdCheckValue === '1' ? 'danger' : 'success'} result-text`]">{{ userIdCheckValue === "1" ? t("common-description-text.is-unavailable-id") : t("common-description-text.is-available-id") }}</span>
      </div>
      <div class="buttons">
        <button class="cancel" @click="() => closeEvent()">{{ t("button-name.close") }}</button>
        <button
          v-if="userIdCheckValue !== '1'"
          class="save"
          @click="
            () => {
              setAvailableUserId(id);
              closeEvent();
            }
          "
        >
          {{ t("button-name.apply") }}
        </button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ApiService } from "@/services/api-service";
import { ref, onMounted } from "vue";

import { useI18n } from "vue-i18n";

// Variable Definitions
const { id, closeEvent, setAvailableUserId } = defineProps<{
  id: string;
  closeEvent: () => void;
  setAvailableUserId: (value: string) => void;
}>();

const emits = defineEmits<{
  changeIsShowTemplatePrompt: [value: boolean];
}>();

const { t } = useI18n();
// "1" : 사용 불가 , "0" 사용 가능
let userIdCheckValue = ref(null as null | string);

onMounted(async () => {
  const res = await ApiService.postApi("/TMSYS030/UserIdCheck_rn.action", {}, { USER_ID: id });

  if (res.status) {
    userIdCheckValue.value = res.result.ISUSER;
  }
});

// User Function Definitions
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#user-id-duplicate-verification {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > .container {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    background-color: #080d2c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
  }

  .content {
    font-weight: bold;
    color: $font-bk;
    margin: 38px 0 19px 0;
    padding: 0 82px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 70px;
    }
    .cancel {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
  .id-text {
    margin-right: 5px;
  }

  .danger {
    color: $red;
  }
  .success {
    color: $main;
  }
}
</style>
