<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP642-display-setting.vue
 *  Description:    택배접수관리 페이지(WMSOP642_1) 설정 버튼 클릭시 노출되는 화면설정 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="WMSOP642-display-setting">
    <div class="wrap">
      <div class="header">{{ t("modal-title.display-settings") }}</div>
      <div class="content">
        <div class="input-item">
          <label for="">{{ t("input-title.delivery-company") }}</label>
          <select v-model="data.value.PARCEL_COM_TY" name="" id="" @change="() => getDlvInfo()">
            <option v-for="(option, i) in useOptionDataStore().getOptionData().PARCEL_COM_TY" :value="option.PARCEL_COM_TY" :selected="i === 0" :key="option.PARCEL_COM_TY_NM + i">{{ option.PARCEL_COM_TY_NM }}</option>
          </select>
        </div>
        <div class="input-item">
          <label for="">{{ t("input-title.sender-2") }}</label>
          <select v-model="data.value.PARCEL_COM_TY_SEQ" name="" id="">
            <option v-for="(option, i) in useOptionDataStore().getOptionData().PARCEL_COM_TY_SEQ" :value="option.ARCEL_DESC" :selected="i === 0" :key="option.ARCEL_DESC + i">{{ option.ARCEL_DESC }}</option>
          </select>
        </div>
        <div class="input-item">
          <label for="">{{ t("input-title.invoice-re-output-swarning") }}</label>
          <div class="checkbox-wrap">
            <input v-model="data.value.checkPrintedYn" type="checkbox" />
          </div>
        </div>
      </div>
      <div class="buttons">
        <button class="cancel" @click="() => changeIsShowDisplaySetting(false)">{{ t("button-name.close") }}</button>
        <button class="save" @click="() => save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, reactive } from "vue";

import { ApiService } from "@/services/api-service";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import { UtilService } from "@/services/util-service";
import { useI18n } from "vue-i18n";

// Variable Definitions
const { changeIsShowDisplaySetting } = defineProps<{
  changeIsShowDisplaySetting: (value: boolean) => void;
}>();

const data = reactive({ value: { PARCEL_COM_TY: "", PARCEL_COM_TY_SEQ: "", checkPrintedYn: false } });
const { t } = useI18n();
const custId = useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || null;
const lcId = UtilService.getCurrentLocation();

onMounted(() => {
  const winusOptions = JSON.parse(localStorage.getItem("WINUS_OPTIONS") || "{}");

  /* 로컬스토리지에 셋팅된 값이 있는 경우 */
  if (Object.hasOwn(winusOptions, lcId) && Object.hasOwn(winusOptions[lcId], custId)
      && !UtilService.isEmptyObject(winusOptions[lcId][custId])) {
    
      data.value.PARCEL_COM_TY = winusOptions[lcId][custId].ParCelCom;
      data.value.PARCEL_COM_TY_SEQ = winusOptions[lcId][custId].ParCelComQty;
      data.value.checkPrintedYn = winusOptions[lcId][custId].CheckPrinted;
  }
  else{
    const selectedComTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;
    const selectedComTySeq = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY_SEQ;
    const selectedComTySeqNm = useOptionDataStore().getOptionData().PARCEL_COM_TY_SEQ.find((dt:any) => dt.PARCEL_COM_TY_SEQ == selectedComTySeq);

    data.value.PARCEL_COM_TY = selectedComTy;
    data.value.PARCEL_COM_TY_SEQ = selectedComTySeqNm.ARCEL_DESC;
  }
});

// User Function Definitions
/* 택배사 값이 변경될때마다 송화인 options를 다시 받아옴 */
async function getDlvInfo() {
  const bodyData = {
    vrSrchCustId: custId,
    PARCEL_COM_TY: data.value.PARCEL_COM_TY,
  };
  const res = await ApiService.postApi("/WMSOP642/dlvSenderInfo_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.DLV_SENDER_INFO.length > 0) {
      res.result.DLV_SENDER_INFO.forEach((option: any) => {
        option.CODE_NM = option.ARCEL_DESC;
        option.CODE_CD = option.PARCEL_COM_TY_SEQ;
      });

      useOptionDataStore().setOptionData({ PARCEL_COM_TY_SEQ: res.result.DLV_SENDER_INFO });

      if (Object.hasOwn(useOptionDataStore().getOptionData(), "PARCEL_COM_TY_SEQ") && useOptionDataStore().getOptionData().PARCEL_COM_TY_SEQ.length > 0) {
        data.value.PARCEL_COM_TY_SEQ = useOptionDataStore().getOptionData().PARCEL_COM_TY_SEQ[0].ARCEL_DESC;
      }
    }
  }
}

/* 저장 버튼 클릭시 호출 */
function save() {
  const winusOptions = JSON.parse(localStorage.getItem("WINUS_OPTIONS") || "{}");
  const options = {} as any;

  /* Data Set */
  options.ParCelCom = data.value.PARCEL_COM_TY;
  options.ParCelComQty = data.value.PARCEL_COM_TY_SEQ;
  options.CheckPrinted = data.value.checkPrintedYn;

  /* Variable Assign */
  if (Object.hasOwn(winusOptions, lcId)) {
    if (!Object.hasOwn(winusOptions[lcId], custId)) {
      winusOptions[lcId][custId] = {};
    }
  } else {
    winusOptions[lcId] = {};
  }

  winusOptions[lcId][custId] = options;

  localStorage.setItem("WINUS_OPTIONS", JSON.stringify(winusOptions));
  changeIsShowDisplaySetting(false);
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.WMSOP642-display-setting {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrap {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    background-color: #080d2c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
  }

  .content {
    font-weight: bold;
    color: $font-bk;
    margin: 38px 0 19px 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    .input-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 70%;
    }

    label {
      letter-spacing: -1px;
      color: #727272;
      text-wrap: nowrap;
      width: 30%;
    }
    select,
    .checkbox-wrap {
      font-size: 13px;
      color: $font-bk;
      padding: 10px;
      border: solid 1px #d6d6d6;
      border-radius: 10px;
      width: 70%;
      outline: none;
    }
    .checkbox-wrap {
      border: none;
      input {
        scale: 1.5;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 70px;
    }
    .cancel {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
}
</style>
