<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsom120-new-popup.vue
 *  Description:    WMSOM120 페이지에서 신규버튼 클릭시 노출되는 입고주문 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <barcode-multi-input
    v-if="isShowBarcodeMultiInput"
    :changeIsShowBarcodeMultiInput="changeIsShowBarcodeMultiInput"
    :changeCurrentSelectedBarcode="changeCurrentSelectedBarcode"
    :barcodeSearchParams="barcodeSearchParams.value" />
  <div id="wmsom120-new-popup" class="wmsom120-new-popup">
    <div class="wmsom120-new-popup-container">
      <h3 class="wmsom120-new-popup-title">{{ t("modal-title.receiving-order") }}</h3>
      <!--검색 인풋영역-->
      <div class="wmsom120-new-popup-search" ref="searchComponentRef">
        <search-container
          @setIsMore="setIsMore"
          :isMore="isMore"
          :data="NEW_POPUP_SEARCH_INPUT"
          :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(NEW_POPUP_SEARCH_INPUT)"
          :use-setting="false"
          :un-used-refresh-button="true">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in NEW_POPUP_SEARCH_INPUT" :key="i">
              <search-container-input
                :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
                :data="props"
                :columnDefs="NEW_POPUP_MODAL_COLUMN_DEFS?.[props.title]"
                :modalData="NEW_POPUP_SEARCH_MODAL_INFO?.[props.title]"
                :pageInfo="null" />
            </template>
          </template>
        </search-container>
      </div>
      <!--컨트롤버튼 영역-->
      <div class="wmsom120-new-popup-control">
        <template v-for="btnData in NEW_POPUP_CONTROL_BTN" :key="btnData.title">
          <control-button :data="btnData" :addRowData="addRowData" :resetGridRowData="resetGridRowData" />
        </template>
      </div>
      <!--그리드영역-->
      <div class="wmsom120-new-popup-grid" ref="formContainerRef">
        <div class="grid-header">{{ t("grid-title.receiving-order") }}</div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" :context="GRID_CELL_SEARCH_BUTTON" />
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
        <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
  <loading-spinner :contentBodyOnly="true" v-if="useLoadingStore().spinners !== 0" />
  <confirm-popup />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridApi, GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useFormHeightStore, useLoadingStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import searchContainer from "@/components/layout/search-container.vue";
import loadingSpinner from "@/components/ui/loading-spinner.vue";
import { ConfirmPopup } from ".";
import barcodeMultiInput from "./barcode-multi-input.vue";

import { NEW_POPUP_FORM_COLUMN_DEFS, NEW_POPUP_MODAL_COLUMN_DEFS } from "@/page/order/WMSOM120/column-defs";
import { GRID_CELL_SEARCH_BUTTON, NEW_POPUP_CONTROL_BTN, NEW_POPUP_SEARCH_INPUT, NEW_POPUP_SEARCH_MODAL_INFO } from "@/page/order/WMSOM120/input.meta";

// Variable Definitions
const selectedItems = reactive({ value: [] as any });
const barcodeSearchParams = reactive({
  value: {
    SrchCustId: "",
    SrchRitemId: "",
    vrRepBarCd: "",
    vrItemBarCd: "",
    txtSrchItemBarCd: "",
  },
});
const { t } = useI18n();
const isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement);
const formContainerRef = ref(null as null | any);
const inactive = ref<boolean>(false);
const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId"); // 신규버튼을 눌렀을때 값 화주 값 유무 확인
let tempCount = 0;
let gridApi: GridApi | null = null;
let isShowBarcodeMultiInput = ref(false as boolean);
let currentRowData: any = null;
let currentSelectedBarcode: any = null;
const displayInputCount = UtilService.getShowInputCount(2, NEW_POPUP_SEARCH_INPUT) as number;

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  const res = await ApiService.postApi(`/WINUS/WMSOM120_rn.action`, {}, UtilService.getOptionApiData(`WMSOM120_rn`));
  if (res.status) {
    if (res.result.selectBoxInfos) {
      res.result.selectBoxInfos.vrSrchOrderPhase = Array.from(new Set(res.result.selectBoxInfos.vrOrdSubtype));

      const vrSrchOrderPhaseOptionsUtilParam: any = [
        {
          inputId: "vrSrchOrderPhase",
          availableList: ["20", "22", "23", "25", "111", "137", "138", "139"],
        },
      ];

      UtilService.setAvailableOptions(res.result.selectBoxInfos, vrSrchOrderPhaseOptionsUtilParam);
      useOptionDataStore().setOptionData(res.result.selectBoxInfos);
    }
  }

  if (vrSrchCustIdQueryString) {
    const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId");
    const vrSrchCustCdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustCd");
    const vrSrchCustNmQueryString = new URL(window.location.href).searchParams.get("vrSrchCustNm");

    useSelectedDataStore().selectedModalHandler({
      owner: { CUST_ID: vrSrchCustIdQueryString, CUST_CD: vrSrchCustCdQueryString, CUST_NM: vrSrchCustNmQueryString },
    });
  }

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

onMounted(() => {
  useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("wmsom120-new-popup")));

  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});
onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
  addRowData();

  const initialDataInputList = ["fromTimeZoneDt", "makeDt", "etaDt", "etdDt"];
  for (let i = 0; initialDataInputList.length > i; i++) {
    useSearchConditionStore().changeSearchInputValue(initialDataInputList[i], "");
  }
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: NEW_POPUP_FORM_COLUMN_DEFS,
  onRowSelected: onSelectionChanged,
  onGridReady: onGridReady,
  onPasteEnd: onPasteEnd,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  enableRangeSelection: true,
  suppressClickEdit: true,
  pagination: false,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  groupSelectsChildren: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

// 바코드 모달에서 더블클릭시 호출
function changeCurrentSelectedBarcode(value: any) {
  currentSelectedBarcode = "";
  currentSelectedBarcode = value;

  if (currentSelectedBarcode) {
    gridApi?.applyTransaction({ update: [{ ...currentRowData, ...{ ITEM_BARCODE: currentSelectedBarcode } }] });
  }
}

function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("wmsom120-new-popup"));
  }, 300);
}

// 신규
function addRowData() {
  const RNUM = `temp${tempCount}`;

  const newRowData = [{ RNUM: RNUM }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi?.paginationGetCurrentPage()) + 1) * Number(gridApi?.paginationGetPageSize()) - Number(gridApi?.paginationGetPageSize());

  gridApi?.applyTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;
  gridApi?.refreshCells({ columns: ["NO"], suppressFlash: true });
  gridApi?.getRowNode(String(RNUM))?.setSelected(true);
  useSelectedDataStore().selectedHandler(gridApi?.getRowNode(String(RNUM))?.data);
}

// 초기화
function resetGridRowData() {
  tempCount = 0;
  gridApi?.setRowData([]);
  addRowData();
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(gridApi?.getSelectedRows());
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(gridApi?.getSelectedRows());
  }
}

function onPasteEnd() {
  useSelectedDataStore().changeSelectedDataList(gridApi?.getSelectedRows());
}

// 바코드 모달 show 상태변경
function changeIsShowBarcodeMultiInput(value: boolean) {
  isShowBarcodeMultiInput.value = value;
}

// function onCellDoubleClicked(params: any) {
//   if (params.colDef.field === "ITEM_BARCODE") {
//     if (!Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
//       return useToast().warning(t("common-toast.no-grid-info-item", { message: t("input-title.owner") }));
//     }
//     if (!params.data.hasOwnProperty("RITEM_ID")) {
//       return useToast().warning(t("common-toast.no-grid-info-item", { message: t("input-title.product-code") }));
//     }
//     currentRowData = params.data;

//     barcodeSearchParams.value.SrchCustId = useSelectedDataStore().getSelectedModalData().owner.CUST_ID;
//     barcodeSearchParams.value.SrchRitemId = params.data.RITEM_ID;
//     isShowBarcodeMultiInput.value = true;
//   }
// }

// 저장
async function save() {
  selectedItems.value = gridApi?.getSelectedRows();

  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(NEW_POPUP_SEARCH_INPUT, useSearchConditionStore(), useSelectedDataStore());

  if (searchInputRequiredValidation) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  const data: any = {
    vrSrchCustCd: String(useSelectedDataStore().getSelectedModalData().owner.CUST_CD),
    vrSrchCustNm: String(useSelectedDataStore().getSelectedModalData().owner.CUST_NM),
    vrSrchCustId: String(useSelectedDataStore().getSelectedModalData().owner.CUST_ID),
    calInDt: String(useSearchConditionStore().getSearchInputValue().calInDt || ""),
    vrSrchOrderPhase: String(useSearchConditionStore().getSearchInputValue().vrSrchOrderPhase || ""),
    vrOrderType: String(useSearchConditionStore().getSearchInputValue().vrOrderType || ""),
    fromTimeZoneDt: String(useSearchConditionStore().getSearchInputValue().fromTimeZoneDt || ""),
    makeDt: String(useSearchConditionStore().getSearchInputValue().makeDt || ""),
    etaDt: String(useSearchConditionStore().getSearchInputValue().etaDt || ""),
    etdDt: String(useSearchConditionStore().getSearchInputValue().etdDt || ""),
    vrInCustEmpNm: String(useSearchConditionStore().getSearchInputValue().vrInCustEmpNm || ""),
    vrInCustTel: String(useSearchConditionStore().getSearchInputValue().vrInCustTel || ""),
    vrInCustAddr: String(useSearchConditionStore().getSearchInputValue().vrInCustAddr || ""),
    vrOrgOrdId: String(useSearchConditionStore().getSearchInputValue().vrOrgOrdId || ""),
    vrBlNo: String(useSearchConditionStore().getSearchInputValue().vrBlNo || ""),
    vrCntrNoM: String(useSearchConditionStore().getSearchInputValue().vrCntrNoM || ""),
    vrccCdNo: String(useSearchConditionStore().getSearchInputValue().vrccCdNo || ""),
    vrInCustCd: String(useSearchConditionStore().getSearchInputValue().vrInCustCd || ""),
    vrInCustNm: String(useSearchConditionStore().getSearchInputValue().vrInCustNm || ""),
    vrInCustId: String(useSearchConditionStore().getSearchInputValue().vrInCustId || ""),
    vrSrchWhCd: String(useSearchConditionStore().getSearchInputValue().vrSrchWhCd || ""),
    vrSrchWhNm: String(useSearchConditionStore().getSearchInputValue().vrSrchWhNm || ""),
    vrSrchWhId: String(useSearchConditionStore().getSearchInputValue().vrSrchWhId || ""),
    vrOrdId: String(useSearchConditionStore().getSearchInputValue().vrOrdId || ""),
    vrApproveYn: String(useSearchConditionStore().getSearchInputValue().vrApproveYn || ""),
    vrWorkStat: String(useSearchConditionStore().getSearchInputValue().vrWorkStat || ""),
    dsMain_rowStatus: "INSERT",
    inDt: String(useSearchConditionStore().getSearchInputValue().inDt || ""),
    custPoid: String(useSearchConditionStore().getSearchInputValue().custPoid || ""),
    custPoseq: String(useSearchConditionStore().getSearchInputValue().custPoseq || ""),
    orgOrdId: String(useSearchConditionStore().getSearchInputValue().orgOrdId || ""),
    orgOrdSeq: String(useSearchConditionStore().getSearchInputValue().orgOrdSeq || ""),
    outWhId: String(useSearchConditionStore().getSearchInputValue().outWhId || ""),
    transCustId: String(useSearchConditionStore().getSearchInputValue().transCustId || ""),
    pdaFinishYn: String(useSearchConditionStore().getSearchInputValue().pdaFinishYn || ""),
    workStat: String(useSearchConditionStore().getSearchInputValue().workStat || ""),
    ordType: String(useSearchConditionStore().getSearchInputValue().ordType || ""),
    outReqDt: String(useSearchConditionStore().getSearchInputValue().outReqDt || ""),
    outDt: String(useSearchConditionStore().getSearchInputValue().outDt || ""),
    pdaStat: String(useSearchConditionStore().getSearchInputValue().pdaStat || ""),
    workSeq: String(useSearchConditionStore().getSearchInputValue().workSeq || ""),
    capaTot: String(useSearchConditionStore().getSearchInputValue().capaTot || ""),
    kinOutYn: String(useSearchConditionStore().getSearchInputValue().kinOutYn || ""),
    carConfYn: String(useSearchConditionStore().getSearchInputValue().carConfYn || ""),
    tplOrdId: String(useSearchConditionStore().getSearchInputValue().tplOrdId || ""),
    payYn: String(useSearchConditionStore().getSearchInputValue().payYn || ""),
    ROW_COUNT: String(selectedItems.value.length),
  };
  for (let i = 0; selectedItems.value.length > i; i++) {
    data["I_CUST_LOT_NO" + [i]] = String(selectedItems.value[i].CUST_LOT_NO || "");
    data["I_ITEM_CODE" + [i]] = String(selectedItems.value[i].ITEM_CODE || "");
    data["I_ITEM_SERACH" + [i]] = String(selectedItems.value[i].ITEM_SERACH || "");
    data["I_RITEM_NM" + [i]] = String(selectedItems.value[i].RITEM_NM || "");
    data["I_ITEM_BARCODE" + [i]] = String(selectedItems.value[i].ITEM_BARCODE || "");
    data["I_UOM_CD" + [i]] = String(selectedItems.value[i].UOM_CD || "");
    data["I_IN_WORK_ORD_QTY" + [i]] = String(selectedItems.value[i].IN_WORK_ORD_QTY || "");
    data["I_REAL_IN_QTY" + [i]] = String(selectedItems.value[i].REAL_IN_QTY || "");
    data["I_ORD_WEIGHT" + [i]] = String(selectedItems.value[i].ORD_WEIGHT || "");
    data["I_RITEM_ID" + [i]] = String(selectedItems.value[i].RITEM_ID || "");
    data["I_UM" + [i]] = String(selectedItems.value[i].UM || "");
    data["I_AM" + [i]] = String(selectedItems.value[i].AM || "");
    data["I_VAT" + [i]] = String(selectedItems.value[i].VAT || "");
    data["I_ETC1" + [i]] = String(selectedItems.value[i].ETC1 || "");
    data["I_UNIT_NO" + [i]] = String(selectedItems.value[i].UNIT_NO || "");
  }
  const res = await ApiService.postApi("/WMSOM020/saveInOrderOm_rn.action", {}, data);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      setTimeout(() => {
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.wmsom120-new-popup {
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  padding: 30px 15px 15px 15px;
  // display: flex;
  // justify-content: center;

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-container {
  }

  &-search {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // row-gap: 10px;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 0 10px 0;
  }

  &-grid {
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
    }
    .ag-grid-size {
      height: calc(100% - 31px);
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 28px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(100% - 15px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
</style>
