<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSYS240/form.vue
 *  Description:    설정관리/신규그리드관리 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <control-container>
    <div v-for="btnData in controlBtn.value" :key="btnData.title">
      <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :excelExport="excelExport" />
    </div>
  </control-container>

  <div class="form-container" ref="formContainerRef">
    <ul class="grid-statistics-container">
      <li>
        <span class="grid-statistics-title">{{ t("grid-statistics-title.change-history") }}</span>
        <span class="grid-statistics-value">
          {{ `(${t("grid-statistics-title.total")} : ${gridRowItemCount})` }}
        </span>
      </li>
    </ul>
    <my-grid :onGridReady="onGridReady" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onMounted, watch, onActivated, onDeactivated, reactive } from "vue";
import { GridApi } from "ag-grid-community";
import { ExcelExportParams } from "ag-grid-community";
import { useToast } from "vue-toastification";
import { useI18n } from "vue-i18n";
import { ControlContainer } from "@/components/layout";
import { ControlButton } from "@/components/button";
import { useSelectedDataStore, useFormHeightStore, useSearchConditionStore, useTabsStore, menusStore } from "@/store";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { CONTROL_BTN, SEARCH_INPUT } from "./input";
import MyGrid from "./grid.vue";

// Variable Definitions
const SelectedDataStore = useSelectedDataStore();
const SearchConditionStore = useSearchConditionStore();
const FormHeightStore = useFormHeightStore();
const { t } = useI18n();
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트
let gridRowItemCount = ref(0);
let gridApi: GridApi | null = null;
const inactive = ref<boolean>(false);
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  window.addEventListener("resize", () => {
    resizeGridColumns();
  });
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("TMSYS", "WMSYS240", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(FormHeightStore._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
});
onDeactivated(() => {
  inactive.value = true;
});

// 검색결과 그리드에 반영시키기
watch(SearchConditionStore._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

// User Function Definitions
const resizeGridColumns = () => {
  const myPageId = useTabsStore().selectedTab.value?.id;
  let myGridContainerWidth = document.querySelector("#" + myPageId + "-page .form-container")?.clientWidth || 0;
  let myGridBodyContainerWidth = document.querySelector("#" + myPageId + "-page .ag-body-viewport .ag-center-cols-container")?.clientWidth || 0;
  if (myGridContainerWidth > myGridBodyContainerWidth) {
    gridApi?.sizeColumnsToFit();
  }
};

const onGridReady = (params: any) => {
  gridApi = params.api;
  resizeGridColumns();
  gridApi?.setRowData([]);
};

async function searchGridData() {
  if (SearchConditionStore.getAvailableSearchBySearchCondition()) {
    const searchConditions = SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
    apiParams._fullpath = "재고관리 &gt; 재고조정(상태변경)";

    gridApi?.showLoadingOverlay();
    const gridData = await ApiService.postApi("/WMSST076/listE02_rn.action", apiParams, {}, false);
    if (gridData.status) {
      gridApi?.setRowData(gridData.result.list);
      gridRowItemCount.value = gridData.result.list.length;
      if (gridData.result.list.length === 0) {
        useToast().warning(t("common-toast.no-data-list"));
      }
    } else {
      gridApi?.setRowData([]);
    }
  }
}

//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.inventory-adjustment-history"),
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  position: relative;
}
.grid-statistics {
  &-container {
    position: absolute;
    top: -14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
  }

  &-title {
    font-weight: bold;
    font-size: 13px;
    color: #727272;
    margin-right: 17px;
  }
  &-value {
    font-weight: bold;
    font-size: 13px;
    color: #222222;
  }
}
</style>
