<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSYS240/grid.vue
 *  Description:    설정관리/신규그리드관리 Form화면의 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" :modules="[ExcelExportModule]" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onBeforeMount } from "vue";
import { useI18n } from "vue-i18n";

import { AgGridVue } from "ag-grid-vue3";
import { GridOptions } from "ag-grid-community";

import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule } from "ag-grid-enterprise"; // excel export관련 모듈을 따로 설치해줘여댬, 설치하고 그리드 컴포넌트에 프로퍼티로 입력

import { FORM_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const { onGridReady } = defineProps<{
  onGridReady: any;
}>();

const { t } = useI18n();

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  pagination: false,
  suppressPaginationPanel: true,
  suppressContextMenu: true,
  rowHeight: 32,
  columnDefs: FORM_COLUMN_DEFS,
  onGridReady: onGridReady,
  suppressRowClickSelection: true,
  getRowId: (data) => {
    return data.data.TRUST_CUST_CD;
  },
};

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      if (koreanPattern.test(column.headerKey)) {
        column.headerName = column.headerKey;
      } else {
        column.headerName = t("grid-column-name." + column.headerKey);
      }
    }
  });
});

// User Function Definitions
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: 100%;
}
.grid {
  &-container {
    width: 100%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
