<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSYS240/page.vue
 *  Description:    설정관리/신규그리드관리 -  업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div :id="`${myPageId}-page`">
    <my-search />
    <my-form />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSYS240" };
</script>
<script setup lang="ts">
import { onMounted, ref } from "vue";

import { UtilService } from "@/services/util-service";
import { ApiService } from "@/services/api-service";
import { useOptionDataStore, useTabsStore } from "@/store";

import MySearch from "./search.vue";
import MyForm from "./form.vue";
const OptionDataStore = useOptionDataStore();
// Variable Definitions
const myPageId = ref<string>();

// Framework Function Definitions
onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi(`/WMSCM091_rn.action`, {}, UtilService.getOptionApiData(`WMSCM091_rn`));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

// User Function Definitions
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
