<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST140/page.ts
 *  Description:    임가공(재고관리) 페이지
 *  Authors:        H. N. Ko
 *  Update History:
 *                  2024.08. : Created by H. N. Ko
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="MASTER_GRID_META"
        :pagingSizeList="pagingSizeListRef"
        :pagingSize="pagingSizeListRef[0]"
        :onCellFocused="onCellFocused"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged"
        :context="[]">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="DETAIL_GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onDetailApiParamsChanged"
        :getServerData="getDetailData"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :context="{}">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST140" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { RowSelectedEvent } from "ag-grid-community";
import { ExcelExportParams, GridApi } from "ag-grid-enterprise";
import { Ref, computed, onMounted, reactive, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_META, DETAIL_GRID_OPTIONS_META, MASTER_CONTROL_BTN, MASTER_GRID_META, MASTER_GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
const { t } = useI18n();

//master grid 선택시(복수 체크)
const selectedItems = ref<Record<string, any>[]>([]);

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});
const pagingSizeListRef = ref([200, 300, 400]);
// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const eventBus = useEventBusStore();
const masterGridTitleRef = t("menu-header-title.WMSST140_master");
const detailGridTitleRef = t("menu-header-title.WMSST140_detail");
const selectedDetailRowItem = reactive({ value: {} } as { value: any });
const formTheme = {
  "--flex-direction": "column",
};
const searchGridData = ref();

// Framework Function Definitions
onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi("/WMSCM162_rn.action", {}, UtilService.getOptionApiData("WMSCM162_rn"));
  if (res.status) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  }
});

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
function sessionStorageReady() {}

function onSelectionChanged(e: any) {
  let isSelected = e.event.node.selected;
  let event: RowSelectedEvent = e.event;
  event.api.redrawRows();
  selectedItems.value = masterGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    detailFormRef.value.searchGridData();
  }
}
function onMasterApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "재고관리 &gt; 원부자재(부품/용기) 재고조회";
  apiParams.today = getCurrentDate();
  return apiParams;
}

/** 조회 시 apiParams 에 today(현재 일자) 추가  전송  */
function getCurrentDate() {
  const now = new Date();
  const year = now.getFullYear();
  const month = String(now.getMonth() + 1).padStart(2, "0"); // 월은 0부터 시작하므로 +1
  const day = String(now.getDate()).padStart(2, "0");

  return `${year}-${month}-${day}`;
}

function onDetailApiParamsChanged(apiParams: any) {
  detailGridApi.value?.deselectAll();
  // detailGridApi.value?.sizeColumnsToFit();
  const selectedMasterItem = GridUtils.getSelectedRowData(unref(masterGridApi) || new GridApi())[0];
  apiParams = {
    vrRitemId: Object.hasOwn(selectedMasterItem, "RITEM_ID") ? selectedMasterItem.RITEM_ID : "",
    vrUomId: Object.hasOwn(selectedMasterItem, "UOM_ID") ? selectedMasterItem.UOM_ID : "",
    vrWhId: Object.hasOwn(selectedMasterItem, "WH_ID") ? selectedMasterItem.WH_ID : "",
  };
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  searchGridData.value = await ApiService.postApi("/rest/WMSST140/list.action", apiParams, bodyData.value, false);
  return searchGridData.value;
}

async function getDetailData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSST140/listSub.action", apiParams, bodyData.value, false);
}

function onDetailGridSelectionChanged(e: any) {
  selectedDetailRowItem.value = e.event.data;
}

const masterEventHandler: Record<string, Function> = {
  excel: masterExport,
};

function masterExport() {
  if (!searchGridData.value) {
    useToast().warning(t("common-toast.no-data-found"));
    return;
  }
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.logistics-container-stock"),
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
</style>
