<template>
  <div class="explanation">
    <button class="explanation-button">
      <p class="explanation-title">{{ title }}</p>
      <div class="explanation-image-bg">
        <img class="explanation-image" src="/public/assets/images/btn-more-desc.svg" alt="" />
      </div>
      <div class="explanation-content-bg">
        <div class="explanation-content">
          <slot> </slot>
        </div>
      </div>
    </button>
  </div>
</template>

<script setup lang="ts">

const { title } = defineProps<{
  title: string;
}>();
</script>

<style lang="scss" scoped>
.explanation {
  &-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: white;

    &:hover {
      .explanation-content {
        display: block;
        animation-name: show-content;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
      }

      .explanation-image-bg {
        background-color: rgba($color: $main, $alpha: 0.3);
      }
    }
  }

  &-title {
    letter-spacing: -1.2px;
    font-weight: bold;
    color: $main;
    font-size: 16px;
  }

  &-image {
    &-bg {
      background-color: rgba($color: $main, $alpha: 0.1);
      padding: 5px;
      border-radius: 50%;
    }
  }

  &-content {
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    opacity: 0;
    display: none;
    border: 1px solid $main;
    padding: 18px 37px 27px 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
    background-color: #fff;
    white-space: nowrap;
    font-size: 13px;
    color: #222222;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    &-bg {
      position: absolute;
      z-index: 10;
      bottom: 0px;
      left: 0;
      right: 0;
      height: 5px;
      transform: translateY(100%);
    }
  }
}

@keyframes show-content {
  0% {
    display: flex;
    bottom: -10px;
    opacity: 0;
  }
  80% {
    display: flex;
    bottom: 5px;
    opacity: 1;
  }
  100% {
    display: flex;
    bottom: 0px;
    opacity: 1;
  }
}
</style>
