<!--control영역 버튼 컴포넌트-->
<template>
  <div v-if="data.title === 'start-row-select-box'" class="search-input-item">
    <div class="select search-input-item-input" :class="data.disabled" @click="showSelectList = !showSelectList">
      {{ startRowSelectBoxValue.value ? startRowSelectBoxValue.value + " 행" : startRowValue + " 행" }}
    </div>
    <i @click="showSelectList = !showSelectList" :class="['btn-dropbox-component', showSelectList ? 'on' : '', data.disabled]"></i>
    <ul :class="['search-select-list', showSelectList === true ? 'slide-down' : showSelectList === false ? 'slide-up' : '']" tabindex="-1">
      <li
        v-for="(option, i) in startRowOptionsLength"
        :key="i"
        :class="['search-select-item', i + 1 === (startRowSelectBoxValue.value ? startRowSelectBoxValue.value : startRowValue) ? 'on' : '']"
        @click="(e: any) => setSelectValue(e, i + 1)">
        {{ i + 1 + " 행" }}
        <i v-if="startRowSelectBoxValue.value && i + 1 === startRowSelectBoxValue.value" class="dropbox-selected"></i>
      </li>
    </ul>
  </div>

  <button
    v-else
    name="controlBtn"
    :class="[data.paddingStyle, data.colorStyle, data.disabled ? data.disabled : '']"
    @click="
      $emit('clicked', data);
      //TODO disable bellowing this comment
      clickEvent(data.title);
    ">
    <img v-if="data.image === 'excel'" src="/public/assets/images/btn-excel.svg" alt="" />
    {{ $t("control-button-name." + data.title) }}
  </button>
</template>

<script setup lang="ts">
import { reactive, ref } from "vue";

import { IControlBtnProps } from "@/types";

const {
  data,
  startRowValue,
  //TODO disable bellowing this comment
  addRowData,
  saveRowData,
  deleteRowData,
  excelExport,
  excelImport,
  clickManual,
  simpleExcelImport,
  printBarcode,
  uploadTemplate,
  deleteLot,
  registrationShippingOrder,
  InOutOrderRegeneration,
  resetSearchInput,
  changeShippingDate,
  excelLocTotalByDate,
  changeOfOwner,
  reLocation,
  deleteTemplate,
  saveStartRow,
  templateInputForB2C,
  printExport,
  integratedTemplateInput,
  changeReceivingDate,
  shippingIdentificationLabelPrint,
  enterTemplate,
  changeBoxBarcode,
  designateRepresentativeLocation,
  setOnlyGridViewParams,
  createBarcode,
  productReRegistration,
  excelAllExport,
  excelSelectExport,
  uploadFile,
  copyTemplate,
  changeIsOpenLcSyncModal,
  resetGridRowData,
  uploadReceivingTemplate,
  close,
  sync,
  allExcelExport,
  filter,
  newDestinations,
  templateInputForSap,
  lineDel,
  totalIntegration,
  setting,
  stockMoveReport,
  wmsst040t2,
  inventoryAdjustment,
  printing,
  wmsst040t1,
  wmsst040e3,
  workOrder,
  cancelWork,
  wmsst040e6,
  barcodeOutput,
  complete,
  nonVehicleDispatch,
  dockRelease,
  locationReset,
  locationRecommendation,
  userManagementDetail,
  requestSaveOrCancel,
  fn_search,
  fn_zoneChange,
  changeIsShowDisplaySetting,
  pickingListExcel,
} = defineProps<IControlBtnProps>();

const emit = defineEmits(["changeStartRowValue", "changeIsShowTemplatePrompt", "changeCurrentTemplatePromptTitle", "clicked"]);

const startRowOptionsLength = 19;
const startRowSelectBoxValue = reactive({ value: null } as { value: any });
const showSelectList = ref(null as boolean | null);

//TODO disable bellowing this comment
function clickEvent(title: string | undefined) {
  if (title === "new" && addRowData) {
    addRowData();
  } else if (title === "save" && saveRowData) {
    saveRowData();
  } else if ((title === "del" && deleteRowData) || (title === "delete-orders" && deleteRowData)) {
    deleteRowData();
  } else if (title === "excel" && excelExport) {
    excelExport();
  } else if (title === "warehouse-synchronization" && changeIsOpenLcSyncModal) {
    changeIsOpenLcSyncModal(true);
  } else if ((title === "enter-excel" || title === "excel-input-box-disassembly") && excelImport) {
    excelImport();
  } else if (title === "manual" && clickManual) {
    clickManual();
  } else if (title === "excel-input(simple)" && simpleExcelImport) {
    simpleExcelImport();
  } else if (title === "barcode-output" && printBarcode) {
    printBarcode();
  } else if (title === "upload-receiving-template" && uploadTemplate) {
    uploadTemplate();
  } else if (title === "delete-lot" && deleteLot) {
    deleteLot();
  } else if (title === "registration-shipping-order" && registrationShippingOrder) {
    registrationShippingOrder();
  } else if (title === "in/out-order-regeneration" && InOutOrderRegeneration) {
    InOutOrderRegeneration();
  } else if (title === "excel-all" && excelExport) {
    excelExport();
  } else if (title === "initialize-search-criteria" && resetSearchInput) {
    resetSearchInput();
  } else if (title === "change-shipping-date" && changeShippingDate) {
    changeShippingDate();
  } else if (title === "change-of-owner" && changeOfOwner) {
    changeOfOwner();
  } else if (title === "re-location" && reLocation) {
    reLocation();
  } else if (title === "excel-loc-total-by-date" && excelLocTotalByDate) {
    excelLocTotalByDate();
  } else if (title === "delete-template" && deleteTemplate) {
    deleteTemplate();
  } else if (title === "start-row-save" && saveStartRow) {
    saveStartRow();
  } else if (title === "change-template-name" || title === "create-new-template") {
    emit("changeCurrentTemplatePromptTitle", title);
    emit("changeIsShowTemplatePrompt", true);
  } else if (title === "template-input-for-B2C" && templateInputForB2C) {
    templateInputForB2C();
  } else if (title === "print" && printExport) {
    printExport();
  } else if (title === "integrated-template-input" && integratedTemplateInput) {
    integratedTemplateInput();
  } else if (title === "change-receiving-date" && changeReceivingDate) {
    changeReceivingDate();
  } else if (title === "shipping-identification-label-print" && shippingIdentificationLabelPrint) {
    shippingIdentificationLabelPrint();
  } else if (title === "lot-stock-identification-label-print" && shippingIdentificationLabelPrint) {
    shippingIdentificationLabelPrint();
  } else if (title === "enter-template" && enterTemplate) {
    enterTemplate();
  } else if (title === "change-box-barcode" && changeBoxBarcode) {
    changeBoxBarcode();
  } else if (title === "designate-a-representative-location" && designateRepresentativeLocation) {
    designateRepresentativeLocation();
  } else if (title === "duplicate-barcode" && setOnlyGridViewParams) {
    setOnlyGridViewParams();
  } else if (title === "create-barcode" && createBarcode) {
    createBarcode();
  } else if (title === "product-re-registration" && productReRegistration) {
    productReRegistration();
  } else if (title === "excel-all" && excelAllExport) {
    excelAllExport();
  } else if (title === "excel-select" && excelSelectExport) {
    excelSelectExport();
  } else if (title === "upload-file" && uploadFile) {
    uploadFile();
  } else if (title === "copy-template" && copyTemplate) {
    copyTemplate();
  } else if (title === "reset" && resetGridRowData) {
    resetGridRowData();
  } else if (title === "upload-receiving-template" && uploadReceivingTemplate) {
    uploadReceivingTemplate();
  } else if (title === "close" && close) {
    close();
  } else if (title === "synchronization" && sync) {
    sync();
  } else if (title === "new-destinations" && newDestinations) {
    newDestinations();
  } else if (title === "template-input-for-sap" && templateInputForSap) {
    templateInputForSap();
  } else if (title === "line-del" && lineDel) {
    lineDel();
  } else if (title === "all-excel" && allExcelExport) {
    allExcelExport();
  } else if ((title === "filter" || title === "close-filter") && filter) {
    filter();
  } else if (title === "total-integration" && totalIntegration) {
    totalIntegration();
  } else if (title === "setting" && setting) {
    setting();
  } else if (title === "inventory-transfer-document" && stockMoveReport) {
    stockMoveReport();
  } else if (title === "work-status-inquiry" && wmsst040t2) {
    wmsst040t2();
  } else if (title === "inventory-adjustment" && inventoryAdjustment) {
    inventoryAdjustment();
  } else if (title === "printing" && printing) {
    printing();
  } else if (title === "integrated-search" && wmsst040t1) {
    wmsst040t1();
  } else if (title === "new" && wmsst040e3) {
    wmsst040e3();
  } else if (title === "work-order" && workOrder) {
    workOrder();
  } else if (title === "cancel-work" && cancelWork) {
    cancelWork();
  } else if (title === "new-row-add" && wmsst040e6) {
    wmsst040e6();
  } else if (title === "barcode-output" && barcodeOutput) {
    barcodeOutput();
  } else if (title === "logistics-container-list" && setOnlyGridViewParams) {
    setOnlyGridViewParams();
  } else if (title === "complete" && complete) {
    complete();
  } else if (title === "non-vehicle-dispatch" && nonVehicleDispatch) {
    nonVehicleDispatch();
  } else if (title === "check-in-cancel" && requestSaveOrCancel) {
    requestSaveOrCancel("N");
  } else if (title === "check-in-approval" && requestSaveOrCancel) {
    requestSaveOrCancel("Y");
  } else if (title === "dock-release" && dockRelease) {
    dockRelease();
  } else if (title === "location-reset" && locationReset) {
    locationReset();
  } else if (title === "location-recommendation" && locationRecommendation) {
    locationRecommendation();
  } else if (title === "user-management-detail" && userManagementDetail) {
    userManagementDetail();
  } else if (title === "search" && fn_search) {
    fn_search();
  } else if (title === "change-zone-belonging" && fn_zoneChange) {
    fn_zoneChange();
  } else if (title === "setting" && changeIsShowDisplaySetting) {
    changeIsShowDisplaySetting(true);
  } else if (title === "picking-list-excel" && pickingListExcel) {
    pickingListExcel();
  }
}

function setSelectValue(ev: any = null, value: any) {
  startRowSelectBoxValue.value = value;
  emit("changeStartRowValue", startRowSelectBoxValue.value);
  if (ev) {
    showSelectList.value = false;
  }
}
</script>

<style lang="scss" scoped>
// common
button {
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}

// padding style
.normal {
  padding: 6px 7px;
}
.bold {
  padding: 6px 16px;
}

// color style
.secondary {
  @include btnColorStyle($font-secondary);
}
.primary {
  @include btnColorStyle($main);
}
.grid-primary {
  @include btnColorStyle($bg-gray);
}
.success {
  @include btnColorStyle($green);
}
.danger {
  @include btnColorStyle($red);
}
.warning {
  @include btnColorStyle($font-warning);
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 23px;
  background-color: $hidden-list-bg;
  height: 44px;
  transition: all 0.4s ease;

  &.half {
    width: calc(49.5% - 20px);
    margin-right: 12px;
  }

  &.triple {
    width: calc(33.3% - 28px);
    margin-right: 21.4px;
  }
  &.quarter {
    width: calc(100% / 4 - 28px);
    margin-right: 21.4px;
  }
  // 조회 팝업 컴포넌트 작업할 때 scss수정 필요
  &.entire {
    width: calc(99% - 28px);
    height: 44px;
    .search-title {
      width: 9%;
    }

    .search-input {
      width: 91%;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: $bg-gray2;
  }

  .required {
    position: absolute;
    left: 12px;
  }

  &-title {
    @include labelStyle();
    width: 23%;
  }

  &-input {
    width: calc(80% - 40px);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .input-width-single {
      width: 100%;
      margin-right: -10px;
      > input {
        width: calc(100%);
      }
    }

    > .input-width-double {
      width: calc(50% - 9px);
    }
    > .input-width-double.date {
      width: calc(50% - 3px);
      border: 1px solid $border2;
      border-radius: 10px;
    }
    > .input-width-triple {
      width: calc(100% / 3 - 6px);
      > input {
        width: calc(100%);
      }
    }
    &-button {
      @include flexCenter;
      background-color: $bg-gray2;
      width: 25px;
      height: 25px;
      border-radius: 6px;
      margin-right: 15px;
      position: absolute;
      left: -41px;
      z-index: 1;

      &:hover {
        background-color: #b8bec8;
      }
    }

    &-item {
      @include dateInputStyle;
      position: relative;
      border: 1px solid $border2;
      border-radius: 10px;
      height: 28.5px;
      padding: 0 30px 0 10px;
      font-weight: bold;
      background-color: #fff;
      display: flex;
      align-items: center;
      &[type="date"] {
        border: none;
      }

      &.single {
        width: 100%;
      }
      &.double {
        width: 100%;
      }

      .select {
        @include ellipsis;

        font-size: 14px;
        font-weight: bold;
        font-weight: bold;
        border: none;
        background-color: #fff;
        cursor: pointer;
      }
      &-input {
        color: black;
      }
    }

    &-select {
      @include selectArrowStyle;
    }
  }
  &-select {
    &-list {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 100%;
      max-height: 442px;
      background-color: white;
      box-sizing: border-box;
      padding: 7px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: bold;
      word-break: break-all;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
      z-index: 10;
      overflow-y: scroll;
      overflow-x: hidden;
      outline: none;
      opacity: 0;
      transform: scaleY(0);
      color: black;
      &.slide-up {
        @include slideUpAnimation;
      }
      &.slide-down {
        @include slideDownAnimation;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      box-sizing: border-box;
      padding: 10px 0px 10px 15px;
      margin: 0 -10px;
      width: calc(100% + 20px);
      font-size: 14px;
      font-weight: bold;
      font-weight: normal;
      &:hover {
        background-color: #f6f7fc;
        cursor: pointer;
      }
      &.on {
        color: $main;
        font-weight: bold;
        > i {
          position: absolute;
          right: 7px;
        }
      }
    }
  }
}
.btn-dropbox-component {
  right: 6px !important;
  top: 2px !important;
}
</style>
