<!--
    택배관리 - 택배접수관리 버튼 / 각각의 버튼 아이템, DeliveryControlComp에서 호출되어 사용
-->
<template>
  <button class="delivery" :class="[data.colorStyle, data.disabled ? data.disabled : '']" @click="clickEvent(data.title)">
    <div v-if="data.image" :class="[`btn-delivery-${data.image}`, 'delivery-img']"></div>
    <div class="delivery-text">
      <p v-if="data.number" class="delivery-text-number">{{ `${data.number} )` }}</p>
      <p class="delivery-text-number">{{ t("control-button-name." + data.title) }}</p>
    </div>
  </button>
</template>

<script setup lang="ts">
import { IDeliveryBtnProps } from "@/types";
import { useI18n } from "vue-i18n";

const { t } = useI18n();
const { data, saveRowData, excelImport, excelExport, courierDeliveryReception, additionalInvoiceSubmission, printDeliveryInvoice, editCustomerAddress, dasDataSearch, dasDataGeneration, fn_dlvShipDelete, fn_dlvInvcNoPrintPrev, fn_dlvShipmentPost } = defineProps<IDeliveryBtnProps>();

function clickEvent(title: string) {
  if (title === "delivery-history-registration" && excelImport) {
    excelImport();
  } else if (title === "modification-of-courier-invoice-number" && saveRowData) {
    saveRowData();
  } else if (title === "excel" && excelExport) {
    excelExport();
  } else if (title === "courier-delivery-reception" && courierDeliveryReception) {
    courierDeliveryReception("N", "NORMAL");
  } else if (title === "additional-invoice-submission" && additionalInvoiceSubmission) {
    additionalInvoiceSubmission();
  } else if (title === "print-delivery-invoice" && printDeliveryInvoice) {
    printDeliveryInvoice();
  } else if (title === "edit-customer-address" && editCustomerAddress) {
    editCustomerAddress();
  } else if (title === "das-data-search" && dasDataSearch) {
    dasDataSearch();
  } else if (title === "das-data-generation" && dasDataGeneration) {
    dasDataGeneration();
  } else if (title === "delete-delivery-invoice" && fn_dlvShipDelete) {
    fn_dlvShipDelete();
  } else if (title === "before-invoice-printing" && fn_dlvInvcNoPrintPrev) {
    fn_dlvInvcNoPrintPrev();
  } else if (title === "after-invoice-received" && fn_dlvShipmentPost) {
    fn_dlvShipmentPost();
  }
}
</script>

<style lang="scss" scoped>
.delivery {
  display: flex;
  gap: 11px;
  padding: 9px 25px 9px 12px;
  border-radius: 10px;

  &-text {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    p {
      white-space: nowrap;
    }
  }
  &-img {
    width: 30px;
    height: 30px;
    margin: 6px 11px 4px 0;
    object-fit: contain;
  }
  &-title {
    margin: 0 0 0 11px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.43;
  }
  &-das {
    width: 105px;
    height: 25px;
    margin: 0 0 8px;
    padding: 3px 16px 2px 17px;
    border-radius: 10px;
    border: solid 1px var(--main);
    background-color: rgba(61, 97, 225, 0.05);
  }
}

// color style
.secondary {
  @include btnColorStyle($font-secondary, 1px);
}
.primary {
  @include btnColorStyle($main, 1px);
}
.success {
  @include btnColorStyle($green, 1px);
}
.danger {
  @include btnColorStyle($red, 1px);
}
.warning {
  @include btnColorStyle($font-warning, 1px);
}
</style>
