<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	button/split-button.vue
 *  Description:    Prime Vue Split Button 컴포넌트
 *  Authors:        dhkim
 *  Update History:
 *                  2024.10 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div>
    <SplitButton :model="contents" :pt="{ pcButton: 'my-button', pcdropdown: 'my-dropDown' }" text
      :severity="data.colorStyle" :class="[`${data.colorStyle}`]">
      <div class="textarea">
        <img v-if="data.image === 'excel'" src="/public/assets/images/btn-excel.svg" alt="" />
        <span> {{ data.title }} </span>
      </div>
    </SplitButton>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">

import SplitButton from "primevue/splitbutton";

//#region ::  Variable Definitions

interface Props {
  data: any;
  contents: any;
}

const props = withDefaults(defineProps<Props>(), {

});

const data = props.data;
const contents = props.contents;

//#endregion


//#region ::  Framework Function Definitions

//#endregion


//#region ::  User Function Definitions

//#endregion

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss">
// .my-button {
//   padding: 6px 7px !important;
//   height: fit-content !important;
// }

// .my-dropDown {
//   padding: 6px 7px !important;
//   height: fit-content !important;
// }

.textarea {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  height: 1rem;
  font-size: 14px;
  font-weight: bold;
}

.p-splitbutton {
  border-radius: 10px !important;
}

.p-splitbutton-button {
  font-size: 14px !important;
  padding: 6px 7px !important;
  height: fit-content !important;
}

.p-splitbutton-dropdown {
  font-size: 14px !important;
  padding: 6px 7px !important;
  height: fit-content !important;
}

.p-button-label {
  max-height: 1rem;
}

.success {
  @include btnColorStyle($green);
}

.info {
  @include btnColorStyle($main);
}
</style>