<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP021/page.vue
 *  Description:    원부자재(부품/용기) 입고관리 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.06. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST100" };
</script>
<script setup lang="ts">
import { computed, onMounted, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import commonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/stock/WMSST100/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { IAvailableOptionsUtilParams } from "@/types";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const gridApi = ref<GridApi | undefined>();
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};
const gridHeaderTitle = computed(() => {
  return t("menu-header-title.WMSST100");
});
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
};

// 신규(function fn_new(strParameter))
function addRowData() {
  // strParameter = (strParameter == undefined) ? [] : strParameter;
  // var param = "?func=fn_search&strParameter="+strParameter;
  // var url   = "/WMSST100E2.action"+param;
  // var width = "850";
  // var height = "630";
  // var asppop = cfn_openPop(url, "fn_WmsstPopup", width, height);
  // asppop.focus();
}

//삭제
async function deleteRowData() {
  // var grid = jQuery("#list");
  // var selectIds = grid.getGridParam('selarrrow').toString().split(',').sort(function(a, b){return a-b});
  // var tmpCnt = 0;
  // if(selectIds == ""){
  // 	alert(strings['grid.no_selected_data_for_delete']);
  // 	return false;
  // }
  // if(confirm('$!lang.getText("삭제하시겠습니까")')){
  // 	jQuery("#formData").html("");
  // 	if(jQuery("form[name='frm_data'] input[name='selectIds']").val() == undefined){
  //           jQuery("#formData").append("<input type='text' name='selectIds' value='0'/>");
  //           jQuery("#formData").append("<br>");
  //       }else{
  //       	tmpCnt = parseInt(jQuery("form[name='frm_data'] input[name='selectIds']").val());
  //       }
  // 	for(var i = 0 ; i < selectIds.length ; i++){
  // 		jQuery("#formData").append("<input type='text' name='CHANGE_WORK_ID"+tmpCnt+"'    value='"+cfn_trim(grid.getCell(selectIds[i], "CHANGE_WORK_ID"))+"'/>");
  // 		tmpCnt ++;
  // 	}
  // 		jQuery("form[name='frm_data'] input[name='selectIds']").val( tmpCnt );
  // }else{
  // 	return false;
  // }
  // var param = jQuery("form[name='frm_data']").serialize();
  // var url = "/WMSST100/delete.action";
  // jQuery.post(url, param, function(data) {
  // 	alert(data.MSG);
  // 	if(data.errCnt <= 0 ){
  // 		var param = jQuery("form[name='frm_list']").serialize();
  // 		var url = "/WMSST100/list.action?"+param;
  // 		listGrid.search(param, url);
  // 	}
  // }).fail(function(xhr, textStatus){
  // 	if(xhr.status == 404){
  // 		location.href=('/index.html');
  // 	}
  // });
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.change-of-owner"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSST100");
  const res = await ApiService.postApi(`/WINUS/WMSST100.action`, {}, data);
  const setAvailableOptionsUtilParam: IAvailableOptionsUtilParams[] = [
    {
      inputId: "vrSrchOrdSubtype",
      availableList: ["", "20", "22", "23", "25", "111", "137", "138", "139", "146"],
    },
  ];

  UtilService.setAvailableOptions(res.result.selectBoxInfos, setAvailableOptionsUtilParam);

  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

// User Function Definitions

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST100/list.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
