<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP642_2/page.vue
 *  Description:    택배관리/택배접수관리(공통)_택배송장업로드 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData">
      <div class="grid-header">{{ t("menu-header-title.WMSOP642_2") }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOP642_2" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service.ts";
import { UtilService } from "@/services/util-service.ts";
import { useConfirmStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus.ts";
import { GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const { t } = useI18n();
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  "delivery-history-registration": excelImport,
  "modification-of-courier-invoice-number": saveRowData,
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
});

onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

/**
 * 택배이력등록
 */
function excelImport() {
  if (!Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.owner") }));
  }

  const data = {
    modalTitle: t("modal-title.delivery-history-enter-excel"),
    saveUrl: "/WMSOP642/inExcelFileUpload_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSOP642&file_name=parcelExeclUpload_03.xls",
    uniqueParams: { strLcId: UtilService.getCurrentLocation(), strCustId: String(useSelectedDataStore().getSelectedModalData().owner.CUST_ID) },
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * 택배송장번호수정
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    const bodyData: any = {
      _fullpath: "",
      vrSrchCustCd: "",
      vrSrchCustNm: "",
      vrSrchCustId: "",
      vrSrchOrdDegreeDate: UtilService.getToday(),
      vrSrchOrdDegree: "1",
      vrSrchInvcSendYn: "N",
      cmbSrchType: "100",
      vrSrchReqDtFrom: UtilService.getToday(),
      vrSrchReqDtTo: UtilService.getToday(),
      vrSrchRitemCd: "",
      vrSrchRitemNm: "",
      vrSrchRitemId: "",
      vrSrchOrderPhase: "04",
      vrSrchInvcPrintYn: "N",
      vrSrchRcvrNm: "",
      vrSrchOrgOrdId: "",
      vrSrchOrderPhaseDetail: "04",
      vrSrchInvcAddYn: "",
      vrSrchInvcNo: "",
      vrSrchOrdId: "",
      vrSrchLegacyOrdNo: "",
      vrSrchReceiveYn: "",
      vrSrchOrdCnt: "",
      vrSrchAbleInvcCnt: "",
      vrSrchOrdDeviceType: "",
      vrSrchDlvCompCd: "",
      vrSrchMutiPackingYn: "",
      focusRow: "",
      focusCol: "",
      selectIds: String(selectedRows.length),
    };

    for (let i = 0; selectedRows.length > i; i++) {
      bodyData["ST_GUBUN" + i] = "UPDATE";
      bodyData["LC_ID" + i] = UtilService.getCurrentLocation();
      bodyData["CUST_ID" + i] = useSelectedDataStore().getSelectedModalData().owner.CUST_ID;
      bodyData["ORD_ID" + i] = selectedRows[i].ORD_ID;
      bodyData["ORD_SEQ" + i] = String(selectedRows[i].ORD_SEQ);
      bodyData["DLV_COMP_CD" + i] = selectedRows[i].DLV_COMP_CD;
      bodyData["ORG_INVC_NO" + i] = selectedRows[i].ORG_INVC_NO;
      bodyData["INVC_NO" + i] = selectedRows[i].INVC_NO;
      bodyData["SWEET_TRACKER_IF_YN" + i] = selectedRows[i].SWEET_TRACKER_IF_YN;
    }

    const result = await ApiService.postApi("/WMSOP642/invcNoUpdate_rn.action", {}, bodyData);

    if (result.status) {
      if (result.result.errCnt === 0) {
        useToast().success(t("common-toast.registered"));
        searchGridData();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      } else {
        useToast().error(t(result.result.MSG));
      }
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  apiParams.cmbSrchType2 = useSearchConditionStore().getSearchInputValue().cmbSrchType2;
  apiParams.vrSrchReqDtFrom2 = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom2;
  apiParams.vrSrchReqDtTo2 = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo2;

  return await ApiService.postApi("/WMSOP642/list2ByDlvHistory_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

.date-range-input {
  width: 100%;
}
</style>
