<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSIT010/page.ts
 *  Description:    검수/B2B검수 페이지
 *  Authors:        H. N. Ko
 *  Update History:
 *                  2024.08. : Created by H. N. Ko
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header>
        <div class="search-control-container">
          <control-container>
            <div v-for="btnData in searchCompControlBtn.value" :key="btnData.title">
              <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
            </div>
          </control-container></div
      ></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <!-- :context="{ ...MASTER_GRID_CELL_SELECT_BOX, ...MASTER_CELL_RENDERER_INFO }"> -->
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :onCellFocused="onCellFocused"
        :gridMeta="GRID_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="masterGridStatisticsInfoRef" :gridTotalData="masterGridTotalData" />
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :getServerData="getDetailData"
        :context="{}"
        :onApiParamsChanged="onDetailApiParamsChanged"
        :modules="[]">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="detailGridStatisticsInfoRef" :gridTotalData="detailGridTotalData" />
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSIT010" };
</script>
<!-- <audio id="complete_sound" src="/sounds/com_sound.mp3"></audio>
<audio id="dul_sound" src="/sounds/dul_sound.mp3"></audio> -->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { default as CommonForm, default as commonForm } from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { IOZReportArgument, OZReport } from "@/services/report-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { ExcelExportParams, GridApi } from "ag-grid-community";
import { Ref, computed, onMounted, reactive, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import {
  DETAIL_CONTROL_BTN,
  DETAIL_GRID_OPTIONS_META,
  DETAIL_GRID_STATISTICS_INFO,
  GRID_META,
  MASTER_CONTROL_BTN,
  MASTER_GRID_OPTIONS_META,
  MASTER_GRID_STATISTICS_INFO,
  SEARCH_COMPONENT_CONTROL_BTN,
  SEARCH_INPUT,
  SEARCH_META,
} from "./input.meta";
const { t } = useI18n();

const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const masterGridStatisticsInfoRef = ref(MASTER_GRID_STATISTICS_INFO);
const detailGridStatisticsInfoRef = ref(DETAIL_GRID_STATISTICS_INFO);
const masterGridTotalData = reactive({ value: {} as any });
const detailGridTotalData = reactive({ value: {} as any });
const eventHandler: Record<string, Function> = {
  "inspection-complete": inspectionComplete,
  "delivery-statement-print": fn_oz, //개발 제외(oz_report)
  "excel-download": excelDownload,
};

const detailFormRef = ref();

//서버에서 받아온 데이터를 담는 객체
const searchMasterData = ref();

//detailGrid 데이터를 담는 객체(우측, detailGrid는 api를 통해 데이터를 받아오지 않고 masterGrid를 가공하여 만들어짐)
const searchDetailData = ref();

const disableSearchEvent = true;

const masterFormRef: any = ref();

const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value?.gridApi);
});

const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value?.gridApi);
});

const searchCompControlBtn = reactive({ value: SEARCH_COMPONENT_CONTROL_BTN as any });

const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const masterGridTitleRef = t("menu-header-title.WMSMS015_master");
const detailGridTitleRef = t("menu-header-title.WMSIT010_detail");
const formTheme = {
  "--flex-direction": "row",
};

//버튼 클릭시 경고음
function audio() {
  let sound = new Audio("/assets/sounds/dul_sound.mp3");
  sound.play();
}

//운송장번호(오더번호)
const ordId = ref();

//상품 바코드 스캔
const itemBarCd = ref();

// 박스 추가 버튼 클릭시 추가되는 전체 option 길이
let checkBoxNoValue = ref<number>(1);

//박스 No(서버로부터 조회되어 값 셋팅 됨)
let selectedBoxNo = ref<number>();

onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  let inputArea = document.getElementsByClassName("input-width-single");

  // inputArea[0] : 운송장번호(오더번호)
  // inputArea[1] : 상품 바코드 스캔
  // inputArea[2] : 박스 No <- 커스터마이징 영역

  //select-option에 있는 input값의 스타일 조정
  setInputStyle(inputArea);

  //박스 No 영역에 select-box 생성
  let selectBox = setSelectBox(inputArea[2]);

  //input 옆에 박스추가 버튼 생성
  setBoxAddButton(inputArea[2]);

  //  이벤트리스너 등록 1]  박스 No selectBox 변경 시 이벤트 리스너 등록
  selectBox.addEventListener("change", (e: any) => {
    changeSelectBoxValue(e, inputArea[2]);
  });

  // 이벤트리스너 등록 2]  > 운송장번호(오더번호) search-form에 값 입력 후 엔터 입력 시 돋보기 버튼 없이 바로 조회
  inputArea[0].addEventListener("keydown", keyDownOrdId);

  // 이벤트리스너 등록 3]  > 상품 바코드 스캔 search-form에 값 입력 후 엔터 입력 시 우측 그리드 조회
  inputArea[1].addEventListener("keydown", keyDownItemBarCd);
});

/**
 * 운송장번호(송장번호)에 값 입력 시 실행되는 Event listener
 * @param e 입력되는 이벤트
 */
function keyDownOrdId(e: any) {
  if (e.key == "Enter") {
    ordId.value = e.target.value;
    masterFormRef.value?.searchGridData();
  }
}

/**
 * 상품 바코드 스캔에 값 입력 시 실행되는 Event listener
 * @param e 입력되는 이벤트
 */
function keyDownItemBarCd(e: any) {
  if (e.key == "Enter") {
    if (useSearchConditionStore().getSearchInputValue()["ORD_ID"] != null) {
      itemBarCd.value = e.target.value;
      detailFormRef.value?.searchGridData();

      e.target.value = "";
    } else {
      useToast().error(t("common-toast.no-match-product-code", { productCode: e.target.value }));
      return;
    }
  }
}

/**
 * selectBox에서 선택한 값이 변할때 납품명세서재출력 버튼 생성 event
 * @param event 입력받은 이벤트 @param inputArea search-form 영역
 */
function changeSelectBoxValue(event: any, inputArea: any) {
  //selectBox 에서 변경된 값
  selectedBoxNo.value = event.target.value;

  //재출력 버튼 있는지 여부 확인
  let rePrintButton = document.getElementById("rePrintButton");

  //재출력 버튼이 있다면
  if (rePrintButton) {
    //checkBoxValue 와 변경된 value 값이 같다면 버튼 제거
    if (checkBoxNoValue.value == selectedBoxNo.value) {
      inputArea.removeChild(rePrintButton);
    }
  } else {
    //checkBoxValue 와 선택한 value 값이 다를 시 버튼 생성
    if (checkBoxNoValue.value != selectedBoxNo.value) {
      reprintButton(inputArea);
    }
  }
}

/**
 * 운송장번호, 상품바코드 스캔 input 영역 스타일 셋팅
 */
function setInputStyle(inputArea: any) {
  for (let i = 0; i < inputArea.length - 1; i++) {
    let input = inputArea[i].getElementsByTagName("input")[0];
    input.style.width = "50%";
    input.style.margin = "2%";
  }
}

/**
 * onMounted 시 selectBox 추가
 *
 */
function setSelectBox(inputArea: any) {
  //addSelectBox : [박스추가] 버튼 element id
  let selectBox = document.getElementById("addSelectBox");

  //CASE 1) selectBox 존재한다면 >>  selectBox 안에 있는 option data 삭제 후 재생성
  if (selectBox) {
    //selectBox 재셋팅
    settingOptionDataFromInputArea(selectBox);
  }
  //CASE 2) selectBox 존재하지 않는다면 selectBox부터 신규 생성
  else {
    selectBox = document.createElement("select");
    selectBox.id = "addSelectBox";
    inputArea.appendChild(selectBox);

    settingOptionDataFromInputArea(selectBox);
  }
  setSelectBoxStyle(selectBox);
  return selectBox;
}

/**
 * inputArea에 selectBox 셋팅
 * @param selectBox selectBox 영역
 */
function settingOptionDataFromInputArea(selectBox: any) {
  //selectBox안에 있는 Option값이 존재할 경우가 있어 미리 초기화해준다.
  selectBox.innerHTML = "";
  //option 값을 만든다.
  for (let i = 1; i <= checkBoxNoValue.value; i++) {
    let option = document.createElement("option");
    // option.className = "optionData";
    option.value = i + "";
    option.textContent = i + "";
    option.selected = true;
    selectBox.appendChild(option);
  }
}

/**
 * 납품명세서 재출력 버튼을 추가하기 위한 함수
 * */
function reprintButton(inputArea: any) {
  //버튼을 만든다.
  let button = document.createElement("button");
  button.id = "rePrintButton";

  //버튼에 클릭이벤트를 추가한다.
  button.addEventListener("click", fn_ozReprint);

  //버튼 스타일을 적용한다.
  settingButtonStyle(button, "납품명세서재출력");

  //지정 영역에 button 요소를 추가한다.
  inputArea.appendChild(button);
}

/**
 * 납품명세서 재출력 기능
 * */
function fn_ozReprint() {
  fn_oz();
}

/**
 * 만들어둔 selectBox에 대한 스타일 셋팅
 * @param selectBox : selectBox 객체
 */
function setSelectBoxStyle(selectBox: any) {
  selectBox.style.width = "150px";
  selectBox.style.padding = "8px";
  selectBox.style.borderRadius = "10px";
  selectBox.style.margin = "2%";
}

/**
 * 박스 추가 버튼 셋팅
 * @param inputArea : 버튼이 들어갈 영역
 */
function setBoxAddButton(inputArea: any) {
  //버튼을 만든다.
  let button = document.createElement("button");
  button.id = "boxAddButton";

  //버튼에 클릭이벤트를 추가한다.
  button.addEventListener("click", addButton);

  //버튼 스타일을 적용한다.
  settingButtonStyle(button, "박스추가");

  //지정 영역에 button 요소를 추가한다.
  inputArea.appendChild(button);
}

/**
 * 버튼 스타일 변경
 * @param button 버튼 객체
 * @param buttonName 버튼 이름
 */
function settingButtonStyle(button: any, buttonName: string) {
  button.style.margin = "10px";
  button.style.width = buttonName.length > 5 ? "88px" : "80px";
  button.style.paddingTop = "10px"; // 위쪽 여백 설정
  button.style.paddingBottom = "10px"; // 아래쪽 여백 설정
  button.style.background = "#b5b5b5";
  button.style.fontSize = "12px";
  button.style.borderRadius = "5px";
  button.textContent = buttonName;
}

/**
 * 버튼을 누를때마다 option 데이터 추가
 */
function addButton() {
  //버튼을 누를때마다 1씩 증가
  checkBoxNoValue.value++;

  // addSelectBox를 찾아서
  let selectBox = document.getElementById("addSelectBox");

  //  option element를 추가해서
  const option = document.createElement("option");

  // option value 값을 셋팅해두고
  option.textContent = checkBoxNoValue.value + "";

  // option 값을 1씩 증가한 값으로 셋팅한다.
  option.value = checkBoxNoValue.value + "";

  // 신규 추가된 값이 selectbox에 보이도록 한다.
  option.selected = true;

  // selectBox의 자식요소에 option을 추가한다.
  selectBox?.appendChild(option);
}

//모달창 오픈 (기존페이지에서도 별다른 기능이 없다고 판단하여 그냥 빈공간으로 둠)
function cfn_loadingModalOpen1() {}

let chkQtyArray = ref();
//검수완료 버튼
async function inspectionComplete() {
  console.log(searchDetailData.value);
  if (!searchDetailData.value) {
    useToast().warning(t("common-toast.no-data-found"));
    return;
  }
  let detailSelectedRows = searchDetailData.value.result.list;

  if (detailSelectedRows?.length < 1) {
    //경고음
    audio();
    //검수량 체크 경고 메시지
    useToast().warning(t("common-toast.inspection-qty-check!!!"));
    return;
  }

  //데이터 셋팅
  let bodyData = setData(detailSelectedRows);
  var url = "/rest/WMSIT010/chkConfirmB2B.action";

  //CASE 1 ) 주문량과 검수량이 다를 경우 체크
  let chkCompValidate = chkCompValidateFunction(detailSelectedRows);

  //검수량이 주문량 보다 적습니다. 검수완료 하시겠습니까?
  if (!chkCompValidate) {
    audio();
    await useConfirmStore().confirm(t("confirm-message.is-inspection-completed?"), t("button-name.confirm"));

    try {
      // cfn_loadingModalOpen1();
      const result = await ApiService.postApi(url, bodyData, bodyData);

      if (result.status) {
        if (result.result.errCnt !== 0) {
          useToast().error(t(result.result.MSG));
        } else {
          cfn_loadingModalClose1();

          //디테일 그리드 데이터 호출
          masterFormRef.value?.searchGridData();

          //검수완료 초기화
          bodyData = null;

          //납품명세서 출력 : 개발항목 제외
          // fn_oz();

          useSearchConditionStore().setAvailableSearchBySearchCondition(true);

          // detailFormRef.value.setRowData([]);
          // insComplete.value = false; //상태값 바꿈
          useToast().success(t("common-toast.registered"));
        }
      }
    } catch (err) {
      console.log(err);
      throw err;
    }
  }

  //CASE 2 ) 주문량과 검수량이 같을 경우
  else {
    cfn_loadingModalOpen1();
    let bodyData = setData(detailSelectedRows);
    const result = await ApiService.postApi(url, bodyData, bodyData);
    if (result.status) {
      //모달창
      useCallModalIdStore().setCallModalId("owner");
      //그리드 function 돌려서 새로고침

      // 자동 납품명세서출력 (OZ REPORT 개발 제외)
      // fn_oz();

      //masterGrid 재조회
      masterFormRef.value.searchGridData();

      // setRST_BOX(); // 데이터 set
    } else {
      return useToast().error(t("common-toast.error"));
    }
  }
}

function setRST_BOX() {
  let detailSelectedRows: any = selectedDetailData.value.result.list;
  // let bodyData: any = { boxCnt: useSearchConditionStore().getSearchInputValue()["SC_CHK_BOX_NO"], totalCnt: detailSelectedRows.length, boxNum: detailSelectedRows.length };
  let bodyDataList: any = [];
  for (let i = 0; i < detailSelectedRows.length; i++) {
    let bodyData: any = new Object();
    // bodyData["ORD_SEQ" + i] = useSearchConditionStore().getSearchInputValue()["SC_ORD_ID"];
    bodyData["ORD_SEQ"] = detailSelectedRows[i].I_ORD_SEQ;
    bodyData["RITEM_ID"] = detailSelectedRows[i].I_RITEM_ID;
    bodyData["RITEM_CD"] = detailSelectedRows[i].I_RITEM_CD;
    bodyData["RITEM_NM"] = detailSelectedRows[i].I_RITEM_NM;
    bodyData["OUT_ORD_QTY"] = detailSelectedRows[i].I_OUT_ORD_QTY;
    bodyData["ORD_QTY"] = detailSelectedRows[i].I_ORD_QTY;
    bodyData["CHK_QTY"] = detailSelectedRows[i].I_CHK_QTY;
    bodyData["OUT_ORD_UOM_ID"] = detailSelectedRows[i].I_UOM_ID;
    bodyData["UOM_CD"] = detailSelectedRows[i].I_UOM_CD;
    bodyData["CHK_BOX_NO"] = detailSelectedRows[i].I_CHK_BOX_NO;
    (bodyData["WORK_STAT"] = ""), (bodyData["WORK_STAT_NM"] = ""), (bodyData["PICKING_YN"] = ""), bodyDataList.push(bodyData);
  }
  let bodyData: any = {};
  if (detailSelectedRows.length > 0) {
    bodyData["BOX_ORD_SEQ"] = detailSelectedRows[0].ORD_SEQ;
    bodyData["BOX_RITEM_ID"] = detailSelectedRows[0].RITEM_ID;
    bodyData["BOX_RITEM_CD"] = detailSelectedRows[0].RITEM_CD;
    bodyData["BOX_RITEM_NM"] = detailSelectedRows[0].RITEM_NM;
    bodyData["BOX_OUT_ORD_QTY"] = detailSelectedRows[0].OUT_ORD_QTY;
    bodyData["BOX_CHK_QTY"] = detailSelectedRows[0].CHK_QTY;
    bodyData["BOX_OUT_ORD_UOM_ID"] = detailSelectedRows[0].OUT_ORD_UOM_ID;
    bodyData["BOX_UOM_CD"] = detailSelectedRows[0].UOM_CD;
    bodyData["BOX_CHK_BOX_NO"] = detailSelectedRows[0].CHK_BOX_NO;
    bodyData["BOX_WORK_STAT"] = detailSelectedRows[0].WORK_STAT;
    bodyData["BOX_WORK_STAT_NM"] = detailSelectedRows[0].WORK_STAT_NM;
    bodyData["BOX_PICKING_YN"] = detailSelectedRows[0].PICKING_YN;
  }

  // 특정 컬럼 순번 색상 변경
  // spdDetailList.getRange(0, BOX_CHK_QTY, spdDetailList.getRowCount(), 1).backColor('#FFFFDD');

  let outSum_box = 0;
  let chkSum_box = 0;
  let resSum_box = 0;

  for (let i = 0; i < detailSelectedRows.length; i++) {
    // let chkCnt = 0;
    // let cnt = 0;
    outSum_box += detailSelectedRows[i].BOX_OUT_ORD_QTY;
    chkSum_box += detailSelectedRows[i].BOX_CHK_QTY;
    resSum_box += detailSelectedRows[i].BOX_ORD_QTY;
  }

  return bodyData;
}

function cfn_loadingModalClose1() {}

const selectedDetailData = ref();

/**
 * 납품명세서 출력(oz report는 개발제외)
 */
function fn_oz() {
  cfn_loadingModalOpen1();

  let htmlText = "";
  htmlText += '<section class="content" style="height:100%">';
  htmlText += '<div class="container-fluid" style="height:100%">';
  htmlText += '<form id="frm_oz" name="frm_oz" method="POST" target="DivOzViewer">';
  htmlText += '<input type="hidden" name="fileName" value="">';
  htmlText += '<input type="hidden" name="reportName" value="">';
  htmlText += '<input type="hidden" name="odiName" value="">';
  htmlText += '<input type="hidden" name="arrKey" value="">';
  htmlText += '<input type="hidden" name="viewerMode" value="">';
  htmlText += "</form>";
  htmlText += '<iframe id="DivOzViewer" name="DivOzViewer" frameBorder="0" scrolling="no" style="padding:0px;width:100%;height:100%;overflow:hidden;">';
  htmlText += "</iframe>";
  htmlText += "</div>";
  htmlText += "</section>";

  let detailSelectedRows: any = selectedDetailData.value;
  let masterSelectedRows: any = masterGridApi.value?.getSelectedRows();
  if (masterSelectedRows?.length < 1 || detailSelectedRows?.length < 1) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  let ozReport = new OZReport({
    title: t("popup-title.stock-detail-list"),
    fileName: "WINUSIT010Q1",
    reportName: "WINUSIT010.ozr",
    odiName: "WINUSIT010",
  } as IOZReportArgument);
  let vrCustId = masterSelectedRows[0]?.I_CUST_ID;
  let vrOrdId = ordId.value;

  ozReport.SetOdiParam({
    vrCustId: vrCustId,
    vrOrdId: vrOrdId,
    vrBoxNo: selectedBoxNo.value,
    fileName: "WINUSIT010Q1",
    reportName: "WINUSIT010.ozr",
    odiName: "WINUSIT010",
    title: "납품명세표",
    viewerMode: "print",
    arrKey: ["vrUserNo", "vrLcId", "vrCustId", "vrOrdId", "vrBoxNo"],
    arrVal: ["$SS_USER_NO", "$SS_SVC_NO", vrCustId, vrOrdId, checkBoxNoValue.value],
  });

  let asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_confrimReportPopup", "1100", "780") as any;
  asppop.focus();
}

async function setBoxNum() {
  let bodyData = { SC_ORD_ID: ordId.value, SC_CHK_BOX_NO: checkBoxNoValue.value };

  /* 박스 num 조회 후 셋팅 */
  let result = await ApiService.postApi("/rest/WMSIT010/getBoxNum.action", bodyData, bodyData, false);
  if (result.status) {
    useToast().success(t("common-toast.registered"));
    checkBoxNoValue.value = result.result.BOXNUM;
  } else {
    useToast().error(t(result.result.MSG));
  }
}

//데이터 셋팅
function setData(detailSelectedRows: any) {
  let bodyData: any = { boxCnt: checkBoxNoValue.value, totalCnt: detailSelectedRows.length, boxNum: selectedBoxNo.value == null ? checkBoxNoValue.value : selectedBoxNo.value };

  // 기존 velocity 코드 중
  // var BOX_ORD_SEQ 		= 0;
  // var BOX_RITEM_ID 		= 1;
  // var BOX_RITEM_CD 		= 2;
  // var BOX_RITEM_NM 		= 3;
  // var BOX_OUT_ORD_QTY 	= 4;
  // var BOX_CHK_QTY 		= 5;
  // var BOX_ORD_QTY 		= 6;
  // var BOX_OUT_ORD_UOM_ID	= 7;
  // var BOX_UOM_CD 			= 8;
  // var BOX_CHK_BOX_NO 		= 9;  <- 해당 값만 사용
  // var BOX_WORK_STAT 		= 10;
  // var BOX_WORK_STAT_NM 	= 11;
  // var BOX_PICKING_YN 		= 12;

  for (let i = 0; i < detailSelectedRows.length; i++) {
    bodyData["COMP_ORD_ID_" + i] = useSearchConditionStore().getSearchInputValue()["ORD_ID"];

    bodyData["COMP_ORD_SEQ_" + i] = detailSelectedRows[i].ORD_SEQ;
    bodyData["COMP_RITEM_ID_" + i] = detailSelectedRows[i].RITEM_ID;
    bodyData["COMP_UOM_ID_" + i] = detailSelectedRows[i].UOM_ID;
    bodyData["COMP_ORD_QTY_" + i] = detailSelectedRows[i].OUT_ORD_QTY;
    bodyData["COMP_CHK_QTY_" + i] = detailSelectedRows[i].CHK_QTY;
    bodyData["BOX_NO_" + i] = selectedBoxNo.value == null ? checkBoxNoValue.value : selectedBoxNo.value;
  }
  bodyData["boxCnt"] = checkBoxNoValue.value;
  bodyData["totalCnt"] = detailSelectedRows.length;

  // 주문번호 스캔시 가끔  I_CUST_ID값이 셋팅안될떄가 존재
  bodyData["I_CUST_ID"] = detailSelectedRows[0]?.CUST_ID;
  bodyData["I_RITEM_ID"] = detailSelectedRows[0].RITEM_ID;
  bodyData["I_ORD_ID"] = useSearchConditionStore().getSearchInputValue()["ORD_ID"];
  bodyData["I_CHK_QTY"] = detailSelectedRows[0].CHK_QTY;
  bodyData["I_UOM_ID"] = detailSelectedRows[0].UOM_ID;
  bodyData["I_OUT_ORD_QTY"] = detailSelectedRows[0].OUT_ORD_QTY;
  bodyData["I_ORD_SEQ"] = detailSelectedRows[0].ORD_SEQ;
  bodyData["I_UOM_CD"] = detailSelectedRows[0].UOM_CD;
  bodyData["I_ORD_TYPE"] = detailSelectedRows[0].ORD_TYPE;
  bodyData["I_RITEM_CD"] = detailSelectedRows[0].RITEM_CD;
  bodyData["I_ORD_QTY"] = detailSelectedRows[0].ORD_QTY;
  bodyData["I_OUT_ORD_QTY"] = detailSelectedRows[0].OUT_ORD_QTY;
  bodyData["I_RITEM_NM"] = detailSelectedRows[0].RITEM_NM;
  bodyData["I_CHK_BOX_NO"] = detailSelectedRows[0].CHK_BOX_NO;

  return bodyData;
}

// 주문량과 검수량이 다를 경우 체크
function chkCompValidateFunction(detailSelectedRows: any) {
  for (let i = 0; i < detailSelectedRows?.length; i++) {
    if (detailSelectedRows[i].CHK_QTY != detailSelectedRows[i].OUT_ORD_QTY) {
      return false;
    }
  }
  return true;
}

//엑셀 다운
function excelDownload() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.box-number-search"),
  };

  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}

function setMasterApiParams() {
  let apiParams: any = {};
  apiParams.TEMP_ORD_ID = "";
  apiParams.SC_ORD_ID = ordId.value;
  apiParams.SC_ITEM_BAR_CD = searchInputValue("ITEM_BAR_CD");
  apiParams.ITEM_BAR_CD = searchInputValue("ITEM_BAR_CD");
  apiParams.SC_CHK_BOX_NO = checkBoxNoValue.value;
  apiParams.vrSrchUserNo = searchInputValue("vrSrchUserNo");
  return apiParams;
}

function onMasterApiParamsChanged(apiParams: any) {
  apiParams = setMasterApiParams();
  return apiParams;
}

function searchInputValue(value: string) {
  let searchValue = useSearchConditionStore()?.getSearchInputValue()[value];
  return searchValue != null ? searchValue : "";
}

function onDetailApiParamsChanged(apiParams: any) {
  apiParams.ITEM_BAR_CD = itemBarCd.value;
  return apiParams;
}

/**
 * 받은 객체 배열 중 특정 요소를 더한 뒤 결과값을 리턴하는 함수
 * @param array 객체 배열
 * @param str 배열 중 더할 칼럼명
 */
function getSum(array: any, str: string) {
  let num = 0;
  array.forEach((i: any) => (num += i[str]));
  return num;
}

async function getMasterData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSIT010/ordRitemList.action", apiParams, bodyData?.value, false);
  let res2 = await ApiService.postApi("/rest/WMSIT010/getBoxNum.action", apiParams, bodyData?.value, false);

  if (res.status && res2.status) {
    searchMasterData.value = res;
    searchDetailData.value = null;
    checkBoxNoValue.value = res2.result.BOXNUM;
  } else {
    return;
  }
  setSelectBox(document.getElementsByClassName("input-width-single")[2]);
  detailGridApi.value?.setRowData([]);

  if (searchMasterData.value) {
    masterGridTotalData.value = {
      //전체 SEQ
      TOTAL_SEQ: res.result.list.length,
      //전체주문량
      totalSpdList: getSum(res.result.list, "OUT_ORD_QTY"),
      //검수량
      totalSumSpdList: getSum(res.result.list, "CHK_QTY"),
      //잔여량
      chkSumSpdList: getSum(res.result.list, "ORD_QTY"),
    };
  } else {
    masterGridTotalData.value = {
      TOTAL_SEQ: 0,
      totalSpdList: 0,
      totalSumSpdList: 0,
      chkSumSpdList: 0,
    };
  }
  chkQty.value = 0;
  return res;
}
let chkQty = ref(0);

async function getDetailData(apiParams: any, bodyData: any) {
  let detailResultList = [];

  //searchDetailData 값 셋팅
  searchDetailData.value = searchMasterData.value;

  //searchMasterData 중 itemBarCd가 같은 것들만 추출해서 detailResultList에 넣는다
  detailResultList = searchMasterData.value.result.list.filter((row: any) => row.ITEM_BAR_CD === itemBarCd.value);

  // detailResultList가 없을경우,
  if (detailResultList.length < 1) {
    chkQty.value = 0;

    useToast().warning(t("common-toast.no-match-product-code", { productCode: itemBarCd.value }));

    detailGridTotalData.value = {
      TOTAL_SEQ_BOX: 0,
      totalSumSpdList_BOX: 0,
      chkSumSpdList_BOX: 0,
      resSumSpdList_BOX: 0,
    };
    return;
  }
  //detailResultList에 값이 존재할 경우
  else {
    //바코드 스캔 시 검수 완료된 건이면 (=> 잔여량이 0이다), detail-grid에 데이터 안뜸
    if (getSum(detailResultList, "ORD_QTY") == 0) {
      //오디오 울림
      audio();
      useToast().warning(t("common-toast.inspection-qty-over!!"));
      chkQty.value = 0;
      return;
    }
    chkQty.value++;

    let i = 0;
    while (i < detailResultList.length) {
      //ORD_QTY가 0 이상이면
      if (detailResultList[i].ORD_QTY > 0) {
        detailResultList[i].ORD_QTY--;
        detailResultList[i].CHK_QTY = chkQty.value;

        //기존 MasterData에서 받아오는 결과 리스트 인덱스에 변경된 데이터를 덮어씌운다
        searchMasterData.value.result.list[detailResultList[i].ORD_SEQ - 1] = detailResultList[i];

        //masterGrid 와 detailGrid에 변경된 데이터 반영
        masterGridApi.value!.applyTransaction({ update: [{ ...detailResultList[i] }] });
        detailGridApi.value!.applyTransaction({ update: [{ ...detailResultList[i] }] });
        break;
      }
      i++;
    }
    detailGridTotalData.value = {
      //전체 SEQ
      TOTAL_SEQ_BOX: detailResultList.length,
      //전체주문량
      totalSpdList_BOX: getSum(detailResultList, "OUT_ORD_QTY"),
      //검수량
      totalSumSpdList_BOX: getSum(detailResultList, "CHK_QTY"),
      //잔여량
      chkSumSpdList_BOX: getSum(detailResultList, "ORD_QTY"),
    };

    if (detailGridTotalData.value.totalSpdList_BOX == detailGridTotalData.value.totalSumSpdList_BOX) {
      useToast().success(t("common-toast.inspection-completed"));
    }
  }

  detailGridApi.value?.setRowData(detailResultList);
  searchDetailData.value.result.list = detailResultList;

  return searchDetailData.value;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss"></style>
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 10px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 00px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
