<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	delivery-invoice-output-modal.vue
 *  Description:    택배송장접수 모달
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="delivery-invoice-output">
    <div class="container">
      <div class="header">
        {{ t("modal-title.order-of-invoice-output") }}
      </div>
      <div class="input-item">
        <label for="">{{ t("input-title.output-order") }}</label>
        <select v-model="selectedIdx" @change="changeOutputOrder($event)">
          <option v-for="(option, i) in info.comTyOptions" :key="i" :value="option.code">{{ option.codeNm }}</option>
        </select>
      </div>
      <div class="input-item" v-if="info.comTy === '04' || info.comTy === '08'">
        <label for="">{{ t("input-title.invoice-form") }}</label>
        <select @change="changeInvoiceForm($event)">
          <option v-for="(option, i) in info.invoiceFormOptions" :key="i" :value="option.code">{{ option.codeNm }}</option>
        </select>
      </div>
      <div class="input-item">
        <label for="">{{ t("input-title.total-product-exposure-status") }}</label>
        <input @change="changeCheckboxValue($event)" v-model="checkBoxValue" type="checkbox" />
      </div>
      <div class="buttons">
        <button class="cancel" @click="() => info.closeEvent()">{{ t("button-name.close") }}</button>
        <button class="save" @click="() => info.clickFunction()">{{ t("button-name.invoice-output") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, ref } from "vue";
import { UtilService } from "@/services/util-service";
import { useI18n } from "vue-i18n";

// FrameWork Function Definitions
onMounted(() => {
  /* 물류센터가 카카오VX물류센터일 때 택배송장접수 모달 내 송장출력 select-box값 기본값 셋팅 */
  const selector = document.querySelector("select");
  if (UtilService.getCurrentLocation() === "0000003200") {
    for (let i = 0; selector!.length > i; i++) {
      if (selector!.children[i].innerHTML.includes("(4-2)")) {
        selector!.children[i].setAttribute("selected", "true");
      }
    }
  }

  /*반품접수 사용여부 셋팅*/
  if (info.itemAllYn === "Y") {
    checkBoxValue.value = true;
  }

  /* '추천박스로 접수일 때' */
  if (info.isChkOption102) {
    selectedIdx.value = "P01";
  }

  emits("orderFlag", selectedIdx);
});

// Variable Definitions
const { info } = defineProps<{
  info: {
    clickFunction: any;
    closeEvent: () => void;
    comTy: any;
    comTyOptions: any;
    comTyDefaultOptions: string;
    invoiceFormOptions?: any;
    itemAllYn: any;
    isChkOption102: any;
  };
}>();

const emits = defineEmits<{
  orderFlag: [value: any];
  invoiceOption: [value: any];
  checkedValue: [value: boolean];
}>();

const { t } = useI18n();
let checkBoxValue = ref<boolean>(false);
let selectedIdx = ref(info.comTyDefaultOptions as string);

// User Function Definitions
function changeOutputOrder(e: any) {
  emits("orderFlag", e.target.value);
}

function changeInvoiceForm(e: any) {
  emits("invoiceOption", e.target.value);
}

function changeCheckboxValue(e: any) {
  emits("checkedValue", e.target.value);
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.delivery-invoice-output {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 600px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    background-color: #080d2c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
    margin-bottom: 30px;
  }
  .input-item {
    display: flex;
    align-items: center;
    width: 85%;

    :nth-of-type(4) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &:not(:nth-of-type(4)) {
      margin-bottom: 15px;
    }

    label {
      @include labelStyle;
      width: 28%;
      color: $red;
    }
    input {
      width: 18px;
      height: 18px;
    }
    select {
      font-size: 13px;
      color: $font-bk;
      padding: 10px;
      border: solid 1px #d6d6d6;
      border-radius: 10px;
      width: 72%;
    }
  }

  &-input {
    font-size: 13px;
    color: $font-bk;
    padding: 10px;
    border: solid 1px #d6d6d6;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin-bottom: 16px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;
    margin-top: 30px;
    width: calc(100% - 20px);
    white-space: nowrap;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 70px;
      width: calc(50% - 5px);
    }
    .cancel {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
}
</style>
