<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	invoice-add-modal.vue
 *  Description:    송장추가접수 모달
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="invoice-add-modal">
    <div class="container">
      <div class="header">
        {{ t("modal-title.additional-invoice-quantity") }}
      </div>
      <div class="input-item">
        <label for="">{{ t("input-title.quantity") }}</label>
        <input @change="changeInvoiceQuantity($event)" v-model="invoiceQuantityValue" type="number" class="input" />
      </div>
      <div class="input-item">
        <label for="">{{ t("input-title.change-the-box") }}</label>
        <input v-model="checkBoxValue" type="checkbox" :class="[{ checkbox: checkBoxValue }]" />
        <div v-if="checkBoxValue" class="search-input-item">
          <select @change="changeBoxType($event)" class="input-item">
            <option v-for="(option, i) in useOptionDataStore().getOptionData().PARCEL_BOX_TY" :key="i" :value="option.CODE_CD">
              {{ option.hasOwnProperty("nameKey") ? t(`select-options.${option.nameKey}`) : option.CODE_NM }}
            </option>
          </select>
        </div>
      </div>
      <div class="buttons">
        <button class="cancel" @click="() => info.closeEvent()">{{ t("button-name.close") }}</button>
        <button class="save" @click="() => info.saveEvent()">{{ t("button-name.additional-issuance") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { useOptionDataStore } from "@/store";
import { ref } from "vue";

import { useI18n } from "vue-i18n";

// Variable Definitions
const { info } = defineProps<{
  info: {
    saveUrl: string;
    selectedItems: any;
    closeEvent: () => void;
    saveEvent: () => void;
  };
}>();

const { t } = useI18n();
let invoiceQuantityValue = ref("");
let checkBoxValue = ref(false);
const selectedValue = ref("");
const emits = defineEmits<{
  dlvAddCnt: [value: any];
  boxType: [value: any];
}>();

// User Function Definitions
function changeBoxType(e: any) {
  selectedValue.value = e.target.value;
  emits("boxType", selectedValue.value);
}

function changeInvoiceQuantity(e: any) {
  emits("dlvAddCnt", e.target.value);
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.invoice-add-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    background-color: #080d2c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 16px;
    width: 100%;
    margin-bottom: 20px;
  }
  .input-item {
    display: flex;
    align-items: center;
    width: 60%;
    margin-bottom: 10px;

    label {
      @include labelStyle;
      width: 40%;
      color: $red;
    }
    .input {
      font-size: 13px;
      color: $font-bk;
      padding: 10px;
      border: solid 1px #d6d6d6;
      border-radius: 10px;
      width: 60%;
    }
    select {
      font-size: 13px;
      color: $font-bk;
      padding: 10px;
      border: solid 1px #d6d6d6;
      border-radius: 10px;
      width: 100%;
    }
    .checkbox {
      width: 45%;
    }
  }

  &-input {
    font-size: 13px;
    color: $font-bk;
    padding: 10px;
    border: solid 1px #d6d6d6;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin-bottom: 16px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    white-space: nowrap;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 70px;
      width: calc(50% - 5px);
    }
    .cancel {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
</style>
