<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSDF111.vue
 *  Description:    배송추적이력 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="container">
    <h3 class="title">{{ t("popup-title.shipping-tracking-history") }}</h3>
    <!-- 상단 그리드 영역 -->
    <ag-grid-vue class="ag-theme-alpine top-ag-grid-size" :gridOptions="topGridOptions" />
    <!-- 배송 상태 아이콘 영역 -->
    <ul class="delivery-item-list">
      <li :class="['delivery-item', { active: () => currentLevel.value > 1 }]">
        <i class="delivery-icon lv1"></i>
        <p class="delivery-title">{{ t("text.register") }}</p>
      </li>
      <li :class="['delivery-item', { active: () => currentLevel.value >= 2 || currentLevel.value <= 4 }]">
        <i class="delivery-icon lv2-3-4"></i>
        <p class="delivery-title">{{ t("text.collection-processing") }}</p>
      </li>
      <li :class="['delivery-item', { active: () => currentLevel.value > 6 }]">
        <i class="delivery-icon lv5"></i>
        <p class="delivery-title">{{ t("text.delivery") }}</p>
      </li>
      <li :class="['delivery-item', { active: () => currentLevel.value == 6 }]">
        <i class="delivery-icon lv6"></i>
        <p class="delivery-title">{{ t("text.complete-2") }}</p>
      </li>
    </ul>
    <!-- input영역 -->
    <div class="input-item-list">
      <div class="input-item">
        <label for="">{{ t("input-title.delivery-company") }}</label>
        <input v-model="deliveryInputData.value.TRANS_CUST_NM" readonly type="text" />
      </div>
      <div class="input-item">
        <label for="">{{ t("input-title.transport-document-number") }}</label>
        <input v-model="deliveryInputData.value.INVOICE_NO" readonly type="text" />
      </div>
    </div>
    <!-- 하단 그리드 영역 -->
    <ag-grid-vue class="ag-theme-alpine bottom-ag-grid-size" :gridOptions="bottomGridOptions" />
  </div>
</template>

<script setup lang="ts">
import { onMounted, reactive } from "vue";

import { AgGridVue } from "ag-grid-vue3";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { useI18n } from "vue-i18n";
import { ApiService } from "@/services/api-service";

const strParameter = new URL(window.location.href).searchParams.get("strParameter");
const { t } = useI18n();
const currentLevel = reactive({ value: 0 } as { value: number });
const deliveryInputData = reactive({
  value: {
    TRANS_CUST_NM: "",
    INVOICE_NO: "",
  },
});

onMounted(() => {});

/* 상단 그리드 조회 */
async function searchTopGrid() {
  topGridOptions.api?.sizeColumnsToFit();
  const params = {
    INVC_NO: strParameter,
  };
  const res = await ApiService.postApi("/WMSDF111/listHeader_rn.action", params, {});
  if (res.status) {
    if (res.result.list.length > 0) {
      topGridOptions.api?.setRowData(res.result.list);
    }
  }
}

/* 하단 그리드 조회 */
async function searchBottomGrid(invcNo = strParameter) {
  bottomGridOptions.api?.sizeColumnsToFit();
  bottomGridOptions.api?.setRowData([]);
  const params = {
    INVC_NO: invcNo,
  };

  const res = await ApiService.postApi("/WMSDF111/list_rn.action", {}, params);
  if (res.status) {
    if (res.result.list.length > 0) {
      bottomGridOptions.api?.setRowData(res.result.list);
      currentLevel.value = res.result.list[0].INVOICE_LEVEL;
      deliveryInputData.value.INVOICE_NO = currentLevel.value = res.result.list[0].INVOICE_NO;
      deliveryInputData.value.TRANS_CUST_NM = currentLevel.value = res.result.list[0].TRANS_CUST_NM;
    }
  }
}

const topGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  onGridReady: () => {
    searchTopGrid();
    searchBottomGrid();
  },
  onCellClicked: (params: any) => {
    searchBottomGrid(params.data.INVC_NO);
  },
  headerHeight: 32,
  rowHeight: 32,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  columnDefs: [
    {
      field: "No",
      headerName: t("grid-column-name.no"),
      width: 60,
      cellStyle: { textAlign: "center" },
      valueGetter: (params: any) => {
        return params.node.rowIndex + 1;
      },
    },
    {
      field: "ORD_ID",
      headerName: t("grid-column-name.order-id"),
      cellStyle: { textAlign: "center" },
    },
    {
      field: "ORD_SEQ",
      headerName: t("grid-column-name.sequence"),
      cellStyle: { textAlign: "center" },
    },
    {
      field: "INVC_NO",
      headerName: t("grid-column-name.Invoice-Number"),
      cellStyle: { textAlign: "center" },
    },
    {
      field: "DLV_COMP_CD",
      headerName: t("grid-column-name.delivery-comp"),
      cellStyle: { textAlign: "center" },
    },
  ],
};

const bottomGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  rowClassRules: {
    "ag-row-text-bold": function (params: any) {
      if (params.rowIndex === 0) {
        return true;
      } else {
        return false;
      }
    },
  },
  rowSelection: "multiple",
  getRowId: (data) => {
    return data.data.RNUM;
  },
  columnDefs: [
    {
      field: "No",
      headerName: t("grid-column-name.no"),
      width: 60,
      cellStyle: { textAlign: "center" },
      valueGetter: (params: any) => {
        return params.node.rowIndex + 1;
      },
    },
    {
      field: "TIME_TRANS",
      headerName: t("grid-column-name.delivery-time"),
      cellStyle: { textAlign: "center" },
    },
    {
      field: "POST_WHERE",
      headerName: t("grid-column-name.current-location"),
      cellStyle: { textAlign: "center" },
    },
    {
      field: "DETAILS",
      headerName: t("grid-column-name.delivery-status"),
      cellStyle: { textAlign: "center" },
    },
  ],
};
</script>

<style lang="scss" scoped>
.container {
  width: 98%;
  margin: 0 auto;
}
.title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  margin: 30px 0;
}
.delivery-item-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 84px;
  .delivery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;

    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      width: 36px;
      height: 1px;
      background-color: #d8d8d8;
      right: -58px;
      top: 18px;
    }
    &.active {
      .delivery-title {
        color: $main;
      }
      .lv1 {
        background: url("/public/assets/images/delivery-history-01-on.svg") 0% 0% / contain no-repeat;
      }
      .lv2-3-4 {
        background: url("/public/assets/images/delivery-history-02-on.svg") 0% 0% / contain no-repeat;
      }
      .lv5 {
        background: url("/public/assets/images/delivery-history-03-on.svg") 0% 0% / contain no-repeat;
      }
      .lv6 {
        background: url("/public/assets/images/delivery-history-04-on.svg") 0% 0% / contain no-repeat;
      }
    }

    .lv1 {
      background: url("/public/assets/images/delivery-history-01.svg") 0% 0% / contain no-repeat;
    }

    .lv2-3-4 {
      background: url("/public/assets/images/delivery-history-02.svg") 0% 0% / contain no-repeat;
    }

    .lv5 {
      background: url("/public/assets/images/delivery-history-03.svg") 0% 0% / contain no-repeat;
    }
    .lv6 {
      background: url("/public/assets/images/delivery-history-04.svg") 0% 0% / contain no-repeat;
    }
  }
}
.delivery-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.delivery-title {
  letter-spacing: -0.92px;
  font-weight: bold;
  font-size: 14px;
  color: $main;
  color: $gray;
}

.input-item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
  .input-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    label {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: -1px;
      color: #727272;
    }
    input {
      width: 180px;
      padding: 10px 0 10px 13px;
      border-radius: 10px;
      background-color: #f6f7fc;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: -0.98px;
      color: $font-bk;
      border: none;
      outline: none;
    }
  }
}

.top-ag-grid-size {
  height: 150px;
}
.bottom-ag-grid-size {
  height: 223px;
}
</style>
