<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP640.vue
 *  Description:    DAS자료조회 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="device-list" class="device-list">
    <!--그리드영역-->
    <div class="device-list-container">
      <h3 class="device-list-title">{{ t("modal-title.das-data-search") }}</h3>
      <div class="search-area" ref="searchComponentRef">
        <search-container :data="DEVICELIST_SEARCH_INPUT" :use-setting="false" :unUsedRefreshButton="true">
          <template v-slot:search_input_slot>
            <search-container-input v-for="(props, i) in DEVICELIST_SEARCH_INPUT" :key="i" :data="props" :columnDefs="DEVICELIST_FORM_COLUMN_DEFS?.[props.title]" :modalData="null" />
          </template>
        </search-container>
      </div>
      <div class="device-list-grid">
        <grid-statistics-container :statisticsInfo="GRID_STATISTICS_INFO" :gridTotalData="gridTotalData" />
        <div class="device-list-grid-container">
          <div class="grid-header">{{ $t("grid-title.das-data-search") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
        </div>
      </div>
    </div>
    <!--버튼영역-->
    <div class="buttons">
      <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onBeforeMount, reactive, ref, onActivated, onDeactivated, watch } from "vue";

import { useI18n } from "vue-i18n";
import { AgGridVue } from "ag-grid-vue3";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";

import { UtilService } from "@/services/util-service";
import { ApiService } from "@/services/api-service";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import searchContainer from "@/components/layout/search-container.vue";
import gridStatisticsContainer from "@/components/layout/grid-statistics-container.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import { DEVICELIST_FORM_COLUMN_DEFS } from "../column-defs";
import { DEVICELIST_SEARCH_INPUT, GRID_STATISTICS_INFO } from "../input";
import { useToast } from "vue-toastification";

// Variable Definitions
const { t } = useI18n();
const inactive = ref<boolean>(false);
const gridTotalData = reactive({ value: {} as any });
const selectedDasOrdDateBefore = reactive({ value: {} as any });

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  await searchGridData();
});

watch(useSearchConditionStore()._searchInputValue, () => {
  if (!inactive.value) {
    allowGetSelectboxOptionsByOtherSearchCondition();
  }
});

// User Function Definitions
function onGridReady() {
  gridOptions.api?.setRowData([]);
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
}

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridOptions.api?.setRowData([]);
    gridTotalData.value = {};
    const apiParams = UtilService.getGridParams(DEVICELIST_SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
    const res = await ApiService.postApi("/WMSOP640/deviceIfListSearch_rn.action", apiParams, {});
    if (res.status) {
      if (res.result.list > 0) {
        gridOptions.api?.setRowData(res.result.list);
      } else {
        useToast().warning(t("common-toast.no-data-list"));
      }
    }

    const dashBoard = await ApiService.postApi("/WMSOP640/dashBoard_rn.action", {}, { vrSrchDasOrdDate: useSearchConditionStore().getSearchInputValue().vrSrchDasOrdDate });
    if (dashBoard.status) {
      gridTotalData.value = dashBoard.result.DS_DAS_DBOARD;
    }

    useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  }
}

function allowGetSelectboxOptionsByOtherSearchCondition() {
  const selectedDasOrdDateAfter = useSearchConditionStore().getSearchInputValue().vrSrchDasOrdDate;
  if (selectedDasOrdDateAfter && !UtilService.compareObjectKeyValue(selectedDasOrdDateAfter, selectedDasOrdDateBefore.value)) {
    selectedDasOrdDateBefore.value = selectedDasOrdDateAfter;
    getSelectboxOptionsByOtherSearchCondition(selectedDasOrdDateBefore.value);
  }
}

async function getSelectboxOptionsByOtherSearchCondition(e: any) {
  const bodyData: any = {
    vrDasOrdDt: e,
  };
  const res = await ApiService.postApi("/WMSOP640/getDasOrdDateByDegree_rn.action", {}, bodyData);
  if (res.result.DS_DAS_DEGREE.length > 0) {
    const options = [{ name: "", nameKey: "all", value: "" }];
    res.result.DS_DAS_DEGREE.forEach((option: any) => {
      option.CODE_NM = option.CODE + " :";
      option.CODE_CD = option.CODE;
      options.push(option);
    });
    useOptionDataStore().setOptionData({ vrSrchDasOrdDegree: options });
    DEVICELIST_SEARCH_INPUT[1].optionsAutoSelected!.allowAutoSelected = true;
  }
  useOptionDataStore().setAvailableWatchBySearchCondition(true);
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: DEVICELIST_FORM_COLUMN_DEFS,
  onGridReady: onGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  suppressClickEdit: true,
  rowModelType: "clientSide",
  enableRangeSelection: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.device-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }
  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 20px 10px 5px;
  }

  &-grid {
    position: relative;
    height: calc(100% - 195px);
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);
      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
      &-warehouse-title {
        margin-right: auto;
        border-radius: 50%;
      }
    }
    .ag-grid-size {
      height: calc(100% - 31px) !important;
    }

    &-container {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: 100%;
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
</style>
