<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG700/page.vue
 *  Description:    배차정보 조회 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header> </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header"></div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG700" };
</script>
<script setup lang="ts">
import { onMounted, onUnmounted, ref, watch } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import commonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/statistics/WMSTG700/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { IAvailableOptionsUtilParams } from "@/types";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

// Framework Function Definitions
onMounted(() => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  // 바로 onMounted 내에서 watch 설정
  watch(
    () => useSearchConditionStore().getSearchInputValue().vrSrchOrdType,
    async (vrSrchOrdType) => {
      const data = UtilService.getOptionApiData("WMSTG700");
      const res = await ApiService.postApi(`/rest/WINUS/WMSTG700.action`, {}, data);

      const setAvailableOptionsUtilParam: IAvailableOptionsUtilParams[] = [
        {
          inputId: "vrSrchOrdSubtype",
          availableList: vrSrchOrdType === "02" ? ["", "30", "33", "39", "121", "130", "131", "132", "133", "134"] : ["", "20", "22", "23", "25", "111"],
        },
      ];

      UtilService.setAvailableOptions(res.result.selectBoxInfos, setAvailableOptionsUtilParam);

      if (res.result.selectBoxInfos) {
        useOptionDataStore().setOptionData(res.result.selectBoxInfos);
      } else {
        useOptionDataStore().setOptionData(res.result);
      }
    }
  );
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

// User Function Definitions
function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.search-dispatch-information"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSTG700/list.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
