<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	context-modal.vue
 *  Description:    현재고 조회 세트상품조회 context-menu 팝업 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="wmsst010-context-modal">
    <div class="popup-curtain">
      <div :class="['search-modal', aboutToClose ? 'slide-up' : '']">
        <slot></slot>
        <h3 class="title">
          <!-- 모달 타이틀 영역-->
          {{ $t("modal-title.inquiry-of-set-product") }}
        </h3>
        <button class="close-btn" @click.prevent="closeSearchModal">
          <i class="btn-close-popup"></i>
        </button>
        <div class="search-area">
          <search-container :data="CONTEXT_SEARCH_INPUT" :use-setting="false" :un-used-refresh-button="true">
            <template v-slot:search_input_slot>
              <template v-for="(props, i) in CONTEXT_SEARCH_INPUT" :key="i">
                <search-container-input :data="props" :columnDefs="CONTEXT_MODAL_COLUMN_DEFS?.[props.title]" :modalData="CONTEXT_SEARCH_MODAL_INFO?.[props.title]" :pageInfo="null" />
              </template>
            </template>
          </search-container>
        </div>
        <control-container v-for="btnData in CONTEXT_CONTROL_BTN" :key="btnData.title">
          <control-button :data="btnData" :excelExport="excelExport" />
        </control-container>
        <div class="grid-title">
          <!-- 그리드 타이틀 영역-->
          {{ $t("grid-title.set-product-details") }}
        </div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="topGridOptions" :pinnedBottomRowData="[pinnedBottomRowData.value]" :excelStyles="excelStyles" />
        <div class="ag-paging-custom">
          <select @change="(e) => onPageSizeChanged(e, 'top')" class="page-size">
            <option v-for="(option, i) in topPagingOptions" :key="i" :value="option">{{ option }}</option>
          </select>
          <span>Total : {{ topTotalRows }}</span>
        </div>
        <div class="grid-title bottom-grid">
          <!-- 그리드 타이틀 영역-->
          {{ $t("grid-title.part-list") }}
        </div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="bottomGridOptions" />
        <div class="ag-paging-custom">
          <select @change="(e) => onPageSizeChanged(e, 'bottom')" class="page-size">
            <option v-for="(option, i) in bottomPagingOptions" :key="i" :value="option">{{ option }}</option>
          </select>
          <span>Total : {{ bottomTotalRows }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onBeforeMount, onMounted, reactive, ref, watch } from "vue";

import { CellClickedEvent, ExcelExportParams, GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

import ControlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import { ControlContainer } from "@/components/layout";
import searchContainer from "@/components/layout/search-container.vue";
import { ISelectedTab } from "@/types";
import { useToast } from "vue-toastification";
import { BOTTOM_GRID_COLUMN_DEFS, CONTEXT_MODAL_COLUMN_DEFS, TOP_GRID_COLUMN_DEFS } from "./column-defs";
import { CONTEXT_CONTROL_BTN, CONTEXT_SEARCH_INPUT, CONTEXT_SEARCH_MODAL_INFO } from "./input";

// Variable Definitions
const emits = defineEmits<{
  closeModal: [value: boolean];
}>();

const { currentRowData } = defineProps<{
  currentRowData: any;
}>();

const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const aboutToClose = ref(false as boolean);
const topPagingOptions = UtilService.getGridPagingOptions("WMSMS010_CONTEXT_MODAL");
const topPagingSize = ref<number>(topPagingOptions![0]);
const topTotalRows: any = ref<number>(0);
const bottomPagingOptions = UtilService.getGridPagingOptions("WMSMS010_CONTEXT_MODAL");
const bottomPagingSize = ref<number>(bottomPagingOptions![0]);
const bottomTotalRows: any = ref<number>(0);
let selectedTopGridItem = {} as any;
const excelStyles = [
  {
    id: "stringType",
    dataType: "String",
  },
];
let pinnedBottomRowData = reactive({ value: {} });
let topGridReadyParams = reactive({ value: {} as any });
let topGridData = reactive({ value: {} as any });
let inactive = ref(false);

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  topGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
    // column내 children요소 다국어 적용
    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        column.children[i].headerName = t("grid-column-name." + column.children[i].headerKey);
      }
    }
  });
  bottomGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
    // column내 children요소 다국어 적용
    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        column.children[i].headerName = t("grid-column-name." + column.children[i].headerKey);
      }
    }
  });
});

onMounted(async () => {
  bottomGridOptions.api?.setServerSideDatasource({
    getRows: (params: IServerSideGetRowsParams) => {
      params.successCallback([], 0);
    },
  });
  //마운트 되었을 때 선택된 행의 값으로 input 셋팅
  useSearchConditionStore().changeSearchInputValue("vrSrchCustCd", currentRowData.CUST_CD);
  useSearchConditionStore().changeSearchInputValue("vrSrchCustNm", currentRowData.CUST_NM);
  useSearchConditionStore().changeModalInputValue("S_CUST_CD", currentRowData.CUST_CD);
  useSearchConditionStore().changeModalInputValue("S_CUST_NM", currentRowData.CUST_NM);
  const currentCustModalData = {
    S_CUST_CD: currentRowData.CUST_CD,
    S_CUST_NM: currentRowData.CUST_NM,
  };
  useSelectedDataStore().selectedModalHandler({ "owner-in-group-product-modal": currentCustModalData });
  useSearchConditionStore().changeSearchInputValue("vrSrchItemCd", currentRowData.RITEM_CD);
  useSearchConditionStore().changeSearchInputValue("vrSrchItemNm", currentRowData.RITEM_NM);
  const currentItemModalData = {
    vrSrchItemCd: currentRowData.RITEM_CD,
    vrSrchItemNm: currentRowData.RITEM_NM,
  };
  useSelectedDataStore().selectedModalHandler({ "kit-product": currentItemModalData });
  useSearchConditionStore().changeSearchInputValue("vrSrchPartCd", "");
  useSearchConditionStore().changeSearchInputValue("vrSrchPartNm", "");
  useSearchConditionStore().changeModalInputValue("vrSrchItemCd", "");
  useSearchConditionStore().changeModalInputValue("vrSrchItemNm", "");
  useSelectedDataStore().selectedModalHandler({ part: {} });
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchTopGrid();
  }
});

// User Function Definitions
const topGridReady = (params: any) => {
  topGridOptions.api = params.api;
  topGridReadyParams.value = params;
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

const bottomGridReady = () => {
  bottomGridOptions.api?.setServerSideDatasource({
    getRows: (params: IServerSideGetRowsParams) => {
      params.successCallback([], 0);
    },
  });
};

const topPagination = () => {
  if (topGridOptions?.api) {
    topTotalRows.value = topGridOptions.api?.paginationGetRowCount();
  }
};

const bottomPagination = () => {
  if (bottomGridOptions?.api) {
    bottomTotalRows.value = bottomGridOptions.api?.paginationGetRowCount();
  }
};
const topGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  columnDefs: TOP_GRID_COLUMN_DEFS,
  headerHeight: 25,
  rowHeight: 25,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  suppressContextMenu: true,
  onGridReady: topGridReady,
  pagination: true,
  paginationPageSize: topPagingOptions![0],
  cacheBlockSize: topPagingOptions![0],
  onPaginationChanged: topPagination,
  getRowId: (data: any) => {
    return data.data.RNUM;
  },
  onCellClicked: onCellClicked,
  onSelectionChanged: onSelectionChanged,
};

function onCellClicked(params: CellClickedEvent) {
  params.node.setSelected(false);
  selectedTopGridItem = params.data;
  searchBottomGrid();
}

function onSelectionChanged() {
  if (topGridOptions.api?.getSelectedRows().length !== 0) {
    searchBottomGrid();
  }
}

const bottomGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  columnDefs: BOTTOM_GRID_COLUMN_DEFS,
  headerHeight: 25,
  rowHeight: 25,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  suppressContextMenu: true,
  onGridReady: bottomGridReady,
  pagination: true,
  paginationPageSize: bottomPagingOptions![0],
  cacheBlockSize: bottomPagingOptions![0],
  onCellDoubleClicked: onCellDoubleClicked,
  onPaginationChanged: bottomPagination,
  getRowId: (data: any) => {
    return data.data.RNUM;
  },
};
function onCellDoubleClicked(params: any) {
  /**
   * 이동해야할 메뉴 설정
   */
  const menu: ISelectedTab = {
    id: "WMSST020_1",
    mainMenuTitle: "",
    path: "stock/WMSST020_1",
    title: "",
  };

  /**
   * WMSST020_1
   */
  useSearchConditionStore().changeSearchInputValue("vrSrchItemCd", params.data.RITEM_CD, menu.id);

  /**
   * 페이지 이동
   */
  useTabsStore().selectTab(menu);
  useTabsStore().setChangedSelectedTabByNotClickedTabMenu("select-box", true);
}

function changeColumnDef() {
  const columnDefs = topGridReadyParams.value.columnApi.columnModel.columnDefs;
  columnDefs?.forEach((column: any) => {
    if (column.headerKey === "no") {
      column.valueGetter = (params: any) => {
        if (Object.hasOwn(params.data, "RNUM")) {
          return params.node.rowIndex + 1;
        } else {
          return t("grid-column-name.sum");
        }
      };
    }
    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        if (column.children[i].headerKey === "code") {
          column.children[i].valueGetter = (params: any) => {
            if (Object.hasOwn(params.data, "RNUM")) {
              return params.data.RITEM_CD;
            } else {
              return t("grid-column-name.set-product-quantity");
            }
          };
        }
        if (column.children[i].headerKey === "product-code") {
          column.children[i].valueGetter = (params: any) => {
            if (Object.hasOwn(params.data, "RNUM")) {
              return params.data.PART_RITEM_CD;
            } else {
              return t("grid-column-name.partial-quantity");
            }
          };
        }
      }
    }
  });
  topGridOptions.api?.setColumnDefs(columnDefs);
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event, gridType: any) {
  const target = e.target as HTMLSelectElement;
  if (gridType === "top") {
    topGridOptions.api?.paginationSetPageSize(Number(target.value));
    topGridOptions.api?.setCacheBlockSize(Number(target.value));
    topPagingSize.value = Number(target.value);
  } else if (gridType === "bottom") {
    bottomGridOptions.api?.paginationSetPageSize(Number(target.value));
    bottomGridOptions.api?.setCacheBlockSize(Number(target.value));
    bottomPagingSize.value = Number(target.value);
  }
}

// 모달이 마운트 되었을때, 검색했을때 로우데이터 요청
// 상단 그리드 검색
async function searchTopGrid() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    initBeforeSearchGridData();
    const searchConditions = CONTEXT_SEARCH_INPUT;
    const apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams.func = "fn_setWMSST010";
    apiParams.MOVE_DT = "";
    apiParams.WORK_CD = "";
    apiParams.WORK_ID = "";
    apiParams.detail_ritem_cd = "";
    apiParams.strNewGb = "";
    apiParams.MAIN_ID = "";
    //선택한 행의 데이터를 가지고 조회하는 경우와 모달에서 새로 선택한 값을 가지고 조회하는 경우
    if (useSearchConditionStore().getSearchInputValue().vrSrchItemCd !== currentRowData.RITEM_CD) {
      apiParams.vrSrchItemCd = useSearchConditionStore().getSearchInputValue().vrSrchItemCd;
    } else {
      apiParams.vrSrchItemCd = currentRowData.RITEM_CD;
    }
    if (useSearchConditionStore().getSearchInputValue().vrSrchItemNm !== currentRowData.RITEM_CD) {
      apiParams.vrSrchItemNm = useSearchConditionStore().getSearchInputValue().vrSrchItemNm;
    } else {
      apiParams.vrSrchItemNm = currentRowData.RITEM_CD;
    }
    apiParams.vrSrchCustId = "";
    topGridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        setPagingTopBodyData(params);
        topGridData.value = await ApiService.postApi("/WMSST010/poplist_rn.action", apiParams, bodyData.value);
        if (topGridData.value.status) {
          if (topGridData.value.result.list.length > 0) {
            params.successCallback(topGridData.value.result.list, topGridData.value.result.list.length);
            pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(topGridData.value.result.list, pinnedBottomRowData.value);
          } else {
            params.successCallback([], 0);
            useToast().warning(t("common-toast.no-data-list"));
          }
        } else {
          params.successCallback([], 0);
        }
      },
    });
    bottomGridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        params.successCallback([], 0);
      },
    });
  }
  useSearchConditionStore().setAvailableSearchBySearchCondition(false);
}
function initBeforeSearchGridData() {
  topGridOptions.api?.deselectAll();
  bottomGridOptions.api?.deselectAll();
  changeColumnDef();
  pinnedBottomRowData.value = {
    STOCK_QTY: 0,
    PART_QTY: 0,
  };
}

//하단 그리드 검색
async function searchBottomGrid() {
  bottomGridOptions.api?.deselectAll();
  const apiParams = {
    vrRitemId: selectedTopGridItem.RITEM_ID,
    vrUomId: currentRowData.UOM_ID,
    vrBlNo: !currentRowData.BL_NO ? "" : currentRowData.BL_NO,
  };
  bottomGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBottomBodyData(params);
      const bottomGridData = await ApiService.postApi("/WMSST010/popdetail_rn.action", apiParams, bodyData.value);
      if (bottomGridData.status && bottomGridData.result.list.length > 0) {
        params.successCallback(bottomGridData.result.list, bottomGridData.result.list.length);
      } else {
        params.successCallback([], 0);
      }
    },
  });
}

// 상단 그리드 엑셀 내보내기
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; TOP_GRID_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(TOP_GRID_COLUMN_DEFS[i], "export")) {
      columnKeys.push(TOP_GRID_COLUMN_DEFS[i].field);
    }
    // children 컬럼
    if (Object.hasOwn(TOP_GRID_COLUMN_DEFS[i], "children")) {
      for (let j = 0; TOP_GRID_COLUMN_DEFS[i].children.length > j; j++) {
        if (Object.hasOwn(TOP_GRID_COLUMN_DEFS[i].children[j], "export")) {
          columnKeys.push(TOP_GRID_COLUMN_DEFS[i].children[j].field);
        }
      }
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.realtime-stock"),
    columnKeys,
  };
  topGridOptions.api?.exportDataAsExcel(excelExportParams);
}

// grid에 paging option 적용
function setPagingTopBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;
  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(topPagingSize.value),
    page: String(currentPage),
    sidx: null,
    sord: "asc",
  };
}

function setPagingBottomBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;
  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(bottomPagingSize.value),
    page: String(currentPage),
    sidx: null,
    sord: "asc",
  };
}

// 모달에서 닫기 버튼 클릭
function closeSearchModal() {
  aboutToClose.value = true;
  emits("closeModal", false);
  aboutToClose.value = false;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#wmsst010-context-modal {
  .popup-curtain {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 15;
    background-color: rgba($color: #000000, $alpha: 0.3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-modal {
    @include slideDownModalAnimation;
    max-width: 1000px;
    min-width: 800px;
    width: 70vw;
    border-radius: 15px;
    background-color: white;
    padding: 28px 13px 20px 13px;

    &.slide-up {
      @include slideUpModalAnimation;
    }
    .title {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: -1px;
      text-align: center;
      margin-bottom: 49px;
    }
    .close-btn {
      @include flexCenter;
      position: absolute;
      right: 27px;
      top: 25px;
      background-color: rgba($color: $main, $alpha: 0.1);
      width: 36px;
      height: 36px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: rgba($color: $main, $alpha: 0.3);
      }
    }

    .search-area {
      display: flex;
      justify-content: space-between;
      position: relative;
      //margin 상우하좌
      margin: 0px 10px 0px 10px;
      > button {
        @include flexCenter;
        width: 68px;
        height: 100%;
        border-radius: 10px;
        background-color: $main;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .grid-title {
      color: white;
      font-weight: bold;
      background-color: #374a8d;
      border-radius: 5px 5px 0 0;
      font-size: 14px;
      padding: 7px 10px;
    }
    > .buttons {
      margin-top: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 31px;
      > button {
        width: 50%;
        height: 44px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: bold;
      }
      > .close {
        @include btnColorStyle($font-secondary);
      }
    }

    .ag-grid-size {
      width: 100%;
      height: 200px;
    }

    .page-size {
      bottom: 95px;
    }
  }
  .context-search-area {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 19px;
  }
  .bottom-grid {
    margin-top: 15px;
  }
}
</style>
