<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	search-container.vue
 *  Description:    search영역 input컴포넌트들을 담고있는 list 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-container" @keyup.prevent="keyupOnMyPage">
    <div class="form">
      <slot name="search_input_slot" class="slotHidden"></slot>
      <button id="search-row-data" @click.prevent="searchRowData">
        <i class="btn-search"></i>
      </button>
    </div>
    <button v-if="useSetting">
      <i class="btn-setting-filter"></i>
    </button>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useSearchConditionStore, useSelectedDataStore } from "@/store";
import type { ISearchInput } from "@/types";
import { GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { reactive, ref } from "vue";

// Variable Definitions
const { useSetting, gridApi, selectedRowItem } = defineProps<{
  data: ISearchInput[];
  useSetting: boolean;
  gridApi?: GridApi | null;
  selectedRowItem: any;
}>();
const emits = defineEmits<{
  setIsMore: [value: boolean];
}>();
const pagingOptions = UtilService.getGridPagingOptions("WMSST010");
const pagingSize = ref<number>(pagingOptions![0]);
const bodyData = reactive({ value: {} as any });

// Framework Function Definitions

// User Function Definitions
function keyupOnMyPage(ev: any) {
  if (ev.key === "Enter" && ev.target.id === "search-container-input") {
    searchRowData();
  }
}

function searchRowData() {
  gridApi?.deselectAll();

  const apiParams: any = {};
  apiParams.vrRitemId = selectedRowItem.value["RITEM_ID"] || "";
  apiParams.vrUomId = selectedRowItem.value["UOM_ID"] || "";
  apiParams.txtSrchLocId = "";
  apiParams.vrSrchUnitNo = !Object.hasOwn(useSearchConditionStore().getSearchInputValue(), "vrSrchUnitNo") ? "" : useSearchConditionStore().getSearchInputValue().vrSrchUnitNo;
  apiParams.vrSrchLockYn = useSearchConditionStore().getSearchInputValue().vrSrchLockYn;
  apiParams.vrBlNo = !Object.hasOwn(useSearchConditionStore().getSearchInputValue(), "vrSrchBlNo") ? "" : useSearchConditionStore().getSearchInputValue().vrSrchBlNo;
  apiParams.vrInCustId = !Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "receiving-address") ? "" : useSelectedDataStore().getSelectedModalData()["receiving-address"].CUST_ID;

  gridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const gridData = await ApiService.postApi("/WMSST010/sublist_rn.action", apiParams, bodyData.value);
      params.successCallback(gridData.result.list, UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows));

      useSearchConditionStore().setAvailableSearchBySearchCondition(false);
    },
  });
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-container {
  min-width: 1100px;
  height: auto;
  padding: 0px 0px 10px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  > .form {
    @include flexbox(row, flex-start, center, wrap);
    row-gap: 10px;
    position: relative;
    width: 100%;
    max-height: 98px;
    padding-right: 58px;
    margin-bottom: 0px;
    transition: all 0.4s ease;
    margin-bottom: 0px;
    max-height: 98px;
    &.is-more {
      max-height: 100vh;
      &.margin {
        margin-bottom: 12px;
      }
    }
    > button {
      @include flexCenter;

      width: 62px;
      height: 100%;
      border-radius: 10px;
      background-color: $main;
      cursor: pointer;
      position: absolute;
      right: 23px;
    }
  }
  > button {
    position: absolute;
    right: 23px;
    bottom: 12px;
    background-color: transparent;
  }
}
</style>
