<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST010/detail-list-grid.vue
 *  Description:    재고관리/현재고관리 상세 현재고 조회 그리드 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.10. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <detail-list-grid-filter :gridApi="gridApi" v-if="isOpen" :isOpen="isOpen" :selectedRowItem="selectedRowItem" />
    <control-container>
      <div v-for="btnData in controlBtn.value" :key="btnData.title">
        <control-button
          v-if="btnData['display'] === 'Y'"
          :data="btnData"
          :key="btnData.title"
          :saveRowData="saveRowData"
          :excelExport="excelExport"
          :allExcelExport="allExcelExport"
          :filter="filter"
          :printing="fn_ozPrint1" />
      </div>
    </control-container>
    <div class="grid-header">{{ t("grid-title.detailed-stock") }}</div>
    <ag-grid-vue
      class="ag-theme-alpine ag-grid-size"
      :gridOptions="gridOptions"
      :modules="[ExcelExportModule]"
      :context="{ ...DETAIL_CELL_RENDERER_INFO, ...GRID_DATE_INPUT_INFO }"
      :class="{ 'filter-open': isOpen }" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { IOZReportArgument, OZReport } from "@/services/report-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useConfirmStore, useSearchConditionStore, useSelectedDataStore, useTabsStore, userStore } from "@/store";

import { FORM_DETAIL_COLUMN_DEFS } from "./column-defs";
import DetailListGridFilter from "./detail-list-grid-filter.vue";
import { DETAIL_CELL_RENDERER_INFO, DETAIL_LIST_GRID_CONTROL_BTN, GRID_DATE_INPUT_INFO, SEARCH_INPUT } from "./input";

import { ISelectedTab } from "@/types";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule, ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";

// Variable Definitions
const { selectedRowItem } = defineProps<{
  selectedRowItem: any;
}>();
const { t } = useI18n();
const emits = defineEmits(["onPageSizeChanged"]);
const pagingOptions = UtilService.getGridPagingOptions("WMSST010");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const bodyData = reactive({ value: {} as any });
let gridApi: GridApi | null = null;
const isOpen = ref(false);
const btnInfo = reactive({ value: [] } as { value: any });
const inactive = ref(false);
const selectedItems = reactive({ value: {} as any });
const controlBtn = reactive({ value: DETAIL_LIST_GRID_CONTROL_BTN as any });
const page = reactive({ value: {} as any });

onMounted(() => {
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST010", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
    // column내 children요소 다국어 적용
    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        column.children[i].headerName = t("grid-column-name." + column.children[i].headerKey);
      }
    }
  });

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });

  btnInfo.value = DETAIL_LIST_GRID_CONTROL_BTN;
});

watch(selectedRowItem, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    setTimeout(() => {
      gridApi?.setServerSideDatasource({
        getRows: async (params: IServerSideGetRowsParams) => {
          UtilService.setGridData("server-side", gridApi, null, params);
        },
      });
    }, 50);
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
  gridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      UtilService.setGridData("server-side", gridApi, null, params);
      useSearchConditionStore().setAvailableSearchBySearchCondition(false);
    },
  });
};

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
  },
  columnDefs: FORM_DETAIL_COLUMN_DEFS,
  enableRangeSelection: true,
  onGridReady: onGridReady,
  onPaginationChanged: onPaginationChanged,
  onRowSelected: onSelectionChanged,
  onRowDoubleClicked: onRowDoubleClicked,
  headerHeight: 25,
  rowHeight: 25,
  suppressRowClickSelection: true, // row클릭시 체크박스 체크방지
  suppressContextMenu: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  suppressClickEdit: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  groupSelectsChildren: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

// 그리드 데이터 검색
async function searchGridData() {
  gridApi?.deselectAll();
  const apiParams: any = {};
  if (selectedRowItem.value) {
    apiParams.vrRitemId = selectedRowItem.value["RITEM_ID"];
    apiParams.vrUomId = selectedRowItem.value["UOM_ID"] || "";
  }
  apiParams.txtSrchLocId = "";
  apiParams.vrZoneGubunId = "";
  apiParams.vrSrchCustId = "";
  apiParams.vrSrchLocType = "";
  apiParams.vrSrchLcId = JSON.parse(userStore().getCurrentUser()).location.LC_ID;
  apiParams.chkEmptyStock = false;

  gridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      if (UtilService.isEmptyObject(selectedRowItem.value)) {
        UtilService.setGridData("server-side", gridApi, null, params);
        return;
      }
      setPagingBodyData(params);
      const gridData = await ApiService.postApi("/WMSST010/sublist_rn.action", apiParams, bodyData.value, false);
      if (gridData.status) {
        if (gridData.result.list.length > 0) {
          UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
        }
      } else {
        UtilService.setGridData("server-side", gridApi, null, params);
      }
      useSearchConditionStore().setAvailableSearchBySearchCondition(false);
    },
  });
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(selectedItems.value);
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(selectedItems.value);
  }
}

// 디테일 그리드 저장
async function saveRowData() {
  selectedItems.value = gridApi?.getSelectedRows();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    gridApi?.deselectAll();
    let data: any = {
      _fullpath: "",
      selectIds: "0",
      D_selectIds: String(selectedItems.value.length),
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      data["D_ST_GUBUN0" + [i]] = "UPDATE";
      data["D_REAL_PLT_QTY" + [i]] = String(selectedItems.value[i].REAL_PLT_QTY);
      data["D_STOCK_ID" + [i]] = String(selectedItems.value[i].STOCK_ID);
      data["D_OUT_EXP_QTY" + [i]] = String(selectedItems.value[i].OUT_EXP_QTY);
      data["D_LOCK_YN" + [i]] = selectedItems.value[i].LOCK_YN;
      data["D_ITEM_BEST_DATE_END" + [i]] = selectedItems.value[i].ITEM_BEST_DATE_END;
      data["D_MAKE_DT" + [i]] = selectedItems.value[i].MAKE_DT;
    }

    const result = await ApiService.postApi("/WMSST010/save_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    return console.log(err);
  }
}

//엑셀 export
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; FORM_DETAIL_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_DETAIL_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_DETAIL_COLUMN_DEFS[i].field);
    }

    // children 컬럼
    if (Object.hasOwn(FORM_DETAIL_COLUMN_DEFS[i], "children")) {
      for (let j = 0; FORM_DETAIL_COLUMN_DEFS[i].children.length > j; j++) {
        if (Object.hasOwn(FORM_DETAIL_COLUMN_DEFS[i].children[j], "export")) {
          columnKeys.push(FORM_DETAIL_COLUMN_DEFS[i].children[j].field);
        }
      }
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.realtime-detailed-stock"),
    columnKeys,
  };

  gridApi?.exportDataAsExcel(excelExportParams);
}

// 전체 엑셀 export
async function allExcelExport() {
  const filterConditions = SEARCH_INPUT.filter((option: any) => {
    return option.title !== "option";
  });

  let apiParams = UtilService.getGridParams(filterConditions, useSelectedDataStore(), useSearchConditionStore());

  if (apiParams.vrSrchItemOrdGb) {
    apiParams.vrSrchItemOrdGb = useSearchConditionStore().getSearchInputValue().vrSrchItemOrdGb;
  } else {
    apiParams.vrSrchItemOrdGb = "01";
  }

  apiParams.GridId = selectedRowItem.value.RNUM ? String(selectedRowItem.value.RNUM) : "";
  apiParams.localDate = dateFormat(new Date().getTime());

  const bodyData: any = {
    _fullpath: "",
    today: UtilService.getToday(),
  };

  const res = await ApiService.postApi("/WMSST010/excel3_rn.action", {}, { ...bodyData, ...apiParams }, true, true, "blob");
  if (res.status === 200) {
    UtilService.getExcelFile(res, t("excel-export-file-name.realtime-detailed-stock"));
  }
}

function onRowDoubleClicked(params: any) {
  /**
   * 이동해야할 메뉴 설정
   */
  const menu: ISelectedTab = {
    id: "WMSST020_1",
    mainMenuTitle: "",
    path: "stock/WMSST020_1",
    title: "",
  };
  /**
   * WMSST020_1 페이지 검색영역 화주, 상품|물류용기 select box 값 변경
   */
  params.data.ITEM_CODE = params.data.RITEM_CD; // WMSST501_2의 상품|물류용기 값 넣어주기 위한 데이터 생성 (WMSST051_1 그리드 데이터 key와 WMSST501_2 검색영역 input id가 상이해서 맞춰주는 작업)
  params.data.ITEM_KOR_NM = params.data.RITEM_NM;
  useSelectedDataStore().selectedModalHandler({ product: params.data }, menu.id);

  /**
   * WMSST020_1 페이지 검색영역 날짜변경
   */
  const date = new Date(params.data.WORK_DT);
  const newDate = date.setDate(date.getDate() - 7);
  const dateIds = ["vrSrchReqDtFrom", "vrSrchReqDtTo"];
  const dateDatas = [new Date(newDate).toISOString().split("T")[0], params.data.WORK_DT];
  useSearchConditionStore().changeSearchInputValue(dateIds[0], dateDatas[1], menu.id);
  useSearchConditionStore().changeSearchInputValue(dateIds[1], dateDatas[1], menu.id);

  /**
   * 페이지 이동
   */
  useSelectedDataStore().selectedInfoHandler(params.data, true);
  useTabsStore().selectTab(menu);
  useTabsStore().setChangedSelectedTabByNotClickedTabMenu("select-box", true);
}

function dateFormat(timeStamp: any) {
  const date = new Date(timeStamp);

  let month: number | string = date.getMonth() + 1;
  let day: number | string = date.getDate();
  let hour: number | string = date.getHours();
  let minute: number | string = date.getMinutes();
  let second: number | string = date.getSeconds();

  month = month >= 10 ? month : "0" + month;
  day = day >= 10 ? day : "0" + day;
  hour = hour >= 10 ? hour : "0" + hour;
  minute = minute >= 10 ? minute : "0" + minute;
  second = second >= 10 ? second : "0" + second;

  return date.getFullYear() + "/" + month + "/" + day + " " + hour + ":" + minute + ":" + second;
}

function filter() {
  isOpen.value = !isOpen.value;
  if (isOpen.value) {
    btnInfo.value[3].title = "close-filter";
  } else {
    btnInfo.value[3].title = "filter";
  }
}

/**
 * 출력 - 재고상세내역
 */
function fn_ozPrint1() {
  if (UtilService.isEmptyObject(selectedItems.value) || selectedItems.value.length < 1) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }
  const uom_id = selectedItems.value[0]["UOM_ID"];
  const ritem_id = selectedItems.value[0]["RITEM_ID"];
  const vrBlNo = selectedItems.value[0]["BL_NO"];
  const vrSrchUnitNo = useSearchConditionStore().getSearchInputValue()["vrSrchUnitNo"];
  const txtSrchLocId = useSelectedDataStore().getSelectedModalData()["location"]?.["LOC_ID"];
  const vrSrchLockYn = useSearchConditionStore().getSearchInputValue()["vrSrchLockYn"];
  const vrZoneGubunId = useSearchConditionStore().getSearchInputValue()["vrZoneGubunId"];

  let ozReport = new OZReport({
    title: t("popup-title.stock-detail-list"),
    fileName: "WINUSOP513B",
    reportName: "WINUSOP513.ozr",
    odiName: "WINUSOP513",
  } as IOZReportArgument);

  ozReport.SetOdiParam({
    vrRitemId: ritem_id,
    vrUomId: uom_id,
    vrBlNo: vrBlNo == false ? "" : vrBlNo,
    txtSrchLocId: txtSrchLocId == undefined ? "" : txtSrchLocId,
    vrSrchUnitNo: vrSrchUnitNo == undefined ? "" : vrSrchUnitNo,
    vrSrchLockYn: vrSrchLockYn == undefined ? "N" : vrSrchLockYn,
    vrZoneGubunId: vrZoneGubunId == undefined ? "" : vrZoneGubunId,
  });

  let asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_confrimReportPopup", "1100", "780") as any;
  asppop.focus();
}
</script>

<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 71px);
}

.filter-open {
  height: calc(100% - 140px);
}

.grid {
  &-container {
    height: 49%;
    width: 100%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
