<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	search-container-input.vue
 *  Description:    Search Area에서 사용되는 Input Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <search-modal v-if="showModal && modalData" :modalData="modalData" :columnDefs="columnDefs" :pageInfo="pageInfo" :searchContainerInputDefs="data" @closeSearchModal="showModal = false" />
  <!--한줄에 input이 2개, 3개인경우 구분-->
  <div :class="['search', data.width]">
    <!--필수 유무-->
    <i v-if="data.required" class="required icon-required"> </i>
    <span v-if="koreanPattern.test(data.title)" class="search-title">{{ data.title }}</span>
    <span v-else class="search-title">{{ t("input-title." + data.title) }}</span>
    <div class="search-input">
      <!--검색 아이콘 유무-->
      <button v-if="data.isSearch" :class="[data.disabled, 'search-input-button']" @click.prevent="changeShowModal">
        <i class="btn-search-component"></i>
      </button>
      <div
        v-for="(typeName, i) in data.types"
        :key="i"
        :class="{
          'input-width-single': data.types?.length === 1,
          'input-width-double': data.types?.length === 2,
          'input-width-triple': data.types?.length === 3,
          date: typeName === 'date',
        }">
        <!--input type이 text or date인 경우-->
        <input
          v-if="typeName === 'text' || typeName === 'date'"
          id="search-container-input"
          class="text-date-input"
          :class="[`${data.disabled} ${data.types?.length === 2 ? 'double' : ''} search-input-item search-input-item-select`]"
          :type="typeName"
          :value="setInputValue(i)"
          :placeholder="data.placeholder ? t('input-placeholder.' + data.placeholder[i]) : ''"
          @change="
            (e) => {
              changeSearchInputValue(e, data.ids[i], data.isModal);
              if (data.isSearch) {
                focusOutSearchEvent(e, data, data.ids[i], data.searchApiKeys[i]);
              }
            }
          " />
        <!-- input type이 select인 경우 -->
        <div v-else-if="typeName === 'select-box'" class="search-input-item" :class="{ single: data.types?.length === 1, double: data.types?.length === 2, disabled: data.optionsReadOnly }">
          <div class="select search-input-item-input" :class="data.disabled" @click="showSelectList = !showSelectList">
            {{ selectedValue }}
          </div>
          <i @click="showSelectList = !showSelectList" :class="['btn-dropbox-component', showSelectList ? 'on' : '', data.disabled]"></i>
          <ul :class="['search-select-list', showSelectList === true ? 'slide-down' : showSelectList === false ? 'slide-up' : '']" tabindex="-1">
            <li v-for="(option, j) in data.options" :key="j" :class="['search-select-item', selectedValue && option.name == selectedValue ? 'on' : '']" @click="setSelectValue(option, $event)">
              {{ option.name }}
              <i v-if="selectedValue && option.name == selectedValue" class="dropbox-selected"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { SearchModal } from "@/popups";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { ISearchInput } from "@/types";
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

// Variable Definitions
const { t } = useI18n();
const { data, columnDefs, modalData, pageInfo } = defineProps<{
  data: ISearchInput;
  columnDefs: any;
  modalData: any;
  pageInfo?: any;
}>();
const showSelectList = ref(null as boolean | null);
const selectedValue = ref<string>(t("select-options.all"));
// 모달 show상태 기존 ref(false) 에서 모달이 열리는 조건(포커스아웃, 검색아이콘클릭)을 구분하기 위해 구조변경
// 위의 내용 구분할 필요없이 코드수정으로 해결 다시 불리언으로 변경
const showModal = ref<boolean>(false);
const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 다국어 아직 적용하지 못한 title 임시처리...
const emits = defineEmits(["selectedValue"]);
const setIntervalCount = reactive({
  autoSelectedOption: 0 as number,
  mergeSelectedOptions: 0 as number,
  autoSelectedOptionByOtherPageInfo: 0 as number,
});
const inactive = ref<boolean>(false);

// Framework Function Definitions
onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

onMounted(() => {
  // selectbox option 다국어 적용
  data.options?.forEach((option: any) => {
    if (option.nameKey) {
      option.name = t("select-options." + option.nameKey);
    }
  });

  if (data.types) {
    // date input 초기값 설정
    const today = UtilService.getToday();
    for (let i = 0; data.types.length > i; i++) {
      if (data.types[i] === "date") {
        if (!useSearchConditionStore().getSearchInputValue()[data.ids[i]]) {
          useSearchConditionStore().changeSearchInputValue(data.ids[i], today);
        }
      }
    }
  }

  window.addEventListener("click", (e: any) => {
    if (!e.target.classList.value.includes("search-input-item") && !e.target.classList.value.includes("btn-dropbox-component")) {
      if (showSelectList.value) {
        showSelectList.value = false;
      }
    }
  });

  // select box option 자동 선택
  const setOptionsAutoSelected = setInterval(() => {
    setIntervalCount.autoSelectedOption++;
    if (setIntervalCount.autoSelectedOption > 20) {
      setIntervalCount.autoSelectedOption = 0;
      clearInterval(setOptionsAutoSelected);
    }
    if (!UtilService.isEmptyObject(useOptionDataStore().getOptionData())) {
      clearInterval(setOptionsAutoSelected);
      if (data.optionsAutoSelected) {
        let option;
        const autoSelectedKeyIndex = data.optionsAutoSelected.autoSelectedKeyIndex;
        if (autoSelectedKeyIndex || autoSelectedKeyIndex === 0) {
          if (!UtilService.isEmptyObject(useOptionDataStore().getOptionData()[data.optionsKey!])) {
            option = useOptionDataStore().getOptionData()[data.optionsKey!][autoSelectedKeyIndex];
          } else if (data.options) {
            option = data.options[autoSelectedKeyIndex];
          }
        } else {
          option = data.optionsAutoSelected;
        }
        if (!UtilService.isEmptyObject(option)) {
          setSelectValue(option);
        }
      }
    }
  }, 500);
});

/**
 * 검색조건 초기화시 select-box autoSelection 진행
 */
watch(useSearchConditionStore()._availableInitializeBySearchInputValue, () => {
  if (!inactive.value) {
    if (useSearchConditionStore().getAvailableInitializeBySearchInputValue()) {
      if (data.optionsAutoSelected) {
        setSelectValue(data.optionsAutoSelected);
      }
      setTimeout(() => {
        useSearchConditionStore().setAvailableInitializeBySearchInputValue(false);
      }, 2000);
    }
  }
});

// User Function Definitions

function changeSearchInputValue(e: any, key: string, isModal: boolean, value?: string) {
  // select 호출

  if (!e && value) {
    if (isModal) {
      useSearchConditionStore().changeModalInputValue(key, value);
    } else {
      useSearchConditionStore().changeSearchInputValue(key, value);
    }
  }

  // input 호출
  if (e) {
    const target = e.target as HTMLInputElement;
    if (isModal) {
      useSearchConditionStore().changeModalInputValue(key, target.value);
    } else {
      useSearchConditionStore().changeSearchInputValue(key, target.value);
    }
  }
}

// 포커스아웃 검색,
async function focusOutSearchEvent(e: any, data: ISearchInput, thisId: string, thisSearchApiKey: string) {
  const { ids, searchApiKeys, isAllUseSearchApiKey, srchKey, isSearch, defaultParamsData, title, rowDataIds, defaultSearchApiKeys } = data;

  if (isSearch) {
    const target = e.target as HTMLInputElement;
    // 인풋란이 공백이거나, search값이 true인 경우에만 호출

    if (!target.value) {
      useSelectedDataStore().removeSelectedModalData(title);
      useSearchConditionStore().resetModalInputValue();
      const apiParams = Object.assign({}, modalData.apis.params);
      const keys = Object.keys(apiParams);

      for (let i = 0; keys.length > i; i++) {
        if (!modalData.apis.params[keys[i]]) {
          modalData.apis.params[keys[i]] = "";
        }
      }
      for (let i = 0; searchApiKeys.length > i; i++) {
        useSearchConditionStore().removeSearchInputValue(ids[i]);
      }

      return;
    }

    const data: any = {
      srchKey: srchKey,
    };
    if (target.value.length === 0) {
      return;
    }
    // 포커스아웃시 해당 인풋의 값으로만 조회할때
    for (let i = 0; searchApiKeys.length > i; i++) {
      if (isAllUseSearchApiKey) {
        data[searchApiKeys[i]] = useSearchConditionStore().getSearchInputValue()[ids[i]] || "";
      } else {
        if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), title)) {
          useSelectedDataStore().removeSelectedModalData(title);
        }
        data[thisSearchApiKey] = useSearchConditionStore().getSearchInputValue()[thisId] || "";
      }

      if (searchApiKeys[i] === "custId") {
        data["custId"] = "OK";
      }
    }
    // 다른 인풋의 값을 필요로 할 때
    if (defaultParamsData && defaultParamsData.storeSaveKey) {
      for (let i = 0; searchApiKeys.length > i; i++) {
        const { storeSaveKey, paramsKeys, rowDataKeys } = defaultParamsData;
        data[paramsKeys[i]] = useSelectedDataStore().getSelectedModalData()[storeSaveKey] ? useSelectedDataStore().getSelectedModalData()[storeSaveKey][rowDataKeys[i]] : "";
      }
    }
    // 하드코딩된 parmas값이 있을때
    if (defaultSearchApiKeys) {
      const keys = Object.keys(defaultSearchApiKeys);

      for (let i = 0; keys.length > i; i++) {
        data[keys[i]] = defaultSearchApiKeys[keys[i]];
      }
    }
    const result = await ApiService.postApi("/selectMngCode_rn.action", {}, data);
    if (srchKey) {
      if (result.result[srchKey].length === 1) {
        const url = modalData.apis.url;
        const params: any = modalData.apis.params;
        const data = modalData.apis.data;
        for (let i = 0; modalData.inputs.length > i; i++) {
          if (Object.hasOwn(modalData.inputs[i], "searchContainerInputId") && Object.hasOwn(useSearchConditionStore().getSearchInputValue(), modalData.inputs[i].searchContainerInputId)) {
            params[modalData.inputs[i].id] = useSearchConditionStore().getSearchInputValue()[modalData.inputs[i].searchContainerInputId];
          }
        }

        const gridData = await ApiService.postApi(url, params, data);
        useSelectedDataStore().selectedModalHandler({ [modalData.id]: gridData.result.list[0] });

        if (Object.hasOwn(e, "relatedTarget") && e.relatedTarget.id === "button-container") {
          useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        }
      } else if (result.result[srchKey].length > 1) {
        showModal.value = true;
      } else if (result.result[srchKey].length === 0) {
        useSelectedDataStore().removeSelectedModalData(title);
        useToast().warning(t("common-toast.no-data-found"));
        for (let i = 0; searchApiKeys.length > i; i++) {
          useSearchConditionStore().removeSearchInputValue(ids[i]);
        }
      }
    }
  }
}

function changeShowModal() {
  showModal.value = true;
}

function setSelectValue(option: any, ev: any = null) {
  if (!inactive.value) {
    /**
     * select box value에 따라 열리는 search modal 이 다를경우, select box 값이 바뀔때마다 store저장되어있던 값 제거. (필요한 값을 지우는 경우가 발생하여 보류)
     */
    // if (data.modalTypes && modalType.value && index) {
    //   useSelectedDataStore().removeSelectedModalData(modalType.value[index]);
    // }

    /**
     * select box [key, value]
     * name, value
     * codeNm, code
     * CODE_NM, CODE_CD
     * LC_NM, LC_NM
     * ZONE_NM, ZONE_ID
     * REMARK, CUST_SEQ
     */

    selectedValue.value = option.nameKey ? t(`select-options.${option.nameKey}`) : undefined || option.name || option.codeNm || option.CODE_NM || option.LC_NM || option.ZONE_NM || option.REMARK;
    changeSearchInputValue(
      null,
      data.types![0] === "select-box" ? data.ids[0] : data.types![1] === "select-box" ? data.ids[1] : "",
      data.isModal,
      option.value === "" ? "option value empty" : option.value || option.code || option.CODE_CD || option.LC_NM || option.ZONE_ID || option.CUST_SEQ
    );

    if (ev) {
      if (ev !== "onRowDoubleClicked") {
        showSelectList.value = false;
      } else {
        useTabsStore().setChangedSelectedTabByNotClickedTabMenu("select-box", false);
        useTabsStore().setChangedSelectedTabByNotClickedTabMenu("form-grid", true);
      }
    }

    emits("selectedValue", option.value || option.code || option.CODE_CD || option.LC_NM || option.ZONE_ID || option.CUST_SEQ);
  }
}

function setInputValue(i: number) {
  if (!inactive.value) {
    let value;
    if (!data.modalTypes) {
      value = useSelectedDataStore().getSelectedModalData()[data.title]?.[data.rowDataIds[i]] || useSearchConditionStore().getSearchInputValue()[data.ids[i]];
    }
    return value;
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 23px;
  background-color: $hidden-list-bg;
  height: 44px;
  transition: all 0.4s ease;
  &.hidden {
    display: none;
  }
  &.half {
    width: calc(49.5% - 20px);
    margin-right: 12px;
  }

  &.triple {
    width: calc(33.3% - 28px);
    margin-right: 21.4px;
  }
  &.quarter {
    width: calc(100% / 4 - 28px);
    margin-right: 21.4px;
  }
  // 조회 팝업 컴포넌트 작업할 때 scss수정 필요
  &.entire {
    width: calc(99% - 28px);
    height: 44px;
    .search-title {
      width: 9%;
    }

    .search-input {
      width: 91%;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: $bg-gray2;
  }

  .required {
    position: absolute;
    left: 12px;
  }

  &-title {
    @include labelStyle();
    width: 23%;
  }

  &-input {
    width: calc(80% - 40px);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .input-width-single {
      width: 100%;
      margin-right: -10px;
      > input {
        width: calc(100%);
      }
    }

    > .input-width-double {
      width: calc(50% - 9px);
    }
    > .input-width-double.date {
      width: calc(50% - 3px);
      border-radius: 10px;
    }
    > .input-width-triple {
      width: calc(100% / 3 - 6px);
      > input {
        width: calc(100%);
      }
    }
    &-button {
      @include flexCenter;
      background-color: $bg-gray2;
      width: 25px;
      height: 25px;
      border-radius: 6px;
      margin-right: 15px;
      position: absolute;
      left: -41px;
      z-index: 1;

      &:hover {
        background-color: #b8bec8;
      }
    }

    &-item {
      @include dateInputStyle;
      position: relative;
      border: 1px solid $border2;
      border-radius: 10px;
      height: 35px;
      padding: 0 5px 0 10px;
      font-weight: bold;
      background-color: #fff;
      display: flex;
      align-items: center;
      &::placeholder {
        font-size: 12px;
        text-align: left;
      }

      &[type="date"] {
        // border: none;
      }
      &.single {
        width: 100%;
      }
      &.double {
        width: 100%;
      }

      &:first-of-type {
        margin-right: 9px;
      }
      .select {
        @include ellipsis;
        width: calc(100% - 25px);
        font-size: 13px;
        font-weight: bold;
        border: none;
        background-color: #fff;
        cursor: pointer;
      }
    }

    &-select {
      @include selectArrowStyle;
    }
  }
  &-select {
    &-list {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 100%;
      max-height: 442px;
      background-color: white;
      box-sizing: border-box;
      padding: 7px;
      border-radius: 8px;
      font-size: 15px;
      word-break: break-all;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
      z-index: 10;
      overflow-y: scroll;
      overflow-x: hidden;
      outline: none;
      opacity: 0;
      transform: scaleY(0);
      &.slide-up {
        @include slideUpAnimation;
      }
      &.slide-down {
        @include slideDownAnimation;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      box-sizing: border-box;
      padding: 10px 20px;
      padding-right: 25px;
      margin: 0 -10px;
      width: calc(100% + 20px);
      font-size: 14px;
      font-weight: normal;
      &:hover {
        background-color: #f6f7fc;
        cursor: pointer;
      }
      &.on {
        color: $main;
        font-weight: bold;
        > i {
          position: absolute;
          right: 7px;
        }
      }
    }
  }
}
</style>
