<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST010/search.vue
 *  Description:    재고관리/현재고 조회 하단 그리드 필터 컴포넌트
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.10. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area">
    <detail-search-container
      :isMore="isMore"
      :data="FILTER_SEARCH_INPUT"
      :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)"
      :gridApi="gridApi"
      :use-setting="false"
      :selectedRowItem="selectedRowItem"
      :un-used-refresh-button="true">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in FILTER_SEARCH_INPUT" :key="i">
          <detail-search-input
            :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
            :data="props"
            :columnDefs="MODAL_COLUMN_DEFS[props.title]"
            :modalData="SEARCH_MODAL_INFO[props.title]"
            :pageInfo="INFO" />
        </template>
      </template>
    </detail-search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref } from "vue";
import DetailSearchContainer from "./detail-search-conatiner.vue";
import DetailSearchInput from "./detail-search-input.vue";
import { INFO, FILTER_SEARCH_INPUT, SEARCH_INPUT, SEARCH_MODAL_INFO } from "./input";
import { MODAL_COLUMN_DEFS } from "./column-defs";
import { GridApi } from "ag-grid-community";
import { UtilService } from "@/services/util-service";

// Variable Definitions
let isMore = ref(false);
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT) as number;

const { selectedRowItem, gridApi } = defineProps<{
  selectedRowItem: any;
  gridApi: GridApi | null;
}>();

// User Function Definitions
</script>

<style lang="scss" scoped>
.search-area {
  padding-top: 15px;
  position: relative;
}
.search-filter-container {
  border-bottom: solid 0px #e8e8e8;
}
</style>
