<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST010/form.vue
 *  Description:    재고관리/현재고관리 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container" ref="formContainerRef">
    <main-list-grid :changeSelectedRowItem="changeSelectedRowItem" :selectedRowItem="selectedRowItem" />
    <detail-list-grid :selectedRowItem="selectedRowItem" />
  </div>
</template>

<script setup lang="ts">
import { ref, watch, onMounted, onActivated, onDeactivated, reactive } from "vue";
import MainListGrid from "./main-list-grid.vue";
import DetailListGrid from "./detail-list-grid.vue";
import { useFormHeightStore } from "@/store";

const selectedRowItem = reactive({ value: {} as { [key: string]: any } });
const FormHeightStore = useFormHeightStore();
const formContainerRef = ref(null as null | any);
const inactive = ref<boolean>(false);

watch(FormHeightStore._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  }
});

onMounted(async () => {
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

function changeSelectedRowItem(gridData: any) {
  selectedRowItem.value = gridData;
}
</script>

<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  width: 100%;
  position: relative;
  flex-direction: column;
}
</style>
