<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST010/main-list-grid.vue
 *  Description:    재고관리/현재고 조회 현재고리스트 그리드 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.10. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <context-modal v-if="menuOpen" @closeModal="menuOpen = false" :currentRowData="currentRowData.value" />
    <control-container>
      <div v-for="btnData in controlBtn.value" :key="btnData.title">
        <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" :saveRowData="saveRowData" :excelExport="excelExport" :InOutOrderRegeneration="InOutOrderRegeneration" />
      </div>
    </control-container>
    <div class="grid-header">{{ t("grid-title.stock-list") }}</div>
    <ag-grid-vue
      class="ag-theme-alpine ag-grid-size"
      :gridOptions="gridOptions"
      :modules="[ExcelExportModule]"
      :pinnedBottomRowData="[pinnedBottomRowData.value]"
      :getContextMenuItems="getContextMenuItems"
      :allowContextMenuWithControlKey="true"
      @cellClicked="cellClicked"
      :excelStyles="excelStyles" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useConfirmStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { ISelectedTab } from "@/types";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule, ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_MAIN_COLUMN_DEFS } from "./column-defs";
import ContextModal from "./context-modal.vue";
import { MAIN_GRID_PINNED_BOTTOM_INFO, MAIN_LIST_GRID_CONTROL_BTN, SEARCH_INPUT } from "./input";

const { changeSelectedRowItem, selectedRowItem } = defineProps<{
  changeSelectedRowItem: (value: any) => void;
  selectedRowItem: any;
}>();
const emits = defineEmits(["onPageSizeChanged"]);

// Variable Definitions
const pagingOptions = UtilService.getGridPagingOptions("WMSST010");
const { t } = useI18n();
const totalRows = ref<number>(0);
const pinnedBottomRowData = reactive({ value: {} as any });
const pagingSize = ref<number>(pagingOptions![0]);
const bodyData = reactive({ value: {} as any });
const currentRowData = reactive({ value: {} } as { value: any });
const inactive = ref<boolean>(false);
const selectedItems = reactive({ value: {} as any });
let gridApi: GridApi | null = null;
let menuOpen = ref(false);
let currentRowIndex = null as any;
const controlBtn = reactive({ value: MAIN_LIST_GRID_CONTROL_BTN as any });
const page = reactive({ value: {} as any });
const excelStyles = [
  {
    id: "stringType",
    dataType: "String",
  },
];

onMounted(() => {
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST010", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
    // column내 children요소 다국어 적용
    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        column.children[i].headerName = t("grid-column-name." + column.children[i].headerKey);
      }
    }
  });
  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

// 검색결과 그리에 반영시키기
watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
};

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
  },
  columnDefs: FORM_MAIN_COLUMN_DEFS,
  headerHeight: 25,
  rowHeight: 25,
  enableRangeSelection: true,
  onGridReady: onGridReady,
  onPaginationChanged: onPaginationChanged,
  onRowDoubleClicked: onRowDoubleClicked,
  getContextMenuItems: getContextMenuItems,
  suppressRowClickSelection: true, // row클릭시 체크박스 체크방지
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  onRowSelected: onSelectionChanged,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  suppressClickEdit: true,
  rowClassRules: {
    "ag-row-selected": function (params: any) {
      if (Object.hasOwn(selectedRowItem.value, "RNUM") && selectedRowItem.value["RNUM"] === params.data?.RNUM) {
        return true;
      } else {
        return false;
      }
    },
  },
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  groupSelectsChildren: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows());
    }
  } else {
    changeSelectedRowItem(e.data);
    selectedItems.value = gridApi?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows());
  }
}

const cellClicked = (params: any) => {
  if (!selectedRowItem || currentRowIndex !== params.data.RNUM) {
    changeSelectedRowItem(params.data);
    currentRowIndex = params.data.RNUM;
    if (!params.node.selected) {
      gridApi?.redrawRows();
    }
  }
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

function getLocalDate() {
  const currentDate = new Date();
  const date = `${currentDate.getFullYear()}/${String(currentDate.getMonth() + 1).padStart(2, "0")}/${String(currentDate.getDate()).padStart(2, "0")}`;
  const time = `${String(currentDate.getHours()).padStart(2, "0")}:${String(currentDate.getMinutes()).padStart(2, "0")}:${String(currentDate.getSeconds()).padStart(2, "0")}`;
  return `${date} ${time}`;
}

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition() && !menuOpen.value) {
    initBeforeSearchGridData();
    const searchConditions = SEARCH_INPUT;
    const today = UtilService.getToday();

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "재고관리 &gt; 현재고 조회";
    apiParams.vrSrchItemOrdGb === "" ? "01" : apiParams.vrSrchItemOrdGb;
    apiParams.today = today;
    apiParams.localDate = getLocalDate();

    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSST010/list_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            selectedItems.value = gridData.result.list;
            UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
            pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(gridData.result.list, Object.assign({}, MAIN_GRID_PINNED_BOTTOM_INFO));
            pinnedBottomRowData.value.CUST_CD = t("grid-column-name.sum");
          } else {
            UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
      },
    });
    useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  }
}

function initBeforeSearchGridData() {
  pinnedBottomRowData.value = MAIN_GRID_PINNED_BOTTOM_INFO;
  gridApi?.deselectAll();
  selectedRowItem.value = {};
  currentRowIndex = null;
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 메인그리드 저장
async function saveRowData() {
  const selectedItems: any = gridOptions.api?.getSelectedRows();
  if (!selectedItems || selectedItems.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    gridApi?.deselectAll();
    let data: any = {
      _fullpath: "재고관리 &gt; 현재고 조회",
      selectIds: String(selectedItems.length),
      D_selectIds: "0",
    };

    for (let i = 0; selectedItems.length > i; i++) {
      data["ST_GUBUN" + [i]] = "UPDATE";
      data["REMARK" + [i]] = selectedItems[i].REMARK;
      data["RITEM_ID" + [i]] = selectedItems[i].RITEM_ID;
    }

    const result = await ApiService.postApi("/WMSST010/save_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    return console.log(err);
  }
}

//엑셀 export
async function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; FORM_MAIN_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_MAIN_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_MAIN_COLUMN_DEFS[i].field);
    }
    // children 컬럼
    if (Object.hasOwn(FORM_MAIN_COLUMN_DEFS[i], "children")) {
      for (let j = 0; FORM_MAIN_COLUMN_DEFS[i].children.length > j; j++) {
        if (Object.hasOwn(FORM_MAIN_COLUMN_DEFS[i].children[j], "export")) {
          columnKeys.push(FORM_MAIN_COLUMN_DEFS[i].children[j].field);
        }
      }
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.realtime-stock"),
    columnKeys,
  };

  gridApi?.exportDataAsExcel(excelExportParams);
}

// 수불재생성 버튼클릭
async function InOutOrderRegeneration() {
  const selectedItems: any = gridOptions.api?.getSelectedRows();
  if (!selectedItems || selectedItems.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "재고관리 &gt; 현재고 조회",
      selectIds: String(selectedItems.length),
    };

    for (let i = 0; selectedItems.length > i; i++) {
      data["ST_GUBUN" + [i]] = "UPDATE";
      data["RITEM_ID" + [i]] = selectedItems[i].RITEM_ID;
    }

    const res = await ApiService.postApi("/WMSST010/subulManualComp_rn.action", {}, data);
    if (res.status) {
      if (res.result.errCnt === 0) {
        useToast().success(res.result.MSG);
        gridApi?.deselectAll();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      } else {
        useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

// context menu
function getContextMenuItems(params: any) {
  const result = [
    {
      name: t("grid-context-menu-title.inquiry-of-set-product"),
      //컨텍스트 메뉴 항목이 선택되면 실행되는 함수
      action: () => {
        gridApi?.getRowNode(String(params.node.rowIndex + 1))?.setSelected(true);
        currentRowData.value = params.node.data;
        menuOpen.value = true;
      },
      cssClasses: ["redFont", "bold"],
    },
  ];
  return result;
}

function onRowDoubleClicked(params: any) {
  /**
   * 이동해야할 메뉴 설정
   */
  const menu: ISelectedTab = {
    id: "WMSST051_2",
    mainMenuTitle: "",
    path: "stock/WMSST051_2",
    title: "",
  };
  /**
   * WMSST501_2 페이지 검색영역 화주, 상품|물류용기 select box 값 변경
   */
  useSelectedDataStore().selectedModalHandler({ ["owner"]: useSelectedDataStore().getSelectedModalData()["owner"] }, menu.id);
  let productType = "product";
  let vrSrchItemType2 = "G";
  params.data.ITEM_CODE = params.data.RITEM_CD; // WMSST501_2의 상품|물류용기 값 넣어주기 위한 데이터 생성 (WMSST051_1 그리드 데이터 key와 WMSST501_2 검색영역 input id가 상이해서 맞춰주는 작업)
  params.data.ITEM_KOR_NM = params.data.RITEM_NM;
  useSearchConditionStore().changeSearchInputValue("vrSrchItemType2", vrSrchItemType2, menu.id);
  useSelectedDataStore().selectedModalHandler({ [productType]: params.data }, menu.id);

  /**
   * WMSST501_2 페이지 검색영역 날짜변경
   */
  const dateIds = ["vrSrchReqDtFrom2", "vrSrchReqDtTo2"];
  useSearchConditionStore().changeSearchInputValue(dateIds[0], "2023-11-06", menu.id);
  useSearchConditionStore().changeSearchInputValue(dateIds[1], "2023-11-13", menu.id);

  /**
   * 페이지 이동
   */
  useSelectedDataStore().selectedInfoHandler(params.data, true);
  useTabsStore().selectTab(menu);
  useTabsStore().setChangedSelectedTabByNotClickedTabMenu("select-box", true);
}
</script>

<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 71px);
}
.grid {
  &-container {
    height: 49%;
    width: 100%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
