<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST010/page.vue
 *  Description:    재고관리/현재고관리 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <!-- <div class="form-container-grid" :style="formTheme"> -->
    <common-form
      ref="masterFormRef"
      :gridId="`${myPageId}-master-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
      :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
      :controlBtn="MASTER_CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getContextMenuItems="getContextMenuItems"
      :onRowDoubleClicked="onRowDoubleClicked"
      :onApiParamsChanged="onMasterApiParamsChanged"
      :getServerData="getMasterData"
      @onSelectionChanged="onSelectionChanged">
      <context-modal v-if="menuOpen" @closeModal="menuOpen = false" :currentRowData="currentRowData.value" />
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
    <common-search v-if="showFilter" :searchContainerMeta="SEARCH_META_DETAIL">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="detailFormRef"
      :gridId="`${myPageId}-detail-grid`"
      :gridMeta="GRID_META"
      :disableSearchEvent="disableSearchEvent"
      :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
      :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
      :controlBtn="DETAIL_CONTROL_BTN"
      :searchInput="FILTER_SEARCH_INPUT"
      :onRowDoubleClicked="onRowDoubleClicked"
      :onApiParamsChanged="onDetailApiParamsChanged"
      :getServerData="getDetailData"
      :context="{ ...DETAIL_CELL_RENDERER_INFO, ...GRID_DATE_INPUT_INFO }">
      <!-- <detail-list-grid-filter :gridApi="detailGridApi" v-if="isOpen" :isOpen="isOpen" :selectedRowItem="selectedRowItem" /> -->
      <div class="grid-header">{{ gridHeaderDetailTitle }}</div>
      <control-container>
        <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST010" };
</script>
<script setup lang="ts">
import { computed, onMounted, onUnmounted, reactive, ref, unref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "@/page/stock/WMSST010/column-defs";
import { ApiService } from "@/services/api-service";
import { IOZReportArgument, OZReport } from "@/services/report-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useSearchConditionStore, useSelectedDataStore, useTabsStore, userStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { useOptionDataStore } from "@/store/options-data";
import { ISelectedTab } from "@/types";
import { GridApi } from "ag-grid-community";
import { ExcelExportParams } from "ag-grid-enterprise";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import ContextModal from "./context-modal.vue";
import { MASTER_CONTROL_BTN } from "./input.grid";
import { DETAIL_CELL_RENDERER_INFO, DETAIL_CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_DATE_INPUT_INFO, GRID_META, MASTER_GRID_OPTIONS_META, SEARCH_META, SEARCH_META_DETAIL } from "./input.meta";
import { FILTER_SEARCH_INPUT, SEARCH_INPUT } from "./input.search";

// Variable Definitions
const { t } = useI18n();
const OptionDataStore = useOptionDataStore();
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const currentRowData = reactive({ value: {} } as { value: any });
let menuOpen = ref(false);
const masterGridApi = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const myPageId = ref<string>();
const eventBus = useEventBusStore();
const selectedItems = ref<Record<string, any>>({});
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const showFilter = ref(false);
// const bodyData: any = {
//   _fullpath: "",
//   today: UtilService.getToday(),
// };
// const totalRows = reactive({ value: 0 as number });
// const currentPageNumber = reactive({ value: 1 as number });
// const lastPageNumber = reactive({ value: 1 as number });

const eventHandler: Record<string, Function> = {
  "in/out-order-regeneration": InOutOrderRegeneration,
  save: saveRowData,
  excel: excelExport,
  "all-excel": allExcelExport,
  printing: fn_ozPrint1,
  "detail-save": detailSaveRowData,
  filter: () => {
    showFilter.value = !showFilter.value; // 토글
  },
  "detail-excel": detailExcelExport,
};

const gridHeaderTitle = computed(() => {
  return t("menu-header-title.WMSST010");
});
const gridHeaderDetailTitle = computed(() => {
  return t("menu-header-title.WMSST010_1_detail");
});
const formTheme = {
  "--flex-direction": "column",
};
const selectedRowItem = reactive({ value: {} as any });

function sessionStorageReady() {}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("search-data-detail", searchDetail);

  const data = UtilService.getOptionApiData("WMSST010_rn");
  const res = await ApiService.postApi("/WINUS/WMSST010_rn.action", {}, data);

  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

onUnmounted(() => {
  eventBus.off("search-data-detail", searchDetail);
});

let selectItemChanged: boolean;
// User Function Definitions
function onSelectionChanged() {
  selectItemChanged = true;
  detailFormRef.value.searchGridData();
}

function searchDetail() {
  detailFormRef.value.searchGridData();
}

function onMasterApiParamsChanged(apiParams: any) {
  const today = UtilService.getToday();

  apiParams._fullpath = "재고관리 &gt; 현재고 조회";
  apiParams.vrSrchItemOrdGb === "" ? "01" : apiParams.vrSrchItemOrdGb;
  apiParams.today = today;
  apiParams.localDate = getLocalDate();
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  detailGridApi.value?.deselectAll();

  const gridApi = unref(masterGridApi) || new GridApi();
  const selectedMasterItem = GridUtils.getSelectedRowData(gridApi)[0];

  const commonParams = {
    vrRitemId: Object.hasOwn(selectedMasterItem, "RITEM_ID") ? selectedMasterItem.RITEM_ID : "",
    vrUomId: Object.hasOwn(selectedMasterItem, "UOM_ID") ? selectedMasterItem.UOM_ID : "",
    txtSrchLocId: "",
  };

  if (selectItemChanged) {
    Object.assign(apiParams, commonParams, {
      vrZoneGubunId: "",
      vrSrchCustId: "",
      vrSrchLocType: "",
      vrSrchLcId: JSON.parse(userStore().getCurrentUser()).location.LC_ID,
      chkEmptyStock: false,
    });
    selectItemChanged = false;
  } else {
    Object.assign(apiParams, commonParams, {
      vrSrchUnitNo: Object.hasOwn(useSearchConditionStore().getSearchInputValue(), "vrSrchUnitNo") ? useSearchConditionStore().getSearchInputValue().vrSrchUnitNo : "",
      vrSrchLockYn: useSearchConditionStore().getSearchInputValue().vrSrchLockYn,
      vrBlNo: Object.hasOwn(useSearchConditionStore().getSearchInputValue(), "vrSrchBlNo") ? useSearchConditionStore().getSearchInputValue().vrSrchBlNo : "",
      vrInCustId: Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "receiving-address") ? useSelectedDataStore().getSelectedModalData()["receiving-address"].CUST_ID : "",
    });
  }

  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST010/list_rn.action", apiParams, bodyData.value, false);
}

async function getDetailData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST010/sublist_rn.action", apiParams, bodyData.value, false);
}

function getLocalDate() {
  const currentDate = new Date();
  const date = `${currentDate.getFullYear()}/${String(currentDate.getMonth() + 1).padStart(2, "0")}/${String(currentDate.getDate()).padStart(2, "0")}`;
  const time = `${String(currentDate.getHours()).padStart(2, "0")}:${String(currentDate.getMinutes()).padStart(2, "0")}:${String(currentDate.getSeconds()).padStart(2, "0")}`;
  return `${date} ${time}`;
}

// 메인그리드 저장
async function saveRowData() {
  masterGridApi.value?.stopEditing();
  const selectedItems: any = masterGridApi.value?.getSelectedRows();
  if (!selectedItems || selectedItems.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    masterGridApi.value?.deselectAll();
    let data: any = {
      _fullpath: "재고관리 &gt; 현재고 조회",
      selectIds: String(selectedItems.length),
      D_selectIds: "0",
    };

    for (let i = 0; selectedItems.length > i; i++) {
      data["ST_GUBUN" + [i]] = "UPDATE";
      data["REMARK" + [i]] = selectedItems[i].REMARK;
      data["RITEM_ID" + [i]] = selectedItems[i].RITEM_ID;
    }

    const result = await ApiService.postApi("/WMSST010/save_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    return console.log(err);
  }
}

//엑셀 export
async function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; MASTER_GRID_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(MASTER_GRID_COLUMN_DEFS[i], "export")) {
      columnKeys.push(MASTER_GRID_COLUMN_DEFS[i].field!);
    }
    // children 컬럼
    if (Object.hasOwn(MASTER_GRID_COLUMN_DEFS[i], "children")) {
      for (let j = 0; MASTER_GRID_COLUMN_DEFS[i].children.length > j; j++) {
        if (Object.hasOwn(MASTER_GRID_COLUMN_DEFS[i].children[j], "export")) {
          columnKeys.push(MASTER_GRID_COLUMN_DEFS[i].children[j].field);
        }
      }
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.realtime-stock"),
    columnKeys,
  };

  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}

// 수불재생성 버튼클릭
async function InOutOrderRegeneration() {
  const selectedItems: any = masterGridApi.value?.getSelectedRows();
  if (!selectedItems || selectedItems.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "재고관리 &gt; 현재고 조회",
      selectIds: String(selectedItems.length),
    };

    for (let i = 0; selectedItems.length > i; i++) {
      data["ST_GUBUN" + [i]] = "UPDATE";
      data["RITEM_ID" + [i]] = selectedItems[i].RITEM_ID;
    }

    const res = await ApiService.postApi("/WMSST010/subulManualComp_rn.action", {}, data);
    if (res.status) {
      if (res.result.errCnt === 0) {
        useToast().success(res.result.MSG);
        masterGridApi.value?.deselectAll();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      } else {
        useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

// context menu
function getContextMenuItems(params: any) {
  const result = [
    {
      name: t("grid-context-menu-title.inquiry-of-set-product"),
      //컨텍스트 메뉴 항목이 선택되면 실행되는 함수
      action: () => {
        masterGridApi.value?.getRowNode(String(params.node.rowIndex + 1))?.setSelected(true);
        currentRowData.value = params.node.data;
        menuOpen.value = true;
      },
      cssClasses: ["redFont", "bold"],
    },
  ];
  return result;
}
/**
  디테일그리드 
 **/
// 전체 엑셀 export
async function allExcelExport() {
  const filterConditions = SEARCH_INPUT.filter((option: any) => {
    return option.title !== "option";
  });

  let apiParams = UtilService.getGridParams(filterConditions, useSelectedDataStore(), useSearchConditionStore());

  if (apiParams.vrSrchItemOrdGb) {
    apiParams.vrSrchItemOrdGb = useSearchConditionStore().getSearchInputValue().vrSrchItemOrdGb;
  } else {
    apiParams.vrSrchItemOrdGb = "01";
  }

  apiParams.GridId = selectedRowItem.value.RNUM ? String(selectedRowItem.value.RNUM) : "";
  apiParams.localDate = dateFormat(new Date().getTime());

  const bodyData: any = {
    _fullpath: "",
    today: UtilService.getToday(),
  };

  const res = await ApiService.postApi("/WMSST010/excel3_rn.action", {}, { ...bodyData, ...apiParams }, true, true, "blob");
  if (res.status === 200) {
    UtilService.getExcelFile(res, t("excel-export-file-name.realtime-detailed-stock"));
  }
}

// 출력
function fn_ozPrint1() {
  selectedItems.value = detailGridApi.value?.getSelectedRows();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }
  const uom_id = selectedItems.value[0]["UOM_ID"];
  const ritem_id = selectedItems.value[0]["RITEM_ID"];
  const vrBlNo = selectedItems.value[0]["BL_NO"];
  const vrSrchUnitNo = useSearchConditionStore().getSearchInputValue()["vrSrchUnitNo"];
  const txtSrchLocId = useSelectedDataStore().getSelectedModalData()["location"]?.["LOC_ID"];
  const vrSrchLockYn = useSearchConditionStore().getSearchInputValue()["vrSrchLockYn"];
  const vrZoneGubunId = useSearchConditionStore().getSearchInputValue()["vrZoneGubunId"];

  let ozReport = new OZReport({
    title: t("popup-title.stock-detail-list"),
    fileName: "WINUSOP513B",
    reportName: "WINUSOP513.ozr",
    odiName: "WINUSOP513",
  } as IOZReportArgument);

  ozReport.SetOdiParam({
    vrRitemId: ritem_id,
    vrUomId: uom_id,
    vrBlNo: vrBlNo == false ? "" : vrBlNo,
    txtSrchLocId: txtSrchLocId == undefined ? "" : txtSrchLocId,
    vrSrchUnitNo: vrSrchUnitNo == undefined ? "" : vrSrchUnitNo,
    vrSrchLockYn: vrSrchLockYn == undefined ? "N" : vrSrchLockYn,
    vrZoneGubunId: vrZoneGubunId == undefined ? "" : vrZoneGubunId,
  });

  let asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_confrimReportPopup", "1100", "780") as any;
  asppop.focus();
}

// 디테일 그리드 저장
async function detailSaveRowData() {
  detailGridApi.value?.stopEditing();
  selectedItems.value = detailGridApi.value?.getSelectedRows();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  console.log("Selected items before saving:", selectedItems.value);
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    detailGridApi.value?.deselectAll();
    let data: any = {
      _fullpath: "",
      selectIds: "0",
      D_selectIds: String(selectedItems.value.length),
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      data["D_ST_GUBUN0" + [i]] = "UPDATE";
      data["D_REAL_PLT_QTY" + [i]] = String(selectedItems.value[i].REAL_PLT_QTY);
      data["D_STOCK_ID" + [i]] = String(selectedItems.value[i].STOCK_ID);
      data["D_OUT_EXP_QTY" + [i]] = String(selectedItems.value[i].OUT_EXP_QTY);
      data["D_LOCK_YN" + [i]] = selectedItems.value[i].LOCK_YN;
      data["D_ITEM_BEST_DATE_END" + [i]] = selectedItems.value[i].ITEM_BEST_DATE_END;
      data["D_MAKE_DT" + [i]] = selectedItems.value[i].MAKE_DT;
    }

    const result = await ApiService.postApi("/WMSST010/save_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    return console.log(err);
  }
}

//그리드 필터
// function filter() {
//   isOpen.value = !isOpen.value;
//   if (isOpen.value) {
//     btnInfo.value[3].title = "close-filter";
//   } else {
//     btnInfo.value[3].title = "filter";
//   }
// }

//그리드 엑셀 export
function detailExcelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; DETAIL_GRID_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(DETAIL_GRID_COLUMN_DEFS[i], "export")) {
      columnKeys.push(DETAIL_GRID_COLUMN_DEFS[i].field);
    }

    // children 컬럼
    if (Object.hasOwn(DETAIL_GRID_COLUMN_DEFS[i], "children")) {
      for (let j = 0; DETAIL_GRID_COLUMN_DEFS[i].children.length > j; j++) {
        if (Object.hasOwn(DETAIL_GRID_COLUMN_DEFS[i].children[j], "export")) {
          columnKeys.push(DETAIL_GRID_COLUMN_DEFS[i].children[j].field);
        }
      }
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.realtime-detailed-stock"),
    columnKeys,
  };

  detailGridApi.value?.exportDataAsExcel(excelExportParams);
}

function dateFormat(timeStamp: any) {
  const date = new Date(timeStamp);

  let month: number | string = date.getMonth() + 1;
  let day: number | string = date.getDate();
  let hour: number | string = date.getHours();
  let minute: number | string = date.getMinutes();
  let second: number | string = date.getSeconds();

  month = month >= 10 ? month : "0" + month;
  day = day >= 10 ? day : "0" + day;
  hour = hour >= 10 ? hour : "0" + hour;
  minute = minute >= 10 ? minute : "0" + minute;
  second = second >= 10 ? second : "0" + second;

  return date.getFullYear() + "/" + month + "/" + day + " " + hour + ":" + minute + ":" + second;
}

function onRowDoubleClicked(params: any) {
  /**
   * 이동해야할 메뉴 설정
   */
  const menu: ISelectedTab = {
    id: "WMSST051_2",
    mainMenuTitle: "",
    path: "stock/WMSST051_2",
    title: "",
  };
  /**
   * WMSST501_2 페이지 검색영역 화주, 상품|물류용기 select box 값 변경
   */
  useSelectedDataStore().selectedModalHandler({ ["owner"]: useSelectedDataStore().getSelectedModalData()["owner"] }, menu.id);
  let productType = "product";
  let vrSrchItemType2 = "G";
  params.data.ITEM_CODE = params.data.RITEM_CD; // WMSST501_2의 상품|물류용기 값 넣어주기 위한 데이터 생성 (WMSST051_1 그리드 데이터 key와 WMSST501_2 검색영역 input id가 상이해서 맞춰주는 작업)
  params.data.ITEM_KOR_NM = params.data.RITEM_NM;
  useSearchConditionStore().changeSearchInputValue("vrSrchItemType2", vrSrchItemType2, menu.id);
  useSelectedDataStore().selectedModalHandler({ [productType]: params.data }, menu.id);

  /**
   * WMSST501_2 페이지 검색영역 날짜변경
   */
  const dateIds = ["vrSrchReqDtFrom2", "vrSrchReqDtTo2"];
  useSearchConditionStore().changeSearchInputValue(dateIds[0], "2023-11-06", menu.id);
  useSearchConditionStore().changeSearchInputValue(dateIds[1], "2023-11-13", menu.id);

  /**
   * 페이지 이동
   */
  useSelectedDataStore().selectedInfoHandler(params.data, true);
  useTabsStore().selectTab(menu);
  useTabsStore().setChangedSelectedTabByNotClickedTabMenu("select-box", true);
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
</style>
