<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST010/page.vue
 *  Description:    재고관리/현재고관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <my-search />
  <my-form />
</template>

<script lang="ts">
export default { name: "WMSST010" };
</script>
<script setup lang="ts">
import MySearch from "./search.vue";
import MyForm from "./form.vue";

import { UtilService } from "@/services/util-service";
import { onMounted } from "vue";
import { ApiService } from "@/services/api-service";
import { useOptionDataStore } from "@/store/options-data";

// Variable Definitions
const OptionDataStore = useOptionDataStore();

onMounted(async () => {
  const data = UtilService.getOptionApiData("WMSST010_rn");
  const res = await ApiService.postApi("/WINUS/WMSST010_rn.action", {}, data);

  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});
</script>

<style lang="scss" scoped></style>
