<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSIF001/page.vue
 *  Description:    인터페이스/오픈몰 마스터 관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <!--
    <div class="explanation-container">
      <ButtonTooltip :title="'안내사항'">
        <h3><span class="bold">①.</span><span class="red bold">필수입력</span> → 오픈몰, 오픈몰(비고), 계정KEY</h3>
        <h3>
          <span class="bold">②.</span> 사방넷 → <span class="blue bold">계정KEY3</span> 값을 URL KEY로 사용 <span class="bold blue">계정ID3</span>
          값을 원주문번호 구분자로 사용
        </h3>
        <h3><span class="bold">③.</span> 오픈몰 컬럼 → 기준코드 <span class="blue bold">OPENMALLCD2</span> 사용</h3>
        <h3><span class="bold">④.</span> STRT_DT 컬럼 → <span class="bold blue">플레이오토 사용</span></h3>
      </ButtonTooltip>
      <ButtonTooltip :title="'상세설명'">
        <h3>ⓐ.<span class="blue bold">계정ID3</span></h3>
        <h3 class="text">ⓐ<span class="bold">-①. </span><span class="blue bold">Y 일때</span> 원주문번호 : 주문번호(쇼핑몰)</h3>
        <h3 class="text">ⓐ<span class="bold">-②. </span><span class="blue bold">Y 아닐때</span> 원주문번호 : 주문번호(사방넷)</h3>
        <h3>ⓑ. <span class="blue bold">배송처코드</span></h3>
        <h3 class="text">ⓑ<span class="bold">-①. </span><span class="blue bold">플레이오토</span> 배송처코드로 사용</h3>
        <h3 class="text">ⓑ<span class="bold">-②. </span><span class="blue bold">사방넷</span> 매입처별 코드로 사용</h3>
      </ButtonTooltip>
    </div>
    -->
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData">
      <!-- 그리드 명칭 -->
      <div class="grid-header">{{ t("menu-header-title.WMSIF001") }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSIF001" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service.ts";
import { UtilService } from "@/services/util-service.ts";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore, userStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus.ts";
import type { GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const { t } = useI18n();
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  new: addRowData,
  save: saveRowData,
  del: deleteRowData,
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const openMallOptionList = [
    { name: "SABANGNET", nameKey: "sabang-net", value: "SABANGNET" },
    { name: "PLAYAUTO", nameKey: "play-auto", value: "PLAYAUTO" },
    { name: "EZADMIN", nameKey: "ez-admin", value: "EZADMIN" },
    { name: "ISKYZ", nameKey: "is-kyz", value: "ISKYZ" },
    { name: "BFLOW", nameKey: "be-flow", value: "BFLOW" },
    { name: "GOODMD", nameKey: "good-md", value: "GOODMD" },
    { name: "ITOPLEVEL", nameKey: "itop-level", value: "ITOPLEVEL" },
  ];

  useOptionDataStore().setOptionData({ OPENMALL_CD: openMallOptionList });
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * "신규" 버튼 클릭 이벤트 콜백
 */
function addRowData() {
  const newRowData = [
    {
      ST_GUBUN: "INSERT",
      LC_NM: userStore().getUserLocation().LC_NM,
      CUST_CD: useSelectedDataStore().getSelectedModalData()["owner"].CUST_CD || "",
      CUST_NM: useSelectedDataStore().getSelectedModalData()["owner"].CUST_NM || "",
      CUST_ID: useSelectedDataStore().getSelectedModalData()["owner"].CUST_ID || "",
      BF_OPENMALL_CD: "",
      BF_OPENMALL_CD_DESC: "",
      BF_OPENMALL_API_KEY1: "",
    },
  ];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });

  gridApi.value?.startEditingCell({
    rowIndex: 0,
    colKey: "LC_NM",
  });
}

/**
 * "저장" 버튼 클릭 이벤트 콜백
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // 편집 종료
  gridApi.value?.stopEditing();

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi.value!);
  if (!saveEditGridRequiredValidation.status) {
    UtilService.setGridStartEditing(gridApi.value?.getSelectedNodes(), gridApi.value);
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {};

    //필수 입력값 확인
    for (let i = 0; selectedRows.length > i; i++) {
      // [저장 권한 제한] 동일 센터만 저장 가능
      if (userStore().getUserLocation().LC_NM !== selectedRows[i].LC_NM) {
        return useToast().warning(t("common-toast.no-permission"));
      }

      if (!UtilService.isEmptyString(selectedRows[i].ST_GUBUN)) {
        data["ST_GUBUN_" + [i]] = selectedRows[i].ST_GUBUN;
      } else {
        data["ST_GUBUN_" + [i]] = "UPDATE";
      }

      data["BF_OPENMALL_CD_" + [i]] = selectedRows[i].BF_OPENMALL_CD || "";
      data["BF_OPENMALL_CD_DESC_" + [i]] = selectedRows[i].BF_OPENMALL_CD_DESC || "";
      data["BF_OPENMALL_API_KEY1_" + [i]] = selectedRows[i].BF_OPENMALL_API_KEY1 || "";
      data["LC_ID_" + [i]] = UtilService.getCurrentLocation();
      data["CUST_ID_" + [i]] = selectedRows[i].CUST_ID || "";
      data["OPENMALL_CD_" + [i]] = selectedRows[i].OPENMALL_CD || "";
      data["OPENMALL_CD_DESC_" + [i]] = selectedRows[i].OPENMALL_CD_DESC || "";
      data["STRT_DT_" + [i]] = selectedRows[i].STRT_DT || "";
      data["REP_DELIVERY_VENDOR_" + [i]] = selectedRows[i].REP_DELIVERY_VENDOR || "";
      data["OPENMALL_API_ID1_" + [i]] = selectedRows[i].OPENMALL_API_ID1 || "";
      data["OPENMALL_API_PW1_" + [i]] = selectedRows[i].OPENMALL_API_PW1 || "";
      data["OPENMALL_API_KEY1_" + [i]] = selectedRows[i].OPENMALL_API_KEY1 || "";
      data["OPENMALL_API_ID2_" + [i]] = selectedRows[i].OPENMALL_API_ID2 || "";
      data["OPENMALL_API_PW2_" + [i]] = selectedRows[i].OPENMALL_API_PW2 || "";
      data["OPENMALL_API_KEY2_" + [i]] = selectedRows[i].OPENMALL_API_KEY2 || "";
      data["OPENMALL_API_ID3_" + [i]] = selectedRows[i].OPENMALL_API_ID3 || "";
      data["OPENMALL_API_PW3_" + [i]] = selectedRows[i].OPENMALL_API_PW3 || "";
      data["OPENMALL_API_KEY3_" + [i]] = selectedRows[i].OPENMALL_API_KEY3 || "";
      data["TOKEN1_" + [i]] = selectedRows[i].TOKEN1 || "";
    }

    data["selectIds"] = selectedRows.length;

    const result = await ApiService.postApi("/WMSIF001/crudOpenMallMaster_rn.action", {}, data);

    if (result.status) {
      if (result.result.errCnt !== 0) {
        useToast().error(t(result.result.MSG));
      } else {
        useToast().success(t("common-toast.registered"));
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        searchGridData();
      }
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

/**
 * "삭제" 버튼 클릭 이벤트 콜백
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  let bodyData = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());

  bodyData = {};

  for (let i = 0; selectedRows.length > i; i++) {
    // [저장 권한 제한] 동일 센터만 저장 가능
    if (userStore().getUserLocation().LC_NM !== selectedRows[i].LC_NM) {
      return useToast().warning(t("common-toast.no-permission"));
    }

    // 반영되지 않은 신규 행 삭제
    if (selectedRows[i].ST_GUBUN === "INSERT") {
      gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
    } else {
      bodyData["ST_GUBUN_" + [rowIndex]] = "DELETE";
      bodyData["LC_ID_" + [rowIndex]] = UtilService.getCurrentLocation();
      bodyData["CUST_ID_" + [rowIndex]] = selectedRows[i].CUST_ID || "";
      bodyData["OPENMALL_CD_" + [rowIndex]] = selectedRows[i].OPENMALL_CD;
      bodyData["OPENMALL_CD_DESC_" + [rowIndex]] = selectedRows[i].OPENMALL_CD_DESC;
      bodyData["OPENMALL_API_KEY1_" + [rowIndex]] = selectedRows[i].OPENMALL_API_KEY1;

      rowIndex++;
      isDataDelete = true;
    }
  }

  bodyData["_fullpath"] = "";
  bodyData["selectIds"] = rowIndex;

  // 데이터 삭제처리가 필요하지 않은 경우
  if (!isDataDelete) return;

  try {
    const result = await ApiService.postApi("/WMSIF001/crudOpenMallMaster_rn.action", {}, bodyData);
    if (result.status) {
      if (result.result.errCnt !== 0) {
        useToast().error(t(result.result.MSG));
      } else {
        useToast().success(t("common-toast.deleted"));
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        searchGridData();
      }
    }
  } catch (err) {
    console.log("err : ", err);
    throw err;
  }
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  let responseData = await ApiService.postApi("/WMSIF001/list_rn.action", apiParams, bodyData.value, false);

  if (responseData.status && responseData.result.list.length !== 0) {
    responseData.result.list.map((dt: any) => {
      dt["BF_OPENMALL_CD"] = dt.OPENMALL_CD;
      dt["BF_OPENMALL_CD_DESC"] = dt.OPENMALL_CD_DESC;
      dt["BF_OPENMALL_API_KEY1"] = dt.OPENMALL_API_KEY1;
    });
  }

  return responseData;
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
