<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST350/page.ts
 *  Description:    임가공(재고관리) 페이지
 *  Authors:        H. N. Ko
 *  Update History:
 *                  2024.07. : Created by H. N. Ko
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <!-- :context="{ ...MASTER_GRID_CELL_SELECT_BOX, ...MASTER_CELL_RENDERER_INFO }"> -->

      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :onCellFocused="onCellFocused"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged"
        :context="[]">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onDetailApiParamsChanged"
        :getServerData="getDetailData"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :context="{}"
        :modules="[ExcelExportModule]">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "TMSYS010" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { RowSelectedEvent } from "ag-grid-community";
import { ExcelExportModule, ExcelExportParams, GridApi } from "ag-grid-enterprise";
import { Ref, computed, onBeforeMount, onMounted, onUnmounted, reactive, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { DETAIL_CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_META, MASTER_CONTROL_BTN, MASTER_GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";
const { t } = useI18n();
const searchConditionStore = useSearchConditionStore();

//master grid 선택시(복수 체크)
const selectedItems = ref<Record<string, any>[]>([]);

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});

//디테일 그리드 전체
const detailItemList = ref<Record<string, any>[] | undefined>([]);

// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const eventBus = useEventBusStore();
const masterGridTitleRef = t("menu-header-title.TMSYS010_master");
const detailGridTitleRef = t("menu-header-title.TMSYS010_detail");
const selectedDetailRowItem = reactive({ value: {} } as { value: any });
const formTheme = {
  "--flex-direction": "row",
};

// Framework Function Definitions
onMounted(async () => {
  //event로 처리가 필요하나 ???
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi(`/WINUS/TMSYS010_rn.action`, {}, UtilService.getOptionApiData(`TMSYS010_rn`));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
  const res2 = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, UtilService.getOptionApiData("WMSST051_rn"));
  if (res2.status) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  }

  eventBus.on("search-finished", afterGridSearchFinished);
});

onUnmounted(() => {
  eventBus.off("search-finished", afterGridSearchFinished);
});

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
function sessionStorageReady() {}

onBeforeMount(() => {
  addCellStyle();
});
function onSelectionChanged(e: any) {
  let isSelected = e.event.node.selected;
  let event: RowSelectedEvent = e.event;
  event.api.redrawRows();
  selectedItems.value = masterGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    detailFormRef.value.searchGridData();
  }
}
function getAllMasterGridRows() {
  const allData: any[] = [];

  // Use the grid API to iterate over each row node
  masterGridApi.value?.forEachNode((node) => {
    allData.push(node.data);
  });

  return allData;
}

function addCellStyle() {
  const style = document.createElement("style");
  style.innerHTML = `
    .purple-cell {
      background-color: purple !important;
    }
  `;
  document.head.appendChild(style);
}
function afterGridSearchFinished(params: any) {
  if (params.gridId.includes("master") >= 0) {
    afterMasterGridSearchFinished(params);
  } else {
    afterDetailGridSearchFinished(params);
  }
}
function afterMasterGridSearchFinished(params: any) {}

function afterDetailGridSearchFinished(params: any) {}

// User Function Definitions
/**
 * 화주 팝업열기
 */
function openOwnerPopup() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }
}

let vrSearchGB: any = null;
let vrSrchCustId: any = null;
function onMasterApiParamsChanged(apiParams: any) {
  // apiParams._fullpath = "시스템관리 &gt; 기준코드";
  vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  if (!vrSrchCustId || vrSrchCustId.length == 0) {
    openOwnerPopup();
    return;
  }
  vrSearchGB = apiParams["vrSrchGb"];
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  detailGridApi.value?.deselectAll();
  // detailGridApi.value?.sizeColumnsToFit();
  const selectedMasterItem = GridUtils.getSelectedRowData(unref(masterGridApi) || new GridApi())[0];
  apiParams = {
    vrSrchSetId: Object.hasOwn(selectedMasterItem, "RITEM_ID") ? selectedMasterItem.RITEM_ID : "",
    vrSrchSetCd: Object.hasOwn(selectedMasterItem, "RITEM_CD") ? selectedMasterItem.RITEM_CD : "",
    vrSrchSetNm: Object.hasOwn(selectedMasterItem, "RITEM_CD") ? selectedMasterItem.RITEM_NM : "",
    vrDSrchCustId: Object.hasOwn(selectedMasterItem, "CUST_ID") ? selectedMasterItem.CUST_ID : "",
  };
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  let res = {};
  let vrSrchGb = apiParams.vrSrchGb;
  if (apiParams.vrSrchGb == "" || !apiParams.vrSrchGb) {
    res = await ApiService.postApi("/rest/WMSST350/list_T2.action", apiParams, bodyData.value, false);
  } else if (vrSrchGb == "Y") {
    res = await ApiService.postApi("/rest/WMSST350/list_T1.action", apiParams, bodyData.value, false);
  }
  return res;
}

async function getDetailData(apiParams: any, bodyData: any) {
  let res = {} as any;
  let vrSrchGb = apiParams.vrSrchGb;
  if (apiParams.vrSrchGb == "" || !apiParams.vrSrchGb) {
    res = await ApiService.postApi("/rest/WMSST350/listSub_T2.action", apiParams, bodyData.value, false);
  } else if (vrSrchGb == "Y") {
    res = await ApiService.postApi("/rest/WMSST350/listSub_T1.action", apiParams, bodyData.value, false);
  }
  if (res.result.list.length > 0 || !res.result.list) {
    detailItemList.value = res.result.list;
  }
  res.result.list = resetDetailList(res.result.list);
  resetDetailGridStyle(vrSrchGb);
  return res;
}

function resetDetailList(detailList: any[]) {
  let result = detailList.map((detailItem) => {
    return {
      D_SET_RITEM_NM: detailItem["SET_RITEM_NM"],
      D_PART_RITEM_NM: detailItem["PART_RITEM_NM"],
      D_PART_RITEM_CD: detailItem["PART_RITEM_CD"],
      D_QTY: detailItem["QTY"],
      D_OUT_ORD_QTY: detailItem["OUT_ORD_QTY"],
      D_MAKE_QTY: detailItem["MAKE_QTY"],
      D_STOCK_ABLE_QTY: detailItem["STOCK_ABLE_QTY"],
      D_STOCK_QTY: detailItem["STOCK_QTY"],
    };
  });
  return result;
}

function resetDetailGridStyle(vrSrchGb: String) {
  let detailColumnApi = detailFormRef.value.columnApi;
  if (vrSrchGb == "Y") {
    detailColumnApi.setColumnVisible("D_SET_RITEM_NM", false);
  } else {
    detailColumnApi.setColumnVisible("D_SET_RITEM_NM", false);
    detailColumnApi.setColumnVisible("D_OUT_ORD_QTY", false);
    detailColumnApi.setColumnVisible("D_MAKE_QTY", false);
  }
}

function onDetailGridSelectionChanged(e: any) {
  selectedDetailRowItem.value = e.event.data;
}
/**
 * Event Layer
 */
// master
const masterEventHandler: Record<string, Function> = {
  "recommend-manufacturing-service": recommendManufacturingService,
  "manufacturing-service": manufacturingService,
  "manufacturing-separate": manufacturingUnkit,
  excel: masterExport,
};

/**
 * 검색 조건
 */
function getSearchFormValue(name: string) {
  return searchConditionStore.getSearchInputValue()[name];
}

/**
 * 검색 조건
 */
function getSearchFormValues() {
  return searchConditionStore.getSearchInputValue();
}

/**
 * Array를 순번을 먹인 formField로 바꾸기
 */
function rowsToFormFields(rows: any[]) {
  // 새로운 객체 생성
  const updatedObj = {} as any;
  rows.map((obj, index) => {
    // 객체의 각 키에 대해 처리
    for (const key in obj) {
      if (Object.prototype.hasOwnProperty.call(obj, key)) {
        // 인덱스를 키에 붙임
        const newKey = `${key}${index}`;
        updatedObj[newKey] = obj[key];
      }
    }
    return updatedObj;
  });
  return updatedObj;
}

let lcId = UtilService.getCurrentLocation();

/**
 * 임가공 정보 추출
 * @param data 임가공 정보
 */
function buildWorkingData(data: any, workQtyField: string) {
  return {
    RITEM_ID: data.RITEM_ID,
    WORK_QTY: data[workQtyField],
    LC_ID: lcId,
    CUST_LOT_NO: "",
    SAP_BARCODE: "",
    CUST_ID: vrSrchCustId,
    MEMO: "",
  };
}

/**
 * 임가공 요청
 * @param formFields formField를 Array에 따라 순번처리한 데이터
 */
async function requestService(url: string, formFields: any, confirmMessage: string, successMsg?: string, failMsg?: string) {
  successMsg = successMsg || "임가공 완료.";
  failMsg = failMsg || "";
  await useConfirmStore().confirm(confirmMessage, t("button-name.confirm"));

  try {
    const resp = await ApiService.postApi(url, formFields, {});
    if (resp.status && resp.result && resp.result.MSG) {
      useToast().error(resp.result.MSG || failMsg);
      eventBus.emit("search-data");
    } else {
      useToast().success("임가공 완료."); //다국어 처리
      eventBus.emit("search-data");
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * fn_B_save
 * 1.조회 시점의 구분 필드의 값으로 체크, vrSrchGb를 조회 시점에 기록 후 관리
 * 2.만일 조회 시점에 구분이 Y가 아니라면 "출고주문(기준)으로 조회 시 사용 가능 합니다."
 * 3.선택된 행이 있는지 확인, 선택된 행이 있으면 "추천임가공시 체크박스를 해제해주세요."
 * 4.마스터 그리드 전체 행을 대상으로 BEST_INS_QTY를 추출해서 0이 아니면
 * 5.grid Data를 추출 RITEM_ID, WORK_QTY, LC_ID, CUST_LOT_NO, SAP_BARCODE
 * 6.필드명_데이터의 순서번호형태로 데이터를 가공(기존 Form으로 처리시 같은 Name으로 되어 있는 데이터에 대한 처리를 위한 목적), selectIds에 총 선택된 행수를 포함하여 전송
 * 6.1 '임가공 작업을 진행하시겠습니까?'확인 후 진행
 * 7.처리된 데이터의 수량이 0 이면 "생성 가능 수량이 없습니다."
 * 8.0보다 크면 6번에서 처리한 데이터와 총 리코드 수를 서버에 전송
 * 9.성공시 성공 및 재 조회
 * 10.실폐 시 서버의 실패 오류 표시
 */
async function recommendManufacturingService() {
  masterGridApi.value?.stopEditing();
  let rows = getAllMasterGridRows();
  if (selectedItems.value?.length > 0) {
    useToast().warning("추천임가공시 체크박스를 해제해주세요.");
    return;
  }
  let workingRows = [] as any[];
  let formFields = {} as any;
  if (vrSearchGB == "Y") {
    workingRows = recommendManufacturingServiceOutbound(rows);
  } else {
    useToast().warning("출고주문(기준)으로 조회 시 사용 가능 합니다."); //TODO 다국어
    return;
  }
  if (workingRows && workingRows.length > 0) {
    formFields = rowsToFormFields(workingRows);
    formFields.selectIds = workingRows.length;
    requestService("/rest/WMSST071/save2.action", formFields, " 임가공 작업을 진행하시겠습니까? \n 추천생성수량 기준으로 자동 임가공 작업이 진행됩니다.");
  } else {
    useToast().warning("생성 가능 수량이 없습니다."); //TODO 다국어
  }
}

/**
 * 추천 임가공에서 사용자가 검색시 점에 출고로 선택한 경우
 * @param rows 선택된 행
 */
function recommendManufacturingServiceOutbound(rows: Array<Record<string, any>>) {
  let workingRows = [] as any[];
  rows.forEach((data: any) => {
    if (data.BEST_INS_QTY != 0) {
      workingRows.push(buildWorkingData(data, "BEST_INS_QTY"));
    }
  });
  if (workingRows.length === 0) {
    useToast().warning("생성 가능 수량이 없습니다."); //TODO 다국어
  }
  return workingRows;
}
/**
 * fn_save
 * 1.조회 시점의 구분 필드의 값으로 체크, vrSrchGb를 조회 시점에 기록 후 관리
 * 2.선택된 행이 있는지 확인, 선택된 행이 없으면 "save.nodata."
 *   조건 만족시 선택된 마스터 그리드에서 행 추출
 * 3.선태된 행에서 INS_QTY(입력수량) 추출 -> P_INS_QTY이
 * 4.입력 수량이 없으면 "수량을 입력해주세요.", 마스터 그리드 전체 행을 대상으로 INS_QTY를 추출해서 0이 아니면
 * 5.vrSrchGb=='Y'인 경우에 MAKE_QTY확인 0인 경우 "생성 가능 수량이 0개 입니다. 부자재 재고를 확인해주세요."
 * 5.1.INS_QTY>MAKE_QTY"생성 가능 수량을 확인해주세요.\n 상품명 : "+grid.getValue(selectIds[i], RITEM_NM)+"\n 상품코드 : "+grid.getValue(selectIds[i], RITEM_CD)+""
 * 5.2 .P_INS_QTY이 0이 아니면 grid Data를 추출 RITEM_ID, WORK_QTY, LC_ID, CUST_LOT_NO, SAP_BARCODE
 * 6.vrSrchGb가 Y가 아닌 경우 TOTAL_MAKE_QTY확인, 0인경우 ""생성 가능 수량이 0개 입니다. 부자재 재고를 확인해주세요.""
 * 6.1.INS_QTY>TOTAL_MAKE_QTY"생성 가능 수량을 확인해주세요.\n 상품명 : "+grid.getValue(selectIds[i], RITEM_NM)+"\n 상품코드 : "+grid.getValue(selectIds[i], RITEM_CD)+""
 * 6.2 .P_INS_QTY이 0이 아니면 grid Data를 추출 RITEM_ID, WORK_QTY, LC_ID, CUST_LOT_NO, SAP_BARCODE
 * 7.필드명_데이터의 순서번호형태로 데이터를 가공(기존 Form으로 처리시 같은 Name으로 되어 있는 데이터에 대한 처리를 위한 목적), selectIds에 총 선택된 행수를 포함하여 전송
 * 8. 처리된 데이터의 수량이 0 이면 "생성 가능 수량이 없습니다."
 * 9. '임가공 작업을 진행하시겠습니까?' 확인 후 진행
 * 10.성공시 성공 및 재 조회
 * 11.실폐 시 서버의 실패 오류 표시
 */
async function manufacturingService() {
  masterGridApi.value?.stopEditing();
  let rows = selectedItems.value;
  let workingRows = [] as any[];
  let formFields = {} as any;
  if (rows.length < 1) {
    useToast().warning("save.nodata");
  }
  if (vrSearchGB == "Y") {
    workingRows = manufacturingServiceOutbound(rows);
  } else {
    workingRows = manufacturingServiceAll(rows);
  }
  if (workingRows && workingRows.length > 0) {
    formFields = rowsToFormFields(workingRows);
    formFields.selectIds = workingRows.length;
    requestService("/rest/WMSST071/save2.action", formFields, " 임가공 작업을 진행하시겠습니까? \n 추천생성수량 기준으로 자동 임가공 작업이 진행됩니다.");
  }
}
/**
 * 임가공에서 사용자가 검색시 점에 전체로 선택한 경우
 * @param rows 선택된 행
 */
function manufacturingServiceAll(rows: Array<Record<string, any>>) {
  let workingRows = [] as any[];
  rows.forEach((data: any) => {
    if (!data.INS_QTY || data.INS_QTY.toString().length == "0") {
      useToast().warning("수량을 입력해주세요."); //TODO: 다국어
      return;
    }
    if (data.INS_QTY > data.MAKE_QTY) {
      useToast().warning(`생성 가능 수량을 확인해주세요.\n 상품명 : ${data.RITEM_NM}\n 상품코드 : ${data.RITEM_CD}`); //TODO: 다국어
      return;
    }
    if (data.INS_QTY != 0) {
      workingRows.push(buildWorkingData(data, "INS_QTY"));
    }
  });
  return workingRows;
}
/**
 * 임가공에서 사용자가 검색시 점에 출고로 선택한 경우
 * @param rows 선택된 행
 */
function manufacturingServiceOutbound(rows: Array<Record<string, any>>) {
  let workingRows = [] as any[];
  rows.forEach((data: any) => {
    if (!data.TOTAL_MAKE_QTY || data.TOTAL_MAKE_QTY.toString().length == "0") {
      useToast().warning("생성 가능 수량이 0개 입니다. 부자재 재고를 확인해주세요."); //TODO: 다국어
      return;
    }
    if (data.INS_QTY > data.TOTAL_MAKE_QTY) {
      useToast().warning(`생성 가능 수량을 확인해주세요.\n 상품명 : ${data.RITEM_NM}\n 상품코드 : ${data.RITEM_CD}`); //TODO: 다국어
      return;
    }
    if (data.INS_QTY != 0) {
      workingRows.push(buildWorkingData(data, "INS_QTY"));
    }
  });
  return workingRows;
}

/**
 * fn_UNKIT_save
 * 1.선택된 행이 있는지 확인, 선택된 행이 없으면 "save.nodata." 및 화주 선택 확인
 *   조건 만족시 마스터 그리드에서 선택된 행 추출
 * 2.선태된 행에서 INS_QTY(입력수량) 추출 -> P_INS_QTY
 * 3.입력 수량이 없으면 "수량을 입력해주세요.", 마스터 그리드 전체 행을 대상으로 INS_QTY를 추출해서 0이 아니면
 * 4.INS_QTY>S_STOCK_QTY이면 "해체 가능 수량을 확인해주세요."
 * 5.P_INS_QTY이 0이 아니면 grid Data를 추출 RITEM_ID, WORK_QTY, LC_ID, CUST_ID, MEMO
 * 6.필드명_데이터의 순서번호형태로 데이터를 가공(기존 Form으로 처리시 같은 Name으로 되어 있는 데이터에 대한 처리를 위한 목적), selectIds에 총 선택된 행수를 포함하여 전송
 * 9. '헤체 작업을 진행하시겠습니까?' 확인 후 진행
 * 10.성공시 성공 및 재 조회
 * 11.실폐 시 서버의 실패 오류 표시
 */
function manufacturingUnkit() {
  masterGridApi.value?.stopEditing();
  let rows = selectedItems.value;
  let workingRows = [] as any[];
  let formFields = {} as any;
  if (rows.length < 1) {
    useToast().warning("save.nodata");
  }
  workingRows = manufacturingUnkitPreprocessing(rows);
  if (workingRows && workingRows.length > 0) {
    formFields = rowsToFormFields(workingRows);
    formFields.selectIds = workingRows.length;
    requestService("/rest/WMSST290/dlt.action", formFields, "해체를 진행하시겠습니까?");
  }
}

/**
 * 임가공 해체 기본 로직
 * @param rows 선택된 행
 */
function manufacturingUnkitPreprocessing(rows: Array<Record<string, any>>) {
  let workingRows = [] as any[];
  rows.forEach((data: any) => {
    if (!data.INS_QTY || data.INS_QTY.toString().length == "0") {
      useToast().warning("수량을 입력해주세요."); //TODO: 다국어
      return;
    }
    if (data.INS_QTY > data.S_STOCK_QTY) {
      useToast().warning(`해체 가능 수량을 확인해주세요.`); //TODO: 다국어
      return;
    }
    if (data.INS_QTY != 0) {
      workingRows.push(buildWorkingData(data, "INS_QTY"));
    }
  });
  return workingRows;
}

function masterExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.base-code-list"),
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}

// detail
const detailEventHandler: Record<string, Function> = {
  excel: detailExport,
};
function detailExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.base-code-list"),
  };
  detailGridApi.value?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid > div:first-child {
    flex-grow: 3; /* Takes 2 parts of the available space */
  }
  &-grid > div:last-child {
    flex-grow: 2; /* Takes 2 parts of the available space */
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
