<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG020/page.vue
 *  Description:    창고별재고현황 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header> </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme"></div>
    <common-form
      ref="masterFormRef"
      :gridId="`${myPageId}-master-grid`"
      :gridMeta="GRID_META"
      :onCellFocused="onCellFocused"
      :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
      :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
      :controlBtn="MASTER_CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onMasterApiParamsChanged"
      :getServerData="getMasterData"
      @onSelectionChanged="onSelectionChanged"
      :context="[]">
      <div class="grid-header">{{ masterGridTitleRef }}</div>
      <control-container>
        <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
    <common-form
      ref="detailFormRef"
      :gridId="`${myPageId}-detail-grid`"
      :gridMeta="GRID_META"
      :disableSearchEvent="disableSearchEvent"
      :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
      :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
      :controlBtn="DETAIL_CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onDetailApiParamsChanged"
      :getServerData="getDetailData"
      @onSelectionChanged="onDetailGridSelectionChanged"
      :context="{}">
      <div class="grid-header">{{ detailGridTitleRef }}</div>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG020" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";

import { GridUtils } from "@/lib/ag-grid/utils";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { RowSelectedEvent } from "ag-grid-community";
import { ExcelExportParams, GridApi } from "ag-grid-enterprise";
import { computed, onMounted, onUnmounted, reactive, Ref, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { DETAIL_CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_META, MASTER_CONTROL_BTN, MASTER_GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";
const { t } = useI18n();
const searchConditionStore = useSearchConditionStore();

//master grid 선택시(복수 체크)
const selectedItems = ref<Record<string, any>[]>([]);

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});

//디테일 그리드 전체
const detailItemList = ref<Record<string, any>[] | undefined>([]);

// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const eventBus = useEventBusStore();
const masterGridTitleRef = t("menu-header-title.WMSTG020_master");
const detailGridTitleRef = t("menu-header-title.WMSTG020_detail");
const selectedDetailRowItem = reactive({ value: {} } as { value: any });
const formTheme = {
  "--flex-direction": "column",
};

function onDetailGridSelectionChanged(e: any) {
  selectedDetailRowItem.value = e.event.data;
}

const masterEventHandler: Record<string, Function> = {
  excel: masterExport,
};

// Framework Function Definitions
onMounted(async () => {
  //event로 처리가 필요하나 ???
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const data = UtilService.getOptionApiData(`WMSTG020`);
  const res = await ApiService.postApi(`/rest/WINUS/WMSTG020.action`, {}, data);
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
  eventBus.on("search-finished", afterGridSearchFinished);
});

onUnmounted(() => {
  eventBus.off("search-finished", afterGridSearchFinished);
});

function onSelectionChanged(e: any) {
  let isSelected = e.event.node.selected;
  let event: RowSelectedEvent = e.event;
  event.api.redrawRows();
  selectedItems.value = masterGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    detailFormRef.value.searchGridData();
  }
}

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
function sessionStorageReady() {}

function afterGridSearchFinished(params: any) {
  if (params.gridId.includes("master") >= 0) {
    afterMasterGridSearchFinished(params);
  } else {
    afterDetailGridSearchFinished(params);
  }
}
function afterMasterGridSearchFinished(params: any) {}

function afterDetailGridSearchFinished(params: any) {}

function onMasterApiParamsChanged(apiParams: any) {
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  detailGridApi.value?.deselectAll();
  // detailGridApi.value?.sizeColumnsToFit();
  const selectedMasterItem = GridUtils.getSelectedRowData(unref(masterGridApi) || new GridApi())[0];
  apiParams = {
    vrWhId: Object.hasOwn(selectedMasterItem, "WH_ID") ? selectedMasterItem.WH_ID : "",
    vrRitemId: Object.hasOwn(selectedMasterItem, "RITEM_ID") ? selectedMasterItem.RITEM_ID : "",
    vrUomId: Object.hasOwn(selectedMasterItem, "UOM_ID") ? selectedMasterItem.UOM_ID : "",
  };
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSTG020/list.action", apiParams, bodyData.value, false);
}

async function getDetailData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSTG020/listSub.action", apiParams, bodyData.value, false);
}

function masterExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.warehouse-inventory-status"),
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
.search-comment {
  text-align: right;
  color: $red;
  font-size: 12px;
  padding: 0 23px 15px 0;
}
</style>
