<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST014_1/page.vue
 *  Description:    현재고 조회(NEW) 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <!-- :context="{ ...MASTER_GRID_CELL_SELECT_BOX, ...MASTER_CELL_RENDERER_INFO }"> -->

      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :onCellFocused="onCellFocused"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged"
        :context="[]">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems && Object.keys(selectedItems).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-search v-if="showFilter" :searchContainerMeta="SEARCH_META_DETAIL" @sessionStorageReady="sessionStorageReady">
        <template v-slot:search-header></template>
        <template v-slot:search-input-header></template>
      </common-search>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onDetailApiParamsChanged"
        :getServerData="getDetailData"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :context="{}"
        :modules="[ExcelExportModule]">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems && Object.keys(selectedItems).length > 0" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "TMSYS010" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { RowSelectedEvent } from "ag-grid-community";
import { ExcelExportModule, ExcelExportParams, GridApi } from "ag-grid-enterprise";
import { Ref, computed, onBeforeMount, onMounted, onUnmounted, reactive, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { DETAIL_CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_META, MASTER_CONTROL_BTN, MASTER_GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META, SEARCH_META_DETAIL } from "./input.meta";
const { t } = useI18n();
const searchConditionStore = useSearchConditionStore();

//master grid 선택시(복수 체크)
const selectedItems = ref<Record<string, any>[]>([]);

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});

//디테일 그리드 전체
const detailItemList = ref<Record<string, any>[] | undefined>([]);

// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const eventBus = useEventBusStore();
const masterGridTitleRef = t("menu-header-title.WMSST014_1");
const detailGridTitleRef = t("menu-header-title.WMSST014_1_detail");
const selectedDetailRowItem = reactive({ value: {} } as { value: any });
const formTheme = {
  "--flex-direction": "column",
};
const showFilter = ref(false);

// Framework Function Definitions

onBeforeMount(() => {});

onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi("/rest/WINUS/WMSST014.action", {}, UtilService.getOptionApiData("WMSST014"));
  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }
  eventBus.on("search-data-detail", searchDetail);
  eventBus.on("search-finished", afterGridSearchFinished);
});

onUnmounted(() => {
  eventBus.off("search-data-detail", searchDetail);
  eventBus.off("search-finished", afterGridSearchFinished);
});

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
function sessionStorageReady() {}

function searchDetail() {
  detailFormRef.value.searchGridData();
}
function onSelectionChanged(e: any) {
  let isSelected = e.event.node.selected;
  let event: RowSelectedEvent = e.event;
  event.api.redrawRows();
  selectedItems.value = masterGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    searchDetail();
  }
}

function afterGridSearchFinished(params: any) {
  if (params.gridId.includes("master") >= 0) {
    afterMasterGridSearchFinished(params);
  } else {
    afterDetailGridSearchFinished(params);
  }
}
function afterMasterGridSearchFinished(params: any) {}

function afterDetailGridSearchFinished(params: any) {}

// User Function Definitions
/**
 * 화주 팝업열기
 */
function openOwnerPopup() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }
}

let hdnCustId: any = null;
function onMasterApiParamsChanged(apiParams: any) {
  // apiParams._fullpath = "시스템관리 &gt; 기준코드";
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  detailGridApi.value?.deselectAll();
  // detailGridApi.value?.sizeColumnsToFit();
  const selectedMasterItem = GridUtils.getSelectedRowData(unref(masterGridApi) || new GridApi())[0];
  //showFilter에 따른 Params

  apiParams = {
    vrRitemId: Object.hasOwn(selectedMasterItem, "RITEM_ID") ? selectedMasterItem.RITEM_ID : "",
    vrUomId: Object.hasOwn(selectedMasterItem, "UOM_ID") ? selectedMasterItem.UOM_ID : "",
    vrSrchUnitNo: null,
    vrSrchLockYn: null,
  };
  //기존에는 detail 버튼을 클릭할때만 상세 검색을 처리하지만 여기서는 화면이 보일 경우 처리하도록 처리
  //이런 형태가 사용자 입장에서 합리 적으로 보임
  if (showFilter.value === true) {
    apiParams.vrSrchUnitN = Object.hasOwn(useSearchConditionStore().getSearchInputValue(), "vrSrchUnitNo") ? useSearchConditionStore().getSearchInputValue().vrSrchUnitNo : "";
    apiParams.vrSrchLockYn = useSearchConditionStore().getSearchInputValue().vrSrchLockYn;
  }
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  let res = {};
  hdnCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  if (!hdnCustId || hdnCustId.length == 0) {
    openOwnerPopup();
    return;
  }
  // let vrSrchGb = apiParams.vrSrchGb;
  res = await ApiService.postApi("/rest/WMSST010/listV2.action", apiParams, bodyData.value, false);
  return res;
}

async function getDetailData(apiParams: any, bodyData: any) {
  let res = {} as any;
  // let vrSrchGb = apiParams.vrSrchGb;
  res = await ApiService.postApi("/rest/WMSST010/listV2_detail.action?", apiParams, bodyData.value, false);
  if (res.result.list.length > 0 || !res.result.list) {
    detailItemList.value = res.result.list;
  }
  res.result.list = resetDetailList(res.result.list);
  // resetDetailGridStyle(vrSrchGb);
  return res;
}

function resetDetailList(detailList: any[]) {
  let result = detailList.map((detailItem) => {
    return {
      RITEM_ID_D: detailItem["RITEM_ID"],
      RITEM_NM_D: detailItem["RITEM_NM"],
      RITEM_CD_D: detailItem["RITEM_CD"],
      WH_ID_D: detailItem["WH_ID"],
      UOM_ID_D: detailItem["UOM_ID"],
      UOM_NM_D: detailItem["UOM_NM"],
      WH_NM_D: detailItem["WH_NM"],
      CUST_ID_D: detailItem["CUST_ID"],
      CUST_NM_D: detailItem["CUST_NM"],
      CUST_CD_D: detailItem["CUST_CD"],
      LOC_ID_D: detailItem["LOC_ID"],
      LOC_NM_D: detailItem["LOC_NM"],
      STOCK_QTY_D: detailItem["STOCK_QTY"],
      OUT_EXP_QTY_D: detailItem["OUT_EXP_QTY"],
      CUST_LOT_NO_D: detailItem["CUST_LOT_NO"],
      ITEM_CLASS_D: detailItem["ITEM_CLASS"],
      REAL_PLT_QTY_D: detailItem["REAL_PLT_QTY"],
      STOCK_ID_D: detailItem["STOCK_ID"],
      BL_NO_D: detailItem["BL_NO"],
      UNIT_NO_D: detailItem["UNIT_NO"],
      MAKE_DT_D: detailItem["MAKE_DT"],
      WORK_DT_D: detailItem["WORK_DT"],
      IN_DT_D: detailItem["IN_DT"],
      ITEM_BEST_DATE_END: detailItem["ITEM_BEST_DATE_END"],
      STOCK_RANK_D: detailItem["STOCK_RANK"],
      STOCK_WEIGHT_D: detailItem["STOCK_WEIGHT"],
      TEMP_TYPE_NAME_E1D: detailItem["TEMP_TYPE_NAME_E1D"],
      LOCK_YN_D: detailItem["LOCK_YN"],
      CBM_D: detailItem["CBM"],
      UNIT_NM_D: detailItem["UNIT_NM"],
      LOC_TYPE_NM_D: detailItem["LOC_TYPE_NM"],
      LOC_TYPE_D: detailItem["LOC_TYPE"],
    };
  });
  return result;
}

// function resetDetailGridStyle(vrSrchGb: String) {
//   let detailColumnApi = detailFormRef.value.columnApi;
//   if (vrSrchGb == "Y") {
//     detailColumnApi.setColumnVisible("D_SET_RITEM_NM", false);
//   } else {
//     detailColumnApi.setColumnVisible("D_SET_RITEM_NM", false);
//     detailColumnApi.setColumnVisible("D_OUT_ORD_QTY", false);
//     detailColumnApi.setColumnVisible("D_MAKE_QTY", false);
//   }
// }

function onDetailGridSelectionChanged(e: any) {
  selectedDetailRowItem.value = e.event.data;
}
/**
 * Event Layer
 */
// master
const masterEventHandler: Record<string, Function> = {
  "in/out-order-regeneration": inOutOrderRegeneration,
  save: saveRowData,
  "main-excel": masterExport,
};

// 메인그리드 저장
async function saveRowData() {
  masterGridApi.value?.stopEditing();
  const selectedItems: any = masterGridApi.value?.getSelectedRows();
  if (!selectedItems || selectedItems.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    masterGridApi.value?.deselectAll();
    let data: any = {
      LC_ID: UtilService.getCurrentLocation(),
      selectIds: String(selectedItems.length),
      D_selectIds: "0",
    };

    for (let i = 0; selectedItems.length > i; i++) {
      data["ST_GUBUN" + [i]] = "UPDATE";
      data["REMARK" + [i]] = selectedItems[i].REMARK;
      data["RITEM_ID" + [i]] = selectedItems[i].RITEM_ID;
    }

    const resp = await ApiService.postApi("/WMSST010/save_rn.action", {}, data);
    if (resp.status) {
      useToast().success(resp.result.MSG);
      eventBus.emit("search-data");
    }
  } catch (err) {
    eventBus.emit("search-data");
    return console.log(err);
  }
}
// 수불재생성 버튼클릭
async function inOutOrderRegeneration() {
  masterGridApi.value?.stopEditing();
  const selectedItems: any = masterGridApi.value?.getSelectedRows();
  if (!selectedItems || selectedItems.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  await useConfirmStore().confirm(t("confirm-message.would-you-like-to-proceed"), t("button-name.confirm"));

  try {
    let data: any = {
      selectIds: String(selectedItems.length),
    };

    for (let i = 0; selectedItems.length > i; i++) {
      data["ST_GUBUN" + [i]] = "UPDATE";
      data["RITEM_ID" + [i]] = selectedItems[i].RITEM_ID;
    }

    const res = await ApiService.postApi("/WMSST010/subulManualComp_rn.action", {}, data);
    if (res.status) {
      if (res.result.errCnt === 0) {
        useToast().success(res.result.MSG);
        masterGridApi.value?.deselectAll();
      } else {
        useToast().error(res.result.MSG);
      }
    }
    eventBus.emit("search-data");
  } catch (err) {
    eventBus.emit("search-data");
    console.log(err);
    return;
  }
}

function masterExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("menu-header-title.WMSST014_1"),
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}

// detail
const detailEventHandler: Record<string, Function> = {
  "excel-all": async () => {
    let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
    await UtilService.getExcelFileByURL("/WMSST014/excel014E1_2.action", apiParams);
  },
  "search-filter": () => {
    showFilter.value = !showFilter.value; // 토글
  },
  "sub-excel": detailExport,
};
function detailExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("menu-header-title.WMSST014_1_detail"),
  };
  detailGridApi.value?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid > div:first-child {
    flex-grow: 3; /* Takes 2 parts of the available space */
  }
  &-grid > div:last-child {
    flex-grow: 2; /* Takes 2 parts of the available space */
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
