<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST057_2/page.vue
 *  Description:    일별재고상세(기간별) 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.06. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header> </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="gridStatisticsInfoRef" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST057_2" };
</script>
<script setup lang="ts">
import { computed, onMounted, onUnmounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import commonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/stock/WMSST057_2/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const gridTotalData = reactive({ value: {} as any });
const SelectedDataStore = useSelectedDataStore();
const gridData = reactive({ value: [] as any });

const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};
const gridHeaderTitle = computed(() => {
  return t("menu-header-title.WMSST057_2");
});
const gridStatisticsInfoRef = ref(GRID_STATISTICS_INFO);
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//엑셀
function excelExport() {
  if (gridData.value.length === 0) {
    return useToast().warning(t("common-toast.no-data-found"));
  }
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.stock-detail-by-daily(by-period)"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, UtilService.getOptionApiData("WMSST051_rn"));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
  const res1 = await ApiService.postApi("/WINUS/WMSST010_rn.action", {}, UtilService.getOptionApiData("WMSST010_rn"));
  if (res1.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res1.result.selectBoxInfos);
    useOptionDataStore().setOptionData(res1.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res1.result);
  }
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

function onApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "재고관리 &gt; 일별재고상세(기간별)";
  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSST057/listE2.action", apiParams, bodyData.value, false);
  //입력받은 from ~ to 의 일수 차이가 한달 이상 나면 return
  if (!differenceBetweenDates(apiParams)) {
    res.result.list = [];
    gridTotalData.value = { TOTAL_QTY: 0 };
    useToast().warning(t("common-toast.not-possible-to--more-than-a-month"));
    return;
  }
  if (res) {
    gridTotalData.value = { TOTAL_QTY: res.result.list.length };
    gridData.value = res.result.list;
  }
  return res;
}

//입력받은 작업일자 from to 의 일수 차이가 한달 이상인 경우를 판단하는 함수
function differenceBetweenDates(apiParams: any) {
  let bool = true;
  if (apiParams.vrSrchReqDtFrom != null && apiParams.vrSrchReqDtTo != null) {
    let differenceInMillis = new Date(apiParams.vrSrchReqDtTo) - new Date(apiParams.vrSrchReqDtFrom);
    const millisecondsInDay = 24 * 60 * 60 * 1000;
    let differenceInDays = Math.round(differenceInMillis / millisecondsInDay);
    if (differenceInDays > 30) {
      bool = false;
    }
  }
  return bool;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
