<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST051_3/form.vue
 *  Description:    재고관리/일별재고-일별재고내역(물류용기) 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <control-container>
    <div v-for="btnData in controlBtn.value" :key="btnData.title">
      <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" :excelExport="excelExport" />
    </div>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <my-grid
      :onGridReady="onGridReady"
      :pinnedBottomRowData="pinnedBottomRowData"
      :pagingSize="pagingSize"
      @onPageSizeChanged="
        (ps) => {
          pagingSize = ps;
        }
      " />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import MyGrid from "./grid.vue";
import { CONTROL_BTN, SEARCH_INPUT } from "./input";

// Variable Definitions
const { t } = useI18n();
let gridApi: GridApi | null = null;
const pagingOptions = UtilService.getGridPagingOptions("WMSST051_3");
const pagingSize = ref<number>(pagingOptions![0]);
// class="form-container" 엘리먼트
const formContainerRef = ref(null as null | any);
const bodyData = reactive({ value: {} as any });
const pinnedBottomRowData = reactive({ value: {} });
const inactive = ref<boolean>(false);
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST051_3", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
};

function changeColumDef() {
  const colDefs: any = gridApi?.getColumnDefs();

  colDefs?.forEach((column: any) => {
    if (column.headerKey === "no") {
      column.valueGetter = (params: any) => {
        if (Object.hasOwn(params.node.data, "RNUM")) {
          return params.node.rowIndex + 1;
        } else {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  gridApi?.setColumnDefs(colDefs);
}

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    initBeforeSearchGridData();
    const searchConditions = SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "재고관리 &gt; 일별재고";
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSST051/listPool_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            params.successCallback(gridData.result.list, gridData.result.totCnt);
            pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(gridData.result.list, pinnedBottomRowData.value, pagingSize.value);
          } else {
            useToast().warning(t("common-toast.no-data-list"));
            params.successCallback([], 0);
          }
        } else {
          params.successCallback([], 0);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function initBeforeSearchGridData() {
  changeColumDef();
  gridApi?.deselectAll();
  pinnedBottomRowData.value = {
    IN_QTY: 0,
    OUT_QTY: 0,
    STC41: 0,
    STOCK_QTY: 0,
    INOUT_QTY: 0,
  };
}

// grid에 paging option 적용
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    //실제 운영 서버에서 이름 확인 -> 기능 동작하지 않아 제목 알 수 없어 페이지 이름으로 적용
    fileName: t("excel-export-file-name.daily-inventory-details(logistics-container)"),
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.grid-statistics {
  &-container {
    position: absolute;
    top: -14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
  }

  &-title {
    font-weight: bold;
    font-size: 13px;
    color: #727272;
    margin-right: 17px;
  }
  &-value {
    font-weight: bold;
    font-size: 13px;
    color: #222222;
  }
}

.form-container {
  width: 100%;
  position: relative;
}

@include infoComponentStyle;
@include formContainerStyle;
</style>
