<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST051_3/grid.vue
 *  Description:    재고관리/일별재고내역(물류용기) 메인 Form화면의 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container container-container">
    <!-- <div class="grid-header">{{ $t("grid-title.warehouse-list") }}</div> -->
    <div class="grid-header">{{ $t("grid-title.daily-stock") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" @cellClicked="cellClicked" :modules="[ExcelExportModule]" :pinnedBottomRowData="[pinnedBottomRowData.value]" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref } from "vue";
import { onBeforeMount } from "vue";
import { useI18n } from "vue-i18n";

import { AgGridVue } from "ag-grid-vue3";
import { GridOptions, CellClickedEvent } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
// excel export관련 모듈을 따로 설치해줘여댬, 설치하고 그리드 컴포넌트에 프로퍼티로 입력
import { ExcelExportModule } from "ag-grid-enterprise";

import { useSelectedDataStore } from "@/store";
import { UtilService } from "@/services/util-service";

import { FORM_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const { t } = useI18n();
const { onGridReady } = defineProps<{
  onGridReady: any;
  pinnedBottomRowData: any;
}>();
const SelectedDataStore = useSelectedDataStore();
const pagingOptions = UtilService.getGridPagingOptions("WMSST051_3");
const pagingSize = ref<number>(pagingOptions![0]);
const emits = defineEmits(["onPageSizeChanged"]);
const totalRows = ref<number>(0);

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};
const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  enableRangeSelection: true,
  columnDefs: FORM_COLUMN_DEFS,
  onGridReady: onGridReady,
  suppressContextMenu: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  headerHeight: 32,
  rowHeight: 32,
  onPaginationChanged: onPaginationChanged,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

// User Function Definitions
// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data);
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    width: 100% !important;
    position: relative;
  }
  .container-container {
    width: 100% !important;
    position: relative;
    background-color: red;
  }
  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
.page-size {
  position: absolute;
  right: 65px;
  bottom: -3px;
}
</style>
