<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST051_3/page.vue
 *  Description:    재고관리/일별재고내역(물류용기)
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady"> </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button
            v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && selectedItems.value && Object.keys(selectedItems.value).length > 0"
            :data="btnData"
            @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->

<script lang="ts">
export default { name: "WMSST051_3" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import { default as CommonSearch, default as commonSearch } from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { computed, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();

const { t } = useI18n();
const gridControlBtnRef = ref(CONTROL_BTN);

const gridHeaderTitle = computed(() => {
  return t("grid-title.daily-stock");
});

const selectedItems = ref({} as any);
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  searchGridData = commonFormRef.value!.searchGridData;
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const data = UtilService.getOptionApiData("WMSCM162_rn");
  const res = await ApiService.postApi("/WMSCM162_rn.action", {}, data);
  if (res.status) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  }
});

onUnmounted(() => {
  // 페이지 ID를 포함한 이벤트 이름으로 리스너 제거
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    //실제 운영 서버에서 이름 확인 -> 기능 동작하지 않아 제목 알 수 없어 페이지 이름으로 적용
    fileName: t("excel-export-file-name.daily-inventory-details(logistics-container)"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

/**
 * 그리드 조회 parameter 수정
 * @param apiParams 그리드 조회 parameter
 */
function onApiParamsChanged(apiParams: any) {
  //  select-box 옵션에따라 다른 종류의 search modal이 띄어지는데, input value의 key값이 동일해서, 계속 첫번째 option의 값을 가지고 apiParams에 넣게됨.
  //  UtilService.getGridParams 에서 예외처리 하기가 까다로워 이런 경우의 페이지일 경우 따로 처리.
  apiParams._fullpath = "재고관리 &gt; 일별재고";
  return apiParams;
}

/**
 * 데이터를 서버에서 수신해서 grid에 전달
 * @param apiParams api호츨을 위한 parameter
 * @param bodyData page등 데이터
 */
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST051/listPool_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->

<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
