<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS040/page.vue
 *  Description:    설정관리/프로그램관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData">
      <div class="grid-header">{{ t("menu-header-title.TMSYS040") }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "TMSYS040" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service.ts";
import { UtilService } from "@/services/util-service.ts";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus.ts";
import type { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const { t } = useI18n();
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi("/WINUS/TMSYS040_rn.action", {}, UtilService.getOptionApiData("TMSYS040_rn"));
  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * 저장
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  // 필수값 유효성 검사
  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi.value);

  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(
      t("common-toast.no-save-grid-require-value", {
        line: saveEditGridRequiredValidation.line,
        key: saveEditGridRequiredValidation.key,
      })
    );
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = { _fullpath: "시스템관리 &gt; 프로그램관리", selectIds: String(selectedRows.length) };
    for (let i = 0; selectedRows.length > i; i++) {
      if (!UtilService.isEmptyString(selectedRows[i].ST_GUBUN)) {
        data["ST_GUBUN" + [i]] = selectedRows[i].ST_GUBUN;
      }
      data.vrTopMenuCd = "";
      data.vrProgramId = "";
      data.vrProgramNm = "";
      data["TOP_MENU_CD" + [i]] = selectedRows[i].TOP_MENU_CD;
      data["PROGRAM_NM" + [i]] = selectedRows[i].PROGRAM_NM;
      data["VIEW_NM" + [i]] = selectedRows[i].VIEW_NM;
      data["URL" + [i]] = selectedRows[i].URL;
      data["REMARK" + [i]] = selectedRows[i].REMARK;
      data["PROGRAM_ID" + [i]] = selectedRows[i].PROGRAM_ID;
    }
    const result = await ApiService.postApi("/TMSYS040/save_rn.action", {}, data);

    if (result.status) {
      if (result.result.errCnt !== 0) {
        useToast().error(t(result.result.MSG));
      }
      useToast().success(t("common-toast.registered"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      searchGridData();
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

/**
 * 신규
 */
function addRowData() {
  const newRowData = [{ ST_GUBUN: "INSERT" }];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  try {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

    let data: any = {};

    for (let i = 0; selectedRows.length > i; i++) {
      // 반영되지 않은 신규 행 삭제
      if (selectedRows[i].ST_GUBUN === "INSERT") {
        gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
      }
      // 저장되어있는 데이터의 삭제
      else {
        data["PROGRAM_ID" + [rowIndex]] = selectedRows[i].PROGRAM_ID;

        rowIndex++;
        isDataDelete = true;
      }
    }

    data.vrTopMenuCd = "";
    data.vrProgramId = "";
    data.vrProgramNm = "";
    data.selectIds = String(rowIndex);

    // 데이터 삭제처리가 필요하지 않은 경우
    if (!isDataDelete) return;

    if (!UtilService.isEmptyObject(data)) {
      const result = await ApiService.postApi("/TMSYS040/delete_rn.action", {}, data);

      if (result.status) {
        useToast().success(t("common-toast.deleted"));
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        searchGridData();
      }
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

/**
 * 엑셀
 */
function excelExport() {
  let columnKeys = [] as (string | any)[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.program-list"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/TMSYS040/list_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
