<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG732_1/page.vue
 *  Description:    출고데이터통계분석 - 일정기간별 출고실적 화면
 *  Authors:        H. N. KO
 *  Update History:
 *                  2024.06. : Created by H.N.KO
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header> </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="gridStatisticsInfoRef" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG732_1" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import commonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onMounted, onUnmounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";

import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const gridTotalData = reactive({ value: {} as any });
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};

const gridStatisticsInfoRef = ref(GRID_STATISTICS_INFO);
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("menu-header-title.WMSTG732_1"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * search-form 에서 [기준]의 값이 변함에 따라 그 다음 select-box가 변경됨
 */
watch(
  () => useSearchConditionStore().getSearchInputValue().vrSrchDate,
  async (vrSrchDate) => {
    //기존에 vrSrchDate는 어떤 값이 들어오느냐에 따라 해당하는 부분만 보여지도록 설정함
    let searchInput = document.getElementsByClassName("input-item-is-show");

    //월별 선택 시 1, 2만 보이게 함
    if (vrSrchDate == "001") {
      setSearchInput(searchInput, [1]);
    }

    //월별 선택 시 1, 2만 보이게 함
    if (vrSrchDate == "002") {
      setSearchInput(searchInput, [1, 2]);
    }
    //분기별 선택 시 1, 3만 보이게 함
    else if (vrSrchDate == "003") {
      setSearchInput(searchInput, [1, 3]);
    }
    //특정년월별 선택 시 1, 3만 보이게 함
    else if (vrSrchDate == "004") {
      setSearchInput(searchInput, [4, 5]);
    }
  }
);

/**
 * search-form 에서 [기준] 을 특정년월별로 선택 후 직전 3개월 출고실적조회에 체크시 변경되는 이벤트
 */
watch(
  () => useSearchConditionStore().getSearchInputValue().chkOrdBf,
  async (chkOrdBf) => {
    let searchInput = document.getElementsByClassName("input-item-is-show")[4].getElementsByClassName("text-date-input")[1];
    if (chkOrdBf == "on") {
      searchInput.style.display = "none";
    } else {
      searchInput.style.display = "flex";
    }
  }
);
/**
 * 입력값에 따라 search-form이 달라지게 셋팅해주는 함수
 *
 */
function setSearchInput(searchInput: any, searchInputIdx: Array<any>) {
  searchInput[0].style.display = "flex";
  for (let i = 1; i < 6; i++) {
    searchInput[i].style.display = "none";
    for (let j = 0; j < searchInputIdx.length; j++) {
      if (i == searchInputIdx[j]) {
        searchInput[i].style.display = "flex";
      }
    }
  }
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  myPageId.value = useTabsStore().selectedTab.value?.id;
  const data = UtilService.getOptionApiData("WMSST051_rn");
  const res = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, data);
  res.result.selectBoxInfos.S_SET_ITEM_YN.unshift({ CODE_CD: "", CODE_NM: t("select-options.all") });
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

function onApiParamsChanged(apiParams: any) {
  isCheckChkOrdBf(apiParams);

  return apiParams;
}

function setVrSrchYearMonthFrom(apiParams: any) {
  if ((apiParams.vrSrchYearMonthFrom.match(/-/g) || []).length >= 2) {
    apiParams.vrSrchYearMonthFrom = useSearchConditionStore().getSearchInputValue().vrSrchYearMonthFrom.slice(0, 7);

    if (apiParams.vrSrchYearMonthTo) {
      apiParams.vrSrchYearMonthTo = useSearchConditionStore().getSearchInputValue().vrSrchYearMonthTo.slice(0, 7);
    }
  }
}

function isCheckChkOrdBf(apiParams: any) {
  if (apiParams.chkOrdBf == "on") {
    apiParams.chkOrdBfCnt = "Y";
  } else {
    apiParams.chkOrdBfCnt = "";
  }
}

async function getServerData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSTG732/list.action", apiParams, bodyData.value, false);
  if (res) {
    gridTotalData.value = { TOTAL_QTY: res.result.list.length };
  } else {
    gridTotalData.value = { TOTAL_QTY: 0 };
  }
  return res;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
.hidden {
  display: none;
}
.date-range-input {
  width: 100%;
}
</style>
