<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST040/form.vue
 *  Description:    재고관리/재고이동 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.09.27 : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <ul class="form-container" ref="formContainerRef">
    <li class="top">
      <control-container>
        <div v-for="btnData in controlBtn1.value" :key="btnData.title">
          <control-button
            v-if="btnData['display'] === 'Y'"
            :data="btnData"
            :key="btnData.title"
            :excelExport="excelExport"
            :excelImport="excelImport"
            :clickManual="clickManual"
            :enterTemplate="enterTemplate"
            :wmsst040t2="wmsst040t2"
            :wmsst040t1="wmsst040t1"
            :wmsst040e3="wmsst040e3"
            :wmsst040e6="wmsst040e6" />
        </div>
      </control-container>
      <my-grid1
        :INFO="INFO"
        :onGridReady="onGrid1Ready"
        :onSelectionChanged="onSelectionChanged"
        :changeSelectedRowItem="changeSelectedRowItem"
        :selectedRowItem="selectedRowItem"
        @onPageSizeChanged="
          (ps) => {
            pagingSize = ps;
          }
        " />
    </li>
    <li class="bottom">
      <control-container>
        <div v-for="btnData in controlBtn2.value" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" :stockMoveReport="stockMoveReport" />
        </div>
      </control-container>
      <my-grid2
        :onGridReady="onGrid2Ready"
        :INFO="INFO"
        @selectedItems2="
          (e: any) => {
            selectedItems2.value = e;
          }
        "
        @onPageSizeChanged="
          (ps) => {
            pagingSize = ps;
          }
        "
        :pinnedBottomRowData="pinnedBottomRowData" />
    </li>
  </ul>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService, REST_SERVICE_PRODUCTION_URL } from "@/services/api-service";
import { IOZReportArgument, OZReport } from "@/services/report-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useCallModalIdStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore, useTabsStore, userStore } from "@/store";
import { ExcelExportParams, GridApi, IServerSideGetRowsParams, SelectionChangedEvent } from "ag-grid-community";
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import MyGrid1 from "./grid1.vue";
import MyGrid2 from "./grid2.vue";
import { CONTROL_BTN1, CONTROL_BTN2, INFO, SEARCH_INPUT } from "./input";

// Variable Definitions
//선택된 데이터를 저장하는 store객체 -> 체크박스로 선택된 데이터(복수도 포함), 모달에서 선택된 데이터?
const SelectedDataStore = useSelectedDataStore();
const SearchConditionStore = useSearchConditionStore();
const FormHeightStore = useFormHeightStore();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSST040");
const pagingSize = ref<number>(pagingOptions![0]);
const { t } = useI18n();
const formContainerRef = ref(null as null | any);
const selectedRowItem = reactive({ value: {} } as { value: any });
let gridApi: GridApi | null = null;
let gridApi2: GridApi | null = null;
const selectedItems = reactive({ value: {} as any });
const selectedItems2 = reactive({ value: {} as any });
const inactive = ref<boolean>(false);
const pinnedBottomRowData = reactive({ value: {} as any });
const controlBtn1 = reactive({ value: CONTROL_BTN1 as any });
const controlBtn2 = reactive({ value: CONTROL_BTN2 as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  window.addEventListener("resize", () => {
    resizeGridColumns();
  });
  setTimeout(() => {});
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST040", menusStore().getMenus(), controlBtn1);
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST040", menusStore().getMenus(), controlBtn2);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(FormHeightStore._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  }
});

watch(SearchConditionStore._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGrid1Data();
    gridApi2?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        UtilService.setGridData("server-side", gridApi2, null, params);
      },
    });
  }
});

watch(selectedRowItem, () => {
  if (!inactive.value) {
    const paramsData = { WORK_ID: selectedRowItem.value.WORK_ID };
    if (UtilService.isEmptyObject(selectedRowItem.value)) {
      return;
    }
    getGrid2Datas(paramsData);
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions

function changeSelectedRowItem(data: any) {
  selectedRowItem.value = data;
}

const resizeGridColumns = () => {
  const myPageId = useTabsStore().selectedTab.value?.id;
  let myGridContainerWidth = document.querySelector("#" + myPageId + "-page .form-container")?.clientWidth || 0;
  let myGridBodyContainerWidth = document.querySelector("#" + myPageId + "-page li.top .ag-body-viewport .ag-center-cols-container")?.clientWidth || 0;
  if (myGridContainerWidth > myGridBodyContainerWidth) {
    // gridApi?.sizeColumnsToFit();
  }
  myGridBodyContainerWidth = document.querySelector("#" + myPageId + "-page li.bottom .ag-body-viewport .ag-center-cols-container")?.clientWidth || 0;
  if (myGridContainerWidth > myGridBodyContainerWidth) {
    gridApi2?.sizeColumnsToFit();
  }
};

const onGrid1Ready = (params: any) => {
  gridApi = params.api;
  resizeGridColumns();
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

const onGrid2Ready = (params: any) => {
  gridApi2 = params.api;
  resizeGridColumns();
};

async function searchGrid1Data() {
  let apiParams = UtilService.getGridParams(SEARCH_INPUT, SelectedDataStore, SearchConditionStore);
  if (SearchConditionStore.getAvailableSearchBySearchCondition()) {
    selectedRowItem.value = {};
    gridApi?.deselectAll();
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSST040/list_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
        SearchConditionStore.setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

//두번째 그리드 조회
function onSelectionChanged(e: SelectionChangedEvent) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridApi?.getSelectedRows().length) {
      selectedItems.value = e.api.getSelectedRows();
      if (selectedItems.value.length != 0) {
        const paramsData = { WORK_ID: selectedItems.value[selectedItems.value.length - 1].WORK_ID };
        getGrid2Datas(paramsData);
      }
    }
  } else {
    selectedItems.value = e.api.getSelectedRows();
    if (selectedItems.value.length != 0) {
      const paramsData = { WORK_ID: selectedItems.value[selectedItems.value.length - 1].WORK_ID };
      getGrid2Datas(paramsData);
    }
  }
}

function changeColumDef() {
  const colDefs: any = gridApi2?.getColumnDefs();
  colDefs.forEach((column: any) => {
    if (column.field === "NO") {
      column.valueGetter = (params: any) => {
        if (Object.hasOwn(params.node.data, "RNUM")) {
          return params.node.rowIndex + 1;
        } else {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  gridApi2?.setColumnDefs(colDefs);
}

function getGrid2Datas(paramsData: any) {
  initBeforeSearchGridData();
  gridApi2?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      if (useSearchConditionStore().getResetValue()) {
        UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
        UtilService.setGridData("server-side", gridApi2, null, params);
        return;
      }
      setPagingBodyData(params);
      const gridData = await ApiService.postApi("/WMSST040/detail_rn.action", paramsData, bodyData.value, false);
      if (gridData.status) {
        if (gridData.result.list.length > 0) {
          UtilService.setGridData("server-side", gridApi2, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(gridData.result.list, pinnedBottomRowData.value);
        } else {
          UtilService.setGridData("server-side", gridApi2, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
        }
      } else {
        UtilService.setGridData("server-side", gridApi2, null, params);
      }
    },
  });
}

function initBeforeSearchGridData() {
  changeColumDef();
  pinnedBottomRowData.value = {
    STOCK_QTY: 0,
    MOVE_QTY: 0,
  };
  gridApi2?.deselectAll();
}

function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.stock-transfer-history"),
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}

function excelImport() {
  const data = {
    modalTitle: "세트상품구성정보 엑셀입력",
    saveUrl: "/WMSMS092/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS092&file_name=execlTemp_setOfGoods_02.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

function clickManual() {
  location.href = REST_SERVICE_PRODUCTION_URL + "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS092&file_name=WINUS_WMSMS092_MANUAL_KOR.pdf";
}

function enterTemplate() {
  if (UtilService.isEmptyObject(SelectedDataStore.getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }
  const data = {
    modalTitle: t("popup-title.all-inventory-movement-enter-excel") + " (" + SelectedDataStore.getSelectedModalData().owner.CUST_NM + ")",
    saveUrl: "/WMSST040/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSST040&file_name=execlTemp_move_01_03.xls",
    vrSrchCustId: SelectedDataStore.getSelectedModalData().owner.CUST_ID,
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * 재고이동지시서 출력
 */
function stockMoveReport() {
  if (UtilService.isEmptyObject(selectedItems2.value) || selectedItems2.value.length < 1) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  const currentUser = JSON.parse(userStore().getCurrentUser());
  const vrLcId = currentUser.LC_ID;
  const vrStockMoveId = selectedItems2.value[0]["STOCK_MOVE_ID"];
  let vrWorkSeq = "";

  selectedItems2.value.forEach((item: any) => {
    vrWorkSeq += item["WORK_SEQ"] + ",";
  });
  vrWorkSeq = vrWorkSeq.slice(0, vrWorkSeq.length - 1);

  let ozReport = new OZReport({
    title: "작업지시서(재고이동)",
    fileName: "WMSST040B",
    reportName: "WMSST040.ozr",
    odiName: "WMSST040",
  } as IOZReportArgument);

  ozReport.SetOdiParam({
    vrStockMoveId: vrStockMoveId,
    vrLcId: vrLcId,
    vrWorkSeq: vrWorkSeq,
  });

  const asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_InPopup", "1000", "800") as any;
  asppop.focus();

  self.close();
}

function wmsst040t2() {
  const apiParams = UtilService.getGridParams(SEARCH_INPUT, SelectedDataStore, SearchConditionStore);
  const owner = useSelectedDataStore().getSelectedModalData()["owner"];
  const warehouse = useSelectedDataStore().getSelectedModalData()["warehouse"];
  const vrSrchCustId = owner ? owner.CUST_ID : "";
  const vrSrchWhId = warehouse ? warehouse.WH_ID : "";
  const info = {
    title: t("popup-title.integrated-stock-transfer-history"),
    vrSrchReqDtFrom: apiParams.vrSrchReqDtFrom,
    vrSrchReqDtTo: apiParams.vrSrchReqDtTo,
    vrSrchCustId: vrSrchCustId,
    vrSrchWhId: vrSrchWhId,
  };
  UtilService.openWindowPopup(info, "/POP-WMSST040T2", { width: 1150, height: 750, top: 100, left: 200 }, "WMSST040T2");
}

function wmsst040t1() {
  const apiParams = UtilService.getGridParams(SEARCH_INPUT, SelectedDataStore, SearchConditionStore);
  const owner = useSelectedDataStore().getSelectedModalData()["owner"];
  const warehouse = useSelectedDataStore().getSelectedModalData()["warehouse"];
  const vrSrchCustId = owner ? owner.CUST_ID : "";
  const vrSrchWhId = warehouse ? warehouse.WH_ID : "";

  const info = {
    title: t("popup-title.integrated-search"),
    vrSrchReqDtFrom: apiParams.vrSrchReqDtFrom,
    vrSrchReqDtTo: apiParams.vrSrchReqDtTo,
    vrSrchCustId: vrSrchCustId,
    vrSrchWhId: vrSrchWhId,
  };
  UtilService.openWindowPopup(info, "/POP-WMSST040T1", { width: 1800, height: 800, top: 100, left: 200 }, "WMSST040T1");
}

function wmsst040e3() {
  const owner = useSelectedDataStore().getSelectedModalData()["owner"];
  const info = {
    title: t("popup-title.inventory-movement"),
    CUST_CD: owner ? owner.CUST_CD : "",
    CUST_NM: owner ? owner.CUST_NM : "",
    CUST_ID: owner ? owner.CUST_ID : "",
  };
  const windowPopup = UtilService.openWindowPopup(info, "/POP-WMSST040E3", { width: 1800, height: 800, top: 100, left: 200 }, "WMSST040E3");
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

function wmsst040e6() {
  const info = {
    title: t("popup-title.inventory-movement"),
  };
  UtilService.openWindowPopup(info, "/POP-WMSST040E6", { width: 1800, height: 800, top: 100, left: 200 }, "WMSST040E6");
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;

@include formContainerStyle;

.form-container {
  flex-direction: column;
  justify-content: space-between;
  overflow: none;
  > li {
    height: calc(50% - 6px);
    .grid-container {
      height: calc(100% - 48px);
    }
  }
}
</style>
