<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST040/grid1.vue
 *  Description:    재고관리 - 재고이동내역 그리드 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.09. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-header">{{ t("grid-title.stock-transfer-history") }}</div>
    <ag-grid-vue class="ag-theme-alpine grid-size" :gridOptions="gridOptions" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { UtilService } from "@/services/util-service";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { onBeforeMount, ref } from "vue";
import { useI18n } from "vue-i18n";
import { GRID1_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const { t } = useI18n();
const { onGridReady, onSelectionChanged, INFO, selectedRowItem, changeSelectedRowItem } = defineProps<{
  onGridReady: any;
  onSelectionChanged: any;
  INFO: any;
  // currentMainGridItem: any;
  changeSelectedRowItem: any;
  selectedRowItem: any;
}>();

const pagingOptions = UtilService.getGridPagingOptions("WMSST040");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};
const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: GRID1_COLUMN_DEFS,
  enableRangeSelection: true,
  suppressRowClickSelection: true,
  onSelectionChanged: onSelectionChanged,
  onPaginationChanged: onPaginationChanged,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellClicked: onRowClicked,
  suppressContextMenu: true,
  onGridReady: onGridReady,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  rowClassRules: {
    "ag-row-selected": function (params: any) {
      if (UtilService.hasKey(selectedRowItem.value, "RNUM") && params.data?.RNUM === selectedRowItem.value?.RNUM) {
        return true;
      } else {
        return false;
      }
    },
  },
  getRowId: (data) => {
    return data.data[INFO.pk];
  },
  groupSelectsChildren: true,
};
const emits = defineEmits(["onPageSizeChanged"]);

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

// User Function Definitions
function onCellDoubleClicked(params: any) {
  const info = {
    title: t("popup-title.inventory-movement"),
  };

  let queryStringParams = `?vrNewGb=${"N"}&vrWorkId=${params.data.WORK_ID}&vrWorkCd=${params.data.WORK_CD}&vrWorkDt=${params.data.MOVE_DT}`;

  UtilService.openWindowPopup(info, `/POP-WMSST040E3${queryStringParams}`, { width: 1800, height: 800, top: 100, left: 200 }, "WMSST040E3");
}
// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

function onRowClicked(params: any) {
  changeSelectedRowItem(params.data);
  gridOptions.api?.redrawRows();
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.grid-size {
  height: calc(100% - 31px) !important;
}

.grid {
  &-container {
    width: 100% !important;
    position: relative;
    margin-bottom: 20px;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
