<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	grid2.vue
 *  Description:    재고이동 - 재고이동상세내역 Grid
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-header">
      {{ $t("grid-title.stock-transfer-details") }}
    </div>
    <div style="height: 100%">
      <ag-grid-vue class="ag-theme-alpine grid-size" :gridOptions="gridOptions" :modules="[ExcelExportModule]" :pinnedBottomRowData="[pinnedBottomRowData.value]" />
      <div class="ag-paging-custom">
        <select @change="onPageSizeChanged" class="page-size">
          <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
        </select>
        <span>Total : {{ totalRows }}</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onBeforeMount, reactive } from "vue";
import { useI18n } from "vue-i18n";
import { AgGridVue } from "ag-grid-vue3";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
// excel export관련 모듈을 따로 설치해줘여댬, 설치하고 그리드 컴포넌트에 프로퍼티로 입력
import { ExcelExportModule } from "ag-grid-enterprise";
import { UtilService } from "@/services/util-service";
import { GRID2_COLUMN_DEFS } from "./column-defs";

const { t } = useI18n();
const { onGridReady, INFO } = defineProps<{
  onGridReady: any;
  INFO: any;
  pinnedBottomRowData: any;
}>();

const pagingOptions = UtilService.getGridPagingOptions("WMSST040");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};
const selectedItems = reactive({ value: [] } as { value: any });

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 25,
  rowHeight: 32,
  columnDefs: GRID2_COLUMN_DEFS,
  enableRangeSelection: true,
  onPaginationChanged: onPaginationChanged,
  onRowSelected: onSelectionChanged,
  onGridReady: onGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressClickEdit: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  groupSelectsChildren: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data[INFO.pk2];
  },
};
const emits = defineEmits(["onPageSizeChanged", "selectedItems2"]);

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
    if (column.children) {
      column.children.forEach((childColumn: any) => {
        if (childColumn.headerKey) {
          childColumn.headerName = t("grid-column-name." + childColumn.headerKey);
        }
      });
    }
  });
});

// User Function Definitions
// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}
function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll" || e.source === "api") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridOptions.api?.getSelectedRows();
      emits("selectedItems2", selectedItems.value);
    }
  } else {
    selectedItems.value = gridOptions.api?.getSelectedRows();
    emits("selectedItems2", selectedItems.value);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.grid-size {
  height: calc(100% - 31px) !important;
}
.grid {
  &-container {
    width: 100% !important;
    position: relative;
  }

  &-header {
    @include flexbox(row, space-between, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
