<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST040/page.vue
 *  Description:    재고관리 - 재고이동 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.10.10 : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div :id="`${myPageId}-page`">
    <my-search />
    <my-form />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST040" };
</script>
<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useOptionDataStore, useTabsStore } from "@/store";
import { UtilService } from "@/services/util-service";
import { ApiService } from "@/services/api-service";
import MyForm from "./form.vue";
import MySearch from "./search.vue";

// Variable Definitions
//select-box 값 가져오기
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();

// Framework Function Definitions
onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

// User Function Definitions
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
