<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:    WMSST040/page.vue
 *  Description:    재고이동 화면
 *  Authors:        H.N.KO
 *  Update History:
 *                  2024.07. : Created by H.N.KO
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onCellDoubleClicked="onCellDoubleClicked"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged"
        :context="{}">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onDetailApiParamsChanged"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :getServerData="getDetailData"
        :context="{}">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS092_1" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { useCallModalIdStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { IOZReportArgument, OZReport } from "@/services/report-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, userStore } from "@/store";
import { ExcelExportParams, GridApi } from "ag-grid-community";
import { computed, onMounted, reactive, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { SEARCH_INPUT } from "./input";
import { gridOptionsMeta } from "./input.grid";
import { DETAIL_CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_META, MASTER_CONTROL_BTN, MASTER_GRID_OPTIONS_META, SEARCH_META } from "./input.meta";
const { t } = useI18n();
const SelectedDataStore = useSelectedDataStore();
const SearchConditionStore = useSearchConditionStore();
const emits = defineEmits(["onPageSizeChanged", "selectedItems2"]);

// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const masterGridApi = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const pinnedBottomRowData = reactive({
  value: {} as any,
});
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const selectedItems = reactive({ value: [] } as { value: any });
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  //신규(행추가)
  "new-row-add": wmsst040e6,
  //신규
  new: wmsst040e3,
  //엑셀
  excel: excelExport,
  //통합조회
  "integrated-search": wmsst040t1,
  //작업 상태 조회
  "work-status-inquiry": wmsst040t2,
  //템플릿입력
  "enter-template": enterTemplate,
  //재고이동지시서
  "inventory-transfer-document": stockMoveReport,
};

const masterGridTitleRef = t("menu-header-title.WMSST040_master");
const detailGridTitleRef = t("menu-header-title.WMSST040_detail");

const formTheme = {
  "--flex-direction": "column",
};

function sessionStorageReady() {}

// Framework Function Definitions
onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

//템플릿 입력
function enterTemplate() {
  if (UtilService.isEmptyObject(SelectedDataStore.getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }
  const data = {
    modalTitle: t("popup-title.all-inventory-movement-enter-excel") + " (" + SelectedDataStore.getSelectedModalData().owner.CUST_NM + ")",
    saveUrl: "/WMSST040/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSST040&file_name=execlTemp_move_01_03.xls",
    vrSrchCustId: SelectedDataStore.getSelectedModalData().owner.CUST_ID,
  };
  UtilService.excelImport(data, "/excel-import");
}

function onCellDoubleClicked(params: any) {
  const info = {
    title: t("popup-title.inventory-movement"),
  };

  let queryStringParams = `?vrNewGb=${"N"}&vrWorkId=${params.data.WORK_ID}&vrWorkCd=${params.data.WORK_CD}&vrWorkDt=${params.data.MOVE_DT}`;

  UtilService.openWindowPopup(info, `/POP-WMSST040E3${queryStringParams}`, { width: 1800, height: 800, top: 100, left: 200 }, "WMSST040E3");
}

function onDetailGridSelectionChanged(e: any) {
  // selectedRowItem.value = e.event.data;
  if (e.source === "uiSelectAll" || e.source === "api") {
    if (selectedItems.value.length !== gridOptionsMeta.api?.getSelectedRows().length) {
      selectedItems.value = gridOptionsMeta.api?.getSelectedRows();
      emits("selectedItems2", selectedItems.value);
    }
  } else {
    selectedItems.value = gridOptionsMeta.api?.getSelectedRows();
    emits("selectedItems2", selectedItems.value);
  }
}

//엑셀 export
function excelExport() {
  let columnKeys = [] as (string | any)[];

  columnKeys = GridUtils.getExportColumns(MASTER_GRID_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.stock-transfer-history"),
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}

//재고이동지시서
function stockMoveReport() {
  selectedItems.value = detailGridApi.value?.getSelectedRows();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  const currentUser = JSON.parse(userStore().getCurrentUser());
  const vrLcId = currentUser.LC_ID;
  const vrStockMoveId = selectedItems.value[0]["STOCK_MOVE_ID"];
  let vrWorkSeq = "";

  selectedItems.value.forEach((item: any) => {
    vrWorkSeq += item["WORK_SEQ"] + ",";
  });
  vrWorkSeq = vrWorkSeq.slice(0, vrWorkSeq.length - 1);

  let ozReport = new OZReport({
    title: "작업지시서(재고이동)",
    fileName: "WMSST040B",
    reportName: "WMSST040.ozr",
    odiName: "WMSST040",
  } as IOZReportArgument);

  ozReport.SetOdiParam({
    vrStockMoveId: vrStockMoveId,
    vrLcId: vrLcId,
    vrWorkSeq: vrWorkSeq,
  });

  const asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_InPopup", "1000", "800") as any;
  asppop.focus();

  self.close();
}

function wmsst040t2() {
  const apiParams = UtilService.getGridParams(SEARCH_INPUT, SelectedDataStore, SearchConditionStore);
  const owner = useSelectedDataStore().getSelectedModalData()["owner"];
  const warehouse = useSelectedDataStore().getSelectedModalData()["warehouse"];
  const vrSrchCustId = owner ? owner.CUST_ID : "";
  const vrSrchWhId = warehouse ? warehouse.WH_ID : "";
  const info = {
    title: t("popup-title.integrated-stock-transfer-history"),
    vrSrchReqDtFrom: apiParams.vrSrchReqDtFrom,
    vrSrchReqDtTo: apiParams.vrSrchReqDtTo,
    vrSrchCustId: vrSrchCustId,
    vrSrchWhId: vrSrchWhId,
  };
  UtilService.openWindowPopup(info, "/POP-WMSST040T2", { width: 1150, height: 750, top: 100, left: 200 }, "WMSST040T2");
}

function wmsst040t1() {
  const apiParams = UtilService.getGridParams(SEARCH_INPUT, SelectedDataStore, SearchConditionStore);
  const owner = useSelectedDataStore().getSelectedModalData()["owner"];
  const warehouse = useSelectedDataStore().getSelectedModalData()["warehouse"];
  const vrSrchCustId = owner ? owner.CUST_ID : "";
  const vrSrchWhId = warehouse ? warehouse.WH_ID : "";

  const info = {
    title: t("popup-title.integrated-search"),
    vrSrchReqDtFrom: apiParams.vrSrchReqDtFrom,
    vrSrchReqDtTo: apiParams.vrSrchReqDtTo,
    vrSrchCustId: vrSrchCustId,
    vrSrchWhId: vrSrchWhId,
  };
  UtilService.openWindowPopup(info, "/POP-WMSST040T1", { width: 1800, height: 800, top: 100, left: 200 }, "WMSST040T1");
}

function wmsst040e3() {
  const owner = useSelectedDataStore().getSelectedModalData()["owner"];
  const info = {
    title: t("popup-title.inventory-movement"),
    CUST_CD: owner ? owner.CUST_CD : "",
    CUST_NM: owner ? owner.CUST_NM : "",
    CUST_ID: owner ? owner.CUST_ID : "",
  };
  const windowPopup = UtilService.openWindowPopup(info, "/POP-WMSST040E3", { width: 1800, height: 800, top: 100, left: 200 }, "WMSST040E3");
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

function wmsst040e6() {
  const info = {
    title: t("popup-title.inventory-movement"),
  };
  UtilService.openWindowPopup(info, "/POP-WMSST040E6", { width: 1800, height: 800, top: 100, left: 200 }, "WMSST040E6");
}

// User Function Definitions
function onSelectionChanged() {
  detailFormRef.value.searchGridData();
}

function changeColumDef() {
  const colDefs: any = detailGridApi.value?.getColumnDefs();
  colDefs.forEach((column: any) => {
    if (column.field === "NO") {
      column.valueGetter = (params: any) => {
        if (Object.hasOwn(params.node.data, "RNUM")) {
          return params.node.rowIndex + 1;
        } else {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  detailGridApi.value?.setColumnDefs(colDefs);
}

function initBeforeSearchGridData() {
  changeColumDef();
  pinnedBottomRowData.value = {
    STOCK_QTY: 0,
    MOVE_QTY: 0,
  };
  detailGridApi.value?.deselectAll();
}

function onMasterApiParamsChanged(apiParams: any) {
  masterGridApi.value?.deselectAll();
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  initBeforeSearchGridData();

  const gridApi = unref(masterGridApi) || new GridApi();
  const selectedMasterItem = GridUtils.getSelectedRowData(gridApi)[0];

  apiParams = { WORK_ID: Object.hasOwn(selectedMasterItem, "WORK_ID") ? selectedMasterItem.WORK_ID : "" };
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST040/list_rn.action", apiParams, bodyData.value, false);
}

async function getDetailData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST040/detail_rn.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
</style>
