<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOM120/form.vue
 *  Description:    주문/입고주문관리 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <control-container>
    <template v-for="btnData in controlBtn.value" :key="btnData.title">
      <control-button v-if="btnData['display'] === 'Y' && btnData.title === 'delete-orders' && selectedItems.value.length > 0" :data="btnData" :deleteRowData="deleteOrder" />
      <control-button
        v-if="btnData['display'] === 'Y' && btnData.title !== 'delete-orders'"
        :data="btnData"
        :excelExport="excelExport"
        :addRowData="addRowData"
        :uploadReceivingTemplate="uploadReceivingTemplate" />
    </template>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <my-grid
      :onGridReady="onGridReady"
      :pagingSize="pagingSize"
      :onSelectionChanged="onSelectionChanged"
      @onPageSizeChanged="
        (ps) => {
          pagingSize = ps;
        }
      " />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useCallModalIdStore, useConfirmStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import MyGrid from "./grid.vue";

import { CONTROL_BTN, SEARCH_INPUT } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트
const pagingOptions = UtilService.getGridPagingOptions("WMSOM120");
const pagingSize = ref<number>(pagingOptions![0]);
const inactive = ref<boolean>(false);
const selectedItems = reactive({ value: [] as any });
let gridApi: GridApi | null = null;
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSOP", "WMSOM120", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

// 검색결과 그리에 반영시키기
watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
};

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridApi?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
  }
}

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi?.deselectAll();
    const searchConditions = SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "주문관리 &gt; 입고주문관리";
    apiParams.vrCalDlvDt = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "";
    apiParams.vrSrchWorkSumInfo = "Y";

    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const res = await ApiService.postApi("/WMSOM020/listNew_rn.action", {}, apiParams, false);
        if (res.status) {
          if (res.result.list.length > 0) {
            UtilService.setGridDatasRowNum(res.result.list);
            UtilService.setGridData(
              "server-side",
              gridApi,
              {
                gridDataArray: res.result.list,
                totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows),
              },
              params
            );
          } else {
            UtilService.setGridData("server-side", gridApi, null, params, {
              toastStatus: "warning",
              toastText: t("common-toast.no-data-list"),
            });
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
      },
    });
    useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  }
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

//주문삭제
async function deleteOrder() {
  try {
    const selectedRows = gridApi?.getSelectedRows();
    if (!selectedRows || selectedRows.length === 0) {
      return useToast().warning(t("common-toast.select-data-to-delete"));
    }

    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

    const data: any = {
      _fullpath: "주문관리 &gt; 입고주문관리",
      vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
      vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
      vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
      vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || "",
      vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "",
      vrOrdRegisterType: useSearchConditionStore().getSearchInputValue().vrOrdRegisterType,
      vrSrchPtnrCd: useSelectedDataStore().getSelectedModalData().customer?.CUST_CD || "",
      vrSrchPtnrNm: useSelectedDataStore().getSelectedModalData().customer?.CUST_NM || "",
      vrSrchPtnrId: useSelectedDataStore().getSelectedModalData().customer?.CUST_ID || "",
      vrOrdSubtype: useSearchConditionStore().getSearchInputValue().vrOrdSubtype || "",
      vrSrchRitemCd: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
      vrSrchRitemNm: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NAME || "",
      vrSrchRitemId: useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || "",
      vrSrchOrgOrdId: useSearchConditionStore().getSearchInputValue().vrSrchOrgOrdId || "",
      vrSrchLegOrdId: useSearchConditionStore().getSearchInputValue().vrSrchLegOrdId || "",
      vrWmsLinkYn: useSearchConditionStore().getSearchInputValue().vrWmsLinkYn || "",
      vrSrchItemBarCd: useSearchConditionStore().getSearchInputValue().vrSrchItemBarCd || "",
      selectIds: String(selectedRows.length),
      I_selectIds: String(selectedRows.length),
      vrCalDlvDt: UtilService.getToday(),
    };

    for (let i = 0; selectedRows.length > i; i++) {
      data["ORG_ORD_NO" + [i]] = String(selectedRows[i].ORG_ORD_NO || "");
      data["ORG_DETAIL_NO" + [i]] = String(selectedRows[i].ORD_DETAIL_NO || "");
      data["ORG_ORD_QTY" + [i]] = String(selectedRows[i].ORG_ORD_QTY || "");
      data["ORG_ITEM_CD" + [i]] = String(selectedRows[i].ITEM_CD || "");
      data["CUST_ID" + [i]] = String(selectedRows[i].CUST_ID || "");
      data["ITEM_BAR_CD" + [i]] = String(selectedRows[i].ITEMBARCD || "");
      data["RITEM_ID" + [i]] = String(selectedRows[i].RITEM_ID || "");
      data["LC_ID" + [i]] = String(selectedRows[i].LC_ID || "");
      data["PLT_QTY" + [i]] = String(selectedRows[i].PLT_QTY || "");
      data["UOM_QTY_PER_PLT" + [i]] = String(selectedRows[i].UOM_QTY_PER_PLT || "");
      data["I_IN_ORG_ORD_ID" + [i]] = String(selectedRows[i].ORG_ORD_NO || "");
      data["I_IN_ORD_DETAIL_NO" + [i]] = String(selectedRows[i].ORD_DETAIL_NO || "");
      data["I_IN_ORD_DT" + [i]] = String(selectedRows[i].ORD_DT || "");
    }

    const result = await ApiService.postApi("/WMSOM020/deleteInOrder_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      gridApi?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    return console.log(err);
  }
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.receiving-order-management"),
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}

// 신규
function addRowData() {
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  const opener: any = UtilService.openWindowPopup(null, `/wmsom120-new-popup?vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`, {
    width: 1150,
    height: 750,
    top: 100,
    left: 200,
  });
}

// 입고템플릿업로드 (B2C전용템플릿 팝업과 형태 유사ㅣ)
function uploadReceivingTemplate() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  UtilService.templateImport(
    `/template-input-for-b2c?title=${"receiving-enter-template"}&vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}&saveUrl=${"/WMSOP030E13/inExcelFileUploadJavaInB2C_rn.action"}`
  );
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  width: 100%;
}
</style>
