<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOM120/grid.vue
 *  Description:    주문/입고주문관리 메인 Form화면의 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-header">{{ "입고주문관리" }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" :modules="[ExcelExportModule]" :allowContextMenuWithControlKey="true" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">
          {{ option }}
        </option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onBeforeMount, ref } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import { FORM_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const { onGridReady, onSelectionChanged } = defineProps<{
  onGridReady: any;
  onSelectionChanged: any;
}>();

const pagingOptions = UtilService.getGridPagingOptions("WMSOM120");
const pagingSize = ref<number>(pagingOptions![0]);
const emits = defineEmits(["onPageSizeChanged"]);
const { t } = useI18n();
const totalRows = ref<number>(0);

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t(`grid-column-name.${column.headerKey}`);
    }
  });
});

// User Function Definitions
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: FORM_COLUMN_DEFS,
  onGridReady: onGridReady,
  onSelectionChanged: onSelectionChanged,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  enableRangeSelection: true,
  suppressRowClickSelection: true,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  onPaginationChanged: onPaginationChanged,
  getContextMenuItems: getContextMenuItems,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

// context menu
function getContextMenuItems(params: any) {
  gridOptions.api?.getRowNode(String(params.node.data.RNUM))?.setSelected(true);

  const result = [
    {
      name: t("grid-context-menu-title.confirm-PLT-order"),
      action: async () => {
        await confirmPLTOrder();
      },
      cssClasses: ["redFont", "bold"],
    },
    {
      name: t("grid-context-menu-title.confirmation-of-order"),
      action: async () => {
        await confirmOrder();
      },
      cssClasses: ["redFont", "bold"],
    },
  ];

  return result;
}

//PLT주문확정
async function confirmPLTOrder() {
  const selectedItems = gridOptions.api?.getSelectedRows()!;

  for (let i = 0; selectedItems.length > i; i++) {
    if (selectedItems[i].WORK_STAT_NM !== "미등록") {
      return useToast().warning(t("common-toast.unregisterd-state"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.confirm"), t("button-name.confirm"));

  const bodyData: any = {
    _fullpath: "주문관리 &gt; 입고주문관리",
    vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
    vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
    vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
    vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || "",
    vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "",
    vrOrdRegisterType: useSearchConditionStore().getSearchInputValue().vrOrdRegisterType,
    vrSrchPtnrCd: useSelectedDataStore().getSelectedModalData().customer?.CUST_CD || "",
    vrSrchPtnrNm: useSelectedDataStore().getSelectedModalData().customer?.CUST_NM || "",
    vrSrchPtnrId: useSelectedDataStore().getSelectedModalData().customer?.CUST_ID || "",
    vrOrdSubtype: useSearchConditionStore().getSearchInputValue().vrOrdSubtype || "",
    vrSrchRitemCd: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
    vrSrchRitemNm: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NAME || "",
    vrSrchRitemId: useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || "",
    vrSrchOrgOrdId: useSearchConditionStore().getSearchInputValue().vrSrchOrgOrdId || "",
    vrSrchLegOrdId: useSearchConditionStore().getSearchInputValue().vrSrchLegOrdId || "",
    vrWmsLinkYn: useSearchConditionStore().getSearchInputValue().vrWmsLinkYn || "",
    vrSrchItemBarCd: useSearchConditionStore().getSearchInputValue().vrSrchItemBarCd || "",
    selectIds: String(selectedItems.length),
    vrCalDlvDt: UtilService.getToday(),
  };

  for (let i = 0; selectedItems.length > i; i++) {
    bodyData["ORG_ORD_NO" + [i]] = String(selectedItems[i].ORG_ORD_NO || "");
    bodyData["ORG_DETAIL_NO" + [i]] = String(selectedItems[i].ORD_DETAIL_NO || "");
    bodyData["ORG_ORD_QTY" + [i]] = String(selectedItems[i].ORG_ORD_QTY || "");
    bodyData["ORG_ITEM_CD" + [i]] = String(selectedItems[i].ITEM_CD || "");
    bodyData["CUST_ID" + [i]] = String(selectedItems[i].CUST_ID || "");
    bodyData["ITEM_BAR_CD" + [i]] = String(selectedItems[i].ITEMBARCD || "");
    bodyData["RITEM_ID" + [i]] = String(selectedItems[i].RITEM_ID || "");
    bodyData["LC_ID" + [i]] = String(selectedItems[i].LC_ID || "");
    bodyData["PLT_QTY" + [i]] = String(selectedItems[i].PLT_QTY || "");
    bodyData["UOM_QTY_PER_PLT" + [i]] = String(selectedItems[i].UOM_QTY_PER_PLT || "");
  }

  const result = await ApiService.postApi("/WMSOM020/saveInOrderPLT_rn.action", {}, bodyData);
  if (result.status) {
    gridOptions.api?.deselectAll();
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    return useToast().success(t("common-toast.confirmed-order"));
  }
}

// 주문확정
async function confirmOrder() {
  try {
    const selectedItems = gridOptions.api?.getSelectedRows()!;

    for (let i = 0; selectedItems.length > i; i++) {
      if (selectedItems[i].WORK_STAT_NM !== "미등록") {
        return useToast().warning(t("common-toast.unregisterd-state"));
      }
    }

    await useConfirmStore().confirm(t("confirm-message.confirm"), t("button-name.confirm"));

    const bodyData: any = {
      _fullpath: "주문관리 &gt; 입고주문관리",
      vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
      vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
      vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
      vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || "",
      vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "",
      vrOrdRegisterType: useSearchConditionStore().getSearchInputValue().vrOrdRegisterType,
      vrSrchPtnrCd: useSelectedDataStore().getSelectedModalData().customer?.CUST_CD || "",
      vrSrchPtnrNm: useSelectedDataStore().getSelectedModalData().customer?.CUST_NM || "",
      vrSrchPtnrId: useSelectedDataStore().getSelectedModalData().customer?.CUST_ID || "",
      vrOrdSubtype: useSearchConditionStore().getSearchInputValue().vrOrdSubtype || "",
      vrSrchRitemCd: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
      vrSrchRitemNm: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NAME || "",
      vrSrchRitemId: useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || "",
      vrSrchOrgOrdId: useSearchConditionStore().getSearchInputValue().vrSrchOrgOrdId || "",
      vrSrchLegOrdId: useSearchConditionStore().getSearchInputValue().vrSrchLegOrdId || "",
      vrWmsLinkYn: useSearchConditionStore().getSearchInputValue().vrWmsLinkYn || "",
      vrSrchItemBarCd: useSearchConditionStore().getSearchInputValue().vrSrchItemBarCd || "",
      selectIds: String(selectedItems.length),
      I_selectIds: String(selectedItems.length),
      vrCalDlvDt: UtilService.getToday(),
    };

    for (let i = 0; selectedItems.length > i; i++) {
      bodyData["I_ST_GUBUN" + [i]] = "INSERT";
      bodyData["ORG_ORD_NO" + [i]] = String(selectedItems[i].ORG_ORD_NO || "");
      bodyData["ORG_DETAIL_NO" + [i]] = String(selectedItems[i].ORD_DETAIL_NO || "");
      bodyData["ORG_ORD_QTY" + [i]] = String(selectedItems[i].ORG_ORD_QTY || "");
      bodyData["ORG_ITEM_CD" + [i]] = String(selectedItems[i].ITEM_CD || "");
      bodyData["CUST_ID" + [i]] = String(selectedItems[i].CUST_ID || "");
      bodyData["ITEM_BAR_CD" + [i]] = String(selectedItems[i].ITEMBARCD || "");
      bodyData["RITEM_ID" + [i]] = String(selectedItems[i].RITEM_ID || "");
      bodyData["LC_ID" + [i]] = String(selectedItems[i].LC_ID || "");
      bodyData["PLT_QTY" + [i]] = String(selectedItems[i].PLT_QTY || "");
      bodyData["UOM_QTY_PER_PLT" + [i]] = String(selectedItems[i].UOM_QTY_PER_PLT || "");
      bodyData["I_IN_CUST_ID" + [i]] = String(selectedItems[i].CUST_ID);
      bodyData["I_RITEM_ID" + [i]] = String(selectedItems[i].RITEM_ID || "");
      bodyData["I_IN_ORD_UOM_ID" + [i]] = String(selectedItems[i].UOM_ID || "");
      bodyData["I_IN_WORK_UOM_ID" + [i]] = String(selectedItems[i].UOM_ID || "");
      bodyData["I_IN_ORD_QTY" + [i]] = String(selectedItems[i].ORD_QTY || "");
      bodyData["I_IN_WORK_ORD_QTY" + [i]] = String(selectedItems[i].ORD_QTY || "");
      bodyData["I_IN_ORG_ORD_ID" + [i]] = String(selectedItems[i].ORG_ORD_NO || "");
      bodyData["I_IN_ORD_DETAIL_NO" + [i]] = String(selectedItems[i].ORD_DETAIL_NO || "");
      bodyData["I_IN_VALID_DT" + [i]] = String(selectedItems[i].VALID_DT || "")?.replaceAll("-", "");
      bodyData["I_IN_ORD_SUBTYPE" + [i]] = String(selectedItems[i].ORD_SUBTYPE || "");
      bodyData["I_IN_DLV_DT" + [i]] = String(selectedItems[i].DLV_DT || "");
      bodyData["I_ORD_DIV" + [i]] = String(selectedItems[i].ORD_DIV || "");
      bodyData["I_LOT_TYPE" + [i]] = String(selectedItems[i].LOT_TYPE || "");
      bodyData["I_OWNER_CD" + [i]] = String(selectedItems[i].OWNER_CD || "");
    }

    const res = await ApiService.postApi("/WMSOM020/saveInOrder_rn.action", {}, bodyData);

    if (res.status) {
      gridOptions.api?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      return useToast().success(t("common-toast.confirmed-order"));
    }
  } catch (err) {
    console.log(err);
  }
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    width: 100%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
