<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOM120/page.vue
 *  Description:    주문/입고주문관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getContextMenuItems="getContextMenuItems"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData">
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && btnData.title === 'delete-orders'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'delete-orders')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOM120" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/order/WMSOM120/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { IAvailableOptionsUtilParams } from "@/types";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { computed, onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, gridOptionsMeta } from "./input.grid";
import { GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const { t } = useI18n();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const myPageId = ref<string>();
const selectedItems = reactive({ value: [] as any });
const gridApi = ref<GridApi | undefined>();
const gridHeaderTitle = computed(() => {
  return t(`grid-title.receiving-order-management`);
});
const controlBtnRef = ref(CONTROL_BTN);

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  new: addRowData,
  "delete-orders": deleteOrder,
  excel: excelExport,
  "upload-receiving-template": uploadReceivingTemplate,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi(`/WINUS/${myPageId.value}_rn.action`, {}, UtilService.getOptionApiData(`${myPageId.value}_rn`));
  if (res.result.selectBoxInfos) {
    const setAvailableOptionsUtilParam: IAvailableOptionsUtilParams[] = [
      { inputId: "vrOrdRegisterType", availableList: ["100", "500", "990"] },
      { inputId: "vrOrdSubtype", availableList: ["20", "22"] },
    ];
    UtilService.setAvailableOptions(res.result.selectBoxInfos, setAvailableOptionsUtilParam);
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }

  const res2 = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));
  if (res2.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res2.result);
  }
});

onMounted(() => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  searchGridData = commonFormRef.value!.searchGridData;
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * 주문삭제
 */
async function deleteOrder() {
  try {
    const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

    if (UtilService.isEmptyArray(selectedRows)) {
      return useToast().warning(t("common-toast.select-data-to-delete"));
    }

    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

    const data: any = {
      _fullpath: "주문관리 &gt; 입고주문관리",
      vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
      vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
      vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
      vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || "",
      vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "",
      vrOrdRegisterType: useSearchConditionStore().getSearchInputValue().vrOrdRegisterType,
      vrSrchPtnrCd: useSelectedDataStore().getSelectedModalData().customer?.CUST_CD || "",
      vrSrchPtnrNm: useSelectedDataStore().getSelectedModalData().customer?.CUST_NM || "",
      vrSrchPtnrId: useSelectedDataStore().getSelectedModalData().customer?.CUST_ID || "",
      vrOrdSubtype: useSearchConditionStore().getSearchInputValue().vrOrdSubtype || "",
      vrSrchRitemCd: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
      vrSrchRitemNm: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NAME || "",
      vrSrchRitemId: useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || "",
      vrSrchOrgOrdId: useSearchConditionStore().getSearchInputValue().vrSrchOrgOrdId || "",
      vrSrchLegOrdId: useSearchConditionStore().getSearchInputValue().vrSrchLegOrdId || "",
      vrWmsLinkYn: useSearchConditionStore().getSearchInputValue().vrWmsLinkYn || "",
      vrSrchItemBarCd: useSearchConditionStore().getSearchInputValue().vrSrchItemBarCd || "",
      selectIds: String(selectedRows.length),
      I_selectIds: String(selectedRows.length),
      vrCalDlvDt: UtilService.getToday(),
    };

    for (let i = 0; selectedRows.length > i; i++) {
      data["ORG_ORD_NO" + [i]] = String(selectedRows[i].ORG_ORD_NO || "");
      data["ORG_DETAIL_NO" + [i]] = String(selectedRows[i].ORD_DETAIL_NO || "");
      data["ORG_ORD_QTY" + [i]] = String(selectedRows[i].ORG_ORD_QTY || "");
      data["ORG_ITEM_CD" + [i]] = String(selectedRows[i].ITEM_CD || "");
      data["CUST_ID" + [i]] = String(selectedRows[i].CUST_ID || "");
      data["ITEM_BAR_CD" + [i]] = String(selectedRows[i].ITEMBARCD || "");
      data["RITEM_ID" + [i]] = String(selectedRows[i].RITEM_ID || "");
      data["LC_ID" + [i]] = String(selectedRows[i].LC_ID || "");
      data["PLT_QTY" + [i]] = String(selectedRows[i].PLT_QTY || "");
      data["UOM_QTY_PER_PLT" + [i]] = String(selectedRows[i].UOM_QTY_PER_PLT || "");
      data["I_IN_ORG_ORD_ID" + [i]] = String(selectedRows[i].ORG_ORD_NO || "");
      data["I_IN_ORD_DETAIL_NO" + [i]] = String(selectedRows[i].ORD_DETAIL_NO || "");
      data["I_IN_ORD_DT" + [i]] = String(selectedRows[i].ORD_DT || "");
    }

    const result = await ApiService.postApi("/WMSOM020/deleteInOrder_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      searchGridData();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    return console.log(err);
  }
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.receiving-order-management"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

// 신규
function addRowData() {
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  const windowPopup = UtilService.openWindowPopup(null, `/wmsom120-new-popup?vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`, {
    width: 1150,
    height: 750,
    top: 100,
    left: 200,
  });
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

// 입고템플릿업로드 (B2C전용템플릿 팝업과 형태 유사ㅣ)
function uploadReceivingTemplate() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  UtilService.templateImport(
    `/template-input-for-b2c?title=${"receiving-enter-template"}&vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}&saveUrl=${"/WMSOP030E13/inExcelFileUploadJavaInB2C_rn.action"}`
  );
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

// context menu
function getContextMenuItems(params: any) {
  gridOptionsMeta.api?.getRowNode(String(params.node.data.RNUM))?.setSelected(true);

  const result = [
    {
      name: t("grid-context-menu-title.confirm-PLT-order"),
      action: async () => {
        await confirmPLTOrder();
      },
      cssClasses: ["redFont", "bold"],
    },
    {
      name: t("grid-context-menu-title.confirmation-of-order"),
      action: async () => {
        await confirmOrder();
      },
      cssClasses: ["redFont", "bold"],
    },
  ];

  return result;
}

/**
 * [Context Menu] PLT주문확정
 */
async function confirmPLTOrder() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  for (let i = 0; selectedRows.length > i; i++) {
    if (selectedRows[i].WORK_STAT_NM !== "미등록") {
      return useToast().warning(t("common-toast.unregisterd-state"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.confirm"), t("button-name.confirm"));

  const bodyData: any = {
    _fullpath: "주문관리 &gt; 입고주문관리",
    vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
    vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
    vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
    vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || "",
    vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "",
    vrOrdRegisterType: useSearchConditionStore().getSearchInputValue().vrOrdRegisterType,
    vrSrchPtnrCd: useSelectedDataStore().getSelectedModalData().customer?.CUST_CD || "",
    vrSrchPtnrNm: useSelectedDataStore().getSelectedModalData().customer?.CUST_NM || "",
    vrSrchPtnrId: useSelectedDataStore().getSelectedModalData().customer?.CUST_ID || "",
    vrOrdSubtype: useSearchConditionStore().getSearchInputValue().vrOrdSubtype || "",
    vrSrchRitemCd: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
    vrSrchRitemNm: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NAME || "",
    vrSrchRitemId: useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || "",
    vrSrchOrgOrdId: useSearchConditionStore().getSearchInputValue().vrSrchOrgOrdId || "",
    vrSrchLegOrdId: useSearchConditionStore().getSearchInputValue().vrSrchLegOrdId || "",
    vrWmsLinkYn: useSearchConditionStore().getSearchInputValue().vrWmsLinkYn || "",
    vrSrchItemBarCd: useSearchConditionStore().getSearchInputValue().vrSrchItemBarCd || "",
    selectIds: String(selectedRows.length),
    vrCalDlvDt: UtilService.getToday(),
  };

  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["ORG_ORD_NO" + [i]] = String(selectedRows[i].ORG_ORD_NO || "");
    bodyData["ORG_DETAIL_NO" + [i]] = String(selectedRows[i].ORD_DETAIL_NO || "");
    bodyData["ORG_ORD_QTY" + [i]] = String(selectedRows[i].ORG_ORD_QTY || "");
    bodyData["ORG_ITEM_CD" + [i]] = String(selectedRows[i].ITEM_CD || "");
    bodyData["CUST_ID" + [i]] = String(selectedRows[i].CUST_ID || "");
    bodyData["ITEM_BAR_CD" + [i]] = String(selectedRows[i].ITEMBARCD || "");
    bodyData["RITEM_ID" + [i]] = String(selectedRows[i].RITEM_ID || "");
    bodyData["LC_ID" + [i]] = String(selectedRows[i].LC_ID || "");
    bodyData["PLT_QTY" + [i]] = String(selectedRows[i].PLT_QTY || "");
    bodyData["UOM_QTY_PER_PLT" + [i]] = String(selectedRows[i].UOM_QTY_PER_PLT || "");
  }

  const result = await ApiService.postApi("/WMSOM020/saveInOrderPLT_rn.action", {}, bodyData);
  if (result.status) {
    gridOptionsMeta.api?.deselectAll();
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    return useToast().success(t("common-toast.confirmed-order"));
  }
}

/**
 * [Context Menu] 주문확정
 */
async function confirmOrder() {
  try {
    const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

    if (UtilService.isEmptyArray(selectedRows)) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }

    for (let i = 0; selectedRows.length > i; i++) {
      if (selectedRows[i].WORK_STAT_NM !== "미등록") {
        return useToast().warning(t("common-toast.unregisterd-state"));
      }
    }

    await useConfirmStore().confirm(t("confirm-message.confirm"), t("button-name.confirm"));

    const bodyData: any = {
      _fullpath: "주문관리 &gt; 입고주문관리",
      vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
      vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
      vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
      vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || "",
      vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "",
      vrOrdRegisterType: useSearchConditionStore().getSearchInputValue().vrOrdRegisterType,
      vrSrchPtnrCd: useSelectedDataStore().getSelectedModalData().customer?.CUST_CD || "",
      vrSrchPtnrNm: useSelectedDataStore().getSelectedModalData().customer?.CUST_NM || "",
      vrSrchPtnrId: useSelectedDataStore().getSelectedModalData().customer?.CUST_ID || "",
      vrOrdSubtype: useSearchConditionStore().getSearchInputValue().vrOrdSubtype || "",
      vrSrchRitemCd: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
      vrSrchRitemNm: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NAME || "",
      vrSrchRitemId: useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || "",
      vrSrchOrgOrdId: useSearchConditionStore().getSearchInputValue().vrSrchOrgOrdId || "",
      vrSrchLegOrdId: useSearchConditionStore().getSearchInputValue().vrSrchLegOrdId || "",
      vrWmsLinkYn: useSearchConditionStore().getSearchInputValue().vrWmsLinkYn || "",
      vrSrchItemBarCd: useSearchConditionStore().getSearchInputValue().vrSrchItemBarCd || "",
      selectIds: String(selectedRows.length),
      I_selectIds: String(selectedRows.length),
      vrCalDlvDt: UtilService.getToday(),
    };

    for (let i = 0; selectedRows.length > i; i++) {
      bodyData["I_ST_GUBUN" + [i]] = "INSERT";
      bodyData["ORG_ORD_NO" + [i]] = String(selectedRows[i].ORG_ORD_NO || "");
      bodyData["ORG_DETAIL_NO" + [i]] = String(selectedRows[i].ORD_DETAIL_NO || "");
      bodyData["ORG_ORD_QTY" + [i]] = String(selectedRows[i].ORG_ORD_QTY || "");
      bodyData["ORG_ITEM_CD" + [i]] = String(selectedRows[i].ITEM_CD || "");
      bodyData["CUST_ID" + [i]] = String(selectedRows[i].CUST_ID || "");
      bodyData["ITEM_BAR_CD" + [i]] = String(selectedRows[i].ITEMBARCD || "");
      bodyData["RITEM_ID" + [i]] = String(selectedRows[i].RITEM_ID || "");
      bodyData["LC_ID" + [i]] = String(selectedRows[i].LC_ID || "");
      bodyData["PLT_QTY" + [i]] = String(selectedRows[i].PLT_QTY || "");
      bodyData["UOM_QTY_PER_PLT" + [i]] = String(selectedRows[i].UOM_QTY_PER_PLT || "");
      bodyData["I_IN_CUST_ID" + [i]] = String(selectedRows[i].CUST_ID);
      bodyData["I_RITEM_ID" + [i]] = String(selectedRows[i].RITEM_ID || "");
      bodyData["I_IN_ORD_UOM_ID" + [i]] = String(selectedRows[i].UOM_ID || "");
      bodyData["I_IN_WORK_UOM_ID" + [i]] = String(selectedRows[i].UOM_ID || "");
      bodyData["I_IN_ORD_QTY" + [i]] = String(selectedRows[i].ORD_QTY || "");
      bodyData["I_IN_WORK_ORD_QTY" + [i]] = String(selectedRows[i].ORD_QTY || "");
      bodyData["I_IN_ORG_ORD_ID" + [i]] = String(selectedRows[i].ORG_ORD_NO || "");
      bodyData["I_IN_ORD_DETAIL_NO" + [i]] = String(selectedRows[i].ORD_DETAIL_NO || "");
      bodyData["I_IN_VALID_DT" + [i]] = String(selectedRows[i].VALID_DT || "")?.replaceAll("-", "");
      bodyData["I_IN_ORD_SUBTYPE" + [i]] = String(selectedRows[i].ORD_SUBTYPE || "");
      bodyData["I_IN_DLV_DT" + [i]] = String(selectedRows[i].DLV_DT || "");
      bodyData["I_ORD_DIV" + [i]] = String(selectedRows[i].ORD_DIV || "");
      bodyData["I_LOT_TYPE" + [i]] = String(selectedRows[i].LOT_TYPE || "");
      bodyData["I_OWNER_CD" + [i]] = String(selectedRows[i].OWNER_CD || "");
    }

    const res = await ApiService.postApi("/WMSOM020/saveInOrder_rn.action", {}, bodyData);

    if (res.status) {
      useToast().success(t("common-toast.confirmed-order"));
      searchGridData();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    console.log(err);
  }
}

//#endregion

//#region ::  Grid Event CallBack Definitions

function onApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "주문관리 &gt; 입고주문관리";
  apiParams.vrCalDlvDt = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "";
  apiParams.vrSrchWorkSumInfo = "Y";

  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSOM020/listNew_rn.action", {}, apiParams, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
</style>
