<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOM120/search.vue
 *  Description:    주문/입고주문관리 상단의 검색 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <search-container @setIsMore="setIsMore" :isMore="isMore" :data="SEARCH_INPUT" :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)" :use-setting="false">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in SEARCH_INPUT" :key="i">
          <search-container-input
            :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
            :data="props"
            :columnDefs="MODAL_COLUMN_DEFS[props.title]"
            :modalData="SEARCH_MODAL_INFO[props.title]"
            :pageInfo="INFO"
            :modalType="null" />
        </template>
      </template>
    </search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, reactive, ref } from "vue";

import { SearchContainerInput } from "@/components/input";
import { SearchContainer } from "@/components/layout";
import { menusStore, useCallModalIdStore, useFormHeightStore } from "@/store";

import { UtilService } from "@/services/util-service";
import { MODAL_COLUMN_DEFS } from "./column-defs";
import { INFO, SEARCH_INPUT, SEARCH_MODAL_INFO } from "./input";

// Variable Definitions
let isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement); // .search-area 돔 정보
const page = reactive({ value: {} as any });
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT) as number;

// Framework Function Definitions
onMounted(() => {
  if (searchComponentRef.value) {
    useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value.clientHeight));
  }

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSOP", "WMSOM120", menusStore().getMenus(), null);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);

  // Session Storage에 저장된 화주 정보 설정
  if (!UtilService.getCustDataInSessionStorage()) {
    useCallModalIdStore().setCallModalId("owner");
  }
});

// User Function Definitions
function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight);
  }, 300);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-area {
  padding-top: 26px;
}
</style>
