<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST160/page.vue
 *  Description:    재고조사목록 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.06. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header> </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      @onSelectionChanged="onSelectionChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <div class="btnAreaLeft" style="margin-left: 110px">
        <a href="http://winus.logisall.com/img/toolTipwmsst120.jpg" @mouseover="showTooltip" @mouseout="hideTooltip">
          <font style="font-size: 12px; font-family: 돋움" color="#F15F5F">※입력Tip</font>
        </a>
        <div v-if="isTooltipVisible" class="tooltip-content">
          <img :src="tooltipImage" alt="Tooltip Image" class="tooltip-image" />
          <div class="tooltip-text">
            <p>1. 일괄 입력 할 행 체크 박스 선택</p>
            <p>2. 선택 된 첫 행에 차이이유 입력</p>
            <p>3. 첫 행에서 우클릭[일괄자동채우기]</p>
          </div>
        </div>
      </div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST160" };
</script>
<script setup lang="ts">
import { computed, onMounted, onUnmounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import commonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/stock/WMSST160/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
let searchGridData: Function;
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const gridTotalData = reactive({ value: {} as any });
const SelectedDataStore = useSelectedDataStore();
let selectedItems = reactive({ value: [] as any });
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};

const gridHeaderTitle = computed(() => {
  return t("menu-header-title.WMSST160");
});
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  "order-insert(all)": fn_orderInsertBp,
  "order-insert": fn_orderInsert,
  save: saveRowData,
  del: deleteRowData,
  excel: excelExport,
  "enter-template": enterTemplate,
};
const searchGridDatas = reactive({ value: [] as any });

const isTooltipVisible = ref(false);
const tooltipImage = ref("http://winus.logisall.com/img/toolTipwmsst120.jpg"); // 실제 이미지 경로로 설정

const showTooltip = () => {
  isTooltipVisible.value = true;
};

const hideTooltip = () => {
  isTooltipVisible.value = false;
};

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

let selectIds = ref();

function onSelectionChanged(e: any) {
  selectedItems.value = gridApi.value?.getSelectedRows();
  console.log(e);
}

function fn_listValidation(arr1: any, arr2: any) {
  for (let item of arr1) {
    for (let key of arr2) {
      if (!item[key]) {
        return false;
      }
    }
  }

  return true;
}

//주문입력(일괄처리)
async function fn_orderInsertBp() {
  selectedItems.value = gridApi.value?.getSelectedRows();
  //search -form에 재고조사 번호 미입력 시
  if (!useSearchConditionStore().getSearchInputValue()?.vrSrchCyclStockId) {
    return useToast().warning(t("common-toast.empty-cycle-stock-id"));
  }
  //조회결과 없을 시
  if (!searchGridDatas.value) {
    return useToast().warning(t("common-toast.no-search-result"));
  }
  //체크박스 체크 시
  if (selectedItems.value.length > 0) {
    return useToast().warning(t("common-toast.uncheck-the-check-box"));
  }
  //빈 값 발생 시
  if (!fn_listValidation(selectedItems.value, ["REAL_QTY", "DIFF_REASON"])) {
    return useToast().warning(t("common-toast.empty-values-are-not-allowed"));
  }

  //저장하시겠습니까? 팝업
  await useConfirmStore().confirm(t("confirm-message.proceed-enter-the-order"), t("button-name.confirm"));
  try {
    const bodyData: any = {};

    searchGridDatas.value.forEach((selectedItem: any, i: number) => {
      bodyData["_fullpath"] = "";
      bodyData["selectIds"] = 0;
      bodyData["ST_GUBUN"] = "UPDATE";
      bodyData["LC_ID"] = selectedItem.LC_ID;
      bodyData["CYCL_STOCK_ID"] = selectedItem.CYCL_STOCK_ID;
    });
    const result = await ApiService.postApi("/rest/WMSST160/orderInsertBp.action", bodyData, bodyData);
    if (result.status) {
      if (result.result.errCnt === 0) {
        useToast().success(t("common-toast.registered"));
        searchGridData();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      } else {
        useToast().error(t(result.result.MSG));
      }
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

//주문입력(단건)
async function fn_orderInsert() {
  selectedItems.value = gridApi.value?.getSelectedRows();

  //체크박스 미 체크 시
  if (selectedItems.value.length < 1) {
    //선택된 항목이 없습니다.
    return useToast().warning(t("common-toast.no-selected-item"));
  }
  //빈 값 발생 시
  if (!fn_listValidation(selectedItems.value, ["LC_ID", "CYCL_STOCK_ID"])) {
    return useToast().warning(t("common-toast.empty-values-are-not-allowed"));
  }

  //저장하시겠습니까? 팝업
  await useConfirmStore().confirm(t("confirm-message.proceed-enter-the-order2"), t("button-name.confirm"));

  try {
    const bodyData: any = {};

    selectedItems.value.forEach((selectedItem: any) => {
      bodyData["selectIds"] = 0;
      bodyData["ST_GUBUN"] = "UPDATE";
      bodyData["LC_ID"] = selectedItem.LC_ID;
      bodyData["CYCL_STOCK_ID"] = selectedItem.CYCL_STOCK_ID;
    });
    const result = await ApiService.postApi("/rest/WMSST160/orderInsertBp.action", bodyData, bodyData);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      searchGridData();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    } else {
      useToast().error(t(result.result.MSG));
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

function fn_validation() {}

async function saveRowData() {
  try {
    const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

    // 편집 종료
    gridApi.value?.stopEditing();

    if (UtilService.isEmptyArray(selectedRows)) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }

    const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi.value);
    if (!saveEditGridRequiredValidation.status) {
      return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
    }

    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

    let bodyData: any = {
      _fullpath: "",
      selectIds: String(selectedRows.length),
      vrSrchUomId: useSearchConditionStore().getSearchInputValue().vrSrchUomId || "",
    };

    for (let i = 0; i < selectedRows.length; i++) {
      bodyData["ST_GUBUN" + [i]] = "UPDATE";
      bodyData["selectIds"] = selectedRows.length;
      bodyData["CYCL_STOCK_ID" + [i]] = selectedRows[i].CYCL_STOCK_ID;
      bodyData["CUST_ID" + [i]] = selectedRows[i].CUST_ID;
      bodyData["WORK_SEQ" + [i]] = selectedRows[i].WORK_SEQ;
      bodyData["RITEM_ID" + [i]] = selectedRows[i].RITEM_ID;
      bodyData["REAL_QTY" + [i]] = selectedRows[i].REAL_QTY;
      bodyData["DIFF_REASON" + [i]] = selectedRows[i].DIFF_REASON == null ? "" : selectedRows[i].DIFF_REASON;
      bodyData["ERR_CD" + [i]] = selectedRows[i].ERR_CD == null ? "" : selectedRows[i].ERR_CD;
      bodyData["LC_ID" + [i]] = selectedRows[i].LC_ID;
      bodyData["UOM_CD" + [i]] = selectedRows[i].UOM_CD;
      bodyData["UOM_NM" + [i]] = selectedRows[i].UOM_NM;
      bodyData["UOM_ID" + [i]] = selectedRows[i].UOM_ID;
    }

    const result = await ApiService.postApi("/rest/WMSST160/save.action", bodyData, bodyData);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    throw err;
  }
}

// 삭제
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  console.log(selectedRows[0].WORK_STAT);
  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  // WORK_STAT의 값이 ALLOW_DELETE_STATUS에 해당되는 값들만 삭제 가능 (운영서버 소스 참고)
  // const ALLOW_DELETE_STATUS = ["100", "310", "991"];
  // for (let i = 0; i < selectedRows.length; i++) {

  //   if (ALLOW_DELETE_STATUS.indexOf(selectedRows[i].WORK_STAT) < 0) {
  //     useToast().warning(t("common-toast.unable-to-delete"));
  //     return;
  //   }
  // }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "",
      selectIds: String(selectedRows.length),
      vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
    };
    for (let i = 0; selectedRows.length > i; i++) {
      data["LC_ID" + [i]] = selectedRows[i].LC_ID || "";
      data["CYCL_STOCK_ID" + [i]] = selectedRows[i].CYCL_STOCK_ID;
      data["CUST_ID" + [i]] = selectedRows[i].CUST_ID;
      data["WORK_SEQ" + [i]] = selectedRows[i].WORK_SEQ;
      data["RITEM_ID" + [i]] = selectedRows[i].RITEM_ID;
      data["REAL_QTY" + [i]] = selectedRows[i].REAL_QTY;
      data["DIFF_REASON" + [i]] = selectedRows[i].DIFF_REASON;
      data["ERR_CD" + [i]] = selectedRows[i].ERR_CD;
    }

    const res = await ApiService.postApi("/rest/WMSST160/delete.action", data, data);
    if (res.status) {
      useToast().success(t("common-toast.deleted"));
      searchGridData();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  } catch (err) {
    return console.log(err);
  }
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.stock-inquiry-result"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

function getOwnerDataQueryString() {
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  return `vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`;
}

// 템플릿입력 모달
function enterTemplate() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  UtilService.templateImport(
    `/enter-template?title=${"receiving-enter-template"}&${getOwnerDataQueryString()}&saveUrl=${"/WMSOP030/inExcelFileUploadAllowBlank_AS_rn.action"}&templateUrl=${"/WMSOP030E2/sampleExcelDown.action"}`
  );
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  // 페이지 ID를 포함한 이벤트 이름으로 리스너 등록
  eventBus.on("search-finished", getGridStatisticsData);

  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi(`/WMSST160/selectSBCYCLSTOCKID.action`, {}, UtilService.getOptionApiData("WMSST160"));
  if (res.SBCYCLSTOCKID) {
    res.SBCYCLSTOCKID.forEach((i: any) => {
      i.CODE_CD = i.CYCL_STOCK_ID;
      i.CODE_NM = i.CYCL_STOCK_ID;
    });
    OptionDataStore.setOptionData(res);
  }
  const res2 = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, UtilService.getOptionApiData("WMSST051_rn"));
  if (res2.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res2.result);
  }

  searchGridData = commonFormRef.value!.searchGridData;
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  // 페이지 ID를 포함한 이벤트 이름으로 리스너 제거
  eventBus.off("search-finished", getGridStatisticsData);
});

// User Function Definitions

// 그리드 상단 통계 데이터
async function getGridStatisticsData(apiParams: any) {
  const gridStatisticsData = await ApiService.postApi("/rest/WMSST065/list.action", apiParams, {});
  if (gridStatisticsData.status) {
    gridTotalData.value = gridStatisticsData.result.LIST;
  }
}

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}

async function getServerData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSST160/list.action", apiParams, bodyData.value, false);
  searchGridDatas.value = res.result?.list;
  return res;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.tooltip-content {
  position: absolute;
  background-color: #333;
  border: 1px solid #333;
  padding: 10px;
  width: 320px;
  z-index: 1000;
  display: block;
  overflow: hidden;
}

.tooltip-image {
  width: 100%;
  display: block;
}

.tooltip-text {
  margin-top: 10px;
  color: #fff;
  font-size: 0.9em;
}
</style>
