<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS191/page.vue
 *  Description:    원부자재군관리 화면
 *  Authors:        H. N. KO
 *  Update History:
 *                  2024.06. : Created by H.N.KO
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header> </template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      @onSelectionChanged="onSelectionChanged"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      :readOnlyInputs="SEARCH_META.readOnlyInputs">
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS191" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore, userStore } from "@/store";

import commonForm from "@/page/common-page/common-form.vue";
import { default as CommonSearch, default as commonSearch } from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onMounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";

import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";
const gridData = reactive({ value: [] as any });
const selectedItems = reactive({ value: [] as any });

// Variable Definitions
const { t } = useI18n();
const SearchConditionStore = useSearchConditionStore();
const SelectedDataStore = useSelectedDataStore();
const eventBus = useEventBusStore();
let searchGridData: Function;
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const ConfirmStore = useConfirmStore();

// Variable Definitions
const myPageId = ref<string>();
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
  "enter-excel": excelImport,
};

// Framework Function Definitions
onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  const res1 = await ApiService.postApi("/rest/WINUS/WMSMS191.action", {}, UtilService.getOptionApiData(`WMSMS191`));
  if (res1.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res1.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res1.result);
  }
  gridData.value = res1.result.list;

  searchGridData();
});

async function getServerData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSMS191/list.action", apiParams, bodyData.value, false);
  gridData.value = res.result.list;

  return res;
}

function onSelectionChanged(e: any) {
  selectedItems.value = gridApi.value?.getSelectedRows();
}

let tempCount = 0;

async function commonFunction(selectedRows: any, data: any) {
  if (selectedItems.value?.length < 1) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }
  let confirmMessage = "confirm-message.save";
  let resultMessage = "common-toast.saved";
  if (selectedRows.ST_GUBUN0 == "DELETE") {
    confirmMessage = "confirm-message.delete";
    resultMessage = "common-toast.deleted";
  }
  await ConfirmStore.confirm(t(confirmMessage), t("button-name.confirm"));

  try {
    if (selectedRows && selectedRows?.length > 0) {
      let result = await ApiService.postApi("/rest/WMSMS191/save.action", data, data);
      if (result.status) {
        if (result.result.errCnt !== 0) {
          useToast().error(t(result.result.MSG));
        } else {
          useToast().success(t(resultMessage));
          searchGridData();
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      }
    }
  } catch (err) {
    return console.log(err);
  }
  tempCount = 0;
  gridApi.value?.deselectAll();
  await searchGridData();
}

// 신규 빈 행 추가
function addRowData() {
  const RNUM = `temp${tempCount}`;
  const currentUser = JSON.parse(userStore().getCurrentUser());
  const newRowData = [
    {
      RNUM: RNUM,
      ST_GUBUN: "INSERT",
      CHK_BOX: "Yes",
      LC_NM: currentUser.LC_NM,
      LC_ID: currentUser.LC_ID,
      SS_USER_NO: currentUser.USER_NO,
      SS_CLIENT_IP: currentUser.LAST_CONT_IP,
      SS_SVC_NO: currentUser.location.LC_ID,
    },
  ];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi.value?.paginationGetCurrentPage()) + 1) * Number(gridApi.value?.paginationGetPageSize()) - Number(gridApi.value?.paginationGetPageSize());

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;

  gridApi.value?.getRowNode(String(RNUM))?.setSelected(true);
  SelectedDataStore.selectedHandler(gridApi.value?.getRowNode(String(RNUM))?.data);
}

/**
 * 데이터 유효성 검사 메소드
 * 검증 위반 시 아래 에러값에 따른 객체 값 반환 (정상시 :null 값 반환)
 * 특정 컬럼에 빈값 존재시 객체 반환
 * 원부자재군 코드의 길이 20자 초과
 * 원부자재명 코드의 길이 30자 초과
 */
function fn_listValidation(selectedItems: any, checkColumn: any) {
  for (let item of selectedItems) {
    for (let key of checkColumn) {
      //1. 원부자재군코드, 원부자재군명의 값 중 빈값이 존재할 경우
      if (!item[key]) {
        return { message: "empty-values-are-not-allowed", columnName: null, maxLen: null };
      } else {
        //2. [원부자재군코드]의 길이가 20보다 클경우
        if (item["POOL_GRP_CD"].length > 20) {
          return {
            message: "column-name-length-over-max-len",
            columnName: t("grid-column-name.raw-subsidiary-material-group-code"),
            maxLen: 20,
          };
        }
        //3.[원부자재군명]의 길이가 30보다 클경우
        else if (item["POOL_GRP_NM"].length > 30) {
          return {
            message: "column-name-length-over-max-len",
            columnName: t("grid-column-name.raw-subsidiary-material-group-name"),
            maxLen: 30,
          };
        }
      }
    }
  }
  //정상 ->  0 반환
  return null;
}

//저장
async function saveRowData() {
  gridApi.value?.stopEditing();
  selectedItems.value = gridApi.value?.getSelectedRows();
  let requiredColumns = ["POOL_GRP_CD", "POOL_GRP_NM"];
  if (selectedItems.value.length < 1) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }
  //유효성 검사 (반환값에 따라서 처리 상이)
  let validationValue = fn_listValidation(selectedItems.value, requiredColumns);
  if (validationValue) {
    return useToast().warning(t("common-toast." + validationValue?.message, { columnName: validationValue?.columnName, maxLen: validationValue?.maxLen }));
  } else {
    let data: any = { _fullpath: "기준관리 &gt; 원부자재군관리" };

    for (let i = 0; selectedItems.value.length > i; i++) {
      if (i === 0) {
        data.vrSrchPoolGrpCd = useSearchConditionStore().getSearchInputValue().vrSrchPoolGrpCd;
        data.vrSrchItemGrpNm = useSearchConditionStore().getSearchInputValue().vrSrchItemGrpNm;
      }
      if (String(selectedItems.value[i].RNUM).includes("temp")) {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }
      data.selectIds = String(selectedItems.value.length);
      data["POOL_GRP_CD" + [i]] = selectedItems.value[i].POOL_GRP_CD;
      data["POOL_GRP_NM" + [i]] = selectedItems.value[i].POOL_GRP_NM;
      data["IN_ZONE_ID" + [i]] = selectedItems.value[i].IN_ZONE_ID;
      data["POOL_GRP_ID" + [i]] = selectedItems.value[i].POOL_GRP_ID;
      data["ITEM_GRP_ID" + [i]] = selectedItems.value[i].ITEM_GRP_ID;
      data["POOL_WGT_ARROW_RATE" + [i]] = selectedItems.value[i].POOL_WGT_ARROW_RATE;
    }
    commonFunction(selectedItems.value, data);
  }
}

//삭제 body부분 key값만 등록, 실제 url과 테스트 필요
async function deleteRowData() {
  selectedItems.value = gridApi.value?.getSelectedRows();

  if (selectedItems.value.length < 1) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  let data: any = {
    _fullpath: "기준관리 &gt; 원부자재군관리",
    vrSrchPoolGrpCd: SearchConditionStore.getSearchInputValue().vrSrchPoolGrpCd,
    vrSrchItemGrpNm: SearchConditionStore.getSearchInputValue().vrSrchItemGrpNm,
    selectIds: String(selectedItems.value?.length),
  };
  for (let i = 0; selectedItems.value.length > i; i++) {
    data["POOL_GRP_ID" + [i]] = selectedItems.value[i]?.POOL_GRP_ID;
    data["ITEM_GRP_ID" + [i]] = selectedItems.value[i]?.ITEM_GRP_ID;
    data["ST_GUBUN" + [i]] = "DELETE";
  }
  commonFunction(selectedItems.value, data);
}

// 엑셀입력 클릭시, excel import
function excelImport() {
  const data = {
    modalTitle: t("menu-header-title.WMSMS191"),
    saveUrl: "/rest/WMSMS191/uploadInfo.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS191&file_name=execlTemp_goodsGroup_01.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

function onApiParamsChanged(apiParams: any) {
  apiParams.vrItemGrpType = "P";

  return apiParams;
}

//엑셀 export
function excelExport() {
  if (gridData.value.length === 0) {
    return useToast().warning(t("common-toast.no-data-found"));
  }
  const excelExportParams: ExcelExportParams = {
    fileName: t("menu-header-title.WMSMS191"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
