<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST059_3/page.vue
 *  Description:    현재고조회 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header>
        <!-- <div class="search-control-container">
          <control-container>
            <div v-for="btnData in searchCompControlBtn.value" :key="btnData.title">
              <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
            </div>
          </control-container>
        </div> -->
      </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-grid`"
        :gridMeta="GRID_META"
        :gridOptionsMeta="GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :onCellFocused="onCellFocused"
        :controlBtn="MASTER_CONTROL_BTN"
        :gridStatisticsInfo="MASTER_GRID_STATISTICS_INFO"
        :searchInput="SEARCH_INPUT"
        :getServerData="getMasterData"
        @onSelectionChanged="onMasterSelectionChanged"
        :context="[]">
        <div class="grid-header">{{ masterGridTitle }}</div>
        <!-- mainGridStatisticsInfoRef -->
        <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="mainGridStatisticsInfoRef" :gridTotalData="masterGridTotalData" />
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="true"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :getServerData="getDetailData"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :modules="[ExcelExportModule]">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="detailGridStatisticsInfoRef" :gridTotalData="detailGridTotalData" />
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedDetailItems && Object.keys(selectedDetailItems).length > 0" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST059_3" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import { default as CommonForm, default as commonForm } from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, IRowNode, RowSelectedEvent, StartEditingCellParams } from "ag-grid-community";
import { ExcelExportModule, GridApi } from "ag-grid-enterprise";
import { computed, nextTick, onMounted, onUnmounted, reactive, Ref, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { UtilService } from "../../../services/util-service";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import {
  DETAIL_CONTROL_BTN,
  DETAIL_GRID_OPTIONS_META,
  DETAIL_GRID_STATISTICS_INFO,
  GRID_META,
  GRID_OPTIONS_META,
  MASTER_CONTROL_BTN,
  MASTER_GRID_STATISTICS_INFO,
  SEARCH_INPUT,
  SEARCH_META,
} from "./input.meta";
const { t } = useI18n();

//master grid 선택시(복수 체크)
const selectedMasterItems = ref<Record<string, any>[]>([]);

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});
let selectedMasterRowIdx: number = -1;

//detail grid 선택시(복수 체크)
const selectedDetailItems = ref<Record<string, any>[]>([]);
const selectedDetailNodes = ref<IRowNode[]>([]);

//detail grid 선택시(하나만 체크)
const selectedDetailItem = ref<Record<string, any>>({});

// Variable Definitions
const masterFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const detailFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value?.gridApi) || null;
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value?.gridApi) || null;
});
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const eventBus = useEventBusStore();
const masterGridTitle = computed(() => {
  return t("menu-header-title.WMSST059_3");
});
const detailGridTitleRef = computed(() => {
  return t("menu-header-title.WMSST059_3_detail");
});
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const selectedItems = ref<Record<string, any>>({});
const masterGridTotalData = reactive({ value: {} as any });
const detailGridTotalData = reactive({ value: {} as any });

const mainGridStatisticsInfoRef = ref(MASTER_GRID_STATISTICS_INFO);
const detailGridStatisticsInfoRef = ref(DETAIL_GRID_STATISTICS_INFO);
// const searchCompControlBtn = reactive({ value: SEARCH_COMPONENT_CONTROL_BTN as any });
const formTheme = {
  "--flex-direction": "column",
};

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

// Framework Function Definitions
onMounted(async () => {
  // 페이지 ID를 포함한 이벤트 이름으로 리스너 제거
  eventBus.off("search-finished", getMasterGridStatisticsData);

  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSST059");
  const res = await ApiService.postApi(`/rest/WINUS/WMSST059.action`, {}, data);

  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onUnmounted(() => {
  // 페이지 ID를 포함한 이벤트 이름으로 리스너 제거
  eventBus.off("search-finished", getMasterGridStatisticsData);
});

// User Function Definitions
function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
// 그리드 상단 통계 데이터
async function getMasterGridStatisticsData(apiParams: any) {
  const gridStatisticsData = await ApiService.postApi("/WMSOP910/listE1SummaryCount_rn.action", apiParams, {});
  if (gridStatisticsData.status) {
    masterGridTotalData.value = gridStatisticsData.result.LIST;
  }
}

// 그리드 상단 통계 데이터
async function getDetailGridStatisticsData(apiParams: any) {
  const gridStatisticsData = await ApiService.postApi("/WMSOP910/listE1SummaryCount_rn.action", apiParams, {});
  if (gridStatisticsData.status) {
    detailGridTotalData.value = gridStatisticsData.result.LIST;
  }
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.in/out-status"),
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * Master Grid에서 행이 선택될때
 * @param e
 */
function onMasterSelectionChanged(e: { startRowIndex: number; event: RowSelectedEvent }) {
  let isSelected = e.event.node.isSelected();
  let event: RowSelectedEvent = e.event;
  selectedMasterItems.value = masterGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    selectedMasterRowIdx = event.node.rowIndex || -1;
    // event.api.redrawRows();
    nextTick(() => {
      changeEditable(e.event, "REMARK", "REMARK");
      detailFormRef.value?.searchGridData();
    });
  }
}

/**
 * 세부 데이터에서 행이 선택 될때
 * @param e
 */
function onDetailGridSelectionChanged(e: { startRowIndex: number; event: RowSelectedEvent }) {
  let isSelected = e.event.node.isSelected();
  let event: RowSelectedEvent = e.event;
  // event.api.redrawRows();
  selectedDetailItems.value = detailGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (isSelected) {
    selectedDetailItem.value = detailGridApi.value?.getSelectedRows()[0];
    selectedDetailNodes.value = detailGridApi.value?.getSelectedNodes() || [];
  }
}

// User Function Definitions

//화주 ID 공통으로 사용
/**
 * 마스터 데이터 조회
 * @param apiParams
 * @param bodyData
 */
async function getMasterData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSST010/listV2.action", apiParams, bodyData.value, false);
  detailGridApi.value?.setRowData([]);
  return res;
}

/**
 * 상세 데이터 조회
 * @param apiParams
 * @param bodyData
 */
async function getDetailData(apiParams: any, bodyData: any) {
  detailGridApi.value?.deselectAll();

  const gridApi = unref(masterGridApi) || new GridApi();
  const selectedMasterItem = GridUtils.getSelectedRowData(gridApi)[0];

  const commonParams = {
    vrRitemId: Object.hasOwn(selectedMasterItem, "RITEM_ID") ? selectedMasterItem.RITEM_ID : "",
    vrUomId: Object.hasOwn(selectedMasterItem, "UOM_ID") ? selectedMasterItem.UOM_ID : "",
  };
  apiParams = Object.assign(apiParams, commonParams);
  getDetailGridStatisticsData(apiParams);
  let res = await ApiService.postApi("/rest/WMSST010/subListV2.action", apiParams, bodyData.value, false);
  return res;
}

/**
 * 요청
 * @param formFields formField를 Array에 따라 순번처리한 데이터
 */
async function requestService(url: string, formFields: any, confirmMessage: string, successMsg?: string, failMsg?: string) {
  successMsg = successMsg || t("common-toast.saved");
  failMsg = failMsg || "";
  await useConfirmStore().confirm(confirmMessage, t("button-name.confirm"));

  try {
    const resp = await ApiService.postApi("/rest/" + url, formFields, {});
    if (resp && resp.result.errCnt > 0) {
      useToast().error(resp.MSG || failMsg);
      eventBus.emit("search-data");
    } else {
      useToast().success(resp.result.MSG);
      eventBus.emit("search-data");
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * Event Layer
 */
// master
const masterEventHandler: Record<string, Function> = {
  save: saveMaster, //TODO: WMSMS085: save erorr발생, insert 가능
  excel: excelExport,
  "stores-balance-reset": storesBlanceReset,
  "stores-rebalance": storesReblance,
};

//선택된 행의 특정셀의 editable속성 변경
function changeEditable(event: RowSelectedEvent, autoFocusCell: string, ...columnNames: string[]) {
  event.api.forEachNode((node) => {
    node.setData({ ...node.data, editable: false });
  });
  if (event.node.isSelected()) {
    event.node.setData({ ...event.data, editable: true });
    const rowIndex = event.node.rowIndex;
    if (rowIndex != null) {
      const focusedCell = event.api.getFocusedCell();
      const focusedCellNm = autoFocusCell || focusedCell?.column.getColId() || "";
      if (focusedCell && columnNames.indexOf(focusedCellNm) >= 0) {
        event.api.startEditingCell({
          rowIndex: rowIndex,
          colKey: focusedCellNm,
        });
      }
    }
    // 필요한 경우 다른 열도 추가 가능
  } else {
    if (!event.data["focusedCell"]) {
      event.node.setData({ ...event.data, editable: false });
    }
  }
}
/**
 * 마스터 저장
 */
async function saveMaster() {
  masterGridApi.value?.stopEditing();
  setTimeout(async () => {
    if (!selectedMasterItems.value || selectedMasterItems.value.length === 0) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }
    if (selectedMasterItems.value.length > 0) {
      const insertData: any[] = masterFormRef.value?.getRowsByStatus("INSERT") || [];
      const updateData: any[] = masterFormRef.value?.getRowsByStatus("UPDATE") || [];
      const savingData: any[] = [...insertData, ...updateData];
      if (!masterValidate(savingData)) return;
      const formData = masterFormRef.value?.rowsToFormFields(savingData);
      formData.D_selectIds = 0;
      await requestService("/WMSST010/save.action", formData, t("confirm-message.save"));
    }
  }, 500);
}

function masterValidate(savingData: any[]) {
  if (savingData.length <= 0) {
    useToast().warning(t("common-toast.select-data-to-save"));
    return false;
  }
  let success = true;
  savingData.forEach((data) => {
    let remark = data["REMARK"];
    if (!UtilService.cfn_checkString(UtilService.cfn_trim(remark))) {
      success = false;
    } else if (UtilService.getByteLength(UtilService.cfn_trim(remark || "")) > 600) {
      useToast().warning(t("common-toast.field-in-line-over-max-size", { field: t("grid-column-name.remark"), line: selectedMasterRowIdx, max: 60 }));
      success = false;
    }
  });
  if (!success) {
    const startEditingRow: StartEditingCellParams = {
      rowIndex: selectedMasterRowIdx,
      colKey: "REMARK",
    };
    masterGridApi.value?.startEditingCell(startEditingRow);
    return success;
  }
  return success;
}

async function storesBlanceReset() {
  await requestService("/WMSST010/initSubul.action", null, t("confirm-message.save"));
}
function storesReblance() {
  masterGridApi.value?.stopEditing();
  setTimeout(async () => {
    if (!selectedMasterItems.value || selectedMasterItems.value.length === 0) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }
    if (selectedMasterItems.value.length > 0) {
      const insertData: any[] = masterFormRef.value?.getRowsByStatus("INSERT") || [];
      const updateData: any[] = masterFormRef.value?.getRowsByStatus("UPDATE") || [];
      const savingData: any[] = [...insertData, ...updateData];
      if (!masterValidate(savingData)) return;
      const formData = masterFormRef.value?.rowsToFormFields(savingData);
      await requestService("/WMSST010/subulManualComp.action", formData, t("confirm-message.save"));
    }
  }, 500);
}
// detail event title에 따라 메서드를 매핑
const detailEventHandler: Record<string, Function> = {
  excel: detailExport,
};

function detailExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("grid-title.cust-zone-detail-information"),
  };
  detailGridApi.value?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid > div:first-child {
    flex-grow: 1; /* Takes 2 parts of the available space */
  }
  &-grid > div:last-child {
    flex-grow: 1; /* Takes 2 parts of the available space */
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
