<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsst050-inventory-adjustment-popup.vue
 *  Description:    재고관리/재고조정 페이지에서 재고조정 버튼 클릭시 노출되는 입고주문 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsst050-inventory-adjustment-popup" class="wmsst050-inventory-adjustment-popup">
    <div class="wmsst050-inventory-adjustment-popup-container">
      <h3 class="wmsst050-inventory-adjustment-popup-title">{{ t("modal-title.inventory-adjustment") }}</h3>
      <!--검색 인풋영역-->
      <div class="wmsst050-inventory-adjustment-popup-search" ref="searchComponentRef">
        <template v-for="(props, i) in searchInputDef.value" :key="i">
          <search-container-input
            :data="props"
            :columnDefs="INVENTORY_ADJUSTMENT_MODAL_COLUMN_DEFS?.[props.title]"
            :modalData="INVENTORY_ADJUSTMENT_SEARCH_MODAL_INFO?.[props.title]"
            :pageInfo="null" />
        </template>
      </div>
      <!--컨트롤버튼 영역-->
      <div class="wmsst050-inventory-adjustment-popup-control">
        <div class="option-container">
          <span class="option-title">{{ t("control-button-name.option") + ":" }}</span>
          <input class="option-checkbox" type="checkbox" :checked="orderInformationModification" @click="setCheckboxValue()" />
          <span class="option-value">{{ t("control-button-name.order-information-modification") }}</span>
        </div>
        <template v-for="btnData in controlBtn.value" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :excelExport="excelExport" />
        </template>
      </div>
      <!--그리드영역-->
      <div class="wmsst050-inventory-adjustment-popup-grid">
        <div class="grid-header">{{ t("grid-title.adjustments") }}</div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
        <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
  <confirm-popup />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridApi, GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import { INVENTORY_ADJUSTMENT_FORM_COLUMN_DEFS, INVENTORY_ADJUSTMENT_MODAL_COLUMN_DEFS } from "@/page/stock/WMSST050/column-defs";
import { INVENTORY_ADJUSTMENT_CONTROL_BTN, INVENTORY_ADJUSTMENT_SEARCH_INPUT, INVENTORY_ADJUSTMENT_SEARCH_MODAL_INFO } from "@/page/stock/WMSST050/input.search.ts";
import { IWinusMenu } from "@/types";
import { ExcelExportParams } from "ag-grid-community";

// Variable Definitions
const { t } = useI18n();
const searchComponentRef = ref(null as null | HTMLDivElement);
const inactive = ref<boolean>(false);
let gridApi: GridApi | null = null;
const pagingOptions = UtilService.getGridPagingOptions("WMSST050_INVENTORY_ADJUSTMENT_POPUP");
const pagingSize = ref<number>(pagingOptions![0]);
const bodyData = reactive({ value: {} as any });
const params = JSON.parse(localStorage.getItem("windowModal")!);
const orderInformationModification = ref(false);
orderInformationModification.value = params.optionOrderInformationModificationValue;
const searchInputDef = reactive({ value: null } as { value: any });
const controlBtn = reactive({ value: INVENTORY_ADJUSTMENT_CONTROL_BTN as any });
const page = reactive({ value: {} as any });
const mainMenus = reactive({ value: [] as IWinusMenu[] });

//쿼리스트링 값
const whIdQueryString = new URL(window.location.href).searchParams.get("WH_ID");
const whNmQueryString = new URL(window.location.href).searchParams.get("WH_NM");
const locIdQueryString = new URL(window.location.href).searchParams.get("LOC_ID");
const locCdQueryString = new URL(window.location.href).searchParams.get("LOC_CD");
const ritemIdQueryString = new URL(window.location.href).searchParams.get("RITEM_ID");
const ritemNmQueryString: any = new URL(window.location.href).searchParams.get("RITEM_NM");
const uomIdQueryString = new URL(window.location.href).searchParams.get("UOM_ID");
const uomCdQueryString = new URL(window.location.href).searchParams.get("UOM_CD");
const stockQtyQueryString: any = new URL(window.location.href).searchParams.get("STOCK_QTY");
const subLotIdQueryString = new URL(window.location.href).searchParams.get("SUB_LOT_ID");
const custLotNoQueryString = new URL(window.location.href).searchParams.get("CUST_LOT_NO");
const numQueryString = new URL(window.location.href).searchParams.get("NUM");
const itemBestEndDateQueryString = new URL(window.location.href).searchParams.get("ITEM_BEST_DATE_END");
const modifyableQtyQueryString = new URL(window.location.href).searchParams.get("MODIFYABLE_QTY");
const ritemCdQueryString = new URL(window.location.href).searchParams.get("RITEM_CD");

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
  //UOM모달 params
  INVENTORY_ADJUSTMENT_SEARCH_MODAL_INFO.uom.apis.params.vrStockQty = stockQtyQueryString;
  INVENTORY_ADJUSTMENT_SEARCH_MODAL_INFO.uom.apis.params.vrRitemId = ritemIdQueryString;

  searchInputDef.value = Array.from(new Set(INVENTORY_ADJUSTMENT_SEARCH_INPUT));
});

onMounted(async () => {
  //그리드에서 선택한 행 데이터 셋팅
  const setInputKeyList = ["WH_NM", "ITEM_BEST_DATE_END", "RITEM_CD", "RITEM_NM", "LOC_CD", "STOCK_QTY", "UOM_CD", "MODIFYABLE_QTY"];
  const setInputDataList = [whNmQueryString, itemBestEndDateQueryString, ritemCdQueryString, ritemNmQueryString, locCdQueryString, stockQtyQueryString, uomCdQueryString, modifyableQtyQueryString];
  for (let i = 0; setInputKeyList.length > i; i++) {
    useSearchConditionStore().changeSearchInputValue(setInputKeyList[i], setInputDataList[i]);
  }
  searchInputDef.value[8].optionsAutoSelected = {
    allowAutoSelected: true,
    autoSelectedKeyIndex: 0,
  };
  useOptionDataStore().setAvailableWatchBySearchCondition(true);

  mainMenus.value = await UtilService.setMenusData();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST050", mainMenus.value, controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

//uom정보가 바뀔 때 사유 textarea/select-box에 'UOM변경' 이라는 값 셋팅됨
watch(useSelectedDataStore()._selectedModalData, () => {
  if (!inactive.value) {
    useSearchConditionStore().changeSearchInputValue("taReason", "UOM변경");
    useSearchConditionStore().changeSearchInputValue("WORK_QTY", 0);

    searchInputDef.value[8].optionsAutoSelected.autoSelectedKeyIndex = 2;
    useOptionDataStore().setAvailableWatchBySearchCondition(true);
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: INVENTORY_ADJUSTMENT_FORM_COLUMN_DEFS,
  onGridReady: onGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowModelType: "serverSide",
  rowSelection: "multiple",
  suppressCellFocus: true,
  suppressClickEdit: true,
  pagination: false,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; INVENTORY_ADJUSTMENT_FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(INVENTORY_ADJUSTMENT_FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(INVENTORY_ADJUSTMENT_FORM_COLUMN_DEFS[i].field);
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.wmsst"),
    columnKeys,
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}

//그리드 조회
async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    const apiParams = {
      ritem_id: ritemIdQueryString,
      uom_id: uomIdQueryString,
      loc_id: locIdQueryString,
      sub_lot_id: subLotIdQueryString,
    };
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        setPagingBodyData(params);
        const res = await ApiService.postApi("/WMSST050/poplist_rn.action", apiParams, bodyData.value);
        if (res.status) {
          params.successCallback(res.result.list, res.result.list.length);
        } else {
          params.successCallback([], 0);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 저장
async function save() {
  const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(INVENTORY_ADJUSTMENT_SEARCH_INPUT, useSearchConditionStore(), useSelectedDataStore());
  if (searchInputRequiredValidation) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
  }
  const data: any = {
    func: "fn_setWMSST050E2",
    SUB_LOT_ID: subLotIdQueryString,
    CUST_LOT_NO: custLotNoQueryString,
    NUM: numQueryString,
    WH_ID: whIdQueryString,
    WH_NM: whNmQueryString,
    ITEM_BEST_DATE_END: itemBestEndDateQueryString,
    RITEM_CD: ritemCdQueryString,
    RITEM_ID: ritemIdQueryString,
    RITEM_NM: ritemNmQueryString,
    LOC_ID: locIdQueryString,
    LOC_CD: locCdQueryString,
    STOCK_QTY: stockQtyQueryString,
    UOM1_CD: "",
    UOM_ID: uomIdQueryString,
    UOM_CD: useSearchConditionStore().getSearchInputValue().UOM_CD,
    MODIFYABLE_QTY: modifyableQtyQueryString,
    cmbWorkType: useSearchConditionStore().getSearchInputValue().cmbWorkType,
    WORK_QTY: useSearchConditionStore().getSearchInputValue().WORK_QTY + "",
    taReason: useSearchConditionStore().getSearchInputValue().taReason,
    OPT_00: false,
  };
  const res = await ApiService.postApi("/WMSST050/save_rn.action", {}, data);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      setTimeout(() => {
        UtilService.setOpenerPostMessageForGetGridData();
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

function setCheckboxValue() {
  orderInformationModification.value = !orderInformationModification.value;
  if (!orderInformationModification.value) {
    useToast().warning(t("common-toast.inventory-adjustment-details-are-not-reflected-in-the-warehousing-order"));
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.wmsst050-inventory-adjustment-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 15px 15px 15px;
  display: flex;
  justify-content: center;

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 0 10px 0;
  }

  &-grid {
    height: calc(100% - 500px);
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
    }
    .ag-grid-size {
      height: calc(100% - 31px);
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 28px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(100% - 15px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}

.option-container {
  margin-right: auto;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-checkbox {
  align-items: center;
  margin-right: 5px;
}
.option-title {
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
}
.option-value {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
}

.wmsst050-inventory-adjustment-popup-control {
  align-items: center;
}
</style>
