<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG610/form.vue
 *  Description:    통계/재고조정이력조회 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <control-container>
    <div v-for="btnData in controlBtn.value" :key="btnData.title">
      <control-button
        v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && Object.keys(selectedItems.value).length > 0"
        :data="btnData"
        :excelExport="excelExport"
        :printExport="printExport" />
      <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" :excelExport="excelExport" :printExport="printExport" />
    </div>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <my-grid
      :pinnedBottomRowData="pinnedBottomRowData"
      :onGridReady="onGridReady"
      :onSelectionChanged="onSelectionChanged"
      @onPageSizeChanged="
        (ps) => {
          pagingSize = ps;
        }
      " />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { IOZReportArgument, OZReport } from "@/services/report-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore, userStore } from "@/store";
import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import MyGrid from "./grid.vue";
import { CONTROL_BTN, SEARCH_INPUT } from "./input.meta";

const bodyData = reactive({ value: {} as any });
const pinnedBottomRowData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSST401");
const pagingSize = ref<number>(pagingOptions![0]);
let gridApi: GridApi | null = null;
const { t } = useI18n();
const formContainerRef = ref(null as null | any);
const selectedItems = reactive({ value: {} as any });
const inactive = ref<boolean>(false);
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSTG", "WMSTG610", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
};

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    initBeforeSearchGridData();
    gridApi?.sizeColumnsToFit();
    const searchConditions = SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "통계관리 &gt; 재고조정이력조회";
    apiParams.LC_ID = UtilService.getCurrentLocation();
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSTG610/list_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            params.successCallback(gridData.result.list, UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows));
            getGridStatisticsData(gridData.result.list);
          } else {
            useToast().warning(t("common-toast.no-data-list"));
            params.successCallback([], 0);
          }
        } else {
          params.successCallback([], 0);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function initBeforeSearchGridData() {
  pinnedBottomRowData.value = {
    RITEM_NM: "",
    STOCK_QTY: 0,
    WORK_QTY: 0,
  };
  gridApi?.deselectAll();
}

async function getGridStatisticsData(gridDataList: any) {
  let TOTAL_STOCK_QTY = 0;
  let TOTAL_WORK_QTY = 0;
  gridDataList.forEach((data: any) => {
    TOTAL_STOCK_QTY += Number(data.STOCK_QTY);
    TOTAL_WORK_QTY += Number(data.WORK_QTY);
  });
  pinnedBottomRowData.value = {
    RITEM_NM: t("grid-column-name.sum"),
    STOCK_QTY: TOTAL_STOCK_QTY,
    WORK_QTY: TOTAL_WORK_QTY,
  };
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

//엑셀 export
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_COLUMN_DEFS[i].field);
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.inventory-adjustment-history-2"),
    columnKeys,
  };

  gridApi?.exportDataAsExcel(excelExportParams);
}

/**
 * 인쇄
 */
function printExport() {
  let ozReport = new OZReport({
    title: encodeURI("재고조정 내역 발행"),
    fileName: "WMSTG610Q1B",
    reportName: "WMSTG610Q1.ozr",
    odiName: "WMSTG610Q1",
  } as IOZReportArgument);

  ozReport.SetOdiParam({
    vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom,
    vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo,
    vrSrchItemCd: useSearchConditionStore().getSearchInputValue().vrSrchItemCd,
    vrWorkType: useSearchConditionStore().getSearchInputValue().vrWorkType,
    vrSrchLocCd: useSearchConditionStore().getSearchInputValue().vrSrchLocCd ?? "",
    vrSrchLcId: JSON.parse(userStore().getCurrentUser()).LC_ID,
    vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner.CUST_NM,
    vrSrchUserNm: JSON.parse(userStore().getCurrentUser()).USER_NM,
    vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
  });

  const asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_InPopup", "1000", "800") as any;
  asppop.focus();
}

function onSelectionChanged() {}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;
</style>
