<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG610/page.vue
 *  Description:    통계/재고조정이력조회 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData">
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG610" };
</script>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/statistics/WMSTG610/column-defs";
import { ApiService } from "@/services/api-service";
import { IOZReportArgument, OZReport } from "@/services/report-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore, userStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const { t } = useI18n();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const eventBus = useEventBusStore();
const gridHeaderTitle = computed(() => {
  return t(`grid-title.inventory-adjustment-history`);
});
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  excel: excelExport,
  print: printExport,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi(`/WINUS/WMSTG610_rn.action`, {}, UtilService.getOptionApiData(`/WINUS/WMSTG610_rn`));
  if (res.result.selectBoxInfos) {
    res.result.selectBoxInfos.ORD01.forEach((option: any, i: any) => {
      if (i === 0) {
        option.CODE_NM = `증가(${option.CODE_NM})`;
      } else if (i === 1) {
        option.CODE_NM = `감소(${option.CODE_NM})`;
      }
    });
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  }
});

onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

//엑셀 export
function excelExport() {
  let columnKeys = [] as (string | any)[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.inventory-adjustment-history-2"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 인쇄
 */
function printExport() {
  let ozReport = new OZReport({
    title: encodeURI("재고조정 내역 발행"),
    fileName: "WMSTG610Q1B",
    reportName: "WMSTG610Q1.ozr",
    odiName: "WMSTG610Q1",
  } as IOZReportArgument);

  ozReport.SetOdiParam({
    vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom,
    vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo,
    vrSrchItemCd: useSearchConditionStore().getSearchInputValue().vrSrchItemCd,
    vrWorkType: useSearchConditionStore().getSearchInputValue().vrWorkType,
    vrSrchLocCd: useSearchConditionStore().getSearchInputValue().vrSrchLocCd ?? "",
    vrSrchLcId: JSON.parse(userStore().getCurrentUser()).LC_ID,
    vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner.CUST_NM,
    vrSrchUserNm: JSON.parse(userStore().getCurrentUser()).USER_NM,
    vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
  });

  const asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_InPopup", "1000", "800") as any;
  asppop.focus();
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//#endregion

//#region ::  Grid Event CallBack Definitions

function onApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "통계관리 &gt; 재고조정이력조회";
  apiParams.LC_ID = UtilService.getCurrentLocation();

  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSTG610/list_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
</style>
