<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	popups/logistic-container-receiving-order.vue
 *  Description:    입고주문 물류 Container 팝업의 입고주문 화면
 *  Authors:        L. H. Park
 *  Update History:
 *                  2024.08. : Created by L H PARK
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="ORDER_SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header> </template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="ORDER_GRID_META"
      :gridOptionsMeta="ORDER_GRID_OPTIONS_META"
      :formColumnDefs="ORDER_GRID_COLUMN_DEFS"
      :controlBtn="ORDER_CONTROL_BUTTON"
      :getServerData="getServerData"
      :searchInput="ORDER_SEARCH_INPUT"
      :on-cell-value-changed="onCellValueChanged">
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <!-- TODO :: 권한처리 -->
          <control-button :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
    <!--버튼영역-->
    <div class="buttons">
      <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
      <button class="save" @click="() => save()">{{ t("button-name.save") }}</button>
    </div>
  </div>
  <confirm-popup />
</template>

<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ConfirmPopup } from "@/popups";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import type { CellValueChangedEvent, GridApi, GridReadyEvent } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { onActivated, onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { ORDER_GRID_COLUMN_DEFS } from "./column-defs.ts";
import { ORDER_CONTROL_BUTTON, ORDER_GRID_META, ORDER_GRID_OPTIONS_META, ORDER_SEARCH_INPUT, ORDER_SEARCH_META } from "./input.meta.ts";

//#region ::  Variable Definitions

const eventBus = useEventBusStore();
const { t } = useI18n();
const pageData = reactive({ value: {} } as { value: any });
const vrOrdIdQueryString = new URL(window.location.href).searchParams.get("vrOrdId"); // 그리드 로우 더블클릭으로 열었을때 값 존재
const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId"); // 신규버튼을 눌렀을때 값 존재
const myPageId = ref<string>("receiving-order");
const gridControlBtnRef = ref(ORDER_CONTROL_BUTTON);
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
let searchGridData: Function;
const eventHandler: Record<string, Function> = {
  new: addRowData,
  del: deleteRowData,
  // reset: resetGridRowData,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  useTabsStore().selectTab(
    {
      id: "receiving-order",
      title: "receiving-order",
      path: "receiving-order",
    },
    true
  );

  const data = UtilService.getOptionApiData("WMSCM091_rn");
  const res = await ApiService.postApi("/WMSCM091_rn.action", {}, data);

  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }
  if (vrOrdIdQueryString) {
    // search영역 값 셋팅
    const searchInputResponse = await ApiService.postApi("/WMSOP999/listOrderDetail_rn.action", {}, { vrOrdId: vrOrdIdQueryString });

    if (searchInputResponse.status) {
      const searchInputValue = searchInputResponse.result.DETAIL;
      pageData.value = searchInputValue;

      // 모달데이터 값 셋팅
      useSelectedDataStore().selectedModalHandler({
        owner: { CUST_CD: searchInputValue.CUST_CD, CUST_NM: searchInputValue.CUST_NM, CUST_ID: searchInputValue.CUST_ID },
      });
      useSelectedDataStore().selectedModalHandler({
        ["receiving-address"]: { CODE: searchInputValue.IN_CUST_CD, NAME: searchInputValue.IN_CUST_NM, ID: searchInputValue.IN_CUST_ID },
      });
      useSelectedDataStore().selectedModalHandler({
        ["receiving-warehouse"]: { WH_CD: searchInputValue.IN_WH_CD, WH_NM: searchInputValue.IN_WH_NM, WH_ID: searchInputValue.IN_WH_ID },
      });

      useSearchConditionStore().changeSearchInputValue("vrSrchWhCd", searchInputValue.IN_WH_CD);
      useSearchConditionStore().changeSearchInputValue("vrSrchCustCd", searchInputValue.CUST_CD);
      useSearchConditionStore().changeSearchInputValue("vrSrchCustNm", searchInputValue.CUST_NM);
      useSearchConditionStore().changeSearchInputValue("vrInCustNm", searchInputValue.IN_CUST_NM);
      useSearchConditionStore().changeSearchInputValue("vrInCustCd", searchInputValue.IN_CUST_CD);
      useSearchConditionStore().changeSearchInputValue("vrOrgOrdId", searchInputValue.ORG_ORD_ID);
      useSearchConditionStore().changeSearchInputValue("vrCntrNoM", searchInputValue.CNTR_NO_M);
      useSearchConditionStore().changeSearchInputValue("vrSrchOrderPhase", searchInputValue.ORD_SUBTYPE);
      useSearchConditionStore().changeSearchInputValue("vrSrchCustId", searchInputValue.CUST_ID);
      useSearchConditionStore().changeSearchInputValue("calInDt", searchInputValue.IN_REQ_DT);
      useSearchConditionStore().changeSearchInputValue("vrBlNo", searchInputValue.BL_NO);
      useSearchConditionStore().changeSearchInputValue("vrInCustId", searchInputValue.IN_CUST_ID);
      useSearchConditionStore().changeSearchInputValue("vrSrchWhNm", searchInputValue.IN_WH_NM);
      useSearchConditionStore().changeSearchInputValue("vrInCustAddr", searchInputValue.IN_CUST_ADDR);
      useSearchConditionStore().changeSearchInputValue("vrInCustEmpNm", searchInputValue.IN_CUST_EMP_NM);
      useSearchConditionStore().changeSearchInputValue("vrInCustTel", searchInputValue.IN_CUST_TEL);
      useSearchConditionStore().changeSearchInputValue("vrSrchWhId", searchInputValue.IN_WH_ID);
      useSearchConditionStore().changeSearchInputValue("inDt", searchInputValue.IN_DT);
      useSearchConditionStore().changeSearchInputValue("custPoid", searchInputValue.CUST_POID);
      useSearchConditionStore().changeSearchInputValue("custPoseq", searchInputValue.CUST_POSEQ);
      useSearchConditionStore().changeSearchInputValue("orgOrdId", searchInputValue.ORG_ORD_ID);
      useSearchConditionStore().changeSearchInputValue("orgOrdSeq", searchInputValue.ORG_ORD_SEQ);
      useSearchConditionStore().changeSearchInputValue("outWhId", searchInputValue.OUT_WH_ID);
      useSearchConditionStore().changeSearchInputValue("transCustId", searchInputValue.TRANS_CUST_ID);
      useSearchConditionStore().changeSearchInputValue("pdaFinishYn", searchInputValue.PDA_FINISH_YN);
      useSearchConditionStore().changeSearchInputValue("workStat", searchInputValue.WORK_STAT);
      useSearchConditionStore().changeSearchInputValue("ordType", searchInputValue.ORD_TYPE);
      useSearchConditionStore().changeSearchInputValue("outReqDt", searchInputValue.OUT_REQ_DT);
      useSearchConditionStore().changeSearchInputValue("outDt", searchInputValue.OUT_DT);
      useSearchConditionStore().changeSearchInputValue("pdaStat", searchInputValue.PDA_STAT);
      useSearchConditionStore().changeSearchInputValue("workSeq", searchInputValue.WORK_SEQ);
      useSearchConditionStore().changeSearchInputValue("capaTot", searchInputValue.CAPA_TOT);
      useSearchConditionStore().changeSearchInputValue("kinOutYn", searchInputValue.KIN_OUT_YN);
      useSearchConditionStore().changeSearchInputValue("carConfYn", searchInputValue.CAR_CONF_YN);
      useSearchConditionStore().changeSearchInputValue("tplOrdId", searchInputValue.TPL_ORD_ID);
      useSearchConditionStore().changeSearchInputValue("payYn", searchInputValue.PAY_YN);
    }
    searchGridData();
  } else {
    const CUST_CD = new URL(window.location.href).searchParams.get("vrSrchCustCd");
    const CUST_NM = new URL(window.location.href).searchParams.get("vrSrchCustNm");
    const CUST_ID = new URL(window.location.href).searchParams.get("vrSrchCustId");

    // 모달데이터 값 셋팅
    useSelectedDataStore().selectedModalHandler({
      owner: { CUST_CD, CUST_NM, CUST_ID },
    });
  }
});

onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;
  useOptionDataStore().setAvailableWatchBySearchCondition(true);

  // 신규버튼을 통해 열렸을때 검색영역 화주 값 셋팅
  if (vrSrchCustIdQueryString) {
    const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId");
    const vrSrchCustCdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustCd");
    const vrSrchCustNmQueryString = new URL(window.location.href).searchParams.get("vrSrchCustNm");

    useSelectedDataStore().selectedModalHandler({
      owner: { CUST_ID: vrSrchCustIdQueryString, CUST_CD: vrSrchCustCdQueryString, CUST_NM: vrSrchCustNmQueryString },
    });
  }

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  const res = await ApiService.postApi("/WMSCM162_rn.action", {}, UtilService.getOptionApiData("WMSCM162_rn"));
  if (res.result.selectBoxInfos) {
    res.result.selectBoxInfos.POOLGRP.unshift({
      CODE_CD: "",
      CODE_NM: t("select-options.all"),
    });
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }

  const res1 = await ApiService.postApi("/WMSOP999T2_rn.action", {}, UtilService.getOptionApiData("WMSOP999T2_rn"));
  if (res1.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res1.result.selectBoxInfos);
  }
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onActivated(() => {});

//#endregion

//#region ::  User Function Definitions

/**
 * 초기화
 */
// async function resetGridRowData() {
//   gridApi.value?.stopEditing();
//   const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

//   if (UtilService.isEmptyArray(selectedRows)) {
//     return useToast().warning(t("common-toast.select-data-to-delete"));
//   }

//   await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

//   for (let i = 0; selectedRows.length > i; i++) {
//     if (selectedRows[i].ST_GUBUN === "INSERT") {
//       gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
//     }
//   }
// }

/**
 * 신규
 */
function addRowData() {
  const newRowData = [
    {
      ST_GUBUN: "INSERT",
    },
  ];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });

  gridApi.value?.startEditingCell({
    rowIndex: 0,
    colKey: "CUST_LOT_NO",
  });
}

/**
 * 저장
 */
async function save() {
  gridApi.value?.stopEditing();
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(ORDER_SEARCH_INPUT, useSearchConditionStore(), useSelectedDataStore());
  if (searchInputRequiredValidation) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi.value);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  const bodyData: any = {
    vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
    vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
    vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
    calInDt: useSearchConditionStore().getSearchInputValue().calInDt || "",
    vrBlNo: useSearchConditionStore().getSearchInputValue().vrBlNo || "",
    vrSrchOrderPhase: "20",
    vrInCustCd: useSelectedDataStore().getSelectedModalData()["receiving-address"]?.CODE || "",
    vrInCustNm: useSelectedDataStore().getSelectedModalData()["receiving-address"]?.NAME || "",
    vrInCustId: useSelectedDataStore().getSelectedModalData()["receiving-address"]?.ID || "",
    vrSrchWhCd: useSelectedDataStore().getSelectedModalData()["receiving-warehouse"]?.WH_CD || "",
    vrSrchWhNm: useSelectedDataStore().getSelectedModalData()["receiving-warehouse"]?.WH_NM || "",
    vrSrchWhId: useSelectedDataStore().getSelectedModalData()["receiving-warehouse"]?.WH_ID || "",
    vrInCustAddr: useSearchConditionStore().getSearchInputValue().vrInCustAddr || "",
    vrInCustEmpNm: useSearchConditionStore().getSearchInputValue().vrInCustEmpNm || "",
    vrInCustTel: useSearchConditionStore().getSearchInputValue().vrInCustTel || "",
    vrOrgOrdId: useSearchConditionStore().getSearchInputValue().vrOrgOrdId || "",
    vrCntrNoM: useSearchConditionStore().getSearchInputValue().vrCntrNoM || "",
    vrOrdId: vrOrdIdQueryString || "",
    vrApproveYn: useSearchConditionStore().getSearchInputValue().vrApproveYn || vrOrdIdQueryString ? "N" : "",
    vrWorkStat: "",
    dsMain_rowStatus: "INSERT",
    inDt: String(useSearchConditionStore().getSearchInputValue().inDt || ""),
    custPoid: String(useSearchConditionStore().getSearchInputValue().custPoid || ""),
    custPoseq: String(useSearchConditionStore().getSearchInputValue().custPoseq || ""),
    orgOrdId: String(useSearchConditionStore().getSearchInputValue().orgOrdId || ""),
    orgOrdSeq: String(useSearchConditionStore().getSearchInputValue().orgOrdSeq || ""),
    outWhId: String(useSearchConditionStore().getSearchInputValue().outWhId || ""),
    transCustId: String(useSearchConditionStore().getSearchInputValue().transCustId || ""),
    pdaFinishYn: String(useSearchConditionStore().getSearchInputValue().pdaFinishYn || ""),
    workStat: String(useSearchConditionStore().getSearchInputValue().workStat || ""),
    ordType: String(useSearchConditionStore().getSearchInputValue().ordType || ""),
    outReqDt: String(useSearchConditionStore().getSearchInputValue().outReqDt || ""),
    outDt: String(useSearchConditionStore().getSearchInputValue().outDt || ""),
    pdaStat: String(useSearchConditionStore().getSearchInputValue().pdaStat || ""),
    workSeq: String(useSearchConditionStore().getSearchInputValue().workSeq || ""),
    capaTot: String(useSearchConditionStore().getSearchInputValue().capaTot || vrOrdIdQueryString ? "0" : ""),
    kinOutYn: String(useSearchConditionStore().getSearchInputValue().kinOutYn || ""),
    carConfYn: String(useSearchConditionStore().getSearchInputValue().carConfYn || ""),
    tplOrdId: String(useSearchConditionStore().getSearchInputValue().tplOrdId || ""),
    payYn: String(useSearchConditionStore().getSearchInputValue().payYn || ""),
    D_selectIds: "0",
    I_selectIds: String(selectedRows.length),
  };

  if (vrOrdIdQueryString) {
    bodyData.inCustAddr = String(useSearchConditionStore().getSearchInputValue().inCustAddr || "");
    bodyData.inCustEmpNm = String(useSearchConditionStore().getSearchInputValue().inCustEmpNm || "");
    bodyData.inCustTel = String(useSearchConditionStore().getSearchInputValue().inCustTel || "");
  }

  for (let i = 0; selectedRows.length > i; i++) {
    if (!UtilService.isEmptyString(selectedRows[i].ST_GUBUN)) {
      bodyData["I_ST_GUBUN" + [i]] = "INSERT";
      bodyData["dsMain_rowStatus"] = "INSERT";
    } else {
      bodyData["I_ST_GUBUN" + [i]] = "UPDATE";
    }

    bodyData["I_ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
    bodyData["I_RITEM_ID" + [i]] = String(selectedRows[i].RITEM_ID || "");
    bodyData["I_CUST_LOT_NO" + [i]] = String(selectedRows[i].CUST_LOT_NO || "");
    bodyData["I_REAL_IN_QTY" + [i]] = String(selectedRows[i].REAL_IN_QTY || "0");
    bodyData["I_REAL_OUT_QTY" + [i]] = String(selectedRows[i].REAL_OUT_QTY || "");
    bodyData["I_MAKE_DT" + [i]] = String(selectedRows[i].MAKE_DT || "")?.replaceAll("-", "");
    bodyData["I_TIME_PERIOD_DAY" + [i]] = String(selectedRows[i].TIME_PERIOD_DAY || "");
    bodyData["I_LOC_YN" + [i]] = String(selectedRows[i].LOC_YN || "");
    bodyData["I_PDA_CD" + [i]] = String(selectedRows[i].PDA_CD || "");
    bodyData["I_WORK_YN" + [i]] = String(selectedRows[i].WORK_YN || "");
    bodyData["I_RJ_TYPE" + [i]] = String(selectedRows[i].RJ_TYPE || "");
    bodyData["I_REAL_PLT_QTY" + [i]] = String(selectedRows[i].REAL_PLT_QTY || "");
    bodyData["I_REAL_BOX_QTY" + [i]] = String(selectedRows[i].REAL_BOX_QTY || "");
    bodyData["I_CONF_YN" + [i]] = String(selectedRows[i].CONF_YN || "");
    bodyData["I_UNIT_AMT" + [i]] = String(Math.floor(selectedRows[i].UNIT_AMT) || "");

    bodyData["I_AMT" + [i]] = String(selectedRows[i].AMT || "");
    bodyData["I_EA_CAPA" + [i]] = String(selectedRows[i].EA_CAPA || "");
    bodyData["I_BOX_BARCODE" + [i]] = String(selectedRows[i].BOX_BARCODE || "");
    bodyData["I_IN_ORD_UOM_ID" + [i]] = String(selectedRows[i].IN_ORD_UOM_ID || selectedRows[i].UOM_ID || "");
    bodyData["I_LOC_CD" + [i]] = String(selectedRows[i].LOC_CD || "");
    bodyData["I_IN_ORD_QTY" + [i]] = "";

    bodyData["I_OUT_ORD_UOM_ID" + [i]] = String(selectedRows[i].OUT_ORD_UOM_ID || "");
    bodyData["I_OUT_ORD_QTY" + [i]] = String(selectedRows[i].OUT_ORD_QTY || "");
    bodyData["I_OUT_WORK_ORD_QTY" + [i]] = String(selectedRows[i].OUT_WORK_ORD_QTY || "");
    bodyData["I_REF_SUB_LOT_ID" + [i]] = String(selectedRows[i].REF_SUB_LOT_ID || "");
    bodyData["I_DSP_ID" + [i]] = String(selectedRows[i].DSP_ID || "");

    bodyData["I_CAR_ID" + [i]] = String(selectedRows[i].CAR_ID || "");
    bodyData["I_CNTR_ID" + [i]] = String(selectedRows[i].CNTR_ID || "");
    bodyData["I_CNTR_NO" + [i]] = String(selectedRows[i].CNTR_NO || "");
    bodyData["I_CNTR_TYPE" + [i]] = String(selectedRows[i].CNTR_TYPE || "");
    bodyData["I_BAD_QTY" + [i]] = String(selectedRows[i].BAD_QTY || "");

    bodyData["I_UOM_NM" + [i]] = String(selectedRows[i].UOM_NM || "");
    bodyData["I_UNIT_PRICE" + [i]] = String(selectedRows[i].UNIT_PRICE || "");
    bodyData["I_WH_NM" + [i]] = String(selectedRows[i].WH_NM || "");
    bodyData["I_ITEM_KOR_NM" + [i]] = String(selectedRows[i].ITEM_KOR_NM || "");
    bodyData["I_ITEM_ENG_NM" + [i]] = String(selectedRows[i].ITEM_ENG_NM || "");

    bodyData["I_REP_UOM_ID" + [i]] = String(selectedRows[i].REP_UOM_ID || "");
    bodyData["I_UOM_CD" + [i]] = String(selectedRows[i].UOM_CD || "");
    bodyData["I_UOM_ID" + [i]] = "";
    bodyData["I_REP_UOM_CD" + [i]] = String(selectedRows[i].REP_UOM_CD || "");
    bodyData["I_REP_UOM_NM" + [i]] = String(selectedRows[i].REP_UOM_NM || "");

    bodyData["I_ITEM_GRP_ID" + [i]] = String(selectedRows[i].ITEM_GRP_ID || "");
    bodyData["I_EXPIRY_DATE" + [i]] = String(selectedRows[i].EXPIRY_DATE || "");
    bodyData["I_IN_ORD_WEIGHT" + [i]] = String(selectedRows[i].IN_ORD_WEIGHT || "");

    // bodyData["I_UNIT_NO" + [i]] = String(selectedRows[i].UNIT_NO || "");
    bodyData["I_ORD_DESC" + [i]] = String(selectedRows[i].ORD_DESC || "");
    bodyData["I_VALID_DT" + [i]] = String(selectedRows[i].VALID_DT || "");
    bodyData["I_ETC2" + [i]] = String(selectedRows[i].ETC2 || "");

    bodyData["I_ITEM_BEST_DATE" + [i]] = String(selectedRows[i].ITEM_BEST_DATE || "");
    bodyData["I_ITEM_BEST_DATE_END" + [i]] = String(selectedRows[i].ITEM_BEST_DATE_END || "")?.replaceAll("-", "");
    bodyData["I_ITEM_USE_DATE_END" + [i]] = String(selectedRows[i].ITEM_BEST_DATE_END || "")?.replaceAll("-", "");
    bodyData["I_RTI_NM" + [i]] = String(selectedRows[i].RTI_NM || "");

    bodyData["I_IN_WORK_UOM_ID" + [i]] = String(selectedRows[i].IN_WORK_UOM_ID || selectedRows[i].U_UOM_ID || "");
    bodyData["I_OUT_WORK_UOM_ID" + [i]] = String(selectedRows[i].OUT_WORK_UOM_ID || "");
    bodyData["I_IN_WORK_ORD_QTY" + [i]] = String(selectedRows[i].IN_WORK_ORD_QTY || "");
  }
  const res = await ApiService.postApi("/rest/WMSOP999/saveInOrder.action", bodyData, null);
  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      setTimeout(() => {
        UtilService.setOpenerPostMessageForGetGridData();
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

/**
 * 삭제
 */
async function deleteRowData() {
  gridApi.value?.stopEditing();
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  // 운영서버 참고 유효성검사
  for (let i = 0; selectedRows.length > i; i++) {
    // 반영되지 않은 신규 행 삭제
    if (selectedRows[i].ST_GUBUN === "INSERT") {
      gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
    }

    if (Object.hasOwn(selectedRows, "WORK_STAT")) {
      if (String(selectedRows[i].WORK_STAT) !== "100") {
        return useToast().warning(t("common-toast.unavailable-delete-receiving-order", { line: i + 1 }));
      } else {
        isDataDelete = true;
      }
    }
  }

  // 데이터 삭제처리가 필요하지 않은 경우
  if (!isDataDelete) return;
  const bodyData: any = {};
  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["D_ST_GUBUN" + [i]] = "DELETE";
    bodyData["D_ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["D_ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
  }

  const res = await ApiService.postApi("/rest/WMSOP999/saveInOrder.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      setTimeout(() => {
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  localStorage.removeItem("windowModal");
  window.close();
}

// 브라우저를 직접 닫았을때
window.addEventListener("beforeunload", () => {
  localStorage.removeItem("windowModal");
});

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  apiParams["vrOrdId"] = vrOrdIdQueryString;
  return await ApiService.postApi("/WMSOP999/listInOrderItem_rn.action", apiParams, bodyData.value, false);
}

async function onCellValueChanged(event: CellValueChangedEvent) {
  const newValue = event.newValue;
  const coldId = event.column.getColId();

  switch (coldId) {
    case "ITEM_CODE": {
      const bodyData: any = {
        srchKey: "ITEM",
        vrSrchItemCd: newValue,
        vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD,
        vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID,
      };

      const res = await ApiService.postApi("/selectMngCode_rn.action", {}, bodyData);
      if (res.status) {
        const itemList: Array<any> = res.result.ITEM;

        /** 팝업 호출 */
        if (itemList.length > 1) {
          useSearchConditionStore().changeSearchInputValue("vrSrchItemCd", newValue);
          useCallModalIdStore().setCellRendererCallModalId({ key: "kit-product", rowIndex: event.node.rowIndex });
        } else if (itemList.length === 1) {
          /** 그리드 반영 */
          const updateData = { ...event.node.data };

          updateData["ITEM_CODE"] = res.result.ITEM[0].CODE;
          updateData["RITEM_ID"] = res.result.ITEM[0].ID;
          updateData["RITEM_NM"] = res.result.ITEM[0].NAME;
          updateData["IN_ORD_UOM_CD"] = res.result.ITEM[0].UOM_CD;
          updateData["IN_ORD_UOM_ID"] = res.result.ITEM[0].UOM_ID;
          updateData["IN_ORD_UOM_NM"] = res.result.ITEM[0].UOM_NM;
          updateData["IN_WORK_UOM_ID"] = res.result.ITEM[0].UOM_ID;
          updateData["IN_WORK_UOM_NM"] = res.result.ITEM[0].UOM_NM;
          updateData["IN_WORK_ORD_UOM_CD"] = res.result.ITEM[0].UOM_CD;

          event.node.updateData(updateData);
        } else {
          /** 실패 */
          useToast().warning(t("common-toast.no-data-found"));
        }
      }

      break;
    }
  }
}

//#endregion
</script>

<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

.buttons {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 14px;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 20px;

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: 100%;
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
</style>
