<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS093/page.vue
 *  Description:    상품별자동출고주문관리 화면
 *  Authors:        H. N. KO
 *  Update History:
 *                  2024.06. : Created by H.N.KO
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header> </template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :onApiParamsChanged="onApiParamsChanged"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :context="GRID_CELL_SELECT_BOX"
      :getServerData="getServerData"
      :readOnlyInputs="SEARCH_META.readOnlyInputs">
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS093" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { default as CommonForm, default as commonForm } from "@/page/common-page/common-form.vue";
import { default as CommonSearch, default as commonSearch } from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service.ts";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { GridApi, GridReadyEvent, IServerSideDatasource } from "ag-grid-community";
import { onMounted, onUnmounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";

import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { GRID_CELL_SELECT_BOX } from "./input.grid";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";
let searchGridData: Function;
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const selectedItems = reactive({ value: [] as any });

const SearchConditionStore = useSearchConditionStore();
const gridApi = ref<GridApi | undefined>();
const SelectedDataStore = useSelectedDataStore();
const eventBus = useEventBusStore();
const { t } = useI18n();
const OptionDataStore = useOptionDataStore();

// Variable Definitions
const myPageId = ref<string>();
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  "order-insert": fn_autoOrderInsert,
  start: fn_save,
  stop: fn_stop,
  end: fn_end,
};
// Framework Function Definitions
onMounted(async () => {
  myPageId.value = "WMSMS093";
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  searchGridData = commonFormRef.value!.searchGridData;
  // const res = await ApiService.postApi(`/rest/WINUS/WMSMS093.action`, {}, UtilService.getOptionApiData(`WMSMS093`));
  // if (res.result.selectBoxInfos) {
  //   OptionDataStore.setOptionData(res.result.selectBoxInfos);
  // } else {
  //   OptionDataStore.setOptionData(res.result);
  // }
  // 현재시간 표시
  displayCurrentTime();
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

function onApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "기준관리 &gt; 상품별자동출고주문관리";
  return apiParams;
}

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSMS093/list.action", null, bodyData.value, false);
}
function displayCurrentTime() {
  const now = new Date();
  const year = now.getFullYear();
  const month = now.getMonth() + 1 < 10 ? `0${now.getMonth() + 1}` : now.getMonth() + 1; // 월은 0부터 시작하므로 1을 더해줍니다.
  const day = now.getDate() < 10 ? `0${now.getDate()}` : now.getDate();
  const hours = now.getHours() < 10 ? `0${now.getHours()}` : now.getHours();
  const minutes = now.getMinutes() < 10 ? `0${now.getMinutes()}` : now.getMinutes();
  const seconds = now.getSeconds() < 10 ? `0${now.getSeconds()}` : now.getSeconds();

  const currentTime = `[현재시간] ${year}/${month}/${day} ${hours}:${minutes}:${seconds}`;
  const searchInputElements = document.getElementsByClassName("search entire input-item-is-show");

  searchInputElements[0].innerHTML = currentTime + "<div style='color:red; font-size:12px;'>" + t("input-title.reference-message") + "</div>";
  // 1초마다 시간 업데이트
  setInterval(displayCurrentTime, 1000);
}

//유효성 검사
function fn_listValidation(arr1: any, arr2: any) {
  for (let item of arr1) {
    for (let key of arr2) {
      if (!item[key]) {
        return false;
      }
    }
  }
  return true;
}

// 주문 입력
async function fn_autoOrderInsert() {
  selectedItems.value = gridApi.value?.getSelectedRows();
  gridApi.value?.stopEditing();

  //선택된 항목이 없으면 > 오류메시지
  if (UtilService.isEmptyArray(selectedItems.value)) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  let gridData = selectedItems.value;
  let requiredColumns = ["WORK_STAT", "INSERT_ORD_TIME", "INSERT_ORD_QTY", "INSERT_ORD_CNT"];

  //선택된 데이터 유효성 검사
  if (!fn_listValidation(gridData, requiredColumns)) {
    return useToast().warning(t("common-toast.empty-values-are-not-allowed"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  //저장처리
  try {
    //백엔드에 보낼 body 셋팅을 위한 객체 선언
    const bodyData: any = {};
    // let queryParam = "";
    // "_fullpath=&selectIds=1&ST_GUBUN0=INSERT&LC_ID0=0000003740&RITEM_ID0=0000928995&CUST_LOT_NO0=&INSERT_ORD_QTY0=2"
    selectedItems.value.forEach((selectedItem: any, i: number) => {
      bodyData["ST_GUBUN" + i] = "INSERT";
      bodyData["_fullpath"] = "";
      bodyData["selectIds"] = selectedItem.RNUM;
      bodyData["LC_ID" + i] = selectedItem.SRC_LC_ID;
      bodyData["RITEM_ID" + i] = selectedItem.SRC_RITEM_ID;
      bodyData["CUST_LOT_NO" + i] = "";
      bodyData["INSERT_ORD_QTY" + i] = selectedItem.INSERT_ORD_QTY;
    });
    console.log(bodyData);
    const result = await ApiService.postApi("/rest/WMSMS093/autoOrderInsert.action", bodyData, bodyData);
    console.log(result);
    if (result.status) {
      if (result.result.errCnt === 0) {
        useToast().success(t("common-toast.saved"));
        searchGridData();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      } else {
        useToast().error(t(result.result.MSG));
      }
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

//bodyData 셋팅
function setBodyData(selectedItems: any, sort: string) {
  let bodyData: any = {};
  selectedItems.value.forEach((selectedItem: any, i: number) => {
    bodyData["selectIds"] = 1;
    bodyData["_fullpath"] = "";
    bodyData["INSERT_ORD_TIME" + i] = selectedItem.INSERT_ORD_TIME;
    bodyData["INSERT_ORD_QTY" + i] = selectedItem.INSERT_ORD_QTY;
    bodyData["INSERT_ORD_CNT" + i] = selectedItem.INSERT_ORD_CNT;
    bodyData["START_TIME" + i] = selectedItem.START_TIME;
    bodyData["STOP_TIME" + i] = selectedItem.STOP_TIME;
    bodyData["END_TIME" + i] = selectedItem.END_TIME;
    bodyData["BEFORE_END_TIME" + i] = selectedItem.BEFORE_END_TIME;
    bodyData["SRC_LC_ID" + i] = selectedItem.SRC_LC_ID;
    bodyData["SRC_CUST_ID" + i] = selectedItem.SRC_CUST_ID;
    bodyData["SRC_RITEM_ID" + i] = selectedItem.SRC_RITEM_ID;
    bodyData["TAG_LC_ID" + i] = selectedItem.TAG_LC_ID;
    bodyData["TAG_CUST_ID" + i] = selectedItem.TAG_CUST_ID;
    bodyData["TAG_RITEM_ID" + i] = selectedItem.TAG_RITEM_ID;
    bodyData["ST_GUBUN" + i] = "INSERT";
    bodyData["GROUPING_ZONE1"] = String(selectedItem.GROUPING_ZONE1 || "");
    bodyData["GROUPING_ZONE2"] = String(selectedItem.GROUPING_ZONE1 || "");
    bodyData["PROCESS_GB" + i] = sort;
  });
  return bodyData;
}

//시작, 중단, 종료(공통)
async function fn_common(sort: any) {
  selectedItems.value = gridApi.value?.getSelectedRows();
  //선택된 항목이 없으면 > 오류메시지
  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }
  //저장 하시겠습니까?
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    //bodyData 셋팅
    let bodyData: any = setBodyData(selectedItems, sort);
    const res = await ApiService.postApi("/rest/WMSMS093/save.action", bodyData, bodyData);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(res.result.MSG);
      } else {
        useToast().success(t("common-toast.saved"));
        gridApi.value?.deselectAll();
        // gridApi.value?.refreshServerSide(res);
      }
      searchGridData();
    }
  } catch (err) {
    return console.log(err);
  }
}

//시작,중단,종료
async function fn_save() {
  fn_common("START");
}

async function fn_stop() {
  fn_common("STOP");
}
async function fn_end() {
  fn_common("END");
}

// User Function Definitions
const dataSource: IServerSideDatasource = {
  getRows: async () => {
    searchGridData();
  },
};

// 그리드 데이터 갖고오기
// 저장, 삭제후 업데이트된 리스트를 불러오기위함
async function getGridRowData() {
  gridApi.value?.setServerSideDatasource(dataSource);
}

//삭제 body부분 key값만 등록, 실제 url과 테스트 필요
async function deleteRowData() {
  const selectedRows = gridApi.value?.getSelectedRows();
  if (selectedRows && selectedRows?.length > 0) {
    let data: any = {
      _fullpath: "기준관리 &gt; 상품군정보관리",
      vrSrchItemGrpNm: SearchConditionStore.getSearchInputValue().vrSrchItemGrpNm,
      selectIds: String(selectedRows.length),
      I_selectIds: "0",
      D_selectIds: String(selectedRows.length),
    };
    for (let i = 0; selectedRows.length > i; i++) {
      data["ITEM_GRP_ID" + [i]] = selectedRows[i].ITEM_GRP_ID;
      data["ST_GUBUN" + [i]] = "DELETE";
    }

    await ApiService.postApi("/WMSMS094/save_rn.action", {}, data);
    await getGridRowData();
  }
}

// User Function Definitions
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
