<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS096/form.vue
 *  Description:    기준관리/상품별 원주자재(부품/용기관리) 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------>
<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <control-container>
    <template v-for="btnData in CONTROL_BTN" :key="btnData.title">
      <control-button v-if="(btnData.title === 'save' || btnData.title === 'del') && selectedItems.value.length > 0" :data="btnData" :saveRowData="saveRowData" :deleteRowData="deleteRowData" />
      <control-button v-if="btnData.title !== 'save' && btnData.title !== 'del'" :data="btnData" :excelExport="excelExport" />
    </template>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <my-grid
      :onGridReady="onGridReady"
      :onSelectionChanged="onSelectionChanged"
      @onPageSizeChanged="
        (ps) => {
          pagingSize = ps;
        }
      " />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, watch, onMounted, reactive, onActivated, onDeactivated } from "vue";

import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { ApiService } from "@/services/api-service";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { UtilService } from "@/services/util-service";
import { useSelectedDataStore, useFormHeightStore, useSearchConditionStore, useConfirmStore } from "@/store";

import MyGrid from "./grid.vue";
import { ControlContainer } from "@/components/layout";
import { ControlButton } from "@/components/button";

import { SEARCH_INPUT, CONTROL_BTN } from "./input";
import { FORM_COLUMN_DEFS } from "./column-defs";

// Variable Definition
const { t } = useI18n();
const FormHeightStore = useFormHeightStore();
const SearchConditionStore = useSearchConditionStore();
const pagingOptions = UtilService.getGridPagingOptions("WMSST050");
const pagingSize = ref<number>(pagingOptions![0]);
const bodyData = reactive({ value: {} as any });
const formContainerRef = ref(null as null | any);
const inactive = ref<boolean>(false);
const selectedItems: any = reactive({ value: [] } as { value: any });
let gridApi: GridApi | null = null;

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
});

watch(FormHeightStore._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  }
});

watch(SearchConditionStore._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
/***************************************************** 페이지 기본 *****************************************************/
const onGridReady = (params: any) => {
  gridApi = params.api;
};

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

async function searchGridData() {
  if (SearchConditionStore.getAvailableSearchBySearchCondition()) {
    gridApi?.deselectAll();

    const searchConditions = SEARCH_INPUT;
    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), SearchConditionStore);

    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSST050/list_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          params.successCallback(gridData.result.list, UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows));
          if (gridData.result.list.length === 0) {
            useToast().warning(t("common-toast.no-data-list"));
          }
        } else {
          params.successCallback([], 0);
        }
        SearchConditionStore.setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridApi?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(selectedItems.value);
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(selectedItems.value);
  }
}

/***************************************************** 페이지별 특정 기능 정의 *****************************************************/
// 저장
function saveRowData() {
  crudAction("SAVE");
}
// 삭제
function deleteRowData() {
  crudAction("DELETE");
}

// "저장", "삭제" 버튼 클릭시 호출되는 콜백 함수
async function crudAction(type: "DELETE" | "SAVE") {
  selectedItems.value = gridApi?.getSelectedRows();

  if (type === "SAVE") {
    // edit 필수 입력값 확인
    const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi);

    if (!saveEditGridRequiredValidation.status) {
      return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
    }
  }

  if (type === "SAVE") {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
  } else {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
  }

  try {
    const bodyData: any = {
      ...UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore()),
      ...{ selectIds: String(selectedItems.value.length) },
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      bodyData["ST_GUBUN" + [i]] = "UPDATE";
      bodyData["GOODS_RITEM_ID" + [i]] = String(selectedItems.value[i].GOODS_RITEM_ID || "");
      bodyData["GOODS_QTY" + [i]] = String(selectedItems.value[i].GOODS_QTY || "");
      bodyData["POOL_QTY" + [i]] = String(selectedItems.value[i].POOL_QTY || "");
      bodyData["COVER_QTY" + [i]] = String(selectedItems.value[i].COVER_QTY || "");
      bodyData["POOL_RITEM_ID" + [i]] = String(selectedItems.value[i].POOL_RITEM_ID || "");
      bodyData["ORD_TYPE" + [i]] = String(selectedItems.value[i].ORD_TYPE || "");
      bodyData["TRANS_CUST_ID" + [i]] = String(selectedItems.value[i].TRANS_CUST_ID || "");
      bodyData["VIEW_ORG_POOL_RITEM_ID" + [i]] = String(selectedItems.value[i].VIEW_ORG_POOL_RITEM_ID || "");
      bodyData["GUBUN" + [i]] = String(selectedItems.value[i].GUBUN || "");
      bodyData["LOT_PREFIX" + [i]] = String(selectedItems.value[i].LOT_PREFIX || "");
    }

    // url 설정
    let url: string;

    if (type === "SAVE") {
      url = "/WMSMS096/save_rn.action";
    } else if (type === "DELETE") {
      url = "/WMSMS096/delete_rn.action";
    }

    const res = await ApiService.postApi(url!, {}, bodyData);

    if (res.status) {
      if (res.result.errCnt === 0) {
        useToast().success(res.result.MSG);
        gridApi?.deselectAll();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      } else {
        useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

//엑셀 클릭시, excel export
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_COLUMN_DEFS[i].field);
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.logistics-container-management-product"),
    columnKeys,
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.grid-statistics {
  &-container {
    position: absolute;
    top: -14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
  }

  &-title {
    font-weight: bold;
    font-size: 13px;
    color: #727272;
    margin-right: 17px;
  }
  &-value {
    font-weight: bold;
    font-size: 13px;
    color: #222222;
  }
}

.form-container {
  width: 100%;
  position: relative;
}
</style>
