<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS096/grid.vue
 *  Description:    기준관리/상품별 원주자재(부품/용기관리) 그리드 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------>
<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-header">{{ t("grid-title.list-of-subsidiary-materials-parts-containers-Product") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" :context="GRID_SELECT_BOX_INFO" @cellClicked="cellClicked" :allowContextMenuWithControlKey="true" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onBeforeMount } from "vue";

import { useI18n } from "vue-i18n";
import { AgGridVue } from "ag-grid-vue3";
import { GridOptions, CellClickedEvent } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";

import { UtilService } from "@/services/util-service";
import { useSelectedDataStore } from "@/store";

import { GRID_SELECT_BOX_INFO } from "./input";
import { FORM_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const { onGridReady, onSelectionChanged } = defineProps<{
  onGridReady: any;
  onSelectionChanged: any;
}>();

const SelectedDataStore = useSelectedDataStore();
const pagingOptions = UtilService.getGridPagingOptions("WMSST050");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);

const emits = defineEmits(["onPageSizeChanged"]);
const { t } = useI18n();

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

// User Function Definitions
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: FORM_COLUMN_DEFS,
  onGridReady: onGridReady,
  suppressRowClickSelection: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  groupSelectsChildren: true,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  onPaginationChanged: onPaginationChanged,
  onSelectionChanged: onSelectionChanged,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data);
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    width: 100%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}

.page-size {
  position: absolute;
  right: 65px;
  bottom: -3px;
}
</style>
