<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS096/page.vue
 *  Description:    상품별 원부자재(부품/용기)관리 화면
 *  Authors:        H. N. KO
 *  Update History:
 *                  2024.06. : Created by H.N.KO
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header> </template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :onSelectionChanged="onSelectionChanged"
      :onApiParamsChanged="onApiParamsChanged"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :onBodyScrollEnd="onBodyScrollEnd"
      :readOnlyInputs="SEARCH_META.readOnlyInputs">
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS096" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { default as CommonForm, default as commonForm } from "@/page/common-page/common-form.vue";
import { default as CommonSearch, default as commonSearch } from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";

import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

let searchGridData: Function;
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

const SearchConditionStore = useSearchConditionStore();
let gridApi: GridApi | null = null;
const eventBus = useEventBusStore();
const { t } = useI18n();
const selectedItems: any = reactive({ value: [] } as { value: any });

// Variable Definitions
const myPageId = ref<string>();
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  del: deleteRowData,
  excel: excelExport,
};

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
});

// Framework Function Definitions
onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi = params.api;
  });

  const res = await ApiService.postApi("/rest/WINUS/WMSMS096.action", {}, UtilService.getOptionApiData("WMSMS096"));
  //표 안에 select-option 셋팅

  res.result.selectBoxInfos.STAT = [
    {
      code: "Y",
      codeNm: "사용",
      useYn: "Y",
      sortSeq: 1,
    },
    {
      code: "N",
      codeNm: "미사용",
      useYn: "Y",
      sortSeq: 2,
    },
  ];

  const res1 = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, UtilService.getOptionApiData("WMSST051_rn"));
  if (res.status && res1.status) {
    if (res.result.selectBoxInfos["ITEM_TYPE_NAME"]) {
      res.result.selectBoxInfos["ITEM_TYPE_NAME"].forEach((data) => {
        data.code = data.POOL_RITEM_ID;
        data.codeNm = data.POOL_KOR_NM1;
      });
    }
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
    useOptionDataStore().setOptionData(res1.result.selectBoxInfos);
  }

  searchGridData();
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi = params.api;
  });
});

async function getServerData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSMS096/list.action", apiParams, bodyData.value, false);
  return res;
}

function onSelectionChanged(e: any) {
  selectedItems.value = gridApi?.getSelectedRows();
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridApi?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(selectedItems.value);
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(selectedItems.value);
  }
}

function onBodyScrollEnd() {
  useSelectedDataStore().changeSelectedDataList(GRID_OPTIONS_META.api?.getSelectedRows());
}
/* 저장 */
function saveRowData() {
  crudAction("SAVE");
}

function fn_listValidation(arr1: any, arr2: any) {
  for (let item of arr1) {
    for (let key of arr2) {
      if (!item[key]) {
        return false;
      }
    }
  }

  return true;
}

async function crudAction(type: "DELETE" | "SAVE") {
  selectedItems.value = gridApi?.getSelectedRows();
  gridApi?.stopEditing();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  let confirmMessage = "confirm-message.save";

  if (type === "DELETE") {
    confirmMessage = "confirm-message.delete";
  }

  if (type === "SAVE") {
    if (!fn_listValidation(selectedItems.value, ["GOODS_QTY", "POOL_QTY", "COVER_QTY"])) {
      return useToast().warning(t("common-toast.empty-values-are-not-allowed"));
    }
  }
  await useConfirmStore().confirm(t(confirmMessage), t("button-name.confirm"));

  try {
    const bodyData: any = {
      ...UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore()),
      ...{ selectIds: String(selectedItems.value.length) },
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      bodyData["ST_GUBUN" + [i]] = type;
      bodyData["GOODS_RITEM_ID" + [i]] = String(selectedItems.value[i].GOODS_RITEM_ID || "");
      bodyData["GOODS_QTY" + [i]] = String(selectedItems.value[i].GOODS_QTY || 0);
      bodyData["POOL_QTY" + [i]] = String(selectedItems.value[i].POOL_QTY || 0);
      bodyData["STAT" + [i]] = String(selectedItems.value[i].STAT || "");
      bodyData["COVER_QTY" + [i]] = String(selectedItems.value[i].COVER_QTY || 0);
      bodyData["POOL_RITEM_ID" + [i]] = String(selectedItems.value[i].ITEM_ID || "");
      bodyData["ORD_TYPE" + [i]] = String(selectedItems.value[i].GUBUN || "");
      bodyData["TRANS_CUST_ID" + [i]] = String(selectedItems.value[i].TRANS_CUST_ID || "");
      bodyData["VIEW_ORG_POOL_RITEM_ID" + [i]] = String(selectedItems.value[i].VIEW_ORG_POOL_RITEM_ID || "");
      bodyData["GUBUN" + [i]] = String(selectedItems.value[i].GUBUN || "");
      bodyData["LOT_PREFIX" + [i]] = String(selectedItems.value[i].LOT_PREFIX || "");
    }

    // url 설정
    let url: string;

    if (type === "SAVE") {
      url = "/rest/WMSMS096/save.action";
    } else if (type === "DELETE") {
      url = "/rest/WMSMS096/delete.action";
    }

    const res = await ApiService.postApi(url!, bodyData, bodyData);

    if (res.status) {
      if (res.result.errCnt === 0) {
        useToast().success(res.result.MSG);
        gridApi?.deselectAll();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      } else {
        useToast().error(res.result.MSG);
      }
    }
    searchGridData();
  } catch (err) {
    return console.log(err);
  }
}
/* 엑셀 */
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_COLUMN_DEFS[i].field);
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.logistics-container-management-product"),
    columnKeys,
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}

/* 삭제 */
function deleteRowData() {
  console.log("aaaaaaaa");
  crudAction("DELETE");
}

function onApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "기준관리 &gt; 상품별 원부자재(부품/용기)관리";
  return apiParams;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
