<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS096/search.vue
 *  Description:    기준관리/상품별 원주자재(부품/용기관리) 검색 영역
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------>
<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <search-container @setIsMore="setIsMore" :isMore="isMore" :data="SEARCH_INPUT" :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)" :use-setting="false">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in SEARCH_INPUT" :key="i">
          <search-container-input
            :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
            :data="props"
            :columnDefs="props.modalTypes ? MODAL_COLUMN_DEFS[selectedValue.value] : MODAL_COLUMN_DEFS[props.title]"
            :modalData="props.modalTypes ? SEARCH_MODAL_INFO[selectedValue.value] : SEARCH_MODAL_INFO[props.title]"
            :pageInfo="INFO"
            :modalType="selectedValue"
            @selectedValue="
              (e: any) => {
                selectedValue.value = UtilService.setModalTypeBySelectedValue(e);
              }
            " />
        </template>
      </template>
    </search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onMounted, reactive } from "vue";

import { UtilService } from "@/services/util-service";
import { useFormHeightStore } from "@/store";

import { SearchContainer } from "@/components/layout";
import { SearchContainerInput } from "@/components/input";

import { INFO, SEARCH_INPUT, SEARCH_MODAL_INFO } from "./input";
import { MODAL_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const FormHeightStore = useFormHeightStore();
const searchComponentRef = ref(null as null | HTMLDivElement);
const selectedValue = reactive({ value: {} as any });
let isMore = ref(false);
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT) as number;

// Framework Function Definitions
onMounted(() => {
  if (searchComponentRef.value) {
    FormHeightStore.setSearchCompHeight(Number(searchComponentRef.value.clientHeight));
  }
});

// User Function Definitions
function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    FormHeightStore.setSearchCompHeight(searchComponentRef.value!.clientHeight);
  }, 400);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-area {
  padding-top: 26px;
}
</style>
@/store/search-condition-data
