<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS092_1/form.vue
 *  Description:    기준정보/임가공,세트상품정보관리 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <ul class="form-container" ref="formContainerRef">
    <li class="top">
      <control-container v-for="(btnData, i) in controlBtn1.value" :key="i">
        <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" :barcodeOutput="fn_qrPrint" />
      </control-container>
      <my-grid1 :onGridReady="onParentGridReady" :onSelectionChanged="onSelectionChanged" :INFO="INFO" :changeSelectedRowItem="changeSelectedRowItem" :selectedRowItem="selectedRowItem" />
    </li>
    <li class="bottom">
      <control-container>
        <div v-for="btnData in controlBtn2.value" :key="btnData.title">
          <control-button
            v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && Object.keys(childrenItems.value).length > 0"
            :data="btnData"
            :saveRowData="saveRowData"
            :deleteRowData="deleteRowData" />
          <control-button
            v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')"
            :data="btnData"
            :addRowData="addRowData"
            :excelExport="excelExport"
            :clickManual="clickManual"
            :excelImport="excelImport" />
        </div>
      </control-container>
      <my-grid2
        :onGridReady="onChildrenGridReady"
        :parentProductInfo="selectedRowItem.value"
        :INFO="INFO"
        @onPageSizeChanged="
          (ps) => {
            pagingSize = ps;
          }
        "
        @selectedItemsEv="
          (e: any) => {
            childrenItems.value = e;
          }
        " />
    </li>
  </ul>
  <div id="dataTable"></div>
  <div :id="'selectedItem-' + i" v-for="(selectedItem, i) in selectedItems.value" :key="i">
    <q-r-code-vue3 v-if="qrCodeDisplay" :value="selectedItem.qrCodeItemCode" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService, REST_SERVICE_PRODUCTION_URL } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useConfirmStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore, userStore } from "@/store";
import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import QRCodeVue3 from "qrcode-vue3";
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { L2_FORM_COLUMN_DEFS } from "./column-defs";
import MyGrid1 from "./grid1.vue";
import MyGrid2 from "./grid2.vue";
import { CONTROL_BTN1, CONTROL_BTN2, INFO, SEARCH_INPUT } from "./input";

// Variable Definitions
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const tempCount = ref<number>(0);
const pagingOptions = UtilService.getGridPagingOptions("WMSMS092_1");
const pagingSize = ref<number>(pagingOptions![0]);
const formContainerRef = ref(null as null | any);
const childrenItems = reactive({ value: [] as any });
const selectedRowItem = reactive({ value: {} } as { value: any });
const inactive = ref<boolean>(false);
let childrenGridData = reactive({ value: {} as any });
let parentGridApi: GridApi | null = null;
let childrenGridApi: GridApi | null = null;
const selectedItems = reactive({ value: [] as any });
const qrCodeDisplay = ref<boolean>(false);
const searchValue = ref<boolean>(false);
const controlBtn1 = reactive({ value: CONTROL_BTN1 as any });
const controlBtn2 = reactive({ value: CONTROL_BTN2 as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  window.addEventListener("resize", () => {
    // resizeGridColumns();
  });
  searchValue.value = true;
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSMS", "WMSMS092_1", menusStore().getMenus(), controlBtn1);
      page.value = UtilService.getAuthOnButton("WMSMS", "WMSMS092_1", menusStore().getMenus(), controlBtn2);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    if ((UtilService.getAuthOnButton("WMSMS", "WMSMS092_1", menusStore().getMenus(), null).SER_AUTH || "Y") === "Y") {
      searchParentGridData();
    }
  }
  searchValue.value = false;
});

watch(selectedRowItem, () => {
  if (!inactive.value) {
    if (!UtilService.isEmptyObject(selectedRowItem.value)) {
      getChildrenDatas();
    }
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onParentGridReady = (params: any) => {
  parentGridApi = params.api;
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};
const onChildrenGridReady = (params: any) => {
  childrenGridApi = params.api;
};

//전체 검색 - 세트상품(부모) 조회
function searchParentGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    selectedRowItem.value = {};
    let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "기준관리 &gt; 임가공상품구성정보관리";
    apiParams.GRID_ID = "";
    apiParams.GRID_SUB_ID = "";
    apiParams.vrSetRitemCd = "";
    if (searchValue.value) {
      apiParams.USE_YN_E1 = "Y";
    } else {
      if (!apiParams.USE_YN_E1) {
        apiParams.USE_YN_E1 = "";
      } else {
        apiParams.USE_YN_E1 = useSearchConditionStore().getSearchInputValue()["USE_YN_E1"];
      }
    }
    parentGridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", parentGridApi, null, params);
          childrenGridApi?.setServerSideDatasource({
            getRows: async (params: IServerSideGetRowsParams) => {
              UtilService.setGridData("server-side", childrenGridApi, null, params);
            },
          });
          return;
        }
        await getParentData(params, apiParams);
      },
    });
  }
  useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  parentGridApi?.deselectAll();
  childrenGridApi?.deselectAll();
}

async function getParentData(params: IServerSideGetRowsParams, apiParams: any) {
  setPagingBodyData(params);
  const res = await ApiService.postApi("/WMSMS092/list_rn.action", apiParams, bodyData.value, false);
  if (res.status) {
    if (res.result.list.length > 0) {
      UtilService.setGridData("server-side", parentGridApi, { gridDataArray: res.result.list, totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) }, params);
    } else {
      UtilService.setGridData("server-side", parentGridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
    }
  } else {
    UtilService.setGridData("server-side", parentGridApi, null, params);
  }
  useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  childrenGridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      UtilService.setGridData("server-side", childrenGridApi, null, params);
    },
  });
}

// grid에 paging option 적용
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 신규 빈 행 추가
function addRowData() {
  if (Object.keys(selectedRowItem.value).length <= 0) {
    return useToast().warning(t("grid-warning.select-parent-product"));
  }

  const tempId = `temp${tempCount.value}`;
  let columndefs = {} as any;
  L2_FORM_COLUMN_DEFS.forEach((columnDef: any) => {
    if (columnDef.field) {
      columndefs[columnDef.field] = "";
    }
  });
  columndefs[INFO.pk2!] = tempId;
  const newRowData = [columndefs];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(childrenGridApi?.paginationGetCurrentPage()) + 1) * Number(childrenGridApi?.paginationGetPageSize()) - Number(childrenGridApi?.paginationGetPageSize());
  childrenGridApi?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });
  tempCount.value++;
  childrenGridApi?.getRowNode(String(columndefs[INFO.pk2!]))?.setSelected(true);
  useSelectedDataStore().selectedHandler(childrenGridApi?.getRowNode(String(columndefs[INFO.pk2!]))?.data);
  childrenGridApi?.refreshCells({ columns: ["NO"], suppressFlash: true });
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (useSelectedDataStore().getSelectedDataList().length !== parentGridApi?.getSelectedRows().length) {
      selectedItems.value = parentGridApi?.getSelectedRows();
    }
  } else {
    selectedItems.value = parentGridApi?.getSelectedRows();
    changeSelectedRowItem(e.data);
  }
}

function changeSelectedRowItem(data: any) {
  selectedRowItem.value = data;
}

function getChildrenDatas() {
  childrenGridApi?.sizeColumnsToFit();
  childrenGridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const paramData = {} as { vrSetRitemId: string };
      if (selectedRowItem.value) {
        paramData.vrSetRitemId = selectedRowItem.value["RITEM_ID"];
      }
      const gridData = await ApiService.postApi("/WMSMS092/listSub_rn.action", paramData, bodyData.value, false);
      if (gridData.status) {
        if (gridData.result.list.length > 0) {
          childrenGridData.value = gridData.result.list;
          UtilService.setGridData("server-side", childrenGridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", childrenGridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
        }
      } else {
        UtilService.setGridData("server-side", childrenGridApi, null);
      }
    },
  });
  childrenGridApi?.deselectAll();
}

//엑셀 export
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; L2_FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(L2_FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(L2_FORM_COLUMN_DEFS[i].field);
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.kit-product-component-information"),
    columnKeys,
  };

  childrenGridApi?.exportDataAsExcel(excelExportParams);
}

// 엑셀입력 클릭시, excel import
function excelImport() {
  const data = {
    modalTitle: t("modal-title.kit-product-component-information-enter-excel"),
    saveUrl: "/WMSMS092/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS092&file_name=execlTemp_setOfGoods_02.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

// 메뉴얼 클릭
async function clickManual() {
  location.href = REST_SERVICE_PRODUCTION_URL + "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS092&file_name=WINUS_WMSMS092_MANUAL_KOR.pdf";
}

//삭제
async function deleteRowData() {
  if (!childrenItems.value || childrenItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  let body = UtilService.getBodyDataByGridAndInfo(INFO.pk2 || "", null, L2_FORM_COLUMN_DEFS, childrenItems.value, false, "delete");
  let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  body = { ...body, ...apiParams };

  body.GRID_ID = selectedRowItem.value.RNUM ? String(selectedRowItem.value["RNUM"]) : "";
  body.vrSetRitemId = selectedRowItem.value.RITEM_ID;
  body.vrSetRitemCd = selectedRowItem.value.ITEM_CODE;
  body.GRID_SUB_ID = "";
  body.LC_ID = userStore().getUserLocation().LC_ID;
  body["I_selectIds"] = 0 + "";
  body["D_selectIds"] = body.selectIds;

  childrenItems.value.forEach((selectedItem: any, i: number) => {
    body["SET_RITEM_ID" + i] = selectedRowItem.value.RITEM_ID;
    body["PART_RITEM_ID" + i] = selectedItem.data["PART_RITEM_ID"];
    body["SET_SEQ" + i] = selectedItem.data["SET_SEQ"];
  });

  try {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
    const res = await ApiService.postApi("/WMSMS092/deleteItem_rn.action", {}, body);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(res.result.MSG);
      } else {
        useToast().success(t("common-toast.deleted"));
        childrenGridApi?.deselectAll();
        getChildrenDatas();
        tempCount.value = 0;
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

// 저장
async function saveRowData() {
  useSelectedDataStore().changeSelectedDataList(childrenGridApi?.getSelectedRows());
  if (!childrenItems.value || childrenItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  // 검색 영역에서 화주가 선택되어야지만 검색이 이루어짐(없어도 동작은 되지만 에러뜸, 운영서버 기준)
  if (!Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    return useToast().warning(t("common-toast.please-select-a-owner"));
  }

  // column require 유효성검사
  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(childrenGridApi);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  // 하단 그리드의 UOM 정보 유효성검사
  for (let i = 0; childrenItems.value.length > i; i++) {
    if (childrenItems.value[i].data["UOM_NM"] !== childrenGridData.value[i]["UOM_NM"]) {
      return useToast().warning(t("common-toast.not-the-same-uom-of-the-kit-product"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let body: any = {
      _fullpath: "기준관리 &gt; 임가공상품구성정보관리",
      vrSetRitemId: selectedRowItem.value.RITEM_ID,
      GRID_ID: selectedRowItem.value[INFO.pk] + "",
      GRID_SUB_ID: "",
      vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,
      vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner.CUST_NM,
      vrSrchCustId: "",
      vrSrchItemCd: useSelectedDataStore().getSelectedModalData()["kit-product"]?.ITEM_CODE || "",
      vrSrchItemNm: useSelectedDataStore().getSelectedModalData()["kit-product"]?.ITEM_KOR_NM || "",
      USE_YN_E1: useSearchConditionStore().getSearchInputValue().USE_YN_E1,
      selectIds: String(childrenItems.value.length),
      LC_ID: userStore().getUserLocation().LC_ID,
      CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,
      vrSetRitemCd: selectedRowItem.value.ITEM_CODE,
    };

    childrenItems.value.forEach((selectedItem: any, i: number) => {
      if (String(selectedItem.data["RNUM"]).includes("temp")) {
        body["ST_GUBUN" + i] = "INSERT";
      } else {
        body["ST_GUBUN" + i] = "UPDATE";
      }
      body["QTY" + i] = selectedItem.data["QTY"] + "";
      body["UOM_CODE" + i] = selectedItem.data["UOM_NM"];
      body["SET_RITEM_CODE" + i] = selectedRowItem.value.ITEM_CODE;
      body["PART_RITEM_CODE" + i] = selectedItem.data["ITEM_CODE"];
      body["SET_SEQ" + i] = selectedItem.data["SET_SEQ"];
    });

    const res = await ApiService.postApi("/WMSMS092/saveSub_rn.action", {}, body);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(res.result.MSG);
      } else {
        useToast().success(t("common-toast.registered"));
        childrenGridApi?.deselectAll();
        getChildrenDatas();
        tempCount.value = 0;
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

function fn_qrPrint() {
  if (UtilService.isEmptyObject(selectedItems.value) || selectedItems.value.length < 1) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  let html = "";
  //1 or 4 분할 인쇄 설정
  let pageDivCnt = 1;
  let printGb = 5;

  for (let i = 0; i < selectedItems.value.length; i++) {
    // let chkBoxStat  =  jQuery("tr[id='"+selectIds[i]+"'] td input[type='checkbox']").css("border-bottom");
    const chkBoxStat = "0px none rgb(102, 102, 102)";

    if (chkBoxStat != undefined) {
      if (printGb == 5) {
        if (i == 0) {
          html += "<div style='page-break-before:avoid'>";
        } else if (i != 0 && pageDivCnt == 1) {
          html += "<br style='height:0; line-height:0'>";
          html += "<div style='page-break-before:always'>";
        }
        switch (pageDivCnt) {
          case 1:
            pageDivCnt = pageDivCnt + 1;
            break;
          case 2:
            pageDivCnt = pageDivCnt + 1;
            break;
          case 3:
            pageDivCnt = pageDivCnt + 1;
            break;
          case 4:
            pageDivCnt = pageDivCnt + 1;
            break;
          case 5:
            pageDivCnt = 1;
            break;
        }
      }
      if (pageDivCnt == 2) {
        html += "   <div style='height:40px;'></div>";
        html += "   <div style='text-align:right;'>" + Math.ceil((i + 1) / printGb) + " / " + Math.ceil(selectedItems.value.length / printGb) + "</div><br>";
        html += "   <table style='width: 100%; font-size:30px;' border='1' cellspacing='0'>";
        html += "   	<tr>";
        html += "   		<td style='text-align:center; width:300px; height:90px; background-color:#EAEAEA;'><b>ITEM_CODE</b></td>";
        html += "   		<td style='text-align:center; width:350px; height:90px; background-color:#EAEAEA;'><b>ITEM__NAME</b></td>";
        html += "   		<td style='text-align:center; width:200px; height:90px; background-color:#EAEAEA;'><b>QR_CODE</b></td>";
        html += "   	</tr>";
      }
      html += "   	<tr>";
      html += "   		<td style='text-align:center; width:300px;'>" + selectedItems.value[i]["ITEM_CODE"] + "</td>";
      html += "   		<td style='text-align:center; width:350px;'>" + selectedItems.value[i]["ITEM_KOR_NM"] + "</td>";
      html += "   		<td style='text-align:center; width:200px;'><div align='center' id='qrItem_" + i + "'></div></td>";
      html += "   	</tr>";
      if (pageDivCnt == 1) {
        html += "   </table>";
        html += "</div>";
      }
    }
  }

  if (printGb == 5) {
    html += "<br style='height:0; line-height:0'>";
  }
  document.querySelectorAll("#dataTable")[0].innerHTML = html;

  //QR 코드 생성 후 DIV 셋팅 (QR 코드가 이미지 코드이기 때문에 이미지 생성 후 재배치가 필요하여 for문 재 실행)
  for (let i = 0; i < selectedItems.value.length; i++) {
    // let chkBoxStat  =  jQuery("tr[id='"+selectIds[i]+"'] td input[type='checkbox']").css("border-bottom");
    const chkBoxStat = "0px none rgb(102, 102, 102)";
    if (chkBoxStat != undefined) {
      selectedItems.value[i].qrCodeItemCode = selectedItems.value[i]["ITEM_BAR_CD"];
      document.getElementById("qrItem_" + i)?.appendChild(document.getElementById("selectedItem-" + i)!);
      qrCodeDisplay.value = true;
    }
  }

  //식별표 Table/Div 생성 완료 후 인쇄 window 실행
  setTimeout(() => {
    for (let i = 0; i < selectedItems.value.length; i++) {
      if (document.getElementById("selectedItem-" + i) !== null && document.getElementById("selectedItem-" + i) !== undefined && selectedItems.value[i]["ITEM_BAR_CD"].length !== 0) {
        // '바코드 출력'시 'OR_CODE' img 태그 style 적용
        document.getElementById("selectedItem-" + i)!.children[0].children[0].children[0].style = "width: 70px; height: 70px;";
      }
    }

    if (navigator.userAgent.indexOf("MSIE") > 0 || navigator.userAgent.indexOf("Trident") > 0) {
      //IE 일때
      UtilService.previewIe_print();
    } else if (navigator.userAgent.indexOf("Chrome") > 0) {
      //크롬 일때
      //프린트 출력 부분 div 셋팅
      html += "<div></div>";
      let runPrint;
      const printContent = document.getElementById("dataTable") as any;
      const windowUrl = "about:blank";
      const uniqueName = new Date();
      const windowName = "Print" + uniqueName.getTime();
      const printWindow = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1") as any;
      printWindow.document.write(printContent.innerHTML);

      let wait;
      if (printGb == 4) {
        wait = (selectedItems.value.length / 6) * 1000; //출력 갯수에 따른 출력 대기시간 증가
      } else {
        wait = 1000;
      }
      runPrint = setTimeout(function () {
        printWindow.window.print();
      }, wait);
      document.querySelectorAll("#dataTable")[0].innerHTML = "";
    }
    qrCodeDisplay.value = false;
    parentGridApi?.deselectAll();
  });
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;

@include formContainerStyle;

.form-container {
  flex-direction: column;
  justify-content: space-between;
  overflow: none;
  > li {
    height: calc(50% - 6px);
    .grid-container {
      height: calc(100% - 48px);
    }
  }
}
</style>
