<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:    WMSMS092_1/page.vue
 *  Description:    세트상품구성정보 화면
 *  Authors:        H.N.KO
 *  Update History:
 *                  2024.07. : Created by H.N.KO
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header>
        <div class="search-control-container">
          <control-container>
            <div v-for="btnData in searchCompControlBtn.value" :key="btnData.title">
              <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
            </div>
          </control-container>
        </div>
      </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged"
        :context="{}">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onDetailApiParamsChanged"
        :getServerData="getDetailData"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :context="{ ...DETAIL_GRID_CELL_SELECT_BOX, ...DETAIL_GRID_CELL_SEARCH_BUTTON }">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
  <div id="dataTable"></div>
  <div :id="'selectedItem-' + i" v-for="(selectedItem, i) in selectedItems.value" :key="i">
    <q-r-code-vue3 v-if="qrCodeDisplay" :value="selectedItem.qrCodeItemCode" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS092_1" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore, userStore } from "@/store";
import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import QRCodeVue3 from "qrcode-vue3";
import { computed, onMounted, reactive, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { INFO, SEARCH_INPUT } from "./input";

import {
  DETAIL_CONTROL_BTN,
  DETAIL_GRID_CELL_SEARCH_BUTTON,
  DETAIL_GRID_CELL_SELECT_BOX,
  DETAIL_GRID_OPTIONS_META,
  GRID_META,
  MASTER_CONTROL_BTN,
  MASTER_GRID_OPTIONS_META,
  SEARCH_COMPONENT_CONTROL_BTN,
  SEARCH_META,
} from "./input.meta";
const { t } = useI18n();
const tempCount = ref<number>(0);
// const selectedRowItem = reactive({ value: {} } as { value: any });
const bodyData = reactive({ value: {} as any });
let childrenGridData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSMS092_1");
const pagingSize = ref<number>(pagingOptions![0]);
const searchCompControlBtn = reactive({ value: SEARCH_COMPONENT_CONTROL_BTN as any });
const qrCodeDisplay = ref<boolean>(false);
const searchValue = ref<boolean>(false);

// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;

//master grid 선택시(복수 체크)
const selectedItems = ref<Record<string, any>>({});

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});

//디테일 그리드 전체
const detailItemList = ref<Record<string, any>>({});

//체크된 디테일 그리드 전체
const childrenItems = reactive({ value: [] as any });

//MasterGrid Api
let masterGridApi = computed(() => {
  return unref(masterFormRef.value.gridApi);
});

//DetailGrid Api
const detailGridApi = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
let parentGridApi: GridApi | null = null;
let childrenGridApi: GridApi | null = null;

const eventHandler: Record<string, Function> = {
  "barcode-output": fn_qrPrint,
  manual: clickManual,
  save: saveRowData,
  "enter-excel": excelImport,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
  // "confirmation-of-order": fn_ordConfirm,
  // "trading-statement": fn_tradingStat,
  // "total-trading-statement": fn_tradingStatAll,
};

const masterGridTitleRef = t("menu-header-title.WMSMS092_1_master");
const detailGridTitleRef = t("menu-header-title.WMSMS092_1_detail");

const formTheme = {
  "--flex-direction": "column",
};

function sessionStorageReady() {}

// Framework Function Definitions
onMounted(async () => {
  searchValue.value = true;

  //event로 처리가 필요하나 ???
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi(`/WINUS/WMSMS092_rn.action`, {}, UtilService.getOptionApiData(`WMSMS092_rn`));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
  const res2 = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));

  if (res2.status) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res2.result);
  }
});

//바코드 출력
function fn_qrPrint() {
  if (UtilService.isEmptyObject(selectedItems.value) || selectedItems.value.length < 1) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  let html = "";
  //1 or 4 분할 인쇄 설정
  let pageDivCnt = 1;
  let printGb = 5;

  for (let i = 0; i < selectedItems.value.length; i++) {
    // let chkBoxStat  =  jQuery("tr[id='"+selectIds[i]+"'] td input[type='checkbox']").css("border-bottom");
    const chkBoxStat = "0px none rgb(102, 102, 102)";

    if (chkBoxStat != undefined) {
      if (printGb == 5) {
        if (i == 0) {
          html += "<div style='page-break-before:avoid'>";
        } else if (i != 0 && pageDivCnt == 1) {
          html += "<br style='height:0; line-height:0'>";
          html += "<div style='page-break-before:always'>";
        }
        switch (pageDivCnt) {
          case 1:
            pageDivCnt = pageDivCnt + 1;
            break;
          case 2:
            pageDivCnt = pageDivCnt + 1;
            break;
          case 3:
            pageDivCnt = pageDivCnt + 1;
            break;
          case 4:
            pageDivCnt = pageDivCnt + 1;
            break;
          case 5:
            pageDivCnt = 1;
            break;
        }
      }
      if (pageDivCnt == 2) {
        html += "   <div style='height:40px;'></div>";
        html += "   <div style='text-align:right;'>" + Math.ceil((i + 1) / printGb) + " / " + Math.ceil(selectedItems.value.length / printGb) + "</div><br>";
        html += "   <table style='width: 100%; font-size:30px;' border='1' cellspacing='0'>";
        html += "   	<tr>";
        html += "   		<td style='text-align:center; width:300px; height:90px; background-color:#EAEAEA;'><b>ITEM_CODE</b></td>";
        html += "   		<td style='text-align:center; width:350px; height:90px; background-color:#EAEAEA;'><b>ITEM__NAME</b></td>";
        html += "   		<td style='text-align:center; width:200px; height:90px; background-color:#EAEAEA;'><b>QR_CODE</b></td>";
        html += "   	</tr>";
      }
      html += "   	<tr>";
      html += "   		<td style='text-align:center; width:300px;'>" + selectedItems.value[i]["ITEM_CODE"] + "</td>";
      html += "   		<td style='text-align:center; width:350px;'>" + selectedItems.value[i]["ITEM_KOR_NM"] + "</td>";
      html += "   		<td style='text-align:center; width:200px;'><div align='center' id='qrItem_" + i + "'></div></td>";
      html += "   	</tr>";
      if (pageDivCnt == 1) {
        html += "   </table>";
        html += "</div>";
      }
    }
  }

  if (printGb == 5) {
    html += "<br style='height:0; line-height:0'>";
  }
  document.querySelectorAll("#dataTable")[0].innerHTML = html;

  //QR 코드 생성 후 DIV 셋팅 (QR 코드가 이미지 코드이기 때문에 이미지 생성 후 재배치가 필요하여 for문 재 실행)
  for (let i = 0; i < selectedItems.value.length; i++) {
    // let chkBoxStat  =  jQuery("tr[id='"+selectIds[i]+"'] td input[type='checkbox']").css("border-bottom");
    const chkBoxStat = "0px none rgb(102, 102, 102)";

    if (chkBoxStat != undefined) {
      // document.getElementById("qrItem_" + i)?.appendChild(document.getElementById("selectedItem-" + i)!);
      // qrCodeDisplay.value = true;

      //selectedItems 객체에 qrCodeItemCode 라는 요소 추가
      selectedItems.value[i].qrCodeItemCode = selectedItems.value[i]["ITEM_BAR_CD"];
      //div로 된 자식요소 선언
      let childNode = document.createElement("div");
      //추가한 qrCodeItemCode를 자식요소의 innerHTML 셋팅
      childNode.innerHTML = selectedItems.value[i].qrCodeItemCode;
      //자식 요소에 class =  selectedItem-0(인덱스 번호) 로 클래스 셋팅
      childNode.classList.add("selectedItem-" + i);
      //qrItem_(인덱스번호)의 부모요소에 자식요소 셋팅
      document.getElementById("qrItem_" + i)?.appendChild(childNode!);
      qrCodeDisplay.value = true;
    }
  }

  //식별표 Table/Div 생성 완료 후 인쇄 window 실행
  setTimeout(() => {
    for (let i = 0; i < selectedItems.value.length; i++) {
      if (document.getElementById("selectedItem-" + i) !== null && document.getElementById("selectedItem-" + i) !== undefined && selectedItems.value[i]["ITEM_BAR_CD"].length !== 0) {
        // '바코드 출력'시 'OR_CODE' img 태그 style 적용
        document.getElementById("selectedItem-" + i)!.children[0].children[0].children[0].style = "width: 70px; height: 70px;";
      }
    }

    if (navigator.userAgent.indexOf("MSIE") > 0 || navigator.userAgent.indexOf("Trident") > 0) {
      //IE 일때
      UtilService.previewIe_print();
    } else if (navigator.userAgent.indexOf("Chrome") > 0) {
      //크롬 일때
      //프린트 출력 부분 div 셋팅
      html += "<div></div>";
      let runPrint;
      const printContent = document.getElementById("dataTable") as any;
      const windowUrl = "about:blank";
      const uniqueName = new Date();
      const windowName = "Print" + uniqueName.getTime();
      const printWindow = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1") as any;
      printWindow.document.write(printContent.innerHTML);

      let wait;
      if (printGb == 4) {
        wait = (selectedItems.value.length / 6) * 1000; //출력 갯수에 따른 출력 대기시간 증가
      } else {
        wait = 1000;
      }
      runPrint = setTimeout(function () {
        printWindow.window.print();
      }, wait);
      document.querySelectorAll("#dataTable")[0].innerHTML = "";
    }
    qrCodeDisplay.value = false;
    parentGridApi?.deselectAll();
  });
}

// 메뉴얼 클릭
async function clickManual() {
  location.href = REST_SERVICE_PRODUCTION_URL + "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS092&file_name=WINUS_WMSMS092_MANUAL_KOR.pdf";
}

//엑셀 export
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; MASTER_GRID_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(DETAIL_GRID_COLUMN_DEFS[i], "export")) {
      columnKeys.push(DETAIL_GRID_COLUMN_DEFS[i].field);
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.kit-product-component-information"),
    columnKeys,
  };

  detailGridApi.value?.exportDataAsExcel(excelExportParams);
}
// 엑셀입력 클릭시, excel import
function excelImport() {
  const data = {
    modalTitle: t("modal-title.kit-product-component-information-enter-excel"),
    saveUrl: "/WMSMS092/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS092&file_name=execlTemp_setOfGoods_02.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

//삭제
async function deleteRowData() {
  if (!childrenItems.value || childrenItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  let body = UtilService.getBodyDataByGridAndInfo(INFO.pk2 || "", null, DETAIL_GRID_COLUMN_DEFS, childrenItems.value, false, "delete");
  let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  body = { ...body, ...apiParams };

  body.GRID_ID = selectedMasterItem.value.RNUM;
  body.vrSetRitemId = selectedMasterItem.value.RITEM_ID;
  body.vrSetRitemCd = selectedMasterItem.value.ITEM_CODE;
  body.GRID_SUB_ID = "";
  body.LC_ID = userStore().getUserLocation().LC_ID;
  body["I_selectIds"] = 0 + "";
  body["D_selectIds"] = body.selectIds;

  childrenItems.value.forEach((selectedItem: any, i: number) => {
    //SET_RITEM_CODE : 상단 그리드 선택항목의 ITEM_CODE
    body["SET_RITEM_ID" + i] = selectedMasterItem.value.RITEM_ID;
    //PART_RITEM_CODE : 하단 그리드 선택 항목의 ITEM CODE (요청 첨부사진의 "0000"으로 입력된 값)
    body["PART_RITEM_ID" + i] = selectedItem.PART_RITEM_ID;
    body["SET_SEQ" + i] = selectedItem.SET_SEQ;
  });

  try {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
    const res = await ApiService.postApi("/WMSMS092/deleteItem_rn.action", {}, body);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(res.result.MSG);
      } else {
        useToast().success(t("common-toast.deleted"));
        detailGridApi.value?.deselectAll();
        getChildrenDatas();
        tempCount.value = 0;
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

function getChildrenDatas() {
  detailGridApi.value?.sizeColumnsToFit();
  detailGridApi.value?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const paramData = {} as { vrSetRitemId: string };
      if (selectedMasterItem.value) {
        paramData.vrSetRitemId = selectedMasterItem.value["RITEM_ID"];
      }
      const gridData = await ApiService.postApi("/WMSMS092/listSub_rn.action", paramData, bodyData.value, false);
      if (gridData.status) {
        if (gridData.result.list.length > 0) {
          childrenGridData.value = gridData.result.list;
          UtilService.setGridData("client-side", detailGridApi.value, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("client-side", detailGridApi.value, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
        }
      } else {
        UtilService.setGridData("client-side", detailGridApi.value, null);
      }
    },
  });
  detailGridApi.value?.deselectAll();
}

// grid에 paging option 적용
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 신규 빈 행 추가
function addRowData() {
  //selectedRowItem(디테일 그리드 클릭 or 체크 시 값이 존재하는 객체) 이 존재하지 않으면
  if (Object.keys(selectedMasterItem.value).length <= 0) {
    return useToast().warning(t("grid-warning.select-parent-product"));
  }

  const tempId = `temp${tempCount.value}`;
  let columndefs = {} as any;

  //key 값을 column값으로 셋팅 value는 공백
  DETAIL_GRID_COLUMN_DEFS?.forEach((columnDef: any) => {
    if (columnDef.field) {
      columndefs[columnDef.field] = "";
    }
  });

  //INFO.pk2(RNUM)값
  columndefs[INFO.pk2!] = tempId;

  const newRowData = [columndefs];
  newRowData[0].SET_RITEM_ID = selectedMasterItem.value.RITEM_ID;
  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(detailGridApi.value?.paginationGetCurrentPage()) + 1) * Number(detailGridApi.value?.paginationGetPageSize()) - Number(detailGridApi.value?.paginationGetPageSize());
  detailGridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });
  tempCount.value++;
  //그리드 첫번재 행에 새로운 행 추가 + 체크
  detailGridApi.value?.getRowNode(String(columndefs[INFO.pk!]))?.setSelected(true);
  useSelectedDataStore().selectedHandler(detailGridApi.value?.getRowNode(String(columndefs[INFO.pk2!]))?.data);
  detailGridApi.value?.refreshCells({ columns: ["NO"], suppressFlash: true });
}

//그리드 저장
async function saveRowData() {
  //행 추가 시 첫번재 행이 새롭게 생성된 행을 바탕으로 그리드 셋팅함
  useSelectedDataStore().changeSelectedDataList(detailGridApi.value?.getSelectedRows());

  //체크된 그리드 값을 selectedDetailItems 객체에 넣어줌
  detailGridApi.value?.stopEditing();
  childrenItems.value = detailGridApi.value?.getSelectedRows();

  //체크가 되지 않았을시, 경고메시지
  if (!childrenItems.value || childrenItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  // 검색 영역에서 화주가 선택되어야지만 검색이 이루어짐(없어도 동작은 되지만 에러뜸, 운영서버 기준)
  if (!Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    return useToast().warning(t("common-toast.please-select-a-owner"));
  }

  // column require 유효성검사
  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(detailGridApi.value);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value2", { key: saveEditGridRequiredValidation.name }));
  }

  //selectedDetailItems의 UOM_NM을 추출하여 기존 detailList에 있는 UOM_NM과 다르면 경고메시지 출력
  childrenItems.value.forEach(async (i: any) => {
    if (i.UOM_NM !== detailItemList.value[detailItemList.value.length - 1].UOM_NM) {
      return useToast().warning(t("common-toast.not-the-same-uom-of-the-kit-product"));
    }
  });

  //저장하시겠습니까? 팝업
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let body: any = {
      _fullpath: "기준관리 &gt; 임가공상품구성정보관리",
      vrSetRitemId: selectedMasterItem.value.RITEM_ID,
      GRID_ID: selectedMasterItem.value[INFO.pk] + "",
      GRID_SUB_ID: "",

      vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,
      vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner.CUST_NM,
      vrSrchCustId: "",
      vrSrchItemCd: useSelectedDataStore().getSelectedModalData()["kit-product"]?.ITEM_CODE || "",
      vrSrchItemNm: useSelectedDataStore().getSelectedModalData()["kit-product"]?.ITEM_KOR_NM || "",
      USE_YN_E1: useSearchConditionStore().getSearchInputValue().USE_YN_E1,
      selectIds: String(childrenItems.value.length),
      LC_ID: userStore().getUserLocation().LC_ID,
      CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,
      vrSetRitemCd: selectedMasterItem.value.ITEM_CODE,
    };
    childrenItems.value.forEach((selectedItem: any, i: number) => {
      if (String(selectedItem.RNUM).includes("temp")) {
        body["ST_GUBUN" + i] = "INSERT";
      } else {
        body["ST_GUBUN" + i] = "UPDATE";
      }
      body["SET_RITEM_ID" + i] = selectedMasterItem.value.RITEM_ID;
      body["QTY" + i] = selectedItem.QTY + "";
      body["UOM_CODE" + i] = selectedItem.UOM_NM;
      body["SET_RITEM_CODE" + i] = selectedMasterItem.value.ITEM_CODE;
      body["PART_RITEM_CODE" + i] = selectedItem.ITEM_CODE;
      body["SET_SEQ" + i] = 0;
    });
    //***error point
    const res = await ApiService.postApi("/WMSMS092/saveSub_rn.action", {}, body);
    // const res = await ApiService.postApi("/WMSMS092/saveE6_2_rn.action", {}, body);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(res.result.MSG);
      } else {
        useToast().success(t("common-toast.registered"));
        childrenGridApi?.deselectAll();
        getChildrenDatas();
        tempCount.value = 0;
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

// User Function Definitions
function onSelectionChanged(e: any) {
  let isSelected = e.event.node.selected;
  selectedItems.value = masterGridApi.value?.getSelectedRows();
  //체크해제시 detailGrid 빈값으로 셋팅
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    selectedMasterItem.value = e.event.data;
    detailFormRef.value.searchGridData();
  }
}

function onDetailGridSelectionChanged(e: any) {
  childrenItems.value = detailGridApi.value?.getSelectedRows();
}

function onMasterApiParamsChanged(apiParams: any) {
  apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  apiParams._fullpath = "기준관리 &gt; 임가공상품구성정보관리";
  apiParams.GRID_ID = "";
  apiParams.GRID_SUB_ID = "";

  // vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,
  //     vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner.CUST_NM,
  //     vrSrchCustId: "",
  //     vrSrchItemCd: useSelectedDataStore().getSelectedModalData()["kit-product"]?.ITEM_CODE || "",
  //     vrSrchItemNm: useSelectedDataStore().getSelectedModalData()["kit-product"]?.ITEM_KOR_NM || "",
  //     USE_YN_E1: useSearchConditionStore().getSearchInputValue().USE_YN_E1,
  //     selectIds: String(childrenItems.value.length),
  //     LC_ID: userStore().getUserLocation().LC_ID,
  //     CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,

  apiParams.vrSetRitemCd = useSelectedDataStore().getSelectedModalData()["kit-product"]?.ITEM_CODE || "";
  apiParams.USE_YN_E1 = useSearchConditionStore().getSearchInputValue()["USE_YN_E1"];
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  detailGridApi.value?.deselectAll();
  detailGridApi.value?.sizeColumnsToFit();
  // const selectedMasterItem = GridUtils.getSelectedRowData(unref(masterGridApi) || new GridApi())[0];
  // apiParams = { RITEM_ID: Object.hasOwn(selectedMasterItem, "RITEM_ID") ? selectedMasterItem.vrSetRitemId : "" };
  apiParams.vrSetRitemId = selectedMasterItem.value.RITEM_ID;
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSMS092/list_rn.action", apiParams, bodyData.value, false);
}

async function getDetailData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/WMSMS092/listSub_rn.action", apiParams, bodyData.value, false);
  if (res.result.list.length > 0 || !res.result.list) {
    detailItemList.value = res.result.list;
  }
  return res;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
