<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	content-body.vue
 *  Description:    홈페이지에서 메인 컨텐트의 내용이 보여지는 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="content-body-page" :class="{ on: subMenusExpanded }">
    <header>
      <location-select />
      <div class="user-info">
        <select-locale class="locale" />
        <user-info :logout="logout" />
      </div>
    </header>
    <menu-tab />
    <div class="router-container">
      <router-view v-slot="{ Component, route }">
        <keep-alive ref="keepAlive" :exclude="store.removedTabIdsRegex.value">
          <component :key="route.path" :is="Component" />
        </keep-alive>
      </router-view>
      <loading-spinner v-if="loadingStore.spinners == 0 && loadingStore.includes(store.selectedTab.value ? store.selectedTab.value.path : '')" :contentBodyOnly="true" />
    </div>
    <floating-menu />
  </div>
  <confirm-popup />
  <menu-search-bar v-if="showSearchMenu" @close="() => { showSearchMenu = false; }" />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { LocationSelect, MenuTab } from "@/components/layout";
import { ConfirmPopup, SelectLocale, UserInfo } from "@/popups";
import { ApiService } from "@/services/api-service";
import { useLoadingStore, useTabsStore, userStore } from "@/store";
import { debounce } from "lodash";
import { onActivated, onDeactivated, onMounted, onUnmounted, ref, toRefs, watch } from "vue";
import LoadingSpinner from "../ui/loading-spinner.vue";
import MenuSearchBar from "../ui/menu-search-bar.vue";

import { FloatingMenu } from "@/components/layout/index";

//#region ::  Variable Definitions

const currentUser = JSON.parse(userStore().getCurrentUser());
const inactive = ref<boolean>(false);

const props = defineProps<{
  subMenusExpanded: boolean;
}>();
const { subMenusExpanded } = toRefs(props);
const keepAlive = ref(null as any);
const store = useTabsStore();
const loadingStore = useLoadingStore();
const showSearchMenu = ref<boolean>(false);

//#endregion


//#region ::  Framework Function Definitions

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

onMounted(() => {
  window.addEventListener("resize", handleResize);
  handleResize();
  // CONFIRM POPUP EXAMPLE
  // confirmButtonLabel은 미입력시 '확인'으로 나타납니다.
  ///

  // [메뉴 검색] : 활성화 조건 (키 입력 Ctrl + K)
  document.addEventListener('keydown', function(e) {
    if (e.ctrlKey && (e.key === 'k' || e.key === 'K')) {
      showSearchMenu.value = true;
      e.preventDefault();
      e.stopPropagation();
    }
  });

});

onUnmounted(() => {
  window.removeEventListener("resize", handleResize);
});

watch([subMenusExpanded], () => {
  if (!inactive.value) {
    handleResize();
  }
});

//#endregion


//#region ::  User Function Definitions

const logout = async () => {
  await ApiService.logout();
  localStorage.removeItem("winusUserInfo");
  userStore().reload();
  /* 스토어 초기화를 위해 router -> window객체 사용 */
  // router.push("/login");
  window.location.replace("/login");
};
// const handleResize = debounce((ev: any = null, tabListWidth = 0) => {
const handleResize = debounce(() => {
  store.resizeTabs(currentUser.USER_ID);
}, 200);

//#endregion

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#content-body-page {
  width: 100%;
  padding: 0 20px;
  background-color: $bg-gray;
  transition: all 0.5s ease;
  &.on {
    margin-left: 220px;
    width: calc(100% - 220px - 60px);
    transition: all 0.5s ease;
  }

  > header {
    @include flexCenter;

    // height: 73px;
    padding: 15px 0 15px 0;
    position: relative;
  }
}
.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 26px;
  // > .locale {
  //   cursor: pointer;
  //   position: relative;
  //   z-index: 4;
  // }
}

.router-container {
  @include containerStyle;
  position: relative;
  background-color: white;
  padding-bottom: 20px;
}

// Page Image Definitions
</style>
