<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	control-container.vue
 *  Description:    control-button들의 레이아웃을 잡아주는 container
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.09.15 : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="control-container" class="control-container">
    <slot></slot>
  </div>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped>
.test {
  position: relative;
}
.control-container {
  @include flexbox(row, flex-end, center, nowrap);
  flex: 1;
  gap: 7px;
  // height: 48px;
  margin-left: 32px;
  margin-right: 20px;
  height: inherit;
}

</style>
