<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	date-range.vue
 *  Description:    검색영역 상단 날짜 기간 설정 컴포넌트
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.09.15 : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="date-container" class="date-container">
    <!--체크박스 영역-->
    <div class="date-type">
      <template v-for="(item, i) in data.checkBoxes" :key="i">
        <div :class="[{ checked: currentChecked === item.value }]">
          <input
            :checked="currentChecked === item.value ? true : false"
            @change="(e) => changeCheckboxValue(e, item.id, item.value)"
            class="date-type-input"
            type="checkbox"
            name=""
            :id="item.value" />
          <i class="circle"></i>
          <label :style="[currentChecked === item.value ? 'font-weight:bold' : 'normal']" class="date-type-label" :for="item.value">{{ t("date-range-title." + item.title) }}</label>
        </div>
      </template>
    </div>
    <!--날짜 input영역-->
    <div class="date-calender">
      <input
        v-model="fromDateValue"
        @change="
          (e: any) => {
            useSearchConditionStore().changeSearchInputValue(data.dateInputIds[0], e.target.value);
            changeDateInput(e, data.dateInputIds[0], data.dateInputIds, null, 'from');
          }
        "
        max="9999-12-31"
        class="date-calender-input"
        type="date"
        name=""
        id="" />
      <span class="date-calender-icon">~</span>
      <input
        v-model="toDateValue"
        @change="
          (e: any) => {
            useSearchConditionStore().changeSearchInputValue(data.dateInputIds[1], e.target.value);
            changeDateInput(e, data.dateInputIds[1], data.dateInputIds, null, 'to');
          }
        "
        max="9999-12-31"
        class="date-calender-input"
        type="date"
        name=""
        id="toDateInput" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { onActivated, onDeactivated, onMounted, ref, watch } from "vue";

import { debounce } from "lodash";
import { useI18n } from "vue-i18n";

import { UtilService } from "@/services/util-service";
import { useSearchConditionStore } from "@/store";

import type { IDateRange } from "@/types";

// Variable Definitions
const { data } = defineProps<{
  data: IDateRange;
  chkOptionType1value?: any;
}>();
const { t } = useI18n();
// const today = new Date().toISOString().substring(0, 10);
const today = UtilService.getToday();
const inactive = ref<boolean>(false);
let fromDateValue = ref<string>(useSearchConditionStore().getSearchInputValue()[data.dateInputIds[0]] || today);
let toDateValue = ref<string>(useSearchConditionStore().getSearchInputValue()[data.dateInputIds[1]] || today);
let currentChecked = ref("");

// Framework Function Definitions
onMounted(() => {
  setDefaultValue();
});

/**
 * 검색 초기화시 date Value 값도 초기화 시키기 (empty 값으로 만들기)
 */
watch(useSearchConditionStore()._reset, () => {
  if (!inactive.value) {
    if (useSearchConditionStore().getResetValue()) {
      setDefaultValue();
    }
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
function setDefaultValue() {
  // SearchInput에 현재날짜로 값 스토어에 저장
  for (let i = 0; data.dateInputIds.length > i; i++) {
    const id = data.dateInputIds[i];
    useSearchConditionStore().changeSearchInputValue(id, today);
    fromDateValue.value = today;
    toDateValue.value = today;
    /* dateInputIds값이 없을 때 store에 저장된 값 비우기 */
    if (!id) {
      useSearchConditionStore().changeSearchInputValue(id, "");
    }
  }
  // default로 체크값 스토어에 저장, view에서도 checked상태로
  for (let i = 0; data.checkBoxes.length > i; i++) {
    const checkbox = data.checkBoxes[i];
    if (checkbox.defaultChecked) {
      currentChecked.value = checkbox.value;
      useSearchConditionStore().changeSearchInputValue(checkbox.id, checkbox.value);
    }
  }
}

function changeCheckboxValue(e: any, id: string, value: string) {
  if (e) {
    const target = e.target;
    const checkboxValue = target.checked;

    if (currentChecked.value === value) {
      return;
    }

    if (e && checkboxValue) {
      useSearchConditionStore().changeSearchInputValue(id, value);
      currentChecked.value = value;
    } else {
      useSearchConditionStore().removeSearchInputValue(id);
      currentChecked.value = "";
    }
  } else {
    currentChecked.value = value;
  }
}

function replaceDate(date: any) {
  return Number(date.replaceAll("-", ""));
}

const changeDateInput = debounce((e: any, id: string, ids: string[], value?: any, type?: "from" | "to") => {
  if (e) {
    const target = e.target;
    const dateValue = target.value;
    if (type === "from") {
      if (replaceDate(dateValue) > replaceDate(toDateValue.value)) {
        toDateValue.value = fromDateValue.value;
        useSearchConditionStore().changeSearchInputValue(ids[1], fromDateValue.value);
        return;
      }
    } else if (type === "to") {
      if (dateValue < fromDateValue.value) {
        fromDateValue.value = toDateValue.value;
        useSearchConditionStore().changeSearchInputValue(ids[0], toDateValue.value);
        return;
      }
    }
    useSearchConditionStore().changeSearchInputValue(id, dateValue);
  } else if (value) {
    useSearchConditionStore().changeSearchInputValue(id, value);
  }
}, 100);
</script>

<style lang="scss" scoped>
.date {
  &-container {
    @include flexbox(row, flex-start, center, nowrap);
    gap: 33px;
    margin: auto;
    flex: 2;
    padding-left: 10px;
  }

  &-type {
    .circle {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 2px solid $gray;
      border-radius: 50%;
      position: relative;
      top: 4px;
      cursor: pointer;

      &:after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $main;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        opacity: 0;
      }
    }

    &-input {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid $gray;
      cursor: pointer;
      transform: translateX(18px);
      position: relative;
      z-index: 3;
      opacity: 0;

      &:checked + .circle:after {
        opacity: 1;
      }
      &:checked + .circle {
        border: 2px solid $main;
      }
      &:checked + .date-type-label {
        font-weight: bold;
      }
    }

    &-label {
      margin: 0 20px 0 7px;
      color: $font-bk;
      font-size: 13px;
      cursor: pointer;
    }
  }

  &-calender {
    &-input {
      @include dateInputStyle(0px, 20px);
      letter-spacing: -1px;
      width: 150px;
      height: 35px;
      border-radius: 10px;
      border: 1px solid $border2;
      padding: 0 15px;
      font-weight: bold;
      position: relative;
    }
    &-icon {
      margin: 0 7px;
    }
  }
}

.date-type {
  display: flex;
  align-items: center;
}
.checked {
  pointer-events: none !important;
}
</style>
