<!--
    택배관리 - 택배접수관리 버튼 / 택배 컨트롤 버튼 아이템을 감싸고 있는 리스트
-->
<template>
  <div class="delivery-control-container">
    <slot></slot>
  </div>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped>
.delivery-control-container {
  position: relative;
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 16px 23px 16px 23px;
  min-width: 1500px;
  min-height: 92px;
}
</style>
