<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	floating-menu.vue
 *  Description:    홈페이지에서 우축하단에 위치해서 메뉴기능을 제공하는 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div
    id="floating-menu-page"
    v-click-outside="
      () => {
        if (showFloatingMenu) {
          showFloatingMenu = false;
        }
      }
    "
  >
    <button @click="showFloatingMenu = !showFloatingMenu" :class="{ close: showFloatingMenu }">
      <i :class="['btn-floating-menu', showFloatingMenu ? 'close' : '']"></i>
    </button>
    <transition name="list">
      <ul v-if="showFloatingMenu" class="floating-menu-list">
        <li @click="printManual()" style="display: none">
          <i class="btn-delivery-08"></i>
          <span>{{ $t('text.menu-guide') }}</span>
        </li>
        <li @click=printTotalManual() style="display: none">
          <i class="btn-delivery-08"></i>
          <span>{{ $t('text.total-guide') }}</span>
        </li>
        <li @click=sendReport()>
          <i class="btn-delivery-05"></i>
          <span>{{ $t('text.send-report') }}</span>
        </li>
        <li @click=callPageSettingPopUp()>
          <i class="btn-setting"></i>
          <span>{{ $t('modal-title.display-settings') }}</span>
        </li>
      </ul>
    </transition>
    <page-settings v-if="isShowDisplaySetting" :close="() => (isShowDisplaySetting = false)" ></page-settings>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import PageSettings from "@/popups/page-settings.vue";
import { UtilService } from "@/services/util-service";
import { useUserSettingStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useRouter } from "vue-router";
import { useToast } from "vue-toastification";

//#region ::  Variable Definitions

const eventBus = useEventBusStore();
let showFloatingMenu = ref(false);
const fileURL = import.meta.env.VITE_FILE_URL;
const router = useRouter();
const { t } = useI18n();
let isShowDisplaySetting = ref(false);

/**
 * 매뉴얼 파일 네이밍 룰 : {제품명}_{메뉴ID}_MANUAL_{언어}.pdf
 * TODO :: 명명규칙에 따라 변경할 것.
 */
const MANUAL_PATH = [
  {
    // 화주정보관리
    path: "/master-data/WMSMS010",
    queryString: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS010&file_name=WINUS_WMSMS010_MANUAL_KOR.pdf",
  },
  {
    // 매출거래처정보관리
    path: "/master-data/WMSMS011",
    queryString: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS011&file_name=WINUS_WMSMS011_MANUAL_KOR.pdf",
  },
  {
    // 세트상품구성정보
    path: "/stock/WMSMS092_1",
    queryString: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS092&file_name=WINUS_WMSMS092_MANUAL_KOR.pdf",
  },
];

//#endregion


//#region ::  Framework Function Definitions

onMounted(() => {
  eventBus.on("page-setting", (searchInput: any) => {
    console.log('page-setting emit', searchInput);
  });
});

//#endregion

//#region ::  User Function Definitions

const printManual = () => {

  try {
    let currentMenuPath = router.currentRoute.value.path;
    let pathIndex = MANUAL_PATH.findIndex((dt:any) => dt.path == currentMenuPath);

    if(pathIndex < 0){
      throw new Error(t('common-toast.not-found-manual'));
    }

    location.href = fileURL + MANUAL_PATH[pathIndex].queryString;

  } catch (error: any) {
    useToast().info(error.message);
    throw error;
  }
  
}

const printTotalManual = () => {
  useToast().info('현재 준비 중인 기능입니다.');
}

const sendReport = () => {
  
  const windowPopup:any = UtilService.openWindowPopup(null, `/user-report`, {
    width: 1150,
    height: 750,
    top: 100,
    left: 200,
  });

  // windowPopup.onbeforeunload = function () {
  //   useToast().success(t("common-toast.registered"));
  // };
}

/**
 * 화면 설정 팝업 호출 
 */
const callPageSettingPopUp = () => {
  if(!useUserSettingStore().getUserSearchInput){
    return useToast().warning('지원하지 않는 메뉴입니다.');
  }

  isShowDisplaySetting.value = true;
}

//#endregion

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.list-enter-active,
.list-leave-active {
  transition: all 0.4s ease;
}

.list-leave-to,
.list-enter-from {
  transform: translateY(10%);
  opacity: 0;
}
#floating-menu-page {
  @include flexCenter;
  position: fixed;
  bottom: 10px;
  right: 0;
  z-index: 4;

  > button {
    width: 21px;
    height: 45px;
    background-color: $main;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    transition: width 0.3s;
    &.close {
      width: 51px;
    }
    &:not(.close):hover {
      width: 51px;
      transition: width 0.3s;
      .btn-floating-menu {
        width: 31px;
        height: 7px;
        background: url("/public/assets/images/btn-action-more.svg") 0% 0% / contain no-repeat;
      }
    }
    > i {
      transition: all 0.3s;
      animation: default-out 0.3s;
      &.close {
        animation: close-in 0.2s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
      }
    }
  }
  > .floating-menu-list {
    display:inline-flex;
    flex-direction: column;
    position: absolute;
    bottom: 55px;
    right: 7px;
    padding: 6px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
    height: 180px;
    min-width: 200px;
    overflow-y: scroll;
    > li {
      height: 43px;
      line-height: 43px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: -1px;
      margin-left: 10px;
      display: inline-flex;
      align-items: center;
      &:not(.empty-list):hover {
        background-color: #f6f7fc;
        cursor: pointer;
      }
      &.empty-list {
        text-align: center;
        margin-top: 60px;
      }
      > i {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 8px;
      }
    }
  }
}

// Page Image Definitions
.btn-floating-menu {
  display: inline-block;
  width: 7px;
  height: 11px;
  background: url("/public/assets/images/btn-action-hover.svg") 0% 0% / contain no-repeat;
  &.close {
    width: 22px;
    height: 22px;
    background: url("/public/assets/images/btn-action-close.svg") 0% 0% / contain no-repeat;
  }
}

.btn-setting {
  background: url("/public/assets/images/btn-setting-filter.svg") 0% 0%/contain no-repeat;
}

</style>
