<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	grid-statistics-container.vue
 *  Description:    그리드 상단에 위치해 그리드 데이터의 통계 수치를 보여주는 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.09.15 : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <ul class="grid-statistics-container">
    <li v-for="(statisticsItem, i) in statisticsInfo" :key="i">
      <span class="grid-statistics-title">{{ t(`grid-statistics-title.${statisticsItem.title}`) }}</span>
      <span class="grid-statistics-value">
        {{ Number(gridTotalData.value[statisticsItem.id] || "0").toLocaleString() }}
        <template v-if="statisticsItem.subId">
          {{ `(${Number(gridTotalData.value[statisticsItem.subId] || "0").toLocaleString()}) ` }}
        </template>
      </span>
    </li>
  </ul>
</template>

<script setup lang="ts">
import { IGridStatisticsInfo } from "@/types";
import { useI18n } from "vue-i18n";
const { statisticsInfo, gridTotalData } = defineProps<{
  statisticsInfo: IGridStatisticsInfo[];
  gridTotalData: any;
}>();

const { t } = useI18n();
</script>

<style lang="scss" scoped>
.grid-statistics {
  &-container {
    position: relative;
    // top: -14.5px;
    // transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
  }

  &-title {
    font-weight: bold;
    font-size: 13px;
    color: var(--grid-statistics-title-color, #727272);
    margin-right: 17px;
  }
  &-value {
    font-weight: bold;
    font-size: 13px;
    color: var(--grid-statistics-title-color, #222222);
  }
}
</style>
