<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	location-select.vue
 *  Description:    Home 상단의 물류센터 선택 Component 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div
    class="location-select"
    v-click-outside="
      () => {
        if (showLocationList) {
          changeShowLocationList(false);
        }
      }
    ">
    <div
      v-if="currentLocation.value"
      class="location-name"
      @click="
        () => {
          changeShowLocationList(!showLocationList);
        }
      ">
      {{ currentLocation.value.LC_NM }}
    </div>
    <div v-if="!currentLocation.value" class="location-name">물류센터를 선택하세요</div>
    <i class="btn-dropbox-location" :class="[showLocationList ? 'on' : '']"></i>
    <ul class="location-list" :class="[showLocationList === true ? 'slide-down' : showLocationList === false ? 'slide-up' : '']" tabindex="-1">
      <input v-model="locationSearchInputValue" type="text" class="location-search-input" @input="setFilteredWarehouseLocationList" />
      <li
        v-for="(location, i) in warehouseLocationList.value || []"
        :key="i"
        :class="[currentLocation.value && currentLocation.value.LC_ID == location.LC_ID ? 'on' : '']"
        @click="selectLocation(location, 'select')">
        {{ location.LC_NM }}
        <i v-if="currentLocation.value && currentLocation.value.LC_ID == location.LC_ID" class="dropbox-selected"></i>
      </li>
      <li v-if="!warehouseLocationList.value || warehouseLocationList.value.length == 0" class="empty-list">물류센터 목록이 없습니다.</li>
    </ul>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { computed, onDeactivated, onMounted, reactive, ref } from "vue";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { userStore } from "@/store";

const currentUser = JSON.parse(userStore().getCurrentUser());
const currentLocation = reactive({ value: {} as any });
const warehouseLocationList = reactive({ value: [] as any });
let readOnlyWarehouseLocationList = [] as any;
const _showLocationList = ref(null as boolean | null);
const locationSearchInputValue = ref("" as string);
const showLocationList = computed({
  get() {
    return _showLocationList.value;
  },
  set(val) {
    _showLocationList.value = val;
  },
});

onMounted(async () => {
  const res = await ApiService.postApi("/WINUS/WMSMS030_rn.action", {}, {});
  if (res.status) {
    warehouseLocationList.value = res.result.selectBoxInfos.LCLIST;
    readOnlyWarehouseLocationList = res.result.selectBoxInfos.LCLIST;
  }
  const getCurrentUser = JSON.parse(userStore().getCurrentUser());
  const location = {
    LC_ID: getCurrentUser.LC_ID,
    LC_NM: getCurrentUser.LC_NM,
  };
  selectLocation(location, "init");
});

onDeactivated(() => {
  showLocationList.value = null;
});

function changeShowLocationList(value: boolean) {
  showLocationList.value = value;
  if (!value) {
    warehouseLocationList.value = readOnlyWarehouseLocationList;
    locationSearchInputValue.value = "";
  }
}

function setFilteredWarehouseLocationList(e: any) {
  if (e) {
    const target = e.target;
    if (!target) {
      warehouseLocationList.value = readOnlyWarehouseLocationList;
    } else {
      const filteredWarehouseLocationList = readOnlyWarehouseLocationList.filter((item: any) => {
        const index = item.LC_NM.toLowerCase().search(target.value.toLowerCase());
        if (index !== -1) {
          return item;
        }
      });
      warehouseLocationList.value = filteredWarehouseLocationList;
    }
  }
}

const selectLocation = async (location: any, type: string) => {
  if (!userStore().getUserLocation()) {
    currentLocation.value = location;
  } else {
    currentLocation.value = userStore().getUserLocation();
  }
  currentUser.location = location;
  userStore().storeCurrentUser(JSON.stringify(currentUser));
  if (type !== "init") {
    showLocationList.value = false;
    const langType = UtilService.convertLocalNum(currentUser.LANG);
    await ApiService.postApi("/svcChange_rn.action", {}, { locale: langType, LC_ID: location.LC_ID, LANG: langType }, false);
    currentUser.location = location;
    currentUser.LC_CUST_NM = location.LC_CUST_NM;
    currentUser.LC_ID = location.LC_ID;
    currentUser.LC_NM = location.LC_NM;
    userStore().storeCurrentUser(JSON.stringify(currentUser));
    window.location.reload();
  }
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.location-select {
  @include flexCenter;
  position: relative;
  height: 15px;
  > div {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1.8px;
    text-align: center;
    color: #142b79;
    cursor: pointer;
  }
  .location-list {
    position: absolute;
    top: 35px;
    right: 0;
    min-width: 220px;
    height: 300px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
    background-color: $hidden-list-bg;
    border-radius: 8px;
    z-index: 10;
    padding: 3px 0;
    overflow-y: scroll;
    outline: none;
    opacity: 0;
    transform: scaleY(0);
    &.slide-up {
      @include slideUpAnimation;
    }
    &.slide-down {
      @include slideDownAnimation;
    }

    .location-search-input {
      border: 1px solid #d6d6d6;
      border-radius: 10px;
      height: 20px;
      padding: 0 5px 0 10px;
      font-weight: bold;
      background-color: #fff;
      width: calc(100% - 3px);
      margin-left: 3px;
    }

    > li {
      @include flexbox(row, space-between, center, nowrap);
      height: 43px;
      font-size: 14px;
      color: $font-bk;
      letter-spacing: -1.08px;
      padding: 0 6px 0 20px;
      cursor: pointer;
      &:first-child {
        margin-top: 4px;
      }
      &:not(.empty-list):hover {
        background-color: #fff;
        // font-weight: bold;
        color: $main;
      }
      &.empty-list {
        display: block;
        cursor: default;
        padding: 0;
        text-align: center;
        margin-top: 80px;
      }
    }
  }
}
.btn-dropbox-location {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("/public/assets/images/btn-drop-site-open.svg") 0% 0% / contain no-repeat;
  transition: 0.2s ease;
  transform: rotate(0deg);
  cursor: pointer;
  &.on {
    transform: rotate(180deg);
  }
}
</style>
