<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	menu-tab.vue
 *  Description:    사용자 메뉴들을 탭으로 제공하는 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="menu-tab-page">
    <ul :class="`tab-list ${route.path === '/' ? 'welcome' : ''}`" :style="{ gap: TAB_ITEM_MARGIN + 'px' }">
      <li
        v-for="(tab, index) in store.tabList.value"
        :class="`${store.selectedTab.value?.path === tab.path ? 'on' : ''}`"
        :key="tab.id"
        draggable="true"
        @dragstart="(e) => drag(e, index)"
        @drop="(e) => drop(e, index)"
        @dragover="(e) => allowDrop(e, index)">
        <div class="tooltip">
          <label>{{ tab.mainMenuTitle ? tab.mainMenuTitle + "/" : "" }}{{ tab.title }}</label>
        </div>
        <span @click="selectTab(tab)">{{ tab.title }}</span
        ><button @click="deleteTab($event, tab)">
          <i :class="['btn-close-tab', store.selectedTab.value?.path === tab.path ? 'on' : '']"></i>
        </button>
      </li>
      <li v-for="(tab, index) in store.newTabs.value" class="hidden-for-sizing" :key="index">
        <span>{{ tab.title }}</span>
        <button><i class="btn-close-tab"></i></button>
      </li>
      <!-- <button class="add-btn" v-if="route.path !== '/'" @click="showAddList = true">
        <i class="btn-add"></i>
      </button> -->
      <button class="more-btn" v-if="store.hiddenTabList.value.length > 0" :class="`${showHiddenList ? 'on' : ''}`" @click="toggleHiddenList">
        <i class="btn-more-tab"></i>
      </button>
      <button class="close-all-btn" v-if="store.hiddenTabList.value.length == 0 && store.tabList.value.length > 1" @click="closeAllTabs">모든 탭 닫기</button>
    </ul>
    <div ref="addListElement" :class="['add-list', showAddList === true ? 'slide-down' : showAddList === false ? 'slide-up' : '']" tabindex="-1">
      <ul class="add-list-tabs">
        <li :class="[selectedAddListTab == 'recent' ? 'on' : '']" @click="selectedAddListTab = 'recent'">최근 사용</li>
        <li :class="[selectedAddListTab == 'favorite' ? 'on' : '']" @click="selectedAddListTab = 'favorite'">즐겨 찾기</li>
      </ul>
      <ul>
        <li v-for="(menu, i) in addListMenus.value || []" @click="addToTabList(menu)" :key="i">
          {{ menu.title }}
        </li>
        <li v-if="!addListMenus.value || addListMenus.value.length == 0" class="empty-list">
          {{ selectedAddListTab == "recent" ? "최근사용한 항목이 없습니다." : "즐겨찾기한 항목이 없습니다." }}
        </li>
      </ul>
    </div>
    <ul ref="hiddenListElement" v-if="store.hiddenTabList.value.length > 0" :class="['hidden-tabs', showHiddenList === true ? 'slide-down' : showHiddenList === false ? 'slide-up' : '']" tabindex="-1">
      <li class="close-all-btn"><button @click="closeAllTabs">모든 탭 닫기</button></li>
      <li v-for="(menu, i) in store.hiddenTabList.value" @click="addToTabList(menu)" :key="i">
        {{ menu.title }}
        <button class="delete-btn" @click="removeHiddenTab($event, menu)">
          <i class="btn-close-tab"></i>
        </button>
      </li>
    </ul>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { TAB_ITEM_MARGIN } from "@/constants/tab-item-margin";
import { welcomeMenu } from "@/constants/winus-menus";
import { useTabsStore, userStore } from "@/store";
import { ISelectedTab } from "@/types";
import { computed, onBeforeMount, onDeactivated, onMounted, onUpdated, reactive, ref } from "vue";
import { useRoute, useRouter } from "vue-router";

// Variable Definitions
const route = useRoute();
const router = useRouter();
const store = useTabsStore();

const currentUser = JSON.parse(userStore().getCurrentUser());

// Framework Function Definitions
onBeforeMount(() => {});
onMounted(() => {
  store.loadTabs(currentUser.USER_ID, route.path);
  if (route.path === "/" || route.path === "/welcome") {
    setTimeout(() => {
      addToTabList(welcomeMenu);
    });
  }
});
onUpdated(() => {});
onDeactivated(() => {
  showHiddenList.value = null;
});

// User Function Definitions
const hiddenListElement = ref(null as HTMLElement | null);
const _showHiddenList = ref(null as boolean | null);
const showHiddenList = computed({
  get() {
    return _showHiddenList.value;
  },
  set(val) {
    _showHiddenList.value = val;
    if (val) {
      setTimeout(() => {
        hiddenListElement.value?.focus();
        hiddenListElement.value?.addEventListener("blur", blurOnHiddenElement);
        let moerBtnElem: any = document.querySelector("#menu-tab-page .tab-list > .more-btn");
        if ((hiddenListElement.value?.offsetLeft || 0) > moerBtnElem.offsetLeft) {
          let hiddenListElementValue: any = hiddenListElement.value;
          hiddenListElementValue.style.left = moerBtnElem.offsetLeft + "px";
          hiddenListElementValue.style.right = "auto";
        }
      });
    }
  },
});
const blurOnHiddenElement = (ev: any) => {
  if (ev.relatedTarget && (ev.target.contains(ev.relatedTarget) || ev.relatedTarget.contains(ev.target))) {
    return;
  }
  hiddenListElement.value?.removeEventListener("blur", blurOnHiddenElement);
  if (_showHiddenList.value) {
    showHiddenList.value = false;
  }
};
const addListElement = ref(null as HTMLElement | null);
const _showAddList = ref(null as boolean | null);
const selectedAddListTab = ref("recent" as string);
const addListMenus = reactive({
  value: [] as ISelectedTab[],
});

const showAddList = computed({
  get() {
    return _showAddList.value;
  },
  set(val) {
    _showAddList.value = val;
    if (val) {
      setTimeout(() => {
        addListElement.value?.focus();
        addListElement.value?.addEventListener("blur", blurOnAddListElement);
        let addBtnElem: any = document.querySelector("#menu-tab-page .tab-list > .add-btn");
        if ((addListElement.value?.offsetLeft || 0) > addBtnElem.offsetLeft) {
          let addListElementValue: any = addListElement.value;
          addListElementValue.style.left = addBtnElem.offsetLeft + "px";
          addListElementValue.style.right = "auto";
        }
      });
    }
  },
});
const blurOnAddListElement = (ev: any) => {
  if (ev.relatedTarget && (ev.target.contains(ev.relatedTarget) || ev.relatedTarget.contains(ev.target))) {
    return;
  }
  addListElement.value?.removeEventListener("blur", blurOnAddListElement);
  if (_showAddList.value) {
    showAddList.value = false;
  }
};

const toggleHiddenList = () => {
  showHiddenList.value = !showHiddenList.value;
};
const selectTab = (menu: ISelectedTab) => {
  store.selectTab(menu);
};
const deleteTab = (ev: any, tab: ISelectedTab) => {
  ev.stopPropagation();
  store.deleteTab(tab, currentUser.USER_ID);
  if (store.hiddenTabList.value.length == 0) {
    showHiddenList.value = null;
  }
};
const removeHiddenTab = (ev: any, menu: ISelectedTab) => {
  ev.stopPropagation();
  store.deleteHiddenTab(menu.id, currentUser.USER_ID);
  if (store.hiddenTabList.value.length == 0) {
    showHiddenList.value = null;
  }
};
const addToTabList = (menu: ISelectedTab) => {
  store.addTab(menu, currentUser.USER_ID);
  if (store.hiddenTabList.value.length == 0) {
    showHiddenList.value = null;
  }
  router.push("/" + menu.path);
};

const drag = (e: DragEvent, index: number) => {
  const targetElement = e.target as HTMLLIElement;
  targetElement.classList.add("dragging");
  e.dataTransfer?.setData("tabIndex", String(index));
};

const drop = (e: DragEvent, index: number) => {
  e.preventDefault();
  const tabIndex: any = e.dataTransfer?.getData("tabIndex");
  const sourceElement = document.querySelector("#menu-tab-page > .tab-list > li:nth-of-type(" + (parseInt(tabIndex) + 1) + ")");
  sourceElement?.classList.remove("dragging");
  if (String(index) === tabIndex) {
    return;
  }
  if (tabIndex) {
    store.dropTab(index, +tabIndex, currentUser.USER_ID);
  }
};

const allowDrop = (e: DragEvent, index: number) => {
  const tabIndex = e.dataTransfer?.getData("tabIndex");
  if (String(index) === tabIndex) {
    return;
  }
  e.preventDefault();
};

const closeAllTabs = () => {
  showHiddenList.value = null;
  store.deleteAllTabs(currentUser.USER_ID);
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#menu-tab-page {
  position: relative;
  width: 100%;
  > .tab-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 34px;
    border-bottom: 4px solid $tab-on;
    > li {
      @include flexbox(row, space-between, center, nowrap);

      min-width: 180px;
      border-radius: 8px 8px 0 0;
      background-color: #F1F3F8;
      padding-right: 13px;
      letter-spacing: -1px;
      font-size: 13px;
      font-weight: 500;
      position: relative;
      cursor: pointer;
      &:hover {
        // font-weight: bold;
        color: $main;

        .tooltip {
          display: block;
        }
      }
      &.dragging {
        .tooltip {
          display: none;
        }
        button {
          display: none;
        }
      }
      &.on {
        background-color: $tab-on;
        color: $main;
        font-weight: bold;
        button {
          background-color: rgba($color: white, $alpha: 0.5);

          &:hover {
            background-color: rgba($color: white, $alpha: 1);
          }
        }
      }

      &.welcome {
        font-weight: bold;
        color: $main;
        letter-spacing: -1px;
        padding: 17px 0 0 55px;
        box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, 0.11);
      }

      span {
        @include ellipsis;
        @include flexCenter;
        width: 100%;
        height: 100%;
        padding: 2px 10px;
      }

      button {
        @include flexCenter;
        border-radius: 50%;
        background-color: white;
        width: 20px;
        height: 20px;
        &:hover {
          background-color: #f6f7fc;
        }
      }
      > .tooltip {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-100% - 5px));
        background-color: rgba($color: black, $alpha: 0.8);
        border-radius: 5px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
        cursor: default;
        padding: 5px 7px;
        display: none;
        &::before {
          content: "";
          position: absolute;
          border-bottom: 5px solid #313131;
          border-top: 5px solid transparent;
          border-left: 5px solid #313131;
          border-right: 5px solid transparent;
          transform: rotate(-45deg) translateX(-50%);
          bottom: 1px;
          left: 50%;
        }
        label {
          font-weight: bold;
          color: white;
          font-size: 12px;
          white-space: nowrap;
        }
      }
      &.hidden-for-sizing {
        visibility: hidden;
        position: absolute;
        left: -1000px;
      }
    }
    &.welcome {
      border-bottom: none;
    }

    .add-btn {
      @include flexCenter;
      background-color: $main;
      border-radius: 6px;
      min-width: 25px;
      width: 25px;
      height: 25px;
      margin-top: 5px;
      margin-left: 6px;
    }

    .more-btn {
      @include flexCenter;
      min-width: 25px;
      width: 25px;
      height: 25px;
      margin-top: 5px;
      margin-left: 2px;
      border-radius: 6px;
      background-color: transparent;
      position: relative;
      &.on,
      &:hover {
        background-color: #cde2f7;
      }
    }
    button.close-all-btn {
      position: absolute;
      right: 0;
      bottom: 5px;
      height: 28px;
      padding: 6px 10px;
      border-radius: 10px;
      background-color: rgb(61 97 225 / 10%);
      font-size: 14px;
      font-weight: normal;
      letter-spacing: -1.05px;
      text-align: center;
      color: $font-bk;
      &:hover {
        color: $main;
        font-weight: bold;
      }
    }
  }
  .add-list,
  .hidden-tabs {
    position: absolute;
    top: 35px;
    right: 0;
    min-width: 220px;
    height: 300px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
    background-color: $hidden-list-bg;
    border-radius: 8px;
    z-index: 10;
    padding: 3px 0;
    overflow-y: scroll;
    opacity: 0;
    transform: scaleY(0);
    &.slide-up {
      @include slideUpAnimation;
    }
    &.slide-down {
      @include slideDownAnimation;
    }
    > ul:not(.add-list-tabs) > li,
    > li:not(.close-all-btn) {
      @include flexbox(row, space-between, center, nowrap);
      height: 43px;
      font-size: 14px;
      color: $font-bk;
      letter-spacing: -1.08px;
      padding: 0 6px 0 20px;
      cursor: pointer;
      &:first-child {
        margin-top: 4px;
      }
      &:not(.empty-list):hover {
        background-color: #fff;
        // font-weight: bold;
        color: $main;
        .delete-btn {
          visibility: visible;
        }
      }
      .delete-btn {
        @include flexCenter;
        visibility: hidden;
        background: transparent;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        &:hover {
          background-color: #f6f7fc;
        }
      }
      &.empty-list {
        display: block;
        cursor: default;
        padding: 0;
        text-align: center;
        margin-top: 80px;
      }
    }
    > .close-all-btn {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 2px;
      > button {
        height: 28px;
        padding: 6px 10px;
        border-radius: 10px;
        background-color: rgb(61 97 225 / 10%);
        font-size: 14px;
        font-weight: normal;
        letter-spacing: -1.05px;
        text-align: center;
        color: $font-bk;
        &:hover {
          color: $main;
          font-weight: bold;
        }
      }
    }
    &-tabs {
      display: flex;
      > li {
        font-size: 14px;
        font-weight: normal;
        letter-spacing: -1.08px;
        text-align: center;
        color: $font-bk;
        width: 50%;
        height: 43px;
        line-height: 43px;
        border-bottom: 4px solid #cde2f7;
        cursor: pointer;
        &.on {
          font-weight: bold;
          color: $main;
          border-bottom: 4px solid $main;
        }
      }
    }
  }
}
// Page Image Definitions
.btn-close-tab {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/public/assets/images/btn-close-off.svg") 0% 0% / contain no-repeat;
  &.on {
    background: url("/public/assets/images/btn-close-on.svg") 0% 0% / contain no-repeat;
  }
}
.btn-more-tab {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("/public/assets/images/btn-more-tab.svg") 0% 0% / contain no-repeat;
}
</style>
