<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	multi-tab-modal-layout.vue
 *  Description:    다중탭 팝업의 네비게이션 및 레이아웃을 잡아주는 컴포넌트
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="multi-tab-modal-layout" class="multi-tab-modal-layout">
    <ul class="menu-list">
      <template v-for="(tab, i) in multiTabInfo.route">
        <li
          v-if="disabledTab && disabledTab.isDisabled ? !disabledTab.disabledTabList.includes(tab.title) : true"
          :key="tab.title + i"
          :class="[{ active: route.name === tab.path }, 'menu-item']"
          @click="
            () => {
              changeTab(tab);
            }
          "
        >
          {{ t(`tab-menu-title.${tab.title}`) }}
        </li>
      </template>
    </ul>
    <div class="router-container">
      <router-view v-slot="{ Component, route }">
        <keep-alive ref="keepAlive" :exclude="useTabsStore().removedTabIdsRegex.value">
          <component :key="route.path" :is="Component"/>
        </keep-alive>
      </router-view>
    </div>
  </div>
  <loading-spinner :contentBodyOnly="true" v-if="useLoadingStore().spinners !== 0" />
  <confirm-popup />
</template>

<script setup lang="ts">
import { onBeforeMount } from "vue";

import { useI18n } from "vue-i18n";
import { useRoute, useRouter } from "vue-router";

import { useLoadingStore, useTabsStore } from "@/store";

import loadingSpinner from "@/components/ui/loading-spinner.vue";
import { ConfirmPopup } from "@/popups/index";

const { multiTabInfo, disabledTab } = defineProps<{
  multiTabInfo: any;
  disabledTab?: any;
}>();

const { t } = useI18n();
const router = useRouter();
const route = useRoute();

onBeforeMount(() => {
  const defaultTab = Object.assign({}, multiTabInfo.route[0]);
  defaultTab.path = `${defaultTab.path}?${setQueryString()}`;
  useTabsStore().selectTab(defaultTab, true);
});

function changeTab(tab: any) {
  if (tab.id) {
    useTabsStore().selectTab(tab);

    router.push(`/${tab.path}?${setQueryString()}`);
  }
}

function setQueryString() {
  let queryString = "";

  for (let i = 0; multiTabInfo.queryStringList.length > i; i++) {
    const queryStringValue = new URL(window.location.href).searchParams.get(multiTabInfo.queryStringList[i]);
    if (queryStringValue) {
      if (queryString) {
        queryString = queryString + `&${multiTabInfo.queryStringList[i]}=${queryStringValue}`;
      } else {
        queryString += queryString + `${multiTabInfo.queryStringList[i]}=${queryStringValue}`;
      }
    }
  }
  if (queryString) {
    return queryString;
  }
}
</script>

<style lang="scss" scoped>
.multi-tab-modal-layout {
  background-color: #f9f9f9;
  height: 100%;
  padding: 12px 14px 8px 14px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.menu {
  &-list {
    display: flex;
    gap: 8px;
    border-bottom: 4px solid #cde2f7;
  }
  &-item {
    width: 175px;
    background-color: #ffffff;
    color: $font-bk;
    font-weight: normal;
    font-size: 13px;
    padding: 13px 0 9px 18px;
    letter-spacing: -1px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    &.active {
      background-color: #cde2f7;
      color: #3d61e1;
      font-weight: bold;
    }
  }
}

.router-container {
  /** 'menu-list' 만큼 제외 */
  height: calc(100% - 45px);
}
</style>
