<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	navigator.vue
 *  Description:    레이아웃에서 메뉴 내비게이션을 재공하는 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div
    id="navigator-page"
    tabindex="-1"
    v-click-outside="
      () => {
        if (!isFixedSubMenu) {
          closeSubMenuNav();
        }
      }
    ">
    <div class="main-menu-nav">
      <i class="winus-logo" @click="gotoHome"></i>
      <ul class="main-menu-list" :class="[showMoreMenus || visibleMenuItems >= mainMenus.value.length ? 'full-menus' : '']">
        <li
          v-for="(menu, i) in mainMenus.value"
          :key="menu.id"
          :class="{ selected: selectedMainMenu?.id === menu.id, hidden: !showMoreMenus && i >= visibleMenuItems }"
          @click="selectedMainMenu = menu"
          @mouseenter="mouseEnterOnMenuItem($event, menu)"
          @mouseleave="hoveringMainMenu = null">
          <div :class="`main-menu-icon ${menu.id}`"></div>
        </li>
        <li v-if="showMoreMenus" class="close-more-menus" @click="showMoreMenus = false" title="메뉴 더 보기 닫기">
          <i class="btn-close-more-menus"></i>
        </li>
      </ul>
      <div v-if="hoveringMainMenu" class="tooltip-box" :style="{ top: hoveringMainMenuY + 'px' }">
        <span class="arrow"></span>
        <span class="title">{{ hoveringMainMenu.title }}</span>
      </div>
      <button v-if="!showMoreMenus && visibleMenuItems < mainMenus.value.length" class="more-menus" @click="showMoreMenus = !showMoreMenus" title="메뉴 더 보기">
        <i class="btn-more-menus"></i>
      </button>
      <button class="all-menu-btn" @click="showAllMenus = !showAllMenus" title="전체 메뉴 보기">
        <i class="btn-all-menus"></i>
      </button>
    </div>
    <transition name="expanded" mode="out-in">
      <!-- <div v-if="selectedMainMenu && !showAllMenus" class="sub-menu-nav" ref="subMenuNavRef"> -->
      <div v-if="selectedMainMenu && !showAllMenus" class="sub-menu-nav">
        <!-- {{ showSubNav }} -->
        <header>
          <span>{{ selectedMainMenu?.title }}</span>
          <button :class="[{ isFixed: !isFixedSubMenu }]" @click="isFixedSubMenu = !isFixedSubMenu">
            <i class="btn-close-sub-menu"></i>
          </button>
        </header>
        <ul class="sub-menu-list">
          <li
            :class="{ on: router.currentRoute.value.fullPath.includes(subMenu.id) }"
            v-for="subMenu in selectedMainMenu?.subMenus"
            :key="subMenu.id"
            @click="clickOnSubMenu(subMenu, selectedMainMenu)"
            :title="subMenu.title">
            <span>
              {{ subMenu.title }}
            </span>
            <!-- <i class="btn-favorite" :class="{ on: subMenu.favorite }" @click="toggleMyFavorite(subMenu, $event)"></i> -->
          </li>
        </ul>
      </div>
    </transition>
    <transition name="all" mode="out-in">
      <div v-if="showAllMenus" class="all-menu-nav">
        <header>
          <span>메뉴 전체보기</span
          ><button @click="showAllMenus = false">
            <i class="btn-close-popup"></i>
          </button>
        </header>
        <ul class="main-menu-list">
          <li v-for="mainMenu in mainMenus.value" :key="mainMenu.id" :class="[mainMenu.tooMany ? 'too-many' : '']">
            <span>{{ mainMenu.title }}</span>
            <ul class="sub-menu-list">
              <li
                v-for="subMenu in mainMenu.subMenus"
                :class="{ on: store.selectedTab.value?.path === subMenu.path }"
                :key="subMenu.id"
                :title="subMenu.title"
                @click="clickOnSubMenu(subMenu, mainMenu)">
                {{ subMenu.title }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUpdated, reactive, ref } from "vue";
import { useRouter } from "vue-router";

import { UtilService } from "@/services/util-service";
import { menusStore, useTabsStore, userStore } from "@/store";
import { ISelectedTab, IWinusMenu } from "@/types";

// Variable Definitions
const emits = defineEmits<{ openSubMenusChanged: [value: boolean] }>();

const currentUser = JSON.parse(userStore().getCurrentUser());
const mainMenus = reactive({ value: [] as IWinusMenu[] });
const showMoreMenus = ref(false as boolean);
const _showAllMenus = ref(false as boolean);
const _selectedMainMenu = ref<IWinusMenu | null>(null);
const hoveringMainMenu = ref<IWinusMenu | null>(null);
const hoveringMainMenuY = ref(0 as number);
const visibleMenuItems = ref(0 as number);
const router = useRouter();
const store = useTabsStore();
let isFixedSubMenu = ref(false as boolean); // subMenu 고정 유무 value

// const props = defineProps<{
//   subMenusExpanded: boolean;
// }>();

// Framework Function Definitions
onBeforeMount(async () => {
  try {
    mainMenus.value = await UtilService.setMenusData();

    if (UtilService.isEmptyObject(mainMenus.value)) throw new Error(`Not Found Menu Data...`);

    menusStore().setMenus(mainMenus.value);
  } catch (e) {
    console.log(e);

    /* mainMenus.value 값이 없을때 redirect */
    router.push("/error");
  }
});

onMounted(() => {
  refreshMainMenuNav();
});

onUpdated(() => {});

// User Function Definitions
window.addEventListener("resize", () => {
  refreshMainMenuNav();
});

const refreshMainMenuNav = async () => {
  let listElem = document.querySelector(".main-menu-list");
  let listHeight = listElem?.clientHeight || 0;
  let itemHeight = (listElem?.querySelector("li")?.clientHeight || 50) + 6;
  visibleMenuItems.value = Math.trunc(listHeight / itemHeight);
};

const selectedMainMenu = computed({
  get() {
    return _selectedMainMenu.value;
  },
  set(val) {
    if (!_selectedMainMenu.value || !val) {
      emits("openSubMenusChanged", true);
    }
    _selectedMainMenu.value = val;
    _showAllMenus.value = false;
  },
});
const mouseEnterOnMenuItem = (ev: any, menuItem: IWinusMenu) => {
  hoveringMainMenu.value = menuItem;
  const element = document.querySelector("#app") || document.body;
  const zoom: number = Number(window.getComputedStyle(element).zoom);
  hoveringMainMenuY.value = ev.target.getBoundingClientRect().top / zoom;
};
const showAllMenus = computed({
  get() {
    return _showAllMenus.value;
  },
  set(val) {
    if (_showAllMenus.value && !val) {
      isFixedSubMenu.value = false;
      closeSubMenuNav();
    }
    _showAllMenus.value = val;
  },
});

/* 하위메뉴 네비게이션바 닫힐 때 발생하는 함수 */
const closeSubMenuNav = () => {
  emits("openSubMenusChanged", false);
  _selectedMainMenu.value = null;
};

const clickOnSubMenu = (menu: ISelectedTab, mainMenu: IWinusMenu) => {
  menu.mainMenuTitle = mainMenu.title;
  store.addTab(menu, currentUser.USER_ID);
  useTabsStore().stopWatch();
  router.push("/" + menu.path);
};

const gotoHome = () => {
  router.push("/welcome");
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#navigator-page {
  display: flex;
  position: relative;
  // height: 100vh;
  height: 100%;
  outline: none;
  .main-menu-nav {
    width: 60px;
    background-color: $secondary;
    text-align: center;
    position: relative;
    z-index: 103;
    > i.winus-logo {
      margin-top: 27px;
      margin-bottom: 16px;
      cursor: pointer;
    }
    > .main-menu-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: calc(100% - 190px);
      overflow: scroll;
      &.full-menus {
        height: calc(100% - 130px);
      }
      &::-webkit-scrollbar {
        display: none; /* 크롬, 사파리, 오페라, 엣지 */
      }
      > li {
        @include flexCenter();
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 50px;
        margin: 3px auto;
        border-radius: 8px;
        &.selected {
          background-color: $main;

          &:hover {
            background-color: $main;
          }
        }
        &.hidden {
          display: none;
        }
        &:hover {
          background-color: #374a8c;
          .tooltip-box {
            display: block;
          }
        }
      }
    }
    .tooltip-box {
      position: absolute;
      left: 75px;
      margin-top: 17px;
      z-index: 104;
      .arrow {
        position: absolute;
        left: -8px;
        width: 16px;
        height: 16px;
        transform: rotate(45deg);
        background-color: #000;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
      }
      .title {
        position: absolute;
        top: -3px;
        background-color: #000;
        color: #fff;
        padding: 0 10px;
        height: 22.5px;
        line-height: 26px;
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;
        letter-spacing: -0.92px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
      }
    }
    .all-menu-btn {
      position: absolute;
      bottom: 17px;
      left: calc(50% - 18px);
      height: 36px;
      border-radius: 50%;
      background-color: #35488b;
    }
  }
  .expanded-enter-active,
  .expanded-leave-active {
    transition: transform 0.5s ease;
  }
  .expanded-enter-from,
  .expanded-leave-to {
    transform: translateX(-100%);
  }
  .all-enter-active,
  .all-leave-active {
    transition: transform 0.5s ease;
  }

  .all-enter-from,
  .all-leave-to {
    transform: translateX(-100%);
  }
  .more-menus {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    width: 39.5px;
    height: 50px;
  }
}
.sub-menu-nav {
  position: absolute;
  width: 220px;
  height: 100%;
  left: 60px;
  background-color: #374a8c;
  z-index: 102;
  > header {
    @include flexbox(row, space-between, center, nowrap);
    padding-left: 14px;
    padding-right: 7px;
    height: 64px;
    span {
      letter-spacing: -1.8px;
      margin-top: 8px;
      color: #fff;
      font-size: 18px;
      font-weight: 800;
    }
    button {
      @include flexCenter();
      width: 36px;
      height: 36px;
      background-color: transparent;
      &:hover {
        background-color: #475a9d;
        border-radius: 50%;
      }
    }
  }

  .sub-menu-list {
    height: calc(100% - 80px);
    overflow-y: scroll;
    padding-bottom: 20px;
    &::-webkit-scrollbar {
      width: 0px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: white, $alpha: 0.38);
      border-radius: 6.5px;
    }
    > li {
      @include flexCenter();
      height: 40px;
      font-size: 13px;
      letter-spacing: -1px;
      color: #fff;
      padding: 0 16px;
      cursor: pointer;
      width: 100%;
      &.on,
      &.on:hover {
        font-weight: bold;
        background-color: $main;
      }
      span {
        @include ellipsis;
        display: block;
        width: 100%;
        animation: fadeInText 0.7s ease;
      }
      @keyframes fadeInText {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      &:hover {
        background-color: #475a9d;
        span {
          width: calc(100% - 10px);
        }
        .btn-favorite {
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }
  .btn-favorite {
    display: none;
    margin-left: auto;
    margin-right: -10px;
  }
}
.all-menu-nav {
  position: absolute;
  background-color: #fff;
  left: 60px;
  z-index: 102;
  width: 1130px;
  height: 100%;
  box-shadow: 3px 0 15px 3px rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
  > header {
    @include flexbox(row, space-between, center, nowrap);
    color: $font-bk;
    letter-spacing: -1.23px;
    font-weight: bold;
    margin-bottom: 20px;
    button {
      @include flexCenter();
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: rgba($color: $main, $alpha: 0.1);

      &:hover {
        background-color: rgba($color: $main, $alpha: 0.3);
      }
    }
  }
  > .main-menu-list {
    @include flexbox(row, flex-start, stretch, wrap);
    width: calc(100% + 50px);
    height: calc(100% - 85px);
    margin: 0 -25px;
    padding: 0 25px;
    padding-top: 28px;
    overflow-y: scroll;
    > li {
      margin-top: 20px;
      margin-right: 38px;
      height: 317px;
      font-size: 12px;
      font-weight: bold;
      width: fit-content;
      &.too-many {
        height: 460px;
      }
      > .sub-menu-list {
        @include flexbox(column, flex-start, stretch, wrap);
        height: 90%;
        align-content: flex-start;
        font-size: 13px;
        font-weight: normal;
        border-top: 1px solid $all-menu-border;
        margin-top: 13px;
        cursor: pointer;
        width: fit-content;
        > li {
          @include ellipsis;
          margin-top: 12px;
          margin-right: 20px;
          width: 150px;
          &.on {
            color: $main;
            font-weight: bold;
            text-decoration: underline;
          }
          &:hover {
            text-decoration: underline;
            color: $main;
          }
        }
      }
    }
  }
}
.isFixed {
  opacity: 0.5;
}

// Page Image Definitions
.btn-more-menus {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("/public/assets/images/btn-menu-more.svg") 0% 0% / contain no-repeat;
}
.btn-close-more-menus {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("/public/assets/images/btn-menu-less.svg") 0% 0% / contain no-repeat;
}
.btn-all-menus {
  width: 36px;
  height: 36px;
  display: inline-block;
  background: url("/public/assets/images/btn-menu-full.svg") 0% 0% / contain no-repeat;
}

.btn-close-sub-menu {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url("/public/assets/images/fix-icon.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.main-menu-icon.order {
  background: url("/public/assets/images/btn-menu-order.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.operation {
  background: url("/public/assets/images/btn-menu-management.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.delivery {
  background: url("/public/assets/images/btn-menu-delivery.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.inspection {
  background: url("/public/assets/images/btn-menu-check.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.stock {
  background: url("/public/assets/images/btn-menu-stock.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.statistics {
  background: url("/public/assets/images/btn-menu-statistics.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.cost {
  background: url("/public/assets/images/btn-menu-cost.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.production {
  background: url("/public/assets/images/btn-menu-production.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.client {
  background: url("/public/assets/images/btn-menu-client.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.packing {
  background: url("/public/assets/images/btn-menu-packing.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.dashboard {
  background: url("/public/assets/images/btn-menu-dashboard.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.interface {
  background: url("/public/assets/images/btn-menu-interface.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.wcs {
  background: url("/public/assets/images/btn-menu-wcs.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.mobile {
  background: url("/public/assets/images/btn-menu-mobile.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.master-data {
  background: url("/public/assets/images/btn-menu-master-data.svg") 0% 0% / contain no-repeat;
}
.main-menu-icon.setting {
  background: url("/public/assets/images/btn-menu-setting.svg") 0% 0% / contain no-repeat;
}
</style>
