search-container

<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:    search-container.vue
 *  Description:    search영역 input컴포넌트들을 담고있는 list 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <slot name="modal_slot"></slot>
  <div class="search-container" @keyup.prevent="keyupOnMyPage">
    <div class="form" ref="fullScreenRef" :class="[isMore ? 'all-open' : 'not-all-open', useSetting && data.length - 1 === getShowInputCount() ? 'margin' : '']">
      <!-- 검색조건 아이템 -->
      <div class="condition-container">
        <slot name="search_input_slot" style="width:100%"></slot>
      </div>

      <div v-if="useSearch" class="button-container">
        <!-- 검색버튼 -->
        <button
          :id= "uniqueKey ? `btn-search-comp-${uniqueKey}` : 'btn-search-comp'"
          class="btn-search-comp"
          v-if="!(serAuth === 'N')" @click.prevent="searchRowData">
          <i class="btn-search"></i>
        </button>

        <!--초기화 버튼-->
        <div 
          :id="uniqueKey ? `btn-refresh-${uniqueKey}` : 'btn-refresh'"
          class="btn-refresh"
          v-if="!(unUsedRefreshButton)" @click.prevent="flushSearchCondition">
          <i :title="$t('button-name.init-search')"></i>
        </div>

        <!-- 상세조건 여/닫기 버튼 -->
        <div
          class="btn-more"
          v-if="useMore && (getNotHiddenInputCount() ? getNotHiddenInputCount() > getShowInputCount() : data.length !== getShowInputCount())"
          @click.stop.prevent="setIsMore(!isMore)">
          <span>
            {{ isMore ? $t("page-search.close-detail") : $t("page-search.open-detail") }}
          </span>
          <i :class="['btn-drop-filter', isMore ? 'opened' : '']"></i>
        </div>
      </div>
    </div>
    <div v-if="!useSearch && useMore" class="info">
      <!-- Info Detail Button -->
      <div class="info-more" @click.stop.prevent="setIsMore(!isMore)">
        <span>상세조건 {{ isMore ? $t("page-search.close-detail") : $t("page-search.open-detail") }}</span>
        <i :class="['btn-drop-info', isMore ? 'opened' : '']"></i>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { UtilService } from "@/services/util-service";
import { useSearchConditionStore, useSelectedDataStore, userStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import type { ISearchInput } from "@/types";
import { onActivated, onDeactivated, onMounted, onUpdated, ref, toRef, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

//#region :: Variable Definitions

interface Props {
  /** 한 개 메뉴에서 동일한 컴포넌트를 복수 개 사용할 때의 식별자 (Event 및 Component ID로 적용) */
  uniqueKey?: string;

  /** 검색조건 정보 1 */
  data: ISearchInput[];

  /** 검색조건 정보 2 */
  SEARCH_INPUT?: any[];

  /** 검색조건 정보 3 */
  searchInputDef?: any;

  /** 화면 사용자 설정 사용여부 : 플로팅 버튼 : 화면설정 */
  useSetting?: boolean;

  /** 검색조건 영역 확장 여부 */
  isMore?: any;

  /** 검색조건 영역 확장 사용여부 */
  useMore?: boolean;

  /** 검색조건 초기화 버튼 사용여부 */
  unUsedRefreshButton?: boolean;

  /** 검색권한 (Y, N) */
  serAuth?: string;

  /** 검색버튼 사용여부 */
  useSearch?: boolean;
}

const props = withDefaults(defineProps<Props>(),{
  useSearch: true,
  unUsedRefreshButton: true,
  useSetting: false,
  isMore: false,
  useMore: false,
});

const uniqueKey = props.uniqueKey;
const data = props.data;
const useSearch = props.useSearch;
const useSetting = props.useSetting;
const SEARCH_INPUT = props.SEARCH_INPUT;
const unUsedRefreshButton = props.unUsedRefreshButton;
const serAuth = props.serAuth;
const useMore = props.useMore;
const searchInputDef = props.searchInputDef;
const isMore = toRef(props, "isMore");
const eventBus = useEventBusStore();
const emits = defineEmits<{
  setIsMore: [value: boolean];
}>();

const inactive = ref<boolean>(false);
const { t } = useI18n();

//#endregion

//#region :: Framework Function Definitions

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

onUpdated(() => {
  getAllLengthRange();
});

onMounted(() => {
  const initialValue = Object.assign({}, useSearchConditionStore().getSearchInputValue());
  useSearchConditionStore().setInitialSearchInputValue(initialValue);
  getAllLengthRange();

  // 마운트시 체크박스 or 라디오버튼  default로 체크되어있어야 되는 경우
  if (data && data.length > 0) {
    for (let i = 0; data.length > i; i++) {
      if (data[i].checkboxAutoChecked && Object.hasOwn(data, "checkboxAutoChecked") && data[i].checkboxCheckedValue && Object.hasOwn(data, "checkboxCheckedValue")) {
        for (let i = 0; data[i].checkboxAutoChecked!.length > i; i++) {
          const id = data[i].ids[Number(data[i].checkboxAutoChecked![i])];
          const value = data[i].checkboxCheckedValue![Number(data[i].checkboxAutoChecked![i])];
          changeCheckboxValue(null, data[i], id, value);
        }
      }
    }
  }

  //! 검색버튼 활성화 조건
  if(!(serAuth === 'N') && useSearch){
    const searchCompId = uniqueKey ? `btn-search-comp-${uniqueKey}` : 'btn-search-comp';
    let btnSearchComp: HTMLElement|null = document.getElementById(searchCompId);
    let optionButtonArea = 0;
    
    if(!unUsedRefreshButton){
      optionButtonArea += 23;   // maring-top + height
    }

    if(isMore.value || useMore){
      optionButtonArea += 23;   // maring-top + height
    }
    
    btnSearchComp!.style.height = `calc(100% - ${optionButtonArea}px)`;
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
      setTimeout(() => {
        if (
          !(UtilService.isEmptyObject(userStore().getCurrentUser()) || UtilService.isEmptyObject(userStore().getWindowRoll()) || userStore().getExpire() < Date.now()) &&
          window.location.pathname !== "/login"
        ) {
          setIsMore(false);
        }
      });
    }
  }
});

//#endregion

//#region User Function Definitions

function getNotHiddenInputCount() {
  if (searchInputDef) {
    const filteredArray = searchInputDef.value.filter((input: any) => {
      return !input.hidden;
    });
    return filteredArray.length;
  } else {
    return null;
  }
}

function setIsMore(value: boolean) {
  emits("setIsMore", value);
}

function keyupOnMyPage(ev: any) {
  if (ev.key === "Enter" && ev.target.id === "search-container-input") {
    searchRowData();
  }
}

function getAllLengthRange() {
  let allListLengthRange = 0;
  if (searchInputDef) {
    for (let i = 0; searchInputDef.value.length > i; i++) {
      if (!searchInputDef.value[i].hidden) {
        const widthType = searchInputDef.value[i].width;
        allListLengthRange += widthType === "half" ? 15 : widthType === "triple" ? 10 : 60 / 8;
      }
    }
  }
}

function getShowInputCount() {
  let lengthRange = 0;
  let count = 0;

  for (let i = 0; data.length > i; i++) {
    const halfValue = 15;
    const tripleValue = 10;
    const quarterValue = 7.5;
    if (60 > lengthRange && data[i].width === "half") {
      // lengthRange += data[i].width === "half" ? halfValue : tripleValue;
      lengthRange += halfValue;
      count++;
      // 60 < 60 경우에도 초과가 아니기때문에 false 가됨
      if (60 < lengthRange && data[i].width === "half") {
        lengthRange -= halfValue;
        count--;
      } else if (60 < lengthRange && data[i].width === "triple") {
        lengthRange -= tripleValue;
        count--;
      } else if (60 < lengthRange && data[i].width === "quarter") {
        lengthRange -= quarterValue;
        count--;
      }
    } else if (60 > lengthRange && data[i].width === "triple") {
      // lengthRange += data[i].width === "half" ? halfValue : tripleValue;
      lengthRange += tripleValue;
      count++;
      // 60 < 60 경우에도 초과가 아니기때문에 false 가됨
      if (60 < lengthRange && data[i].width === "half") {
        lengthRange -= halfValue;
        count--;
      } else if (60 < lengthRange && data[i].width === "triple") {
        lengthRange -= tripleValue;
        count--;
      } else if (60 < lengthRange && data[i].width === "quarter") {
        lengthRange -= quarterValue;
        count--;
      }
    } else if (60 > lengthRange && data[i].width === "quarter") {
      // lengthRange += data[i].width === "half" ? halfValue : tripleValue;
      lengthRange += quarterValue;
      count++;
      // 60 < 60 경우에도 초과가 아니기때문에 false 가됨
      if (60 < lengthRange && data[i].width === "half") {
        lengthRange -= halfValue;
        count--;
      } else if (60 < lengthRange && data[i].width === "triple") {
        lengthRange -= tripleValue;
        count--;
      } else if (60 < lengthRange && data[i].width === "quarter") {
        lengthRange -= quarterValue;
        count--;
      }
    } else if (60 > lengthRange && data[i].width === "entire") {
      count++;
    }
  }
  return count;
}

// pinia store 대신 event bus 를 사용하여 common-form.vue 에서 이벤트 처리
function searchRowData(e ?:Event) {
  const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(searchInputDef?.value ?? data, useSearchConditionStore(), useSelectedDataStore());
  if (searchInputRequiredValidation) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
  }
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);

  if(UtilService.isEmptyString(uniqueKey)){
    eventBus.emit("search-data");
  }
  else{
    eventBus.emit(`search-data-${uniqueKey}`);
  }
}

function flushSearchCondition(ev: any) {
  // useOptionDataStore().resetAllOptionData();
  useSearchConditionStore().resetAllSearchData();
  useSelectedDataStore().resetAllSelectedData();
  // searchRowData();
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  ev.stopPropagation();
}

function changeCheckboxValue(e: Event | null, data: any, id: string, value: string) {
  if (data.isRadioBox) {
    if (e) {
      const target = e.target as HTMLInputElement;
      const checkboxValue = target.checked;
      if (checkboxValue) {
        useSearchConditionStore().changeSearchInputValue(id, value);
      }
    } else {
      useSearchConditionStore().changeSearchInputValue(id, value);
    }
  } else {
    if (e) {
      const target = e.target as HTMLInputElement;
      const checkboxValue = target.checked;
      if (checkboxValue) {
        useSearchConditionStore().changeSearchInputValue(id, value);
      } else {
        useSearchConditionStore().removeSearchInputValue(id);
      }
    } else {
      useSearchConditionStore().changeSearchInputValue(id, value);
    }
  }
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-container {
  min-width: 1100px;
  height: auto;
  padding: 10px 20px 5px 20px;
  border-bottom: solid 1px $border;

  > .form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

    > .condition-container {
      @include flexbox(row, flex-start, center, wrap);
      width: 100%;
      transition: all 0.3s ease;
      &.all-open {
        max-height: 1000px;
        &.margin {
          margin-bottom: 12px;
        }
      }

    > .button-container {
      @include flexbox(row, flex-start, center, wrap);
        min-width: 62px;
        height: 100%;
        min-height: inherit;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }

  .button-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #b7b7b7;
    bottom: -30px;
  }

  .btn-search-comp {
    min-width: 62px;
    border-radius: 10px;
    background-color: $main;
    cursor: pointer;
  }

  .btn-refresh{
    margin-top: 3px;
    min-height: 20px;
    cursor: pointer;
    > i {
      display: inline-block;
      width: 10px;
      height: 14px;
      background: url("/public/assets/images/btn-reset-filter.svg") 0% 0% / contain no-repeat;
    }
  }

  .btn-more {
    margin-top: 3px;
    min-height: 20px;
    text-align: center;
    font-size: 12px;
    align-items: center;
    color: #fff;
    letter-spacing: -0.92px;
    display: flex;
    cursor: pointer;
    > i {
      transition: all 0.2s ease;
    }
  }

  .btn-setting-filter {
    position: absolute;
    right: 23px;
    top: -23px;
    background-color: transparent;
  }

  .info {
    display: flex;
    align-content: center;
    align-items: center;
  }

  .info-more {
    margin: 0 auto;
    text-align: center;
    letter-spacing: -0.92px;
    font-size: 12px;
    color: $font-bk;
    display: flex;
    align-items: center;
    cursor: pointer;
    > i {
      transition: all 0.2s ease;
    }
  }
}


</style>
