<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST400/page.vue
 *  Description:    랙보충(신규) 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.06. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header> </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="gridStatisticsInfoRef" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST400" };
</script>
<script setup lang="ts">
import { computed, onMounted, onUnmounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import commonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/operation/WMSST400/column-defs";
import { ApiService } from "@/services/api-service";
import { IOZReportArgument, OZReport } from "@/services/report-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const gridTotalData = reactive({ value: {} as any });
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};
const gridHeaderTitle = computed(() => {
  return t("menu-header-title.WMSST400");
});
const gridStatisticsInfoRef = ref(GRID_STATISTICS_INFO);
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  "rack-replenishment": fn_fillRackPopup,
  excel: excelExport,
};

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//랙보충리스트 : WMSST400Q1 =================================================================
//랙보충리스트
async function fn_fillRackPopup() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  const params: { [key: string]: any } = {
    selectIds: selectedRows.length,
  };
  selectedRows.forEach((row, index) => {
    params[`SUB_LOT_ID${index}`] = row.SUB_LOT_ID;
    params[`LOC_CD${index}`] = row.LOC_CD;
    params[`FIX_LOC_CD${index}`] = row.FIX_LOC_CD;
    params[`STOCK_QTY${index}`] = row.STOCK_QTY;
    params[`LC_ID${index}`] = row.LC_ID;
    params[`ITEM_CD${index}`] = row.ITEM_CD;
    params[`ITEM_NM${index}`] = row.ITEM_NM;
    params[`MAKE_QTY${index}`] = row.MAKE_QTY;
    params[`ITEM_BAR_CD${index}`] = row.ITEM_BAR_CD;
    params[`BOX_BAR_CD${index}`] = row.BOX_BAR_CD;
    params[`ITEM_DATE_END${index}`] = row.ITEM_DATE_END;
    params[`FIX_LOC_NM${index}`] = row.FIX_LOC_NM;
    params[`CUST_LOT_NO${index}`] = row.CUST_LOT_NO;
  });

  try {
    const response = await ApiService.postApi("/rest/WMSST400/selectHistoryInsert.action", params, {});
    if (response.status && response.result.errCnt === 0) {
      const title = "랙보충 확인";
      const fileName = "WMSST400Q1B";
      const reportName = "WMSST400Q1.ozr";
      const odiName = "WMSST400Q1";

      let ozReport = new OZReport({
        url: "/WMSST400Q1.action",
        title: title,
        fileName: fileName,
        reportName: reportName,
        odiName: odiName,
      } as IOZReportArgument);

      ozReport.SetOdiParam({
        vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom,
        vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo,
        vrLcId: UtilService.getCurrentLocation(),
        vrCustId: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
        vrCustNm: useSelectedDataStore().getSelectedModalData().owner.CUST_NM,
        vrSubLotId: selectedRows.map((row) => row.SUB_LOT_ID).join(","),
        vrUuid: response.result.UUID,
      });

      let asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_InPopup", "1000", "800") as any;
      asppop.focus();
    } else {
      useToast().warning(response.result.MSG);
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.rack-replenishment(new)"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  // 페이지 ID를 포함한 이벤트 이름으로 리스너 등록
  eventBus.on("search-finished", getGridStatisticsData);

  myPageId.value = useTabsStore().selectedTab.value?.id;
  const data = UtilService.getOptionApiData("WMSST400");
  const res = await ApiService.postApi(`/rest/WINUS/WMSST400.action`, {}, data);

  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  // 페이지 ID를 포함한 이벤트 이름으로 리스너 제거
  eventBus.off("search-finished", getGridStatisticsData);
});

// User Function Definitions

// 그리드 상단 통계 데이터
async function getGridStatisticsData(apiParams: any) {
  const gridStatisticsData = await ApiService.postApi("", apiParams, {});
  if (gridStatisticsData.status) {
    gridTotalData.value = gridStatisticsData.result.LIST;
  }
}

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSST400/list.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
