<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG090/page.vue
 *  Description:    LOT별유효기간재고현황 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header> </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
        @onSelectionChanged="onSelectionChanged"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div>
        <ul style="color: #63656a; line-height: 1.5; font-size: 12px; font-weight: 600">
          <li>1. 정상재고 - 입고일 경과 3개월 미만&nbsp;&nbsp;&nbsp;&nbsp;2. 관리대상재고 - 입고일 3개월 이상 6개월 미만&nbsp;&nbsp;&nbsp;&nbsp;3. 장기성 재고 - 입고일 6개월 이상</li>
        </ul>
      </div>

      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG090" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { default as CommonForm, default as commonForm } from "@/page/common-page/common-form.vue";
import commonSearch from "@/page/common-page/common-search.vue";
import { useConfirmStore, useOptionDataStore, useSelectedDataStore } from "@/store";
import { GridApi } from "ag-grid-community";

import { onMounted, ref } from "vue";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";

import { GridUtils } from "@/lib/ag-grid/utils.ts";
import { useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams } from "ag-grid-community";
import { onUnmounted } from "vue";

import { useCallModalIdStore } from "@/store";

// Variable Definitions
const ConfirmStore = useConfirmStore();

const { t } = useI18n();
const eventBus = useEventBusStore();
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, UtilService.getOptionApiData("WMSST051_rn"));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  save: fn_save,
  excel: excelExport,
};

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

function saveValidation(selectedRows: any) {
  for (const row of selectedRows) {
    const lockStatus = row.LOCK_YN;
    if (!lockStatus || (lockStatus !== "Y" && lockStatus !== "N")) {
      return false;
    }
  }
  return true;
}
/* 저장 */
async function fn_save() {
  // 편집 종료
  gridApi.value?.stopEditing();
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  if (!saveValidation(selectedRows)) {
    return useToast().warning(t("common-toast.LOCK_YN-is-required-Y-or-N"));
  }

  await ConfirmStore.confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    if (selectedRows && selectedRows?.length > 0) {
      let data: any = { selectIds: 1 };
      for (let i = 0; selectedRows.length > i; i++) {
        data["LOCK_YN" + [i]] = selectedRows[i].LOCK_YN;
        data["SUB_LOT_ID" + [i]] = selectedRows[i].SUB_LOT_ID;
        data["LOC_ID" + [i]] = selectedRows[i].LOC_ID;
        data["RITEM_ID" + [i]] = selectedRows[i].RITEM_ID;
        data["STOCK_ID" + [i]] = selectedRows[i].STOCK_ID;
        data["OWNER_CD" + [i]] = selectedRows[i].OWNER_CD;
        data["CUST_LOT_NO" + [i]] = selectedRows[i].CUST_LOT_NO;
        data["ST_GUBUN" + [i]] = "UPDATE";
        data["selectIds"] = selectedRows.length;
      }

      let result = await ApiService.postApi("/rest/WMSTG070/save.action", data, data);
      if (result.status) {
        if (result.result.errCnt !== 0) {
          useToast().error(t(result.result.MSG));
        } else {
          useToast().success(t("common-toast.saved"));
        }
      }
    }
  } catch (err) {
    return console.log(err);
  }
  gridApi.value?.deselectAll();
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.lot-expiry-date-inventory-status"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

// User Function Definitions

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSTG070/list.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

::v-deep .grid-header {
  background: none !important;
}

.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
