<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG733_3/page.vue
 *  Description:    통계관리/출고검수조회 - 박스추천조회 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :gridResultField="'list'"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData">
      <div class="grid-header">
        {{ `${gridHeaderTitle}` }}
        <span class="grid-statistics-value">
          {{ `(${t("grid-statistics-title.total")} : ${gridRowItemCount})` }}
        </span>
      </div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG733_3" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import { default as CommonForm, default as commonForm } from "@/page/common-page/common-form.vue";
import commonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore, userStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { computed, onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const { t } = useI18n();
const gridHeaderTitle = computed(() => {
  return t("grid-statistics-title.recommended-box-inquiry");
});
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const controlBtnRef = ref(CONTROL_BTN);
const gridApi = ref<GridApi | undefined>();
const ConfirmStore = useConfirmStore();
let gridRowItemCount = ref(0);
let searchGridData: Function;
const eventBus = useEventBusStore();
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  excel: excelExport,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res1 = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));
  if (res1.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res1.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res1.result);
  }
  const res2 = await ApiService.postApi("/WMSCM162_rn.action", {}, UtilService.getOptionApiData("WMSCM162_rn"));
  if (res2.result.selectBoxInfos) {
    res2.result.selectBoxInfos.POOLGRP.unshift({
      CODE_CD: "",
      CODE_NM: t("select-options.all"),
    });
    OptionDataStore.setOptionData(res2.result.selectBoxInfos);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

// 저장
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  if (!useSelectedDataStore().getSelectedModalData().owner) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.owner") }));
  }

  await ConfirmStore.confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let bodyData: any = {
      _fullpath: "통계관리 &gt; 출고검수조회",
      tempCnt: String(selectedRows.length),
    };
    for (let i = 0; selectedRows.length > i; i++) {
      bodyData["LC_ID" + [i]] = userStore().getUserLocation().LC_ID;
      bodyData["CUST_ID" + [i]] = useSelectedDataStore().getSelectedModalData().owner.CUST_ID;
      bodyData["ORD_ID" + [i]] = selectedRows[i].ORD_ID;
      bodyData["ORD_SEQ" + [i]] = selectedRows[i].ORD_SEQ;
      bodyData["ORD_TYPE" + [i]] = selectedRows[i].ORD_TYPE;
      bodyData["RECOM_SEQ" + [i]] = selectedRows[i].RECOM_SEQ;
      bodyData["RECOM_BOX_ID" + [i]] = selectedRows[i].POOL_ID;
      bodyData["RECOM_BOX_NO" + [i]] = selectedRows[i].RECOM_BOX_NO;
      bodyData["FA_ISSUE_LABEL" + [i]] = selectedRows[i].FA_ISSUE_LABEL;
    }
    const result = await ApiService.postApi("/WMSTG733/updateRecomBox_rn.action", {}, bodyData);

    if (result.status) {
      if (result.result.errCnt !== 0) {
        useToast().error(t(result.result.MSG));
      } else {
        useToast().success(t("common-toast.registered"));
        searchGridData();
      }
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    return console.log(err);
  }
}

//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.box-recommendation-inquiry"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

/**
 * 그리드 조회 parameter 수정
 * @param apiParams 그리드 조회 parameter
 */
function onApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "통계관리 &gt; 출고검수조회";
  return apiParams;
}

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSTG733/listE3_rn.action", null, apiParams, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
</style>
