<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP210_2/page.vue
 *  Description:    품목라벨(오토라벨러) 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.06. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header> </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header"></div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOP210_2" };
</script>
<script setup lang="ts">
import { onMounted, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import commonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/operation/WMSOP210_2/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, GridApi, GridReadyEvent } from "ag-grid-community";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const eventBus = useEventBusStore();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  "printing-complete": fn_labelConfirm,
  printing: fn_printAll_V2,
};

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  myPageId.value = useTabsStore().selectedTab.value?.id;
  const data = UtilService.getOptionApiData("WMSOP210_2");
  const res = await ApiService.postApi(`/WINUS/WMSOP210_2.action`, {}, data);

  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

// User Function Definitions

function fn_labelConfirm() {
  // var param = jQuery("form[name='frm_list2']").serialize();
}

function fn_printAll_V2() {
  // if(spdList2.getRowCount() == 0){
  // 	alert("$!lang.getText('조회 된 데이터가 없습니다.')");
  // 	return false;
  // }
  // if(confirm("$!lang.getText('출력하시겠습니까')")){
  // 	var fromDt = jQuery("#vrSrchReqDtFrom2").val();
  // 	var toDt = jQuery("#vrSrchReqDtTo2").val();
  // 	var itemCd = jQuery("#vrSrchRitemId2").val();
  // 	var custId = jQuery("#vrSrchPtnrCd").val();
  // 	var workSeq = jQuery("#vrOrderGrpId").val();
  // 	var strParameter  = [];
  // 	strParameter.push(fromDt);
  // 	strParameter.push(toDt);
  // 	strParameter.push(itemCd);
  // 	strParameter.push(custId);
  // 	strParameter.push(workSeq);
  // 	//jsp 파라미터
  // 	var fileName = "WINUSOP211R2RB";
  // 	var reportName = "WINUSOP211R2.ozr";
  // 	var odiName = "WINUSOP211R2";
  // 	var title = '$!lang.getText("label")';
  // 	var arrKey = ['LC_ID','FROM_DT','TO_DT','ITEM_CD','CUST_ID','WORK_SEQ'];
  // 	var param="";
  // 	param = "?strParameter=";
  // 	param += "&arrKey=" + arrKey;
  // 	param += "&LC_ID=" + jQuery("select[name='SVC_INFO'] option:selected").val();
  // 	param += "&FROM_DT=" + fromDt;
  // 	param += "&TO_DT=" + toDt;
  // 	param += "&ITEM_CD=" + itemCd;
  // 	param += "&CUST_ID=" + custId;
  // 	param += "&WORK_SEQ=" + workSeq;
  // 	param += "&fileName="+fileName;
  // 	param += "&reportName="+reportName;
  // 	param += "&odiName="+odiName;
  // 	param += "&title="+title;
  // 	var url     = "/common/OZreport8.action" + param;
  // 	var width 		= "1000";	//900 MIN 1024
  // 	var height 		= "800";		//크기다시 재조정할 필요있음
  // 	var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
  // 	asppop.focus();
  // }
  //  var param2= jQuery("form[name='frm_list2']").serialize();
  //  var url2 = "/WMSOP210/updateAutoLabel.action";
  //  jQuery.post(url2, param2, function(data){
  // 	if(data.errCnt <= 0 ){
  // 			//alert("");
  // 		}else{
  // 			//alert("");
  // 		}
  //  }).fail(function(xhr, textStatus){
  // 	if(xhr.status == 404){
  // 		location.href=('/index.html');
  // 	}
  //  });
}

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSOP210_2/list.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
