<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST030_1/page.vue
 *  Description:    재고/재고명의변경(신규)_부분재고 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      :getContextMenuItems="getContextMenuItems"
      :context="{ ...GRID_CELL_SEARCH_BUTTON }">
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && btnData.title === 'change-of-owner'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'change-of-owner')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST030_1" };
</script>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/stock/WMSST030_1/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { useOptionDataStore } from "@/store/options-data";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, GRID_CELL_SEARCH_BUTTON, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META, gridOptionsMeta } from "./input.meta";

//#region ::  Variable Definitions

const { t } = useI18n();
const eventBus = useEventBusStore();
const myPageId = ref<string>();
const gridHeaderTitle = computed(() => {
  return t(`grid-title.inventory-list`);
});
const gridApi = ref<GridApi | undefined>();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const gridControlBtnRef = ref(CONTROL_BTN);

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

const eventHandler: Record<string, Function> = {
  "change-of-owner": changeOfOwner,
  excel: excelExport,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSMS090_rn");
  const res = await ApiService.postApi("/WINUS/WMSMS090_rn.action", {}, data);
  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onMounted(() => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  searchGridData = commonFormRef.value!.searchGridData;
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

// 명의 변경
async function changeOfOwner() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi.value);

  if (!saveEditGridRequiredValidation.status) {
    gridApi.value?.ensureColumnVisible("NO", undefined);
    gridApi.value?.ensureIndexVisible(saveEditGridRequiredValidation.line - 1, null);
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.name }));
  }

  for (let i = 0; selectedRows.length > i; i++) {
    // 기존 수량보다 양도 수량을 더 크게 입력한 경우
    if (selectedRows[i].SELL_QTY < selectedRows[i].TO_QTY) {
      return useToast().warning(t("common-toast.not-available-change-of-owner"));
    }
    // 출고예정수량이 존재하는 경우
    if (selectedRows[i].OUT_EXP_QTY > 0) {
      return useToast().warning(t("common-toast.not-available-change-of-owner-2"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "재고관리 &gt; 재고명의변경(신규)",
      vrSrchCustCdE1: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,
      vrSrchCustIdE1: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
      vrSrchCustNmE1: useSelectedDataStore().getSelectedModalData().owner.CUST_NM,
      vrSrchRitemCdE1: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
      vrSrchRitemIdE1: useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || "",
      vrSrchRitemNmE1: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NM || "",
      vrSrchWhCdE1: useSelectedDataStore().getSelectedModalData().warehouse?.WH_CD || "",
      vrnSrchWhIdE1: useSelectedDataStore().getSelectedModalData().warehouse?.WH_ID || "",
      vrSrchWhNmE1: useSelectedDataStore().getSelectedModalData().warehouse?.WH_NM || "",
      vrSrchLocCdE1: useSelectedDataStore().getSelectedModalData().location?.LOC_CD || "",
      vrSrchLocIdE1: useSelectedDataStore().getSelectedModalData().location?.LOC_ID || "",
      vrSrchLocNmE1: useSelectedDataStore().getSelectedModalData().location?.LOC_CD || "",
      ROW_COUNT: String(selectedRows.length),
    };
    for (let i = 0; selectedRows.length > i; i++) {
      data["I_CUST_CD_" + [i]] = useSelectedDataStore().getSelectedModalData().owner.CUST_CD;
      data["I_FROM_RITEM_CD_" + [i]] = selectedRows[i].SELL_ITEM_CD;
      data["I_TO_RITEM_CD_" + [i]] = selectedRows[i].TO_RITEM_CD;
      data["I_WORK_QTY_" + [i]] = selectedRows[i].TO_QTY;
      data["I_SUB_LOT_ID_" + [i]] = selectedRows[i].SUB_LOT_ID;
      data["I_CHANGE_WORK_MEMO_" + [i]] = selectedRows[i].REASON || "";
    }

    const result = await ApiService.postApi("/WMSST030/excute_rn.action", {}, data);
    if (result.status) {
      if (result.result.errCnt > 0) {
        throw new Error(result.result.MSG);
      }
      useToast().success(t("common-toast.registered"));
      searchGridData();
    }
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  } catch (err) {
    console.log(err);
    useToast().error(t("common-toast.error"));
  }
}

/**
 * 엑셀
 */
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.change-of-title(partial inventory)"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

// context menu
function getContextMenuItems(params: any) {
  const result = [
    {
      name: t("grid-context-menu-title.fill-selection-row"),
      action: async () => {
        fillSelectionRow(params);
      },
      cssClasses: ["redFont", "bold"],
    },
  ];

  return result;
}

/**
 * [Context Menu] 선택행 채우기
 * - 우측의 동적으로 입력 가능한 상품코드, 상품명, 수량 열에만 해당됨
 *
 * @param params
 */
function fillSelectionRow(params: any) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const selectedNode = gridApi.value?.getSelectedNodes();

  const column = params.column.colId;

  const availableColumnList = ["TO_RITEM_CD", "TO_RITEM_NM", "TO_QTY", "REASON"];
  if (!availableColumnList.includes(column)) {
    return;
  }
  if (!Object.hasOwn(selectedRows[0], column)) {
    return;
  }

  let value = selectedRows[0][column];

  for (const node of selectedNode!) {
    node.setDataValue(column, value);
  }

  useSelectedDataStore().changeSelectedDataList(gridOptionsMeta.api?.getSelectedRows());
}

//#endregion

//#region ::  Grid Event CallBack Definitions

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST100/selectStockList_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
</style>
