<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST120/bottom-grid.vue
 *  Description:    재고/재고조사 - 하단 그리드 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <control-container>
      <div v-for="btnData in controlBtn.value" :key="btnData.title">
        <control-button v-if="btnData['display'] === 'Y' && btnData.title === 'save' && Object.keys(selectedItems.value).length > 0" :data="btnData" />
        <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save')" :data="btnData" />
      </div>
    </control-container>
    <div class="grid-header">{{ t("grid-title.detailed-stocktaking-list") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { onBeforeMount, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { BOTTOM_GRID_COLUMN_DEF } from "./column-defs";
import { BOTTOM_GRID_CONTROL_BTN } from "./input";

// Variable Definitions
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("02_WMSST120");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const { t } = useI18n();
const selectedItems = reactive({ value: [] } as { value: any });
const { currentSelectedTopGridData } = defineProps<{
  currentSelectedTopGridData: { value: any };
}>();
const controlBtn = reactive({ value: BOTTOM_GRID_CONTROL_BTN as any });

onMounted(() => {
  setTimeout(() => {
    UtilService.getAuthOnButton("WMSST", "WMSST120", menusStore().getMenus(), controlBtn);
  });
});

// Framework Function Definitions
onBeforeMount(async () => {
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

// 하단 그리드 검색 - 상단 그리드의 선택된 값이 변경될때 호출
watch(currentSelectedTopGridData, () => {
  searchGridData();
});

// User Function Definitions
/***************************************************** 페이지 기본 *****************************************************/
// 검색 - 그리드 데이터 조회
async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    const apiParams = {
      CYCL_STOCK_ID: currentSelectedTopGridData.value.CYCL_STOCK_ID,
    };
    gridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridOptions.api, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            UtilService.setGridData("server-side", gridOptions.api, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridOptions.api, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridOptions.api, null, params);
        }
      },
    });
    useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  }
}

// 검색시 bodyData를 셋팅해주는 함수
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: ["filterMenuTab"],
    filter: "agSetColumnFilter",
  },
  headerHeight: 32,
  rowHeight: 32,
  rowSelection: "multiple",
  columnDefs: BOTTOM_GRID_COLUMN_DEF,
  // onGridReady: onGridReady,
  // onRowSelected: onSelectionChanged,
  enableRangeSelection: true,
  suppressRowClickSelection: true,
  allowContextMenuWithControlKey: true,
  enableCellEditingOnBackspace: false,
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  onPaginationChanged: onPaginationChanged,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

/***************************************************** 페이지별 특정 기능 정의 *****************************************************/
// 저장 버튼 클릭시 호출되는 이벤트
async function save() {
  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  const bodyData = {
    _fullpath: "",
    selectIds: 1,
  } as any;

  for (let i = 0; selectedItems.value.length > i; i++) {
    bodyData["ST_GUBUN" + [i]] = "UPDATE";
    bodyData["CYCL_STOCK_ID" + [i]] = selectedItems.value[i].CYCL_STOCK_ID || "";
    bodyData["WORK_SEQ" + [i]] = selectedItems.value[i].WORK_SEQ || "";
    bodyData["REAL_QTY" + [i]] = selectedItems.value[i].REAL_QTY || "";
    bodyData["DIFF_REASON" + [i]] = selectedItems.value[i].DIFF_REASON || "";
  }

  const res = await ApiService.postApi("", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 79px);
}
.grid {
  &-container {
    width: 100%;
    height: 50%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
