<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST120/form.vue
 *  Description:    재고/재고조사 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div class="form-container" ref="formContainerRef">
    <top-grid :changeCurrentSelectedTopGridData="changeCurrentSelectedTopGridData" />
    <bottom-grid :currentSelectedTopGridData="currentSelectedTopGridData" />
  </div>
</template>

<!-------------------------------å
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onMounted, watch, onActivated, onDeactivated, reactive } from "vue";

import { useFormHeightStore } from "@/store";

import topGrid from "./top-grid.vue";
import bottomGrid from "./bottom-grid.vue";

// Variable Definitions
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트
const inactive = ref<boolean>(false);

const currentSelectedTopGridData = reactive({ value: {} } as { value: any });

// Framework Function Definitions
onMounted(() => {
  useFormHeightStore().setSearchCompHeight;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
// 상단 그리드의 선택된 값을 업데이트
function changeCurrentSelectedTopGridData(data: any) {
  currentSelectedTopGridData.value = data;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  position: relative;
  flex-direction: column;
}
</style>
