<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST120/page.vue
 *  Description:    현재고 조회(NEW) 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <!-- :context="{ ...MASTER_GRID_CELL_SELECT_BOX, ...MASTER_CELL_RENDERER_INFO }"> -->

      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :onRowClicked="onRowClicked"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged"
        :context="[]">
        <div class="grid-header">{{ masterGridTitleRef }}</div>

        <control-container>
          <div class="center">
            <info-date-input
              :data="infoInput"
              :focusOutUpdateData="() => {}"
              @changedEvent="
                (e) => {
                  const target = e.target as HTMLInputElement;
                  execDate = target.value;
                }
              " />
            <control-button :data="button" @clicked="stocktaking" />
          </div>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :getContextMenuItems="getContextMenuItems"
        :onApiParamsChanged="onDetailApiParamsChanged"
        :onRowClicked="onDetailRowClicked"
        :getServerData="getDetailData"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :context="{}"
        :modules="[ExcelExportModule]">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST120" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";

import { infoDateInput } from "@/components/input";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { IInfoInput } from "@/types";
import { IRowNode, RowClickedEvent, RowSelectedEvent } from "ag-grid-community";
import { ExcelExportModule, ExcelExportParams, GridApi } from "ag-grid-enterprise";
import { computed, onBeforeMount, onMounted, onUnmounted, reactive, Ref, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { DETAIL_CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_META, MASTER_CONTROL_BTN, MASTER_GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";
const { t } = useI18n();
// const searchConditionStore = useSearchConditionStore();

const button = { title: "execution", colorStyle: "danger", paddingStyle: "bold", image: "", authType: "INS_AUTH" };
const infoInput: IInfoInput = {
  ids: ["DATE_EXE"],
  rowDataIds: ["DATE_EXE"],
  title: "execution-date",
  type: "date",
  width: "full",
  size: "single",
  required: true,
};
//master grid 선택시(복수 체크)
const selectedItems = ref<Record<string, any>[]>([]);

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});

//디테일 그리드 전체
const detailItemList = ref<Record<string, any>[] | undefined>([]);

// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
// const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const eventBus = useEventBusStore();
const masterGridTitleRef = t("menu-header-title.WMSST120");
const detailGridTitleRef = t("menu-header-title.WMSST120_detail");
const selectedDetailItems = ref<Record<string, any>[]>([]);
const selectedDetailRowItem = reactive({ value: {} } as { value: any });
const execDate = ref("");
const formTheme = {
  "--flex-direction": "column",
};
// const showFilter = ref(false);

// Framework Function Definitions

onBeforeMount(() => {});

onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi("/rest/WINUS/WMSST120.action", {}, UtilService.getOptionApiData("WMSST120"));
  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }
  eventBus.on("search-data-detail", searchDetail);
  eventBus.on("search-finished", afterGridSearchFinished);
});

onUnmounted(() => {
  eventBus.off("search-data-detail", searchDetail);
  eventBus.off("search-finished", afterGridSearchFinished);
});

function sessionStorageReady() {}

function searchDetail() {
  detailFormRef.value.searchGridData();
}
function onRowClicked() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
function onSelectionChanged(e: any) {
  let isSelected = e.event.node.isSelected();
  let event: RowSelectedEvent = e.event;
  event.api.redrawRows();
  selectedItems.value = masterGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    searchDetail();
  }
}

function afterGridSearchFinished(params: any) {
  if (params.gridId.includes("master") >= 0) {
    afterMasterGridSearchFinished(params);
  } else {
    afterDetailGridSearchFinished(params);
  }
}
function afterMasterGridSearchFinished(params: any) {}

function afterDetailGridSearchFinished(params: any) {}

// User Function Definitions

function onMasterApiParamsChanged(apiParams: any) {
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  detailGridApi.value?.deselectAll();
  const selectedMasterItem = GridUtils.getSelectedRowData(unref(masterGridApi) || new GridApi())[0];
  apiParams = {
    CYCL_STOCK_ID: Object.hasOwn(selectedMasterItem, "CYCL_STOCK_ID") ? selectedMasterItem.CYCL_STOCK_ID : "",
  };
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  const res = await ApiService.postApi("/rest/WMSST120/list.action", apiParams, bodyData.value, false);
  return res;
}

async function getDetailData(apiParams: any, bodyData: any) {
  let res = {} as any;
  res = await ApiService.postApi("/rest/WMSST120/detail.action", apiParams, bodyData.value, false);
  if (res.result.list.length > 0 || !res.result.list) {
    detailItemList.value = res.result.list;
  }
  return res;
}

function onDetailGridSelectionChanged(e: any) {
  selectedDetailRowItem.value = e.event.data;
  changeEditable(e.event);
  selectedDetailItems.value = detailGridApi.value?.getSelectedRows() as Record<string, any>[];
}

// 특정 셀의 값에 따라 행을 선택하는 함수
function autoSelectRowsBasedOnCellValue(node: IRowNode, field: string) {
  const status = node.data[field];
  if (status) {
    // 값이 있는지 확인
    node.setSelected(true); // 행 선택
  }
}

//선택된 행의 특정셀의 editable속성 변경
function changeEditable(event: RowSelectedEvent) {
  if (event.node.isSelected()) {
    event.node.setData({ ...event.data, editable: true });
    const rowIndex = event.node.rowIndex;
    if (rowIndex != null) {
      const focusedCell = event.api.getFocusedCell();
      const focusedCellNm = focusedCell?.column.getColId();
      if (focusedCell && focusedCellNm !== "REAL_QTY" && focusedCellNm !== "DIFF_REASON") {
        event.api.startEditingCell({
          rowIndex: rowIndex,
          colKey: "REAL_QTY",
        });
      }
    }
    // 필요한 경우 다른 열도 추가 가능
  } else {
    if (!event.data["REAL_QTY"]) {
      event.node.setData({ ...event.data, editable: false });
    }
    autoSelectRowsBasedOnCellValue(event.node, "REAL_QTY");
  }
}

function onDetailRowClicked(event: RowClickedEvent) {
  const node = event.node;
  node.setSelected(!node.isSelected());
  selectedDetailItems.value = detailGridApi.value?.getSelectedRows() as Record<string, any>[];
}
/**
 * Event Layer
 */

/**
 * 저장 요청
 * @param formFields formField를 Array에 따라 순번처리한 데이터
 */
async function requestService(url: string, formFields: any, confirmMessage: string, successMsg?: string, failMsg?: string) {
  successMsg = successMsg || "완료.";
  failMsg = failMsg || "";
  await useConfirmStore().confirm(confirmMessage, t("button-name.confirm"));

  try {
    const resp = await ApiService.postApi(url, formFields, {});
    if (resp.status && resp.result && resp.result.MSG) {
      useToast().error(resp.result.MSG || failMsg);
      eventBus.emit("search-data");
    } else {
      useToast().success(successMsg); //다국어 처리
      eventBus.emit("search-data");
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}
// master
const masterEventHandler: Record<string, Function> = {
  excel: masterExport,
};

// 메인그리드 실행
async function stocktaking() {
  masterGridApi.value?.stopEditing();
  detailGridApi.value?.stopEditing();
  if (!execDate.value) {
    return useToast().warning(t("common-toast.excute-date-is-null"));
  }
  requestService("WMSST120/updateSp.action", { DATE_EXE: execDate.value }, t("confirm-message.stocktaking"));
}

function masterExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("menu-header-title.WMSST120"),
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}

// detail
const detailEventHandler: Record<string, Function> = {
  save: saveStocktacking,
  printing: detailExport,
};

async function saveStocktacking() {
  masterGridApi.value?.stopEditing();
  detailGridApi.value?.stopEditing();
  setTimeout(() => {
    const items: any = detailGridApi.value?.getSelectedRows() as Record<string, any>[];
    if (!items || items.length === 0) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }
    if (!listValidation(items)) return;
    let data = {} as any;
    for (let i = 0; items.length > i; i++) {
      data["ST_GUBUN" + [i]] = items[i].ST_GUBUN;
      data["CYCL_STOCK_ID" + [i]] = items[i].CYCL_STOCK_ID;

      data["WORK_SEQ" + [i]] = items[i].WORK_SEQ;
      data["REAL_QTY" + [i]] = items[i].REAL_QTY;
      data["DIFF_REASON" + [i]] = items[i].DIFF_REASON;
    }
    data.selectIds = items.length;
    requestService("/WMSST120/save.action", data, t("confirm-message.save"));
  }, 1000);
}

function detailExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("menu-header-title.WMSST120_detail"),
  };
  detailGridApi.value?.exportDataAsExcel(excelExportParams);
}

// context menu
function getContextMenuItems(params: any) {
  const result = [
    {
      name: t("grid-context-menu-title.all-applications"),
      action: async () => {
        allApplications(params);
      },
      cssClasses: ["redFont", "bold"],
    },
  ];

  return result;
}

// 일괄적용 context메뉴가 열린 셀이 위치한 값으로 selected된 해당 열의 값이 변경됨
function allApplications(params: any) {
  const selectedRows: any = selectedDetailItems.value;

  const column = params.column.colId;
  const value = params.value;

  for (let i = 0; selectedRows.length > i; i++) {
    detailGridApi.value!.applyTransaction({ update: [{ ...selectedRows[i], ...{ [column]: value } }] });
  }
}

function listValidation(list: Array<any>): boolean {
  if (list && list.length > 0) {
    var tmpText = ["실사수량", "차이이유"];
    var tmpVal;
    var tmpLeng = [10, 100];

    for (var i = 0; i < list.length; i++) {
      var row = list[i];
      var REAL_QTY = row.REAL_QTY;
      var DIFF_REASON = row.DIFF_REASON;

      tmpVal = [REAL_QTY, DIFF_REASON];

      /* 특수문자 체크 */
      for (var j = 0; j < tmpVal.length; j++) {
        if (!UtilService.cfn_checkString(tmpVal[j])) {
          return false;
        }
      }

      /* 실사수량 최대 길이 , 숫자인지*/
      if (REAL_QTY.length > 10) {
        useToast().warning(`${row.RNUM}번째행의 ${REAL_QTY}은 최대 ${tmpLeng[0]}까지 가능`);
        return false;
      } else if (!UtilService.cfn_isNumber(Number(REAL_QTY))) {
        useToast().warning(`${row.RNUM}번째행의 ${tmpText[0]}은 숫자만입 력가능`);
        return false;
      }

      /* 차이이유 최대 길이 */
      if (DIFF_REASON.length > 100) {
        useToast().warning(`${row.RNUM}번째행의 ${tmpText[1]}은 최대 ${tmpLeng[1]}까지 가능'`);
        return false;
      }
    }
  }
  return true;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid > div:first-child {
    flex-grow: 2; /* Takes 2 parts of the available space */
  }
  &-grid > div:last-child {
    flex-grow: 3; /* Takes 2 parts of the available space */
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}

.center {
  position: absolute;
  left: 50%;
  width: 300px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
}
</style>
