<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST120/search.vue
 *  Description:    재고/재고조사 상단의 검색 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <date-range :data="DATE_RANGE_INFO" />
    <search-container
      @setIsMore="setIsMore"
      :isMore="isMore"
      :data="SEARCH_INPUT"
      :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)"
      :use-setting="false"
      :ser-auth="page.value['SER_AUTH'] || 'Y'">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in SEARCH_INPUT" :key="i">
          <search-container-input
            :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
            :data="props"
            :columnDefs="MODAL_COLUMN_DEFS?.[props.title]"
            :modalData="SEARCH_MODAL_INFO?.[props.title]"
            :pageInfo="INFO" />
        </template>
      </template>
    </search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onMounted, reactive } from "vue";
import { menusStore, useFormHeightStore } from "@/store";
import { UtilService } from "@/services/util-service";
import dateRange from "@/components/layout/date-range.vue";
import { SearchContainer } from "@/components/layout";
import { SearchContainerInput } from "@/components/input";
import { MODAL_COLUMN_DEFS } from "./column-defs";
import { SEARCH_MODAL_INFO, INFO, SEARCH_INPUT, DATE_RANGE_INFO } from "./input";

// Variable Definitions
const searchComponentRef = ref(null as null | HTMLDivElement); // .search-area 돔 정보
let isMore = ref(false);
const page = reactive({ value: {} as any });
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT) as number;

// Framework Function Definitions
onMounted(() => {
  if (searchComponentRef.value) {
    useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value.clientHeight) - 50);
  }
  setTimeout(() => {
    page.value = UtilService.getAuthOnButton("WMSST", "WMSST120", menusStore().getMenus(), null);
  });
});

// User Function Definitions
function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight);
  }, 400);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-area {
  padding-top: 15px;
}
</style>
