<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST120/top-grid.vue
 *  Description:    재고/재고조사 - 상단 그리드 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <control-container>
      <div class="execution-content">
        <span>{{ t("control-button-name.execution-date") }}</span>
        <input v-model="executionDateValue" type="date" name="" id="" />
        <button @click="execution">{{ t("control-button-name.execution") }}</button>
      </div>
      <div v-for="btnData in controlBtn.value" :key="btnData.title">
        <control-button v-if="btnData['display'] === 'Y'" :data="btnData" />
      </div>
    </control-container>
    <div class="grid-header">{{ t("grid-title.stocktaking-list") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { ExcelExportParams, GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { TOP_GRID_COLUMN_DEF } from "./column-defs";
import { SEARCH_INPUT, TOP_GRID_CONTROL_BTN } from "./input";

// Variable Definitions
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("01_WMSST120");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const inactive = ref<boolean>(false);
const executionDateValue = ref(UtilService.getToday());
const controlBtn = reactive({ value: TOP_GRID_CONTROL_BTN as any });
const { changeCurrentSelectedTopGridData } = defineProps<{
  changeCurrentSelectedTopGridData: (data: any) => void;
}>();

onMounted(() => {
  setTimeout(() => {
    UtilService.getAuthOnButton("WMSST", "WMSST120", menusStore().getMenus(), controlBtn);
  });
});

// Framework Function Definitions
onBeforeMount(async () => {
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

// 검색 watch
watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
/***************************************************** 페이지 기본 *****************************************************/
// 검색 - 그리드 데이터 조회
async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    const searchConditions = SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());

    gridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridOptions.api, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            UtilService.setGridData("server-side", gridOptions.api, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridOptions.api, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridOptions.api, null, params);
        }
      },
    });
    useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  }
}

// 검색시 bodyData를 셋팅해주는 함수
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

// 선택, 체크상태가 바뀔때 호출되는 함수
function onSelectionChanged() {
  changeCurrentSelectedTopGridData(gridOptions.api?.getSelectedRows()[0]);
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: ["filterMenuTab"],
    filter: "agSetColumnFilter",
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: TOP_GRID_COLUMN_DEF,
  rowSelection: "single",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  onPaginationChanged: onPaginationChanged,
  onSelectionChanged: onSelectionChanged,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

/***************************************************** 페이지별 특정 기능 정의 *****************************************************/
// 실행 버튼 클릭시 호출되는 이벤트
async function execution() {
  const bodyData = {
    DATE_EXE: executionDateValue.value,
  };
  const res = await ApiService.postApi("", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 엑셀 버튼 클릭시 호출되는 이벤트
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; TOP_GRID_COLUMN_DEF.length > i; i++) {
    if (Object.hasOwn(TOP_GRID_COLUMN_DEF[i], "export")) {
      columnKeys.push(TOP_GRID_COLUMN_DEF[i].field);
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name."),
    columnKeys,
  };

  gridOptions.api?.exportDataAsExcel(excelExportParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 79px);
}
.grid {
  &-container {
    width: 100%;
    height: 50%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
.execution-content {
  margin-right: 70px;
  display: flex;
  align-items: center;
  gap: 5px;

  > span {
    font-size: 13px;
    font-weight: bold;
  }
  > input {
    @include dateInputStyle(0px);
    letter-spacing: -1px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid $border2;
    padding: 0 15px;
    font-weight: bold;
  }
  > button {
    @include btnColorStyle($main);

    box-sizing: border-box;
    padding: 6px 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
  }
}
</style>
