<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOM010/page.vue
 *  Description:    거래명세표 발행 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onApiParamsChanged"
        :getServerData="getMasterData"
        :onSelectionChanged="onSelectionChanged"
        @cellClicked="cellClicked"
        :context="{}">
        <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
        <div class="grid-header"></div>
        <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="gridStatisticsInfoRef" :gridTotalData="gridTotalData" />
        <control-container>
          <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onApiParamsChanged"
        :getServerData="getDetailData"
        @cellClicked="cellClicked"
        :context="{}">
        <div class="grid-header"></div>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOM010" };
</script>
<script setup lang="ts">
import { onMounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "@/page/order/WMSOM010/column-defs";
import { ApiService } from "@/services/api-service";
import { useCallModalIdStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, GridApi } from "ag-grid-community";
import { CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_META, GRID_STATISTICS_INFO, MASTER_GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();
const eventBus = useEventBusStore();
const disableSearchEvent = true;
const masterGridApi = ref<GridApi | undefined>();
const detailGridApi = ref<GridApi | undefined>();
const gridTotalData = reactive({ value: {} as any });
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  "confirmation-of-order": fn_ordConfirm,
  "trading-statement": fn_tradingStat,
  "total-trading-statement": fn_tradingStatAll,
};
const gridStatisticsInfoRef = ref(GRID_STATISTICS_INFO);
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const formTheme = {
  "--flex-direction": "column",
};

/* 주문확정 */
function fn_ordConfirm() {
  //배송일기준 검색일때만 가능
  //배송일 기준 콤보박스 변경시 락
  //alert("개발 중 입니다. (관리자 문의)");
  // var vrSelDtType = jQuery('#vrSelDtType').val();
  // if(vrSelDtType !== 'DLV_DT'){
  // 	alert("배송일 기준에만 주문확정을 사용할 수 있습니다.");
  // }else{
  // 	var vrCalDlvDt = jQuery('#vrCalDlvDt').val();
  // 	var url = "/WMSOM010/confirmOrder.action";
  // 	var param = {"vrCalDlvDt":vrCalDlvDt};
  // 	jQuery.ajax({
  // 		url: url,
  // 		type: 'POST',
  // 		data: param,
  // 		contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
  // 		error		: function(_, textStatus, errorThrown) {
  // 			alert("$!lang.getText('처리 중 오류.')"+"($!lang.getText('관리자 문의. (조회 오류)'))");
  // 		},
  // 		success		: function(data) {
  // 			//console.log(data);
  // 			if(data.O_MSG_CODE){
  // 				alert('주문이 확정되었습니다.');
  // 			}else{
  // 				alert('주문 확정이 실패하였습니다.');
  // 			}
  // 		},
  // 		beforeSend	: function() {cfn_loadingModalOpen1();},
  // 		complete	: function() {cfn_loadingModalClose1();}
  // 	});
  // }
}

/* 거래명세서 출력 */
function fn_tradingStat() {
  // if(spdList.getRowCount() == 0){
  // 	alert("$!lang.getText('조회 된 데이터가 없습니다.')");
  // 	return false;
  // }
  // var ordNo = jQuery('form[name="frm_list"] input[name="vrSrchOrdNo"]').val();
  // if(cfn_isEmpty(ordNo)){
  // 	alert("$!lang.getText('선택된 데이터가 없습니다.')");
  // 	return false;
  // }
  // if(confirm("$!lang.getText('출력하시겠습니까')")){
  // 	var strParameter  = [];
  // 	strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchOrdNo']").val());
  // 	strParameter.push(jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val());
  // 	strParameter.push(jQuery("form[name='frm_list'] select[name='vrSelDtType'] option:selected").val());
  // 	strParameter.push(jQuery("form[name='frm_list'] select[name='vrSrchTempType'] option:selected").val());
  // 	strParameter.push(jQuery("form[name='frm_list'] select[name='productType'] option:selected").val());
  // 	//jsp 파라미터
  // 	var fileName = "WINUSOM010R2RB";
  // 	var reportName = "WINUSOM010R2.ozr";
  // 	var odiName = "WINUSOM010R2";
  // 	var title = '$!lang.getText("label")';
  // 	var arrKey = ['ORD_NO','DT','DT_TYPE','TEMP_TYPE','PRODUCT_TYPE','FILE_TAIL'];
  // 	var param="";
  // 	param = "?strParameter=";
  // 	param += "&arrKey=" + arrKey;
  // 	param += "&TEMP_TYPE=" + jQuery("form[name='frm_list'] select[name='vrSrchTempType'] option:selected").val();
  // 	param += "&PRODUCT_TYPE=" + jQuery("form[name='frm_list'] select[name='productType'] option:selected").val();
  // 	param += "&DT=" + jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val();
  // 	param += "&DT_TYPE=" + jQuery("form[name='frm_list'] select[name='vrSelDtType'] option:selected").val();
  // 	param += "&ORD_NO=" + jQuery("form[name='frm_list'] input[name='vrSrchOrdNo']").val();
  // 	param += "&FILE_TAIL=_ord'";
  // 	param += "&fileName="+fileName;
  // 	param += "&reportName="+reportName;
  // 	param += "&odiName="+odiName;
  // 	param += "&title="+title;
  // 	var url     = "/common/OZreport8.action" + param;
  // 	var width 		= "1000";	//900 MIN 1024
  // 	var height 		= "800";		//크기다시 재조정할 필요있음
  // 	var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
  // 	asppop.focus();
  /*
		var param 		= "?strParameter="+strParameter;
		var url         = "/WMSOM010pop2.action"+param;
		var width 		= "1000";	//900 MIN 1024
		var height 		= "800";		//크기다시 재조정할 필요있음
		var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
		asppop.focus();
		*/
}

/* 전체거래명세서 출력 */
function fn_tradingStatAll() {
  // if(spdList.getRowCount() == 0){
  // 	alert("$!lang.getText('조회 된 데이터가 없습니다.')");
  // 	return false;
  // }
  // if(confirm("$!lang.getText('출력하시겠습니까')")){
  // 	var strParameter  = [];
  // 	strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val());
  // 	strParameter.push(jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val());
  // 	strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchTrcNum']").val());
  // 	strParameter.push(jQuery("form[name='frm_list'] select[name='vrSrchTempType'] option:selected").val());
  // 	strParameter.push(jQuery("form[name='frm_list'] select[name='vrSelDtType'] option:selected").val());
  // 	strParameter.push(jQuery("form[name='frm_list'] select[name='productType'] option:selected").val());
  // 	var vrSrchRoutDesc = jQuery("form[name='frm_list'] select[name='vrSrchRoutDesc'] option:selected ").val();
  // 	strParameter.push(vrSrchRoutDesc);
  // 	if(!cfn_isEmpty(vrSrchRoutDesc)){
  // 		strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo']").val());
  // 		strParameter.push(jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo2']").val());
  // 	}
  // 	//jsp 파라미터
  // 	var fileName = "WINUSOM010R2RB";
  // 	var reportName = "WINUSOM010R2.ozr";
  // 	var odiName = "WINUSOM010R2";
  // 	var title = '$!lang.getText("label")';
  // 	var arrKey = ['TEMP_TYPE','TRC_NUM','CD_PARTNER','PRODUCT_TYPE','DT','DT_TYPE','ROUTDESC','ROUTDESC_NO','ROUTDESC_NO2','FILE_TAIL'];
  // 	var param="";
  // 	param = "?strParameter=";
  // 	param += "&arrKey=" + arrKey;
  // 	param += "&TEMP_TYPE=" + jQuery("form[name='frm_list'] select[name='vrSrchTempType'] option:selected").val();
  // 	param += "&TRC_NUM=" + jQuery("form[name='frm_list'] input[name='vrSrchTrcNum']").val();
  // 	param += "&CD_PARTNER=" + jQuery("form[name='frm_list'] input[name='vrSrchPtnrCd']").val();
  // 	param += "&PRODUCT_TYPE=" + jQuery("form[name='frm_list'] select[name='productType'] option:selected").val();
  // 	param += "&DT=" + jQuery("form[name='frm_list'] input[name='vrCalDlvDt']").val();
  // 	param += "&DT_TYPE=" + jQuery("form[name='frm_list'] select[name='vrSelDtType'] option:selected").val();
  // 	param += "&ROUTDESC=" +  jQuery("form[name='frm_list'] select[name='vrSrchRoutDesc'] option:selected").val();
  // 	param += "&ROUTDESC_NO=" + jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo']").val();
  // 	param += "&ROUTDESC_NO2=" + jQuery("form[name='frm_list'] input[name='vrSrchRoutDescNo2']").val();
  // 	//param += "&ORD_NO=" + jQuery("form[name='frm_list'] input[name='vrSrchOrdNo']").val();
  // 	param += "&FILE_TAIL=_ord'";
  // 	param += "&fileName="+fileName;
  // 	param += "&reportName="+reportName;
  // 	param += "&odiName="+odiName;
  // 	param += "&title="+title;
  // 	var url     = "/common/OZreport8.action" + param;
  // 	var width 		= "1000";	//900 MIN 1024
  // 	var height 		= "800";		//크기다시 재조정할 필요있음
  // 	var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
  // 	asppop.focus();
  /*
		기존 
		var param 		= "?strParameter="+strParameter;
		var url         = "/WMSOM010pop.action"+param;
		var width 		= "1000";	//900 MIN 1024
		var height 		= "800";		//크기다시 재조정할 필요있음
		var asppop 		= cfn_openPop2(url, "fn_InPopup", width, height);
		asppop.focus();
		*/
}
function onSelectionChanged() {
  detailFormRef.value.searchGridData();
}
function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

// Framework Function Definitions
onMounted(async () => {
  //event로 처리가 필요하나 ???
  masterGridApi.value = masterFormRef.value.gridApi;
  detailGridApi.value = detailFormRef.value.gridApi;

  myPageId.value = useTabsStore().selectedTab.value?.id;
  // const data = UtilService.getOptionApiData("WMSOM010");
  // const res = await ApiService.postApi(`/WINUS/WMSOM010.action`, {}, data);
  // if (res.result.selectBoxInfos) {
  //   OptionDataStore.setOptionData(res.result.selectBoxInfos);
  // } else {
  //   OptionDataStore.setOptionData(res.result);
  // }
});

// User Function Definitions

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}
async function getMasterData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSOM010/list_rn.action", apiParams, bodyData.value, false);
}

async function getDetailData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSOM010/list.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
