<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	popups / user-report.vue
 *  Description:    문의하기 팝업
 *  Authors:        dhkim
 *  Update History:
 *                  2024.11 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <!-- 모달 타이틀 영역-->
    <h3 class="title">
      {{ $t("modal-title.user-report") }}
    </h3>
    <!-- 입력 : 상세 -->
    <common-search :searchContainerMeta="SEARCH_META" class="search-area">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header> </template>
    </common-search>
    <!-- 입력 : 텍스트 -->
    <div class="content-container">
      <Editor v-model="textValue" editorStyle="min-height: 450px"/>
    </div>
    <!--버튼영역-->
    <div class="buttons">
      <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
      <button class="save" @click="() => save()">{{ t("button-name.save") }}</button>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "user-report" };
</script>
<script setup lang="ts">
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service.ts";
import { UtilService } from "@/services/util-service.ts";
import { useSearchConditionStore, useSelectedDataStore, useTabsStore, userStore } from "@/store/index.ts";
import Editor from 'primevue/editor';
import { onBeforeMount, onMounted, ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { useToast } from "vue-toastification";
import { SEARCH_INPUT, SEARCH_META } from './input.meta.ts';

//#region ::  Variable Definitions

const { t } = useI18n();
const myPageId = ref<string>("user-report");
let regDt = ref<string>("");
let lcNm = ref<string>("");
let custNm = ref<string>("");
let menu = ref<string>("");
let userName = ref<string>("");
let userTel = ref<string>("");
let userEmail = ref<string>("");
let reportTitle= ref<string>("");

const template = ref<string>(/*html*/`
  <h2><strong># 문의 내용</strong></h2><p><strong style="color: rgb(187, 187, 187);"><u>(해당 화면 및 상세 내용)</u></strong></p><p><br></p><p><br></p>
`);

const textValue = ref(template.value);

watch(useSearchConditionStore()._searchInputValue, (newVal, oldVal) => {
  if (newVal) {
    regDt.value = newVal.value["user-report"].regDt;
    custNm.value = newVal.value["user-report"].CUST_NM;
    userName.value = newVal.value["user-report"].userName;
    userTel.value = newVal.value["user-report"].userTel;
    userEmail.value = newVal.value["user-report"].userEmail;
    reportTitle.value = newVal.value["user-report"].reportTitle;  
  }

}, { deep: true });

//#endregion


//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  useTabsStore().selectTab(
    {
      id: "user-report",
      title: "user-report",
      path: "user-report",
    },
    true
  );
});

onMounted(() => {
  const sessionStorage = useSelectedDataStore().getSelectedModalData();
  const userInfo = JSON.parse(userStore().getCurrentUser());

  // userName.value = userInfo['USER_NM'];
  lcNm.value = userInfo['LC_NM'];
  useSearchConditionStore().changeSearchInputValue('userName', userInfo['USER_NM']);

  if(Object.hasOwn(sessionStorage, 'owner')){
    useSearchConditionStore().changeSearchInputValue('CUST_ID', sessionStorage['owner']['CUST_ID']);
    useSearchConditionStore().changeSearchInputValue('CUST_NM', sessionStorage['owner']['CUST_NM']);
    useSearchConditionStore().changeSearchInputValue('CUST_CD', sessionStorage['owner']['CUST_CD']);

    custNm.value = sessionStorage['owner']['CUST_NM'];
  }
});

//#endregion


//#region ::  User Function Definitions

// 브라우저를 직접 닫았을때
window.addEventListener("beforeunload", () => {
  localStorage.removeItem("windowModal");
});

function closePopup () {
  localStorage.removeItem("windowModal");
  window.close();
}

async function save () {
  const template = /*html*/`
    <div>
      <h2><strong># 요청자 정보</strong></h2>
      <ol>
          <li data-list="ordered">
              <span class="ql-ui" contenteditable="false"></span>작성일자 : ${regDt.value}
          </li>
          <li data-list="ordered">
              <span class="ql-ui" contenteditable="false"></span>센터 : ${lcNm.value}
          </li>
          <li data-list="ordered"><span class="ql-ui" contenteditable="false"></span>화주 : ${custNm.value}</li>
          <li data-list="ordered"><span class="ql-ui" contenteditable="false"></span>메뉴 : ${menu.value}</li>
          <li data-list="ordered"><span class="ql-ui" contenteditable="false"></span>성명 : ${userName.value}</li>
          <li data-list="ordered"><span class="ql-ui" contenteditable="false"></span>번호 : ${userTel.value ?? ''}</li>
          <li data-list="ordered"><span class="ql-ui" contenteditable="false"></span>메일 : ${userEmail.value}</li>
      </ol>
    </div>
    <hr>
  `;
  
  const data = {
    'subject' : reportTitle.value,
    'content' : template + textValue.value
  }

  const requiredInputValid = UtilService.searchInputRequiredValidation(SEARCH_INPUT, useSearchConditionStore(), useSelectedDataStore());

  if (requiredInputValid) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${requiredInputValid}`) }));
  }

  try{
    const result = await ApiService.postApi('/rest/api/dooray/posts/create.do', {}, data, true, true, 'json');

      // TODO :: 응답요청 정상 처리로 변경
    if (!result.status) {
      closePopup();
    }
  }
  catch(e){
    console.log('save error');
  }

  console.log('save finish');
}

//#endregion

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 10px;
  padding: 28px 13px 20px 13px;

  .title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.search-area {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.11);
  border-radius: 0 0 8px 8px;
  background-color: white;
}

.content-container {
  height: 100%;
  padding: 5px; 
  overflow-y: auto;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.11);
  border-radius: 0 0 8px 8px;
  background-color: white;
}

.buttons {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 14px;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 20px;

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: 100%;
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}

.readonly {
  pointer-events: none; /* 사용자 상호작용을 막음 */
  user-select: none; /* 텍스트 선택을 막음 */
}

</style>