<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS010/page.vue
 *  Description:    기준정보/화주정보관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <commonGridInfoForm
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :onCellClicked="onCellClicked"
      :info-meta="INFO_META"
      :infoControlBtn="INFO_CONTROL_BTN"
      :infoTextChanged="infoCompChangedCallBack"
      :infoSelectChanged="infoCompSelectedCallBack"
      :infoTripleSearchChanged="infoModalSearchCallBack">
      <template v-slot:grid-button>
        <control-container>
          <div v-for="btnData in controlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
      <template v-slot:info-button>
        <control-container>
          <div v-for="btnData in infoControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
    </commonGridInfoForm>
    <center-synchronization v-if="isOpenLcSyncModal" :changeIsOpenLcSyncModal="changeIsOpenLcSyncModal" :setLcSyncModalParams="setLcSyncModalParams" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS010" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import commonGridInfoForm from "@/page/common-page/common-grid-info-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { CenterSynchronization } from "@/popups";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, INFO_CONTROL_BTN, INFO_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const infoControlBtnRef = ref(INFO_CONTROL_BTN);
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const { t } = useI18n();
let isOpenLcSyncModal = ref(false); // 센터동기화 모달 상태

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
  "enter-excel": excelImport,
  "excel-input(simple)": simpleExcelImport,
  "warehouse-synchronization": changeIsOpenLcSyncModal,
};

const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi(`/WINUS/${myPageId.value}_rn.action`, {}, UtilService.getOptionApiData(`${myPageId.value}_rn`));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * 신규
 */
function addRowData() {
  const newRowData = [
    {
      STATE: "C",
      NOW_USE_YN: "Y",
      TYPICAL_CUST_GB: "N",
      CUST_TYPE: "2",
      BIZ_NO_TYPE: "01",
      DEAL_TYPE: "",
      MANAGE_EVENT: "",
      MANAGE_BIZ_CONT: "",
      BIZ_COND: "",
      BIZ_TYPE: "",
      USE_CAL_YN: "N",
      CAL_TYPE: "01",
      MANAGE_GRADE: "",
      CREDIT_GRADE: "",
      APPLY_FR_DT: "",
      APPLY_TO_DT: "",
      DLV_CNTL: "",
      SAFE_STOCK_TY: "01",
      LOT_NO_USE_YN: "N",
      CLIENT_NEC_YN: "N",
      SAP_USE_YN: "N",
      SET_RELEASE_YN: "Y",
      PARCEL_TRACE_YN: "N",
      PARCEL_BOX_RECOM_YN: "N",
    },
  ];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });
}

/**
 * 저장
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let data: any = { _fullpath: "", I_selectIds: selectedRows.length, D_selectIds: "0" };

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const validationResult = UtilService.inputRequiredValidation(INFO_META.infoInput, selectedRows);
  if (!validationResult?.status) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${validationResult?.toastKey}`) }));
  }

  const validationResultCalc = validationCalcYn(selectedRows);
  if (!validationResultCalc?.status) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${validationResultCalc?.toastKey}`) }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    for (let i = 0; selectedRows.length > i; i++) {
      if (selectedRows[i].STATE === "C") {
        data["I_ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["I_ST_GUBUN" + [i]] = "UPDATE";
      }
      data["TRUST_CUST_ID"] = String(selectedRows[i].TRUST_CUST_ID || "");
      data["CUST_ID" + [i]] = String(selectedRows[i].CUST_ID || "");
      data["CUST_CD" + [i]] = String(selectedRows[i].CUST_CD || "");
      data["BIZ_NO" + [i]] = String(selectedRows[i].BIZ_NO || "");
      data["MOBILE_NO" + [i]] = String(selectedRows[i].MOBILE_NO || "");
      data["DUTY_ID" + [i]] = String(selectedRows[i].DUTY_ID || "");
      data["TEL" + [i]] = String(selectedRows[i].TEL || "");
      data["CRE_LIMIT_DAY" + [i]] = String(selectedRows[i].CRE_LIMIT_DAY || "");
      data["SETTLE_TERM_DAY" + [i]] = String(selectedRows[i].SETTLE_TERM_DAY || "");
      data["ZIP" + [i]] = String(selectedRows[i].ZIP || "");
      data["FAX" + [i]] = String(selectedRows[i].FAX || "");
      data["CREDIT_GRADE" + [i]] = String(selectedRows[i].CREDIT_GRADE || "");
      data["DLV_CNTL" + [i]] = String(selectedRows[i].DLV_CNTL || "");
      data["REPRESENT_CUST_CD" + [i]] = String(selectedRows[i].REPRESENT_CUST_CD || "");
      data["CURR_CD" + [i]] = String(selectedRows[i].CURR_CD || "");
      data["CRE_SALE_AMT" + [i]] = String(selectedRows[i].CRE_SALE_AMT || "");
      data["CRE_LIMIT_AMT" + [i]] = String(selectedRows[i].CRE_LIMIT_AMT || "");
      data["ORD_AMT" + [i]] = String(selectedRows[i].ORD_AMT || "");
      data["UN_RECEPT_AMT" + [i]] = String(selectedRows[i].UN_RECEPT_AMT || "");
      data["SALE_PER_NO" + [i]] = String(selectedRows[i].SALE_PER_NO || "");
      data["CUST_STAT" + [i]] = String(selectedRows[i].CUST_STAT || "");
      data["VAT_YN" + [i]] = String(selectedRows[i].VAT_YN || "");
      data["TR_UPDOWN_YN" + [i]] = String(selectedRows[i].TR_UPDOWN_YN || "");
      data["IN_TON" + [i]] = String(selectedRows[i].IN_TON || "");
      data["CALC_SEQ" + [i]] = String(selectedRows[i].CALC_SEQ || "");
      data["DLV_REQ_DT" + [i]] = String(selectedRows[i].DLV_REQ_DT || "");
      data["DLV_CNTL_COMMENT" + [i]] = String(selectedRows[i].DLV_CNTL_COMMENT || "");
      data["CUST_EPC_CD" + [i]] = String(selectedRows[i].CUST_EPC_CD || "");
      data["CUST_NM" + [i]] = String(selectedRows[i].CUST_NM || "");
      data["TRADE_NM" + [i]] = String(selectedRows[i].TRADE_NM || "");
      data["E_MAIL" + [i]] = String(selectedRows[i].E_MAIL || "");
      data["REP_NM" + [i]] = String(selectedRows[i].REP_NM || "");
      data["BIZ_COND" + [i]] = String(selectedRows[i].BIZ_COND || "");
      data["BIZ_TYPE" + [i]] = String(selectedRows[i].BIZ_TYPE || "");
      data["HTTP" + [i]] = String(selectedRows[i].HTTP || "");
      data["ADDR" + [i]] = String(selectedRows[i].ADDR || "");
      data["REP_CUST_REP_NM" + [i]] = String(selectedRows[i].REP_CUST_REP_NM || "");
      data["CUST_TYPE" + [i]] = String(selectedRows[i].CUST_TYPE || "");
      data["LOT_NO_USE_YN" + [i]] = String(selectedRows[i].LOT_NO_USE_YN || "");
      data["CLIENT_NEC_YN" + [i]] = String(selectedRows[i].CLIENT_NEC_YN || "");
      data["RCV_RCM_TY" + [i]] = String(selectedRows[i].RCV_RCM_TY || "");
      data["TYPICAL_CUST_GB" + [i]] = String(selectedRows[i].TYPICAL_CUST_GB || "");
      data["SAP_USE_YN" + [i]] = String(selectedRows[i].SAP_USE_YN || "");
      data["CAL_TYPE" + [i]] = String(selectedRows[i].CAL_TYPE || "");
      data["DUTY_MOBILE" + [i]] = String(selectedRows[i].DUTY_MOBILE || "");
      data["DUTY_NM" + [i]] = String(selectedRows[i].DUTY_NM || "");
      data["DUTY_PHONE" + [i]] = String(selectedRows[i].DUTY_PHONE || "");
      data["INTERFACE_KEY" + [i]] = String(selectedRows[i].INTERFACE_KEY || "");
      data["PARTNER_KEY" + [i]] = String(selectedRows[i].PARTNER_KEY || "");
      data["DEAL_TYPE" + [i]] = String(selectedRows[i].DEAL_TYPE || "");
      data["BIZ_NO_TYPE" + [i]] = String(selectedRows[i].BIZ_NO_TYPE || "");
      data["EVENT" + [i]] = String(selectedRows[i].EVENT || "");
      data["MANAGE_EVENT" + [i]] = String(selectedRows[i].MANAGE_EVENT || "");
      data["MANAGE_BIZ_CONT" + [i]] = String(selectedRows[i].MANAGE_BIZ_CONT || "");
      data["MANAGE_GRADE" + [i]] = String(selectedRows[i].MANAGE_GRADE || "");
      data["NOW_USE_YN" + [i]] = String(selectedRows[i].NOW_USE_YN || "");
      data["ACCOUNT_CD1" + [i]] = String(selectedRows[i].ACCOUNT_CD1 || "");
      data["ACCOUNT_NO1" + [i]] = String(selectedRows[i].ACCOUNT_NO1 || "");
      data["MAJOR_PRODUCTS" + [i]] = String(selectedRows[i].MAJOR_PRODUCTS || "");
      data["CONT_ID" + [i]] = String(selectedRows[i].CONT_ID || "");
      data["CONT_DETAIL_ID" + [i]] = String(selectedRows[i].CONT_DETAIL_ID || "");
      data["APPLY_FR_DT" + [i]] = String(selectedRows[i].APPLY_FR_DT || "").replaceAll("-", "");
      data["APPLY_TO_DT" + [i]] = String(selectedRows[i].APPLY_TO_DT || "").replaceAll("-", "");
      data["CONT_EMPLOYEE_ID" + [i]] = String(selectedRows[i].CONT_EMPLOYEE_ID || "");
      data["CONT_DEPT_ID" + [i]] = String(selectedRows[i].CONT_DEPT_ID || "");
      data["REAL_EMPLOYEE_ID" + [i]] = String(selectedRows[i].REAL_EMPLOYEE_ID || "");
      data["COLLECT_EMPLOYEE_ID" + [i]] = String(selectedRows[i].COLLECT_EMPLOYEE_ID || "");
      data["APPROVAL_EMP_ID" + [i]] = String(selectedRows[i].APPROVAL_EMP_ID || "");
      data["GROUP_COM_EMP_ID" + [i]] = String(selectedRows[i].GROUP_COM_EMP_ID || "");
      data["SETTLE_TERM" + [i]] = String(selectedRows[i].SETTLE_TERM || "");
      data["PAY_DAY" + [i]] = String(selectedRows[i].PAY_DAY || "");
      data["CLOSING_DAY" + [i]] = String(selectedRows[i].CLOSING_DAY || "");
      data["SAFE_STOCK_TY" + [i]] = String(selectedRows[i].SAFE_STOCK_TY || "");
      data["SET_RELEASE_YN" + [i]] = String(selectedRows[i].SET_RELEASE_YN || "");
      data["PARCEL_TRACE_YN" + [i]] = String(selectedRows[i].PARCEL_TRACE_YN || "");
      data["PARCEL_BOX_RECOM_YN" + [i]] = String(selectedRows[i].PARCEL_BOX_RECOM_YN || "");
      data["USE_CAL_YN" + [i]] = String(selectedRows[i].USE_CAL_YN || "");
      // TODO :: Backend 소스 수정해야함. (중복 인자)
      data["USE_CAL_YN"] = String(selectedRows[i].USE_CAL_YN || "");
    }

    const result = await ApiService.postApi("/WMSMS010/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {};

    for (let i = 0; selectedRows.length > i; i++) {
      // 반영되지 않은 신규 행 삭제
      if (selectedRows[i].STATE === "C") {
        gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
      } else {
        data["D_ST_GUBUN" + [rowIndex]] = "DELETE";
        data["ST_GUBUN" + [rowIndex]] = "DELETE";
        data["CUST_ID" + [rowIndex]] = selectedRows[i].CUST_ID;

        rowIndex++;
        isDataDelete = true;
      }
    }

    // 데이터 삭제처리가 필요하지 않은 경우
    if (!isDataDelete) return;

    data["_fullpath"] = "";
    data["selectIds"] = String(rowIndex);
    data["I_selectIds"] = "0";
    data["D_selectIds"] = String(rowIndex);

    const result = await ApiService.postApi("/WMSMS010/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 엑셀
 */
function excelExport() {
  // 편집 상태 종료
  gridApi.value?.stopEditing();

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.owner-management"),
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 엑셀입력
 */
function excelImport() {
  const data = {
    modalTitle: t("modal-title.owner-information-enter-excel"),
    saveUrl: "/WMSMS010/inExcelFileUpload_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS010&file_name=execlTemp_owner_01.xls",
    uploadType: "NORMAL",
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * 엑셀입력(간편)
 */
function simpleExcelImport() {
  const data = {
    modalTitle: t("modal-title.owner-information-enter-excel"),
    saveUrl: "/WMSMS010/inExcelFileUpload_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS010&file_name=execlTemp_owner_02.xls",
    uploadType: "SIMPLE",
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * 센터동기화
 */
function changeIsOpenLcSyncModal(value: boolean) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  isOpenLcSyncModal.value = value;
}

// 센터동기화에 보낼 ui, params 데이터
function setLcSyncModalParams() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const uiOption = { title: "", useAsnCheckbox: false };
  const apiUrl = "/WMSMS010/saveLcSync_rn.action";

  const params: any = {
    _fullpath: "기준관리 &gt; 화주정보관리",
    MULIT_LC_ID_ARR: "",
    selectIds: String(selectedRows.length),
  };

  for (let i = 0; selectedRows.length > i; i++) {
    params["CUST_CD" + [i]] = selectedRows[i].CUST_CD;
  }

  return { params, uiOption, apiUrl };
}

/**
 * 정산사용여부(Y)인 경우 유효성 검사
 * - 부분 필수조건 항목 대상
 * - TODO :: BackEnd에도 유효성 검사 필요함.
 */
function validationCalcYn(selectedRows: any) {
  const result = { status: true, toastKey: "" };
  const infoInput = INFO_META.infoInput[1].inputs; // 정산 Part Info
  const targetInfoKeys = [
    "APPLY_FR_DT",
    "APPLY_TO_DT",
    "PAY_DAY",
    "CLOSING_DAY",
    "CONT_EMPLOYEE_ID",
    "CONT_DEPT_ID",
    "REAL_EMPLOYEE_ID",
    "COLLECT_EMPLOYEE_ID",
    "APPROVAL_EMP_ID",
    "GROUP_COM_EMP_ID",
    "ACCOUNT_NO1",
    "ACCOUNT_CD1",
  ];

  for (const rowData of selectedRows) {
    if (rowData.USE_CAL_YN !== "Y") continue;

    for (const key of targetInfoKeys) {
      if (UtilService.isEmptyString(rowData[key])) {
        result.status = false;
        result.toastKey = infoInput.find((dt: any) => dt.ids.includes(key))?.title ?? "";
        return result;
      }
    }
  }

  return result;
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "text"
 */
function infoCompChangedCallBack(e: Event, key: string, overapCheckVal?: boolean) {
  const target = e.target as HTMLInputElement;
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  rowNode.setDataValue(key, target.value);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "select"
 */
function infoCompSelectedCallBack(e: Event, key: string, option: any) {
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  rowNode.setDataValue(key, option.CODE_CD ?? option.code);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "triple search (modal)"
 */
function infoModalSearchCallBack(key: string, value: any) {
  if (!value) return;
  console.log(key, value);

  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  rowNode.setDataValue(key, value);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSMS010/list_rn.action", apiParams, bodyData.value, false);
}

/**
 * 그리드 셀 클릭 이벤트
 * - 선택 행의 정보를 info 영역에 맵핑
 */
function onCellClicked(e: CellClickedEvent) {
  e.data.APPLY_FR_DT = e.data.APPLY_FR_DT.replace(/(\d{4})(\d{2})(\d{2})/, "$1-$2-$3");
  e.data.APPLY_TO_DT = e.data.APPLY_TO_DT.replace(/(\d{4})(\d{2})(\d{2})/, "$1-$2-$3");
  useSelectedDataStore().selectedInfoHandler(e.data, true);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    padding: 0 0 0 0 !important;
  }
}
</style>
