<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG070/page.vue
 *  Description:    통계/LOT별재고현황 -  업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      @onSelectionChanged="onSelectionChanged"
      :pinnedBottomRowData="pinnedBottomRowData"
      :controlBtn="CONTROL_BTN"
      :gridStatisticsInfo="GRID_STATISTICS_INFO"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData">
      <div class="grid-header">{{ t("menu-header-title.WMSTG070") }}</div>
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="gridStatisticsInfoRef" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <!-- <control-button v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" /> -->
          <control-button
            v-if="
              btnData['display'] === 'Y' &&
              (btnData.title === 'save' ||
                btnData.title === 'delete-lot' ||
                btnData.title === 'registration-shipping-order' ||
                btnData.title === 'shipping-identification-label-print' ||
                btnData.title === 'lot-stock-identification-label-print') &&
              Object.keys(selectedItems.value).length > 0
            "
            :data="btnData"
            @clicked="eventHandler[btnData.title]" />
          <control-button
            v-else-if="
              btnData['display'] === 'Y' &&
              !(
                btnData.title === 'save' ||
                btnData.title === 'delete-lot' ||
                btnData.title === 'registration-shipping-order' ||
                btnData.title === 'shipping-identification-label-print' ||
                btnData.title === 'lot-stock-identification-label-print'
              )
            "
            :data="btnData"
            :excelExport="excelExport" />
        </div>
      </control-container>
    </common-form>
    <tab-print-sel
      v-if="popupOn.tabPrintSel"
      :fn_tabPrint="fn_tabPrint"
      @popupOn="
        (e: any) => {
          popupOn.tabPrintSel = e ? true : false;
        }
      "></tab-print-sel>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG070" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { tabPrintSel } from "@/popups";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import qrcode from "qrcode-generator";
import { onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const SelectedDataStore = useSelectedDataStore();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const { t } = useI18n();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const gridTotalData = reactive({ value: {} as any });
const controlBtnRef = ref(CONTROL_BTN);
const gridStatisticsInfoRef = ref(GRID_STATISTICS_INFO);
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const pinnedBottomRowData = reactive({ value: {} as any });
let fn_tabPrint = ref<(pageGb: string) => void>();

/** QR Code */
const selectedItems = reactive({ value: {} as any });
const popupOn = reactive({ tabPrintSel: false as boolean }); // ref<boolean>(false);

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  "lot-stock-identification-label-print": stockLabelPrintEvent,
  "shipping-identification-label-print": orderLabelPrintEvent,
  excel: excelExport,
  "registration-shipping-order": registrationShippingOrder,
  save: saveRowData,
  "delete-lot": deleteLot,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi(`/WINUS/WMSTG070_rn.action`, {}, UtilService.getOptionApiData(`WMSTG070_rn`));
  const res2 = await ApiService.postApi(`/WINUS/WMSMS080_rn.action`, {}, UtilService.getOptionApiData(`WMSMS080_rn`));
  const res3 = await ApiService.postApi(`/WINUS/WMSMS090_rn.action`, {}, UtilService.getOptionApiData(`WMSMS090_rn`));
  const res4 = await ApiService.postApi(`/WMSCM162_rn.action`, {}, UtilService.getOptionApiData(`WMSCM162_rn`));

  // search영역의 상품군에만 미지정 options 추가
  if (res.status && res2.status && res3.status && res4.status) {
    const ITEMGRP_IN_SEARCH = Array.from(new Set(res2.result.ITEMGRP));

    OptionDataStore.setOptionData(res.result.selectBoxInfos);
    OptionDataStore.setOptionData({ ...res2.result, ...{ ITEMGRP_IN_SEARCH: ITEMGRP_IN_SEARCH } });
    OptionDataStore.setOptionData(res3.result.selectBoxInfos);
    OptionDataStore.setOptionData(res4.result.selectBoxInfos);
  }
});

onMounted(() => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  eventBus.on("search-finished", getGridStatisticsData);
  searchGridData = commonFormRef.value!.searchGridData;
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  eventBus.off("search-finished", getGridStatisticsData);
});

//#endregion

//#region ::  User Function Definitions

// 그리드 상단 통계 데이터
async function getGridStatisticsData(apiParams: any) {
  const summaryCount = await ApiService.postApi("/WMSTG070/listSummaryCount_rn.action", apiParams, {});
  if (summaryCount.status) {
    gridTotalData.value = summaryCount.result.LIST;
    pinnedBottomRowData.value = {
      STOCK_QTY: gridTotalData.value.TOTAL_QTY,
    };
  }
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridApi.value?.getSelectedRows().length) {
      selectedItems.value = gridApi.value?.getSelectedRows();
      SelectedDataStore.changeSelectedDataList(gridApi.value?.getSelectedRows());
    }
  } else {
    selectedItems.value = gridApi.value?.getSelectedRows();
    SelectedDataStore.changeSelectedDataList(gridApi.value?.getSelectedRows());
  }
}

/**
 * LOT 재고 식별표 출력
 */
function stockLabelPrintEvent() {
  selectedItems.value = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedItems.value)) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  fn_tabPrint.value = stockLabelPrintCallback;
  popupOn.tabPrintSel = true;
}

/**
 * 출고 식별표 출력
 */
function orderLabelPrintEvent() {
  selectedItems.value = GridUtils.getSelectedRowData(gridApi.value!);
  const lockedStockRows = selectedItems.value.filter((dt: any) => dt.LOCK_YN === "Y");

  if (UtilService.isEmptyArray(selectedItems.value)) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  if (!UtilService.isEmptyArray(lockedStockRows)) {
    const invalidRowNo = lockedStockRows.map((dt: any) => dt.RNUM).join(",");
    useToast().warning(t("common-toast.invalid-row-locked-stock", { message: invalidRowNo }));
    return;
  }

  useToast().info(t("common-toast.identification-label-used-for-shipping"));

  fn_tabPrint.value = orderLabelPrintCallback;
  popupOn.tabPrintSel = true;
}

function fn_tabPrintSelpop() {
  useToast().warning(t("common-toast.identification-label-used-for-shipping"));
  popupOn.tabPrintSel = true;
}

function excelExport() {
  let columnKeys = [] as (string | any)[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.inventory-by-LOT"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 출고주문등록
 * - 선택된 행 정보를 기반으로 출고주문(B2B)을 생성한다.
 */
async function registrationShippingOrder() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (!selectedRows || selectedRows.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.ship-lot-stock"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "통계관리 &gt; LOT별재고현황",
      selectIds: String(selectedRows.length),
    };

    for (let i = 0; selectedRows.length > i; i++) {
      data["STOCK_ID" + [i]] = selectedRows[i].STOCK_ID || "";
      data["CUST_CD" + [i]] = selectedRows[i].CUST_CD || "";
      data["WH_CD" + [i]] = selectedRows[i].WH_CD || "";
      data["ITEM_CD" + [i]] = selectedRows[i].RITEM_CD || "";
      data["ITEM_BAR_CD" + [i]] = selectedRows[i].ITEM_BAR_CD || "";
      data["STOCK_QTY" + [i]] = String(selectedRows[i].STOCK_QTY || "");
      data["LOC_CD" + [i]] = selectedRows[i].LOC_CD || "";
      data["CUST_LOT_NO" + [i]] = selectedRows[i].CUST_LOT_NO || "";
    }

    const result = await ApiService.postApi("/WMSTG070/shippingTemplate_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
    }
  } catch (err) {
    console.log(err);
    throw err;
  }

  gridApi.value?.deselectAll();
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  searchGridData();
}

/**
 * 저장
 * - 선택 행의 변경점을 반영한다. (LOT번호 / LOCK / 납풉처코드)
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "",
      selectIds: String(selectedRows.length),
    };

    for (let i = 0; selectedRows.length > i; i++) {
      data["ST_GUBUN" + [i]] = "INSERT";
      data["STOCK_ID" + [i]] = selectedRows[i].STOCK_ID || "";
      data["CUST_LOT_NO" + [i]] = selectedRows[i].CUST_LOT_NO || "";
      data["LOCK_YN" + [i]] = selectedRows[i].LOCK_YN || "";
      data["OWNER_CD" + [i]] = selectedRows[i].OWNER_CD || "";
    }
    const result = await ApiService.postApi("/WMSTG070/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      searchGridData();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

/**
 * LOT삭제
 * - 재고정보에서 맵핑된 LOT번호 값을 삭제한다.
 */
async function deleteLot() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "",
      selectIds: String(selectedRows.length),
    };

    for (let i = 0; selectedRows.length > i; i++) {
      data["CUST_ID" + [i]] = selectedRows[i].CUST_ID || "";
      data["SUB_LOT_ID" + [i]] = selectedRows[i].SUB_LOT_ID || "";
      data["CUST_LOT_NO" + [i]] = selectedRows[i].CUST_LOT_NO || "";
    }

    const result = await ApiService.postApi("/WMSTG070/delLotNo_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      searchGridData();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

/**
 * LOT 재고 식별표 출력
 * - 식별표 영역 선택할 수 있는팝업창 실행 (1/1, 1/4 영역 선택)
 *
 * @param pageSetting 식별표가 한 페이지에서 차지하는 영역(1 (1/1) or 4 (1/4))
 */
function stockLabelPrintCallback(pageSetting: string) {
  const pageGb = Number(pageSetting);
  const $dataTable: HTMLElement = document.createElement("div");
  const printSettings = getPrintSettings(pageGb); //선택한 출력유형 대하여 레이아웃 설정값 셋팅
  let contentNo = pageGb; // Pagination 구분값 (1/1, 4/4)
  let html: string = "";

  if (UtilService.isEmptyArray(selectedItems.value)) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  selectedItems.value.forEach((item: any, index: number) => {
    contentNo = contentNo % pageGb;

    if (contentNo === 0) {
      html += /*html*/ `
      <div style='page-break-before:${index === 0 ? "avoid" : "always"}'>
        ${createPrintPageForStockLabel(item, printSettings, pageGb, contentNo)}
      </div>
      `;
    } else {
      html += /*html*/ `
        ${createPrintPageForStockLabel(item, printSettings, pageGb, contentNo)}
      `;
    }

    contentNo++;
  });

  $dataTable.innerHTML = html;

  printContent(pageGb, $dataTable);
}

/**
 * 출고 식별표 출력
 * - 식별표 영역 선택할 수 있는팝업창 실행 (1/1, 1/4 영역 선택)
 *
 * @param pageSetting 식별표가 한 페이지에서 차지하는 영역(1 (1/1) or 4 (1/4))
 */
function orderLabelPrintCallback(pageSetting: string) {
  const pageGb = Number(pageSetting);
  const $dataTable: HTMLElement = document.createElement("div");
  const printSettings = getPrintSettings(pageGb); //선택한 출력유형 대하여 레이아웃 설정값 셋팅
  let contentNo = pageGb; // Pagination 구분값 (1/1, 4/4)
  let html: string = "";

  if (UtilService.isEmptyArray(selectedItems.value)) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  selectedItems.value.forEach((item: any, index: number) => {
    contentNo = contentNo % pageGb;

    if (contentNo === 0) {
      html += /*html*/ `
      <div style='page-break-before:${index === 0 ? "avoid" : "always"}'>
        ${createPrintPageForOrderLabel(item, printSettings, pageGb, contentNo)}
      </div>
      `;
    } else {
      html += /*html*/ `
        ${createPrintPageForOrderLabel(item, printSettings, pageGb, contentNo)}
      `;
    }

    contentNo++;
  });

  $dataTable.innerHTML = html;

  printContent(pageGb, $dataTable);
}

/**
 * 식별표 영역 셋팅
 *
 * @param printGb : 식별표 출력 유형 (1/1, 1/4)
 */
function getPrintSettings(printGb: number) {
  return printGb === 1
    ? {
        tlbCard_W: "1000",
        tlbCard_H: "640",
        mainTitle: "40",
        subTitle: "20",
        tdFontSz: ["15px", "20px", "30px", "40px", "110px"],
        qrSize: "3",
      }
    : {
        tlbCard_W: "465",
        tlbCard_H: "300",
        mainTitle: "20",
        subTitle: "10",
        tdFontSz: ["8px", "10px", "15px", "20px", "60px"],
        qrSize: "1",
      };
}

/**
 * 프린트 페이지 생성 (Label마다 유형이 상이함.)
 * - LOT 재고 식별표
 *
 * @params item       : 그리드 행 데이터
 * @params settings   : 레이아웃 설정 값
 * @params printGb    : 출력유형 (1/1, 4/4)
 * @params contentNo  : 1개 페이지 내 컨텐츠 번호
 */
function createPrintPageForStockLabel(item: any, settings: any, printGb: number, contentNo: number) {
  const nullVal = "　";
  let html: string = "";

  if (printGb === 4) {
    html += getFourPageLayoutPrefix(contentNo);
  }

  html += /*html*/ `
    <table border='3' cellspacing='0' width='${settings.tlbCard_W}' height='${settings.tlbCard_H}'>
      <colgroup>
        <col width='25%'/>
        <col width='25%'/>
        <col width='25%'/>
        <col width='25%'/>
      </colgroup>
      <!-- 1Row (표 주제 최상단) -->
      <tr height='${settings.mainTitle}'>
        <td colspan='3' style='border-right:0px; font-size:10px;'>${item.CUST_NM} LOT Stock Ticket</td>
        <td style='text-align:right; border-left:0px; font-size:10px;'></td>
      </tr>
      <!-- 2Row (헤더+필드 포함) -->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};'>Lot. Barcode</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Destination</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Warehouse</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Location</td>
      </tr>
      <tr>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'>${QRCodeGenerator(item.CUST_LOT_NO, settings.qrSize)}</td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'>${item.CUST_NM}</td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'>${item.WH_NM}</td>
        <td style='text-align:center; font-size:${settings.tdFontSz[2]};'><b><u>${item.LOC_CD}</u></b></td>
      </tr>
      <!-- 3Row (헤더+필드 포함) -->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};' colspan='2'>LOT Number</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Quantity</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Location Type</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.CUST_LOT_NO}</b></td> <!-- 값? -->
        <td style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.STOCK_QTY}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.LOC_TYPE}</b></td>
      </tr>
      <!-- 4Row (헤더+필드 포함) -->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};' colspan='2'>Item Name</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Item Barcode</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Item Best Date End</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.RITEM_NM}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[2]};'>${QRCodeGenerator(item.ITEM_BAR_CD, settings.qrSize)}</td>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.ITEM_BEST_DATE_END}</b></td>
      </tr>
      <!-- 5Row (헤더+필드 포함) -->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};' colspan='2'>Item Code</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Item UOM</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Make Date</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.RITEM_CD}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.UOM_NM}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'><b>${item.MAKE_DT}</b></td>
      </tr>
    </table>
  `;

  if (printGb === 4) {
    html += getFourPageLayoutSuffix();
  }

  return html;
}

/**
 * 프린트 페이지 생성 (Label마다 유형이 상이함.)
 * - 출고 식별표
 *
 * @params item       : 그리드 행 데이터
 * @params settings   : 레이아웃 설정 값
 * @params printGb    : 출력유형 (1/1, 4/4)
 * @params contentNo  : 1개 페이지 내 컨텐츠 번호
 */
function createPrintPageForOrderLabel(item: any, settings: any, printGb: number, contentNo: number) {
  const nullVal = "　";
  let html: string = "";

  if (printGb === 4) {
    html += getFourPageLayoutPrefix(contentNo);
  }

  html += /*html*/ `
    <table border='3' cellspacing='0' width='${settings.tlbCard_W}' height='${settings.tlbCard_H}'>
      <colgroup>
        <col width='25%'/>
        <col width='25%'/>
        <col width='25%'/>
        <col width='25%'/>
      </colgroup>
      <!-- 1Row (표 주제 최상단) -->
      <tr height='${settings.mainTitle}'>
        <td colspan='3' style='border-right:0px; font-size:10px;'>${item.CUST_NM} Picking Ticket</td>
        <td style='text-align:right; border-left:0px; font-size:10px;'></td>
      </tr>
      <!-- 2Row (헤더+필드 포함) -->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};'>Lot. Barcode</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Destination</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Final Destination</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Model</td>
      </tr>
      <tr>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'>${QRCodeGenerator(item.CUST_LOT_NO, settings.qrSize)}</td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'>${item.CUST_NM}</td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'>${item.CUST_NM}</td>
        <td style='text-align:center; font-size:${settings.tdFontSz[2]};'><b><u>${nullVal}</u></b></td>
      </tr>
      <!-- 3Row (헤더+필드 포함) -->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};' colspan='2'>Part Number</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Quantity</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Devision</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.RITEM_CD}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.STOCK_QTY}</b></td>
        <td rowspan='3' style='text-align:center; font-size:${settings.tdFontSz[4]};'><b>${nullVal}</b></td>
      </tr>
      <!-- 4Row (헤더+필드 포함) -->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};' colspan='2'>Customer Item Code</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Item Barcode</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.RITEM_CD}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[2]};'>${QRCodeGenerator(item.ITEM_BAR_CD, settings.qrSize)}</td>
      </tr>
      <!-- 5Row (헤더+필드 포함) -->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};' colspan='2'>Description</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Gross Weight</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Packing Date</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[3]};'><b>${item.RITEM_NM}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'><b>${item.STOCK_WEIGHT}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'><b>${nullVal}</b></td>
      </tr>
      <!-- 6Row (헤더+필드 포함) -->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td colspan='2' style='font-size:${settings.tdFontSz[0]};'>Lot No.</td>
        <td rowspan='2' style='background:url(http://winus.logisall.com/ATCH_FILE${item.IMAGE_PATH}); background-repeat:no-repeat; background-size:100% 100%;'></td>
        <td style='font-size:${settings.tdFontSz[0]};'>Quantity</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.RITEM_NM}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'><b>${nullVal}</b></td>
      </tr>
    </table>
  `;

  if (printGb === 4) {
    html += getFourPageLayoutSuffix();
  }

  return html;
}

/**
 * 식별표(4/4) 출력 항목단위 HTML 전처리 태그 획득
 *
 * @params contentNo : 1페이지 내 컨텐츠 번호
 */
function getFourPageLayoutPrefix(contentNo: number) {
  let html: string = "";

  const layouts = [
    /*html*/ `<div style='float:left; display:inline; width:50%; height:50%;'>`,
    /*html*/ `<div style='float:right; display:inline; width:50%; height:50%;'>`,
    /*html*/ `<div style='float:left; display:inline; width:50%; height:50%;'>`,
    /*html*/ `<div style='float:right; display:inline; width:50%; height:50%;'>`,
  ];

  return html + layouts[contentNo];
}

/**
 * 식별표(4/4) 출력 항목단위 HTML 후처리 태그 획득
 */
function getFourPageLayoutSuffix() {
  return /*html*/ `
      </div>
      <br style='height:0; line-height:0'>
    `;
}

/**
 * 선택한 데이터를 지정한 양식에 셋팅 후 프린트
 */
function printContent(printGb: number, $dataTable: HTMLElement) {
  const printWindow = window.open("about:blank", "Print" + new Date().getTime(), "width=780,height=800,scrollbars=1");
  const waitTime = printGb === 4 ? (selectedItems.value.length / 6) * 1000 : 1000;

  printWindow?.document.write($dataTable.innerHTML);

  setTimeout(() => {
    printWindow?.print();
  }, waitTime);

  // gridApi.value?.deselectAll();
}

/**
 * 특정 값을 QR 바코드 Image 태그 HTML 문자열로 반환
 *
 * @params text : 변환하고자 하는 값
 * @parmas fontSize : QR코드 사이즈
 */
function QRCodeGenerator(text: string, fontSize: number) {
  const QRCodeImageMaker = qrcode(4, "L");

  QRCodeImageMaker.addData(text);
  QRCodeImageMaker.make();

  return QRCodeImageMaker.createImgTag(fontSize);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSTG070/list_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
