<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS020/form.vue
 *  Description:    기준관리/센터별작업정책 메인 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container">
    <div class="content-header">
      <ui class="tab-list">
        <li
          v-for="(tab, i) of tabList"
          :key="tab + i"
          :class="['tab-item', { active: currentTab.value === tab }]"
          @click="
            () => {
              changeTab(tab);
            }
          ">
          {{ t(`tab-menu-title.${tab}`) }}
        </li>
      </ui>
      <control-container>
        <template v-for="(btnData, i) in CONTROL_BTN" :key="i">
          <control-button
            :data="btnData"
            :fn_search="
              () => {
                fn_search(`PRO0${tabList.indexOf(currentTab.value) + 1}`);
              }
            "
            :saveRowData="saveRowData" />
        </template>
      </control-container>
    </div>
    <div class="content" id="WMSMS020">
      <WMSMS020_01 v-if="currentTab.value === tabList[0]" :fn_search="fn_search"></WMSMS020_01>
      <WMSMS020_02 v-if="currentTab.value === tabList[1]" :fn_search="fn_search"></WMSMS020_02>
      <WMSMS020_03 v-if="currentTab.value === tabList[2]" :fn_search="fn_search"></WMSMS020_03>
      <WMSMS020_04 v-if="currentTab.value === tabList[3]" :fn_search="fn_search"></WMSMS020_04>
      <WMSMS020_05 v-if="currentTab.value === tabList[4]" :fn_search="fn_search"></WMSMS020_05>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { reactive, ref, onActivated, onDeactivated } from "vue";

import { useI18n } from "vue-i18n";
import { ApiService } from "@/services/api-service";

import { ControlContainer } from "@/components/layout";
import { ControlButton } from "@/components/button";
import WMSMS020_01 from "./subTabs/WMSMS020_01.vue";
import WMSMS020_02 from "./subTabs/WMSMS020_02.vue";
import WMSMS020_03 from "./subTabs/WMSMS020_03.vue";
import WMSMS020_04 from "./subTabs/WMSMS020_04.vue";
import WMSMS020_05 from "./subTabs/WMSMS020_05.vue";

import { CONTROL_BTN } from "./input";
import { useConfirmStore } from "@/store";

// Variable Definitions
const inactive = ref<boolean>(false);
const tabList = ["receiving", "shipping", "dispatch", "stock", "account"];
const currentTab = reactive({ value: tabList[0] } as { value: string });

const { t } = useI18n();

// Framework Function Definitions
onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions

// 탭 클릭시 호출
function changeTab(tab: string) {
  currentTab.value = tab;
}

// 조회 버튼 클릭시 호출
async function fn_search(codeType: string) {
  const url = "/WMSMS020/list.action";
  const bodyData = {
    _fullpath: "",
    S_CODE_TYPE_CD: codeType,
  };

  const res = await ApiService.postApi(url, {}, bodyData);

  if (res.PROCESSINFO) {
    res.PROCESSINFO.forEach((item: any) => {
      const configId = item.CONFIG_ID;
      const codeType = item.CODE_TYPE_CD;
      const codeCd = item.BA_CODE_CD;
      const useYn = item.USE_YN;
      fn_set_process(configId, codeType, codeCd, useYn);
    });
  }
  bindClickEvent();
}

// 조회 결과 토대로 엘리먼트 속성 적용
function fn_set_process(configId: any, codeType: any, codeCd: any, useYn: any) {
  const element = document.getElementById("btn_" + codeType + "_" + codeCd) as HTMLElement;

  if (element) {
    element.setAttribute("config_id", configId);
    element.setAttribute("code_type", codeType);
    element.setAttribute("code_cd", codeCd);
    element.setAttribute("p_type", useYn);

    switch (useYn) {
      case "Y":
        element.classList.remove("legendEtc");
        element.classList.remove("legendSelected");
        element.classList.add("legendRequired");
        break;
      case "N":
        element.classList.remove("legendSelected");
        element.classList.remove("legendRequired");
        element.classList.add("legendEtc");

        break;
      case "O":
        element.classList.remove("legendRequired");
        element.classList.remove("legendEtc");
        element.classList.add("legendSelected");

        break;
    }
  }
}

// 엘리먼트에 클릭 이벤트 바인딩
function bindClickEvent() {
  const elements = document.querySelectorAll('p[name="process"]');

  elements.forEach((elementItem: any) => {
    elementItem.addEventListener("click", () => {
      const p_type = elementItem.getAttribute("p_type");
      if (p_type == "Y") {
        elementItem.classList.remove("legendRequired");
        elementItem.classList.add("legendSelected");
        elementItem.setAttribute("p_type", "O");
      } else if (p_type == "O") {
        elementItem.classList.remove("legendSelected");
        elementItem.classList.add("legendEtc");
        elementItem.setAttribute("p_type", "N");
      } else if (p_type == "N") {
        elementItem.classList.remove("legendEtc");
        elementItem.classList.add("legendRequired");
        elementItem.setAttribute("p_type", "Y");
      }
    });
  });
}

// 저장
async function saveRowData() {
  const _codeType = `PRO0${tabList.indexOf(currentTab.value) + 1}`;

  const elements = document.querySelectorAll('p[name="process"]');
  let saveCount = 0;

  const bodyData = {} as any;
  const url = "/WMSMS020/save.action";

  elements.forEach((element: any, index: any) => {
    const configId = element.getAttribute("config_id");
    let codeType = element.getAttribute("code_type");
    let codeCd = element.getAttribute("code_cd");
    let useYn = element.getAttribute("p_type");

    if (configId == undefined) {
      const processId = element.getAttribute("id") as string;

      if (processId!.indexOf("btn_") == 0) {
        var processIdArray = processId.split("_");
        codeType = processIdArray[1];
        codeCd = processIdArray[2];
        useYn = "N";
      }
    }

    if (codeType == _codeType) {
      bodyData["CONFIG_ID" + String(index)] = configId;
      bodyData["BA_CODE_CD" + String(index)] = codeCd;
      bodyData["USE_YN" + String(index)] = useYn;
      saveCount++;
    }
  });
  bodyData.SAVE_COUNT = String(saveCount);
  bodyData.CODE_TYPE_CD = _codeType;

  if (saveCount > 0) {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
    await ApiService.postApi(url, {}, bodyData);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tab {
  &-list {
    display: flex;
  }
  &-item {
    position: relative;
    width: 110px;
    padding: 14px 0;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    color: $font-bk;

    &:hover {
      color: $main;
      font-weight: bold;

      &::before {
        opacity: 1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $main;
      opacity: 0.1;
    }

    &.active {
      color: $main;
      font-weight: bold;

      &::before {
        opacity: 1;
      }
    }
  }
}
</style>
