<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS020/page.vue
 *  Description:    기준관리/센터별작업정책 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <my-form />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->

<script setup lang="ts">
import MyForm from "./form.vue";

// Variable Definitions

// Framework Function Definitions

// User Function Definitions
</script>

<style lang="scss" scoped></style>
