<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG040/page.vue
 *  Description:    로케이션재고현황 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header
        ><div class="search-comment">{{ t("common-description-text.WMSST076_1(01)") }}</div>
      </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="gridStatisticsInfoRef" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG040" };
</script>
<script setup lang="ts">
import { computed, onMounted, onUnmounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import commonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/statistics/WMSTG040/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
let gridRowItemCount = ref(0);
const gridApi = ref<GridApi | undefined>();
const gridData = reactive({ value: [] as any });
const gridTotalData = reactive({ value: {} as any });
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};
const gridHeaderTitle = computed(() => {
  return t("menu-header-title.WMSTG040");
});
const gridStatisticsInfoRef = ref(GRID_STATISTICS_INFO);
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.location-inventory-status"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

// Framework Function Definitions
onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  // 상품군 select box 에 itemgrp 값을 넣기 위함
  const datalist = { vrGrpLevel: 1 };
  const response = await ApiService.postApi(`/rest/WMSMS094/selectItemGrpLvl.action`, datalist, {});
  if (response.status) {
    const options = [] as any[];
    for (let i = 0; response.result.list.length > i; i++) {
      const option = {
        CODE_CD: response.result.list[i].CODE_CD,
        CODE_NM: response.result.list[i].CODE_NM || "",
      };
      options.push(option);
    }
    useOptionDataStore().setOptionData({ vrSrchItemGrpId: options });
  }
  const data = UtilService.getOptionApiData("WMSTG040");
  const res = await ApiService.postApi(`/rest/WINUS/WMSTG040.action`, {}, data);

  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }

  const res2 = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, UtilService.getOptionApiData("WMSST051_rn"));
  if (res2.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res2.result);
  }
  eventBus.on("search-finished", getGridStatisticsData);
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  eventBus.off("search-finished", getGridStatisticsData);
});

// 그리드 상단 통계 데이터
async function getGridStatisticsData(apiParams: any) {
  const gridStatisticsData = await ApiService.postApi("/rest/WMSMS080/listSummaryCount.action", apiParams, {});
  if (gridStatisticsData.status) {
    gridTotalData.value = gridStatisticsData.result.LIST;
  }
}

// User Function Definitions
function onApiParamsChanged(apiParams: any) {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi.value?.deselectAll();
    const searchConditions = SEARCH_INPUT;

    // let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "";
    if (!apiParams.locOption) {
      apiParams.locOption = "A";
    }
    if (!apiParams.vrVirtualLocation) {
      delete apiParams.vrVirtualLocation;
    } else {
      apiParams.vrVirtualLocation = useSearchConditionStore().getSearchInputValue().vrVirtualLocation;
    }
    if (!apiParams.vrEmptyLocation) {
      delete apiParams.vrEmptyLocation;
    } else {
      apiParams.vrEmptyLocation = useSearchConditionStore().getSearchInputValue().vrEmptyLocation;
    }
    if (!apiParams.vrTotalLocation) {
      delete apiParams.vrTotalLocation;
    } else {
      apiParams.vrTotalLocation = useSearchConditionStore().getSearchInputValue().vrTotalLocation;
    }
    if (useSearchConditionStore().getResetValue()) {
      UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
      gridApi.value?.setRowData([]);
      gridRowItemCount.value = 0;
      return;
    }
    return apiParams;
  }
}
async function getServerData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSTG040/list.action", apiParams, bodyData.value, false);
  if (res.status) {
    gridData.value = res.result.list;
    gridTotalData.value = { TOTAL_QTY: res.result.list.length };
  } else {
    gridData.value = [];
    gridTotalData.value = { TOTAL_QTY: 0 };
  }
  return res;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}

.search-comment {
  text-align: right;
  color: $red;
  font-size: 12px;
  padding: 0 23px 15px 0;
}
</style>
