<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST050/page.vue
 *  Description:    재고관리 - 재고조정 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.10.10 : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->

<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady"> </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :readOnlyInputs="SEARCH_META.readOnlyInputs"
      :orderInformationModificationValue="
        () => {
          return orderInformationModificationValue;
        }
      ">
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>

    <displaySettings
      v-if="isShowDisplaySettingModal"
      :orderInformationModificationValue="orderInformationModificationValue"
      :changeOrderInformationModificationValue="changeOrderInformationModificationValue"
      :close="() => (isShowDisplaySettingModal = false)" />
  </div>
</template>

<script lang="ts">
export default { name: "WMSST050" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import commonForm from "@/page/common-page/common-form.vue";
import commonSearch from "@/page/common-page/common-search.vue";
import displaySettings from "@/popups/display-settings.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const controlBtnRef = ref(CONTROL_BTN);
const eventBus = useEventBusStore();
const { t } = useI18n();
const gridHeaderTitle = ref(t("grid-title.list-of-stock"));
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
let gridApi = ref<GridApi | null>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
let isShowDisplaySettingModal = ref(false); // 설정 버튼 클릭시 노출되는 팝업의 show/hidden 상태
let orderInformationModificationValue = ref(false); // 화면설정 모달 내 주문정보 수정 인풋의 value

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  "inventory-adjustment": inventoryAdjustment,
  excel: excelExport,
  setting: setting,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSMS090_rn");
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi("/WINUS/WMSMS090_rn.action", {}, data);
  if (res.status) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  }
});

onMounted(() => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

/**
 * 엑셀
 */
function excelExport() {
  let columnKeys = [] as (string | any)[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.inventory-adjustment"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 설정
 */
function setting() {
  isShowDisplaySettingModal.value = true;
}

/**
 * 재고조정
 */
function inventoryAdjustment() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.please-select-a-stock"));
  }

  //선택을 복수로 할 수 없어 selectedItems가 배열타입이 아닌 객체타입으로 선언하였기 때문에 인덱스 제거함
  const func = "fn_setWMSST050E2";
  const WH_ID = selectedRows[0].WH_ID;
  const WH_NM = selectedRows[0]?.LOC_ID;
  const LOC_ID = selectedRows[0]?.LOC_ID;
  const LOC_CD = selectedRows[0]?.LOC_CD;
  const RITEM_ID = selectedRows[0]?.RITEM_ID;
  const RITEM_NM = selectedRows[0]?.RITEM_NM;
  const UOM_ID = selectedRows[0]?.UOM_ID;
  const UOM_CD = selectedRows[0]?.UOM_CD;
  const UOM1_CD = selectedRows[0]?.UOM1_CD;
  const STOCK_QTY = selectedRows[0]?.STOCK_QTY;
  const SUB_LOT_ID = selectedRows[0]?.SUB_LOT_ID;
  const CUST_LOT_NO = selectedRows[0]?.CUST_LOT_NO;
  const ITEM_BEST_DATE_END = selectedRows[0]?.ITEM_BEST_DATE_END;
  const MODIFYABLE_QTY = selectedRows[0]?.MODIFYABLE_QTY;
  const RITEM_CD = selectedRows[0]?.RITEM_CD;
  const NUM = selectedRows[0]?.RNUM;
  const LC_ID = selectedRows[0]?.LC_ID;
  const CUST_ID = selectedRows[0]?.CUST_ID;
  const info = {
    optionOrderInformationModificationValue: orderInformationModificationValue.value,
  };

  //그리드에서 선택한 행의 데이터 요청
  const openWindowPopup: any = UtilService.openWindowPopup(
    info,
    `/wmsst050-inventory-adjustment-popup?func=${func}&WH_ID=${WH_ID}&WH_NM=${WH_NM}&LOC_ID=${LOC_ID}&LOC_CD=${LOC_CD}&RITEM_ID=${RITEM_ID}&RITEM_NM=${RITEM_NM}&UOM_ID=${UOM_ID}&UOM_CD=${UOM_CD}&UOM1_CD=${UOM1_CD}&STOCK_QTY=${STOCK_QTY}&SUB_LOT_ID=${SUB_LOT_ID}&CUST_LOT_NO=${CUST_LOT_NO}&NUM=${NUM}&ITEM_BEST_DATE_END=${ITEM_BEST_DATE_END}&MODIFYABLE_QTY=${MODIFYABLE_QTY}&RITEM_CD=${RITEM_CD}&LC_ID=${LC_ID}&CUST_ID=${CUST_ID}`,
    { width: 1150, height: 750, top: 100, left: 200 }
  );
  UtilService.getGridDataAfterClosedPopup(openWindowPopup);
}

function changeOrderInformationModificationValue(value: boolean) {
  orderInformationModificationValue.value = value;
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST050/list_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
