<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST070/page.vue
 *  Description:     재고관리/임가공  업무 화면
 *  Authors:        LH
 *  Update History:
 *                  2024.07. : Created by H. N. Ko
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :onCellClicked="onMasterCellClicked"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :getServerData="getMasterData"
        :onRowDoubleClicked="onMasterDoubleClicked"
        @onSelectionChanged="onMasterSelectionChanged"
        :context="[]">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedMasterItems && Object.keys(selectedMasterItems).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <div class="form-detail-container">
        <common-form
          ref="leftDetailFormRef"
          class="left-grid"
          :gridId="`${myPageId}-detail-grid`"
          :gridMeta="GRID_META"
          :disableSearchEvent="true"
          :gridOptionsMeta="LEFT_DETAIL_GRID_OPTIONS_META"
          :formColumnDefs="LEFT_DETAIL_GRID_COLUMN_DEFS"
          :controlBtn="DETAIL_CONTROL_BTN"
          :searchInput="SEARCH_INPUT"
          :getServerData="getLeftDetailData"
          @onSelectionChanged="onDetailGridSelectionChanged"
          :context="{ ...GRID_CELL_SEARCH_BUTTON }"
          :modules="[ExcelExportModule]">
          <div class="grid-header">{{ detailLeftTitleRef }}</div>
          <!-- <control-container>
            <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
              <control-button v-if="btnData['display'] === 'Y' && selectedDetailItems && Object.keys(selectedDetailItems).length > 0" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
              <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
            </div>
          </control-container> -->
        </common-form>
        <common-form
          ref="rightDetailFormRef"
          :gridId="`${myPageId}-detail-grid`"
          class="right-grid"
          :gridMeta="GRID_META"
          :disableSearchEvent="true"
          :gridOptionsMeta="RIGHT_DETAIL_GRID_OPTIONS_META"
          :formColumnDefs="RIGHT_DETAIL_GRID_COLUMN_DEFS"
          :controlBtn="DETAIL_CONTROL_BTN"
          :searchInput="SEARCH_INPUT"
          :getServerData="getRightDetailData"
          @onSelectionChanged="onDetailGridSelectionChanged"
          :context="{ ...GRID_CELL_SEARCH_BUTTON }"
          :modules="[ExcelExportModule]">
          <div class="grid-header">{{ detailRightTitleRef }}</div>
          <!-- <control-container>
            <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
              <control-button v-if="btnData['display'] === 'Y' && selectedDetailItems && Object.keys(selectedDetailItems).length > 0" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
              <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
            </div>
          </control-container> -->
        </common-form>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST070" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";

import { ApiService } from "@/services/api-service";
import { QRCode } from "@/services/qrcode-service";
import { useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, RowDoubleClickedEvent, RowSelectedEvent } from "ag-grid-community";
import { ExcelExportModule, GridApi } from "ag-grid-enterprise";
import { Ref, computed, nextTick, onBeforeMount, onMounted, onUnmounted, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { UtilService } from "../../../services/util-service";
import { LEFT_DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS, RIGHT_DETAIL_GRID_COLUMN_DEFS } from "./column-defs";
import {
  DETAIL_CONTROL_BTN,
  GRID_CELL_SEARCH_BUTTON,
  GRID_META,
  LEFT_DETAIL_GRID_OPTIONS_META,
  MASTER_CONTROL_BTN,
  MASTER_GRID_OPTIONS_META,
  RIGHT_DETAIL_GRID_OPTIONS_META,
  SEARCH_INPUT,
  SEARCH_META,
} from "./input.meta";
const { t } = useI18n();

//master grid 선택시(복수 체크)
const selectedMasterItems = ref<Record<string, any>[]>([]);

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});
let selectedMasterRowIdx: number = -1;

//detail grid 선택시(하나만 체크)
// const selectedDetailItem = ref<Record<string, any>>({});

// Variable Definitions
const masterFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const leftDetailFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const rightDetailFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value?.gridApi) || null;
});
const leftDetailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(leftDetailFormRef.value?.gridApi) || null;
});

const rightDetailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(rightDetailFormRef.value?.gridApi) || null;
});
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
// const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const eventBus = useEventBusStore();
const masterGridTitleRef = ref(t("menu-header-title.WMSST070"));
const detailLeftTitleRef = ref(t("menu-header-title.WMSST070_detail_left"));
const detailRightTitleRef = ref(t("menu-header-title.WMSST070_detail_right"));
const formTheme = {
  "--flex-direction": "column",
};

const optionDataStore = useOptionDataStore();
// Framework Function Definitions
onBeforeMount(() => {});
onMounted(async () => {
  //event로 처리가 필요하나 ???
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi(`/rest/WINUS/WMSST070.action`, {}, UtilService.getOptionApiData("WMSST070"));
  if (res.result.selectBoxInfos) {
    optionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    optionDataStore.setOptionData(res.result);
  }
  initSearch();
});

function initSearch() {
  const today = getFormattedDate(new Date());
  useSelectedDataStore().changeSelectedData("vrSrchReqDtFrom", today);
  useSelectedDataStore().changeSelectedData("vrSrchReqDtTo", today);
  useSelectedDataStore().changeSelectedData("vrSrchWorkType", "");
}
// 날짜 포맷 함수 (YYYY-MM-DD 형식)
const getFormattedDate = (date: Date) => {
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, "0");
  const day = String(date.getDate()).padStart(2, "0");
  return `${year}-${month}-${day}`;
};

onUnmounted(() => {});
function sessionStorageReady() {}

function onMasterCellClicked(event: CellClickedEvent) {}
function onMasterDoubleClicked(event: RowDoubleClickedEvent) {
  openDetailPopup(event.data);
}

/**
 * TODO
 * popup
 */
function openDetailPopup(data: any) {
  // const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  // const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  // const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";
  // const windowPopup = UtilService.openWindowPopup(null, `/receiving-order?vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`, {
  //   width: 1150,
  //   height: 750,
  //   top: 100,
  //   left: 200,
  // });
  // UtilService.getGridDataAfterClosedPopup(windowPopup);
}
/**
 * Master Grid에서 행이 선택될때
 * @param e
 */
function onMasterSelectionChanged(e: { startRowIndex: number; event: RowSelectedEvent }) {
  let isSelected = e.event.node.isSelected();
  let event: RowSelectedEvent = e.event;
  selectedMasterItems.value = masterGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    leftDetailGridApi.value?.setRowData([]);
    rightDetailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    selectedMasterRowIdx = event.node.rowIndex || -1;
    event.api.redrawRows();
    nextTick(() => {
      // changeEditable(e.event, "CUST_ZONE_CD", "CUST_ZONE_NM");
      leftDetailFormRef.value?.searchGridData();
      rightDetailFormRef.value?.searchGridData();
    });
  }
}

/**
 * 세부 데이터에서 행이 선택 될때
 * @param e
 */
function onDetailGridSelectionChanged(e: { startRowIndex: number; event: RowSelectedEvent }) {
  // let isSelected = e.event.node.isSelected();
  // let event: RowSelectedEvent = e.event;
  // // event.api.redrawRows();
  // selectedDetailItems.value = leftDetailGridApi.value?.getSelectedRows() as Record<string, any>[];
  // if (isSelected) {
  //   selectedDetailItem.value = leftDetailGridApi.value?.getSelectedRows()[0];
  //   selectedDetailNodes.value = leftDetailGridApi.value?.getSelectedNodes() || [];
  //   nextTick(() => {
  //     changeEditable(e.event, "CUST_ZONE_CD", "CUST_ZONE_NM");
  //   });
  // }
}

// User Function Definitions

/**
 * 마스터 데이터 조회
 * @param apiParams
 * @param bodyData
 */
async function getMasterData(apiParams: any, bodyData: any) {
  const vrSrchReqDtFrom = apiParams.vrSrchReqDtFrom;
  const vrSrchReqDtTo = apiParams.vrSrchReqDtTo;
  // 폼 검증
  if (!validateForm(vrSrchReqDtFrom, vrSrchReqDtTo)) {
    return false;
  }
  let res = await ApiService.postApi("/rest/WMSST070/list.action?", apiParams, bodyData.value, false);
  leftDetailGridApi.value?.setRowData([]);
  return res;
}
const validateForm = (vrSrchReqDtFrom: string, vrSrchReqDtTo: string) => {
  if (!vrSrchReqDtFrom || !vrSrchReqDtTo) {
    useToast().error(t("common-toast.empty-work-date"));
    return false;
  }

  if (new Date(vrSrchReqDtFrom) > new Date(vrSrchReqDtTo)) {
    alert("작업일자의 시작일이 종료일보다 클 수 없습니다.");
    useToast().error(t("common-toast.from-date-should-not-gatter-then-to-date"));
    return false;
  }
  return true;
};
/**
 * 상세 데이터 조회
 * @param apiParams
 * @param bodyData
 */
async function getLeftDetailData(apiParams: any, bodyData: any) {
  leftDetailGridApi.value?.deselectAll();
  apiParams = {
    vrRitemId: selectedMasterItem.value.RITEM_ID,
    vrWorkType: selectedMasterItem.value.WORK_TYPE,
    vrWorkId: selectedMasterItem.value.WORK_ID,
    vrWorkDt: selectedMasterItem.value.WORK_DT,
    vrCustLotNo: selectedMasterItem.value.CUST_LOT_NO,
  };
  let res = await ApiService.postApi("/rest/WMSST070/sublist.action", apiParams, bodyData.value, false);
  return res;
}

async function getRightDetailData(apiParams: any, bodyData: any) {
  rightDetailGridApi.value?.deselectAll();
  apiParams = {
    vrCustLotNo: selectedMasterItem.value.CUST_LOT_NO,
  };
  let res = await ApiService.postApi("/rest/WMSST070/sublist2.action", apiParams, bodyData.value, false);
  return res;
}

/**
 * 요청
 * @param formFields formField를 Array에 따라 순번처리한 데이터
 */
async function requestService(url: string, formFields: any, confirmMessage: string, successMsg?: string, failMsg?: string) {
  successMsg = successMsg || t("common-toast.saved");
  failMsg = failMsg || "";
  await useConfirmStore().confirm(confirmMessage, t("button-name.confirm"));

  try {
    const resp = await ApiService.postApi(url, formFields, {});
    if (resp.errCnt > 0) {
      useToast().error(resp.MSG || failMsg);
      eventBus.emit("search-data");
    } else {
      useToast().error(resp.MSG);
      eventBus.emit("search-data");
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * Event Layer
 */
// master
const masterEventHandler: Record<string, Function> = {
  del: deleteMasterRows,
  new: addMasterRows,
  excel: masterExport,
  "print-total-picking-list-new": printTotalPickingListNew,
  "print-total-picking-list": printTotalPickingList,
  "print-work-list": printWorkList,
};

function masterExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: masterGridTitleRef.value,
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}
/**
 * 마스터 행 추가
 */
function addMasterRows() {}

/**
 * 마스터 삭제
 */
async function deleteMasterRows() {
  if (!selectedMasterItems.value || selectedMasterItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  if (selectedMasterItems.value.length > 0) {
    selectedMasterItems.value.forEach((item) => {
      item["ST_GUBUN"] = "DELETE";
      item.vrWorkId = item["WORK_ID"];
      item.vrInWhId = "";
      item.vrOutWhId = "";
      item.ritemId = item["RITEM_ID"];
      item.uomId = item["UOM_ID"];
      item.custId = item["CUST_ID"];
      item.qty = item["WORK_QTY"];
      item.type = "1";
    });
    const formData = masterFormRef.value?.rowsToFormFields(selectedMasterItems.value);
    await requestService("/WMSST070/save.action", formData, t("confirm-message.delete"), t("common-toast.deleted"));
    eventBus.emit("search-data");
  }
}

/**
 * 작업리스트 출력
 */
async function printWorkList() {
  const $dataTable: HTMLElement = document.createElement("div");
  const searchConditions = masterFormRef.value?.getSearchConditions();
  let workIdStr = selectedMasterItems.value
    .map((item) => {
      return item.WORK_ID;
    })
    .join(",");
  searchConditions.vrWorkIdStr = workIdStr;
  let url = "/WMSST070/workList2.action";
  const resp = await ApiService.postApi(url, searchConditions, {});
  const data = resp.WORKLIST;
  let html = createPrintPage(data);
  $dataTable.innerHTML = html;
  printContent($dataTable);
  return false;
}

// 프린트 페이지 생성
function createPrintPage(data: any[]) {
  let cnt = data.length;
  let printDate = "";
  let date = new Date();
  printDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();

  let html = "";
  if (selectedMasterItems.value.length > 0) {
    let workCnt = 1;
    let pageCnt = 0;
    for (let i = 0; i < cnt; i++) {
      if (i == 0) {
        pageCnt++;
      } else if (i > 0 && data[i].GRP != data[i - 1].GRP) {
        pageCnt++;
      }
    }

    let detailRowNpos = 0;
    let detailCnt = 0;

    for (let i = 0; i < cnt; i++) {
      if (i == 0) {
        html += "<div style='page-break-before:avoid; font-size:14px;'>";
      } else if (i > 0) {
        if (data[i].GRP != data[i - 1].GRP) {
          //부분품 테이블 채우기
          for (let j = 0; j < 10 - detailRowNpos; j++) {
            detailCnt++;
            html += " <tr style='height: 60px;'>";
            html += "   <td style='text-align:center;'>" + detailCnt + "</td>";
            html += "   <td></td>";
            html += "   <td></td>";
            html += "   <td></td>";
            html += "   <td></td>";
            html += "   <td></td>";
            html += "   <td></td>";
            html += " </tr>";
          }
          html += "</tbody>";
          html += "</table>";

          html += "</div>";
          html += "<div style='page-break-before:always'>";
          detailRowNpos = 0;
          detailCnt = 0;
          workCnt++;
        }
      }

      if (data[i].ORD_TYPE == "01") {
        if (i == 0 || data[i].GRP != data[i - 1].GRP) {
          html += " <table style='width: 100%;'><tr>";
          html += " <td style='width: 18%;'><p style='text-align: left; font-size:13px;'><span></span></p></td>";
          html += " <td style='width: 44%;'><p style='text-align: center; font-size:20px;'><span style='text-decoration: underline;'><strong>작 업 리 스 트 (Total)</strong></span></p></td>";
          html += " <td style='width: 18%;'><p style='text-align: right; font-size:13px;'><span>출력일자 : " + printDate + "</span></p></td>";
          html += " </tr></table><br>";

          html += " <br>";
          html += " <table style='height: 65px; width: 100%; font-size: 13px; border-style: solid; border-collapse: collapse;' border=1>";
          html += " <colgroup>";
          html += " <col width='12%'/>";
          html += " <col width='25%'/>";
          html += " <col width='25%'/>";
          html += " <col width='8%'/>";
          html += " <col width='20%'/>";
          html += " <col width='10%'/>";
          html += " </colgroup>";
          html += " <tbody>";
          html += " <tr>";

          if (data[i].WORK_TYPE == "90") {
            html += "   <td colspan='6' style='text-align:left; font-size: 15px; font-weight:bold; background-color:#BDBDBD;'>완성품 (Header)</td>";
          } else {
            html += "   <td colspan='6' style='text-align:left; font-size: 15px; font-weight:bold; background-color:#BDBDBD;'>해체품 (Header)</td>";
          }

          html += " </tr>";
          html += " <tr>";
          html += "   <td style='text-align:center;'>작업구분</td>";
          html += "   <td style='text-align:center;'>완성품명</td>";
          html += "   <td style='text-align:center;'>완성품코드</td>";
          html += "   <td style='text-align:center;'>작업수량</td>";
          html += "   <td style='text-align:center;'>QR코드</td>";
          html += "   <td style='text-align:center;'>작업순번</td>";
          html += " </tr>";
          html += " <tr style='height: 80px;'>";

          if (data[i].WORK_TYPE == "90") {
            html += "   <td rowspan=10; style='text-align:center; font-weight:bold; color:#1413ff;'>임가공조립</td>";
          } else {
            html += "   <td rowspan=10; style='text-align:center; font-weight:bold; color:red;'>임가공해체</td>";
          }

          html += "   <td>" + data[i].RITEM_NM + "</td>";
          html += "   <td>" + data[i].RITEM_CD + "</td>";

          if (data[i].WORK_TYPE == "90") {
            html += "   <td style='text-align:right; font-size: 24px; font-weight:bold;'>" + data[i].QTY + "</td>";
          } else {
            html += "   <td style='text-align:right; font-size: 24px; font-weight:bold;'>" + data[i].QTY + "<span style='font-size: 14px;'>(" + data[i].PART_QTY + ")</span></td>";
          }
          html += "   <td style='text-align:center;'><div id='qrItemA_" + i + "'></div></td>";
          html += "   <td rowspan=10; style='text-align:center; font-size: 20px; background-color:#FFE08C;'>" + workCnt + "/" + pageCnt + "</td>";
          html += " </tr>";
        } else {
          detailRowNpos++;
          html += " <tr style='height: 80px;'>";
          html += "   <td>" + data[i].RITEM_NM + "</td>";
          html += "   <td>" + data[i].RITEM_CD + "</td>";
          if (data[i].WORK_TYPE == "90") {
            html += "   <td style='text-align:right; font-size: 24px; font-weight:bold;'>" + data[i].QTY + "</td>";
          } else {
            html += "   <td style='text-align:right; font-size: 24px; font-weight:bold;'>" + data[i].QTY + "<span style='font-size: 14px;'>(" + data[i].PART_QTY + ")</span></td>";
          }
          html += "   <td style='text-align:center;'><div id='qrItemA_" + i + "'></div></td>";
          html += " </tr>";
        }

        //입고 마지막 라인인 경우
        if (data[i + 1].ORD_TYPE == "02") {
          html += " </tbody>";
          html += " </table>";
          html += " <br>";

          html += " <table style='width: 100%; font-size: 12px; border-style: solid; border-collapse: collapse;' border=1>";
          html += " <colgroup>";
          html += " <col width = '40px'/>";
          //html += " <col width = '120px'/>";
          html += " <col width = '200px'/>";
          html += " <col width = '200px'/>";
          html += " <col width = '40px'/>";
          html += " <col width = '60px'/>";
          html += " <col width = '40px'/>";
          html += " <col width = '80px'/>";
          html += " </colgroup>";
          html += " <tbody>";
          html += " <tr>";

          if (data[i].WORK_TYPE == "90") {
            html += "   <td colspan='7' style='text-align:left; font-size: 15px; font-weight:bold; background-color:#BDBDBD;'>부분품 (Detail)</td>";
          } else {
            //임가공 해체
            html += "   <td colspan='7' style='text-align:left; font-size: 15px; font-weight:bold; background-color:#BDBDBD;'>세트품 (Detail)</td>";
          }
          html += " </tr>";
          html += " <tr style='text-align:center;'>";
          html += "   <td style='text-align:center;'>순번</td>";
          //html += "   <td style='text-align:center;'>사진</td>";
          html += "   <td style='text-align:center;'>부분품명</td>";
          html += "   <td style='text-align:center;'>부분품코드</td>";
          html += "   <td style='text-align:center;'>임가공여부</td>";
          html += "   <td style='text-align:center;'>부분품구성수량</td>";
          html += "   <td style='text-align:center;'>수량</td>";
          html += "   <td style='text-align:center;'>QR코드</td>";
          html += " </tr>";
        }
      }

      if (data[i].ORD_TYPE == "02") {
        detailCnt++;
        detailRowNpos++;

        html += " <tr style='height: 60px;'>";
        html += "   <td style='text-align:center;'>" + detailCnt + "</td>";
        //html += "   <td>사진</td>";
        html += "   <td>" + data[i].RITEM_NM + "</td>";
        html += "   <td>" + data[i].RITEM_CD + "</td>";
        let setItemYn = data[i].SET_ITEM_YN == "N" ? "" : data[i].SET_ITEM_YN;
        html += "   <td style='text-align:right; font-size: 13px; '>" + setItemYn + "</td>";
        html += "   <td style='text-align:right; font-size: 15px; font-weight:bold;'>" + data[i].PART_QTY + "</td>";
        html += "   <td style='text-align:right; font-size: 22px; font-weight:bold;'>" + data[i].QTY + "</td>";
        html += `   <td style='text-align:center;'><div id='qrItemA_" + i + "'>${QRCode.Generator(data[i].ITEM_BAR_CD)}</div></td>`;
        html += " </tr>";
      }

      //html += data[i].GRP + " || "+data[i].SET_ITEM_YN+ " || "+data[i].PRT+ " || "+data[i].RITEM_CD;
      //html += "<div id='qrItemA_"+i+"'></div>";
    }

    //마지막
    for (let y = 0; y < 10 - detailRowNpos; y++) {
      detailCnt++;
      html += " <tr style='height: 60px;'>";
      html += "   <td style='text-align:center;'>" + detailCnt + "</td>";
      html += "   <td></td>";
      html += "   <td></td>";
      html += "   <td></td>";
      html += "   <td></td>";
      html += "   <td></td>";
      html += "   <td></td>";
      html += " </tr>";
    }

    html += "</tbody>";
    html += "</table>";
    html += "</div>";
  }
  return html;
}
// 선택한 데이터를 지정한 양식에 셋팅 후 프린트
function printContent(dataTable: HTMLElement) {
  const printWindow = window.open("about:blank", "Print" + new Date().getTime(), "width=780,height=800,scrollbars=1");

  printWindow?.document.write(dataTable.innerHTML);

  setTimeout(() => {
    printWindow?.print();
  }, 1000);
}

/**
 * 토탈피킹리스트(new)
 */
function printTotalPickingListNew() {
  useToast().warning("OZReport 미 구현 기능");
  return false;
}

/**
 * 토탈피킹리스트
 */
function printTotalPickingList() {
  useToast().warning("OZReport 미 구현 기능");
  return false;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid > div:first-child {
    flex-grow: 1; /* Takes 2 parts of the available space */
  }
  &-grid > div:last-child {
    flex-grow: 1; /* Takes 2 parts of the available space */
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  top: 0;
  right: 0;
}

.form-detail-container {
  display: flex;
  flex-direction: row;
}

.left-grid {
  flex: 5;
}
.right-grid {
  flex: 4;
}
.date-range-input {
  width: 100%;
}
</style>
