<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST040T2.vue
 *  Description:    재고관리 - 재고이동 - 작업상태조회 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsst040t2">
    <div class="container">
      <!--검색 인풋영역-->
      <div class="" ref="searchComponentRef">
        <search-container
          @setIsMore="setIsMore"
          :isMore="isMore"
          :data="SEARCH_INPUT_WMSST040T2"
          :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT_WMSST040T2)"
          :use-setting="false"
          :un-used-refresh-button="true"
          :ser-auth="page.value['SER_AUTH'] || 'Y'">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in SEARCH_INPUT_WMSST040T2" :key="i">
              <search-container-input
                :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
                :data="props"
                :columnDefs="MODAL_COLUMN_DEFS[props.title]"
                :modalData="SEARCH_MODAL_WMSST040T2[props.title]"
                :pageInfo="null" />
            </template>
          </template>
        </search-container>
      </div>
      <!--그리드영역-->
      <div class="grid-container">
        <div class="grid">
          <div class="grid-header">{{ t("grid-title.inventory-movement-operation-status-check") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size top-grid" :gridOptions="gridOptions" :pinnedBottomRowData="pinnedBottomRowData.value" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e)" class="page-size">
              <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ totalRows }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import searchContainerInput from "@/components/input/search-container-input.vue";
import { SearchContainer } from "@/components/layout";
import { GRID_COL_DEF_WMSST040T2, MODAL_COLUMN_DEFS } from "@/page/stock/WMSST040/column-defs";
import { SEARCH_INPUT_WMSST040T2, SEARCH_MODAL_WMSST040T2 } from "@/page/stock/WMSST040/input";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { IWinusMenu } from "@/types";
import { GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

// Variable Definitions
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSST040T2");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const currentTopGridData = reactive({ value: {} } as { value: any });
const isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement);
const inactive = ref<boolean>(false);
const pinnedBottomRowData = reactive({ value: [{}] as { [key: string]: any }[] });
const page = reactive({ value: {} as any });
const mainMenus = reactive({ value: [] as IWinusMenu[] });
const wmsst040t2SearchData = JSON.parse(localStorage.getItem("WMSST040T2")!);
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT_WMSST040T2) as number;

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

onMounted(async () => {
  mainMenus.value = await UtilService.setMenusData();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST040", mainMenus.value, null);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
  useSearchConditionStore().changeSearchInputValue("vrSrchReqDtFrom", wmsst040t2SearchData.vrSrchReqDtFrom);
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

const changeColumnDef = () => {
  const copyColDefs = Object.assign([], gridOptions.api?.getColumnDefs());
  copyColDefs.forEach((column: any) => {
    if (column.field === "NO") {
      column.valueGetter = (params: any) => {
        if (Object.hasOwn(params.node.data, "RNUM")) {
          return params.node.rowIndex + 1;
        } else {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  gridOptions.api?.setColumnDefs(copyColDefs);
};

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridOptions.api?.deselectAll();
    if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
      useCallModalIdStore().setCallModalId("owner");
      useToast().warning(t("common-toast.please-select-a-owner"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      return;
    } else if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().location)) {
      useCallModalIdStore().setCallModalId("location");
      useToast().warning(t("common-toast.please-select-location"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      return;
    }
    const apiParams = UtilService.getGridParams(SEARCH_INPUT_WMSST040T2, useSelectedDataStore(), useSearchConditionStore());
    pinnedBottomRowData.value = [
      {
        ORD_QTY: 0,
        MOVE_QTY: 0,
      },
    ];
    apiParams.vrSrchReqDtTo = UtilService.getToday();
    gridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridOptions.api, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSST040/workStatPop_rn.action", apiParams, bodyData.value);
        if (gridData.status) {
          changeColumnDef();
          params.successCallback(gridData.result.list, UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows));
          pinnedBottomRowData.value = [UtilService.setGridPinnedBottomRowData(gridData.result.list, pinnedBottomRowData.value[0])];
        } else {
          params.successCallback([], 0);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight - 143);
  }, 300);
}

const onGridReady = () => {
  gridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      params.successCallback([], 0);
    },
  });
  gridOptions.api?.sizeColumnsToFit();
};

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: GRID_COL_DEF_WMSST040T2,
  onGridReady: onGridReady,
  onCellClicked: onCellClicked,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  suppressCellFocus: true,
  suppressClickEdit: true,
  onPaginationChanged: onPaginationChanged,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

function onCellClicked(params: any) {
  currentTopGridData.value = params.data;
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#wmsst040t2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px 10px;

  > .container {
    height: 100%;
    > .title {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: -1px;
      text-align: center;
      margin-bottom: 20px;
    }
    .search {
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
    }
    .grid {
      position: relative;
      height: 100%;
      .grid-header {
        @include flexbox(row, flex-start, center, nowrap);
        background-color: $main-menu-sub;
        height: 31px;
        padding-left: 13px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.92px;
        color: #fff;

        &:nth-of-type(1) {
          margin-top: 10px;
        }
      }
      .ag-grid-size {
        // height: 200px;
        height: calc(100% - 31px);
      }
    }
  }
}
.grid-container {
  height: calc(100% - 150px);
}
</style>
