<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST040E3.vue
 *  Description:    재고관리 - 재고이동 - 신규 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsst040E3">
    <div class="container">
      <!--검색 인풋영역-->
      <div class="" ref="searchComponentRef">
        <search-container
          @setIsMore="setIsMore"
          :isMore="isMore"
          :data="SEARCH_INPUT_WMSST040E3"
          :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT_WMSST040E3)"
          :use-setting="false"
          :un-used-refresh-button="true"
          :ser-auth="page.value['SER_AUTH'] || 'Y'">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in SEARCH_INPUT_WMSST040E3" :key="i">
              <search-container-input
                :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
                :index="i"
                :data="props"
                :columnDefs="props.modalTypes && selectedValue.value.length > 0 ? MODAL_COLUMN_DEFS[selectedValue.value[i]] : MODAL_COLUMN_DEFS[props.title]"
                :modalData="props.modalTypes && selectedValue.value.length > 0 ? SEARCH_MODAL_WMSST040E3[selectedValue.value[i]] : SEARCH_MODAL_WMSST040E3[props.title]"
                :pageInfo="INFO"
                :modalType="selectedValue"
                @selectedValue="
                  (e: any) => {
                    selectedValue.value[i] = UtilService.setModalTypeBySelectedValue(e);
                  }
                " />
            </template>
          </template>
        </search-container>
      </div>
      <control-container>
        <control-button v-for="btnData in CONTROL_BTN_WMSST040E3" :data="btnData" :key="btnData.title" :saveRowData="saveRowData" :workOrder="workOrder" :cancelWork="cancelWork" />
      </control-container>
      <!--그리드영역-->
      <div class="" ref="formContainerRef">
        <div class="grid">
          <div class="grid-header">{{ t("grid-title.list-of-stock") }}</div>
          <ag-grid-vue
            class="ag-theme-alpine ag-grid-size top-grid"
            :gridOptions="gridOptions"
            :context="{ ...GRID_CELL_SELECT_BOX, ...GRID_CELL_SEARCH_BUTTON }"
            :pinnedBottomRowData="[pinnedBottomRowData.value]" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e)" class="page-size">
              <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ totalRows }}</span>
          </div>
        </div>
      </div>
    </div>
    <confirm-popup />
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import searchContainerInput from "@/components/input/search-container-input.vue";
import { ControlContainer, SearchContainer } from "@/components/layout";
import { GRID_COL_DEF_WMSST040E3, MODAL_COLUMN_DEFS } from "@/page/stock/WMSST040/column-defs";
import { CONTROL_BTN_WMSST040E3, GRID_CELL_SEARCH_BUTTON, GRID_CELL_SELECT_BOX, INFO, SEARCH_INPUT_WMSST040E3, SEARCH_MODAL_WMSST040E3 } from "@/page/stock/WMSST040/input";
import { ConfirmPopup } from "@/popups";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useFormHeightStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { IWinusMenu } from "@/types";
import { GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

const selectedItems = reactive({ value: [] as any });
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSST040E3");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const currentTopGridData = reactive({ value: {} } as { value: any });
const isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement);
const formContainerRef = ref(null as null | any);
const inactive = ref<boolean>(false);
const selectedValue = reactive({ value: [] as Array<string> });
// 입출고관리(통합) - 입고관리 - 입고확정 context에서 해당 팝업을 사용 queryStrig으로 데이터를 전달
const vrNewGb = new URL(window.location.href).searchParams.get("vrNewGb");
const vrSrchCustCd = new URL(window.location.href).searchParams.get("vrSrchCustCd");
const vrSrchItemCd = new URL(window.location.href).searchParams.get("vrSrchItemCd");
const vrSrchOrdId = new URL(window.location.href).searchParams.get("vrSrchOrdId");
const vrSrchOrdSeq = new URL(window.location.href).searchParams.get("vrSrchOrdSeq");
const vrWorkId = new URL(window.location.href).searchParams.get("vrWorkId");
const vrWorkCd = new URL(window.location.href).searchParams.get("vrWorkCd");
const vrWorkDt = new URL(window.location.href).searchParams.get("vrWorkDt");
const pinnedBottomRowData = reactive({ value: {} as any });
const page = reactive({ value: {} as any });
const mainMenus = reactive({ value: [] as IWinusMenu[] });
const wmsst040E3SearchData = JSON.parse(localStorage.getItem("WMSST040E3")!);
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT_WMSST040E3) as number;

// Framework Function Definitions
onBeforeMount(async () => {
  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }

    // children column다국어
    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        if (Object.hasOwn(column.children[i], "headerKey") && column.children[i].headerKey) {
          column.children[i].headerName = t("grid-column-name." + column.children[i].headerKey);
        }
      }
    }
  });

  const res = await ApiService.postApi("/WMSST040E3_rn.action", {}, UtilService.getOptionApiData("WMSST040E3_rn"));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }

  const res2 = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));
  if (res2.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res2.result);
  }

  const res3 = await ApiService.postApi("/WMSST040T1_rn.action", {}, UtilService.getOptionApiData("WMSST040T1_rn"));
  if (res3.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res3.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res3.result);
  }

  //부모 모달에서 선택한 화주값 바인딩
  useSelectedDataStore().selectedModalHandler({ owner: { CUST_CD: wmsst040E3SearchData.CUST_CD, CUST_NM: wmsst040E3SearchData.CUST_NM, CUST_ID: wmsst040E3SearchData.CUST_ID } });

  if (vrSrchCustCd && vrSrchItemCd) {
    useSearchConditionStore().changeSearchInputValue("vrSrchCustCd", vrSrchCustCd);
    useSearchConditionStore().changeSearchInputValue("vrSrchItemCd", vrSrchItemCd);
  }
});

onMounted(async () => {
  useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("wmsst040e3")));
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();

  mainMenus.value = await UtilService.setMenusData();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSOP", "WMSOP910_2", mainMenus.value, null);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

const changeColumDef = () => {
  const colDefs: any = gridOptions.api?.getColumnDefs();
  colDefs.forEach((column: any) => {
    if (column.field === "NO") {
      column.valueGetter = (params: any) => {
        if (Object.hasOwn(params.node.data, "RNUM")) {
          return params.node.rowIndex + 1;
        } else {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  gridOptions.api?.setColumnDefs(colDefs);
};

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    initBeforeSearchGridData();
    const apiParams = UtilService.getGridParams(SEARCH_INPUT_WMSST040E3, useSelectedDataStore(), useSearchConditionStore());
    const owner = useSelectedDataStore().getSelectedModalData()["owner"];
    const warehouse = useSelectedDataStore().getSelectedModalData()["warehouse"];
    apiParams.vrSrchCustId = owner ? owner.CUST_ID : "";
    apiParams.vrSrchWhId = warehouse ? warehouse.WH_ID : "";
    if (apiParams.expCheck === "on") {
      apiParams["vrExpCheck"] = "Y";
    } else {
      apiParams["vrExpCheck"] = "N";
    }
    apiParams["vrWorkCd"] = vrWorkCd || "";
    apiParams["vrWorkDt"] = vrWorkDt ? vrWorkDt.split("-").join("") : UtilService.getToday().split("-").join("");
    apiParams["vrNewGb"] = vrNewGb || "Y";
    apiParams["vrWorkId"] = vrWorkId || "";
    apiParams["vrSrchLocType"] = "";
    apiParams["vrSrchOrdId"] = "";
    apiParams["vrSrchOrdSeq"] = "";
    apiParams["vrPopType"] = "";
    apiParams["vrSrchSerialId"] = apiParams.vrSrchSerial;

    gridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridOptions.api, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSST040E3/listDetail_rn.action", apiParams, bodyData.value);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            gridData.result.list.forEach((row: any) => {
              if (apiParams["vrNewGb"] === "Y") {
                row["WORK_STAT"] = "UF";
                row["MOVE_QTY"] = Number(row["STOCK_QTY"]) - Number(row["OUT_EXP_QTY"]);
              } else if (apiParams["vrNewGb"] === "G") {
                row["MOVE_QTY"] = Number(row["STOCK_QTY"]);
              }
            });
            UtilService.setGridData("server-side", gridOptions.api, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
            pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(gridData.result.list, pinnedBottomRowData.value);
          } else {
            UtilService.setGridData("server-side", gridOptions.api, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridOptions.api, null, params);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
        gridOptions.api?.deselectAll();
      },
    });
  }
}

function initBeforeSearchGridData() {
  changeColumDef();
  pinnedBottomRowData.value = {
    STOCK_QTY: 0,
    MOVE_QTY: 0,
    OUT_EXP_QTY: 0,
  };
  gridOptions.api?.deselectAll();
}

function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("wmsst040e3"));
  }, 300);
}

const onGridReady = () => {
  gridOptions.rowData = [];
  /**
   *
   * 재고이동 페이지 상단 그리드를 더블클릭해서 오픈된 경우, 마운트 되자마자 검색 실행
   * onBeforeMounted 내부 options를 받아오고, autoSelected되기 이전에 호출되어서 검색 파라미터 누락
   */
  setTimeout(() => {
    //
    if (vrWorkId && vrWorkCd) {
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }, 500);
};

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockPosition: true,
    lockVisible: true,
  },
  headerHeight: 25,
  rowHeight: 32,
  columnDefs: GRID_COL_DEF_WMSST040E3,
  enableRangeSelection: true,
  onGridReady: onGridReady,
  onRowSelected: onSelectionChanged,
  onCellClicked: onCellClicked,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  suppressClickEdit: true,
  onPaginationChanged: onPaginationChanged,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  groupSelectsChildren: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellClicked(params: any) {
  currentTopGridData.value = params.data;
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridOptions.api?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
    }
  } else {
    selectedItems.value = gridOptions.api?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  }
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

async function saveRowData() {
  work("/WMSST040E3/save_rn.action");
}

async function workOrder() {
  work("/WMSST040E3/work_rn.action");
}

async function cancelWork() {
  work("/WMSST040E3/del_rn.action");
}

async function work(url: string) {
  if (UtilService.isEmptyObject(selectedItems.value) || selectedItems.value.length < 1) {
    useToast().warning(t("common-toast.select-data-to-save"));
    return;
  }

  const body = UtilService.getGridParams(SEARCH_INPUT_WMSST040E3, useSelectedDataStore(), useSearchConditionStore());
  const owner = useSelectedDataStore().getSelectedModalData()["owner"];
  const warehouse = useSelectedDataStore().getSelectedModalData()["warehouse"];
  body.vrSrchCustId = owner ? owner.CUST_ID : "";
  body.vrSrchWhId = warehouse ? warehouse.WH_ID : "";
  if (body.expCheck === "on") {
    body["vrExpCheck"] = "Y";
  } else {
    body["vrExpCheck"] = "N";
  }
  body["vrWorkCd"] = "";
  body["vrWorkDt"] = vrWorkDt ? vrWorkDt.split("-").join("") : UtilService.getToday().split("-").join("");
  body["vrNewGb"] = vrNewGb || "Y";
  body["vrWorkId"] = "";
  body["vrSrchLocType"] = "";
  body["vrSrchOrdId"] = vrSrchOrdId || "";
  body["vrSrchOrdSeq"] = vrSrchOrdSeq || "";
  body["vrPopType"] = "";
  body["vrSrchSerialId"] = body.vrSrchSerial;

  let checkPass = true;
  for (let i = 0; i < selectedItems.value.length; i++) {
    if (UtilService.isEmptyObject(selectedItems.value[i]["TO_LOC_CD"])) {
      checkPass = false;
      i = selectedItems.value.length;
    }
  }
  if (!checkPass) {
    useToast().warning(t("common-toast.no-search-input-item", { message: "Location" }));
    return;
  }

  for (let i = 0; i < selectedItems.value.length; i++) {
    body["workId" + i] = "";
    body["workSeq" + i] = "";
    body["fromLocCd" + i] = selectedItems.value[i]["FROM_LOC_CD"];
    body["toLocCd" + i] = selectedItems.value[i]["TO_LOC_CD"];
    body["ritemId" + i] = selectedItems.value[i]["RITEM_ID"];
    body["subLotId" + i] = selectedItems.value[i]["SUB_LOT_ID"];
    body["uomId" + i] = selectedItems.value[i]["UOM_ID"];
    body["moveQty" + i] = selectedItems.value[i]["MOVE_QTY"] + "";
    body["pltQty" + i] = selectedItems.value[i]["PLT_QTY"] + "";
    body["workStat" + i] = selectedItems.value[i]["WORK_STAT"];
    body["itemWorkDt" + i] = body["vrWorkDt"];
    body["itemWorkTm" + i] = "";
    body["makeDt" + i] = selectedItems.value[i]["MAKE_DT"];
    body["custId" + i] = selectedItems.value[i]["CUST_ID"];
    body["custLotNo" + i] = selectedItems.value[i]["CUST_LOT_NO"];
    body["blNo" + i] = selectedItems.value[i]["BL_NO"];
    body["stockId" + i] = selectedItems.value[i]["STOCK_ID"];
    body["reasonCd" + i] = selectedItems.value[i]["REASON_CD"];
    body["workDesc" + i] = "";
  }
  body["selectIds"] = selectedItems.value.length + "";

  try {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
    const res = await ApiService.postApi(url, {}, body);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(t(res.result.MSG));
      } else {
        useToast().success(t("common-toast.registered"));
        gridOptions.api?.deselectAll();
        setTimeout(() => {
          UtilService.setOpenerPostMessageForGetGridData();
          closePopup();
        }, 1500);
      }
    } else {
      useToast().error(res.result.MSG || t("common-toast.error"));
    }
  } catch (err) {
    console.log(err);
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  localStorage.removeItem("windowModal");
  window.close();
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#wmsst040E3 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px 10px;

  > .container {
    > .title {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: -1px;
      text-align: center;
      margin-bottom: 20px;
    }
    .search {
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
    }
    .grid {
      position: relative;
      height: 100%;
      .grid-header {
        @include flexbox(row, flex-start, center, nowrap);
        background-color: $main-menu-sub;
        height: 31px;
        padding-left: 13px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.92px;
        color: #fff;
      }
      .ag-grid-size {
        // height: 200px;
        height: calc(100% - 31px);
      }
    }
  }
}
</style>
