<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST040T1.vue
 *  Description:    재고관리 - 재고이동 - 통합조회 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsst040t1">
    <div class="container">
      <!--검색 인풋영역-->
      <div class="" ref="searchComponentRef">
        <search-container
          @setIsMore="setIsMore"
          :isMore="isMore"
          :data="SEARCH_INPUT_WMSST040T1"
          :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT_WMSST040T1)"
          :use-setting="false"
          :un-used-refresh-button="true"
          :ser-auth="page.value['SER_AUTH'] || 'Y'">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in SEARCH_INPUT_WMSST040T1" :key="i">
              <search-container-input
                :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
                :index="i"
                :data="props"
                :columnDefs="props.modalTypes && selectedValue.value.length > 0 ? MODAL_COLUMN_DEFS[selectedValue.value[i]] : MODAL_COLUMN_DEFS[props.title]"
                :modalData="props.modalTypes && selectedValue.value.length > 0 ? SEARCH_MODAL_WMSST040T1[selectedValue.value[i]] : SEARCH_MODAL_WMSST040T1[props.title]"
                :pageInfo="INFO"
                :modalType="selectedValue"
                @selectedValue="
                  (e: any) => {
                    selectedValue.value[i] = UtilService.setModalTypeBySelectedValue(e);
                  }
                " />
            </template>
          </template>
        </search-container>
      </div>
      <!-- <control-container>
        <div v-for="btnData in controlBtn.value" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :excelExport="excelExport" />
        </div>
      </control-container> -->
      <!--그리드영역-->
      <div class="grid-container">
        <div class="grid">
          <div class="grid-header">{{ t("grid-title.integrated-stock-transfer-history") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size top-grid" :gridOptions="gridOptions" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e)" class="page-size">
              <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ totalRows }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import searchContainerInput from "@/components/input/search-container-input.vue";
import { SearchContainer } from "@/components/layout";
import { GRID_COL_DEF_WMSST040T1, MODAL_COLUMN_DEFS } from "@/page/stock/WMSST040/column-defs";
import { CONTROL_BTN_WMSST040T1, INFO, SEARCH_INPUT_WMSST040T1, SEARCH_MODAL_WMSST040T1 } from "@/page/stock/WMSST040/input";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useFormHeightStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { IWinusMenu } from "@/types";
import { GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";

const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSST040T1");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const currentTopGridData = reactive({ value: {} } as { value: any });
const isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement);

const inactive = ref<boolean>(false);
const selectedValue = reactive({ value: [] as Array<string> });
const wmsst040SearchData = JSON.parse(localStorage.getItem("WMSST040T1")!);
const page = reactive({ value: {} as any });
const controlBtn = reactive({ value: CONTROL_BTN_WMSST040T1 as any });
const mainMenus = reactive({ value: [] as IWinusMenu[] });
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT_WMSST040T1) as number;

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  const res = await ApiService.postApi("/WMSST040T1_rn.action", {}, UtilService.getOptionApiData("WMSST040T1_rn"));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }

  const res2 = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));
  if (res2.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res2.result);
  }
});

onMounted(async () => {
  setTimeout(() => {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  });

  mainMenus.value = await UtilService.setMenusData();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST040", mainMenus.value, controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    const apiParams = UtilService.getGridParams(SEARCH_INPUT_WMSST040T1, useSelectedDataStore(), useSearchConditionStore());
    apiParams.vrSrchReqDtFrom = wmsst040SearchData.vrSrchReqDtFrom;
    apiParams.vrSrchReqDtTo = wmsst040SearchData.vrSrchReqDtTo;
    apiParams.vrSrchCustId = wmsst040SearchData.vrSrchCustId;
    apiParams.vrSrchWhId = wmsst040SearchData.vrSrchWhId;

    gridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridOptions.api, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSST040/DetailPop_rn.action", apiParams, bodyData.value);
        if (gridData.status) {
          params.successCallback(gridData.result.list, UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows));
        } else {
          params.successCallback([], 0);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight - 93);
  }, 300);
}

const onGridReady = () => {
  gridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      params.successCallback([], 0);
    },
  });
  // gridOptions.api?.sizeColumnsToFit();
};

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 25,
  rowHeight: 32,
  columnDefs: GRID_COL_DEF_WMSST040T1,
  enableRangeSelection: true,
  onGridReady: onGridReady,
  onCellClicked: onCellClicked,
  suppressRowClickSelection: false,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  suppressClickEdit: true,
  onPaginationChanged: onPaginationChanged,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

function onCellClicked(params: any) {
  currentTopGridData.value = params.data;
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

function excelExport() {
  const body = UtilService.getGridParams(SEARCH_INPUT_WMSST040T1, useSelectedDataStore(), useSearchConditionStore());
  body.vrSrchReqDtFrom = wmsst040SearchData.vrSrchReqDtFrom;
  body.vrSrchReqDtTo = wmsst040SearchData.vrSrchReqDtTo;
  body.vrSrchCustId = wmsst040SearchData.vrSrchCustId;
  body.vrSrchWhId = wmsst040SearchData.vrSrchWhId;
  const apiParams = {
    sidx: null,
    sord: "asc",
    vrSrchPoolYn: null,
  };
  delete body["vrSrchItemType"];
  ApiService.postApi("/WMSST040/excelTotal_rn.action", apiParams, body);
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#wmsst040t1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px 10px;

  > .container {
    height: 100%;
    > .title {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: -1px;
      text-align: center;
      margin-bottom: 20px;
    }
    .search {
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
    }
    .grid {
      position: relative;
      height: 100%;
      .grid-header {
        @include flexbox(row, flex-start, center, nowrap);
        background-color: $main-menu-sub;
        height: 31px;
        padding-left: 13px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.92px;
        color: #fff;
      }
      .ag-grid-size {
        height: calc(100% - 31px);
      }
    }
  }
}

.grid-container {
  height: calc(100% - 141px);
}
</style>
