<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsop000q5v2.vue
 *  Description:    입출고관리(통합)- 입고관리 페이지에서 context-menu 로케이션지정 - 로케이션지정 팝업(rowModel: 'clientSide')
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsop000q5v2" class="wmsop000q5v2">
    <div class="wmsop000q5v2-container">
      <!--그리드영역-->
      <div class="wmsop000q5v2-form-container">
        <div class="wmsop000q5v2-top-grid">
          <div class="grid-header">{{ t(`grid-title.${vrOrdTypeQueryString === "01" ? "incoming-assign-location" : "releasing-assign-location"}`) }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="mainGridOptions" />
        </div>
        <!--컨트롤버튼 영역-->
        <control-container class="wmsop000q5v2-control">
          <div v-for="btnData in controlBtn.value" :key="btnData.title">
            <control-button
              v-if="btnData['display'] === 'Y'"
              :data="btnData"
              :locationReset="locationReset"
              :locationRecommendation="locationRecommendation"
              :addRowData="addRowData"
              :deleteRowData="deleteRowData" />
          </div>
        </control-container>
        <div class="wmsop000q5v2-grid">
          <div class="grid-header">{{ t("grid-title.location-specification-list") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size bottom-grid" :gridOptions="subGridOptions" :context="GRID_CELL_SEARCH_BUTTON" />
        </div>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
        <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
  <confirm-popup />
  <loading-spinner :contentBodyOnly="true" v-if="useLoadingStore().spinners !== 0" />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useLoadingStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import { ControlContainer } from "@/components/layout";
import loadingSpinner from "@/components/ui/loading-spinner.vue";
import { ConfirmPopup } from "@/popups";

import { IWinusMenu } from "@/types";
import { MAIN_FORM_COLUMN_DEFS_WMSOP000Q5V2, SUB_FORM_COLUMN_DEFS_WMSOP000Q5V2 } from "../column-defs";
import { CONTROL_BTN_WMSOP000Q5V2, GRID_CELL_SEARCH_BUTTON } from "../input.meta";

// Variable Definitions
const { t } = useI18n();
const inactive = ref<boolean>(false);
const vrOrdTypeQueryString = new URL(window.location.href).searchParams.get("vrOrdType");
const arrOrdIdQueryString = new URL(window.location.href).searchParams.get("arrOrdId")?.split(",");
const arrOrdSeqQueryString = new URL(window.location.href).searchParams.get("arrOrdSeq")?.split(",");
const arrWorkIdQueryString = new URL(window.location.href).searchParams.get("arrWorkId")?.split(",");
const arrWorkStatQueryString = new URL(window.location.href).searchParams.get("arrWorkStat")?.split(",");
const arrWorkTypeQueryString = new URL(window.location.href).searchParams.get("arrWorkType")?.split(",");
let mainTempCount = 0;
let newRecommendDataCount = 0;
let currentSelectedMainGridData = null as any;
let subGridSelectedItems = [] as any;
const controlBtn = reactive({ value: CONTROL_BTN_WMSOP000Q5V2 as any });
const page = reactive({ value: {} as any });
const mainMenus = reactive({ value: [] as IWinusMenu[] });
let beforeSelectedRowId = "";
const bottomGridDataList = {} as any;

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  mainGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey && !column.hide) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
  subGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey && !column.hide) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  subGridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

onMounted(async () => {
  if (arrWorkStatQueryString) {
    useSearchConditionStore().changeSearchInputValue("vrOrdType", vrOrdTypeQueryString);
    for (let i = 0; arrWorkStatQueryString.length > i; i++) {
      if (vrOrdTypeQueryString === "01") {
        if (Number(arrWorkStatQueryString[i]) > 650) {
          try {
            await useConfirmStore().confirm(t("common-toast.unavailable-work-state-upper-650"), t("button-name.confirm"));
            closePopup();
          } catch {
            closePopup();
          }
        }
      } else if (vrOrdTypeQueryString === "02") {
        if (Number(arrWorkStatQueryString[i]) >= 490) {
          try {
            await useConfirmStore().confirm(t("common-toast.unavailable-work-state-upper-650"), t("button-name.confirm"));
            closePopup();
          } catch {
            closePopup();
          }
        }
      }
    }
  } else {
    closePopup();
  }

  mainMenus.value = await UtilService.setMenusData();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSOP", "WMSOP910_1", mainMenus.value, controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const mainOnGridReady = async () => {
  const paramsData: any = {
    func: "fn_search",
    txtWhNm: "",
    vrRowCount: String(arrOrdIdQueryString?.length),
    vrOrdType: vrOrdTypeQueryString,
    vrCustId: "",
  };
  for (let i = 0; arrOrdIdQueryString!.length > i; i++) {
    paramsData["arrOrdId_" + [i]] = arrOrdIdQueryString![i];
    paramsData["arrOrdSeq_" + [i]] = arrOrdSeqQueryString![i];
    paramsData["arrWorkType_" + [i]] = arrWorkTypeQueryString![i];
    if (arrWorkIdQueryString && arrWorkIdQueryString.length > 0 && arrWorkIdQueryString[0]) {
      paramsData["arrWorkId_" + [i]] = arrWorkIdQueryString![i];
    }
  }
  let url = "/WMSOP000Q5/listLocV2_rn.action";
  if (arrWorkIdQueryString && arrWorkIdQueryString.length > 0) {
    for (let i = 0; arrWorkIdQueryString.length > i; i++) {
      if (arrWorkIdQueryString[i] === "") {
        url = "/WMSOP000Q5/saveLocInitTypeV2_rn.action";
      }
    }
  } else {
    url = "/WMSOP000Q5/saveLocInitTypeV2_rn.action";
  }

  const res = await ApiService.postApi(url, paramsData, {});
  if (res.status) {
    if (res.result.list.length > 0) {
      UtilService.setGridDatasRowNum(res.result.list);
      mainGridOptions.api?.setRowData(res.result.list);
      mainGridOptions.api?.getRowNode(String(res.result.list[0].RNUM))?.setSelected(true);
      getSubGridRowData(res.result.list[0].WORK_ID, res.result.list[0].WORK_SEQ);
    } else {
      mainGridOptions.api?.setRowData([]);
      subGridOptions.api?.setRowData([]);
    }
  }
};

function setBottomGridDataList(workID?: string) {
  if (subGridOptions.api?.getRenderedNodes() && subGridOptions.api?.getRenderedNodes().length > 0) {
    const _workId = workID ? workID : beforeSelectedRowId || mainGridOptions.api?.getSelectedRows()[0].WORK_ID;
    const list = [] as any;
    subGridOptions.api?.getRenderedNodes().forEach((node: any) => {
      list.push(node.data);
    });

    bottomGridDataList[_workId] = list;
  }
}

// 하단 그리드 데이터 조회
async function getSubGridRowData(vrWorkId: any, vrWorkSeq: any, isReset?: boolean) {
  const paramsData: any = {
    vrWorkId: String(vrWorkId),
    vrWorkSeq: String(vrWorkSeq),
    rows: "60000",
    page: "1",
  };
  if (!isReset && Object.hasOwn(bottomGridDataList, vrWorkId)) {
    subGridOptions.api?.setRowData(bottomGridDataList[vrWorkId]);
    return;
  }

  const res = await ApiService.postApi("/WMSOP000Q5/listLocSub_rn.action", paramsData, {});
  if (res.status) {
    if (res.result.list.length > 0) {
      subGridOptions.api?.setRowData(res.result.list);
    } else {
      subGridOptions.api?.setRowData([]);
    }
  }
}

const mainGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: MAIN_FORM_COLUMN_DEFS_WMSOP000Q5V2,
  onGridReady: mainOnGridReady,
  rowSelection: "single",
  enableRangeSelection: true,
  suppressContextMenu: true,
  suppressClickEdit: true,
  suppressColumnVirtualisation: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  getRowClass: (params: any) => {
    if (bottomGridDataList[params.data.WORK_ID] && bottomGridDataList[params.data.WORK_ID].length > 0) {
      for (let i = 0; bottomGridDataList[params.data.WORK_ID].length > i; i++) {
        if (!bottomGridDataList[params.data.WORK_ID][i].LOC_ID) {
          return "work-progress";
        }
      }
      return "work-completed";
    }
  },
  onSelectionChanged: () => {
    currentSelectedMainGridData = mainGridOptions.api?.getSelectedRows()[0];
    setBottomGridDataList();
    beforeSelectedRowId = mainGridOptions.api?.getSelectedRows()[0].WORK_ID;
    getSubGridRowData(currentSelectedMainGridData.WORK_ID, currentSelectedMainGridData.WORK_SEQ);
    useSelectedDataStore().selectedModalHandler({ product: { RITEM_ID: currentSelectedMainGridData.RITEM_ID } });
  },
};

const subGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  columnDefs: SUB_FORM_COLUMN_DEFS_WMSOP000Q5V2,
  headerHeight: 32,
  rowHeight: 32,
  rowSelection: "multiple",
  rowModelType: "clientSide",
  enableRangeSelection: true,
  enableCellEditingOnBackspace: false,
  suppressClickEdit: true,
  suppressContextMenu: true,
  suppressRowClickSelection: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onRowSelected: subGridOnSelectionChanged,
  onPasteEnd: onPasteEnd,
  onCellFocused: onCellFocused,
  onModelUpdated: () => {
    setBottomGridDataList(mainGridOptions.api?.getSelectedRows()[0]?.WORK_ID);
    mainGridOptions.api?.redrawRows();
    updateWorkQty();
  },
  getRowId: (data) => {
    return data.data.RNUM;
  },
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
}

function onPasteEnd() {
  useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
}

function subGridOnSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (subGridSelectedItems.value.length !== subGridOptions.api?.getSelectedRows().length) {
      subGridSelectedItems.value = subGridOptions.api?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
    }
  } else {
    subGridSelectedItems.value = subGridOptions.api?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
  }
}

// 하단 행의 작업수량 값이 변경될때, 상단 선택된 행의 작업수량 값을 업데이트
function updateWorkQty() {
  if (currentSelectedMainGridData) {
    const currentWorkId = currentSelectedMainGridData.WORK_ID;

    let totalWorkQtyInBottomGrid = 0;

    if (Object.hasOwn(bottomGridDataList, currentWorkId) && bottomGridDataList[currentWorkId].length > 0) {
      bottomGridDataList[currentWorkId].forEach((row: any) => {
        totalWorkQtyInBottomGrid += Number(row.WORK_QTY);
      });
    }

    currentSelectedMainGridData.WORK_QTY = totalWorkQtyInBottomGrid;

    mainGridOptions.api?.applyTransaction({ update: [currentSelectedMainGridData] });
  }
}

//삭제
async function deleteRowData() {
  subGridSelectedItems = subGridOptions.api?.getSelectedRows();

  // 유효성검시
  if (subGridSelectedItems.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  const saveBodyData: any = {
    func: "fn_search",
    txtWhNm: "",
    D_selectIds: 0,
    I_selectIds: "0",
  };

  let removeCount = 0;
  let D_selectIdsConunt = 0;
  for (let i = 0; subGridSelectedItems.length > i; i++) {
    if (String(subGridSelectedItems[i].RNUM).includes("temp") || String(subGridSelectedItems[i].RNUM).includes("recommend")) {
      subGridOptions.api?.applyTransaction({ remove: [subGridSelectedItems[i]] });
      removeCount++;
      saveBodyData.D_selectIds = saveBodyData.D_selectIds--;
    } else {
      D_selectIdsConunt++;
      saveBodyData["D_ST_GUBUN" + [i]] = "DELETE";
      saveBodyData["D_WORK_ID" + [i]] = String(subGridSelectedItems[i].WORK_ID || "");
      saveBodyData["D_WORK_SEQ" + [i]] = String(subGridSelectedItems[i].WORK_SEQ || "");
      saveBodyData["D_WORK_SUBSEQ" + [i]] = String(subGridSelectedItems[i].WORK_SUBSEQ || "");
    }
  }

  if (subGridSelectedItems.length === removeCount) {
    return;
  }
  saveBodyData.D_selectIds = String(D_selectIdsConunt);

  const res = await ApiService.postApi("/WMSOP000Q5/saveLoc_rn.action", {}, saveBodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      setTimeout(() => {
        UtilService.setOpenerPostMessageForGetGridData();
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

/**
 * 저장
 */
async function save() {
  let answer: string = ""; // 유효성검사 메시지

  // 상단 그리드의 모든행 획득
  const mainGridList = [] as any;
  if (mainGridOptions.api?.getRenderedNodes() && mainGridOptions.api?.getRenderedNodes().length > 0) {
    mainGridOptions.api?.getRenderedNodes().forEach((node: any) => {
      mainGridList.push(node.data);
    });
  }

  /** 유효성 검사 */
  for (let j = 0; mainGridList.length > j; j++) {
    const colOrdQty = mainGridList[j].ORD_QTY; // 주문수량
    const colOrdId = mainGridList[j].ORD_ID; // 주문번호
    const colOrdSeq = mainGridList[j].ORD_SEQ; // 주문SEQ
    const colWorkId = mainGridList[j].WORK_ID; // 작업번호

    let chkWorkQtyAA = 0; // 작업수량 총합
    let invChk_work_qty: any = [];

    subGridSelectedItems = bottomGridDataList[colWorkId] ?? ([] as any); // subGridList 획득

    for (let i = 0; i < subGridSelectedItems.length; i++) {
      chkWorkQtyAA += Number(subGridSelectedItems[i].WORK_QTY);

      // 유효성 검사: 로케이션 지정 미완료
      if (!subGridSelectedItems[i].LOC_ID) {
        return useToast().warning(t("common-toast.undefined-location"));
      }

      if (Number(subGridSelectedItems[i].WORK_QTY) == 0) {
        invChk_work_qty.push("상품" + " : " + subGridSelectedItems[i].RITEM_CD + "\n");
      }
    }

    // 유효성 검사: 주문수량 대비 작업수량 초과
    if (colOrdQty < chkWorkQtyAA) {
      return useToast().warning(t("common-toast.work-qty-over-ord-qty"));
    } else if (colOrdQty > chkWorkQtyAA) {
      if (!subGridSelectedItems) {
        answer += "주문" + " : " + colOrdId + "/" + colOrdSeq + "\n";
      }
    }

    // 유효성 검사: 로케이션 지정 작업수량 row 단위 별 0 체크
    if (0 < invChk_work_qty.length) {
      return useToast().warning(invChk_work_qty + "\n" + t("common-toast.parent-work-qty-0"));
    }
  }

  if (answer != "") {
    await useConfirmStore().confirm(t("confirm-message.lacking-location-work-qty"), t("button-name.confirm"));
  } else {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
  }

  /** 데이터 생성 및 API 수행 */
  let formData = new FormData();
  let insCnt: number = 0; // 추가 작업횟수
  let delCnt: number = 0; // 삭제 작업횟수
  let jobIndex: number = 0; // 작업횟수

  for (let i = 0; i < mainGridList.length; i++) {
    const colWorkId = mainGridList[i].WORK_ID; // 작업번호
    subGridSelectedItems = bottomGridDataList[colWorkId] ?? ([] as any); // subGridList 획득

    if (!subGridSelectedItems) continue;

    for (let j = 0; j < subGridSelectedItems.length; j++) {
      switch (subGridSelectedItems[j].SPDCOL_FLAG) {
        case "A":
          formData.append(`I_ST_GUBUN${jobIndex}`, "INSERT");
          insCnt++;
          break;

        case "E":
          formData.append(`I_ST_GUBUN${jobIndex}`, "UPDATE");
          insCnt++;
          break;

        case "D":
          formData.append(`D_ST_GUBUN${jobIndex}`, "DELETE");
          delCnt++;
          break;
      }

      formData.append(`I_WORK_ID${jobIndex}`, String(subGridSelectedItems[j].WORK_ID || ""));
      formData.append(`I_WORK_SEQ${jobIndex}`, String(subGridSelectedItems[j].WORK_SEQ || ""));
      formData.append(`I_WORK_SUBSEQ${jobIndex}`, String(subGridSelectedItems[j].WORK_SUBSEQ || ""));
      formData.append(`I_PDA_CD${jobIndex}`, String(subGridSelectedItems[j].PDA_CD || ""));
      formData.append(`I_EMPLOYEE_ID${jobIndex}`, String(subGridSelectedItems[j].EMPLOYEE_ID || ""));
      formData.append(`I_LOC_ID${jobIndex}`, String(subGridSelectedItems[j].LOC_ID || ""));
      formData.append(`I_RITEM_ID${jobIndex}`, String(subGridSelectedItems[j].RITEM_ID || ""));
      formData.append(`I_WORK_QTY${jobIndex}`, String(subGridSelectedItems[j].WORK_QTY || ""));
      formData.append(`I_UOM_ID${jobIndex}`, String(subGridSelectedItems[j].UOM_ID || ""));
      formData.append(`I_CONF_QTY${jobIndex}`, String(subGridSelectedItems[j].WORK_QTY || ""));
      formData.append(`I_SUB_LOT_ID${jobIndex}`, String(subGridSelectedItems[j].SUB_LOT_ID || ""));
      formData.append(`I_STOCK_ID${jobIndex}`, String(subGridSelectedItems[j].STOCK_ID || ""));
      formData.append(`I_REAL_PLT_QTY${jobIndex}`, String(subGridSelectedItems[j].REAL_PLT_QTY || ""));
      formData.append(`I_REAL_BOX_QTY${jobIndex}`, String(subGridSelectedItems[j].REAL_BOX_QTY || ""));
      formData.append(`I_ITEM_DATE_END${jobIndex}`, String(subGridSelectedItems[j].ITEM_DATE_END || ""));

      jobIndex++;
    }
  }

  formData.append(`I_selectIds`, insCnt.toString());
  formData.append(`D_selectIds`, delCnt.toString());

  const res = await ApiService.postApi("/WMSOP000Q5/saveLoc_rn.action", {}, formData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      setTimeout(() => {
        UtilService.setOpenerPostMessageForGetGridData();
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 초기화
async function locationReset() {
  if (!currentSelectedMainGridData) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  if (Number(currentSelectedMainGridData.ORD_STAT) >= 500) {
    return useToast().warning(t("common-toast.unavailable-reset-after-save-location"));
  }

  await useConfirmStore().confirm(t("confirm-message.reset"), t("button-name.confirm"));
  // 초기화시 작업중 행을 모두 없애기 위해 하단 그리드 재조회
  getSubGridRowData(currentSelectedMainGridData.WORK_ID, currentSelectedMainGridData.WORK_SEQ, true);
  if (Object.hasOwn(bottomGridDataList, currentSelectedMainGridData.WORK_ID)) {
    delete bottomGridDataList[currentSelectedMainGridData.WORK_ID];
  }
}

// 신규
function addRowData() {
  if (!currentSelectedMainGridData) {
    return;
  }

  const tempId = `temp${mainTempCount}`;
  let workQty = Number(currentSelectedMainGridData.ORD_QTY) - Number(currentSelectedMainGridData.WORK_QTY);
  if (workQty < 0) {
    workQty = 0;
  }
  let realPltQty = "";
  if (currentSelectedMainGridData.REAL_PLT_QTY > 0) {
    realPltQty = currentSelectedMainGridData.REAL_PLT_QTY;
  } else if (currentSelectedMainGridData.REAL_PLT_QTY == 0 || currentSelectedMainGridData.REAL_PLT_QTY == "") {
    realPltQty = "";
  }
  const newData = {
    ORD_ID: String(currentSelectedMainGridData.ORD_ID || ""),
    WORK_SEQ: String(currentSelectedMainGridData.WORK_SEQ || ""),
    RITEM_ID: String(currentSelectedMainGridData.RITEM_ID || ""),
    RITEM_CD: String(currentSelectedMainGridData.RITEM_CD || ""),
    RITEM_NM: String(currentSelectedMainGridData.RITEM_NM || ""),
    WORK_ID: String(currentSelectedMainGridData.WORK_ID || ""),
    SUB_LOT_ID: String(currentSelectedMainGridData.SUB_LOT_ID || ""),
    ITEM_DATE_END: String(currentSelectedMainGridData.ITEM_DATE_END || ""),
    UOM_CD: String(currentSelectedMainGridData.UOM_CD || ""),
    UOM_ID: String(currentSelectedMainGridData.UOM_ID || ""),
    UOM_NM: String(currentSelectedMainGridData.UOM_NM || ""),
    WORK_QTY: workQty,
    REAL_PLT_QTY: realPltQty,
    SPDCOL_FLAG: "A",
    RNUM: tempId,
  };

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(subGridOptions.api?.paginationGetCurrentPage()) + 1) * Number(subGridOptions.api?.paginationGetPageSize()) - Number(subGridOptions.api?.paginationGetPageSize());

  subGridOptions.api?.applyTransaction({
    add: [newData],
    addIndex: addNewIndex,
  });

  mainTempCount++;

  subGridOptions.api?.getRowNode(String(tempId))?.setSelected(true);
  useSelectedDataStore().selectedInfoHandler(subGridOptions.api?.getRowNode(String(tempId))?.data, true);

  subGridOptions.api?.refreshCells({ columns: ["NO"], suppressFlash: true });
}

// 로케이션추천
async function locationRecommendation() {
  //유효성 검사
  if (!currentSelectedMainGridData) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  if (Number(currentSelectedMainGridData.ORD_QTY) === 0) {
    return useToast().warning(t("common-toast.no-ord-qty"));
  }

  let subGridList: any = [];
  const allGridRowDataKeys = Object.keys(subGridOptions.api?.getModel().nodeManager.allNodesMap);
  for (let i = 0; allGridRowDataKeys.length > i; i++) {
    subGridList.push(subGridOptions.api?.getModel().nodeManager.allNodesMap[allGridRowDataKeys[i]].data);
  }

  let sum = 0;

  for (let i = 0; subGridList.length > i; i++) {
    sum += Number(subGridList[i].WORK_QTY);
    if (subGridList[i].SPDCOL_FLAG) {
      return useToast().warning(t("common-toast.available-recommend-location-after-save"));
    }
    if (currentSelectedMainGridData.ORD_QTY <= sum) {
      return useToast().warning(t("common-toast.already-has-location"));
    }
  }

  // bodyData
  const bodyData: any = {
    ordId: String(currentSelectedMainGridData.ORD_ID || ""),
    ordSeq: String(currentSelectedMainGridData.ORD_SEQ || ""),
    ritemId: String(currentSelectedMainGridData.RITEM_ID || ""),
    custLotNo: String(currentSelectedMainGridData.custLotNo || ""),
    workDt: UtilService.getToday(), // YYYYMMDD
    makeDt: String(currentSelectedMainGridData.makeDt || ""),
    uomId: String(currentSelectedMainGridData.UOM_ID || ""),
    ordQty: String(currentSelectedMainGridData.ORD_QTY || ""),
    workQty: String(Number(currentSelectedMainGridData.ORD_QTY) - Number(currentSelectedMainGridData.WORK_QTY)),
    realPltQty: String(currentSelectedMainGridData.REAL_PLT_QTY || ""),
    realBoxQty: String(currentSelectedMainGridData.REAL_BOX_QTY || ""),
    itemStat: String(currentSelectedMainGridData.ITEM_STAT || ""),
    workStat: String(currentSelectedMainGridData.WORK_STAT || ""),
    unitAmt: String(currentSelectedMainGridData.UNIT_AMT || ""),
    eaCapa: String(currentSelectedMainGridData.EA_CAPA || ""),
    itemDateEnd: String(currentSelectedMainGridData.ITEM_DATE_END || ""),
    lcId: String(currentSelectedMainGridData.LC_ID || ""),
    tCustId: String(currentSelectedMainGridData.T_CUST_ID || ""),
    ownerCd: String(currentSelectedMainGridData.OWNER_CD || ""),
    custId: String(currentSelectedMainGridData.CUST_ID || ""),
    vrLocKeepYn: "Y",
    vrStartLoc: "0",
    vrEndLoc: "0",
  };

  let opId = "N/A";
  // 입고
  if (vrOrdTypeQueryString == "01") {
    bodyData.vrPutawayType = "0";
    opId = "locAutoInLoc";
  }
  // 출고
  if (vrOrdTypeQueryString == "02") {
    bodyData.vrPickingType = "0";
    if (String(currentSelectedMainGridData.TIME_PERIOD_DAY) == "") {
      bodyData.periodDay = "0";
    } else {
      bodyData.periodDay = String(currentSelectedMainGridData.TIME_PERIOD_DAY);
    }
    opId = "locAutoOutLoc";
  }

  if (opId == "N/A") {
    return useToast().warning(t("common-toast.unavailable-recommend-location"));
  }
  const url = vrOrdTypeQueryString === "01" ? "/WMSOP000Q5/locAutoInLoc_rn.action" : "/WMSOP000Q5/locAutoOutLoc_rn.action";
  const res = await ApiService.postApi(url, {}, bodyData);

  // 로케이션 추천 요청 이후 그리드에 리턴 값 셋팅
  if (res.status) {
    if (res.result.O_LOC.length > 0) {
      const O_LOC = res.result.O_LOC;
      const colOrdQty = currentSelectedMainGridData.ORD_QTY;

      let newAddItemList: any = [];

      for (var i = 0; i < O_LOC.length; i++) {
        const remainOrdQty = Number(colOrdQty) - sum > 0 ? Number(colOrdQty) - sum : "0";
        const workQty = O_LOC[i].ORD_QTY; // 추천 가능수량
        const ableQty = Number(remainOrdQty) >= Number(workQty) ? Number(workQty) : Number(remainOrdQty);
        const rowId = `recommend${newRecommendDataCount}`;

        //yhku 2021-12-27 변경
        const newAddItem: any = {
          ORD_ID: String(currentSelectedMainGridData.ORD_ID || ""),
          WORK_SEQ: String(currentSelectedMainGridData.WORK_SEQ || ""),
          RITEM_ID: String(currentSelectedMainGridData.RITEM_ID || ""),
          RITEM_CD: String(currentSelectedMainGridData.RITEM_CD || ""),
          RITEM_NM: String(currentSelectedMainGridData.RITEM_NM || ""),
          WORK_ID: String(currentSelectedMainGridData.WORK_ID || ""),

          LOC_ID: String(O_LOC[i].LOC_ID || ""),
          LOC_CD: String(O_LOC[i].LOC_CD || ""),
          REAL_PLT_QTY: String(O_LOC[i].REAL_PLT_QTY || ""),
          REAL_BOX_QTY: String(O_LOC[i].REAL_BOX_QTY || ""),
          UOM_ID: String(O_LOC[i].UOM_ID || ""),
          ITEM_DATE_END: String(O_LOC[i].ITEM_DATE_END || ""),
          STOCK_ID: String(O_LOC[i].STOCK_ID || ""),
          UOM_CD: String(O_LOC[i].UOM_CD || ""),
          UOM_NM: String(O_LOC[i].UOM_NM || ""),
          CUST_LOT_NO: String(O_LOC[i].CUST_LOT_NO || ""),
          UNIT_NO: String(O_LOC[i].UNIT_NO || ""),
          SPDCOL_FLAG: "A",
          WORK_QTY: ableQty,
          RNUM: rowId,
        };

        if (vrOrdTypeQueryString == "01") {
          newAddItem.SUB_LOT_ID = currentSelectedMainGridData.SUB_LOT_ID || "";
        } else if (vrOrdTypeQueryString == "02") {
          newAddItem.SUB_LOT_ID = O_LOC[i].SUB_LOT_ID;
          newAddItem.CHK_OV_WORK_QTY = ableQty;
        }

        newAddItemList.push(newAddItem);

        const addNewIndex = (Number(subGridOptions.api?.paginationGetCurrentPage()) + 1) * Number(subGridOptions.api?.paginationGetPageSize()) - Number(subGridOptions.api?.paginationGetPageSize());

        subGridOptions.api?.applyTransaction({
          add: newAddItemList,
          addIndex: addNewIndex,
        });

        newRecommendDataCount++;

        subGridOptions.api?.getRowNode(String(rowId))?.setSelected(true);
        useSelectedDataStore().selectedInfoHandler(subGridOptions.api?.getRowNode(String(rowId))?.data, true);

        subGridOptions.api?.refreshCells({ columns: ["No"], suppressFlash: true });
      }
    }
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.wmsop000q5v2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }
  &-container {
    height: 100%;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-control {
    margin-top: 5px;
  }

  &-grid {
    position: relative;
    height: calc(50% - 29px);

    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
      &-warehouse-title {
        margin-right: auto;
        border-radius: 50%;
      }
      input {
        margin-left: auto;
        padding-left: 20px;
      }
    }
  }
  &-top-grid {
    position: relative;
    height: calc(50% - 29px);

    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
    }
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(50% - 5px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}

.wmsop000q5v2-form-container {
  height: calc(100% - 55px);
}

.ag-grid-size {
  height: calc(100% - 31px);
}
</style>
