<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsop000q3.vue
 *  Description:    입출고관리(통합)- 입고관리 페이지에서 context-menu 입하 - 입차확인 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsop000q3" class="wmsop000q3">
    <div class="wmsop000q3-container">
      <h3 class="wmsop000q3-title">{{ t("modal-title.check-in") }}</h3>
      <!--검색 인풋영역-->
      <div class="" ref="searchComponentRef">
        <search-container :data="SEARCH_INPUT_WMSOP000Q3" :use-setting="false" :un-used-refresh-button="true">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in SEARCH_INPUT_WMSOP000Q3" :key="i">
              <search-container-input :data="props" :columnDefs="WMSOP000Q1_MODAL_COLUMN_DEFS[props.title]" :modalData="SEARCH_MODAL_INFO_WMSOP000Q1[props.title]" :pageInfo="null" />
            </template>
          </template>
        </search-container>
      </div>
      <!--컨트롤버튼 영역-->
      <control-container>
        <div class="button-area">
          <control-button v-for="btnData in CONTROL_BTN_WMSOP000Q3" :data="btnData" :key="btnData.title" :requestSaveOrCancel="requestSaveOrCancel" />
        </div>
      </control-container>
      <!--그리드영역-->
      <div class="wmsop000q3-form-container">
        <div class="wmsop000q3-grid">
          <div class="grid-header">{{ t("grid-title.incoming-vehicle") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e)" class="page-size">
              <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ totalRows }}</span>
          </div>
        </div>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
      </div>
    </div>
  </div>
  <confirm-popup />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import { ControlContainer, SearchContainer } from "@/components/layout";
import { ConfirmPopup } from "@/popups";

import { IServerSideGetRowsParams } from "ag-grid-community";
import { WMSOP000Q1_MODAL_COLUMN_DEFS, WMSOP000Q3_FORM_COLUMN_DEFS } from "../column-defs";
import { CONTROL_BTN_WMSOP000Q3, SEARCH_INPUT_WMSOP000Q3, SEARCH_MODAL_INFO_WMSOP000Q1 } from "../input.meta";

// Variable Definitions
const selectedItems = reactive({ value: [] as any });
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSOP000Q3");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows: any = ref<number>(0);
const searchComponentRef = ref(null as null | HTMLDivElement);
const inactive = ref<boolean>(false);
const vrOrdIdQueryString = new URL(window.location.href).searchParams.get("vrOrdId");
const vrSrchReqFromDtQueryString = new URL(window.location.href).searchParams.get("vrSrchReqFromDt");
const vrSrchReqToDtQueryString = new URL(window.location.href).searchParams.get("vrSrchReqToDt");
const vrOrdTypeQueryString = new URL(window.location.href).searchParams.get("vrOrdType");

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

onMounted(() => {
  if (!vrOrdIdQueryString) {
    window.close();
  }

  // search-input 영역 날짜 값 셋팅
  useSearchConditionStore().changeSearchInputValue("vrSrchReqDtFrom", vrSrchReqFromDtQueryString);
  useSearchConditionStore().changeSearchInputValue("vrSrchReqToDt", vrSrchReqToDtQueryString);
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    getGridRowDataList();
  }
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = () => {
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

//승인 , 취소
async function requestSaveOrCancel(vrApproveYn: "Y" | "N") {
  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    const bodyData: any = {
      func: "",
      vrApproveYn: vrApproveYn,
      vrOrdType: vrOrdTypeQueryString,
      vrOrdId: vrOrdIdQueryString,
      vrSrchReqFromDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqFromDt || ""),
      vrSrchReqToDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqToDt || ""),
      vrSrchCarCd: useSelectedDataStore().getSelectedModalData().vehicle?.CAR_CD,
      vrSrchCarNm: "",
      vrSrchCarId: useSelectedDataStore().getSelectedModalData().vehicle?.CAR_ID,
      vrSrchApproveYn: String(useSearchConditionStore().getSearchInputValue().vrSrchApproveYn || ""),
      vrSrchOrdId: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdId || ""),
      selectIds: String(selectedItems.value.length),
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      bodyData["ORD_ID" + [i]] = String(selectedItems.value[i].ORD_ID || "");
      bodyData["ORD_SEQ" + [i]] = String(selectedItems.value[i].ORD_SEQ || "");
      bodyData["DSP_ID" + [i]] = String(selectedItems.value[i].DSP_ID || "");
    }

    const res = await ApiService.postApi("/WMSOP000Q3/saveConfirmCarIn_rn.action", {}, bodyData);
    if (res.status) {
      if (res.result.errCnt == 0) {
        useToast().success(res.result.MSG);
        setTimeout(() => {
          closePopup();
        }, 1500);
        return;
      } else {
        return useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    console.log(err);
  }
}

async function getGridRowDataList() {
  let apiParams = UtilService.getGridParams(SEARCH_INPUT_WMSOP000Q3, useSelectedDataStore(), useSearchConditionStore());
  apiParams.vrOrdType = vrOrdTypeQueryString;
  apiParams.vrOrdId = vrOrdIdQueryString;
  apiParams.func = "fn_search";
  gridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const res = await ApiService.postApi("/WMSOP000Q3/listConfirmDsp_rn.action", apiParams, bodyData.value);
      if (res.status) {
        if (res.result.list.length > 0) {
          UtilService.setGridData("server-side", gridOptions.api, { gridDataArray: res.result.list, totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", gridOptions.api, null, params);
        }
      } else {
        UtilService.setGridData("server-side", gridOptions.api, null, params);
      }
    },
  });
  useSearchConditionStore().setAvailableSearchBySearchCondition(false);
}

const onPaginationChanged = () => {
  totalRows.value = gridOptions.api?.paginationGetRowCount();
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: WMSOP000Q3_FORM_COLUMN_DEFS,
  onGridReady: onGridReady,
  onRowSelected: onSelectionChanged,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  suppressCellFocus: true,
  suppressClickEdit: true,
  onPaginationChanged: onPaginationChanged,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
  groupSelectsChildren: true,
};

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridOptions.api?.getSelectedRows();
    }
  } else {
    selectedItems.value = gridOptions.api?.getSelectedRows();
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 물류용기조회 버튼 클릭
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.wmsop000q3-container {
  height: 100%;
}
.wmsop000q3 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px 10px;
  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 0 10px 0;
  }
  .wmsop000q3-form-container {
    height: calc(100% - 294px);
  }
  &-grid {
    position: relative;
    height: 100%;
    padding: 0 10px 0 10px;
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;

      &:nth-of-type(1) {
        margin-top: 10px;
      }
    }
    .ag-grid-size {
      height: calc(100% - 31px);
    }
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 28px);
  margin-left: 3px;

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(100% - 15px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}

.button-area {
  width: calc(56% - 14px);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 7px;
}
</style>
