<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsop000q1.vue
 *  Description:    입출고관리(통합)- 입고관리 페이지에서 context-menu 입하 - DOCK지정 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsop000q4" class="wmsop000q4">
    <div class="wmsop000q4-container">
      <h3 class="wmsop000q4-title">{{ t("modal-title.designated-dock") }}</h3>
      <!--검색 인풋영역-->
      <div class="">
        <search-container :data="SEARCH_INPUT_WMSOP000Q4" :use-setting="false" :un-used-refresh-button="true">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in SEARCH_INPUT_WMSOP000Q4" :key="i">
              <search-container-input :data="props" :columnDefs="WMSOP000Q1_MODAL_COLUMN_DEFS[props.title]" :modalData="SEARCH_MODAL_INFO_WMSOP000Q1[props.title]" :pageInfo="null" />
            </template>
          </template>
        </search-container>
      </div>
      <!--컨트롤버튼 영역-->
      <control-container>
        <control-button v-for="btnData in CONTROL_BTN_WMSOP000Q4" :data="btnData" :key="btnData.title" :dockRelease="dockRelease" />
      </control-container>
      <!--그리드영역-->
      <div class="wmsop000q4-form-container">
        <div class="wmsop000q4-grid">
          <div class="grid-header">{{ t("grid-title.vehicle-list") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size top-grid" :gridOptions="leftGridOptions" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e, 'top')" class="page-size">
              <option v-for="(option, i) in leftPagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ leftTotalRows }}</span>
          </div>
        </div>
        <div class="wmsop000q4-grid">
          <div class="grid-header">{{ t("grid-title.dock") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size bottom-grid" :gridOptions="rightGridOptions" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e, 'bottom')" class="page-size">
              <option v-for="(option, i) in rightPagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ rightTotalRows }}</span>
          </div>
        </div>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
        <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
  <confirm-popup />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, reactive, ref, watch } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import { ControlContainer, SearchContainer } from "@/components/layout";
import { ConfirmPopup } from "@/popups";

import { IServerSideGetRowsParams } from "ag-grid-community";
import { WMSOP000Q1_MODAL_COLUMN_DEFS, WMSOP000Q4_LEFT_GRID_COLUMN_DEFS, WMSOP000Q4_RIGHT_GRID_COLUMN_DEFS } from "../column-defs";
import { CONTROL_BTN_WMSOP000Q4, SEARCH_INPUT_WMSOP000Q4, SEARCH_MODAL_INFO_WMSOP000Q1 } from "../input.meta";

// Variable Definitions
const selectedItems = reactive({ value: [] as any });
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const leftPagingOptions = UtilService.getGridPagingOptions("WMSOP000Q1");
const leftPagingSize = ref<number>(leftPagingOptions![0]);
const leftTotalRows = ref<number>(0);
const rightPagingOptions = UtilService.getGridPagingOptions("WMSOP000Q1");
const rightPagingSize = ref<number>(rightPagingOptions![0]);
const rightTotalRows = ref<number>(0);
const inactive = ref<boolean>(false);
const vrOrdIdQueryString = new URL(window.location.href).searchParams.get("vrOrdId");
const vrOrdTypeQueryString = new URL(window.location.href).searchParams.get("vrOrdType");

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  leftGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
  rightGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  if (!vrOrdIdQueryString) {
    window.close();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
      getLeftGridRowData();
    }
  }
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const leftOnGridReady = () => {
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};
const rightOnGridReady = () => {
  rightGridOptions.api?.sizeColumnsToFit();
  rightGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      const res = await ApiService.postApi("/WMSMS120/list_rn.action", {}, {});
      if (res.status) {
        if (res.result.list.length > 0) {
          UtilService.setGridData("server-side", rightGridOptions.api, { gridDataArray: res.result.list, totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", rightGridOptions.api, null, params);
        }
      } else {
        UtilService.setGridData("server-side", rightGridOptions.api, null, params);
      }
    },
  });
};

async function getLeftGridRowData() {
  leftGridOptions.api?.deselectAll();

  const apiParams: any = {
    func: "",
    vrOrdId: vrOrdIdQueryString,
    vrOrdType: vrOrdTypeQueryString,
    vrDockUseYn: String(useSearchConditionStore().getSearchInputValue().vrDockUseYn || ""),
    vrSrchReqFromDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqFromDt || ""),
    vrSrchReqToDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqToDt || ""),
    vrSrchCarCd: useSelectedDataStore().getSelectedModalData().vehicle?.CAR_CD || "",
    vrSrchCarNm: "",
    vrSrchCarId: useSelectedDataStore().getSelectedModalData().vehicle?.CAR_ID || "",
    vrSrchOrdId: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdId || ""),
  };

  leftGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params, "left");
      const res = await ApiService.postApi("/WMSOP000Q3/listConfirmDsp_rn.action", apiParams, {});
      if (res.status) {
        if (res.result.list.length > 0) {
          UtilService.setGridData("server-side", leftGridOptions.api, { gridDataArray: res.result.list, totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", leftGridOptions.api, null, params);
        }
      } else {
        UtilService.setGridData("server-side", leftGridOptions.api, null, params);
      }
    },
  });
  useSearchConditionStore().setAvailableSearchBySearchCondition(false);
}

const onPaginationChanged = (gridType: string) => {
  if (gridType === "top" && leftGridOptions.api) {
    leftTotalRows.value = leftGridOptions.api?.paginationGetRowCount();
  } else if (gridType === "bottom" && rightGridOptions.api) {
    rightTotalRows.value = rightGridOptions.api?.paginationGetRowCount();
  }
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event, gridType: any) {
  const target = e.target as HTMLSelectElement;

  if (gridType === "top") {
    leftGridOptions.api?.paginationSetPageSize(Number(target.value));
    leftGridOptions.api?.setCacheBlockSize(Number(target.value));
    leftPagingSize.value = Number(target.value);
  } else if (gridType === "bottom") {
    rightGridOptions.api?.paginationSetPageSize(Number(target.value));
    rightGridOptions.api?.setCacheBlockSize(Number(target.value));
    rightPagingSize.value = Number(target.value);
  }
}

const leftGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: WMSOP000Q4_LEFT_GRID_COLUMN_DEFS,
  onGridReady: leftOnGridReady,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "single",
  rowModelType: "serverSide",
  suppressCellFocus: true,
  suppressClickEdit: true,
  onPaginationChanged: () => {
    onPaginationChanged("top");
  },
  pagination: true,
  paginationPageSize: leftPagingOptions![0],
  cacheBlockSize: leftPagingOptions![0],
  onRowClicked: onRowClicked,
  suppressRowClickSelection: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

const rightGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  columnDefs: WMSOP000Q4_RIGHT_GRID_COLUMN_DEFS,
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: rightOnGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "multiple",
  suppressCellFocus: true,
  suppressClickEdit: true,
  rowModelType: "serverSide",
  onPaginationChanged: () => {
    onPaginationChanged("bottom");
  },
  pagination: true,
  paginationPageSize: rightPagingOptions![0],
  cacheBlockSize: rightPagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
  onSelectionChanged: onSelectionChanged,
  groupSelectsChildren: true,
};

function onRowClicked(params: any) {
  leftGridOptions.api?.deselectAll();
  leftGridOptions.api?.getRowNode(String(params.data.RNUM))?.setSelected(true);
  if (selectedItems.value.length > 0) {
    selectedItems.value.forEach((row: any) => {
      row.CAR_CD = params.data.CAR_CD;
      row.CAR_ID = params.data.CAR_ID;
    });

    rightGridOptions.api?.applyServerSideTransaction({ update: selectedItems.value });
  }
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== rightGridOptions.api?.getSelectedRows().length) {
      selectedItems.value = rightGridOptions.api?.getSelectedRows();
    }
  } else {
    selectedItems.value = rightGridOptions.api?.getSelectedRows();
  }
}

// 저장
async function save() {
  try {
    selectedItems.value = rightGridOptions.api?.getSelectedRows();

    const leftSelectedItems: any = leftGridOptions.api?.getSelectedRows();

    if (selectedItems.value.length === 0) {
      return useToast().warning(t("common-toast.no-selected-item"));
    }

    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

    const bodyData: any = {
      func: "",
      vrOrdId: vrOrdIdQueryString,
      vrOrdType: vrOrdTypeQueryString,
      vrDockUseYn: "Y",
      vrSrchReqFromDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqFromDt || ""),
      vrSrchReqToDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqToDt || ""),
      vrSrchCarCd: useSelectedDataStore().getSelectedModalData().vehicle?.CAR_CD || "",
      vrSrchCarNm: "",
      vrSrchCarId: useSelectedDataStore().getSelectedModalData().vehicle?.CAR_ID || "",
      vrSrchOrdId: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdId || ""),
      selectIds: String(selectedItems.value.length),
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      bodyData["DOCK_NO" + [i]] = String(selectedItems.value[i].DOCK_NO || "");
      bodyData["CAR_ID" + [i]] = String(selectedItems.value[i].CAR_ID || "false");
      bodyData["DSP_ID" + [i]] = String(leftSelectedItems.length > 0 ? leftSelectedItems[0].DSP_ID : "false");
    }

    const res = await ApiService.postApi("/WMSOP000Q4/saveSetDock_rn.action", {}, bodyData);
    if (res.status) {
      // TODO :: 성공시에도 errCnt가 1로 회신됨. BE 수정 필요
      useToast().success(t("common-toast.saved"));
      setTimeout(() => {
        UtilService.setOpenerPostMessageForGetGridData();
        closePopup();
      }, 1500);
      return;
    }
  } catch (err) {
    console.log(err);
  }
}

// 해체
async function dockRelease() {
  try {
    if (selectedItems.value.length === 0) {
      return useToast().warning(t("common-toast.no-selected-item"));
    }

    const leftSelectedItems: any = leftGridOptions.api?.getSelectedRows();

    await useConfirmStore().confirm(t("confirm-message.confirm-release"), t("button-name.confirm"));

    const bodyData: any = {
      func: "",
      vrOrdId: vrOrdIdQueryString,
      vrOrdType: vrOrdTypeQueryString,
      vrDockUseYn: "N",
      vrSrchReqFromDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqFromDt || ""),
      vrSrchReqToDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqToDt || ""),
      vrSrchCarCd: useSelectedDataStore().getSelectedModalData().vehicle?.CAR_CD || "",
      vrSrchCarNm: "",
      vrSrchCarId: useSelectedDataStore().getSelectedModalData().vehicle?.CAR_ID || "",
      vrSrchOrdId: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdId || ""),
      selectIds: String(selectedItems.value.length),
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      bodyData["DOCK_NO" + [i]] = String(selectedItems.value[i].DOCK_NO || "");
      bodyData["CAR_ID" + [i]] = String(selectedItems.value[i].CAR_ID || "false");
      bodyData["DSP_ID" + [i]] = String(leftSelectedItems.length > 0 ? leftSelectedItems[0].DSP_ID : "false");
    }

    const res = await ApiService.postApi("/WMSOP000Q4/saveSetDock_rn.action", {}, bodyData);
    if (res.status) {
      if (res.result.errCnt == 0) {
        useToast().success(res.result.MSG);
        setTimeout(() => {
          UtilService.setOpenerPostMessageForGetGridData();
          closePopup();
        }, 1500);
        return;
      } else {
        return useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    console.log(err);
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}

function setPagingBodyData(params: any, gridPosition: string) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;
  bodyData.value = {
    rows: String(gridPosition === "left" ? leftPagingSize.value : rightPagingSize.value),
    page: String(currentPage),
  };
}

// 물류용기조회 버튼 클릭
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.wmsop000q4 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px 10px;

  &-container {
    width: 100%;
    height: 100%;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 0 10px 0;
  }

  &-grid {
    position: relative;
    width: calc(50% - 5px);
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
    }
    .ag-grid-size {
      // height: 200px;
      height: calc(100% - 31px);
    }
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(50% - 5px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}

.incoming-vehicle-button-area {
  width: 44%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin-left: 20px;
}

.wmsop000q4-form-container {
  height: calc(100% - 229px);
  display: flex;
  justify-content: space-between;
}
</style>
