<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsop000q2.vue
 *  Description:    입출고관리(통합)- 입고관리 페이지에서 context-menu 배차 - 일반배차 - 미배차내역 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsop000q2" class="wmsop000q2">
    <div class="wmsop000q2-container">
      <h3 class="wmsop000q2-title">{{ t("modal-title.non-vehicle-dispatching-list") }}</h3>
      <!--그리드영역-->
      <div class="wmsop000q2-form-container" ref="formContainerRef">
        <div class="wmsop000q2-grid">
          <div class="grid-header">{{ t("grid-title.non-vehicle-dispatching-list") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e)" class="page-size">
              <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ totalRows }}</span>
          </div>
        </div>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
        <button class="confirm" @click="() => confirm()">{{ t("button-name.confirm") }}</button>
      </div>
    </div>
  </div>
  <confirm-popup />
  <loading-spinner :contentBodyOnly="true" v-if="useLoadingStore().spinners !== 0" />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useLoadingStore } from "@/store";

import loadingSpinner from "@/components/ui/loading-spinner.vue";
import { ConfirmPopup } from "@/popups";

import { IServerSideGetRowsParams } from "ag-grid-community";
import { FORM_COLUMN_DEFS_WMSOP000Q2 } from "../column-defs";

// Variable Definitions
const selectedItems = reactive({ value: [] as any });
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSOP000Q3");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows: any = ref<number>(0);
const formContainerRef = ref(null as null | any);
const inactive = ref<boolean>(false);
const vrOrdIdQueryString = new URL(window.location.href).searchParams.get("vrOrdId");
const vrOrdTypeQueryString = new URL(window.location.href).searchParams.get("vrOrdType");
const vrSrchReqFromDtQueryString = new URL(window.location.href).searchParams.get("vrSrchReqFromDt");
const vrSrchReqToDtQueryString = new URL(window.location.href).searchParams.get("vrSrchReqToDt");

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

onMounted(() => {
  // 해당 팝업 zoom값 적용 시 변경된 높이 style 지정
  const container: HTMLElement | null = document.querySelector(".wmsop000q2-form-container");
  container!.style.height = `calc(100% - ${UtilService.getZoomHeight("wmsop000q2")}px)`;
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridOptions.api?.getSelectedRows();
    }
  } else {
    selectedItems.value = gridOptions.api?.getSelectedRows();
  }
}

// 저장
async function confirm() {
  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }
  await useConfirmStore().confirm(t("confirm-message.register"), t("button-name.confirm"));
  window.opener.postMessage({ selectedItems: JSON.parse(JSON.stringify(selectedItems.value)) }, "*");
  closePopup();
}

const onGridReady = () => {
  const paramsData = {
    vrOrdType: vrOrdTypeQueryString,
    vrOrdId: vrOrdIdQueryString,
    vrSrchReqFromDt: vrSrchReqFromDtQueryString,
    vrSrchReqToDt: vrSrchReqToDtQueryString,
  };
  gridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const res = await ApiService.postApi("/WMSOP000Q2/listNewDsp_rn.action", paramsData, bodyData.value);
      if (res.status) {
        if (res.result.list.length > 0) {
          UtilService.setGridData("server-side", gridOptions.api, { gridDataArray: res.result.list, totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", gridOptions.api, null, params);
        }
      } else {
        UtilService.setGridData("server-side", gridOptions.api, null, params);
      }
    },
  });
};

const onPaginationChanged = () => {
  totalRows.value = gridOptions.api?.paginationGetRowCount();
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: FORM_COLUMN_DEFS_WMSOP000Q2,
  onGridReady: onGridReady,
  onSelectionChanged: onSelectionChanged,
  onCellDoubleClicked: confirm,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  suppressCellFocus: true,
  suppressClickEdit: true,
  onPaginationChanged: onPaginationChanged,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
  groupSelectsChildren: true,
};

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.wmsop000q2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px 10px;
  &-container {
    height: 100%;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 0 10px 0;
  }

  &-grid {
    position: relative;
    padding: 0 10px 0 10px;
    height: 100%;
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;

      &:nth-of-type(1) {
        margin-top: 10px;
      }
    }
    .ag-grid-size {
      height: calc(100% - 31px);
    }
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 28px);
  margin-left: 3px;

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(100% - 15px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .confirm {
    @include btnColorStyle($main);
  }
}

.button-area {
  width: calc(56% - 14px);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 7px;
}
</style>
