<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsop000q1.vue
 *  Description:    입출고관리(통합)- 입고관리 페이지에서 context-menu 상품현재고조회 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsop000q12" class="wmsop000q12">
    <!--그리드영역-->
    <div class="wmsop000q12-container">
      <div class="wmsop000q12-grid">
        <!-- <div class="grid-header">{{}}</div> -->
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="mainGridOptions" :pinnedBottomRowData="[pinnedBottomRowData.value]" />
        <div class="ag-paging-custom">
          <select @change="(e) => onPageSizeChanged(e, 'main')" class="page-size">
            <option v-for="(option, i) in mainPagingOptions" :key="i" :value="option">{{ option }}</option>
          </select>
          <span>Total : {{ mainTotalRows }}</span>
        </div>
      </div>
      <div class="wmsop000q12-grid">
        <!-- <div class="grid-header">{{}}</div> -->
        <ag-grid-vue class="ag-theme-alpine ag-grid-size sub-grid" :gridOptions="subGridOptions" />
        <div class="ag-paging-custom">
          <select @change="(e) => onPageSizeChanged(e, 'sub')" class="page-size">
            <option v-for="(option, i) in subPagingOptions" :key="i" :value="option">{{ option }}</option>
          </select>
          <span>Total : {{ subTotalRows }}</span>
        </div>
      </div>
    </div>
    <!--버튼영역-->
    <div class="buttons">
      <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useSelectedDataStore } from "@/store";

import { IServerSideGetRowsParams } from "ag-grid-community";
import { WMSOP000Q12_MAIN_COLUMN_DEFS, WMSOP000Q12_SUB_COLUMN_DEFS } from "../column-defs";

// Variable Definitions
const selectedItems = reactive({ value: [] as any });
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const mainPagingOptions = UtilService.getGridPagingOptions("WMSOP000Q12");
const mainPagingSize = ref<number>(mainPagingOptions![0]);
const mainTotalRows = ref<number>(0);
const subPagingOptions = UtilService.getGridPagingOptions("WMSOP000Q12");
const subPagingSize = ref<number>(subPagingOptions![0]);
const subTotalRows = ref<number>(0);
const inactive = ref<boolean>(false);
const vrSrchRitemIdQueryString = new URL(window.location.href).searchParams.get("vrSrchRitemId");
const currentSelectedTopGridItem = reactive({ value: null } as { value: any });
const pinnedBottomRowData = reactive({
  value: {} as any,
});

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  mainGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
  subGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

onMounted(() => {
  if (!vrSrchRitemIdQueryString) {
    window.close();
  }
});

watch(currentSelectedTopGridItem, () => {
  if (currentSelectedTopGridItem.value) {
    getSubGridList();
  }
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
function settingBottomColumn(columnApi: any) {
  const colDefs = columnApi.columnModel.columnDefs;

  colDefs?.forEach((column: any) => {
    if (column.field === "No") {
      column.valueGetter = (params: any) => {
        if (!Object.hasOwn(params.node.data, "RNUM")) {
          return t("grid-column-name.sum");
        } else {
          return params.node.rowIndex + 1;
        }
      };
    }
  });
  mainGridOptions.api?.setColumnDefs(colDefs);
}

function mainOnGridReady(params: any) {
  settingBottomColumn(params.columnApi);
  getMainGridList();
}
const subGridReady = () => {};

async function getMainGridList() {
  initBeforeSearchGridData();
  const paramsData = {
    func: "",
    vrSrchRitemId: vrSrchRitemIdQueryString,
    rows: "500",
    page: "1",
  };
  mainGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      const res = await ApiService.postApi("/WMSST010/itemList_rn.action", paramsData, {});
      if (res.status) {
        if (res.result.list.length > 0) {
          params.successCallback(res.result.list, res.result.list.length);
          pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(res.result.list, pinnedBottomRowData.value);
        } else {
          params.successCallback([], 0);
        }
      }
    },
  });
}

function initBeforeSearchGridData() {
  pinnedBottomRowData.value = {
    BEFORE_STOCK_QTY: 0,
    IN_QTY: 0,
    OUT_QTY: 0,
    RETURN_QTY: 0,
    STOCK_QTY: 0,
    BAD_QTY: 0,
    STOCK_TOTAL_QTY: 0,
    OUT_ABLE_QTY: 0,
  };
}

function getSubGridList() {
  const paramsData = {
    vrRitemId: currentSelectedTopGridItem.value.RITEM_ID || "",
    vrUomId: currentSelectedTopGridItem.value.UOM_ID || "",
    vrSrchLcId: UtilService.getCurrentLocation(),
    vrSrchCustId: currentSelectedTopGridItem.value.CUST_ID || "",
    rows: "500",
    page: "1",
  };
  subGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      const res = await ApiService.postApi("/WMSST010/sublist_rn.action", paramsData, {});
      if (res.status) {
        if (res.result.list.length > 0) {
          params.successCallback(res.result.list, res.result.list.length);
        } else {
          params.successCallback([], 0);
        }
      }
    },
  });
}

// 페이지 사이즈 변경
const onPaginationChanged = (gridType: string) => {
  if (gridType === "main" && mainGridOptions.api) {
    mainTotalRows.value = mainGridOptions.api?.paginationGetRowCount();
  } else if (gridType === "sub" && subGridOptions.api) {
    subTotalRows.value = subGridOptions.api?.paginationGetRowCount();
  }
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event, gridType: any) {
  const target = e.target as HTMLSelectElement;
  if (gridType === "main") {
    mainGridOptions.api?.paginationSetPageSize(Number(target.value));
    mainGridOptions.api?.setCacheBlockSize(Number(target.value));
    mainPagingSize.value = Number(target.value);
  } else if (gridType === "sub") {
    subGridOptions.api?.paginationSetPageSize(Number(target.value));
    subGridOptions.api?.setCacheBlockSize(Number(target.value));
    subPagingSize.value = Number(target.value);
  }
}

const mainGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: WMSOP000Q12_MAIN_COLUMN_DEFS,
  onGridReady: mainOnGridReady,
  onRowSelected: onSelectionChanged,
  onRowClicked: (params: any) => {
    currentSelectedTopGridItem.value = params.data;
  },
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  suppressClickEdit: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  onPaginationChanged: () => {
    onPaginationChanged("main");
  },
  pagination: true,
  paginationPageSize: mainPagingOptions![0],
  cacheBlockSize: mainPagingOptions![0],
  enableRangeSelection: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

const subGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  columnDefs: WMSOP000Q12_SUB_COLUMN_DEFS,
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: subGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "multiple",
  suppressClickEdit: true,
  rowModelType: "serverSide",
  onPaginationChanged: () => {
    onPaginationChanged("sub");
  },
  pagination: true,
  paginationPageSize: subPagingOptions![0],
  cacheBlockSize: subPagingOptions![0],
  enableRangeSelection: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

// 저장
async function save() {
  selectedItems.value = mainGridOptions.api?.getSelectedRows();

  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const res = await ApiService.postApi("/WMSOP999/saveOutOrderOm_rn.action", {}, bodyData);
  // 저장시 같이 호출되는 api
  await ApiService.postApi("/WMSOP999/etcSaveV2_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success("");

      return;
    } else {
      return useToast().error("");
    }
  }
}

function onSelectionChanged(e: any) {
  selectedItems.value = mainGridOptions.api?.getSelectedRows();
  subGridOptions.api?.ensureColumnVisible("NO", undefined);
  subGridOptions.api?.ensureIndexVisible(e.rowIndex, null);
  useSelectedDataStore().changeSelectedDataList(mainGridOptions.api?.getSelectedRows());
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}

// 물류용기조회 버튼 클릭
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.wmsop000q12 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }
  &-container {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 20px 10px 5px;
  }

  &-grid {
    position: relative;
    height: calc(50% - 5px);
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
      &-warehouse-title {
        margin-right: auto;
        border-radius: 50%;
      }
    }
    .ag-grid-size {
      height: calc(100%) !important;
      // height: 215px;
    }
  }
  &-top-grid {
    position: relative;
    padding: 20px 10px 0 10px;
    // height: calc(50% - 5px);

    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;

      &:nth-of-type(1) {
        margin-top: 10px;
      }
    }
    .ag-grid-size {
      // height: 190px;
      // height: 215px;
      height: calc(100% - 31px);
    }
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: 100%;
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
</style>
