<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsop000q5.vue
 *  Description:    입출고관리(통합)- 입고관리 페이지에서 context-menu 로케이션지정 - 로케이션지정 팝업(rowModel: 'serverSide')
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsop000q5v2" class="wmsop000q5v2">
    <div class="wmsop000q5v2-container">
      <!--그리드영역-->
      <div class="wmsop000q5v2-form-container">
        <div class="wmsop000q5v2-top-grid">
          <div class="grid-header">{{ t("grid-title.order-list") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="mainGridOptions" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e, 'main')" class="page-size">
              <option v-for="(option, i) in mainGridPagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ mainGridTotalRows }}</span>
          </div>
        </div>
        <!--컨트롤버튼 영역-->
        <control-container class="wmsop000q5v2-control">
          <div v-for="btnData in controlBtn.value" :key="btnData.title">
            <control-button
              v-if="btnData['display'] === 'Y'"
              :data="btnData"
              :locationReset="locationReset"
              :locationRecommendation="locationRecommendation"
              :addRowData="addRowData"
              :deleteRowData="deleteRowData" />
          </div>
        </control-container>
        <div class="wmsop000q5v2-grid">
          <div class="grid-header">{{ t("grid-title.location-specification-list") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size bottom-grid" :gridOptions="subGridOptions" :context="GRID_CELL_SEARCH_BUTTON" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e, 'sub')" class="page-size">
              <option v-for="(option, i) in subGridPagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ subGridTotalRows }}</span>
          </div>
        </div>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
        <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
  <confirm-popup />
  <loading-spinner :contentBodyOnly="true" v-if="useLoadingStore().spinners !== 0" />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useLoadingStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import { ControlContainer } from "@/components/layout";
import loadingSpinner from "@/components/ui/loading-spinner.vue";
import { ConfirmPopup } from "@/popups";

import { IWinusMenu } from "@/types";
import { IServerSideGetRowsParams } from "ag-grid-community";
import { MAIN_FORM_COLUMN_DEFS_WMSOP000Q5V2, SUB_FORM_COLUMN_DEFS_WMSOP000Q5V2 } from "../column-defs";
import { CONTROL_BTN_WMSOP000Q5V2, GRID_CELL_SEARCH_BUTTON } from "../input.meta";

// Variable Definitions
const { t } = useI18n();
const inactive = ref<boolean>(false);
// queryString
const vrOrdIdQueryString = new URL(window.location.href).searchParams.get("vrOrdId");
const vrOrdSeqQueryString = new URL(window.location.href).searchParams.get("vrOrdSeq");
const vrWorkTypeQueryString = new URL(window.location.href).searchParams.get("vrWorkType");
const vrOrdTypeQueryString = new URL(window.location.href).searchParams.get("vrOrdType");
const vrWorkIdQueryString = new URL(window.location.href).searchParams.get("vrWorkId");
const vrWorkStatQueryString = new URL(window.location.href).searchParams.get("vrWorkStat");

const bodyData = reactive({ value: {} } as { value: any });
const mainGridPagingOptions = UtilService.getGridPagingOptions("WMSOP000Q3");
const mainGridPagingSize = ref<number>(mainGridPagingOptions![0]);
const mainGridTotalRows = ref<number>(0);
const subGridPagingOptions = UtilService.getGridPagingOptions("WMSOP000Q3");
const subGridPagingSize = ref<number>(subGridPagingOptions![0]);
const subGridTotalRows = ref<number>(0);
let mainTempCount = 0;
let newRecommendDataCount = 0;
let currentSelectedMainGridData = null as any;
let subGridSelectedItems = [] as any;
const controlBtn = reactive({ value: CONTROL_BTN_WMSOP000Q5V2 as any });
const page = reactive({ value: {} as any });
const mainMenus = reactive({ value: [] as IWinusMenu[] });

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  mainGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey && !column.hide) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
  subGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey && !column.hide) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  subGridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

onMounted(async () => {
  useSearchConditionStore().changeSearchInputValue("vrOrdType", vrOrdTypeQueryString);
  if (vrWorkStatQueryString) {
    if (vrOrdTypeQueryString === "01") {
      if (Number(vrWorkStatQueryString) > 650) {
        try {
          await useConfirmStore().confirm(t("common-toast.unavailable-work-state-upper-650"), t("button-name.confirm"));
          closePopup();
        } catch {
          closePopup();
        }
      }
    }
  } else {
    closePopup();
  }

  mainMenus.value = await UtilService.setMenusData();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSOP", "WMSOP910_1", mainMenus.value, controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
// 페이지 사이즈 변경
function onPageSizeChanged(e: Event, gridType: any) {
  const target = e.target as HTMLSelectElement;

  if (gridType === "main") {
    mainGridOptions.api?.paginationSetPageSize(Number(target.value));
    mainGridOptions.api?.setCacheBlockSize(Number(target.value));
    mainGridPagingSize.value = Number(target.value);
  } else if (gridType === "bottom") {
    subGridOptions.api?.paginationSetPageSize(Number(target.value));
    subGridOptions.api?.setCacheBlockSize(Number(target.value));
    subGridPagingSize.value = Number(target.value);
  }
}

const mainOnGridReady = async () => {
  const paramsData: any = {
    vrOrdId: vrOrdIdQueryString,
    vrOrdSeq: vrOrdSeqQueryString,
    vrWorkType: vrWorkTypeQueryString,
    vrOrdType: vrOrdTypeQueryString,
    vrWorkId: vrWorkIdQueryString,
    vrWorkQty: "",
    vrWorkSeq: "",
  };

  let url = "";
  if (vrWorkIdQueryString) {
    url = "/WMSOP000Q5/listLoc_rn.action";
  } else {
    url = "/WMSOP000Q5/saveLocInitType_rn.action";
  }

  mainGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params, "main");
      const res = await ApiService.postApi(url, paramsData, bodyData.value);

      if (res.status) {
        if (res.result.list?.length > 0 || res.result.LIST?.list.length > 0) {
          UtilService.setGridDatasRowNum(res.result.list);
          UtilService.setGridData("server-side", mainGridOptions.api, { gridDataArray: res.result.list, totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) }, params);
          mainGridOptions.api?.getRowNode(String(res.result.list[0].RNUM))?.setSelected(true);
          getSubGridRowData(res.result.list[0].WORK_ID, res.result.list[0].WORK_SEQ);
        } else {
          UtilService.setGridData("server-side", mainGridOptions.api, null, params);
          subGridOptions.api?.setServerSideDatasource({
            getRows: async (params: IServerSideGetRowsParams) => {
              UtilService.setGridData("server-side", subGridOptions.api, null, params);
            },
          });
        }
      }
    },
  });
};

// 하단 그리드 데이터 조회
async function getSubGridRowData(vrWorkId: any, vrWorkSeq: any) {
  const paramsData: any = {
    vrWorkId: String(vrWorkId),
    vrWorkSeq: String(vrWorkSeq),
  };

  subGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params, "sub");
      const res = await ApiService.postApi("/WMSOP000Q5/listLocSub_rn.action", paramsData, bodyData.value);
      if (res.status) {
        if (res.result.list.length > 0) {
          UtilService.setGridData("server-side", subGridOptions.api, { gridDataArray: res.result.list, totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", subGridOptions.api, null, params);
        }
      } else {
        UtilService.setGridData("server-side", subGridOptions.api, null, params);
      }
    },
  });
}

const mainGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: MAIN_FORM_COLUMN_DEFS_WMSOP000Q5V2,
  onRowSelected: (params: any) => {
    currentSelectedMainGridData = params.data;
    getSubGridRowData(params.data.WORK_ID, params.data.WORK_SEQ);
    useSelectedDataStore().selectedModalHandler({ product: { RITEM_ID: currentSelectedMainGridData.RITEM_ID } });
  },
  onGridReady: mainOnGridReady,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "single",
  suppressCellFocus: true,
  suppressClickEdit: true,
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: mainGridPagingOptions![0],
  cacheBlockSize: mainGridPagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

const subGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  columnDefs: SUB_FORM_COLUMN_DEFS_WMSOP000Q5V2,
  headerHeight: 32,
  rowHeight: 32,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  onRowSelected: subGridOnSelectionChanged,
  rowSelection: "multiple",
  suppressClickEdit: true,
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: subGridPagingOptions![0],
  enableRangeSelection: true,
  enableCellEditingOnBackspace: false,
  onCellDoubleClicked: onCellDoubleClicked,
  onPasteEnd: onPasteEnd,
  onCellFocused: onCellFocused,
  groupSelectsChildren: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
}

function onPasteEnd() {
  useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
}

function subGridOnSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (subGridSelectedItems.value.length !== subGridOptions.api?.getSelectedRows().length) {
      subGridSelectedItems.value = subGridOptions.api?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
    }
  } else {
    subGridSelectedItems.value = subGridOptions.api?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(subGridOptions.api?.getSelectedRows());
  }
}

//삭제
async function deleteRowData() {
  subGridSelectedItems = subGridOptions.api?.getSelectedRows();

  // 유효성검시
  if (subGridSelectedItems.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  const saveBodyData: any = {
    func: "fn_search",
    txtWhNm: "",
    D_selectIds: 0,
    I_selectIds: "0",
  };

  let removeCount = 0;
  let D_selectIdsConunt = 0;
  for (let i = 0; subGridSelectedItems.length > i; i++) {
    if (String(subGridSelectedItems[i].RNUM).includes("temp") || String(subGridSelectedItems[i].RNUM).includes("recommend")) {
      subGridOptions.api?.applyServerSideTransaction({ remove: [subGridSelectedItems[i]] });
      removeCount++;
      saveBodyData.D_selectIds = saveBodyData.D_selectIds--;
    } else {
      D_selectIdsConunt++;
      saveBodyData["D_ST_GUBUN" + [i]] = "DELETE";
      saveBodyData["D_WORK_ID" + [i]] = String(subGridSelectedItems[i].WORK_ID || "");
      saveBodyData["D_WORK_SEQ" + [i]] = String(subGridSelectedItems[i].WORK_SEQ || "");
      saveBodyData["D_WORK_SUBSEQ" + [i]] = String(subGridSelectedItems[i].WORK_SUBSEQ || "");
    }
  }

  if (subGridSelectedItems.length === removeCount) {
    return;
  }
  saveBodyData.D_selectIds = String(D_selectIdsConunt);

  const res = await ApiService.postApi("/WMSOP000Q5/saveLoc_rn.action", {}, saveBodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      setTimeout(() => {
        UtilService.setOpenerPostMessageForGetGridData();
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 저장
async function save() {
  subGridSelectedItems = subGridOptions.api?.getSelectedRows();

  // 유효성검시
  if (subGridSelectedItems.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  let workQty = 0;
  let chkStockQty = 0;
  // let chkOutExpQty = 0;

  for (let i = 0; subGridSelectedItems.length > i; i++) {
    workQty += Number(subGridSelectedItems[i].WORK_QTY || 0);
    chkStockQty = Number(currentSelectedMainGridData.ORD_QTY || 0);
    // chkOutExpQty = Number(subGridSelectedItems[i].CHK_OUT_EXP_QTY || 0);
    if (!subGridSelectedItems[i].LOC_ID) {
      return useToast().warning(t("common-toast.undefined-location"));
    }
  }
  // if (chkStockQty - chkOutExpQty - workQty < 0) {
  if (chkStockQty - workQty < 0) {
    return useToast().warning(t("common-toast.work-qty-over-stock-qty"));
  }

  //로케이션 지정 작업수량 total 계산
  const colOrdQty = currentSelectedMainGridData.ORD_QTY;
  const colOrdId = currentSelectedMainGridData.ORD_ID;
  const colOrdSeq = currentSelectedMainGridData.ORD_SEQ;

  let v_ord_seq = Number(colOrdQty);
  let chkWorkQtyAA = 0;
  let invChk_work_qty: any = [];
  let answer = "";

  for (let i = 0; i < subGridSelectedItems.length; i++) {
    let chkWorkQtyA = subGridSelectedItems[i].WORK_QTY;
    chkWorkQtyAA += Number(chkWorkQtyA);
    if (Number(subGridSelectedItems[i].WORK_QTY) == 0) {
      invChk_work_qty.push("상품" + " : " + subGridSelectedItems[i].RITEM_CD + "\n");
    }
  }

  if (vrOrdTypeQueryString == "02") {
    if (chkWorkQtyAA > v_ord_seq) {
      return useToast().warning(t("common-toast.work-qty-over-ord-qty"));
    }
  }
  if (v_ord_seq > chkWorkQtyAA) {
    //로케이션 지정 작업수량이 주문수량보다 적을 경우 저장 제한
    answer += "주문" + " : " + colOrdId + "/" + colOrdSeq + "\n";
  } else if (v_ord_seq < chkWorkQtyAA) {
    //로케이션 지정 작업수량이 주문수량보다 많을 경우 저장 제한

    return useToast().warning(t("common-toast.location-qty-ord-qty"));
  }
  //로케이션 지정 작업수량 row 단위 별 0 체크
  if (0 < invChk_work_qty.length) {
    return useToast().warning(invChk_work_qty + "\n" + t("common-toast.parent-work-qty-0"));
  }

  if (answer != "") {
    await useConfirmStore().confirm(t("confirm-message.lacking-location-work-qty"), t("button-name.confirm"));
  } else {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
  }

  const saveBodyData: any = {
    func: "fn_search",
    txtWhNm: "",
    D_selectIds: "0",
    I_selectIds: String(subGridSelectedItems.length),
  };

  for (let i = 0; subGridSelectedItems.length > i; i++) {
    if (String(subGridSelectedItems[i].RNUM).includes("temp") || String(subGridSelectedItems[i].RNUM).includes("recommend")) {
      saveBodyData["I_ST_GUBUN" + [i]] = "INSERT";
    } else {
      saveBodyData["I_ST_GUBUN" + [i]] = "UPDATE";
    }
    saveBodyData["I_WORK_ID" + [i]] = String(subGridSelectedItems[i].WORK_ID || "");
    saveBodyData["I_WORK_SEQ" + [i]] = String(subGridSelectedItems[i].WORK_SEQ || "");
    saveBodyData["I_WORK_SUBSEQ" + [i]] = String(subGridSelectedItems[i].WORK_SUBSEQ || "");
    saveBodyData["I_PDA_CD" + [i]] = String(subGridSelectedItems[i].PDA_CD || "");
    saveBodyData["I_EMPLOYEE_ID" + [i]] = String(subGridSelectedItems[i].EMPLOYEE_ID || "");
    saveBodyData["I_LOC_ID" + [i]] = String(subGridSelectedItems[i].LOC_ID || "");
    saveBodyData["I_RITEM_ID" + [i]] = String(subGridSelectedItems[i].RITEM_ID || "");
    saveBodyData["I_WORK_QTY" + [i]] = String(subGridSelectedItems[i].WORK_QTY || "");
    saveBodyData["I_UOM_ID" + [i]] = String(subGridSelectedItems[i].UOM_ID || "");
    saveBodyData["I_CONF_QTY" + [i]] = String(subGridSelectedItems[i].WORK_QTY || "");
    saveBodyData["I_SUB_LOT_ID" + [i]] = String(subGridSelectedItems[i].SUB_LOT_ID || "");
    saveBodyData["I_STOCK_ID" + [i]] = String(subGridSelectedItems[i].STOCK_ID || "");
    saveBodyData["I_REAL_PLT_QTY" + [i]] = String(subGridSelectedItems[i].REAL_PLT_QTY || "");
    saveBodyData["I_REAL_BOX_QTY" + [i]] = String(subGridSelectedItems[i].REAL_BOX_QTY || "");
    saveBodyData["I_ITEM_DATE_END" + [i]] = String(subGridSelectedItems[i].ITEM_DATE_END || "");
  }

  const res = await ApiService.postApi("/WMSOP000Q5/saveLoc_rn.action", {}, saveBodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      setTimeout(() => {
        UtilService.setOpenerPostMessageForGetGridData();
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

function setPagingBodyData(params: any, gridPosition: string) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(gridPosition === "main" ? mainGridPagingSize.value : subGridPagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 초기화
async function locationReset() {
  if (!currentSelectedMainGridData) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  if (Number(currentSelectedMainGridData.ORD_STAT) >= 500) {
    return useToast().warning(t("common-toast.unavailable-reset-after-save-location"));
  }

  if (Number(currentSelectedMainGridData.ORD_STAT) >= 500) {
    return useToast().warning(t("common-toast.unavailable-delete-after-recommend-location"));
  } else {
    await useConfirmStore().confirm(t("confirm-message.reset"), t("button-name.confirm"));
    getSubGridRowData(currentSelectedMainGridData.WORK_ID, currentSelectedMainGridData.WORK_SEQ);
  }
}

// 신규
function addRowData() {
  if (!currentSelectedMainGridData) {
    return;
  }

  const tempId = `temp${mainTempCount}`;
  var workQty = Number(currentSelectedMainGridData.ORD_QTY) - Number(currentSelectedMainGridData.WORK_QTY);
  if (workQty < 0) {
    workQty = 0;
  }
  let realPltQty = "";
  if (currentSelectedMainGridData.REAL_PLT_QTY > 0) {
    realPltQty = currentSelectedMainGridData.REAL_PLT_QTY;
  } else if (currentSelectedMainGridData.REAL_PLT_QTY == 0 || currentSelectedMainGridData.REAL_PLT_QTY == "") {
    realPltQty = "";
  }
  const newData = {
    ORD_ID: String(currentSelectedMainGridData.ORD_ID || ""),
    WORK_SEQ: String(currentSelectedMainGridData.WORK_SEQ || ""),
    RITEM_ID: String(currentSelectedMainGridData.RITEM_ID || ""),
    RITEM_CD: String(currentSelectedMainGridData.RITEM_CD || ""),
    RITEM_NM: String(currentSelectedMainGridData.RITEM_NM || ""),
    WORK_ID: String(currentSelectedMainGridData.WORK_ID || ""),
    SUB_LOT_ID: String(currentSelectedMainGridData.SUB_LOT_ID || ""),
    ITEM_DATE_END: String(currentSelectedMainGridData.ITEM_DATE_END || ""),
    UOM_CD: String(currentSelectedMainGridData.UOM_CD || ""),
    UOM_ID: String(currentSelectedMainGridData.UOM_ID || ""),
    UOM_NM: String(currentSelectedMainGridData.UOM_NM || ""),
    WORK_QTY: workQty,
    REAL_PLT_QTY: realPltQty,
    SPDCOL_FLAG: "A",
    RNUM: tempId,
  };

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(subGridOptions.api?.paginationGetCurrentPage()) + 1) * Number(subGridOptions.api?.paginationGetPageSize()) - Number(subGridOptions.api?.paginationGetPageSize());

  subGridOptions.api?.applyServerSideTransaction({
    add: [newData],
    addIndex: addNewIndex,
  });

  mainTempCount++;

  subGridOptions.api?.getRowNode(String(tempId))?.setSelected(true);
  useSelectedDataStore().selectedInfoHandler(subGridOptions.api?.getRowNode(String(tempId))?.data, true);

  subGridOptions.api?.refreshCells({ columns: ["No"], suppressFlash: true });
}

// 로케이션추천
async function locationRecommendation() {
  //유효성 검사
  if (!currentSelectedMainGridData) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  if (Number(currentSelectedMainGridData.ORD_QTY) === 0) {
    return useToast().warning(t("common-toast.no-ord-qty"));
  }

  let subGridList: any = [];
  const allGridRowDataKeys = Object.keys(subGridOptions.api?.getModel().nodeManager.rowNodes);
  let sum = 0;
  if (allGridRowDataKeys.length > 0) {
    for (let i = 0; allGridRowDataKeys.length > i; i++) {
      subGridList.push(subGridOptions.api?.getModel().nodeManager.allNodesMap[allGridRowDataKeys[i]].data);
    }

    for (let i = 0; subGridList.length > i; i++) {
      sum += Number(subGridList[i].WORK_QTY);
      if (subGridList[i].SPDCOL_FLAG) {
        return useToast().warning(t("common-toast.available-recommend-location-after-save"));
      }
      if (currentSelectedMainGridData.ORD_QTY <= sum) {
        return useToast().warning(t("common-toast.already-has-location"));
      }
    }
  }
  // bodyData
  const bodyData: any = {
    ordId: String(currentSelectedMainGridData.ORD_ID || ""),
    ordSeq: String(currentSelectedMainGridData.ORD_SEQ || ""),
    ritemId: String(currentSelectedMainGridData.RITEM_ID || ""),
    custLotNo: String(currentSelectedMainGridData.custLotNo || ""),
    workDt: UtilService.getToday(), // YYYYMMDD
    makeDt: String(currentSelectedMainGridData.makeDt || ""),
    uomId: String(currentSelectedMainGridData.UOM_ID || ""),
    ordQty: String(currentSelectedMainGridData.ORD_QTY || ""),
    workQty: String(Number(currentSelectedMainGridData.ORD_QTY) - Number(currentSelectedMainGridData.WORK_QTY)),
    realPltQty: String(currentSelectedMainGridData.REAL_PLT_QTY || ""),
    realBoxQty: String(currentSelectedMainGridData.REAL_BOX_QTY || ""),
    itemStat: String(currentSelectedMainGridData.ITEM_STAT || ""),
    workStat: String(currentSelectedMainGridData.WORK_STAT || ""),
    unitAmt: String(currentSelectedMainGridData.UNIT_AMT || ""),
    eaCapa: String(currentSelectedMainGridData.EA_CAPA || ""),
    itemDateEnd: String(currentSelectedMainGridData.ITEM_DATE_END || ""),
    lcId: String(currentSelectedMainGridData.LC_ID || ""),
    tCustId: String(currentSelectedMainGridData.T_CUST_ID || ""),
    ownerCd: String(currentSelectedMainGridData.OWNER_CD || ""),
    custId: String(currentSelectedMainGridData.CUST_ID || ""),
    vrLocKeepYn: "Y",
    vrStartLoc: "0",
    vrEndLoc: "0",
  };
  let opId = "N/A";
  // 입고
  if (vrOrdTypeQueryString == "01") {
    bodyData.vrPutawayType = "0";
    opId = "locAutoInLoc";
  }
  // 출고
  if (vrOrdTypeQueryString == "02") {
    bodyData.vrPickingType = "0";
    if (String(currentSelectedMainGridData.TIME_PERIOD_DAY) == "") {
      bodyData.periodDay = "0";
    } else {
      bodyData.periodDay = String(currentSelectedMainGridData.TIME_PERIOD_DAY);
    }
    opId = "locAutoOutLoc";
  }

  if (opId == "N/A") {
    return useToast().warning(t("common-toast.unavailable-recommend-location"));
  }
  const url = vrOrdTypeQueryString === "01" ? "/WMSOP000Q5/locAutoInLoc_rn.action" : "/WMSOP000Q5/locAutoOutLoc_rn.action";
  const res = await ApiService.postApi(url, {}, bodyData);
  // 로케이션 추천 요청 이후 그리드에 리턴 값 셋팅
  if (res.status) {
    if (res.result.O_LOC.length > 0) {
      const O_LOC = res.result.O_LOC;
      const colOrdQty = currentSelectedMainGridData.ORD_QTY;

      let newAddItemList: any = [];

      for (var i = 0; i < O_LOC.length; i++) {
        const remainOrdQty = Number(colOrdQty) - sum > 0 ? Number(colOrdQty) - sum : "0";
        const workQty = O_LOC[i].ORD_QTY; // 추천 가능수량
        const ableQty = Number(remainOrdQty) >= Number(workQty) ? Number(workQty) : Number(remainOrdQty);

        //yhku 2021-12-27 변경
        const newAddItem: any = {
          ORD_ID: String(currentSelectedMainGridData.ORD_ID || ""),
          WORK_SEQ: String(currentSelectedMainGridData.WORK_SEQ || ""),
          RITEM_ID: String(currentSelectedMainGridData.RITEM_ID || ""),
          RITEM_CD: String(currentSelectedMainGridData.RITEM_CD || ""),
          RITEM_NM: String(currentSelectedMainGridData.RITEM_NM || ""),
          WORK_ID: String(currentSelectedMainGridData.WORK_ID || ""),

          LOC_ID: String(O_LOC[i].LOC_ID || ""),
          LOC_CD: String(O_LOC[i].LOC_CD || ""),
          REAL_PLT_QTY: String(O_LOC[i].REAL_PLT_QTY || ""),
          REAL_BOX_QTY: String(O_LOC[i].REAL_BOX_QTY || ""),
          UOM_ID: String(O_LOC[i].UOM_ID || ""),
          ITEM_DATE_END: String(O_LOC[i].ITEM_DATE_END || ""),
          STOCK_ID: String(O_LOC[i].STOCK_ID || ""),
          UOM_CD: String(O_LOC[i].UOM_CD || ""),
          UOM_NM: String(O_LOC[i].UOM_NM || ""),
          CUST_LOT_NO: String(O_LOC[i].CUST_LOT_NO || ""),
          UNIT_NO: String(O_LOC[i].UNIT_NO || ""),
          SPDCOL_FLAG: "Y",
          WORK_QTY: ableQty,
          RNUM: `recommend${newRecommendDataCount}`,
        };

        if (vrOrdTypeQueryString == "01") {
          newAddItem.SUB_LOT_ID = currentSelectedMainGridData.SUB_LOT_ID || "";
        } else if (vrOrdTypeQueryString == "02") {
          newAddItem.SUB_LOT_ID = O_LOC[i].SUB_LOT_ID;
          newAddItem.CHK_OV_WORK_QTY = ableQty;
        }

        newAddItemList.push(newAddItem);
        newRecommendDataCount++;
      }
      const addNewIndex = (Number(subGridOptions.api?.paginationGetCurrentPage()) + 1) * Number(subGridOptions.api?.paginationGetPageSize()) - Number(subGridOptions.api?.paginationGetPageSize());

      subGridOptions.api?.applyServerSideTransaction({
        add: newAddItemList,
        addIndex: addNewIndex,
      });
      subGridOptions.api?.refreshCells({ columns: ["No"], suppressFlash: true });
    }
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.wmsop000q5v2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }
  &-container {
    height: 100%;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-control {
    margin-top: 5px;
  }

  &-grid {
    position: relative;
    height: calc(50% - 29px);

    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
      &-warehouse-title {
        margin-right: auto;
        border-radius: 50%;
      }
      input {
        margin-left: auto;
        padding-left: 20px;
      }
    }
  }
  &-top-grid {
    position: relative;
    height: calc(50% - 29px);

    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
    }
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(50% - 5px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}

.wmsop000q5v2-form-container {
  height: calc(100% - 55px);
}

.ag-grid-size {
  height: calc(100% - 31px);
}
</style>
