<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsop000q1.vue
 *  Description:    입출고관리(통합)- 입고관리 페이지에서 context-menu 배차 - 일반배차 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsop000q1" class="wmsop000q1">
    <div class="wmsop000q1-container">
      <h3 class="wmsop000q1-title">{{ t("modal-title.receiving-management-dispatch-work") }}</h3>
      <!--검색 인풋영역-->
      <div class="">
        <search-container :data="SEARCH_INPUT_WMSOP000Q1" :use-setting="false" :un-used-refresh-button="true">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in SEARCH_INPUT_WMSOP000Q1" :key="i">
              <search-container-input :data="props" :columnDefs="WMSOP000Q1_MODAL_COLUMN_DEFS[props.title]" :modalData="SEARCH_MODAL_INFO_WMSOP000Q1[props.title]" :pageInfo="null" />
            </template>
          </template>
        </search-container>
      </div>
      <!--컨트롤버튼 영역-->
      <control-container>
        <div class="dispatch-details-button-area">
          <control-button
            v-for="btnData in CONTROL_BTN_WMSOP000Q1_2"
            :data="btnData"
            :key="btnData.title"
            :nonVehicleDispatch="nonVehicleDispatch"
            :deleteRowData="deleteRowData"
            :excelExport="excelExport" /></div
      ></control-container>

      <!--그리드영역-->
      <div class="wmsop000q1-form-container">
        <div class="wmsop000q1-grid">
          <div class="grid-header">{{ t("grid-title.vehicle-list") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size top-grid" :gridOptions="leftGridOptions" :context="WMSOP000Q1_GRID_CELL_SELECT_BOX" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e, 'top')" class="page-size">
              <option v-for="(option, i) in leftPagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ leftTotalRows }}</span>
          </div>
        </div>
        <div class="wmsop000q1-grid">
          <div class="grid-header">{{ t("grid-title.dispatch-details") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size bottom-grid" :gridOptions="rightGridOptions" :context="WMSOP000Q1_GRID_CELL_DATE_INPUT" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e, 'bottom')" class="page-size">
              <option v-for="(option, i) in rightPagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ rightTotalRows }}</span>
          </div>
        </div>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
        <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
  <confirm-popup />
  <loading-spinner :contentBodyOnly="true" v-if="useLoadingStore().spinners !== 0" />
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, reactive, ref, watch } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useLoadingStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import { ControlContainer, SearchContainer } from "@/components/layout";
import loadingSpinner from "@/components/ui/loading-spinner.vue";
import { ConfirmPopup } from "@/popups";

import { ExcelExportParams, IServerSideGetRowsParams } from "ag-grid-community";
import { DISPATCH_DETAILS_FORM_COLUMN_DEFS, VEHICLE_LIST_FORM_COLUMN_DEFS, WMSOP000Q1_MODAL_COLUMN_DEFS } from "../column-defs";
import { CONTROL_BTN_WMSOP000Q1_2, SEARCH_INPUT_WMSOP000Q1, SEARCH_MODAL_INFO_WMSOP000Q1, WMSOP000Q1_GRID_CELL_DATE_INPUT, WMSOP000Q1_GRID_CELL_SELECT_BOX } from "../input.meta";

// Variable Definitions
const selectedItems = reactive({ value: [] as any });
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const leftPagingOptions = UtilService.getGridPagingOptions("WMSOP000Q1");
const leftPagingSize = ref<number>(leftPagingOptions![0]);
const leftTotalRows = ref<number>(0);
const rightPagingOptions = UtilService.getGridPagingOptions("WMSOP000Q1");
const rightPagingSize = ref<number>(rightPagingOptions![0]);
const rightTotalRows = ref<number>(0);
const inactive = ref<boolean>(false);
const vrOrdIdQueryString = new URL(window.location.href).searchParams.get("vrOrdId");
const vrOrdTypeQueryString = new URL(window.location.href).searchParams.get("vrOrdType");
const vrSrchReqFromDtQueryString = new URL(window.location.href).searchParams.get("vrSrchReqFromDt");
const vrSrchReqToDtQueryString = new URL(window.location.href).searchParams.get("vrSrchReqToDt");
const currentSelectedLeftGridData = reactive({ value: {} } as { value: any });
let tempCount = 0;

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  leftGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey && !column.hide) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
  rightGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey && !column.hide) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
  useSearchConditionStore().changeSearchInputValue("vrSrchReqFromDt", vrSrchReqFromDtQueryString);
  useSearchConditionStore().changeSearchInputValue("vrSrchReqToDt", vrSrchReqToDtQueryString);

  const res = await ApiService.postApi("/WINUS/WMSOP642_rn.action", {}, UtilService.getOptionApiData("WMSOP642_rn"));

  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }

  rightGridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
      getRightGridData();
    }
  }
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
function nonVehicleDispatch() {
  const info = {
    title: t("popup-title.non-vehicle-dispatching-list"),
  };

  const queryStringParams = `?vrOrdType=${vrOrdTypeQueryString}&vrOrdId=${vrOrdIdQueryString}&vrSrchReqFromDt=${vrSrchReqFromDtQueryString}&vrSrchReqToDt=${vrSrchReqToDtQueryString}`;

  const wmsop000q2Popup = UtilService.openWindowPopup(info, `/POP-WMSOP000Q2_1${queryStringParams}`, { width: 900, height: 750, top: 100, left: 200 }, "WMSOP000Q2_1") as any;

  wmsop000q2Popup.onbeforeunload = function () {
    window.addEventListener("message", handleMessage);
    function handleMessage(event: any) {
      // 자식팝업에서 선택한 행으로 부모 그리드 행추가
      addRowData(event.data.selectedItems);
      // 이벤트 핸들러 제거
      window.removeEventListener("message", handleMessage);
    }
  };
}

// 엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.dispatch-details-excel-export"),
  };
  rightGridOptions.api?.exportDataAsExcel(excelExportParams);
}

// 자식팝업에서 선택한 행으로 부모 그리드 행추가
function addRowData(wmsop000q2SelectedItems: any) {
  const selectedTempIdList: any = [];

  wmsop000q2SelectedItems.forEach((row: any) => {
    row.RNUM = `temp${tempCount}`;
    selectedTempIdList.push(`temp${tempCount}`);
    row.gridType = "rightGrid";
    tempCount++;
  });

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(rightGridOptions.api?.paginationGetCurrentPage()) + 1) * Number(rightGridOptions.api?.paginationGetPageSize()) - Number(rightGridOptions.api?.paginationGetPageSize());

  rightGridOptions.api?.applyServerSideTransaction({
    add: wmsop000q2SelectedItems,
    addIndex: addNewIndex,
  });

  for (let i = 0; selectedTempIdList.length > i; i++) {
    rightGridOptions.api?.getRowNode(String(selectedTempIdList[i]))?.setSelected(true);
  }
  rightGridOptions.api?.refreshCells({ columns: ["No"], suppressFlash: true });
}

// 좌측 그리드 selected된 값에 따라 우측 그리드의 selected된 아이템의 값이 변경됨
function changeRightGridCellValue() {
  const mergedArray = [];

  for (let i = 0; selectedItems.value.length > i; i++) {
    const currentData = Object.assign({}, currentSelectedLeftGridData.value);
    delete currentData.RNUM;
    const result = { ...selectedItems.value[i], ...currentData };
    mergedArray.push(result);
  }

  rightGridOptions.api?.applyServerSideTransaction({ update: mergedArray });
}

const leftOnGridReady = () => {
  leftGridOptions.api?.sizeColumnsToFit();
  leftGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params, "left");
      const res = await ApiService.postApi("/WMSOP000Q1/listCarPop_rn.action", {}, bodyData.value);
      if (res.status) {
        if (res.result.list.length > 0) {
          res.result.list.forEach((row: any) => {
            row.RNUM = String(row.RNUM) + "leftGrid";
            row.gridType = "leftGrid";
          });
          params.success({ rowData: res.result.list, rowCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) });
        } else {
          params.success({ rowData: [], rowCount: 0 });
        }
      } else {
        params.success({ rowData: [], rowCount: 0 });
      }
    },
  });
};

const rightGridReady = () => {
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

function getRightGridData() {
  rightGridOptions.api?.deselectAll();
  const paramsData = {
    func: "",
    vrOrdType: vrOrdTypeQueryString,
    vrLcId: vrOrdTypeQueryString === "02" ? UtilService.getCurrentLocation() : "",
    vrOrdId: vrOrdIdQueryString,
    vrSrchReqFromDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqFromDt || ""),
    vrSrchReqToDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqToDt || ""),
    vrSrchCarCd: useSelectedDataStore().getSelectedModalData().vehicle?.CAR_CD || "",
    vrSrchCarNm: "",
    vrSrchCarId: useSelectedDataStore().getSelectedModalData().vehicle?.CAR_ID || "",
    vrSrchOrdSeq: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdSeq || ""),
    vrSrchRitemCd: String(useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || ""),
    vrSrchRitemNm: String(useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NM || ""),
    vrSrchRitemId: String(useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || ""),
  };

  rightGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params, "right");
      const res = await ApiService.postApi("/WMSOP000Q1/listDsp_rn.action", paramsData, bodyData.value);
      if (res.status) {
        if (res.result.list.length > 0) {
          res.result.list.forEach((row: any) => {
            row.RNUM = String(row.RNUM) + "rightGrid";
            row.gridType = "rightGrid";
          });
          UtilService.setGridData("server-side", rightGridOptions.api, { gridDataArray: res.result.list, totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", rightGridOptions.api, null, params);
        }
      } else {
        UtilService.setGridData("server-side", rightGridOptions.api, null, params);
      }
    },
  });
  useSearchConditionStore().setAvailableSearchBySearchCondition(false);
}

const onPaginationChanged = (gridType: string) => {
  if (gridType === "top" && leftGridOptions.api) {
    leftTotalRows.value = leftGridOptions.api?.paginationGetRowCount();
  } else if (gridType === "bottom" && rightGridOptions.api) {
    rightTotalRows.value = rightGridOptions.api?.paginationGetRowCount();
  }
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event, gridType: any) {
  const target = e.target as HTMLSelectElement;
  if (gridType === "top") {
    leftGridOptions.api?.paginationSetPageSize(Number(target.value));
    leftGridOptions.api?.setCacheBlockSize(Number(target.value));
    leftPagingSize.value = Number(target.value);
  } else if (gridType === "bottom") {
    rightGridOptions.api?.paginationSetPageSize(Number(target.value));
    rightGridOptions.api?.setCacheBlockSize(Number(target.value));
    rightPagingSize.value = Number(target.value);
  }
}

const leftGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: VEHICLE_LIST_FORM_COLUMN_DEFS,
  onGridReady: leftOnGridReady,
  onCellClicked: (params: any) => {
    currentSelectedLeftGridData.value = params.data;
    useSelectedDataStore().changeSelectedDataList([], "leftGrid"); // filter로 초기화 시키기 위함, 해당 코드가 없을시 이전 선택되었던 요소들이 남아있음
    useSelectedDataStore().changeSelectedDataList([params.data], "leftGrid");
    changeRightGridCellValue();
  },
  onModelUpdated: () => {
    currentSelectedLeftGridData.value = leftGridOptions.api?.getSelectedRows()[0];
    changeRightGridCellValue();
  },
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "single",
  rowModelType: "serverSide",
  suppressCellFocus: true,
  suppressClickEdit: true,
  onPaginationChanged: () => {
    onPaginationChanged("top");
  },
  pagination: true,
  paginationPageSize: leftPagingOptions![0],
  cacheBlockSize: leftPagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

const rightGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  columnDefs: DISPATCH_DETAILS_FORM_COLUMN_DEFS,
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: rightGridReady,
  onRowSelected: rightOnSelectionChanged,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  suppressClickEdit: true,
  rowModelType: "serverSide",
  onPaginationChanged: () => {
    onPaginationChanged("bottom");
  },
  pagination: true,
  paginationPageSize: rightPagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  groupSelectsChildren: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(rightGridOptions.api?.getSelectedRows(), "rightGrid");
  },
};

// 저장
function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(rightGridOptions.api?.getSelectedRows(), "rightGrid");
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(rightGridOptions.api?.getSelectedRows(), "rightGrid");
}

async function save() {
  selectedItems.value = rightGridOptions.api?.getSelectedRows();

  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  const bodyData: any = {
    func: "",
    vrOrdType: vrOrdTypeQueryString,
    vrLcId: UtilService.getCurrentLocation(),
    vrOrdId: vrOrdIdQueryString,
    vrSrchReqFromDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqFromDt || ""),
    vrSrchReqToDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqToDt || ""),
    vrSrchCarCd: String(useSelectedDataStore().getSelectedModalData().vehicle?.CAR_CD || ""),
    vrSrchCarNm: String(useSelectedDataStore().getSelectedModalData().vehicle?.CAR_NM || ""),
    vrSrchCarId: String(useSelectedDataStore().getSelectedModalData().vehicle?.CAR_ID || ""),
    vrSrchOrdSeq: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdSeq || ""),
    vrSrchRitemCd: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
    vrSrchRitemNm: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NM || "",
    vrSrchRitemId: useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || "",
    D_selectIds: "0",
    I_selectIds: String(selectedItems.value.length),
  };

  for (let i = 0; selectedItems.value.length > i; i++) {
    if (String(selectedItems.value[i].RNUM).includes("temp")) {
      bodyData["I_ST_GUBUN" + [i]] = "INSERT";
    } else {
      bodyData["I_ST_GUBUN" + [i]] = "UPDATE";
    }
    bodyData["I_DSP_ID" + [i]] = String(selectedItems.value[i].DSP_ID || "");
    bodyData["I_CAR_ID" + [i]] = String(selectedItems.value[i].CAR_ID || "");
    bodyData["I_DUTY_ID" + [i]] = String(selectedItems.value[i].DUTY_ID || "");
    bodyData["I_DOCK_NO" + [i]] = String(selectedItems.value[i].DOCK_NO || "");
    bodyData["I_TRANS_CD" + [i]] = String(selectedItems.value[i].TRANS_CD || "");
    bodyData["I_DRV_NM" + [i]] = String(selectedItems.value[i].DRV_NM || "");
    bodyData["I_DRV_TEL" + [i]] = String(selectedItems.value[i].DRV_TEL || "");
    bodyData["I_DLV_TYPE" + [i]] = String(selectedItems.value[i].DLV_TYPE || "");
    bodyData["I_TRANS_REQ_DT" + [i]] = String(selectedItems.value[i].TRANS_REQ_DT || "")?.replaceAll("-", "");
    bodyData["I_KIN_OUT_YN" + [i]] = String(selectedItems.value[i].KIN_OUT_YN || "");
    bodyData["I_CAR_CONF_YN" + [i]] = String(selectedItems.value[i].CAR_CONF_YN || "");
    bodyData["I_DLV_KM" + [i]] = String(selectedItems.value[i].DLV_KM || "");
    bodyData["I_OUT_CONF_DT" + [i]] = String(selectedItems.value[i].OUT_CONF_DT || "");
    bodyData["I_UP_AMT" + [i]] = String(selectedItems.value[i].UP_AMT || "");
    bodyData["I_DOWN_AMT" + [i]] = String(selectedItems.value[i].DOWN_AMT || "");
    bodyData["I_TRANS_AMT" + [i]] = String(selectedItems.value[i].TRANS_AMT || "");
    bodyData["I_ETC_AMT" + [i]] = String(selectedItems.value[i].ETC_AMT || "");
    bodyData["I_ORD_ID" + [i]] = String(selectedItems.value[i].ORD_ID || "");
    bodyData["I_ORD_SEQ" + [i]] = String(selectedItems.value[i].ORD_SEQ || "");
    bodyData["I_RITEM_ID" + [i]] = String(selectedItems.value[i].RITEM_ID || "");
    bodyData["I_ORD_UOM_ID" + [i]] = String(selectedItems.value[i].ORD_UOM_ID || "");
    bodyData["I_ORD_QTY" + [i]] = String(selectedItems.value[i].ORD_QTY || "");
    bodyData["I_DLV_ZONE" + [i]] = String(selectedItems.value[i].DLV_ZONE || "");
    bodyData["I_DLV_BLOCK" + [i]] = String(selectedItems.value[i].DLV_BLOCK || "");
    bodyData["I_DLV_SEQ" + [i]] = String(selectedItems.value[i].DLV_SEQ || "");
    bodyData["I_TRANS_CUST_CD" + [i]] = String(selectedItems.value[i].TRANS_CUST_CD || "");
    bodyData["I_TRANS_CUST_ADDR" + [i]] = String(selectedItems.value[i].TRANS_CUST_ADDR || "");
    bodyData["I_DLV_REQ_DT" + [i]] = String(selectedItems.value[i].DLV_REQ_DT || "")?.replaceAll("-", "");
    bodyData["I_EXP_BOX_QTY" + [i]] = String(selectedItems.value[i].EXP_BOX_QTY || "");
    bodyData["I_EXP_PLT_QTY" + [i]] = String(selectedItems.value[i].EXP_PLT_QTY || "");
    bodyData["I_CAPA_TOT" + [i]] = String(selectedItems.value[i].CAPA_TOT || "");
    bodyData["I_DLV_CONF_QTY" + [i]] = String(selectedItems.value[i].DLV_CONF_QTY || "");
    bodyData["I_CAR_CD" + [i]] = String(selectedItems.value[i].CAR_CD || "");
    bodyData["I_ADJUCT_CAR_TON" + [i]] = String(selectedItems.value[i].ADJUCT_CAR_TON || "");
    bodyData["I_DSP_MEMO_TON" + [i]] = String(selectedItems.value[i].DSP_MEMO_TON || "");
  }
  const res = await ApiService.postApi("/WMSOP000Q1/saveDsp_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(t("common-toast.saved"));
      UtilService.setOpenerPostMessageForGetGridData();
      setTimeout(() => {
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 삭제
async function deleteRowData() {
  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  for (let i = 0; selectedItems.value.length > i; i++) {
    if (Number(selectedItems.value[i].WORK_STAT >= 400)) {
      return useToast().warning(t("common-toast.unavailable-work-state-upper-400"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  const bodyData: any = {
    func: "",
    vrOrdType: vrOrdTypeQueryString,
    vrLcId: UtilService.getCurrentLocation(),
    vrOrdId: vrOrdIdQueryString,
    vrSrchReqFromDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqFromDt || ""),
    vrSrchReqToDt: String(useSearchConditionStore().getSearchInputValue().vrSrchReqToDt || ""),
    vrSrchCarCd: String(useSelectedDataStore().getSelectedModalData().vehicle?.CAR_CD || ""),
    vrSrchCarNm: String(useSelectedDataStore().getSelectedModalData().vehicle?.CAR_NM || ""),
    vrSrchCarId: String(useSelectedDataStore().getSelectedModalData().vehicle?.CAR_ID || ""),
    vrSrchOrdSeq: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdSeq || ""),
    vrSrchRitemCd: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
    vrSrchRitemNm: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NM || "",
    vrSrchRitemId: useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || "",
    D_selectIds: String(selectedItems.value.length),
    I_selectIds: "0",
  };

  for (let i = 0; selectedItems.value.length > i; i++) {
    bodyData["D_ORD_ID" + [i]] = String(selectedItems.value[i].ORD_ID);
    bodyData["D_ORD_SEQ" + [i]] = String(selectedItems.value[i].ORD_SEQ);
    bodyData["D_DSP_ID" + [i]] = String(selectedItems.value[i].DSP_ID);
    bodyData["D_ORG_ORD_QTY" + [i]] = String(selectedItems.value[i].ORG_ORD_QTY);
    bodyData["I_ST_GUBUN" + [i]] = "DELETE";
  }

  const res = await ApiService.postApi("/WMSOP000Q1/saveDsp_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(t("common-toast.saved"));
      setTimeout(() => {
        UtilService.setOpenerPostMessageForGetGridData();
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

function rightOnSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== rightGridOptions.api?.getSelectedRows().length) {
      selectedItems.value = rightGridOptions.api?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(rightGridOptions.api?.getSelectedRows(), "rightGrid");
    }
  } else {
    selectedItems.value = rightGridOptions.api?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(rightGridOptions.api?.getSelectedRows(), "rightGrid");
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}

function setPagingBodyData(params: any, gridPosition: string) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(gridPosition === "left" ? leftPagingSize.value : rightPagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 물류용기조회 버튼 클릭
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.wmsop000q1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px 10px;

  &-container {
    width: 100%;
    height: 100%;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 0 10px 0;
  }

  &-grid {
    position: relative;
    width: calc(50% - 5px);

    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
    }
    .ag-grid-size {
      height: calc(100% - 31px);
    }
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(100% - 15px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}

.vehicle-list-button-area {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dispatch-details-button-area {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 7px;
}
.wmsop000q1-form-container {
  height: calc(100% - 284px);
  display: flex;
  justify-content: space-between;
}
</style>
