<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:    wmsop000q9vue
 *  Description:    차량 목록 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="wmsop000q9" class="wmsop000q9">
    <h3 class="wmsop000q9-title">{{ t("modal-title.vehicle-list") }}</h3>
    <control-container>
      <div class="grid-button-area">
        <div v-for="(btnData, i) in controlBtn2.value" :key="i">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :createBarcode="createBarcode" />
        </div>
      </div>
      <div class="info-button-area">
        <div v-for="btnData in controlBtn1.value" :key="btnData.title">
          <control-button
            v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && Object.keys(selectedItems.value).length > 0"
            :data="btnData"
            :deleteRowData="deleteRowData" />
          <control-button
            v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')"
            :data="btnData"
            :addRowData="addRowData"
            :excelExport="excelExport"
            :excelImport="excelImport"
            :clickManual="clickManual" />
        </div>
      </div>
    </control-container>
    <div class="wmsop000q9-form-container">
      <div class="wmsop000q9-grid">
        <div class="grid-header">{{ t("grid-title.vehicle-list") }}</div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
        <div class="ag-paging-custom">
          <select @change="onPageSizeChanged" class="page-size">
            <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
          </select>
          <span>Total : {{ totalRows }}</span>
        </div>
      </div>
      <div :class="['info-normal-container']" v-for="(data, i) in INFO_INPUT_WMSOP000Q9" :key="i">
        <div class="wmsop000q9-info-header" @click="() => changeIsExpand({ title: data.title, default: data.default })">
          <span>{{ $t("grid-info." + data.title) }}</span>
          <img :class="[checkIsExpand(data.title) ? 'expand-collapsible' : 'fold-collapsible', 'info-collapsible']" src="/public/assets/images/btn-close-component.svg" />
        </div>
        <ul :class="[checkIsExpand(data.title) ? 'expand-input-list' : 'fold-input-list', 'info-input-list']">
          <li v-for="input in data.inputs" :key="input.ids[0]" :class="['info-input-item', input.width]">
            <info-middle-title-vue v-if="input.type === 'middle-title'" :data="input" />
            <info-text-input v-if="input.type === 'text'" :data="input" :focusOutUpdateData="focusOutUpdateData" />
            <info-select-input v-if="input.type === 'select'" :data="input" :focusOutUpdateData="focusOutUpdateData" />
            <info-color-input v-if="input.type === 'color'" :data="input" :focusOutUpdateData="focusOutUpdateData" />
            <info-triple-search-input v-if="input.type === 'triple-search'" :data="input" />
            <info-upload-input v-if="input.type === 'upload'" :data="input" />
            <info-check-box-input v-if="input.type === 'check-box'" :data="input" :focusOutUpdateData="focusOutUpdateData" />
            <p v-if="input.type === 'check-box'" class="check-box-text">사용자 자동등록 시 아이디 및 비밀번호 : a연락처</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="buttons">
      <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
      <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
    </div>
  </div>
  <confirm-popup />
  <loading-spinner :contentBodyOnly="true" v-if="useLoadingStore().spinners !== 0" />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { CellClickedEvent, ExcelExportParams, GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService, REST_SERVICE_PRODUCTION_URL } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useLoadingStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

import { ControlButton } from "@/components/button";
import { InfoColorInput, InfoSelectInput, InfoTextInput, InfoTripleSearchInput, InfoUploadInput, infoCheckBoxInput } from "@/components/input";
import { ControlContainer } from "@/components/layout";
import InfoMiddleTitleVue from "@/components/ui/InfoMiddleTitle.vue";
import loadingSpinner from "@/components/ui/loading-spinner.vue";
import { ConfirmPopup } from "@/popups";

import { IWinusMenu } from "@/types";
import { FORM_COLUMN_DEFS_WMSOP000Q9 } from "../column-defs";
import { CONTROL_BTN_WMSOP000Q9, GRID_CONTROL_BTN_WMSOP000Q9, INFO_INPUT_WMSOP000Q9 } from "../input.meta";

// Variable Definitions
const { t } = useI18n();
const SelectedDataStore = useSelectedDataStore();
const SearchConditionStore = useSearchConditionStore();
const ConfirmStore = useConfirmStore();
const TabsStore = useTabsStore();
const resizeGridColumns = () => {
  const myPageId = TabsStore.selectedTab.value?.id;
  let myGridContainerWidth = document.querySelector("#" + myPageId + "-page .form-container")?.clientWidth || 0;
  let myGridBodyContainerWidth = document.querySelector("#" + myPageId + "-page .ag-body-viewport .ag-center-cols-container")?.clientWidth || 0;
  if (myGridContainerWidth > myGridBodyContainerWidth) {
    gridOptions.api?.sizeColumnsToFit();
  }
};
const totalRows = ref<number>(0);
const pagingOptions = UtilService.getGridPagingOptions("WMSOP000Q9");
const pagingSize = ref<number>(pagingOptions![0]);
const bodyData = reactive({ value: {} as any });
const selectedItems = reactive({ value: {} as any });
let expandList = ref([] as { title: string; default: string }[]); // info영역 섹션별 open 되어있는 리스트
let tempCount = 0;
const inactive = ref<boolean>(false);
const controlBtn1 = reactive({ value: CONTROL_BTN_WMSOP000Q9 as any });
const controlBtn2 = reactive({ value: GRID_CONTROL_BTN_WMSOP000Q9 as any });
const page = reactive({ value: {} as any });
const mainMenus = reactive({ value: [] as IWinusMenu[] });

// Framework Function Definitions
onBeforeMount(() => {
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});
onMounted(async () => {
  window.addEventListener("resize", () => {
    resizeGridColumns();
  });
  const List: any = INFO_INPUT_WMSOP000Q9.filter((data: any) => {
    return data.default === "expand";
  });
  expandList.value = List;

  mainMenus.value = await UtilService.setMenusData();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSOP", "WMSOP910_1", mainMenus.value, controlBtn1);
      page.value = UtilService.getAuthOnButton("WMSOP", "WMSOP910_1", mainMenus.value, controlBtn2);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// 검색결과 그리에 반영시키기
watch(SearchConditionStore._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

// User Function Definitions

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const onPageSizeChanged = (e: any) => {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
};

const onGridReady = (params: any) => {
  gridOptions.api = params.api;
  SearchConditionStore.setAvailableSearchBySearchCondition(true);
  resizeGridColumns();
  gridOptions.api?.sizeColumnsToFit();
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: onGridReady,
  onPaginationChanged: onPaginationChanged,
  onSelectionChanged: onSelectionChanged,
  columnDefs: FORM_COLUMN_DEFS_WMSOP000Q9,
  onCellClicked: onCellClicked,
  suppressRowVirtualisation: true,
  suppressRowClickSelection: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

function createBarcode() {}

function onCellClicked(e: CellClickedEvent) {
  useSelectedDataStore().selectedInfoHandler(e.data, true);
}
// 우측버튼 클릭해서 expandList 상태변화
function changeIsExpand(paramsData: { title: string; default: string }) {
  const filteredList = expandList.value.some((data) => {
    return data.title === paramsData.title;
  });

  if (filteredList) {
    expandList.value = expandList.value.filter((item) => {
      return item.title !== paramsData.title;
    });
  } else {
    expandList.value.push(paramsData);
  }
}

// expandList로 class부여할때 확인 여부 체크
function checkIsExpand(title: string) {
  const result = expandList.value.some((data) => {
    return data.title === title;
  });
  return result;
}

async function searchGridData() {
  gridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const res = await ApiService.postApi("/WMSMS050/list_rn.action", {}, bodyData.value);
      if (res.status) {
        if (res.result.list.length > 0) {
          params.successCallback(res.result.list, res.result.list.length);
        } else {
          params.successCallback([], 0);
        }
      }
    },
  });
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 신규 빈 행 추가
function addRowData() {
  const tempId = `temp${tempCount}`;
  let columndefs = {} as any;

  FORM_COLUMN_DEFS_WMSOP000Q9?.forEach((columnDef: any) => {
    if (columnDef.field) {
      columndefs[columnDef.field] = "";
    }
  });
  columndefs["RNUM"] = tempId;

  const newRowData = [columndefs];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridOptions.api?.paginationGetCurrentPage()) + 1) * Number(gridOptions.api?.paginationGetPageSize()) - Number(gridOptions.api?.paginationGetPageSize());

  gridOptions.api?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;

  gridOptions.api?.getRowNode(String(tempId))?.setSelected(true);
  useSelectedDataStore().selectedInfoHandler(gridOptions.api?.getRowNode(String(tempId))?.data, true);
}

// 그리드 수정
function focusOutUpdateData() {
  gridOptions.api?.applyServerSideTransaction({ update: [SelectedDataStore.getSelectedInfoData()] });
}

//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.vehicle-information-management"),
  };
  gridOptions.api?.exportDataAsExcel(excelExportParams);
}

// 엑셀입력 클릭시, excel import
function excelImport() {
  const data = {
    modalTitle: t("modal-title.vehicle-information-enter-excel"),
    saveUrl: "/WMSMS050/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS050&file_name=execlTemp_car_01.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

// 메뉴얼 클릭
async function clickManual() {
  location.href = REST_SERVICE_PRODUCTION_URL + "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS040&file_name=WINUS_WMSMS040_MANUAL_KOR.pdf";
}

//삭제
async function deleteRowData() {
  selectedItems.value = gridOptions.api?.getSelectedRows();
  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  await ConfirmStore.confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "",
      WH_ID: selectedItems.value[0].WH_ID || "",
      WH_CD: selectedItems.value[0].WH_CD || "",
      WH_NM: selectedItems.value[0].WH_NM || "",
      WH_TYPE: selectedItems.value[0].WH_TYPE || "",
      WH_GB: selectedItems.value[0].WH_GB || "",
      MAX_LEN_W: String(selectedItems.value[0].MAX_LEN_W || ""),
      MAX_LEN_L: String(selectedItems.value[0].MAX_LEN_L || ""),
      NUM: String(selectedItems.value[0].RNUM),
      selectIds: String(selectedItems.value.length),
      I_selectIds: "",
      D_selectIds: String(selectedItems.value.length),
    };
    for (let i = 0; selectedItems.value.length > i; i++) {
      data["ST_GUBUN" + [i]] = "DELETE";
      data["WH_ID" + [i]] = selectedItems.value[i].WH_ID;
    }

    const result = await ApiService.postApi("/WMSMS040/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      tempCount = 0;
      UtilService.reloadGridData(SelectedDataStore, SearchConditionStore, gridOptions.api);
    }
  } catch (err) {
    return console.log(err);
  }
}

// selected된 마지막 요소를 info선택
function onSelectionChanged() {
  selectedItems.value = gridOptions.api?.getSelectedRows();
  SelectedDataStore.selectedInfoHandler(gridOptions.api?.getSelectedRows()[gridOptions.api?.getSelectedRows().length - 1], true);
}

// 저장
async function save() {
  try {
    selectedItems.value = gridOptions.api?.getSelectedRows();
    if (!selectedItems.value || selectedItems.value.length === 0) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }

    const validationResult = UtilService.inputRequiredValidation(INFO_INPUT_WMSOP000Q9, selectedItems.value);
    if (!validationResult?.status) {
      return useToast().warning(t(`common-toast.no-${validationResult?.toastKey}`));
    }

    await ConfirmStore.confirm(t("confirm-message.save"), t("button-name.confirm"));

    const bodyData: any = {
      CAR_CD: String(selectedItems.value[0].CAR_CD || ""),
      CAR_TON: String(selectedItems.value[0].CAR_TON || ""),
      CAR_BAR_CD: String(selectedItems.value[0].CAR_BAR_CD || ""),
      DRV_NM: String(selectedItems.value[0].DRV_NM || ""),
      DRV_TEL: String(selectedItems.value[0].DRV_TEL || ""),
      TRANS_NM: String(selectedItems.value[0].TRANS_NM || ""),
      TRANS_CD: String(selectedItems.value[0].TRANS_CD || ""),
      vrSrchUserVal: "N",
      MAIN_ID: String(selectedItems.value[0].RNUM),
      selectIds: String(selectedItems.value.length),
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      if (String(selectedItems.value[i].RNUM).includes("temp")) {
        bodyData["ST_GUBUN" + [i]] = "INSERT";
      } else {
        bodyData["ST_GUBUN" + [i]] = "UPDATE";
      }
      bodyData["CAR_ID" + [i]] = String(selectedItems.value[i].CAR_ID || "");
      bodyData["CAR_CD" + [i]] = String(selectedItems.value[i].CAR_CD || "");
      bodyData["CAR_TON" + [i]] = String(selectedItems.value[i].CAR_TON || "");
      bodyData["CAR_GB" + [i]] = String(selectedItems.value[i].CAR_GB || "");
      bodyData["CAR_TYPE" + [i]] = String(selectedItems.value[i].CAR_TYPE || "");
      bodyData["TRANS_CD" + [i]] = String(selectedItems.value[i].TRANS_CD || "");
      bodyData["DRV_TEL" + [i]] = String(selectedItems.value[i].DRV_TEL || "");
      bodyData["DOCK_NO" + [i]] = String(selectedItems.value[i].DOCK_NO || "");
      bodyData["USE_YN" + [i]] = String(selectedItems.value[i].USE_YN || "");
      bodyData["TRANS_NM" + [i]] = String(selectedItems.value[i].TRANS_NM || "");
      bodyData["DRV_NM" + [i]] = String(selectedItems.value[i].DRV_NM || "");
      bodyData["DEL_YN" + [i]] = String(selectedItems.value[i].DEL_YN || "");
      bodyData["CAR_BAR_CD" + [i]] = String(selectedItems.value[i].CAR_BAR_CD || "");
      bodyData["USER_ID" + [i]] = String(selectedItems.value[i].USER_ID || "");
      bodyData["USER_NM" + [i]] = String(selectedItems.value[i].USER_NM || "");
      bodyData["USER_SAVE_YN" + [i]] = String(selectedItems.value[i].USER_SAVE_YN || "");
      bodyData["D_LC_ID" + [i]] = String(selectedItems.value[i].D_LC_ID || "");
    }

    const res = await ApiService.postApi("/WMSMS050/save_rn.action", {}, bodyData);

    if (res.status) {
      if (res.result.errCnt == 0) {
        useToast().success(t("common-toast.saved"));
        setTimeout(() => {
          closePopup();
        }, 1500);
        return;
      } else {
        return useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.grid-button-area {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 7px;
  padding-right: 10px;
  box-sizing: border-box;
}

.info-button-area {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 7px;
  padding-right: 10px;
  box-sizing: border-box;
}

.wmsop000q9 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px 10px;

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 0 10px 0;
  }

  &-grid {
    position: relative;
    width: calc(50% - 5px);

    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);
      margin-top: 0px;
      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;
    }
    .ag-grid-size {
      height: calc(100% - 31px);
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(50% - 5px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
.wmsop000q9-form-container {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 155px);
}

.wmsop000q9-info-header {
  @include flexbox(row, space-between, center, nowrap);
  background-color: $main-menu-sub;
  height: 31px;
  padding-left: 13px;
  padding-right: 8px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.92px;
  color: #ffffff;
  cursor: pointer;
}
.info-normal-container {
  width: calc(50% - 5px);
  border: 1px solid #b0b0b0;
}

.check-box-text {
  position: absolute;
  font-size: 12px;
  color: $font-secondary;
  right: 10px;
}
</style>
