<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:    wmsop000q8.vue
 *  Description:    입출고관리(통합)- 입고관리 페이지에서 context-menu 배차 - 간퍈배차 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="wmsop000q8" class="wmsop000q8">
    <div class="wmsop000q8-grid">
      <div class="grid-header">{{ t("grid-title.simple-dispatch") }}</div>
      <ag-grid-vue class="ag-theme-alpine ag-grid-size bottom-grid" :gridOptions="gridOptions" />
    </div>
  </div>
  <div class="buttons">
    <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
    <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
  </div>
  <confirm-popup />
</template>

<script setup lang="ts">
import { onBeforeMount, onMounted } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";

import { ConfirmPopup } from "@/popups";

import { useConfirmStore, useSelectedDataStore } from "@/store";
import { WMSOP000Q8_FORM_COLUMN_DEFS } from "../column-defs";

// Variable Definitions
const { t } = useI18n();
const searchOrdIdQueryString = new URL(window.location.href).searchParams.get("searchOrdId");
const searchOrdSeqQueryString = new URL(window.location.href).searchParams.get("searchOrdSeq");

let selectedItems = [] as any[];

// Framework Function Definitions
onBeforeMount(async () => {
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

onMounted(() => {
  // 해당 팝업 zoom값 적용 시 변경된 높이 style 지정
  (document.querySelector(".wmsop000q8-grid") as HTMLElement)!.style.height = `calc(100% - ${UtilService.getZoomHeight("wmsop000q8")}px)`;
});

// User Function Definitions
async function onGridReady() {
  const paramsData = { ordId: searchOrdIdQueryString, ordSeq: searchOrdSeqQueryString };
  const res = await ApiService.postApi("/WMSMS050/dspLoad_rn.action", paramsData, {});

  if (res.status) {
    if (res.result.list.length > 0) {
      UtilService.setGridDatasRowNum(res.result.list);
      gridOptions.api?.setRowData(res.result.list);
      gridOptions.api?.getRowNode(String(res.result.list[0].RNUM))!.setSelected(true);
    } else {
      const defaultData = {
        DT: UtilService.getToday(),
        CAR_TON: "1톤",
        RNUM: 1,
      };
      gridOptions.api?.setRowData([defaultData]);
      gridOptions.api?.getRowNode(String(defaultData.RNUM))!.setSelected(true);
    }
  }
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: onGridReady,
  onSelectionChanged: onSelectionChanged,
  onCellDoubleClicked: onCellDoubleClicked,
  columnDefs: WMSOP000Q8_FORM_COLUMN_DEFS,
  suppressRowClickSelection: true,
  rowSelection: "multiple",
  suppressContextMenu: true,
  suppressClickEdit: true,
  enableRangeSelection: true,
  enableCellEditingOnBackspace: false,
  onPasteEnd: onPasteEnd,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems = gridOptions.api?.getSelectedRows()!;

      useSelectedDataStore().changeSelectedDataList(selectedItems);
    }
  } else {
    selectedItems = gridOptions.api?.getSelectedRows()!;
    useSelectedDataStore().changeSelectedDataList(selectedItems);
  }

  setTimeout(() => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  }, 100);
}

function onPasteEnd() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

// 저장
async function save() {
  const selectedItems = gridOptions.api?.getSelectedRows();

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridOptions.api);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  const ORD_ID_array = new URL(window.location.href).searchParams.get("ordId")!.split(",");
  const ORD_SEQ_array = new URL(window.location.href).searchParams.get("ordSeq")!.split(",");
  const RITEM_ID_array = new URL(window.location.href).searchParams.get("RITEM_ID")!.split(",");
  const UOM_ID_array = new URL(window.location.href).searchParams.get("UOM_ID")!.split(",");
  const ORD_QTY_array = new URL(window.location.href).searchParams.get("ORD_QTY")!.split(",");
  const TRANS_CUST_CD_array = new URL(window.location.href).searchParams.get("TRANS_CUST_CD")!.split(",");
  const CUST_ID = new URL(window.location.href).searchParams.get("CUST_ID");
  const ORD_TYPE = new URL(window.location.href).searchParams.get("ORD_TYPE");

  const bodyData: any = {
    CUST_ID,
    selectIds: String(ORD_ID_array!.length),
  };

  for (let i = 0; ORD_ID_array!.length > i; i++) {
    bodyData["DSP_ROUT_" + [i]] = String(selectedItems![0].DSP_ROUT || "");
    bodyData["CAR_TON_" + [i]] = String(selectedItems![0].CAR_TON || "");
    bodyData["DRV_NM_" + [i]] = String(selectedItems![0].DRV_NM || "");
    bodyData["DRV_TEL_" + [i]] = String(selectedItems![0].DRV_TEL || "");
    bodyData["CAR_CD_" + [i]] = String(selectedItems![0].CAR_CD || "");
    bodyData["DSP_PAY_CHARGE_" + [i]] = String(selectedItems![0].DSP_PAY_CHARGE || "");
    bodyData["EXP_PLT_QTY_" + [i]] = String(selectedItems![0].EXP_PLT_QTY || "");
    bodyData["UP_AMT_" + [i]] = String(selectedItems![0].UP_AMT || "");
    bodyData["DOWN_AMT_" + [i]] = String(selectedItems![0].DOWN_AMT || "");
    bodyData["ETC_AMT_" + [i]] = String(selectedItems![0].ETC_AMT || "");
    bodyData["TRANS_AMT_" + [i]] = String(selectedItems![0].TRANS_AMT || "");
    bodyData["WAIT_AMT_" + [i]] = String(selectedItems![0].WAIT_AMT || "");
    bodyData["DEVICE_AMT_" + [i]] = String(selectedItems![0].DEVICE_AMT || "");
    bodyData["DSP_MEMO_" + [i]] = String(selectedItems![0].DSP_MEMO || "");
    bodyData["DEL_YN_" + [i]] = "N";
    bodyData["ORD_TYPE_" + [i]] = ORD_TYPE || "";
    //배열
    bodyData["ORD_ID_" + [i]] = ORD_ID_array[i] || "";
    bodyData["ORD_SEQ_" + [i]] = ORD_SEQ_array[i] || "";
    bodyData["RITEM_ID_" + [i]] = RITEM_ID_array[i] || "";
    bodyData["UOM_ID_" + [i]] = UOM_ID_array[i] || "";
    bodyData["ORD_QTY_" + [i]] = String(ORD_QTY_array[i] || "");
    bodyData["TRANS_CUST_CD_" + [i]] = TRANS_CUST_CD_array[i] || "null";
  }
  const res = await ApiService.postApi("/WMSMS050/dspSave_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(t("common-toast.saved"));
      setTimeout(() => {
        UtilService.setOpenerPostMessageForGetGridData();
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

function closePopup() {
  window.close();
}
</script>

<style lang="scss" scoped>
.wmsop000q8 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px 10px;
  &-grid {
    position: relative;
    padding: 0 10px 0 10px;
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;

      &:nth-of-type(1) {
        margin-top: 10px;
      }
    }
    .ag-grid-size {
      height: calc(100% - 31px);
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 28px);
  margin-left: 14px;

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(100% - 15px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
</style>
