<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP910_4/form.vue
 *  Description:    운영관리/입/출고관리(통합) - 출고관리(H/D) 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <invalidModal v-if="invalidModalData.value" :invalidModalData="invalidModalData.value" :invalidModalDef="INVALID_MODAL_DEF" :close="() => (invalidModalData.value = null)" />
  <control-container>
    <div v-for="btnData in controlBtn.value" :key="btnData.title">
      <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" :pickingListExcel="pickingListExcel" />
    </div>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <grid-statistics-container :statisticsInfo="GRID_STATISTICS_INFO" :gridTotalData="gridTotalData" />
    <main-grid
      :onGridReady="onGridReady"
      :onCellClicked="onCellClicked"
      :mainGridAllRowDataList="mainGridAllRowDataList"
      @isMore="
        (e: any) => {
          isMore = e;
        }
      " />
    <sub-grid :selectedRowItem="selectedRowItem" :mainGridAllRowDataList="mainGridAllRowDataList" />
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridApi } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useCallModalIdStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore } from "@/store";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import invalidModal from "@/popups/invalid-modal.vue";
import { CONTROL_BTN, GRID_STATISTICS_INFO, INVALID_MODAL_DEF, SEARCH_INPUT } from "./input";
import MainGrid from "./main-grid.vue";
import SubGrid from "./sub-grid.vue";

// Variable Definitions
const { t } = useI18n();
const SelectedDataStore = useSelectedDataStore();
const FormHeightStore = useFormHeightStore();
const SearchConditionStore = useSearchConditionStore();
const CallModalIdStore = useCallModalIdStore();
const gridTotalData = reactive({ value: {} as any });
const selectedRowItem = reactive({ value: {} as any });
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트
const inactive = ref<boolean>(false);
const invalidModalData = reactive({ value: null } as { value: any });
const mainGridAllRowDataList = reactive({ value: {} } as { value: any });
let gridApi: GridApi | null = null;
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });
const isMore = ref(false);

// Framework Function Definitions
onMounted(async () => {
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSOP", "WMSOP910_4", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

// 검색결과 그리에 반영시키기
watch(SearchConditionStore._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    if (SearchConditionStore.getAvailableSearchBySearchCondition()) {
      if (Object.hasOwn(SelectedDataStore.getSelectedModalData(), "owner") || useSearchConditionStore().getResetValue()) {
        await searchGridData();
      } else {
        useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.owner") }));
        CallModalIdStore.setCallModalId("owner");
        SearchConditionStore.setAvailableSearchBySearchCondition(false);
        return;
      }
    }
  }
});

watch(FormHeightStore._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
  gridApi?.setRowData([]);
};

function onCellClicked(e: any) {
  const clickedRowData = e.data;

  selectedRowItem.value = clickedRowData;
}

async function searchGridData() {
  initBeforeSearchGridData();
  if (useSearchConditionStore().getResetValue()) {
    UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
    // value가 고정되어있고 readOnly인 인풋 설정
    const readOnlyInputList = ["vrSrchWgtYn", "vrSrchBestDateYn", "vrSrchRfidYn"];
    for (let i = 0; readOnlyInputList.length > i; i++) {
      SearchConditionStore.changeSearchInputValue(readOnlyInputList[i], "Y");
    }
    return;
  }
  const searchConditions = SEARCH_INPUT;

  let apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
  apiParams._fullpath = "";
  apiParams.cmbSrchType = SearchConditionStore.getSearchInputValue().cmbSrchType;
  apiParams.vrSrchReqDtFrom = SearchConditionStore.getSearchInputValue().vrSrchReqDtFrom;
  apiParams.vrSrchReqDtTo = SearchConditionStore.getSearchInputValue().vrSrchReqDtTo;

  gridApi?.showLoadingOverlay();
  const gridData = await ApiService.postApi("/WMSOP910/listE4Header_rn.action", apiParams, {}, false);
  if (gridData.status) {
    if (gridData.result.list.length > 0) {
      UtilService.setGridDatasRowNum(gridData.result.list);
      gridApi?.setRowData(gridData.result.list);
      mainGridAllRowDataList.value = gridData.result.list;
      await getInvalidData();
      await getGridStatisticsData(apiParams);
    } else {
      useToast().warning(t("common-toast.no-data-list"));
      gridApi?.setRowData([]);
    }
  }
  SearchConditionStore.setAvailableSearchBySearchCondition(false);
}

function initBeforeSearchGridData() {
  gridApi?.deselectAll();
  gridApi?.setRowData([]);
  selectedRowItem.value = {};
  gridTotalData.value = {};
}

async function getGridStatisticsData(apiParams: any) {
  const gridStatisticsData = await ApiService.postApi("/WMSOP030/listCountByCust_rn.action", apiParams, {});
  if (gridStatisticsData.status) {
    gridTotalData.value = gridStatisticsData.result.LIST;
  }
}

async function getInvalidData() {
  const apiParams = {
    srchKey: "DS_INVALID",
    vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || "",
    vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "",
    vrSrchCustId: Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "",
    vrSrchRitemId: Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "product") ? useSelectedDataStore().getSelectedModalData().product.RITME_ID : "",
    vrSrchOrderPhase: useSearchConditionStore().getSearchInputValue().vrSrchOrderPhase || "",
    vrSrchOrdSubtype: useSearchConditionStore().getSearchInputValue().vrSrchOrdSubtype || "",
    vrSrchOrderId: useSearchConditionStore().getSearchInputValue().vrSrchOrderId || "",
    vrSrchOrgOrdId: useSearchConditionStore().getSearchInputValue().vrSrchOrgOrdId || "",
  };
  const res = await ApiService.postApi("/WMSOP330/outInvalidView_rn.action", apiParams, {});
  if (res.result.DS_INVALID.length > 0) {
    const transFormInvalidModalData: any = [];
    res.result.DS_INVALID.forEach((data: any) => {
      const keys = Object.keys(data);
      const result: any = {};
      keys.forEach((key: any, i: any) => {
        result[i] = data[key];
      });
      transFormInvalidModalData.push(result);
    });

    invalidModalData.value = transFormInvalidModalData;
  } else {
    invalidModalData.value = null;
  }
}

// 피킹리스트 엑셀 클릭
async function pickingListExcel() {
  const searchConditions = SEARCH_INPUT;

  let apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
  apiParams._fullpath = "";
  apiParams.cmbSrchType = SearchConditionStore.getSearchInputValue().cmbSrchType;
  apiParams.vrSrchReqDtFrom = SearchConditionStore.getSearchInputValue().vrSrchReqDtFrom;
  apiParams.vrSrchReqDtTo = SearchConditionStore.getSearchInputValue().vrSrchReqDtTo;
  if (isMore.value) {
    apiParams.vrhiddenZoneView = "접기";
  } else {
    apiParams.vrhiddenZoneView = "펴기";
  }
  apiParams.pkList_vrType = "";
  apiParams.pkList_vrPageGb = "";
  apiParams.pkList_vrOrderByGb = "";
  apiParams.pkList_vrBarCodeGb = "";
  await ApiService.excelExport("/WMSOP030/pickingListExcel_rn.action", {}, apiParams);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}
</style>
