<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:    WMSOP910_4/page.vue
 *  Description:    운영관리/입/출고관리(통합) - 출고관리(H/D) 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header>
        <div class="search-control-container">
          <control-container>
            <div v-for="btnData in searchCompControlBtn.value" :key="btnData.title">
              <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
            </div>
          </control-container></div
      ></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :gridStatisticsInfo="GRID_STATISTICS_INFO"
        :searchInput="SEARCH_INPUT"
        :readOnlyInputs="SEARCH_META.readOnlyInputs"
        :getContextMenuItems="getContextMenuItems"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged">
        <invalidModal v-if="invalidModalData.value" :invalidModalData="invalidModalData.value" :invalidModalDef="INVALID_MODAL_DEF" :close="() => (invalidModalData.value = null)" />
        <div class="grid-header">{{ gridHeaderTitle }}</div>
        <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="gridStatisticsInfoRef" :gridTotalData="gridTotalData" />
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onDetailApiParamsChanged"
        :getServerData="getDetailData"
        :context="{}">
        <div class="grid-header">{{ gridHeaderDetailTitle }}</div>
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOP910_4" };
</script>
<script setup lang="ts">
import { computed, onMounted, onUnmounted, reactive, ref, unref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "@/page/operation/WMSOP910_4/column-defs";
import invalidModal from "@/popups/invalid-modal.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { useOptionDataStore } from "@/store/options-data";
import { IAvailableOptionsUtilParams } from "@/types/index";
import { GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { MASTER_CONTROL_BTN, gridOptionsMeta } from "./input.grid";
import {
  DETAIL_CONTROL_BTN,
  DETAIL_GRID_OPTIONS_META,
  GRID_META,
  GRID_STATISTICS_INFO,
  INVALID_MODAL_DEF,
  MASTER_GRID_OPTIONS_META,
  SEARCH_COMPONENT_CONTROL_BTN,
  SEARCH_INPUT,
  SEARCH_META,
} from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const pinnedBottomRowData = reactive({
  value: {} as any,
});
const eventBus = useEventBusStore();
const SelectedDataStore = useSelectedDataStore();
const OptionDataStore = useOptionDataStore();
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const masterGridApi = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const myPageId = ref<string>();
const searchCompControlBtn = reactive({ value: SEARCH_COMPONENT_CONTROL_BTN as any });
const invalidModalData = reactive({ value: null } as { value: any });
const gridApi = ref<GridApi | undefined>();
const gridStatisticsInfoRef = ref(GRID_STATISTICS_INFO);
const gridTotalData = reactive({ value: {} as any });
const SearchConditionStore = useSearchConditionStore();
const selectedItems = ref<Record<string, any>>({});
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const isMore = ref(false);
const eventHandler: Record<string, Function> = {
  "template-input-for-B2C": templateInputForB2C,
  "picking-list-excel": pickingListExcel,
};
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const gridHeaderTitle = computed(() => {
  return t("menu-header-title.WMSOP910_4");
});
const gridHeaderDetailTitle = computed(() => {
  return t("menu-header-title.WMSOP910_4_detail");
});
const formTheme = {
  "--flex-direction": "column",
};
const selectedRowItem = reactive({ value: {} as any });
const mainGridAllRowDataList = reactive({ value: {} as any });

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  // 페이지 ID를 포함한 이벤트 이름으로 리스너 등록
  eventBus.on("search-finished", getGridStatisticsData);

  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSOP910_rn");
  const res = await ApiService.postApi("/WINUS/WMSOP910_rn.action", {}, data);

  if (res.status) {
    const setAvailableOptionsUtilParam: IAvailableOptionsUtilParams[] = [
      { inputId: "vrSrchOrderPhase", availableList: ["04", "01", "02", "03", "30", "31"] },
      {
        inputId: "vrSrchOrdSubtype",
        availableList: ["", "30", "33", "36", "39", "121", "130", "131", "132", "133", "134", "140", "141", "142", "143"],
      },
    ];
    UtilService.setAvailableOptions(res.result.selectBoxInfos, setAvailableOptionsUtilParam);

    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  // 페이지 ID를 포함한 이벤트 이름으로 리스너 제거
  eventBus.off("search-finished", getGridStatisticsData);
});

// User Function Definitions
function onSelectionChanged() {
  detailFormRef.value.searchGridData();
}

// 그리드 상단 통계 데이터
async function getGridStatisticsData(apiParams: any) {
  const gridStatisticsData = await ApiService.postApi("/WMSOP030/listCountByCust_rn.action", apiParams, {});
  if (gridStatisticsData.status) {
    gridTotalData.value = gridStatisticsData.result.LIST;
  }
}

function getOwnerDataQueryString() {
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  return `vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`;
}

// B2C전용 템플릿입력
function templateInputForB2C() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  UtilService.templateImport(`/template-input-for-b2c?title=${"shipping-enter-template"}&${getOwnerDataQueryString()}&saveUrl=${"/WMSOP030E4/inExcelFileUploadJavaB2C_rn.action"}&templateType=UO`);
}

// sap템플릿입력 클릭
async function templateInputForSap() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  UtilService.templateImport(`/template-input-for-sap?title=${"shipping-enter-template"}&${getOwnerDataQueryString()}&saveUrl=${"/WMSOP030SE2/saveExcelOrderSAP_rn.action"}&templateType=UO`, {
    width: 820,
    height: 740,
    top: 100,
    left: 200,
  });
}

// 템플릿입력 모달
function enterTemplate() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  UtilService.templateImport(
    `/enter-template?title=${"shipping-enter-template"}&${getOwnerDataQueryString()}&saveUrl=${"/WMSOP030/inExcelFileUploadAllowBlank_AS_rn.action"}&templateUrl=${"/WMSOP030E2/sampleExcelDown.action"}`
  );
}

// 피킹리스트 엑셀 클릭
async function pickingListExcel() {
  const searchConditions = SEARCH_INPUT;

  let apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
  apiParams._fullpath = "";
  apiParams.cmbSrchType = SearchConditionStore.getSearchInputValue().cmbSrchType;
  apiParams.vrSrchReqDtFrom = SearchConditionStore.getSearchInputValue().vrSrchReqDtFrom;
  apiParams.vrSrchReqDtTo = SearchConditionStore.getSearchInputValue().vrSrchReqDtTo;
  if (isMore.value) {
    apiParams.vrhiddenZoneView = "접기";
  } else {
    apiParams.vrhiddenZoneView = "펴기";
  }
  apiParams.pkList_vrType = "";
  apiParams.pkList_vrPageGb = "";
  apiParams.pkList_vrOrderByGb = "";
  apiParams.pkList_vrBarCodeGb = "";
  await ApiService.excelExport("/WMSOP030/pickingListExcel_rn.action", {}, apiParams);
}

// context menu
function getContextMenuItems(params: any) {
  gridOptionsMeta.api?.getRowNode(String(params.node.data["RNUM"]))?.setSelected(true);
  const result = [
    /** 명세서 */
    {
      name: t("grid-context-menu-title.statement"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
      subMenu: [
        {
          // 주문작업명세서발행
          name: t("grid-context-menu-title.issuance-of-order-statement"),
          action: async () => {
            fn_ordInitList();
          },
          cssClasses: ["redFont", "bold"],
        },
      ],
    },
    {
      // 작업중해제(주문상세)
      name: t("grid-context-menu-title.release-during-work(order-details)"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
    },
    {
      // 작업중해제(주문전체)
      name: t("grid-context-menu-title.release-during-work(full-order)"),
      action: async () => {
        fn_totalWorkingUnlock();
      },
      cssClasses: ["redFont", "bold"],
    },
    /** 로케이션지정 */
    {
      name: t("grid-context-menu-title.designate-a-location"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
      subMenu: [
        { name: t("grid-context-menu-title.designate"), action: async () => {}, cssClasses: ["redFont", "bold", "sub-title"] },
        {
          // 로케이션지정 (하단 건별)
          name: t("grid-context-menu-title.designate-a-location(below-case-by-case)"),
          action: async () => {},
          cssClasses: ["redFont", "bold"],
        },
        {
          // 로케이션추천지정 (다중주문일괄(주문번호))
          name: t("grid-context-menu-title.location-recommendation(multiple-orders-collectively(order-number))"),
          action: async () => {
            fn_autoBestLocSaveMultiV2();
          },
          cssClasses: ["redFont", "bold"],
        },
        {
          name: t("grid-context-menu-title.cancellation"),
          action: async () => {},
          cssClasses: ["redFont", "bold", "sub-title"],
        },
        {
          // 로케이션지정취소 (일괄삭제)
          name: t("grid-context-menu-title.de-designate-a-location(delete-all)"),
          action: async () => {
            fn_autoDeleteLocSave();
          },
          cssClasses: ["redFont", "bold"],
        },
      ],
    },
    {
      // 토탈피킹리스트발행
      name: t("grid-context-menu-title.issuing-a-total-pick-list"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
    },
    {
      // 피킹리스트 발행
      name: t("grid-context-menu-title.publishing-picking-list"),
      action: async () => {
        fn_pickingList();
      },
      cssClasses: ["redFont", "bold"],
    },
    // TODO :: 삭제예정 (WINUS 이슈)
    // {
    //   // 토탈피킹확정
    //   name: t("grid-context-menu-title.total-peaking-confirmed"),
    //   action: async () => {},
    //   cssClasses: ["redFont", "bold"],
    // },
    {
      // 출하(출고확정)
      name: t("grid-context-menu-title.shipping(complete)"),
      action: async () => {
        fn_outCompleteStep1();
      },
      cssClasses: ["redFont", "bold"],
    },
  ];

  return result;
}

//#region :: [Grid] Context Menu CallBack

//	로케이션추천지정 (다중주문일괄(주문번호))
async function fn_autoBestLocSaveMultiV2() {
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
  // api호출
  const bodyData = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  bodyData._fullpath = "";
  bodyData.cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType;
  bodyData.vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
  bodyData.vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;
  const res = await ApiService.postApi("/WMSOP030/autoBestLocSaveMultiV3_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt !== 0) {
      useToast().error(res.result.MSG);
    } else {
      useToast().success(res.result.MSG);
      gridOptionsMeta.api?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }
}

// 작업중해제(주문전체)
async function fn_totalWorkingUnlock() {
  // 호출 조건 유효성검사
  for (let i = 0; mainGridAllRowDataList.value.length > i; i++) {
    if (Number(mainGridAllRowDataList.value[i].WORK_STAT) > 490) {
      return useToast().warning(t("common-toast.unable-to-delete"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.working-unlock-confirm"), t("button-name.confirm"));

  // bodyData 셋팅
  let vrOrdId = "";
  for (let i = 0; selectedItems.value.length > i; i++) {
    if (vrOrdId) {
      vrOrdId += `,${selectedItems.value[i].ORD_ID}`;
    } else {
      vrOrdId += selectedItems.value[i].ORD_ID;
    }
  }
  // api호출
  const res = await ApiService.postApi("/WMSOP030/totalWorkingUnlock_rn.action", {}, { vrOrdId });
  if (res.status) {
    if (res.result.errCnt !== 0) {
      useToast().error(res.result.MSG);
    } else {
      useToast().success(res.result.MSG);
      gridOptionsMeta.api?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }
}

// 로케이션지정취소 (일괄삭제)
async function fn_autoDeleteLocSave() {
  // 유효성검사
  for (var i = 0; mainGridAllRowDataList.value.length > i; i++) {
    if (Number(mainGridAllRowDataList.value[i].WORK_STAT) != 230 && Number(mainGridAllRowDataList.value[i].WORK_STAT) != 400) {
      return useToast().warning(t("common-toast.unregister-location-line", { index: i }));
    }
  }
  await useConfirmStore().confirm(t("common-toast.would-you-like-to-proceed"), t("button-name.confirm"));

  const bodyData = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  bodyData._fullpath = "";
  bodyData.cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType;
  bodyData.vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
  bodyData.vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;
  bodyData.vrOrdSeqNeed = "Y";

  // api호출
  const res = await ApiService.postApi("/WMSOP030/autoDeleteLocSaveV2_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt !== 0) {
      useToast().error(res.result.MSG);
    } else {
      useToast().success(res.result.MSG);
      gridOptionsMeta.api?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }
}

/* 주문작업명세서 */
async function fn_ordInitList() {
  const url = "/WMSRP030/ordInitListSearch_rn.action";
  const apiParams = {
    selectIds: selectedItems.value.length + "",
    vrType: null,
    vrPageGb: "1",
    vrOrderByGb: "1",
    vrBarCodeGb: "2",
  } as any;

  selectedItems.value.forEach((item: any, i: number) => {
    apiParams["ORD_ID" + i] = item["ORD_ID"] + "";
  });

  const res = await ApiService.postApi(url, apiParams, {});
  if (res.status && res.result.errCnt == 0) {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    //PDF뷰
    const url2 = "/WMSRP030/pdfView.action?pdfFilePath=" + res.result.pdfFilePath + "&pdfFileName=" + res.result.pdfFileName;
    let width = "800";
    let height = "700";
    let asppop = UtilService.cfn_openPop2(url2, "fn_pickingList", width, height) as any;
    asppop.focus();
  } else if (res.status && res.result.errCnt != 0) {
    useToast().warning(res.result.MSG);
  }
}

// 출하(출고확정)
/* 출고확정 1단계 */
async function fn_outCompleteStep1() {
  var chkIds = [];
  for (var i = 0; i < mainGridAllRowDataList.value.length; i++) {
    if (mainGridAllRowDataList.value[i]["WORK_STAT"] === "990") {
      const viewOrdId = mainGridAllRowDataList.value[i]["ORD_ID"];
      return useToast().warning("[" + viewOrdId + "] " + t("common-toast.already-setting-outorder"));
    }
    if (mainGridAllRowDataList.value[i]["WORK_STAT"] < "230") {
      chkIds.push(mainGridAllRowDataList.value[i]["RNUM"]);
    }
  }

  if (chkIds.length > 0) {
    // B2B, B2C와는 다르게 로케이션 팝업을 띄워주지 않고 alert창만 노출시킴
    return useToast().warning(t("common-toast.require-location"));
  } else {
    fn_outCompleteStep2(mainGridAllRowDataList.value);
  }
}

/* 출고확정 2단계 */
async function fn_outCompleteStep2(selectedItems: any) {
  /* 컨테이너번호 유무 확인 */
  if (!UtilService.fn_autoBestLocSaveValidation(selectedItems)) {
    return useToast().warning("[" + t("common-toast.necessary-work") + "]" + t("common-toast.please-enter-the-container-number-in-the-order-details-pop-up-window"));
  }

  const bodyData = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  bodyData._fullpath = "";
  bodyData.cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType;
  bodyData.vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
  bodyData.vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;

  await useConfirmStore().confirm(t("common-toast.are-you-sure"), t("button-name.confirm"));

  const res = await ApiService.postApi("/WMSOP030/saveOutCompleteV2_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt !== 0) {
      useToast().error(res.result.MSG);
    } else {
      useToast().success(t("common-toast.registered"));
      gridOptionsMeta.api?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }
}

/**
 * 피킹리스트발행
 *
 * TODO :: 리포트 서식 확인하여 마이그레이션 필요
 */
function fn_pickingList() {
  const vrsrpGB = "";
  const vrSrchCustCd = useSelectedDataStore().getSelectedData().owner?.CUST_CD || "";
  const vrSrchCustId = useSelectedDataStore().getSelectedData().owner?.CUST_ID || "";
  const vrSrchWhNm = useSelectedDataStore().getSelectedData().warehouse?.WH_NM || "";
  const vrSrchOrderId = useSearchConditionStore().getSearchInputValue().vrSrchOrderId || "";
  const cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType || "";
  const vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || "";
  const vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "";
  const vrSrchCustLotNo = useSearchConditionStore().getSearchInputValue().vrSrchCustLotNo || "";
  const vrSrchOrdSubtype = useSearchConditionStore().getSearchInputValue().vrSrchOrdSubtype || "";
  const txtSrchCustId = useSelectedDataStore().getSelectedData().customer?.CUST_ID || "";
  const vrSrchZoneCd = useSearchConditionStore().getSearchInputValue().vrSrchZoneCd || "";
  const vrSrchItemGrpId = useSearchConditionStore().getSearchInputValue().vrSrchItemGrpId || "";
  const strParameter = [];
  strParameter.push(vrsrpGB);
  strParameter.push(vrSrchCustCd);
  strParameter.push(vrSrchCustId);
  strParameter.push(vrSrchWhNm);
  strParameter.push(vrSrchOrderId);
  strParameter.push(cmbSrchType);
  strParameter.push(vrSrchReqDtFrom);
  strParameter.push(vrSrchReqDtTo);
  strParameter.push(vrSrchCustLotNo);
  strParameter.push(vrSrchOrdSubtype);
  strParameter.push(txtSrchCustId);
  strParameter.push(vrSrchZoneCd);
  strParameter.push(vrSrchItemGrpId);

  ozPop(strParameter);
}

/* oz팝업창실행 */
function ozPop(strParameter: any) {
  const sparam = "?strParameter=" + strParameter;
  const url = "/POP-WMSOP330pop" + sparam;
  const width = "1000";
  const height = "800";
  UtilService.cfn_openPop2(url, "fn_InPopup", width, height, false);
}

function initBeforeSearchGridData() {
  masterGridApi.value?.deselectAll();
  masterGridApi.value?.setRowData([]);
  selectedRowItem.value = {};
  gridTotalData.value = {};
}

async function getInvalidData() {
  const apiParams = {
    srchKey: "DS_INVALID",
    vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || "",
    vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "",
    vrSrchCustId: Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "",
    vrSrchRitemId: Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "product") ? useSelectedDataStore().getSelectedModalData().product.RITME_ID : "",
    vrSrchOrderPhase: useSearchConditionStore().getSearchInputValue().vrSrchOrderPhase || "",
    vrSrchOrdSubtype: useSearchConditionStore().getSearchInputValue().vrSrchOrdSubtype || "",
    vrSrchOrderId: useSearchConditionStore().getSearchInputValue().vrSrchOrderId || "",
    vrSrchOrgOrdId: useSearchConditionStore().getSearchInputValue().vrSrchOrgOrdId || "",
  };
  const res = await ApiService.postApi("/WMSOP330/outInvalidView_rn.action", apiParams, {});
  if (res.result.DS_INVALID.length > 0) {
    const transFormInvalidModalData: any = [];
    res.result.DS_INVALID.forEach((data: any) => {
      const keys = Object.keys(data);
      const result: any = {};
      keys.forEach((key: any, i: any) => {
        result[i] = data[key];
      });
      transFormInvalidModalData.push(result);
    });

    invalidModalData.value = transFormInvalidModalData;
  } else {
    invalidModalData.value = null;
  }
}

async function onMasterApiParamsChanged(apiParams: any) {
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  pinnedBottomRowData.value = {
    OUT_ORD_QTY: 0,
    OUT_ORD_WEIGHT: 0,
    REAL_OUT_QTY: 0,
    REAL_OUT_WEIGHT: 0,
  };
  gridOptionsMeta.api?.deselectAll();

  apiParams._fullpath = "";
  apiParams.cmbSrchType = SearchConditionStore.getSearchInputValue().cmbSrchType;
  apiParams.vrSrchReqDtFrom = SearchConditionStore.getSearchInputValue().vrSrchReqDtFrom;
  apiParams.vrSrchReqDtTo = SearchConditionStore.getSearchInputValue().vrSrchReqDtTo;

  const selectedMasterItem = GridUtils.getSelectedRowData(unref(masterGridApi) || new GridApi())[0];
  apiParams.vrOrgId = selectedMasterItem.VIEW_ORD_ID;
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  initBeforeSearchGridData();

  const searchConditions = SEARCH_INPUT;

  apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
  apiParams._fullpath = "";
  apiParams.cmbSrchType = SearchConditionStore.getSearchInputValue().cmbSrchType;
  apiParams.vrSrchReqDtFrom = SearchConditionStore.getSearchInputValue().vrSrchReqDtFrom;
  apiParams.vrSrchReqDtTo = SearchConditionStore.getSearchInputValue().vrSrchReqDtTo;

  masterGridApi.value?.showLoadingOverlay();
  const gridData = await ApiService.postApi("/WMSOP910/listE4Header_rn.action", apiParams, {}, false);
  if (gridData.status) {
    if (gridData.result.list.length > 0) {
      UtilService.setGridDatasRowNum(gridData.result.list);
      masterGridApi.value?.setRowData(gridData.result.list);
      mainGridAllRowDataList.value = gridData.result.list;
      await getInvalidData();
      // await getGridStatisticsData(apiParams);
    } else {
      useToast().warning(t("common-toast.no-data-list"));
      masterGridApi.value?.setRowData([]);
    }
  }
}

async function getDetailData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSOP910/listE4Detail_rn.action", apiParams, bodyData.value, false);
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
