<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP910_4/page.vue
 *  Description:    운영관리/입/출고관리(통합) - 출고관리(H/D) 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div :id="`${myPageId}-page`">
    <my-search />
    <my-form />
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOP910_4" };
</script>
<script setup lang="ts">
import { onMounted, ref } from "vue";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useTabsStore } from "@/store";
import { useOptionDataStore } from "@/store/options-data";
import { IAvailableOptionsUtilParams } from "@/types/index";

import MyForm from "./form.vue";
import MySearch from "./search.vue";

// Variable Definitions
const OptionDataStore = useOptionDataStore();

const myPageId = ref<string>();

// Framework Function Definitions
onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSOP910_rn");
  const res = await ApiService.postApi("/WINUS/WMSOP910_rn.action", {}, data);

  if (res.status) {
    const setAvailableOptionsUtilParam: IAvailableOptionsUtilParams[] = [
      { inputId: "vrSrchOrderPhase", availableList: ["04", "01", "02", "03", "30", "31"] },
      {
        inputId: "vrSrchOrdSubtype",
        availableList: ["", "30", "33", "36", "39", "121", "130", "131", "132", "133", "134", "140", "141", "142", "143"],
      },
    ];
    UtilService.setAvailableOptions(res.result.selectBoxInfos, setAvailableOptionsUtilParam);

    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
