<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP910_4/search.vue
 *  Description:    운영관리/입/출고관리(통합) - 출고관리(H/D) 상단의 검색 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <date-range :data="DATE_RANGE_INFO" />
    <div class="search-control-container">
      <control-container>
        <div v-for="btnData in searchCompControlBtn.value" :key="btnData.title">
          <control-button
            v-if="btnData['display'] === 'Y'"
            :data="btnData"
            :key="btnData.title"
            :resetSearchInput="resetSearchInput"
            :templateInputForB2C="templateInputForB2C"
            :templateInputForSap="templateInputForSap"
            :enterTemplate="enterTemplate" />
        </div>
      </control-container>
    </div>
    <search-container
      @setIsMore="setIsMore"
      :isMore="isMore"
      :data="SEARCH_INPUT"
      :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)"
      :use-setting="false"
      :ser-auth="page.value['SER_AUTH'] || 'Y'">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in SEARCH_INPUT" :key="i">
          <search-container-input
            :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
            :data="props"
            :columnDefs="MODAL_COLUMN_DEFS[props.title]"
            :modalData="SEARCH_MODAL_INFO[props.title]"
            :pageInfo="INFO" />
        </template>
      </template>
    </search-container>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, reactive, ref } from "vue";

import { menusStore, useCallModalIdStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { MODAL_COLUMN_DEFS } from "./column-defs";
import { DATE_RANGE_INFO, INFO, SEARCH_COMPONENT_CONTROL_BTN, SEARCH_INPUT, SEARCH_MODAL_INFO } from "./input";

import { ControlButton } from "@/components/button";
import { SearchContainerInput } from "@/components/input";
import { ControlContainer, DateRange, SearchContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";

// Variable Definitions
const { t } = useI18n();
const FormHeightStore = useFormHeightStore();
const SearchConditionStore = useSearchConditionStore();
const SelectedDataStore = useSelectedDataStore();
let isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement); // .search-area 엘리먼트
const page = reactive({ value: {} as any });
const searchCompControlBtn = reactive({ value: SEARCH_COMPONENT_CONTROL_BTN as any });
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT) as number;

// Framework Function Definitions
onMounted(async () => {
  if (searchComponentRef.value) {
    FormHeightStore.setSearchCompHeight(Number(searchComponentRef.value.clientHeight));
  }

  /* 요청한 api 결과값으로 readOnly 인풋 설정 */
  const readOnlyInputs = ["vrSrchBestDateYn", "vrSrchRfidYn", "vrSrchWgtYn"];
  const readOnlyResults = ["BEST_DATE_YN", "RFID_YN", "WGT_YN"];

  try {
    const res = await ApiService.postApi("/WMSOP020/lcinfolist_rn.action", {}, {});
    if (res.status && !UtilService.isEmptyObject(res.result.LIST)) {
      for (let i = 0; readOnlyInputs.length > i; i++) {
        useSearchConditionStore().changeSearchInputValue(readOnlyInputs[i], res.result.LIST[readOnlyResults[i]]);
      }
    }
  } catch (err) {
    console.log(err);
  }

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSOP", "WMSOP910_4", menusStore().getMenus(), searchCompControlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);

  // Session Storage에 저장된 화주 정보 설정
  if (!UtilService.getCustDataInSessionStorage()) {
    useCallModalIdStore().setCallModalId("owner");
  }
});

// User Function Definitions
function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    FormHeightStore.setSearchCompHeight(searchComponentRef.value!.clientHeight);
  }, 400);
}

// 검색조건 초기화
function resetSearchInput() {
  SearchConditionStore.setAvailableInitializeBySearchInputValue(true);
  let resultInitialValue = Object.assign({}, SearchConditionStore.getInitialSearchInputValue());

  if (Object.hasOwn(SelectedDataStore.getSelectedModalData(), "owner")) {
    let unInitializeSelectedModalData = Object.assign({}, SelectedDataStore.getSelectedModalData().owner);
    SelectedDataStore.removeSelectedModalData(undefined, {});

    SelectedDataStore.selectedModalHandler({ owner: unInitializeSelectedModalData });
  }

  SearchConditionStore.resetSearchInputValue(resultInitialValue);
}

function getOwnerDataQueryString() {
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  return `vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`;
}

// B2C전용 템플릿입력
function templateInputForB2C() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  UtilService.templateImport(`/template-input-for-b2c?title=${"shipping-enter-template"}&${getOwnerDataQueryString()}&saveUrl=${"/WMSOP030E4/inExcelFileUploadJavaB2C_rn.action"}`);
}

// sap템플릿입력 클릭
async function templateInputForSap() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  UtilService.templateImport(`/template-input-for-sap?title=${"shipping-enter-template"}&${getOwnerDataQueryString()}&saveUrl=${"/WMSOP030SE2/saveExcelOrderSAP_rn.action"}`, {
    width: 820,
    height: 740,
    top: 100,
    left: 200,
  });
}

// 템플릿입력 모달
function enterTemplate() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  UtilService.templateImport(
    `/enter-template?title=${"shipping-enter-template"}&${getOwnerDataQueryString()}&saveUrl=${"/WMSOP030/inExcelFileUploadAllowBlank_AS_rn.action"}&templateUrl=${"/WMSOP030E2/sampleExcelDown.action"}`
  );
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-area {
  padding-top: 26px;
  position: relative;
}

.search-control-container {
  position: absolute;
  top: 0;
  right: 0;
}
</style>
