<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP910_4/sub-grid.vue
 *  Description:    운영관리/입/출고관리(통합) - 출고관리(H/D) 메인 Form화면의 하단 두번째 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-header">{{ "운영/입출고관리(통합)_출고관리(H/D)" }}</div>
    <AgGridVue
      class="ag-theme-alpine ag-grid-size"
      :gridOptions="gridOptions"
      :modules="[ExcelExportModule]"
      :pinnedBottomRowData="[pinnedBottomRowData.value]"
      :allowContextMenuWithControlKey="true" />
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, reactive, ref, watch } from "vue";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { SUB_GRID_COLUMN_DEFS } from "./column-defs";
import { SEARCH_INPUT } from "./input";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

// Variable Definitions
const { selectedRowItem, mainGridAllRowDataList } = defineProps<{
  selectedRowItem: any;
  mainGridAllRowDataList: any;
}>();

const SelectedDataStore = useSelectedDataStore();
const SearchConditionStore = useSearchConditionStore();

const { t } = useI18n();
const pinnedBottomRowData = reactive({
  value: {} as any,
});
const inactive = ref<boolean>(false);

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
    lockPosition: true,
  },
  enableRangeSelection: true,
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: SUB_GRID_COLUMN_DEFS,
  onGridReady: onGridReady,
  suppressRowClickSelection: true, // row클릭시 체크박스 체크방지
  getContextMenuItems: getContextMenuItems,
  rowSelection: "multiple",
  getRowId: (data: any) => {
    return data.data.RNUM;
  },
};

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

watch(selectedRowItem, async () => {
  if (!inactive.value) {
    if (UtilService.isEmptyObject(selectedRowItem.value)) {
      initBeforeSearchGridData();
      gridOptions.api?.setRowData([]);
      return;
    } else {
      await searchGridData();
    }
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
function onGridReady() {
  gridOptions.api?.setRowData([]);
  settingBottomColumn();
}

function settingBottomColumn() {
  const colDefs: any = gridOptions.columnDefs;

  colDefs?.forEach((column: any) => {
    if (column.field === "ORD_SEQ") {
      column.valueGetter = (params: any) => {
        if (Object.hasOwn(params.node.data, "RNUM")) {
          return params.node.rowIndex + 1;
        } else {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  gridOptions.api?.setColumnDefs(colDefs);
}

async function searchGridData() {
  initBeforeSearchGridData();
  const searchConditions = SEARCH_INPUT;

  let apiParams = UtilService.getGridParams(searchConditions, SelectedDataStore, SearchConditionStore);
  apiParams._fullpath = "";
  apiParams.cmbSrchType = SearchConditionStore.getSearchInputValue().cmbSrchType;
  apiParams.vrSrchReqDtFrom = SearchConditionStore.getSearchInputValue().vrSrchReqDtFrom;
  apiParams.vrSrchReqDtTo = SearchConditionStore.getSearchInputValue().vrSrchReqDtTo;
  apiParams.vrOrgId = selectedRowItem.value.VIEW_ORD_ID;
  const gridData = await ApiService.postApi("/WMSOP910/listE4Detail_rn.action", apiParams, {});
  if (gridData.status) {
    if (gridData.result.list.length > 0) {
      UtilService.setGridDatasRowNum(gridData.result.list);
      gridOptions.api?.setRowData(gridData.result.list);
      pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(gridData.result.list, pinnedBottomRowData.value);
    } else {
      useToast().warning(t("common-toast.no-data-list"));
      gridOptions.api?.setRowData([]);
    }
  } else {
    gridOptions.api?.setRowData([]);
  }
  SearchConditionStore.setAvailableSearchBySearchCondition(false);
}

function initBeforeSearchGridData() {
  pinnedBottomRowData.value = {
    OUT_ORD_QTY: 0,
    OUT_ORD_WEIGHT: 0,
    REAL_OUT_QTY: 0,
    REAL_OUT_WEIGHT: 0,
  };
  gridOptions.api?.deselectAll();
}

// context menu
function getContextMenuItems(params: any) {
  gridOptions.api?.getRowNode(String(params.node.data["RNUM"]))?.setSelected(true);

  const result = [
    {
      name: t("grid-context-menu-title.statement"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
      subMenu: [
        {
          name: t("grid-context-menu-title.issuance-of-order-statement"),
          action: async () => {
            fn_ordInitList();
          },
          cssClasses: ["redFont", "bold"],
        },
      ],
    },
    {
      name: t("grid-context-menu-title.release-during-work(order-details)"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
    },
    {
      // 작업중해제(주문전체)
      name: t("grid-context-menu-title.release-during-work(full-order)"),
      action: async () => {
        fn_totalWorkingUnlock();
      },
      cssClasses: ["redFont", "bold"],
    },
    {
      name: t("grid-context-menu-title.designate-a-location"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
      subMenu: [
        { name: t("grid-context-menu-title.designate"), action: async () => {}, cssClasses: ["redFont", "bold", "sub-title"] },
        {
          name: t("grid-context-menu-title.designate-a-location(below-case-by-case)"),
          action: async () => {},
          cssClasses: ["redFont", "bold"],
        },
        {
          // 로케이션추천지정 (다중주문일괄(주문번호))
          name: t("grid-context-menu-title.location-recommendation(multiple-orders-collectively(order-number))"),
          action: async () => {
            fn_autoBestLocSaveMultiV2();
          },
          cssClasses: ["redFont", "bold"],
        },
        {
          name: t("grid-context-menu-title.cancellation"),
          action: async () => {},
          cssClasses: ["redFont", "bold", "sub-title"],
        },
        {
          // 로케이션지정취소 (일괄삭제)
          name: t("grid-context-menu-title.de-designate-a-location(delete-all)"),
          action: async () => {
            fn_autoDeleteLocSave();
          },
          cssClasses: ["redFont", "bold"],
        },
      ],
    },
    {
      name: t("grid-context-menu-title.issuing-a-total-pick-list"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
    },
    {
      name: t("grid-context-menu-title.publishing-picking-list"),
      action: async () => {
        fn_pickingList();
      },
      cssClasses: ["redFont", "bold"],
    },
    {
      name: t("grid-context-menu-title.total-peaking-confirmed"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
    },
    {
      // 출하(출고확정)
      name: t("grid-context-menu-title.shipping(complete)"),
      action: async () => {
        fn_outCompleteStep1();
      },
      cssClasses: ["redFont", "bold"],
    },
  ];

  return result;
}

/**
 *
 *
 * context menu 함수 정의
 *
 *
 */

//	로케이션추천지정 (다중주문일괄(주문번호))
async function fn_autoBestLocSaveMultiV2() {
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
  // api호출
  const bodyData = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  bodyData._fullpath = "";
  bodyData.cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType;
  bodyData.vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
  bodyData.vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;
  const res = await ApiService.postApi("/WMSOP030/autoBestLocSaveMultiV3_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt !== 0) {
      useToast().error(res.result.MSG);
    } else {
      useToast().success(res.result.MSG);
      gridOptions.api?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }
}

// 작업중해제(주문전체)
async function fn_totalWorkingUnlock() {
  // 호출 조건 유효성검사
  if (!useSelectedDataStore().getSelectedDataList() || useSelectedDataStore().getSelectedDataList().length < 1) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  for (let i = 0; mainGridAllRowDataList.value.length > i; i++) {
    if (Number(mainGridAllRowDataList.value[i].WORK_STAT) > 490) {
      return useToast().warning(t("common-toast.unable-to-delete"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.working-unlock-confirm"), t("button-name.confirm"));

  // bodyData 셋팅
  let vrOrdId = "";
  for (let i = 0; useSelectedDataStore().getSelectedDataList().length > i; i++) {
    if (vrOrdId) {
      vrOrdId += `,${useSelectedDataStore().getSelectedDataList()[i].ORD_ID}`;
    } else {
      vrOrdId += useSelectedDataStore().getSelectedDataList()[i].ORD_ID;
    }
  }
  // api호출
  const res = await ApiService.postApi("/WMSOP030/totalWorkingUnlock_rn.action", {}, { vrOrdId });
  if (res.status) {
    if (res.result.errCnt !== 0) {
      useToast().error(res.result.MSG);
    } else {
      useToast().success(res.result.MSG);
      gridOptions.api?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }
}

// 로케이션지정취소 (일괄삭제)
async function fn_autoDeleteLocSave() {
  // 유효성검사
  for (let i = 0; mainGridAllRowDataList.value.length > i; i++) {
    if (Number(mainGridAllRowDataList.value[i].WORK_STAT) != 230 && Number(mainGridAllRowDataList.value[i].WORK_STAT) != 400) {
      return useToast().warning(t("common-toast.unregister-location-line", { index: i }));
    }
  }
  await useConfirmStore().confirm(t("common-toast.would-you-like-to-proceed"), t("button-name.confirm"));

  const bodyData = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  bodyData._fullpath = "";
  bodyData.cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType;
  bodyData.vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
  bodyData.vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;
  bodyData.vrOrdSeqNeed = "Y";

  // api호출
  const res = await ApiService.postApi("/WMSOP030/autoDeleteLocSaveV2_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt !== 0) {
      useToast().error(res.result.MSG);
    } else {
      useToast().success(res.result.MSG);
      gridOptions.api?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }
}

/* 주문작업명세서 */
async function fn_ordInitList() {
  if (!useSelectedDataStore().getSelectedDataList() || useSelectedDataStore().getSelectedDataList().length < 1) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  const url = "/WMSRP030/ordInitListSearch_rn.action";
  const apiParams = {
    selectIds: useSelectedDataStore().getSelectedDataList().length + "",
    vrType: null,
    vrPageGb: "1",
    vrOrderByGb: "1",
    vrBarCodeGb: "2",
  } as any;

  useSelectedDataStore()
    .getSelectedDataList()
    .forEach((item: any, i: number) => {
      apiParams["ORD_ID" + i] = item["ORD_ID"] + "";
    });

  const res = await ApiService.postApi(url, apiParams, {});
  if (res.status && res.result.errCnt == 0) {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    //PDF뷰
    const url2 = "/WMSRP030/pdfView.action?pdfFilePath=" + res.result.pdfFilePath + "&pdfFileName=" + res.result.pdfFileName;
    let width = "800";
    let height = "700";
    let asppop = UtilService.cfn_openPop2(url2, "fn_pickingList", width, height) as any;
    asppop.focus();
  } else if (res.status && res.result.errCnt != 0) {
    useToast().warning(res.result.MSG);
  }
}

// 출하(출고확정)
/* 출고확정 1단계 */
async function fn_outCompleteStep1() {
  if (!useSelectedDataStore().getSelectedDataList() || useSelectedDataStore().getSelectedDataList().length < 1) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  var chkIds = [];

  for (var i = 0; i < mainGridAllRowDataList.value.length; i++) {
    if (mainGridAllRowDataList.value[i]["WORK_STAT"] === "990") {
      const viewOrdId = mainGridAllRowDataList.value[i]["ORD_ID"];
      return useToast().warning("[" + viewOrdId + "] " + t("common-toast.already-setting-outorder"));
    }
    if (mainGridAllRowDataList.value[i]["WORK_STAT"] < "230") {
      chkIds.push(mainGridAllRowDataList.value[i]["RNUM"]);
    }
  }

  if (chkIds.length > 0) {
    // B2B, B2C와는 다르게 로케이션 팝업을 띄워주지 않고 alert창만 노출시킴
    return useToast().warning(t("common-toast.require-location"));
  } else {
    fn_outCompleteStep2(mainGridAllRowDataList.value);
  }
}

/* 출고확정 2단계 */
async function fn_outCompleteStep2(selectedItems: any) {
  /* 컨테이너번호 유무 확인 */
  if (!UtilService.fn_autoBestLocSaveValidation(selectedItems)) {
    return useToast().warning("[" + t("common-toast.necessary-work") + "]" + t("common-toast.please-enter-the-container-number-in-the-order-details-pop-up-window"));
  }

  const bodyData = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  bodyData._fullpath = "";
  bodyData.cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType;
  bodyData.vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
  bodyData.vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;

  await useConfirmStore().confirm(t("common-toast.are-you-sure"), t("button-name.confirm"));

  const res = await ApiService.postApi("/WMSOP030/saveOutCompleteV2_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt !== 0) {
      useToast().error(res.result.MSG);
    } else {
      useToast().success(t("common-toast.registered"));
      gridOptions.api?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }
}

/* 피킹리스트발행 */
function fn_pickingList() {
  const vrsrpGB = "";
  const vrSrchCustCd = useSelectedDataStore().getSelectedData().owner?.CUST_CD || "";
  const vrSrchCustId = useSelectedDataStore().getSelectedData().owner?.CUST_ID || "";
  const vrSrchWhNm = useSelectedDataStore().getSelectedData().warehouse?.WH_NM || "";
  const vrSrchOrderId = useSearchConditionStore().getSearchInputValue().vrSrchOrderId || "";
  const cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType || "";
  const vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || "";
  const vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || "";
  const vrSrchCustLotNo = useSearchConditionStore().getSearchInputValue().vrSrchCustLotNo || "";
  const vrSrchOrdSubtype = useSearchConditionStore().getSearchInputValue().vrSrchOrdSubtype || "";
  const txtSrchCustId = useSelectedDataStore().getSelectedData().customer?.CUST_ID || "";
  const vrSrchZoneCd = useSearchConditionStore().getSearchInputValue().vrSrchZoneCd || "";
  const vrSrchItemGrpId = useSearchConditionStore().getSearchInputValue().vrSrchItemGrpId || "";
  const strParameter = [];
  strParameter.push(vrsrpGB);
  strParameter.push(vrSrchCustCd);
  strParameter.push(vrSrchCustId);
  strParameter.push(vrSrchWhNm);
  strParameter.push(vrSrchOrderId);
  strParameter.push(cmbSrchType);
  strParameter.push(vrSrchReqDtFrom);
  strParameter.push(vrSrchReqDtTo);
  strParameter.push(vrSrchCustLotNo);
  strParameter.push(vrSrchOrdSubtype);
  strParameter.push(txtSrchCustId);
  strParameter.push(vrSrchZoneCd);
  strParameter.push(vrSrchItemGrpId);

  ozPop(strParameter);
}

/* oz팝업창실행 */
function ozPop(strParameter: any) {
  const sparam = "?strParameter=" + strParameter;
  const url = "/POP-WMSOP330pop" + sparam;
  const width = "1000";
  const height = "800";
  UtilService.cfn_openPop2(url, "fn_InPopup", width, height, false);
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    height: 49%;
    width: 100%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}

.page-size {
  position: absolute;
  bottom: 15px;
  right: 30px;
}
</style>
