<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS099/form.vue
 *  Description:    기준정보/상품군정보관리 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container" ref="formContainerRef">
    <my-main-grid @changeSelectedRowItem="changeSelectedRowItem" />
    <my-middle-grid @changeSelectedRowItem="changeSelectedRowItem" :selectedRowItem="selectedRowItem" :selectedRowItem2="selectedRowItem2" />
    <my-sub-grid :selectedRowItem="selectedRowItem" :selectedRowItem2="selectedRowItem2" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, watch, onMounted, reactive, onActivated, onDeactivated } from "vue";

import { useFormHeightStore } from "@/store";

import MyMainGrid from "./main-grid.vue";
import MyMiddleGrid from "./middle-grid.vue";
import MySubGrid from "./sub-grid.vue";

// Variable Definitions
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트
const inactive = ref<boolean>(false);
const selectedRowItem = reactive({ value: {} as { [key: string]: any } });
const selectedRowItem2 = reactive({ value: {} as { [key: string]: any } });

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
function changeSelectedRowItem(value: any) {
  if (value.GRID_CATEGORY === "main") {
    selectedRowItem.value = value;
  } else if (value.GRID_CATEGORY === "middle") {
    selectedRowItem2.value = value;
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;
</style>
