<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS099/grid.vue
 *  Description:    기준정보/상품군정보관리 메인 Form화면의 상품군(대) Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container container-container">
    <control-container>
      <template v-for="btnData in controlBtn.value">
        <control-button
          v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && selectedItems.value.length > 0"
          :data="btnData"
          :key="btnData.title"
          :saveRowData="saveRowData"
          :deleteRowData="deleteRowData" />
        <control-button v-if="btnData['display'] === 'Y' && btnData.title !== 'save' && btnData.title !== 'del'" :data="btnData" :key="btnData.title" :addRowData="addRowData" />
      </template>
    </control-container>
    <div class="grid-header">{{ $t("grid-title.product-group(Division1)") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" @cellClicked="cellClicked" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { watch, onBeforeMount, ref, onActivated, onDeactivated, reactive } from "vue";
import { useToast } from "vue-toastification";
import { useI18n } from "vue-i18n";

import { AgGridVue } from "ag-grid-vue3";
import { GridOptions } from "ag-grid-community";
import { GridApi } from "ag-grid-enterprise";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";

import { useSelectedDataStore, useSearchConditionStore, useConfirmStore, menusStore } from "@/store";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";

import { ControlContainer } from "@/components/layout";
import { ControlButton } from "@/components/button";

import { CONTROL_BTN, INFO, SEARCH_INPUT } from "./input";
import { FORM_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const emits = defineEmits<{
  changeSelectedRowItem: [value: any];
}>();

const selectedItems = reactive({ value: [] } as { value: any });
const inactive = ref<boolean>(false);
const { t } = useI18n();
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });
let tempCount = 0;
let gridApi: GridApi | null = null;
let currentSelectedRow = null as any;

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSMS", "WMSMS099", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

// 검색결과 그리에 반영시키기
watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    if ((UtilService.getAuthOnButton("WMSMS", "WMSMS099", menusStore().getMenus(), null).SER_AUTH || "Y") === "Y") {
      searchGridData();
    } else {
      gridApi?.setRowData([]);
    }
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
    lockPosition: true,
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: FORM_COLUMN_DEFS,
  rowSelection: "multiple",
  enableRangeSelection: true,
  enableCellEditingOnBackspace: false,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressClickEdit: true,
  suppressPaginationPanel: true,
  pagination: false,
  onGridReady: onGridReady,
  onRowSelected: onSelectionChanged,
  rowClassRules: {
    "ag-row-selected": function (params: any) {
      if (Object.hasOwn(currentSelectedRow, "ITEM_GRP_ID") && currentSelectedRow?.ITEM_GRP_ID === params.data.ITEM_GRP_ID) {
        return true;
      } else {
        return false;
      }
    },
  },
  getRowId: (data) => {
    return data.data.ITEM_GRP_ID;
  },
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "mainGrid");
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "mainGrid");
  }
}

const cellClicked = (e: any) => {
  if (!currentSelectedRow || currentSelectedRow.RNUM !== e.data.RNUM) {
    currentSelectedRow = e.data;
    e.data["GRID_CATEGORY"] = "main";
    emits("changeSelectedRowItem", e.data);
    if (!e.node.selected) {
      setTimeout(() => {
        gridApi?.redrawRows();
      });
    }
    setTimeout(() => {
      useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "mainGrid");
    });
  }
};

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi?.deselectAll();
    currentSelectedRow = null;
    const searchConditions = SEARCH_INPUT;

    const bodyData = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    bodyData._fullpath = "_fullpath: 기준관리 &gt; 상품군정보관리(LVL)";
    bodyData.vrGrpLevel = "1";
    if (useSearchConditionStore().getResetValue()) {
      UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
      gridApi?.setRowData([]);
      return;
    }

    gridApi?.showLoadingOverlay();
    const gridData = await ApiService.postApi("/WMSMS094/listLvl_rn.action", {}, bodyData, false);
    if (gridData.status) {
      UtilService.setGridDatasRowNum(gridData.result.list);
      gridData.result.list.forEach((row: any) => {
        row.RNUM = String(row.RNUM) + "mainGrid";
        row.gridType = "mainGrid";
      });
      gridApi?.setRowData(gridData.result.list);
      if (gridData.result.list.length === 0) {
        useToast().warning(t("common-toast.no-data-list"));
      }
    } else {
      gridApi?.setRowData([]);
    }
    useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  }
}

// 신규 빈 행 추가
function addRowData() {
  const ITEM_GRP_ID = `temp${tempCount}`;

  const newRowData = [{ ITEM_GRP_ID: ITEM_GRP_ID }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi?.paginationGetCurrentPage()) + 1) * Number(gridApi?.paginationGetPageSize()) - Number(gridApi?.paginationGetPageSize());

  gridApi?.applyTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;

  gridApi?.getRowNode(String(ITEM_GRP_ID))?.setSelected(true);
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows(), "mainGrid");
}

//삭제   ---- done
async function deleteRowData() {
  selectedItems.value = gridApi?.getSelectedRows();

  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  let bodyData: any = {
    _fullpath: "기준관리 &gt; 상품군정보관리(LVL)",
    selectIds: String(selectedItems.value.length),
    vrSrchItemGrpCd: useSearchConditionStore().getSearchInputValue()?.vrSrchItemGrpCd || "",
    vrSrchItemGrpNm: useSearchConditionStore().getSearchInputValue()?.vrSrchItemGrpNm || "",
  };

  for (let i = 0; selectedItems.value.length > i; i++) {
    bodyData["ST_GUBUN" + [i]] = "DELETE";
    bodyData["ITEM_GRP_ID" + [i]] = selectedItems.value[i].ITEM_GRP_ID;
    bodyData["ITEM_GRP_CD" + [i]] = selectedItems.value[i].ITEM_GRP_CD;
    bodyData["ITEM_GRP_NM" + [i]] = selectedItems.value[i].ITEM_GRP_NM;
    bodyData["GRP_LEVEL" + [i]] = "1";
  }

  const res = await ApiService.postApi("/WMSMS099/saveLvl_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      useToast().success(t("common-toast.deleted"));
    } else {
      useToast().error(res.result.MSG);
    }
  }

  tempCount = 0;
  gridApi?.deselectAll();
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
}

// 저장 ---done----
async function saveRowData() {
  selectedItems.value = gridApi?.getSelectedRows();

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi);

  if (!saveEditGridRequiredValidation.status) {
    useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
    return;
  }

  if (selectedItems.value?.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  let bodyData: any = {
    _fullpath: "기준관리 &gt; 상품군정보관리(LVL)",
    selectIds: selectedItems.value.length,
    vrSrchItemGrpCd: useSearchConditionStore().getSearchInputValue()?.vrSrchItemGrpCd || "",
    vrSrchItemGrpNm: useSearchConditionStore().getSearchInputValue()?.vrSrchItemGrpNm || "",
  };

  for (let i = 0; selectedItems.value.length > i; i++) {
    if (String(selectedItems.value[i][INFO.pk]).includes("temp")) {
      bodyData["ST_GUBUN" + [i]] = "INSERT";
      bodyData["ITEM_GRP_ID" + [i]] = "null";
    } else {
      bodyData["ST_GUBUN" + [i]] = "UPDATE";
      bodyData["ITEM_GRP_ID" + [i]] = selectedItems.value[i].ITEM_GRP_ID;
    }

    bodyData["ITEM_GRP_CD" + [i]] = selectedItems.value[i].ITEM_GRP_CD;
    bodyData["ITEM_GRP_NM" + [i]] = selectedItems.value[i].ITEM_GRP_NM;
    bodyData["GRP_LEVEL" + [i]] = "1";
  }

  const res = await ApiService.postApi("/WMSMS099/saveLvl_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      useToast().success(t("common-toast.registered"));
    } else {
      useToast().error(res.result.MSG);
    }
  }

  tempCount = 0;
  gridApi?.deselectAll();
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    width: 32%;
    position: relative;
  }
  .container-container {
    width: 100% !important;
    position: relative;
    background-color: red;
  }
  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
.container-container {
  margin-right: 0 !important;
}
</style>
