<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS099/page.vue
 *  Description:    기준정보/상품군정보관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div :id="`${myPageId}-page`">
    <my-search />
    <my-form />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS099" };
</script>
<script setup lang="ts">
import { onMounted, ref } from "vue";

import { useTabsStore } from "@/store";

import MySearch from "./search.vue";
import MyForm from "./form.vue";

// Variable Definitions
const myPageId = ref<string>();

// Framework Function Definitions
onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
});
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
