<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS099/search.vue
 *  Description:    기준정보/상품군정보관리 상단의 검색 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <search-container
      @setIsMore="setIsMore"
      :data="SEARCH_INPUT"
      :use-setting="false"
      :isMore="isMore"
      :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)"
      :ser-auth="page.value['SER_AUTH'] || 'Y'">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in SEARCH_INPUT" :key="i">
          <search-container-input :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'" :data="props" :columnDefs="[]" :modalData="[]" :pageInfo="INFO" />
        </template>
      </template>
    </search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, reactive, ref } from "vue";

import { UtilService } from "@/services/util-service";
import { menusStore, useFormHeightStore } from "@/store";

import { SearchContainerInput } from "@/components/input";
import { SearchContainer } from "@/components/layout";

import { INFO, SEARCH_INPUT } from "./input";

// Variable Definitions
const searchComponentRef = ref(null as null | HTMLDivElement);
const page = reactive({ value: {} as any });
let isMore = ref(false);
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT) as number;

// Framework Function Definitions
onMounted(() => {
  if (searchComponentRef.value) {
    useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value.clientHeight));
  } else {
    window.location.reload();
  }

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSMS", "WMSMS099", menusStore().getMenus(), null);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

// User Function Definitions
function setIsMore(value: boolean) {
  isMore.value = value;

  setTimeout(() => {
    useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight);
  }, 600);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
