<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP642_3/page.vue
 *  Description:    택배관리/택배접수관리(공통)_택배송장발급이력 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData">
      <div class="grid-header">{{ t("menu-header-title.WMSOP642_3") }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service.ts";
import { UtilService } from "@/services/util-service.ts";
import { useOptionDataStore, useSearchConditionStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus.ts";
import type { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const { t } = useI18n();
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
});

onMounted(async () => {
  const data = UtilService.getOptionApiData("WMSOP642_rn");
  const res = await ApiService.postApi("/WINUS/WMSOP642_rn.action", {}, data);

  if (res.status) {
    delete res.result.selectBoxInfos.PARCEL_COM_TY;
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }

  searchGridData = commonFormRef.value!.searchGridData;
});

//#endregion

//#region ::  User Function Definitions

function excelExport() {
  let columnKeys = [] as (string | any)[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.delivery-invoice-issuance-history"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

eventBus.on("onGridReady", (params: GridReadyEvent) => {
  gridApi.value = params.api;
});

async function getServerData(apiParams: any, bodyData: any) {
  apiParams.cmbSrchType3 = useSearchConditionStore().getSearchInputValue().cmbSrchType3;
  apiParams.vrSrchReqDtFrom3 = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom3;
  apiParams.vrSrchReqDtTo3 = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo3;

  return await ApiService.postApi("/WMSOP642/list3ByDlvHistory_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

.date-range-input {
  width: 100%;
}
</style>
