<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSIT020/page.vue
 *  Description:    B2C 검수
 *  Authors:        L.Y.PARK
 *  Update History:
 *                  2024.07. : Created by L.Y.PARK
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <!-- <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search> -->
    <common-grid-info-form
      ref="commonFormRef"
      :style="formTheme"
      :gridId="`${myPageId}-grid`"
      :gridMeta="MASTER_GRID_META"
      :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
      :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
      :controlBtn="MASTER_CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :onCellClicked="onCellClicked"
      :info-meta="infoMetaRef"
      :infoControlBtn="INFO_CONTROL_BTN"
      :infoTextChanged="infoTextChangedCallBack"
      :infoSelectChanged="infoSelectedCallBack"
      :infoTripleSearchChanged="infoModalSearchCallBack">
      <template v-slot:info-button>
        <control-container>
          <div v-for="btnData in infoControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
      <template v-slot:grid-buttom>
        <common-form
          ref="detailFormRef"
          :gridId="`${myPageId}-master-grid`"
          :gridMeta="DETAIL_GRID_META"
          :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
          :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
          :searchInput="SEARCH_INPUT"
          :getServerData="getDetailData"
          :context="[]">
        </common-form>
      </template>
      <template v-slot:grid-button>
        <control-container>
          <div v-for="btnData in controlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
    </common-grid-info-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS011" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonGridInfoForm from "@/page/common-page/common-grid-info-form.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs.ts";
import { DETAIL_GRID_META, DETAIL_GRID_OPTIONS_META, INFO_CONTROL_BTN, INFO_META, MASTER_CONTROL_BTN, MASTER_GRID_META, MASTER_GRID_OPTIONS_META, SEARCH_INPUT } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(MASTER_CONTROL_BTN);
const infoControlBtnRef = ref(INFO_CONTROL_BTN);
const infoMetaRef = ref(INFO_META);
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const { t } = useI18n();

/** [common-form.vue] 검색(조회) API */
const formTheme = {
  "--flex-direction": "row-reverse",
};
/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  reset: reset,
  "invoice-reprint": invoiceReprint,
  "invoice-receive": invoiceReceive,
  search: search,
  "inspection-complete": inspectionComplete,
  "invoice-print": invoicePrint,
};

const commonFormRef = ref<InstanceType<typeof CommonGridInfoForm> | null>(null);
const detailFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const options = {
    "packing-type": [
      { codeNm: t("select-options.single-piece-packaging"), code: "N" },
      { codeNm: t("select-options.combined-packaging"), code: "Y" },
    ],
    "box-number": [{ codeNm: "1", code: "1" }],
  };
  const res = await ApiService.postApi(`/rest/WINUS/${myPageId.value}.action`, {}, UtilService.getOptionApiData(`${myPageId.value}`));
  if (res.result.selectBoxInfos) {
    const mergedOptions = { ...options, ...res.result.selectBoxInfos };
    useOptionDataStore().setOptionData(mergedOptions);
  } else {
    const mergedOptions = { ...options, ...res.result };
    useOptionDataStore().setOptionData(mergedOptions);
  }
});

onMounted(() => {
  useEventBusStore().on("btn-add-box-clicked", (e) => {
    const data = useOptionDataStore().getOptionData()["box-number"];
    const maxNameKey = data.length ? Math.max(...data.map((obj: any) => Number(obj.code) || 1)) : 0;
    const optionKey = (maxNameKey + 1).toString();
    data.push({ code: optionKey, codeNm: optionKey });
    useOptionDataStore().changeOptionData("box-number", data);
  });
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions
const pickingExeCntRef = ref("");
const pickingTotalCnt = ref("");
/**
 * reset버튼 handler
 * 입력정보를 초기화하고 그리드를 초기화 한다.
 * @param gubun
 */
const chkPickingExeYn = ref("N");
const chkPrintExeYn = ref("");
function reset() {
  if (chkPickingExeYn.value == "Y" && chkPrintExeYn.value == "") {
    useToast().warning(t("common-toast.inspection-in-process"));
    return false;
  }
  formInit("ALL");
}

function formInit(gubun: string) {
  if (gubun === "ALL") {
    useSelectedDataStore().changeSelectedInfoData("vrSrchOrdId", "");
    useSelectedDataStore().changeSelectedInfoData("vrSrchOrdDegree", "");
    useSelectedDataStore().changeSelectedInfoData("vrSrchOrdIdHddn", "");
    useSelectedDataStore().changeSelectedInfoData("vrSrchOrdDegreeHddn", "");
    useSelectedDataStore().changeSelectedInfoData("vrSrchItemBarcode", "");
    useSelectedDataStore().changeSelectedInfoData("vrSrchOrdDegree", "");
    useSelectedDataStore().changeSelectedInfoData("vrSrchOrdId", "");
    chkPickingExeYn.value = "";
    chkPrintExeYn.value = "";
  }
  pickingExeCntRef.value = "";
  pickingTotalCnt.value = "";
  setCustomerInfo(null);
}

function setCustomerInfo(customer: any) {
  if (customer) {
    useSelectedDataStore().changeSelectedInfoData("vrSrchOrgOrdId", customer.ORG_ORD_ID);
    useSelectedDataStore().changeSelectedInfoData("vrSrchInvcNo", customer.INVC_NO);
    useSelectedDataStore().changeSelectedInfoData("vrSrchRcvrAddress", customer.ADDRESS + " " + customer.ADDRESS2);
    useSelectedDataStore().changeSelectedInfoData("vrSrchRcvrNm", customer.CUST_NM);
  } else {
    useSelectedDataStore().changeSelectedInfoData("vrSrchOrgOrdId", "");
    useSelectedDataStore().changeSelectedInfoData("vrSrchInvcNo", "");
    useSelectedDataStore().changeSelectedInfoData("vrSrchRcvrAddress", "");
    useSelectedDataStore().changeSelectedInfoData("vrSrchRcvrNm", "");
  }
}

const detailGridData: any[] = [];
function setResultBox(callback: Function) {
  // TODO: 확인 필요, 총수량 표시 (합계 행이 포함되기에 )
  // var totalCount_BOX = jQuery('#totalSpdList_BOX');
  // spdDetailList.deleteRows(0, spdDetailList.getRowCount());
  // spdDetailList.resumePaint();
  // spdDetailList.suspendPaint();
  // totalCount_BOX.html(spdDetailList.getRowCount());
  // useSelectedDataStore().changeSelectedInfoData("detail", detailGridData);
  detailFormRef.value?.searchGridData();
  if (callback) callback();
}
function invoiceReprint() {}
function invoiceReceive() {}
function search() {}

function inspectionComplete() {}
function invoicePrint() {}

function initFocus() {}
/**
 * 요청
 * @param formFields formField를 Array에 따라 순번처리한 데이터
 */
async function cudRequestService(url: string, formFields: any, confirmMessage: string, successMsg?: string, failMsg?: string) {
  successMsg = successMsg || t("common-toast.saved");
  failMsg = failMsg || "";
  await useConfirmStore().confirm(confirmMessage, t("button-name.confirm"));

  try {
    const resp = await ApiService.postApi(url, formFields, {});
    if (typeof resp.result.errCnt == "undefined") {
      useToast().error(resp.result.MSG || failMsg);
      // eventBus.emit("search-data");
    } else if (resp.result && resp.result.errCnt <= 0) {
      useToast().success(resp.result.MSG);
      // eventBus.emit("search-data");
    } else {
      useToast().error(resp.result.MSG || failMsg);
      // eventBus.emit("search-data");
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

async function sendRequest(requestUrl: string, params: any) {
  try {
    return await ApiService.postApi(requestUrl, params, null);
  } catch (error) {
    useToast().error(t("common-toast.error"));
    return console.log(error);
  }
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "text"
 */
function infoTextChangedCallBack(e: Event, key: string, overapCheckVal?: boolean) {
  console.log(e, key, overapCheckVal);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "select"
 */
const vrSrchMutiPackingYn = ref("");
function infoSelectedCallBack(e: Event, key: string, option: Record<string, string>) {
  //택배 구분
  if (key === "PARCEL_COM_TY" && option) {
    getCustSenderInfo(option);
  }

  //운송자, 운송자가 선택되면 주소 자동 입력
  if (key === "PARCEL_COM_TY_SEQ" && option) {
    useSelectedDataStore().changeSelectedInfoData("dlvSenderInfoInput", option.address);
  }

  //합포구분
  if (key === "vrSrchMutiPackingYn" && option) {
    if (vrSrchMutiPackingYn.value == "" || vrSrchMutiPackingYn.value === option.code) {
      vrSrchMutiPackingYn.value = option.code;
      return;
    }
    processMultiPackingYnChange(option);
  }
}

function processMultiPackingYnChange(option: Record<string, string>) {
  if (chkPickingExeYn.value === "Y" && chkPrintExeYn.value === "") {
    if (option.code != vrSrchMutiPackingYn.value) {
      if (option.code === "N") {
        vrSrchMutiPackingYn.value = "Y";
        useSelectedDataStore().changeSelectedInfoData("vrSrchMutiPackingYn", "Y");
      } else {
        vrSrchMutiPackingYn.value = "N";
        useSelectedDataStore().changeSelectedInfoData("vrSrchMutiPackingYn", "N");
      }
    }
    useToast().warning(t("common-toast.inspection-in-process"));
    return;
  } else {
  }
}

/**
 * 백배구분이 선택되면 자동 호출 되어 접수, 운임, 박스, 운송 구분을 활성화 한다.
 * @param option 운송자 정보
 */
async function getCustSenderInfo(option: Record<string, string>) {
  const custId = useSelectedDataStore().getSelectedInfoData()["vrSrchCustId"];
  const parcelComTy = option.code;
  const requestUrl = "/WMSOP642/dlvSenderInfo.action";
  const params = { vrSrchCustId: custId, PARCEL_COM_TY: parcelComTy };
  const resp = await sendRequest(requestUrl, params);
  let senderInfo: Array<Record<string, any>> = resp.DLV_SENDER_INFO;
  var cnt = senderInfo.length;
  if (cnt > 0) {
    senderInfo.forEach((element: any) => {
      element.code = element.PARCEL_COM_TY_SEQ;
      element.codeNm = element.ARCEL_DESC;
      element.address = `송화인: ${element.SENDR_NM} 주소: ${element.SENDR_ADDR} 전화번호: ${element.SENDR_TEL_NO}`;
    });
    useOptionDataStore().changeOptionData("PARCEL_COM_TY_SEQ", senderInfo);
    if (senderInfo && senderInfo.length > 0) {
      useSelectedDataStore().changeSelectedInfoData("PARCEL_COM_TY_SEQ", senderInfo[0].code);
      useSelectedDataStore().changeSelectedInfoData("dlvSenderInfoInput", senderInfo[0].address);
      infoMetaRef.value.infoInput[0].inputs.forEach((input) => {
        input.title == "application-category" ? (input.disabled = false) : null;
        input.title == "fare-classification" ? (input.disabled = false) : null;
        input.title == "box-classification" ? (input.disabled = false) : null;
        input.title == "transportation-category" ? (input.disabled = false) : null;
      });
    }
  } else {
    useOptionDataStore().changeOptionData("PARCEL_COM_TY_SEQ", []);
    if (senderInfo && senderInfo.length > 0) {
      useSelectedDataStore().changeSelectedInfoData("PARCEL_COM_TY_SEQ", "");
    }
  }
}
/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "triple search (modal)", "modal"
 */
async function infoModalSearchCallBack(key: string, value: any) {
  if (key === "vrSrchCustId" && value) {
    await getCustDlvCompInfo(value);
    const comTy = useSelectedDataStore().getSelectedInfoData()["PARCEL_COM_TY"];
    await getCustSenderInfo({ code: comTy });
    dlvInitSetting(comTy);
  }
}

/**
 * 택배사 정보 수집
 */
async function getCustDlvCompInfo(custId: string) {
  const requestUrl = "/WMSOP642/dlvDlvCompInfo.action";
  const params = { vrSrchCustId: custId };
  const resp = await sendRequest(requestUrl, params);
  let data: Array<Record<string, any>> = resp.DLV_COMP_INFO;
  var cnt = data.length;
  if (cnt > 0) {
    data.forEach((element: any) => {
      element.code = element.PARCEL_COM_TY;
      element.codeNm = element.PARCEL_COM_TY_NM;
    });
    useOptionDataStore().changeOptionData("SWEET_DCD", data);
    if (data && data.length > 0) {
      useSelectedDataStore().changeSelectedInfoData("PARCEL_COM_TY", data[0].code);
    }
  } else {
    useOptionDataStore().changeOptionData("SWEET_DCD", []);
    if (data && data.length > 0) {
      useSelectedDataStore().changeSelectedInfoData("PARCEL_COM_TY", "");
    }
  }
}
/**
 * 택배관련 기본 설정 정보 구성
 */
function dlvInitSetting(comTy: string) {
  if (comTy != undefined && comTy == "04") {
    //대한통운
    useSelectedDataStore().changeSelectedInfoData("PARCEL_ORD_TY", "01");
    useSelectedDataStore().changeSelectedInfoData("PARCEL_PAY_TY", "03");
    useSelectedDataStore().changeSelectedInfoData("PARCEL_BOX_TY", "03");
    useSelectedDataStore().changeSelectedInfoData("PARCEL_ETC_TY", "01");
  } else if (comTy != undefined && comTy == "06") {
    //로젠택배
  }
}
//#endregion

//#region ::  Grid Event CallBack Definitions
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSMS011/list_rn.action", apiParams, bodyData.value, false);
}

async function getDetailData(apiParams: any, bodyData: any) {
  return detailGridData;
}

/**
 * 그리드 셀 클릭 이벤트
 * - 선택 행의 정보를 info 영역에 맵핑
 */
function onCellClicked(e: CellClickedEvent) {
  useSelectedDataStore().selectedInfoHandler(e.data, true);
}
//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;
.form-container {
  padding: 10px 0px 0px 0px !important;
  &-local {
    flex-direction: column;
    gap: 10px;
    padding: 0 0 0 0 !important;
  }
}
</style>
