<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS150/form.vue
 *  Description:    기준정보/재고조사설정 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <control-container>
    <div v-for="btnData in CONTROL_BTN" :key="btnData.title">
      <control-button
        v-if="(btnData.title === 'save' || btnData.title === 'del') && Object.keys(selectedItems.value).length > 0"
        :data="btnData"
        :saveRowData="saveRowData"
        :deleteRowData="deleteRowData" />
      <control-button v-else-if="!(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" :addRowData="addRowData" :excelExport="excelExport" />
    </div>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <my-grid
      :onGridReady="onGridReady"
      @selectedItemsEv="
        (e: any) => {
          selectedItems.value = e;
        }
      "
      :setPagingSize="setPagingSize" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { reactive, ref, watch, onMounted, onActivated, onDeactivated } from "vue";

import { useToast } from "vue-toastification";
import { useI18n } from "vue-i18n";
import { ExcelExportParams } from "ag-grid-community";
import { GridApi, IServerSideGetRowsParams } from "ag-grid-community";

import { useConfirmStore, useSelectedDataStore, useSearchConditionStore, useFormHeightStore, useTabsStore } from "@/store";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";

import MyGrid from "./grid.vue";
import { ControlContainer } from "@/components/layout";
import { ControlButton } from "@/components/button";

import { CONTROL_BTN, SEARCH_INPUT, GRID_CELL_SEARCH_BUTTON } from "./input";
import { FORM_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSMS150");
const pagingSize = ref<number>(pagingOptions![0]);
const selectedItems = reactive({ value: {} as any });
const FormHeightStore = useFormHeightStore();
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트(div태그)
const inactive = ref<boolean>(false);
let tempCount = 0;
let gridApi: GridApi | null = null;
const gridData = reactive({ value: [] as any });

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  window.addEventListener("resize", () => {
    resizeGridColumns();
  });
});

watch(FormHeightStore._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

watch(useSelectedDataStore()._selectedDataList, () => {
  if (!inactive.value) {
    changeModalType();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});
function setPagingSize(size: any) {
  pagingSize.value = size;
}

// User Function Definitions
const resizeGridColumns = () => {
  const myPageId = useTabsStore().selectedTab.value?.id;
  let myGridContainerWidth = document.querySelector("#" + myPageId + "-page .form-container")?.clientWidth || 0;
  let myGridBodyContainerWidth = document.querySelector("#" + myPageId + "-page .ag-body-viewport .ag-center-cols-container")?.clientWidth || 0;
  if (myGridContainerWidth >= myGridBodyContainerWidth) {
    // gridApi?.sizeColumnsToFit();
  }
};

const onGridReady = (params: any) => {
  gridApi = params.api;
  resizeGridColumns();
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

async function searchGridData() {
  gridApi?.deselectAll();

  const searchConditions = SEARCH_INPUT;

  let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());

  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        gridData.value = await ApiService.postApi("/WMSMS150/list_rn.action", apiParams, bodyData.value, false);
        if (gridData.value.status) {
          if (gridData.value.result.list.length > 0) {
            UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.value.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}
// grid에 paging option 적용
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 신규 빈 행 추가
function addRowData() {
  const RNUM = `temp${tempCount}`;
  const newRowData = [{ RNUM }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi?.paginationGetCurrentPage()) + 1) * Number(gridApi?.paginationGetPageSize()) - Number(gridApi?.paginationGetPageSize());

  gridApi?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;

  gridApi?.getRowNode(String(RNUM))!.setSelected(true);

  useSelectedDataStore().selectedHandler(gridApi?.getRowNode(String(RNUM))?.data);
}

//엑셀 export
function excelExport() {
  if (gridData.value.length === 0) {
    return useToast().warning(t("common-toast.no-data-found"));
  }

  let columnKeys = [] as string[];

  FORM_COLUMN_DEFS.forEach((column: any) => {
    if (Object.hasOwn(column, "export")) {
      columnKeys.push(column.field);
    }

    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        if (column.children[i].hasOwnProperty) {
          columnKeys.push(column.children[i].field);
        }
      }
    }
  });

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.setup-stocktaking"),
    columnKeys,
  };

  gridApi?.exportDataAsExcel(excelExportParams);
}

// 저장
function saveRowData() {
  crudAction("SAVE");
}

// 삭제
function deleteRowData() {
  crudAction("DELETE");
}

// "저장", "삭제" 버튼 클릭 시 호출되는 콜백함수
async function crudAction(type: "DELETE" | "SAVE") {
  selectedItems.value = gridApi?.getSelectedRows();

  if (type === "SAVE") {
    if (!fn_listValidation()) {
      return;
    }
  }

  if (type === "SAVE") {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
  } else {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
  }

  try {
    let bodyData: any = { _fullpath: "", selectIds: selectedItems.value.length + "" };

    for (var i = 0; i < selectedItems.value.length; i++) {
      if (type === "SAVE") {
        if (selectedItems.value[i].RNUM.include("temp")) {
          bodyData["ST_GUBUN" + [i]] = "INSERT";
        } else {
          bodyData["ST_GUBUN" + [i]] = "UPDATE";
        }
        bodyData["CUST_ID" + [i]] = useSelectedDataStore().getSelectedModalData().CUST.CUST_ID;
        bodyData["CYCL_STOCK_TYPE" + [i]] = selectedItems.value[i].CYCL_STOCK_TYPE;
        bodyData["TYPE_ST" + [i]] = selectedItems.value[i].TYPE_ST;
        bodyData["ITEM_TY" + [i]] = selectedItems.value[i].ITEM_TY;
      } else {
        bodyData["ST_GUBUN" + [i]] = "DELETE";
      }

      bodyData["CYCL_STOCK_CONFIG_ID" + [i]] = selectedItems.value[i].CYCL_STOCK_CONFIG_ID;

      switch (selectedItems.value[i].CYCL_STOCK_TYPE) {
        case "1": // 일제재고정리
          break;
        case "2": // 대상기간 조사
          bodyData["WORK_DAY_NUM" + [i]] = selectedItems.value[i].WORK_DAY_NUM;
          break;
        case "3": // 로케이션 조사
          bodyData["LOC_ID" + [i]] = selectedItems.value[i].LOC_ID;
          break;
        case "4": // 상품 조사
          bodyData["RITEM_ID" + [i]] = useSelectedDataStore().getSelectedModalData().ITEM.RITEM_ID;
          break;
      }
    }

    if (type === "DELETE") {
      bodyData.I_selectIds = "0";
      bodyData.D_selectIds = selectedItems.value.length !== 0 ? selectedItems.value.length + "" : "0";
    }

    const res = await ApiService.postApi("/WMSMS150/save_rn.action", {}, bodyData);
    if (res.status) {
      if (res.errCnt === 0) {
        useToast().success(res.result.MSG);
        gridApi?.deselectAll();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        tempCount = 0;
      } else {
        useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

//그리드 유효성 검사
function fn_listValidation() {
  for (let i = 0; i < selectedItems.value.length; i++) {
    let WORK_DAY_NUM = selectedItems.value[i].WORK_DAY_NUM;
    let CUST_ID = useSelectedDataStore().getSelectedModalData().owner.CUST_ID;
    let CYCL_STOCK_TYPE = selectedItems.value[i].CYCL_STOCK_TYPE;
    let RITEM_ID = useSelectedDataStore().getSelectedModalData().ITEM.RITEM_ID;
    let LOC_ID = selectedItems.value[i].LC_ID;

    /* 필수값 체크 */
    const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi);
    if (!saveEditGridRequiredValidation.status) {
      return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
    }

    switch (CYCL_STOCK_TYPE) {
      case "2":
        if (WORK_DAY_NUM == "") {
          useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: t("grid-column-name.days-to-target") }));
          return false;
        }
        break;
      case "3":
        if (LOC_ID == "") {
          useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: t("grid-column-name.location") }));
          return false;
        }
        break;
      case "4":
        if (RITEM_ID == "") {
          useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: t("grid-column-name.goods") }));
          return false;
        }
        break;
    }

    let tmpVal = [CUST_ID, WORK_DAY_NUM];
    /* 특수문자 체크 */
    for (let j = 0; j < tmpVal.length; j++) {
      if (!cfn_checkString(tmpVal[j])) {
        // jQuery("#" + selectIds[i] + "_" + tmpId[j], "#list").focus();
        return false;
      }
    }
    /* 대상일수 숫자인지 체크 */
    if (!isNaN(selectedItems.value[i].WORK_DAY_NUM)) {
      // alert("$!message.getMessage('0번째행의1은숫자만입력가능', '" + selectIds[i] + "','" + t("grid-column-name.days-to-target") + "')");
      useToast().warning(t("common-toast.only-numbers-for"));
      return false;
    }
  }
  // }
  return true;
}

//특수문자입력체크
function cfn_checkString(sInput: any) {
  let _NoInputTag = "~!#$%&*+@^`'{|}><[];:,\\" + "\n" + "\r";
  if (!_CheckType(sInput, _NoInputTag)) {
    alert("HTML태그나 부적절한 특수문자는 지원하지 않습니다.올바른 검색어를 입력해주세요.");
    return false;
  }
  return true;
}

function _CheckType(s: any, spc: any) {
  let i;
  for (i = 0; i < s.length; i++) {
    if (spc.indexOf(s.substring(i, i + 1)) > 0) {
      return false;
    }
  }
  return true;
}

/* 그리드의 '상품군' 컬럼 select-box값에 따라 모달타입(vrItemType값)이 달라짐 */
function changeModalType() {
  for (let i = 0; selectedItems.value.length > i; i++) {
    if (useSelectedDataStore().getSelectedDataList()[i].RNUM === gridApi?.getSelectedRows()[i].RNUM) {
      GRID_CELL_SEARCH_BUTTON.ITEM.modalData.apis.params.vrItemType = useSelectedDataStore().getSelectedDataList()[i].ITEM_TY;
    }
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;
</style>
