<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS150/grid.vue
 *  Description:    기준정보/재고조사설정 메인 Form화면의 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-header">{{ $t("grid-title.stocktaking-list") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" @cellClicked="cellClicked" :context="{ ...GRID_CELL_SEARCH_BUTTON, ...GRID_CELL_SELECT_BOX }" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onBeforeMount, ref } from "vue";

import { useI18n } from "vue-i18n";
import { AgGridVue } from "ag-grid-vue3";
import { GridOptions, CellClickedEvent } from "ag-grid-community";

import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";

import { UtilService } from "@/services/util-service";
import { useSelectedDataStore } from "@/store";

import { FORM_COLUMN_DEFS } from "./column-defs";
import { GRID_CELL_SEARCH_BUTTON, GRID_CELL_SELECT_BOX } from "./input";

// Variable Definitions
const { onGridReady, setPagingSize } = defineProps<{
  onGridReady: any;
  setPagingSize: any;
}>();

const emits = defineEmits(["selectedItemsEv"]);

const { t } = useI18n();
const totalRows = ref<number>(0);
const pagingOptions = UtilService.getGridPagingOptions("WMSMS100");
const pagingSize = ref<number>(pagingOptions![0]);
const SelectedDataStore = useSelectedDataStore();

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }

    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        if (Object.hasOwn(column.children[i], "headerKey") && column.children[i].headerKey) {
          column.children[i].headerName = t("grid-column-name." + column.children[i].headerKey);
        }
      }
    }
  });

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      // || params.event.key === "Tab"
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

//User Function Definition
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};
const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: FORM_COLUMN_DEFS,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  onGridReady: onGridReady,
  onPaginationChanged: onPaginationChanged,
  onRowSelected: onSelectionChanged,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  enableCellEditingOnBackspace: false,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  // enableRangeSelection: true,
  onPasteEnd: onPasteEnd,
  onCellFocused: onCellFocused,
  onCellDoubleClicked: onCellDoubleClicked,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
  suppressClickEdit: true,
  suppressContextMenu: true,
  suppressRowClickSelection: true,
  groupSelectsChildren: true,
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedHandler(e.data);
};

// 인풋이 활성화 상태일때 붙여넣기를 할 경우 cell을 다시 그리기 때문에 인풋 태그말고 div태그가 노출됨
function onPasteEnd() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);

  setPagingSize(target.value);
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (useSelectedDataStore().getSelectedDataList().length !== gridOptions.api?.getSelectedRows().length) {
      const selectedItem = e.api.getSelectedNodes();
      emits("selectedItemsEv", selectedItem);
      useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
    }
  } else {
    const selectedItem = e.api.getSelectedNodes();
    emits("selectedItemsEv", selectedItem);
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    width: 100%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}

.page-size {
  position: absolute;
  right: 65px;
  bottom: -3px;
}
</style>
