<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS150/page.vue
 *  Description:    재고조사설정 화면
 *  Authors:        H. N. KO
 *  Update History:
 *                  2024.06. : Created by H.N.KO
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header> </template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :onBodyScrollEnd="onBodyScrollEnd"
      :controlBtn="CONTROL_BTN"
      :onSelectionChanged="onSelectionChanged"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :onCellClicked="onCellClicked"
      :onCellFocused="onCellFocused"
      :onPasteEnd="onPasteEnd"
      :onCellDoubleClicked="onCellDoubleClicked"
      @cellClicked="cellClicked"
      :readOnlyInputs="SEARCH_META.readOnlyInputs"
      :context="{ ...GRID_CELL_SEARCH_BUTTON, ...GRID_CELL_SELECT_BOX }">
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<script lang="ts">
export default { name: "WMSMS150" };
</script>
<script setup lang="ts">
import { onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_CELL_SELECT_BOX, gridOptionsMeta } from "./input.grid";
import { GRID_CELL_SEARCH_BUTTON, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

let searchGridData: Function;
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const inactive = ref<boolean>(false);
let tempCount = 0;

const SelectedDataStore = useSelectedDataStore();
let gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const { t } = useI18n();
const selectedItems: any = reactive({ value: [] } as { value: any });
const OptionDataStore = useOptionDataStore();

// Variable Definitions
const myPageId = ref<string>();
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
};

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData(`WMSMS150`);
  const res = await ApiService.postApi(`/rest/WINUS/WMSMS150.action`, {}, data);
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
    // searchGridData(); 화면 로드 시 자동 조회하면, 그리드의 컬럼 중에 cellEditor: gridSelect 가 있는 것들은 랜더링이 안되는 현상으로 제외
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptionsMeta.api?.getSelectedRows());
}

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptionsMeta.api?.getSelectedRows());
}

const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedHandler(e.data);
};

// 인풋이 활성화 상태일때 붙여넣기를 할 경우 cell을 다시 그리기 때문에 인풋 태그말고 div태그가 노출됨
function onPasteEnd() {
  useSelectedDataStore().changeSelectedDataList(gridOptionsMeta.api?.getSelectedRows());
}

// 신규 빈 행 추가
function addRowData() {
  const RNUM = `temp${tempCount}`;
  const newRowData = [
    {
      RNUM: RNUM,
      ST_GUBUN: "INSERT",
      RITEM_NM: "",
      RITEM_CD: "",
      WORK_DAY_NUM: "",
      LOC_CD: "",
    },
  ];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });
}

//엑셀 export
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_COLUMN_DEFS[i].field);
    }
    // children 컬럼
    if (Object.hasOwn(FORM_COLUMN_DEFS[i], "children")) {
      for (let j = 0; FORM_COLUMN_DEFS[i].children.length > j; j++) {
        if (Object.hasOwn(FORM_COLUMN_DEFS[i].children[j], "export")) {
          columnKeys.push(FORM_COLUMN_DEFS[i].children[j].field);
        }
      }
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.setup-stocktaking"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 그리드 셀 클릭 이벤트
 * - 선택 행의 정보를 info 영역에 맵핑
 */
function onCellClicked(e: CellClickedEvent) {
  useSelectedDataStore().selectedInfoHandler(e.data, true);
}

function sessionStorageReady() {}

// 저장
function saveRowData() {
  crudAction("SAVE");
}

// 삭제
function deleteRowData() {
  crudAction("DELETE");
}

// "저장", "삭제" 버튼 클릭 시 호출되는 콜백함수
async function crudAction(type: "DELETE" | "SAVE") {
  gridApi.value?.stopEditing();
  selectedItems.value = gridApi.value?.getSelectedRows();

  if (type === "SAVE") {
    if (!fn_listValidation()) {
      return;
    }
  }

  if (type === "SAVE") {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
  } else {
    if (UtilService.isEmptyArray(selectedItems.value)) {
      return useToast().warning(t("common-toast.select-data-to-delete"));
    }
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
  }

  try {
    let bodyData: any = { _fullpath: "", selectIds: selectedItems.value.length + "" };

    for (var i = 0; i < selectedItems.value.length; i++) {
      if (type === "SAVE") {
        if (String(selectedItems.value[i].RNUM).includes("temp")) {
          bodyData["ST_GUBUN" + [i]] = "INSERT";
        } else {
          bodyData["ST_GUBUN" + [i]] = "UPDATE";
        }
        bodyData["CUST_ID" + [i]] = selectedItems.value[i].CUST_ID;
        bodyData["CYCL_STOCK_TYPE" + [i]] = selectedItems.value[i].CYCL_STOCK_TYPE;
        bodyData["TYPE_ST" + [i]] = selectedItems.value[i].TYPE_ST;
        bodyData["ITEM_TY" + [i]] = selectedItems.value[i].ITEM_TY;
      } else {
        bodyData["ST_GUBUN" + [i]] = "DELETE";
      }

      bodyData["CYCL_STOCK_CONFIG_ID" + [i]] = selectedItems.value[i].CYCL_STOCK_CONFIG_ID;

      switch (selectedItems.value[i].CYCL_STOCK_TYPE) {
        case "1": // 일제재고정리
          break;
        case "2": // 대상기간 조사
          bodyData["WORK_DAY_NUM" + [i]] = selectedItems.value[i].WORK_DAY_NUM;
          break;
        case "3": // 로케이션 조사
          bodyData["LOC_ID" + [i]] = selectedItems.value[i].LOC_ID;
          break;
        case "4": // 상품 조사
          bodyData["RITEM_ID" + [i]] = selectedItems.value[i].RITEM_ID;
          break;
      }
    }

    if (type === "DELETE") {
      bodyData.I_selectIds = "0";
      bodyData.D_selectIds = selectedItems.value.length !== 0 ? selectedItems.value.length + "" : "0";
    }

    const res = await ApiService.postApi("/rest/WMSMS150/save.action", bodyData, bodyData);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(res.result.MSG);
      } else {
        if (type === "DELETE") {
          useToast().success(t("common-toast.deleted"));
        } else {
          useToast().success(res.result.MSG);
        }
        gridApi.value?.deselectAll();
      }
      searchGridData();
    }
  } catch (err) {
    return console.log(err);
  }
}

async function getServerData(apiParams: any, bodyData: any) {
  gridApi.value?.deselectAll();
  const searchConditions = SEARCH_INPUT;

  apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
  return await ApiService.postApi("/rest/WMSMS150/list.action", apiParams, bodyData.value, false);
}

// Framework Function Definitions
function onBodyScrollEnd() {
  useSelectedDataStore().changeSelectedDataList(GRID_OPTIONS_META.api?.getSelectedRows());
}
function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridApi.value?.getSelectedRows().length) {
      selectedItems.value = gridApi.value?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(selectedItems.value);
    }
  } else {
    selectedItems.value = gridApi.value?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(selectedItems.value);
  }
}

//그리드 유효성 검사
function fn_listValidation() {
  for (let i = 0; i < selectedItems.value.length; i++) {
    let WORK_DAY_NUM = selectedItems.value[i].WORK_DAY_NUM;
    let CUST_ID = selectedItems.value[i].CUST_ID;
    let CYCL_STOCK_TYPE = selectedItems.value[i].CYCL_STOCK_TYPE;
    let RITEM_ID = selectedItems.value[i].RITEM_ID;
    let LOC_ID = selectedItems.value[i].LC_ID;

    /* 필수값 체크 */
    const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi.value);
    if (!saveEditGridRequiredValidation.status) {
      return useToast().warning(t("common-toast.no-save-grid-require-value", { line: i, key: saveEditGridRequiredValidation.key }));
    }

    switch (CYCL_STOCK_TYPE) {
      case "2":
        if (WORK_DAY_NUM == "") {
          useToast().warning(t("common-toast.no-save-grid-require-value", { line: i + 1, key: t("grid-column-name.days-to-target") }));
          return false;
        }
        break;
      case "3":
        if (LOC_ID == "") {
          useToast().warning(t("common-toast.no-save-grid-require-value", { line: i + 1, key: t("grid-column-name.location") }));
          return false;
        }
        break;
      case "4":
        if (RITEM_ID == "") {
          useToast().warning(t("common-toast.no-save-grid-require-value", { line: i + 1, key: t("grid-column-name.goods") }));
          return false;
        }
        break;
    }

    /* 대상일수 숫자인지 체크 */
    if (WORK_DAY_NUM != null && WORK_DAY_NUM !== "" && isNaN(selectedItems.value[i].WORK_DAY_NUM)) {
      useToast().warning(t("common-toast.only-numbers-for"));
      return false;
    }
  }
  // }
  return true;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
