<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS020/form.vue
 *  Description:    기준관리/센터별작업정책 "출고" 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="PRO02" class="releaseWrap">
    <div class="stepCol_01">
      <p class="legendRequired wid90" name="process" id="btn_PRO02_10">{{ t("text.upload-template") }}</p>
      <p class="legendRequired wid90">{{ t("text.direct-input") }}</p>
    </div>

    <div class="stepCol_03">
      <p class="legendRequired" style="width: 128px">{{ t("text.insert-order") }}<br />{{ t("text.general-cross-docking") }}</p>
      <p class="legendEtc legendSelect" name="process" id="btn_PRO02_30">{{ t("text.charge") }}</p>
      <p class="legendEtc legendSelect" name="process" id="btn_PRO02_40">{{ t("text.confirm-payment") }}</p>
      <p class="legendEtc legendSelect" name="process" id="btn_PRO02_50">{{ t("text.approval") }}</p>
      <p class="legendEtc legendSelect" name="process" id="btn_PRO02_60" style="width: 128px">{{ t("text.allocation-quantity") }}<br />{{ t("text.general-cross-docking") }}</p>
      <p class="legendEtc legendSelect" name="process" id="btn_PRO02_70">{{ t("text.assign-allocation-priority") }}</p>
      <p class="legendSelected legendSelect" name="process" id="btn_PRO02_80" style="position: absolute; left: -70px; bottom: -80px">{{ t("text.assign-shipping-location") }}</p>
      <p class="legendEtc legendSelect" name="process" id="btn_PRO02_90" style="position: absolute; right: -70px; bottom: -80px">{{ t("text.rack-replenishment") }}</p>
    </div>

    <div class="stepCol_04">
      <p class="legendEtc legendSelect" name="process" id="btn_PRO02_100">{{ t("text.dispatch") }}</p>
      <p class="legendRequired" style="width: 128px">
        {{ t("text.printing-picking-list") }} <br />
        {{ t("text.pick-by-all-vehicle") }}
      </p>
      <p class="legendEtc legendSelect" name="process" id="btn_PRO02_120">{{ t("text.picking-confirmed") }}</p>
      <p class="legendEtc legendSelect" name="process" id="btn_PRO02_130">{{ t("text.printing-loading-list") }}</p>
      <p class="legendEtc legendSelect" name="process" id="btn_PRO02_150">{{ t("text.printingshipping-document") }}</p>
      <p class="legendRequired">{{ t("text.shipping") }}</p>
    </div>

    <div class="stepCol_05">
      <p class="legendOff">{{ t("text.picking-work") }}</p>
      <p class="legendOff">{{ t("text.kit-and-pack") }}</p>
      <p class="legendOff">{{ t("text.loading-vehicle") }}</p>
      <p class="legendOff">{{ t("text.vehicle-departure") }}</p>
    </div>

    <p style="position: absolute; top: 150px; left: 674px; text-align: left !important; width: 110px">{{ t("text.pda-uploading-inspection") }}</p>
    <p style="position: absolute; top: 245px; left: 674px; text-align: left !important; width: 110px">{{ t("text.pda-picking-quantity-inspection") }}</p>

    <div class="legendInfo">
      <p class="marB10">
        <strong>{{ t("text.introductory-remarks") }}</strong>
      </p>
      <p><span class="legendRequired"></span> {{ t("text.necessary-work") }}</p>
      <p><span class="legendSelected"></span> {{ t("text.optional") }}</p>
      <p><span class="legendEtc"></span> {{ t("text.excluded-items") }}</p>
      <p><span class="legendOff"></span> {{ t("text.work-offline") }}</p>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted } from "vue";

import { useI18n } from "vue-i18n";

// Variable Definitions
const { fn_search } = defineProps<{
  fn_search: (codeType: string) => void;
}>();

const { t } = useI18n();

// Framework Function Definitions
onMounted(() => {
  fn_search("PRO02");
});
// User Function Definitions
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
