<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS020/form.vue
 *  Description:    기준관리/센터별작업정책 "재고" 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="PRO04" class="inventoryWrap">
    <div class="stepCol_01">
      <p class="legendOff">{{ t("text.perform-warehouse-and-location-move-operations") }}</p>
    </div>

    <div class="stepCol_03">
      <p class="legendRequired">{{ t("text.warehouse-and-location") }}<br />{{ t("text.transfer-history-registration") }}</p>
      <p name="process" id="btn_PRO04_10" class="legendEtc legendSelect">{{ t("text.work-order-arrival-of-product") }}<br />{{ t("text.general-cross-docking") }}</p>
      <p name="process" id="btn_PRO04_20" class="legendEtc legendSelect">{{ t("text.work-order-arrival-of-product") }}<br />{{ t("text.general-cross-docking") }}</p>
      <p class="legendRequired">{{ t("text.warehouse-and-location") }}<br />{{ t("text.stock-transfer-completed") }}</p>
    </div>

    <div class="legendInfo">
      <p class="marB10">
        <strong>{{ t("text.introductory-remarks") }}</strong>
      </p>
      <p><span class="legendRequired"></span> {{ t("text.necessary-work") }}</p>
      <p><span class="legendSelected"></span> {{ t("text.optional") }}</p>
      <p><span class="legendEtc"></span> {{ t("text.excluded-items") }}</p>
      <p><span class="legendOff"></span> {{ t("text.work-offline") }}</p>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted } from "vue";

import { useI18n } from "vue-i18n";
// Variable Definitions
const { fn_search } = defineProps<{
  fn_search: (codeType: string) => void;
}>();

const { t } = useI18n();
// Framework Function Definitions
onMounted(() => {
  fn_search("PRO04");
});

// User Function Definitions
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
