<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS020/form.vue
 *  Description:    기준관리/센터별작업정책 "입고" 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="PRO01" class="enterWrap">
    <div class="stepCol_01">
      <p name="process" class="legendEtc wid90" id="btn_PRO01_10">{{ t("text.upload-template") }}</p>
      <p class="legendRequired wid90">{{ t("text.direct-input") }}</p>
    </div>

    <div class="stepCol_02">
      <p class="legendOff" style="margin-bottom: 60px">{{ t("text.arrival-confirmation-of-vehicles") }}</p>
      <div>
        <p style="padding: 0; text-align: left; width: 130px; margin-bottom: 3px">{{ t("text.pda-confirming-items-received") }}</p>
        <p class="legendOff">{{ t("text.arrival-of-product-ckeck") }}</p>
      </div>
    </div>

    <div class="stepCol_03">
      <p class="legendRequired" style="width: 128px">{{ t("text.registration-of-receiving") }}<br />{{ t("text.general-cross-docking") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_30">{{ t("text.enter-producer") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_40">{{ t("text.enter-manufacturing-date") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_50">{{ t("text.approve-arrival-of-product") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_60">{{ t("text.dispatch") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_70">{{ t("text.check-in") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_80" style="width: 128px">{{ t("text.work-order-arrival-product") }}<br />{{ t("text.general-cross-docking") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_90">{{ t("text.qc-pass-through-confirmation") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_100">{{ t("text.confirmed-receiving") }}</p>
    </div>

    <div class="stepCol_04">
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_110">{{ t("text.plt-box-enter-quantity") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_120">{{ t("text.publish-lot-number") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_140">{{ t("text.assign-location") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_150">{{ t("text.issuance-of-work-instructions") }}</p>
      <p name="process" class="legendEtc legendSelect" id="btn_PRO01_170">{{ t("text.complete-receiving-process") }}</p>
      <p class="legendRequired">{{ t("text.complete") }}</p>
    </div>

    <div class="stepCol_05">
      <p class="legendOff">{{ t("text.open-storage-of-dock") }}</p>
      <p class="legendOff" style="position: absolute; top: 91px; right: 103px">{{ t("text.loading-operation") }}</p>
    </div>

    <p class="al" style="position: absolute; top: -4px; left: 101px; width: 200px">{{ t("text.for-vehicle-owner") }}<br />{{ t("text.enter-car-number-advance") }}</p>
    <p class="al" style="position: absolute; top: 160px; right: 154px; text-align: right !important; width: 200px">{{ t("text.cross-docking") }}</p>
    <p class="al" style="position: absolute; top: 298px; right: 134px; text-align: right !important; width: 200px">{{ t("text.pda-loading-complete") }}</p>

    <div class="legendInfo">
      <p class="marB10">
        <strong>{{ t("text.introductory-remarks") }}</strong>
      </p>
      <p><span class="legendRequired"></span> {{ t("text.necessary-work") }}</p>
      <p><span class="legendSelected"></span> {{ t("text.optional") }}</p>
      <p><span class="legendEtc"></span> {{ t("text.excluded-items") }}</p>
      <p><span class="legendOff"></span> {{ t("text.work-offline") }}</p>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted } from "vue";

import { useI18n } from "vue-i18n";
// Variable Definitions
const { fn_search } = defineProps<{
  fn_search: (codeType: string) => void;
}>();

const { t } = useI18n();

// Framework Function Definitions
onMounted(() => {
  fn_search("PRO01");
});

// User Function Definitions
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
