@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

// 모든 그리드의 공통 스타일
.ag-theme-alpine {
  // context-menu
  .ag-menu-list.ag-focus-managed {
    padding: initial !important;
    .sub-title {
      background-color: red;
      pointer-events: none !important;
      background-color: #cbd4e0 !important;
    }
  }
  // 그리드 고정열 스타일
  .ag-pinned-left-header {
    .ag-header-cell {
      background-color: #afbbcc !important;
    }
  }
  // 그리드 내 check-box-renderer 정렬
  .check-box-renderer {
    display: flex !important;
    justify-content: center;
    .renderer-check-box-wrapper {
      margin-top: 6px !important;
    }
  }
  .editable-cell {
    background-color: #FFEE8F ;
  }
  // 그리드 내 cell-renderer 중앙정렬
  .renderer-cell {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .hidden-renderer-cell {
    > * {
      opacity: 0;
      pointer-events: none;
    }
  }
  // 그리드 내 모달 띄우게 하기 ( 그리드가 깨짐 )
  #search-modal-page {
    .popup-curtain {
      perspective: none !important;
      filter: none !important;
      transform: none !important;
    }
    .search-modal {
      perspective: none !important;
      filter: none !important;
      transform: none !important;
    }
  }
  // 그리드 스크롤바 스타일
  // @include agGridScrollBarStyle;
  .cell-span {
    position: absolute !important;
    z-index: 5 !important;
    background-color: white !important;
    // border-bottom: 1px solid var(--ag-border-color) !important;
  }
  .dotted-border {
    &::after {
      content: "";
      position: absolute;
      border-top: 1px dashed black !important;
      z-index: 10;
      top: 0;
      width: 100%;
      left: 0;
    }
  }
  // 특정 조건일때 grid cell의 컬러의 class
  .grid-cell-color-red {
    color: $red;
  }
  .ag-header {
    .ag-header-row {
    }
  }
  .ag-header-viewport {
    background-color: #cbd4e0;
  }
  .ag-header-group-cell,
  .ag-header-cell-label {
    justify-content: center !important;
  }
  // .ag-cell-focus,
  // .ag-cell-no-focus {
  //   border: none !important;
  //   border-right: 1px solid var(--ag-border-color) !important;
  // }
  .ag-header-cell-resize {
    width: 7px;
    &::after {
      top: 0 !important;
      height: 100% !important;
      background-color: var(--ag-border-color);
    }
  }
  // .ag-row {
  //   > .ag-cell {
  //     border-right: 1px solid var(--ag-border-color);
  //     &:last-of-type {
  //       border-right: none;
  //     }
  //     .grid-select-box {
  //       select {
  //         height: 30px;
  //         margin: 0 -15px;
  //         width: calc(100% + 30px);
  //         padding: 0 10px;
  //         border-radius: 10px;
  //         border: solid 1px #d6d6d6;
  //         background-color: #fff;
  //         outline: none;
  //       }
  //     }
  //   }
  // }
  //!ag paging
  .ag-paging-panel {
    align-items: center;
    border-top: 1px solid var(--ag-border-color) !important;
    display: flex;
    gap: calc(var(--ag-grid-size) * 4);
    height: 32px;
    justify-content: center;
    padding: 0 var(--ag-cell-horizontal-padding);
  }
  .ag-paging-row-summary-panel {
    display: none;
  }
}
// 그리드 헤더 필수값 아이콘 스타일
.header-require {
  .ag-header-cell-text {
    position: relative !important;
    overflow: initial !important;

    &::before {
      content: "*";
      position: absolute;
      top: 75%;
      transform: translateY(-50%);
      left: -12px;
      color: $red;
      font-size: 15px;
    }
  }
}

.ag-header-select-all,
.ag-selection-checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  outline: none;
}
.ag-header-cell:first-of-type,
.ag-cell:first-of-type {
  width: 70px;
}
.ag-header-cell:not(.ag-header-cell-auto-height) .ag-header-cell-comp-wrapper {
  position: absolute;
  left: 0;
  z-index: 2;
}

.ag-header-cell .ag-header-cell-comp-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: initial !important;

  input {
    width: 16px;
    height: 16px;
  }
}

.ag-row-text-bold {
  font-weight: bold;
}

// .ag-theme-alpine {
//   --ag-cell-right-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color); /* Add left and right borders to each cell and use row border's properties  */
//   // --ag-header-column-separator-display: block;
// }
.ag-paging-custom {
  color: #181d1f;
  font-size: 13px;
  position: absolute;
  right: 25px;
  margin-top: -25px;
  > select {
    outline: none;
    margin-right: 10px;
  }
}
.ag-grid-input-cell-readonly {
  pointer-events: none;
}

// grid check-box renderer style
.renderer-checkbox {
  width: 100%;
  height: 100%;
  position: relative;

  &-read-only {
    opacity: 0.3;
    pointer-events: none;
  }

  &-item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $gray;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-item:checked + &-circle:after {
    opacity: 1;
  }
  &-item:checked + &-circle {
    border: 2px solid $main;
  }
  &-item:checked + .date-type-label {
    font-weight: bold;
  }

  &-circle {
    width: 16px;
    height: 16px;
    border: 2px solid $gray;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: $main;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}

// grid data-input renderer style
.renderer-data-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &-read-only {
    pointer-events: none;
  }

  &-item {
    @include dateInputStyle(13px, 30px, 24px);

    padding: 0 5px;
    border-radius: 6px;
    border: none;
    width: 100%;
    height: calc(100% - 2px);
    font-size: 13px;
    font-weight: bold;
    color: #222222;

    &.empty {
      &::-webkit-datetime-edit-text {
        -webkit-appearance: none;
        // display: none;
      }
      &::-webkit-datetime-edit-month-field {
        -webkit-appearance: none;
        // display: none;
      }
      &::-webkit-datetime-edit-day-field {
        -webkit-appearance: none;
        // display: none;
      }
      &::-webkit-datetime-edit-year-field {
        -webkit-appearance: none;
        // display: none;
      }
    }
  }
}
