.btn-favorite {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("/public/assets/images/btn-favorite-off.svg") 0% 0% / contain no-repeat;
}
.btn-favorite.on {
  background: url("/public/assets/images/btn-favorite-on.svg") 0% 0% / contain no-repeat;
}

.btn-close-popup {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("/public/assets/images/btn-close-popup.svg") 0% 0% / contain no-repeat;
}
.btn-add {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("/public/assets/images/btn-add.svg") 0% 0% / contain no-repeat;
}
.dropbox-selected {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("/public/assets/images/dropbox-selected.svg") 0% 0% / contain no-repeat;
}
.btn-search {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url("/public/assets/images/btn-search.svg") 0% 0% / contain no-repeat;
}
.btn-drop-filter {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/public/assets/images/btn-drop-filter-open.svg") 0% 0% / contain no-repeat;
  &.opened {
    background: url("/public/assets/images/btn-drop-filter-close.svg") 0% 0% / contain no-repeat;
  }
}
.btn-drop-info {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/public/assets/images/btn-drop-info-open.svg") 0% 0% / contain no-repeat;
  &.opened {
    background: url("/public/assets/images/btn-drop-info-close.svg") 0% 0% / contain no-repeat;
  }
}
.btn-setting-filter {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("/public/assets/images/btn-setting-filter.svg") 0% 0% / contain no-repeat;
}
.btn-search-component {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/public/assets/images/btn-search-component.svg") 0% 0% / contain no-repeat;
}
.btn-dropbox-component {
  display: inline-block;
  width: 20px;
  height: 21px;
  background: url("/public/assets/images/btn-drop-component-open.svg") 0% 0% / contain no-repeat;
  position: absolute;
  right: 7px;
  top: 6px;
  transition: 0.2s ease;
  transform: rotate(0deg);
  cursor: pointer;
  &.on {
    transform: rotate(180deg);
  }
}
.dropbox-selected {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/public/assets/images/dropbox-selected.svg") 0% 0% / contain no-repeat;
}
.btn-delivery-01 {
  background: url("/public/assets/images/btn-delivery-01.svg") 0% 0% / contain no-repeat;
}
.btn-delivery-02 {
  background: url("/public/assets/images/btn-delivery-02.svg") 0% 0% / contain no-repeat;
}
.btn-delivery-03 {
  background: url("/public/assets/images/btn-delivery-03.svg") 0% 0% / contain no-repeat;
}
.btn-delivery-04 {
  background: url("/public/assets/images/btn-delivery-04.svg") 0% 0% / contain no-repeat;
}
.btn-delivery-05 {
  background: url("/public/assets/images/btn-delivery-05.svg") 0% 0% / contain no-repeat;
}
.btn-delivery-06 {
  background: url("/public/assets/images/btn-delivery-06.svg") 0% 0% / contain no-repeat;
}
.btn-delivery-07 {
  background: url("/public/assets/images/btn-delivery-07.svg") 0% 0% / contain no-repeat;
}
.btn-delivery-08 {
  background: url("/public/assets/images/btn-delivery-08.svg") 0% 0% / contain no-repeat;
}
