@font-face {
  font-family: "Pretedard";
  font-weight: regular;
  src: url("/public/assets/fonts/Pretendard/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard-Regular";
  font-weight: regular;
  src: url("/public/assets/fonts/Pretendard/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard";
  font-weight: bold;
  src: url("/public/assets/fonts/Pretendard/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard-Bold";
  font-weight: regular;
  src: url("/public/assets/fonts/Pretendard/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard-Bold";
  font-weight: bold;
  src: url("/public/assets/fonts/Pretendard/Pretendard-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard-ExtraBold";
  font-weight: regular;
  src: url("/public/assets/fonts/Pretendard/Pretendard-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard-Light";
  font-weight: regular;
  src: url("/public/assets/fonts/Pretendard/Pretendard-Light.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard-Medium";
  font-weight: regular;
  src: url("/public/assets/fonts/Pretendard/Pretendard-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard-Thin";
  font-weight: regular;
  src: url("/public/assets/fonts/Pretendard/Pretendard-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard-Black";
  font-weight: regular;
  src: url("/public/assets/fonts/Pretendard/Pretendard-Black.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard-ExtraLight";
  font-weight: regular;
  src: url("/public/assets/fonts/Pretendard/Pretendard-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "Pretedard-SemiBold";
  font-weight: regular;
  src: url("/public/assets/fonts/Pretendard/Pretendard-SemiBold.otf") format("opentype");
}
