@keyframes close-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
@keyframes close-out {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 0;
    transform: rotateZ(-70deg);
  }
}
@keyframes default-in {
  from {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  to {
    opacity: 0;
    transform: rotateZ(180deg);
  }
}
@keyframes default-out {
  from {
    opacity: 0;
    transform: rotateZ(180deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform-origin: top;
    transform: scaleY(1);
  }
}
@keyframes slide-up {
  from {
    opacity: 1;
    transform-origin: top;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
  }
}
@keyframes slide-down-reversed {
  from {
    opacity: 0;
    transform-origin: bottom;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform-origin: bottom;
    transform: scaleY(1);
  }
}
@keyframes slide-up-reversed {
  from {
    opacity: 1;
    transform-origin: bottom;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform-origin: bottom;
    transform: scaleY(0);
  }
}
@keyframes slide-down-modal {
  from {
    top: 0;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
  }
  to {
    top: 80px;
    opacity: 1;
    transform-origin: top;
    transform: scaleY(1);
  }
}
@keyframes slide-up-modal {
  from {
    top: 80px;
    opacity: 1;
    transform-origin: top;
    transform: scaleY(1);
  }
  to {
    top: 0;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
  }
}
@keyframes slide-in {
  from {
    bottom: 0;
    opacity: 0;
    transform-origin: top;
  }
  to {
    bottom: 50%;
    opacity: 1;
    transform-origin: top;
  }
}
@keyframes slide-out {
  from {
    bottom: 50%;
    opacity: 1;
    transform-origin: top;
  }
  to {
    bottom: 0;
    opacity: 0;
    transform-origin: top;
  }
}
