/*------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	_mixin.scss
 *  Description:    mixin style을 정의하는 scss파일
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------*/

@use "sass:math";

@mixin slideDownAnimation {
  animation: slide-down 0.5s;
  animation-fill-mode: forwards;
}
@mixin slideUpAnimation {
  animation: slide-up 0.5s;
  animation-fill-mode: forwards;
}
@mixin slideDownReversedAnimation {
  animation: slide-down-reversed 0.5s;
  animation-fill-mode: forwards;
}
@mixin slideUpReversedAnimation {
  animation: slide-up-reversed 0.5s;
  animation-fill-mode: forwards;
}
@mixin slideDownModalAnimation {
  animation: slide-down-modal 0.5s;
  animation-fill-mode: forwards;
}
@mixin slideUpModalAnimation {
  animation: slide-up-modal 0.5s;
  animation-fill-mode: forwards;
}
@mixin slideInAnimation {
  animation: slide-in 0.5s;
  animation-fill-mode: forwards;
}
@mixin slideOutAnimation {
  animation: slide-out 0.5s;
  animation-fill-mode: forwards;
}

@mixin headerTitleStyle {
  @include flexbox(row, space-between, center, nowrap);

  background-color: $main-menu-sub;
  height: 31px;
  padding-left: 13px;
  padding-right: 8px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.92px;
  color: #ffffff;
}

@mixin scrollbarStyle {
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3.5px solid $bg-gray;
    background-color: $scroll-bar;
  }

  &::-webkit-scrollbar-track {
    background: $bg-gray;
  }
}

@mixin formContainerStyle {
  .form-container {
    padding: 0 20px;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }
}

@mixin infoInputStyle {
  .info-input {
    &-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      box-sizing: border-box;
    }
    &-search {
      @include flexCenter;
      width: 25px;
      height: 25px;
      border-radius: 6px;
      background-color: #b8bec8;
      margin-left: 7px;
      &.required {
        margin-left: 14px;
      }
    }
    &-box {
      position: relative;
      width: 57%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: 15px;

      &.full {
        width: 70.7%;
      }
      &.double {
        gap: 10px;
      }
      &.triple {
        gap: 5px;
      }
      &.email {
        width: 70.7%;
        gap: 40px;
      }
    }
    &-sub-container {
      position: relative;
      width: 100%;
    }

    &-item {
      height: 30px;
      border-radius: 5px;
      border: 1px solid #d6d6d6;
      box-sizing: border-box;
      padding: 0 10px;

      &.single {
        width: 100%;
      }
      &.double {
        width: 100%;
      }
      &.triple {
        width: 100%;
      }
      &.email {
        width: 56%;
      }
      &.email-left {
        width: 44%;
      }

      &.readonly {
        border: none;
        background-color: #f6f7fc;
        cursor: default;
        font-weight: bold;
      }
    }
    &-text {
      @include labelStyle;

      font-size: 11px;
      position: absolute;
      bottom: 8px;
      right: 7px;
    }
    &-label {
      @include labelStyle;
      word-break: break-word;
      text-align: right;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 25%;
      &.required {
        color: $red !important;
      }
      &.search {
        width: 18%;
      }
    }
  }
  .email-icon {
    position: absolute;
    font-size: 11px;
    color: #7b7b7b;
    left: 44%;
    top: 50%;
    transform: translate(-44%, -50%);
  }
  .date {
    @include dateInputStyle();
  }
  .info-input-select {
    &-container {
      position: relative;
    }
    &-item {
      @include ellipsis;
      padding-left: 10px;
      padding-right: 20px;
      font-size: 13px;
      color: #222222;
      line-height: 30px;
      cursor: pointer;
    }
    &-list {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      width: 100%;
      max-height: 250px;
      background-color: white;
      box-sizing: border-box;
      padding: 7px;
      border-radius: 8px;
      font-size: 15px;
      word-break: break-all;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
      z-index: 10;
      overflow-y: scroll;
      overflow-x: hidden;
      opacity: 0;
      transform: scaleY(0);
      &.reversed {
        bottom: calc(100% + 10px);
        top: auto;
        &.slide-up {
          @include slideUpReversedAnimation;
        }
        &.slide-down {
          @include slideDownReversedAnimation;
        }
      }
      &.slide-up {
        @include slideUpAnimation;
      }
      &.slide-down {
        @include slideDownAnimation;
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        font-size: 14px;
        font-weight: normal;
        padding: 7px 20px;
        padding-right: 25px;
        margin: 0 -10px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        &:hover {
          background-color: #f6f7fc;
        }
        &.on {
          color: $main;
          font-weight: bold;
          > i {
            position: absolute;
            right: 7px;
          }
        }
      }
    }
    &-arrow {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s;
      &-on {
        transform: translateY(-50%) rotate(180deg);
      }
      &-off {
        transform: translateY(-50%) rotate(0deg);
      }
    }
  }
  .half > .info-input-container .info-input-label {
    width: 30%;
    &.search {
      width: 25%;
    }
  }
  .icon-required {
    position: absolute;
    right: -10px;
    display: inline-block;
    width: 6px;
    height: 7px;
    background: url("/public/assets/images/asterisk.svg") 0% 0% / contain no-repeat;
    &.blue {
      background: url("/public/assets/images/asterisk-blue.svg") 0% 0% / contain no-repeat;
    }
    &.hidden {
      margin-right: 6px;
      filter: invert(39%) sepia(98%) saturate(419%) hue-rotate(186deg) brightness(90%) contrast(110%);
      &.triple {
        transform: translateY(13px);
      }
    }
  }
  .disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

@mixin agGridScrollBarStyle {
  .ag-body-vertical-scroll-viewport::-webkit-scrollbar {
    width: 15px;
  }

  .ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3.5px solid $bg-gray;
    background-color: $scroll-bar;
  }

  .ag-body-vertical-scroll-viewport::-webkit-scrollbar-track {
    background: $bg-gray;
  }

  .ag-body-vertical-scroll,
  .ag-body-vertical-scroll-viewport,
  .ag-body-vertical-scroll-container {
    min-width: 15px !important;
  }
}

//
@mixin infoComponentStyle {
  .info {
    &-container {
      width: calc(48% - 14px);
      border: 1px solid #b0b0b0;
      box-sizing: border-box;
      // display: flex;
      // flex-direction: column;
      gap: 1px;
      // height: 100%;
      overflow-y: auto;

      #full-height {
        height: 100%;
        overflow-y: auto;
        position: relative;
        padding-bottom: 30px;
      }

      &.info-scroll-true {
        &::after {
          content: "";
          position: absolute;
          bottom: 15px;
          right: 24px;
          width: 55px;
          height: 55px;
          z-index: 3;
          background: url("/public/assets/images/more.svg") center no-repeat transparent;
        }
      }
    }
    &-header {
      @include flexbox(row, space-between, center, nowrap);
      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      padding-right: 8px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #ffffff;
      cursor: pointer;
    }
    &-input {
      &-list {
        @include flexbox(row, flex-end, stretch, wrap);
        padding: 12px 3vw 12px 0;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      &-item {
        @include flexbox(row, flex-end, center, nowrap);

        position: relative;
        width: 100%;
        margin-top: 8px;
        &.half {
          width: 45%;
        }
        &.left {
          width: 50%;
          transform: translate(14%);
        }
      }
    }
  }
  .hidden-input-item {
    display: none;
  }

  .expand-input-list {
    max-height: 659px;
    opacity: 1;
    transition: max-height 0.5s;
    padding: 12px 3vw 12px 0;
  }
  .fold-input-list {
    max-height: 0;
    padding: 0 0 0 0;
    opacity: 0;
    li {
      display: none;
    }
  }

  .expand-collapsible {
    transform: rotate(0deg);
    transition: all 0.5s;
  }
  .fold-collapsible {
    transform: rotate(-180deg);
    transition: all 0.5s;
  }
}

// input type="date" 세팅
@mixin dateInputStyle($calcPosition: 13px, $right: 10px, $width: 27px) {
  &[type="date"]::-webkit-calendar-picker-indicator,
  &[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
  }

  &[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color: rgba(0, 0, 0, 0); //숨긴다
    opacity: 1;
    display: block;
    background: url("/public/assets/images/btn-calendar.svg") calc(100% - $calcPosition) center no-repeat white;
    width: $width;
    height: 23px;
    border-width: thin;
    margin-right: -10px;
    position: absolute;
    right: $right;
  }
}
// select arrow 세팅
@mixin selectArrowStyle {
  position: relative;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  box-sizing: border-box; //select 박스의 크기 방식 지정.
  background: url("/public/assets/images/btn-drop-component-open.svg") calc(100% - 10px) center no-repeat white;
}

@mixin containerStyle {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.11);
  min-height: calc(100% - 105px);
  // max-height: calc(100% - 105px);
  height: calc(100% - 105px);
  border-radius: 0 0 8px 8px;
}

// 공통 라벨 스타일
@mixin labelStyle {
  color: $font-secondary;
  font-size: 13px;
  font-weight: bold;
}

// 버튼 컬러테마
@mixin btnColorStyle($color, $border: 0px) {
  color: $color;
  background-color: rgba($color: $color, $alpha: 0.1);
  &:hover {
    background-color: rgba($color: $color, $alpha: 0.3);
  }
  border: $border solid $color;
  box-sizing: border-box;
}

// padding 관련 믹스인
@mixin paddingX($paddingX: 0) {
  padding-left: rem($paddingX);
  padding-right: rem($paddingX);
}

@mixin paddingY($paddingY: 0) {
  padding-top: rem($paddingY);
  padding-bottom: rem($paddingY);
}

// margin 관련 믹스인
@mixin autoMargin($marginX: auto) {
  margin-left: $marginX;
  margin-right: $marginX;
}

@mixin marginX($marginX: 0) {
  margin-left: rem($marginX);
  margin-right: rem($marginX);
}

@mixin marginY($marginY: 0) {
  margin-top: rem($marginY);
  margin-bottom: rem($marginY);
}

// 박스의 최소 및 최대 너비를 설정하기 위한 믹스인
@mixin boxSizeMinMax($min: 768px, $max: 1200px) {
  min-width: $min;
  max-width: $max;
  @include autoMargin;
}

// flex 박스 믹스인
@mixin flexbox($direction: row, $justify: flex-start, $items: stretch, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $items;
}

@mixin pos($position: absolute) {
  position: $position;
}

@mixin flexCenter($dp: flex, $jc: center, $ai: center) {
  display: $dp;
  justify-content: $jc;
  align-items: $ai;
}

// 이미지 중앙 정렬 (50$)
@mixin centerTranslateY($percent: -50%) {
  top: 50%;
  transform: translateY($percent);
}

@mixin centerTranslateX($percent: -50%) {
  left: 50%;
  transform: translateX($percent);
}

// iframe 비율
@mixin respondIframe($w: 16, $h: 9) {
  position: relative;
  padding-top: math.div($h, $w) * 100%;
  height: 0 !important;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// 버튼 스타일 제거
@mixin removeBtnStyle($webkit: none, $moz: none, $appear: none, $border: none, $bg: transparent, $pd: 0) {
  -webkit-appearance: $webkit;
  -moz-appearance: $moz;
  appearance: $appear;
  border: $border;
  background: $bg;
  padding: $pd;
}

// ellipsis
@mixin ellipsis($over: hidden, $to: ellipsis, $ws: nowrap) {
  overflow: $over;
  text-overflow: $to;
  white-space: $ws;
}

@mixin ellipsisLine($over: hidden, $to: ellipsis, $dp: -webkit-box, $webClamp: 2, $webOrient: vertical) {
  overflow: $over;
  text-overflow: $to;
  display: $dp;
  -webkit-line-clamp: $webClamp;
  -webkit-box-orient: $webOrient;
}

@mixin a11yHidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

// Input Components
@mixin inputTitle {
  font-size: 13px;
  font-weight: bold;
  color: $font-secondary;
  letter-spacing: -1px;
  text-align: end;
}

@mixin inputBox {
  width: 76%;
  border-radius: 5px;
  border: solid 1px $border2;
  height: 30px;
  padding-left: 17px;
  letter-spacing: -0.98px;
  color: $font-bk;
  font-size: 13px;
  font-weight: bold;
  margin-left: 23px;
}
