// oz report 팝업 컴포넌트 공통 css
.ozr-tab-container {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  display: flex;
  gap: 10px;
  border-bottom: solid 1px #d0d1d1 !important;
  box-sizing: border-box;

  .ozr-tab-item {
    padding: 0.6em 0.9em;
    color: #63656a;
    font-weight: bold;
    border-top: solid 1px #d0d1d1 !important;
    border-right: solid 1px #d0d1d1 !important;
    border-left: solid 1px #d0d1d1 !important;
    border-radius: 5px 5px 0 0;
    cursor: pointer;

    &:hover {
      color: black;
    }
    &.ozr-tab-active {
      color: black;
    }
  }
}
