// 특정페이지 공통 컴포넌트 커스텀

// TMSYS020-page 그리드 필터영역
#TMSYS020-page {
  .grid-filter-container {
    & > .search {
      background-color: initial;
      &::before {
        content: none;
      }
    }
    .search.entire .search-input {
      width: 60%;
    }
    .search.entire .search-title {
      width: 40%;
    }
    .search-input-item {
      height: 30px;
    }
  }
}

// /enter-template  search-container-input 커스텀
#enter-template {
  .search.triple {
    width: calc(33.3% - 7px);
    margin-right: 7px !important;
  }
  #search-modal-page .search-modal .title {
    margin-bottom: 15px;
  }
  #search-modal-page .search-modal .ag-grid-size {
    height: 280px;
  }
  #search-modal-page .search-modal .search-area > .modal-input-list {
    width: calc(100% - 62px);
  }
  .modal-input-item {
    width: 66%;
  }
  .search-container {
    gap: 0;
    row-gap: 10px;
  }
}
// /template-input  search-container-input 커스텀
#template-input-modal {
  .search.half {
    width: calc(50% - 5px) !important;
    margin-right: initial !important;
  }
}

// integrated-template.vue search-container-input 커스텀
#integrated-template {
  .search.half {
    width: 49%;
    margin-right: 0px;
  }
}

// b2c-template.vue search-container-input css커스텀
#b2c-template {
  .search.half {
    width: calc(49% - 5px);
  }

  .search.triple {
    width: calc(33.3% - 7px);
    margin-right: 7px !important;
  }
  #search-modal-page .search-modal .title {
    margin-bottom: 15px;
  }
  #search-modal-page .search-modal .ag-grid-size {
    height: 280px;
  }
  #search-modal-page .search-modal .search-area > .modal-input-list {
    width: calc(100% - 62px);
  }
  .modal-input-item {
    width: 66%;
  }
}

// wmsom120-new-popup
// #wmsom120-new-popup {
//   #search-row-data {
//     display: none;
//   }
//   .search-container {
//     min-width: initial;
//     padding: 0 10px 30px 10px;
//   }
//   .form {
//     padding-right: 0;
//     justify-content: space-between;
//   }
//   .search.quarter {
//     width: calc(25% - 11px);
//     margin-right: 0px;
//   }
//   .search.half {
//     width: calc(50% - 8px);
//     margin-right: 0px;
//   }
// }

// barcode-multi-input
#barcode-multi-input {
  .btn-refresh-data {
    display: none;
  }
  .search-container {
    min-width: initial;
    padding: 0 0 0 0;
    border-bottom: none;
  }
  .search-container > .form > button {
    right: 0;
  }
  .search.entire {
    width: calc(99% - 10px);
  }
}

// wmsop910_3-new-popup
#wmsop910_3-new-popup {
  .search-container > .form > button {
    display: none;
  }
  .search-container {
    min-width: initial;
    > .form {
      justify-content: space-between;
      padding-right: 0;

      .search {
        margin-right: 0px !important;

        &.triple {
          width: calc(33.3% - 5px) !important;
        }
        &.entire {
          width: 100% !important;
        }
        &.half {
          width: calc(50% - 5px) !important;
        }
      }
    }
  }
}

// sales-customer-registration
#sales-customer-registration {
  .search.entire {
    width: 100%;
  }
  .search.half {
    width: calc(50% - 10px);
    margin-right: 0px;
  }
  .search-input-item.double {
    width: 100%;
  }
  .search.entire .search-input {
    justify-content: space-between;
  }
  #search-modal-page .search-modal .title {
    margin-bottom: 16px;
  }
  .modal-input-item {
    width: 68%;
  }
  #search-modal-page .search-modal .ag-grid-size {
    height: 260px;
  }
}

// sap-template
#sap-template {
  .search.half {
    width: calc(49% - 5px);
  }
  #search-modal-page .search-modal .title {
    margin-bottom: 15px;
  }
  #search-modal-page .search-modal .ag-grid-size {
    height: 280px;
  }
  #search-modal-page .search-modal .search-area > .modal-input-list {
    width: calc(100% - 62px);
  }
  .modal-input-item {
    width: 66%;
  }

  .ag-paging-page-summary-panel {
    display: none;
  }
  .ag-paging-custom {
    margin-top: -33px;
  }
}

//wmsst010-context-modal
#wmsst010-context-modal {
  .search-container {
    min-width: initial !important;
  }
  .search-modal .search-area .search-container {
    border-bottom: solid 0px;
    padding: 0px 0px 15px 0px;
  }
  .search-modal .search-area .search-container > .form > #search-row-data {
    width: 53px;
    right: 0;
  }
  .search-modal .search-area .search-container > .form > .search.triple {
    width: calc(33.3% - 11px) !important;
    margin-right: 10.4px !important;
  }
  .search-modal .search-area .search-container > .form > #search-row-data .btn-refresh-data {
    right: 7px;
  }
  .search-modal .grid-title {
    margin: 0px 5px 0px 5px;
  }
  .search-modal .ag-grid-size {
    padding: 0px 5px 0px 5px;
  }
  #search-modal-page .popup-curtain {
    position: fixed;
    top: -20px;
    bottom: 0;
    right: 0;
    left: 50%;
    z-index: 15;
    width: 100vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
  }
}

//wmsst050-inventory-adjustment-popup
#wmsst050-inventory-adjustment-popup {
  #search-row-data {
    display: none;
  }
  .search-container {
    min-width: initial;
    padding: 0 10px 30px 10px;
    border-bottom: 0px solid #e8e8e8;
  }
  .form {
    padding-right: 0;
    justify-content: space-between;
  }
  .search-more {
    display: none;
  }
  .search.quarter {
    width: calc(25% - 11px);
    margin-right: 0px;
  }
  .search.half {
    width: calc(50% - 8px);
    margin-right: 0px;
  }
  .wmsst050-inventory-adjustment-popup-search .search.entire {
    width: 100%;
    height: 80px;
  }
}

// shipping-order-multi-tab / shpiing-order
#shipping-order {
  .search-container > .form > button {
    display: none;
  }
  .search-container {
    min-width: initial;
    padding: 0px 0px 30px 0px;
    > .form {
      justify-content: space-between;
      padding-right: 0;

      .search {
        margin-right: 0px !important;

        &.triple {
          width: calc(33.3% - 5px) !important;
        }
        &.entire {
          width: 100% !important;
        }
        &.half {
          width: calc(50% - 5px) !important;
        }
      }
    }
  }
  .only-grid-view-modal-container {
    .ag-theme-alpine {
      height: 500px !important;
    }
  }
}

#TMSYS030-2-form {
  .user-ID {
    .single.info-input-item {
      width: 49% !important;
    }
  }
  .user-password {
    .single.info-input-item {
      width: 49% !important;
    }
  }
}

#return-receipt {
  .search.entire {
    margin: 30px 0;
    background-color: transparent;
    &::before {
      display: none;
    }
  }
  .search-title {
    width: 35% !important;
  }
  .search-input {
    width: 65% !important;
  }
}

// #WMSTG732E3pop1 {
//   .search-container {
//     min-width: initial !important;
//     padding: 0 0 0 0 !important;
//     border-bottom: none !important;
//     .form {
//       margin-left: 10px;
//     }
//   }
//   .search-container > .form > button {
//     right: 10px !important;
//   }
// }

.WMSMS080-triple-select-box {
  width: calc(80% - 40px);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wmsop030t {
  .search-container {
    min-width: initial !important;
    padding: 0 0 30px 10px !important;
  }
}

#wmsop000q1 {
  .wmsop000q1-form-container {
    padding: 0 0 0 0;
  }
}

#wmsop000q4 {
  .wmsop000q4-form-container {
    padding: 0 0 0 0;
  }
}

#wmsop000q9 {
  .wmsop000q9-grid .grid-header {
    margin-top: 0px;
  }
}

#wmsop000q3 {
  .search-container {
    min-width: initial;
  }
}

#wmsop000q4 {
  .search-container {
    min-width: initial;
  }
}

#wmsop000q9 {
  .control-container {
    margin-right: 0px !important;
  }
}

#WMSMS085-page {
  .left-grid {
    .ag-selection-checkbox {
      pointer-events: none !important;
    }
  }
}

/* =센터별작업정책   ---------------------------------------------------------------------------------------------------------------*/
#WMSMS020 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 12.5px;
  }
  .enterWrap {
    position: relative;
    background: url("/public/assets/images/enterWrap_bg.gif") left top no-repeat;
    width: 775px;
    height: 520px;
    margin: 0 auto;
  }
  .enterWrap p {
    clear: both;
    float: none;
    width: 100px;
    padding: 6px 0;
    text-align: center;
    margin-bottom: 18px;
  }
  .enterWrap .stepCol_01 {
    position: absolute;
    left: 0;
    top: 25px;
  }
  .enterWrap .stepCol_02 {
    position: absolute;
    left: 112px;
    top: 233px;
  }
  .enterWrap .stepCol_03 {
    position: absolute;
    left: 244px;
    top: 25px;
  }
  .enterWrap .stepCol_03 p {
    width: 120px;
  }
  .enterWrap .stepCol_04 {
    position: absolute;
    left: 427px;
    top: 125px;
  }
  .enterWrap .stepCol_04 p {
    width: 120px;
  }
  .enterWrap .stepCol_05 {
    position: absolute;
    right: 0;
    top: 171px;
  }

  .releaseWrap {
    position: relative;
    background: url("/public/assets/images/releaseWrap_bg.gif") left top no-repeat;
    width: 775px;
    height: 450px;
    margin: 0 auto;
  }
  .releaseWrap p {
    clear: both;
    float: none;
    width: 100px;
    padding: 6px 0;
    text-align: center;
    margin-bottom: 18px;
  }
  .releaseWrap .stepCol_01 {
    position: absolute;
    left: 0;
    top: 20px;
  }
  .releaseWrap .stepCol_02 {
    position: absolute;
    left: 112px;
    top: 246px;
  }
  .releaseWrap .stepCol_03 {
    position: absolute;
    left: 244px;
    top: 20px;
  }
  .releaseWrap .stepCol_03 p {
    width: 120px;
  }
  .releaseWrap .stepCol_04 {
    position: absolute;
    left: 486px;
    top: 68px;
  }
  .releaseWrap .stepCol_04 p {
    width: 120px;
  }
  .releaseWrap .stepCol_05 {
    position: absolute;
    right: 0;
    top: 174px;
  }

  .intervalWrap {
    position: relative;
    background: url("/public/assets/images/intervalWrap_bg.gif") left top no-repeat;
    width: 775px;
    height: 320px;
    margin: 0 auto;
  }
  .intervalWrap p {
    clear: both;
    float: none;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin-bottom: 18px;
  }
  .intervalWrap .stepCol_01 {
    position: absolute;
    left: 112px;
    top: 20px;
  }
  .intervalWrap .stepCol_02 {
    position: absolute;
    left: 112px;
    top: 246px;
  }
  .intervalWrap .stepCol_03 {
    position: absolute;
    left: 244px;
    top: 20px;
  }
  .intervalWrap .stepCol_03 p {
    width: 120px;
  }
  .intervalWrap .stepCol_04 {
    position: absolute;
    left: 486px;
    top: 68px;
  }
  .intervalWrap .stepCol_04 p {
    width: 120px;
  }
  .intervalWrap .stepCol_05 {
    position: absolute;
    right: 0;
    top: 180px;
  }

  .inventoryWrap {
    position: relative;
    background: url("/public/assets/images/inventoryWrap_bg.gif") left top no-repeat;
    width: 775px;
    height: 320px;
    margin: 0 auto;
  }
  .inventoryWrap p {
    clear: both;
    float: none;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin-bottom: 18px;
  }
  .inventoryWrap .stepCol_01 {
    position: absolute;
    left: 0;
    top: 84px;
  }
  .inventoryWrap .stepCol_02 {
    position: absolute;
    left: 112px;
    top: 246px;
  }
  .inventoryWrap .stepCol_03 {
    position: absolute;
    left: 244px;
    top: 20px;
  }
  .inventoryWrap .stepCol_03 p {
    width: 120px;
  }
  .inventoryWrap .stepCol_04 {
    position: absolute;
    left: 486px;
    top: 68px;
  }
  .inventoryWrap .stepCol_04 p {
    width: 120px;
  }
  .inventoryWrap .stepCol_05 {
    position: absolute;
    right: 0;
    top: 180px;
  }

  .accountWrap {
    position: relative;
    background: url("/public/assets/images/accountWrap_bg.gif") left top no-repeat;
    width: 775px;
    height: 400px;
    margin: 0 auto;
  }
  .accountWrap p {
    clear: both;
    float: none;
    width: 120px;
    padding: 6px 0;
    text-align: center;
    margin-bottom: 18px;
  }
  .accountWrap .stepCol_01 {
    position: absolute;
    left: 0;
    top: 72px;
  }
  .accountWrap .stepCol_02 {
    position: absolute;
    left: 112px;
    top: 246px;
  }
  .accountWrap .stepCol_03 {
    position: absolute;
    left: 244px;
    top: 20px;
  }
  .accountWrap .stepCol_03 p {
    width: 120px;
  }
  .accountWrap .stepCol_04 {
    position: absolute;
    left: 486px;
    top: 68px;
  }
  .accountWrap .stepCol_04 p {
    width: 120px;
  }
  .accountWrap .stepCol_05 {
    position: absolute;
    right: 0;
    top: 180px;
  }

  .legendRequired {
    background: #d3fdcd;
    border: solid 1px #303030;
    color: #000;
    margin-bottom: 3px;
    margin-top: 5px;
  }
  .legendSelected {
    background: #ffe5b5;
    border: solid 1px #303030;
    color: #000;
    margin-bottom: 3px;
  }
  .legendEtc {
    background: #c2c2c0;
    border-top: solid 1px #f0f0f0;
    border-left: solid 1px #f0f0f0;
    border-right: solid 1px #696969;
    -webkit-box-shadow: inset 1px 1px 1px #d2d2d2;
    border-bottom: solid 1px #696969;
    -moz-box-shadow: inset 1px 1px 1px #d2d2d2;
    color: #202020;
    margin-bottom: 3px;
  }
  .legendOff {
    background: #fecce5;
    border: solid 1px #303030;
    color: #000;
    margin-bottom: 3px;
  }

  .legendSelect {
    border-top: solid 1px #f0f0f0;
    border-left: solid 1px #f0f0f0;
    border-right: solid 2px #696969;
    border-bottom: solid 2px #696969;
    box-shadow: inset 1px 2px 1px #d2d2d2;
    -webkit-box-shadow: inset 1px 2px 1px #d2d2d2;
    -moz-box-shadow: inset 1px 2px 1px #d2d2d2;
  }

  .legendInfo {
    text-align: left !important;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px #000;
    padding: 10px;
  }
  .legendInfo p {
    padding: 0;
    margin: 0;
    text-align: left !important;
  }
  .legendInfo p * {
    vertical-align: middle;
  }
  .legendInfo span {
    width: 12px;
    height: 12px;
    display: inline-block;
  }

  .al {
    text-align: left !important;
  }
  .wid120 {
    width: 120px !important;
  }
  .wid90 {
    width: 90px !important;
  }
  .marB10 {
    margin-bottom: 10px;
  }
}

#WMSOP642_1-page {
  .grid-container {
    .search-container {
      border-right: 1px solid rgba(0, 0, 0, 0.25);
      border-left: 1px solid rgba(0, 0, 0, 0.25);
    }
  }
}

#device-list .device-list-container .search-area .search-container .search-more {
  display: none;
}
#device-list .device-list-container .search-area .search-container {
  padding: 0px 0px 45px 24px;
}

#wmsop000q5v2 .work-progress {
  background-color: rgba($color: $red, $alpha: 0.5);
}
#wmsop000q5v2 .work-completed {
  background-color: rgba($color: $green, $alpha: 0.5);
}
