/*------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	_reset.scss
 *  Description:    reset style을 정의하는 scss 파일
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------*/

/*  Global Fonts
 */

@import "/public/assets/scss/font-face";
@import "/public/assets/scss/ag-grid-custom";
@import "/public/assets/scss/key-frame";
@import "/public/assets/scss/toast";
@import "/public/assets/scss/buttons";
@import "/public/assets/scss/oz-report";
@import "/public/assets/scss/pages";

* {
  font-family: "Pretendard-Regular", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-y: visible;
}

// html::-webkit-scrollbar {
//   width: 15px;
// }
// html::-webkit-scrollbar-thumb {
//   border-radius: 8px;
//   border: 3.5px solid $bg-gray;
//   background-color: $scroll-bar;
// }
// html::-webkit-scrollbar-track {
//   background: $bg-gray;
// }

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  // border: 3.5px solid $bg-gray;
  background-color: $scroll-bar;
}
// *::-webkit-scrollbar-track {
//   background: $bg-gray;
// }

body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: inherit;
}

ul,
ol,
li {
  padding-left: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

address,
em {
  font-style: normal;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}
input {
  outline: none;
}

*.disabled {
  pointer-events: none;
  opacity: 0.6;
}

// Global Image Definitions
.winus-logo {
  display: inline-block;
  width: 44px;
  height: 17px;
  background: url("/public/assets/images/logo-winus.svg") 0% 0% / contain no-repeat;
}

// explanation style
.explanation-container {
  position: absolute;
  z-index: 9;
  display: flex;
  gap: 36px;
  top: -10px;
  transform: translateY(-100%);

  .bold {
    font-weight: bold;
  }
  .red {
    color: $red;
  }
  .blue {
    color: $main;
  }
}
