.Vue-Toastification__toast {
  padding: 10px 9px 10px 14px !important;
}
.Vue-Toastification__toast--default.winus-toast {
  width: 354px;
  height: 60px;
  padding: 10px 9px 10px 14px !important;
  border-radius: 8px;
}

.Vue-Toastification__toast--success.winus-toast {
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px $main;
  background-color: #e4e9fb;
  color: $main;
  .Vue-Toastification__icon.winus-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding-top: 7px;
    text-align: center;
    border-radius: 15px;
    background-color: $main;
    &::before {
      width: 26px;
      height: 26px;
      content: url("/public/assets/images/toast-success.svg");
    }
  }
  .Vue-Toastification__toast-body.winus-toast-body::before {
    content: "Success";
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    margin-top: -15px;
  }
}
.Vue-Toastification__toast--info.winus-toast {
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #1cc659;
  background-color: #d4f5df;
  color: #1cc659;
  .Vue-Toastification__icon.winus-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding-top: 7px;
    text-align: center;
    border-radius: 15px;
    background-color: #1cc659;
    &::before {
      width: 26px;
      height: 26px;
      content: url("/public/assets/images/toast-info.svg");
    }
  }
  .Vue-Toastification__toast-body.winus-toast-body::before {
    content: "Info";
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    margin-top: -15px;
  }
}
.Vue-Toastification__toast--warning.winus-toast {
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px #ff9003;
  background-color: #ffefdb;
  color: #ff9003;
  .Vue-Toastification__icon.winus-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding-top: 7px;
    text-align: center;
    border-radius: 15px;
    background-color: #ff9003;
    &::before {
      width: 26px;
      height: 26px;
      content: url("/public/assets/images/toast-waring.svg");
    }
  }
  .Vue-Toastification__toast-body.winus-toast-body::before {
    content: "Warning";
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    margin-top: -15px;
  }
}
.Vue-Toastification__toast--error.winus-toast {
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
  border: solid 1px $red;
  background-color: #fde0e2;
  color: $red;
  .Vue-Toastification__icon.winus-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding-top: 7px;
    text-align: center;
    border-radius: 15px;
    background-color: $red;
    &::before {
      width: 26px;
      height: 26px;
      content: url("/public/assets/images/toast-waring.svg");
    }
  }
  .Vue-Toastification__toast-body.winus-toast-body::before {
    content: "Error";
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    margin-top: -15px;
  }
}
/* Applied to the toast body when using regular strings as content */
.Vue-Toastification__toast-body.winus-toast-body {
  font-family: Pretendard;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: -0.98px;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 20px;
  width: 250px;
  max-width: 250px;
  line-height: normal;
}
/* Applied to a wrapper div when using a custom component as content */
.Vue-Toastification__toast-component-body.winus-toast-component-body {
  // width: 100%;
}
.Vue-Toastification__close-button.btn-winus-toast-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #0f0f0f;
  padding: 0;
  padding-top: 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  &:hover {
    background-color: #fff;
  }
}
