<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOM100_2/page.vue
 *  Description:    임가공 상품생성 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="masterFormRef"
      :gridId="`${myPageId}-master-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
      :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
      :controlBtn="MASTER_CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      @onSelectionChanged="onSelectionChanged"
      :onApiParamsChanged="onMasterApiParamsChanged"
      :getServerData="getMasterData"
      :context="{}">
      <context-modal v-if="menuOpen" @closeModal="menuOpen = false" :currentRowData="currentRowData.value" />
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedMasterItems && Object.keys(selectedMasterItems).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
    <common-search :searchContainerMeta="SEARCH_META_DETAIL">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="detailFormRef"
      :gridId="`${myPageId}-detail-grid`"
      :gridMeta="GRID_META"
      :disableSearchEvent="disableSearchEvent"
      :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
      :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
      :controlBtn="DETAIL_CONTROL_BTN"
      :searchInput="DETAIL_SEARCH_INPUT"
      @onSelectionChanged="onDetailGridSelectionChanged"
      :onApiParamsChanged="onDetailApiParamsChanged"
      :getServerData="getDetailData"
      :context="{ ...DETAIL_GRID_CELL_SELECT_BOX, ...DETAIL_GRID_CELL_SEARCH_BUTTON }">
      <div class="grid-header">{{ gridHeaderDetailTitle }}</div>
      <control-container>
        <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedDetailItems && Object.keys(selectedDetailItems).length > 0" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOM100_2" };
</script>
<script setup lang="ts">
import { computed, onMounted, onUnmounted, reactive, Ref, ref, unref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "@/page/stock/WMSST010/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useSearchConditionStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { useOptionDataStore } from "@/store/options-data";
import { GridApi, RowSelectedEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { MASTER_CONTROL_BTN } from "./input.grid";
import {
  DETAIL_CONTROL_BTN,
  DETAIL_GRID_CELL_SEARCH_BUTTON,
  DETAIL_GRID_CELL_SELECT_BOX,
  DETAIL_GRID_OPTIONS_META,
  GRID_META,
  MASTER_GRID_OPTIONS_META,
  SEARCH_META,
  SEARCH_META_DETAIL,
} from "./input.meta";
import { DETAIL_SEARCH_INPUT, SEARCH_INPUT } from "./input.search";

// Variable Definitions
const { t } = useI18n();
const OptionDataStore = useOptionDataStore();
const masterFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const detailFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const disableSearchEvent = true;
const currentRowData = reactive({ value: {} } as { value: any });
let menuOpen = ref(false);
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value?.gridApi) || null;
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value?.gridApi) || null;
});
const myPageId = ref<string>();
const eventBus = useEventBusStore();
const selectedDetailRowItem = reactive({ value: {} } as { value: any });
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const gridHeaderTitle = computed(() => {
  return t("menu-header-title.WMSOM100_2");
});
const gridHeaderDetailTitle = computed(() => {
  return t("menu-header-title.WMSOM100_2_detail");
});

//master grid 선택시(복수 체크)
const selectedMasterItems = ref<Record<string, any>[]>([]);

//detail grid 선택시(복수 체크)
const selectedDetailItems = ref<Record<string, any>[]>([]);

function onDetailGridSelectionChanged(e: any) {
  selectedDetailRowItem.value = e.event.data;
}

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

const masterEventHandler: Record<string, Function> = {
  "delete-product-master": deleteMasterRows,
};

const detailEventHandler: Record<string, Function> = {
  "save-detail": saveDetailRows,
  "new-product-detail": addDetailRows,
};

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("search-data-detail", searchDetail);

  const data = UtilService.getOptionApiData("WMSOM100");
  const res = await ApiService.postApi("/rest/WINUS/WMSOM100.action", {}, data);

  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

onUnmounted(() => {
  eventBus.off("search-data-detail", searchDetail);
});

function searchDetail() {
  detailFormRef.value?.searchGridData();
}

function onMasterApiParamsChanged(apiParams: any) {
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  return apiParams;
}

/**
 * 마스터 삭제
 */
async function deleteMasterRows() {
  const selectedRows = GridUtils.getSelectedRowData(masterGridApi.value!);
  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    if (selectedRows && selectedRows.length > 0) {
      let data: any = {
        _fullpath: "",
        selectIds: selectedRows.length,
        vrSrchCustCd: useSearchConditionStore().getSearchInputValue().vrSrchCustCd || "",
        vrSrchCustNm: useSearchConditionStore().getSearchInputValue().vrSrchCustNm || "",
        vrSrchCustId: useSearchConditionStore().getSearchInputValue().vrSrchCustId || "",
        vrSrchItemNm: useSearchConditionStore().getSearchInputValue().vrSrchItemNm || "",
        vrSrchMaker: useSearchConditionStore().getSearchInputValue().vrSrchMaker || "",
      };

      for (let i = 0; i < selectedRows.length; i++) {
        data["ST_GUBUN" + [i]] = "D";
        data["REG_LC_ID_" + [i]] = selectedRows[i].REG_LC_ID || "";
        data["REG_CUST_ID_" + [i]] = selectedRows[i].REG_CUST_ID || "";
        data["ORD_ITEM_NM_" + [i]] = selectedRows[i].ORD_ITEM_NM || "";
      }

      const res = await ApiService.postApi("/rest/WMSOM100/deleteE2.action", data, data);

      if (res.result.errCnt == 0) {
        useToast().success(t("common-toast.deleted"));
        searchGridData();
        eventBus.emit("search-data");
        return;
      } else {
        return useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

/**
 * 디테일 저장
 */
async function saveDetailRows() {
  const insertData: any[] = detailFormRef.value?.getRowsByStatus("INSERT") || [];
  const updateData: any[] = detailFormRef.value?.getRowsByStatus("UPDATE") || [];
  const saveData: any[] = [...insertData, ...updateData];

  saveData.forEach((data) => {
    switch (data["ST_GUBUN"]) {
      case "INSERT":
        data["ST_GUBUN"] = "I";
        break;
      case "UPDATE":
        data["ST_GUBUN"] = "U";
        break;
      default:
        break;
    }
    // URL 인코딩
    Object.keys(data).forEach((key: any) => {
      if (typeof data[key] === "string") {
        data[key] = encodeURIComponent(data[key]);
      }
    });
  });

  try {
    detailGridApi.value?.stopEditing();
    setTimeout(async () => {
      const selectedMasterRow = masterGridApi.value?.getSelectedRows()[0];

      const validation = UtilService.saveEditGridRequiredValidation(detailGridApi.value);
      if (!validation.status) {
        return useToast().warning(t("common-toast.no-save-grid-require-value", { line: validation.line, key: validation.key }));
      }

      await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
      const selectedDetailRows: any = detailFormRef.value?.rowsToFormFields(saveData, "_");
      const data: any[] = createSaveData(selectedMasterRow, selectedDetailRows);

      const optionData = useOptionDataStore().getOptionData();
      const uom = optionData["UOM"];

      Object.keys(data).forEach((key: any) => {
        if (key.includes("UOM_")) {
          for (let i = 0; i < uom.length; i++) {
            console.log(uom[i].ID);
            if (data[key] === uom[i].CODE) {
              data[key] = uom[i].ID;
            }
          }
        }
      });

      Object.keys(data).forEach((key: any) => {
        if (typeof data[key] === "string") {
          data[key] = encodeURIComponent(data[key]);
        }
      });

      const result = await ApiService.postApi("/rest/WMSOM100/saveE2.action", data, data);

      if (result.status) {
        useToast().success(t("common-toast.registered"));
        eventBus.emit("search-data");
      }
      detailGridApi.value?.deselectAll();
    }, 500);
  } catch (err) {
    eventBus.emit("search-data");
    return console.log(err);
  }
}

function createSaveData(selectedMasterRow: Record<string, any>, selectedDetailRows: Record<string, any>[]) {
  const searchInputs = useSearchConditionStore().getSearchInputValue();
  const data: Record<string, any> = {
    _fullpath: "",
    selectIds: selectedDetailRows.length,
    vrSrchCustCd: searchInputs.vrSrchCustCd || "",
    vrSrchCustNm: searchInputs.vrSrchCustNm || "",
    vrSrchCustId: searchInputs.vrSrchCustId || "",
    vrSrchItemCd: searchInputs.vrSrchItemCd || "",
    vrSrchItemNm: searchInputs.vrSrchItemNm || "",
    vrSrchMaker: searchInputs.vrSrchMaker || "",
    vrSetItemCd: selectedMasterRow.value.ORD_ITEM_CD || "",
    vrSetItemNm: selectedMasterRow.value.ORD_ITEM_NM || "",
    vrSetItemMakeNm: selectedMasterRow.value.ORD_MAKER || "",
  };

  return { ...data, ...selectedDetailRows };
}

/**
 * 디테일 행 추가
 */
function addDetailRows() {
  const vrSrchCustId = useSearchConditionStore().getSearchInputValue().vrSrchCustCd || "";
  const newRowData = [
    {
      QTY: "1",
      UOM: "EA",
      CUST_ID: vrSrchCustId,
    },
  ];

  detailFormRef.value?.addRows(newRowData);
}

function onSelectionChanged(e: any) {
  const isSelected = e.event.node.selected;
  const event: RowSelectedEvent = e.event;
  event.api.redrawRows();

  const selectedRow = masterGridApi.value?.getSelectedRows()[0];
  if (!selectedRow) {
    return;
  }

  const searchValues = { ...useSearchConditionStore().getSearchInputValue() };

  // "세트상품명" 필드에 "상품명" 값 넣기
  if (selectedRow.ORD_ITEM_NM) {
    searchValues["SET_ITEM_NM"] = selectedRow.ORD_ITEM_NM;
  }

  useSearchConditionStore().resetSearchInputValue(searchValues);

  masterFormRef.value?.searchGridData();
}

async function getMasterData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSOM100/listE2_H.action", apiParams, bodyData.value, false);
}

async function getDetailData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSOM100/listE2_D.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
    color: #fff !important;
  }
}

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

.search-control-container {
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
