<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS085/left-grid.vue
 *  Description:    기준관리/거래처ZONE정보관리 Form화면의 좌측그리드
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container left-grid">
    <control-container>
      <div v-for="btnData in LEFT_CONTROL_BTN" :key="btnData.title">
        <control-button
          v-if="(btnData.title === 'save' || btnData.title === 'del') && Object.keys(selectedItems.value).length > 0"
          :data="btnData"
          :saveRowData="saveRowData"
          :deleteRowData="deleteRowData" />
        <control-button v-else-if="!(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" :addRowData="addRowData" />
      </div>
    </control-container>
    <div class="grid-header">{{ t("grid-title.cust-zone-list") }}</div>
    <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" :modules="[ExcelExportModule]" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onBeforeMount, reactive, watch, onActivated, onDeactivated } from "vue";

import { AgGridVue } from "ag-grid-vue3";
import { GridOptions } from "ag-grid-community";
import { ExcelExportModule, IServerSideGetRowsParams, GridApi } from "ag-grid-enterprise";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";

import { useSelectedDataStore, useSearchConditionStore, useConfirmStore } from "@/store";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";

import { ControlContainer } from "@/components/layout";
import { ControlButton } from "@/components/button";

import { LEFT_GRID_COLUMN_DEFS } from "./column-defs";
import { LEFT_CONTROL_BTN, SEARCH_INPUT } from "./input";

// Variable Definitions
const { changeCurrentSelectedLeftGridData } = defineProps<{
  changeCurrentSelectedLeftGridData: (data: any) => void;
}>();
const pagingOptions = UtilService.getGridPagingOptions("WMSMS085");
const pagingSize = ref<number>(pagingOptions![0]);
const emits = defineEmits(["onPageSizeChanged"]);
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const totalRows = ref<number>(0);
const selectedItems = reactive({ value: [] as any });
const inactive = ref<boolean>(false);
let gridApi: GridApi | null = null;
let tempCount = 0;

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t(`grid-column-name.${column.headerKey}`);
    }
  });
  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

// 검색결과 그리에 반영시키기
watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
/***************************************************** 페이지 기본 *****************************************************/
// 검색
async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi?.deselectAll();
    let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "";

    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/TMSYS010/listCode_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            gridData.result.list.forEach((row: any) => {
              row.RNUM = String(row.RNUM) + "leftGrid";
              row.gridType = "leftGrid";
            });
            UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const onGridReady = (params: any) => {
  gridApi = params.api;
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

function onSelectionChanged(e: any) {
  selectedItems.value = gridApi?.getSelectedRows();
  changeCurrentSelectedLeftGridData(selectedItems.value[0]);
  useSelectedDataStore().changeSelectedDataList([], "leftGrid");
  useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows(), "leftGrid");
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: onGridReady,
  onPaginationChanged: onPaginationChanged,
  onRowSelected: onSelectionChanged,
  columnDefs: LEFT_GRID_COLUMN_DEFS,
  onRowClicked: (params: any) => {
    gridApi?.deselectAll();
    gridApi?.getRowNode(String(params.data.RNUM))?.setSelected(true);
  },
  rowSelection: "single",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  suppressClickEdit: true,
  suppressRowClickSelection: true,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

/***************************************************** 페이지별 특정 기능 정의 *****************************************************/
// 신규 빈 행 추가
function addRowData() {
  // gridApi?.deselectAll();
  const RNUM = `temp${tempCount}`;

  const newRowData = [{ RNUM: RNUM }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi?.paginationGetCurrentPage()) + 1) * Number(gridApi?.paginationGetPageSize()) - Number(gridApi?.paginationGetPageSize());

  gridApi?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;

  gridApi?.getRowNode(String(RNUM))?.setSelected(true);
}

// 저장
function saveRowData() {
  crudAction("SAVE");
}
// 삭제
function deleteRowData() {
  crudAction("DELETE");
}

// "저장", "삭제" 버튼 클릭시 호출되는 콜백 함수
async function crudAction(type: "DELETE" | "SAVE") {
  selectedItems.value = gridApi?.getSelectedRows();

  if (type === "SAVE") {
    // edit 필수 입력값 확인
    const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi);

    if (!saveEditGridRequiredValidation.status) {
      return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
    }
  }

  if (type === "SAVE") {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
  } else {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
  }

  try {
    const bodyData: any = {
      ...UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore()),
      ...{ MAIN_ID: String(selectedItems.value[0].RNUM), selectIds: "1" },
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      if (type === "SAVE") {
        if (String(selectedItems.value[i].RNUM).includes("temp")) {
          bodyData["ST_GUBUN" + [i]] = "INSERT";
        } else {
          bodyData["ST_GUBUN" + [i]] = "UPDATE";
        }
        bodyData["CUST_ZONE_CD" + [i]] = selectedItems.value[i].CUST_ZONE_CD || "";
        bodyData["CUST_ZONE_NM" + [i]] = selectedItems.value[i].CUST_ZONE_NM || "";
        bodyData["COLOR" + [i]] = selectedItems.value[i].COLOR || "";
      } else {
        bodyData["ST_GUBUN" + [i]] = "DELETE";
      }

      bodyData["CUST_ZONE_ID" + [i]] = selectedItems.value[i].CUST_ZONE_ID || "";
    }

    if (type === "DELETE") {
      bodyData.I_selectIds = "0";
      bodyData.D_selectIds = "1";
    }

    const result = await ApiService.postApi("", {}, bodyData);

    if (result.status) {
      if (result.result.errCnt === 0) {
        useToast().success(result.result.MSG);
        gridApi?.deselectAll();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        tempCount = 0;
      } else {
        useToast().error(result.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    width: 49%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
