<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS085/page.vue
 *  Description:    기준관리/거래처ZONE정보관리 업무 화면
 *  Authors:        H. N. Ko
 *  Update History:
 *                  2024.07. : Created by H. N. Ko
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :onCellFocused="onCellFocused"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :getServerData="getMasterData"
        @onSelectionChanged="onMasterSelectionChanged"
        :context="[]">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedMasterItems && Object.keys(selectedMasterItems).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="true"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :getServerData="getDetailData"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :context="{ ...GRID_CELL_SEARCH_BUTTON }"
        :modules="[ExcelExportModule]">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedDetailItems && Object.keys(selectedDetailItems).length > 0" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS085" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";

import { ApiService } from "@/services/api-service";
import { useConfirmStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, IRowNode, RowSelectedEvent, StartEditingCellParams } from "ag-grid-community";
import { ExcelExportModule, GridApi } from "ag-grid-enterprise";
import { Ref, computed, nextTick, onBeforeMount, onMounted, onUnmounted, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { UtilService } from "../../../services/util-service";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { DETAIL_CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_CELL_SEARCH_BUTTON, GRID_META, MASTER_CONTROL_BTN, MASTER_GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";
const { t } = useI18n();

//master grid 선택시(복수 체크)
const selectedMasterItems = ref<Record<string, any>[]>([]);

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});
let selectedMasterRowIdx: number = -1;

//detail grid 선택시(복수 체크)
const selectedDetailItems = ref<Record<string, any>[]>([]);
const selectedDetailNodes = ref<IRowNode[]>([]);

//detail grid 선택시(하나만 체크)
const selectedDetailItem = ref<Record<string, any>>({});

// Variable Definitions
const masterFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const detailFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value?.gridApi) || null;
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value?.gridApi) || null;
});
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const eventBus = useEventBusStore();
const masterGridTitleRef = t("menu-header-title.WMSMS085");
const detailGridTitleRef = t("menu-header-title.WMSMS085_detail");
const formTheme = {
  "--flex-direction": "row",
};

// Framework Function Definitions
onBeforeMount(() => {});
onMounted(async () => {
  //event로 처리가 필요하나 ???
  myPageId.value = useTabsStore().selectedTab.value?.id;
  // const res = await ApiService.postApi(`/rest/WINUS/WMSMS085.action`, {}, UtilService.getOptionApiData(`TMSYS010_rn`));
  // if (res.result.selectBoxInfos) {
  //   OptionDataStore.setOptionData(res.result.selectBoxInfos);
  // } else {
  //   OptionDataStore.setOptionData(res.result);
  // }
});
onUnmounted(() => {});
function sessionStorageReady() {}

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
/**
 * Master Grid에서 행이 선택될때
 * @param e
 */
function onMasterSelectionChanged(e: { startRowIndex: number; event: RowSelectedEvent }) {
  let isSelected = e.event.node.isSelected();
  let event: RowSelectedEvent = e.event;
  selectedMasterItems.value = masterGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    selectedMasterRowIdx = event.node.rowIndex || -1;
    // event.api.redrawRows();
    nextTick(() => {
      changeEditable(e.event, "CUST_ZONE_CD", "CUST_ZONE_NM");
      detailFormRef.value?.searchGridData();
    });
  }
}

/**
 * 세부 데이터에서 행이 선택 될때
 * @param e
 */
function onDetailGridSelectionChanged(e: { startRowIndex: number; event: RowSelectedEvent }) {
  let isSelected = e.event.node.isSelected();
  let event: RowSelectedEvent = e.event;
  // event.api.redrawRows();
  selectedDetailItems.value = detailGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (isSelected) {
    selectedDetailItem.value = detailGridApi.value?.getSelectedRows()[0];
    selectedDetailNodes.value = detailGridApi.value?.getSelectedNodes() || [];
    nextTick(() => {
      changeEditable(e.event, "CUST_ZONE_CD", "CUST_ZONE_NM");
    });
  }
}

// User Function Definitions

//화주 ID 공통으로 사용
let txtSrchTrustCustId: any = null;
/**
 * 마스터 데이터 조회
 * @param apiParams
 * @param bodyData
 */
async function getMasterData(apiParams: any, bodyData: any) {
  txtSrchTrustCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  apiParams.txtSrchTrustCustId = txtSrchTrustCustId;
  let res = await ApiService.postApi("/rest/WMSMS085/listOrg.action", apiParams, bodyData.value, false);
  detailGridApi.value?.setRowData([]);
  return res;
}

/**
 * 상세 데이터 조회
 * @param apiParams
 * @param bodyData
 */
async function getDetailData(apiParams: any, bodyData: any) {
  detailGridApi.value?.deselectAll();
  const selectedMasterItem = GridUtils.getSelectedRowData(unref(masterGridApi) || new GridApi())[0];
  apiParams = {
    CUST_ZONE_ID: Object.hasOwn(selectedMasterItem, "CUST_ZONE_ID") ? selectedMasterItem.CUST_ZONE_ID : "",
    txtSrchTrustCustId,
  };
  let res = await ApiService.postApi("/rest/WMSMS085/sublist.action", apiParams, bodyData.value, false);
  return res;
}

/**
 * 요청
 * @param formFields formField를 Array에 따라 순번처리한 데이터
 */
async function requestService(url: string, formFields: any, confirmMessage: string, successMsg?: string, failMsg?: string) {
  successMsg = successMsg || t("common-toast.saved");
  failMsg = failMsg || "";
  await useConfirmStore().confirm(confirmMessage, t("button-name.confirm"));

  try {
    const resp = await ApiService.postApi(url, formFields, {});
    if (resp.errCnt > 0) {
      useToast().error(resp.MSG || failMsg);
      eventBus.emit("search-data");
    } else {
      useToast().error(resp.MSG);
      eventBus.emit("search-data");
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * Event Layer
 */
// master
const masterEventHandler: Record<string, Function> = {
  save: saveMaster, //TODO: WMSMS085: save erorr발생, insert 가능
  del: deleteMasterRows,
  new: addMasterRows,
};

/**
 * 마스터 행 추가
 */
function addMasterRows() {
  masterFormRef.value?.addRows([{ chk: "" }]);
}

/**
 * 마스터 삭제
 */
async function deleteMasterRows() {
  if (!selectedMasterItems.value || selectedMasterItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  if (selectedMasterItems.value.length > 0) {
    selectedMasterItems.value.forEach((item) => {
      item["ST_GUBUN"] = "DELETE";
    });
    const formData = masterFormRef.value?.rowsToFormFields(selectedMasterItems.value);
    await requestService("/WMSMS085/save.action", formData, t("confirm-message.delete"), t("common-toast.deleted"));
    eventBus.emit("search-data");
  }
}

//선택된 행의 특정셀의 editable속성 변경
function changeEditable(event: RowSelectedEvent, ...columnNames: string[]) {
  event.api.forEachNode((node) => {
    node.setData({ ...node.data, editable: false });
  });
  if (event.node.isSelected()) {
    event.node.setData({ ...event.data, editable: true });
    const rowIndex = event.node.rowIndex;
    if (rowIndex != null) {
      const focusedCell = event.api.getFocusedCell();
      const focusedCellNm = focusedCell?.column.getColId() || "";
      if (focusedCell && columnNames.indexOf(focusedCellNm) >= 0) {
        event.api.startEditingCell({
          rowIndex: rowIndex,
          colKey: focusedCellNm,
        });
      }
    }
    // 필요한 경우 다른 열도 추가 가능
  } else {
    if (!event.data["focusedCell"]) {
      event.node.setData({ ...event.data, editable: false });
    }
  }
}
/**
 * 마스터 저장
 */
async function saveMaster() {
  masterGridApi.value?.stopEditing();
  setTimeout(async () => {
    if (!selectedMasterItems.value || selectedMasterItems.value.length === 0) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }
    if (selectedMasterItems.value.length > 0) {
      const insertData: any[] = masterFormRef.value?.getRowsByStatus("INSERT") || [];
      const updateData: any[] = masterFormRef.value?.getRowsByStatus("UPDATE") || [];
      const savingData: any[] = [...insertData, ...updateData];
      if (!masterValidate(savingData)) return;
      const formData = masterFormRef.value?.rowsToFormFields(savingData);
      await requestService("/WMSMS085/save.action", formData, t("confirm-message.save"));
    }
  }, 500);
}

function masterValidate(savingData: any[]) {
  if (savingData.length <= 0) {
    useToast().warning(t("common-toast.select-data-to-save"));
    return false;
  }
  UtilService.saveEditGridRequiredValidation;
  let success = true;
  if ("" == UtilService.cfn_trim(selectedMasterItem.value.CUST_ZONE_NM)) {
    useToast().warning(t("common-toast.check_zone_name"));
    success = false;
  } else if (!UtilService.cfn_checkString(UtilService.cfn_trim(selectedMasterItem.value.CUST_ZONE_NM))) {
    success = false;
  } else if (UtilService.getByteLength(UtilService.cfn_trim(selectedMasterItem.value.CUST_ZONE_NM || "")) > 50) {
    useToast().warning(t("common-toast.field-in-line-over-max-size", { field: t("grid-column-name.zone-name"), line: selectedMasterRowIdx, max: 50 }));
    success = false;
  }
  if (!success) {
    const startEditingRow: StartEditingCellParams = {
      rowIndex: selectedMasterRowIdx,
      colKey: "CUST_ZONE_NM",
    };
    masterGridApi.value?.startEditingCell(startEditingRow);
    return success;
  }
  return true;
}

// detail event title에 따라 메서드를 매핑
const detailEventHandler: Record<string, Function> = {
  excel: detailExport,
  "enter-excel": excelImport,
  "change-zone-belonging": handleZoneChange,
  save: saveDetail,
  del: deleteDetailRows,
  new: addDetailRows,
};

function detailExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("grid-title.cust-zone-detail-information"),
  };
  detailGridApi.value?.exportDataAsExcel(excelExportParams);
}

function excelImport() {
  const data = {
    modalTitle: t("popup-title.zone-customer-enter-excel"),
    saveUrl: "/WMSMS085/uploadInfo_rn.action",
    templateUrl: "",
  };
  UtilService.excelImport(data, "/excel-import");
}

// 소속ZONE 변경 클릭시 호출되는 함수
function handleZoneChange() {
  const custIds = [];

  for (let i = 0; i < selectedDetailItems.value.length; i++) {
    let CUST_ID = selectedDetailItems.value[i].CODE_TYPE_NM;
    custIds.push(CUST_ID);
  }

  let strParameter = [custIds.join("-")];

  let width = 630;
  let height = 250;
  let param = "?func=fn_search&strParameter=" + strParameter + "&stBtnYn=N";
  let url = "/POP-WMSCM310" + param;

  UtilService.openWindowPopup(null, url, { width, height, top: 100, left: 200 });
}
/**
 * 상세 저장
 */
async function saveDetail() {
  detailGridApi.value?.stopEditing();
  setTimeout(async () => {
    if (!selectedDetailItems.value || selectedDetailItems.value.length === 0) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }
    if (selectedDetailItems.value.length > 0) {
      const insertData: any[] = detailFormRef.value?.getRowsByStatus("INSERT") || [];
      const updateData: any[] = detailFormRef.value?.getRowsByStatus("UPDATE") || [];
      const savingData: any[] = [...insertData, ...updateData];
      if (!detailValidate()) return;
      const formData = detailFormRef.value?.rowsToFormFields(savingData);
      await requestService("/WMSMS085/sub_save.action", formData, t("confirm-message.save"));
    }
  }, 500);
}

function detailValidate() {
  const selectedNodes = selectedDetailNodes.value;
  selectedNodes.forEach((node) => {
    const currentData = node.data;
    let work_seq: string = currentData["WORK_SEQ"];
    let cust_cd = currentData["CUST_CD"];
    // 공백체크
    if (work_seq == "") {
      useToast().warning(t("common-toast.is-a-required-entry", { message: t("grid-column-name.work-order") }));
      node.rowIndex ? focustDetailCell(node.rowIndex, "WORK_SEQ") : null;
      return false;
    }
    if (cust_cd == "") {
      useToast().warning(t("common-toast.is-a-required-entry", { message: t("grid-column-name.cust-cd") }));
      node.rowIndex ? focustDetailCell(node.rowIndex, "CUST_CD") : null;
      return false;
    }
  });

  // 2. 컬럼순서, 보기순번 중복값있는지 확인한다.
  const allDetailRows = getAllDetailGridNodes();
  for (var i = 0; i < selectedNodes.length; i++) {
    const currentNode = selectedNodes[i];
    const currentData = selectedNodes[i].data;
    let work_seq = currentData["WORK_SEQ"];

    for (var j = 0; j < allDetailRows.length; j++) {
      var work_seq_B = 0;

      if (Number(currentNode.rowIndex) != Number(allDetailRows[j].rowIndex)) {
        if (allDetailRows[j].isSelected()) {
          work_seq_B = allDetailRows[j].data["WORK_SEQ"];
        }

        if (Number(work_seq) == Number(work_seq_B)) {
          useToast().warning(t("common-toast.duplicated-value-in-column", { columnNm: t("grid-column-name.work-order") }));
          currentNode.rowIndex ? focustDetailCell(currentNode.rowIndex, "WORK_SEQ") : null;
          return false;
        }
      }
    }
  }

  return true;
}

/**
 * Detail 삭제
 */
async function deleteDetailRows() {
  if (!selectedDetailItems.value || selectedDetailItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }
  if (selectedDetailItems.value.length > 0) {
    selectedDetailItems.value.forEach((item) => {
      item["ST_GUBUN"] = "DELETE";
    });
    const formData = detailFormRef.value?.rowsToFormFields(selectedDetailItems.value);
    await requestService("/WMSMS085/sub_save.action", formData, t("confirm-message.delete"), t("common-toast.deleted"));
    detailFormRef.value?.searchGridData();
  }
}

function getAllDetailGridNodes(): IRowNode[] {
  var allNode: any[] = [];
  detailGridApi.value?.forEachNode(function (node) {
    allNode.push(node);
  });
  return allNode;
}
function focustDetailCell(rowIdx: number, key: string) {
  const startEditingRow: StartEditingCellParams = {
    rowIndex: rowIdx,
    colKey: key,
  };
  detailGridApi.value?.startEditingCell(startEditingRow);
}

function addDetailRows() {
  let newRow = {
    chk: "",
    CUST_ZONE_ID: selectedMasterItem.value.CUST_ZONE_ID,
  };
  detailFormRef.value?.addRows([newRow]);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid > div:first-child {
    flex-grow: 1; /* Takes 2 parts of the available space */
  }
  &-grid > div:last-child {
    flex-grow: 1; /* Takes 2 parts of the available space */
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
