<template>
  <div class="main-container">
    <select id="select-box">
      <option v-for="(option, i) in useOptionDataStore().getOptionData().WMSCM310" :key="i" :value="option.CUST_ZONE_ID">
        {{ `${option.CUST_ZONE_NM}-${option.CUST_ZONE_CD}` }}
      </option>
    </select>
    <div class="button-container">
      <button class="close" @click="() => close()">{{ t("button-name.close") }}</button>
      <button class="save" @click="() => save()">{{ t("button-name.save") }}</button>
    </div>
  </div>
  <confirm-popup />
</template>

<script setup lang="ts">
import { onBeforeMount } from "vue";
import { useI18n } from "vue-i18n";

import { ApiService } from "@/services/api-service";
import { useConfirmStore, useOptionDataStore } from "@/store";

import { ConfirmPopup } from "@/popups";

const { t } = useI18n();
const custIdQueryString = new URL(window.location.href).searchParams.get("strParameter");

onBeforeMount(async () => {
  const res = await ApiService.postApi("/WMSMS085/listOrg.action", {}, null);
  useOptionDataStore().setOptionData({ WMSCM310: res.rows });
});

// 저장
async function save() {
  const custIdQueryStringArray = custIdQueryString?.split("-");
  const selectBoxElement = document.getElementById("select-box") as any;

  if (custIdQueryStringArray && selectBoxElement) {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

    const bodyData = {
      CUST_ZONE_ID: selectBoxElement.value,
      selectIds: String(custIdQueryStringArray.length),
    } as any;

    for (let i = 0; custIdQueryStringArray!.length > i; i++) {
      bodyData["CUST_ID" + [i]] = custIdQueryStringArray[i];
    }

    await ApiService.postApi("", {}, bodyData);
  }
}

// 닫기
function close() {
  window.close();
}
</script>

<style lang="scss" scoped>
.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  select {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    padding-right: 25px;
    padding: 5px 8px 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;

    width: 90%;

    button {
      font-size: 14px;
      font-weight: bold;
      border-radius: 10px;
      padding: 14px 0px;
      width: calc(100% - 15px);
    }
    .close {
      @include btnColorStyle($font-secondary);
    }
    .save {
      @include btnColorStyle($main);
    }
  }
}
</style>
