<template>
  <div style="display: flex">
    <div style="flex: 1; padding: 1px">
      <input
        type="button"
        style="font-size: 22px; height: 85px; width: 100%; background-color: #f15f5f; cursor: pointer"
        id="confirmBtn"
        name="btn_write"
        :value="t('button-name.issue-completed')"
        @click="() => fn_call()"
        role="button"
        aria-disabled="false" />
    </div>
    <div style="flex: 1; padding: 1px">
      <input
        type="button"
        style="font-size: 22px; height: 85px; width: 100%; cursor: pointer"
        id="cancelBtn"
        name="btn_write"
        :value="t('button-name.cancel')"
        @click="() => close()"
        role="button"
        aria-disabled="false" />
    </div>
  </div>
  <div id="tab1" style="height: 100%">
    <div class="tabHistoryWrap">
      <ul class="ozr-tab-container">
        <li :class="['ozr-tab-item', { 'ozr-tab-active': currentTab === '1' }]" @click="() => changeTab('1')">
          {{ t("tab-menu-title.total-picking-list") }}
        </li>
        <li :class="['ozr-tab-item', { 'ozr-tab-active': currentTab === '2' }]" @click="() => changeTab('2')">
          {{ t("tab-menu-title.each-picking-list") }}
        </li>
      </ul>
      <h2 class="first" id="fullpath_screen"></h2>
    </div>
    <div v-show="currentTab === '1'" id="tabs-1" style="height: 100%">
      <!-- file export용 iframe -->
      <section class="content" style="height: 100%">
        <div class="container-fluid" style="height: 100%">
          <form name="frm_oz" method="POST" target="DivOzViewer">
            <input type="hidden" name="fileName" value="" />
            <input type="hidden" name="reportName" value="" />
            <input type="hidden" name="odiName" value="" />
            <input type="hidden" name="arrKey" value="" />
          </form>
          <iframe id="DivOzViewer" name="DivOzViewer" frameBorder="0" scrolling="no" style="padding: 0px; width: 100%; height: 100%; overflow: hidden" onload=""> </iframe>
        </div>
      </section>
    </div>
    <div v-show="currentTab === '2'" id="tabs-2" style="height: 100%">
      <!-- file export용 iframe -->
      <section class="content" style="height: 100%">
        <div class="container-fluid" style="height: 100%">
          <form name="frm_oz2" method="POST" target="DivOzViewer2">
            <input type="hidden" name="fileName" value="" />
            <input type="hidden" name="reportName" value="" />
            <input type="hidden" name="odiName" value="" />
            <input type="hidden" name="arrKey" value="" />
          </form>
          <iframe id="DivOzViewer2" name="DivOzViewer2" frameBorder="0" scrolling="no" style="padding: 0px; width: 100%; height: 100%; overflow: hidden" onload=""> </iframe>
        </div>
      </section>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";

import { useI18n } from "vue-i18n";

import { UtilService } from "@/services/util-service";

let currentTab = ref("1" as "1" | "2");

const { t } = useI18n();

let lcId;
let vrsrpGB;
let vrSrchCustCd;
let vrSrchCustId;
let vrSrchWhNm;
let vrSrchOrderId: any;
let cmbSrchType;
let vrSrchReqDtFrom;
let vrSrchReqDtTo;
let vrSrchCustLotNo;
let vrSrchOrdSubtype;
let vrSrchZoneCd;
let vrSrchItemGrpId;
let txtSrchCustId;
let vrSrchOrgOrdId;
let vrSrchSalesCustNm;
let vrSrchRitemId;
let vrSrchInsertSource;
let userName;
let vrSrchOrderPhase;
let vrSrchPickingLog;
let vrSrchShippingCompany;
let vrSrchSynnaraOrdYn;
let vrSrchOrderBySkuCnt;
let vrSrchOrderByMaxQty;
let vrSrchContainRitemId;
let vrSrchOrdBizType;

onMounted(() => {
  const arrParameter = new URL(window.location.href).searchParams.get("strParameter")!.split(",");

  lcId = UtilService.getCurrentLocation();
  vrsrpGB = arrParameter[0] == undefined ? "" : arrParameter[0];
  vrSrchCustCd = arrParameter[1] == undefined ? "" : arrParameter[1];
  vrSrchCustId = arrParameter[2] == undefined ? "" : arrParameter[2];
  vrSrchWhNm = arrParameter[3] == undefined ? "" : arrParameter[3];
  vrSrchOrderId = arrParameter[4] == undefined ? "" : arrParameter[4];
  cmbSrchType = arrParameter[5] == undefined ? "" : arrParameter[5];
  vrSrchReqDtFrom = arrParameter[6] == undefined ? "" : arrParameter[6];
  vrSrchReqDtTo = arrParameter[7] == undefined ? "" : arrParameter[7];
  vrSrchCustLotNo = arrParameter[8] == undefined ? "" : arrParameter[8];
  vrSrchOrdSubtype = arrParameter[9] == undefined ? "" : arrParameter[9];
  txtSrchCustId = arrParameter[10] == undefined ? "" : arrParameter[10];
  vrSrchZoneCd = arrParameter[11] == undefined ? "" : arrParameter[11];
  vrSrchItemGrpId = arrParameter[12] == undefined ? "" : arrParameter[12];
  vrSrchOrgOrdId = arrParameter[13] == undefined ? "" : arrParameter[13];

  vrSrchSalesCustNm = arrParameter[14] == undefined ? "" : arrParameter[14];
  vrSrchRitemId = arrParameter[15] == undefined ? "" : arrParameter[15];
  vrSrchInsertSource = arrParameter[16] == undefined ? "" : arrParameter[16];
  userName = arrParameter[17] == undefined ? "" : arrParameter[17];
  vrSrchOrderPhase = arrParameter[18] == undefined ? "" : arrParameter[18];
  vrSrchPickingLog = arrParameter[19] == undefined ? "" : arrParameter[19];
  vrSrchShippingCompany = arrParameter[20] == undefined ? "" : arrParameter[20];
  vrSrchSynnaraOrdYn = arrParameter[21] == undefined ? null : arrParameter[21];

  vrSrchOrderBySkuCnt = arrParameter[22] == undefined ? null : arrParameter[22];
  vrSrchOrderByMaxQty = arrParameter[23] == undefined ? null : arrParameter[23];
  vrSrchContainRitemId = arrParameter[24] == undefined ? null : arrParameter[24];
  vrSrchOrdBizType = arrParameter[25] == undefined ? null : arrParameter[25];

  let ozProgramName_totalPick = arrParameter[26] == undefined ? null : arrParameter[26];
  let ozProgramName_orderPick = arrParameter[27] == undefined ? null : arrParameter[27];

  //jsp 실행 경로
  const url = import.meta.env.VITE_OZ_URL + "/jsp/OZReport8.jsp";

  //tab1
  //jsp 보낼 form 셋팅
  const frm = document.querySelector('form[name="frm_oz"]')! as any;
  frm.target = "DivOzViewer";
  frm.action = url;
  //jsp target iframe
  const iframe = document.querySelector("#DivOzViewer")! as any;
  iframe.src = url;

  const arrKey = [
    "LC_ID",
    "vrsrpGB",
    "vrSrchCustCd",
    "vrSrchCustId",
    "vrSrchWhNm",
    "vrSrchOrderId",
    "cmbSrchType",
    "vrSrchReqDtFrom",
    "vrSrchReqDtTo",
    "vrSrchCustLotNo",
    "vrSrchOrdSubtype",
    "txtSrchCustId",
    "vrSrchZoneCd",
    "vrSrchItemGrpId",
    "vrSrchOrgOrdId",
    "vrSrchSalesCustNm",
    "vrSrchRitemId",
    "vrSrchInsertSource",
    "userName",
    "vrSrchOrderPhase",
    "vrSrchPickingLog",
    "vrSrchShippingCompany",
    "vrSrchSynnaraOrdYn",
    "vrSrchOrderBySkuCnt",
    "vrSrchOrderByMaxQty",
    "vrSrchContainRitemId",
    "vrSrchOrdBizType",
  ];

  const arrVal = [
    lcId,
    vrsrpGB,
    vrSrchCustCd,
    vrSrchCustId,
    vrSrchWhNm,
    vrSrchOrderId.replaceAll("@", ","),
    cmbSrchType,
    vrSrchReqDtFrom,
    vrSrchReqDtTo,
    vrSrchCustLotNo,
    vrSrchOrdSubtype,
    txtSrchCustId,
    vrSrchZoneCd,
    vrSrchItemGrpId,
    vrSrchOrgOrdId,
    vrSrchSalesCustNm,
    vrSrchRitemId,
    vrSrchInsertSource,
    userName,
    vrSrchOrderPhase,
    vrSrchPickingLog,
    vrSrchShippingCompany,
    vrSrchSynnaraOrdYn,
    vrSrchOrderBySkuCnt,
    vrSrchOrderByMaxQty,
    vrSrchContainRitemId,
    vrSrchOrdBizType,
  ];

  const rptProgramName = ozProgramName_totalPick ?? "WINUSOP635";
  const rptProgramName2 = ozProgramName_orderPick ?? "WINUSOP630";

  //데이터 파라미터 form에 저장
  document.querySelector('form[name="frm_oz"] input[name="fileName"]')!.value = `${rptProgramName}RB`;
  document.querySelector('form[name="frm_oz"] input[name="reportName"]')!.value = `${rptProgramName}.ozr`;
  document.querySelector('form[name="frm_oz"] input[name="odiName"]')!.value = rptProgramName;
  document.querySelector('form[name="frm_oz"] input[name="arrKey"]')!.value = arrKey;

  for (let i = 0; i < arrKey.length; i++) {
    const frmValue = document.createElement("input");
    frmValue.setAttribute("type", "hidden");
    frmValue.setAttribute("name", arrKey[i]);
    frmValue.setAttribute("value", arrVal[i]);
    frm.appendChild(frmValue);
  }
  frm.submit();

  //tab2
  //jsp 보낼 form 셋팅
  const frm2 = document.querySelector('form[name="frm_oz"]')! as any;
  frm2.target = "DivOzViewer2";
  frm2.action = url;
  //jsp target iframe
  const iframe2 = document.querySelector("#DivOzViewer2")! as any;
  iframe2.src = url;

  //데이터 파라미터 form에 저장
  document.querySelector('form[name="frm_oz"] input[name="fileName"]')!.value = `${rptProgramName2}RB`;
  document.querySelector('form[name="frm_oz"] input[name="reportName"]')!.value = `${rptProgramName2}.ozr`;
  document.querySelector('form[name="frm_oz"] input[name="odiName"]')!.value = rptProgramName2;
  document.querySelector('form[name="frm_oz"] input[name="arrKey"]')!.value = arrKey;
  for (let i = 0; i < arrKey.length; i++) {
    const frmValue = document.createElement("input");
    frmValue.setAttribute("type", "hidden");
    frmValue.setAttribute("name", arrKey[i]);
    frmValue.setAttribute("value", arrVal[i]);
    frm2.appendChild(frmValue);
  }
  frm2.submit();
});

/* 파라미터 처리 */

function changeTab(tabId: "1" | "2") {
  if (tabId === "1") {
    currentTab.value = "1";
  } else {
    currentTab.value = "2";
  }
}

async function fn_call() {
  let responseData = {};

  if (confirm("피킹리스트 출력물이 정상발행 되었는지 확인해주십시오.\n\n발행완료(피킹리스트발행 확정) 하시겠습니까?")) {
    // 출고관리(OM)
    responseData = { ...responseData, ...{ ORD_ID_LIST: vrSrchOrderId.replaceAll("@", ",") } };
    const res = await opener.vueInstance(responseData);
    if (res) {
      setTimeout(() => {
        UtilService.setOpenerPostMessageForGetGridData();
        window.close();
      }, 1500);
    }
  }
}

function close() {
  window.close();
}
</script>

<style lang="scss" scoped></style>
