<!-- TODO :: 삭제예정 -->
<template>
  <div id="pdfView" style="height: 100%; width: 100%"></div>
</template>

<script setup lang="ts">
import { onMounted } from "vue";

import { UtilService } from "@/services/util-service";
import { userStore } from "@/store/index";

onMounted(() => {
  /* 파라미터 처리 */
  const arrParameter = new URL(window.location.href).searchParams.get("strParameter")!.split(",");

  let lcId = UtilService.getCurrentLocation();
  let vrsrpGB = arrParameter[0] == undefined ? "" : arrParameter[0];
  let vrSrchCustCd = arrParameter[1] == undefined ? "" : arrParameter[1];
  let vrSrchCustId = arrParameter[2] == undefined ? "" : arrParameter[2];
  let vrSrchWhNm = arrParameter[3] == undefined ? "" : arrParameter[3];
  let vrSrchOrderId = arrParameter[4] == undefined ? "" : arrParameter[4];
  let cmbSrchType = arrParameter[5] == undefined ? "" : arrParameter[5];
  let vrSrchReqDtFrom = arrParameter[6] == undefined ? "" : arrParameter[6];
  let vrSrchReqDtTo = arrParameter[7] == undefined ? "" : arrParameter[7];
  let vrSrchCustLotNo = arrParameter[8] == undefined ? "" : arrParameter[8];
  let vrSrchOrdSubtype = arrParameter[9] == undefined ? "" : arrParameter[9];
  let txtSrchCustId = arrParameter[10] == undefined ? "" : arrParameter[10];
  let vrSrchZoneCd = arrParameter[11] == undefined ? "" : arrParameter[11];
  let vrSrchItemGrpId = arrParameter[12] == undefined ? "" : arrParameter[12];

  const userNo = JSON.parse(userStore().getCurrentUser()).USER_NO;
  const rptProjectName = "WINUS";
  const rptProgramName = "WINUSOP330";
  const pdfFileName = "WINUSOP330RB";
  const urlType = "ucps";
  let param = "";
  param += "&lcId=" + lcId;
  param += "&vrsrpGB=" + vrsrpGB;
  param += "&vrSrchCustCd=" + vrSrchCustCd;
  param += "&vrSrchCustId=" + vrSrchCustId;
  param += "&vrSrchWhNm=" + vrSrchWhNm;
  param += "&vrSrchOrderId=" + vrSrchOrderId;
  param += "&cmbSrchType=" + cmbSrchType;
  param += "&vrSrchReqDtFrom=" + vrSrchReqDtFrom;
  param += "&vrSrchReqDtTo=" + vrSrchReqDtTo;
  param += "&vrSrchCustLotNo=" + vrSrchCustLotNo;
  param += "&vrSrchOrdSubtype=" + vrSrchOrdSubtype;
  param += "&txtSrchCustId=" + txtSrchCustId;
  param += "&vrSrchZoneCd=" + vrSrchZoneCd;
  param += "&vrSrchItemGrpId=" + vrSrchItemGrpId;

  const actionUrl = "https://print.logisall.com/ReportLoader/execution.go?projectName=" + rptProjectName + "&programName=" + rptProgramName + "&pdfFileName=" + pdfFileName + "&urlType=" + urlType;
  const urlVal = "http://" + urlType + ".logisall.co.kr/OZReport/" + pdfFileName + ".asp?ExportPath=D:/Report/" + rptProjectName + "/" + userNo + "/" + param;
  const urlRep = "/OZ_REPORT/" + userNo + "/" + pdfFileName + ".pdf";

  //div pdfView 영역 초기화
  document.getElementById("pdfView")!.innerHTML = "";

  //report 뷰어 import
  const tax_url = "http://winus.logisall.com/OZ_REPORT/" + userNo + "/" + pdfFileName + ".pdf?timeTemp=" + new Date().getTime() + "#zoom=100";
  document.getElementById("pdfView")!.innerHTML = "<object data=" + tax_url + ' type="application/pdf" style="width:100%;height:100%;"></object>';
  //   jQuery("#btnREPORT_DOWN").attr("href", "" + urlRep + "");

  //   jQuery.ajax({
  //     url: actionUrl,
  //     dataType: "jsonp",
  //     data: { urlVal: encodeURI(urlVal), userId: userNo },
  //     type: "POST",
  //     error: function (rslt) {
  //       alert("ERROR : " + rslt.data.success);
  //     },
  //     success: function (rslt) {
  //       if (rslt.data.success == "fail") {
  //         alert("$!lang.getText('라벨생성오류')");
  //         return false;
  //       }

  //     },
  //   });
});
</script>

<style lang="scss" scoped></style>
