<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP642_1/form.vue
 *  Description:    택배관리/택배접수관리(공통)_택배접수관리(API) 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.10.12 : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <delivery-control-container>
    <template v-for="btnData in controlBtn.value" :key="btnData.title">
      <!-- 조건 01 -->
      <delivery-control-button
        v-if="btnData['display'] === 'Y' && deliveryButtonActiveRule.buttonTitleList01.includes(btnData.title) && getButtonDisplayRule01()"
        :data="btnData"
        :excelExport="excelExport"
        :additionalInvoiceSubmission="additionalInvoiceSubmission"
        :courierDeliveryReception="courierDeliveryReception"
        :printDeliveryInvoice="printDeliveryInvoice"
        :fn_dlvShipDelete="fn_dlvShipDelete"
        :fn_dlvInvcNoPrintPrev="fn_dlvInvcNoPrintPrev"
        :fn_dlvShipmentPost="fn_dlvShipmentPost" />
      <!-- 조건 02 -->
      <delivery-control-button
        v-else-if="btnData['display'] === 'Y' && deliveryButtonActiveRule.buttonTitleList02.includes(btnData.title) && getButtonDisplayRule02()"
        :data="btnData"
        :excelExport="excelExport"
        :additionalInvoiceSubmission="additionalInvoiceSubmission"
        :courierDeliveryReception="courierDeliveryReception"
        :printDeliveryInvoice="printDeliveryInvoice"
        :fn_dlvShipDelete="fn_dlvShipDelete" />
      <!-- 조건 04 -->
      <delivery-control-button
        v-else-if="btnData['display'] === 'Y' && deliveryButtonActiveRule.buttonTitleList04.includes(btnData.title) && getButtonDisplayRule04()"
        :data="btnData"
        :excelExport="excelExport"
        :additionalInvoiceSubmission="additionalInvoiceSubmission"
        :courierDeliveryReception="courierDeliveryReception"
        :printDeliveryInvoice="printDeliveryInvoice"
        :editCustomerAddress="fn_modCustInfo"
        :dasDataSearch="fn_deviceIfList"
        :dasDataGeneration="fn_deviceIfSend"
        :fn_dlvShipDelete="fn_dlvShipDelete"
        :fn_dlvInvcNoPrintPrev="fn_dlvInvcNoPrintPrev"
        :fn_dlvShipmentPost="fn_dlvShipmentPost" />
      <!-- 조건 05 -->
      <delivery-control-button
        v-else-if="btnData['display'] === 'Y' && deliveryButtonActiveRule.buttonTitleList05.includes(btnData.title) && getButtonDisplayRule05()"
        :data="btnData"
        :excelExport="excelExport"
        :additionalInvoiceSubmission="additionalInvoiceSubmission"
        :courierDeliveryReception="courierDeliveryReception"
        :printDeliveryInvoice="printDeliveryInvoice"
        :editCustomerAddress="fn_modCustInfo"
        :dasDataSearch="fn_deviceIfList"
        :dasDataGeneration="fn_deviceIfSend"
        :fn_dlvShipDelete="fn_dlvShipDelete" />
      <!-- 조건 06 -->
      <delivery-control-button
        v-else-if="btnData['display'] === 'Y' && deliveryButtonActiveRule.buttonTitleList06.includes(btnData.title) && getButtonDisplayRule06()"
        :data="btnData"
        :excelExport="excelExport"
        :editCustomerAddress="fn_modCustInfo"
        :dasDataSearch="fn_deviceIfList"
        :dasDataGeneration="fn_deviceIfSend" />
      <!-- 조건 07 -->
      <delivery-control-button
        v-else-if="btnData['display'] === 'Y' && deliveryButtonActiveRule.buttonTitleList07.includes(btnData.title) && getButtonDisplayRule07()"
        :data="btnData"
        :excelExport="excelExport" />
    </template>
    <invoice-add-modal
      v-if="openInvoiceModal.on"
      :info="openInvoiceModal.value"
      @boxType="
        (e: any) => {
          openInvoiceModal.boxTypeInfo = e;
        }
      "
      @dlvAddCnt="
        (e: any) => {
          openInvoiceModal.dlvAddCntInfo = e;
        }
      " />
    <delivery-invoice-output-modal
      v-if="openDeliveryInvoiceModal.on"
      :info="openDeliveryInvoiceModal.value"
      @orderFlag="
        (e: any) => {
          openDeliveryInvoiceModal.orderFlag = e;
        }
      "
      @invoiceOption="
        (e: any) => {
          openDeliveryInvoiceModal.invoiceOptionInfo = e;
        }
      "
      @checkedValue="
        (e: any) => {
          openDeliveryInvoiceModal.checkedValueInfo = e;
        }
      " />
    <change-customer-info v-if="openChangeCustomerInfo.value.changeCustomerInfo.open" :modalInfo="openChangeCustomerInfo.value.changeCustomerInfo" />
  </delivery-control-container>
  <div class="form-container" ref="formContainerRef">
    <my-grid
      :setConsignorData="setConsignorData"
      :setDeliveryButtonPosition="setDeliveryButtonPosition"
      :onGridReady="onGridReady"
      :onSelectionChanged="onSelectionChanged"
      @dlvSenderInfo="
        (e: any) => {
          dlvSenderInfoInput.value = e;
        }
      " />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { reactive, ref, watch, onMounted, onActivated, onDeactivated } from "vue";

import { useToast } from "vue-toastification";
import { useI18n } from "vue-i18n";
import { GridApi, ExcelExportParams } from "ag-grid-community";

import { useSelectedDataStore, useSearchConditionStore, useFormHeightStore, useOptionDataStore, useConfirmStore, menusStore } from "@/store";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { OZReport, IOZReportArgument } from "@/services/report-service";

import deliveryControlContainer from "@/components/layout/delivery-control-container.vue";
import deliveryControlButton from "@/components/button/delivery-control-button.vue";

import invoiceAddModal from "./popups/invoice-add-modal.vue";
import deliveryInvoiceOutputModal from "./popups/delivery-invoice-output-modal.vue";
import changeCustomerInfo from "@/popups/change-customer-info.vue";
import MyGrid from "./grid.vue";
import { SEARCH_INPUT, DELIVERY_CONTROL_DATA } from "./input";

// Variable Definitions
const { t } = useI18n();
const formContainerRef = ref(null as null | any);
const inactive = ref<boolean>(false);
const selectedItems = reactive({ value: {} as any });
const gridData = reactive({ value: [] as any });
const dlvSenderInfoInput = reactive({ value: {} as { [key: string]: any } });
const comTyOptions = reactive({ value: [] as any });
const openInvoiceModal = reactive({
  boxTypeInfo: "" as string,
  dlvAddCntInfo: "" as string,
  on: false as boolean,
  value: {} as any,
});
const openDeliveryInvoiceModal = reactive({
  orderFlag: null as any,
  invoiceOptionInfo: null as any,
  checkedValueInfo: null as any,
  deliveryInvoiceOutputResult: [] as any,
  on: false as boolean,
  value: {} as any,
});
const openChangeCustomerInfo = reactive({
  value: {
    changeCustomerInfo: {
      open: false,
      currentRowData: {},
      close: () => {
        openChangeCustomerInfo.value.changeCustomerInfo.open = false;
      },
    },
  },
});
//택배관련 - 개발 도메인에 따라 변경
let PUB_HOST_WINUS = "WINUS"; // WINUS
let PUB_HOST_NAME = PUB_HOST_WINUS; //! 개발 도메인에 따라 변경

const controlBtn = reactive({ value: DELIVERY_CONTROL_DATA as any });
const page = reactive({ value: {} as any });
const deliveryButtonActiveRule = {
  /* delivery-control-button 영역 title 조건 01 */
  buttonTitleList01: ["excel", "additional-invoice-submission", "courier-delivery-reception", "print-delivery-invoice", "before-invoice-printing", "after-invoice-received", "delete-delivery-invoice"],
  /* delivery-control-button 영역 title 조건 02 */
  buttonTitleList02: ["excel", "additional-invoice-submission", "courier-delivery-reception", "print-delivery-invoice", "delete-delivery-invoice"],
  /* delivery-control-button 영역 title 조건 04 */
  buttonTitleList04: [
    "excel",
    "additional-invoice-submission",
    "courier-delivery-reception",
    "print-delivery-invoice",
    "delete-delivery-invoice",
    "before-invoice-printing",
    "after-invoice-received",
    "edit-customer-address",
    "das-data-search",
    "das-data-generation",
  ],
  /* delivery-control-button 영역 title 조건 05 */
  buttonTitleList05: [
    "excel",
    "additional-invoice-submission",
    "courier-delivery-reception",
    "print-delivery-invoice",
    "delete-delivery-invoice",
    "edit-customer-address",
    "das-data-search",
    "das-data-generation",
  ],
  /* delivery-control-button 영역 title 조건 06 */
  buttonTitleList06: ["excel", "edit-customer-address", "das-data-search", "das-data-generation"],
  /* delivery-control-button 영역 title 조건 07 */
  buttonTitleList07: ["excel"],
};
let gridApi: GridApi | null | any = null;
let isToastShown = false;
let totalOrdQty = 0;
/* 송화인 정보 */
let consignorData = {} as { [key: string]: any };

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  setDeliveryButtonPosition();

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSDL", "WMSOP642_1", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
      await searchGridData();
    } else {
      if (isToastShown) {
        isToastShown = false;
      } else {
        useToast().warning(t("common-toast.please-select-a-owner"));
        isToastShown = true;
      }
      useSearchConditionStore().setAvailableSearchBySearchCondition(false);
    }
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

//User Function Definitions
/*  delivery-control-button 보여지는 조건 01  */
function getButtonDisplayRule01() {
  return (UtilService.getCurrentLocation() === "0000001262" || UtilService.getCurrentLocation() === "0000003722") && useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY === "04";
}

/*  delivery-control-button 보여지는 조건 02  */
function getButtonDisplayRule02() {
  return (
    (UtilService.getCurrentLocation() === "0000001262" || UtilService.getCurrentLocation() === "0000003722") &&
    useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY &&
    useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY !== "04"
  );
}

/*  delivery-control-button 보여지는 조건 04  */
function getButtonDisplayRule04() {
  /* 물류센터 'PR_WAREHOUSE', 화주 'KAKAOVX'일 때 조건 04에 맞는 버튼 display */
  if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    return (
      (UtilService.getCurrentLocation() === "0000003200" || (UtilService.getCurrentLocation() === "0000001262" && useSelectedDataStore().getSelectedModalData().owner.CUST_ID === "0000289050")) &&
      useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY === "04"
    );
  } else {
    return UtilService.getCurrentLocation() === "0000003200" && useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY === "04";
  }
}

/*  delivery-control-button 보여지는 조건 05  */
function getButtonDisplayRule05() {
  /* 물류센터 'PR_WAREHOUSE', 화주 'KAKAOVX'일 때 조건 05에 맞는 버튼 display */
  if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    return (
      (UtilService.getCurrentLocation() === "0000003200" || (UtilService.getCurrentLocation() === "0000001262" && useSelectedDataStore().getSelectedModalData().owner.CUST_ID === "0000289050")) &&
      useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY &&
      useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY !== "04"
    );
  } else {
    return UtilService.getCurrentLocation() === "0000003200" && useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY && useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY !== "04";
  }
}

/*  delivery-control-button 보여지는 조건 06  */
function getButtonDisplayRule06() {
  return UtilService.getCurrentLocation() === "0000003200";
}

/*  delivery-control-button 보여지는 조건 06  */
function getButtonDisplayRule07() {
  return UtilService.getCurrentLocation() !== "0000003200";
}

/* grid.vue에서 api요청으로 받아온 송화인 정보 할당  */
function setConsignorData(value: any) {
  consignorData = value;
}

/* 엑셀버튼 위치 css 수정 */
function setDeliveryButtonPosition() {
  /* 엑셀버튼 css 수정 */
  let count = 0;
  const setAuthOnButtonsInterval = setInterval(() => {
    count++;
    if (count > 10) {
      clearInterval(setAuthOnButtonsInterval);
    }
    const excelButtonElement = document.querySelector(".delivery.success") as HTMLElement;

    if (!excelButtonElement) {
      return;
    } else {
      excelButtonElement.style.position = "absolute";
      excelButtonElement.style.right = "23px";
      clearInterval(setAuthOnButtonsInterval);
    }

    /* 로케이션이 "카카오vx"인 경우 엑셀 버튼과 das버튼들 css 수정이 필요 */
    if (UtilService.getCurrentLocation() === "0000003200") {
      const dasButtonElement = document.querySelectorAll(".delivery.primary");
      if (dasButtonElement.length) {
        dasButtonElement.forEach((element: any) => {
          if (element.innerText === "DAS자료조회" || element.innerText === "DAS자료생성") {
            element.style.position = "absolute";
            element.style.right = "23px";
            element.style.height = "28px";
            element.style.padding = "0 9px";
            element.lastChild.lastChild.style["line-height"] = "28px";

            if (element.innerText === "DAS자료생성") {
              element.style.bottom = "16px";
            }
          }
        });
      }
      if (excelButtonElement) {
        excelButtonElement.style.right = "133px";
      }
    }
  }, 500);
}

const onGridReady = (params: any) => {
  gridApi = params.api;
  gridApi?.setRowData([]);
};

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    if (!useSelectedDataStore().getSelectedModalData().owner.CUST_ID) {
      useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.owner") }));
      return;
    }
    const searchConditions = JSON.parse(JSON.stringify(SEARCH_INPUT));

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "";
    apiParams.PARCEL_COM_TY = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;
    apiParams.cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType;
    apiParams.vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
    apiParams.vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;
    apiParams.focusRow = "";
    apiParams.focusCol = "";
    apiParams.vrSrchOrdDegree = useSearchConditionStore().getSearchInputValue().vrSrchOrdDegree;
    apiParams.vrSrchAbleInvcCnt = useSearchConditionStore().getSearchInputValue().vrSrchAbleInvcCnt || "";
    if (useSearchConditionStore().getSearchInputValue().chkOptionType101) {
      apiParams.chkOptionType1 = useSearchConditionStore().getSearchInputValue().chkOptionType101;
    } else if (useSearchConditionStore().getSearchInputValue().chkOptionType102) {
      apiParams.chkOptionType1 = useSearchConditionStore().getSearchInputValue().chkOptionType102;
    } else {
      delete apiParams.chkOptionType1;
    }

    if (!useSearchConditionStore().getSearchInputValue().chkInvcAddFlag) {
      delete apiParams.chkInvcAddFlag;
    }
    if (!useSearchConditionStore().getSearchInputValue().chkInvcRtnFlag) {
      delete apiParams.chkInvcRtnFlag;
    }
    if (!useSearchConditionStore().getSearchInputValue().vrSrchMutiPackingYn) {
      delete apiParams.vrSrchMutiPackingYn;
    }

    gridApi.showLoadingOverlay();

    gridData.value = await ApiService.postApi("/WMSOP642/listByDlvSummary_rn.action", apiParams, {}, false);

    if (gridData.value.status) {
      if (gridData.value.result.list.length > 0) {
        UtilService.setGridDatasRowNum(gridData.value.result.list);
        gridApi?.setRowData(gridData.value.result.list);
        fn_AddSetting();
        setTotalOrdQty();
      } else {
        gridApi?.setRowData([]);
        useToast().warning(t("common-toast.no-data-list"));
      }
    } else {
      gridApi?.setRowData([]);
    }
  }
  setDeliveryButtonPosition();
  useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  gridApi?.deselectAll();
  useSelectedDataStore().changeSelectedDataList([]);
}

// 검색영역 "주문수량" 인풋 값 계산
function setTotalOrdQty() {
  for (let i = 0; gridData.value.result.list.length > i; i++) {
    totalOrdQty += Number(gridData.value.result.list[i].ORD_QTY);
    useSearchConditionStore().changeSearchInputValue("vrSrchOrdCnt", totalOrdQty);
  }
}

function onSelectionChanged() {
  selectedItems.value = gridApi?.getSelectedRows();
  useSelectedDataStore().changeSelectedDataList(gridApi?.getSelectedRows());
}

/* 업체에 따른 추가 셋팅  (yhku) -> 화주에 따른 하단 고객 정보 셋팅 */
function fn_AddSetting() {
  if (PUB_HOST_NAME == "POOLATHOME") {
    if (openDeliveryInvoiceModal.orderFlag.includes("P")) {
      comTyOptions.value.splice(10, 2);
    }
  }
}

/**
 * 택배배송접수 송장접수
 *
 * @param {string} addFlag : 추가송장 구분 (Y, N)
 * @param {stirng} divFlag : 분리송장 구분 (NORMAL or DIV)
 */
async function courierDeliveryReception(addFlag = "Y", divFlag = "NORMAL") {
  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  //addFlag:송장추가구분, divFlag:분리송장구분: NORMAL or DIV
  const JOB_MAX_COUNT = 1000; //! 합포기준 1000건 단위 전송
  let nRow = selectedItems.value.length;
  let parcelSeqYn = "N";

  /*	택배사 설정 구분자
   *  01 우체국 | 04 CJ대한통운 | 05 한진택배 | 06 로젠택배 | 08 롯데택배 | 11 일양로지스 | 12 EMS | 13 DHL | 14 UPS
   */
  const comTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY; // 택배사구분
  const chkOptionType1 = useSearchConditionStore().getSearchInputValue().chkOptionType101; // 옵션
  const vrSrchSortType1 = useSearchConditionStore().getSearchInputValue().vrSrchSortType1; // 순서

  // 1)택배배송접수&추천박스로 접수 인경우,
  if (addFlag == "N" && chkOptionType1 == "02") {
    divFlag = "DIV";
  }

  /* 유효성 검사 */
  if (comTy === "05") {
    if (!fn_dlvShipmentValid_HJ()) {
      return;
    }
  } else {
    if (!(await fn_dlvShipmentValidation(addFlag, null).then((data: any) => data))) {
      return;
    }
  }
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  if (["04", "06", "08"].includes(comTy)) {
    parcelSeqYn = "Y";
  }
  /** 1. 택배접수 정보 */
  let dlvData = {
    ADD_FLAG: addFlag, //송장추가구분
    DIV_FLAG: divFlag, //분리송장구분 : NORMAL or DIV
    PARCEL_SEQ_YN: parcelSeqYn, // N:기존에 사용  /  현재는 Y:로 사용
    PARCEL_COM_TY: useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY, //택배구분
    PARCEL_COM_TY_SEQ: useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY_SEQ + "", //보내는이 DDL
    PARCEL_ORD_TY: useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY || "01", //접수구분
    PARCEL_PAY_TY: useSearchConditionStore().getSearchInputValue().PARCEL_PAY_TY, //운임구분
    FR_DATE: useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom, //주문일자 Fr
    TO_DATE: useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo, //주문일자 To
    ORD_DEGREE: useSearchConditionStore().getSearchInputValue().vrSrchOrdDegree + "", //주문차수
    ORD_PH: useSearchConditionStore().getSearchInputValue().vrSrchOrderPhase, //작업구분(H)
    ORD_PD: useSearchConditionStore().getSearchInputValue().vrSrchOrderPhaseDetail, //작업구분(D)
  } as any;

  //추가송장인 경우
  if (addFlag == "Y") {
    dlvData.DLV_ADD_CNT = openInvoiceModal.dlvAddCntInfo;
  }

  // 박스구분
  if (Object.hasOwn(useSearchConditionStore().getSearchInputValue(), "PARCEL_BOX_TY") && useSearchConditionStore().getSearchInputValue().PARCEL_BOX_TY != undefined) {
    dlvData["PARCEL_BOX_TY"] = useSearchConditionStore().getSearchInputValue().PARCEL_BOX_TY;
  }
  // 운송구분, 오더구분
  if (Object.hasOwn(useSearchConditionStore().getSearchInputValue(), "PARCEL_ETC_TY") && useSearchConditionStore().getSearchInputValue().PARCEL_ETC_TY != undefined) {
    dlvData["PARCEL_ETC_TY"] = useSearchConditionStore().getSearchInputValue().PARCEL_ETC_TY;
  }
  // 착불운임비
  if (Object.hasOwn(useSearchConditionStore().getSearchInputValue(), "PARCEL_PAY_PRICE") && useSearchConditionStore().getSearchInputValue().PARCEL_PAY_PRICE != undefined) {
    dlvData["PARCEL_PAY_PRICE"] = Number(useSearchConditionStore().getSearchInputValue().PARCEL_PAY_PRICE.replaceAll(",", ""));
  }
  // 옵션선택
  if (chkOptionType1 != undefined) {
    dlvData["OPT_1"] = chkOptionType1;
  }
  // 순서선택
  if (vrSrchSortType1 != undefined) {
    dlvData["SORT_1"] = vrSrchSortType1;
  }

  /** 1.1 택배사별 추가 정보 (추가 FromData) */
  dlvData = GetDlvInfo(comTy, dlvData);

  let jobs = new Array(); // 작업단위 데이터 셋
  let packList = new Array(); // 합포번호 (DENSE_FLAG)
  let packGridData = new Map(); // 합포단위 Grid ROW별 정보

  /** 2. 선택 행 Grid 데이터 */
  for (let curRow = 0; curRow < nRow; curRow++) {
    if (selectedItems.value.length === 0) continue;

    const packSeq = selectedItems.value[curRow].DENSE_FLAG;

    let rowData = {
      LC_ID: selectedItems.value[curRow].LC_ID,
      CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
      DENSE_FLAG: selectedItems.value[curRow].DENSE_FLAG,
      PROC_FLAG: selectedItems.value[curRow].PROC_FLAG,
      ORD_ID: selectedItems.value[curRow].ORD_ID,
      ORD_SEQ: selectedItems.value[curRow].ORD_SEQ,
      TRACKING_NO: selectedItems.value[curRow].TRACKING_NO,
      INVC_NO: selectedItems.value[curRow].INVC_NO + "",
      ORD_QTY: selectedItems.value[curRow].ORD_QTY + "",
      TYPE_ST: selectedItems.value[curRow].TYPE_ST + "",
      TYPE_S_INVC_CNT: selectedItems.value[curRow].TYPE_S_INVC_CNT + "",
      CBM_QTY: selectedItems.value[curRow].CBM_QTY + "",
      OUT_ORD_QTY: selectedItems.value[curRow].OUT_ORD_QTY + "",
      selectIds: selectedItems.value.length + "",
      ordTypeStTCnt: selectedItems.value.length + "",
    } as any;

    if (comTy === "05") {
      rowData["RCVR_NM"] = selectedItems.value[curRow].RCVR_NM + "";
      rowData["RCVR_ADDR"] = selectedItems.value[curRow].RCVR_ADDR;
      rowData["RCVR_DETAIL_ADDR"] = selectedItems.value[curRow].RCVR_DETAIL_ADDR;
      rowData["RCVR_TEL"] = selectedItems.value[curRow].RCVR_TEL + "";
      rowData["ITEM_NM"] = selectedItems.value[curRow].ITEM_NM;
      rowData["DLV_MSG1"] = selectedItems.value[curRow].DLV_MSG1;
      rowData["OUT_REQ_DT"] = selectedItems.value[curRow].OUT_REQ_DT;
      rowData["ZIP_NO"] = selectedItems.value[curRow].ZIP_NO + "";
      rowData["DATA_SENDER_NM"] = selectedItems.value[curRow].DATA_SENDER_NM;
    }
    //추가접수인 경우
    if (addFlag !== "N") {
      rowData["PAGE_VAL"] = selectedItems.value[curRow].PAGE_VAL;
      rowData["PARCEL_BOX_TY"] = openInvoiceModal.boxTypeInfo;
    }
    //추천박스로 접수 인경우, 주문건별 추천박스구분값으로 송장 접수되어야함.
    if (chkOptionType1 === "02") {
      rowData["PARCEL_BOX_TY"] = selectedItems.value[curRow].PARCEL_BOX_TY;
      rowData["TOTALPAGE"] = selectedItems.value[curRow].TOTALPAGE;
    }

    packGridData.set(packSeq, [...(packGridData.get(packSeq) ?? []), ...[rowData]]);
  }

  packList = [...packGridData.keys()].filter((value, index, self) => {
    return self.indexOf(value) === index;
  });

  /** 작업 분할 */
  for (let i = 0; i < Math.ceil(packGridData.size / JOB_MAX_COUNT); i++) {
    jobs.push(packList.slice(i * JOB_MAX_COUNT, (i + 1) * JOB_MAX_COUNT));
  }

  let url =
    useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY == "01"
      ? "/WMSOP642/DlvInvcNoOrderTotal_rn.action" // 일반출고
      : "/WMSOP642/DlvShipmentRtn_rn.action"; // 반품

  WorkingDlvSend(url, jobs, packGridData, dlvData, addFlag);
}

/* 송장추가접수 */
function additionalInvoiceSubmission() {
  openInvoiceModal.on = true;
  openInvoiceModal.value = {
    selectedItems: selectedItems.value,
    saveEvent: courierDeliveryReception,
    closeEvent: () => {
      openInvoiceModal.on = false;
    },
  };
}

/* 고객주소수정 */
function fn_modCustInfo() {
  if (selectedItems.value.length === undefined || selectedItems.value.length === 0) {
    useToast().warning(t("common-toast.select-data-to-save"));
    return;
  } else {
    openChangeCustomerInfo.value.changeCustomerInfo.open = true;
    openChangeCustomerInfo.value.changeCustomerInfo.currentRowData = selectedItems.value;
  }
}

function excelExport() {
  if (gridData.value.result.list === undefined || gridData.value.result.list.length === 0) {
    return useToast().warning(t("common-toast.no-data-found"));
  }
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.delivery-receipt-management(API)"),
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}

/* DAS자료조회 */
function fn_deviceIfList() {
  const url = "/POP-WMSOP640";
  const width = "1280";
  const height = "700";
  UtilService.cfn_openPop2(url, "fn_Popup", width, height, false);
}

/* DAS자료생성 */
async function fn_deviceIfSend() {
  let comTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;

  if (!selectedItems.value.length) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  if (!useSelectedDataStore().getSelectedModalData().owner.CUST_ID) {
    useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.owner") }));
    return;
  }

  if (!comTy) {
    useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.delivery-company") }));
    return;
  }

  if (!useSearchConditionStore().getSearchInputValue().vrSrchOrdDegree) {
    useToast().warning(t("common-toast.please-select-the-order-in-which-DAS-data-will-be-generated"));
    return;
  }

  await useConfirmStore().confirm(t("confirm-message.do-you-want-to-proceed-with-DAS-data-generation"), t("button-name.confirm"));

  //롯데택배 OR CJ 대한통운 구분 추가 23.08.07 SUMMER
  let url = "";
  if (comTy == "04") {
    url = "/WMSOP640/deviceIfSend_rn.action";
  } else {
    url = "/WMSOP640/deviceIfSendV2_rn.action";
  }

  const searchConditions = SEARCH_INPUT;
  let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
  for (let curRow = 0; curRow < selectedItems.value.length; curRow++) {
    apiParams["SPDCOL_INVC_NO" + [curRow]] = selectedItems.value[curRow].INVC_NO || "";
  }

  apiParams.tmpCnt = selectedItems.value.length;
  apiParams.vrParcelComTy = comTy;

  const res = await ApiService.postApi(url, apiParams, {});

  if (res.status) {
    if (res.result.errCnt === 0) {
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      useToast().success(res.result.MSG);
    } else {
      useToast().error(res.result.MSG);
    }
  }
}

function fn_dlvShipmentValid_HJ() {
  let valid = true;
  let notEmptyColList = new Array();

  // 필수값 입력 유효성검사
  if (!useSearchConditionStore().getSearchInputValue().COM_DLV_DIV) {
    notEmptyColList.push(t("input-title.delivery-type"));
  }

  if (!useSearchConditionStore().getSearchInputValue().COM_PAY_CON) {
    notEmptyColList.push(t("input-title.terms-of-payment"));
  }

  if (!useSearchConditionStore().getSearchInputValue().COM_BOX_TYP) {
    notEmptyColList.push(t("input-title.box-classification"));
  }

  if (notEmptyColList.length > 0) {
    useToast().warning(t("common-toast.no-search-input-item", { message: notEmptyColList.join(",") }));
    valid = false;
  }

  let chkOptionType1 = UtilService.cfn_trim(useSearchConditionStore().getSearchInputValue().chkOptionType1);
  if (chkOptionType1 != "") {
    useToast().warning(t("common-toast.for-hanjin-the-option-is-not-available"));
    valid = false;
  }

  return valid;
}

/* 동시성 제약  */
let CONCURFLAG = false;
/**
 * 송장접수(fn_dlvShipment) 유효성검사
 *
 * @param {string} addFlag: 추가송장 여부 (Y, N)
 * @param {string} postFlag: 선/후 송장발행 여부 (Y, N) - 대한통운
 */
async function fn_dlvShipmentValidation(addFlag: any, postFlag?: any) {
  //동시성제약 확인 되었을경우, 송장 접수 전에 해당화면 리플레쉬 필요
  if (CONCURFLAG) {
    useToast().warning(t("common-toast.simultaneous-constraints-were-identified-in-the-previous-operation")) + "\n\n" + useToast().warning(t("common-toast.the-data-will-be-required-again"));
    CONCURFLAG = false;
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    return false;
  }

  //대화물류 2층,3층 차수구분 제외
  if (!(UtilService.getCurrentLocation() == "0000003721" || UtilService.getCurrentLocation() == "0000003722") && useOptionDataStore().getOptionData().vrSrchOrdDegree == "") {
    useToast().warning(t("common-toast.please-select-the-order"));
    return false;
  }
  if (useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY == "") {
    useToast().warning(t("common-toast.please-select-the-delivery-category"));
    return false;
  }
  if (!useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY_SEQ) {
    useToast().warning(t("common-toast.please-select-who-you-want-to-send"));
    return false;
  }
  /* 그리드에서 송화인 정보 가져오기 */
  if (UtilService.isEmptyObject(dlvSenderInfoInput.value)) {
    useToast().warning(t("common-toast.please-select-who-you-want-to-send"));
    return false;
  }
  if (useSearchConditionStore().getSearchInputValue().vrSrchMutiPackingYn !== "") {
    useToast().warning(t("common-toast.please-select-the-whole-whether-to-combine-the-invoice-output-or-not"));
    return false;
  }

  /*택배사 설정 구분자*/
  let comTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;
  if (addFlag == "Y") {
    //추가송장접수
    if (useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY == "02") {
      useToast().warning(t("common-toast.please-select-the-general-receipt-category"));
      return false;
    }
  } else {
    if (
      useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom != useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo ||
      useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom != useSearchConditionStore().getSearchInputValue().vrSrchOrdDegreeDate
    ) {
      useToast().warning(t("common-toast.please-select-the-same-delivery-date-and-order-date"));
      return false;
    }
  }
  if (useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY == "") {
    useToast().warning(t("common-toast.please-select-receiving-classification"));
    return false;
  }
  if (useSearchConditionStore().getSearchInputValue().PARCEL_PAY_TY == "") {
    useToast().warning(t("common-toast.please-select-freight-classification"));
    return false;
  }
  if (useSearchConditionStore().getSearchInputValue().PARCEL_ETC_TY == "") {
    useToast().warning(t("common-toast.please-select-Transportation-classification"));
    return false;
  }

  /*옵션1*/
  let chkOptionType1 = useSearchConditionStore().getSearchInputValue().chkOptionType1;
  if (chkOptionType1 != "02") {
    //추천박스로 접수 인경우,
    if (useSearchConditionStore().getSearchInputValue().PARCEL_BOX_TY == "") {
      useToast().warning(t("common-toast.please-select-box-classification"));
      return false;
    }
  }

  /*택배사 특징 처리*/
  if (comTy != undefined && comTy == "06") {
    //로젠 택배
    if (useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY == "02") {
      //반품인경우,
      let payTy = useSearchConditionStore().getSearchInputValue().PARCEL_PAY_TY;
      if (payTy != undefined && payTy == "030") {
        //030: 신용인 경우,
        useToast().warning(t("common-toast.only-pay-in-advance-or-on-delivery"));
        return false;
      }
    }
  }

  let arrMC_SPD_CHK_SET = [];
  let nRow = selectedItems.value.length;

  /*원주문번호별 체크용*/
  let chkOrdIdx = -1; //원주문번호별 비교기준 index
  let diffQty = 0; //원주문번호별 다른 수취인정보수
  let diffOrdIdx = -1; //원주문번호별 다른 수취인정보 대표 index
  let confirmText1 = "";
  for (let curRow = 0; curRow < nRow; curRow++) {
    if (selectedItems.value.length !== 0) {
      let chk_SPDCOL_ITEM_NM = selectedItems.value[curRow].ITEM_NM;
      if (chk_SPDCOL_ITEM_NM === "") {
        useToast().warning(t("common-toast.required-value-product") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
        return false;
      }

      let chk_SPDCOL_RCVR_NM = selectedItems.value[curRow].RCVR_NM;
      if (chk_SPDCOL_RCVR_NM == "") {
        useToast().warning(t("common-toast.required-value-customer-name") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
        return false;
      }

      let chk_SPDCOL_ADDR = selectedItems.value[curRow].ADDR;
      if (chk_SPDCOL_ADDR == "") {
        useToast().warning(t("common-toast.required-value-address") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
        return false;
      }

      let chk_SPDCOL_ADDR_DETAIL_ADDR = selectedItems.value[curRow].RCVR_DETAIL_ADDR;
      if (chk_SPDCOL_ADDR_DETAIL_ADDR == "") {
        useToast().warning(t("common-toast.required-value-detailed-address") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
        return false;
      }

      let chk_SPDCOL_RCVR_TEL = selectedItems.value[curRow].RCVR_TEL;
      if (chk_SPDCOL_RCVR_TEL == "") {
        useToast().warning(t("common-toast.required-value-phone-number-1") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
        return false;
      }

      let chk_SPDCOL_ORD_QTY = selectedItems.value[curRow].ORD_QTY;
      if (chk_SPDCOL_ORD_QTY === "") {
        useToast().warning(t("common-toast.the-quantity-is-zero") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
        return false;
      }

      let chk_SPDCOL_DLV_COMP_CD = selectedItems.value[curRow].DLV_COMP_CD;
      if (UtilService.getCurrentLocation() !== "0000003200") {
        if (chk_SPDCOL_DLV_COMP_CD != "" && chk_SPDCOL_DLV_COMP_CD != comTy) {
          useToast().warning(t("common-toast.different-from-the-courier-company") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
          return false;
        }
      }

      /*택배구분 : 정상 , 반품  */
      if (useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY == "01") {
        //일반출고인 경우,
        let chk_SPDCOL_ADD_FLAG = selectedItems.value[curRow].INVC_ADD_FLAG;
        if (chk_SPDCOL_ADD_FLAG != "" && chk_SPDCOL_ADD_FLAG == "추가") {
          useToast().warning(t("common-toast.please-select-the-ROW-of-the-original-statement") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
          // useToast().warning(t("common-toast.please-select-the-ROW-of-the-original-statement")) + " (" + selectedItems.value[curRow].RNUM + useToast().warning(t("common-toast.nth-line"));
          return false;
        }

        let chk_SPDCOL_PARCEL_ORD_TY = useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY;
        if (chk_SPDCOL_PARCEL_ORD_TY != "" && chk_SPDCOL_PARCEL_ORD_TY == "02") {
          useToast().warning(t("common-toast.return-voice") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
          return false;
        }
      } else {
        //반품인 경우 ,
        let chk_SPDCOL_INVC_NO = selectedItems.value[curRow].INVC_NO;
        if (chk_SPDCOL_INVC_NO == "") {
          useToast().warning(t("common-toast.no-invoice-history-invoice number-has-been-shipped-normally") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
          return false;
        }

        let chk_SPDCOL_PARCEL_ORD_TY = useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY;
        if (chk_SPDCOL_PARCEL_ORD_TY != "" && chk_SPDCOL_PARCEL_ORD_TY == "02") {
          useToast().warning(t("common-toast.please-select-the-ROW-for-the-circumferential-inquiry") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
          return false;
        }

        let chk_SPDCOL_PARCEL_COM_TY_SEQ = selectedItems.value[curRow].PARCEL_COM_TY_SEQ;
        let chk_SSPDCOL_SENDR_NM = selectedItems.value[curRow].SENDR_NM;
        let parcelComTySeq = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY_SEQ;
        if (chk_SPDCOL_DLV_COMP_CD != "" && chk_SPDCOL_DLV_COMP_CD == comTy && chk_SPDCOL_PARCEL_COM_TY_SEQ != "" && chk_SPDCOL_PARCEL_COM_TY_SEQ != parcelComTySeq) {
          useToast().warning(
            t("common-toast.the-signer-information-you-receive-for-return-should-be-the-same", { message: chk_SSPDCOL_SENDR_NM }) + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line")
          );
          return false;
        }
      }

      /*추가송장의 경우*/
      if (addFlag == "Y") {
        //추가송장접수 시, 원주문번호 여부 확인
        let chk_SPDCOL_INVC_NO = selectedItems.value[curRow].INVC_NO;
        if (chk_SPDCOL_INVC_NO == "") {
          useToast().warning(t("common-toast.there-is-no-invoice-number") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
          return false;
        }
      }

      /*옵션1에 따른 유효성*/
      if (chkOptionType1 == "02") {
        //추천박스로 접수 인경우,
        let chk_SPDCOL_POOL_PARCEL_BOX_TY = selectedItems.value[curRow].POOL_PARCEL_BOX_TY;
        if (chk_SPDCOL_POOL_PARCEL_BOX_TY == "") {
          useToast().warning(t("common-toast.there-is-no-delivery-box-division-corresponding") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
          return false;
        }
      } else if (chkOptionType1 == "01") {
        if (postFlag !== "Y") {
          //[후]송장접수 제외.
          if (chkOrdIdx !== -1 && selectedItems.value[chkOrdIdx].ORG_ORD_ID === selectedItems.value[curRow].ORG_ORD_ID) {
            if (
              selectedItems.value[chkOrdIdx].DATA_SENDER_NM != selectedItems.value[curRow].DATA_SENDER_NM ||
              selectedItems.value[chkOrdIdx].RCVR_NM != selectedItems.value[curRow].RCVR_NM ||
              selectedItems.value[chkOrdIdx].RCVR_ADDR != selectedItems.value[curRow].RCVR_ADDR ||
              selectedItems.value[chkOrdIdx].RCVR_TEL != selectedItems.value[curRow].RCVR_TEL
            ) {
              if (diffOrdIdx === -1 || selectedItems.value[diffOrdIdx].ORG_ORD_ID !== selectedItems.value[chkOrdIdx].ORG_ORD_ID) {
                diffOrdIdx = chkOrdIdx;
                diffQty++;
                if (diffQty < 11) {
                  confirmText1 += "\n " + diffQty + t("confirm-message.original-order-number") + selectedItems.value[diffOrdIdx].ORG_ORD_ID;
                } else if (diffQty === 11) {
                  confirmText1 += t("confirm-message.other-than");
                }
              }
            }
          }
          chkOrdIdx = curRow;
        }
      }

      arrMC_SPD_CHK_SET.push(curRow);
    }
  }
  if (diffQty > 0) {
    let confirmText = t("confirm-message.different-recipient-information-in-the-same-original-text-number-do-you-want-to-accept-it", diffQty) + confirmText1;
    if (!confirm(confirmText)) {
      return;
    }
    try {
      await useConfirmStore().confirm(confirmText, t("button-name.confirm"));
    } catch {
      return;
    }
  }
  if (arrMC_SPD_CHK_SET.length == 0) {
    useToast().warning(t("common-toast.no-selected-item"));
    return false;
  }

  return true;
}

/**
 * 택배사별 접수 옵션 맵핑
 */
function GetDlvInfo(comTy: any, dlvParam: any) {
  const idx = dlvSenderInfoInput.value.findIndex((dt: any) => dt.PARCEL_COM_TY_SEQ == useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY_SEQ);
  const senderinf = dlvSenderInfoInput.value[idx];

  switch (comTy) {
    case "05":
      dlvParam["EDI_CODE"] = senderinf["CUSTOMER_KEY_01"];
      dlvParam["CSR_NUM"] = senderinf["CUSTOMER_KEY_02"];
      dlvParam["API_KEY"] = senderinf["CUSTOMER_KEY_03"];
      dlvParam["SENDR_ZIP_NO"] = senderinf["SENDR_ZIP_NO"];
      dlvParam["SENDR_ADDR"] = senderinf["SENDR_ADDR"];
      dlvParam["SENDR_ADDR1"] = senderinf["SENDR_ADDR1"];
      dlvParam["SENDR_ADDR2"] = senderinf["SENDR_ADDR2"];
      dlvParam["SENDR_NM"] = senderinf["SENDR_NM"];
      dlvParam["SENDR_TEL_NO"] = senderinf["SENDR_TEL_NO"];
      dlvParam["BOX_TYP"] = senderinf["SENDR_TEL_NO"];
      dlvParam["COM_DLV_DIV"] = useSearchConditionStore().getSearchInputValue().COM_DLV_DIV;
      dlvParam["COM_PAY_CON"] = useSearchConditionStore().getSearchInputValue().COM_PAY_CON;
      dlvParam["COM_BOX_TYP"] = useSearchConditionStore().getSearchInputValue().COM_BOX_TYP;
      break;
  }
  return dlvParam;
}

/**
 * 택배배송접수 (대용량 처리)
 */
async function WorkingDlvSend(url: any, jobs: any, packGridData: any, dlvData: any, addFlag: any) {
  function* Worker(url: any, fnc: any, iter: any) {
    for (const i of iter) {
      yield i instanceof Promise ? i.then(url, fnc) : fnc(url, i);
    }

    if (addFlag === "Y") {
      openInvoiceModal.on = false;
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }

  let dataSet = new Array();

  /** 1. 작업 단위 순회 (합포 1000건 단위) */
  for (const job of jobs) {
    let workSeq = 0 as any;
    let ordTypeStTCnt = 0 as any;
    let formData = new FormData();
    let jobCnt = dlvData.DLV_ADD_CNT;

    /** 2. 합포 단위 순회 */
    for (const denseSeq of job) {
      let packData = packGridData.get(denseSeq);

      /** 3. 주문 단위 순회 (Grid 행 단위) */
      for (let data of packData) {
        // FormData 생성
        for (let key of Object.keys(data)) {
          formData.append(`${key}${workSeq}`, data[key]);

          if (key == "TYPE_ST" && data[key] == "T") {
            ordTypeStTCnt++;
          }
        }
        workSeq++; //selectIds
      }
    }

    /** 배송정보 append */
    for (let key of Object.keys(dlvData)) {
      formData.append(key, dlvData[key]);
    }
    formData.append(`invcJobCnt`, jobCnt); //invcJobCnt : 송장갯수
    formData.append(`selectIds`, workSeq); //selectIds
    formData.append(`ordTypeStTCnt`, ordTypeStTCnt); //ordTypeStTCnt
    dataSet.push(formData);
  }

  try {
    const workCnt = dataSet.length; // 작업단위수
    let successCnt = 0;

    for await (const workRtn of Worker(url, SendData, dataSet)) {
      successCnt++;
      if (workCnt == successCnt) {
        if (workRtn.result.header == "Y") {
          useToast().success(workRtn.result.message + "\n\n" + t("common-toast.the-data-will-be-required-again"));
        } else {
          if (workRtn.header == "E99") {
            CONCURFLAG = true; //동시성제약 확인
            useToast().warning(t("common-toast.guide")) + "\n\n" + workRtn.result.message;
          }
        }

        useSearchConditionStore().setAvailableSearchBySearchCondition(true); // 재조회
      }
    }
  } catch (e) {
    alert(e);
    return;
  }
}

/**
 * 택배송장 등록
 */
async function SendData(url: any, data: any) {
  return await ApiService.postApi(url, {}, data);
}

/* 택배송장출력 */
async function printDeliveryInvoice() {
  openModal();
}

/* 택배송장출력 모달 호출 */
/* [선]송장출력 으로 호출되었는지를 구분하기 위함 : fn_dlvInvcItemNmSetInfo_poiNo_params */
let fn_dlvInvcItemNmSetInfo_poiNo_params = null as any;
async function openModal() {
  let isCheckPrintCount = false;
  const lcId = UtilService.getCurrentLocation();
  const custId = useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "";
  const localStorageParseData = JSON.parse(localStorage.getItem("WINUS_OPTIONS") || "{}");
  let clickFunction: any;

  // 경고 출력 (화면설정: 송장재출력경고)
  if (Object.hasOwn(localStorageParseData, lcId) && Object.hasOwn(localStorageParseData[lcId], custId)) {
    isCheckPrintCount = localStorageParseData[lcId][custId].CheckPrinted;

    if (isCheckPrintCount) {
      let invValidData = ValidationInvcPrint();

      if (!invValidData["valid"]) {
        let msg = invValidData["msg"];
        let rowCnt = invValidData["rowIdxList"].length;
        let rows = rowCnt > 10 ? invValidData["rowIdxList"].splice(0, 10).join(",") + `외 ${rowCnt - 10}건` : invValidData["rowIdxList"].join(",");

        await useConfirmStore().confirm(t("confirm-message.do-you-want-to-continue", { msg: msg, rows: rows }), t("button-name.confirm"));
      }
    }
  }

  if (fn_dlvInvcItemNmSetInfo_poiNo_params) {
    clickFunction = fn_dlvInvcItemNmSetInfo; // [선]송장출력
  } else {
    clickFunction = fn_labelDataMain; // 송장출력
  }

  let isChkOption102 = false;
  let comTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;
  /* 택배송장출력 모달 - 출력순서 */
  if (dlvSenderInfoInput.value.OPT_1 === "02" || useSearchConditionStore().getSearchInputValue().chkOptionType102) {
    comTyOptions.value.push({ code: "P01", poolNmYn: "Y", codeNm: "(8-1) [물류용기표기] 박스CBM>로케이션>상품코드>수량" });
    comTyOptions.value.push({ code: "P02", poolNmYn: "Y", codeNm: "(8-2) [물류용기표기] 박스CBM>상품명>수량" });
    isChkOption102 = true;
  } else {
    comTyOptions.value.push({ code: "L01", codeNm: "(1-1) 로케이션  > 상품코드 > 수량" });
    comTyOptions.value.push({ code: "L02", codeNm: "(1-2) 로케이션  > 상품명 > 수량" });
    comTyOptions.value.push({ code: "C01", codeNm: "(2-1) 상품코드  > 로케이션 > 수량" });
    comTyOptions.value.push({ code: "C02", codeNm: "(2-2) 상품코드  > 수량 > 상품명" });
    comTyOptions.value.push({ code: "N01", codeNm: "(3-1) 상품명 > 수량" });
    comTyOptions.value.push({ code: "Q01", codeNm: "(4-1) 품목수 > 로케이션 > 상품코드 > 상품명 > 전체수량 > 수량" });
    comTyOptions.value.push({ code: "Q02", codeNm: "(4-2) 품목수 > 상품명 > 수량" });
    comTyOptions.value.push({ code: "V01", codeNm: "(5-1) 운송장번호 > 상품명 > 수량" });
    comTyOptions.value.push({ code: "V02", codeNm: "(5-2) 운송장번호 > 로케이션 > 상품명 > 수량" });
    comTyOptions.value.push({ code: "M01", codeNm: "(6-1) 배송메세지  > 상품명 > 수량" });
    comTyOptions.value.push({ code: "F01", codeNm: "(9-1) 택배분류코드 > 상품코드 > 상품명 > 수량" });
    comTyOptions.value.push({ code: "O01", codeNm: "(10-1) 주문번호 > 상품명 > 수량" });
    isChkOption102 = false;
  }

  /* 택배송장출력 모달 - 송장양식 */
  const invoiceFormOptions = reactive({ value: [] as any });
  if (comTy === "04") {
    invoiceFormOptions.value.push({ code: "", codeNm: "5인치 (A)" });
    invoiceFormOptions.value.push({ code: "8A", codeNm: "8인치 (A)" });
  }
  if (comTy === "08") {
    invoiceFormOptions.value.push({ code: "", codeNm: "8인치 (D)" });
    invoiceFormOptions.value.push({ code: "5E", codeNm: "5인치 (E)" });
  }
  openDeliveryInvoiceModal.value = {
    clickFunction: () => {
      clickFunction();
    },
    saveUrl: "/WMSOP642/dlvPrintPoiNoUpdate_rn.action", // api미완
    selectedItems: selectedItems.value,
    comTy: useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY,
    comTyOptions: comTyOptions.value,
    comTyDefaultOptions: "L01",
    isChkOption102,
    invoiceFormOptions: invoiceFormOptions.value,
    closeEvent: () => {
      openDeliveryInvoiceModal.on = false;
      comTyOptions.value = [];
    },
    itemAllYn: dlvSenderInfoInput.value.ITEM_ALL_YN,
  };

  openDeliveryInvoiceModal.on = true;
}

/**
 * 송장 출력 (OZ Viewer 호출)
 *
 * @param {*} poiNo: 송장번호
 * @param {string} orderFlag: 송장 출력 정렬 순서 선택값
 * @param {*} invcItemNmList
 * @returns
 */
async function fn_labelPrintPop(poiNo: any, orderFlag: any, invcItemNmList = [] as any[]) {
  //jsp 파라미터
  let addStr = "";
  let title = "운송장 출력";
  const comTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;

  if (comTy == "04") {
    title += "(대한통운)";
  } else if (comTy == "08") {
    addStr = "_LT";
    title += "(롯데택배)";
  } else if (comTy == "06") {
    addStr = "_LG";
    title += "(로젠택배)";
  } else if (comTy == "05") {
    addStr = "_HJ";
    title += "(한진택배)";
  }

  let ozrAddStr = addStr;

  //odi파라미터
  let itemAllYn = ""; //운송장 : 전체상품출력여부
  let printType = ""; //운송장 : 대표송장양식타입
  let fromDate = ""; //출고예정일
  let toDate = ""; //출고예정일
  let poolYn = "";
  let odiParam = new Map();

  if (openDeliveryInvoiceModal.orderFlag.includes("P")) {
    poolYn = "Y"; //물류용기 사용여부
  }

  if (comTy == "04" || comTy == "08") {
    printType = openDeliveryInvoiceModal.invoiceOptionInfo ?? "";
  } else if (comTy == "05") {
    fromDate = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom; //출고예정일
    toDate = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo; //출고예정일
    odiParam.set("COM_PAY_CON", useSearchConditionStore().getSearchInputValue().COM_PAY_CON);
    odiParam.set("ORG_ORD_ID", useSearchConditionStore().getSearchInputValue().vrSrchOrgOrdId); //원주문번호
    odiParam.set("ORD_PH", useSearchConditionStore().getSearchInputValue().vrSrchOrderPhase); //작업구분(H)
    odiParam.set("ORD_PD", useSearchConditionStore().getSearchInputValue().vrSrchOrderPhaseDetail); //작업구분(D)
    odiParam.set("PARCEL_COM_TY", useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY); //택배구분
    odiParam.set("PARCEL_COM_TY_SEQ", useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY_SEQ); //택배구분 순번
    odiParam.set("PARCEL_ORD_TY", useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY); //접수구분 (일반,반품)
    odiParam.set("PARCEL_PAY_TY", useSearchConditionStore().getSearchInputValue().PARCEL_PAY_TY || ""); //운임구분 (신용,선불,착불)
    odiParam.set("PARCEL_BOX_TY", useSearchConditionStore().getSearchInputValue().PARCEL_BOX_TY || ""); //박스구분 (대,중,소..)
    odiParam.set("PARCEL_ETC_TY", useSearchConditionStore().getSearchInputValue().PARCEL_ETC_TY || ""); //운송구분 (택배,설치..)
  }

  let checked = openDeliveryInvoiceModal.checkedValueInfo;
  if (checked) {
    itemAllYn = "Y";
  } else {
    itemAllYn = "N";
  }
  if (printType != "") {
    ozrAddStr += "_" + printType;
  }

  let OzODIName = "WINUSCJ0002";
  let OzFileName = "WINUSCJ0002";
  let fileName = OzFileName;
  let reportName = OzFileName + ozrAddStr + ".ozr";
  let odiName = OzODIName + addStr;

  //택배 송장별 상품명 명칭 정보
  let invcItemNmListCnt = invcItemNmList.length;
  let ozReport = new OZReport({
    title: title,
    fileName: fileName,
    reportName: reportName,
    odiName: odiName,
    printOnce: true,
  } as IOZReportArgument);

  odiParam.set("SS_SVC_NO", UtilService.getCurrentLocation());
  odiParam.set("CUST_ID", useSelectedDataStore().getSelectedModalData().owner.CUST_ID);
  odiParam.set("FROM_DATE", fromDate);
  odiParam.set("TO_DATE", toDate);
  odiParam.set("POI_NO", poiNo);
  odiParam.set("ORDER_TY", orderFlag);
  odiParam.set("ITEM_ALL_YN", itemAllYn);
  odiParam.set("REP_PRINT_TYPE", printType);
  odiParam.set("POOL_YN", poolYn || "");
  odiParam.set("INVC_ITEMNM_GB_CNT", invcItemNmListCnt);

  for (let i = 0; i < invcItemNmListCnt; i++) {
    odiParam.set(`INVC_ITEMNM_GB_${i + 1}`, invcItemNmList[i].INVC_ITEMNM_GB);
  }

  ozReport.SetOdiParam(Object.fromEntries(odiParam));

  var asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_InPopup", "1000", "800");
  asppop!.focus();

  openDeliveryInvoiceModal.on = false; // 송장출력 팝업 닫기.
}

/**
 * 택배송장출력
 */
async function fn_labelDataMain() {
  let nRow = selectedItems.value.length;
  let tmpCnt = 0;
  let comTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;
  /* 택배송장출력 - 출력순서 선택 값 */
  let orderFlag = openDeliveryInvoiceModal.orderFlag;

  /* 유효성검사 */
  if (!fn_labelDataMainValidation(orderFlag)) {
    return;
  }

  await useConfirmStore().confirm(t("confirm-message.print-it"), t("button-name.confirm"));

  const bodyData: any = {
    selectIds: selectedItems.value.length + "",
    PARCEL_COM_TY: useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY,
    PARCEL_COM_TY_SEQ: useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY_SEQ,
    ORDER_FLAG: orderFlag,
    CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
  };

  for (let curRow = 0; curRow < nRow; curRow++) {
    if (selectedItems.value.length !== 0) {
      if (selectedItems.value[curRow].DLV_COMP_CD && selectedItems.value[curRow].DLV_COMP_CD !== comTy) {
        useToast().warning(t("common-toast.a-line-with-a-different-parcel-category") + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
        return;
      }
      bodyData["ORD_ID" + [tmpCnt]] = selectedItems.value[curRow].ORD_ID + "";
      bodyData["ORD_SEQ" + [tmpCnt]] = selectedItems.value[curRow].ORD_SEQ + "";
      bodyData["INVC_NO" + [tmpCnt]] = selectedItems.value[curRow].INVC_NO + "";
      tmpCnt++;
    }
  }

  const res = await ApiService.postApi("/WMSOP642/dlvPrintPoiNoUpdate_rn.action", {}, bodyData);
  if (res.status) {
    if ((Object.hasOwn(res.result, "errCnt") && res.result.errCnt > 0) || res.result.POI_NO_YN === "N") {
      useToast().error(res.MSG);
      return;
    }

    //ozreport 호출
    fn_labelPrintPop(res.result.POI_NO, orderFlag, res.result.INVC_ITEMNM_INFO); // 송장 출력
  }
}

function ValidationInvcPrint() {
  let nRow = selectedItems.value.length;
  let valid = true;
  let inValidRows = new Array();

  for (let rowIdx = 0; rowIdx < nRow; rowIdx++) {
    if (selectedItems.value.length !== 0) {
      if (selectedItems.value[rowIdx].PRINT_CNT > 0) {
        inValidRows.push(selectedItems.value[rowIdx].RNUM);
        valid = false;
      }
    }
  }

  return {
    valid: valid,
    msg: t("common-toast.orders-with-a-history-of-invoice-output-are-included"),
    rowIdxList: inValidRows,
  };
}

/**
 * 송장출력 유효성 검사
 * fn_labelDataMain
 *
 * @param {string} orderFlag: 송장 출력 정렬 순서 선택값
 */
function fn_labelDataMainValidation(orderFlag: any) {
  let parcelComTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;
  if (parcelComTy == "") {
    useToast().warning(t("common-toast.please-select-the-delivery-category"));
    return false;
  }
  if (orderFlag == "" || orderFlag == null) {
    useToast().warning(t("common-toast.please-select-the-order-the-invoice-output"));
    return false;
  }

  let arrMC_SPD_CHK_SET = [];
  let nRow = selectedItems.value.length;

  for (let curRow = 0; curRow < nRow; curRow++) {
    if (selectedItems.value.length !== 0) {
      let chk_SPDCOL_INVC_NO = selectedItems.value[curRow].INVC_NO;
      if (chk_SPDCOL_INVC_NO === "") {
        useToast().warning(t("common-toast.required-value-invoice-number") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
        return false;
      }

      let chk_SPDCOL_OPT_1 = useSearchConditionStore().getSearchInputValue().chkOptionType101;
      let orderFlagCD = orderFlag.substr(0, 1);
      if (chk_SPDCOL_OPT_1 !== "02" && orderFlagCD === "P") {
        useToast().warning(t("common-toast.should-be-accepted-with-an-optional-recommendation-box") + " (" + selectedItems.value[curRow].RNUM + t("common-toast.nth-line"));
        return false;
      }
      arrMC_SPD_CHK_SET.push(curRow);
    }
  }

  if (arrMC_SPD_CHK_SET.length === 0) {
    useToast().warning(t("common-toast.no-selected-item"));
    return false;
  }
  return true;
}

/**
 * [선] 송장출력
 */
async function fn_dlvInvcItemNmSetInfo() {
  const orderFlag = openDeliveryInvoiceModal.orderFlag;

  /* 유효성검사 */
  if (!fn_dlvInvcItemNmSetInfoValidation(orderFlag)) {
    return;
  }

  await useConfirmStore().confirm(t("confirm-message.print-it"), t("button-name.confirm"));

  const bodyData: any = {
    PARCEL_COM_TY: useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY,
    PARCEL_COM_TY_SEQ: useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY_SEQ,
    ORDER_FLAG: orderFlag,
    CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
  };

  const res = await ApiService.postApi("/WMSOP642/dlvInvcItemNmSetInfo_rn.action", {}, bodyData); // api미완
  if (res.status) {
    if ((Object.hasOwn(res.result, "errCnt") && res.result.errCnt > 0) || !res.result.INVC_ITEMNM_INFO) {
      useToast().warning(t("common-toast.error-in-processing"));
      return;
    }

    fn_labelPrintPop(fn_dlvInvcItemNmSetInfo_poiNo_params, orderFlag, res.result.INVC_ITEMNM_INFO);
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  } else {
    useToast().error(res.result.MSG);
  }
}

/**
 * [선] 송장출력 유효성 검사
 *
 * @param {stirng} orderFlag: 송장 출력 정렬 순서 선택값
 */
function fn_dlvInvcItemNmSetInfoValidation(orderFlag: any) {
  let parcelComTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;
  if (parcelComTy == "") {
    useToast().warning(t("common-toast.select-parcel-com-ty"));
    return false;
  }
  if (orderFlag == "" || orderFlag == null) {
    useToast().warning(t("common-toast.please-select-the-order-the-invoice-output"));
    return false;
  }

  let arrMC_SPD_CHK_SET = [];
  let nRow = selectedItems.value.length;

  for (let curRow = 0; curRow < nRow; curRow++) {
    if (selectedItems.value.length !== 0) {
      const orderFlagCD = orderFlag.substr(0, 1);
      if (selectedItems.value[curRow].OPT_1 !== "02" && orderFlagCD === "P") {
        useToast().warning(t("common-toast.dlvInvcItemNmSetInfoValidation-toast-04")) + selectedItems.value[curRow].RNUM + useToast().warning(t("common-toast.nth-line"));
        return false;
      }
      arrMC_SPD_CHK_SET.push(curRow);
    }
  }

  if (arrMC_SPD_CHK_SET.length == 0) {
    useToast().warning(t("grid-warning.no-selected"));
    return false;
  }
  return true;
}

/* 택배송장삭제 */
async function fn_dlvShipDelete() {
  try {
    const comTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY || "";

    /* 유효성검사 1 */
    if (!fn_dlvShipDeleteValidation()) {
      return;
    }
    /* 유효성검사 2 */
    for (let i = 0; selectedItems.value.length > i; i++) {
      if (!comTy && selectedItems.value[i].DLV_COMP_CD !== comTy) {
        useToast().warning(t("common-toast.parcel-com-ty-diif-row", { line: i + 1 }));
        return;
      }
    }

    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

    /* bodyData 셋팅 */
    const bodyData = {
      _fullpath: "",
      selectIds: String(selectedItems.value.length),
      PARCEL_COM_TY: comTy,
    } as any;

    for (let i = 0; selectedItems.value.length > i; i++) {
      bodyData["LC_ID" + [i]] = String(selectedItems.value[i].LC_ID || "");
      bodyData["CUST_ID" + [i]] = String(selectedItems.value[i].CUST_ID || "");
      bodyData["ORD_ID" + [i]] = String(selectedItems.value[i].ORD_ID || "");
      bodyData["ORD_SEQ" + [i]] = String(selectedItems.value[i].ORD_SEQ || "");
      bodyData["INVC_NO" + [i]] = String(selectedItems.value[i].INVC_NO || "");
    }

    /* api 요청 */
    const url = "/WMSOP642/DlvShipDelete_rn.action";
    const res = await ApiService.postApi(url, {}, bodyData);

    if (res.status) {
      if (res.result.header === "Y") {
        useToast().success(res.result.message);
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      } else {
        useToast().error("[처리오류]" + "\n" + res.result.message);
      }
    }
  } catch (e) {
    console.log(e);
  }
}

/**
 * 택배송장삭제 유효성 검사
 * fn_dlvShipDelete
 */
function fn_dlvShipDeleteValidation() {
  let comTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY; // 택배구분

  /* 조건 1 */
  if (!useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY) {
    useToast().warning(t("common-toast.select-parcel-com-ty"));
    return false;
  }

  /* 조건 2 */
  if (selectedItems.value.length === 0) {
    useToast().warning(t("common-toast.no-selected-item"));
    return false;
  }

  /* 조건 3 */
  for (let i = 0; selectedItems.value.length > i; i++) {
    const rowNum = selectedItems.value[i].RNUM;

    if (selectedItems.value[i].DLV_COMP_CD && selectedItems.value[i].DLV_COMP_CD !== comTy) {
      useToast().warning(t("common-toast.a-line-with-a-different-parcel-category") + rowNum + t("common-toast.nth-line"));
      return;
    }

    if (!selectedItems.value[i].INVC_NO) {
      useToast().warning(t("common-toast.no-invc-no", { line: rowNum }));
      return false;
    }
  }

  return true;
}

/**
 * [선]송장출력
 *
 * @param {string} addFlag : 추가송장 구분 (Y, N)
 * @param {stirng} divFlag : 분리송장 구분 (NORMAL or DIV)
 */
async function fn_dlvInvcNoPrintPrev(addFlag = "N", divFlag = "NORMAL") {
  fn_dlvInvcItemNmSetInfo_poiNo_params = null;
  //addFlag:송장추가구분, divFlag:분리송장구분: NORMAL or DIV
  let ordTypeStTCnt = 0;

  /*	택배사 설정 구분자
   *  01 우체국 | 04 CJ대한통운 | 05 한진택배 | 06 로젠택배 | 08 롯데택배 | 11 일양로지스 | 12 EMS | 13 DHL | 14 UPS
   */
  const comTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;

  /* divFlag */
  if (divFlag === "") {
    divFlag = "NORMAL";
  }

  //추천박스로 검수시, 강제 DIV 변환
  const chkOptionType1 = useSearchConditionStore().getSearchInputValue().chkOptionType101;
  if (addFlag == "N" && chkOptionType1 == "02") {
    divFlag = "DIV";
  } //1)택배배송접수&추천박스로 접수 인경우,

  /* 유효성검사 */
  for (let i = 0; selectedItems.value.length > i; i++) {
    if (useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY !== "01") {
      //일반출고
      useToast().warning(t("common-toast.only-normal-invc"));
      return;
    }
  }
  if (comTy === "05") {
    if (!fn_dlvShipmentValid_HJ() || !(await fn_dlvShipmentValidation(addFlag).then((data: any) => data))) {
      return;
    }
  } else {
    if (!(await fn_dlvShipmentValidation(addFlag).then((data: any) => data))) {
      return;
    }
  }

  const bodyData = {
    _fullpath: "",
  } as any;

  let parcelSeqYn = "N";
  if (comTy === "04" || comTy === "06" || comTy === "08") {
    parcelSeqYn = "Y";
  }
  bodyData.ADD_FLAG = addFlag;
  bodyData.DIV_FLAG = divFlag;
  bodyData.PARCEL_SEQ_YN = parcelSeqYn;
  bodyData.PARCEL_COM_TY = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;
  bodyData.PARCEL_COM_TY_SEQ = String(useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY_SEQ || "");
  bodyData.PARCEL_ORD_TY = useSearchConditionStore().getSearchInputValue().PARCEL_ORD_TY;
  bodyData.PARCEL_PAY_TY = useSearchConditionStore().getSearchInputValue().PARCEL_PAY_TY;

  if (useSearchConditionStore().getSearchInputValue().PARCEL_BOX_TY) {
    bodyData.PARCEL_BOX_TY = useSearchConditionStore().getSearchInputValue().PARCEL_BOX_TY;
  }
  if (useSearchConditionStore().getSearchInputValue().PARCEL_ETC_TY) {
    bodyData.PARCEL_ETC_TY = useSearchConditionStore().getSearchInputValue().PARCEL_ETC_TY;
  }
  if (useSearchConditionStore().getSearchInputValue().PARCEL_PAY_PRICE) {
    bodyData.PARCEL_PAY_PRICE = useSearchConditionStore().getSearchInputValue().PARCEL_PAY_PRICE.replaceAll(",", "");
  }

  /*옵션1*/
  if (chkOptionType1) {
    bodyData.OPT_1 = chkOptionType1;
  }

  // 한진택배 추가정보
  if (comTy === "05") {
    bodyData.FR_DATE = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
    bodyData.TO_DATE = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;
    bodyData.ORD_DEGREE = useSearchConditionStore().getSearchInputValue().vrSrchOrdDegree;
    bodyData.ORD_PH = useSearchConditionStore().getSearchInputValue().vrSrchOrderPhase;
    bodyData.ORD_PD = useSearchConditionStore().getSearchInputValue().vrSrchOrderPhaseDetail;

    /* 송화인 정보 셋팅*/
    bodyData.EDI_CODE = consignorData.CUSTOMER_KEY_01 || "";
    bodyData.CSR_NUM = consignorData.CUSTOMER_KEY_02 || "";
    bodyData.API_KEY = consignorData.CUSTOMER_KEY_03 || "";
    bodyData.SENDR_ZIP_NO = consignorData.SENDR_ZIP_NO || "";
    bodyData.SENDR_ADDR = consignorData.SENDR_ADDR || "";
    bodyData.SENDR_ADDR1 = consignorData.SENDR_ADDR1 || "";
    bodyData.SENDR_ADDR2 = consignorData.SENDR_ADDR2 || "";
    bodyData.SENDR_NM = consignorData.SENDR_NM || "";
    bodyData.SENDR_TEL_NO = consignorData.SENDR_TEL_NO || "";
    bodyData.BOX_TYP = consignorData.SENDR_TEL_NO || "";

    bodyData.COM_DLV_DIV = useSearchConditionStore().getSearchInputValue().COM_DLV_DIV;
    bodyData.COM_PAY_CON = useSearchConditionStore().getSearchInputValue().COM_PAY_CON;
    bodyData.COM_BOX_TYP = useSearchConditionStore().getSearchInputValue().PARCEL_BOX_TY;
  }

  //★★★★★★★★★★★★★ 20230125 (송장 최대 500개씩 우선 제약 )
  const countNum = 500;
  let alertBoolean = false;
  // Grid DataSet
  for (let i = 0; selectedItems.value.length > i; i++) {
    let chk_SPDCOL_DENSE_FLAG = selectedItems.value[i].DENSE_FLAG;

    if (selectedItems.value.length < countNum) {
      /*유효성 추가*/
      const chk_SPDCOL_INVC_NO = selectedItems.value[i].INVC_NO;
      if (chk_SPDCOL_INVC_NO) {
        useToast().warning(t("common-toast.already-done-invc-print", { line: i + 1 }));
        return;
      }
      bodyData["LC_ID" + [i]] = UtilService.getCurrentLocation();
      bodyData["CUST_ID" + [i]] = selectedItems.value[i].CUST_ID || "";
      bodyData["DENSE_FLAG" + [i]] = String(selectedItems.value[i].DENSE_FLAG || "");
      bodyData["PROC_FLAG" + [i]] = String(selectedItems.value[i].PROC_FLAG || "");
      if (comTy === "05") {
        bodyData["RCVR_NM" + [i]] = selectedItems.value[i].RCVR_NM || "";
        bodyData["RCVR_ADDR" + [i]] = selectedItems.value[i].RCVR_ADDR || "";
        bodyData["RCVR_DETAIL_ADDR" + [i]] = selectedItems.value[i].RCVR_DETAIL_ADDR || "";
        bodyData["RCVR_TEL" + [i]] = selectedItems.value[i].RCVR_TEL || "";
        bodyData["ITEM_NM" + [i]] = selectedItems.value[i].ITEM_NM || "";
        bodyData["DLV_MSG1" + [i]] = selectedItems.value[i].DLV_MSG1 || "";
        bodyData["OUT_REQ_DT" + [i]] = selectedItems.value[i].OUT_REQ_DT || "";
        bodyData["ZIP_NO" + [i]] = selectedItems.value[i].ZIP_NO || "";
        bodyData["DATA_SENDER_NM" + [i]] = selectedItems.value[i].DATA_SENDER_NM || "";
      }

      bodyData["ORD_ID" + [i]] = String(selectedItems.value[i].ORD_ID || "");
      bodyData["ORD_SEQ" + [i]] = String(selectedItems.value[i].ORD_SEQ || "");
      bodyData["TRACKING_NO" + [i]] = String(selectedItems.value[i].TRACKING_NO || "");
      bodyData["INVC_NO" + [i]] = String(selectedItems.value[i].INVC_NO || "");
      bodyData["ORD_QTY" + [i]] = String(selectedItems.value[i].ORD_QTY || "");
      bodyData["TYPE_ST" + [i]] = String(selectedItems.value[i].TYPE_ST || "");
      bodyData["TYPE_S_INVC_CNT" + [i]] = String(selectedItems.value[i].TYPE_S_INVC_CNT || "");
      bodyData["CBM_QTY" + [i]] = String(selectedItems.value[i].CBM_QTY || "");
      bodyData["OUT_ORD_QTY" + [i]] = String(selectedItems.value[i].OUT_ORD_QTY || "");

      if (chkOptionType1 == "02") {
        //추천박스로 접수 인경우, 주문건별 추천박스구분값으로 송장 접수되어야함.
        bodyData["PARCEL_BOX_TY" + [i]] = selectedItems.value[i].POOL_PARCEL_BOX_TY || "";
        bodyData["TOTALPAGE" + [i]] = selectedItems.value[i].TOTALPAGE || "";
      }
      if (selectedItems.value[i].TYPE_ST == "T") {
        ordTypeStTCnt++;
      }
    } else if (chk_SPDCOL_DENSE_FLAG == countNum) {
      alertBoolean = true;
    }
  }

  bodyData.selectIds = String(selectedItems.value.length);
  bodyData.ordTypeStTCnt = String(ordTypeStTCnt);

  const url = "/WMSOP642/DlvInvcNoPrintPrev_rn.action";

  const res = await ApiService.postApi(url, {}, bodyData);
  if (res.status) {
    if (res.result.header === "Y") {
      if (alertBoolean) {
        useToast().warning(t("common-toast.re-accept-invc", { countNum: countNum }));
      }
      fn_dlvInvcItemNmSetInfo_poiNo_params = res.result.POI_NO;
      openModal();
    } else {
      useToast().warning("[안내]" + "\n\n" + res.message);
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
    }
  }
}

/**
 * [후]송장접수
 * [선]송장출력 진행시 작업되었던 정보 그대로 접수를 진행한다
 * 사유 : 송장에 운임, 박스 등 표시되어 출력 됨.
 *
 * @param {string} addFlag : 추가송장 구분 (Y, N)
 */
async function fn_dlvShipmentPost(addFlag = "N") {
  //addFlag:송장추가구분, divFlag:분리송장구분: NORMAL or DIV

  /*	택배사 설정 구분자
   *  01 우체국 | 04 CJ대한통운 | 05 한진택배 | 06 로젠택배 | 08 롯데택배 | 11 일양로지스 | 12 EMS | 13 DHL | 14 UPS
   */
  const comTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY || "";

  /* 유효성검사 */
  for (let i = 0; selectedItems.value.length > i; i++) {
    if (selectedItems.value[i].PARCEL_ORD_TY !== "01") {
      useToast().warning(t("common-toast.only-normal-invc"));
      return;
    }

    /*유효성 추가*/
    if (!selectedItems.value[i].DLV_COMP_CD || selectedItems.value[i].DLV_COMP_CD !== comTy) {
      useToast().warning(t("common-toast.parcel-com-ty-diif-row", { line: i + 1 }));
      return;
    }
    if (!selectedItems.value[i].INVC_NO) {
      useToast().warning(t("common-toast.no-invc-info", { line: i + 1 }));
      return;
    }

    if (selectedItems.value[i].RECEIVE_YN === "Y") {
      useToast().warning(t("common-toast.already-done-set-invc", { line: i + 1 }));
      return;
    }
  }
  // const postFlag = "Y";
  if (!(await fn_dlvShipmentValidation(addFlag, "Y").then((data) => data))) {
    return;
  }
  const bodyData = {} as any;
  bodyData.ADD_FLAG = addFlag;
  bodyData.PARCEL_COM_TY = comTy;
  bodyData.PARCEL_BOX_TY = useSearchConditionStore().getSearchInputValue().PARCEL_BOX_TY;

  // Grid DataSet
  for (let i = 0; selectedItems.value.length > i; i++) {
    bodyData["LC_ID" + [i]] = String(selectedItems.value[i].LC_ID || "");
    bodyData["CUST_ID" + [i]] = String(selectedItems.value[i].CUST_ID || "");
    bodyData["ORD_ID" + [i]] = String(selectedItems.value[i].ORD_ID || "");
    bodyData["ORD_SEQ" + [i]] = String(selectedItems.value[i].ORD_SEQ || "");
    bodyData["INVC_NO" + [i]] = String(selectedItems.value[i].INVC_NO || "");
  }
  bodyData.selectIds = String(selectedItems.value.length);

  const url = "/WMSOP642/DlvShipmentPost_rn.action";
  const res = await ApiService.postApi(url, {}, bodyData);

  if (res.status) {
    if (res.result.header === "Y") {
      useToast().success(res.result.message);
    } else {
      useToast().error("[안내]" + "\n\n" + res.result.message);
    }
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 20px;
}

.text {
  text-indent: 2em;
}
</style>
