<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:    WMSOP641_1/grid.vue
 *  Description:    택배관리/택배접수관리(공통)_택배접수관리(API) 메인 Form화면의 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="alertArea" name="alertAreaAbleInvc" style="display: none">
    ※ [공지]&nbsp;&nbsp; 상단 '잔여 송장수량'을 확인하시기 바랍니다.&nbsp;&nbsp; 송장수량 소진 최소 1주일 전, 관할 지점(대리점)에 연락하시어 신규 송장 대역을 할당 받으시기 바랍니다. 할당 받으신 후,
    위너스 관리자에게 신규 대역 설정을 요청해주시기 바랍니다.
  </div>
  <div class="grid-container">
    <div class="grid-header">
      <div class=""><span class="grid-header-delivery-title">송화인:</span>{{ deliveryApiResult.value.SENDR_NM }}</div>
      <div class=""><span class="grid-header-delivery-title">주소:</span>{{ deliveryApiResult.value.SENDR_ADDR }}</div>
      <div class=""><span class="grid-header-delivery-title">전화번호:</span>{{ deliveryApiResult.value.SENDR_TEL_NO }}</div>
    </div>
    <div class="search-area" ref="searchComponentRef">
      <search-container :uniqueKey="'2'" :data="deliverySearchInputDef.value" :use-more="false" :use-setting="false" :serAuth="'N'" ref="">
        <template v-slot:search_input_slot>
          <search-container-input v-for="props in deliverySearchInputDef.value" :key="props.title" :data="props" :columnDefs="null" :modalData="null" :pageInfo="null" />
          <option-range :data="DELIVERY_RANGE_INFO" :chkOptionType1value="chkOptionType1.value" :key="`${chkOptionType1.value}`" />
        </template>
      </search-container>
    </div>
    <ag-grid-vue :style="[`height: calc(100% -  ${height}px);`]" class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" :context="MAIN_CELL_RENDERER_INFO" />
  </div>
  <change-customer-info v-if="modalInfo.value.changeCustomerInfo.open" :modalInfo="modalInfo.value.changeCustomerInfo" />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onMounted, onUpdated, reactive, ref, watch } from "vue";

import { CellDoubleClickedEvent, GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { SearchUtil } from "@/services/searchUtil-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

import { SearchContainerInput } from "@/components/input";
import { SearchContainer } from "@/components/layout";
import { changeCustomerInfo } from "@/popups/index";

import { isNil } from "lodash";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { DELIVERY_RANGE_INFO, MAIN_CELL_RENDERER_INFO, SEARCH_SUB_INPUT } from "./input";
import OptionRange from "./option-range.vue";

// Variable Definitions
const { onGridReady, onSelectionChanged, setConsignorData } = defineProps<{
  onGridReady: any;
  onSelectionChanged: any;
  setDeliveryButtonPosition: () => void;
  setConsignorData: (value: any) => void;
}>();
const { t } = useI18n();
const deliveryApiResultList = reactive({ value: [] as any }); // 송화인 수신정보
const deliveryApiResult = reactive({ value: {} as { [key: string]: any } });
const deliverySearchInputDef = reactive({ value: [] as any }); // 택배사 입력조건 (로컬스토리지 병합본)
let userOptionData: any = { isApply: false }; // 로컬스토리지 사용자 설정값 관리
const emits = defineEmits(["dlvSenderInfo"]);
const searchComponentRef = ref(null as null | HTMLDivElement);
const modalInfo = reactive({
  value: {
    changeCustomerInfo: {
      open: false,
      currentRowData: {},
      close: () => {
        modalInfo.value.changeCustomerInfo.open = false;
      },
    },
  },
});
let height = ref(0);
const chkOptionType1 = reactive({ value: {} as any });
const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
    lockPosition: true,
  },
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: onGridReady,
  columnDefs: FORM_COLUMN_DEFS,
  onSelectionChanged: onSelectionChanged,
  rowSelection: "multiple",
  enableRangeSelection: true,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
  onCellDoubleClicked: (e: CellDoubleClickedEvent) => {
    switch (e.colDef.field) {
      case "INVC_NO":
        fn_pDeliveryNo(e.data.INVC_NO);
        break;
      case "TRACKING_NO":
        if (!isNil(e.node.data.INVC_NO) && e.node.data.INVC_NO != "" && e.node.isSelected()) {
          useToast().warning(t("common-toast.has-been-issued-with-an-invoice-cannot-modify-the-box-number"));
        }
        break;

      default:
        modalInfo.value.changeCustomerInfo.open = true;
        modalInfo.value.changeCustomerInfo.currentRowData = e.data;
    }
  },
  getRowId: (data) => {
    return data.data.RNUM;
  },
  getRowStyle: (params) => {
    if (params.data.ROW_COLOR) {
      return { background: `#${params.data.ROW_COLOR}` };
    }
  },
};

// Framework Function Definitions

onBeforeMount(async () => {
  // grid column-name 다국어 적용
  const koreanPattern = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      if (koreanPattern.test(column.headerKey)) {
        column.headerName = column.headerKey;
      } else {
        column.headerName = t("grid-column-name." + column.headerKey);
      }
    }
  });
});

onMounted(() => {
  setAgGridHeight();
});

onUpdated(() => {
  setAgGridHeight();
});

onActivated(() => {
  /** 화주 변경 감시 */
  const watchCustId = watch(
    () => useSelectedDataStore().getSelectedModalData().owner?.CUST_ID,
    async (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;
      let useDelivery: boolean = false;

      console.log("watchCustId");

      useSearchConditionStore().removeSearchInputValue("PARCEL_COM_TY");
      useSearchConditionStore().removeSearchInputValue("PARCEL_COM_TY_SEQ");

      const lcId = UtilService.getCurrentLocation();
      const custId = newValue;
      const localStorageParseData = JSON.parse(localStorage.getItem("WINUS_OPTIONS") || "{}");

      if (Object.hasOwn(localStorageParseData, lcId) && Object.hasOwn(localStorageParseData[lcId], custId)) {
        userOptionData = { ...userOptionData, ...localStorageParseData[lcId][custId] };
      }

      useDelivery = await getParcelCompTyOptions(newValue);

      if (!useDelivery) {
        useToast().info(t("common-toast.not-found-delivery-info"));
        deliverySearchInputDef.value = undefined;
        chkOptionType1.value = undefined;
      }
    }
  );

  /** 택배사 변경 감시 */
  const watchComTy = watch(
    () => useSearchConditionStore().getSearchInputValue()?.PARCEL_COM_TY,
    (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;
      if (UtilService.isEmptyString(newValue)) return;

      console.log(`watchComTy :: ${newValue} / ${oldValue}`);

      const selectedComTyIndex = useOptionDataStore()
        .getOptionData()
        .PARCEL_COM_TY.findIndex((dt: any) => dt.PARCEL_COM_TY == newValue);

      setSubSearchInput(false); // 택배사에 따른 입력란 구성 셋팅
      SearchUtil.setAutoSelectedKeyIndex(deliverySearchInputDef.value, "PARCEL_COM_TY", selectedComTyIndex);

      setSubSearchInputOptions(newValue); // 택배구분에 따른 옵션 값 구성 변경
      setSenderInputOptions(newValue); // "보내는이" 목록 갱신
    }
  );

  /** 보내는이(송화인) 변경 감시 */
  const watchComTySeq = watch(
    () => useSearchConditionStore().getSearchInputValue()?.PARCEL_COM_TY_SEQ,
    (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;
      if (newValue == undefined || oldValue == undefined) return;

      console.log(`watchComTySeq :: ${newValue} / ${oldValue}`);

      chagnedComTySeq(newValue, null, false);
    }
  );

  /** 옵션 변경 감시 */
  const watchOption = watch(
    () => [useSearchConditionStore().getSearchInputValue().chkOptionType101, useSearchConditionStore().getSearchInputValue().chkOptionType102],
    (newValue: any, oldValue: any) => {
      if (UtilService.isEmptyArray(newValue) && UtilService.isEmptyArray(oldValue)) return;

      console.log("watchOption");

      const [type01_newValue, type02_newValue] = newValue;

      // "원주문번호&수화인별 접수" 클릭
      if (!UtilService.isEmptyString(type01_newValue) && type01_newValue == "01") {
        SearchUtil.setAutoSelectedKeyIndex(deliverySearchInputDef.value, "PARCEL_BOX_TY", 1);
      }

      // "추천박스로 접수" 클릭
      if (!UtilService.isEmptyString(type02_newValue) && type02_newValue == "02") {
        SearchUtil.setAutoSelectedKeyIndex(deliverySearchInputDef.value, "PARCEL_BOX_TY", 0);
      }

      // 옵션 전체 해제
      if (UtilService.isEmptyString(type01_newValue) && UtilService.isEmptyString(type02_newValue)) {
        SearchUtil.setAutoSelectedKeyIndex(deliverySearchInputDef.value, "PARCEL_BOX_TY", 1);
      }

      // select-box 타입 형태 자동선택 값 갱신
      // useOptionDataStore().setAvailableWatchBySearchCondition(true);
      setAgGridHeight();
    }
  );

  useTabsStore().watchList.value.push(...[watchCustId, watchComTy, watchComTySeq, watchOption]);
});

// User Function Definitions

/**
 * 택배사에 따른 검색조건(sub-search-input) 구성 셋팅
 *
 * @param isDefault : 화주 기본값으로하는 지의 유무
 */
function setSubSearchInput(isDefault = false) {
  deliverySearchInputDef.value = null;
  const currentCompTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY;
  const filteredArray = SEARCH_SUB_INPUT.filter((input: any) => {
    if (isDefault) {
      if (input.compTyArray.includes("00")) {
        return input;
      }
    } else {
      if (input.compTyArray.includes(currentCompTy)) {
        return input;
      }
    }
  });
  // deliverySearchInputDef.value = JSON.parse(JSON.stringify(filteredArray));
  deliverySearchInputDef.value = filteredArray;
}

/**
 * 택배사별 입력값 목록 갱신
 *
 * 대한통운(04): 운임구분, 박스구분, 운송구분       <br/>
 * 로젠택배(06): 할증료, 운임구분, 박스구분         <br/>
 * 롯데택배(08): 운임구분, 박스구분, 오더구분       <br/>
 * 한진택배(05): 배송구분, 박스구분, 지불조건       <br/>
 *
 * @param compTy : 택배사 코드
 */
function setSubSearchInputOptions(compTy: string) {
  switch (compTy) {
    //대한통운
    case "04":
      getSubSearchInputOptions("PARCEL_PAY", "PARCEL_PAY_TY"); //운임구분
      getSubSearchInputOptions("PARCEL_BOX", "PARCEL_BOX_TY"); //박스구분
      getSubSearchInputOptions("PARCEL_ETC", "PARCEL_ETC_TY"); //운송구분
      break;

    // 로젠택배
    case "06":
      //할증료 input 셋팅
      if (!deliveryApiResult.value.DLV_PRICE1) {
        useSearchConditionStore().changeSearchInputValue("PARCEL_PAY_PRICE", "0");
      } else {
        useSearchConditionStore().changeSearchInputValue("PARCEL_PAY_PRICE", deliveryApiResult.value.DLV_PRICE1);
      }

      getSubSearchInputOptions("PARCEL_PAY2", "PARCEL_PAY_TY"); //운임구분
      getSubSearchInputOptions("PARCEL_BOX_LG", "PARCEL_BOX_TY"); //박스구분
      break;

    // 롯데택배
    case "08":
      getSubSearchInputOptions("PARCEL_PAY", "PARCEL_PAY_TY"); //운임구분
      getSubSearchInputOptions("PARCEL_BOX_L", "PARCEL_BOX_TY"); //박스구분
      getSubSearchInputOptions("PARCEL_ORD_2", "PARCEL_ETC_TY"); //오더구분
      break;

    // 한진택배
    case "05":
      getSubSearchInputOptions("CAR04_HJ", "COM_DLV_DIV"); // 배송구분
      getSubSearchInputOptions("PARCEL_BOX_HJ", "PARCEL_BOX_TY"); // 박스구분
      getSubSearchInputOptions("HANJIN_PAY", "COM_PAY_CON"); // 지불조건
      SearchUtil.setAutoSelectedKeyIndex(deliverySearchInputDef.value, "PARCEL_BOX_TY", 0); // 박스구분
      break;
  }
}

/**
 * 보내는이(송하인) 목록 바인딩
 *
 * @param comTy : 택배사 코드
 * @param oldComTy : (이전)택배사 코드
 */
async function setSenderInputOptions(comTy: string) {
  const senderInfoBodyData = {
    vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID,
    PARCEL_COM_TY: comTy,
  };

  if (UtilService.isEmptyString(senderInfoBodyData.vrSrchCustId)) return;

  /** 송화인 정보 및 옵션 정보 획득 */
  const res = await ApiService.postApi("/WMSOP642/dlvSenderInfo_rn.action", {}, senderInfoBodyData);

  if (res && res.result.DLV_SENDER_INFO.length > 0) {
    deliveryApiResultList.value = res.result.DLV_SENDER_INFO; // 송화인 정보 관리

    // 받아온 결과값을 options로 등록 (보내는이 select-box에서 사용)
    res.result.DLV_SENDER_INFO.forEach((option: any) => {
      option.CODE_NM = option.ARCEL_DESC;
      option.CODE_CD = option.PARCEL_COM_TY_SEQ;
    });

    const comTySeqList: Array<any> = res.result.DLV_SENDER_INFO.map((dt: any) => dt.ARCEL_DESC);
    const settingValue = getlocalStorageInfo("ParCelComQty") ?? comTySeqList[0];
    const selectedIndex = comTySeqList.findIndex((dt) => {
      return dt == settingValue;
    });
    const selectedValue = res.result.DLV_SENDER_INFO[selectedIndex].PARCEL_COM_TY_SEQ;

    useOptionDataStore().setOptionData({ PARCEL_COM_TY_SEQ: res.result.DLV_SENDER_INFO }); // 목록 수정
    chagnedComTySeq(selectedValue, selectedIndex, true);
  } else {
    // 송화인 정보가 없을 때 '보내는이' input의 options 값을 비워준다
    useOptionDataStore().setOptionData({ PARCEL_COM_TY_SEQ: [] });
  }

  setAbleInvcCnt(res);
}

/**
 * "보내는이" 변경 이벤트
 * (반품접수 / 순서 / 옵션 설정)
 *
 * @param newValue          : 변경 값
 * @param selectedIndex     : 변경된 index
 * @param allowAutoSelected : 자동변경 여부 (API 형태 호출 시)
 */
function chagnedComTySeq(newValue: any, selectedIndex?: any, allowAutoSelected: boolean) {
  if (UtilService.isEmptyString(newValue)) return;
  if (UtilService.isEmptyObject(deliveryApiResultList.value)) return;
  //
  const copyParcelOrdTy = Array.from(useOptionDataStore().getOptionData().PARCEL_ORD_TY ?? {}); // 접수구분 목록
  const returnCodeIndex = copyParcelOrdTy.findIndex((dt: any) => dt.code == "02"); // 반품코드(02) 존재여부
  const comTySeqList: Array<any> = deliveryApiResultList.value.map((dt: any) => dt.PARCEL_COM_TY_SEQ); // 보내는이 목록
  selectedIndex =
    selectedIndex ??
    comTySeqList.findIndex((dt) => {
      return dt == newValue;
    });

  // "보내는이" 선택 값 적용
  SearchUtil.setAutoSelectedKeyIndex(deliverySearchInputDef.value, "PARCEL_COM_TY_SEQ", selectedIndex ?? 0, allowAutoSelected);

  // "보내는이" 조회이력에서 선택값에 대한 정보 추출
  deliveryApiResult.value = deliveryApiResultList.value.find((dt: any) => dt.PARCEL_COM_TY_SEQ == newValue);

  // 반품접수 코드 표기 판별
  if (returnCodeIndex >= 0 && deliveryApiResult.value.RETURN_USE_YN === "N") {
    copyParcelOrdTy.splice(returnCodeIndex, 1);
  } else if (returnCodeIndex < 0 && deliveryApiResult.value.RETURN_USE_YN === "Y") {
    copyParcelOrdTy.push({ code: "02", codeNm: "반품", useYn: "Y", sortSeq: 2 });
  }
  useOptionDataStore().setOptionData({ PARCEL_ORD_TY: copyParcelOrdTy });

  // "순서" input 설정
  SearchUtil.setAutoSelectedKeyIndex(deliverySearchInputDef.value, "vrSrchSortType1", Number(deliveryApiResult.value.SORT_1));

  // "옵션" input 설정
  chkOptionType1.value = deliveryApiResult.value.OPT_1;

  /* select-box 타입 형태 자동선택 값 갱신 */
  useOptionDataStore().setAvailableWatchBySearchCondition(true);

  // 초기 화면설정 값 반영 완료처리
  if (!userOptionData.isApply) {
    userOptionData.isApply = true;
  }

  setConsignorData(deliveryApiResult.value);
  emits("dlvSenderInfo", deliveryApiResult.value);
}

/**
 * 화주에 맵핑된 택배사 정보 조회
 * (첫 번째 값을 기본 선택값으로 함.)
 *
 * @param custId
 */
async function getParcelCompTyOptions(custId: string): Promise<boolean> {
  const bodyData = {
    vrSrchCustId: custId,
  };

  const res = await ApiService.postApi("/WMSOP642/dlvDlvCompInfo_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.DLV_COMP_INFO.length > 0) {
      res.result.DLV_COMP_INFO.forEach((option: any) => {
        option.CODE_NM = option.PARCEL_COM_TY_NM;
        option.CODE_CD = option.PARCEL_COM_TY;
      });

      const comTyList: Array<any> = res.result.DLV_COMP_INFO.map((dt: any) => dt.PARCEL_COM_TY);
      const settingValue = getlocalStorageInfo("ParCelCom") ?? comTyList[0];
      const selectedIndex = comTyList.findIndex((dt) => {
        return dt == settingValue;
      });

      useOptionDataStore().setOptionData({ PARCEL_COM_TY: res.result.DLV_COMP_INFO }); // 택배사 정보 갱신

      SearchUtil.setAutoSelectedKeyIndex(SEARCH_SUB_INPUT, "PARCEL_COM_TY", selectedIndex); // 값 설정
      useSearchConditionStore().changeSearchInputValue("PARCEL_COM_TY", settingValue); // 값 설정

      SearchUtil.setDisabled(SEARCH_SUB_INPUT, "PARCEL_COM_TY", false);

      return true;
    } else {
      SearchUtil.setDisabled(SEARCH_SUB_INPUT, "PARCEL_COM_TY", true);

      return false;
    }
  }

  return true;
}

/**
 * 송장수량 및 경고 표기
 */
function setAbleInvcCnt(res: any) {
  const compTy = useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY || "";
  if (Object.hasOwn(res.result, "DLV_SENDER_INFO") && res.result.DLV_SENDER_INFO.length > 0) {
    //잔여송장수량 값 지정
    let ableInvcCnt = res.result.DLV_SENDER_INFO[0].ABLE_INVC_CNT;
    //최소송장 값
    let minInvcCnt = res.result.DLV_SENDER_INFO[0].MIN_INVC_CNT;
    //잔여 송장이 최소 송장보다 적은 경우 노출시킨다. (대한통운 / 롯데만 진행)
    /* 송장부족 경고 */
    if ((compTy == "04" || compTy == "08") && minInvcCnt >= ableInvcCnt) {
      useSearchConditionStore().changeSearchInputValue("vrSrchAbleInvcCnt", res.result.DLV_SENDER_INFO[0].ABLE_INVC_CNT);
      document.querySelector<HTMLElement>("div[name='alertAreaAbleInvc']")!.style.display = "block";
      document.querySelector<HTMLElement>(".remaining-invoice-quantity")!.style.display = "flex";
    } else {
      useSearchConditionStore().changeSearchInputValue("vrSrchAbleInvcCnt", 0);
      document.querySelector<HTMLElement>("div[name='alertAreaAbleInvc']")!.style.display = "none";
      document.querySelector<HTMLElement>(".remaining-invoice-quantity")!.style.display = "none";
    }
  }
  setAgGridHeight();
}

async function getSubSearchInputOptions(CODE_TYPE_CD: string, optionsKey: string) {
  try {
    const parcelPayRes = await ApiService.postApi("/TMSYS010/listDetailCode_rn.action", { CODE_TYPE_CD }, {});

    if (parcelPayRes.status) {
      const options = [{ CODE_CD: "", CODE_NM: t("select-options.select") }];
      if (parcelPayRes.result.list.length > 0) {
        parcelPayRes.result.list.forEach((option: any) => {
          option.CODE_CD = option.BA_CODE_CD;
          option.CODE_NM = option.BA_CODE_NM;

          options.push(option);

          if (useSearchConditionStore().getSearchInputValue().PARCEL_COM_TY === "04" && optionsKey === "PARCEL_PAY_TY") {
            options.splice(2, 2);
          }
        });
      }

      useOptionDataStore().changeOptionData(optionsKey, options);
    }
  } catch (err) {
    console.log(err);
  }
}

/**
 * 로컬스토리지 등록정보를 조회e
 * ([설정] 모달 : 센터, 화주단위 설정)
 *
 * @param key : 등록 키 값
 */
function getlocalStorageInfo(key: any) {
  return !userOptionData.isApply && Object.hasOwn(userOptionData, key) ? userOptionData[key] : undefined;
}

/* 그리드 높이값 동적 셋팅 */
function setAgGridHeight() {
  const alertAreaHeight = document.querySelector(".alertArea")?.clientHeight;
  const subSearchContainerHeight = document.querySelector(".grid-container .search-container")?.clientHeight;
  height.value = (alertAreaHeight ? alertAreaHeight + 15 : 0) + (subSearchContainerHeight || 0) + 31;
}

/* 송장번호 클릭 팝업 */
function fn_pDeliveryNo(P_DELIVERY_NO: any) {
  const strParameter = [];
  strParameter.push(P_DELIVERY_NO);
  const param = "?func=fn_search&strParameter=" + strParameter;
  const url = "/POP-WMSDF111" + param;
  const width = "780"; //900 MIN 1024
  const height = "620"; //크기다시 재조정할 필요있음
  UtilService.cfn_openPop2(url, "fn_Popup", width, height, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
}

.grid {
  &-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);
    gap: 24px;
    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;

    &-delivery-title {
      font-weight: normal;
      margin-right: 10px;
    }
  }
}

.alertArea {
  text-align: center;
  color: $red;
  font-weight: bold;
  margin-bottom: 15px;
}

::v-deep .ag-root-wrapper .ag-row > .ag-cell {
  border-bottom: var(--ag-row-border-style) #c5c5c5 var(--ag-row-border-width);
}
</style>
