<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	option-range.vue
 *  Description:    택배관리/택배접수관리(공통)_택배접수관리(API) 접수구분 설정 컴포넌트
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.09.15 : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="date-container" class="date-container">
    <!--체크박스 영역-->
    <div class="date-type">
      <template v-for="(item, i) in data.checkBoxes" :key="i">
        <div>
          <input
            :checked="currentChecked === item.value ? true : false"
            @change="(e) => changeCheckboxValue(e, item.id, item.value)"
            class="date-type-input"
            type="checkbox"
            name=""
            :id="item.value" />
          <i class="circle"></i>
          <label :style="[currentChecked === item.value && isChecked.value[item.id] ? 'font-weight:bold' : 'normal']" class="date-type-label" :for="item.value">{{
            t("date-range-title." + item.title)
          }}</label>
        </div>
      </template>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch, onActivated, onDeactivated, reactive } from "vue";
import { useI18n } from "vue-i18n";
import { useSearchConditionStore, useSelectedDataStore } from "@/store";
import type { IOptionRange } from "@/types";

// Variable Definitions
const { data, chkOptionType1value } = defineProps<{
  data: IOptionRange;
  chkOptionType1value?: any;
}>();
const { t } = useI18n();
const inactive = ref<boolean>(false);
let currentChecked = ref("");
const changeTimes = ref(0);
let before_PARCEL_COM_TY = ref<string>("");
let before_CustId = ref<string>("");
let isChecked = reactive({ value: {} as any });

// Framework Function Definitions
watch(useSearchConditionStore()._reset, () => {
  if (!inactive.value) {
    if (useSearchConditionStore().getResetValue()) {
      setDefaultValue();
    }
  }
});

watch(useSearchConditionStore()._searchInputValue, () => {
  if (!inactive.value) {
    //옵션 셋팅 함수 호출
    setChkOptionTypeValue(chkOptionType1value);
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
function changeCheckboxValue(e: any, id: string, value: string) {
  data.checkBoxes.forEach((item: any) => {
    isChecked.value[item.id] = false;
  });
  //옵션 값 변경될 때 그리드 재조회
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  const target = e.target;
  const checkboxValue = target.checked;

  if (e) {
    if (currentChecked.value === value) {
      if (!checkboxValue) {
        useSearchConditionStore().removeSearchInputValue(data.checkBoxes[0].id);
        useSearchConditionStore().removeSearchInputValue(data.checkBoxes[1].id);
      } else {
        useSearchConditionStore().removeSearchInputValue(data.checkBoxes[0].id);
        useSearchConditionStore().removeSearchInputValue(data.checkBoxes[1].id);
        useSearchConditionStore().changeSearchInputValue(id, value);
      }
      isChecked.value[id] = checkboxValue;
      return;
    }

    if (checkboxValue) {
      useSearchConditionStore().removeSearchInputValue(data.checkBoxes[0].id);
      useSearchConditionStore().removeSearchInputValue(data.checkBoxes[1].id);
      useSearchConditionStore().changeSearchInputValue(id, value);
      currentChecked.value = value;
      isChecked.value[id] = checkboxValue;
    } else {
      currentChecked.value = "";
    }
  } else {
    currentChecked.value = value;
  }
}

function setDefaultValue() {
  useSearchConditionStore().removeSearchInputValue(data.checkBoxes[0].id);
  useSearchConditionStore().removeSearchInputValue(data.checkBoxes[1].id);
  currentChecked.value = "";
}

function setChkOptionTypeValue(opt1: any) {
  const after_PARCEL_COM_TY = useSearchConditionStore().getSearchInputValue()?.PARCEL_COM_TY;
  const after_CustId = useSelectedDataStore().getSelectedModalData().owner?.CUST_ID;
  /* '택배구분'값 변경 시 check-box input 초기화 */
  if (after_PARCEL_COM_TY && before_PARCEL_COM_TY.value !== after_PARCEL_COM_TY) {
    useSearchConditionStore().removeSearchInputValue(data.checkBoxes[0].id);
    useSearchConditionStore().removeSearchInputValue(data.checkBoxes[1].id);
    currentChecked.value = "";
    before_PARCEL_COM_TY.value = after_PARCEL_COM_TY;
  }
  /* '화주'값 변경 시 check-box input 초기화 */
  if (after_CustId && before_CustId.value !== after_CustId) {
    useSearchConditionStore().removeSearchInputValue(data.checkBoxes[0].id);
    useSearchConditionStore().removeSearchInputValue(data.checkBoxes[1].id);
    currentChecked.value = "";
    before_CustId.value = after_CustId;
  }
  if (changeTimes.value > 1) {
    return;
  }
  changeTimes.value++;
  if (opt1) {
    currentChecked.value = opt1;
    if (opt1 === "02") {
      useSearchConditionStore().changeSearchInputValue(data.checkBoxes[1].id, opt1);
      isChecked.value[data.checkBoxes[1].id] = true;
    } else if (opt1 === "01") {
      useSearchConditionStore().changeSearchInputValue(data.checkBoxes[0].id, opt1);
      isChecked.value[data.checkBoxes[0].id] = true;
    }
  } else {
    useSearchConditionStore().removeSearchInputValue(data.checkBoxes[0].id);
    useSearchConditionStore().removeSearchInputValue(data.checkBoxes[1].id);
    currentChecked.value = "";
  }
}
</script>

<style lang="scss" scoped>
.date {
  &-container {
    @include flexbox(row, flex-start, center, nowrap);
    gap: 33px;
    margin: 0 0 14px 7px;
  }

  &-type {
    .circle {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 2px solid $gray;
      border-radius: 50%;
      position: relative;
      top: 4px;
      cursor: pointer;

      &:after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $main;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        opacity: 0;
      }
    }

    &-input {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid $gray;
      cursor: pointer;
      transform: translateX(18px);
      position: relative;
      z-index: 3;
      opacity: 0;

      &:checked + .circle:after {
        opacity: 1;
      }
      &:checked + .circle {
        border: 2px solid $main;
      }
      &:checked + .date-type-label {
        font-weight: bold;
      }
    }

    &-label {
      margin: 0 20px 0 7px;
      color: $font-bk;
      font-size: 13px;
      cursor: pointer;
    }
  }
}

.date-type {
  display: flex;
  align-items: center;
}
</style>
