<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP642_1/page.vue
 *  Description:    택배관리/택배접수관리(공통)_택배접수관리(API) 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div :id="`${myPageId}-page`">
    <my-search />
    <my-form />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOP642_1" };
</script>
<script setup lang="ts">
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useTabsStore } from "@/store";
import { onBeforeMount, ref } from "vue";
import MyForm from "./form.vue";
import MySearch from "./search.vue";

// Variable Definitions
const myPageId = ref<string>();

// Framework Function Definitions
onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  // const data = UtilService.getOptionApiData("WMSCM091_rn");
  // const res = await ApiService.postApi("/WMSCM091_rn.action", {}, data);

  // if (res.status) {
  //   useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  // }
  const data2 = UtilService.getOptionApiData("WMSOP642_rn");
  const res2 = await ApiService.postApi("/WINUS/WMSOP642_rn.action", {}, data2);

  if (res2.status) {
    delete res2.result.selectBoxInfos.PARCEL_COM_TY;
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  }
});
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->

<style lang="scss">
// #WMSOP642_1-page {
//   .grid-container {
//     .search-container {
//       padding: 14px 9px 11px 9px !important;
//       .form {
//         padding-right: 0;
//         .date-container {
//           margin: 0 0 0 0;
//           width: calc(25% - 28px);
//           .date-type {
//             width: 100%;
//             .date-type-label {
//               font-size: 15px;
//             }
//           }
//           .date-calender {
//             display: none;
//           }

//           .date-type-input:checked + .circle {
//             background-color: $main;
//           }
//           .date-type-input:checked + .circle::before {
//             opacity: 1;
//           }
//           .date-type .circle:after {
//             width: 1.5px;
//             height: 9px;
//             background-color: white;
//             border-radius: 10px;
//             transform: rotate(45deg);
//             left: 6.5px;
//             top: initial;
//             bottom: 1px !important;
//           }
//           .date-type .circle:before {
//             content: "";
//             position: absolute;
//             z-index: 2;
//             opacity: 0;
//             width: 4px;
//             transform: rotate(45deg);
//             height: 1.5px;
//             background-color: white;
//             border-radius: 3px;
//             bottom: 3px;
//             left: 1.5px;
//           }
//         }
//       }
//     }
//     button#search-row-data {
//       display: none !important;
//     }
//     div.search-more {
//       display: none !important;
//     }
//     .search {
//       background-color: transparent !important;
//       padding: 0 0 0 0;
//       &::before {
//         content: "";
//         display: none;
//       }

//       &-title {
//         margin-left: 10px;
//       }
//     }
//     .icon-required {
//       left: 0;
//     }
//   }
// }
</style>
