<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP642_1/search.vue
 *  Description:    택배관리/택배접수관리(공통)_택배접수관리(API) 상단의 검색 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <div class="remaining-invoice-quantity" style="display: none">
      <label for="">잔여송장 수량</label>
      <input readonly type="text" :value="useSearchConditionStore().getSearchInputValue().vrSrchAbleInvcCnt || 0" />
    </div>
    <div class="search-control-container">
      <control-container>
        <div v-for="btnData in searchCompControlBtn.value" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" :changeIsShowDisplaySetting="changeIsShowDisplaySetting" />
        </div>
      </control-container>
    </div>
    <search-container
      @setIsMore="setIsMore"
      :isMore="isMore"
      :data="SEARCH_INPUT"
      :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)"
      :ser-auth="page.value['SER_AUTH'] || 'Y'">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in SEARCH_INPUT" :key="`${i}_${props.optionsAutoSelected?.autoSelectedKeyIndex}`">
          <search-container-input
            :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
            :data="props"
            :columnDefs="MODAL_COLUMN_DEFS[props.title]"
            :modalData="SEARCH_MODAL_INFO[props.title]"
            :pageInfo="INFO" />
        </template>
      </template>
    </search-container>
  </div>
  <WMSOP642DisplaySetting v-if="isShowDisplaySetting" :changeIsShowDisplaySetting="changeIsShowDisplaySetting" />
</template>

<script setup lang="ts">
import { onActivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useCallModalIdStore, useFormHeightStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

import { ControlButton } from "@/components/button";
import { SearchContainerInput } from "@/components/input";
import { ControlContainer, SearchContainer } from "@/components/layout";
import WMSOP642DisplaySetting from "@/popups/WMSOP642-display-setting.vue";

import { MODAL_COLUMN_DEFS } from "./column-defs";
import { INFO, SEARCH_COMPONENT_CONTROL_BTN, SEARCH_INPUT, SEARCH_MODAL_INFO } from "./input";

// Variable Definitions
const emits = defineEmits(["isMore"]);
const searchComponentRef = ref(null as null | HTMLDivElement);
let isMore = ref(false);
let isShowDisplaySetting = ref(false);
const page = reactive({ value: {} as any });
const searchCompControlBtn = reactive({ value: SEARCH_COMPONENT_CONTROL_BTN as any });
const displayInputCount = UtilService.getShowInputCount(3, SEARCH_INPUT) as number;
const { t } = useI18n();

// Framework Function Definitions
onMounted(() => {
  if (searchComponentRef.value) {
    setTimeout(() => {
      useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value!.clientHeight + 45));
    });
  }

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSDL", "WMSOP642_1", menusStore().getMenus(), searchCompControlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

onActivated(() => {
  /** 화주 변경 감시 */
  const watchCustId = watch(
    () => useSelectedDataStore().getSelectedModalData().owner?.CUST_ID,
    (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;

      const ordDegreeDate = useSearchConditionStore().getSearchInputValue().vrSrchOrdDegreeDate;

      if (ordDegreeDate) {
        getCustOrdDegree(useSelectedDataStore().getSelectedModalData()?.owner.CUST_ID, ordDegreeDate);
      }
    }
  );

  /** 주문일별차수 변경 감시 */
  const watchOrdDegreeDate = watch(
    () => useSearchConditionStore().getSearchInputValue().vrSrchOrdDegreeDate,
    (newValue: string, oldValue: string) => {
      if (newValue == oldValue) return;

      if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
        getCustOrdDegree(useSelectedDataStore().getSelectedModalData().owner.CUST_ID, newValue);
      } else {
        if (!useSearchConditionStore().getResetValue()) {
          return useToast().warning(t("common-toast.please-select-a-owner"));
        }
      }
    }
  );

  useTabsStore().watchList.value.push(...[watchCustId, watchOrdDegreeDate]);

  /** 선택화주가 없는 경우, Session Storage에 저장된 화주 정보 설정 */
  if (UtilService.isEmptyString(useSelectedDataStore().getSelectedModalData().owner?.CUST_ID)) {
    if (!UtilService.getCustDataInSessionStorage()) {
      useCallModalIdStore().setCallModalId("owner");
    }
  }
});

//User Function Definitions
function changeIsShowDisplaySetting(value: boolean) {
  if (UtilService.isEmptyString(useSelectedDataStore().getSelectedModalData().owner?.CUST_ID)) {
    useCallModalIdStore().setCallModalId("owner");
    return useToast().warning(t("common-toast.please-select-a-owner"));
  }

  isShowDisplaySetting.value = value;
}

function setIsMore(value: boolean) {
  isMore.value = value;
  // setTimeout(() => {
  //   useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value!.clientHeight) + 45);
  // }, 300);
  // emits("isMore", isMore.value);
}

async function getCustOrdDegree(vrCustId: string, vrOrdDt: string) {
  const bodyData = {
    vrCustId,
    vrOrdDt,
  };

  const res = await ApiService.postApi("/WMSOP640/getCustOrdDegree_rn.action", {}, bodyData);
  if (res.status) {
    useOptionDataStore().setOptionData({ vrSrchOrdDegree: [] });
    if (res.result.DS_ORD_DEGREE.length > 0) {
      const options = [] as any[];
      options.push({ name: "", nameKey: "all", value: "" });
      for (let i = 0; res.result.DS_ORD_DEGREE.length > i; i++) {
        const option = {
          CODE_CD: res.result.DS_ORD_DEGREE[i].CODE,
          CODE_NM: `${res.result.DS_ORD_DEGREE[i].CODE}:${res.result.DS_ORD_DEGREE[i].CODE_NM || ""}`,
        };
        options.push(option);
      }
      useOptionDataStore().setOptionData({ vrSrchOrdDegree: options });
    } else {
      useOptionDataStore().setOptionData({ vrSrchOrdDegree: [{ name: "", nameKey: "all", value: "" }] });
    }
    useOptionDataStore().setAvailableWatchBySearchCondition(true);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-area {
  padding-top: 26px;
}
.second-search-container {
  min-width: 1100px;
  height: auto;
  padding: 0px 0px 24px 24px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.search-control-container {
  position: absolute;
  top: 0;
  right: 0;
}
.delivery-display {
  display: flex;
  gap: 11px;
  padding: 9px 25px 9px 12px;
  border-radius: 10px;
}

.none-visible {
  display: none;
}

.remaining-invoice-quantity {
  position: absolute;
  top: 26px;
  left: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  label {
    font-size: 15px;
    font-weight: bold;
  }

  input {
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    height: 35px;
    padding: 0 5px 0 10px;
    font-weight: bold;
    background-color: #fff;
    color: red;
  }
}
</style>
