<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST055/page.vue
 *  Description:    재고관리/일별재고상세
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST055" };
</script>
<script setup lang="ts">
import { computed, onMounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/stock/WMSST055/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { Column, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const myPageId = ref<string>();
const gridHeaderTitle = computed(() => {
  return t(`grid-title.stock-detail-list-by-daily`);
});
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const gridControlBtnRef = ref(CONTROL_BTN);
//select-box 값 가져오기
const OptionDataStore = useOptionDataStore();
const selectedItems = reactive({ value: [] as any });

onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res2 = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, UtilService.getOptionApiData("WMSST051_rn"));
  if (res2.status) {
    OptionDataStore.setOptionData(res2.result.selectBoxInfos);
  }
  const res = await ApiService.postApi("/WINUS/WMSMS090_rn.action", {}, UtilService.getOptionApiData("WMSMS090_rn"));
  if (res.status) {
    const ITEMGRP_OPTIONS_IN_SEARCH = Array.from(new Set(res.result.selectBoxInfos.ITEMGRP));
    const mergeOptionsData = { ...res.result.selectBoxInfos, ...{ ITEMGRP_IN_SEARCH: ITEMGRP_OPTIONS_IN_SEARCH } };

    OptionDataStore.setOptionData(mergeOptionsData);
  }
});

// User Function Definitions
eventBus.on("onGridReady", (params: GridReadyEvent) => {
  gridApi.value = params.api;
});

const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

/**
 * excel export
 */
function excelExport() {
  if (!useSelectedDataStore().getSelectedModalData().owner) {
    useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.owner") }));
    return useCallModalIdStore().setCallModalId("owner");
  }
  let columnKeys = [] as (string | Column<any>)[];

  for (let i = 0; FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_COLUMN_DEFS[i].field || "");
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.daily-inventory-details"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * grid data 변수 정의
 */
let gridData = reactive({ value: {} as any });

/**
 * TODO: 사용하지 않는 기능 확인
 */
// eslint-disable-next-line @typescript-eslint/no-unused-vars
function excelLocTotalByDate() {
  if (gridData.value.result.list.length === 0) {
    return useToast().warning(t("common-toast.no-search-result"));
  }
  if (!useSelectedDataStore().getSelectedModalData().owner) {
    useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.owner") }));
    return useCallModalIdStore().setCallModalId("owner");
  }

  let excelBodyData = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  excelBodyData._fullpath = "재고관리 &gt; 일별재고상세";
  const excelParams = {
    sidx: "",
    sord: "asc",
  };
  ApiService.postApi("/WMSST055/excel_locSum_rn.action", excelParams, excelBodyData);
}

// eslint-disable-next-line @typescript-eslint/no-unused-vars
let searchGridData: Function;

/**
 * 그리드 조회 parameter 수정
 * @param apiParams 그리드 조회 parameter
 */
function onApiParamsChanged(apiParams: any) {
  //  select-box 옵션에따라 다른 종류의 search modal이 띄어지는데, input value의 key값이 동일해서, 계속 첫번째 option의 값을 가지고 apiParams에 넣게됨.
  //  UtilService.getGridParams 에서 예외처리 하기가 까다로워 이런 경우의 페이지일 경우 따로 처리.
  apiParams._fullpath = "";
  let modalDataType = "";
  const vrSrchItemType = useSearchConditionStore().getSearchInputValue()["vrSrchItemType"];
  if (vrSrchItemType === "G") {
    modalDataType = "product";
    apiParams.vrSrchItemCd = !useSelectedDataStore().getSelectedModalData()[modalDataType] ? "" : useSelectedDataStore().getSelectedModalData()[modalDataType].ITEM_CODE;
    apiParams.vrSrchItemNm = !useSelectedDataStore().getSelectedModalData()[modalDataType] ? "" : useSelectedDataStore().getSelectedModalData()[modalDataType].ITEM_KOR_NM;
    apiParams.vrSrchItemId = !useSelectedDataStore().getSelectedModalData()[modalDataType] ? "" : useSelectedDataStore().getSelectedModalData()[modalDataType].RITEM_ID;
  } else if (vrSrchItemType === "P") {
    modalDataType = "logistics-container";
    apiParams.vrSrchItemCd = useSelectedDataStore().getSelectedModalData()[modalDataType].POOL_CODE;
    apiParams.vrSrchItemNm = useSelectedDataStore().getSelectedModalData()[modalDataType].POOL_NM;
    apiParams.vrSrchItemId = useSelectedDataStore().getSelectedModalData()[modalDataType].POOL_ID;
  }

  return apiParams;
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

/**
 * 데이터를 서버에서 수신해서 grid에 전달
 * @param apiParams api호츨을 위한 parameter
 * @param bodyData page등 데이터
 */
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST055/list_rn.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
