<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS030/page.vue
 *  Description:    기준정보/물류센터정보관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <commonGridInfoForm
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :onCellClicked="onCellClicked"
      :info-meta="INFO_META"
      :infoTextChanged="infoTextChangedCallBack"
      :infoSelectChanged="infoSelectChangedCallBack"
      :infoTripleSearchChanged="infoTripleSearchChangedCallBack">
      <template v-slot:grid-button>
        <control-container>
          <div v-for="btnData in controlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
    </commonGridInfoForm>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS030" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import commonGridInfoForm from "@/page/common-page/common-grid-info-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, INFO_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const { t } = useI18n();

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
};

const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi(`/WINUS/${myPageId.value}_rn.action`, {}, UtilService.getOptionApiData(`${myPageId.value}_rn`));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  searchGridData();
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * 신규
 */
function addRowData() {
  const newRowData = [
    {
      STATE: "C",
      LC_TIME_ZONE: "",
      WGT_YN: "",
      WGT_TYPE: "",
      BEST_DATE_YN: "",
      RFID_YN: "",
      RACK_USE_YN: "",
      RACK_TYPE: "",
      MANAGE_PLT_YN: "",
      STOCK_ALERT_YN: "Y",
      AUTO_RCV_STEP: "RCV_00",
      AUTO_SND_STEP: "SND_00",
      MULTI_SHIP_YN: "Y",
      CLIENT_ORD_YN: "N",
      LC_TYPE: "S",
      LC_USE_TY: "WMS",
    },
  ];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });
}

/**
 * 저장
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let data: any = { _fullpath: "", selectIds: selectedRows.length };

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const validationResult = UtilService.inputRequiredValidation(INFO_META.infoInput, selectedRows);
  if (!validationResult?.status) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${validationResult?.toastKey}`) }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    for (let i = 0; selectedRows.length > i; i++) {
      if (selectedRows[i].STATE === "C") {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }
      data["LC_NM" + [i]] = String(selectedRows[i].LC_NM || "");
      data["REG_DT" + [i]] = String(selectedRows[i].REG_DT || "");
      data["REG_NM" + [i]] = String(selectedRows[i].REG_NM || "");
      data["LC_CD" + [i]] = String(selectedRows[i].LC_CD || "");
      data["DOCK_CNT" + [i]] = String(selectedRows[i].DOCK_CNT || "");
      data["CUST_CD" + [i]] = String(selectedRows[i].CUST_CD || "");
      data["CUST_NM" + [i]] = String(selectedRows[i].CUST_NM || "");
      data["BIZ_NO" + [i]] = String(selectedRows[i].BIZ_NO || "");
      data["REP_NM" + [i]] = String(selectedRows[i].REP_NM || "");
      data["TRADE_NM" + [i]] = String(selectedRows[i].TRADE_NM || "");
      data["ZIP" + [i]] = String(selectedRows[i].ZIP || "");
      data["ADDR" + [i]] = String(selectedRows[i].ADDR || "");
      data["E_MAIL" + [i]] = String(selectedRows[i].E_MAIL || "");
      data["TEL" + [i]] = String(selectedRows[i].TEL || "");
      data["FAX" + [i]] = String(selectedRows[i].FAX || "");
      data["RFID_YN" + [i]] = String(selectedRows[i].RFID_YN || "");
      data["WGT_YN" + [i]] = String(selectedRows[i].WGT_YN || "");
      data["BEST_DATE_YN" + [i]] = String(selectedRows[i].BEST_DATE_YN || "");
      data["LC_ID" + [i]] = String(selectedRows[i].LC_ID || "");
      data["CUST_ID" + [i]] = String(selectedRows[i].CUST_ID || "");
      data["TAG_PREFIX" + [i]] = String(selectedRows[i].TAG_PREFIX || "");
      data["GLN_CD" + [i]] = String(selectedRows[i].GLN_CD || "");
      data["LC_TIME_ZONE" + [i]] = String(selectedRows[i].LC_TIME_ZONE || "");
      data["WGT_TYPE" + [i]] = String(selectedRows[i].WGT_TYPE || "");
      data["LATITUDE" + [i]] = String(selectedRows[i].LATITUDE || "");
      data["LONGITUDE" + [i]] = String(selectedRows[i].LONGITUDE || "");
      data["RACK_USE_YN" + [i]] = String(selectedRows[i].RACK_USE_YN || "");
      data["AUTO_RCV_STEP" + [i]] = String(selectedRows[i].AUTO_RCV_STEP || "");
      data["AUTO_SND_STEP" + [i]] = String(selectedRows[i].AUTO_SND_STEP || "");
      data["MULTI_SHIP_YN" + [i]] = String(selectedRows[i].MULTI_SHIP_YN || "");
      data["RACK_TYPE" + [i]] = String(selectedRows[i].RACK_TYPE || "");
      data["LC_TYPE" + [i]] = String(selectedRows[i].LC_TYPE || "");
      data["LC_ENG_NM" + [i]] = String(selectedRows[i].LC_ENG_NM || "");
      data["MANAGE_PLT_YN" + [i]] = String(selectedRows[i].MANAGE_PLT_YN || "");
      data["LC_USE_TY" + [i]] = String(selectedRows[i].LC_USE_TY || "");
      data["STOCK_ALERT_YN" + [i]] = String(selectedRows[i].STOCK_ALERT_YN || "");
      data["CLIENT_ORD_YN" + [i]] = String(selectedRows[i].CLIENT_ORD_YN || "");
      data["RECEIVING_LC_ID" + [i]] = String(selectedRows[i].RECEIVING_LC_ID || "");
      data["SHIPPING_LC_ID" + [i]] = String(selectedRows[i].SHIPPING_LC_ID || "");
    }

    const res = await ApiService.postApi("/WMSMS030/save_rn.action", {}, data);

    if (res.status) {
      useToast().success(t("common-toast.registered"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {};

    for (let i = 0; selectedRows.length > i; i++) {
      // 반영되지 않은 신규 행 삭제
      if (selectedRows[i].STATE === "C") {
        gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
      } else {
        data["ST_GUBUN" + [rowIndex]] = "DELETE";
        data["LC_ID" + [rowIndex]] = selectedRows[i].LC_ID;

        rowIndex++;
        isDataDelete = true;
      }
    }

    // 데이터 삭제처리가 필요하지 않은 경우
    if (!isDataDelete) return;

    data["_fullpath"] = "";
    data["selectIds"] = String(rowIndex);
    data["I_selectIds"] = "";
    data["D_selectIds"] = String(rowIndex);

    const result = await ApiService.postApi("/WMSMS030/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 엑셀
 */
function excelExport() {
  // 편집 상태 종료
  gridApi.value?.stopEditing();

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.warehouse-information-management"),
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "text"
 */
function infoTextChangedCallBack(e: Event, key: string, overapCheckVal?: boolean) {
  const target = e.target as HTMLInputElement;
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  rowNode.setDataValue(key, target.value);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "select"
 */
function infoSelectChangedCallBack(e: Event, key: string, option: any) {
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  rowNode.setDataValue(key, option.CODE_CD);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "triple search (modal)"
 */
function infoTripleSearchChangedCallBack(key: string, value: any) {
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  rowNode.setDataValue(key, value);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSMS030/list_rn.action", apiParams, bodyData.value, false);
}

/**
 * 그리드 셀 클릭 이벤트
 * - 선택 행의 정보를 info 영역에 맵핑
 */
function onCellClicked(e: CellClickedEvent) {
  useSelectedDataStore().selectedInfoHandler(e.data, true);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    // flex: 1;
    padding: 0 0 0 0 !important;
  }
}
</style>
