<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS090/page.vue
 *  Description:    기준정보/상품정보관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-grid-info-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :onCellFocused="onCellFocused"
      :info-meta="infoMetaRef"
      :infoControlBtn="INFO_CONTROL_BTN"
      :infoTextChanged="infoCompChangedCallBack"
      :infoSelectChanged="infoCompSelectedCallBack"
      :infoTripleSearchChanged="infoModalSearchCallBack">
      <template v-slot:grid-button>
        <control-container>
          <div v-for="btnData in controlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
      <template v-slot:info-button>
        <control-container>
          <div v-for="btnData in infoControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
          <div v-for="splitBtnData in infoSplitButtonRef" :key="splitBtnData.title" style="height: inherit">
            <SplitButton :data="splitBtnData" :contents="splitButtonEventHandler[splitBtnData.eventHandler]" />
          </div>
        </control-container>
      </template>
      <!-- TODO :: 권한 처리 필요 -->
      <template v-slot:info-grid-button>
        <control-container>
          <div v-for="btnData in infoGridControlBtnRef" :key="btnData.title">
            <control-button :data="btnData" @clicked="infoGridEventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
    </common-grid-info-form>
    <center-synchronization v-if="openModal.isOpenLcSyncModal" :changeIsOpenLcSyncModal="changeIsOpenLcSyncModal" :setLcSyncModalParams="setLcSyncModalParams" />
    <div id="jqContextMenu">
      <div style="text-align: right; font-size: 14px; cursor: pointer; background-color: #bce55c; height: 30px; padding-top: 5px; padding-right: 5px" @click="fn_contextWorkModal('C')">닫기 X</div>
      <br /><b>1) {{ $t("text.product-info") }} + {{ $t("text.barcode") }}</b>
      <input type="button" class="btnEtc" name="btn_write" @click="fn_barcodePrint(1)" role="button" aria-disabled="false" />
      <br /><b>2) {{ $t("text.barcode") }} (3 x 1.5)</b>
      <input type="button" class="btnEtc" name="btn_write" @click="fn_barcodePrint(3)" role="button" aria-disabled="false" />
      <br /><b>3) {{ $t("text.barcode") }} (4 x 1.5)</b>
      <input type="button" class="btnEtc" name="btn_write" @click="fn_barcodePrint(4)" role="button" aria-disabled="false" />
    </div>
    <only-grid-view
      v-if="openModal.isOnlyGridViewModal"
      :setOnlyGridViewParams="setOnlyGridViewParams"
      @close="
        (e: any) => {
          openModal.isOnlyGridViewModal = e;
        }
      " />
  </div>
  <div id="dataTable"></div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS090" };
</script>
<script setup lang="ts">
import { ControlButton, SplitButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonGridInfoForm from "@/page/common-page/common-grid-info-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { CenterSynchronization, OnlyGridView } from "@/popups";
import { ApiService } from "@/services/api-service";
import { QRCode } from "@/services/qrcode-service.ts";
import { IOZReportArgument, OZReport } from "@/services/report-service.ts";
import { SearchUtil } from "@/services/searchUtil-service.ts";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore, userStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { IInfoInputContainer } from "@/types/index.ts";
import { CellFocusedEvent, ExcelExportParams, GridApi, GridReadyEvent, IRowNode } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS, ONLY_GRID_VIEW_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, INFO, INFO_CONTROL_BTN, INFO_GRID_BTN, INFO_META, INFO_SPLIT_BTN, SEARCH_INPUT, SEARCH_META } from "./input.meta";
//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const infoControlBtnRef = ref(INFO_CONTROL_BTN);
const infoSplitButtonRef = ref(INFO_SPLIT_BTN);
const infoGridControlBtnRef = ref(INFO_GRID_BTN);
const gridApi = ref<GridApi | undefined>();
const infoGridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const { t } = useI18n();
let selectedMainRowData: any = null;
let isShowGridTotalIntegrationMenu = ref(false);
let infoMetaRef = ref(INFO_META);
const openModal = reactive({ isOpenLcSyncModal: false as boolean, isOnlyGridViewModal: false as boolean });
const currentUser = JSON.parse(userStore().getCurrentUser());

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
  "product-re-registration": productReRegistration,
  "warehouse-synchronization": changeIsOpenLcSyncModal,
  "designate-a-representative-location": designateRepresentativeLocation,
};

/** Split 버튼 이벤트 리스너 */
const splitButtonEventHandler: Record<string, any[]> = {
  barcodeButtonHandler: [
    {
      label: t("control-button-name.duplicate-barcode"),
      command: () => {
        setOnlyGridViewParams();
      },
    },
    {
      label: t("control-button-name.barcode-output"),
      command: () => {
        printBarcode();
      },
    },
    {
      label: t("control-button-name.create-barcode"),
      command: () => {
        fn_poolListPrint();
      },
    },
  ],
  excelButtonHandler: [
    {
      label: t("control-button-name.excel-input(simple)"),
      command: () => {
        excelImport();
      },
    },
    {
      label: t("control-button-name.enter-excel"),
      command: () => {
        simpleExcelImport();
      },
    },
  ],
};

const infoGridEventHandler: Record<string, Function> = {
  save: uomSaveRowData,
  new: uomAddRowData,
  del: uomDeleteRowData,
};

const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res1 = await ApiService.postApi(`/WINUS/${myPageId.value}_rn.action`, {}, UtilService.getOptionApiData(`${myPageId.value}_rn`));
  if (res1.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res1.result?.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res1.result);
  }
  const res2 = await ApiService.postApi("/WMSCM162_rn.action", {}, UtilService.getOptionApiData("WMSCM162_rn"));
  if (res2.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res2.result);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", onGridReadyCallBack);
});

onUnmounted(() => {
  eventBus.off("onGridReady", onGridReadyCallBack);
});

//#endregion

//#region ::  User Function Definitions

/**
 * 상품재등록
 */
function productReRegistration() {
  useCallModalIdStore().setCallModalId("deleted-product");
}

/**
 * 신규
 */
function addRowData() {
  try {
    const DEFAULT_UOM_CD = "EA";
    const DEFAULT_UOM_ID = useOptionDataStore()
      .getOptionData()
      .UOM.find((dt: any) => dt.CODE === DEFAULT_UOM_CD).ID;

    if (UtilService.isEmptyString(DEFAULT_UOM_ID)) throw new Error("UOM 정보가 없습니다.");

    // 기본 값
    const newRowData = [
      {
        STATE: "C",
        CUST_CD: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD,
        CUST_NM: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM,
        CUST_ID: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID,
        REP_UOM_CD: DEFAULT_UOM_CD,
        REP_UOM_ID: DEFAULT_UOM_ID,
        UOM_CD: DEFAULT_UOM_CD,
        UOM_ID: DEFAULT_UOM_ID,
        SET_ITEM_YN: "N",
        OUT_LOC_REC: "01",
        LOT_USE_YN: "N",
        TYPE_ST: "T",
        AUTO_OUT_ORD_YN: "N",
        REWORK_ITEM_YN: "N",
        ITEM_TMP: "0",
        DEV_ITEM_TMP: "0",
        ITEM_TYPE: "10",
        SET_ITEM_TYPE: "Y",
        CURRENCY_NAME: "KRW",
        IN_LOC_REC: "01",
        PLT_YN: "Y",
      },
    ];

    gridApi.value?.applyTransaction({
      add: newRowData,
      addIndex: 0,
    });
  } catch (e) {
    useToast().error(t("common-toast.error"));
    return e;
  }
}

/**
 * 저장
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const validationResult = UtilService.inputRequiredValidation(INFO_META.infoInput, selectedRows);
  if (!validationResult?.status) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${validationResult?.toastKey}`) }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
  try {
    let body = UtilService.getBodyDataByGridAndInfo(INFO.pk, null, FORM_COLUMN_DEFS, selectedRows, true, "save");
    const keys = Object.keys(body);

    // 공백 처리
    for (let i = 0; keys.length > i; i++) {
      body[keys[i]] = String(body[keys[i]] === undefined ? "" : body[keys[i]]);
    }

    for (let i = 0; i < selectedRows.length; i++) {
      body[`I_ITEM_NM${i}`] = selectedRows[i].ITEM_KOR_NM;
    }

    const result = await ApiService.postApi("/WMSMS090/save_rn.action", {}, body);

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  // 로우의 STOCK_QTY값이 0이상인 경우 삭제 안되게끔 막음
  for (let i = 0; selectedRows.length > i; i++) {
    if (selectedRows[i].STOCK_QTY && Number(selectedRows[i].STOCK_QTY) > 0) {
      return useToast().warning(t("common-toast.location-is-in-stock"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  try {
    let body = UtilService.getBodyDataByGridAndInfo(INFO.pk, null, FORM_COLUMN_DEFS, selectedRows, true, "delete");

    for (let i = 0; selectedRows.length > i; i++) {
      // 반영되지 않은 신규 행 삭제
      if (selectedRows[i].STATE === "C") {
        gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
      } else {
        rowIndex++;
        isDataDelete = true;
      }
    }

    // 데이터 삭제처리가 필요하지 않은 경우
    if (!isDataDelete) return;

    const result = await ApiService.postApi("/WMSMS090/save_rn.action", {}, body);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 엑셀
 */
function excelExport() {
  let columnKeys = [] as string[];

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.product-information-management"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 엑셀입력
 */
function excelImport() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  const data = {
    modalTitle: t("popup-title.product-info-enter-excel") + " (" + useSelectedDataStore().getSelectedModalData().owner.CUST_NM + ")",
    saveUrl: "/WMSMS090/uploadInfoPk_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS090&file_name=execlTemp_goods_12.xls",
    uploadType: "NORMAL",
    vrCustId: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
    chkDuplicationYn: false,
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * 엑셀입력(간편)
 */
function simpleExcelImport() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  const data = {
    modalTitle: t("popup-title.product-info-enter-excel") + " (" + useSelectedDataStore().getSelectedModalData().owner.CUST_NM + ")",
    saveUrl: "/WMSMS090/uploadInfoPk_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS090&file_name=execlTemp_goods_03.xls",
    uploadType: "SIMPLE",
    vrCustId: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
    chkDuplicationYn: false,
  };

  UtilService.excelImport(data, "/excel-import");
}

/**
 * 센터동기화
 *
 * @param value
 */
function changeIsOpenLcSyncModal(value: boolean) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (selectedRows.length > 0) {
    openModal.isOpenLcSyncModal = value;
  } else {
    return useToast().warning(t("common-toast.please-select-the-data-to-process"));
  }
}

/**
 * 대표로케이션지정
 */
function designateRepresentativeLocation() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  const data = {
    modalTitle: t("popup-title.product-info-enter-excel") + " (" + useSelectedDataStore().getSelectedModalData().owner.CUST_NM + ")",
    saveUrl: "/WMSMS090/uploadItemLoc_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS090&file_name=execlTemp_goods_04.xls",
  };

  UtilService.excelImport(data, "/excel-import");
}

/**
 * 센터동기화에 보낼 ui, params 데이터
 */
function setLcSyncModalParams() {
  const uiOption = { title: "", useAsnCheckbox: false };
  const apiUrl = "/WMSMS090/saveLcSync_rn.action";
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const params: any = {
    _fullpath: "",
    MULIT_LC_ID_ARR: "",
    selectIds: String(selectedRows.length),
  };

  for (let i = 0; selectedRows.length > i; i++) {
    params["ITEM_CODE" + [i]] = selectedRows[i].ITEM_CODE;
    params["CUST_ID" + [i]] = selectedRows[i].CUST_ID;
  }

  return { params, uiOption, apiUrl };
}

/**
 * 중복바코드
 */
function setOnlyGridViewParams() {
  const title = {
    modalTitle: t("modal-title.duplicate-barcode-inquiry"),
    gridTitle: t("grid-title.product-list"),
  };
  const apiUrl = "/WMSMS090/selectDuplicateBarcd_rn.action";
  const params: any = {
    vrLcId: currentUser.LC_ID,
    vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "",
  };
  const pagingInfo = "WMSCM091Q7";

  const columnDefs = ONLY_GRID_VIEW_COLUMN_DEFS;

  openModal.isOnlyGridViewModal = true;
  return { title, apiUrl, params, pagingInfo, columnDefs };
}

/**
 * 바코드 출력
 */
function printBarcode() {
  fn_contextWorkModal("O");
}

function fn_contextWorkModal(gb: string) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  /* 선택한 행이 있는지 체크 */
  if (gb == "O" && selectedRows.length < 1) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  switch (gb) {
    case "O": //OPEN\\
      document.getElementById("jqContextMenu")!.style.visibility = "visible";
      break;
    case "C": //CLOSE
      document.getElementById("jqContextMenu")!.style.visibility = "hidden";
      break;
  }
}

/**
 * 바코드 출력
 * - (유형 1) 상품정보 + 바코드
 * - (유형 2) 바코드 (3 * 1.5)
 * - (유형 3) 바코드 (4 * 1.5)
 *
 * @param type : 출력유형
 */
function fn_barcodePrint(type: number) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  let keys = "";
  for (let r = 0; r < selectedRows.length; r++) {
    let itemCd = selectedRows[r].ITEM_CODE;
    keys += itemCd;
    if (r < selectedRows.length - 1) {
      keys += ":";
    }
  }

  let itemCdList = selectedRows.map((dt: any) => dt.ITEM_CODE).join(":");

  let fileName;
  let reportName;
  let odiName;

  if (type === 1) {
    fileName = "WINUSMS090R1RB";
    reportName = "WINUSMS090R1.ozr";
    odiName = "WINUSMS090R1";
  } else if (type === 3) {
    fileName = "WINUSMS090R3RB";
    reportName = "WINUSMS090R3.ozr";
    odiName = "WINUSMS090R1";
  } else if (type === 4) {
    fileName = "WINUSMS090R4RB";
    reportName = "WINUSMS090R4.ozr";
    odiName = "WINUSMS090R1";
  }

  let ozReport = new OZReport({
    title: "label",
    fileName: fileName,
    reportName: reportName,
    odiName: odiName,
  } as IOZReportArgument);

  ozReport.SetOdiParam({
    LC_ID: currentUser.LC_ID,
    CUST_ID: undefined,
    ITEM_LIST: itemCdList,
  });

  const asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_InPopup", "1000", "800") as any;
  asppop.focus();
  fn_contextWorkModal("C");
}

/**
 * 바코드생성
 */
function fn_poolListPrint() {
  const selcetedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let html = "";
  let htmlEnd = "";
  let htmlEndCnt = 1;
  let bgColor = "#EAEAEA";
  let pageDivCnt = 1;
  const date = new Date();
  date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();

  if (selcetedRows.length < 1) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  for (let i = 0; i < selcetedRows.length; i++) {
    //인쇄 페이징 처리 구분
    // 2023.02.09
    // KCP 유럽일 경우에만 상품명 QR 코드 생성
    if (currentUser.LC_ID == "0000003860") {
      if (i == 0) {
        html += "<div style='page-break-before:avoid'>";
        html +=
          "<div style='text-align:center;'><table style='width: 100%;' border='0'><td style='width: 20%;'></td><td style='width: 60%;font-size:15px;' align='center'>상품 리스트</td><td style='width: 20%;font-size:9px;' align='center'>" +
          selcetedRows[i].GET_DATE +
          "</td></table></div>";
        html += " <table style='height: 40px; width: 100%; background-color:" + bgColor + ";' border='0'>";
        html += " <tbody>";
        html += " <tr>";
        html += " <td style='width: 8%;' align='center'>No</td>";
        html += " <td style='width: 23%;' align='center'>상품코드</td>";
        html += " <td style='width: 13%;' align='center'>상품코드QR</td>"; // colspan='1' rowspan='1'
        html += " <td style='width: 43%;' align='center'>상품명</td>";
        html += " <td style='width: 13%;' align='center'>상품명QR</td>"; // colspan='1' rowspan='1'
        html += " </tr>";
        html += " </tbody>";
        html += " </table>";
        html += "</div>";
      } else if (i != 0 && pageDivCnt == 1) {
        html += "</div>";
        html += "<br style='height:0; line-height:0'>";
        html += "<div style='page-break-before:always'>";
        html +=
          "<div style='text-align:center;'><table style='width: 100%;' border='0'><td style='width: 20%;'></td><td style='width: 60%;font-size:15px;' align='center'>상품 리스트</td><td style='width: 20%;font-size:9px;' align='center'>" +
          selcetedRows[i].GET_DATE +
          "</td></table></div>";
        html += " <table style='height: 40px; width: 100%; background-color:" + bgColor + ";' border='0'>";
        html += " <tbody>";
        html += " <tr>";
        html += " <td style='width: 8%;' align='center'>No</td>";
        html += " <td style='width: 23%;' align='center'>상품코드</td>";
        html += " <td style='width: 13%;' align='center'>상품코드QR</td>"; // colspan='1' rowspan='1'
        html += " <td style='width: 43%;' align='center'>상품명</td>";
        html += " <td style='width: 13%;' align='center'>상품명QR</td>"; // colspan='1' rowspan='1'
        html += " </tr>";
        html += " </tbody>";
        html += " </table>";
        html += "</div>";
      }
    } else {
      if (i == 0) {
        html += "<div style='page-break-before:avoid'>";
        html +=
          "<div style='text-align:center;'><table style='width: 100%;' border='0'><td style='width: 20%;'></td><td style='width: 60%;font-size:15px;' align='center'>상품 리스트</td><td style='width: 20%;font-size:9px;' align='center'>" +
          selcetedRows[i].GET_DATE +
          "</td></table></div>";
        html += " <table style='height: 40px; width: 100%; background-color:" + bgColor + ";' border='0'>";
        html += " <tbody>";
        html += " <tr>";
        html += " <td style='width: 10%;' align='center'>No</td>";
        html += " <td style='width: 25%;' align='center'>상품코드</td>";
        html += " <td style='width: 45%;' align='center'>상품명</td>";
        html += " <td style='width: 20%;' align='center'>상품코드QR</td>"; // colspan='1' rowspan='1'
        html += " </tr>";
        html += " </tbody>";
        html += " </table>";
        html += "</div>";
      } else if (i != 0 && pageDivCnt == 1) {
        html += "</div>";
        html += "<br style='height:0; line-height:0'>";
        html += "<div style='page-break-before:always'>";
        html +=
          "<div style='text-align:center;'><table style='width: 100%;' border='0'><td style='width: 20%;'></td><td style='width: 60%;font-size:15px;' align='center'>상품 리스트</td><td style='width: 20%;font-size:9px;' align='center'>" +
          selcetedRows[i].GET_DATE +
          "</td></table></div>";
        html += " <table style='height: 40px; width: 100%; background-color:" + bgColor + ";' border='0'>";
        html += " <tbody>";
        html += " <tr>";
        html += " <td style='width: 10%;' align='center'>No</td>";
        html += " <td style='width: 25%;' align='center'>상품코드</td>";
        html += " <td style='width: 45%;' align='center'>상품명</td>";
        html += " <td style='width: 20%;' align='center'>상품코드QR</td>"; // colspan='1' rowspan='1'
        html += " </tr>";
        html += " </tbody>";
        html += " </table>";
        html += "</div>";
      }
    }

    let htmlText = "<div>";
    switch (pageDivCnt) {
      case 1: //검색 화주
        html += htmlText;
        if (i == selcetedRows.length - 1) {
          htmlEnd = "<br><div style='text-align:center; font-size:20px;'>- " + htmlEndCnt + " -</div>";
        } else {
          htmlEnd = "";
        }
        pageDivCnt = pageDivCnt + 1;
        break;
      case 2: //검색 화주
        html += htmlText;
        if (i == selcetedRows.length - 1) {
          htmlEnd = "<br><div style='text-align:center; font-size:20px;'>- " + htmlEndCnt + " -</div>";
        } else {
          htmlEnd = "";
        }
        pageDivCnt = pageDivCnt + 1;
        break;
      case 3: //검색 화주
        html += htmlText;
        if (i == selcetedRows.length - 1) {
          htmlEnd = "<br><div style='text-align:center; font-size:20px;'>- " + htmlEndCnt + " -</div>";
        } else {
          htmlEnd = "";
        }
        pageDivCnt = pageDivCnt + 1;
        break;
      case 4: //검색 화주
        html += htmlText;
        if (i == selcetedRows.length - 1) {
          htmlEnd = "<br><div style='text-align:center; font-size:20px;'>- " + htmlEndCnt + " -</div>";
        } else {
          htmlEnd = "";
        }
        pageDivCnt = pageDivCnt + 1;
        break;
      case 5: //검색 화주
        html += htmlText;
        if (i == selcetedRows.length - 1) {
          htmlEnd = "<br><div style='text-align:center; font-size:20px;'>- " + htmlEndCnt + " -</div>";
        } else {
          htmlEnd = "";
        }
        pageDivCnt = pageDivCnt + 1;
        break;
      case 6: //검색 화주
        html += htmlText;
        if (i == selcetedRows.length - 1) {
          htmlEnd = "<br><div style='text-align:center; font-size:20px;'>- " + htmlEndCnt + " -</div>";
        } else {
          htmlEnd = "";
        }
        pageDivCnt = pageDivCnt + 1;
        break;
      case 7: //검색 화주
        html += htmlText;
        if (i == selcetedRows.length - 1) {
          htmlEnd = "<br><div style='text-align:center; font-size:20px;'>- " + htmlEndCnt + " -</div>";
        } else {
          htmlEnd = "";
        }
        pageDivCnt = pageDivCnt + 1;
        break;
      case 8: //검색 화주
        html += htmlText;
        if (i == selcetedRows.length - 1) {
          htmlEnd = "<br><div style='text-align:center; font-size:20px;'>- " + htmlEndCnt + " -</div>";
        } else {
          htmlEnd = "";
        }
        pageDivCnt = pageDivCnt + 1;
        break;
      case 9: //검색 화주
        html += htmlText;
        if (i == selcetedRows.length - 1) {
          htmlEnd = "<br><div style='text-align:center; font-size:20px;'>- " + htmlEndCnt + " -</div>";
        } else {
          htmlEnd = "";
        }
        pageDivCnt = pageDivCnt + 1;
        break;
      case 10: //검색 화주
        html += htmlText;
        htmlEnd = "<br><div style='text-align:center; font-size:20px;'>- " + htmlEndCnt + " -</div>";
        pageDivCnt = 1;
        htmlEndCnt++;
        break;
    }

    if ((i + 1) % 2 != 0) {
      bgColor = "#FFFFFF";
    } else {
      bgColor = "#EAEAEA";
    }

    // 2023.02.09
    // KCP 유럽일 경우에만 상품명 QR 코드 생성
    if (currentUser.LC_ID == "0000003860") {
      html += "";
      html += " <table style='height: 82px; width: 100%; background-color:" + bgColor + "; word-break:break-all;' border='0'>";
      html += " <tbody>";
      html += " <tr>";
      html += " <td style='width: 8%;' align='center'>" + (i + 1) + "</td>";
      html += " <td style='width: 23%;'>" + selcetedRows[i].ITEM_CODE + "</td>";
      if (selcetedRows[i].TRAN_BAR_CD.length == 0) {
        html += " <td style='width: 13%;' align='center'>None<br>code.</td>"; // colspan='1' rowspan='1'
      } else {
        html += ` <td style='width: 13%;' align='center'><div align='center'>${QRCode.Generator(selcetedRows[i].TRAN_BAR_CD)}</div></td>`;
      }
      html += " <td style='width: 43%;'>" + selcetedRows[i].ITEM_KOR_NM + "</td>";

      if (selcetedRows[i].ITEM_KOR_NM.length == 0) {
        html += " <td style='width: 13%;' align='center'>None<br>code.</td>"; // colspan='1' rowspan='1'
      } else {
        html += " <td style='width: 13%;' align='center'><div align='center' id='qrItem_nm_" + i + "'></div></td>"; // colspan='1' rowspan='1'
        html += ` <td style='width: 13%;' align='center'><div align='center'>${QRCode.Generator(selcetedRows[i].ITEM_KOR_NM)}</div></td>`; // colspan='1' rowspan='1'
      }
      html += " </tr>";
      html += " </tbody>";
      html += " </table>";
      html += "</div>";
      html += htmlEnd;
    } else {
      html += "";
      html += " <table style='height: 82px; width: 100%; background-color:" + bgColor + "; word-break:break-all;' border='0'>";
      html += " <tbody>";
      html += " <tr>";
      html += " <td style='width: 10%;' align='center'>" + (i + 1) + "</td>";
      html += " <td style='width: 25%;'>" + selcetedRows[i].ITEM_CODE + "</td>";
      html += " <td style='width: 45%;'>" + selcetedRows[i].ITEM_KOR_NM + "</td>";
      if (selcetedRows[i].TRAN_BAR_CD.length == 0) {
        html += " <td style='width: 20%;' align='center'>None<br>code.</td>"; // colspan='1' rowspan='1'
      } else {
        html += " <td style='width: 20%;' align='center'><div align='center' id='qrItem_code_" + i + "'></div></td>"; // colspan='1' rowspan='1'
        html += ` <td style='width: 20%;' align='center'><div align='center'>${QRCode.Generator(selcetedRows[i].TRAN_BAR_CD)}</div></td>`;
      }
      html += " </tr>";
      html += " </tbody>";
      html += " </table>";
      html += "</div>";
      html += htmlEnd;
    }
  }
  html += "</div>";
  html += "<br style='height:0; line-height:0'>";
  document.querySelectorAll("#dataTable")[0].innerHTML = html;

  //프린트 출력 부분 div 셋팅
  html += "<div></div>";
  let runPrint;
  let printContent = document.getElementById("dataTable") as any;
  let windowUrl = "";
  let uniqueName = new Date();
  let windowName = "Print" + uniqueName.getTime();
  let printWindow = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1") as any;
  printWindow.document.write(printContent.innerHTML);

  runPrint = setTimeout(function () {
    printWindow.window.print();
  }, 2000);

  //프린트 출력 부분 div 초기화 (삭세)
  document.querySelectorAll("#dataTable")[0].innerHTML = "";
}

/**
 * UOM환산이력 : 신규
 */
function uomAddRowData() {
  if (selectedMainRowData === null) {
    return useToast().warning(t("common-toast.please-select-product-information"));
  }

  try {
    const DEFAULT_UOM_CD = "PLT";
    const DEFAULT_UOM_ID = useOptionDataStore()
      .getOptionData()
      .UOM.find((dt: any) => dt.CODE === DEFAULT_UOM_CD).ID;

    if (UtilService.isEmptyString(DEFAULT_UOM_ID)) throw new Error("UOM 정보가 없습니다.");

    // 기본 값
    const newRowData = [
      {
        STATE: "C",
        QTY: 1,
        RITEM_ID: selectedMainRowData.RITEM_ID,
        UOM1_CODE: selectedMainRowData.REP_UOM_CD || "",
        UOM1_CD: selectedMainRowData.REP_UOM_ID || "",
        UOM2_CODE: DEFAULT_UOM_CD,
        UOM2_CD: DEFAULT_UOM_ID,
      },
    ];

    infoGridApi.value?.applyTransaction({
      add: newRowData,
      addIndex: 0,
    });
  } catch (e) {
    useToast().error(t("common-toast.error"));
    return console.log(e);
  }
}

/**
 * UOM환산이력 : 저장
 */
async function uomSaveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(infoGridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let body: any = {};

    for (let i = 0; i < selectedRows.length; i++) {
      if (selectedRows[i].STATE === "C") {
        body[`ST_GUBUN${i}`] = "INSERT";
      } else {
        body[`ST_GUBUN${i}`] = "UPDATE";
      }

      body[`RITEM_ID${i}`] = selectedRows[i].RITEM_ID;
      body[`UOM1_CD${i}`] = selectedRows[i].UOM1_CD;
      body[`UOM2_CD${i}`] = selectedRows[i].UOM2_CD;
      body[`QTY${i}`] = selectedRows[i].QTY;
      body[`UOM_SEQ${i}`] = selectedRows[i].UOM_SEQ;
    }

    body["selectIds"] = selectedRows.length;

    const res = await ApiService.postApi("/WMSMS090/saveSub_rn.action", {}, body);

    if (res.status) {
      if (res.result.errCnt >= 1) throw new Error(res.result.MSG);

      useToast().success(t("common-toast.registered"));
      searchGridData(infoGridApi.value!);
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * UOM환산이력 : 삭제
 */
async function uomDeleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(infoGridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  // 편집 상태 종료
  infoGridApi.value?.stopEditing();

  if (selectedRows.some((dt: any) => dt[INFO.pk] === 1)) {
    return useToast().warning(t("common-toast.can-not-delete-first-line"));
  }

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let body: any = {};

    for (let i = 0; selectedRows.length > i; i++) {
      // 반영되지 않은 신규 행 삭제
      if (selectedRows[i].STATE === "C") {
        infoGridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
      } else {
        rowIndex++;
        isDataDelete = true;
      }

      body[`ST_GUBUN${i}`] = "DELETE";
      body[`RITEM_ID${i}`] = selectedRows[i].RITEM_ID;
      body[`UOM1_CD${i}`] = selectedRows[i].UOM1_CD;
      body[`UOM2_CD${i}`] = selectedRows[i].UOM2_CD;
      body[`QTY${i}`] = selectedRows[i].QTY;
      body[`UOM_SEQ${i}`] = selectedRows[i].UOM_SEQ;
    }

    // 데이터 삭제처리가 필요하지 않은 경우
    if (!isDataDelete) return;

    body["selectIds"] = rowIndex;

    const result = await ApiService.postApi("/WMSMS090/saveSub_rn.action", {}, body);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      searchGridData(infoGridApi.value!);
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 상품군 (대), 상품군 (중), 상품군 (소) 각각 상위의 인풋이 change될때마다 해당되는 options의 결과값을 갖고옴
 */
async function getOptionsOfProductGroupInput(vrUpItemGrpId: string, vrGrpLevel: string, optionsKey: string) {
  const bodyData = {
    vrUpItemGrpId,
    vrGrpLevel,
  };
  const res = await ApiService.postApi("/WMSMS094/selectItemGrpLvl_rn.action", {}, bodyData);

  if (res.status) {
    res.result.list.unshift({ CODE_CD: "", CODE_NM: t("select-options.select") });
    if (res.result.list.length > 1) {
      useOptionDataStore().changeOptionData(optionsKey, res.result.list);
    } else {
      useOptionDataStore().changeOptionData(optionsKey, res.result.list);
      if (optionsKey === "ITEM_GRP_2ND_ID") {
        useSelectedDataStore().changeSelectedInfoData("ITEM_GRP_2ND_ID", "");
        useSelectedDataStore().changeSelectedInfoData("ITEM_GRP_3RD_ID", "");
        useOptionDataStore().changeOptionData("ITEM_GRP_3RD_ID", res.result.list);
      } else {
        useSelectedDataStore().changeSelectedInfoData("ITEM_GRP_3RD_ID", "");
      }
    }
  }
}

/**
 * 상품군(대/중/소) 란의 초기화
 */
function initOptionsOfProductGroupInput(id: string) {
  useOptionDataStore().changeOptionData(id, [{ CODE_CD: "", CODE_NM: t("select-options.select") }]);
  useSelectedDataStore().changeSelectedInfoData(id, "");
}

/**
 * 유통기한통제기준 변경
 * - 유효기간 선택 시 : 유효기간/유효기간단위 활성화
 * - 소비기한 선택 시 : 소비기한/소비기한단위 활성화
 */
function changedBestDateType(value: string, rowNode?: IRowNode, initValue: boolean = false) {
  const infoTitle = "period-info";
  const inputMeta = infoMetaRef.value.infoInput.find((dt: IInfoInputContainer) => dt.title === infoTitle).inputs;
  console.log(value);

  switch (value) {
    case "1":
      SearchUtil.setDisabled(inputMeta, "I_BEST_DATE_NUM", false);
      SearchUtil.setDisabled(inputMeta, "BEST_DATE_UNIT", false);
      SearchUtil.setDisabled(inputMeta, "I_USE_DATE_NUM", true);
      SearchUtil.setDisabled(inputMeta, "USE_DATE_UNIT", true);

      if (initValue) {
        rowNode?.setDataValue("USE_DATE_NUM", "");
        rowNode?.setDataValue("USE_DATE_UNIT", "");
      }

      break;

    case "2":
      SearchUtil.setDisabled(inputMeta, "I_BEST_DATE_NUM", true);
      SearchUtil.setDisabled(inputMeta, "BEST_DATE_UNIT", true);
      SearchUtil.setDisabled(inputMeta, "I_USE_DATE_NUM", false);
      SearchUtil.setDisabled(inputMeta, "USE_DATE_UNIT", false);

      if (initValue) {
        rowNode?.setDataValue("BEST_DATE_NUM", "");
        rowNode?.setDataValue("BEST_DATE_UNIT", "");
      }

      break;
  }
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "text"
 */
function infoCompChangedCallBack(e: Event, key: string, overapCheckVal?: boolean) {
  const target = e.target as HTMLInputElement;
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  console.log(key, String(target.value));

  rowNode.setDataValue(key, String(target.value));

  return "";
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "select"
 */
function infoCompSelectedCallBack(e: Event, key: string, option: any) {
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;
  let value = "";

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  value = option.CODE_CD ?? option.code;
  rowNode.setDataValue(key, value);

  switch (key) {
    /** 상품군(대) */
    case "ITEM_GRP_ID":
      initOptionsOfProductGroupInput("ITEM_GRP_2ND_ID");
      initOptionsOfProductGroupInput("ITEM_GRP_3RD_ID");

      // 상품군(중) 조회
      if (!UtilService.isEmptyString(value)) {
        getOptionsOfProductGroupInput(value, "2", "ITEM_GRP_2ND_ID");
      }
      break;

    /** 상품군(중) */
    case "ITEM_GRP_2ND_ID":
      initOptionsOfProductGroupInput("ITEM_GRP_3RD_ID");

      // 상품군(소) 조회
      if (!UtilService.isEmptyString(value)) {
        getOptionsOfProductGroupInput(value, "3", "ITEM_GRP_3RD_ID");
      }
      break;

    /** 유통기한통제기준 */
    case "BEST_DATE_TYPE":
      changedBestDateType(value, rowNode, true);
      break;
  }
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "triple search (modal)"
 */
function infoModalSearchCallBack(key: string, value: any) {
  if (!value) return;

  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  rowNode.setDataValue(key, value);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

function onGridReadyCallBack(params: GridReadyEvent) {
  const gridId = params.api.getGridId();

  if (gridId === `${myPageId.value}-grid`) {
    gridApi.value = params.api;
  } else {
    infoGridApi.value = params.api;
  }
}

async function getServerData(apiParams: any, bodyData: any, gridApi: GridApi) {
  const gridId = gridApi?.getGridId();

  if (gridId === `${myPageId.value}-grid`) {
    return await ApiService.postApi("/WMSMS090/list_rn.action", apiParams, bodyData.value, false);
  } else {
    apiParams = { RITEM_ID: selectedMainRowData.RITEM_ID };
    return await ApiService.postApi("/WMSMS090/listUom_rn.action", apiParams, bodyData.value, false);
  }
}

/**
 * 그리드 셀 포커스 이벤트
 * - 선택 행의 정보를 info 영역에 맵핑
 */
function onCellFocused(e: CellFocusedEvent) {
  const gridId = e.api.getGridId();
  const rowData = e.api.getModel().getRow(e.rowIndex!)!.data;

  // Main Grid 이벤트인 경우
  if (gridId === `${myPageId.value}-grid`) {
    const rowNode = gridApi.value!.getModel().getRow(e.rowIndex!);

    useSelectedDataStore().selectedInfoHandler(rowNode!.data, true);
    selectedMainRowData = rowNode!.data;

    searchGridData(infoGridApi.value);
    changedBestDateType(rowData.BEST_DATE_TYPE, undefined, true);
  }
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

#jqContextMenu {
  visibility: hidden;
  position: absolute;
  top: calc(20% + 58px);
  left: 38%;
  width: 500px;
  height: 375px;
  background: #ffffff;
  border: 3px solid #8c8c8c;
  z-index: 999;
  font-family: arial, serif;
  font-family: KoPubDotumLeft;
  text-align: center;
  > input {
    cursor: pointer;
  }
  .btnEtc {
    width: 90%;
    height: 60px;
    margin: 5px 0px 15px 0px;
    background-color: #337ab7;
  }
}
</style>
