<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	common-page/common-grid-info-form.vue
 *  Description:    좌측 Grid / 우측 Form(Info) 형태 Layout
 *  Authors:        dhkim
 *  Update History:
 *                  2024.07 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div class="form-container">
    <div class="grid-container">
      <common-grid
        :id="gridId"
        :onGridReady
        :onCellValueChanged
        :onCellDoubleClicked
        :onCellClicked
        :onCellFocused
        :onRowDoubleClicked
        :totalRows
        :formColumnDefs="formColumnDefsRef"
        :pinnedBottomRowData
        :onSelectionChanged
        :getContextMenuItems
        :gridOptionsMeta="gridOptionsMetaRef"
        :searchParams
        :pagingSizeList
        :pagingSize
        :currentPageNumber
        :lastPageNumber
        :gridHeaderName="props.gridMeta.gridHeaderName"
        :useUserSetting="props.gridMeta.useUserSetting"
        @onPageSizeChanged="handlePageSizeChanged"
        :context="$props.context">
        <template v-slot:grid-header>
          <slot name="grid-button"></slot>
        </template>
      </common-grid>
      <slot name="grid-buttom"></slot>
    </div>
    <!-- <common-info class="info-area" :info-meta="infoMetaRef" :infoTextChanged="infoChanged" :infoSelectChanged="infoSelected" :info-triple-search-changed="infoTripleSearchChanged">
      <template v-slot:info-header>
        <slot name="info-button"></slot>
      </template>
    </common-info> -->
    <div class="info-layout">
      <common-info class="info-area" :info-meta="infoMetaRef" :infoTextChanged="infoChanged" :infoSelectChanged="infoSelected" :info-triple-search-changed="infoTripleSearchChanged">
        <template v-slot:info-header>
          <slot name="info-button"></slot>
        </template>
      </common-info>
      <div v-if="props.infoMeta.gridOptionsMeta" class="info-grid">
        <common-grid
          :id="`info-${gridId}`"
          :onGridReady
          :onCellValueChanged
          :onCellDoubleClicked
          :onCellClicked
          :onSelectionChanged
          :getContextMenuItems
          :formColumnDefs="props.infoMeta.formColumnDefs"
          :gridOptionsMeta="props.infoMeta.gridOptionsMeta"
          :totalRows
          :searchParams
          :pagingSizeList
          :pagingSize
          :currentPageNumber
          :lastPageNumber
          :gridHeaderName="props.infoMeta.gridHeaderName"
          :useUserSetting="props.infoMeta.useUserSetting"
          :context="$props.context">
          <template v-slot:grid-header>
            <slot name="info-grid-button"></slot>
          </template>
        </common-grid>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { GridUtils } from "@/lib/ag-grid/utils";
import { UtilService } from "@/services/util-service";
import { menusStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import type { IControlBtn } from "@/types";
import type { CellClickedEvent, CellDoubleClickedEvent, CellFocusedEvent, ColDef, ColGroupDef, GetContextMenuItems, GridApi, GridReadyEvent, RowDoubleClickedEvent } from "ag-grid-community";
import { CellChangedEvent } from "ag-grid-community/dist/lib/interfaces/iRowNode";
import { set } from "lodash";
import { onBeforeMount, onMounted, onUnmounted, reactive, ref, toRef } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import CommonGrid from "./common-grid.vue";
import CommonInfo from "./common-info.vue";
// import info from "./info.vue";

/*
 * CellDoubleClickedHandler 타입을 정의합니다.
 */
type CellValueChangedHandler<TData = any> = (event: CellChangedEvent<TData> | any) => void;
type CellClickedHandler<TData = any> = (event: CellClickedEvent<TData>) => void;
type CellDoubleClickedHandler<TData = any> = (event: CellDoubleClickedEvent<TData>) => void;
type CellFocusedHandler<TData = any> = (event: CellFocusedEvent<TData>) => void;
type RowDoubleClickHandler<TData = any> = (event: RowDoubleClickedEvent<TData>) => void;

//#region ::  Variable Definitions

/*
 * props를 정의합니다.
 */
const props = defineProps<{
  context?: any;
  // gridMeta: 그리드 메타 데이터를 포함하는 객체
  gridMeta: any;

  // formColumnDefs: 그리드의 컬럼 정의 배열
  formColumnDefs: (ColDef | ColGroupDef)[] | null;

  // controlBtn: 제어 버튼 배열, null 또는 undefined 가능
  controlBtn?: IControlBtn[] | null | undefined;

  // searchInput: 검색 입력 데이터를 포함하는 객체
  searchInput: any;

  // getContextMenuItems: 컨텍스트 메뉴 항목을 가져오는 함수 (선택적)
  getContextMenuItems?: GetContextMenuItems<any>;

  // onCellValueChanged: 셀 값 변경 이벤트 핸들러 (선택적)
  onCellValueChanged?: CellValueChangedHandler<any>;

  // onCellDoubleClicked: 셀 클릭 이벤트 핸들러 (선택적)
  onCellClicked?: CellClickedHandler<any>;

  // onCellDoubleClicked: 셀 더블 클릭 이벤트 핸들러 (선택적)
  onCellDoubleClicked?: CellDoubleClickedHandler<any>;

  // onCellDoubleClicked: 셀 포커스 이벤트 핸들러 (선택적)
  onCellFocused?: CellFocusedHandler<any>;

  // onRowDoubleClicked: 행 더블 클릭 이벤트 핸들러 (선택적)
  onRowDoubleClicked?: RowDoubleClickHandler<any>;

  // onApiParamsChanged: API 파라미터 변경 시 호출되는 함수 (선택적)
  onApiParamsChanged?: Function;

  // getServerData: 서버 데이터를 가져오는 함수
  getServerData: Function;

  // readOnlyInputs: 읽기 전용 입력 필드 배열 (선택적)
  readOnlyInputs?: Array<string>;

  // gridOptionsMeta: 그리드 옵션 메타 데이터를 포함하는 객체
  gridOptionsMeta: any;

  // gridId: 그리드의 고유 ID
  gridId: string;

  gridResultField?: string;

  /** INFO 메타 정보 */
  infoMeta: any;

  /** INFO 헤더 영역의 컨트롤 버튼 */
  infoControlBtn?: any;

  /** INFO Text Box 변경 이벤트 */
  infoTextChanged?: any;

  /** INFO Select Box 변경 이벤트 */
  infoSelectChanged?: any;

  /** INFO Triple Search 변경 이벤트 */
  infoTripleSearchChanged?: any;
}>();

const { gridResultField = "list" } = props;
/*
 * 필요한 ref와 reactive 변수를 정의합니다.
 */
const gridOptionsMetaRef = ref(props.gridOptionsMeta);
const emit = defineEmits(["onSelectionChanged", "afterSearchData"]);
const formColumnDefsRef = ref<(ColDef | ColGroupDef)[] | null>(props.formColumnDefs);
const controlBtnRef = ref(props.controlBtn);
const infoControlBtnRef = ref(props.infoControlBtn);
const searchInputRef = ref(props.searchInput);

const infoMetaRef = ref(props.infoMeta);
const infoChanged = props.infoTextChanged;
const infoSelected = props.infoSelectChanged;

const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingSizeList = props.gridMeta.pagingSizeList;
const pagingSize = ref<number>(pagingSizeList![0]);
const formContainerRef = ref(null as null | any);
// const gridRowDataList = reactive({ value: [] as any[] });
const pinnedBottomRowData = ref<Record<string, any>[]>();
const inactive = ref<boolean>(false);
let gridApi: GridApi | null = null;
let infoGridApi: GridApi | null = null;
const page = reactive({ value: {} as any });
let startRowIndex = 0;
const eventBus = useEventBusStore();
const totalRows = reactive({ value: 0 as number });
const currentPageNumber = reactive({ value: 1 as number });
const lastPageNumber = reactive({ value: 1 as number });
const searchParams = reactive({ sort: "asc", colId: "" });
const subGrid = ref(false);

/*
 * 그리드가 준비되었을 때 실행되는 함수입니다.
 */
const onGridReady = (params: GridReadyEvent) => {
  const targetGridId = params.api.getGridId();

  if (targetGridId === props.gridId) {
    gridApi = params.api;
    gridApi!.hideOverlay();
    settingBottomColumn(params.columnApi);
  } else {
    infoGridApi = params.api;
    infoGridApi!.hideOverlay();
  }

  eventBus.emit("onGridReady", params);
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(() => {
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton(props.gridMeta?.authPageGroup, props.gridMeta?.authPageId, menusStore().getMenus(), toRef(controlBtnRef));
      page.value = UtilService.getAuthOnButton(props.infoMeta?.authPageGroup, props.infoMeta?.authPageId, menusStore().getMenus(), toRef(infoControlBtnRef));
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  });

  set(gridOptionsMetaRef.value, "onCellClicked", (e: CellClickedEvent) => {
    useSelectedDataStore().selectedInfoHandler(e.data, true);
  });

  return "";
});

/*
 * 컴포넌트가 마운트될 때 실행되는 함수입니다.
 */
onMounted(() => {
  eventBus.on("search-data", searchGridData);
});

onUnmounted(() => {
  eventBus.off("search-data", searchGridData);
});

/*
 * 컴포넌트에서 노출할 메서드를 정의합니다.
 */
defineExpose({
  gridApi,
  searchGridData,
});

//#endregion

//#region ::  User Function Definitions

/*
 * 하단 열을 설정하는 함수입니다.
 */
function settingBottomColumn(columnApi: any) {
  const colDefs = columnApi.columnModel.columnDefs;
  colDefs?.forEach((column: any) => {
    if (column.field === props.gridMeta?.checkBoxColumn) {
      column.valueGetter = (params: any) => {
        if (params.node.data && !Object.hasOwn(params.node.data, "RNUM")) {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  gridApi?.setColumnDefs(colDefs);
}

/*
 * 페이지 크기가 변경되었을 때 실행되는 함수입니다.
 */
function handlePageSizeChanged(value: number) {
  pagingSize.value = value;
  eventBus.emit("search-data");
}

//#endregion

//#region ::  Grid Event CallBack Definitions

/*
 * 그리드 데이터를 검색하는 비동기 함수입니다.
 */
async function searchGridData(userGridApi: GridApi) {
  const targetGridApi = userGridApi ?? gridApi;

  if (inactive.value) return;
  try {
    // initBeforeSearchGridData();
    targetGridApi?.showLoadingOverlay();
    startRowIndex = 0;
    const searchConditions = searchInputRef.value;
    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    if (props.onApiParamsChanged) {
      apiParams = props.onApiParamsChanged(apiParams);
    }

    // ServerSide의 페이징, 정렬 등을 사용하는 경우
    if (Object.hasOwn(gridOptionsMetaRef.value, "statusBar") && gridOptionsMetaRef.value.statusBar) {
      bodyData.value = GridUtils.getBodyData(searchParams, pagingSize.value, currentPageNumber.value);
    }

    const gridData = await props.getServerData(apiParams, bodyData, targetGridApi);
    if (gridData.status) {
      let gridResultList = gridData.result[gridResultField];
      if (gridResultList && gridResultList.length > 0) {
        targetGridApi?.setRowData(gridResultList);
        totalRows.value = UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows);
        // pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(gridResultList, pinnedBottomRowData.value);
        currentPageNumber.value = gridData.result.cPage;
        lastPageNumber.value = gridData.result.tPage;
        eventBus.emit("search-finished", apiParams);
        return;
      } else {
        targetGridApi?.setRowData([]);
        eventBus.emit("search-finished", apiParams);
      }
    }

    if (!userGridApi) {
      useToast().warning(t("common-toast.no-data-list"));
    }
    // Fail
  } catch (error) {
    console.log(error);
    return;
  } finally {
    targetGridApi?.hideOverlay();
  }
}

/*
 * 선택이 변경되었을 때 실행되는 함수입니다.
 */
function onSelectionChanged(e: any) {
  emit("onSelectionChanged", { startRowIndex, event: e });
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  width: 100%;
  flex: 9;
  overflow-y: hidden;
  column-gap: 10px;
  flex-direction: var(--flex-direction);
}
.grid-container {
  width: 100%;
  display: flex;
  flex: 1;
  overflow-y: hidden;
  column-gap: 10px;
  flex-direction: column;
}

.info {
  &-layout {
    flex: 1;
    width: calc(48% - 14px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-area {
    // max-height: 50%;
    flex: 7;
  }

  &-grid {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    flex: 3;
    display: flex;
  }
}

:deep .ag-row-focus {
  background-color: rgba(33, 150, 243, 0.1);
  font-weight: bold;
}

:deep .work-progress {
  background-color: $work-progress;
}
</style>
