<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP910_1/form.vue  
 *  Description:    운영/입출고관리(통합) 입고관리 메인 Form 화면
 *  Authors:       hanul
 *  Update History:
 *                  2023.08. : Created by hanul
 *
------------------------------------------------------------------------------->

<template>
  <div class="form-container" ref="formContainerRef">
    <common-grid
      :id="gridId"
      :onGridReady
      :onCellValueChanged
      :onCellDoubleClicked
      :onRowDoubleClicked
      :onRowClicked
      :onCellFocused
      :onCellClicked
      :totalRows
      :formColumnDefs="formColumnDefsRef"
      :pinnedBottomRowData
      :onSelectionChanged
      :getContextMenuItems
      :gridOptionsMeta="gridOptionsMetaRef"
      :searchParams
      :pagingSizeList
      :pagingSize
      :currentPageNumber
      :lastPageNumber
      :gridHeaderName="props.gridMeta.gridHeaderName"
      :useUserSetting="props.gridMeta.useUserSetting"
      @onPageSizeChanged="handlePageSizeChanged"
      :context="$props.context">
      <template v-slot:grid-header>
        <slot></slot>
      </template>
    </common-grid>
  </div>
</template>

<script setup lang="ts">
import { GridUtils } from "@/lib/ag-grid/utils";
import { UtilService } from "@/services/util-service";
import { menusStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import type { IControlBtn } from "@/types";
import type {
  CellClickedEvent,
  CellDoubleClickedEvent,
  CellFocusedEvent,
  ColDef,
  ColGroupDef,
  ColumnApi,
  GetContextMenuItems,
  GridApi,
  GridReadyEvent,
  RowClickedEvent,
  RowDoubleClickedEvent,
  RowNodeTransaction,
  RowSelectedEvent,
} from "ag-grid-community";
import { CellChangedEvent } from "ag-grid-community/dist/lib/interfaces/iRowNode";
import { onActivated, onDeactivated, onMounted, onUnmounted, reactive, ref, toRef } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import commonGrid from "./common-grid.vue";

// Variable Definitions
type GridReadyHandler<TData = any> = (event: GridReadyEvent<TData>) => void;
type CellValueChangedHandler<TData = any> = (event: CellChangedEvent<TData> | any) => void;
type CellClickedHandler<TData = any> = (event: CellClickedEvent<TData>) => void;
type CellDoubleClickedHandler<TData = any> = (event: CellDoubleClickedEvent<TData>) => void;
type CellFocusedHandler<TData = any> = (event: CellFocusedEvent<TData>) => void;
type RowDoubleClickHandler<TData = any> = (event: RowDoubleClickedEvent<TData>) => void;
type RowClickHandler<TData = any> = (event: RowClickedEvent<TData>) => void;

/*
 * props를 정의합니다.
 */
const props = defineProps<{
  context?: any;
  // gridMeta: 그리드 메타 데이터를 포함하는 객체
  gridMeta: any;

  // formColumnDefs: 그리드의 컬럼 정의 배열
  formColumnDefs: (ColDef | ColGroupDef)[] | null;

  // controlBtn: 제어 버튼 배열, null 또는 undefined 가능
  controlBtn?: IControlBtn[] | null | undefined;

  // searchInput: 검색 입력 데이터를 포함하는 객체
  searchInput: any;

  // getContextMenuItems: 컨텍스트 메뉴 항목을 가져오는 함수 (선택적)
  getContextMenuItems?: GetContextMenuItems<any>;

  // onCellValueChanged: 셀 값 변경 이벤트 핸들러 (선택적)
  onCellValueChanged?: CellValueChangedHandler<any>;

  // onCellDoubleClicked: 셀 더블 클릭 이벤트 핸들러 (선택적)
  onCellDoubleClicked?: CellDoubleClickedHandler<any>;

  // onRowDoubleClicked: 행 더블 클릭 이벤트 핸들러 (선택적)
  onRowDoubleClicked?: RowDoubleClickHandler<any>;

  // onRowClicked: 행 더블 클릭 이벤트 핸들러 (선택적)
  onRowClicked?: RowClickHandler<any>;
  onCellFocused?: CellFocusedHandler<any>;
  onCellClicked?: CellClickedHandler<any>;
  // onApiParamsChanged: API 파라미터 변경 시 호출되는 함수 (선택적)
  onApiParamsChanged?: Function;

  // getServerData: 서버 데이터를 가져오는 함수
  getServerData: Function;

  // readOnlyInputs: 읽기 전용 입력 필드 배열 (선택적)
  readOnlyInputs?: Array<string>;

  // gridOptionsMeta: 그리드 옵션 메타 데이터를 포함하는 객체
  gridOptionsMeta: any;

  // gridId: 그리드의 고유 ID
  gridId: string;

  gridResultField?: string;
  //search data Event를 Listen하지 않게 한다.
  disableSearchEvent?: boolean;
}>();

const { gridResultField = "list", disableSearchEvent = false } = props;
/*
 * 필요한 ref와 reactive 변수를 정의합니다.
 */

const emit = defineEmits(["onSelectionChanged", "afterSearchData"]);
const formColumnDefsRef = ref<(ColDef | ColGroupDef)[] | null>(props.formColumnDefs);
const gridOptionsMetaRef = ref(props.gridOptionsMeta);
const controlBtnRef = ref(props.controlBtn);
const searchInputRef = ref(props.searchInput);

const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingSizeList = props.gridMeta.pagingSizeList;
const pagingSize = ref<number>(pagingSizeList![0]);
const formContainerRef = ref(null as null | any);
// const gridRowDataList = reactive({ value: [] as any[] });
const pinnedBottomRowData = ref<Record<string, any>[]>();
const inactive = ref<boolean>(false);
// let gridApi: GridApi | null = null;
const gridApi = ref<GridApi | undefined>();
const columnApi = ref<ColumnApi | undefined>();
const page = reactive({ value: {} as any });
let startRowIndex = 0;
const eventBus = useEventBusStore();
const totalRows = reactive({ value: 0 as number });
const currentPageNumber = reactive({ value: 1 as number });
const lastPageNumber = reactive({ value: 1 as number });
const searchParams = reactive({ sort: "asc", colId: "" });
const deletedResults = ref<any[]>();

/*
 * 컴포넌트가 마운트될 때 실행되는 함수입니다.
 */
onMounted(() => {
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton(props.gridMeta?.authPageGroup, props.gridMeta?.authPageId, menusStore().getMenus(), toRef(controlBtnRef));
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
  deletedResults.value = [];
});

/*
 * useRowSpanCheckboxStore의 checkedArr를 감시합니다.
 */
// watch(
//   useRowSpanCheckboxStore().checkedArr,
//   () => {
//     if (!inactive.value) {
//       const selectNodes = [] as any;
//       const deselectNodes = [] as any;
//       for (let i = 0; gridRowDataList.value.length > i; i++) {
//         const index = useRowSpanCheckboxStore()
//           .getCheckedArr()
//           .findIndex((spanRowItem: any) => spanRowItem.RNUM === gridRowDataList.value[i].RNUM);
//         if (index !== -1) {
//           selectNodes.push(gridApi?.getRowNode(String(i + 1)));
//         } else {
//           deselectNodes.push(gridApi?.getRowNode(String(i + 1)));
//         }
//       }
//       gridApi?.setNodesSelected({ nodes: selectNodes, newValue: true });
//       gridApi?.setNodesSelected({ nodes: deselectNodes, newValue: false });
//     }
//   },
//   { deep: true }
// );

/*
 * 컴포넌트가 활성화될 때 실행되는 함수입니다.
 */
onActivated(() => {
  inactive.value = false;
});

/*
 * 컴포넌트가 비활성화될 때 실행되는 함수입니다.
 */
onDeactivated(() => {
  inactive.value = true;
});

/*
 * 컴포넌트가 마운트될 때 실행되는 함수입니다.
 */
onMounted(() => {
  if (!disableSearchEvent) {
    eventBus.on("search-data", searchGridData);
  }
  // eventBus.emit("search-data");
});

/*
 * 컴포넌트가 언마운트될 때 실행되는 함수입니다.
 */
onUnmounted(() => {
  if (!disableSearchEvent) {
    eventBus.off("search-data", searchGridData);
  }
});

/*
 * 그리드가 준비되었을 때 실행되는 함수입니다.
 */
const onGridReady = (params: GridReadyEvent) => {
  gridApi.value = params.api;
  columnApi.value = params.columnApi;
  gridApi.value!.hideOverlay();
  settingBottomColumn(params.columnApi);
  params.context = {
    ...params.context,
    gridId: props.gridId,
  };
  // resizeGridColumns();
  eventBus.emit("onGridReady", params);
};

/*
 * 그리드 열 크기를 조정하는 함수입니다.
 */
const resizeGridColumns = () => {
  const myPageId = useTabsStore().selectedTab.value?.id;
  const myGridContainerWidth = document.querySelector(`#${myPageId}-page .form-container`)?.clientWidth || 0;
  const myGridBodyContainerWidth = document.querySelector(`#${myPageId}-page .ag-body-viewport .ag-center-cols-container`)?.clientWidth || 0;
  if (myGridContainerWidth > myGridBodyContainerWidth) {
    gridApi.value?.sizeColumnsToFit();
  }
};

/*
 * 하단 열을 설정하는 함수입니다.
 */
function settingBottomColumn(columnApi: any) {
  const colDefs = columnApi.columnModel.columnDefs;
  colDefs?.forEach((column: any) => {
    if (column.field === props.gridMeta?.checkBoxColumn) {
      column.valueGetter = (params: any) => {
        if (params.node.data && !Object.hasOwn(params.node.data, "RNUM")) {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  gridApi.value?.setColumnDefs(colDefs);
}

/*
 * 그리드 데이터를 검색하는 비동기 함수입니다.
 */
async function searchGridData() {
  if (inactive.value) return;
  try {
    initBeforeSearchGridData();
    gridApi.value?.showLoadingOverlay();
    startRowIndex = 0;
    const searchConditions = searchInputRef.value;

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    if (props.onApiParamsChanged) {
      apiParams = props.onApiParamsChanged(apiParams) || {};
    }
    // ServerSide의 페이징, 정렬 등을 사용하는 경우
    if (Object.hasOwn(gridOptionsMetaRef.value, "statusBar") && gridOptionsMetaRef.value.statusBar) {
      bodyData.value = GridUtils.getBodyData(searchParams, pagingSize.value, currentPageNumber.value);
    }
    apiParams.gridId = props.gridId;

    //페이징이 적용 안되는 이슈가 발생하여 apiParams에 페이징 메타 추가
    apiParams = { ...apiParams, ...bodyData.value };

    //서버에서 조회하여 테이터 취득
    const gridData = await props.getServerData(apiParams, bodyData);
    if (gridData.status) {
      //삭제 이력 초기화
      deletedResults.value = [];
      //그리드 데이터 설정
      let gridResultList = gridData.result[gridResultField];
      if (gridResultList && gridResultList.length > 0) {
        UtilService.setGridDatasRowNum(gridResultList);
        gridApi.value?.setRowData(gridResultList);
        totalRows.value = UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows);
        // pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(gridResultList, pinnedBottomRowData.value);
        currentPageNumber.value = gridData.result.cPage;
        lastPageNumber.value = gridData.result.tPage;
        eventBus.emit("search-finished", apiParams);
        return;
      } else {
        gridApi.value?.setRowData([]);
        eventBus.emit("search-finished", apiParams);
      }
    }
    useToast().warning(t("common-toast.no-data-list"));
    // Fail
  } catch (error) {
    console.log(error);
    return;
  } finally {
    resetDeleteStatusData();
    gridApi.value?.hideOverlay();
  }
}

/*
 * 그리드 데이터를 검색하기 전에 초기화하는 함수입니다.
 */
function initBeforeSearchGridData() {
  // pinnedBottomRowData.value = {
  //   IN_ORD_QTY: 0,
  //   IN_ORD_WEIGHT: 0,
  //   REAL_IN_QTY: 0,
  //   PRICE: 0,
  //   REAL_PLT_QTY: 0,
  // } as any;
  gridApi.value?.deselectAll();
  gridApi.value?.clearRangeSelection();
}

/*
 * 선택이 변경되었을 때 실행되는 함수입니다.
 */
function onSelectionChanged(e: RowSelectedEvent) {
  emit("onSelectionChanged", { startRowIndex, event: e });
}

/*
 * 페이지 크기가 변경되었을 때 실행되는 함수입니다.
 */
function handlePageSizeChanged(value: number) {
  pagingSize.value = value;
  eventBus.emit("search-data");
}

/**
 * applyTransaction을 래핑하여 status 업데이트를 처리
 * @param transaction
 */
function addRows(data: any[]) {
  const transactionResult: RowNodeTransaction | null | undefined = gridApi.value!.applyTransaction({ add: data });
  if (transactionResult) {
    // 추가된 행들에 대해 status 업데이트
    if (transactionResult.add) {
      transactionResult.add.forEach((node) => {
        node.data["ST_GUBUN"] = "INSERT";
        node.setSelected(true);
      });
    }
  }
}

/**
 * applyTransaction을 래핑하여 status 업데이트하면서 화면의 행을 바로 삭제
 * TODO: 전체 Framework적인 검토가 필요
 * @param transaction
 */
function deleteGridRows(data: any[]) {
  const transactionResult: RowNodeTransaction | null | undefined = gridApi.value!.applyTransaction({ remove: data });
  if (transactionResult) {
    // 추가된 행들에 대해 status 업데이트
    if (transactionResult.remove) {
      transactionResult.remove.forEach((node) => {
        node.data["ST_GUBUN"] = "DELETE";
        deletedResults.value!.push(node.data);
      });
    }
  }
  return getDeletedGridRows();
}

/**
 * applyTransaction을 래핑하여 status 업데이트하면서 화면의 행을 바로 update
 * TODO: 전체 Framework적인 검토가 필요
 * @param transaction
 */
function updateGridRows(data: any[]) {
  const transactionResult: RowNodeTransaction | null | undefined = gridApi.value!.applyTransaction({ update: data });
  if (transactionResult) {
    // 추가된 행들에 대해 status 업데이트
    if (transactionResult.update) {
      transactionResult.update.forEach((node) => {
        node.data["ST_GUBUN"] = "UPDATE";
      });
    }
  }
}

/**
 * 삭제된 데이터 조회 및 반환
 */
function getDeletedGridRows() {
  if (deletedResults.value && deletedResults.value.length > 0) {
    // const result = rowsToFormFields(deletedResults.value);
    // result.selectIds = deletedResults.value.length;
    return deletedResults.value;
  } else {
    return null;
  }
}

/**
 * applyTransaction를 통해 변경 된 데이터를 조회해서 제공
 */
function getRowsByStatus(status: "INSERT" | "UPDATE" | "DELETE") {
  const selectedNodes = gridApi.value!.getSelectedNodes();
  if (status == "DELETE") {
    return getDeletedGridRows();
  } else {
    const rowsWithInUpStatus: any[] = [];
    selectedNodes!.forEach((node) => {
      if (node.data["ST_GUBUN"] === status) {
        rowsWithInUpStatus.push(node.data);
      }
    });
    // const result = rowsToFormFields(rowsWithInUpStatus);
    // result.selectIds = rowsWithInUpStatus.length;
    return rowsWithInUpStatus;
  }
}

/**
 * applyTransaction를 통해 변경 된 데이터를 조회해서 제공
 */
function resetDeleteStatusData() {
  deletedResults.value = [];
}
/**
 * Array를 순번을 먹인 formField로 바꾸기
 */
function rowsToFormFields(rows: any[], spliter: string = "") {
  // 새로운 객체 생성
  const updatedObj = {} as any;
  rows.map((obj, index) => {
    // 객체의 각 키에 대해 처리
    for (const key in obj) {
      if (Object.prototype.hasOwnProperty.call(obj, key)) {
        // 인덱스를 키에 붙임
        const newKey = `${key}${spliter}${index}`;
        updatedObj[newKey] = obj[key];
      }
    }
    return updatedObj;
  });
  updatedObj.selectIds = rows.length;
  return updatedObj;
}

function getSearchConditions() {
  const searchConditions = searchInputRef.value;
  return UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
}

/**
 * 컴포넌트에서 노출할 메서드를 정의합니다.
 */
defineExpose({
  gridApi,
  columnApi,
  searchGridData,
  addRows,
  rowsToFormFields,
  deleteGridRows,
  updateGridRows,
  getRowsByStatus,
  resetDeleteStatusData,
  getSearchConditions,
});
</script>

<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  flex: 1;
  width: 100%;
  position: relative;
  // margin-bottom: -20px;
}
</style>
