<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	common-page/common-info.vue
 *  Description:    Pattern 3 Layout Info Area
 *  Authors:        dhkim
 *  Update History:
 *                  2024.07. : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="info-container" class="info-container">
    <div class="info-title">
      <span>상세정보 입력</span>
      <slot name="info-header"></slot>
    </div>
    <div class="info-contents">
      <Accordion :value="expandList" multiple>
        <AccordionPanel :value="`${i}`" v-for="(data, i) in infoInput" :key="i">
          <AccordionHeader>
            <span>{{ $t("grid-info." + data.title) }}</span>
          </AccordionHeader>
          <AccordionContent>
            <ul class="info-input-list">
              <li v-for="input in data.inputs" :key="input.ids[0]" :class="['info-input-item', input.width]" :hidden="input.hidden">
                <info-middle-title-vue v-if="input.type === 'middle-title'" :data="input" />
                <info-text-input v-if="input.type === 'text'" :data="input" :focusOutUpdateData="() => {}" @changedEvent="infoChangedCallBack" />
                <info-select-input v-if="input.type === 'select'" :data="input" :focusOutUpdateData="() => {}" @changedEvent="infoSelectedCallBack" />
                <info-date-input v-if="input.type === 'date'" :data="input" :focusOutUpdateData="() => {}" @changedEvent="infoChangedCallBack" />
                <info-number-input v-if="input.type === 'number'" :data="input" :focusOutUpdateData="() => {}" @changedEvent="infoChangedCallBack" />
                <info-color-input v-if="input.type === 'color'" :data="input" :focusOutUpdateData="() => {}" />
                <info-search-input v-if="input.type === 'search'" :data="input" @changeIsSearchModal="changeIsSearchModal" @changedEvent="infoTripleSearchChangedCallBack">
                  <search-modal
                    v-if="checkIsSearchModal(input.title)"
                    :modalData="searchModalInfo?.[input.title]"
                    :columnDefs="modalColumnDefs?.[input.title]"
                    :inputDef="input"
                    @changeIsSearchModal="changeIsSearchModal" />
                </info-search-input>
                <info-triple-search-input v-if="input.type === 'triple-search'" :data="input" @changeIsSearchModal="changeIsSearchModal" @changedEvent="infoTripleSearchChangedCallBack">
                  <search-modal
                    v-if="checkIsSearchModal(input.title)"
                    :modalData="searchModalInfo?.[input.title]"
                    :columnDefs="modalColumnDefs?.[input.title]"
                    @changeIsSearchModal="changeIsSearchModal"
                    :inputDef="input" />
                </info-triple-search-input>
                <info-upload-input v-if="input.type === 'upload'" :data="input" />
              </li>
            </ul>
          </AccordionContent>
        </AccordionPanel>
      </Accordion>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import Accordion from "primevue/accordion";
import AccordionContent from "primevue/accordioncontent";
import AccordionHeader from "primevue/accordionheader";
import AccordionPanel from "primevue/accordionpanel";

import { InfoColorInput, InfoNumberInput, InfoSearchInput, InfoSelectInput, InfoTextInput, InfoTripleSearchInput, InfoUploadInput, infoDateInput } from "@/components/input";
import InfoMiddleTitleVue from "@/components/ui/InfoMiddleTitle.vue";
import { SearchModal } from "@/popups";
import { IInfoInputContainer } from "@/types";
import { onBeforeMount, onMounted, ref } from "vue";

//#region ::  Variable Definitions

let expandList = ref([] as string[]); // info영역 섹션별 open 되어있는 리스트
const isSearchModal = ref([] as string[]); // 모달상태

const props = defineProps<{
  /** INFO 영역의 메타 정보 */
  infoMeta: any;

  /** INFO Component의 Changed Event Call Back */
  infoTextChanged?: any;

  /** INFO Component의 Selected Event Call Back */
  infoSelectChanged?: any;

  /** INFO Component의 Selected Event Call Back */
  infoTripleSearchChanged?: any;
}>();

const infoInput = ref(props.infoMeta.infoInput);
const searchModalInfo = props.infoMeta.searchModalInfo;
const modalColumnDefs = props.infoMeta.modalColumnDefs;
const infoChangedCallBack = props.infoTextChanged; // Changed 이벤트 콜백함수
const infoSelectedCallBack = props.infoSelectChanged; // Selected 이벤트 콜백함수
const infoTripleSearchChangedCallBack = props.infoTripleSearchChanged; // Selected 이벤트 콜백함수

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(() => {
  // Accordian 확장(Expand) 기본 옵션 체크
  expandList.value = infoInput.value.reduce((expandIndex: any, input: IInfoInputContainer, index: number) => {
    if (input.default === "expand") {
      expandIndex.push(String(index));
    }
    return expandIndex;
  }, []);
});

onMounted(() => {});

//#endregion

//#region ::  User Function Definitions

/**
 * 모달상태업데이트
 */
function changeIsSearchModal(modalTitle: string) {
  if (isSearchModal.value.includes(modalTitle)) {
    return (isSearchModal.value = isSearchModal.value.filter((value: any) => {
      return value !== modalTitle;
    }));
  } else {
    return isSearchModal.value.push(modalTitle);
  }
}

/**
 * 모달상태 체크
 */
function checkIsSearchModal(modalTitle: string) {
  if (isSearchModal.value.includes(modalTitle)) {
    return true;
  } else {
    return false;
  }
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;

.info {
  &-title {
    @include flexbox(row, flex-start, center, nowrap);

    background: linear-gradient(to right, $main-menu-sub, $main-menu-sub 30%, #ffffff 50%);
    min-height: 31px;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }

  &-container {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    flex-direction: column !important;
    flex: 1;
    border: none !important;
    overflow-y: hidden !important;
    gap: 0 !important;
  }

  &-contents {
    flex: 1;
    border: 1px solid #b0b0b0;
    overflow-y: auto;
  }
}

.info-input-item[hidden] {
  display: none !important;
}

.p-accordionheader {
  background-color: #cbd4e0 !important;
  border-radius: 0 !important;
  padding: 10px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}
</style>
