<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:    common-page/common-search.vue
 *  Description:    Page 의 Search 공통 화면
 *  Authors:        S. Y. Lim
 *  Update History:
 *                  2024.05. : Created by S. Y. Lim
 *
 * usage: 
 * </template>
 *  <div class="search-area" ref="searchComponentRef">
 *    <slot name="search-header"></slot>
 *    <slot name="search-input-header"></slot>
 *      <search-container 
 *        ...
 *        <search-container-input
 *        ...
 *        />
 *      </search-container>
 *    </template>
 *    <slot name="search-bottom"></slot>
 *  </div>
 * </template>
 * Details:
 * - searchContainerMeta : 각 페이지에서 common-search.vue 에 전달할 데이터를 Meta 처리하였습니다
 *                         현 페이지에서 해당 정보를 프로퍼티로 받아 통합 관리합니다.
 * - slot (search-header, search-input, search-buttom): 사용자 정의 슬롯을 통해 특정 검색 관련 구성 요소를 페이지별로 사용자 지정할 수 있도록 지원합니다.
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <!--TODO define search header area -->
    <div class="search-area-header">
      <slot name="search-header"></slot>
    </div>

    <search-container
      @setIsMore="setIsMore"
      :isMore="isMore"
      :uniqueKey="searchContainerMeta.uniqueKey"
      :data="searchContainerMeta.searchInput"
      :use-more="searchContainerMeta.useMore"
      :use-setting="searchContainerMeta.useSetting"
      :searchInputDef="searchInputDef"
      :ser-auth="(page.value && page.value[searchContainerMeta.serAuthField]) || 'Y'"
      :SEARCH_INPUT="searchContainerMeta.searchInput"
      :un-used-refresh-button="searchContainerMeta.unUsedRefreshButton"
      :use-search="searchContainerMeta.useSearch">
      <template v-slot:search_input_slot>
        <template v-for="(input, index) in searchInputDef.value" :key="`${index}_${input.optionsAutoSelected?.allowAutoSelected}`">
          <search-container-input
            :index="index"
            :isShowInput="isMore || displayInputCount.includes(index) ? 'show' : 'hidden'"
            :data="input"
            :columnDefs="input.modalTypes && selectedValue.length > 0 ? searchContainerMeta.modalColumnDefs[selectedValue[index]] : searchContainerMeta.modalColumnDefs[input.title]"
            :modalData="input.modalTypes && selectedValue.length > 0 ? searchContainerMeta.searchModalInfo[selectedValue[index]] : searchContainerMeta.searchModalInfo[input.title]"
            :modalType="selectedValue"
            :pageInfo="searchContainerMeta.pageInfo"
            @multipleSelectedValue="multipleSelectedValue"
            @selectedValue="
              (e: any) => {
                selectedValue[index] = UtilService.setModalTypeBySelectedValue(e);
              }
            " />
        </template>
      </template>
      <!--TODO define search input area -->
    </search-container>
    <!--TODO define search bottom area -->
    <slot name="search-bottom"></slot>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { SearchContainerInput } from "@/components/input";
import { SearchContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useFormHeightStore, useSearchConditionStore, useUserSettingStore } from "@/store";
import type { ISearchInput } from "@/types";
import { cloneDeep } from "lodash";
import { onActivated, onDeactivated, onMounted, onUnmounted, reactive, ref, watch } from "vue";
// 각 페이지에서 common-search.vue 로 전달할 프로퍼티 정의 (각 페이지의 input.meta.ts 에 정의됨.)
let { searchContainerMeta } = defineProps({
  searchContainerMeta: {
    type: Object,
    default: () => ({}),
  },
});

// Variable Definitions
const isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement); // .search-area 엘리먼트

const selectedValue = ref<Array<string>>([]);
const inactive = ref<boolean>(false);
const page = reactive({ value: {} as any });
const searchCompControlBtn = reactive({ value: searchContainerMeta.searchComponentControlBtn as any });
const searchInputDef = reactive({ value: searchContainerMeta.searchInput }); // [검색조건 사용자설정]: 검색인풋 정의를 반응성 객체로 만든 뒤에 해당 reactive객체를 props로 전달
let displayInputCount = UtilService.getShowInputCount(searchContainerMeta.displayInputCount ?? 3, searchInputDef.value, true) as Array<any>;
let isShowSearchOptionSettingsModal = ref(false as boolean);
const emit = defineEmits(["sessionStorageReady", "multipleSelectedValue"]);

// Framework Function Definitions
watch(searchInputDef, () => {
  // [검색조건 사용자설정]: 검색조건 구성이 변경된 경우 Display 정보수정
  if (!inactive.value) {
    displayInputCount = UtilService.getShowInputCount(searchContainerMeta.displayInputCount ?? 3, searchInputDef.value, true) as any[];
  }
});

onMounted(async () => {
  const searchOptionInLocalStorage = UtilService.getSearchOptionInLocalStorage();

  // [검색조건 사용자설정]: 기본 메타 정보 관리
  if (searchContainerMeta.useSetting) {
    useUserSettingStore().registOriginSearchInput(cloneDeep(searchContainerMeta.searchInput));

    // 로컬스토리지에 셋팅 정보가 있는지 확인하고 있으면 셋팅
    if (searchOptionInLocalStorage) {
      // searchInputDef.value = UtilService.setSearchInputChanges(searchContainerMeta.searchInput, searchOptionInLocalStorage);
      searchInputDef.value = searchOptionInLocalStorage;
    }

    useUserSettingStore().registUserSearchInput(searchInputDef.value);
  }

  if (searchComponentRef.value) {
    useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value.clientHeight));
  }

  /* 요청한 api 결과값으로 readOnly 인풋 설정 */
  if (searchContainerMeta.searchConditionInitUrl) {
    const readOnlyInputs = searchContainerMeta.readOnlyInputs;
    const readOnlyResults = searchContainerMeta.readOnlyResults;

    try {
      const res = await ApiService.postApi(searchContainerMeta.searchConditionInitUrl, {}, {});
      if (res.status && !UtilService.isEmptyObject(res.result.LIST)) {
        for (let i = 0; readOnlyInputs.length > i; i++) {
          useSearchConditionStore().changeSearchInputValue(readOnlyInputs[i], res.result.LIST[readOnlyResults[i]]);
        }
      }
    } catch (err) {
      console.log(err);
    }
  }

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton(searchContainerMeta.authPageGroup, searchContainerMeta.authPageId, menusStore().getMenus(), searchCompControlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);

  // Session Storage에 저장된 화주 정보 설정
  if (!UtilService.getCustDataInSessionStorage()) {
    emit("sessionStorageReady");
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

onUnmounted(() => {
  window.removeEventListener("beforeunload", () => {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  });
});

function changeIsShowSearchOptionSettingsModal(value: boolean) {
  isShowSearchOptionSettingsModal.value = value;
  setIsMore(false);
}

function updateHeight() {
  // return setTimeout(() => {
  //   useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight);
  // }, 300);
}

// User Function Definitions
async function setIsMore(value: boolean) {
  isMore.value = value;
  await updateHeight();
}

/**
 * [검색조건 사용자설정]: 검색옵션 설정 모달에서 호출되는 함수
 */
function changeSearchInputDef(value: ISearchInput) {
  searchInputDef.value = value;
  setTimeout(() => {
    if (searchComponentRef.value) {
      useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight);
    }
  }, 300);
}

function multipleSelectedValue(value: any) {
  emit("multipleSelectedValue", value);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-area {
  flex: 0 1 0%;
  position: relative;
}

.search-control-container {
  top: 0;
  right: 0;
}

.search-area-header {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.btn-setting {
  float: right;
  background: transparent;
  padding-right: 24px;
}

.btn-setting-filter {
  right: 23px;
  top: -23px;
  background-color: transparent;
}
</style>
