<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP910_1/grid.vue
 *  Description:    운영/입출고관리(통합) 입고관리 메인 Form화면의 Grid 영역 화면
 *  Authors:        hanul
 *  Update History:
 *                  2023.08. : Created by hanul
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div class="grid-container">
    <!-- grid header 영역 : 헤더 타이틀, 통계자료(조회된 내용 count),버튼  -->
    <div class="grid-header">
      <!-- Grid 헤더 타이틀 설정 -->
      <template v-if="useUserSetting">
        <button v-tippy="'사용자 설정'" @click="saveColumnState">
          <i :class="[checked ? 'btn-favorite on' : 'btn-favorite']"></i>
        </button>
        <span style="font-size: inherit; font-weight: inherit; align-content: center">
          {{ gridHeaderName }}
        </span>
      </template>
      <template v-else>
        <span>{{ gridHeaderName }}</span>
      </template>
      <slot name="grid-header"></slot>
    </div>
    <ag-grid-vue
      class="ag-theme-alpine ag-grid-size"
      :gridOptions="gridOptions"
      :modules="[ExcelExportModule]"
      :allowContextMenuWithControlKey="true"
      :context
      :pinnedBottomRowData="pinnedBottomRowData"
      @rowSelected="onSelectionChanged"
      :excelStyles="excelStyles" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import PaginationPanel from "@/components/grid-panel/pagination-panel.vue";
import RowCountPanel from "@/components/grid-panel/row-count-panel.vue";
import { GridUtils } from "@/lib/ag-grid/utils";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import type {
  CellClickedEvent,
  CellDoubleClickedEvent,
  CellFocusedEvent,
  CellValueChangedEvent,
  ColDef,
  ColumnApi,
  ColumnEvent,
  GetContextMenuItems,
  GridApi,
  GridOptions,
  GridReadyEvent,
  RowClickedEvent,
  RowDoubleClickedEvent,
} from "ag-grid-community";
import type { CellChangedEvent } from "ag-grid-community/dist/lib/interfaces/iRowNode";
import { onBeforeMount, reactive, ref } from "vue";
// import "ag-grid-community/styles/ag-grid.css";
import { UtilService } from "@/services/util-service";
import { IColDef, IColGroupDef } from "@/types/agGrid";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

const emits = defineEmits(["onPageSizeChanged"]);
const { t } = useI18n();
const eventBus = useEventBusStore();

const excelStyles = reactive([
  {
    id: "stringType",
    dataType: "String",
  },
]);

// Variable Definitions
type GridReadyHandler<TData = any> = (event: GridReadyEvent<TData>) => void;
type CellValueChangedHandler<TData = any> = (event: CellChangedEvent<TData> | any) => void;
type CellClickedHandler<TData = any> = (event: CellClickedEvent<TData>) => void;
type CellDoubleClickedHandler<TData = any> = (event: CellDoubleClickedEvent<TData>) => void;
type CellFocusedHandler<TData = any> = (event: CellFocusedEvent<TData>) => void;
type RowDoubleClickHandler<TData = any> = (event: RowDoubleClickedEvent<TData>) => void;
type RowClickHandler<TData = any> = (event: RowClickedEvent<TData>) => void;

const {
  gridOptionsMeta,
  onGridReady,
  onCellValueChanged,
  onCellClicked,
  onCellDoubleClicked,
  onRowDoubleClicked,
  onRowClicked,
  onCellFocused,
  pinnedBottomRowData,
  onSelectionChanged,
  getContextMenuItems,
  pagingSizeList,
  currentPageNumber,
  lastPageNumber,
  totalRows,
  pagingSize,
  searchParams,
  id,
  context,
  gridHeaderName,
  useUserSetting,
} = defineProps<{
  id: string;
  onGridReady: GridReadyHandler<any>;
  onCellValueChanged?: CellValueChangedHandler<any>;
  onCellClicked?: CellClickedHandler<any>;
  onCellDoubleClicked?: CellDoubleClickedHandler<any>;
  onCellFocused?: CellFocusedHandler<any>;
  onRowDoubleClicked?: RowDoubleClickHandler<any>;
  onRowClicked?: RowClickHandler<any>;
  pinnedBottomRowData?: Record<string, any> | undefined;
  onSelectionChanged?: any;
  getContextMenuItems?: GetContextMenuItems<any>;
  pagingSizeList?: {
    type: Array<number>;
    default: [];
  };
  gridOptionsMeta: any;
  currentPageNumber?: any;
  lastPageNumber?: any;
  totalRows?: any;
  pagingSize?: any;
  searchParams?: any;
  context?: Record<string, Object>;
  gridHeaderName?: string;
  useUserSetting?: boolean;
}>();

let gridApi: GridApi | null = null;
let columnApi: ColumnApi | null = null;
const searchParamInfo = reactive(searchParams);
const checked = ref(false);

const statusBar = {
  statusPanels: [
    {
      statusPanel: PaginationPanel,
      align: "center",
      statusPanelParams: {
        currentPageNumber,
        lastPageNumber,
      },
    },
    {
      statusPanel: RowCountPanel,
      align: "right",
      statusPanelParams: {
        pageSizeChangedCallBack,
        pageSizeList: pagingSizeList,
        pagingSize,
        totalRows,
      },
    },
  ],
};

//aggFunc 셋팅해주는 함수
function setRowData(gridApi: GridApi, column: any, bottomRowData: any) {
  if ("aggFunc" in column) {
    let rowSum = 0;
    let rowCount = 0;

    gridApi.forEachNode((node) => {
      if (node.data && column.field && !isNaN(Number(node.data[column.field]))) {
        if (column.aggFunc === "sum" || column.aggFunc === "avg") {
          rowSum += Number(node.data[column.field]);
          rowCount++;
        }
      }
    });

    if (column.field) {
      if (column.aggFunc === "sum") {
        bottomRowData[column.field] = rowSum;
      } else if (column.aggFunc === "avg") {
        bottomRowData[column.field] = rowCount > 0 ? Math.round(rowSum / rowCount) : 0;
      } else if (column.aggFunc === "cnt") {
        bottomRowData[column.field] = rowCount;
      }
    }
  }
}

// 요약 행 데이터를 생성하는 함수
// eslint-disable-next-line @typescript-eslint/no-unused-vars
function createBottomRowData(gridApi: GridApi, _columnApi?: ColumnApi) {
  let bottomRowData: any = {};

  gridOptions.columnDefs?.filter((column: IColGroupDef | IColDef) => {
    //case 1 : grid column에 children 이 있는 경우
    if (column.children) {
      //children이 있는 column에 대하여 loop를 돌림
      column.children.forEach((childrenColumn: any) => {
        setRowData(gridApi, childrenColumn, bottomRowData);
      });
    }

    //case 2 : grid column에 children 이 없는 경우
    else {
      setRowData(gridApi, column, bottomRowData);
    }
  });

  gridOptions.columnDefs?.filter((column) => {
    if ("aggFunc" in column) {
      let rowSum = 0;
      let rowCount = 0;

      gridApi.forEachNode((node) => {
        if (node.data && column.field && !isNaN(Number(node.data[column.field]))) {
          if (column.aggFunc === "sum" || column.aggFunc === "avg") {
            rowSum += Number(node.data[column.field]);
            rowCount++;
          }
        }
      });

      if (column.field) {
        if (column.aggFunc === "sum") {
          bottomRowData[column.field] = rowSum;
        } else if (column.aggFunc === "avg") {
          bottomRowData[column.field] = rowCount > 0 ? Math.round(rowSum / rowCount) : 0;
        } else if (column.aggFunc === "cnt") {
          bottomRowData[column.field] = rowCount;
        }
      }
    }
    if (Object.keys(bottomRowData).length > 0) {
      //TODO 요약 행 데이터를 생성할때 합계 칼럼을 생주하는 로직 추가
      bottomRowData["No"] = "계";
    }
  });
  const allValuesNull = Object.values(bottomRowData).every((value) => value === null);
  if (Object.keys(bottomRowData).length > 0 && !allValuesNull) {
    let bottomRowList: any[] = [];
    bottomRowList.push(bottomRowData);
    return bottomRowList;
  } else {
    return [];
  }
}

let gridOptions: GridOptions = {
  ...gridOptionsMeta,
  gridId: id,
  enableCellChangeFlash: true,
  pinnedBottomRowData: [],
  onGridReady: (params: GridReadyEvent) => {
    gridApi = params.api;
    columnApi = params.columnApi;
    AddColumnEvent(gridApi, columnApi);
    onGridReady(params);

    const columnState: any = GridUtils.getColumnState(id);
    columnApi.applyColumnState({ state: columnState, applyOrder: true });
    if (!UtilService.isEmptyArray(columnState)) {
      checked.value = true;
    }
    //autoResizeGridColumn(columnApi);
  },
  // onFirstDataRendered(event) {
  //   columnApi = event.columnApi;
  //   autoResizeGridColumn(columnApi);
  // },
  onRowDataUpdated: (event) => {
    const gridApi = event.api;
    const columnApi = event.columnApi;
    const bottomRowList = createBottomRowData(gridApi, columnApi);
    bottomRowList.length > 0 ? event.api.setPinnedBottomRowData(bottomRowList) : null;
  },
  onCellValueChanged: (event: CellValueChangedEvent) => {
    const gridApi = event.api;
    const columnApi = event.columnApi;
    const bottomRowList = createBottomRowData(gridApi, columnApi);
    bottomRowList.length > 0 ? event.api.setPinnedBottomRowData(bottomRowList) : null;
    event.node!.setSelected(true);
    if (!event.data["ST_GUBUN"] || (event.data["ST_GUBUN"] !== "INSERT" && event.data["ST_GUBUN"] !== "DELETE")) {
      event.data["ST_GUBUN"] = "UPDATE"; // 기존 행이 업데이트된 경우
    }
    onCellValueChanged?.(event);
  },
  onRowDoubleClicked(event) {
    onRowDoubleClicked?.(event);
  },
  onRowClicked(event: RowClickedEvent) {
    onRowClicked?.(event);
  },
  getContextMenuItems,
  onCellClicked,
  onCellDoubleClicked,
  onCellFocused,
  //Todo
  // getRowId: (data) => data.data.RNUM,
  editType: Object.hasOwn(gridOptionsMeta, "editType") ? undefined : "fullRow",
  statusBar: gridOptionsMeta.statusBar ? statusBar : null,
};

// @deprecate 그리드 칼럽 자동 Resize는 한글 환경에서 정상 작동하지 않는다
function autoResizeGridColumn(columnApi: ColumnApi) {
  const allColumnIds = columnApi!.getAllGridColumns().map((column) => column.getId());
  columnApi!.autoSizeColumns(allColumnIds); // 여기서 호출
}

// Framework Function Definitions
onBeforeMount(async () => {
  // TODO :: 삭제
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
    if (Object.hasOwn(column, "children")) {
      for (let i = 0; column.children.length > i; i++) {
        if (Object.hasOwn(column.children[i], "headerKey")) {
          column.children[i].headerName = t("grid-column-name." + column.children[i].headerKey);
        }
      }
    }
  });
});

function pageSizeChangedCallBack(value: number) {
  emits("onPageSizeChanged", value);
}

function AddColumnEvent(gridApi: GridApi, columnApi: ColumnApi) {
  let colDefs = gridApi?.getColumnDefs();
  let sortableColumns = colDefs!.filter((dt: any) => dt.sortable);
  let sortEventListener = (event: ColumnEvent) => {
    searchParamInfo.sort = event.columns?.at(0)?.getSort() ?? "";
    searchParamInfo.colId = event.columns?.at(0)?.getColId() ?? "";
    eventBus.emit("search-data");
  };

  sortableColumns.forEach((col: ColDef) => {
    columnApi.getColumn(col.field)?.addEventListener("sortChanged", sortEventListener);
  });
}

/**
 * 그리드 사용자 설정 값 관리
 *
 * TODO :: 팝업 형태로 관리 창 출력
 * 1) 설정 값 초기화
 * 2) 행 그룹화 여부: 그리드 메타 옵션정보에 따라 표기
 * 3) 새로고침: 사용자가 설정한 시점 이 후, 추가된 컬럼 메타정보와 병합
 *
 */
function saveColumnState() {
  const columnState = columnApi?.getColumnState();

  // 사용자 설정 해제 (초기화)
  if (checked.value) {
    GridUtils.saveColumnState([], id);
  }
  // 사용자 설정
  else {
    GridUtils.saveColumnState(columnState!, id);
  }

  useToast().info(t("common-toast.saved"));

  checked.value = !checked.value;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    width: 100%;
    position: relative;
    flex: 1;
    padding: 2px 0;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background: linear-gradient(to right, $main-menu-sub, $main-menu-sub 30%, #ffffff 50%);
    height: 33px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;

    > button {
      display: flex;
      align-items: center;
      cursor: pointer;
      background: transparent;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      border: none;
    }

    .toast-info {
      width: 20px;
      margin-right: 5px;
      height: inherit;
      content: url("/public/assets/images/toast-info.svg");
    }
  }
}

.page-size {
  position: absolute;
  right: 65px;
  bottom: -3px;
}

:deep .ag-row.ag-row-level-0.ag-row-group {
  background-color: #ebedf0;
  font-weight: bold;
}

:deep .ag-row.ag-row-pinned {
  background-color: #bcc5d8;
  font-weight: bold;
}
</style>
