<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST401/form.vue
 *  Description:    재고/랙보충내역 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <control-container>
    <div v-for="btnData in controlBtn.value" :key="btnData.title">
      <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :excelExport="excelExport" :printExport="printExport" />
    </div>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <my-grid
      :onGridReady="onGridReady"
      :onSelectionChanged="onSelectionChanged"
      @onPageSizeChanged="
        (ps) => {
          pagingSize = ps;
        }
      " />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { IOZReportArgument, OZReport } from "@/services/report-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore, userStore } from "@/store";
import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import MyGrid from "./grid.vue";
import { CONTROL_BTN, SEARCH_INPUT } from "./input.meta";

// Variable Definitions
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSST401");
const pagingSize = ref<number>(pagingOptions![0]);
let gridApi: GridApi | null = null;
const { t } = useI18n();
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트
const inactive = ref<boolean>(false);
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// 검색결과 그리드에 반영시키기
watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSST", "WMSST401", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

// Framework Function Definitions

// User Function Definitions
const onGridReady = (params: any) => {
  gridApi = params.api;
  const columnDefs: any = gridApi?.getColumnDefs();
  columnDefs.forEach(function (colDef: any) {
    if (colDef.field === "WORK_STAT") {
      colDef.valueGetter = (params: any) => {
        if (params.node.data.WORK_STAT === "FF") {
          return t("grid-column-name.complete");
        } else {
          return t("not-completed");
        }
      };
    }
  });
  gridApi?.setColumnDefs(columnDefs);
};

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi?.deselectAll();
    const apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSST401/list_rn.action", apiParams, bodyData.value, false);
        if (gridData.status === false) {
          params.successCallback([], 0);
        } else {
          gridData.result.list.forEach((data: any) => {
            data.REASON_CD = UtilService.convertDataValue("WMSST040", data.REASON_CD);
          });
          params.successCallback(gridData.result.list, UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows));
          if (gridData.result.list.length === 0) {
            useToast().warning(t("common-toast.no-data-list"));
          }
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

//엑셀 export
function excelExport() {
  let columnKeys = [] as string[];

  for (let i = 0; FORM_COLUMN_DEFS.length > i; i++) {
    if (Object.hasOwn(FORM_COLUMN_DEFS[i], "export")) {
      columnKeys.push(FORM_COLUMN_DEFS[i].field);
    }
  }

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.stock-transfer-history"),
    columnKeys,
  };

  gridApi?.exportDataAsExcel(excelExportParams);
}

/**
 * 인쇄
 */
function printExport() {
  const apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());

  let ozReport = new OZReport({
    title: "랙보충 내역",
    fileName: "WMSST401Q1B",
    reportName: "WMSST401Q1.ozr",
    odiName: "WMSST400Q1",
  } as IOZReportArgument);

  ozReport.SetOdiParam({
    vrReqFromDt: apiParams.vrSrchReqDtFrom,
    vrReqToDt: apiParams.vrSrchReqDtTo,
    vrLcId: JSON.parse(userStore().getCurrentUser()).LC_ID,
    vrCustId: apiParams.vrSrchCustId,
    vrCustNm: apiParams.vrSrchCustNm,
    vrWhId: apiParams.vrSrchWhId,
    vrWhNm: apiParams.vrSrchWhNm,
    vrItemId: apiParams.vrSrchItemId,
    vrLocIdFrom: apiParams.vrSrchLocCdFrom,
    vrLocIdTo: apiParams.vrSrchLocCdTo,
  });

  const asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_InPopup", "1000", "800") as any;
  asppop.focus();
}

function onSelectionChanged() {}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;
</style>
