<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST401/page.vue
 *  Description:    재고/랙보충내역 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked">
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in commonFormRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST401" };
</script>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, ref } from "vue";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore, userStore } from "@/store";

import CommonSearch from "@/page/common-page/common-search.vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import { FORM_COLUMN_DEFS } from "@/page/stock/WMSST401/column-defs";
import { IOZReportArgument, OZReport } from "@/services/report-service";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const { t } = useI18n();
const eventBus = useEventBusStore();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const gridApi = ref<GridApi | undefined>();
const gridHeaderTitle = computed(() => {
  return t(`grid-title.rack-replenishment-history`);
});
const SelectedDataStore = useSelectedDataStore();
const commonFormRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  excel: excelExport,
  print: printExport,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi(`/WINUS/WMSMS080_rn.action`, {}, UtilService.getOptionApiData(`WMSMS080_rn`));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

onMounted(() => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

//엑셀 export
function excelExport() {
  let columnKeys = [] as (string | any)[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.stock-transfer-history"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}
/**
 * 인쇄
 */
function printExport() {
  const apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());

  let ozReport = new OZReport({
    title: "랙보충 내역",
    fileName: "WMSST401Q1B",
    reportName: "WMSST401Q1.ozr",
    odiName: "WMSST400Q1",
  } as IOZReportArgument);

  ozReport.SetOdiParam({
    vrReqFromDt: apiParams.vrSrchReqDtFrom,
    vrReqToDt: apiParams.vrSrchReqDtTo,
    vrLcId: JSON.parse(userStore().getCurrentUser()).LC_ID,
    vrCustId: apiParams.vrSrchCustId,
    vrCustNm: apiParams.vrSrchCustNm,
    vrWhId: apiParams.vrSrchWhId,
    vrWhNm: apiParams.vrSrchWhNm,
    vrItemId: apiParams.vrSrchItemId,
    vrLocIdFrom: apiParams.vrSrchLocCdFrom,
    vrLocIdTo: apiParams.vrSrchLocCdTo,
  });

  const asppop = UtilService.cfn_openPop2(ozReport.URLString, "fn_InPopup", "1000", "800") as any;
  asppop.focus();
}
function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//#endregion

//#region ::  Grid Event CallBack Definitions

const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST401/list_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
