<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP910_1/page.vue
 *  Description:    운영/입출고관리(통합) 입고관리 업무 화면
 *  Authors:        S. Y. Lim
 *  Update History:
 *                  2024.05. : Created by S. Y. Lim
 *  Details:
 *  - 기존의 page.vue, search.vue, form.vue, grid.vue 를 page.vue 파일 하나로 통합하여 작성
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header> </template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :gridStatisticsInfo="GRID_STATISTICS_INFO"
      :searchInput="SEARCH_INPUT"
      :getContextMenuItems="getContextMenuItems"
      :getServerData="getServerData"
      :onCellDoubleClicked="onCellDoubleClicked"
      :readOnlyInputs="SEARCH_META.readOnlyInputs"
      :onApiParamsChanged="onApiParamsChanged">
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="gridStatisticsInfoRef" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
        <div v-for="splitBtnData in splitButtonRef" :key="splitBtnData.title">
          <SplitButton :data="splitBtnData" :contents="splitButtonEventHandler[splitBtnData.eventHandler]" />
        </div>
      </control-container>
    </common-form>
    <tab-print-sel
      v-if="popupOn.tabPrintSel"
      :fn_tabPrint="fn_tabPrint"
      @popupOn="
        (e: any) => {
          popupOn.tabPrintSel = e ? true : false;
        }
      "></tab-print-sel>
    <combine-order-degree-modal
      v-if="combineOrderDegree.on"
      :info="combineOrderDegree.value"
      :sequenceClass="combineOrderDegree.sequenceClass"
      :sequencePlaceholder="combineOrderDegree.sequencePlaceholder" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOP910_1" };
</script>
<script setup lang="ts">
import { ControlButton, SplitButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import commonForm from "@/page/common-page/common-form.vue";
import commonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/operation/WMSOP910_1/column-defs";
import combineOrderDegreeModal from "@/popups/combine-order-degree.vue";
import tabPrintSel from "@/popups/tab-print-sel.vue";
import { ApiService, PREFIX } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import type { IAvailableOptionsUtilParams } from "@/types";
import { CellDoubleClickedEvent, ExcelExportParams, GetContextMenuItemsParams, GridApi, GridReadyEvent } from "ag-grid-community";
import qrcode from "qrcode-generator";
import { onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META, SPLIT_BTN } from "./input.meta";

//#region ::  Variable Definitions

const eventBus = useEventBusStore();
// 주문차수합치기 모달
const combineOrderDegree = reactive({
  on: false as boolean,
  sequenceClass: false as boolean,
  sequencePlaceholder: false as boolean,
  value: {} as any,
});
const { t } = useI18n();
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
let searchGridData: Function;
const gridStatisticsInfoRef = ref(GRID_STATISTICS_INFO);
const gridTotalData = reactive({ value: {} as any });
const gridControlBtnRef = ref(CONTROL_BTN);
const splitButtonRef = ref(SPLIT_BTN);
const popupOn = reactive({ tabPrintSel: false as boolean }); //팝업을 띄울 객체를 선언
const eventHandler: Record<string, Function> = {
  "change-receiving-date": changeReceivingDate,
  "enter-template": enterTemplate,
  del: deleteRowData,
  new: addRowData,
};

/** Split 버튼 이벤트 리스너 */
const splitButtonEventHandler: Record<string, any[]> = {
  // 전체통합버튼
  etcFunctionHandler: [
    {
      label: t("control-button-name.create-shipping-asn"),
      command: async () => {
        const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

        if (UtilService.isEmptyArray(selectedRows)) {
          return useToast().warning(t("common-toast.no-selected-item"));
        }
        if (selectedRows.length > 1) {
          return useToast().warning(t("common-toast.only-one-order-id"));
        }

        const bodyData = {
          _fullpath: "",
          selectIds: "1",
          ORD_ID0: selectedRows[0].ORD_ID,
          vrType: "",
        };
        const res = await ApiService.postApi("/WMSOP020/asnOutOrd_rn.action", {}, bodyData);
        if (res.status) {
          if (res.result.errCnt == 0) {
            useToast().success(res.result.MSG);
            return;
          } else {
            return useToast().error(res.result.MSG);
          }
        }
      },
    },
    {
      label: t("control-button-name.location-recommendation"),
      command: async () => {
        const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

        if (UtilService.isEmptyArray(selectedRows)) {
          useToast().warning(t("common-toast.no-selected-item"));
          return;
        } else {
          if (selectedRows.length > 1) {
            return useToast().warning(t("common-toast.only-one-order-id"));
          }
          if (selectedRows[0]["WORK_STAT"] >= 500) {
            return useToast().warning(t("common-toast.already-has-location"));
          }
        }

        const bodyData = {
          _fullpath: "",
          selectIds: "1",
          I_ORD_ID0: selectedRows[0].ORD_ID,
          I_ORD_SEQ0: String(selectedRows[0].ORD_SEQ),
          vrType: "",
        };
        const res = await ApiService.postApi("/WMSOP020/autoBestLocSave_rn.action", {}, bodyData);
        if (res.status) {
          if (res.result.errCnt == 0) {
            useToast().success(res.result.MSG);
            useSearchConditionStore().setAvailableSearchBySearchCondition(true);
            searchGridData();
            return;
          } else {
            return useToast().error(res.result.MSG);
          }
        }
      },
    },
    {
      label: t("control-button-name.assign-location-template"),
      command: async () => {
        const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

        if (UtilService.isEmptyArray(selectedRows)) {
          return useToast().warning(t("common-toast.no-selected-item"));
        }

        // 엑셀 팝업 마운트
        const data = {
          modalTitle: t("modal-title.location-designation-enter-excel"),
          saveUrl: "/WMSOP020E8/uploadLcoInfo_rn.action",
          templateUrl: "",
          uniqueParams: { target: "RCV", vrFromTemplateId: "WMSOP910E1" },
        };
        UtilService.excelImport(data, "/excel-import");

        const bodyData: any = {
          Title: "템플릿로케이션지정",
          Head: ["주문번호", "순번", "상품코드", "상품명", "수량", "로케이션"],
          Keys: ["ORD_ID", "ORD_SEQ", "RITEM_CD", "RITEM_NM", "IN_ORD_QTY", ""],
          Body: [],
          Sheet: "로케이션지정",
        };

        for (let i = 0; selectedRows.length > i; i++) {
          bodyData.Body.push({
            ORD_ID: String(selectedRows[0].ORD_ID || ""),
            ORD_SEQ: String(selectedRows[0].ORD_SEQ || ""),
            RITEM_CD: String(selectedRows[0].RITEM_CD || ""),
            RITEM_NM: String(selectedRows[0].RITEM_NM || ""),
            IN_ORD_QTY: String(selectedRows[0].IN_ORD_QTY || ""),
            "": "",
          });
        }
        // function
        const urls = PREFIX + "/Excel/downLoadTemplate.action";
        const tempForm = document.createElement("form");
        tempForm.setAttribute("method", "post");
        tempForm.setAttribute("action", urls);
        tempForm.setAttribute("target", "_self");
        const tempData = document.createElement("input");
        tempData.setAttribute("type", "hidden");
        tempData.setAttribute("name", "JsonData");
        tempData.setAttribute("value", JSON.stringify(bodyData));
        tempForm.appendChild(tempData);
        document.body.appendChild(tempForm);
        tempForm.submit();
      },
    },
  ],
  // 엑셀 다운로드
  excelButtonHandler: [
    {
      label: t("control-button-name.excel-all"),
      command: () => {
        excelAllExport();
      },
    },
    {
      label: t("control-button-name.excel-select"),
      command: () => {
        excelSelectExport();
      },
    },
  ],
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSOP910_rn");
  const res = await ApiService.postApi("/WINUS/WMSOP910_rn.action", {}, data);

  const setAvailableOptionsUtilParam: IAvailableOptionsUtilParams[] = [
    {
      inputId: "vrSrchOrdSubtype",
      availableList: ["", "20", "22", "23", "25", "111", "137", "138", "139", "158", "159"],
    },
  ];

  UtilService.setAvailableOptions(res.result.selectBoxInfos, setAvailableOptionsUtilParam);

  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  // 페이지 ID를 포함한 이벤트 이름으로 리스너 등록
  eventBus.on("search-finished", getGridStatisticsData);
  // 그리드 상단 통계 데이터 api요청
  // getGridStatisticsData(apiParams);
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });

  // 페이지 ID를 포함한 이벤트 이름으로 리스너 제거
  eventBus.off("search-finished", getGridStatisticsData);
});

//#endregion

//#region ::  User Function Definitions

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

/**
 * 엑셀(전체)
 */
function excelAllExport() {
  let columnKeys = [] as (string | any)[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.warehousing-management"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 엑셀(선택)
 */
function excelSelectExport() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  const excelExportParams: ExcelExportParams = {
    onlySelected: true,
    fileName: t("excel-export-file-name.warehousing-management"),
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  // WORK_STAT의 값이 ALLOW_DELETE_STATUS에 해당되는 값들만 삭제 가능 (운영서버 소스 참고)
  const ALLOW_DELETE_STATUS = ["100", "310", "991"];
  for (let i = 0; selectedRows.length > i; i++) {
    if (ALLOW_DELETE_STATUS.indexOf(selectedRows[i].WORK_STAT) < 0) {
      return useToast().warning(t("common-toast.unable-to-delete"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "",
      selectIds: String(selectedRows.length),
      vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
    };
    for (let i = 0; selectedRows.length > i; i++) {
      data["ORD_ID" + [i]] = selectedRows[i].ORD_ID || "";
      data["ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
    }

    const res = await ApiService.postApi("/WMSOP020/deleteOrder_rn.action", {}, data);
    if (res.status) {
      if (res.result.errCnt == 0) {
        useToast().success(t("common-toast.deleted"));
        searchGridData();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        return;
      } else {
        return useToast().error(res.result.MSG);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

// 신규
function addRowData() {
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  const windowPopup = UtilService.openWindowPopup(null, `/receiving-order?vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`, {
    width: 1150,
    height: 750,
    top: 100,
    left: 200,
  });
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

/**
 * 입고일변경
 */
function changeReceivingDate() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const name = "/date-change";
  const option = "width = 850, height = 250, top = 100, left = 200, location = no";
  let workedRows: any = new Array();

  // 선택한 로우가 없을때
  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  workedRows = selectedRows.filter((dt: any) => {
    return Object.hasOwn(dt, "WORK_ID") && !UtilService.isEmptyString(dt["WORK_ID"]);
  });

  // 선택한 로우중 WORK_ID가 없는 경우 리턴
  if (workedRows.length === 0) {
    return useToast().warning(t("common-toast.no-work-id"));
  }

  workedRows = workedRows.map((dt: any) => dt.WORK_ID).join(",");

  const data = {
    inputTitle: t("modal-title.work-day"),
    saveUrl: "/WMSOP000Q6/saveSetWorkDate_rn.action",
    uniqueParams: {
      func: "fn_search",
      vrWorkId: workedRows,
      vrWorkDt: "",
    },
  };

  localStorage.setItem("windowModal", JSON.stringify(data));

  const openWindowModal: any = window.open(name, name, option);

  // 모달이 close 되었을때를 감지
  openWindowModal.addEventListener("beforeunload", () => {
    searchGridData();
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  });
}

function getOwnerDataQueryString() {
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  return `vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`;
}

// 템플릿입력 모달
function enterTemplate() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  UtilService.templateImport(
    `/enter-template?title=${"receiving-enter-template"}&${getOwnerDataQueryString()}&saveUrl=${"/WMSOP030/inExcelFileUploadAllowBlank_AS_rn.action"}&templateUrl=${"/WMSOP030E2/sampleExcelDown.action"}`
  );
}

/**
 * [Context Menu] 레이블발행 > 식별표출력
 * - 식별표 영역 선택할 수 있는팝업창 실행 (1/1, 1/4 영역 선택)
 *
 * @param pageSetting 식별표가 한 페이지에서 차지하는 영역(1 (1/1) or 4 (1/4))
 */
function fn_tabPrint(pageSetting: string) {
  const pageGb = Number(pageSetting);
  const printSettings = getPrintSettings(pageGb);
  const $dataTable: HTMLElement = document.createElement("div");
  let contentNo = pageGb; // Pagination 구분값 (1/1, 4/4)
  let html: string = "";
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    useToast().warning(t("common-toast.no-selected-item"));
    return;
  }

  selectedRows.forEach((item: any, index: number) => {
    contentNo = contentNo % pageGb;

    if (contentNo === 0) {
      html += /*html*/ `
      <div style='page-break-before:${index === 0 ? "avoid" : "always"}'>
        ${createPrintPage(item, printSettings, pageGb, contentNo)}
      </div>
      `;
    } else {
      html += /*html*/ `
        ${createPrintPage(item, printSettings, pageGb, contentNo)}
      `;
    }

    contentNo++;
  });

  $dataTable.innerHTML = html;

  printContent($dataTable);
}

//식별표 영역 셋팅
function getPrintSettings(printGb: number) {
  return printGb === 1
    ? {
        tlbCard_W: "1000",
        tlbCard_H: "640",
        mainTitle: "40",
        subTitle: "20",
        tdFontSz: ["15px", "20px", "30px", "40px", "110px"],
      }
    : {
        tlbCard_W: "465",
        tlbCard_H: "300",
        mainTitle: "20",
        subTitle: "10",
        tdFontSz: ["8px", "10px", "15px", "20px", "60px"],
      };
}

//프린트 페이지 생성
function createPrintPage(item: any, settings: any, printGb: number, contentNo: number) {
  let html: string = "";
  const nullVal = "　";

  if (printGb === 4) {
    html += getFourPageLayoutPrefix(contentNo);
  }

  html += /*html*/ `
    <table border='3' cellspacing='0' width='${settings.tlbCard_W}' height='${settings.tlbCard_H}'>
      <colgroup>
        <col width='25%'/>
        <col width='25%'/>
        <col width='25%'/>
        <col width='25%'/>
      </colgroup>
      <tr height='${settings.mainTitle}'>
        <td colspan='3' style='border-right:0px; font-size:10px;'>${item.TRANS_CUST_NM} Picking Ticket</td>
        <td style='text-align:right; border-left:0px; font-size:10px;'></td>
      </tr>
      <!-- 2Row (헤더+필드 포함)-->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};'>Lot. Barcode</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Destination</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Final Destination</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Model</td>
      </tr>
      <tr>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'>${QRCodeGenerator(item.CUST_LOT_NO, settings.qrSize)}</td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'>${item.CUST_NM}</td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'>${item.IN_CUST_NM}</td>
        <td style='text-align:center; font-size:${settings.tdFontSz[3]};'><b><u>${item.P_ITEM_GRP_ID}</u></b></td>
      </tr>
      <!-- 3Row (헤더+필드 포함)-->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};' colspan='2'>Part Number</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Quantity</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Devision</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[3]};'><b>${item.RITEM_CD}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[3]};'><b>${item.IN_ORD_QTY}</b></td>
        <td rowspan='3' style='text-align:center; font-size:${settings.tdFontSz[4]};'><b>${item.P_ITEM_DEVISION_CD}</b></td>
      </tr>
      <!-- 4Row (헤더+필드 포함)-->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};' colspan='2'>Customer Item Code</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Item Barcode</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.P_CUST_LEGACY_ITEM_CD}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[3]};'>${QRCodeGenerator(item.ITEM_BAR_CD, settings.qrSize)}</td>
      </tr>
      <!-- 5Row (헤더+필드 포함)-->
      <tr height='${settings.subTitle}' style='background-color:#EAEAEA;'>
        <td style='font-size:${settings.tdFontSz[0]};' colspan='2'>Description</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Gross Weight</td>
        <td style='font-size:${settings.tdFontSz[0]};'>Packing Date</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.P_ITEM_NM}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'><b>${UtilService.setComma(Math.floor(item.IN_ORD_WEIGHT))}kg</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'><b>${item.IN_REQ_DT}</b></td>
      </tr>
      <!-- 6Row (헤더+필드 포함)-->
      <tr height='${settings.subTitle}'>
        <td colspan='2' style='background-color:#EAEAEA; font-size:${settings.tdFontSz[0]};'>Lot No.</td>
        <td style='background-color:#EAEAEA; font-size:${settings.tdFontSz[0]};'>Lot. Barcode</td>
        <td style='background-color:#EAEAEA; font-size:${settings.tdFontSz[0]};'>Quantity</td>
      </tr>
      <tr>
        <td colspan='2' style='text-align:center; font-size:${settings.tdFontSz[2]};'><b>${item.CUST_LOT_NO}</b></td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'>${QRCodeGenerator(item.CUST_LOT_NO, settings.qrSize)}</td>
        <td style='text-align:center; font-size:${settings.tdFontSz[1]};'><b>${nullVal}</b></td>
      </tr>
    </table>
  </div>`;

  if (printGb === 4) {
    html += getFourPageLayoutSuffix();
  }

  return html;
}

// 선택한 데이터를 지정한 양식에 셋팅 후 프린트
function printContent($dataTable: HTMLElement) {
  const printWindow = window.open("about:blank", "Print" + new Date().getTime(), "width=780,height=800,scrollbars=1");

  printWindow?.document.write($dataTable.innerHTML);

  setTimeout(() => {
    printWindow?.print();
  }, 1000);
}

/**
 * 식별표(4/4) 출력 항목단위 HTML 전처리 태그 획득
 *
 * @params contentNo : 1페이지 내 컨텐츠 번호
 */
function getFourPageLayoutPrefix(contentNo: number) {
  let html: string = "";

  const layouts = [
    /*html*/ `<div style='float:left; display:inline; width:50%; height:50%;'>`,
    /*html*/ `<div style='float:right; display:inline; width:50%; height:50%;'>`,
    /*html*/ `<div style='float:left; display:inline; width:50%; height:50%;'>`,
    /*html*/ `<div style='float:right; display:inline; width:50%; height:50%;'>`,
  ];

  return html + layouts[contentNo];
}

/**
 * 식별표(4/4) 출력 항목단위 HTML 후처리 태그 획득
 */
function getFourPageLayoutSuffix() {
  return /*html*/ `
      </div>
      <br style='height:0; line-height:0'>
    `;
}

/**
 * Grid Context Menu
 */
function getContextMenuItems(params: GetContextMenuItemsParams) {
  params.node?.setSelected(true);

  const result = [
    {
      name: t("grid-context-menu-title.label-issuance"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
      subMenu: [
        {
          name: t("grid-context-menu-title.issue-identification-lable"),
          action: async () => {
            popupOn.tabPrintSel = true;
          },
          cssClasses: ["redFont", "bold"],
        },
      ],
    },
    {
      name: t("grid-context-menu-title.dispatch"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
      subMenu: [
        {
          name: t("grid-context-menu-title.dispatch"),
          cssClasses: ["redFont", "bold", "sub-title"],
        },
        {
          name: t("grid-context-menu-title.general-dispatch"),
          action: async () => {
            wmsop000q1();
          },
          cssClasses: ["redFont", "bold"],
        },
        {
          name: t("grid-context-menu-title.simple-dispatch"),
          action: async () => {
            wmsop000q8(params.node?.data);
          },
          cssClasses: ["redFont", "bold"],
        },
        {
          name: t("grid-context-menu-title.cancel-dispatch"),
          cssClasses: ["redFont", "bold", "sub-title"],
        },
        {
          name: t("grid-context-menu-title.cancellation-of-simple-dispatch"),
          action: async () => {
            fn_cancelDspQuick();
          },
          cssClasses: ["redFont", "bold"],
        },
      ],
    },
    {
      name: t("grid-context-menu-title.arrival"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
      subMenu: [
        {
          name: t("grid-context-menu-title.check-in"),
          action: async () => {
            wmsop000q3(params.node?.data);
          },
          cssClasses: ["redFont", "bold"],
        },
        {
          name: t("grid-context-menu-title.dock-designation"),
          action: async () => {
            wmsop000q4(params.node?.data);
          },
          cssClasses: ["redFont", "bold"],
        },
        {
          name: t("grid-context-menu-title.issuance-of-work-instructions"),
          action: async () => {
            fn_rptGRNWorkOrder(1);
          },
          cssClasses: ["redFont", "bold"],
        },
        // TODO :: 삭제예정 (기존 오류 기능)
        // QC확정
        // { name: t("grid-context-menu-title.qc-confirmation"), action: async () => {}, cssClasses: ["redFont", "bold"] },
        {
          // 입하확정 (소메뉴)
          name: t("grid-context-menu-title.confirmed-receiving"),
          action: async () => {
            fn_confirmGrn();
          },
          cssClasses: ["redFont", "bold"],
        },
        {
          // 입하취소 (소메뉴)
          name: t("grid-context-menu-title.cancellation-receiving"),
          action: async () => {
            fn_confirmGrnCancel();
          },
          cssClasses: ["redFont", "bold"],
        },
      ],
    },
    {
      // 로케이션지정 (대메뉴)
      name: t("grid-context-menu-title.location-designation"),
      action: async () => {},
      cssClasses: ["redFont", "bold"],
      subMenu: [
        {
          // 로케이션 지정
          name: t("grid-context-menu-title.location-designation"),
          action: async () => {
            // 호출
            wmsop000q5v2();
          },
          cssClasses: ["redFont", "bold"],
        },
        {
          // 로케이션지정취소 (소메뉴)
          name: t("grid-context-menu-title.location-designation-cancellation"),
          action: async () => {
            fn_autoDeleteLocSave();
          },
          cssClasses: ["redFont", "bold"],
        },
        {
          // 고정(Fix)로케이션 추천지정 (소메뉴)
          name: t("grid-context-menu-title.recommendation-fix-location-designation"),
          action: async () => {
            fn_autoFixLocSave();
          },
          cssClasses: ["redFont", "bold"],
        },
        {
          // 작업지시서 발행
          name: t("grid-context-menu-title.issuance-of-work-instructions"),
          action: async () => {
            fn_rptGRNWorkOrder(2);
          },
          cssClasses: ["redFont", "bold"],
        },
      ],
    },
    {
      // 입고확정
      name: t("grid-context-menu-title.receiving-confirmed"),
      action: async () => {
        fn_rightComplete();
      },
      cssClasses: ["redFont", "bold"],
    },
    {
      // 입고확정취소
      name: t("grid-context-menu-title.receiving-confirmation-cancellation"),
      action: async () => {
        fn_CancelComplete();
      },
      cssClasses: ["redFont", "bold"],
    },
    {
      // 입고수량0처리확정
      name: t("grid-context-menu-title.receiving-quantity-0-confirmation"),
      action: async () => {
        fn_outUpdateZero();
      },
      cssClasses: ["redFont", "bold"],
    },
    // TODO :: 삭제 대상 (정의, 용도가 모호한 기능)
    // {
    //   // 바코드 출력
    //   name: t("grid-context-menu-title.issuance-of-barcodes"),
    //   action: async () => {},
    //   cssClasses: ["redFont", "bold"],
    // },
    {
      // 간편입고
      name: t("grid-context-menu-title.easy-warehousing"),
      action: async () => {
        fn_simpleIn();
      },
      cssClasses: ["redFont", "bold"],
    },
    {
      // 입고확정 후 출고주문 입력
      name: t("grid-context-menu-title.enter-forwarding-order-after-confirmation-of-warehousing"),
      action: async () => {
        fn_inConfirmOutOrder();
      },
      cssClasses: ["redFont", "bold"],
    },
    {
      // 상품현재고 조회
      name: t("grid-context-menu-title.current-inventory-check"),
      action: async () => {
        wmsop000q12();
      },
      cssClasses: ["redFont", "bold"],
    },
    {
      // 주문차수합치기
      name: t("grid-context-menu-title.combine-order-sequence"),
      action: async () => {
        fn_popCombineOrdDegree();
      },
      cssClasses: ["redFont", "bold"],
    },
  ];

  return result;
}

/**
 * [Context Menu] 배차
 */
function wmsop000q1() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const info = {
    title: t("popup-title.dispatch-work"),
  };

  let mergeOrdId = "";
  for (let i = 0; selectedRows.length > i; i++) {
    if (mergeOrdId) {
      mergeOrdId += `,${selectedRows[i].ORD_ID}`;
    } else {
      mergeOrdId += selectedRows[i].ORD_ID;
    }
  }

  const queryStringParams = `?vrOrdId=${mergeOrdId}&vrOrdType=${"01"}&vrSrchReqFromDt=${
    useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom || ""
  }&vrSrchReqToDt=${useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo || ""}`;

  const windowPopup = UtilService.openWindowPopup(info, `/POP-WMSOP000Q1_1${queryStringParams}`, { width: 1150, height: 750, top: 100, left: 200 }, "WMSOP000Q1_1");
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

/**
 * 간편배차
 *
 * @params data : 선택된 대표 행
 */
function wmsop000q8(data: any) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const info = {
    title: t("popup-title.simple-delivery"),
  };

  // 쿼리스트링 셋팅
  let ORD_ID = [];
  let ORD_SEQ = [];
  let RITEM_ID = [];
  let UOM_ID = [];
  let ORD_QTY = [];
  let TRANS_CUST_CD = [];

  // 팝업 노출 조건 유효성 검사
  if (!Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    return useToast().warning(t("common-toast.please-select-a-owner"));
  }

  for (let i = 0; selectedRows.length > i; i++) {
    ORD_ID.push(selectedRows[i].ORD_ID || "");
    ORD_SEQ.push(selectedRows[i].ORD_SEQ || "");
    RITEM_ID.push(selectedRows[i].RITEM_ID || "");
    UOM_ID.push(selectedRows[i].OUT_ORD_UOM_ID || "");
    ORD_QTY.push(selectedRows[i].IN_ORD_QTY || "");
    TRANS_CUST_CD.push(selectedRows[i].TRANS_CUST_CD || "");
  }

  const queryStringParams = `?searchOrdId=${data.ORD_ID}&searchOrdSeq=${data.ORD_SEQ}&ordId=${ORD_ID.join()}&ordSeq=${ORD_SEQ.join()}&CUST_ID=${
    data.CUST_ID
  }&ORD_TYPE=${"02"}&RITEM_ID=${RITEM_ID.join()}&UOM_ID=${UOM_ID.join()}&ORD_QTY=${ORD_QTY.join()}&TRANS_CUST_CD=${TRANS_CUST_CD.join()}`;

  const windowPopup = UtilService.openWindowPopup(info, `/POP-WMSOP000Q8_1${queryStringParams}`, { width: 1150, height: 400, top: 100, left: 200 }, "WMSOP000Q8_1");
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

function wmsop000q3(data: any) {
  const info = {
    title: t("popup-title.check-in"),
  };
  const queryStringParams = `?vrOrdType=${data.ORD_TYPE}&vrOrdId=${data.ORD_ID}&vrSrchReqFromDt=${
    useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom
  }&vrSrchReqToDt=${useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo}`;

  const windowPopup = UtilService.openWindowPopup(info, `/POP-WMSOP000Q3_1${queryStringParams}`, { width: 1150, height: 750, top: 100, left: 200 }, "WMSOP000Q3_1");
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

/**
 * DOCK장 지정
 */
function wmsop000q4(data: any) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const info = {
    title: t("grid-context-menu-title.dock-designation"),
  };

  let mergeOrdId = "";
  for (let i = 0; selectedRows.length > i; i++) {
    if (mergeOrdId) {
      mergeOrdId += `,${selectedRows[i].ORD_ID}`;
    } else {
      mergeOrdId += selectedRows[i].ORD_ID;
    }
  }
  const queryStringParams = `?vrOrdId=${mergeOrdId}&vrOrdType=${data.ORD_TYPE}`;

  const windowPopup = UtilService.openWindowPopup(info, `/POP-WMSOP000Q4_1${queryStringParams}`, { width: 1150, height: 750, top: 100, left: 200 }, "WMSOP000Q4_1");
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

/**
 * 로케이션 지정
 */
function wmsop000q5v2() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const info = {
    title: t("grid-context-menu-title.location-designation"),
  };

  let arrOrdId = "";
  let arrOrdSeq = "";
  let arrWorkStat = "";
  let arrWorkType = "";
  let arrWorkId = "";

  // api호출 조건 유효성 검사
  for (let i = 0; selectedRows.length > i; i++) {
    if (String(selectedRows[i].WORK_STAT) === "490") {
      return useToast().warning(t("common-toast.unavailable-work-state-490"));
    }
  }

  for (let i = 0; selectedRows.length > i; i++) {
    arrOrdId += arrOrdId ? `,${selectedRows[i].ORD_ID}` : selectedRows[i].ORD_ID;
    arrOrdSeq += arrOrdSeq ? `,${selectedRows[i].ORD_SEQ}` : selectedRows[i].ORD_SEQ;
    arrWorkStat += arrWorkStat ? `,${selectedRows[i].WORK_STAT}` : selectedRows[i].WORK_STAT;
    arrWorkType += arrWorkType ? `,${selectedRows[i].ORD_SUBTYPE}` : selectedRows[i].ORD_SUBTYPE;
    arrWorkId += arrWorkId ? `,${selectedRows[i].WORK_ID}` : selectedRows[i].WORK_ID;
  }

  const queryStringParams = `?vrOrdType=${"01"}&vrCustId=${
    useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || ""
  }&arrOrdId=${arrOrdId}&arrOrdSeq=${arrOrdSeq}&arrWorkStat=${arrWorkStat}&arrWorkType=${arrWorkType}&arrWorkId=${arrWorkId}`;

  const windowPopup = UtilService.openWindowPopup(info, `/POP-WMSOP000Q5V2_1${queryStringParams}`, { width: 1150, height: 600, top: 100, left: 200 }, "WMSOP000Q5V2_1");
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

/**
 * [Context Menu] 상품 현재고 조회
 *
 * TODO :: 현재고 조회 화면 탭 추가, 상품정보 전달하여 조회
 */
function wmsop000q12() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const info = {
    title: t("popup-title.current-survey-by-product"),
  };

  let mergeVrSrchRitemId = "";

  for (let i = 0; selectedRows.length > i; i++) {
    if (mergeVrSrchRitemId) {
      mergeVrSrchRitemId += `,${selectedRows[i].RITEM_ID}`;
    } else {
      mergeVrSrchRitemId += selectedRows[i].RITEM_ID;
    }
  }

  const queryStringParams = `?vrSrchRitemId=${mergeVrSrchRitemId}`;

  UtilService.openWindowPopup(info, `/POP-WMSOP000Q12_1${queryStringParams}`, { width: 1150, height: 600, top: 100, left: 200 }, "WMSOP000Q12_1");
}

/**
 *
 */
function wmsop000q5(queryStringData?: any) {
  const info = {
    title: t("grid-context-menu-title.location-designation"),
  };
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (queryStringData) {
    UtilService.openWindowPopup(info, `/POP-WMSOP000Q5_1${queryStringData}`, { width: 1150, height: 600, top: 100, left: 200 }, "WMSOP000Q5_1");
  } else {
    for (let i = 0; selectedRows.length > i; i++) {
      let queryString = "";
      queryString += `?vrOrdId=${selectedRows[i].ORD_ID}`;
      queryString += `&vrOrdSeq=${selectedRows[i].ORD_SEQ}`;
      queryString += `&vrWorkType=${"20"}`;
      queryString += `&vrOrdType=${"01"}`;
      queryString += `&vrWorkId=${selectedRows[i].WORK_ID}`;
      queryString += `&vrWhId=${selectedRows[i].IN_WH_ID}`;
      queryString += `&vrWhNm=${selectedRows[i].IN_WH_NM}`;
      queryString += `&vrWorkStat=${selectedRows[i].WORK_STAT}`;

      UtilService.openWindowPopup(info, `/POP-WMSOP000Q5_1${queryString}`, { width: 1150, height: 600, top: 100, left: 200 }, "WMSOP000Q5_1");
    }
  }
}

/**
 * 작업지시서발행
 *
 * @params type : 입하(1), 로케이션지정(2)
 */
async function fn_rptGRNWorkOrder(type: number) {
  await useConfirmStore().confirm(t("confirm-message.confirm-print"), t("button-name.confirm"));

  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const bodyData = {
    selectIds: selectedRows.length + "",
    vrSrchCustCd: useSearchConditionStore().getSearchInputValue()["vrSrchCustCd"],
    vrSrchCustNm: useSearchConditionStore().getSearchInputValue()["vrSrchCustNm"],
    vrSrchRitemCd: useSearchConditionStore().getSearchInputValue()["vrSrchRitemCd"],
    vrSrchRitemNm: useSearchConditionStore().getSearchInputValue()["vrSrchRitemNm"],
    vrSrchWhNm: useSearchConditionStore().getSearchInputValue()["vrSrchWhNm"],
    vrSrchOrderId: useSearchConditionStore().getSearchInputValue()["vrSrchOrderId"],
    vrSrchReqDtFrom: useSearchConditionStore().getSearchInputValue()["vrSrchReqDtFrom"],
    vrSrchReqDtTo: useSearchConditionStore().getSearchInputValue()["vrSrchReqDtTo"],
    vrSrchOrderPhase: useSearchConditionStore().getSearchInputValue()["vrSrchOrderPhase"],
    vrType: "",
  } as any;

  selectedRows.forEach((item: any, i: number) => {
    bodyData["ORD_ID" + i] = item["ORD_ID"] + "";
    bodyData["ORD_SEQ" + i] = item["ORD_SEQ"] + "";
  });

  let url;
  let popupName;
  if (type === 1) {
    url = "/WMSRP020/grnSearch_rn.action";
    popupName = "fn_grnList";
  } else {
    url = "/WMSRP020/grnSearch2_rn.action";
    popupName = "fn_grnList2";
  }

  const res = await ApiService.postApi(url, {}, bodyData);
  if (res.status && res.result.errCnt == 0) {
    //PDF뷰
    const url2 = "/WMSRP020/pdfView.action?pdfFilePath=" + res.result.pdfFilePath + "&pdfFileName=" + res.result.pdfFileName;
    let width = "800";
    let height = "700";
    let asppop = UtilService.cfn_openPop2(url2, popupName, width, height, false) as any;
    asppop.focus();

    // CSV다운 TODO: 잠시 보류
    if (type === 1) {
      ApiService.postApi("/WMSRP020/csv.action", {}, {});
    }

    searchGridData();
  } else {
    useToast().error(res.result.MSG);
  }
}

// context 메뉴 정책검증
function fn_assertRule(spName: string) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedRows.length),
    vrSpName: spName,
    vrRuleType: "PRO01",
    vrChainYn: "Y",
    vrType: "",
  };

  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
  }

  ApiService.postApi("/WMSOP000/assertRule_rn.action", {}, bodyData);
}

/**
 * 특정 값을 QR 바코드 Image 태그 HTML 문자열로 반환
 *
 * @params text : 변환하고자 하는 값
 * @parmas fontSize : QR코드 사이즈
 */
function QRCodeGenerator(text: string, fontSize: number) {
  const QRCodeImageMaker = qrcode(4, "L");

  QRCodeImageMaker.addData(text);
  QRCodeImageMaker.make();

  return QRCodeImageMaker.createImgTag(fontSize);
}

//#endregion

//#region :: [Grid] Context Menu CallBack

/**
 * 간편배차취소
 */
async function fn_cancelDspQuick() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // api호출 조건 유효성 검사
  if (!Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    return useToast().warning(t("common-toast.please-select-a-owner"));
  }

  for (let i = 0; selectedRows.length > i; i++) {
    if (Number(selectedRows[i].WORK_STAT) < 300) {
      return useToast().warning(t("common-toast.unavailable-cancel-dispatch"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.cancel-dispatch"), t("button-name.confirm"));

  // bodyData 셋팅
  const bodyData: any = {
    selectIds: String(selectedRows.length),
    DEL_YN: "Y",
    ORD_TYPE: "01",
    CUST_ID: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
  };
  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["ORD_ID_" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["ORD_SEQ_" + [i]] = String(selectedRows[i].ORD_SEQ || "");
  }
  //호출
  const res = await ApiService.postApi("/WMSMS050/dspCancel_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      searchGridData();
      return useToast().success(t("common-toast.cancel-dispatch"));
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

/**
 * [Context Menu] 입하확정
 */
async function fn_confirmGrn() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // api호출 조건 유효성 검사
  for (let i = 0; selectedRows.length > i; i++) {
    if (Number(selectedRows[i].WORK_STAT) >= 490) {
      return useToast().warning(t("common-toast.already-done"));
    }
  }
  // bodyData 셋팅
  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedRows.length),
    vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
  };
  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
    bodyData["REF_SUB_LOT_ID" + [i]] = String(selectedRows[i].REF_SUB_LOT_ID || "");
  }

  await useConfirmStore().confirm(t("confirm-message.confirm"), t("button-name.confirm"));

  //호출
  const res = await ApiService.postApi("/WMSOP020/saveConfirmGrn_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      searchGridData();
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

/**
 * [Context Menu] 입하취소
 */
async function fn_confirmGrnCancel() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // api호출 조건 유효성 검사
  for (let i = 0; selectedRows.length > i; i++) {
    if (String(selectedRows[i].WORK_STAT) !== "490") {
      return useToast().warning(t("common-toast.no-confirmed-receiving"));
    }
  }
  // bodyData 셋팅
  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedRows.length),
    vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
  };
  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
    bodyData["REF_SUB_LOT_ID" + [i]] = String(selectedRows[i].REF_SUB_LOT_ID || "");
  }

  await useConfirmStore().confirm(t("confirm-message.confirm"), t("button-name.confirm"));

  //호출
  const res = await ApiService.postApi("/WMSOP020/saveCancelGrn_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      searchGridData();
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

/**
 * [Context Menu] 로케이션지정취소
 */
async function fn_autoDeleteLocSave() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // api호출 조건 유효성 검사
  for (let i = 0; selectedRows.length > i; i++) {
    const gridRowWorkStat = String(selectedRows[i].WORK_STAT);
    if (gridRowWorkStat !== "230" && gridRowWorkStat !== "400" && gridRowWorkStat !== "500") {
      return useToast().warning(t("common-toast.unregister-location"));
    }
  }

  // bodyData 셋팅
  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedRows.length),
    vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
  };
  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["I_ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["I_ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  //호출
  const res = await ApiService.postApi("/WMSOP030/autoDeleteLocSave_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      searchGridData();
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}
/**
 * [Context Menu] 고정(Fix)로케이션 추천지정
 */
async function fn_autoFixLocSave() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // api호출 조건 유효성 검사
  for (let i = 0; selectedRows.length > i; i++) {
    if (selectedRows[i].WORK_STAT >= 500) {
      return useToast().warning(t("common-toast.already-has-location"));
    }
  }

  // bodyData 셋팅
  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedRows.length),
    vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
  };
  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["I_ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["I_ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
    bodyData["I_ORD_TYPE" + [i]] = String(selectedRows[i].ORD_TYPE || "");
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  //호출
  const res = await ApiService.postApi("/WMSOP020/autoFixLocSave_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      searchGridData();
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

/**
 * [Context Menu] 입고확정
 */
async function fn_rightComplete() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let chkIds = []; // WORK_STAT < 500 이하인거
  let chkIds2 = []; // WORK_STAT == 490 인거
  let chkIds3 = [];

  //입하확정 후 입고확정을 위한 프로세스 추가 smics(2015-09-14)
  for (let i = 0; selectedRows.length > i; i++) {
    if (String(selectedRows[i].WORK_STAT) == "490") {
      chkIds2.push(selectedRows[i]);
    } else if (Number(selectedRows[i].WORK_STAT) < 500) {
      chkIds.push(selectedRows[i]);
      chkIds3.push(selectedRows[i]);
    } else {
      chkIds3.push(selectedRows[i]);
    }
  }

  // 상태가 입하화정인 데이터인 경우 재고이동 팝업 노출
  if (chkIds2.length > 0) {
    const vrNewGb = "G";
    const vrSrchCustCd = chkIds2[0].CUST_CD;
    const vrSrchItemCd = chkIds2[0].RITEM_CD;
    const vrSrchOrdId = chkIds2[0].ORD_ID;
    const vrSrchOrdSeq = chkIds2[0].ORD_SEQ;
    const info = {
      title: t("popup-title.inventory-movement"),
    };
    UtilService.openWindowPopup(
      info,
      `/POP-WMSST040E3?vrNewGb=${vrNewGb}&vrSrchCustCd=${vrSrchCustCd}&vrSrchItemCd=${vrSrchItemCd}&vrSrchOrdId=${vrSrchOrdId}&vrSrchOrdSeq=${vrSrchOrdSeq}`,
      { width: 1800, height: 800, top: 100, left: 200 },
      "WMSST040E3"
    );
    // WMSOP910E1.fn_inCompleteGrn(chkIds2);
  }

  //여기는 입하확정아니고 로케이션 지정안된곳
  if (chkIds3.length > 0) {
    if (chkIds.length === 1) {
      wmsop000q5();
    } else if (chkIds.length > 1) {
      if (confirm("로케이션지정이 안된 주문건들이 다수 존재합니다. 지정하시겠습니까? (팝업 호출 예정)")) {
        for (let i = 0; chkIds.length > i; i++) {
          let queryString = "";
          queryString += `?vrOrdId=${chkIds[i].ORD_ID}`;
          queryString += `&vrOrdSeq=${chkIds[i].ORD_SEQ}`;
          queryString += `&vrWorkType=${"20"}`;
          queryString += `&vrOrdType=${"01"}`;
          queryString += `&vrWorkId=${chkIds[i].WORK_ID}`;
          queryString += `&vrWhId=${chkIds[i].IN_WH_ID}`;
          queryString += `&vrWhNm=${chkIds[i].IN_WH_NM}`;
          queryString += `&vrWorkStat=${chkIds[i].WORK_STAT}`;

          wmsop000q5(queryString);
        }
      }
    } else {
      fn_assertRule("SP_ASSERT_QC_PASS");
      // api호출 조건 유효성 검사
      if (selectedRows.length === 0) {
        return useToast().warning(t("common-toast.no-selected-item"));
      }

      // bodyData 셋팅
      const bodyData: any = {
        _fullpath: "",
        selectIds: String(selectedRows.length),
        vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
      };
      for (let i = 0; selectedRows.length > i; i++) {
        bodyData["ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
        bodyData["ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
        bodyData["REF_SUB_LOT_ID" + [i]] = String(selectedRows[i].REF_SUB_LOT_ID || "");
      }

      await useConfirmStore().confirm(t("confirm-message.confirm"), t("button-name.confirm"));

      //호출
      const res = await ApiService.postApi("/WMSOP020/saveInComplete_rn.action", {}, bodyData);
      if (res.status) {
        if (res.result.errCnt === 0) {
          useToast().success(res.result.MSG);
          searchGridData();
          return;
        } else {
          return useToast().error(res.result.MSG);
        }
      }
    }
  } else {
    fn_assertRule("SP_ASSERT_QC_PASS");
    if (selectedRows.length === 0) {
      return useToast().warning(t("common-toast.no-selected-item"));
    }

    // bodyData 셋팅
    const bodyData: any = {
      _fullpath: "",
      selectIds: String(selectedRows.length),
      vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
    };
    for (let i = 0; selectedRows.length > i; i++) {
      bodyData["ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
      bodyData["ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
      bodyData["REF_SUB_LOT_ID" + [i]] = String(selectedRows[i].REF_SUB_LOT_ID || "");
    }

    await useConfirmStore().confirm(t("confirm-message.confirm"), t("button-name.confirm"));

    //호출
    const res = await ApiService.postApi("/WMSOP020/saveInComplete_rn.action", {}, bodyData);
    if (res.status) {
      if (res.result.errCnt === 0) {
        return useToast().success(res.result.MSG);
      } else {
        return useToast().error(res.result.MSG);
      }
    }
  }
}

/**
 * [Context Menu] 입고확정취소
 */
async function fn_CancelComplete() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // bodyData 셋팅
  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedRows.length),
    vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
  };
  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
    bodyData["REF_SUB_LOT_ID" + [i]] = String(selectedRows[i].REF_SUB_LOT_ID || "");
  }

  await useConfirmStore().confirm(t("confirm-message.confirm"), t("button-name.confirm"));

  //호출
  const res = await ApiService.postApi("/WMSOP020/saveCancelInComplete_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      searchGridData();
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

/**
 * [Context Menu] 입고수량0처리확정
 */
async function fn_outUpdateZero() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // bodyData 셋팅
  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedRows.length),
    vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
  };
  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  //호출
  const res = await ApiService.postApi("/WMSOP030/outUpdateZero_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      searchGridData();
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

/**
 * [Context Menu] 간편입고
 */
async function fn_simpleIn() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // api호출 조건 유효성 검사
  for (let i = 0; selectedRows.length > i; i++) {
    if (!selectedRows[i].IN_ORD_QTY && Number(selectedRows[i].IN_ORD_QTY) === 0) {
      return useToast().warning(
        t("common-toast.no-order-seq", {
          ORD_ID: selectedRows[i].ORD_ID,
          ORD_SEQ: selectedRows[i].ORD_SEQ,
        })
      );
    }

    if (selectedRows[i].WORK_STAT >= 530) {
      return useToast().warning(
        t("common-toast.already-register-location", {
          ORD_ID: selectedRows[i].ORD_ID,
          ORD_SEQ: selectedRows[i].ORD_SEQ,
        })
      );
    }
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  // bodyData 셋팅
  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedRows.length),
    vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
  };
  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
  }
  //호출
  const res = await ApiService.postApi("/WMSOP020/saveSimpleIn_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      searchGridData();
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

/**
 * [Context Menu] 입고확정 후 출고주문입력
 */
async function fn_inConfirmOutOrder() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // bodyData 셋팅
  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedRows.length),
    vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
  };
  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    bodyData["ORD_SEQ" + [i]] = String(selectedRows[i].ORD_SEQ || "");
    bodyData["REF_SUB_LOT_ID" + [i]] = String(selectedRows[i].REF_SUB_LOT_ID || "");
  }
  // 호출
  const res = await ApiService.postApi("/WMSOP020/saveInCompleteOutOrder_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      searchGridData();
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

/**
 * [Context Menu] 주문차수합치기
 */
function fn_popCombineOrdDegree() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  combineOrderDegree.on = true;
  combineOrderDegree.value = {
    saveUrl: "/WMSOP030/combineOrdDegree_B2B_rn.action", // api미완
    selectedItems: selectedRows,
    closeEvent: () => {
      combineOrderDegree.on = false;
      searchGridData();
    },
  };
}

//#endregion

//#region ::  Grid Event CallBack Definitions

/**
 * 그리드 조회 parameter 수정
 * @param apiParams 그리드 조회 parameter
 */
function onApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "";
  apiParams.cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType;
  apiParams.vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
  apiParams.vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;
  apiParams.vrInCustIdNullChk = "ALL";
  return apiParams;
}

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSOP910/listE1_rn.action", apiParams, bodyData.value, false);
}

// 그리드 상단 통계 데이터
async function getGridStatisticsData(apiParams: any) {
  const gridStatisticsData = await ApiService.postApi("/WMSOP910/listE1SummaryCount_rn.action", apiParams, {});
  if (gridStatisticsData.status) {
    gridTotalData.value = gridStatisticsData.result.LIST;
  }
}

// 셀 더블클릭시 출고주문 팝업 노출 (신규팝업)
function onCellDoubleClicked(params: CellDoubleClickedEvent<any>) {
  const windowPopup = UtilService.openWindowPopup(null, `/receiving-order?vrOrdId=${params.data.ORD_ID}`, { width: 1150, height: 750, top: 100, left: 200 });
  UtilService.getGridDataAfterClosedPopup(windowPopup);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

.date-range-input {
  width: 100%;
}
</style>
