<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS030_1/page.vue
 *  Description:    시스템관리/사용자관리 - 사용자관리목록 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onRowDoubleClicked="onRowDoubleClicked"
      :getServerData="getServerData">
      <div class="grid-header">{{ t("menu-header-title.TMSYS030_1") }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "TMSYS030_1" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service.ts";
import { UtilService } from "@/services/util-service.ts";
import { useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus.ts";
import type { ISelectedTab } from "@/types/index.ts";
import type { GridApi, GridReadyEvent, RowDoubleClickedEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const { t } = useI18n();
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  // excel: excelExport,
  "user-management-detail": userManagementDetail,
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi(`/WINUS/TMSYS030_rn.action`, {}, UtilService.getOptionApiData(`TMSYS030_rn`));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * 사용자관리상세
 * - 선택 계정의 "사용자관리상세" 페이지로 이동.
 */
function userManagementDetail() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.item-select-no"));
  }
  const menu: ISelectedTab = {
    id: "TMSTS030_2",
    mainMenuTitle: "",
    path: "setting/TMSYS030_2",
    title: "",
  };

  useSelectedDataStore().selectedInfoHandler(selectedRows[0], true);
  useTabsStore().selectTab(menu);
  useTabsStore().setChangedSelectedTabByNotClickedTabMenu("select-box", true);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/TMSYS030/list_rn.action", apiParams, bodyData.value, false);
}

function onRowDoubleClicked(e: RowDoubleClickedEvent) {
  const menu: ISelectedTab = {
    id: "TMSTS030_2",
    mainMenuTitle: "",
    path: "setting/TMSYS030_2",
    title: "",
  };
  // 선택 계정의 "사용자관리상세" 페이지로 이동.
  useSelectedDataStore().selectedInfoHandler(e.data);
  useTabsStore().selectTab(menu);
  useTabsStore().setChangedSelectedTabByNotClickedTabMenu("select-box", true);
}
//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

.date-range-input {
  width: 100%;
}
</style>
