<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST076_1/page.vue
 *  Description:    재고/재고조정(상태변경)_LOT속성변경 -  업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header>
        <div class="search-comment">{{ t("common-description-text.WMSST076_1(01)") }}</div>
      </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      :onPasteEnd="onPasteEnd"
      :getContextMenuItems="getContextMenuItems"
      :onCellDoubleClicked="onCellDoubleClicked"
      :onCellFocused="onCellFocused"
      :context="{ ...GRID_CELL_SELECT_BOX, ...GRID_DATE_INPUT_INFO }">
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="gridStatisticsInfoRef" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST076_1" };
</script>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/stock/WMSST076_1/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, GRID_CELL_SELECT_BOX, GRID_DATE_INPUT_INFO, gridOptionsMeta } from "./input.grid";
import { GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const { t } = useI18n();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const myPageId = ref<string>();
const gridApi = ref<GridApi | undefined>();
const gridHeaderTitle = computed(() => {
  return t(`grid-title.inventory-adjustment-(status-change)-lot-attribute-modification`);
});
let gridRowItemCount = ref(0);
const gridData = reactive({ value: [] as any });
const gridTotalData = reactive({ value: {} as any });
const gridControlBtnRef = ref(CONTROL_BTN);
const gridStatisticsInfoRef = ref(GRID_STATISTICS_INFO);
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};

const eventHandler: Record<string, Function> = {
  "enter-template": enterTemplate,
  excel: excelExport,
  save: saveRowData,
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi(`/WINUS/WMSST076_rn.action`, {}, UtilService.getOptionApiData(`WMSST076_rn`));
  const res2 = await ApiService.postApi(`/WINUS/WMSMS080_rn.action`, {}, UtilService.getOptionApiData(`WMSMS080_rn`));
  const res3 = await ApiService.postApi(`/WINUS/WMSMS090_rn.action`, {}, UtilService.getOptionApiData(`WMSMS090_rn`));

  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
    useOptionDataStore().setOptionData(res2.result);
    useOptionDataStore().setOptionData(res3.result.selectBoxInfos);
  }
});

onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * 엑셀
 */
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.inventory-adjustment"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 템플릿입력
 */
function enterTemplate() {
  if (!useSelectedDataStore().getSelectedModalData()["owner"]) {
    useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.owner") }));
    return useCallModalIdStore().setCallModalId("owner");
  }
  const data = {
    modalTitle: t("modal-title.change-batch-inventory-attributes-enter-excel") + "(" + useSelectedDataStore().getSelectedModalData().owner.CUST_CD + ")",
    saveUrl: "/WMSST076/updateTemplate_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSST076&file_name=execlTemp_stock_propert_01.xls",
    uniqueParams: { vrSrchCustId: String(useSelectedDataStore().getSelectedModalData().owner.CUST_ID) },
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * "저장" 버튼 이벤트 콜백
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  // 검색 가능 조건 유효성검사(조정수량이 0 초과, 수량 < 조정수량 조건에 부합해야함)
  for (let i = 0; selectedRows.length > i; i++) {
    if (!Number(selectedRows[i].WORK_QTY)) {
      return useToast().warning(t("common-toast.no-work-qty"));
    }

    if (Number(selectedRows[i].WORK_QTY) > Number(selectedRows[i].STOCK_QTY)) {
      return useToast().warning(t("common-toast.no-work-qty-2", { line: i + 1 }));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "재고관리 &gt; 재고조정(상태변경)",
      vrSrchCustCd_T01: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
      vrSrchCustNm_T01: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
      vrSrchCustId_T01: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
      vrSrchLocNm: useSelectedDataStore().getSelectedModalData().location?.LOC_NM || "",
      vrSrchLocCd: useSelectedDataStore().getSelectedModalData().location?.LOC_CD || "",
      vrSrchLocId: useSelectedDataStore().getSelectedModalData().location?.LOC_ID || "",
      vrSrchCustLotNo: useSearchConditionStore().getSearchInputValue().vrSrchCustLotNo || "",
      vrSrchWhCd: useSelectedDataStore().getSelectedModalData().warehouse?.WH_CD || "",
      vrSrchWhNm: useSelectedDataStore().getSelectedModalData().warehouse?.WH_ID || "",
      vrSrchItemCd_T01: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
      vrSrchItemNm_T01: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NM || "",
      vrSrchItemId_T01: useSelectedDataStore().getSelectedModalData().product?.ITEM_ID || "",
      vrSrchItemType: useSearchConditionStore().getSearchInputValue().vrSrchItemType || "",
      vrFromLoc: useSearchConditionStore().getSearchInputValue().vrFromLoc || "",
      vrToLoc: useSearchConditionStore().getSearchInputValue().vrToLoc || "",
      locOption: useSearchConditionStore().getSearchInputValue().locOption || "",
      vrLotAttribute: useSearchConditionStore().getSearchInputValue().vrLotAttribute || "",
      vrSrchInOrdId: useSearchConditionStore().getSearchInputValue().vrSrchInOrdId || "",
      LC_ID: selectedRows[0].LC_ID || "",
      selectIds: String(selectedRows.length),
    };

    for (let i = 0; selectedRows.length > i; i++) {
      data["WH_NM" + [i]] = selectedRows[i].WH_NM || "";
      data["CUST_ID" + [i]] = selectedRows[i].CUST_ID || "";
      data["UOM_NM" + [i]] = selectedRows[i].UOM_NM || "";
      data["NEW_OWNER_CD" + [i]] = selectedRows[i].OLD_OWNER_CD || "";
      data["ORD_ID_SEQ" + [i]] = selectedRows[i].ORD_ID_SEQ || "";
      data["LOC_CD" + [i]] = selectedRows[i].LOC_CD || "";
      data["CUST_LOT_NO" + [i]] = selectedRows[i].CUST_LOT_NO || "";
      data["CUST_CD" + [i]] = selectedRows[i].CUST_CD || "";
      data["STOCK_QTY" + [i]] = String(selectedRows[i].STOCK_QTY || selectedRows[i].STOCK_QTY === 0 ? selectedRows[i].STOCK_QTY : "");
      data["CUST_ITEM_CD" + [i]] = selectedRows[i].CUST_ITEM_CD || "";
      data["ITEM_SIZE" + [i]] = selectedRows[i].ITEM_SIZE || "";
      data["COLOR" + [i]] = selectedRows[i].COLOR || "";
      data["RITEM_NM" + [i]] = selectedRows[i].RITEM_NM || "";
      data["LOC_PER" + [i]] = String(selectedRows[i].LOC_PER || selectedRows[i].LOC_PER === 0 ? selectedRows[i].LOC_PER : "");
      data["IN_EXP_QTY" + [i]] = String(selectedRows[i].IN_EXP_QTY);
      data["CARRY_PLT_QTY" + [i]] = String(selectedRows[i].CARRY_PLT_QTY || selectedRows[i].CARRY_PLT_QTY === 0 ? selectedRows[i].CARRY_PLT_QTY : "");
      data["ERP_WH_CD" + [i]] = selectedRows[i].ERP_WH_CD || "";
      data["SUB_LOT_ID" + [i]] = selectedRows[i].SUB_LOT_ID || "";
      data["CHANGE_MEMO" + [i]] = selectedRows[i].CHANGE_MEMO || "";
      data["WORK_IP" + [i]] = selectedRows[i].WORK_IP || "";
      data["WH_CD" + [i]] = selectedRows[i].WH_CD || "";
      data["MAKER_NM" + [i]] = selectedRows[i].MAKER_NM || "";
      data["LOC_TYPE" + [i]] = selectedRows[i].LOC_TYPE || "";
      data["WH_ID" + [i]] = selectedRows[i].WH_ID || "";
      data["WORK_QTY" + [i]] = String(selectedRows[i].WORK_QTY || 0);
      data["POOL_YN" + [i]] = selectedRows[i].POOL_YN || "";
      data["UNIT_NO" + [i]] = selectedRows[i].UNIT_NO || "";
      data["CUST_NM" + [i]] = selectedRows[i].CUST_NM || "";
      data["UNIT_NM" + [i]] = selectedRows[i].UNIT_NM || "";
      data["MAKE_DT" + [i]] = selectedRows[i].OLD_MAKE_DT.replace(/-/g, "") || "";
      data["UOM_ID" + [i]] = selectedRows[i].UOM_ID || "";
      data["ITEM_BEST_DATE_END" + [i]] = selectedRows[i].OLD_ITEM_BEST_DATE_END.replace(/-/g, "") || "";
      data["RNUM" + [i]] = String(selectedRows[i].RNUM || "");
      data["LOC_ID" + [i]] = selectedRows[i].LOC_ID || "";
      data["RITEM_CD" + [i]] = selectedRows[i].RITEM_CD || "";
      data["REMAIN_PLT_QTY" + [i]] = String(selectedRows[i].REMAIN_PLT_QTY);
      data["RITEM_ID" + [i]] = selectedRows[i].RITEM_ID || "";
      data["TRANS_PLT_QTY" + [i]] = selectedRows[i].TRANS_PLT_QTY || "";
      data["OLD_LOT_TYPE" + [i]] = selectedRows[i].OLD_LOT_TYPE || "";
      data["SUB_LOT_TYPE" + [i]] = selectedRows[i].OLD_LOT_TYPE || "";
      data["FLAG" + [i]] = selectedRows[i].FLAG || "S";
      data["OLD_ITEM_BEST_DATE_END" + [i]] = selectedRows[i].ITEM_BEST_DATE_END || "";
      data["OLD_OWNER_CD" + [i]] = selectedRows[i].OWNER_CD || "";
      data["OLD_MAKE_DT" + [i]] = selectedRows[i].MAKE_DT || "";
      data["ST_GUBUN" + [i]] = "UPDATE";
    }
    const result = await ApiService.postApi("/WMSST076/save_rn.action", {}, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
      searchGridData();
    }
  } catch (err) {
    return console.log(err);
  }
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function onApiParamsChanged(apiParams: any) {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi.value?.deselectAll();
    const searchConditions = SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "재고관리 &gt; 재고조정(상태변경)";
    if (!apiParams.locOption) {
      apiParams.locOption = "A";
    }
    if (!apiParams.vrLotAttribute) {
      apiParams.vrLotAttribute = "10";
    }
    if (!apiParams.vrVirtualLocation) {
      delete apiParams.vrVirtualLocation;
    } else {
      apiParams.vrVirtualLocation = useSearchConditionStore().getSearchInputValue().vrVirtualLocation;
    }
    if (!apiParams.vrEmptyLocation) {
      delete apiParams.vrEmptyLocation;
    } else {
      apiParams.vrEmptyLocation = useSearchConditionStore().getSearchInputValue().vrEmptyLocation;
    }
    if (useSearchConditionStore().getResetValue()) {
      UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
      gridApi.value?.setRowData([]);
      gridRowItemCount.value = 0;
      return;
    }
  }
}

async function getServerData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/WMSST076/listE01_rn.action", apiParams, bodyData.value, false);
  if (res.status) {
    gridData.value = res.result.list;
    gridTotalData.value = { TOTAL_QTY: res.result.list.length };
  } else {
    gridData.value = [];
    gridTotalData.value = { TOTAL_QTY: 0 };
  }
  return res;
}

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptionsMeta.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptionsMeta.api?.getSelectedRows());
}

// context menu
function getContextMenuItems(params: any) {
  const result = [
    {
      name: t("grid-context-menu-title.all-applications"),
      action: async () => {
        allApplications(params);
      },
      cssClasses: ["redFont", "bold"],
    },
  ];

  return result;
}

// 일괄적용 context메뉴가 열린 셀이 위치한 값으로 selected된 해당 열의 값이 변경됨
function allApplications(params: any) {
  const selectedRows: any = gridOptionsMeta.api?.getSelectedRows();

  const column = params.column.colId;
  const value = params.value;

  for (let i = 0; selectedRows.length > i; i++) {
    gridOptionsMeta.api?.applyTransaction({ update: [{ ...selectedRows[i], ...{ [column]: value } }] });
  }
}
function onPasteEnd() {
  useSelectedDataStore().changeSelectedDataList(gridOptionsMeta.api?.getSelectedRows());
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}

.search-comment {
  text-align: right;
  color: $red;
  font-size: 12px;
  padding: 0 23px 15px 0;
}
</style>
