<template>
  <multiTabModalLayout :multiTabInfo="multiTabInfo" />
</template>

<script setup lang="ts">
import { multiTabModalLayout } from "@/components/layout";

const multiTabInfo = {
  queryStringList: ["vrOrdId", "vrSrchCustId", "vrSrchCustCd", "vrSrchCustNm"],
  route: [
    {
      id: "receiving-order",
      title: "receiving-order",
      path: "receiving-order",
    },
    {
      id: "simple-receiving-order",
      title: "simple-receiving-order",
      path: "simple-receiving-order",
    },
  ],
};
</script>

<style lang="scss" scoped></style>
