<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	simple-receiving-order.vue
 *  Description:    입고주문 다중 탭 팝업의 간편 입고주문 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SIMPLE_SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header> </template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="SIMPLE_GRID_META"
      :gridOptionsMeta="SIMPLE_GRID_OPTIONS_META"
      :formColumnDefs="SIMPLE_ORDER_GRID_COLUMN_DEFS"
      :getServerData="getServerData"
      :searchInput="SIMPLE_ORDER_SEARCH_INPUT">
    </common-form>
    <!--버튼영역-->
    <div class="buttons">
      <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
      <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import type { GridApi, GridReadyEvent } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { SIMPLE_ORDER_GRID_COLUMN_DEFS } from "./column-defs";
import { SIMPLE_GRID_META, SIMPLE_GRID_OPTIONS_META, SIMPLE_ORDER_SEARCH_INPUT, SIMPLE_SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>("simple-receiving-order");
const { t } = useI18n();
const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId"); // 신규버튼을 눌렀을때 값 존재
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  useTabsStore().selectTab(
    {
      id: "simple-receiving-order",
      title: "simple-receiving-order",
      path: "simple-receiving-order",
    },
    true
  );

  const data = UtilService.getOptionApiData("WMSCM091_rn");
  const res = await ApiService.postApi("/WMSCM091_rn.action", {}, data);

  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }

  // 신규버튼을 통해 열렸을때 검색영역 화주 값 셋팅
  if (vrSrchCustIdQueryString) {
    const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId");
    const vrSrchCustCdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustCd");
    const vrSrchCustNmQueryString = new URL(window.location.href).searchParams.get("vrSrchCustNm");

    useSelectedDataStore().selectedModalHandler({
      owner: { CUST_ID: vrSrchCustIdQueryString, CUST_CD: vrSrchCustCdQueryString, CUST_NM: vrSrchCustNmQueryString },
    });
  }
});

onMounted(() => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#region ::  User Function Definitions

// 저장
async function save() {
  gridApi.value?.stopEditing();
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (selectedRows.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(SIMPLE_ORDER_SEARCH_INPUT, useSearchConditionStore(), useSelectedDataStore());
  if (searchInputRequiredValidation) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi.value);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  const bodyData: any = {
    calInDt: useSearchConditionStore().getSearchInputValue().calInDt || "",
    vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
    vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
    vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
    vrSrchOrderPhase: "20",
    vrSrchItemGrp: useSearchConditionStore().getSearchInputValue().vrSrchItemGrp || "",
    vrSrchWhCd: useSelectedDataStore().getSelectedModalData().warehouse?.WH_CD || "",
    vrSrchWhNm: useSelectedDataStore().getSelectedModalData().warehouse?.WH_NM || "",
    vrSrchWhId: useSelectedDataStore().getSelectedModalData().warehouse?.WH_ID || "",
    vrInCustCd: useSelectedDataStore().getSelectedModalData()["receiving-address"]?.CUST_CD || "",
    vrInCustNm: useSelectedDataStore().getSelectedModalData()["receiving-address"]?.CUST_NM || "",
    vrInCustId: useSelectedDataStore().getSelectedModalData()["receiving-address"]?.CUST_ID || "",
    vrOrdId: "",
    vrApproveYn: "",
    vrWorkStat: "",
    dsMain_rowStatus: "INSERT",
    inDt: "",
    custPoid: "",
    custPoseq: "",
    orgOrdId: "",
    orgOrdSeq: "",
    outWhId: "",
    transCustId: "",
    pdaFinishYn: "",
    workStat: "",
    ordType: "",
    outReqDt: "",
    outDt: "",
    pdaStat: "",
    workSeq: "",
    capaTot: "",
    kinOutYn: "",
    carConfYn: "",
    tplOrdId: "",
    payYn: "",
    blNo: "",
    inCustAddr: "",
    inCustEmpNm: "",
    inCustTel: "",
    selectIds: String(selectedRows.length),
  };

  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["ST_GUBUN" + [i]] = "INSERT";
    bodyData["ITEM_GRP_ID" + [i]] = String(selectedRows[i].ITEM_GRP_ID || "");
    bodyData["ITEM_CODE" + [i]] = String(selectedRows[i].ITEM_CODE || "");
    bodyData["ITEM_KOR_NM" + [i]] = String(selectedRows[i].ITEM_KOR_NM || "");
    bodyData["STOCK_QTY" + [i]] = String(selectedRows[i].STOCK_QTY || "");
    bodyData["EXPIRY_DATE" + [i]] = String(selectedRows[i].EXPIRY_DATE || "");
    bodyData["IN_WORK_ORD_QTY" + [i]] = String(selectedRows[i].IN_WORK_ORD_QTY || "");
    bodyData["BAD_QTY" + [i]] = String(selectedRows[i].BAD_QTY || "");
    bodyData["UOM_NM" + [i]] = String(selectedRows[i].UOM_NM || "");
    bodyData["UNIT_PRICE" + [i]] = String(selectedRows[i].UNIT_PRICE || "");
    bodyData["WH_NM" + [i]] = String(selectedRows[i].WH_NM || "");
    bodyData["RITEM_ID" + [i]] = String(selectedRows[i].RITEM_ID || "");
    bodyData["LC_ID" + [i]] = String(selectedRows[i].LC_ID || "");
    bodyData["CUST_ID" + [i]] = String(selectedRows[i].CUST_ID || "");
    bodyData["REP_UOM_ID" + [i]] = String(selectedRows[i].REP_UOM_ID || "");
    bodyData["IN_WORK_UOM_ID" + [i]] = String(selectedRows[i].IN_WORK_UOM_ID || "");
    bodyData["OUT_ORD_UOM_ID" + [i]] = String(selectedRows[i].OUT_ORD_UOM_ID || "");
    bodyData["REP_UOM_CD" + [i]] = String(selectedRows[i].REP_UOM_CD || "");
    bodyData["REP_UOM_NM" + [i]] = String(selectedRows[i].REP_UOM_NM || "");
    bodyData["ITEM_ID" + [i]] = String(selectedRows[i].ITEM_ID || "");
    bodyData["ITEM_ENG_NM" + [i]] = String(selectedRows[i].ITEM_ENG_NM || "");
    bodyData["ITEM_SHORT_NM" + [i]] = String(selectedRows[i].ITEM_SHORT_NM || "");
    bodyData["WH_ID" + [i]] = String(selectedRows[i].WH_ID || "");
    bodyData["UOM_ID" + [i]] = String(selectedRows[i].UOM_ID || "");
    bodyData["IN_WH_ID" + [i]] = String(selectedRows[i].IN_WH_ID || "");
    bodyData["PAY_YN" + [i]] = String(selectedRows[i].PAY_YN || "");
  }

  const res = await ApiService.postApi("/WMSOP999/saveSimpleInOrder_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      UtilService.setOpenerPostMessageForGetGridData();
      setTimeout(() => {
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  localStorage.removeItem("windowModal");
  window.close();
}

// 브라우저를 직접 닫았을때
window.addEventListener("beforeunload", () => {
  localStorage.removeItem("windowModal");
});

//#endregion

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSOP999/listSimpleInItem_rn.action", apiParams, bodyData.value, false);
}

</script>

<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

.buttons {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 14px;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 20px;

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: 100%
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
</style>
