<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST014_2/page.vue
 *  Description:    일별재고조회(NEW) 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.06. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header> </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="gridStatisticsInfoRef" :gridTotalData="gridTotalData" />
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG734_2" };
</script>
<script setup lang="ts">
import { onMounted, onUnmounted, reactive, ref } from "vue";
import { useToast } from "vue-toastification";

import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import commonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { FORM_COLUMN_DEFS } from "./column-defs";

import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";
const gridData = reactive({ value: [] as any });

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const gridTotalData = reactive({ value: {} as any });
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};

const gridStatisticsInfoRef = ref(GRID_STATISTICS_INFO);
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//엑셀
function excelExport() {
  if (gridData.value.length === 0) {
    return useToast().warning(t("common-toast.no-data-found"));
  }
  const excelExportParams: ExcelExportParams = {
    fileName: t("menu-header-title.WMSTG734_2"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  const res = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, UtilService.getOptionApiData("WMSST051_rn"));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }

  myPageId.value = useTabsStore().selectedTab.value?.id;
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

// User Function Definitions

async function getServerData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSTG734/list2.action", apiParams, bodyData.value, false);
  if (res.status) {
    gridData.value = res.result.list;
    gridTotalData.value = { TOTAL_QTY: res.result.totCnt };
  } else {
    gridData.value = [];
    gridTotalData.value = { TOTAL_QTY: 0 };
  }
  return res;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
