<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSYS020/form.vue
 *  Description:    시스템관리/다국어관리 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <control-container>
    <div v-for="btnData in CONTROL_BTN" :key="btnData.title">
      <control-button
        v-if="(btnData.title === 'save' || btnData.title === 'del') && Object.keys(selectedItems.value).length > 0"
        :data="btnData"
        :saveRowData="saveRowData"
        :deleteRowData="deleteRowData" />
      <control-button
        v-else-if="!(btnData.title === 'save' || btnData.title === 'del')"
        :data="btnData"
        :addRowData="addRowData"
        :excelExport="excelExport"
        :excelImport="excelImport"
        :clickManual="clickManual" />
    </div>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <my-grid
      :onGridReady="onGridReady"
      @selectedItemsEv="
        (e: any) => {
          selectedItems.value = e;
        }
      "
      :setPagingSize="setPagingSize" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService, REST_SERVICE_PRODUCTION_URL } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import MyGrid from "./grid.vue";

import { CONTROL_BTN, SEARCH_INPUT } from "./input";

// Variable Definitions
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSMS100");
const pagingSize = ref<number>(pagingOptions![0]);
const selectedItems = reactive({ value: {} as any });
const FormHeightStore = useFormHeightStore();
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트(div태그)
const inactive = ref<boolean>(false);
let tempCount = 0;
let gridApi: GridApi | null = null;

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  window.addEventListener("resize", () => {
    resizeGridColumns();
  });
});

watch(FormHeightStore._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = FormHeightStore.getFormHeight();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});
function setPagingSize(size: any) {
  pagingSize.value = size;
}
// User Function Definitions

const resizeGridColumns = () => {
  const myPageId = useTabsStore().selectedTab.value?.id;
  let myGridContainerWidth = document.querySelector("#" + myPageId + "-page .form-container")?.clientWidth || 0;
  let myGridBodyContainerWidth = document.querySelector("#" + myPageId + "-page .ag-body-viewport .ag-center-cols-container")?.clientWidth || 0;
  if (myGridContainerWidth >= myGridBodyContainerWidth) {
    gridApi?.sizeColumnsToFit();
  }
};

const onGridReady = (params: any) => {
  gridApi = params.api;
  resizeGridColumns();
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};

async function searchGridData() {
  gridApi?.deselectAll();

  const searchConditions = SEARCH_INPUT;

  let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());

  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", gridApi, null, params);
          return;
        }
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSMS100/list_rn.action", apiParams, bodyData.value, false);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}
// grid에 paging option 적용
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 신규 빈 행 추가
function addRowData() {
  const RNUM = `temp${tempCount}`;
  const newRowData = [{ RNUM }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi?.paginationGetCurrentPage()) + 1) * Number(gridApi?.paginationGetPageSize()) - Number(gridApi?.paginationGetPageSize());

  gridApi?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  tempCount++;

  gridApi?.getRowNode(String(RNUM))!.setSelected(true);

  useSelectedDataStore().selectedHandler(gridApi?.getRowNode(String(RNUM))?.data);
}

//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.uom-list"),
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}

// 엑셀입력 클릭시, excel import
function excelImport() {
  const data = {
    modalTitle: t("modal-title.uom-information-enter-excel"),
    saveUrl: "/WMSMS100/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS100&file_name=execlTemp_uom_01.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

// 메뉴얼 클릭
async function clickManual() {
  location.href = REST_SERVICE_PRODUCTION_URL + "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS100&file_name=WINUS_WMSMS100_MANUAL_KOR.pdf";
}

//삭제
async function deleteRowData() {
  selectedItems.value = gridApi?.getSelectedRows();
  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  let data: any = {};
  for (let i = 0; selectedItems.value.length > i; i++) {
    //신규 추가후 정보 입력없이 바로 삭제
    if (String(selectedItems.value[i].UOM_ID).includes("temp")) {
      data._fullpath = "";
      data.I_selectIds = 0;
      data.D_selectIds = 0;
      data.vrSrchUomId = "";
      data.selectIds = 0;
      data["ST_GUBUN" + [i]] = "DELETE";
      data["UOM_ID" + [i]] = selectedItems.value[i].UOM_ID;
      data["UOM_CD" + [i]] = selectedItems.value[i].UOM_CD;
      data["LC_ID" + [i]] = UtilService.getCurrentLocation();
    } else {
      //이미 있는 데이터 삭제
      data._fullpath = "";
      data.I_selectIds = 0;
      data.D_selectIds = selectedItems.value.length;
      data.vrSrchUomId = "";
      data.selectIds = selectedItems.value.length;
      data["ST_GUBUN" + [i]] = "DELETE";
      data["UOM_ID" + [i]] = selectedItems.value[i].UOM_ID;
      data["UOM_CD" + [i]] = selectedItems.value[i].UOM_CD;
      data["LC_ID" + [i]] = UtilService.getCurrentLocation();
    }
  }

  try {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

    const result = await ApiService.postApi("/WMSMS100/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      UtilService.reloadGridData(useSelectedDataStore(), useSearchConditionStore(), gridApi);
      tempCount = 0;
    }
  } catch (err) {
    return console.log(err);
  }
}

// 저장
async function saveRowData() {
  selectedItems.value = gridApi?.getSelectedRows();

  if (!selectedItems.value || selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = { _fullpath: "", selectIds: selectedItems.value.length };
    for (let i = 0; selectedItems.value.length > i; i++) {
      if (i === 0) {
        data.UOM_CD = selectedItems.value[0].UOM_CD;
        data.UOM_NM = selectedItems.value[0].UOM_NM;
        data.UOM_ID = selectedItems.value[0].UOM_ID.includes("temp") ? "" : selectedItems.value[0].UOM_ID;
      }

      if (String(selectedItems.value[i].UOM_ID).includes("temp")) {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }
      data["LC_ID" + [i]] = UtilService.getCurrentLocation();
      data["UOM_CD" + [i]] = selectedItems.value[i].UOM_CD;
      data["UOM_NM" + [i]] = selectedItems.value[i].UOM_NM;
      data["UOM_ID" + [i]] = selectedItems.value[i].UOM_ID;
    }
    const result = await ApiService.postApi("/WMSMS100/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      UtilService.reloadGridData(useSelectedDataStore(), useSearchConditionStore(), gridApi);
      tempCount = 0;
    }
  } catch (err) {
    return console.log(err);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;
</style>
