<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSYS020/page.vue
 *  Description:    시스템관리/다국어관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div :id="`${myPageId}-page`">
    <my-search />
    <my-form />
  </div>
</template>

<script lang="ts">
export default { name: "WMSYS020" };
</script>
<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useTabsStore } from "@/store";

import MyForm from "./form.vue";
import MySearch from "./search.vue";

// Variable Definitions
const myPageId = ref<string>();

// Framework Function Definitions
onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
});

// User Function Definitions
</script>

<style lang="scss" scoped></style>
