<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS100/search.vue
 *  Description:    기준정보/UOM정보관리 상단의 검색 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <search-container :data="SEARCH_INPUT" :use-setting="false">
      <template v-slot:search_input_slot>
        <search-container-input v-for="(props, i) in SEARCH_INPUT" :key="i" :data="props" :columnDefs="FORM_COLUMN_DEFS?.[props.title]" :modalData="null" />
      </template>
    </search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, ref } from "vue";

import { useFormHeightStore } from "@/store";

import { SearchContainerInput } from "@/components/input";
import { SearchContainer } from "@/components/layout";

import { FORM_COLUMN_DEFS } from "./column-defs";
import { SEARCH_INPUT } from "./input";

// Variable Definitions
const searchComponentRef = ref(null as null | HTMLDivElement);

// Framework Function Definitions
onMounted(() => {
  //class='search-area' 엘리먼트
  if (searchComponentRef.value) {
    useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value.clientHeight));
  }
});
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-area {
  padding-top: 26px;
}
</style>
