<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	tmsys030q3.vue
 *  Description:    입출고관리(통합)- context-menu 피킹 - 작업 - 작업지시할당
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.11. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="tmsys030q3" class="tmsys030q3">
    <div class="tmsys030q3-container">
      <h3 class="tmsys030q3-title">{{ t("popup-title.look-up-workers") }}</h3>
      <!--검색 인풋영역-->
      <div class="" ref="searchComponentRef">
        <search-container class="search-container" :data="SEARCH_INPUT_TMSYS030Q3" :use-setting="false" :un-used-refresh-button="true" :ser-auth="page.value['SER_AUTH'] || 'Y'">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in SEARCH_INPUT_TMSYS030Q3" :key="i">
              <search-container-input :data="props" :columnDefs="null" :modalData="null" :pageInfo="null" />
            </template>
          </template>
        </search-container>
      </div>
      <!--그리드영역-->
      <div class="tmsys030q3-form-container">
        <div class="tmsys030q3-grid">
          <div class="grid-header">{{ t("grid-title.vehicle-list") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size top-grid" :gridOptions="gridOptions" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e)" class="page-size">
              <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ totalRows }}</span>
          </div>
        </div>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="closePopup()">{{ t("button-name.close") }}</button>
        <button class="save" @click="save()">{{ t("button-name.select") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import searchContainerInput from "@/components/input/search-container-input.vue";
import { SearchContainer } from "@/components/layout";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useSearchConditionStore, useSelectedDataStore } from "@/store";
import { IWinusMenu } from "@/types";
import { GridApi, GridOptions, IServerSideGetRowsParams } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { COLUMN_DEFS_TMSYS030Q3 } from "../column-defs";
import { SEARCH_INPUT_TMSYS030Q3 } from "../input.search";

// Variable Definitions
const selectedItems = reactive({ value: [] as any });
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("TMSYS030Q3");
const pagingSize = ref<number>(pagingOptions![0]);
const searchComponentRef = ref(null as null | HTMLDivElement);
const inactive = ref<boolean>(false);
const totalRows = ref<number>(0);
let gridApi: GridApi | null | any = null;
const page = reactive({ value: {} as any });
const mainMenus = reactive({ value: [] as IWinusMenu[] });

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

onMounted(async () => {
  setTimeout(() => {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  });
  mainMenus.value = await UtilService.setMenusData();
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSOP", "WMSOP910_2", mainMenus.value, null);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

onActivated(() => {
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

const onGridReady = (params: any) => {
  gridApi = params.api;
  gridApi?.sizeColumnsToFit();
};

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  columnDefs: COLUMN_DEFS_TMSYS030Q3,
  headerHeight: 32,
  rowHeight: 32,
  onGridReady: onGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressColumnVirtualisation: true,
  rowSelection: "single",
  suppressCellFocus: true,
  suppressClickEdit: true,
  rowModelType: "serverSide",
  onPaginationChanged: onPaginationChanged,
  onSelectionChanged: onSelectionChanged,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  onRowDoubleClicked: onRowDoubleClicked,
  getRowId: (data) => {
    return data.data.RNUM;
  },
  groupSelectsChildren: true,
};

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
  }
}

async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi.sizeColumnsToFit();
    const searchConditions = SEARCH_INPUT_TMSYS030Q3;
    const apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        setPagingBodyData(params);
        const res = await ApiService.postApi("/TMSYS030/listQ3_rn.action", apiParams, bodyData.value);
        if (res.status) {
          if (res.result.list.length > 0) {
            UtilService.setGridGroupSelectsChildrenProperty(gridApi, true);
            UtilService.setGridData("server-side", gridApi, { gridDataArray: res.result.list, totalCount: UtilService.resetGridDataTotalCount(res, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridApi, null, params);
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

// 저장
async function save() {
  selectedItems.value = gridOptions.api?.getSelectedRows();
  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  window.opener.postMessage({ tmsys030q3: JSON.parse(JSON.stringify(selectedItems.value)) }, "*");
  closePopup();
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

function onRowDoubleClicked(params: any) {
  window.opener.postMessage({ tmsys030q3: params.data }, "*");
  closePopup();
}

// 물류용기조회 버튼 클릭
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.tmsys030q3 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 10px 10px 10px;
  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 0 10px 0;
  }

  &-grid {
    position: relative;
    width: 100%;
    padding: 0 10px 0 10px;
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;

      &:nth-of-type(1) {
        margin-top: 10px;
      }
    }
    .ag-grid-size {
      // height: 200px;
      height: calc(100% - 31px);
    }
  }

  .search-container {
    min-width: unset !important;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 28px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(100% - 15px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
.tmsys030q3-container {
  height: 100%;
}
.tmsys030q3-form-container {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 194px);
}

.search-container {
  min-width: unset !important;
}
</style>
