<!-- TODO :: 삭제예정 -->
<template>
  <div id="pdfView" style="height: 100%; width: 100%"></div>
</template>

<script setup lang="ts">
import { onMounted } from "vue";

onMounted(async () => {
  function getParameter(param: string) {
    return new URL(window.location.href).searchParams.get(param);
  }

  /* 파라미터 처리 */
  var vrUserName = getParameter("vrUserName");
  var vrUserNo = getParameter("vrUserNo");
  var vrLcId = getParameter("vrLcId");
  var vrCustId = getParameter("vrCustId");
  var vrSrchCustNm = getParameter("vrCustNm");
  var vrSrchOrderType = getParameter("vrSrchOrderType");
  var urlType = "ucps";
  var param = "";
  param += "&vrUserName=" + vrUserName;
  param += "&vrUserNo=" + vrUserNo;
  param += "&vrLcId=" + vrLcId;
  param += "&vrCustId=" + vrCustId;
  param += "&vrSrchCustNm=" + vrSrchCustNm;
  param += "&vrSrchOrderType=" + vrSrchOrderType;

  let userNo = getParameter("vrUserNo");
  let rptProjectName = "WINUS";
  let rptProgramName = "WINUSOP030POP";
  let pdfFileName = "WINUSOP030POPB";
  let actionUrl = "http://1.209.94.130:8088/ReportLoader/execution.go?projectName=" + rptProjectName + "&programName=" + rptProgramName + "&pdfFileName=" + pdfFileName + "&urlType=" + urlType;
  let urlVal = "http://" + urlType + ".logisall.co.kr/OZReport/" + pdfFileName + ".asp?ExportPath=D:/Report/" + rptProjectName + "/" + userNo + "/" + param;
  let urlRep = "/OZ_REPORT/" + userNo + "/" + pdfFileName + ".pdf";

  //div pdfView 영역 초기화
  document.getElementById("pdfView")!.innerHTML = "";

  //report 뷰어 import
  var tax_url = "http://winus.logisall.com/OZ_REPORT/" + userNo + "/" + pdfFileName + ".pdf?timeTemp=" + new Date().getTime() + "#zoom=100";
  document.getElementById("pdfView")!.innerHTML = "<object data=" + tax_url + ' type="application/pdf" style="width:100%;height:100%;"></object>';
  // 사용 안되는 코드로 파악됨
  // document.getElementById("btnREPORT_DOWN")?.setAttribute("href", "http://193.123.252.222:8072" + urlRep + "");

  // 내부 이슈로 보류항목
  // const res = await ApiService.postApi(actionUrl, {}, { urlVal: encodeURI(urlVal), userId: userNo });
  // if (res.data.success) {

  // } else {
  //   alert("$!lang.getText('OZ레포트생성오류')");
  // }
});
</script>

<style lang="scss"></style>
