<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsrp030q4.vue
 *  Description:    입출고관리(통합) - 출고관리B2B 페이지에서 context-menu - 피킹 - <바코드 출력여부> - 바코드 미출력 - 바코드 (미출력) - 피킹리스트발행(간편출력)
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.11. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div class="page"></div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted } from "vue";

import { useToast } from "vue-toastification";

import { UtilService } from "@/services/util-service";
import { ApiService } from "@/services/api-service";
import { userStore } from "@/store";

// Variable Definitions
const currentUser = JSON.parse(userStore().getCurrentUser());

// Framework Function Definitions
onMounted(async () => {
  const vrUserName = currentUser["USER_ID"];
  const info = JSON.parse(localStorage.getItem("WMSRP030Q4")!);
  const selectedItems = JSON.parse(info["selectedItems"]);
  const vrCustNm = info["vrCustNm"];

  const bodyData = {
    vrType: null,
    selectIds: selectedItems.length + "",
    vrPageGb: null,
    vrOrderByGb: null,
    vrBarCodeGb: null,
    vrUserId: currentUser["USER_NO"],
    vrLcId: currentUser["LC_ID"],
    vrCustId: info["vrCustId"],
    vrSrchOrderType: info["vrSrchOrderType"],
  } as any;

  selectedItems.forEach((item: any, i: number) => {
    bodyData["ORD_ID" + i] = item["ORD_ID"] + "";
    bodyData["ORD_SEQ" + i] = item["ORD_SEQ"] + "";
  });

  const res = await ApiService.postApi("/WMSRP030/pickingSearchHtml_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt == 0) {
      // 테이블 생성
      makeTable(res.result, vrUserName, vrCustNm);
      // 프린트 출력
      window.print();
    } else {
      useToast().error(res.result.MSG);
    }
  }
});

function makeTable(data: any, vrUserName: string, vrCustNm: string) {
  let sysDate = UtilService.getTodayHhMmSs();

  let detailData = data.detailList;

  let totalPage = detailData.length % 30 == 0 ? parseInt(detailData.length / 30 + "") : parseInt(detailData.length / 30 + "") + 1;

  for (let pageNo = 0; pageNo < totalPage; ++pageNo) {
    let html = "";
    html += '<div class="subpage">';
    html += '	<div style="font-weight:bold;">' + sysDate + "</div>";
    html += '	<div style="font-size:20px; font-weight:bold; text-align:center;">작업지시서(피킹리스트)</div>';
    html += "	<div>";
    html += '		<table class="header">';
    html += "			<colgroup>";
    html += '				<col width = "20%"/>';
    html += '				<col width = "30%"/>';
    html += '				<col width = "20%"/>';
    html += '				<col width = "30%"/>';
    html += "			</colgroup>";
    html += "			<tr>";
    html += "				<th>발행일시</th>";
    html += "				<td>" + sysDate + "</td>";
    html += "				<th>발행자</th>";
    html += "				<td>" + vrUserName + "</td>";
    html += "			</tr>";
    html += "			<tr>";
    html += "				<th>화주</th>";
    html += "				<td>" + vrCustNm + "</td>";
    html += "				<th>확인자</th>";
    html += "				<td></td>";
    html += "			</tr>";
    html += "		</table>";
    html += '		<table class="detail">';
    html += "			<colgroup>";
    html += '				<col width = "5%"/>';
    html += '				<col width = "15%"/>';
    html += '				<col width = "25%"/>';
    html += '				<col width = "30%"/>';
    html += '				<col width = "5%"/>';
    html += '				<col width = "5%"/>	';
    html += '				<col width = "15%"/>';
    html += "			</colgroup>";
    html += '			<tr class="theader" style="text-align:center; background:#788892;">';
    html += "				<th>No</th>";
    html += "				<th>주문번호</th>";
    html += "				<th>상품코드</th>";
    html += "				<th>제품</th>";
    html += "				<th>수량</th>";
    html += "				<th>UOM</th>";
    html += "				<th>로케이션</th>";
    html += "			</tr>";

    for (let i = 0 + pageNo * 30; i < (pageNo + 1) * 30; ++i) {
      if (detailData[i] == undefined) break;
      html += "<tr>";
      html += "	<td style='text-align:center'>" + detailData[i].SEQ + "</td>";
      html += "	<td style='text-align:center'>" + detailData[i].ORD_ID + "</td>";
      html += "	<td>" + detailData[i].RITEM_CD + "</td>";
      html += "	<td class='textOverflow'>" + detailData[i].RITEM_NM + "</td>";
      html += "	<td style='text-align:center'>" + detailData[i].WORK_QTY + "</td>";
      html += "	<td style='text-align:center'>" + detailData[i].OUT_ORD_UOM_ID + "</td>";
      html += "	<td style='text-align:center'>" + detailData[i].LOC_NM + "</td>";
      html += "</tr>";
    }
    html += "		</table>";
    html += "	</div>";
    html += '	<div style="margin : 10px; text-align: center;font-size: 15px;font-weight: bold;">Page ' + (pageNo + 1) + "/" + totalPage + "</div>";
    html += "</div>";

    document.querySelectorAll(".page")[0].innerHTML = html;
  }
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss">
body {
  margin: 0;
  padding: 0;
  font: 10pt "Tahoma";
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1cm;
  margin: 1cm auto;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  height: 256mm;
  padding: 1cm 0;
  page-break-inside: avoid;
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
table,
th,
td {
  border: 1px solid;
  border-spacing: 0px;
}
table {
  page-break-inside: auto;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
.detail th,
.detail td {
  padding: 4px;
}
.detail th {
  font-weight: bold;
}
.detail td {
  font-size: 10px !important;
}
.header {
  min-width: 500px;
  min-height: 70px;
  margin: 20px auto;
  text-align: center;
}
.header th,
.detial th {
  background: #788892;
  font-weight: bold;
}
.textOverflow {
  text-overflow: ellipsis;
  overflow: hidden;
}
</style>
