<template>
  <div id="pdfView" style="height: 100%; width: 100%"></div>
</template>

<script setup lang="ts">
import { UtilService } from "@/services/util-service";
import { onMounted } from "vue";

onMounted(async () => {
  function getParameter(param: string) {
    return new URL(window.location.href).searchParams.get(param);
  }

  /* 파라미터 처리 */
  const vrUserName = getParameter("vrUserName");
  const vrUserNo = getParameter("vrUserNo");
  const vrLcId = getParameter("vrLcId");
  const vrCustId = getParameter("vrCustId");
  const vrSrchCustNm = getParameter("vrSrchCustNm");
  const vrSrchOrderType = getParameter("vrSrchOrderType");

  var urlType = "ucps";
  var param = "";
  param += "&vrUserName=" + vrUserName;
  param += "&vrUserNo=" + vrUserNo;
  param += "&vrLcId=" + vrLcId;
  param += "&vrCustId=" + vrCustId;
  param += "&vrSrchCustNm=" + vrSrchCustNm;
  param += "&vrSrchOrderType=" + vrSrchOrderType;

  var userNo = getParameter("vrUserNo");
  var rptProjectName = "WINUS";
  var rptProgramName;
  var pdfFileName;

  if (UtilService.getCurrentLocation() == "0000003620") {
    rptProgramName = "WMSRP030Q6";
    pdfFileName = "WMSRP030Q6B";
  } else {
    rptProgramName = "WMSRP030Q2";
    pdfFileName = "WMSRP030Q2B";
  }

  var actionUrl = "https://print.logisall.com/ReportLoader/execution.go?projectName=" + rptProjectName + "&programName=" + rptProgramName + "&pdfFileName=" + pdfFileName + "&urlType=" + urlType;
  var urlVal = "http://" + urlType + ".logisall.co.kr/OZReport/" + pdfFileName + ".asp?ExportPath=D:/Report/" + rptProjectName + "/" + userNo + "/" + param;
  var urlRep = "/OZ_REPORT/" + userNo + "/" + pdfFileName + ".pdf";

  //div pdfView 영역 초기화
  document.getElementById("pdfView")!.innerHTML = "";

  //report 뷰어 import
  var tax_url = "http://winus.logisall.com/OZ_REPORT/" + userNo + "/" + pdfFileName + ".pdf?timeTemp=" + new Date().getTime() + "#zoom=100";
  document.getElementById("pdfView")!.innerHTML = "<object data=" + tax_url + ' type="application/pdf" style="width:100%;height:100%;"></object>';
  // 사용 안되는 코드로 파악됨
  // document.getElementById("btnREPORT_DOWN")?.setAttribute("href", "" + urlRep + "");

  // 내부 이슈로 보류항목
  // const res = await ApiService.postApi(actionUrl, {}, { urlVal: encodeURI(urlVal), userId: userNo });
  // if (res.data.success == "fail") {

  // } else {
  //   alert("$!lang.getText('OZ레포트생성오류')");
  // }
});
</script>

<style lang="scss"></style>
