<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS081/form.vue
 *  Description:    기준관리/ZONE정보관리 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container" :style="`height:${formHeight}`">
    <my-left-grid :changeCurrentSelectedLeftGridData="changeCurrentSelectedLeftGridData" />
    <my-right-grid :currentSelectedLeftGridData="currentSelectedLeftGridData" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, watch, onMounted, onActivated, onDeactivated, reactive } from "vue";

import { useFormHeightStore } from "@/store";

import MyLeftGrid from "./left-grid.vue";
import MyRightGrid from "./right-grid.vue";

// Variable Definitions
const inactive = ref<boolean>(false);
const formHeight = ref("" as string);

const currentSelectedLeftGridData = reactive({ value: {} } as { value: any });

// Framework Function Definitions
onMounted(() => {
  formHeight.value = useFormHeightStore().getFormHeight();
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formHeight.value = useFormHeightStore().getFormHeight();
  }
});

onActivated(() => {
  inactive.value = false;
  formHeight.value = useFormHeightStore().getFormHeight();
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
function changeCurrentSelectedLeftGridData(data: any) {
  currentSelectedLeftGridData.value = data;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  width: 100%;
}
</style>
