<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS081/search.vue
 *  Description:    기준관리/ZONE정보관리 상단의 검색 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <search-container @setIsMore="setIsMore" :isMore="isMore" :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)" :data="SEARCH_INPUT" :use-setting="false">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in SEARCH_INPUT" :key="i">
          <search-container-input :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'" :data="props" :columnDefs="null" :modalData="null" :pageInfo="INFO" :modalType="null" />
        </template>
      </template>
    </search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, onMounted } from "vue";

import { SearchContainer } from "@/components/layout";
import { SearchContainerInput } from "@/components/input";
import { useFormHeightStore } from "@/store";

import { INFO, SEARCH_INPUT } from "./input";
import { UtilService } from "@/services/util-service";

// Variable Definitions
const FormHeightStore = useFormHeightStore();

let isMore = ref(false);
// .search-area 돔 정보
const searchComponentRef = ref(null as null | HTMLDivElement);
const displayInputCount = UtilService.getShowInputCount(2, SEARCH_INPUT) as number;

// Framework Function Definitions
onMounted(() => {
  if (searchComponentRef.value) {
    FormHeightStore.setSearchCompHeight(Number(searchComponentRef.value.clientHeight));
  }
});

// User Function Definitions
function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    if (searchComponentRef.value) {
      FormHeightStore.setSearchCompHeight(Number(searchComponentRef.value.clientHeight));
    }
  }, 100);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-area {
  padding-top: 26px;
}
</style>
