<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS100/page.vue
 *  Description:    기준정보/UOM정보관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData">
      <div class="grid-header">{{ t("menu-header-title.WMSMS100") }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS100" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useSearchConditionStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions
const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const { t } = useI18n();
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  "enter-excel": excelImport,
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
    searchGridData(); // 화면 로드 시, 자동조회
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * 저장
 */
async function saveRowData() {
  try {
    const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

    if (UtilService.isEmptyArray(selectedRows)) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }

    const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi.value);
    if (!saveEditGridRequiredValidation.status) {
      return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
    }

    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

    let bodyData: any = {
      _fullpath: "",
      selectIds: String(selectedRows.length),
      vrSrchUomId: useSearchConditionStore().getSearchInputValue().vrSrchUomId || "",
    };

    for (let i = 0; selectedRows.length > i; i++) {
      if (!UtilService.isEmptyString(selectedRows[i].ST_GUBUN)) {
        bodyData["ST_GUBUN" + [i]] = selectedRows[i].ST_GUBUN;
      }

      bodyData["LC_ID" + [i]] = UtilService.getCurrentLocation();
      bodyData["UOM_CD" + [i]] = selectedRows[i].UOM_CD;
      bodyData["UOM_NM" + [i]] = selectedRows[i].UOM_NM;
      bodyData["UOM_ID" + [i]] = selectedRows[i].UOM_ID;
    }

    const result = await ApiService.postApi("/WMSMS100/save_rn.action", {}, bodyData);

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      searchGridData();
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

/**
 * 신규
 */
function addRowData() {
  // TODO :: 서버측 페이징으로 0으로 확정해도 될 것으로 보임.
  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(gridApi.value?.paginationGetCurrentPage()) + 1) * Number(gridApi.value?.paginationGetPageSize()) - Number(gridApi.value?.paginationGetPageSize());
  const newRowData = [{ ST_GUBUN: "INSERT", UOM_CD: "", UOM_NM: "" }];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  try {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

    let data: any = {};

    for (let i = 0; selectedRows.length > i; i++) {
      // 반영되지 않은 신규 행 삭제
      if (selectedRows[i].ST_GUBUN === "INSERT") {
        gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
      }
      // 저장되어있는 데이터의 삭제
      else {
        data._fullpath = "";
        data.I_selectIds = 0;
        data.D_selectIds = selectedRows.length;
        data.vrSrchUomId = "";
        data.selectIds = selectedRows.length;
        data["ST_GUBUN" + [rowIndex]] = "DELETE";
        data["UOM_ID" + [rowIndex]] = selectedRows[i].UOM_ID;
        data["UOM_CD" + [rowIndex]] = selectedRows[i].UOM_CD;
        data["LC_ID" + [rowIndex]] = UtilService.getCurrentLocation();

        rowIndex++;
        isDataDelete = true;
      }
    }

    // 데이터 삭제처리가 필요하지 않은 경우
    if (!isDataDelete) return;

    if (!UtilService.isEmptyObject(data)) {
      const result = await ApiService.postApi("/WMSMS100/save_rn.action", {}, data);

      if (result.status) {
        useToast().success(t("common-toast.deleted"));
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        searchGridData();
      }
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

/**
 * 엑셀입력
 */
function excelImport() {
  const data = {
    modalTitle: t("modal-title.uom-information-enter-excel"),
    saveUrl: "/WMSMS100/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS100&file_name=execlTemp_uom_01.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * 엑셀 (다운로드)
 */
function excelExport() {
  let columnKeys = [] as (string | any)[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.uom-list"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSMS100/list_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
