<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP650/form.vue
 *  Description:    입고관리(AI) 메인 Form 화면
 *  Authors:        dhkim
 *  Update History:
 *                  2024.04 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <control-container>
    <div v-for="btnData in controlBtn.value" :key="btnData.title">
      <control-button :data="btnData" :saveRowData="saveRowData" :excelExport="excelExport" />
    </div>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <grid-statistics-container :statistics-info="GRID_STATISTICS_INFO" :grid-total-data="gridTotalData" />
    <my-grid
      :onGridReady="onGridReady"
      :pinnedBottomRowData="pinnedBottomRowData"
      :pagingSize="pagingSize"
      :getContextMenuItems="null"
      @onPageSizeChanged="
        (ps) => {
          pagingSize = ps;
        }
      " />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useFormHeightStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { ExcelExportParams, GridApi } from "ag-grid-community";
import { onActivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-def";
import MyGrid from "./grid.vue";
import { CONTROL_BTN, GRID_STATISTICS_INFO, SEARCH_INPUT } from "./input";

//#region ::  Variable Definitions

const { t } = useI18n();
const controlBtn = reactive({ value: CONTROL_BTN as any });
const gridTotalData = reactive({ value: {} as any });
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트
let gridApi: GridApi | null = null;
const pagingOptions = UtilService.getGridPagingOptions("WMSOP910_1");
const pagingSize = ref<number>(pagingOptions![0]);
const selectedItems = reactive({ value: {} as any });
const pinnedBottomRowData = reactive({ value: {} as any });
let startRowIndex = 0;
const bodyData = reactive({ value: {} as any });
const gridRowDataList = reactive({ value: [] as any[] }); // 그리드의 모든 로우데이터 리스트

//#endregion

//#region ::  Framework Function Definitions

onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onActivated(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();

  /** 컴포넌트 높이 감시 */
  const watchSearchCompHeight = watch(useFormHeightStore()._searchCompHeight, () => {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  });

  /** 검색 트리거 감시 */
  const watchSearchCondition = watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
    await searchGridData();
  });

  useTabsStore().watchList.value.push(...[watchSearchCompHeight, watchSearchCondition]);
});

//#endregion

//#region ::  User Function Definitionss

const onGridReady = (params: any) => {
  gridApi = params.api;
  gridApi?.showNoRowsOverlay();
};

function settingBottomColumn(columnApi: any) {
  const colDefs = columnApi.columnModel.columnDefs;

  colDefs?.forEach((column: any) => {
    if (column.field === "check-box-column") {
      column.valueGetter = (params: any) => {
        if (!Object.hasOwn(params.node.data, "RNUM")) {
          return t("grid-column-name.sum");
        }
      };
    }
  });
  gridApi?.setColumnDefs(colDefs);
}

/**
 * 조회 버튼 클릭 이벤트 콜백함수
 * (search.vue 트리거)
 */
async function searchGridData() {
  try {
    if (!useSearchConditionStore().getAvailableSearchBySearchCondition()) {
      return;
    }

    // 초기화
    initBeforeSearchGridData();
    gridApi?.deselectAll();
    gridApi?.clearRangeSelection();
    gridApi?.showLoadingOverlay();

    let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "";
    apiParams.cmbSrchType = useSearchConditionStore().getSearchInputValue().cmbSrchType;
    apiParams.vrSrchReqDtFrom = useSearchConditionStore().getSearchInputValue().vrSrchReqDtFrom;
    apiParams.vrSrchReqDtTo = useSearchConditionStore().getSearchInputValue().vrSrchReqDtTo;

    bodyData.value = {
      _search: false,
      nd: Date.now(),
      rows: String(1000),
      page: String(1),
      sidx: null,
      sord: "asc",
    };

    const gridData = await ApiService.postApi("/WMSOP650/listE1_rn.action", apiParams, bodyData.value, false);

    if (gridData.status) {
      if (gridData.result.list.length > 0) {
        // 검색결과 반영
        UtilService.setGridDatasRowNum(gridData.result.list);
        gridApi?.setRowData(gridData.result.list);
        gridRowDataList.value = gridData.result.list;

        // 그리드 상단 통계 데이터 api요청
        getGridStatisticsData(apiParams);

        // 그리드 하단 통계 데이터
        pinnedBottomRowData.value = UtilService.setGridPinnedBottomRowData(gridData.result.list, pinnedBottomRowData.value);
        return;
      }
    }

    // Fail
    useToast().warning(t("common-toast.no-data-list"));
    gridApi?.setRowData([]);
  } catch (error) {
    console.log(error);
    throw error;
  } finally {
    useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  }
}

// 그리드 상단 통계 데이터
async function getGridStatisticsData(apiParams: any) {
  const gridStatisticsData = await ApiService.postApi("/WMSOP650/listE1SummaryCount_rn.action", apiParams, {});
  if (gridStatisticsData.status) {
    gridTotalData.value = gridStatisticsData.result.LIST;
  }
}

// 검색 이전 초기화
function initBeforeSearchGridData() {
  pinnedBottomRowData.value = {
    IN_ORD_QTY: 0,
    IN_ORD_WEIGHT: 0,
    REAL_IN_QTY: 0,
    PRICE: 0,
    REAL_PLT_QTY: 0,
  };
  gridTotalData.value = {};
  gridApi?.deselectAll();
  gridApi?.clearRangeSelection();
}

function setPagingBodyData(params: any) {
  const startRow = params.request.startRow;
  startRowIndex = startRow;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(gridApi?.paginationGetCurrentPage()! + 1),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

async function saveRowData() {
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  selectedItems.value = gridApi?.getSelectedRows();

  // bodyData 셋팅
  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedItems.value.length),
    vrType: useSearchConditionStore().getSearchInputValue().vrType || "",
  };

  const assignedData: Array<any> = selectedItems.value.filter((dt: any) => !UtilService.isEmptyString(dt.REC_LOC_CD));

  if (assignedData.length > 0) {
    useToast().warning(`이미 할당(추천)된 행이 있습니다. \n(행 : ${assignedData.map((dt) => dt.RNUM).join(", ")})`);
    return;
  }

  const rowData = selectedItems.value.map((dt: any) => {
    return {
      LC_ID: dt.LC_ID,
      CUST_ID: dt.CUST_ID,
      ORG_ORD_ID: dt.ORG_ORD_ID,
      ORG_ORD_SEQ: dt.ORG_ORD_SEQ,
      ORD_ID: dt.ORD_ID,
      ORD_SEQ: dt.ORD_SEQ,
      ORD_DEGREE: dt.ORD_DEGREE,
      CONFIRM_DT: dt.IN_DT.replaceAll("-", ""),
      WH_CD: dt.WH_CD,
      TRANS_CUST_ID: dt.TRANS_CUST_ID,
      ORD_TYPE: dt.ORD_TYPE,
      ORD_SUBTYPE: dt.ORD_SUBTYPE,
      ITEM_CD: dt.ITEM_CD,
      RITEM_ID: dt.RITEM_ID,
      CUST_LOT_ID: dt.CUST_LOT_ID,
      REAL_IN_QTY: dt.REAL_IN_QTY,
      REAL_OUT_QTY: dt.REAL_OUT_QTY,
      IN_ORD_QTY: dt.IN_ORD_QTY,
      OUT_ORD_QTY: dt.OUT_ORD_QTY,
      WORK_STAT: dt.WORK_STAT,
      UOM_CD: dt.IN_ORD_UOM_CD,
      CBM: dt.CBM,
      LOC_CD: dt.LOC_CD,
    };
  });

  bodyData["dataSet"] = rowData;

  const res = await ApiService.postApi("/WMSOP650/locationRecommend_rn.action", {}, bodyData);
  if (res.status) {
    if (res.result.errCnt === 0) {
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      return useToast().success(res.result.MSG);
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

//엑셀(전체)
function excelExport() {
  let columnKeys = [] as string[];
  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.warehousing-management"),
    columnKeys,
    rowGroupExpandState: "expanded",
    skipRowGroups: true,
    skipPinnedBottom: true,
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.grid-statistics {
  &-container {
    position: absolute;
    top: -14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
  }

  &-title {
    font-weight: bold;
    font-size: 13px;
    color: #727272;
    margin-right: 17px;
  }
  &-value {
    font-weight: bold;
    font-size: 13px;
    color: #222222;
  }
}

.form-container {
  width: 100%;
  position: relative;
}
</style>
