<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP650/form.vue
 *  Description:    입고관리(AI) 메인 Form 화면
 *  Authors:        dhkim
 *  Update History:
 *                  2024.04 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-header">{{ "입고주문" }}</div>
    <ag-grid-vue
      class="ag-theme-alpine ag-grid-size"
      :gridOptions="gridOptions"
      :allowContextMenuWithControlKey="false"
      :context="{ rowSpanKey: 'VIEW_ORD_ID' }"
      :pinnedBottomRowData="[pinnedBottomRowData.value]"
      :modules="[ExcelExportModule]"
      :excelStyles="excelStyles" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { UtilService } from "@/services/util-service";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule } from "ag-grid-enterprise";
import { AgGridVue } from "ag-grid-vue3";
import { onBeforeMount, ref } from "vue";
import { useI18n } from "vue-i18n";
import { FORM_COLUMN_DEFS } from "./column-def";

//#region ::  Variable Definitions

const { t } = useI18n();
const { onGridReady, pinnedBottomRowData } = defineProps<{
  onGridReady: any;
  pinnedBottomRowData: any;
}>();
const emits = defineEmits(["onPageSizeChanged"]);
const pagingOptions = UtilService.getGridPagingOptions("WMSOP910_2");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const excelStyles = [
  {
    id: "stringType",
    dataType: "String",
  },
];

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

//#endregion

//#region ::  User Function Definitions

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: FORM_COLUMN_DEFS,
  onGridReady: onGridReady,
  rowSelection: "multiple",
  rowModelType: "clientSide",
  enableRangeSelection: true,
  suppressContextMenu: true,
  suppressRowClickSelection: true, // row클릭시 체크박스 체크방지
  suppressAggFuncInHeader: true,
  pagination: true,
  paginationPageSize: pagingOptions![0],
  paginateChildRows: true,
  groupDefaultExpanded: -1,
  groupSelectsChildren: true,
  autoGroupColumnDef: {
    field: "VIEW_ORD_ID",
    headerName: t("grid-column-name.order-number"),
    minWidth: 150,
    menuTabs: ["filterMenuTab"],
    filter: "agSetColumnFilter",
    pinned: "left",
    cellClass: "stringType",
    sortable: true,
  },
  onPaginationChanged: onPaginationChanged,
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

function onPaginationChanged() {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
}

.grid {
  &-container {
    width: 100%;
    position: relative;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}

::v-deep .ag-root-wrapper .ag-row > .ag-cell {
  border-bottom: var(--ag-row-border-style) #e9e9e9 var(--ag-row-border-width);
}

::v-deep .ag-row.ag-row-level-0 {
  background-color: #ebedf0;
  font-weight: bold;
}

::v-deep .ag-row.ag-row-pinned {
  background-color: #bcc5d8;
  font-weight: bold;
}
</style>
