<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP650/page.vue
 *  Description:    입고관리(AI) 업무 화면
 *  Authors:        dhkim
 *  Update History:
 *                  2024.04 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div :id="`${myPageId}-page`">
    <my-search />
    <my-form />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOP650" };
</script>
<script setup lang="ts">
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useOptionDataStore, useTabsStore } from "@/store";
import { IAvailableOptionsUtilParams } from "@/types";
import { onMounted, ref } from "vue";

import MyForm from "./form.vue";
import MySearch from "./search.vue";

const myPageId = ref<string>();

onMounted(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const data = UtilService.getOptionApiData("WMSOP910_rn");
  const res = await ApiService.postApi("/WINUS/WMSOP910_rn.action", {}, data);
  // const res = await ApiService.postApi("/WINUS/WMSOP650_rn.action", {}, data);

  const setAvailableOptionsUtilParam: IAvailableOptionsUtilParams[] = [{ inputId: "vrSrchOrdSubtype", availableList: ["", "20", "22", "23", "25", "111", "137", "138", "139", "158", "159"] }];
  UtilService.setAvailableOptions(res.result.selectBoxInfos, setAvailableOptionsUtilParam);

  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
