<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP650/search.vue
 *  Description:    입고관리(AI) 검색조건 영역
 *  Authors:        dhkim
 *  Update History:
 *                  2024.04 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <date-range :data="DATE_RANGE_INFO" />
    <search-container @setIsMore="setIsMore" :isMore="isMore" :data="SEARCH_INPUT" :use-setting="false" :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SEARCH_INPUT)">
      <template v-slot:search_input_slot>
        <template v-for="(props, i) in SEARCH_INPUT" :key="i">
          <search-container-input
            :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'"
            :data="props"
            :columnDefs="MODAL_COLUMN_DEFS[props.title]"
            :modalData="SEARCH_MODAL_INFO[props.title]"
            :pageInfo="null" />
        </template>
      </template>
    </search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { SearchContainerInput } from "@/components/input";
import { DateRange, SearchContainer } from "@/components/layout";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useFormHeightStore } from "@/store";
import { onMounted, ref } from "vue";
import { DATE_RANGE_INFO, MODAL_COLUMN_DEFS, SEARCH_INPUT, SEARCH_MODAL_INFO } from "./input";

//#region ::  Variable Definitions

const FormHeightStore = useFormHeightStore();
const isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement); // .search-area 엘리먼트
const displayInputCount = UtilService.getShowInputCount(3, SEARCH_INPUT) as number;

//#endregion

//#region ::  Framework Function Definitions

onMounted(() => {
  if (searchComponentRef.value) {
    FormHeightStore.setSearchCompHeight(Number(searchComponentRef.value.clientHeight));
  }

  // Session Storage에 저장된 화주 정보 설정
  if (!UtilService.getCustDataInSessionStorage()) {
    useCallModalIdStore().setCallModalId("owner");
  }
});

//#endregion

//#region ::  User Function Definitions

function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    FormHeightStore.setSearchCompHeight(searchComponentRef.value!.clientHeight);
  }, 300);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.search-area {
  padding-top: 26px;
  position: relative;
}

.search-control-container {
  position: absolute;
  top: 0;
  right: 0;
}
</style>
