<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	error.vue
 *  Description:    에러발생시 노출되는 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="error-page">
    <div class="content">
      <i class="error-icon"></i>
      <p class="error-comment">{{ errorMessage }}</p>
      <button class="logout-button" @click="() => logout()">{{ t("button-name.login") }}</button>
    </div>
    <img src="/public/assets/images/error-page-bg.webp" alt="" />
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, ref } from "vue";

import { useI18n } from "vue-i18n";

import { useTabsStore, userStore } from "@/store";

import { ApiService } from "@/services/api-service";

// Variable Definitions
const { t } = useI18n();
let errorMessage = ref("");

// Framework Function Definitions
onMounted(() => {
  errorMessage.value = useTabsStore().getErrorMessage() || "Your login session has expired";
});

// User Function Definitions
const logout = async () => {
  await ApiService.logout();
  localStorage.removeItem("winusUserInfo");
  userStore().reload();
  window.location.reload();
};
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#error-page {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .error-icon {
      display: block;
      width: 330px;
      height: 235px;
      background: url("/public/assets/images/img-error.webp") 0% 0% / contain no-repeat;
    }

    .error-comment {
      margin-top: 20px;
      display: block;
      width: 100%;
      font-size: 20px;
      color: $font-bk;
      letter-spacing: -1.54px;
      text-align: center;
    }

    .logout-button {
      width: 180px;
      height: 36px;
      font-size: 14px;
      color: white;
      background-color: #3d61e1;
      border-radius: 10px;
      margin-top: 30px;
    }
  }
}
</style>
