<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	home.vue
 *  Description:    위너스웹에 로그인 후 처음으로 보여지는 홈 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="home-page">
    <navigator @openSubMenusChanged="subMenusExpanded = $event" />
    <content-body :subMenusExpanded="subMenusExpanded" />
    <loading-spinner :contentBodyOnly="true" v-if="loadingStore.spinners > 0" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref } from "vue";

import { useLoadingStore } from "@/store";
import LoadingSpinner from "@/components/ui/loading-spinner.vue";
import { ContentBody, Navigator } from "@/components/layout";

// Variable Definitions
let subMenusExpanded = ref(false);
const loadingStore = useLoadingStore();

// User Function Definitions
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#home-page {
  display: flex;
  min-width: 1180px;
  // height: 100vh;
  height: 100%;
  overflow: hidden;
}
</style>
