<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	login.vue
 *  Description:    윈너스 로그인 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="login-page">
    <div class="content-wrap">
      <div class="board">
        <div class="left">
          <div class="images">
            <img src="/public/assets/images/logo-winus.png" alt="logo" />
            <img src="/public/assets/images/img-login-02.png" alt="logo2" />
          </div>
          <p>
            다양한 물류 인프라와 축적된 현장 운영 노하우를 바탕으로,<br />
            고객사의 물류 유연성 및 확장성을 위한 맞춤형 컨설팅을 지원합니다.
          </p>
        </div>
        <div class="right">
          <img src="/public/assets/images/img-login.png" alt="img-login" />
        </div>
      </div>
      <form @submit.prevent="loginHandler">
        <div>
          <label for="id">아이디</label>
          <input id="id" type="text" placeholder="아이디를 입력해주세요." v-model="userId.value" :class="`${!userId.validation ? 'error' : ''}`" />
          <p v-if="!userId.validation" class="error-message">아이디를 확인해주세요.</p>
        </div>
        <div>
          <label for="pwd">비밀번호</label>
          <input id="pwd" type="password" placeholder="비밀번호를 입력해주세요." autocomplete="off" v-model="userPassword.value" :class="`${!userPassword.validation ? 'error' : ''}`" />
          <p v-if="!userPassword.validation" class="error-message">비밀번호를 확인해주세요.</p>
        </div>
        <button type="submit">로그인</button>
        <p @click="showChangePassword = true">비밀번호 변경</p>
      </form>
    </div>
    <footer>
      <i class="logo-logisall"></i>
      <p class="information">
        <span>우) 04157 서울특별시 마포구 마포대로 63-8 (삼창프라자빌딩 7F)</span>
        <span>TEL: 02-3369-7560 |</span>
        <span>FAX: 02-3369-7569 |</span>
        <span>logisall@logisall.com</span>
      </p>
      <p class="copyright">COPYRIGHT © 2023. LogisSystemsAll. All rights reserved</p>
    </footer>
  </div>
  <loading-spinner v-if="loadingStore.spinners > 0" />
  <password-change v-if="showChangePassword" @onPopupClosed="showChangePassword = false" />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { reactive, ref } from "vue";
import { useRouter } from "vue-router";
import { useToast } from "vue-toastification";
import { useI18n } from "vue-i18n";

import { userStore, useLoadingStore } from "@/store";
import { UtilService } from "@/services/util-service";
import { ApiService } from "@/services/api-service";
import { PasswordChange } from "@/popups";
import LoadingSpinner from "@/components/ui/loading-spinner.vue";

// Variable Definitions
const { t } = useI18n();
const router = useRouter();
const loadingStore = useLoadingStore();
const userId = reactive({ value: "", validation: true } as {
  value: string;
  validation: boolean;
});
const userPassword = reactive({ value: "", validation: true } as {
  value: string;
  validation: boolean;
});
const showChangePassword = ref(false as boolean);

// Framework Function Definitions

// User Function Definitions
const loginHandler = async () => {
  if (userId.value.trim() === "") {
    userId.validation = false;
  } else {
    userId.validation = true;
  }

  if (userPassword.value.trim() === "") {
    userPassword.validation = false;
  } else {
    userPassword.validation = true;
  }

  if (!userPassword.validation) return;

  const login = await ApiService.login(userId.value, userPassword.value, "LOGIN", "loginUserConfirm");
  if (login.status) {
    if (!login.result?.ERROR) {
      userStore().create(login.result.DETAIL, login.result.windowRoll, UtilService.setExpireDate(2));
      useToast().success(t("login.success"));
      const currentUser = JSON.parse(userStore().getCurrentUser());
      currentUser.locale = UtilService.convertLocale(currentUser.LANG);
      userStore().storeCurrentUser(JSON.stringify(currentUser));
      router.push("/welcome");
    } else {
      useToast().error(login.result?.MSG);
    }
  }
};
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#login-page {
  zoom: 1.1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 1300px;
  gap: 100px;
  .board {
    @include flexbox(row, space-between, stretch, nowrap);
    width: 100%;
    height: 477px;
    background-image: linear-gradient(to bottom, $linear-bg, $secondary);
    > .left {
      display: inline-block;
      > .images {
        margin-top: 203px;
        margin-left: 169px;

        img {
          &:nth-child(2) {
            margin-left: 15px;
          }
        }
      }
      > p {
        line-height: 1.5;
        letter-spacing: -1.54px;
        color: #fff;
        font-size: 20px;
        margin-left: 169px;
        margin-top: 28px;
        font-weight: 300;
      }
    }

    > .right {
      margin-top: 75px;
      margin-right: 36.5px;
    }
  }
  form {
    @include autoMargin;

    width: 350px;
    margin-top: 54px;

    > div {
      @include flexbox(row, space-between, center, nowrap);
      position: relative;
      label {
        font-size: 13px;
        font-weight: bold;
      }
      input {
        border-radius: 10px;
        border: solid 1px $border2;
        background-color: #fff;
        width: 229px;
        height: 35px;
        padding-left: 10px;
        &.error {
          border: solid 1px $red;
        }
        &::placeholder {
          font-size: 13px;
          letter-spacing: -0.98px;
          color: $font-bk;
          opacity: 0.5;
        }
        &:focus {
          border: solid 1px $main;
        }
      }
      &:nth-child(2) {
        margin-top: 26px;
      }
      .error-message {
        position: absolute;
        font-size: 13px;
        letter-spacing: -0.98px;
        color: $red;
        top: -20px;
        left: 125px;
      }
    }

    > button {
      width: 100%;
      height: 52px;
      border-radius: 10px;
      background-color: $login-btn;
      color: #fff;
      margin-top: 21px;
    }

    > p {
      text-align: center;
      margin-top: 15px;
      text-decoration: underline;
      font-size: 13px;
      color: $main;
      letter-spacing: -1px;
      cursor: pointer;
    }
  }
  footer {
    padding-bottom: 17px;
    width: 100%;
    height: 60px;

    > i {
      position: absolute;
      left: 26px;
    }

    > .information {
      @include autoMargin;

      display: flex;
      gap: 5px;
      width: 770px;

      span {
        font-size: 13px;
        color: $gray;

        &:nth-child(1) {
          font-weight: bold;
        }
      }
    }

    > .copyright {
      @include autoMargin;

      width: 700px;
      text-align: center;
      margin-top: 5px;
      font-size: 13px;
      color: $gray;
    }
  }
}
.logo-logisall {
  display: inline-block;
  width: 115.7px;
  height: 35px;
  background: url("/public/assets/images/logo-logisall.png") 0% 0% / contain no-repeat;
}
</style>
