<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	welcome.vue
 *  Description:    로그인시 웰컴 내용을 보여주는 페이지 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="welcome-page">
    <div class="left">
      <img src="/public/assets/images/logo-winus-color.png" alt="welcome-logo" />
      <p>맞춤형 물류 서비스 WINUS를 시작해 보세요!</p>
      <button>
        <i class="btn-add"></i>
      </button>
      <img src="/public/assets/images/img-main-bg.png" alt="bottom-img" />
    </div>
    <div class="right">
      <div class="recent">
        <p>{{ $t("welcome.recent-used") }}</p>
        <div>
          <img src="/public/assets/images/img-empty-recent.png" alt="empty-img" />
          <p>최근사용한 항목이 없습니다.</p>
        </div>
      </div>
      <div class="favorite">
        <p>즐겨찾기</p>
        <div>
          <img src="/public/assets/images/img-empty-favorite.png" alt="empty-img" />
          <p>즐겨찾기한 항목이 없습니다.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
// Variable Definitions

// Framework Function Definitions

// User Function Definitions
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#welcome-page {
  background: #fff;
  border-radius: 0 0 8px 8px;
  display: flex;
  height: 100%;
  > .left {
    position: relative;
    height: 100%;
    width: 50%;
    > img:first-of-type {
      @include autoMargin;
      display: block;
      padding-top: 30%;
    }
    > p {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -1.54px;
      color: $font-bk;
      text-align: center;
      margin-top: 37px;
    }
    > button {
      margin: 54px auto 0;
      display: block;
      width: 56px;
      height: 56px;
      border-radius: 6px;
      background: $main;
      img {
        width: 25px;
        height: 25px;
      }
    }
    > img:last-of-type {
      position: absolute;
      bottom: -20px;
      width: 100%;
      border-radius: 0 0 0 8px;
    }
  }
  > .right {
    width: 50%;
    height: 100%;
    padding: 0 78px 0 63px;
    > div {
      > p {
        font-size: 18px;
        font-weight: bold;
        color: $main;
        letter-spacing: -1.38px;
        padding-bottom: 24px;
        border-bottom: 4px solid $tab-on;
      }
      > div > img {
        @include autoMargin;
        display: block;
        padding-top: 23px;
        height: calc(100% - 50px);
      }
      > div > p {
        font-size: 14px;
        letter-spacing: -1.08px;
        text-align: center;
      }
    }
    > div.recent {
      margin-top: 40px;
      height: calc(50% - 40px);
      > div {
        height: calc(100% - 40px);
      }
    }
    > div.favorite {
      margin-top: 22px;
      height: calc(50% - 22px);
      > div {
        height: calc(100% - 40px);
      }
    }
  }
}
</style>
