<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS015/page.ts
 *  Description:    사용자/화주관리 페이지
 *  Authors:        H. N. Ko
 *  Update History:
 *                  2024.08. : Created by H. N. Ko
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady" @multipleSelectedValue="multipleSelectedValue">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`WMSMS015-master-grid`"
        :gridMeta="GRID_META"
        :onCellFocused="onCellFocused"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged"
        @multipleSelectedValue="multipleSelectedValue">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`WMSMS015-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onDetailApiParamsChanged"
        :getServerData="getDetailData"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :context="{}"
        :modules="[]">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSST140" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { useConfirmStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { RowSelectedEvent } from "ag-grid-community";
import { GridApi } from "ag-grid-enterprise";
import { Ref, computed, onMounted, reactive, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { DETAIL_CONTROL_BTN, DETAIL_GRID_OPTIONS_META, GRID_META, MASTER_CONTROL_BTN, MASTER_GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";

import "vue-multiselect/dist/vue-multiselect.css";

const { t } = useI18n();
const selectedDetailItems: any = reactive({ value: [] } as { value: any });
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);

const multiSelectedValues: any = ref();
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  del: deleteRowData,
};

// 저장
function saveRowData() {
  crudAction("SAVE");
}

// 삭제
function deleteRowData() {
  crudAction("DELETE");
}

/**
 *
 * @param value multi-selectbox에서 선택한 value 값
 * search-form에서 multi-selectbox 선택시
 */
function multipleSelectedValue(value: string) {
  multiSelectedValues.value = value;
}

function setBodyData(bodyData: any, idx: number) {
  // multiSelectedValues?.value;
  bodyData["vrSrchCustIds"] = selectedDetailItems.value[idx].CUST_ID;
  bodyData["vrSrchUserNo"] = selectedMasterItem.value.USER_NO;
  // bodyData["vrUserNo"] = selectedMasterItem.value.USER_ID;
}

async function crudAction(type: "DELETE" | "SAVE") {
  selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
  selectedDetailItems.value = detailGridApi.value?.getSelectedRows();

  console.log(selectedDetailItems.value);
  if (type === "SAVE") {
    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
  } else {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
  }

  try {
    let requestURL = "/rest/WMSMS015/save.action";
    let bodyData: any = { _fullpath: "" };

    for (var i = 0; i < selectedDetailItems.value.length; i++) {
      setBodyData(bodyData, i);
    }
    console.log(bodyData);
    if (type === "DELETE") {
      requestURL = "/rest/WMSMS015/delete.action";
    }

    const res = await ApiService.postApi(requestURL, bodyData, bodyData);
    if (res.status) {
      useToast().success(res.result.MSG);
      detailGridApi.value?.deselectAll();
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      detailFormRef.value?.searchGridData();
    } else {
      useToast().error(res.result.MSG);
    }
  } catch (err) {
    return console.log(err);
  }
}

//master grid 선택시(복수 체크)
const selectedItems = ref<Record<string, any>[]>([]);

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});
const pagingSizeListRef = ref([200, 300, 400]);
// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();

const disableSearchEvent = true;
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value?.gridApi);
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value?.gridApi);
});
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const masterGridTitleRef = t("menu-header-title.WMSMS015_master");
const detailGridTitleRef = t("menu-header-title.WMSMS015_detail");
const selectedDetailRowItem = reactive({ value: {} } as { value: any });
const formTheme = {
  "--flex-direction": "row",
};
// Framework Function Definitions
onMounted(async () => {
  myPageId.value = "WMSMS015";
});

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
function sessionStorageReady() {}

function onSelectionChanged(e: any) {
  let isSelected = e.event.node.selected;
  let event: RowSelectedEvent = e.event;
  event.api.redrawRows();
  selectedItems.value = masterGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    detailFormRef.value.searchGridData();
  }
}
function onMasterApiParamsChanged(apiParams: any) {
  apiParams = {};
  apiParams.vrSrchUserNo = searchInputValue("vrSrchUserNo");
  return apiParams;
}

function searchInputValue(value: string) {
  let searchValue = useSearchConditionStore()?.getSearchInputValue()[value];
  return searchValue != null ? searchValue : "";
}

function onDetailApiParamsChanged(apiParams: any) {
  apiParams = {};
  apiParams.gridId = "WMSMS015-detail-grid";
  apiParams._fullpath = "기준관리 &gt; 사용자/화주관리";
  apiParams.vrSrchUserId = searchInputValue("vrSrchUserId");
  apiParams.USER_NO = searchInputValue("vrSrchUserNo");
  apiParams.vrSrchUserNo = searchInputValue("vrSrchUserNo");
  apiParams.vrSrchUserNm = searchInputValue("vrSrchUserNm");
  apiParams.vrUserNo = selectedMasterItem.value.USER_NO;
  apiParams.selectCnt = multiSelectedValues.value?.length;

  apiParams.vrSrchCustCdSelectBox = settingMultiSelectedValues();
  apiParams.vrCustNm = searchInputValue("vrCustNm");

  // apiParams = toQueryParams(apiParams);
  return apiParams;
}

function settingMultiSelectedValues() {
  if (multiSelectedValues.value) {
    multiSelectedValues.value.forEach((i: any) => {
      return i;
    });
  } else {
    return null;
  }
}

async function getMasterData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSMS015/list.action", apiParams, bodyData.value, false);
  // detailFormRef.value.searchGridData();

  return res;
}

function setFormData() {
  const formData = new FormData();
  formData.append("gridId", "WMSMS015-detail-grid");
  formData.append("_fullpath", "기준관리 &gt; 사용자/화주관리");
  formData.append("vrSrchUserId", searchInputValue("vrSrchUserId"));
  formData.append("USER_NO", searchInputValue("vrSrchUserNo"));
  formData.append("vrSrchUserNo", searchInputValue("vrSrchUserNo"));
  formData.append("vrSrchUserNm", searchInputValue("vrSrchUserNm"));
  formData.append("vrUserNo", selectedMasterItem.value.USER_NO);

  settingMultiSelectedValuesFromFormData(formData);
  formData.append("vrCustNm", searchInputValue("vrCustNm"));

  return formData;
}

function settingMultiSelectedValuesFromFormData(formData: any) {
  let len = 0;
  if (multiSelectedValues.value) {
    len = multiSelectedValues.value.length;
    multiSelectedValues.value.forEach((i: any) => {
      formData.append("vrSrchCustCdSelectBox", i);
    });
  }
  formData.append("selectCnt", len);
}

async function getDetailData(apiParams: any, bodyData: any) {
  //Multiselectbox이므로 동일한 key 값에 값이 두개 > form-data로 전송
  let formData = setFormData();
  let res = await ApiService.postFormData("/api/rest/WMSMS015/listDetail.action", "post", {}, formData);
  return res;
}

function onDetailGridSelectionChanged(e: any) {
  selectedDetailRowItem.value = detailGridApi.value?.getSelectedRows();
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->

<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
