<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS011/page.vue
 *  Description:    기준정보/거래처정보관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-grid-info-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :onCellClicked="onCellClicked"
      :info-meta="INFO_META"
      :infoControlBtn="INFO_CONTROL_BTN"
      :infoTextChanged="infoCompChangedCallBack"
      :infoSelectChanged="infoCompSelectedCallBack"
      :infoTripleSearchChanged="infoModalSearchCallBack">
      <template v-slot:grid-button>
        <control-container>
          <div v-for="btnData in controlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
      <template v-slot:info-button>
        <control-container>
          <div v-for="btnData in infoControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
          <div v-for="splitBtnData in infoSplitButtonRef" :key="splitBtnData.title" style="height: inherit">
            <SplitButton :data="splitBtnData" :contents="splitButtonEventHandler[splitBtnData.eventHandler]" />
          </div>
        </control-container>
      </template>
    </common-grid-info-form>
    <center-synchronization v-if="isOpenLcSyncModal" :changeIsOpenLcSyncModal="changeIsOpenLcSyncModal" :setLcSyncModalParams="setLcSyncModalParams" />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS011" };
</script>
<script setup lang="ts">
import { ControlButton, SplitButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonGridInfoForm from "@/page/common-page/common-grid-info-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { CenterSynchronization } from "@/popups";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, INFO_CONTROL_BTN, INFO_META, INFO_SPLIT_BTN, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const infoControlBtnRef = ref(INFO_CONTROL_BTN);
const infoSplitButtonRef = ref(INFO_SPLIT_BTN);
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const { t } = useI18n();
let isOpenLcSyncModal = ref(false); // 센터동기화 모달 상태

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
  "warehouse-synchronization": changeIsOpenLcSyncModal,
};

/** Split 버튼 이벤트 리스너 */
const splitButtonEventHandler: Record<string, any[]> = {
  excelButtonHandler: [
    {
      label: t("control-button-name.excel-input(simple)"),
      command: () => {
        excelImport();
      },
    },
    {
      label: t("control-button-name.enter-excel"),
      command: () => {
        simpleExcelImport();
      },
    },
  ],
};

const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi(`/WINUS/${myPageId.value}_rn.action`, {}, UtilService.getOptionApiData(`${myPageId.value}_rn`));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * 신규
 */
function addRowData() {
  const newRowData = [
    {
      STATE: "C",
    },
  ];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });
}

/**
 * 저장
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let data: any = { _fullpath: "기준관리 &gt; 거래처정보관리", selectIds: selectedRows.length, D_selectIds: "0" };

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const validationResult = UtilService.inputRequiredValidation(INFO_META.infoInput, selectedRows);
  if (!validationResult?.status) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${validationResult?.toastKey}`) }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    for (let i = 0; selectedRows.length > i; i++) {
      if (selectedRows[i].STATE === "C") {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }

      data["TRUST_CUST_CD" + [i]] = selectedRows[i].TRUST_CUST_CD || "";
      data["TRUST_CUST_ID" + [i]] = selectedRows[i].TRUST_CUST_ID || "";
      data["TRUST_CUST_NM" + [i]] = selectedRows[i].TRUST_CUST_NM || "";
      data["CUST_CD" + [i]] = selectedRows[i].CUST_CD || "";
      data["CUST_NM" + [i]] = selectedRows[i].CUST_NM || "";
      data["BIZ_NO" + [i]] = selectedRows[i].BIZ_NO || "";
      data["TEL" + [i]] = selectedRows[i].TEL || "";
      data["FAX" + [i]] = selectedRows[i].FAX || "";
      data["MOBILE_NO" + [i]] = selectedRows[i].MOBILE_NO || "";
      data["ZIP" + [i]] = selectedRows[i].ZIP || "";
      data["TAG_PREFIX" + [i]] = selectedRows[i].TAG_PREFIX || "";
      data["SGLN_CD" + [i]] = selectedRows[i].SGLN_CD || "";
      data["ADDR" + [i]] = selectedRows[i].ADDR || "";
      data["E_MAIL" + [i]] = selectedRows[i].E_MAIL || "";
      data["E_MAIL_DOMAIN" + [i]] = selectedRows[i].E_MAIL_DOMAIN || "";
      data["HTTP" + [i]] = selectedRows[i].HTTP || "";
      data["BIZ_COND" + [i]] = selectedRows[i].BIZ_COND || "";
      data["BIZ_TYPE" + [i]] = selectedRows[i].BIZ_TYPE || "";
      data["CREDIT_GRADE" + [i]] = selectedRows[i].CREDIT_GRADE || "";
      data["DLV_CNTL" + [i]] = selectedRows[i].LV_CNTL || "";
      data["REPRESENT_CUST_CD" + [i]] = selectedRows[i].REPRESENT_CUST_CD || "";
      data["CUST_STAT" + [i]] = selectedRows[i].CUST_STAT || "";
      data["VAT_YN" + [i]] = selectedRows[i].VAT_YN || "";
      data["CUST_ID" + [i]] = selectedRows[i].CUST_ID || "";
      data["INOUT_ZONE_NM" + [i]] = selectedRows[i].INOUT_ZONE_NM || "";
      data["INOUT_ZONE_ID" + [i]] = selectedRows[i].INOUT_ZONE_ID || "";
      data["CUST_EPC_CD" + [i]] = selectedRows[i].CUST_EPC_CD || "";
      data["BEST_DATE_YN" + [i]] = selectedRows[i].BEST_DATE_YN || "";
      data["ASN_YN" + [i]] = selectedRows[i].ASN_YN || "";
      data["ASN_IN_TRUST_CUST_ID" + [i]] = selectedRows[i].ASN_IN_TRUST_CUST_ID || "";
      data["ASN_IN_CUST_ID" + [i]] = selectedRows[i].ASN_IN_CUST_ID || "";
      data["ASN_IN_LC_ID" + [i]] = selectedRows[i].ASN_IN_LC_ID || "";
      data["ASN_TYPE" + [i]] = selectedRows[i].ASN_TYPE || "";
      data["CUST_INOUT_TYPE" + [i]] = selectedRows[i].CUST_INOUT_TYPE || "";
      data["ASN_MAKE_TYPE" + [i]] = selectedRows[i].ASN_MAKE_TYPE || "";
      data["CUST_TYPE" + [i]] = selectedRows[i].CUST_TYPE || "";
      data["DELIVERY_TIME" + [i]] = selectedRows[i].DELIVERY_TIME || "";
      data["CUST_GRP_ID" + [i]] = selectedRows[i].CUST_GRP_ID || "";
      data["DUTY_NM" + [i]] = selectedRows[i].DUTY_NM || "";
      data["DUTY_MOBILE" + [i]] = selectedRows[i].DUTY_MOBILE || "";
      data["INOUT_ZONE_ID" + [i]] = selectedRows[i].INOUT_ZONE_ID || "";
      data["CUST_BAR_CD" + [i]] = selectedRows[i].CUST_BAR_CD || "";
      data["BIZ_MEMO" + [i]] = selectedRows[i].BIZ_MEMO || "";
      data["IF_CUST_CD" + [i]] = selectedRows[i].IF_CUST_CD || "";
      data["REP_NM" + [i]] = selectedRows[i].REP_NM || "";

      const result = await ApiService.postApi("/WMSMS011/save_rn.action", {}, data);

      if (result.status) {
        useToast().success(t("common-toast.registered"));
        searchGridData();
      }
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    let data: any = {};

    for (let i = 0; selectedRows.length > i; i++) {
      // 반영되지 않은 신규 행 삭제
      if (selectedRows[i].STATE === "C") {
        gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
      } else {
        data["ST_GUBUN" + [rowIndex]] = "DELETE";
        data["TRUST_CUST_ID" + [rowIndex]] = selectedRows[i].TRUST_CUST_ID;
        data["CUST_ID" + [rowIndex]] = selectedRows[i].CUST_ID;

        rowIndex++;
        isDataDelete = true;
      }
    }

    // 데이터 삭제처리가 필요하지 않은 경우
    if (!isDataDelete) return;

    data["_fullpath"] = "";
    data["selectIds"] = String(rowIndex);
    data["D_selectIds"] = String(rowIndex);

    const result = await ApiService.postApi("/WMSMS011/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 엑셀
 */
function excelExport() {
  // 편집 상태 종료
  gridApi.value?.stopEditing();

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.customer-management"),
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 엑셀입력
 */
function excelImport() {
  if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    const data = {
      modalTitle: t("modal-title.customer-information-enter-excel"),
      saveUrl: "/WMSMS011/uploadInfoProcedure_rn.action",
      templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS011&file_name=execlTemp_transCust_01.xls",
      uploadType: "NORMAL",
      uniqueParams: { SS_CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_ID },
    };
    UtilService.excelImport(data, "/excel-import");
  } else {
    useToast().warning(t("common-toast.no-owner-info"));
    useCallModalIdStore().setCallModalId("owner");
  }
}

/**
 * 엑셀입력(간편)
 */
function simpleExcelImport() {
  if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    const data = {
      modalTitle: t("modal-title.customer-information-enter-excel"),
      saveUrl: "/WMSMS011/uploadInfoProcedure_rn.action",
      templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS011&file_name=execlTemp_transCust_02.xls",
      uploadType: "SIMPLE",
      uniqueParams: { SS_CUST_ID: useSelectedDataStore().getSelectedModalData().owner.CUST_ID },
    };
    UtilService.excelImport(data, "/excel-import");
  } else {
    useToast().warning(t("common-toast.no-owner-info"));
    useCallModalIdStore().setCallModalId("owner");
  }
}

/**
 * 센터동기화
 */
function changeIsOpenLcSyncModal(value: boolean) {
  if (Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner")) {
    isOpenLcSyncModal.value = value;
  } else {
    useToast().warning(t("common-toast.no-owner-info"));
    useCallModalIdStore().setCallModalId("owner");
  }
}

/**
 * 센터동기화에 보낼 ui, params 데이터
 */
function setLcSyncModalParams() {
  const uiOption = { title: useSelectedDataStore().getSelectedModalData().owner.CUST_NM, useAsnCheckbox: true };
  const apiUrl = "/WMSMS011/saveLcSync_rn.action";
  const params = {
    _fullpath: "기준관리 &gt; 매출거래처정보관리",
    MULIT_LC_ID_ARR: "",
    selectIds: "1",
    CUST_ID0: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
    CUST_CD0: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,
    ASN_SET_YN0: "",
  };
  return { params, uiOption, apiUrl };
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "text"
 */
function infoCompChangedCallBack(e: Event, key: string, overapCheckVal?: boolean) {
  const target = e.target as HTMLInputElement;
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  rowNode.setDataValue(key, target.value);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "select"
 */
function infoCompSelectedCallBack(e: Event, key: string, option: any) {
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  rowNode.setDataValue(key, option.CODE_CD ?? option.code);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "triple search (modal)"
 */
function infoModalSearchCallBack(key: string, value: any) {
  if (!value) return;

  console.log("modal search event");

  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  rowNode.setDataValue(key, value);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSMS011/list_rn.action", apiParams, bodyData.value, false);
}

/**
 * 그리드 셀 클릭 이벤트
 * - 선택 행의 정보를 info 영역에 맵핑
 */
function onCellClicked(e: CellClickedEvent) {
  useSelectedDataStore().selectedInfoHandler(e.data, true);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    padding: 0 0 0 0 !important;
  }
}
</style>
