<template>
  <button :class="[props.params.column.colId, 'grid-change-index-button-renderer']" @click="changeIndex(props.params.column.colId)"></button>
</template>

<script setup lang="ts">
const props = defineProps<{
  params: any;
}>();

function changeIndex(type: any) {
  const gridApi = props.params?.api;
  const currentData = props.params.data;
  let currentDataIndex = null as any;
  let otherData: any = {};
  let sortList: any = []; // SORT_NUM 값 순서대로 로우를 재정렬
  const orgList = [];
  const keys: any = Object.keys(gridApi?.getModel().nodeManager.allNodesMap);

  for (let i = 0; keys.length > i; i++) {
    orgList.push(gridApi?.getModel().nodeManager.allNodesMap[keys[i]].data);
  }
  sortList = orgList.sort((a, b) => {
    return a.SORT_NUM - b.SORT_NUM;
  });

  // 클릭한 로우의 인덱스 구하기
  for (let i = 0; sortList.length > i; i++) {
    if (sortList[i].SORT_NUM === currentData.SORT_NUM) {
      currentDataIndex = i;
    }
  }

  if (type === "order-up") {
    if (currentDataIndex !== 0) {
      props.params.api.applyTransaction({ remove: [currentData] });
      otherData = sortList[currentDataIndex - 1];
      const current_sort_num = currentData.SORT_NUM;
      currentData.SORT_NUM = otherData.SORT_NUM;
      otherData.SORT_NUM = current_sort_num;
      if (props.params.api.clientSideRowModel) {
        gridApi?.applyTransaction({
          add: [currentData],
          addIndex: currentDataIndex - 1,
        });
        props.params.api.applyTransaction({ update: [otherData] });
      } else {
        gridApi?.applyServerSideTransaction({
          add: [currentData],
          addIndex: currentDataIndex - 1,
        });
        props.params.api.applyServerSideTransaction({ update: [otherData] });
      }
      props.params.api.redrawRows();
    }
  } else {
    if (currentDataIndex !== sortList.length - 1) {
      if (props.params.api.clientSideRowModel) {
        props.params.api.applyTransaction({ remove: [currentData] });
      } else {
        props.params.api.applyServerSideTransaction({ remove: [currentData] });
      }

      otherData = sortList[currentDataIndex + 1];
      const current_sort_num = currentData.SORT_NUM;
      currentData.SORT_NUM = otherData.SORT_NUM;
      otherData.SORT_NUM = current_sort_num;

      if (props.params.api.clientSideRowModel) {
        gridApi?.applyTransaction({
          add: [currentData],
          addIndex: currentDataIndex + 1,
        });
        props.params.api.applyTransaction([{ update: [otherData] }]);
      } else {
        gridApi?.applyServerSideTransaction({
          add: [currentData],
          addIndex: currentDataIndex + 1,
        });
        props.params.api.applyServerSideTransaction([{ update: [otherData] }]);
      }
      props.params.api.redrawRows();
    }
  }
}
</script>

<style lang="scss">
.grid-change-index-button-renderer {
  width: 22px;
  height: 22px;

  &.order-up {
    background: url("/public/assets/images/btn-order-top.svg") 0% 0% / contain no-repeat;
  }
  &.order-down {
    background: url("/public/assets/images/btn-order-bottom.svg") 0% 0% / contain no-repeat;
  }
}
</style>
