<template>
  <div :class="[`${checked ? 'ag-checked' : ''} ag-wrapper ag-input-wrapper ag-checkbox-input-wrapper`]">
    <input type="checkbox" class="ag-input-field-input ag-checkbox-input" :checked="checked" @click="allCheckHandler" />
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from "vue";

import { useRowSpanCheckboxStore } from "@/store";

const { params } = defineProps<{
  params: any;
}>();

let checked = ref(false as boolean);

const RowSpanCheckboxStore = useRowSpanCheckboxStore();

const api: any = params.api;

watch(RowSpanCheckboxStore, () => {
  const rowModel = api.getModel().nodeManager;
  let rowNodes:any = null;
  let keys = new Array;
  
  if(rowModel.constructor.name == "ClientSideNodeManager2"){
    rowNodes = api.getModel().nodeManager.allNodesMap;
  }
  else{
    rowNodes = api.getModel().nodeManager.rowNodes;
  }

  keys = Object.keys(rowNodes);
  if (keys.length > 0) {
    const gridRowDataList = [];
    for (let i = 0; keys.length > i; i++) {
      gridRowDataList.push(rowNodes[keys[i]].data);
    }
    checked.value = RowSpanCheckboxStore.getCheckedArr().length > 0 && RowSpanCheckboxStore.getCheckedArr().length === gridRowDataList.length;
    return;
  }
});

const allCheckHandler = () => {

  const rowModel = api.getModel().nodeManager;
  let rowNodes:any = null;
  let keys = new Array;
  
  if(rowModel.constructor.name == "ClientSideNodeManager2"){
    rowNodes = api.getModel().nodeManager.allNodesMap;
  }
  else{
    rowNodes = api.getModel().nodeManager.rowNodes;
  }

  keys = Object.keys(rowNodes);
  if (keys.length > 0) {
    const gridRowDataList = [];
    for (let i = 0; keys.length > i; i++) {
      gridRowDataList.push(rowNodes[keys[i]].data);
    }

    const uniqueKeyData = gridRowDataList.filter((row: any, i: number, _allData: any[]) => {
      if (_allData[i + 1]) {
        return row[params.context.rowSpanKey] !== _allData[i + 1][params.context.rowSpanKey];
      }
    });

    RowSpanCheckboxStore.allCheckHandler(gridRowDataList, gridRowDataList.length, uniqueKeyData);
  }
};
</script>

<style lang="scss" scoped>
.ag-checkbox-input-wrapper.ag-checked::after {
  content: var(--ag-icon-font-code-checkbox-checked, "\f106");
  color: var(--ag-checkbox-checked-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
</style>
