<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	grid-select.vue
 *  Description:    grid내 select 컴포넌트 (cellEditor)
 *  Authors:        dhkim
 *  Update History:
 *                  2024.05. : Created by dhkim
 *
 *  [이슈] : 선택된 Value 값을 상위 컴포넌트에서 획득하지 못함 (getValue())
 *  https://github.com/ag-grid/ag-grid/issues/6905
 *
 *  [해결안]
 *  https://stackoverflow.com/questions/73032489/ag-grid-framework-component-is-missing-the-method-getvalue-in-production-buil
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div v-if="editable || editableStart" class="custom-component">
    <select v-model="selected" style="
        height: 30px;
        width: 100%;
        border-radius: 10px;
        border: solid 1px #d6d6d6;
        background-color: #fff;
        outline: none;"
        @change="changedValue">
      <option v-for="(value, i) in itemList" :key="i" :value=value>
        {{ formatValue(value) }}
      </option>
    </select>
  </div>
</template>

<script lang="ts">
import { useEventBusStore } from '@/store/event-bus/EventBus';
import { ref } from 'vue';

type Props = {
  params: any;
};

export default {
  setup(props: Props) {
    const eventBus = useEventBusStore();    
    const itemList = props.params.values;
    const formatValue = props.params.formatValue;
    const editableStart = ref(props.params.cellStartedEdit);
    const editable = typeof props.params.colDef.editable === "boolean"
      ? props.params.colDef.editable
      : props.params.colDef.editable(props.params);
    let selected = ref(props.params.value);

    function changedValue(event: any) {
      let params = {
        rowId: props.params.node.id,
        rowIndex: props.params.node.rowIndex,
        colId: props.params.column.getColId(),
        value: event.target.value,
        event: event,
      }

      eventBus.emit("selectedChangeEvent", params);
    }

    return {
      editable,
      editableStart,
      itemList,
      selected,
      formatValue,
      changedValue,
      getValue: () => {
        return selected.value;
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.custom-component {
  select {
    height: 30px;
    margin: 0 -15px;
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    border: solid 1px #d6d6d6;
    background-color: #fff;
    outline: none;
  }
}
</style>