<template>
  <button
    :class="[{ disabled: checkDisabled() }, 'grid-search-button-renderer']"
    @click="
      () => {
        openModal();
      }
    ">
    <Teleport to="body">
      <search-modal
        v-if="showModal.value"
        :modalData="searchModalContext.value ? searchModalContext.value.modalData : props.params.context[props.params.column.colId].modalData"
        :columnDefs="props.params.context[props.params.column.colId].colDef"
        @closeSearchModal="showModal.value = false"
        @setGridCellData="setGridCellData" />
    </Teleport>
    <i class="btn-search-component"></i>
  </button>
</template>

<script setup lang="ts">
import { onActivated, onBeforeUpdate, onDeactivated, reactive, ref, watch } from "vue";

import { useI18n } from "vue-i18n";
import { useRoute } from "vue-router";
import { useToast } from "vue-toastification";

import searchModal from "@/popups/search-modal.vue";

import { useCallModalIdStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

const props = defineProps<{
  params: any;
}>();
const route = useRoute();
const { t } = useI18n();
const showModal = reactive({ value: false } as { value: boolean });
const selectedModalData = reactive({ value: {} as { [key: string]: any } });
const inactive = ref<boolean>(false);
const searchModalContext = reactive({ value: null } as { value: any });

onBeforeUpdate(() => {
  // *** 통계관리/출고검수조회 - 박스추천조회 그리드 모달 값 모달 mount되었을 때 '물류용기코드'값 바인딩 ***
  if (useTabsStore().selectedTab.value?.id === "WMSTG733_3" && Object.hasOwn(props.params.data, "POOL_CODE")) {
    useSearchConditionStore().changeSearchInputValue("POOL_CODE", props.params.data.POOL_CODE);
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// 모달에서 api요청시 버튼이 위치한 로우의 데이터를 필요로 하는 경우 params 셋팅
watch(showModal, () => {
  if (showModal) {
    props.params.api.stopEditing();
    if (Object.hasOwn(props.params.context[props.params.column.colId], "setParamsFromGridRowData")) {
      searchModalContext.value = Object.assign({}, props.params.context[props.params.column.colId]);
      for (let i = 0; searchModalContext.value.setParamsFromGridRowData.rowDataKeys.length > i; i++) {
        searchModalContext.value.modalData.apis.params[searchModalContext.value.setParamsFromGridRowData.paramsKeys[i]] =
          props.params.data[searchModalContext.value.setParamsFromGridRowData.rowDataKeys[i]];
      }
    }
  }
});

watch(
  useCallModalIdStore().cellRendererCallModalId,
  () => {
    if (!inactive.value) {
      if (useCallModalIdStore().cellRendererCallModalId.value.rowIndex === props.params.node.rowIndex) {
        if (useCallModalIdStore().cellRendererCallModalId.value.key === props.params.context[props.params.column.colId].modalData.id) {
          showModal.value = true;
        }
      }
    }
  },
  { deep: true }
);

// 모달에서 값을 선택했을때
watch(selectedModalData, () => {
  if (!inactive.value) {
    /**
     *
     *  로케이션 지정, 로케이션 지정(건별) 팝업에서 유효성 검사(운영관리 context menu)
     *  그리드에 중복되는 로케이션 값을 갖을 수 없음, 동일한 값이 있는 경우 applyTransaction 이전 return
     */
    if (props.params.context[props.params.column.colId].modalData.page === "wmsop000q5v2") {
      if (useSearchConditionStore().getSearchInputValue().vrOrdType === "02") {
        let allRowDataList = [];
        const keys = Object.keys(props.params.api?.getModel().nodeManager.allNodesMap);
        for (let i = 0; keys.length > i; i++) {
          allRowDataList.push(props.params.api?.getModel().nodeManager.allNodesMap[keys[i]].data);
        }
        for (let i = 0; allRowDataList.length > i; i++) {
          if (allRowDataList[i].STOCK_ID === selectedModalData.value.STOCK_ID) {
            return useToast().warning(t("common-toast.already-selected-location", { index: i }));
          }
        }
      }
    }

    const fieldList = props.params.context[props.params.column.colId].fieldList;
    const rowDataKeys = props.params.context[props.params.column.colId].rowDataKeys;
    const result: any = props.params.data;

    if (props.params.api.clientSideRowModel) {
      for (let i = 0; fieldList.length > i; i++) {
        props.params.node.setDataValue(fieldList[i], selectedModalData.value[rowDataKeys[i]]); // onCellValueChanged 이벤트 발생
      }
    } else {
      for (let i = 0; fieldList.length > i; i++) {
        props.params.data[fieldList[i]] = selectedModalData.value[rowDataKeys[i]];
      }
      props.params.api.applyServerSideTransaction({ update: [result] });
    }

    // gridModelType이 clientSide인 경우 그리드의 동적인 변경사항을 반영해주는 반면, clientSide는 별도의 업데이트 로직이 필요
    fieldList.forEach((field: any) => {
      props.params.api?.refreshCells({ columns: [field], suppressFlash: true });
      useSelectedDataStore().changeSelectedDataList(props.params.api?.getSelectedRows());
    });

    // 데이터 선택후 바인딩 되는 컬럼으로 그리드 스크롤 이동
    const columns = props.params.api?.getModel().columnModel.displayedColumns;
    for (let i = 0; columns?.length > i; i++) {
      if (columns[i].colDef.field === fieldList[0]) {
        props.params.api.ensureColumnVisible(columns[i].colDef.field, "middle");
      }
    }
  }
});

function openModal() {
  const contextData = props.params.context[props.params.column.colId];
  if (Object.hasOwn(contextData, "callApiCondition")) {
    if (contextData.callApiCondition.dataType === "modal" && !Object.hasOwn(useSelectedDataStore().getSelectedModalData(), contextData.callApiCondition.key)) {
      useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${contextData.callApiCondition.key}`) }));
      return;
    }
  }
  showModal.value = true;
  resetModalInputValue();
}

function resetModalInputValue() {
  const inputs = props.params.context[props.params.column.colId].modalData.inputs;
  for (let i = 0; inputs.length > i; i++) {
    useSearchConditionStore().changeModalInputValue(inputs[i].id, "");
    if (Object.hasOwn(inputs[i], "searchContainerInputId")) {
      useSearchConditionStore().changeSearchInputValue(inputs[i].searchContainerInputId, "");
    }
  }
}

function setGridCellData(data: any) {
  selectedModalData.value = data;
}

function checkDisabled() {
  let result = false;
  if (route.path === "/wmsop910_3-new-popup") {
    if (Number(props.params.data.WORK_STAT) >= 230) {
      result = true;
    }
  } else {
    result = false;
  }
  return result;
}
</script>

<style lang="scss">
.grid-search-button-renderer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5dce6;
  width: 25px;
  height: 25px;
  border-radius: 6px;

  &:hover {
    background-color: #b8bec8;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
</style>
