<template>
  <div :class="[`${isReadOnly ? 'renderer-data-input-read-only' : ''} renderer-data-input`]">
    <input :class="props.params.data[props.params.column.colId] ? '' : 'empty'" type="date" max="9999-12-31" class="renderer-data-input-item" :value="currentValue ? currentValue : props.params.data[props.params.column.colId]" @change="(ev) => onDateInputChange(ev)" />
  </div>
</template>

<script setup lang="ts">
import { ref, watch, computed, onActivated, onDeactivated } from "vue";

import { useSelectedDataStore } from "@/store/index";

const props = defineProps<{
  params: any;
}>();

const SelectedDataStore = useSelectedDataStore();
let currentValue = ref(null as any); // 실제 값은 바뀌지만, 그리드 랜더링 관련 이슈로 date input값이 변할때 해당 변수에 할당 -> view에 해당 값 노출
let _isReadOnly = ref(true);
const inactive = ref<boolean>(false);

const isReadOnly = computed({
  get() {
    return _isReadOnly.value;
  },
  set(val) {
    _isReadOnly.value = val;
  },
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

watch(SelectedDataStore._selectedDataList, () => {
  if (!inactive.value) {
    const pk = props.params.context["gridPk"];
    const selectedDataList: any = SelectedDataStore.getSelectedDataList();

    if (selectedDataList.length > 0) {
      for (let i = 0; selectedDataList.length > i; i++) {
        if (selectedDataList[i][pk] === props.params.data[pk]) {
          isReadOnly.value = false;
          return;
        } else {
          isReadOnly.value = true;
        }
      }
    } else {
      isReadOnly.value = true;
    }
  }
});

function onDateInputChange(ev: any) {
  const target = ev.target;
  const pk = props.params.context["gridPk"];
  currentValue.value = target.value;
  for (let i = 0; SelectedDataStore.getSelectedDataList().length > i; i++) {
    if (SelectedDataStore.getSelectedDataList()[i][pk] === props.params.data[pk]) {
      SelectedDataStore.changeSelectedDataListItem(i, props.params.column.colId, target.value);
      if (props.params.api.clientSideRowModel) {
        props.params.api.applyTransaction({ update: SelectedDataStore.getSelectedDataList()[i] });
      } else {
        props.params.api.applyServerSideTransaction({ update: SelectedDataStore.getSelectedDataList()[i] });
        return;
      }
    }
  }
}
</script>

<style lang="scss"></style>
