<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	grid-select-box.vue
 *  Description:    grid내 select-box컴포넌트 (cell-renderer)
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.10. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div :class="[{ disabled: checkDisabled() }, 'grid-select-box']">  
    <div v-if="!isSelected">{{ getName() }}</div>
    <select v-else id="grid-select-box" :value="props.params.data[props.params.column.colId]" name="" @change="(ev) => onSelected(ev)">
      <!-- column-defs.ts 에서 정의한 options일 경우-->
      <template v-if="Object.hasOwn(props.params.context[props.params.column.colId], 'options')">
        <option v-for="(option, i) in props.params.context[props.params.column.colId].options" :key="i" :value="Object.hasOwn(props.params.context[props.params.column.colId], 'valueType') ? t(`select-options.${option[props.params.context[props.params.column.colId].valueType]}`) : option.value">
          {{ t(`select-options.${option.nameKey}`) }}
        </option>
      </template>
      <!-- 특정 select-box값에 따라서 해당 select-box options가 변경되는 경우-->
      <template v-else-if="Object.hasOwn(props.params.context[props.params.column.colId], 'dynamicOptionsKey')">
        <option v-for="(option, i) in OptionDataStore.getOptionData()[props.params.context[props.params.column.colId].dynamicOptionsKey + '_' + props.params.data.RNUM]" :key="i" :value="option[props.params.column.colId]">
          {{ option[props.params.column.colId] }}
        </option>
      </template>
      <!-- server에서 가져온 options일 경우-->
      <template v-else>
        <option v-for="(option, i) in OptionDataStore.getOptionData()[props.params.context[props.params.column.colId].optionsKey]" :key="i" :value="props.params.context[props.params.column.colId].useOnlyName ? option.codeNm : option.code || option.NAME || option.LC_NM">
          {{ option.codeNm || option.CODE || option.LC_NM }}
        </option>
      </template>
    </select>
  </div>
</template>

<script setup lang="ts">
import { ref, watch, computed, onActivated, onDeactivated } from "vue";

import { useI18n } from "vue-i18n";
import { useRoute } from "vue-router";

import { useSelectedDataStore, useTabsStore, useSearchConditionStore } from "@/store/index";
import { useOptionDataStore } from "@/store/index";

import { ApiService } from "@/services/api-service";

const props = defineProps<{
  params: any;
}>();
const SelectedDataStore = useSelectedDataStore();
const OptionDataStore = useOptionDataStore();
const route = useRoute();

let currentList = { value: {} } as any;
const inactive = ref<boolean>(false);
let _isSelected = ref(false);
const { t } = useI18n();

const isSelected = computed({
  get() {
    return _isSelected.value;
  },
  set(val) {
    _isSelected.value = val;
  },
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

watch(SelectedDataStore._selectedDataList, () => {
  if (!inactive.value) {
    if (Object.hasOwn(props.params.data, "READ_ONLY_SELECT_BOX")) {
      return;
    }
    const selectedDataList: any = SelectedDataStore.getSelectedDataList();
    const pk = props.params.context[props.params.column.colId].pk;
    
    if (selectedDataList.length > 0) {
      for (let i = 0; selectedDataList.length > i; i++) {
        if (selectedDataList[i][pk] === props.params.data[pk]) {
          currentList.value = selectedDataList[i];
          isSelected.value = true;
          return;
        }
        isSelected.value = false;
      }
    } else {
      isSelected.value = false;
    }
  }
});

async function onSelected(ev: any) {
  const key = props.params.column.colId;
  const target = ev.target;
  currentList.value[key] = target.value;
  //
  if (useTabsStore().selectedTab.value?.id === "TMSYS030_2") {
    if (target.value === "Y") {
      const allNode = props.params.api.rowModel.nodeManager.rowNodes;
      const allNodeKeys = Object.keys(props.params.api.rowModel.nodeManager.rowNodes);

      for (let i = 0; allNodeKeys.length > i; i++) {
        if (allNode[allNodeKeys[i]].data.CONNECT_YN === "Y") {
          if (props.params.data.RNUM !== allNode[allNodeKeys[i]].data.RNUM) {
            const updateData = allNode[allNodeKeys[i]].data;
            updateData.CONNECT_YN = "N";
            props.params.api.applyServerSideTransaction({ update: [updateData] });
          }
        }
      }
    }
  }

  // select-box가 위치한 컬럼의 데이터 뿐만 아니라, 해당 로우의 다른 키값의 value도 바꿔야하는 경우
  if (Object.hasOwn(props.params.context[props.params.column.colId], "otherRowDataKeys")) {
    for (let i = 0; props.params.context[props.params.column.colId].otherRowDataKeys.length > i; i++) {
      // store 의 저장된 options를 사용하는 경우
      if (Object.hasOwn(props.params.context[props.params.column.colId], "optionsKey")) {
        for (let j = 0; OptionDataStore.getOptionData()[props.params.context[props.params.column.colId].optionsKey].length > j; j++) {
          const option = OptionDataStore.getOptionData()[props.params.context[props.params.column.colId].optionsKey][j];
          if (option[props.params.column.colId] === target.value) {
            currentList.value[props.params.context[props.params.column.colId].otherRowDataKeys[i]] = option[props.params.context[props.params.column.colId].otherOptionsKeys[i]];
          }
        }
      } else if (Object.hasOwn(props.params.context[props.params.column.colId], "options")) {
        //   // 하드코딩한 options를 사용하는 경우
        for (let j = 0; props.params.context[props.params.column.colId].options.length > j; j++) {
          const option = props.params.context[props.params.column.colId].options[j];
          if (Object.hasOwn(props.params.context[props.params.column.colId], "valueType") ? t(`select-options.${option.nameKey}`) === target.value : option.value === target.value) {
            currentList.value[props.params.context[props.params.column.colId].otherRowDataKeys[i]] = option[props.params.context[props.params.column.colId].otherOptionsKeys[i]];
          }
        }
      } else if (Object.hasOwn(props.params.context[props.params.column.colId], "dynamicOptionsKey")) {
        // dynamicOptionsKey를 사용하는 경우
        for (let j = 0; OptionDataStore.getOptionData()[`${props.params.context[props.params.column.colId].dynamicOptionsKey}_${props.params.data.RNUM}`].length > j; j++) {
          const option = OptionDataStore.getOptionData()[`${props.params.context[props.params.column.colId].dynamicOptionsKey}_${props.params.data.RNUM}`][j];
          if (option[props.params.column.colId] === target.value) {
            currentList.value[props.params.context[props.params.column.colId].otherRowDataKeys[i]] = option[props.params.context[props.params.column.colId].otherOptionsKeys[i]];
          }
        }
      }
    }
  }

  // TODO :: Renderer로 변경된 값을 그리드에 반영 (value change trigger 동작하도록)
  if (props.params.api.clientSideRowModel) {
    props.params.api.applyTransaction([{ update: [currentList.value] }]);
    // props.params.node.setDataValue(key, target.value);
  } else {
    props.params.api.applyServerSideTransaction([{ update: [currentList.value] }]);
  }

  // *** 로케이션 select-box값에 따라 화주 select-box의 options 가 바뀌는 경우 ***
  if (key === "LC_NM") {
    let params_lc_id = "";
    OptionDataStore.getOptionData().LCLIST.forEach((option: any) => {
      if (option.LC_NM === target.value) {
        params_lc_id = option.LC_ID;
      }
    });
    const res: any = await ApiService.postApi("/WMSCM011/list_rn.action", {}, { S_CUST_ID: "", S_LC_ALL: "ALL", S_CUST_TYPE: "12", S_LC_ID: params_lc_id });
    OptionDataStore.setOptionData({ [key + "_" + props.params.data.RNUM]: res.result.list });
  }

  // *** 택배접수관리공통_택배접수관리API(WMSOP642_1), select-box값이 변경될때마다 특정 api를 호출 ***
  if (useTabsStore().selectedTab.value?.id === "WMSOP642_1" && Object.hasOwn(props.params.context, "TRACKING_NO")) {
    const TRACKING_NO = props.params.api.getSelectedRows().filter((row: any) => {
      return row.RNUM === props.params.data.RNUM;
    })[0].TRACKING_NO;

    const bodyData = {
      _fullpath: "",
      selectIds: "0",
      ORD_ID: props.params.data.ORD_ID,
      ORD_SEQ: String(props.params.data.ORD_SEQ),
      TRACKING_NO,
    };
    const res = await ApiService.postApi("/WMSOP642/boxNoUpdate_rn.action", {}, bodyData);
    if (res.status) {
      if (res.result.errCnt === "0") {
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      }
    }
  }

  const selectedDataList = props.params.api.getSelectedRows();
  SelectedDataStore.changeSelectedDataList([]);
  setTimeout(() => {
    SelectedDataStore.changeSelectedDataList(selectedDataList);
  });
}

function getName() {
  if (!inactive.value) {
    // 물류센터 값에 따라 화주의 options값이 달라지는 경우 강제적으로 해당 인덱스의 화주값을 리턴해준다.
    if (Object.hasOwn(props.params.context[props.params.column.colId], "dynamicOptionsKey")) {
      return props.params.data[props.params.column.colId];
    }

    const options = Object.hasOwn(props.params.context[props.params.column.colId], "options") ? props.params.context[props.params.column.colId].options : OptionDataStore.getOptionData()[props.params.context[props.params.column.colId].optionsKey] || OptionDataStore.getOptionData()[props.params.context[props.params.column.colId].optionsKey + "_" + props.params.data.RNUM];

    /**
     * option key, value
     * codeNm code
     * name value
     * CODE NAME
     */

    if (options) {
      for (let i = 0; options.length > i; i++) {
        if (props.params.context[props.params.column.colId].useOnlyName) {
          if (options[i].codeNm === props.params.data[props.params.column.colId]) {
            return options[i].codeNm;
          }
        } else if ((options[i].CUST_NM || options[i].code || options[i].value || options[i].NAME || options[i].LC_NM) === props.params.data[props.params.column.colId] || (options[i].nameKey && t(`select-options.${options[i].nameKey}`) === props.params.data[props.params.column.colId])) {
          if (Object.hasOwn(options[i], "nameKey")) {
            return t(`select-options.${options[i].nameKey}`);
          } else {
            return options[i].CUST_NM || options[i].codeNm || options[i].NAME || options[i].LC_NM;
          }
        }
      }
    }
  }
}

function checkDisabled() {
  let isDisabled = false;
  const cellRendererInfo = props.params.context[props.params.column.colId];

  if (route.path === "/wmsop910_3-new-popup") {
    if (Number(props.params.data.WORK_STAT) >= 230) {
      isDisabled = true;
    }
  }
  else{
    if(Object.hasOwn(cellRendererInfo, 'editable')){
      isDisabled = !cellRendererInfo.editable(props.params);
    }
  }

  return isDisabled;
}
</script>

<style lang="scss" scoped>
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
</style>
