<template>
  <div :class="[`${isChecked ? '' : 'renderer-checkbox-read-only'} renderer-checkbox`]">
    <input
      class="renderer-checkbox-item"
      type="checkbox"
      name=""
      :checked="props.params.data[props.params.column.colId] === props.params.context[props.params.column.colId].checkedValue ? true : false"
      @change="(ev) => onChecked(ev)"
    />
    <i class="renderer-checkbox-circle"></i>
  </div>
</template>

<script setup lang="ts">
import { ref, watch, computed, onActivated, onDeactivated } from "vue";

import { useSelectedDataStore } from "@/store/index";

const props = defineProps<{
  params: any;
}>();

const SelectedDataStore = useSelectedDataStore();

let _isChecked = ref(false);
const inactive = ref<boolean>(false);
let currentList = { value: {} } as any;

const isChecked = computed({
  get() {
    return _isChecked.value;
  },
  set(val) {
    _isChecked.value = val;
  },
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

watch(SelectedDataStore._selectedDataList, () => {
  if (!inactive.value) {
    const pk = props.params.context[props.params.column.colId].pk;
    const selectedDataList: any = SelectedDataStore.getSelectedDataList();

    if (selectedDataList.length > 0) {
      for (let i = 0; selectedDataList.length > i; i++) {
        if (selectedDataList[i][pk] === props.params.data[pk]) {
          currentList.value = selectedDataList[i];
          isChecked.value = true;
          return;
        }
        isChecked.value = false;
      }
    } else {
      isChecked.value = false;
    }
  }
});

function onChecked(ev: any) {
  const key = props.params.column.colId;
  const target = ev.target as HTMLInputElement;
  const checkboxValue = target.checked;
  const selectedDataList: any = SelectedDataStore.getSelectedDataList();
  if (selectedDataList.length > 0) {
    for (let i = 0; selectedDataList.length > i; i++) {
      if (checkboxValue) {
        currentList.value[key] = props.params.context[key].checkedValue;
      } else {
        currentList.value[key] = props.params.context[key].unCheckedValue;
      }
    }
  }

  props.params.api.applyServerSideTransaction([{ update: [currentList.value] }]);
}
</script>

<style lang="scss" scoped></style>
