<template>
  <div id="circle" class="circle">
    <div :class="resultYN"></div>
  </div>
</template>

<script setup lang="ts">
import { onBeforeMount, ref } from 'vue';
let resultYN = ref("N" as string);

const props = defineProps<{
  params: any;
}>();


onBeforeMount(() => {
  resultYN.value = props.params.value == "Y" ? 'y' : 'n';
});

</script>

<style lang="scss">
#circle {
  > div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  > .y {
    background: $green;
  }
  > .n {
    background: $red;
  }
}
</style>
