<template>
  <button class="renderer-button" @click="openModal">
    <i class="btn-search"></i>
  </button>
  <Teleport to="body">
    <location-modal v-if="useNewZoneModalStore().getOpenNewZone()" :columnDefs="LOCATION_MODAL_COLUMN_DEFS" :modalData="modalData" />
  </Teleport>
</template>
<script setup lang="ts">
import { LOCATION_MODAL_COLUMN_DEFS } from "@/constants/location-col-defs";
import { UtilService } from "@/services/util-service";
import { useNewZoneModalStore } from "@/store/new-zone";
import { IModalValue } from "@/types";
import { onActivated, onDeactivated, reactive, ref, watch } from "vue";
import LocationModal from "../searchZoneModal/LocationModal.vue";
const props = defineProps<{
  params: any;
}>();
const inactive = ref<boolean>(false);
const currentIndex = ref<number>(0);
const showModal = reactive({ value: false } as { value: boolean });

watch(useNewZoneModalStore(), () => {
  if (!inactive.value) {
    currentIndex.value = props.params.node.rowIndex;
    if (useNewZoneModalStore().getCurrentLocationIndex() === currentIndex.value && props.params.api.clientSideRowModel) {
      const result: any = props.params.data;
      let locationData = useNewZoneModalStore().getLocationData();
      if (!UtilService.isEmptyObject(locationData)) {
        locationData.locationIndex = "locationRow" + currentIndex.value;
        Object.keys(locationData).forEach((key: any) => {
          result[key] = locationData[key];
        });
        props.params.api.applyTransaction([{ update: [result] }]);
      }
      // 그리드 로우 다시 그리기(변경사항 반영)
      setTimeout(() => {
        props.params.api.redrawRows();
      }, 0);
    }
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

function openModal() {
  useNewZoneModalStore().setCurrentLocationIndex(props.params.node.rowIndex);
  useNewZoneModalStore().setOpenNewZone(true);
}

const modalData: IModalValue = {
  page: "new-zone",
  id: "new-zone",
  defaultParamsData: {
    storeSaveKey: "warehouse",
    paramsKeys: ["S_WH_CD", "vrWhId", "S_WH_NM"],
    rowDataKeys: ["WH_CD", "WH_ID", "WH_NM"],
  },
  title: "search-location",
  gridTitle: "location-list",
  apis: {
    url: "/WMSCM080Q5/list02_rn.action",
    params: {
      func: "fn_setWMSCM080",
      LOC_ID: "",
      LOC_CD: "",
      AVAILABLE_QTY: "",
      STOCK_ID: "",
      SUB_LOT_ID: "",
      vrViewOnlyLoc: "",
      STOCK_WEIGHT: "",
      vrViewSubLotId: "",
      vrRitemId: "",
      ITEM_BEST_DATE_END: "",
      UOM_ID: "",
      UOM_CD: "",
      UOM_NM: "",
      vrViewStockQty: "",
      S_WH_CD: "",
      vrWhId: "",
      S_WH_NM: "",
      vrSrchLocCd: "",
      vrSrchLocId: "",
    },
    data: {
      _search: false,
      nd: "",
      rows: "100",
      page: "1",
      sidx: "",
      sord: "asc",
    },
  },
  inputs: [
    {
      id: "WH_CD",
      title: "warehouse",
      type: "search",
      width: "half",
      searchRowDataIds: ["WH_CD", "WH_NM"],
      searchIds: ["S_WH_CD", "S_WH_NM"],
    },
    {
      id: "vrSrchLocCd",
      title: "location-code",
      type: "text",
      width: "half",
    },
  ],
};
</script>
<style lang="scss">
.renderer-button {
  background-color: $bg-gray2;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  &:hover {
    background-color: #b8bec8;
  }
}
</style>
