<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   
 *  Description: 
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.10. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="renderer-grid-text-input" :class="isSelected ? 'renderer-grid-text-input' : ''">
    <div v-if="!isSelected" class="not-edit">{{ props.params.data[props.params.column.colId] }}</div>

    <div v-if="isSelected" class="ag-cell-edit-wrapper">
      <div class="ag-cell-editor ag-labeled ag-label-align-left ag-text-field ag-input-field">
        <div class="ag-wrapper ag-input-wrapper ag-text-field-input-wrapper">
          <input type="text" class="ag-input-field-input ag-text-field-input" :value="props.params.data[props.params.column.colId]" @change="(e) => changeValue(e)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, watch, computed, onActivated, onDeactivated } from "vue";

import { useToast } from "vue-toastification";
import { useI18n } from "vue-i18n";

import { useCallModalIdStore, useSearchConditionStore, useSelectedDataStore } from "@/store/index";
import { ApiService } from "@/services/api-service";

const props = defineProps<{
  params: any;
}>();
const SelectedDataStore = useSelectedDataStore();

const inactive = ref<boolean>(false);
let _isSelected = ref(false);
const { t } = useI18n();

const isSelected = computed({
  get() {
    return _isSelected.value;
  },
  set(val) {
    _isSelected.value = val;
  },
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

watch(SelectedDataStore._selectedDataList, () => {
  if (!inactive.value) {
    const selectedDataList: any = SelectedDataStore.getSelectedDataList();
    const pk = "RNUM";
    const isEditable: boolean = props.params.column.userProvidedColDef.editable ?? false;

    if (selectedDataList.length > 0) {
      for (let i = 0; selectedDataList.length > i; i++) {
        if (selectedDataList[i][pk] === props.params.data[pk]) {
          isSelected.value = true && isEditable;
          return;
        }
        isSelected.value = false && isEditable;
      }
    } else {
      isSelected.value = false && isEditable;
    }
  }
});

function changeValue(e: any) {
  if (e) {
    const target = e.target;
    const currentInputData = { [props.params.column.colId]: target.value };
    const updatedData = { ...props.params.data, ...currentInputData };
    // 검색버튼과 상호작용되는 text inpnut인경우
    if (Object.hasOwn(props.params.colDef, "cellRendererParams")) {
      focusOutSearchEvent(target.value);
    } else {
      // 일반 편집용 text input으로 사용되는 경우
      upDateGridRowData(updatedData);
    }
  }
}

// 검색버튼과 상호작용되는 text inpnut인 경우 change시 호출되는 함수
async function focusOutSearchEvent(targetValue: string) {
  if (!targetValue) {
    initializeData();
    return;
  }

  const { srchKey, focusOutEventKey, searchButtonFieldName, searchModalInputKey, callModalId, defaultParamsData, autoCompleteKeys } = props.params.colDef.cellRendererParams;
  const fieldList = props.params.context[searchButtonFieldName].fieldList;
  const bodyData: any = {
    srchKey,
    [focusOutEventKey]: targetValue,
  };

  if (Object.hasOwn(props.params.context[searchButtonFieldName], "callApiCondition")) {
    if (props.params.context[searchButtonFieldName].callApiCondition.dataType === "modal" && !Object.hasOwn(useSelectedDataStore().getSelectedModalData(), props.params.context[searchButtonFieldName].callApiCondition.key)) {
      useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${props.params.context[searchButtonFieldName].callApiCondition.key}`) }));
      initializeData();
      return;
    }
  }

  // 검색 영역의 modalData의 값을 필요로 할때
  if (defaultParamsData) {
    const { storeSaveKey, paramsKeys, rowDataKeys } = defaultParamsData;
    for (let i = 0; paramsKeys.length > i; i++) {
      bodyData[paramsKeys[i]] = useSelectedDataStore().getSelectedModalData()[storeSaveKey] ? useSelectedDataStore().getSelectedModalData()[storeSaveKey][rowDataKeys[i]] : "";
    }
  }

  // 자동완성 api호출
  const res = await ApiService.postApi("/selectMngCode_rn.action", {}, bodyData);
  initializeData();
  // 결과 값이 1개인 경우

  const autoCompleteResult = res.result[srchKey];
  if (autoCompleteResult.length === 1) {
    for (let i = 0; fieldList.length > i; i++) {
      props.params.data[fieldList[i]] = autoCompleteResult[0][autoCompleteKeys[i]];
    }
    upDateGridRowData(props.params.data);
  } else if (autoCompleteResult.length > 1) {
    // 결과 값이 1개 이상인 경우
    useSearchConditionStore().changeSearchInputValue(searchModalInputKey, targetValue);
    useCallModalIdStore().setCellRendererCallModalId({ key: callModalId, rowIndex: props.params.node.rowIndex });
  } else if (autoCompleteResult.length === 0) {
    // 결과 값이 없을 경우
    useToast().warning(t("common-toast.no-data-found"));
    initializeData();
  }
}

// 검색 버튼 인풋과 상호작용하는 컬럼의 값을 초기화 시켜줌
function initializeData() {
  const { searchButtonFieldName } = props.params.colDef.cellRendererParams;

  const fieldList = props.params.context[searchButtonFieldName].fieldList;

  const initializedData = {} as any;
  for (let i = 0; fieldList.length > i; i++) {
    initializedData[fieldList[i]] = "";
  }
  const updatedData = { ...props.params.data, ...initializedData };
  upDateGridRowData(updatedData);
}

// 로우를 업데이트 시켜주는 function, 최종적으로 update되어야할 로우의 data를 updatedData인자로 넘겨줌
function upDateGridRowData(updatedData: any) {
  if (props.params.api.clientSideRowModel) {
    props.params.api.applyTransaction({ update: [updatedData] });
  } else {
    props.params.api.applyServerSideTransaction({ update: [updatedData] });
  }
  // 셀에서 포커스가 빠질 때 cell을 다시 그려주는 것 같음 / 값 변경후 focus가 빠질때 인풋이 보이지 않음
  const filteredEditColumn = props.params.columnApi.columnModel.displayedColumns.filter((column: any) => {
    if (Object.hasOwn(column.colDef, "cellRenderer")) {
      return column;
    }
  });
  props.params.api.refreshCells({ columns: filteredEditColumn, force: true, rowNodes: [props.params.node] });

  setTimeout(() => {
    useSelectedDataStore().changeSelectedDataList(props.params.api?.getSelectedRows());
  });
}
</script>

<style lang="scss">
#renderer-grid-text-input {
  width: 100% !important;
  height: 100% !important;
}
.renderer-grid-text-input {
  position: absolute;
  left: 0;

  .ag-cell-edit-wrapper,
  .ag-cell-editor,
  .ag-wrapper,
  .ag-input-field-input {
    height: 100% !important;
  }
}
</style>
