<template>
  <input :id="myId" type="color" :value="color" @input="(ev) => updateValue(ev)" />
</template>

<script lang="ts">
import { ColorPickerParams } from "@/types/agGrid";
import { ICellEditorParams } from "ag-grid-community";
import { nextTick, onMounted, ref } from "vue";

type Props = {
  params: ICellEditorParams;
};

export default {
  name: "ColorPickerEditor",
  props: {
    params: {
      type: Object as () => ColorPickerParams,
      required: true,
    },
  },
  setup(props: Props) {
    const myId = ref();
    const color = ref();

    const getValue = () => {
      const inputElement = document.querySelector(`#${myId.value}`) as HTMLInputElement;
      if (inputElement) {
        return inputElement.value;
      } else {
        return props.params.data[props.params.column.getColId()];
      }
    };

    const updateValue = (event: Event) => {
      const input = event.target as HTMLInputElement;
      props.params.stopEditing();
      props.params.node.setDataValue(props.params.column.getColId(), input.value);
    };
    // 마운트 시 처리
    onMounted(() => {
      myId.value = CSS.escape(crypto.randomUUID());
      color.value = props.params.data[props.params.column.getColId()];
      nextTick(() => {
        const inputElement = document.querySelector(`#${myId.value}`) as HTMLInputElement;
        if (inputElement) {
          inputElement.focus();
          inputElement.select();
        }
      });
    });
    return {
      myId,
      color,
      updateValue,
      getValue,
    };
  },
};
</script>

<style lang="scss" scoped>
.color-input {
  position: relative;
  z-index: 5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
}
.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}
.color-input::-moz-color-swatch {
  border-radius: 15px;
  border: none;
  border-radius: 5px;
}
</style>
