<template>
  <div v-if="rowData.hasOwnProperty('RNUM')" :class="[`${checked ? 'ag-checked' : ''} ag-wrapper ag-input-wrapper ag-checkbox-input-wrapper renderer-check-box-wrapper`]">
    <input type="checkbox" class="ag-input-field-input ag-checkbox-input" @click="selectHandler" :checked="checked" />
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";

import { useRowSpanCheckboxStore } from "@/store";

const { params } = defineProps<{
  params: any;
}>();
const RowSpanCheckboxStore = useRowSpanCheckboxStore();

const rowData = params.data || {};
const api: any = params.api || "";

const checked = computed(() => {
  const currentPage = params.api?.paginationGetCurrentPage();
  const currentPageSize = params.api?.paginationGetPageSize();
  const startRowIndex = currentPage ? currentPage! * currentPageSize : currentPage!;

  if (Object.hasOwn(RowSpanCheckboxStore.getGridRowSpanRule(), `${rowData[params.context.rowSpanKey]}_${startRowIndex}`)) {
    const filteredList = RowSpanCheckboxStore.getCheckedArr().filter((row: any) => {
      return row[params.context.rowSpanKey] === rowData[params.context.rowSpanKey];
    });

    return RowSpanCheckboxStore.getGridRowSpanRule()[`${rowData[params.context.rowSpanKey]}_${startRowIndex}`].count === filteredList.length;
  }

  return false;
});

const selectHandler = () => {
  const allRowData = [];
  const keys: any = Object.keys(api.getModel().nodeManager.rowNodes);
  for (let i = 0; keys.length > i; i++) {
    allRowData.push(api.getModel().nodeManager.rowNodes[keys[i]].data);
  }

  const currentPage = params.api?.paginationGetCurrentPage();
  const currentPageSize = params.api?.paginationGetPageSize();
  const startIndex = currentPage ? currentPage! * currentPageSize : currentPage!;

  RowSpanCheckboxStore.selectRowSpanData(params.context.rowSpanKey, rowData, allRowData, startIndex);
};

// TODO :: Span 대상 Row Index를 받아, selected 처리
// rowNode.setSelected(true);
</script>

<style scoped>
input {
  margin-right: 20px;
}

.ag-checkbox-input-wrapper.ag-checked::after {
  content: var(--ag-icon-font-code-checkbox-checked, "\f106");
  color: var(--ag-checkbox-checked-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
</style>
