<template>
  <button class="renderer-button" @click="openModal">
    <i class="btn-search"></i>
  </button>
</template>
<script setup lang="ts">
import { watch, ref, onActivated, onDeactivated } from "vue";
import { useNewZoneModalStore } from "@/store/new-zone";
import { UtilService } from "@/services/util-service";

const props = defineProps<{
  params: any;
}>();
const inactive = ref<boolean>(false);
const currentIndex = ref<number>(0);

watch(useNewZoneModalStore(), () => {
  if (!inactive.value) {
    currentIndex.value = props.params.node.rowIndex;
    if (useNewZoneModalStore().getCurrentLocationIndex() === currentIndex.value && props.params.api.clientSideRowModel) {
        const result: any = props.params.data;
        let locationData = useNewZoneModalStore().getLocationData();
        if (!UtilService.isEmptyObject(locationData)) {
          locationData.locationIndex = 'locationRow' + currentIndex.value;
          Object.keys(locationData).forEach((key: any) => {
            result[key] = locationData[key];
          })
          props.params.api.applyTransaction([{ update: [result] }]);
      }
      // 그리드 로우 다시 그리기(변경사항 반영)
      setTimeout(() => {
        props.params.api.redrawRows();  
      }, 0);
    }
  }
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

function openModal() {
  useNewZoneModalStore().setCurrentLocationIndex(props.params.node.rowIndex);
  useNewZoneModalStore().setOpenNewZone(true);
}
</script>
<style lang="scss">
.renderer-button {
  background-color: $bg-gray2;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  &:hover {
    background-color: #b8bec8;
  }
}
</style>
