<template>
  <button class="renderer-remove-button" @click.prevent="removeRow">삭제</button>
</template>
<script setup lang="ts">
import { useNewZoneModalStore } from "@/store/new-zone";

const NewZoneModalStore = useNewZoneModalStore();

const props = defineProps<{
  params: any;
}>();

function removeRow() {
  const thisIndex = props.params.node.rowIndex;
  const allRowData = props.params.api.getModel().rowsToDisplay;
  const removeRowIndex = props.params.node.rowIndex;
  props.params.context.api([allRowData[removeRowIndex].data]);
  NewZoneModalStore.removeLocationDataList(thisIndex);
}
</script>
<style lang="scss">
.renderer-remove-button {
  @include btnColorStyle($red);

  padding: 6px 19px;
  border-radius: 10px;
  font-weight: bold;
}
</style>
