<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOP010/page.vue
 *  Description:    입출고현황 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.07. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" id="WMSOP010-page">
    <common-search :searchContainerMeta="SEARCH_META">
      <!-- @sessionStorageReady="sessionStorageReady" -->
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="MASTER_GRID_META"
        :onCellFocused="onCellFocused"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged"
        :context="[]">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <grid-statistics-container :style="gridStatisticsTheme" :statisticsInfo="masterGridStatisticsInfoRef" :gridTotalData="masterGridTotalData" />
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="DETAIL_GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onDetailApiParamsChanged"
        :getServerData="getDetailData"
        :context="{}">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOP010" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { useOptionDataStore, useSearchConditionStore, useSelectedDataStore } from "@/store";
import { GridApi, GridReadyEvent, RowSelectedEvent } from "ag-grid-community";
import { computed, onMounted, onUnmounted, reactive, ref } from "vue";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams } from "ag-grid-enterprise";
import { Ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { DETAIL_GRID_META, DETAIL_GRID_OPTIONS_META, MASTER_CONTROL_BTN, MASTER_GRID_META, MASTER_GRID_OPTIONS_META, MASTER_GRID_STATISTICS_INFO, SEARCH_INPUT, SEARCH_META } from "./input.meta";

import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";

import { default as commonForm } from "@/page/common-page/common-form.vue";
import { useCallModalIdStore, useConfirmStore } from "@/store";
import { SEARCH_COMPONENT_CONTROL_BTN } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const gridApi = ref<GridApi | undefined>();
const myPageId = ref<string>("WMSOP010");
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const SelectedDataStore = useSelectedDataStore();
const selectedItems = ref<Record<string, any> | null>({});

const searchCompControlBtn = reactive({ value: SEARCH_COMPONENT_CONTROL_BTN as any });

const masterGridTotalData = reactive({ value: {} as any });
const masterGridStatisticsInfoRef = ref(MASTER_GRID_STATISTICS_INFO);
const gridStatisticsTheme = {
  "--grid-statistics-title-color": "#ffffff",
  "--grid-statistics-value-color": "#ffffff",
};

const formTheme = {
  "--flex-direction": "column",
};
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any> | null>({});
const masterGridTitleRef = t("menu-header-title.WMSOP010_master");
const detailGridTitleRef = t("menu-header-title.WMSOP010_detail");
const masterEventHandler: Record<string, Function> = {
  excel: excelExport,
  approve: saveApprove,
  prohibit: prohibitApprove,
};
function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}

function saveApprove() {
  fn_common("Approv");
}

function prohibitApprove() {
  fn_common("Prohibit");
}

const selectedRows = ref();
function onSelectionChanged(e: any) {
  let event: RowSelectedEvent = e.event;
  event.api.redrawRows();
  selectedMasterItem.value = e.event.data;

  // 체크 이벤트 발생 시 APPROVE_N이 Y면 체크 못하게끔 막아야함
  if (e.event.type == "rowSelected") {
    if (e.event.node.data.APPROVE_YN != "N") {
      e.event.node.setSelected(false);
    } else {
      selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0] as Record<string, any>[];
    }
    let isSelected = e.event.node.selected;
    if (!isSelected) {
      detailGridApi.value?.setRowData([]);
    }
  }

  detailFormRef.value.searchGridData();
}
function onMasterApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "운영관리 &gt; 입출고현황";
  apiParams.vrSrchInOrderCntInit = masterGridTotalData.value.ORD_IN_CNT_INIT != null ? masterGridTotalData.value.ORD_IN_CNT_INIT : "-";
  apiParams.vrSrchOutOrderCntInit = masterGridTotalData.value.ORD_OUT_CNT_INIT != null ? masterGridTotalData.value.ORD_OUT_CNT_INIT : "-";
  apiParams.vrSrchInWorkCntInit = masterGridTotalData.value.WORK_IN_CNT_INIT != null ? masterGridTotalData.value.WORK_IN_CNT_INIT : "-";
  apiParams.vrSrchOutWorkCntInit = masterGridTotalData.value.WORK_OUT_CNT_INIT != null ? masterGridTotalData.value.WORK_OUT_CNT_INIT : "-";
  apiParams.vrSrchYearVal = apiParams.vrSrchYearChk == "on" ? "Y" : "N";
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  apiParams = {};
  apiParams.vrOrdId = selectedMasterItem.value?.ORD_ID;
  apiParams.vrOrdType = selectedMasterItem.value?.ORD_TYPE;

  return apiParams;
}

/* 승인, 불가 */
async function fn_common(type: any) {
  const selectedRows = GridUtils.getSelectedRowData(masterGridApi.value!);
  selectedRows.forEach((i) => {
    if (i.APPROVE_YN == "Y") {
      useToast().warning(t("common-toast.already-processed"));
      return;
    }
  });

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }
  let alertMessage = "confirm-message.is-approve-selected-order";
  let vrType = "Y";
  if (type == "Prohibit") {
    alertMessage = "confirm-message.is-prohibit-selected-order";
    vrType = "X";
  }
  await useConfirmStore().confirm(t(alertMessage), t("button-name.confirm"));
  try {
    let data: any = { selectIds: selectedRows.length, vrType: vrType };
    for (let i = 0; i < selectedRows.length; i++) {
      data["ORD_ID" + [i]] = String(selectedRows[i].ORD_ID || "");
    }

    const result = await ApiService.postApi("/rest/WMSOP010/saveApprove.action", data, data);
    if (result.status) {
      useToast().success(t("common-toast.registered"));
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.in/out-status"),
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  const res = await ApiService.postApi(`/rest/WINUS/WMSOP021.action`, {}, UtilService.getOptionApiData("WMSOP021"));

  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
  const res1 = await ApiService.postApi("/WINUS/WMSST010_rn.action", {}, UtilService.getOptionApiData("WMSST010_rn"));
  if (res1.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res1.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res1.result);
  }

  const res2 = await ApiService.postApi(`/WINUS/WMSOM120_rn.action`, {}, UtilService.getOptionApiData(`WMSOM120_rn`));
  if (res2.status) {
    if (res2.result.selectBoxInfos) {
      useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
    }
  }

  //주문수량, 작업중 수량을 서버에서 가져와서 셋팅
  const statisticsResult = await ApiService.postApi("/rest/WMSOP010/inOutOrderCntInit.action", null, null, false);

  masterGridTotalData.value = {
    ORD_IN_CNT_INIT: statisticsResult.result.DS_CNT.ORD_IN_CNT_INIT != null ? statisticsResult.result.DS_CNT.ORD_IN_CNT_INIT : "-",
    ORD_OUT_CNT_INIT: statisticsResult.result.DS_CNT.ORD_OUT_CNT_INIT != null ? statisticsResult.result.DS_CNT.ORD_OUT_CNT_INIT : "-",
    WORK_IN_CNT_INIT: statisticsResult.result.DS_CNT.WORK_IN_CNT_INIT != null ? statisticsResult.result.DS_CNT.WORK_IN_CNT_INIT : "-",
    WORK_OUT_CNT_INIT: statisticsResult.result.DS_CNT.WORK_OUT_CNT_INIT != null ? statisticsResult.result.DS_CNT.WORK_OUT_CNT_INIT : "-",
  };
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

// User Function Definitions

const isSearch = ref();

async function getMasterData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/rest/WMSOP010/list.action", apiParams, bodyData.value, false);
  isSearch.value = res.status;

  if (useSearchConditionStore().getSearchInputValue()["vrSrchYearChk"] == "on") {
    apiParams.vrSrchYearVal = "Y";
  } else {
    apiParams.vrSrchYearVal = "N";
  }

  detailGridApi.value?.setRowData([]);

  return res;
}
async function getDetailData(apiParams: any, bodyData: any) {
  if (isSearch.value) {
    return await ApiService.postApi("/rest/WMSOP010/listSub.action", apiParams, bodyData.value, false);
  }
  return;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss">
#WMSOP010-page > div.form-container-grid > div:nth-child(1) > div > div.grid-header.WMSOP010-grid {
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right, #374a8c, #374a8c 30%, #ffffff 90%);
    height: 33px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

// .grid-header {
//   // background: linear-gradient(to right, $main-menu-sub, $main-menu-sub 30%, #ffffff 50%);
//   background-color: black !important;
// }
</style>
