<template>
  <multiTabModalLayout :multiTabInfo="multiTabInfo" :disabledTab="disabledTab" />
</template>

<script setup lang="ts">
import { multiTabModalLayout } from "@/components/layout";

const disabledTab = {
  isDisabled: new URL(window.location.href).searchParams.get("vrOrdId") ? true : false,
  disabledTabList: ["simple-shipping-order"],
};

const multiTabInfo = {
  queryStringList: ["vrOrdId", "vrSrchCustId", "vrSrchCustCd", "vrSrchCustNm"],
  route: [
    {
      id: "shipping-order",
      title: "order",
      path: "shipping-order",
    },
    {
      id: "simple-shipping-order",
      title: "simple-shipping-order",
      path: "simple-shipping-order",
    },
  ],
};
</script>

<style lang="scss" scoped></style>
