<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	shipping-order.vue
 *  Description:    입출고관리(통합)- 출고관리(B2C)페이지에서 신규버튼 클릭시 노출되는 출고주문 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS `
-------------------------------->
<template>
  <div id="shipping-order" class="shipping-order">
    <div class="shipping-order-container">
      <!--검색 인풋영역-->
      <div class="" ref="searchComponentRef">
        <search-container @setIsMore="setIsMore" :isMore="isMore" :data="ORDER_SEARCH_INPUT" :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(ORDER_SEARCH_INPUT)" :use-setting="false" :un-used-refresh-button="true">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in ORDER_SEARCH_INPUT" :key="i">
              <search-container-input :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'" :data="props" :columnDefs="ORDER_MODAL_COLUMN_DEFS[props.title]" :modalData="ORDER_SEARCH_MODAL_INFO[props.title]" :pageInfo="null" />
            </template>
          </template>
        </search-container>
      </div>
      <!--컨트롤버튼 영역-->
      <div class="shipping-order-control">
        <template v-for="btnData in ORDER_CONTROL_BUTTON" :key="btnData.title">
          <template v-if="btnData.title === 'logistics-container-list' && vrOrdIdQueryString">
            <control-button :data="btnData" :setOnlyGridViewParams="setOnlyGridViewParams" />
          </template>
          <template v-if="btnData.title === 'reset' && !vrOrdIdQueryString">
            <control-button :data="btnData" :resetGridRowData="resetGridRowData" />
          </template>
          <template v-if="!(btnData.title === 'reset' || btnData.title === 'logistics-container-list')">
            <control-button :data="btnData" :addRowData="addRowData" :newDestinations="newDestinations" :deleteRowData="deleteRowData" />
          </template>
        </template>
      </div>
      <!--그리드영역-->
      <div class="" ref="formContainerRef">
        <div class="shipping-order-grid">
          <div class="grid-header">{{ t("grid-title.detailed-listing") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size top-grid" :gridOptions="topGridOptions" :context="{ ...GRID_CELL_SELECT_BOX, ...GRID_CELL_SEARCH_BUTTON }" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e, 'top')" class="page-size">
              <option v-for="(option, i) in topPagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ topTotalRows }}</span>
          </div>
        </div>
        <div class="shipping-order-grid">
          <div class="grid-header">{{ t("grid-title.location") }}</div>
          <ag-grid-vue class="ag-theme-alpine ag-grid-size bottom-grid" :gridOptions="bottomGridOptions" />
          <div class="ag-paging-custom">
            <select @change="(e) => onPageSizeChanged(e, 'bottom')" class="page-size">
              <option v-for="(option, i) in bottomPagingOptions" :key="i" :value="option">{{ option }}</option>
            </select>
            <span>Total : {{ bottomTotalRows }}</span>
          </div>
        </div>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
        <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
      </div>
      <!--물류용기목록 조회 모달-->
      <only-grid-view v-if="openModal.isOnlyGridViewModal" :setOnlyGridViewParams="setOnlyGridViewParams" @close="(e: any) => {openModal.isOnlyGridViewModal = e;}" />
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useFormHeightStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import { SearchContainer } from "@/components/layout";
import onlyGridView from "../only-grid-view.vue";

import { IAvailableOptionsUtilParams } from "@/types";
import { IServerSideGetRowsParams } from "ag-grid-community";
import { ONLY_GRID_VIEW_COLUMN_DEFS, ORDER_BOTTOM_GRID_COL_DEF, ORDER_MODAL_COLUMN_DEFS, ORDER_TOP_GRID_COL_DEF } from "./column-defs";
import { GRID_CELL_SEARCH_BUTTON, GRID_CELL_SELECT_BOX, ORDER_CONTROL_BUTTON, ORDER_SEARCH_INPUT, ORDER_SEARCH_MODAL_INFO } from "./input";

// Variable Definitions
const selectedItems = reactive({ value: [] as any });
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const topPagingOptions = UtilService.getGridPagingOptions("WMSOP910_NEW_POPUP_TOP");
const topPagingSize = ref<number>(topPagingOptions![0]);
const topTotalRows = ref<number>(0);
const bottomPagingOptions = UtilService.getGridPagingOptions("WMSOP910_NEW_POPUP_BOTTOM");
const bottomPagingSize = ref<number>(bottomPagingOptions![0]);
const bottomTotalRows = ref<number>(0);
const currentTopGridData = reactive({ value: {} } as { value: any });
const pageData = reactive({ value: {} } as { value: any });
const openModal = reactive({ isOnlyGridViewModal: false as boolean });
const vrOrdIdQueryString = new URL(window.location.href).searchParams.get("vrOrdId"); // 조건문이나 html코드 영역에서 더블클릭으로 열렸는지 구분하기 위함
const isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement);
const formContainerRef = ref(null as null | any);
const inactive = ref<boolean>(false);
const displayInputCount = UtilService.getShowInputCount(2, ORDER_SEARCH_INPUT) as number;

let topTempCount = 0;

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  topGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
  bottomGridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  // grid editColumn tab event제거
  topGridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });

  // grid editColumn tab event제거
  bottomGridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });

  // options 요청
  const res = await ApiService.postApi(`/WINUS/WMSOM120_rn.action`, {}, UtilService.getOptionApiData(`WMSOM120_rn`));
  if (res.status) {
    if (res.result.selectBoxInfos) {
      res.result.selectBoxInfos.vrSrchOrderPhase = Array.from(new Set(res.result.selectBoxInfos.vrOrdSubtype));

      const vrSrchOrderPhaseOptionsUtilParam: IAvailableOptionsUtilParams[] = [
        {
          inputId: "vrSrchOrderPhase",
          availableList: ["30", "33", "39", "121", "130", "131", "132", "133", "134", "140", "141", "142", "143", "164"],
        },
      ];

      UtilService.setAvailableOptions(res.result.selectBoxInfos, vrSrchOrderPhaseOptionsUtilParam);
      useOptionDataStore().setOptionData(res.result.selectBoxInfos);
    }
  }

  // options 요청
  const optionsApiResponse = await ApiService.postApi("/WMSOP999T6_rn.action", {}, UtilService.getOptionApiData("WMSOP999T6_rn"));

  useOptionDataStore().setOptionData(optionsApiResponse);

  // 그리드 더블클릭으로 오픈된 경우.
  if (vrOrdIdQueryString) {
    // 그리드 데이터 요청 및 셋팅
    topGridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        setPagingBodyData(params, "top");
        const gridDataResponse = await ApiService.postApi("/WMSOP999/listInOrderItem_rn.action", { vrOrdId: vrOrdIdQueryString }, bodyData.value);
        if (gridDataResponse.status) {
          if (gridDataResponse.result.list.length > 0) {
            UtilService.setGridData("server-side", topGridOptions.api, { gridDataArray: gridDataResponse.result.list, totalCount: UtilService.resetGridDataTotalCount(gridDataResponse, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", topGridOptions.api, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", topGridOptions.api, null, params);
        }
      },
    });

    // search영역 값 셋팅
    const searchInputResponse = await ApiService.postApi("/WMSOP999/listOrderDetail_rn.action", {}, { vrOrdId: vrOrdIdQueryString });

    if (searchInputResponse.status) {
      const searchInputValue = searchInputResponse.result.DETAIL;
      pageData.value = searchInputValue;
      // 모달데이터 값 셋팅
      useSelectedDataStore().selectedModalHandler({
        owner: { CUST_CD: searchInputValue.CUST_CD, CUST_NM: searchInputValue.CUST_NM, CUST_ID: searchInputValue.CUST_ID },
      });
      useSelectedDataStore().selectedModalHandler({
        ["delivery-destination"]: { CODE: searchInputValue.TRANS_CUST_CD, NAME: searchInputValue.TRANS_CUST_NM, ID: searchInputValue.TRANS_CUST_ID },
      });
      useSelectedDataStore().selectedModalHandler({
        ["shipping-warehouse"]: { WH_CD: searchInputValue.OUT_WH_CD, WH_NM: searchInputValue.OUT_WH_NM, WH_ID: searchInputValue.OUT_WH_ID },
      });

      // 검색인풋 값 셋팅
      useSearchConditionStore().changeSearchInputValue("vrSrchCustCd", searchInputValue.CUST_CD || "");
      useSearchConditionStore().changeSearchInputValue("vrSrchCustNm", searchInputValue.CUST_NM || "");
      useSearchConditionStore().changeSearchInputValue("vrSrchCustId", searchInputValue.CUST_ID || "");
      useSearchConditionStore().changeSearchInputValue("vrCalOutReqDt", searchInputValue.OUT_REQ_DT || "");
      useSearchConditionStore().changeSearchInputValue("vrBlNo", searchInputValue.BL_NO || "");
      useSearchConditionStore().changeSearchInputValue("vrTransCustCd", searchInputValue.TRANS_CUST_CD || "");
      useSearchConditionStore().changeSearchInputValue("vrTransCustNm", searchInputValue.TRANS_CUST_NM || "");
      useSearchConditionStore().changeSearchInputValue("vrTransCustId", searchInputValue.TRANS_CUST_ID || "");
      useSearchConditionStore().changeSearchInputValue("vrOrdSubType", searchInputValue.ORD_SUBTYPE || "");
      useSearchConditionStore().changeSearchInputValue("vrPayYn", searchInputValue.PAY_YN || "");
      useSearchConditionStore().changeSearchInputValue("vrOrgOrdId", searchInputValue.ORG_ORD_ID || "");
      useSearchConditionStore().changeSearchInputValue("vrKinOutYn", searchInputValue.KIN_OUT_YN || "");
      useSearchConditionStore().changeSearchInputValue("vrOutWhCd", searchInputValue.OUT_WH_CD || "");
      useSearchConditionStore().changeSearchInputValue("vrOutWhNm", searchInputValue.OUT_WH_NM || "");
      useSearchConditionStore().changeSearchInputValue("vrOutWhId", searchInputValue.OUT_WH_ID || "");
      useSearchConditionStore().changeSearchInputValue("vrCalInReqDt", searchInputValue.ASN_IN_REQ_DT || "");
      useSearchConditionStore().changeSearchInputValue("vrCntrNoM", searchInputValue.CNTR_NO_M || "");
      useSearchConditionStore().changeSearchInputValue("vrCntrSealNoM", searchInputValue.CNTR_SEAL_NO || "");
      useSearchConditionStore().changeSearchInputValue("inReqDt", searchInputValue.IN_REQ_DT || "");
      useSearchConditionStore().changeSearchInputValue("inDt", searchInputValue.IN_DT || "");
      useSearchConditionStore().changeSearchInputValue("custPoid", searchInputValue.CUST_POID || "");
      useSearchConditionStore().changeSearchInputValue("custPoseq", searchInputValue.CUST_POSEQ || "");
      useSearchConditionStore().changeSearchInputValue("orgOrdSeq", searchInputValue.ORG_ORD_SEQ || "");
      useSearchConditionStore().changeSearchInputValue("inWhId", searchInputValue.IN_WH_ID || "");
      useSearchConditionStore().changeSearchInputValue("pdaFinishYn", searchInputValue.PDA_FINISH_YN || "");
      useSearchConditionStore().changeSearchInputValue("outDt", searchInputValue.OUT_DT || "");
      useSearchConditionStore().changeSearchInputValue("pdaStat", searchInputValue.PDA_STAT || "");
      useSearchConditionStore().changeSearchInputValue("workSeq", searchInputValue.WORK_SEQ || "");
      useSearchConditionStore().changeSearchInputValue("capaTot", searchInputValue.CAPA_TOT || "");
      useSearchConditionStore().changeSearchInputValue("carConfYn", searchInputValue.CAR_CONF_YN || "");
      useSearchConditionStore().changeSearchInputValue("tplOrdId", searchInputValue.TPL_ORD_ID || "");
      useSearchConditionStore().changeSearchInputValue("vrSrchSalesCustNm", searchInputValue.D_CUST_NM || "");
      useSearchConditionStore().changeSearchInputValue("vrSrchBuyPhone1", searchInputValue.D_MOBILE || "");
      useSearchConditionStore().changeSearchInputValue("vrSrchPhone1", searchInputValue.D_TEL || "");
      useSearchConditionStore().changeSearchInputValue("vrSrchZip", searchInputValue.D_POST || "");
      useSearchConditionStore().changeSearchInputValue("vrSrchAddr1", searchInputValue.D_ADDRESS || "");
      useSearchConditionStore().changeSearchInputValue("vrSrchDlvMsg1", searchInputValue.DLV_MSG1 || "");
      useSearchConditionStore().changeSearchInputValue("vrSrchDataSenderNm", searchInputValue.DATA_SENDER_NM || "");
      // 마운트시 일부 인풋값 바인딩이 하드코딩으로 되어있음
      useSearchConditionStore().changeSearchInputValue("vrOrdType", "02");
      useSearchConditionStore().changeSearchInputValue("vrWorkStat", "100");
    }
  } else {
    const CUST_CD = new URL(window.location.href).searchParams.get("vrSrchCustCd");
    const CUST_NM = new URL(window.location.href).searchParams.get("vrSrchCustNm");
    const CUST_ID = new URL(window.location.href).searchParams.get("vrSrchCustId");

    // 모달데이터 값 셋팅
    useSelectedDataStore().selectedModalHandler({
      owner: { CUST_CD, CUST_NM, CUST_ID },
    });
  }
});

onMounted(() => {
  useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("shipping-order")));

  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

// 상단 그리드 클릭시 하단 그리드 데이터 요청
watch(currentTopGridData, async () => {
  if (!inactive.value) {
    await searchBottomGridData();
  }
});

onActivated(() => {
  useTabsStore().selectTab(
    {
      id: "shipping-order",
      title: "order",
      path: "shipping-order",
    },
    true
  );
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions

function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("shipping-order"));
  }, 300);
}

const topOnGridReady = () => {
  topGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      UtilService.setGridData("server-side", topGridOptions.api, null, params);
    },
  });
};
const bottomGridReady = () => {};

const onPaginationChanged = (gridType: string) => {
  if (gridType === "top" && topGridOptions.api) {
    topTotalRows.value = topGridOptions.api?.paginationGetRowCount();
  } else if (gridType === "bottom" && bottomGridOptions.api) {
    bottomTotalRows.value = bottomGridOptions.api?.paginationGetRowCount();
  }
};

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event, gridType: any) {
  const target = e.target as HTMLSelectElement;

  if (gridType === "top") {
    topGridOptions.api?.paginationSetPageSize(Number(target.value));
    topGridOptions.api?.setCacheBlockSize(Number(target.value));
    topPagingSize.value = Number(target.value);
  } else if ((gridType === "bottom")) {
    bottomGridOptions.api?.paginationSetPageSize(Number(target.value));
    bottomGridOptions.api?.setCacheBlockSize(Number(target.value));
    bottomPagingSize.value = Number(target.value);
  }
}

const topGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: ORDER_TOP_GRID_COL_DEF,
  onGridReady: topOnGridReady,
  onRowSelected: onSelectionChanged,
  onCellClicked: topOnCellClicked,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  suppressClickEdit: true,
  onPaginationChanged: () => {
    onPaginationChanged("top");
  },
  pagination: true,
  paginationPageSize: topPagingOptions![0],
  cacheBlockSize: topPagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  groupSelectsChildren: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(topGridOptions.api?.getSelectedRows());
  },
};

const bottomGridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  columnDefs: ORDER_BOTTOM_GRID_COL_DEF,
  onGridReady: bottomGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  suppressClickEdit: true,
  rowModelType: "serverSide",
  onPaginationChanged: () => {
    onPaginationChanged("bottom");
  },
  pagination: true,
  paginationPageSize: bottomPagingOptions![0],
  cacheBlockSize: bottomPagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(topGridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(topGridOptions.api?.getSelectedRows());
}

function topOnCellClicked(params: any) {
  currentTopGridData.value = params.data;
}

// 바텀 그리드 검색
async function searchBottomGridData() {
  const targetValue = "temp";

  const regex = new RegExp(targetValue);
  if (regex.test(currentTopGridData.value.RNUM)) {
    return;
  }

  bottomGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params, "bottom");
      const gridDataResponse = await ApiService.postApi("/WMSOP999/listLocSearch_rn.action", { vrOrdId: currentTopGridData.value.ORD_ID, vrOrdSeq: currentTopGridData.value.ORD_SEQ }, bodyData.value);
      if (gridDataResponse.status) {
        if (gridDataResponse.result.list.length > 0) {
          UtilService.setGridData("server-side", bottomGridOptions.api, { gridDataArray: gridDataResponse.result.list, totalCount: UtilService.resetGridDataTotalCount(gridDataResponse, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", bottomGridOptions.api, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
        }
      } else {
        UtilService.setGridData("server-side", bottomGridOptions.api, null, params);
      }
    },
  });
}

// 저장
async function save() {
  selectedItems.value = topGridOptions.api?.getSelectedRows();

  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(ORDER_SEARCH_INPUT, useSearchConditionStore(), useSelectedDataStore());

  if (searchInputRequiredValidation) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(topGridOptions.api);
  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
  }

  const bodyData: any = {
    vrCalETD: useSearchConditionStore().getSearchInputValue().etdDt || "",
    vrCalETA: useSearchConditionStore().getSearchInputValue().etaDt || "",
    vrOrdId: vrOrdIdQueryString || useSearchConditionStore().getSearchInputValue().vrOrgOrdId || "",
    vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
    vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
    vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
    vrSrchCustLotUse: String(useSearchConditionStore().getSearchInputValue().vrSrchCustLotUse || ""),
    vrSrchClientNecYn: String(useSearchConditionStore().getSearchInputValue().vrSrchClientNecYn || ""),
    vrCalOutReqDt: String(useSearchConditionStore().getSearchInputValue().vrCalOutReqDt || ""),
    // vrSrchOrdDegree: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdDegree || ""),
    vrBlNo: String(useSearchConditionStore().getSearchInputValue().vrBlNo || ""),
    vrTransCustCd: useSelectedDataStore().getSelectedModalData()["delivery-destination"]?.CUST_CD || "",
    vrTransCustNm: useSelectedDataStore().getSelectedModalData()["delivery-destination"]?.CUST_NM || "",
    vrTransCustId: useSelectedDataStore().getSelectedModalData()["delivery-destination"]?.CUST_ID || "",
    vrOrdSubType: String(useSearchConditionStore().getSearchInputValue().vrOrdSubType || ""),
    vrPayYn: String(useSearchConditionStore().getSearchInputValue().vrPayYn || ""),
    vrOrgOrdId: String(useSearchConditionStore().getSearchInputValue().vrOrgOrdId || ""),
    vrKinOutYn: String(useSearchConditionStore().getSearchInputValue().vrKinOutYn || ""),
    vrOutWhCd: useSelectedDataStore().getSelectedModalData()["shipping-warehouse"]?.WH_CD || "",
    vrOutWhNm: useSelectedDataStore().getSelectedModalData()["shipping-warehouse"]?.WH_NM || "",
    vrOutWhId: useSelectedDataStore().getSelectedModalData()["shipping-warehouse"]?.WH_ID || "",
    vrCalInReqDt: String(useSearchConditionStore().getSearchInputValue().vrCalInReqDt || ""),
    vrCntrNoM: String(useSearchConditionStore().getSearchInputValue().vrCntrNoM || ""),
    vrCntrSealNoM: String(useSearchConditionStore().getSearchInputValue().vrCntrSealNoM || ""),
    // vrSrchSalesCustNm: String(useSearchConditionStore().getSearchInputValue().vrSrchSalesCustNm || ""),
    // vrSrchBuyPhone1: String(useSearchConditionStore().getSearchInputValue().vrSrchBuyPhone1 || ""),
    // vrSrchPhone1: String(useSearchConditionStore().getSearchInputValue().vrSrchPhone1 || ""),
    // vrSrchZip: String(useSearchConditionStore().getSearchInputValue().vrSrchZip || ""),
    // vrSrchDataSenderNm: String(useSearchConditionStore().getSearchInputValue().vrSrchDataSenderNm || ""),
    // vrSrchAddr1: String(useSearchConditionStore().getSearchInputValue().vrSrchAddr1 || ""),
    // vrSrchDlvMsg1: String(useSearchConditionStore().getSearchInputValue().vrSrchDlvMsg1 || ""),
    vrWorkStat: String(useSearchConditionStore().getSearchInputValue().vrWorkStat || ""),
    vrOrdType: String(useSearchConditionStore().getSearchInputValue().vrOrdType || "02"),
    vrApproveYn: String(useSearchConditionStore().getSearchInputValue().vrApproveYn || "N"),
    inReqDt: String(useSearchConditionStore().getSearchInputValue().inReqDt || ""),
    inDt: String(useSearchConditionStore().getSearchInputValue().inDt || ""),
    custPoid: String(useSearchConditionStore().getSearchInputValue().custPoid || ""),
    custPoseq: String(useSearchConditionStore().getSearchInputValue().custPoseq || ""),
    orgOrdSeq: String(useSearchConditionStore().getSearchInputValue().orgOrdSeq || ""),
    inWhId: String(useSearchConditionStore().getSearchInputValue().inWhId || ""),
    pdaFinishYn: String(useSearchConditionStore().getSearchInputValue().pdaFinishYn || ""),
    outDt: String(useSearchConditionStore().getSearchInputValue().outDt || ""),
    pdaStat: String(useSearchConditionStore().getSearchInputValue().pdaStat || ""),
    workSeq: String(useSearchConditionStore().getSearchInputValue().workSeq || ""),
    capaTot: String(useSearchConditionStore().getSearchInputValue().capaTot || "0"),
    carConfYn: String(useSearchConditionStore().getSearchInputValue().carConfYn || ""),
    tplOrdId: String(useSearchConditionStore().getSearchInputValue().tplOrdId || ""),
    D_selectIds: "0",
    I_selectIds: String(selectedItems.value.length),
  };

  for (let i = 0; selectedItems.value.length > i; i++) {
    if (String(selectedItems.value[i].RNUM).includes("temp")) {
      bodyData["I_ST_GUBUN" + [i]] = "INSERT";
    } else {
      bodyData["I_ST_GUBUN" + [i]] = "UPDATE";
    }
    bodyData["I_ORD_SEQ" + [i]] = String(selectedItems.value[i].ORD_SEQ || "");
    bodyData["I_RITEM_ID" + [i]] = String(selectedItems.value[i].RITEM_ID || "");
    bodyData["I_CUST_LOT_NO" + [i]] = String(selectedItems.value[i].CUST_LOT_NO || "");
    bodyData["I_REAL_IN_QTY" + [i]] = String(selectedItems.value[i].REAL_IN_QTY || "");
    bodyData["I_REAL_OUT_QTY" + [i]] = String(selectedItems.value[i].REAL_OUT_QTY || "");
    bodyData["I_MAKE_DT" + [i]] = String(selectedItems.value[i].MAKE_DT || "");
    bodyData["I_TIME_PERIOD_DAY" + [i]] = String(selectedItems.value[i].TIME_PERIOD_DAY || "");
    bodyData["I_LOC_YN" + [i]] = String(selectedItems.value[i].LOC_YN || "");
    bodyData["I_PDA_CD" + [i]] = String(selectedItems.value[i].PDA_CD || "");
    bodyData["I_WORK_YN" + [i]] = String(selectedItems.value[i].WORK_YN || "");
    bodyData["I_RJ_TYPE" + [i]] = String(selectedItems.value[i].RJ_TYPE || "");
    bodyData["I_REAL_PLT_QTY" + [i]] = String(selectedItems.value[i].REAL_PLT_QTY || "");
    bodyData["I_REAL_BOX_QTY" + [i]] = String(selectedItems.value[i].REAL_BOX_QTY || "");
    bodyData["I_CONF_YN" + [i]] = String(selectedItems.value[i].CONF_YN || "");
    // bodyData["I_LOC_CD" + [i]] = String(selectedItems.value[i].LOC_CD || "");
    // bodyData["I_EP_TYPE" + [i]] = String(selectedItems.value[i].EP_TYPE || "");
    bodyData["I_UNIT_AMT" + [i]] = String(selectedItems.value[i].UNIT_AMT || "");
    bodyData["I_AMT" + [i]] = String(selectedItems.value[i].AMT || "");
    bodyData["I_EA_CAPA" + [i]] = String(selectedItems.value[i].EA_CAPA || "");
    bodyData["I_BOX_BARCODE" + [i]] = String(selectedItems.value[i].BOX_BARCODE || "");
    bodyData["I_IN_ORD_UOM_ID" + [i]] = String(selectedItems.value[i].IN_ORD_UOM_ID || selectedItems.value[i].UOM_ID || "");
    bodyData["I_OUT_ORD_UOM_ID" + [i]] = String(selectedItems.value[i].OUT_ORD_UOM_ID || selectedItems.value[i].UOM_ID || "");
    bodyData["I_OUT_WORK_UOM_ID" + [i]] = String(selectedItems.value[i].OUT_ORD_UOM_ID || selectedItems.value[i].UOM_ID || "");
    bodyData["I_IN_ORD_QTY" + [i]] = String("");
    bodyData["I_OUT_ORD_QTY" + [i]] = String("");
    bodyData["I_OUT_ORD_WEIGHT" + [i]] = String(selectedItems.value[i].OUT_ORD_WEIGHT || "");
    bodyData["I_OUT_WORK_ORD_QTY" + [i]] = String(selectedItems.value[i].OUT_ORD_QTY || "");
    bodyData["I_ORD_DESC" + [i]] = String(selectedItems.value[i].ORD_DESC || "");
    bodyData["I_ETC2" + [i]] = String(selectedItems.value[i].ETC2 || "");
    bodyData["I_MIN_UOM_ID" + [i]] = String(selectedItems.value[i].MIN_UOM_ID || "");
    bodyData["I_IN_DSP_QTY" + [i]] = String(selectedItems.value[i].IN_DSP_QTY || "");
    bodyData["I_OUT_DSP_QTY" + [i]] = String(selectedItems.value[i].OUT_DSP_QTY || "");
    bodyData["I_REF_SUB_LOT_ID" + [i]] = String(selectedItems.value[i].REF_SUB_LOT_ID || "");
    bodyData["I_ITEM_BEST_DATE" + [i]] = String(selectedItems.value[i].ITEM_BEST_DATE || "");
    bodyData["I_ITEM_BEST_DATE_END" + [i]] = String(selectedItems.value[i].ITEM_BEST_DATE_END || "");
    bodyData["I_CNTR_ID" + [i]] = String(selectedItems.value[i].CNTR_ID || "");
    bodyData["I_CNTR_NO" + [i]] = String(selectedItems.value[i].CNTR_NO || "");
    bodyData["I_CNTR_TYPE" + [i]] = String(selectedItems.value[i].CNTR_TYPE || "");
    bodyData["I_CNTR_SEAL_NO" + [i]] = String(selectedItems.value[i].CNTR_SEAL_NO || "");
  }

  const res = await ApiService.postApi("/WMSOP999/saveOutOrder_rn.action", {}, bodyData);
  // 저장시 같이 호출되는 api
  await ApiService.postApi("/WMSOP999/etcSaveV2_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      UtilService.setOpenerPostMessageForGetGridData();
      // setTimeout(() => {
      //   closePopup();
      // }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 삭제
async function deleteRowData() {
  selectedItems.value = topGridOptions.api?.getSelectedRows();

  if (selectedItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  // 운영서버 참고 유효성검사
  for (let i = 0; selectedItems.value.length > i; i++) {
    if (String(selectedItems.value[i].WORK_STAT) !== "100") {
      return useToast().warning(t("common-toast.unavailable-delete-receiving-order", { line: i + 1 }));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  const bodyData: any = {
    vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
    vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
    vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
    vrSrchCustLotUse: String(useSearchConditionStore().getSearchInputValue().vrSrchCustLotUse || ""),
    vrSrchClientNecYn: String(useSearchConditionStore().getSearchInputValue().vrSrchClientNecYn || ""),
    vrCalOutReqDt: String(useSearchConditionStore().getSearchInputValue().vrCalOutReqDt || ""),
    vrSrchOrdDegree: String(useSearchConditionStore().getSearchInputValue().vrSrchOrdDegree || ""),
    vrBlNo: String(useSearchConditionStore().getSearchInputValue().vrBlNo || ""),
    vrTransCustCd: useSelectedDataStore().getSelectedModalData()["delivery-destination"]?.CODE || "",
    vrTransCustNm: useSelectedDataStore().getSelectedModalData()["delivery-destination"]?.NAME || "",
    vrTransCustId: useSelectedDataStore().getSelectedModalData()["delivery-destination"]?.ID || "",
    vrOrdSubType: String(useSearchConditionStore().getSearchInputValue().vrOrdSubType || ""),
    vrPayYn: String(useSearchConditionStore().getSearchInputValue().vrPayYn || ""),
    vrOrgOrdId: String(useSearchConditionStore().getSearchInputValue().vrOrgOrdId || ""),
    vrKinOutYn: String(useSearchConditionStore().getSearchInputValue().vrKinOutYn || ""),
    vrOutWhCd: useSelectedDataStore().getSelectedModalData()["shipping-warehouse"]?.WH_CD || "",
    vrOutWhNm: useSelectedDataStore().getSelectedModalData()["shipping-warehouse"]?.WH_NM || "",
    vrOutWhId: useSelectedDataStore().getSelectedModalData()["shipping-warehouse"]?.WH_ID || "",
    vrCalInReqDt: String(useSearchConditionStore().getSearchInputValue().vrCalInReqDt || ""),
    vrCntrNoM: String(useSearchConditionStore().getSearchInputValue().vrCntrNoM || ""),
    vrCntrSealNoM: String(useSearchConditionStore().getSearchInputValue().vrCntrSealNoM || ""),
    vrSrchSalesCustNm: String(useSearchConditionStore().getSearchInputValue().vrSrchSalesCustNm || ""),
    vrSrchBuyPhone1: String(useSearchConditionStore().getSearchInputValue().vrSrchBuyPhone1 || ""),
    vrSrchPhone1: String(useSearchConditionStore().getSearchInputValue().vrSrchPhone1 || ""),
    vrSrchZip: String(useSearchConditionStore().getSearchInputValue().vrSrchZip || ""),
    vrSrchDataSenderNm: String(useSearchConditionStore().getSearchInputValue().vrSrchDataSenderNm || ""),
    vrSrchAddr1: String(useSearchConditionStore().getSearchInputValue().vrSrchAddr1 || ""),
    vrSrchDlvMsg1: String(useSearchConditionStore().getSearchInputValue().vrSrchDlvMsg1 || ""),
    vrWorkStat: "100",
    vrOrdType: String(useSearchConditionStore().getSearchInputValue().vrOrdType || ""),
    vrApproveYn: String(useSearchConditionStore().getSearchInputValue().vrApproveYn || ""),
    inReqDt: String(useSearchConditionStore().getSearchInputValue().inReqDt || ""),
    inDt: String(useSearchConditionStore().getSearchInputValue().inDt || ""),
    custPoid: String(useSearchConditionStore().getSearchInputValue().custPoid || ""),
    custPoseq: String(useSearchConditionStore().getSearchInputValue().custPoseq || ""),
    orgOrdSeq: String(useSearchConditionStore().getSearchInputValue().orgOrdSeq || ""),
    inWhId: String(useSearchConditionStore().getSearchInputValue().inWhId || ""),
    pdaFinishYn: String(useSearchConditionStore().getSearchInputValue().pdaFinishYn || ""),
    outDt: String(useSearchConditionStore().getSearchInputValue().outDt || ""),
    pdaStat: String(useSearchConditionStore().getSearchInputValue().pdaStat || ""),
    workSeq: String(useSearchConditionStore().getSearchInputValue().workSeq || ""),
    capaTot: String(useSearchConditionStore().getSearchInputValue().capaTot || ""),
    carConfYn: String(useSearchConditionStore().getSearchInputValue().carConfYn || ""),
    tplOrdId: String(useSearchConditionStore().getSearchInputValue().tplOrdId || ""),
    D_selectIds: String(selectedItems.value.length),
    I_selectIds: "0",
  };

  for (let i = 0; selectedItems.value.length > i; i++) {
    for (let i = 0; selectedItems.value.length > i; i++) {
      bodyData["D_ST_GUBUN" + [i]] = "DELETE";
      bodyData["D_ORD_ID" + [i]] = String(selectedItems.value[i].ORD_ID || "");
      bodyData["D_ORD_SEQ" + [i]] = String(selectedItems.value[i].ORD_SEQ || "");
    }
  }

  const res = await ApiService.postApi("/WMSOP999/saveOutOrder_rn.action", {}, bodyData);

  if (res.status) {
    if (res.result.errCnt == 0) {
      useToast().success(res.result.MSG);
      UtilService.setOpenerPostMessageForGetGridData();
      setTimeout(() => {
        closePopup();
      }, 1500);
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 신규배송처
function newDestinations() {
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  UtilService.openWindowPopup(null, `/sales-customer-registration?vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`, { width: 860, height: 480, top: 0, left: 100 }, "salesCustomerRegistration");
}

// 신규
function addRowData() {
  const RNUM = `temp${topTempCount}`;

  const newRowData = [{ RNUM: RNUM }];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(topGridOptions.api?.paginationGetCurrentPage()) + 1) * Number(topGridOptions.api?.paginationGetPageSize()) - Number(topGridOptions.api?.paginationGetPageSize());

  topGridOptions.api?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });

  topTempCount++;
  topGridOptions.api?.getRowNode(String(RNUM))?.setSelected(true);
  topGridOptions.api?.refreshCells({ columns: ["NO"], suppressFlash: true });
  setTimeout(() => {
    useSelectedDataStore().changeSelectedDataList(topGridOptions.api?.getSelectedRows());
  }, 50);
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== topGridOptions.api?.getSelectedRows().length) {
      topGridOptions.api?.__updateProperty("groupSelectsChildren", true, false);
      selectedItems.value = topGridOptions.api?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(topGridOptions.api?.getSelectedRows());
    }
  } else {
    selectedItems.value = topGridOptions.api?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(topGridOptions.api?.getSelectedRows());
  }
}

// 초기화
function resetGridRowData() {
  topTempCount = 0;
  topGridOptions.api?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      UtilService.setGridData("server-side", topGridOptions.api, null, params);
      addRowData();
    },
  });
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}

function setPagingBodyData(params: any, gridPosition: string) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;
  bodyData.value = {
    rows: String(gridPosition === "top" ? topPagingSize.value : bottomPagingSize.value),
    page: String(currentPage),
  };
}

// 물류용기조회 버튼 클릭
function setOnlyGridViewParams() {
  const title = {
    modalTitle: t("modal-title.logistics-container"),
    gridTitle: t("grid-title.logistics-container"),
  };
  const apiUrl = "/WMSPL010E2/list_rn.action";
  const params: any = {
    vrOrdId: vrOrdIdQueryString,
  };
  const pagingInfo = "WMSOP999T2";

  const columnDefs = ONLY_GRID_VIEW_COLUMN_DEFS;

  openModal.isOnlyGridViewModal = true;
  return { title, apiUrl, params, pagingInfo, columnDefs };
}
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.shipping-order {
  padding-top: 20px;
  &-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
  }

  &-container {
  }

  &-search {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-control {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 15px 0 10px 0;
  }

  &-grid {
    position: relative;
    height: calc(50% - 5px);
    .grid-header {
      @include flexbox(row, flex-start, center, nowrap);

      background-color: $main-menu-sub;
      height: 31px;
      padding-left: 13px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: -0.92px;
      color: #fff;

      &:nth-of-type(1) {
        margin-top: 10px;
      }
    }
    .ag-grid-size {
      // height: 200px;
      height: calc(100% - 31px);
    }
  }
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 28px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(100% - 15px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
</style>
