<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	simple-receiving-order.vue
 *  Description:    입고주문 다중 탭 팝업의 간편 입고주문 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div>
    <div id="simple-receiving-order" class="simple-receiving-order">
      <!--검색영역-->
      <div class="" ref="searchComponentRef">
        <search-container @setIsMore="setIsMore" :isMore="isMore" :data="SIMPLE_ORDER_SEARCH_INPUT" :use-more="displayInputCount !== UtilService.getAvailableSearchInputCount(SIMPLE_ORDER_SEARCH_INPUT)" :use-setting="false" :un-used-refresh-button="true">
          <template v-slot:search_input_slot>
            <template v-for="(props, i) in SIMPLE_ORDER_SEARCH_INPUT" :key="i">
              <search-container-input :isShowInput="isMore || displayInputCount >= i ? 'show' : 'hidden'" :data="props" :columnDefs="SIMPLE_ORDER_MODAL_COLUMN_DEFS?.[props.title]" :modalData="SIMPLE_ORDER_SEARCH_MODAL_INFO?.[props.title]" :pageInfo="null" />
            </template>
          </template>
        </search-container>
      </div>
      <!--컨트롤버튼 영역-->
      <control-container>
        <template v-for="btnData in SIMPLE_ORDER_CONTROL_BUTTON" :key="btnData.title">
          <control-button :data="btnData" :newDestinations="newDestinations" />
        </template>
      </control-container>
      <!--그리드영역-->
      <div class="grid-container" ref="formContainerRef">
        <div class="grid-header">{{ $t("grid-title.product-list") }}</div>
        <ag-grid-vue class="ag-theme-alpine ag-grid-size" :gridOptions="gridOptions" />
      </div>

      <div class="ag-paging-custom">
        <select @change="onPageSizeChanged" class="page-size">
          <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
        </select>
        <span>Total : {{ totalRows }}</span>
      </div>
      <!--버튼영역-->
      <div class="buttons">
        <button class="close" @click="() => closePopup()">{{ t("button-name.close") }}</button>
        <button class="save" @click="async () => await save()">{{ t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onActivated, onBeforeMount, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { AgGridVue } from "ag-grid-vue3";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useFormHeightStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

import controlButton from "@/components/button/control-button.vue";
import searchContainerInput from "@/components/input/search-container-input.vue";
import controlContainer from "@/components/layout/control-container.vue";
import searchContainer from "@/components/layout/search-container.vue";

import { IServerSideGetRowsParams } from "ag-grid-community";
import { SIMPLE_ORDER_GRID_COLUMN_DEFS, SIMPLE_ORDER_MODAL_COLUMN_DEFS } from "./column-defs";
import { SIMPLE_ORDER_CONTROL_BUTTON, SIMPLE_ORDER_SEARCH_INPUT, SIMPLE_ORDER_SEARCH_MODAL_INFO } from "./input";

const { t } = useI18n();
const inactive = ref<boolean>(false);
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSMS010");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const selectedItems = reactive({ value: [] as any });
const isMore = ref(false);
const searchComponentRef = ref(null as null | HTMLDivElement);
const formContainerRef = ref(null as null | any);
const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId"); // 신규버튼을 눌렀을때 값 존재
const displayInputCount = UtilService.getShowInputCount(2, SIMPLE_ORDER_SEARCH_INPUT) as number;

// Framework Function Definitions
// 검색결과 그리드에 반영시키기
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  // grid editColumn tab event제거
  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });

  const data = UtilService.getOptionApiData("WMSCM091_rn");
  const res = await ApiService.postApi("/WMSCM091_rn.action", {}, data);

  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }

  // 신규버튼을 통해 열렸을때 검색영역 화주 값 셋팅
  if (vrSrchCustIdQueryString) {
    const vrSrchCustIdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustId");
    const vrSrchCustCdQueryString = new URL(window.location.href).searchParams.get("vrSrchCustCd");
    const vrSrchCustNmQueryString = new URL(window.location.href).searchParams.get("vrSrchCustNm");

    useSelectedDataStore().selectedModalHandler({
      owner: { CUST_ID: vrSrchCustIdQueryString, CUST_CD: vrSrchCustCdQueryString, CUST_NM: vrSrchCustNmQueryString },
    });
  }
  useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("simple-shipping-order")));
});

onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();

  useOptionDataStore().setAvailableWatchBySearchCondition(true);
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

onActivated(() => {
  useTabsStore().selectTab(
    {
      id: "simple-shipping-order",
      title: "simple-shipping-order",
      path: "simple-shipping-order",
    },
    true
  );
  inactive.value = false;
});
onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
function setIsMore(value: boolean) {
  isMore.value = value;
  setTimeout(() => {
    useFormHeightStore().setSearchCompHeight(searchComponentRef.value!.clientHeight + UtilService.getZoomHeight("simple-shipping-order"));
  }, 300);
}

function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
}

const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  onPaginationChanged: onPaginationChanged,
  columnDefs: SIMPLE_ORDER_GRID_COLUMN_DEFS,
  onRowSelected: onSelectionChanged,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  groupSelectsChildren: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

// 저장
async function save() {
  
    selectedItems.value = gridOptions.api?.getSelectedRows();

    if (selectedItems.value.length === 0) {
      return useToast().warning(t("common-toast.select-data-to-save"));
    }

    const searchInputRequiredValidation = UtilService.searchInputRequiredValidation(SIMPLE_ORDER_SEARCH_INPUT, useSearchConditionStore(), useSelectedDataStore());

    if (searchInputRequiredValidation) {
      return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${searchInputRequiredValidation}`) }));
    }

    const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridOptions.api);
    if (!saveEditGridRequiredValidation.status) {
      return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.key }));
    }

    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

    const bodyData: any = {
      calInDt: useSearchConditionStore().getSearchInputValue().calInDt || "",
      vrSrchCustCd: useSelectedDataStore().getSelectedModalData().owner?.CUST_CD || "",
      vrSrchCustNm: useSelectedDataStore().getSelectedModalData().owner?.CUST_NM || "",
      vrSrchCustId: useSelectedDataStore().getSelectedModalData().owner?.CUST_ID || "",
      vrSrchOrderPhase: "20",
      vrSrchItemGrp: useSearchConditionStore().getSearchInputValue().vrSrchItemGrp || "",
      vrSrchWhCd: useSelectedDataStore().getSelectedModalData().warehouse?.WH_CD || "",
      vrSrchWhNm: useSelectedDataStore().getSelectedModalData().warehouse?.WH_NM || "",
      vrSrchWhId: useSelectedDataStore().getSelectedModalData().warehouse?.WH_ID || "",
      vrInCustCd: useSelectedDataStore().getSelectedModalData()["receiving-address"]?.CUST_CD || "",
      vrInCustNm: useSelectedDataStore().getSelectedModalData()["receiving-address"]?.CUST_NM || "",
      vrInCustId: useSelectedDataStore().getSelectedModalData()["receiving-address"]?.CUST_ID || "",
      vrOrdId: "",
      vrApproveYn: "",
      vrWorkStat: "",
      dsMain_rowStatus: "INSERT",
      inDt: "",
      custPoid: "",
      custPoseq: "",
      orgOrdId: "",
      orgOrdSeq: "",
      outWhId: "",
      transCustId: "",
      pdaFinishYn: "",
      workStat: "",
      ordType: "",
      outReqDt: "",
      outDt: "",
      pdaStat: "",
      workSeq: "",
      capaTot: "",
      kinOutYn: "",
      carConfYn: "",
      tplOrdId: "",
      payYn: "",
      blNo: "",
      inCustAddr: "",
      inCustEmpNm: "",
      inCustTel: "",
      selectIds: String(selectedItems.value.length),
    };

    for (let i = 0; selectedItems.value.length > i; i++) {
      bodyData["ST_GUBUN" + [i]] = "INSERT";
      bodyData["ITEM_GRP_ID" + [i]] = String(selectedItems.value[i].ITEM_GRP_ID || "");
      bodyData["ITEM_CODE" + [i]] = String(selectedItems.value[i].ITEM_CODE || "");
      bodyData["ITEM_KOR_NM" + [i]] = String(selectedItems.value[i].ITEM_KOR_NM || "");
      bodyData["STOCK_QTY" + [i]] = String(selectedItems.value[i].STOCK_QTY || "");
      bodyData["EXPIRY_DATE" + [i]] = String(selectedItems.value[i].EXPIRY_DATE || "");
      bodyData["IN_WORK_ORD_QTY" + [i]] = String(selectedItems.value[i].IN_WORK_ORD_QTY || "");
      bodyData["BAD_QTY" + [i]] = String(selectedItems.value[i].BAD_QTY || "");
      bodyData["UOM_NM" + [i]] = String(selectedItems.value[i].UOM_NM || "");
      bodyData["UNIT_PRICE" + [i]] = String(selectedItems.value[i].UNIT_PRICE || "");
      bodyData["WH_NM" + [i]] = String(selectedItems.value[i].WH_NM || "");
      bodyData["RITEM_ID" + [i]] = String(selectedItems.value[i].RITEM_ID || "");
      bodyData["LC_ID" + [i]] = String(selectedItems.value[i].LC_ID || "");
      bodyData["CUST_ID" + [i]] = String(selectedItems.value[i].CUST_ID || "");
      bodyData["REP_UOM_ID" + [i]] = String(selectedItems.value[i].REP_UOM_ID || "");
      bodyData["IN_WORK_UOM_ID" + [i]] = String(selectedItems.value[i].IN_WORK_UOM_ID || "");
      bodyData["OUT_ORD_UOM_ID" + [i]] = String(selectedItems.value[i].OUT_ORD_UOM_ID || "");
      bodyData["REP_UOM_CD" + [i]] = String(selectedItems.value[i].REP_UOM_CD || "");
      bodyData["REP_UOM_NM" + [i]] = String(selectedItems.value[i].REP_UOM_NM || "");
      bodyData["ITEM_ID" + [i]] = String(selectedItems.value[i].ITEM_ID || "");
      bodyData["ITEM_ENG_NM" + [i]] = String(selectedItems.value[i].ITEM_ENG_NM || "");
      bodyData["ITEM_SHORT_NM" + [i]] = String(selectedItems.value[i].ITEM_SHORT_NM || "");
      bodyData["WH_ID" + [i]] = String(selectedItems.value[i].WH_ID || "");
      bodyData["UOM_ID" + [i]] = String(selectedItems.value[i].UOM_ID || "");
      bodyData["IN_WH_ID" + [i]] = String(selectedItems.value[i].IN_WH_ID || "");
      bodyData["PAY_YN" + [i]] = String(selectedItems.value[i].PAY_YN || "N");
    }

    const res = await ApiService.postApi("/WMSOP999/saveSimpleInOrder_rn.action", {}, bodyData);

    if (res.status) {
      if (res.result.errCnt == 0) {
        useToast().success(res.result.MSG);
        UtilService.setOpenerPostMessageForGetGridData();
        setTimeout(() => {
          closePopup();
        }, 1500);
        return;
      } else {
        return useToast().error(res.result.MSG);
      }
    }
  
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridOptions.api?.getSelectedRows().length) {
      selectedItems.value = gridOptions.api?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(selectedItems.value);
    }
  } else {
    selectedItems.value = gridOptions.api?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(selectedItems.value);
  }
}

//검색
async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridOptions.api?.deselectAll();
    const searchConditions = SIMPLE_ORDER_SEARCH_INPUT;

    let apiParams = UtilService.getGridParams(searchConditions, useSelectedDataStore(), useSearchConditionStore());
    apiParams.dsMain_rowStatus = "INSERT";
    gridOptions.api?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        setPagingBodyData(params);
        const gridData = await ApiService.postApi("/WMSOP999/listSimpleInItem_rn.action", apiParams, bodyData.value);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            UtilService.setGridData("server-side", gridOptions.api, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          } else {
            UtilService.setGridData("server-side", gridOptions.api, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridOptions.api, null, params);
        }

        useSearchConditionStore().setAvailableSearchBySearchCondition(false);
      },
    });
  }
}

function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 신규배송처
function newDestinations() {
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  UtilService.openWindowPopup(null, `/sales-customer-registration?vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`, { width: 860, height: 480, top: 0, left: 100 }, "salesCustomerRegistration");
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  window.close();
}
</script>

<style lang="scss" scoped>
.simple-receiving-order {
  padding-top: 20px;
  height: 100%;
}
.ag-grid-size {
  height: calc(100% - 31px);
}
.grid {
  &-container {
    height: calc(100% - 235px);
  }
  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 28px);

  button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 14px 0px;
    width: calc(100% - 15px);
  }
  .close {
    @include btnColorStyle($font-secondary);
  }
  .save {
    @include btnColorStyle($main);
  }
}
</style>
