<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	App.vue
 *  Description:    Vue.js 메인 Application 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <RouterView />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { RouterView } from "vue-router";
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss">
html {
  height: 100%;
  body {
    height: 100%;
    // //zoom: 0.88;
    #app {
      zoom: 0.88;
      height: 100%;
    }
  }
}
</style>
