<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSOM100_1/page.vue
 *  Description:    임가공주문관리 업무 화면
 *  Authors:        S.Y.LIM
 *  Update History:
 *                  2024.06. : Created by S.Y.LIM
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header>
        <div class="search-control-container">
          <control-container>
            <div v-for="btnData in searchCompControlBtn.value" :key="btnData.title">
              <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :key="btnData.title" @clicked="eventHandler[btnData.title]" />
            </div>
          </control-container>
        </div>
      </template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @cellClicked="cellClicked"
      :context="{}">
      <!-- :onCellDoubleClicked="onCellDoubleClicked"
    :readOnlyInputs="SEARCH_META.readOnlyInputs"
    @afterSearchData="afterSearchData"
    @onSelectionChanged="setSelectedItems" -->
      <div class="grid-header"></div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSOM100_1" };
</script>
<script setup lang="ts">
import { onMounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/order/WMSOM100_1/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { CellClickedEvent, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_COMPONENT_CONTROL_BTN, SEARCH_INPUT, SEARCH_META } from "./input.meta";

// Variable Definitions
const { t } = useI18n();
const eventBus = useEventBusStore();
const gridApi = ref<GridApi | undefined>();
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const SelectedDataStore = useSelectedDataStore();
let searchGridData: Function;
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const selectedItems = ref<Record<string, any>>({});
const cellClicked = (e: CellClickedEvent) => {
  SelectedDataStore.selectedInfoHandler(e.data, true);
};
const searchCompControlBtn = reactive({ value: SEARCH_COMPONENT_CONTROL_BTN as any });
const gridControlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  "enter-template-by-customer": fn_orderUploadB2CTrans,
  "b2c-enter-template": fn_orderUploadB2C,
  "order-synchronization": fn_orderSync,
  del: deleteRowData,
};

/* 거래처별 B2C 템플릿 입력 */
function fn_orderUploadB2CTrans() {
  const vrSrchCustIdValue = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  let vrTemplateType = "US";
  let vrSrchCustId = vrSrchCustIdValue;
  let myPageId = "WMSOM100_1";

  let param = `?func=fn_searchE1&vrTemplateType=${vrTemplateType}&vrSrchCustId=${vrSrchCustId}&code_cd=TRANS_CUST_CD&code_nm=TRANS_CUST_NM&option_name=TRANS&myPageId=${myPageId}`;
  let url = `rest/WMSOM100Q2.action${param}`;

  // 전체 URL 인코딩
  let encodedUrl = encodeURIComponent(url);

  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  UtilService.templateImport(
    `/template-input-for-b2c?title=shipping(repacking)B2C-enter-template&${getOwnerDataQueryString()}&saveUrl=/WMSOM100Q2/inExcelUploadTemplateB2CTrans.action&templateType=US&templateMode=customer&url=${encodedUrl}`
  );
}

/* B2C 템플릿 입력 */
function fn_orderUploadB2C() {
  if (UtilService.isEmptyObject(useSelectedDataStore().getSelectedModalData().owner)) {
    useCallModalIdStore().setCallModalId("owner");
    useToast().warning(t("common-toast.please-select-a-owner"));
    return;
  }

  UtilService.templateImport(`/template-input-for-b2c?title=shipping(repacking)B2C-enter-template&${getOwnerDataQueryString()}&saveUrl=/WMSOM100Q1/inExcelUploadTemplateB2C.action&templateType=US`);
}

function getOwnerDataQueryString() {
  const vrSrchCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_ID : "";
  const vrSrchCustCd = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_CD : "";
  const vrSrchCustNm = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.CUST_NM : "";

  return `vrSrchCustId=${vrSrchCustId}&vrSrchCustCd=${vrSrchCustCd}&vrSrchCustNm=${vrSrchCustNm}`;
}

//주문 동기화
async function fn_orderSync() {
  // });
  try {
    const params = useSearchConditionStore().getSearchInputValue();
    const response = await ApiService.getApi("/WMSOM100/saveSyncOrderJavaB2C.action", params);
    if (response.status) {
      useToast().success(response.MSG);
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}
//삭제
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  // validate 체크 : wmsLinkYn = Y 인것은 삭제 안되도록
  for (let i = 0; selectedRows.length > i; i++) {
    if (selectedRows[i].SYS_WMS_LINK_YN === "Y") {
      useToast().warning(`원주문번호: ${selectedRows[i].ORG_ORD_ID} 원주분번호 순번: ${selectedRows[i].ORG_ORD_SEQ}\n WMS 연동된 주문은 삭제할 수 없습니다.`);
      return;
    }
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  const bodyData: any = {
    _fullpath: "",
    selectIds: String(selectedRows.length),
    vrType: "",
    vrPageGb: "",
    vrOrderByGb: "",
    vrBarCodeGb: "",
  };

  for (let i = 0; selectedRows.length > i; i++) {
    bodyData["REG_CUST_ID_" + [i]] = String(selectedRows[i].REG_CUST_ID || "");
    bodyData["ORG_ORD_ID_" + [i]] = String(selectedRows[i].ORG_ORD_ID || "");
    bodyData["ORG_ORD_SEQ_" + [i]] = String(selectedRows[i].ORG_ORD_SEQ || "");
  }

  try {
    const result = await ApiService.postApi("/WMSOM100/deleteYnOm.action", {}, bodyData);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      searchGridData();
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

// Framework Function Definitions
onMounted(async () => {
  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
  searchGridData = commonFormRef.value!.searchGridData;

  myPageId.value = useTabsStore().selectedTab.value?.id;
  const data = UtilService.getOptionApiData(`WMSOM100`);
  const res = await ApiService.postApi(`/rest/WINUS/WMSOM100.action`, {}, data);
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});
// User Function Definitions

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSOM100/listE1.action", apiParams, bodyData.value, false);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
