<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST051_2/form.vue
 *  Description:    재고관리/일별재고-일별재고상세 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData">
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<script lang="ts">
export default { name: "WMSST051_2" };
</script>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/stock/WMSST051_2/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const { t } = useI18n();
const eventBus = useEventBusStore();
const myPageId = ref<string>();
const selectedItems = reactive({ value: [] as any });
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const gridApi = ref<GridApi | undefined>();
const gridHeaderTitle = computed(() => {
  return t(`grid-title.stock-detail-list-by-daily`);
});
const controlBtnRef = ref(CONTROL_BTN);
const eventHandler: Record<string, Function> = {
  excel: excelExport,
};

// eslint-disable-next-line @typescript-eslint/no-unused-vars
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res2 = await ApiService.postApi("/WINUS/WMSST051_rn.action", {}, UtilService.getOptionApiData("WMSST051_rn"));
  if (res2.status) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  }
  const res = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));
  if (res.status) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }
});

onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//엑셀
function excelExport() {
  let columnKeys = [] as string[];

  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.wmsst"),
    columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

/**
 * 그리드 조회 parameter 수정
 * @param apiParams 그리드 조회 parameter
 */

function onApiParamsChanged(apiParams: any) {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    //  select-box 옵션에따라 다른 종류의 search modal이 띄어지는데, input value의 key값이 동일해서, 계속 첫번째 option의 값을 가지고 apiParams에 넣게됨.
    //  UtilService.getGridParams 에서 예외처리 하기가 까다로워 이런 경우의 페이지일 경우 따로 처리.
    let modalDataType = "";
    const vrSrchItemType2 = useSearchConditionStore().getSearchInputValue()["vrSrchItemType2"];
    if (vrSrchItemType2 === "G") {
      modalDataType = "product";
      apiParams.vrSrchItemCd = !useSelectedDataStore().getSelectedModalData()[modalDataType] ? "" : useSelectedDataStore().getSelectedModalData()[modalDataType].ITEM_CODE;
      apiParams.vrSrchItemNm = !useSelectedDataStore().getSelectedModalData()[modalDataType] ? "" : useSelectedDataStore().getSelectedModalData()[modalDataType].ITEM_KOR_NM;
      apiParams.vrSrchItemId = !useSelectedDataStore().getSelectedModalData()[modalDataType] ? "" : useSelectedDataStore().getSelectedModalData()[modalDataType].RITEM_ID;
    } else if (vrSrchItemType2 === "P") {
      modalDataType = "logistics-container";
      apiParams.vrSrchItemCd2 = useSelectedDataStore().getSelectedModalData()[modalDataType].POOL_CODE;
      apiParams.vrSrchItemNm2 = useSelectedDataStore().getSelectedModalData()[modalDataType].POOL_NM;
      apiParams.vrSrchItemId2 = useSelectedDataStore().getSelectedModalData()[modalDataType].POOL_ID;
    }

    return apiParams;
  }
}
/**
 * 데이터를 서버에서 수신해서 grid에 전달
 * @param apiParams api호츨을 위한 parameter
 * @param bodyData page등 데이터
 */
async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSST051/detail_rn.action", apiParams, bodyData.value, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}
</style>
