<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS030_2/form.vue
 *  Description:    설정관리/사용자관리 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->
<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="TMSYS030-2-form" class="form-container" ref="formContainerRef">
    <my-info>
      <div :class="['info-normal-container']" v-for="(data, i) in INFO_INPUT_DATA.value" :key="i">
        <div class="info-header" @click="() => changeIsExpand({ title: data.title, default: data.default })">
          <span class="checkbox-span">{{ $t("grid-info." + data.title) }} </span>
          <img :class="[checkIsExpand(data.title) ? 'expand-collapsible' : 'fold-collapsible', 'info-collapsible']" src="/public/assets/images/btn-close-component.svg" />
        </div>
        <input v-if="data.title === 'driver/equipment-registration-Y/N'" v-model="registration_YN_value" class="yn-checkbox" type="checkbox" @change="(e) => changeYnCheckbox(e)" />
        <ul :class="[checkIsExpand(data.title) ? 'expand-input-list' : 'fold-input-list', 'info-input-list']">
          <li
            v-for="input in data.inputs"
            :key="input.ids[0]"
            :class="[
              'info-input-item',
              input.width,
              { 'user-ID': input.title === 'user-ID' && pageOpenType === 'INSERT' },
              { 'user-password': input.title === 'password' && pageOpenType === 'UPDATE' },
            ]"
            @click="infoInfoToast(input.title)">
            <info-middle-title-vue v-if="input.type === 'middle-title'" :data="input" />
            <info-text-input v-if="input.type === 'text'" :data="input" :focusOutUpdateData="focusOutUpdateData" />
            <info-select-input v-if="input.type === 'select'" :data="input" :focusOutUpdateData="focusOutUpdateData" />
            <info-color-input v-if="input.type === 'color'" :data="input" :focusOutUpdateData="focusOutUpdateData" />
            <info-search-input v-if="input.type === 'search'" :data="input" @changeIsSearchModal="changeIsSearchModal">
              <search-modal
                v-if="checkIsSearchModal(input.title)"
                :modalData="SEARCH_MODAL_INFO?.[input.title]"
                :columnDefs="MODAL_COLUMN_DEFS?.[input.title]"
                @changeIsSearchModal="changeIsSearchModal"
                :inputDef="input" />
            </info-search-input>
            <info-triple-search-input v-if="input.type === 'triple-search'" :data="input" />
            <info-upload-input v-if="input.type === 'upload'" :data="input" />
            <!--아이디 중복확인 버튼-->
            <button
              v-if="displayBtn.value.reset === 'Y' && input.title === 'user-ID' && pageOpenType === 'INSERT'"
              class="user-ID-button"
              @click="
                () => {
                  checkUserId();
                }
              ">
              {{ t("button-name.double-check") }}
            </button>
            <!--비밀번호 리셋 버튼-->
            <button v-if="displayBtn.value.reset === 'Y' && input.title === 'password' && pageOpenType === 'UPDATE'" class="user-password-button" @click="() => resetUserPassword()">
              {{ t("button-name.reset") }}
            </button>
          </li>
          <!--물류센터목록 재조회-->
          <button v-if="data.title === 'driver/equipment-registration-Y/N'" class="search-lc-btn" @click="() => reSearchGridData()">
            {{ t("input-title.re-check-the-distribution-center-list") }}
          </button>
        </ul>
      </div>
    </my-info>
    <my-grid
      :onGridReady="onGridReady"
      :onSelectionChanged="onSelectionChanged"
      :pagingSize="pagingSize"
      :deleteRowData="deleteRowData"
      :addRowData="addRowData"
      :saveRowData="saveRowData"
      :onRowDataUpdated="onRowDataUpdated"
      :copyPermission="copyPermission"
      @onPageSizeChanged="
        (ps) => {
          pagingSize = ps;
        }
      " />
  </div>
  <userIdDuplicateVerification
    v-if="isShowUserIdDuplicateVerification"
    :id="useSelectedDataStore().getSelectedInfoData().USER_ID"
    :setAvailableUserId="
      (value: string) => {
        userId = value;
        INFO_INPUT_DATA.value[0].inputs[4].disabled = true;
      }
    "
    :closeEvent="() => (isShowUserIdDuplicateVerification = false)" />
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onDeactivated, onMounted, reactive, ref, watch } from "vue";

import { GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { menusStore, useConfirmStore, useFormHeightStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";

import { InfoColorInput, InfoSearchInput, InfoSelectInput, InfoTextInput, InfoTripleSearchInput, InfoUploadInput } from "@/components/input";
import InfoMiddleTitleVue from "@/components/ui/InfoMiddleTitle.vue";
import { SearchModal } from "@/popups";
import userIdDuplicateVerification from "@/popups/user-id-duplicate-verification.vue";
import MyGrid from "./grid.vue";
import MyInfo from "./info.vue";

import { MODAL_COLUMN_DEFS } from "./column-defs";
import { INFO_INPUT, SEARCH_MODAL_INFO } from "./input";

// Variable Definitions
const { t } = useI18n();
const pagingOptions = UtilService.getGridPagingOptions("TMSYS030_2");
const pagingSize = ref<number>(pagingOptions![0]);
const isSearchModal = ref([] as string[]); // 모달상태
const formContainerRef = ref(null as null | any); // class="form-container" 엘리먼트
const bodyData = reactive({ value: {} as any });
const INFO_INPUT_DATA = reactive({ value: [] as any });
const inactive = ref<boolean>(false);
const registration_YN_value = ref(); // 기사/장비등록 여부 체크박스 인풋 value 값
const userData = reactive({ value: null } as { value: any });
const selectedItems = reactive({ value: [] } as { value: any });
let pageOpenType = ref("INSERT" as "INSERT" | "UPDATE");
let isShowUserIdDuplicateVerification = ref(false);
let userId = ref(""); // 중복확인 이후 실제 적용할 아이디
let expandList = ref([] as { title: string; default: string }[]); // info영역 섹션별 open 되어있는 리스트
let gridApi: GridApi | null = null;
let fullHeightElement: null | HTMLElement = null;
let infoContainerElement: null | HTMLElement = null;
const page = reactive({ value: {} as any });
const displayBtn = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  fullHeightElement = document.getElementById("full-height") as HTMLElement;
  infoContainerElement = document.getElementById("info-container") as HTMLElement;
  useFormHeightStore().setSearchCompHeight(-50);

  const List: any = INFO_INPUT.filter((data) => {
    return data.default === "expand";
  });
  expandList.value = List;

  window.addEventListener("resize", () => {
    resizeGridColumns();
  });

  INFO_INPUT_DATA.value = INFO_INPUT;

  UtilService.checkInfoContainerHasScroll(infoContainerElement, fullHeightElement);

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("TMSYS", "TMSYS030_2", menusStore().getMenus(), null);
      if (!UtilService.isEmptyObject(page.value)) {
        displayBtn.value.reset = page.value["INS_AUTH"];
      }
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

onActivated(async () => {
  UtilService.checkInfoContainerScrollPosition(infoContainerElement, fullHeightElement);

  gridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      UtilService.setGridData("server-side", gridApi, null, params);
    },
  });
  useSelectedDataStore().selectedInfoHandler(null, true);

  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();

  // 더블클릭으로 페이지가 타나난 경우
  if (Object.hasOwn(useSelectedDataStore()._selectedInfoData.value, "TMSYS030_1")) {
    pageOpenType.value = "UPDATE";
    INFO_INPUT_DATA.value[0].inputs[4].disabled = true;
    // info영역 데이터 셋팅
    useSelectedDataStore().selectedInfoHandler(useSelectedDataStore()._selectedInfoData.value.TMSYS030_1);

    let detailBodyData = {
      _fullpath: "",
      USER_NO: useSelectedDataStore().getSelectedInfoData().USER_NO,
      USER_ID: useSelectedDataStore().getSelectedInfoData().USER_ID,
      CONN_LC_ID: useSelectedDataStore().getSelectedInfoData().CONN_LC_ID,
    };
    const res = await ApiService.postApi("/TMSYS030/detail_rn.action", {}, detailBodyData, false);
    if (res.status) {
      userData.value = res.result;
      const keys = Object.keys(res.result.DETAIL2);
      // 비밀번호 셋팅
      useSelectedDataStore().changeSelectedInfoData("PSWD", res.result.PSWD2);
      keys.forEach((key: any) => {
        useSelectedDataStore().changeSelectedInfoData(key, res.result.DETAIL2[key]);
        if (key === "PROC_AUTH" && !res.result.DETAIL2[key]) {
          useSelectedDataStore().changeSelectedInfoData(key, "00");
        }
      });
    }
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  } else {
    pageOpenType.value = "INSERT";
  }
});

onDeactivated(() => {
  UtilService.checkInfoContainerScrollPosition(infoContainerElement, fullHeightElement, "remove");
  inactive.value = true;
});

// 검색 호출 watch
watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
  if (!inactive.value) {
    await searchGridData();
  }
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

// User Function Definitions
// 사용자 비밀번호 초기화
async function resetUserPassword() {
  await useConfirmStore().confirm(t("confirm-message.reset"), t("button-name.confirm"));

  const bodyData = {
    CLIENT_CD: String(useSelectedDataStore().getSelectedInfoData().CLIENT_CD || ""),
    CLIENT_ID: String(useSelectedDataStore().getSelectedInfoData().CLIENT_ID || ""),
    CLIENT_NAME: String(useSelectedDataStore().getSelectedInfoData().CLIENT_NM || ""),
    USER_GB: String(useSelectedDataStore().getSelectedInfoData().USER_GB || ""),
    AUTH_CD: String(useSelectedDataStore().getSelectedInfoData().AUTH_CD || ""),
    USER_ID: String(useSelectedDataStore().getSelectedInfoData().USER_ID || ""),
    USER_NM: String(useSelectedDataStore().getSelectedInfoData().USER_NM || ""),
    PSWD: String(useSelectedDataStore().getSelectedInfoData().PSWD || ""),
    PSWD2: String(useSelectedDataStore().getSelectedInfoData().PSWD || ""),
    DEPT_CD: String(useSelectedDataStore().getSelectedInfoData().DEPT_CD || ""),
    EMAIL_ADDR: String(useSelectedDataStore().getSelectedInfoData().EMAIL_ADDR || ""),
    MOBILE_NO: String(useSelectedDataStore().getSelectedInfoData().MOBILE_NO || ""),
    TEL_NO: String(useSelectedDataStore().getSelectedInfoData().TEL_NO || ""),
    SUB_PASSWORD: String(useSelectedDataStore().getSelectedInfoData().SUB_PASSWORD || ""),
    MULTI_USE_GB: String(useSelectedDataStore().getSelectedInfoData().MULTI_USE_GB || ""),
    USER_GRID_NUM: String(useSelectedDataStore().getSelectedInfoData().USER_GRID_NUM || ""),
    LANG: String(useSelectedDataStore().getSelectedInfoData().LANG || ""),
    LC_CHANGE_YN: String(useSelectedDataStore().getSelectedInfoData().LC_CHANGE_YN || ""),
    PROC_AUTH: String(useSelectedDataStore().getSelectedInfoData().PROC_AUTH || ""),
    chkDrDvVal: registration_YN_value.value ? "Y" : "N",
    update_flag: "UPDATE",
    // USER_NO: String(useSearchConditionStore().getSearchInputValue().USER_NO || ""),
    USER_NO: String(useSelectedDataStore().getSelectedInfoData().USER_NO || ""),
  };

  const res = await ApiService.postApi("/TMSYS030/UserPswdReset_rn.action", {}, bodyData);
  if (res.status) {
    return useToast().success(res.result.MSG);
  } else {
    return useToast().error(res.result.MSG);
  }
}

// 사용자ID 정규식 검사 이후 중복확인
function checkUserId() {
  const pattern = /^[a-zA-Z][a-zA-Z0-9]{3,14}$/;
  if (pattern.test(useSelectedDataStore().getSelectedInfoData().USER_ID) && useSelectedDataStore().getSelectedInfoData().USER_ID) {
    isShowUserIdDuplicateVerification.value = true;
  } else {
    return useToast().warning("한글입력이 제한된 항목입니다,\nID는 영문자로 시작하여 숫자를 포함할 수 있으며(특수문자 제외), 4자리 이상 15자리 이하입니다.");
  }
}
// info영역 인풋 클릭시 노출되는 토스트, (자동입력) 장비번호
function infoInfoToast(title: string) {
  if (
    title === "(automatic-input)equipment-number" &&
    registration_YN_value.value &&
    (!Object.hasOwn(useSelectedDataStore().getSelectedInfoData(), "phone-number") || !useSelectedDataStore().getSelectedInfoData()["phone-number"])
  ) {
    return useToast().warning("핸드폰번호 입력 시 자동입력. 핸드폰번호는 필수입니다.");
  }
}

const resizeGridColumns = () => {
  const myPageId = useTabsStore().selectedTab.value?.id;
  let myGridContainerWidth = document.querySelector("#" + myPageId + "-page .form-container")?.clientWidth || 0;
  let myGridBodyContainerWidth = document.querySelector("#" + myPageId + "-page .ag-body-viewport .ag-center-cols-container")?.clientWidth || 0;
  if (myGridContainerWidth > myGridBodyContainerWidth) {
    gridApi?.sizeColumnsToFit();
  }
};

// 우측버튼 클릭해서 expandList 상태변화
function changeIsExpand(paramsData: { title: string; default: string }) {
  const filteredList = expandList.value.some((data) => {
    return data.title === paramsData.title;
  });

  if (filteredList) {
    expandList.value = expandList.value.filter((item) => {
      return item.title !== paramsData.title;
    });
  } else {
    expandList.value.push(paramsData);
  }

  UtilService.checkInfoContainerHasScroll(infoContainerElement, fullHeightElement);
}

// expandList로 class부여할때 확인 여부 체크
function checkIsExpand(title: string) {
  const result = expandList.value.some((data) => {
    return data.title === title;
  });
  return result;
}

// 모달상태 체크
function checkIsSearchModal(modalTitle: string) {
  if (isSearchModal.value.includes(modalTitle)) {
    return true;
  } else {
    return false;
  }
}

// 모달상태업데이트
function changeIsSearchModal(modalTitle: string) {
  if (isSearchModal.value.includes(modalTitle)) {
    return (isSearchModal.value = isSearchModal.value.filter((value: any) => {
      return value !== modalTitle;
    }));
  } else {
    return isSearchModal.value.push(modalTitle);
  }
}

const onGridReady = (params: any) => {
  gridApi = params.api;
  resizeGridColumns();

  if (Object.hasOwn(useSelectedDataStore()._selectedInfoData.value, "TMSYS030_1")) {
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  }
};

// 검색, 사용자관리 페이지 새로고침 or 사용자관리 목록 더블클릭으로 검색이 이루어질때
async function searchGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    gridApi?.deselectAll();
    let apiParams = {
      USER_NO: useSelectedDataStore().getSelectedInfoData().USER_NO,
      USER_ID: useSelectedDataStore().getSelectedInfoData().USER_ID,
    };

    gridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        setPagingBodyData(params);
        let gridData = await ApiService.postApi("/TMSYS030/searchUserLc_rn.action", apiParams, bodyData.value);
        if (gridData.status) {
          if (gridData.result.list.length > 0) {
            UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
            checkedGridRowList(gridData.result.list);
          } else {
            UtilService.setGridData("server-side", gridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
          }
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
      },
    });
    useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  }
}

// 물류센터목록 재조회
async function reSearchGridData() {
  gridApi?.deselectAll();

  const apiParams = {
    CLIENT_CD: String(useSelectedDataStore().getSelectedInfoData().CLIENT_CD || ""),
    CLIENT_ID: String(useSelectedDataStore().getSelectedInfoData().CLIENT_ID || ""),
    CLIENT_NAME: String(useSelectedDataStore().getSelectedInfoData().CLIENT_NAME || ""),
    USER_GB: String(useSelectedDataStore().getSelectedInfoData().USER_GB || ""),
    AUTH_CD: String(useSelectedDataStore().getSelectedInfoData().AUTH_CD || ""),
    USER_ID: String(useSelectedDataStore().getSelectedInfoData().USER_ID || ""),
    USER_NM: String(useSelectedDataStore().getSelectedInfoData().USER_NM || ""),
    PSWD: String(useSelectedDataStore().getSelectedInfoData().PSWD || ""),
    PSWD2: String(useSelectedDataStore().getSelectedInfoData().PSWD2 || ""),
    DEPT_CD: String(useSelectedDataStore().getSelectedInfoData().DEPT_CD || ""),
    EMAIL_ADDR: String(useSelectedDataStore().getSelectedInfoData().EMAIL_ADDR || ""),
    MOBILE_NO: String(useSelectedDataStore().getSelectedInfoData().MOBILE_NO || ""),
    TEL_NO: String(useSelectedDataStore().getSelectedInfoData().TEL_NO || ""),
    SUB_PASSWORD: String(useSelectedDataStore().getSelectedInfoData().SUB_PASSWORD || ""),
    MULTI_USE_GB: String(useSelectedDataStore().getSelectedInfoData().MULTI_USE_GB || ""),
    USER_GRID_NUM: String(useSelectedDataStore().getSelectedInfoData().USER_GRID_NUM || ""),
    LANG: String(useSelectedDataStore().getSelectedInfoData().LANG || ""),
    LC_CHANGE_YN: String(useSelectedDataStore().getSelectedInfoData().LC_CHANGE_YN || ""),
    PROC_AUTH: String(useSelectedDataStore().getSelectedInfoData().PROC_AUTH || ""),
    chkDrDvVal: registration_YN_value.value ? "Y" : "N",
    update_flag: "UPDATE",
    USER_NO: String(useSelectedDataStore().getSelectedInfoData().USER_NO || ""),
  };

  gridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      let gridData = await ApiService.postApi("/TMSYS030/searchUserLc_rn.action", apiParams, bodyData.value);
      if (gridData.status) {
        if (gridData.result.list.length > 0) {
          UtilService.setGridData("server-side", gridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
          checkedGridRowList(gridData.result.list);
        } else {
          UtilService.setGridData("server-side", gridApi, null, params);
        }
      } else {
        UtilService.setGridData("server-side", gridApi, null, params);
      }
    },
  });
  useSearchConditionStore().setAvailableSearchBySearchCondition(false);
}

function checkedGridRowList(list: any) {
  for (let i = 0; list.length > i; i++) {
    if (list[i].CHK_BOX === "1") {
      gridApi?.getRowNode(String(list[i].RNUM))?.setSelected(true);
    }
  }
}

// grid에 paging option 적용
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 그리드 수정
function focusOutUpdateData() {
  // gridApi?.applyServerSideTransaction({ update: [useSelectedDataStore().getSelectedInfoData()] });
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridApi?.getSelectedRows().length) {
      selectedItems.value = gridApi?.getSelectedRows();
      useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows());
    }
  } else {
    selectedItems.value = gridApi?.getSelectedRows();
    useSelectedDataStore().changeSelectedDataList(e.api?.getSelectedRows());
  }
}

// 기사/장비 등록여부 체크박스 선택
function changeYnCheckbox(e: any) {
  const target = e.target;
  const checked = target.checked;

  if (checked) {
    INFO_INPUT_DATA.value[1].inputs.forEach((input: any) => {
      input.disabled = false;
      if (input.title === "driver-name") {
        input.required = true;
      }
    });
    INFO_INPUT_DATA.value[0].inputs[9].required = true;
  } else {
    INFO_INPUT_DATA.value[1].inputs.forEach((input: any) => {
      input.disabled = true;
      if (input.title === "driver-name") {
        input.required = false;
      }
    });
    INFO_INPUT_DATA.value[0].inputs[9].required = false;
  }
}

// 삭제(그리드 데이터 삭제가 아니라 우측 info영역 사용자 정보를 삭제하는 기능)
async function deleteRowData() {
  if (pageOpenType.value === "INSERT") {
    return useToast().warning(t("common-toast.no-user-info-to-delete"));
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  const bodyData = {
    CLIENT_CD: String(useSelectedDataStore().getSelectedInfoData().CLIENT_CD || ""),
    CLIENT_ID: String(useSelectedDataStore().getSelectedInfoData().CLIENT_ID || ""),
    CLIENT_NAME: String(useSelectedDataStore().getSelectedInfoData().CLIENT_NAME || ""),
    USER_GB: String(useSelectedDataStore().getSelectedInfoData().USER_GB || ""),
    AUTH_CD: String(useSelectedDataStore().getSelectedInfoData().AUTH_CD || ""),
    USER_ID: String(useSelectedDataStore().getSelectedInfoData().USER_ID || ""),
    USER_NM: String(useSelectedDataStore().getSelectedInfoData().USER_NM || ""),
    PSWD: String(useSelectedDataStore().getSelectedInfoData().PSWD || ""),
    PSWD2: String(useSelectedDataStore().getSelectedInfoData().PSWD2 || ""),
    DEPT_CD: String(useSelectedDataStore().getSelectedInfoData().DEPT_CD || ""),
    EMAIL_ADDR: String(useSelectedDataStore().getSelectedInfoData().EMAIL_ADDR || ""),
    MOBILE_NO: String(useSelectedDataStore().getSelectedInfoData().MOBILE_NO || ""),
    TEL_NO: String(useSelectedDataStore().getSelectedInfoData().TEL_NO || ""),
    SUB_PASSWORD: String(useSelectedDataStore().getSelectedInfoData().SUB_PASSWORD || ""),
    MULTI_USE_GB: String(useSelectedDataStore().getSelectedInfoData().MULTI_USE_GB || ""),
    USER_GRID_NUM: String(useSelectedDataStore().getSelectedInfoData().USER_GRID_NUM || ""),
    LANG: String(useSelectedDataStore().getSelectedInfoData().LANG || ""),
    LC_CHANGE_YN: String(useSelectedDataStore().getSelectedInfoData().LC_CHANGE_YN || ""),
    PROC_AUTH: String(useSelectedDataStore().getSelectedInfoData().PROC_AUTH || ""),
    chkDrDv: String(useSelectedDataStore().getSelectedInfoData().chkDrDv || ""),
    chkDrDvVal: String(useSelectedDataStore().getSelectedInfoData().chkDrDvVal || ""),
    vrSrchDriverNm: String(useSelectedDataStore().getSelectedInfoData().vrSrchDriverNm || ""),
    vrSrchMobileDevNo: String(useSelectedDataStore().getSelectedInfoData().vrSrchMobileDevNo || ""),
    vrSrchLcNm: String(useSelectedDataStore().getSelectedInfoData().vrSrchLcNm || ""),
    vrSrchLcId: String(useSelectedDataStore().getSelectedInfoData().vrSrchLcId || ""),
    update_flag: "UPDATE",
    USER_NO: String(useSelectedDataStore().getSelectedInfoData().USER_NO || ""),
  };

  const res = await ApiService.postApi("/TMSYS030/delete_rn.action", {}, bodyData);

  if (res.status) {
    useToast().success(res.result.MSG);
    useTabsStore().selectTab({
      id: "TMSYS030_1",
      title: "사용자관리목록",
      path: "setting/TMSYS030_1",
      mainMenuTitle: "",
    });

    return;
  } else {
    return useToast().error(res.result.MSG);
  }
}
// 저장
async function saveRowData() {
  const selectedItems: any = gridApi?.getSelectedRows();

  // 아이디 중복확인 유무 체크
  if (pageOpenType.value == "INSERT") {
    if (!userId.value) {
      return useToast().warning(t("common-toast.check-the-duplicate-user-id"));
    }
  }

  // info영역 유효성 검사
  let result = "";
  for (const inputItemsContainer in INFO_INPUT) {
    for (let i = 0; INFO_INPUT[inputItemsContainer].inputs.length > i; i++) {
      if (INFO_INPUT[inputItemsContainer].inputs[i].required) {
        if (!result && !useSelectedDataStore().getSelectedInfoData()[INFO_INPUT[inputItemsContainer].inputs[i].ids[0]]) {
          result = INFO_INPUT[inputItemsContainer].inputs[i].ids[0];
        }
      }
    }
  }

  if (result) {
    return useToast().warning(t(`common-toast.no-grid-info-item`, { message: result }));
  }

  // 비밀버호 유효성 검사
  const pattern = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,16}$/;
  if (!pattern.test(useSelectedDataStore().getSelectedInfoData().PSWD)) {
    return useToast().warning("8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.");
  }

  if (!selectedItems || selectedItems.length === 0) {
    return useToast().warning(t(`common-toast.no-grid-info-item`, { message: t("input-title.logistics-center") }));
  }

  // 물류센터 초기접속 Y값 유효성 검사
  const connectYnValidation = [];
  for (let i = 0; selectedItems.length > i; i++) {
    if (selectedItems[i].CONNECT_YN) {
      connectYnValidation.push(selectedItems[i].CONNECT_YN);
    }
  }
  if (!connectYnValidation.includes("Y")) {
    return useToast().warning(t("common-toast.no-initial-connection-center"));
  }
  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  const bodyData: any = {
    _fullpath: "",
    CLIENT_CD: String(useSelectedDataStore().getSelectedInfoData().CLIENT_CD || ""),
    CLIENT_ID: String(useSelectedDataStore().getSelectedInfoData().CLIENT_ID || ""),
    CLIENT_NAME: String(useSelectedDataStore().getSelectedInfoData().CLIENT_NAME || ""),
    USER_GB: String(useSelectedDataStore().getSelectedInfoData().USER_GB || ""),
    AUTH_CD: String(useSelectedDataStore().getSelectedInfoData().AUTH_CD || ""),
    USER_ID: String(useSelectedDataStore().getSelectedInfoData().USER_ID || ""),
    USER_NM: String(useSelectedDataStore().getSelectedInfoData().USER_NM || ""),
    PSWD: String(useSelectedDataStore().getSelectedInfoData().PSWD || ""),
    PSWD2: String(useSelectedDataStore().getSelectedInfoData().PSWD2 || ""),
    DEPT_CD: String(useSelectedDataStore().getSelectedInfoData().DEPT_CD || ""),
    EMAIL_ADDR: String(useSelectedDataStore().getSelectedInfoData().EMAIL_ADDR || ""),
    MOBILE_NO: String(useSelectedDataStore().getSelectedInfoData().MOBILE_NO || ""),
    TEL_NO: String(useSelectedDataStore().getSelectedInfoData().TEL_NO || ""),
    SUB_PASSWORD: String(useSelectedDataStore().getSelectedInfoData().SUB_PASSWORD || ""),
    MULTI_USE_GB: String(useSelectedDataStore().getSelectedInfoData().MULTI_USE_GB || ""),
    USER_GRID_NUM: String(useSelectedDataStore().getSelectedInfoData().USER_GRID_NUM || ""),
    LANG: String(useSelectedDataStore().getSelectedInfoData().LANG || ""),
    LC_CHANGE_YN: String(useSelectedDataStore().getSelectedInfoData().LC_CHANGE_YN || ""),
    PROC_AUTH: String(useSelectedDataStore().getSelectedInfoData().PROC_AUTH || ""),
    chkDrDvVal: registration_YN_value.value ? "Y" : "N",
    update_flag: pageOpenType.value,
    USER_NO: String(useSelectedDataStore().getSelectedInfoData().USER_NO || ""),
    selectIds: String(selectedItems.length),
  };
  for (let i = 0; selectedItems.length > i; i++) {
    bodyData["D_LC_ID" + [i]] = String(selectedItems[i].LC_ID);
    bodyData["D_CONNECT_YN" + [i]] = String(selectedItems[i].CONNECT_YN);
    bodyData["D_USER_LC_SEQ" + [i]] = String(selectedItems[i].USER_LC_SEQ);
    bodyData["D_ITEM_GRP_ID" + [i]] = String(selectedItems[i].ITEM_GRP_ID);
  }

  let res;
  if (pageOpenType.value === "INSERT") {
    res = await ApiService.postApi("/TMSYS030/insert_rn.action", {}, bodyData);
  } else if (pageOpenType.value === "UPDATE") {
    res = await ApiService.postApi("/TMSYS030/update_rn.action", {}, bodyData);
  }

  if (res) {
    if (res.status) {
      await searchGridData();
      useToast().success(res.result.MSG);
      let detailBodyData = {
        _fullpath: "",
        USER_NO: useSelectedDataStore().getSelectedInfoData().USER_NO,
        USER_ID: useSelectedDataStore().getSelectedInfoData().USER_ID,
        CONN_LC_ID: useSelectedDataStore().getSelectedInfoData().CONN_LC_ID,
      };
      const detailRes = await ApiService.postApi("/TMSYS030/detail_rn.action", {}, detailBodyData);
      if (detailRes.status) {
        userData.value = detailRes.result;
        const keys = Object.keys(detailRes.result.DETAIL2);
        // 비밀번호 셋팅
        useSelectedDataStore().changeSelectedInfoData("PSWD", detailRes.result.PSWD2);
        keys.forEach((key: any) => {
          useSelectedDataStore().changeSelectedInfoData(key, detailRes.result.DETAIL2[key]);
          if (key === "PROC_AUTH" && !detailRes.result.DETAIL2[key]) {
            useSelectedDataStore().changeSelectedInfoData(key, "00");
          }
        });
      }
      pageOpenType.value = "UPDATE";
      return;
    } else {
      return useToast().error(res.result.MSG);
    }
  }
}

// 신규
async function addRowData() {
  INFO_INPUT_DATA.value[0].inputs[4].disabled = false;
  delete useSelectedDataStore()._selectedInfoData.value["TMSYS030_1"];
  gridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      UtilService.setGridData("server-side", gridApi, null, params);
    },
  });
  useSelectedDataStore().selectedInfoHandler({ empty: "empty" }, true);
  await reSearchGridData();
  useOptionDataStore().setAvailableWatchBySearchCondition(true);
  pageOpenType.value = "INSERT";
}

// (자동입력) 물류센터 인풋 값 셋팅
function onRowDataUpdated() {
  if (gridApi?.getModel().nodeManager.rowNodes) {
    const allNode = gridApi?.getModel().nodeManager.rowNodes;
    const allNodeKeys = Object.keys(gridApi?.getModel().nodeManager.rowNodes);

    for (let i = 0; allNodeKeys.length > i; i++) {
      if (allNode[allNodeKeys[i]].data.CONNECT_YN === "Y") {
        useSelectedDataStore().changeSelectedInfoData("vrSrchLcNm", allNode[allNodeKeys[i]].data.LC_NM);
        return;
      }
    }
  }
}

// 권한복사
async function copyPermission() {
  await reSearchGridData();
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  padding-top: 20px;
  height: 100%;
}
.info-normal-container {
  position: relative;
}
.yn-checkbox {
  position: absolute;
  z-index: 10;
  left: 130px;
  top: 9px;
  cursor: pointer;
}

.search-lc-btn {
  @include btnColorStyle($main);

  font-size: 13px;
  font-weight: bold;
  width: 100%;
  margin-left: 3vw;
  border-radius: 8px;
  margin-top: 13px;
  padding: 10px 0;
}

.user-ID-button {
  @include btnColorStyle($main);
  position: absolute;
  right: 0;
  width: 35%;

  font-size: 13px;
  font-weight: bold;

  border-radius: 6px;

  padding: 7px 0;
}

.user-password-button {
  @include btnColorStyle($red);
  position: absolute;
  right: 0;
  width: 35%;

  font-size: 13px;
  font-weight: bold;

  border-radius: 6px;

  padding: 7px 0;
}
</style>
