<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS030_2/grid.vue
 *  Description:    설정관리/사용자관리 메인 Form화면의 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 * 
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container container-container">
    <div v-if="UtilService.getCurrentLocation() === '0000000001'" class="control-container">
      <div v-for="btnData in controlBtn.value" :key="btnData.title">
        <control-button v-if="btnData['display'] === 'Y'" :data="btnData" :deleteRowData="deleteRowData" :addRowData="addRowData" :saveRowData="saveRowData" :copyPermission="copyPermission" />
      </div>
    </div>

    <div class="grid-header">{{ $t("grid-title.list-of-logistics-centers") }}</div>
    <div v-if="UtilService.getCurrentLocation() != '0000000001'" class="grid-header-sub-content">
      {{ t("common-description-text.TMSYS030_2(01)") }}
    </div>
    <ag-grid-vue
      :class="[UtilService.getCurrentLocation() === '0000000001' ? 'use-control' : '', 'ag-theme-alpine ag-grid-size']"
      :gridOptions="gridOptions"
      :modules="[ExcelExportModule]"
      :context="{ ...GRID_SELECT_BOX_INFO, ...GRID_CELL_SEARCH_BUTTON }" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { UtilService } from "@/services/util-service";
import { menusStore, useSelectedDataStore } from "@/store";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule } from "ag-grid-enterprise"; // excel export관련 모듈을 따로 설치해줘여댬, 설치하고 그리드 컴포넌트에 프로퍼티로 입력
import { AgGridVue } from "ag-grid-vue3";
import { onBeforeMount, onMounted, reactive, ref } from "vue";
import { useI18n } from "vue-i18n";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_CELL_SEARCH_BUTTON, GRID_SELECT_BOX_INFO } from "./input";

// Variable Definitions
const { onGridReady, onSelectionChanged, deleteRowData, addRowData, saveRowData, onRowDataUpdated, copyPermission } = defineProps<{
  onGridReady: any;
  onSelectionChanged: any;
  deleteRowData: any;
  addRowData: any;
  saveRowData: any;
  onRowDataUpdated: any;
  copyPermission: any;
}>();

const pagingOptions = UtilService.getGridPagingOptions("TMSYS030_2");
const pagingSize = ref<number>(pagingOptions![0]);
const emits = defineEmits(["onPageSizeChanged"]);
const { t } = useI18n();
const totalRows = ref<number>(0);
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("TMSYS", "TMSYS030_2", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

// User Function Definitions
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};

const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
    lockVisible: true,
    lockPosition: true,
  },
  headerHeight: 32,
  rowHeight: 32,
  onPaginationChanged: onPaginationChanged,
  onModelUpdated: onRowDataUpdated,
  columnDefs: FORM_COLUMN_DEFS,
  onRowSelected: onSelectionChanged,
  onGridReady: onGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data.RNUM;
  },
  enableCellEditingOnBackspace: false,
  enableRangeSelection: true,
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.ag-grid-size {
  height: calc(100% - 31px);
  &.use-control {
    height: calc(100% - 70px);
  }
}
.grid {
  &-container {
    width: 52%;
    position: relative;
  }
  .container-container {
    width: 100% !important;
    position: relative;
    background-color: red;
  }
  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}

.grid-header-sub-content {
  color: white;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 14px;
  font-weight: bold;
}

.control-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: 10px;
}

// @include agGridScrollBarStyle;
</style>
