<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	TMSYS030_2/page.vue
 *  Description:    설정관리/사용자관리 상세 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div :id="`${myPageId}-page`">
    <my-form />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "TMSYS030_2" };
</script>
<script setup lang="ts">
import { ref, onBeforeMount } from "vue";

import { ApiService } from "@/services/api-service";
import { useOptionDataStore, useTabsStore } from "@/store";
import { UtilService } from "@/services/util-service";

import MyForm from "./form.vue";

// Variable Definitions\
const myPageId = ref<string>();

// Framework Function Definitions
onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi(`/WINUS/TMSYS030_rn.action`, {}, UtilService.getOptionApiData(`TMSYS030_rn`));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

// User Function Definitions
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
#TMSYS030_2-page {
  height: 100%;
}
</style>
