<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSDF001_1/page.vue
 *  Description:    설정관리/택배기본정보관리 -  업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <!-- TODO :: 위치 조정 -->
    <!-- TODO :: 페이징 없음 -->
    <!-- <div class="explanation-container">
      <button-tooltip :title="'기본 설명'">
        <h3><span class="bold">* 잔여송장 / 사용송장 / 전체송장은</span> 거래처코드(서비스코드)별 운송장 수량입니다. 잔여송장이 1000개 미만인경우 <span class="red">RED</span> 표시</h3>
        <h3><span class="bold">* 옵션1</span> : (없음:기본 / 01:원주문번호&수화인별 접수 / 02:추천박스로 접수)</h3>
        <h3><span class="bold">* 순서1</span> : (없음:수화인명 / 01:총상품순(단포->합포))</h3>
        <h3><span class="bold">* 상품전체노출여부</span> : 송장출력 시 운송장의 노출되는 상품수를 넘을 경우, 연속으로 출력</h3>
        <h3><span class="bold">* 대표송장출력양식</span></h3>
        <h3>└ 대한통운(없음:5인치 / 8A:8인치)</h3>
        <h3>└ 롯데택배(없음:8인치 / 5E:5인치(E))</h3>
        <h3><span class="bold">* 운영오픈코드</span> : (01:로컬 / 02:운영)</h3>
      </button-tooltip>
      <button-tooltip :title="'택배사별 특이사항 설명'">
        <h3><span class="bold">* [ 거래처 / 택배사참고코드2 / 택배사참고코드3 ]</span> 입력 정보입니다.</h3>
        <h3>└ 대한통운인 경우 : 거래처코드 / 협력사코드 / '공백'</h3>
        <h3>└ 롯데택배인 경우 : 거래처코드 / 서비스구분 (00:일반, 01:특화) / '공백'</h3>
        <h3>└ 한진택배인 경우 : DB Connection(ID) / 신용번호(CSR_NUM) / API_KEY</h3>
        <h3><span class="bold">* 집하대리점정보</span> : <span class="red">[필수]</span>롯데택배 / [선택]로젠택배</h3>
        <h3>* 대한통운의 경우 송화인번호는 (3/4)-(4)-(4) 이어야한다.</h3>
      </button-tooltip>
    </div> -->
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData">
      <div class="grid-header">{{ t("menu-header-title.WMSDF001_1") }}</div>
      <control-container>
        <div v-for="btnData in controlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSDF001_1" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service.ts";
import { UtilService } from "@/services/util-service.ts";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus.ts";
import type { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { onActivated, onBeforeMount, onMounted, onUnmounted, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const { t } = useI18n();
const gridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  /** Grid 택배사 콤보박스 정보 */
  const parcelComNmList = [
    { CODE_NM: t("select-options.post-office"), CODE_CD: "01" },
    { CODE_NM: t("select-options.cj-logistics"), CODE_CD: "04" },
    { CODE_NM: t("select-options.hanjin-express"), CODE_CD: "05" },
    { CODE_NM: t("select-options.logen"), CODE_CD: "06" },
    { CODE_NM: t("select-options.lotte-express"), CODE_CD: "08" },
    { CODE_NM: t("select-options.ilyanglogis"), CODE_CD: "11" },
    { CODE_NM: t("select-options.ems"), CODE_CD: "12" },
    { CODE_NM: t("select-options.dhl"), CODE_CD: "13" },
    { CODE_NM: t("select-options.ups"), CODE_CD: "14" },
    { CODE_NM: t("select-options.daesin"), CODE_CD: "22" },
    { CODE_NM: t("select-options.kyoungdong-express"), CODE_CD: "23" },
    { CODE_NM: t("select-options.poolathome"), CODE_CD: "85" },
    { CODE_NM: t("select-options.q-express"), CODE_CD: "95" },
    { CODE_NM: t("select-options.todaypickup"), CODE_CD: "94" },
    { CODE_NM: t("select-options.yongma-logis"), CODE_CD: "500" },
    { CODE_NM: t("select-options.woorigh"), CODE_CD: "47" },
  ];

  const res = await ApiService.postApi(`/WINUS/WMSMS030_rn.action`, {}, {});
  if (res.status && res.result.selectBoxInfos.LCLIST.length > 0) {
    res.result.selectBoxInfos.LCLIST.forEach((option: any) => {
      option.CODE_NM = option.LC_NM;
      option.CODE_CD = option.LC_ID;
    });

    res.result.selectBoxInfos["parcelComNmList"] = parcelComNmList;

    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onActivated(() => {
  /** 물류센터 조건 변경 감시 */
  const watchLcId = watch(
    () => useSearchConditionStore().getSearchInputValue().vrSrchLcId,
    (newValue: any, oldValue: any) => {
      if (newValue == oldValue) return;
      if (UtilService.isEmptyString(newValue)) {
        return;
      }

      lcIdChangedEventCallBack(newValue);
    }
  );

  useTabsStore().watchList.value.push(...[watchLcId]);
});

//#endregion

//#region ::  User Function Definitions

/**
 * 물류센터 변경 이벤트 콜백
 *
 * @params newValue 변경된 물류센터 코드
 */
async function lcIdChangedEventCallBack(newValue: any) {
  const bodyData = {
    S_CUST_ID: "",
    S_LC_ALL: "ALL",
    S_CUST_TYPE: "12",
    S_LC_ID: newValue,
  };
  const res = await ApiService.postApi("/WMSCM011/list_rn.action", {}, bodyData);
  if (res.result.list) {
    res.result.list.forEach((option: any) => {
      option.CODE_NM = option.CUST_NM;
      option.CODE_CD = option.CUST_ID;
    });
    res.result.list.unshift({ name: "", nameKey: "all", value: "" });

    useOptionDataStore().setOptionData({ vrSrchCustId: res.result.list });
    useOptionDataStore().setAvailableWatchBySearchCondition(true); // 검색조건 바인딩 값 갱신
  }
}

/**
 * "저장" 버튼 클릭 이벤트 콜백
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    const bodyData: any = {
      _fullpath: "",
      vrSrchParcelComCd: useSearchConditionStore().getSearchInputValue().vrSrchParcelComCd || "",
      vrSrchCustomerKey1: useSearchConditionStore().getSearchInputValue().vrSrchCustomerKey1 || "",
      vrSrchLcId: useSearchConditionStore().getSearchInputValue().vrSrchLcId || "",
      vrSrchCustId: useSearchConditionStore().getSearchInputValue().vrSrchCustId || "",
      selectIds: String(selectedRows.length),
    };

    for (let i = 0; selectedRows.length > i; i++) {
      if (Object.hasOwn(selectedRows[i], "ST_GUBUN")) {
        bodyData["ST_GUBUN" + [i]] = selectedRows[i].ST_GUBUN;
      } else {
        bodyData["ST_GUBUN" + [i]] = "UPDATE";
      }
      bodyData["PARCEL_COM_NM" + [i]] = selectedRows[i].PARCEL_COM_NM || "";
      bodyData["SHORT_DESC" + [i]] = selectedRows[i].SHORT_DESC || "";
      bodyData["CUSTOMER_KEY_02" + [i]] = selectedRows[i].CUSTOMER_KEY_02 || "";
      bodyData["SENDR_NM" + [i]] = selectedRows[i].SENDR_NM || "";
      bodyData["SENDR_TEL_NO1" + [i]] = selectedRows[i].SENDR_TEL_NO1 || "";
      bodyData["SENDR_TEL_NO2" + [i]] = selectedRows[i].SENDR_TEL_NO2 || "";
      bodyData["SENDR_TEL_NO3" + [i]] = selectedRows[i].SENDR_TEL_NO3 || "";
      bodyData["SENDR_ZIP_NO" + [i]] = selectedRows[i].SENDR_ZIP_NO || "";
      bodyData["SENDR_ADDR1" + [i]] = selectedRows[i].SENDR_ADDR1 || "";
      bodyData["SENDR_ADDR2" + [i]] = selectedRows[i].SENDR_ADDR2 || "";
      bodyData["COLLECTION_AGENCY" + [i]] = selectedRows[i].COLLECTION_AGENCY || "";
      bodyData["COLLECTION_AGENCY_TEL" + [i]] = selectedRows[i].COLLECTION_AGENCY_TEL || "";
      bodyData["COLLECTION_AGENCY_CD" + [i]] = selectedRows[i].COLLECTION_AGENCY_CD || "";
      bodyData["COLLECTION_AGENCY_ETC" + [i]] = selectedRows[i].COLLECTION_AGENCY_ETC || "";
      bodyData["ITEM_ALL_YN" + [i]] = selectedRows[i].ITEM_ALL_YN || "";
      bodyData["OPT_1" + [i]] = selectedRows[i].OPT_1 || "";
      bodyData["OPT_2" + [i]] = selectedRows[i].OPT_2 || "";
      bodyData["SORT_1" + [i]] = selectedRows[i].SORT_1 || "";
      bodyData["SORT_2" + [i]] = selectedRows[i].SORT_2 || "";
      bodyData["REP_PRINT_TYPE" + [i]] = selectedRows[i].REP_PRINT_TYPE || "";
      bodyData["RETURN_USE_YN" + [i]] = selectedRows[i].RETURN_USE_YN || "";
      bodyData["REAL_OPEN_CD" + [i]] = selectedRows[i].REAL_OPEN_CD || "";
      bodyData["PARCEL_COM_TY" + [i]] = selectedRows[i].PARCEL_COM_TY || selectedRows[i].PARCEL_COM_NM || "";
      bodyData["PARCEL_COM_TY_SEQ" + [i]] = String(selectedRows[i].PARCEL_COM_TY_SEQ) || "";
      bodyData["LC_ID" + [i]] = selectedRows[i].LC_ID || selectedRows[i].LC_NM || "";
      bodyData["CUST_ID" + [i]] = selectedRows[i].CUST_ID || selectedRows[i].CUST_NM || "";
      bodyData["CUSTOMER_KEY_01" + [i]] = selectedRows[i].CUSTOMER_KEY_01 || "";
    }

    const result = await ApiService.postApi("/WMSDF001/save_rn.action", {}, bodyData);

    if (result.status) {
      if (result.result.errCnt !== 0) {
        useToast().error(t(result.result.MSG));
      } else {
        useToast().success(t("common-toast.registered"));
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        searchGridData();
      }
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

/**
 * "삭제" 버튼 클릭 이벤트 콜백
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  try {
    const bodyData: any = {};

    for (let i = 0; selectedRows.length > i; i++) {
      // 반영되지 않은 신규 행 삭제
      if (selectedRows[i].ST_GUBUN === "INSERT") {
        gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
      } else {
        bodyData["ST_GUBUN" + [rowIndex]] = "DELETE";
        bodyData["PARCEL_COM_TY" + [rowIndex]] = selectedRows[i].PARCEL_COM_TY || selectedRows[i].PARCEL_COM_NM || "";
        bodyData["PARCEL_COM_TY_SEQ" + [rowIndex]] = String(selectedRows[i].PARCEL_COM_TY_SEQ) || "";
        bodyData["LC_ID" + [rowIndex]] = selectedRows[i].LC_ID || selectedRows[i].LC_NM || "";
        bodyData["CUST_ID" + [rowIndex]] = selectedRows[i].CUST_ID || selectedRows[i].CUST_NM || "";
        bodyData["CUSTOMER_KEY_01" + [rowIndex]] = selectedRows[i].CUSTOMER_KEY_01 || "";

        rowIndex++;
        isDataDelete = true;
      }
    }

    bodyData["_fullpath"] = "";
    bodyData["vrSrchParcelComCd"] = useSearchConditionStore().getSearchInputValue().vrSrchParcelComCd || "";
    bodyData["vrSrchCustomerKey1"] = useSearchConditionStore().getSearchInputValue().vrSrchCustomerKey1 || "";
    bodyData["vrSrchLcId"] = useSearchConditionStore().getSearchInputValue().vrSrchLcId || "";
    bodyData["vrSrchCustId"] = useSearchConditionStore().getSearchInputValue().vrSrchCustId || "";
    bodyData["selectIds"] = String(rowIndex);

    // 데이터 삭제처리가 필요하지 않은 경우
    if (!isDataDelete) return;

    const result = await ApiService.postApi("/WMSDF001/save_rn.action", {}, bodyData);

    if (result.status) {
      if (result.result.errCnt !== 0) {
        useToast().error(t(result.result.MSG));
      } else {
        useToast().success(t("common-toast.registered"));
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
        searchGridData();
      }
    }
  } catch (err) {
    console.log(err);
    throw err;
  }
}

/**
 * "신규" 버튼 클릭 이벤트 콜백
 */
function addRowData() {
  if (GridUtils.isGridEmtpy(gridApi.value!)) {
    useToast().warning(t("common-toast.no-data-found"));
    return;
  }

  const newRowData = [{ ST_GUBUN: "INSERT", LC_NM: "" }];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });
}

/**
 * "엑셀" 버튼 클릭 이벤트 콜백
 */
function excelExport() {
  // let columnKeys = [] as (string | any)[];

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  // columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.basic-delivery-information-management"),
    // columnKeys,
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

//#endregion

//#region ::  Grid Event CallBack Definitions

/**
 * Custom Editor에 대한 Changed 이벤트
 */
eventBus.on("selectedChangeEvent", async (e: any) => {
  switch (e.colId) {
    case "LC_NM":
      await changedLcNmCallBack(e.value);

      //! editType ("FullRow")에 대한 편집 상태 유지와 "화주" 셀에 대한 바인딩 값 갱신을 위한 처리
      gridApi.value?.stopEditing();
      gridApi.value?.startEditingCell({
        rowIndex: e.rowIndex,
        colKey: "CUST_NM",
      });
      break;
  }

  return "";
});

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSDF001/list_rn.action", apiParams, bodyData.value, false);
}

/**
 * 작업 행의 선택된 센터에 해당하는 화주 목록 셋업
 * ("화주" 셀 작업 시 사용)
 *
 * @param rowId : 행 고유 번호
 * @param value : 센터ID
 */
async function changedLcNmCallBack(value: string) {
  const res: any = await ApiService.postApi("/WMSCM011/list_rn.action", {}, { S_CUST_ID: "", S_LC_ALL: "ALL", S_CUST_TYPE: "12", S_LC_ID: value });
  useOptionDataStore().setOptionData({ [`${value}`]: UtilService.convertOptionDataSet(res.result.list, "CUST_ID", "CUST_NM") });
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

.explanation-container {
  left: 200px;
}
</style>
