<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS092_3/form.vue
 *  Description:    기준정보/임가공,매칭정보조회 메인 Form 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <ul class="form-container" ref="formContainerRef">
    <li class="top">
      <my-grid1 :onGridReady="onParentGridReady" :onSelectionChanged="onSelectionChanged" :onRowClicked="onRowClicked" :INFO="INFO" />
    </li>
    <li class="bottom">
      <control-container>
        <div v-for="btnData in controlBtn.value" :key="btnData.title">
          <control-button
            v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del') && Object.keys(childrenItems.value).length > 0"
            :data="btnData"
            :saveRowData="saveRowData"
            :deleteRowData="deleteRowData" />
          <control-button
            v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')"
            :data="btnData"
            :addRowData="addRowData"
            :excelExport="excelExport"
            :clickManual="clickManual"
            :excelImport="excelImport" />
        </div>
      </control-container>
      <my-grid2
        :onGridReady="onChildrenGridReady"
        :parentProductInfo="selectedRowItem.value"
        :INFO="INFO"
        @onPageSizeChanged="
          (ps) => {
            pagingSize = ps;
          }
        "
        @selectedItemsEv="
          (e: any) => {
            childrenItems.value = e;
          }
        " />
    </li>
  </ul>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ref, watch, reactive, onMounted, onActivated, onDeactivated } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { useSelectedDataStore, useSearchConditionStore, useFormHeightStore, useConfirmStore, userStore, menusStore } from "@/store";
import { ApiService, REST_SERVICE_PRODUCTION_URL } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import MyGrid1 from "./grid1.vue";
import MyGrid2 from "./grid2.vue";
import { INFO, SEARCH_INPUT, CONTROL_BTN } from "./input";
import { L2_FORM_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const { t } = useI18n();
const bodyData = reactive({ value: {} as any });
const tempCount = ref<number>(0);
const pagingOptions = UtilService.getGridPagingOptions("WMSMS092_1");
const pagingSize = ref<number>(pagingOptions![0]);
const formContainerRef = ref(null as null | any);
let parentGridApi: GridApi | null = null;
let childrenGridApi: GridApi | null = null;
const childrenItems = reactive({ value: [] as any });
const selectedItem = reactive({ value: [] as any });
const inactive = ref<boolean>(false);
const selectedRowItem = reactive({ value: {} } as { value: any });
const controlBtn = reactive({ value: CONTROL_BTN as any });
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();

  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSMS", "WMSMS092_3", menusStore().getMenus(), controlBtn);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});

watch(useFormHeightStore()._searchCompHeight, () => {
  if (!inactive.value) {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  }
});

watch(useSearchConditionStore()._availableSearchBySearchCondition, () => {
  if (!inactive.value) {
    if ((UtilService.getAuthOnButton("WMSMS", "WMSMS092_3", menusStore().getMenus(), null).SER_AUTH || "Y") === "Y") {
      searchParentGridData();
    }
  }
});

watch(selectedItem, () => {
  if (!inactive.value) {
    if (selectedItem.value.length === 0) {
      return;
    }
    selectedRowItem.value = selectedItem.value[0];
    getChildrenDatas();
  }
});

onActivated(() => {
  inactive.value = false;
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onDeactivated(() => {
  inactive.value = true;
});

// User Function Definitions
const onParentGridReady = (params: any) => {
  parentGridApi = params.api;
  useSearchConditionStore().setAvailableSearchBySearchCondition(true);
};
const onChildrenGridReady = (params: any) => {
  childrenGridApi = params.api;
};

//전체 검색 - 세트상품(부모) 조회
function searchParentGridData() {
  if (useSearchConditionStore().getAvailableSearchBySearchCondition()) {
    let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
    apiParams._fullpath = "기준관리 &gt; 임가공상품구성정보관리";
    apiParams.GRID_ID = "";
    apiParams.GRID_SUB_ID = "";
    apiParams.vrSetRitemCd = "";
    parentGridApi?.setServerSideDatasource({
      getRows: async (params: IServerSideGetRowsParams) => {
        if (useSearchConditionStore().getResetValue()) {
          UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
          UtilService.setGridData("server-side", parentGridApi, null, params);
          childrenGridApi?.setServerSideDatasource({
            getRows: async (params: IServerSideGetRowsParams) => {
              return params.successCallback([], 0);
            },
          });
          return;
        }
        await getParentData(params, apiParams);
      },
    });
  }
  useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  parentGridApi?.deselectAll();
  childrenGridApi?.deselectAll();
}

async function getParentData(params: IServerSideGetRowsParams, apiParams: any) {
  setPagingBodyData(params);
  const gridData = await ApiService.postApi("/WMSMS092/listE6_rn.action", apiParams, bodyData.value, false);
  if (gridData.status) {
    if (gridData.result.list.length > 0) {
      params.successCallback(gridData.result.list, gridData.result.totCnt);
    } else {
      useToast().warning(t("common-toast.no-data-list"));
    }
  } else {
    params.successCallback([], 0);
  }
  useSearchConditionStore().setAvailableSearchBySearchCondition(false);

  childrenGridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      UtilService.setGridData("server-side", childrenGridApi, null, params);
    },
  });
}

// grid에 paging option 적용
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 신규 빈 행 추가
function addRowData() {
  //첫번째 그리드 값을 먼저 선택한 후 두번째 그리드 신규 추가 가능
  if (Object.keys(selectedItem.value).length > 0) {
    return useToast().warning(t("grid-warning.select-parent-product"));
  }

  const tempId = `temp${tempCount.value}`;
  let columndefs = {} as any;
  L2_FORM_COLUMN_DEFS.forEach((columnDef: any) => {
    if (columnDef.field) {
      columndefs[columnDef.field] = "";
    }
  });
  columndefs[INFO.pk2!] = tempId;
  const newRowData = [columndefs];

  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(childrenGridApi?.paginationGetCurrentPage()) + 1) * Number(childrenGridApi?.paginationGetPageSize()) - Number(childrenGridApi?.paginationGetPageSize());
  childrenGridApi?.applyServerSideTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });
  tempCount.value++;
  childrenGridApi?.getRowNode(String(columndefs[INFO.pk2!]))?.setSelected(true);
  useSelectedDataStore().selectedHandler(childrenGridApi?.getRowNode(String(columndefs[INFO.pk2!]))?.data);
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (useSelectedDataStore().getSelectedDataList().length !== parentGridApi?.getSelectedRows().length) {
      selectedItem.value = parentGridApi?.getSelectedRows();
    }
  } else {
    selectedItem.value = parentGridApi?.getSelectedRows();
    // getChildrenDatas();
  }
}

function onRowClicked(params: any) {
  params.node.isSelected() ? params.node.setSelected(false) : params.node.setSelected(true);
  // getChildrenDatas();
}

function getChildrenDatas() {
  childrenGridApi?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const paramData = {} as { vrSetRitemId_E6: string };
      if (selectedItem.value) {
        paramData.vrSetRitemId_E6 = selectedItem.value[selectedItem.value.length - 1]["RITEM_ID"];
      }
      const gridData = await ApiService.postApi("/WMSMS092/listE7_rn.action", paramData, bodyData.value, false);
      if (gridData.status) {
        if (gridData.result.list.length > 0) {
          UtilService.setGridDatasRowNum(gridData.result.list);
          UtilService.setGridData("server-side", childrenGridApi, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", childrenGridApi, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
        }
      } else {
        UtilService.setGridData("server-side", childrenGridApi, null, params);
      }
    },
  });
  childrenGridApi?.deselectAll();
}

//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.kit-product-component-information"),
  };
  childrenGridApi?.exportDataAsExcel(excelExportParams);
}

// 엑셀입력 클릭시, excel import
function excelImport() {
  const data = {
    modalTitle: t("modal-title.kit-product-component-information-enter-excel"),
    saveUrl: "/WMSMS092/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS092&file_name=execlTemp_setOfGoods_02.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

// 메뉴얼 클릭
async function clickManual() {
  location.href = REST_SERVICE_PRODUCTION_URL + "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS092&file_name=WINUS_WMSMS092_MANUAL_KOR.pdf";
}

//삭제
async function deleteRowData() {
  if (!childrenItems.value || childrenItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  let body = UtilService.getBodyDataByGridAndInfo(INFO.pk2 || "", null, L2_FORM_COLUMN_DEFS, childrenItems.value, false, "delete");
  let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  body = { ...body, ...apiParams };
  body.GRID_ID_E6 = selectedItem.value[INFO.pk] + "";
  body.vrSetRitemId_E6 = selectedItem.value.RITEM_ID;
  body.vrSetRitemCd = selectedItem.value.ITEM_CODE;
  body.GRID_SUB_ID_E6 = "";
  body.LC_ID = userStore().getUserLocation().LC_ID;
  body["I_selectIds"] = 0 + "";
  body["D_selectIds"] = body.selectIds;

  try {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
    const res = await ApiService.postApi("/WMSMS092/saveE6_2_rn.action", {}, body);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(res.result.MSG);
      } else {
        useToast().success(t("common-toast.deleted"));
        childrenGridApi?.deselectAll();
        childrenGridApi?.refreshServerSide(res);
        tempCount.value = 0;
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

// 저장
async function saveRowData() {
  if (!childrenItems.value || childrenItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let body = UtilService.getBodyDataByGridAndInfo(INFO.pk2 || "", null, L2_FORM_COLUMN_DEFS, childrenItems.value, false, "save");
    let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
    body = { ...body, ...apiParams };
    body.GRID_ID_E6 = selectedItem.value[INFO.pk] + "";
    body.vrSetRitemId_E6 = selectedItem.value.RITEM_ID;
    body.GRID_SUB_ID_E6 = "";
    body.LC_ID = userStore().getUserLocation().LC_ID;
    childrenItems.value.forEach((selectedItem: any, i: number) => {
      body["QTY" + i] = selectedItem.data["QTY"] + "";
      body["UOM_CODE" + i] = selectedItem.data["UOM_NM"];
      body["SET_RITEM_CODE" + i] = selectedItem.value.ITEM_CODE;
      body["PART_RITEM_CODE" + i] = selectedItem.data["PART_RITEM_NM"];
    });

    const res = await ApiService.postApi("/WMSMS092/saveE6_2_rn.action", {}, body);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(res.result.MSG);
      } else {
        useToast().success(t("common-toast.registered"));
        childrenGridApi?.deselectAll();
        childrenGridApi?.refreshServerSide(res);
        tempCount.value = 0;
      }
    }
  } catch (err) {
    return console.log(err);
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;

@include formContainerStyle;

.form-container {
  flex-direction: column;
  justify-content: space-between;
  overflow: none;
  > li {
    height: calc(50% - 6px);
    .grid-container {
      height: calc(100% - 48px);
    }
  }
}
</style>
