<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS092_3/grid1.vue
 *  Description:    기준정보/임가공,매칭정보조회 메인 Form화면의 상단 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-header">{{ $t("grid-title.kit-product(parent)") }}</div>
    <ag-grid-vue class="ag-theme-alpine grid-size" :gridOptions="gridOptions" />
    <div class="ag-paging-custom">
      <select @change="onPageSizeChanged" class="page-size">
        <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
      </select>
      <span>Total : {{ totalRows }}</span>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onBeforeMount, ref } from "vue";
import { useI18n } from "vue-i18n";
import { AgGridVue } from "ag-grid-vue3";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { UtilService } from "@/services/util-service";
import { L1_FORM_COLUMN_DEFS } from "./column-defs";

// Variable Definitions
const { t } = useI18n();
const { onGridReady, onSelectionChanged, onRowClicked, INFO } = defineProps<{
  onGridReady: any;
  onSelectionChanged: any;
  onRowClicked: any;
  INFO: any;
}>();
const pagingOptions = UtilService.getGridPagingOptions("WMSMS092_3");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const emits = defineEmits(["onPageSizeChanged"]);
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};
const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  onPaginationChanged: onPaginationChanged,
  columnDefs: L1_FORM_COLUMN_DEFS,
  onRowSelected: onSelectionChanged,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  onRowClicked: onRowClicked,
  suppressCellFocus: true,
  onGridReady: onGridReady,
  rowSelection: "single",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  cacheBlockSize: pagingOptions![0],
  getRowId: (data) => {
    return data.data[INFO.pk];
  },
};

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });
});

// User Function Definitions
// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.grid-size {
  height: calc(100% - 31px) !important;
}

.grid {
  &-container {
    width: 100% !important;
    position: relative;
    margin-bottom: 20px;
    margin-top: 48px;
  }

  &-header {
    @include flexbox(row, flex-start, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}
</style>
