<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS092_3/grid2.vue
 *  Description:    기준정보/임가공,매칭정보조회 메인 Form화면의 하단 Grid 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="grid-container">
    <div class="grid-header">
      {{ $t("grid-title.kit-product-component") }}
      <span class="item-nm" v-if="parentProductInfo?.RITEM_ID">{{ $t("grid-title.kit-product-parent") }}: {{ parentProductInfo?.ITEM_KOR_NM + "(" + parentProductInfo?.ITEM_CODE + ")" }} </span>
    </div>
    <div style="height: 100%">
      <ag-grid-vue :gridOptions="gridOptions" :modules="[ExcelExportModule]" :context="{ ...GRID_CELL_SELECT_BOX, ...GRID_CELL_SEARCH_BUTTON }" class="ag-theme-alpine grid-size" />
      <div class="ag-paging-custom">
        <select @change="onPageSizeChanged" class="page-size">
          <option v-for="(option, i) in pagingOptions" :key="i" :value="option">{{ option }}</option>
        </select>
        <span>Total : {{ totalRows }}</span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onBeforeMount } from "vue";
import { useI18n } from "vue-i18n";
import { AgGridVue } from "ag-grid-vue3";
import { GridOptions } from "ag-grid-community";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import { ExcelExportModule } from "ag-grid-enterprise";
import { useSelectedDataStore } from "@/store";
import { UtilService } from "@/services/util-service";
import { L2_FORM_COLUMN_DEFS } from "./column-defs";
import { GRID_CELL_SEARCH_BUTTON, GRID_CELL_SELECT_BOX } from "./input";

// Variable Definitions
const { t } = useI18n();
const { onGridReady, parentProductInfo } = defineProps<{
  onGridReady: any;
  parentProductInfo: any;
  INFO: any;
}>();
const pagingOptions = UtilService.getGridPagingOptions("WMSMS092_3");
const pagingSize = ref<number>(pagingOptions![0]);
const totalRows = ref<number>(0);
const emits = defineEmits(["onPageSizeChanged", "selectedItemsEv"]);
const onPaginationChanged = () => {
  if (gridOptions?.api) {
    totalRows.value = gridOptions.api.paginationGetRowCount();
  }
};
const gridOptions: GridOptions = {
  defaultColDef: {
    resizable: true,
    menuTabs: [],
  },
  headerHeight: 32,
  rowHeight: 32,
  onPaginationChanged: onPaginationChanged,
  columnDefs: L2_FORM_COLUMN_DEFS,
  onRowSelected: onSelectionChanged,
  onGridReady: onGridReady,
  suppressRowClickSelection: true,
  suppressContextMenu: true,
  suppressClickEdit: true,
  rowSelection: "multiple",
  rowModelType: "serverSide",
  pagination: true,
  paginationPageSize: pagingOptions![0],
  enableCellEditingOnBackspace: false,
  groupSelectsChildren: true,
  getRowId: (data) => {
    //고유 key값
    return data.data.RNUM;
  },
  onCellDoubleClicked: onCellDoubleClicked,
  onCellFocused: onCellFocused,
  onBodyScrollEnd: () => {
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  },
};

// Framework Function Definitions
onBeforeMount(async () => {
  // grid column-name 다국어 적용
  gridOptions.columnDefs?.forEach((column: any) => {
    if (column.headerKey) {
      column.headerName = t("grid-column-name." + column.headerKey);
    }
  });

  // grid editColumn tab event제거
  gridOptions.columnDefs?.forEach((column: any) => {
    if (Object.hasOwn(column, "editable")) {
      column.suppressKeyboardEvent = () => {
        return true;
      };
    }
  });

  gridOptions.columnDefs?.forEach((column: any) => {
    column.suppressKeyboardEvent = (params: any) => {
      if (params.event.key === "Enter" || params.event.key === "Backspace") {
        return true;
      } else {
        return false;
      }
    };
  });
});

// User Function Definitions
function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

function onCellDoubleClicked() {
  useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
}

// 페이지 사이즈 변경
function onPageSizeChanged(e: Event) {
  const target = e.target as HTMLSelectElement;
  gridOptions.api?.paginationSetPageSize(Number(target.value));
  gridOptions.api?.setCacheBlockSize(Number(target.value));
  pagingSize.value = Number(target.value);
  emits("onPageSizeChanged", pagingSize.value);
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (useSelectedDataStore().getSelectedDataList().length !== gridOptions.api?.getSelectedRows().length) {
      const selectedItem = e.api.getSelectedNodes();
      emits("selectedItemsEv", selectedItem);
      useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
    }
  } else {
    const selectedItem = e.api.getSelectedNodes();
    emits("selectedItemsEv", selectedItem);
    useSelectedDataStore().changeSelectedDataList(gridOptions.api?.getSelectedRows());
  }
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
.grid-size {
  height: calc(100% - 31px) !important;
}
.grid {
  &-container {
    width: 100% !important;
    position: relative;
  }

  &-header {
    @include flexbox(row, space-between, center, nowrap);

    background-color: $main-menu-sub;
    height: 31px;
    padding-left: 13px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.92px;
    color: #fff;
  }
}

.item-nm {
  padding-right: 10px !important;
}
</style>
