<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:    WMSMS092_3/page.vue
 *  Description:    임가공상품구성정보 업무 화면
 *  Authors:        H.N.KO
 *  Update History:
 *                  2024.07. : Created by H.N.KO
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="masterFormRef"
        :gridId="`${myPageId}-master-grid`"
        :gridMeta="GRID_META"
        :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
        :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
        :controlBtn="MASTER_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onMasterApiParamsChanged"
        :getServerData="getMasterData"
        @onSelectionChanged="onSelectionChanged"
        :context="{}">
        <div class="grid-header">{{ masterGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
      <common-form
        ref="detailFormRef"
        :gridId="`${myPageId}-detail-grid`"
        :gridMeta="GRID_META"
        :disableSearchEvent="disableSearchEvent"
        :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
        :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
        :controlBtn="DETAIL_CONTROL_BTN"
        :searchInput="SEARCH_INPUT"
        :onApiParamsChanged="onDetailApiParamsChanged"
        @onSelectionChanged="onDetailGridSelectionChanged"
        :modules="[ExcelExportModule]"
        :getServerData="getDetailData"
        :context="{ ...DETAIL_GRID_CELL_SELECT_BOX, ...DETAIL_GRID_CELL_SEARCH_BUTTON }">
        <div class="grid-header">{{ detailGridTitleRef }}</div>
        <control-container>
          <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y' && selectedItems.value && Object.keys(selectedItems.value).length > 0" :data="btnData" @clicked="eventHandler[btnData.title]" />
            <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </common-form>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS092_3" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore, userStore } from "@/store";
import { ExcelExportParams, GridApi, IServerSideGetRowsParams } from "ag-grid-community";
import { ExcelExportModule } from "ag-grid-enterprise";
import { computed, onMounted, reactive, ref, unref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { DETAIL_GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import { INFO, SEARCH_INPUT } from "./input";

import {
  DETAIL_CONTROL_BTN,
  DETAIL_GRID_CELL_SEARCH_BUTTON,
  DETAIL_GRID_CELL_SELECT_BOX,
  DETAIL_GRID_OPTIONS_META,
  GRID_META,
  MASTER_CONTROL_BTN,
  MASTER_GRID_OPTIONS_META,
  SEARCH_META,
} from "./input.meta";

const { t } = useI18n();
const tempCount = ref<number>(0);

// Variable Definitions
const masterFormRef = ref();
const detailFormRef = ref();
const disableSearchEvent = true;
const masterGridApi = computed(() => {
  return unref(masterFormRef.value.gridApi);
});
let childrenGridData = reactive({ value: {} as any });
const bodyData = reactive({ value: {} as any });
const pagingOptions = UtilService.getGridPagingOptions("WMSMS092_3");
const pagingSize = ref<number>(pagingOptions![0]);

const detailGridApi = computed(() => {
  return unref(detailFormRef.value.gridApi);
});
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);

const searchValue = ref<boolean>(false);

const selectedItem = reactive({ value: [] as any });

//master grid 선택시(복수 체크)
const selectedItems = ref<Record<string, any>>({});

//master grid 선택시(하나만 체크)
const selectedMasterItem = ref<Record<string, any>>({});

//디테일 그리드 전체
const detailItemList = ref<Record<string, any>>({});

//체크된 디테일 그리드 전체
const childrenItems = reactive({ value: [] as any });

let childrenGridApi: GridApi | null = null;

const eventHandler: Record<string, Function> = {
  save: saveRowData,
  "enter-excel": excelImport,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
  // "confirmation-of-order": fn_ordConfirm,
  // "trading-statement": fn_tradingStat,
  // "total-trading-statement": fn_tradingStatAll,
};

const masterGridTitleRef = t("menu-header-title.WMSMS092_3_master");
const detailGridTitleRef = t("menu-header-title.WMSMS092_3_detail");

const formTheme = {
  "--flex-direction": "column",
};

function sessionStorageReady() {}

// Framework Function Definitions
onMounted(async () => {
  //event로 처리가 필요하나 ???
  myPageId.value = useTabsStore().selectedTab.value?.id;
  const res = await ApiService.postApi(`/WINUS/WMSMS092_rn.action`, {}, UtilService.getOptionApiData(`WMSMS092_rn`));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
  const res2 = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));

  if (res2.status) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res2.result);
  }
});

//엑셀 export
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.kit-product-component-information"),
  };
  detailGridApi.value?.exportDataAsExcel(excelExportParams);
}
// 엑셀입력 클릭시, excel import
function excelImport() {
  const data = {
    modalTitle: t("modal-title.kit-product-component-information-enter-excel"),
    saveUrl: "/WMSMS092/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS092&file_name=execlTemp_setOfGoods_02.xls",
  };
  UtilService.excelImport(data, "/excel-import");
}

//삭제
async function deleteRowData() {
  if (!childrenItems.value || childrenItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  let body = UtilService.getBodyDataByGridAndInfo(INFO.pk2 || "", null, DETAIL_GRID_COLUMN_DEFS, childrenItems.value, false, "delete");
  let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  body = { ...body, ...apiParams };

  body.GRID_ID = selectedMasterItem.value.RNUM;
  body.vrSetRitemId = selectedMasterItem.value.RITEM_ID;
  body.vrSetRitemCd = selectedMasterItem.value.ITEM_CODE;
  body.GRID_SUB_ID = "";
  body.LC_ID = userStore().getUserLocation().LC_ID;
  body["I_selectIds"] = 0 + "";
  body["D_selectIds"] = body.selectIds;

  childrenItems.value.forEach((selectedItem: any, i: number) => {
    body["SET_RITEM_ID" + i] = selectedMasterItem.value.RITEM_ID;
    body["PART_RITEM_ID" + i] = selectedItem.PART_RITEM_ID;
    body["SET_SEQ" + i] = selectedItem.SET_SEQ;
  });

  try {
    await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));
    const res = await ApiService.postApi("/WMSMS092/deleteItem_rn.action", {}, body);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(res.result.MSG);
      } else {
        useToast().success(t("common-toast.deleted"));
        detailGridApi.value?.deselectAll();
        getChildrenDatas();
        tempCount.value = 0;
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

function getChildrenDatas() {
  detailGridApi.value?.sizeColumnsToFit();
  detailGridApi.value?.setServerSideDatasource({
    getRows: async (params: IServerSideGetRowsParams) => {
      setPagingBodyData(params);
      const paramData = {} as { vrSetRitemId_E6: string };
      if (selectedMasterItem.value) {
        paramData.vrSetRitemId_E6 = selectedMasterItem.value["RITEM_ID"];
      }
      const gridData = await ApiService.postApi("/WMSMS092/listE7_rn.action", paramData, bodyData.value, false);
      if (gridData.status) {
        if (gridData.result.list.length > 0) {
          childrenGridData.value = gridData.result.list;
          UtilService.setGridData("server-side", detailGridApi.value, { gridDataArray: gridData.result.list, totalCount: UtilService.resetGridDataTotalCount(gridData, bodyData.value.rows) }, params);
        } else {
          UtilService.setGridData("server-side", detailGridApi.value, null, params, { toastStatus: "warning", toastText: t("common-toast.no-data-list") });
        }
      } else {
        UtilService.setGridData("server-side", detailGridApi.value, null);
      }
    },
  });
  detailGridApi.value?.deselectAll();
}

// grid에 paging option 적용
function setPagingBodyData(params: any) {
  const endRow = params.request.endRow;
  const startRow = params.request.startRow;
  const pageSize = endRow! - startRow!;
  const currentPage = Math.floor(startRow! / pageSize) + 1;

  const sortParameterObject = { sidx: null, sord: "asc" };
  UtilService.updateSortParameter(params, sortParameterObject);

  bodyData.value = {
    _search: false,
    nd: UtilService.getTimeStamp(),
    rows: String(pagingSize.value),
    page: String(currentPage),
    sidx: sortParameterObject.sidx,
    sord: sortParameterObject.sord,
  };
}

// 신규 빈 행 추가
function addRowData() {
  //selectedMasterItem(디테일 그리드 클릭 or 체크 시 값이 존재하는 객체) 이 존재하지 않으면
  if (Object.keys(selectedMasterItem.value).length <= 0) {
    return useToast().warning(t("grid-warning.select-parent-product"));
  }

  const tempId = `temp${tempCount.value}`;
  let columndefs = {} as any;

  //key 값을 column값으로 셋팅 value는 공백
  DETAIL_GRID_COLUMN_DEFS?.forEach((columnDef: any) => {
    if (columnDef.field) {
      columndefs[columnDef.field] = "";
    }
  });

  //INFO.pk2(RNUM)값
  columndefs[INFO.pk!] = tempId;

  const newRowData = [columndefs];
  // 현재 페이지의 0번째 인덱스
  const addNewIndex = (Number(detailGridApi.value?.paginationGetCurrentPage()) + 1) * Number(detailGridApi.value?.paginationGetPageSize()) - Number(detailGridApi.value?.paginationGetPageSize());
  detailGridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: addNewIndex,
  });
  tempCount.value++;
  //그리드 첫번재 행에 새로운 행 추가 + 체크
  detailGridApi.value?.getRowNode(String(columndefs[INFO.pk!]))?.setSelected(true);
  useSelectedDataStore().selectedHandler(detailGridApi.value?.getRowNode(String(columndefs[INFO.pk!]))?.data);
  // detailGridApi.value?.refreshCells({ columns: ["NO"], suppressFlash: true });
}
async function saveRowData() {
  detailGridApi.value?.stopEditing();

  childrenItems.value = detailGridApi.value?.getSelectedRows();

  if (!childrenItems.value || childrenItems.value.length === 0) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let body = UtilService.getBodyDataByGridAndInfo(INFO.pk2 || "", null, DETAIL_GRID_COLUMN_DEFS, childrenItems.value, false, "save");
    let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
    body = { ...body, ...apiParams };
    body.GRID_ID_E6 = selectedMasterItem.value.RNUM + "";
    body.vrSetRitemId_E6 = selectedMasterItem.value.RITEM_ID;

    body.GRID_SUB_ID_E6 = "";
    body.LC_ID = userStore().getUserLocation().LC_ID;
    childrenItems.value.forEach((selectedItem: any, i: number) => {
      if (String(selectedItem.RNUM).includes("temp")) {
        body["ST_GUBUN" + i] = "INSERT";
      } else {
        body["ST_GUBUN" + i] = "UPDATE";
      }

      // modelDt.put("UOM_ID"        , model.get("UOM_ID"+i));           //화면필수
      // modelDt.put("QTY"           , model.get("QTY"+i));              //화면필수
      // modelDt.put("SET_RITEM_ID"  , model.get("SET_RITEM_ID"+i));     //db필수       //유효성체크
      // modelDt.put("PART_RITEM_ID" , model.get("PART_RITEM_ID"+i));    //화면,db필수   //유효성체크

      body["QTY" + i] = selectedItem.QTY + "";
      body["UOM_ID" + i] = selectedItem.UOM_ID;
      body["UOM_NM" + i] = selectedItem.UOM_NM;
      body["SET_RITEM_CODE" + i] = selectedItem.ITEM_CODE;
      body["SET_RITEM_ID" + i] = selectedMasterItem.value.RITEM_ID;
      body["PART_RITEM_ID" + i] = selectedItem.PART_RITEM_ID;
    });

    const res = await ApiService.postApi("/WMSMS092/saveE6_2_rn.action", {}, body);
    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(res.result.MSG);
      } else {
        useToast().success(t("common-toast.registered"));
        childrenGridApi?.deselectAll();
        childrenGridApi?.refreshServerSide(res);
        tempCount.value = 0;
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

function onDetailGridSelectionChanged(e: any) {
  childrenItems.value = detailGridApi.value?.getSelectedRows();
}

// Master 그리드에서 선택 값 변경시
function onSelectionChanged(e: any) {
  let isSelected = e.event.node.selected;
  selectedItems.value = masterGridApi.value?.getSelectedRows();
  //체크해제시 detailGrid 빈값으로 셋팅
  if (!isSelected) {
    detailGridApi.value?.setRowData([]);
  } else {
    selectedMasterItem.value = masterGridApi.value?.getSelectedRows()[0];
    detailFormRef.value.searchGridData();
  }
}

function onMasterApiParamsChanged(apiParams: any) {
  apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());
  apiParams._fullpath = "기준관리 &gt; 임가공상품구성정보관리";
  apiParams.GRID_ID = "";
  apiParams.GRID_SUB_ID = "";
  apiParams.vrSetRitemCd = "";
  return apiParams;
}

function onDetailApiParamsChanged(apiParams: any) {
  detailGridApi.value?.deselectAll();
  detailGridApi.value?.sizeColumnsToFit();
  apiParams.vrSetRitemId_E6 = selectedMasterItem.value.RITEM_ID;
  return apiParams;
}

async function getMasterData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/WMSMS092/listE6_rn.action", apiParams, bodyData.value, false);
}

async function getDetailData(apiParams: any, bodyData: any) {
  let res = await ApiService.postApi("/WMSMS092/listE7_rn.action", apiParams, bodyData.value, false);
  if (res.result.list.length > 0 || !res.result.list) {
    detailItemList.value = res.result.list;
  }
  return res;
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  // position: absolute;
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
