<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS092_3/search.vue
 *  Description:    기준정보/임가공,세트상품정보관리 상단의 검색 영역 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="search-area" ref="searchComponentRef">
    <search-container :data="SEARCH_INPUT" :use-setting="false" :ser-auth="page.value['SER_AUTH'] || 'Y'">
      <template v-slot:search_input_slot>
        <search-container-input
          v-for="(props, i) in SEARCH_INPUT"
          :key="i"
          :data="props"
          :columnDefs="MODAL_COLUMN_DEFS?.[props.title]"
          :modalData="SEARCH_MODAL_INFO?.[props.title]"
          :pageInfo="INFO" />
      </template>
    </search-container>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onMounted, reactive, ref } from "vue";

import { UtilService } from "@/services/util-service";
import { menusStore, useFormHeightStore } from "@/store";

import { SearchContainerInput } from "@/components/input";
import { SearchContainer } from "@/components/layout";

import { MODAL_COLUMN_DEFS } from "./column-defs";
import { INFO, SEARCH_INPUT, SEARCH_MODAL_INFO } from "./input";

// Variable Definitions
const searchComponentRef = ref(null as null | HTMLDivElement);
const page = reactive({ value: {} as any });

// Framework Function Definitions
onMounted(() => {
  if (searchComponentRef.value) {
    useFormHeightStore().setSearchCompHeight(Number(searchComponentRef.value.clientHeight) - 48);
  }
  const setAuthOnButtonsInterval = setInterval(() => {
    if (UtilService.isEmptyObject(page.value)) {
      page.value = UtilService.getAuthOnButton("WMSMS", "WMSMS092_3", menusStore().getMenus(), null);
    } else {
      clearInterval(setAuthOnButtonsInterval);
    }
  }, 500);
});
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
