<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST030_2/page.vue
 *  Description:    재고/재고명의변경(신규)_통합재고 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady" />
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      :getContextMenuItems="getContextMenuItems"
      :context="{ ...GRID_CELL_SEARCH_BUTTON, ...GRID_CELL_SELECT_BOX }">
      <div class="grid-header">
        {{ gridHeaderTitle }}
      </div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && btnData.title === 'change-of-owner'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'change-of-owner')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
  -------------------------------->
<script lang="ts">
export default { name: "WMSST030_2" };
</script>
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import commonForm from "@/page/common-page/common-form.vue";
import commonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import type { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { computed, onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import { CONTROL_BTN, GRID_CELL_SEARCH_BUTTON, GRID_CELL_SELECT_BOX, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META, gridOptionsMeta } from "./input.meta";

//#region ::  Variable Definitions

const { t } = useI18n();
const eventBus = useEventBusStore();
const myPageId = ref<string>();
const gridApi = ref<GridApi | undefined>();
const gridHeaderTitle = computed(() => {
  return t("grid-title.integrated-inventory");
});
const commonFormRef = ref<InstanceType<typeof commonForm> | null>(null);
const gridControlBtnRef = ref(CONTROL_BTN);
let searchGridData: Function;

const eventHandler: Record<string, Function> = {
  "change-of-owner": changeOfOwner,
  excel: excelExport,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSMS090_rn");
  const res = await ApiService.postApi("/WINUS/WMSMS090_rn.action", {}, data);
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

// 명의 변경
async function changeOfOwner() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const saveEditGridRequiredValidation: any = UtilService.saveEditGridRequiredValidation(gridApi.value!);

  if (!saveEditGridRequiredValidation.status) {
    return useToast().warning(t("common-toast.no-save-grid-require-value", { line: saveEditGridRequiredValidation.line, key: saveEditGridRequiredValidation.name }));
  }

  for (let i = 0; selectedRows.length > i; i++) {
    // 출고예정수량이 0인 row만 명의변경이 가능
    if (selectedRows[i].OUT_EXP_QTY !== 0) {
      return useToast().warning(t("common-toast.not-available-change-of-owner-2"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    let data: any = {
      _fullpath: "재고관리 &gt; 재고명의변경(신규)",
      vrSrchCustCdE2: useSelectedDataStore().getSelectedModalData().owner.CUST_CD,
      vrSrchCustIdE2: useSelectedDataStore().getSelectedModalData().owner.CUST_ID,
      vrSrchCustNmE2: useSelectedDataStore().getSelectedModalData().owner.CUST_NM,
      vrSrchRitemCdE2: useSelectedDataStore().getSelectedModalData().product?.ITEM_CODE || "",
      vrSrchRitemIdE2: useSelectedDataStore().getSelectedModalData().product?.RITEM_ID || "",
      vrSrchRitemNmE2: useSelectedDataStore().getSelectedModalData().product?.ITEM_KOR_NM || "",
      vrSrchWhCdE2: useSelectedDataStore().getSelectedModalData().warehouse?.WH_CD || "",
      vrnSrchWhIdE2: useSelectedDataStore().getSelectedModalData().warehouse?.WH_ID || "",
      vrSrchWhNmE2: useSelectedDataStore().getSelectedModalData().warehouse?.WH_NM || "",
      ROW_COUNT: String(selectedRows.length),
    };
    for (let i = 0; selectedRows.length > i; i++) {
      data["I_CUST_CD_" + [i]] = useSelectedDataStore().getSelectedModalData().owner.CUST_CD;
      data["I_FROM_RITEM_CD_" + [i]] = selectedRows[i].SELL_ITEM_CD;
      data["I_TO_RITEM_CD_" + [i]] = selectedRows[i].I_TO_RITEM_CD;
      data["I_WORK_QTY_" + [i]] = String(selectedRows[i].SELL_QTY);
      data["I_TO_UOM_ID_" + [i]] = selectedRows[i].UOM_CD;
      data["I_CHANGE_WORK_MEMO_" + [i]] = selectedRows[i].I_CHANGE_WORK_MEMO || "";
    }

    const result = await ApiService.postApi("/WMSST030/excuteTotalStock_rn.action", {}, data);
    if (result.status) {
      if (result.result.errCnt > 0) {
        throw new Error(result.result.MSG);
      }
      useToast().success(t("common-toast.registered"));
      searchGridData();
    }
    useSearchConditionStore().setAvailableSearchBySearchCondition(true);
  } catch (err) {
    console.log(err);
    useToast().error(t("common-toast.error"));
  }
}

//엑셀
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.change-of-title(integrated inventory)"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//#endregion

//#region ::  Grid Event CallBack Definitions

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}

async function getServerData(apiParams: any, bodyData: any) {
  const res = await ApiService.postApi("/WMSST100/listE2_rn.action", apiParams, bodyData.value, false);
  const list: Array<any> = res.result.list;
  if (list.length > 0) {
    list.forEach((item, index) => {
      item.RNUM = index;
    });
  }
  return res;
}

// context menu
function getContextMenuItems(params: any) {
  const result = [
    {
      name: t("grid-context-menu-title.fill-selection-row"),
      action: async () => {
        fillSelectionRow(params);
      },
      cssClasses: ["redFont", "bold"],
    },
  ];

  return result;
}

/**
 * [Context Menu] 선택행 채우기
 * - 우측의 동적으로 입력 가능한 상품코드, 상품명, 수량 열에만 해당됨
 *
 * @param params
 */
function fillSelectionRow(params: any) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  const selectedNode = gridApi.value?.getSelectedNodes();

  const column = params.column.colId;

  const availableColumnList = ["I_TO_RITEM_CD", "I_TO_RITEM_NM", "UOM_CD", "I_CHANGE_WORK_MEMO"];

  if (!availableColumnList.includes(column)) {
    return;
  }

  if (!Object.hasOwn(selectedRows[0], column)) {
    return;
  }

  const value = selectedRows[0][column];

  for (const node of selectedNode!) {
    node.setDataValue(column, value);
  }

  useSelectedDataStore().changeSelectedDataList(gridOptionsMeta.api?.getSelectedRows());
}

//#endregion
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    // padding-left: 20px;
    gap: 31px;
    // background-color: rgba(255, 255, 255, 0.5);
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
