<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS095/page.vue
 *  Description:    화주별거래처상품관리 화면
 *  Authors:        S. Y. LIM
 *  Update History:
 *                  2024.09. : Created by S. Y. Lim
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <div class="form-container-grid" :style="formTheme">
      <common-form
        ref="commonFormRef"
        :gridId="`${myPageId}-grid`"
        :gridMeta="GRID_META"
        :onCellFocused="onCellFocused"
        :gridOptionsMeta="GRID_OPTIONS_META"
        :formColumnDefs="GRID_COLUMN_DEFS"
        :searchInput="SEARCH_INPUT"
        :getServerData="getServerData"
        @onSelectionChanged="onSelectionChanged"
        :context="[]">
        <div class="grid-header">{{ gridTitleRef }}</div>
      </common-form>
      <div class="form-container-detail-grid" :style="formDetailTheme">
        <common-form
          ref="masterFormRef"
          :gridId="`${myPageId}-master-grid`"
          :gridMeta="GRID_META"
          :disableSearchEvent="true"
          :gridOptionsMeta="MASTER_GRID_OPTIONS_META"
          :formColumnDefs="MASTER_GRID_COLUMN_DEFS"
          :controlBtn="MASTER_CONTROL_BTN"
          :searchInput="SEARCH_INPUT"
          :getServerData="getMasterData"
          :context="{ ...DETAIL_GRID_CELL_SEARCH_BUTTON }"
          :modules="[ExcelExportModule]">
          <div class="grid-header">{{ masterGridTitleRef }}</div>
          <control-container>
            <div v-for="btnData in masterGridControlBtnRef" :key="btnData.title">
              <control-button v-if="btnData['display'] === 'Y' && selectedMasterItems && Object.keys(selectedMasterItems).length > 0" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
              <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="masterEventHandler[btnData.title]" />
            </div>
          </control-container>
        </common-form>
        <common-form
          ref="detailFormRef"
          :gridId="`${myPageId}-detail-grid`"
          :gridMeta="GRID_META"
          :disableSearchEvent="true"
          :gridOptionsMeta="DETAIL_GRID_OPTIONS_META"
          :formColumnDefs="DETAIL_GRID_COLUMN_DEFS"
          :controlBtn="DETAIL_CONTROL_BTN"
          :searchInput="SEARCH_INPUT"
          :getServerData="getDetailData"
          :context="{ ...DETAIL_GRID_CELL_SEARCH_BUTTON }"
          :modules="[ExcelExportModule]">
          <div class="grid-header">{{ detailGridTitleRef }}</div>
          <control-container>
            <div v-for="btnData in detailGridControlBtnRef" :key="btnData.title">
              <control-button v-if="btnData['display'] === 'Y' && selectedDetailItems && Object.keys(selectedDetailItems).length > 0" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
              <control-button v-else-if="btnData['display'] === 'Y'" :data="btnData" @clicked="detailEventHandler[btnData.title]" />
            </div>
          </control-container>
        </common-form>
      </div>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS095" };
</script>
<script setup lang="ts">
import { Ref, computed, onBeforeMount, onMounted, onUnmounted, ref, unref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";

import { GridUtils } from "@/lib/ag-grid/utils";
import { ApiService } from "@/services/api-service";
import { useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent, IRowNode, RowSelectedEvent, StartEditingCellParams } from "ag-grid-community";
import { ExcelExportModule } from "ag-grid-enterprise";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { UtilService } from "../../../services/util-service";
import { DETAIL_GRID_COLUMN_DEFS, GRID_COLUMN_DEFS, MASTER_GRID_COLUMN_DEFS } from "./column-defs";
import {
  DETAIL_CONTROL_BTN,
  DETAIL_GRID_CELL_SEARCH_BUTTON,
  DETAIL_GRID_OPTIONS_META,
  GRID_META,
  GRID_OPTIONS_META,
  MASTER_CONTROL_BTN,
  MASTER_GRID_OPTIONS_META,
  SEARCH_INPUT,
  SEARCH_META,
} from "./input.meta";

const { t } = useI18n();

//commom grid 선택시(하나만 체크)
const selectedComonItem = ref<Record<string, any>>({});

//master grid 선택시(복수 체크)
const selectedMasterItems = ref<Record<string, any>[]>([]);

//detail grid 선택시(복수 체크)
const selectedDetailItems = ref<Record<string, any>[]>([]);
const selectedDetailNodes = ref<IRowNode[]>([]);

// Variable Definitions
const gridApi = ref<GridApi | undefined>();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const masterFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const detailFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const commonGridApi: Ref<GridApi | null> = computed(() => {
  return unref(commonFormRef.value?.gridApi) || null;
});
const masterGridApi: Ref<GridApi | null> = computed(() => {
  return unref(masterFormRef.value?.gridApi) || null;
});
const detailGridApi: Ref<GridApi | null> = computed(() => {
  return unref(detailFormRef.value?.gridApi) || null;
});
const searchValue = ref<boolean>(false);
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const masterGridControlBtnRef = ref(MASTER_CONTROL_BTN);
const detailGridControlBtnRef = ref(DETAIL_CONTROL_BTN);
const eventBus = useEventBusStore();
const gridTitleRef = t("menu-header-title.WMSMS095");
const masterGridTitleRef = t("menu-header-title.WMSMS095_master");
const detailGridTitleRef = t("menu-header-title.WMSMS095_detail");
const formTheme = {
  "--flex-direction": "row",
};
const formDetailTheme = {
  "--detail-flex-direction": "column",
};

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

onBeforeMount(async () => {
  searchValue.value = true;
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const data = UtilService.getOptionApiData("WMSMS095");
  const res = await ApiService.postApi("/rest/WINUS/WMSMS095.action", {}, data);
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }

  const res2 = await ApiService.postApi("/WMSCM091_rn.action", {}, UtilService.getOptionApiData("WMSCM091_rn"));

  if (res2.status) {
    useOptionDataStore().setOptionData(res2.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res2.result);
  }
});

onMounted(async () => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
    searchGridData(); // 화면 로드 시, 자동조회
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

function sessionStorageReady() {}

function onCellFocused() {
  useSelectedDataStore().changeSelectedDataList(masterGridApi.value?.getSelectedRows());
}
/**
 * Master Grid에서 행이 선택될때
 * @param e
 */
function onSelectionChanged(e: any) {
  let isSelected = e.event.node.selected;
  let event: RowSelectedEvent = e.event;
  event.api.redrawRows();
  selectedComonItem.value = commonGridApi.value?.getSelectedRows() as Record<string, any>[];
  if (!isSelected) {
    masterGridApi.value?.setRowData([]);
    detailGridApi.value?.setRowData([]);
  } else {
    // selectedMasterItem.value = e.event.data;
    selectedComonItem.value = commonGridApi.value?.getSelectedRows()[0];
    masterFormRef.value?.searchGridData();
    detailFormRef.value?.searchGridData();
  }
}

//화주 ID 공통으로 사용
let txtSrchTrustCustId: any = null;
/**
 * 공통 데이터 조회
 * @param apiParams
 * @param bodyData
 */
async function getServerData(apiParams: any, bodyData: any) {
  txtSrchTrustCustId = Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner.TRUST_CUST_ID : "";
  apiParams.vtSrchCustId = txtSrchTrustCustId;
  let res = await ApiService.postApi("/rest/WMSMS011/list.action", apiParams, bodyData.value, false);
  commonGridApi.value?.setRowData([]);
  return res;
}
/**
 * 마스터 데이터 조회
 * @param apiParams
 * @param bodyData
 */
async function getMasterData(apiParams: any, bodyData: any) {
  masterGridApi.value?.deselectAll();
  const selecteCommonItem = GridUtils.getSelectedRowData(unref(commonGridApi) || new GridApi())[0];
  apiParams = {
    TRUST_CUST_ID: Object.hasOwn(selecteCommonItem, "TRUST_CUST_ID") ? selecteCommonItem.TRUST_CUST_ID : "",
    CUST_ID: Object.hasOwn(selecteCommonItem, "CUST_ID") ? selecteCommonItem.CUST_ID : "",
  };
  let res = await ApiService.postApi("/rest/WMSMS095/itemGrpList.action", apiParams, bodyData.value, false);
  return res;
}

/**
 * 상세 데이터 조회
 * @param apiParams
 * @param bodyData
 */
async function getDetailData(apiParams: any, bodyData: any) {
  detailGridApi.value?.deselectAll();
  const selecteCommonItem = GridUtils.getSelectedRowData(unref(commonGridApi) || new GridApi())[0];
  apiParams = {
    TRUST_CUST_ID: Object.hasOwn(selecteCommonItem, "TRUST_CUST_ID") ? selecteCommonItem.TRUST_CUST_ID : "",
    CUST_ID: Object.hasOwn(selecteCommonItem, "CUST_ID") ? selecteCommonItem.CUST_ID : "",
  };
  let res = await ApiService.postApi("/rest/WMSMS095/itemList.action", apiParams, bodyData.value, false);
  return res;
}

/**
 * Event Layer
 */
// master
const masterEventHandler: Record<string, Function> = {
  excel: masterExport,
  save: saveMaster,
  del: deleteMasterRows,
  new: addMasterRows,
};

/**
 * 마스터 엑셀
 */
function masterExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.product-group-list"),
  };
  masterGridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 마스터 행 추가
 */
function addMasterRows() {
  const selectedRows = commonGridApi.value?.getSelectedRows();

  if (!selectedRows || selectedRows.length === 0) {
    useToast().warning(t("common-toast.select-customer-from-customer-list"));
    return;
  }
  masterFormRef.value?.addRows([{ chk: "" }]);
}

/**
 * 마스터 삭제
 */
async function deleteMasterRows() {
  const selectedCommonRows = GridUtils.getSelectedRowData(commonGridApi.value!);
  const selectedMasterRows = GridUtils.getSelectedRowData(masterGridApi.value!);

  if (UtilService.isEmptyArray(selectedMasterRows) || UtilService.isEmptyArray(selectedCommonRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    const selectedCommonRow: any = commonGridApi.value?.getSelectedRows()[0];
    const D_selectIds = selectedMasterRows.length; // 삭제된 항목의 개수
    const data: any = {
      _fullpath: "",
      selectIds: D_selectIds,
      I_selectIds: 0,
      D_selectIds: D_selectIds,
      TRUST_CUST_ID: selectedCommonRow.TRUST_CUST_ID || "",
      CUST_ID: selectedCommonRow.CUST_ID || "",
      MAIN_ID: selectedCommonRow.RNUM || "", // 인덱스가 필요 없는 부분
    };

    // 인덱스가 필요 없는 항목들을 선택된 행의 개수만큼 반복해서 배열 형태로 처리
    data["ITEM_GRP_CD"] = selectedMasterRows.map((row) => row.ITEM_GRP_CD).join(",");
    data["ITEM_GRP_NM"] = selectedMasterRows.map((row) => row.ITEM_GRP_NM).join(",");
    data["WGT_ARROW_RATE"] = selectedMasterRows.map((row) => row.WGT_ARROW_RATE).join(",");
    data["BEST_DATE_NUM"] = selectedMasterRows.map((row) => row.BEST_DATE_NUM).join(",");
    data["BEST_DATE_UNIT"] = selectedMasterRows.map((row) => row.BEST_DATE_UNIT).join(",");

    // 인덱스가 필요한 항목 처리
    selectedMasterRows.forEach((row: any, index: number) => {
      data[`ST_GUBUN${index}`] = "DELETE";
      data[`TRUST_CUST_ID${index}`] = row.TRUST_CUST_ID || "";
      data[`CUST_ID${index}`] = row.CUST_ID || "";
      data[`ITEM_GRP_ID${index}`] = row.ITEM_GRP_ID || "";
      data[`ITEM_GRP_ID_C${index}`] = row.ITEM_GRP_ID_C || "";
    });

    Object.keys(data).forEach((key: any) => {
      if (typeof data[key] === "string") {
        data[key] = encodeURIComponent(data[key]);
      }
    });

    // API 호출
    const result = await ApiService.postApi("/rest/WMSMS095/itemGrpsave.action", data, data);

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      eventBus.emit("search-data");
    }
  } catch (err) {
    eventBus.emit("search-data");
    return console.log(err);
  }
}

/**
 * 마스터 저장
 */
async function saveMaster() {
  const insertData: any[] = masterFormRef.value?.getRowsByStatus("INSERT") || [];
  const updateData: any[] = masterFormRef.value?.getRowsByStatus("UPDATE") || [];
  const savingData: any[] = [...insertData, ...updateData];

  const selectedMasterRows = GridUtils.getSelectedRowData(masterGridApi.value!);
  const rowCount = masterGridApi.value?.getDisplayedRowCount() || 0;

  try {
    masterGridApi.value?.stopEditing();

    const existingData =
      masterGridApi.value
        ?.getRenderedNodes()
        .map((node: any) => node.data)
        .filter((data: any) => !data.ST_GUBUN) || [];

    // 유효성 검사
    if (!masterValidate(savingData, existingData)) return;

    const selectedCommonRow: any = commonGridApi.value?.getSelectedRows()[0];

    const data: Record<string, any> = {
      _fullpath: "",
      selectIds: selectedMasterRows.length,
      TRUST_CUST_ID0: selectedCommonRow.TRUST_CUST_ID || "",
      CUST_ID0: selectedCommonRow.CUST_ID || "",
      MAIN_ID: selectedCommonRow.RNUM || "",
      SUB_GRP_ID: rowCount,
    };

    data["ITEM_GRP_CD"] = selectedMasterRows.map((row) => row.ITEM_GRP_CD).join(",");
    data["ITEM_GRP_NM"] = selectedMasterRows.map((row) => row.ITEM_GRP_NM).join(",");
    data["WGT_ARROW_RATE"] = selectedMasterRows.map((row) => row.WGT_ARROW_RATE).join(",");
    data["BEST_DATE_NUM"] = selectedMasterRows.map((row) => row.BEST_DATE_NUM).join(",");
    data["BEST_DATE_UNIT"] = selectedMasterRows.map((row) => row.BEST_DATE_UNIT).join(",");

    selectedMasterRows.forEach((row: any, index: number) => {
      const stGubunValue = savingData.find((item) => item.ITEM_GRP_ID === row.ITEM_GRP_ID)?.ST_GUBUN === "UPDATE" ? "UPDATE" : "INSERT";
      data[`ST_GUBUN${index}`] = stGubunValue;
      data[`TRUST_CUST_ID${index}`] = selectedCommonRow.TRUST_CUST_ID || "";
      data[`CUST_ID${index}`] = selectedCommonRow.CUST_ID || "";
      data[`ITEM_GRP_ID${index}`] = row.ITEM_GRP_ID || "";
      data[`ITEM_GRP_ID_C${index}`] = row.ITEM_GRP_ID_C || "";
      data[`WGT_ARROW_RATE${index}`] = row.WGT_ARROW_RATE || "";
      data[`BEST_DATE_NUM${index}`] = row.BEST_DATE_NUM || "";
      data[`BEST_DATE_UNIT${index}`] = row.BEST_DATE_UNIT || "";
    });

    const result = await ApiService.postApi("/rest/WMSMS095/itemGrpsave.action", data, data);

    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
    masterGridApi.value?.deselectAll();

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      eventBus.emit("search-data");
    }
  } catch (err) {
    eventBus.emit("search-data");
    return console.log(err);
  }
}

function masterValidate(savingData: any[], existingData: any[]): boolean {
  if (savingData.length <= 0) {
    useToast().warning(t("common-toast.select-data-to-save"));
    return false;
  }

  let success = true;

  // 데이터 필수값 체크
  for (let i = 0; i < savingData.length; i++) {
    const data = savingData[i];

    // 필수값 체크 항목
    const requiredFields = [{ field: "ITEM_GRP_ID", label: t("grid-column-name.product-group-code") }];

    // 필수값이 비어 있는지 확인
    for (let field of requiredFields) {
      if (!data[field.field]) {
        useToast().warning(t("common-toast.is-a-required-entry", { message: field.label }));
        success = false;
        break;
      }
    }

    // 기존 데이터와 저장할 데이터의 ITEM_GRP_ID 중복 체크
    const isDuplicate = existingData.some((existingItem: any) => existingItem.ITEM_GRP_ID === data.ITEM_GRP_ID);

    if (isDuplicate) {
      useToast().warning(t("common-toast.duplicate-item-group-id")); // 중복 경고 메시지
      success = false;
      break;
    }

    // 무게 오차 허용율 숫자인지 체크
    if (data.WGT_ARROW_RATE != null && data.WGT_ARROW_RATE !== "" && !UtilService.cfn_isNumber(Number(data.WGT_ARROW_RATE))) {
      useToast().warning(t("common-toast.is-a-required-number", { message: t("grid-column-name.weight-allowable-error-rate") }));
      success = false;
    }

    // 출하 최소 유효기간이 숫자인지 체크
    if (data.BEST_DATE_NUM != null && data.BEST_DATE_NUM !== "" && !UtilService.cfn_isNumber(Number(data.BEST_DATE_NUM))) {
      useToast().warning(t("common-toast.is-a-required-number", { message: t("grid-column-name.min-validity-period") }));
      success = false;
    }
  }

  return success;
}

// detail event title에 따라 메서드를 매핑
const detailEventHandler: Record<string, Function> = {
  excel: detailExport,
  save: saveDetail,
  del: deleteDetailRows,
  new: addDetailRows,
};

/**
 * 디테일 엑셀
 */
function detailExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.product-list"),
  };
  detailGridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 *디테일 행 추가
 */
function addDetailRows() {
  const selectedRows = commonGridApi.value?.getSelectedRows();

  if (!selectedRows || selectedRows.length === 0) {
    useToast().warning(t("common-toast.select-customer-from-customer-list"));
    return;
  }

  detailFormRef.value?.addRows([{ chk: "" }]);
}

/**
 * 디테일 저장
 */
async function saveDetail() {
  const insertData: any[] = detailFormRef.value?.getRowsByStatus("INSERT") || [];
  const updateData: any[] = detailFormRef.value?.getRowsByStatus("UPDATE") || [];
  const savingData: any[] = [...insertData, ...updateData];

  const selectedDetailRows = GridUtils.getSelectedRowData(detailGridApi.value!);
  const rowCount = detailGridApi.value?.getDisplayedRowCount() || 0;

  try {
    detailGridApi.value?.stopEditing();

    const existingData =
      detailGridApi.value
        ?.getRenderedNodes()
        .map((node: any) => node.data)
        .filter((data: any) => !data.ST_GUBUN) || [];

    // 유효성 검사
    if (!detailValidate(savingData, existingData)) return;

    const selectedCommonRow: any = commonGridApi.value?.getSelectedRows()[0];

    const data: Record<string, any> = {
      _fullpath: "",
      selectIds: selectedDetailRows.length,
      TRUST_CUST_ID0: selectedCommonRow.TRUST_CUST_ID || "",
      CUST_ID0: selectedCommonRow.CUST_ID || "",
      MAIN_ID: selectedCommonRow.RNUM || "",
      SUB_ITEM_ID: rowCount,
    };

    data["ITEM_CODE"] = selectedDetailRows.map((row) => row.ITEM_CODE).join(",");
    data["ITEM_KOR_NM"] = selectedDetailRows
      .map((row) => row.ITEM_KOR_NM)
      .map((itemName) => encodeURIComponent(itemName))
      .join(",");
    data["WGT_PRIORITY"] = selectedDetailRows.map((row) => row.WGT_PRIORITY).join(",");
    data["ITEM_WGT_ARROW_RANGE"] = selectedDetailRows.map((row) => row.ITEM_WGT_ARROW_RANGE).join(",");
    data["BEST_DATE_NUM"] = selectedDetailRows.map((row) => row.BEST_DATE_NUM).join(",");
    data["BEST_DATE_UNIT"] = selectedDetailRows.map((row) => row.BEST_DATE_UNIT).join(",");
    data["VAILD_FIFO_YN"] = selectedDetailRows.map((row) => row.VAILD_FIFO_YN).join(",");

    selectedDetailRows.forEach((row: any, index: number) => {
      const stGubunValue = savingData.find((item) => item.RITEM_ID === row.RITEM_ID)?.ST_GUBUN === "UPDATE" ? "UPDATE" : "INSERT";
      data[`ST_GUBUN${index}`] = stGubunValue;
      data[`TRUST_CUST_ID${index}`] = selectedCommonRow.TRUST_CUST_ID || "";
      data[`CUST_ID${index}`] = selectedCommonRow.CUST_ID || "";
      data[`RITEM_ID${index}`] = row.RITEM_ID || "";
      data[`RITEM_ID_C${index}`] = row.RITEM_ID_C || "";
      data[`WGT_PRIORITY${index}`] = row.WGT_PRIORITY || "";
      data[`ITEM_WGT_ARROW_RANGE${index}`] = row.ITEM_WGT_ARROW_RANGE || "";
      data[`BEST_DATE_NUM${index}`] = row.BEST_DATE_NUM || "";
      data[`BEST_DATE_UNIT${index}`] = row.BEST_DATE_UNIT || "";
      data[`VAILD_FIFO_YN${index}`] = row.VAILD_FIFO_YN || "";
    });

    const result = await ApiService.postApi("/rest/WMSMS095/itemsave.action", data, data);

    await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));
    detailGridApi.value?.deselectAll();

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      eventBus.emit("search-data");
    }
  } catch (err) {
    eventBus.emit("search-data");
    return console.log(err);
  }
}

function detailValidate(savingData: any[], existingData: any[]): boolean {
  if (savingData.length <= 0) {
    useToast().warning(t("common-toast.select-data-to-save"));
    return false;
  }

  let success = true;

  // 데이터 필수값 체크
  for (let i = 0; i < savingData.length; i++) {
    const data = savingData[i];

    // 필수값 체크 항목
    const requiredFields = [{ field: "RITEM_ID", label: t("grid-column-name.produc-code") }];

    // 필수값이 비어 있는지 확인
    for (let field of requiredFields) {
      if (!data[field.field]) {
        useToast().warning(t("common-toast.is-a-required-entry", { message: field.label }));
        success = false;
        break;
      }
    }

    // 기존 데이터와 저장할 데이터의 RITEM_ID 중복 체크
    const isDuplicate = existingData.some((existingItem: any) => existingItem.RITEM_ID === data.RITEM_ID);

    if (isDuplicate) {
      useToast().warning(t("common-toast.duplicate-item-id")); // 중복 경고 메시지
      success = false;
      break;
    }

    // 무게 오차 허용율 숫자인지 체크
    if (data.ITEM_WGT_ARROW_RANGE != null && data.ITEM_WGT_ARROW_RANGE !== "" && !UtilService.cfn_isNumber(Number(data.ITEM_WGT_ARROW_RANGE))) {
      useToast().warning(t("common-toast.is-a-required-number", { message: t("grid-column-name.weight-error-tolerance-range(kg)") }));
      success = false;
    }

    // 무게오차허용률 숫자 체크
    if (data.ITEM_WGT_ARROW_RANGE != null && data.ITEM_WGT_ARROW_RANGE !== "" && !UtilService.cfn_isNumber(Number(data.ITEM_WGT_ARROW_RANGE))) {
      useToast().warning(t("common-toast.is-a-required-number", { message: t("grid-column-name.weight-allowable-error-rate") }));
      success = false;
    }

    // 출하최소유효기간 숫자 체크
    if (data.ITEM_WGT_ARROW_RANGE != null && data.ITEM_WGT_ARROW_RANGE !== "" && !UtilService.cfn_isNumber(Number(data.ITEM_WGT_ARROW_RANGE))) {
      useToast().warning(t("common-toast.is-a-required-number", { message: t("grid-column-name.min-validity-period") }));
      success = false;
    }
  }

  return success;
}

/**
 * Detail 삭제
 */
async function deleteDetailRows() {
  const selectedCommonRows = GridUtils.getSelectedRowData(commonGridApi.value!);
  const selectedDetailRows = GridUtils.getSelectedRowData(detailGridApi.value!);

  if (UtilService.isEmptyArray(selectedDetailRows) || UtilService.isEmptyArray(selectedCommonRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    const selectedCommonRow: any = commonGridApi.value?.getSelectedRows()[0];
    const D_selectIds = selectedDetailRows.length; // 삭제된 항목의 개수
    const data: any = {
      _fullpath: "",
      selectIds: D_selectIds,
      I_selectIds: 0,
      D_selectIds: D_selectIds,
      TRUST_CUST_ID: selectedCommonRow.TRUST_CUST_ID || "",
      CUST_ID: selectedCommonRow.CUST_ID || "",
      MAIN_ID: selectedCommonRow.RNUM || "", // 인덱스가 필요 없는 부분
    };

    // 인덱스가 필요 없는 항목들을 선택된 행의 개수만큼 반복해서 배열 형태로 처리
    data["ITEM_CODE"] = selectedDetailRows.map((row) => row.ITEM_CODE).join(",");
    data["ITEM_KOR_NM"] = selectedDetailRows.map((row) => row.ITEM_KOR_NM).join(",");
    data["WGT_PRIORITY"] = selectedDetailRows.map((row) => row.WGT_PRIORITY).join(",");
    data["ITEM_WGT_ARROW_RANGE"] = selectedDetailRows.map((row) => row.ITEM_WGT_ARROW_RANGE).join(",");
    data["BEST_DATE_NUM"] = selectedDetailRows.map((row) => row.BEST_DATE_NUM).join(",");
    data["BEST_DATE_UNIT"] = selectedDetailRows.map((row) => row.BEST_DATE_UNIT).join(",");
    data["VAILD_FIFO_YN"] = selectedDetailRows.map((row) => row.VAILD_FIFO_YN).join(",");

    // 인덱스가 필요한 항목 처리
    selectedDetailRows.forEach((row: any, index: number) => {
      data[`ST_GUBUN${index}`] = "DELETE";
      data[`TRUST_CUST_ID${index}`] = row.TRUST_CUST_ID || "";
      data[`CUST_ID${index}`] = row.CUST_ID || "";
      data[`RITEM_ID${index}`] = row.RITEM_ID || "";
      data[`RITEM_ID_C${index}`] = row.RITEM_ID_C || "";
    });

    Object.keys(data).forEach((key: any) => {
      if (typeof data[key] === "string") {
        data[key] = encodeURIComponent(data[key]);
      }
    });

    // API 호출
    const result = await ApiService.postApi("/rest/WMSMS095/itemsave.action", data, data);

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      eventBus.emit("search-data");
    }
  } catch (err) {
    eventBus.emit("search-data");
    return console.log(err);
  }
}

function focustDetailCell(rowIdx: number, key: string) {
  const startEditingRow: StartEditingCellParams = {
    rowIndex: rowIdx,
    colKey: key,
  };
  detailGridApi.value?.startEditingCell(startEditingRow);
}
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;
.grid-statistics {
  &-container {
    position: relative;
    top: 14.5px;
    transform: translateY(-100%);
    left: 33px;
    display: flex;
    align-items: center;
    gap: 31px;
    color: #fff !important;
  }
}
.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-detail-grid {
    display: flex;
    flex: 1;
    flex-direction: var(--detail-flex-direction);
    gap: 2px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
  &-grid > div:first-child {
    flex-grow: 1; /* Takes 2 parts of the available space */
  }
  &-grid > div:last-child {
    flex-grow: 1; /* Takes 2 parts of the available space */
  }
  padding: 0 10px 0 0 !important;
}
.search-control-container {
  top: 0;
  right: 0;
}

.date-range-input {
  width: 100%;
}
</style>
