<template>
  <div id="grid-total-integration-menu" class="grid-total-integration-menu">
    <ul :class="[{ scroll: gridTotalIntegrationMenuInfo.length > 6 }, 'list']">
      <li
        v-for="(menu, i) in gridTotalIntegrationMenuInfo" :key="i"
        @click="
          () => {
            menu.clickFunction();
          }
        "
        class="item"
      >
        {{ menu.title }}
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { IGridTotalIntegrationMenuInfo } from "@/types";

const { gridTotalIntegrationMenuInfo, closeEvent } = defineProps<{
  gridTotalIntegrationMenuInfo: IGridTotalIntegrationMenuInfo[];
  closeEvent: () => void;
}>();
</script>

<style lang="scss" scoped>
#grid-total-integration-menu {
  position: absolute;
  right: 30px;
  top: 75px;
  z-index: 10;

  .list {
    padding: 7px 12px 7px 7px;
    border: 1px solid $main;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.21);
    background-color: #fff;
    max-height: 274px;

    &.scroll {
      @include scrollbarStyle;

      overflow-y: scroll;
      overflow-x: hidden;
    }

    .item {
      font-size: 14px;
      letter-spacing: -1.08px;
      color: $font-bk;
      width: 180px;
      height: 43px;
      line-height: 43px;
      padding-left: 12px;
      box-sizing: border-box;
      border-radius: 11px;
      cursor: pointer;

      &:hover {
        background-color: #f6f7fc;
      }
    }
  }
}
</style>
