<template>
  <div class="info-middle">
    <h3 class="info-middle-title">{{ t(`input-title.${data.title}`) }}</h3>
    <span class="info-middle-line"></span>
  </div>
</template>

<script setup lang="ts">
import { IInfoInput } from "@/types";
import { useI18n } from "vue-i18n";

const { data } = defineProps<{
  data: IInfoInput;
}>();

const { t } = useI18n();
</script>

<style lang="scss" scoped>
.info-middle {
  margin-left: 5vw;
  width: calc(100%);
  position: relative;
  height: 35px;

  &-title {
    position: absolute;
    z-index: 5;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: bold;
    color: #181818;
    padding: 0 20px;
    background-color: white;
  }

  &-line {
    position: absolute;
    z-index: 3;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1px;
    background-color: #979797;
  }
}
</style>
