<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	loading-spinner.vue
 *  Description:    화면에서 데이터 처리등을 하는 동안 표시되는 Spinner 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="loading-container" :class="{ 'content-body-only': contentBodyOnly }">
    <div class="loading-spinner"></div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { toRefs } from "vue";

// Variable Definitions
const props = defineProps<{
  contentBodyOnly?: boolean;
}>();

const { contentBodyOnly } = toRefs(props);
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@keyframes pulse2 {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
.loading {
  &-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: rgba($color: white, $alpha: 0.7);
    z-index: 30;
    &.content-body-only {
      position: absolute;
    }
  }

  &-spinner {
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
    }

    &::before {
      background: #3d61e1;
      animation: pulse2 2s ease-in-out infinite;
    }

    &::after {
      background: #3d61e1;
      animation: pulse2 2s 1s ease-in-out infinite;
    }
  }
}
</style>
