  <!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	ui/menu-search-bar.vue
 *  Description:    메뉴 검색 바 출력
 *  Authors:        dhkim
 *  Update History:
 *                  2024.07 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div ref="menuSearchContainer" class="menu-search-bar-container">
    <div ref="searchBar" class="menu-search-bar">
      <AutoComplete
        ref="autocommplete"
        class="menu-search-input" 
        v-model="selectedItem" 
        optionLabel="name"
        dropdown 
        placeholder="메뉴명을 입력하세요."
        input-id="autocomplete-input"
        :suggestions="suggestions"
        @complete="autocomplete"
        @item-select="selectedEvent"/>
    </div>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { UtilService } from '@/services/util-service';
import AutoComplete, { type AutoCompleteCompleteEvent, type AutoCompleteOptionSelectEvent } from 'primevue/autocomplete';
import { onMounted, onUnmounted, ref } from 'vue';
import { useRouter } from "vue-router";

//#region ::  Variable Definitions

const searchBar = ref<HTMLElement>();
const menuSearchContainer = ref<HTMLElement>();
const autocommplete = ref<HTMLElement>();
const suggestions = ref([]);
const selectedItem = ref(null);
const router = useRouter();
let inputText:string = '';
let subMenuList = new Array();

const emits = defineEmits(["close"]);

//#endregion


//#region ::  Framework Function Definitions

onMounted(() => {
  window.onkeydown = (e:any) => {
    if(e.key == "Escape"){
      close(e);
    }
  };

  document.getElementById("autocomplete-input")?.focus();
});

onUnmounted(() => {
  window.onkeydown = null;
});

//#endregion


//#region ::  User Function Definitions

const close = (e: Event)  => {
  searchBar.value!.style.animation = 'slide-up 0.3s forwards';
  
  e.preventDefault();
  e.stopPropagation();

  setTimeout(() => {
    clear();
    emits('close');
  }, 500);
}

const autocomplete = (e: AutoCompleteCompleteEvent) => {
  if(inputText === e.query){
    return;
  }
  else{
    inputText = e.query;
  }

  // 소메뉴 목록 및 라우팅 정보 획득
  if(UtilService.isEmptyArray(subMenuList)){
    subMenuList = router.options.routes.find((dt:any) => dt.name == 'Home')!.children as [];
    subMenuList = subMenuList!.map((dt:any) => { return { path: dt.path, name: dt.meta.title }});
  }

  // 검색어에 따른 소메뉴 목록 필터링
  if(!UtilService.isEmptyString(inputText)){
    suggestions.value = subMenuList.filter((dt:any) => { return dt.name.includes(inputText) }) as [];
  }
  else{
    suggestions.value = subMenuList.filter((dt:any) => !dt.path.includes('welcome')) as [];
  }
}

const selectedEvent = (e: AutoCompleteOptionSelectEvent) => {
  router.push(e.value.path);
  setTimeout(() => {
    searchBar.value!.style.animation = 'slide-up 0.3s forwards';
    
    clear();
    emits('close');
  }, 100);
}

const clear = () => {
  inputText = '';
  selectedItem.value = null;
}

//#endregion

</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>

.menu-search-bar-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
}

.menu-search-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-width: 700px;
  min-height: 50px;
  padding: 5px 10px;
  border: 3px solid $border4;
  border-radius: 10px;
  background-color: #fff;
  transform: translateY(-100vh);
  margin-top: 3%;
  animation: slide-down 0.5s forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.menu-search-input {
  width: 100%;
  min-height: 45px;
  // font-size: 25px;
  // background-color: #fff;
  // border: none;
}

.menu-search-button {
  min-height: 45px;
  min-width: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
}

</style>