<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSST920/form.vue
 *  Description:    현재고조회(AI) Form 영역
 *  Authors:        dhkim
 *  Update History:
 *                  2024.04 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <control-container>
    <div v-for="btnData in controlBtn.value" :key="btnData.title">
      <control-button :data="btnData" :key="btnData.title" :excelExport="excelExport" />
    </div>
  </control-container>
  <div class="form-container" ref="formContainerRef">
    <grid-statistics-container :statisticsInfo="GRID_STATISTICS_INFO" :gridTotalData="gridTotalData" />
    <my-grid
      :onGridReady="onGridReady"
      @onPageSizeChanged="
        (ps) => {
          pagingSize = ps;
        }
      " />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { ControlButton } from "@/components/button";
import { ControlContainer, GridStatisticsContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useFormHeightStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { ExcelExportParams, GridApi } from "ag-grid-community";
import { onActivated, onMounted, reactive, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs";
import MyGrid from "./grid.vue";
import { CONTROL_BTN, GRID_STATISTICS_INFO, SEARCH_INPUT } from "./input";

//#region ::  Variable Definitions

const { t } = useI18n();
const pagingOptions = UtilService.getGridPagingOptions("WMSOP910_1");
const pagingSize = ref<number>(pagingOptions![0]);
let gridApi: GridApi | null = null;
const controlBtn = reactive({ value: CONTROL_BTN as any });
const FormHeightStore = useFormHeightStore();
const formContainerRef = ref(null as null | any);
const bodyData = reactive({ value: {} as any });
const gridTotalData = reactive({ value: {} as any });

//#endregion

//#region ::  Framework Function Definitions

onMounted(() => {
  formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
});

onActivated(() => {
  formContainerRef.value.style.height = FormHeightStore.getFormHeight();

  const watchSearchCompHeight = watch(useFormHeightStore()._searchCompHeight, () => {
    formContainerRef.value.style.height = useFormHeightStore().getFormHeight();
  });

  /** 검색 트리거 감시 */
  const watchSearchCondition = watch(useSearchConditionStore()._availableSearchBySearchCondition, async () => {
    await searchGridData();
  });

  useTabsStore().watchList.value.push(...[watchSearchCompHeight, watchSearchCondition]);
});

//#endregion

//#region ::  User Function Definitions

const onGridReady = (params: any) => {
  gridApi = params.api;
  gridApi?.showNoRowsOverlay();
};

/**
 * 조회 버튼 클릭 이벤트 콜백함수
 * (search.vue 트리거)
 */
async function searchGridData() {
  try {
    if (!useSearchConditionStore().getAvailableSearchBySearchCondition()) {
      return;
    }

    if (useSearchConditionStore().getResetValue()) {
      UtilService.setUseSearchConditionStoreWhenResetValueIsTrue();
      gridApi?.setRowData([]);
      gridTotalData.value.TOTAL_IN_QTY = 0;
      return;
    }

    // 초기화
    initBeforeSearchGridData();
    gridApi?.deselectAll();
    gridApi?.clearRangeSelection();

    let apiParams = UtilService.getGridParams(SEARCH_INPUT, useSelectedDataStore(), useSearchConditionStore());

    gridApi?.showLoadingOverlay();

    const gridData = await ApiService.postApi("/WMSST920/list_rn.action", apiParams, bodyData.value, false);

    if (gridData.status) {
      // 검색결과 반영 (Success)
      if (gridData.result.list.length > 0) {
        UtilService.setGridDatasRowNum(gridData.result.list);
        gridApi?.setRowData(gridData.result.list);
        gridTotalData.value.TOTAL_IN_QTY = gridData.result.list.length;
        return;
      }
    }

    // Fail
    useToast().warning(t("common-toast.no-data-list"));
    gridApi?.setRowData([]);
    gridTotalData.value.TOTAL_IN_QTY = 0;
  } catch (error) {
    console.log(error);
    throw error;
  } finally {
    useSearchConditionStore().setAvailableSearchBySearchCondition(false);
  }
}

function excelExport() {
  let columnKeys = [] as string[];
  columnKeys = GridUtils.getExportColumns(FORM_COLUMN_DEFS);

  const excelExportParams: ExcelExportParams = {
    fileName: t("grid-title.stock-list"),
    columnKeys,
  };
  gridApi?.exportDataAsExcel(excelExportParams);
}

// 검색 이전 초기화
function initBeforeSearchGridData() {
  gridApi?.deselectAll();
  gridApi?.clearRangeSelection();
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  width: 100%;
  position: relative;
}
</style>
