<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	wmsst920/page.vue
 *  Description:    현재고조회(AI) 업무 화면
 *  Authors:        dhkim
 *  Update History:
 *                  2024.04 : Created by dhkim
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS
-------------------------------->
<template>
  <div>
    <my-search />
    <my-form />
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import MyForm from "./form.vue";
import MySearch from "./search.vue";

//#region ::  Variable Definitions

//#endregion

//#region ::  Framework Function Definitions

//#endregion

//#region ::  User Function Definitions

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped></style>
