<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSTG733_2/page.vue
 *  Description:    통계/출고검수조회_시리얼조회 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META" @sessionStorageReady="sessionStorageReady">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :onApiParamsChanged="onApiParamsChanged"
      :getServerData="getServerData"
      @onSelectionChanged="onSelectionChanged">
      <div class="grid-header">{{ gridHeaderTitle }}</div>
      <div class="form-container" ref="formContainerRef">
        <ul class="grid-statistics-container">
          <li>
            <span class="grid-statistics-title">{{ t("grid-statistics-title.serial-number") }}</span>
            <span class="grid-statistics-value">
              {{ `(${t("grid-statistics-title.total")} : ${gridRowItemCount})` }}
            </span>
          </li>
        </ul>
      </div>
      <control-container>
        <div v-for="btnData in gridControlBtnRef" :key="btnData.title">
          <control-button v-if="btnData['display'] === 'Y' && (btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
          <control-button v-else-if="btnData['display'] === 'Y' && !(btnData.title === 'save' || btnData.title === 'del')" :data="btnData" @clicked="eventHandler[btnData.title]" />
        </div>
      </control-container>
    </common-form>
  </div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSTG733_2" };
</script>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, onUnmounted, reactive, ref } from "vue";

import { ControlButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { FORM_COLUMN_DEFS } from "@/page/statistics/WMSTG733_2/column-defs";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useCallModalIdStore, useConfirmStore, useOptionDataStore, useSearchConditionStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const { t } = useI18n();
const eventBus = useEventBusStore();
const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);
const OptionDataStore = useOptionDataStore();
const myPageId = ref<string>();
const gridApi = ref<GridApi | undefined>();
const gridHeaderTitle = computed(() => {
  return t(`grid-title.serial-number`);
});
let selectedItems = reactive({ value: [] as any });
const SelectedDataStore = useSelectedDataStore();
let gridRowItemCount = ref(0);
const gridControlBtnRef = ref(CONTROL_BTN);

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  excel: excelExport,
  del: deleteRowData,
  "enter-template": enterTemplate,
};

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi("/WINUS/WMSMS090_rn.action", {}, UtilService.getOptionApiData("WMSMS090_rn"));
  if (res.result.selectBoxInfos) {
    OptionDataStore.setOptionData(res.result.selectBoxInfos);
  } else {
    OptionDataStore.setOptionData(res.result);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

onUnmounted(() => {
  eventBus.off("onGridReady", (params: GridReadyEvent) => {
    gridApi.value = params.api;
  });
});

//#endregion

//#region ::  User Function Definitions

/**
 * 엑셀
 */
function excelExport() {
  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.serial-inquiry"),
  };
  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 템플릿입력
 */
function enterTemplate() {
  if (!useSelectedDataStore().getSelectedModalData().owner) {
    useToast().warning(t("common-toast.no-search-input-item", { message: t("input-title.owner") }));
    return useCallModalIdStore().setCallModalId("owner");
  }

  const name = "/wmstg733_2-enter-template";
  const option = "width = 850, height = 400, top = 100, left = 200, location = no";

  const data: any = {
    title: "",
    ownerData: Object.hasOwn(useSelectedDataStore().getSelectedModalData(), "owner") ? useSelectedDataStore().getSelectedModalData().owner : null,
    saveUrl: "/WMSTG733/inExcelUploadTemplate_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSTG733&file_name=%EC%8B%9C%EB%A6%AC%EC%96%BC%EB%93%B1%EB%A1%9D%ED%85%9C%ED%94%8C%EB%A6%BF.xlsx",
  };

  localStorage.setItem("windowModal", JSON.stringify(data));
  window.open(name, name, option);
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  const data: any = {
    _fullpath: "통계관리 &gt; 출고검수조회",
    tempCnt: selectedRows.length,
  };

  for (let i = 0; selectedRows.length > i; i++) {
    data["ORD_ID" + [i]] = selectedRows[i].ORD_ID;
    data["ORD_SEQ" + [i]] = selectedRows[i].ORD_SEQ;
    data["SERIAL_NO" + [i]] = selectedRows[i].SERIAL_NO;
    data["CONF_BOX_NO" + [i]] = selectedRows[i].CONF_BOX_NO;
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  try {
    const res = await ApiService.postApi("/WMSTG733/deleteSeiral_rn.action", {}, data);

    if (res.status) {
      if (res.result.errCnt !== 0) {
        useToast().error(t(res.result.MSG));
      } else {
        useToast().success(t("common-toast.deleted"));
        searchGridData();
        useSearchConditionStore().setAvailableSearchBySearchCondition(true);
      }
    }
  } catch (err) {
    return console.log(err);
  }
}

function onSelectionChanged(e: any) {
  if (e.source === "uiSelectAll") {
    if (selectedItems.value.length !== gridApi.value?.getSelectedRows().length) {
      selectedItems.value = gridApi.value?.getSelectedRows();
      SelectedDataStore.changeSelectedDataList(gridApi.value?.getSelectedRows());
    }
  } else {
    selectedItems.value = gridApi.value?.getSelectedRows();
    SelectedDataStore.changeSelectedDataList(gridApi.value?.getSelectedRows());
  }
}

function sessionStorageReady() {
  useCallModalIdStore().setCallModalId("owner");
}

//#endregion

//#region ::  Grid Event CallBack Definitions

function onApiParamsChanged(apiParams: any) {
  apiParams._fullpath = "통계관리 &gt; 출고검수조회";
  return apiParams;
}

async function getServerData(apiParams: any, bodyData: any) {
  return await ApiService.postApi("/rest/WMSTG733/listE2.action", null, apiParams, false);
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}
</style>
