<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	enter-template.vue
 *  Description:    템플릿입력 버튼 클릭시 노출되는 팝업
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div id="wmstg733_2-enter-template" class="enter-template">
    <div class="enter-template-container">
      <h3 class="enter-template-title">{{ enterTemplatePopupData.title }}</h3>
      <div class="search-container">
        <search-container-input
          v-for="(input, i) in ENTER_TEMPLATE"
          :key="i"
          :data="input"
          :columnDefs="MODAL_COLUMN_DEFS[input.title]"
          :modalData="SEARCH_MODAL_INFO[input.title]"
          :pageInfo="null"
          :modalType="null" />
      </div>
      <h3 class="enter-template-download-btn" @click="downLoad">{{ $t("control-button-name.download-the-form") }}</h3>
      <form class="enter-template-input-box">
        <input v-if="fileName" v-model="fileName" type="text" class="enter-template-input-file-name" readonly />
        <div class="enter-template-input-file-input">
          <input class="enter-template-input-item" id="enter-template-input-item" type="file" @change="(e) => changeExcelFile(e)" />
          <label class="enter-template-input-label" for="enter-template-input-item">
            <div class="enter-template-input-label-icon"></div>
            <span class="enter-template-input-label-text">{{ $t("control-button-name.select-file") }}</span>
          </label>
        </div>
      </form>
      <h3 class="enter-template-log-title">Log</h3>
      <p class="enter-template-log-text">{{ logText }}</p>
      <div class="enter-template-btns">
        <button class="enter-template-btns-close" @click="closePopup">{{ $t("button-name.close") }}</button>
        <button class="enter-template-btns-save" @click="save">{{ $t("button-name.save") }}</button>
      </div>
    </div>
  </div>
</template>
<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script setup lang="ts">
import { onActivated, onDeactivated, onMounted, ref } from "vue";

import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";

import { ApiService, REST_SERVICE_PRODUCTION_URL } from "@/services/api-service";
import { useOptionDataStore, useSelectedDataStore, userStore } from "@/store";

import searchContainerInput from "@/components/input/search-container-input.vue";

import { MODAL_COLUMN_DEFS } from "@/page/statistics/WMSTG733_2/column-defs";
import { ENTER_TEMPLATE, SEARCH_MODAL_INFO } from "@/page/statistics/WMSTG733_2/input.meta";

// Variable Definitions
const enterTemplatePopupData = JSON.parse(localStorage.getItem("windowModal")!);
const inactive = ref<boolean>(false);
const { t } = useI18n();
let formData = new FormData();
let fileData = ref(null as any);
let fileName = ref("");
let logText = ref("");

// Framework Function Definitions
onMounted(() => {
  if (!enterTemplatePopupData) {
    closePopup();
  }
  if (enterTemplatePopupData.ownerData) {
    ENTER_TEMPLATE[0].disabled = "disabled";
    useSelectedDataStore().selectedModalHandler({ owner: enterTemplatePopupData.ownerData });
  } else {
    ENTER_TEMPLATE[0].disabled = "";
  }
  useOptionDataStore().setAvailableWatchBySearchCondition(true);
});

onActivated(() => {
  inactive.value = false;
});

onDeactivated(() => {
  inactive.value = true;
});

// input[type='file'] change이벤트
function changeExcelFile(e: any) {
  formData = new FormData();
  const target = e.currentTarget!.files[0];
  fileName.value = target.name;
  fileData.value = target;
}

// 저장버튼 클릭
async function save() {
  // 파일 선택 유무
  if (!fileName.value) {
    return useToast().warning(t("common-toast.no-excel-file"));
  }

  const currentUser = JSON.parse(userStore().getCurrentUser());

  formData.append("txtFile", fileData.value);
  formData.append("vrTemplateId", "");
  formData.append("vrLcId", currentUser.LC_ID);
  formData.append("vrCustId", useSelectedDataStore().getSelectedModalData().owner.CUST_ID);
  formData.append("SS_CLIENT_IP", currentUser.LAST_CONT_IP);
  formData.append("SS_USER_NO", currentUser.USER_NO);

  await ApiService.postFormData(enterTemplatePopupData.saveUrl, "post", {}, formData);
  formData = new FormData();
}

// 템플릿 다운로드버튼 클릭
async function downLoad() {
  location.href = REST_SERVICE_PRODUCTION_URL + enterTemplatePopupData.templateUrl;
}

// 모달창 닫기 버튼 클릭
function closePopup() {
  localStorage.removeItem("windowModal");
  window.close();
}

// 브라우저를 직접 닫았을때
window.addEventListener("beforeunload", () => {
  localStorage.removeItem("windowModal");
});
</script>
<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss">
.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .search {
    margin-right: 0px;

    &.half {
      width: calc(33.3% - 7px);
    }
  }
}
.enter-template {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px 15px 0px 15px;
    box-sizing: border-box;
    z-index: 14;
    background-color: white;
  }

  &-title {
    font-size: 13px;
    color: $font-bk;
    font-weight: bold;
    margin-bottom: 22px;
  }

  &-download-btn {
    @include btnColorStyle($font-bk);
    position: absolute;
    top: 0px;
    right: 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px 13px;
    cursor: pointer;
  }

  &-input {
    &-box {
      background-color: #e2e7fa;
      width: 100%;
      height: 62px;
      padding: 0 36px 0 11px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      gap: 23px;
      display: flex;
      margin-bottom: 20px;
    }

    &-file-name {
      width: 610px;
      height: 35px;
      border-radius: 8px;
      border: 1px solid #d6d6d6;
      box-sizing: border-box;
      padding-left: 13px;
    }
    &-file-input {
      display: flex;
      align-items: center;
    }
    &-item {
      width: 0px;
      height: 0px;
    }
    &-label {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;

      &-icon {
        width: 25px;
        height: 25px;
        background-color: $main;
        border-radius: 6px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 2px;
          height: 12px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 2px;
          border-radius: 1px;
          background-color: white;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &-text {
        color: $main;
        font-weight: bold;
        font-size: 13px;
      }
    }
  }
  &-log {
    &-title {
      font-size: 13px;
      color: $font-bk;
      font-weight: bold;
      margin-bottom: 10px;
    }
    &-text {
      border: 1px solid #d6d6d6;
      width: 100%;
      height: 62px;
      border-radius: 8px;
      padding: 10px;
      overflow-y: scroll;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;

    button {
      width: calc(50% - 5px);
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    &-close {
      @include btnColorStyle($font-bk);
    }

    &-save {
      @include btnColorStyle($main);
    }
  }
}

// search영역 style
.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
</style>
