<!------------------------------------------------------------------------------
 *  Copyright (c) 2023 LogisSystemsAll. All Rights Reserved
 *
 *  Use of this software is controlled by the terms and conditions found in the
 *  license agreement under which this software has been supplied.
 *------------------------------------------------------------------------------
 *
 *  Source Name:   	WMSMS080/page.vue
 *  Description:    기준정보/로케이션정보관리 업무 화면
 *  Authors:        J. I. Cho
 *  Update History:
 *                  2023.08. : Created by J. I. Cho
 *
------------------------------------------------------------------------------->

<!-------------------------------
  PAGE TEMPLATE MARKUPS 
-------------------------------->
<template>
  <div class="form-container form-container-local" :id="`${myPageId}-page`">
    <common-search :searchContainerMeta="SEARCH_META">
      <template v-slot:search-header></template>
      <template v-slot:search-input-header></template>
    </common-search>
    <common-grid-info-form
      ref="commonFormRef"
      :gridId="`${myPageId}-grid`"
      :gridMeta="GRID_META"
      :gridOptionsMeta="GRID_OPTIONS_META"
      :formColumnDefs="FORM_COLUMN_DEFS"
      :controlBtn="CONTROL_BTN"
      :searchInput="SEARCH_INPUT"
      :getServerData="getServerData"
      :onCellFocused="onCellFocused"
      :onApiParamsChanged="onApiParamsChanged"
      :info-meta="INFO_META"
      :infoControlBtn="INFO_CONTROL_BTN"
      :infoTextChanged="infoCompChangedCallBack"
      :infoSelectChanged="infoCompSelectedCallBack"
      :infoTripleSearchChanged="infoModalSearchCallBack">
      <template v-slot:grid-button>
        <control-container>
          <div v-for="btnData in controlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
      <template v-slot:info-button>
        <control-container>
          <div v-for="btnData in infoControlBtnRef" :key="btnData.title">
            <control-button v-if="btnData['display'] === 'Y'" :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
          <div v-for="splitBtnData in infoSplitButtonRef" :key="splitBtnData.title" style="height: inherit">
            <SplitButton :data="splitBtnData" :contents="splitButtonEventHandler[splitBtnData.eventHandler]" />
          </div>
        </control-container>
      </template>
      <!-- TODO :: 권한 처리 필요 -->
      <template v-slot:info-grid-button>
        <control-container>
          <div v-for="btnData in infoGridControlBtnRef" :key="btnData.title">
            <control-button :data="btnData" @clicked="eventHandler[btnData.title]" />
          </div>
        </control-container>
      </template>
    </common-grid-info-form>
    <div id="jqContextMenu">
      <div style="text-align: right; font-size: 14px; cursor: pointer; background-color: #bce55c; height: 30px; padding-top: 5px; padding-right: 5px" @click="fn_contextWorkModal('C')">
        {{ $t("text.close") }} X
      </div>
      <br />
      <b>※) {{ $t("text.direction") }}</b>
      <br /><label
        ><input type="checkbox" id="arrowRedL" name="arrowRedL" value="arrowRedL" /><b>(←{{ $t("text.left") }})</b></label
      >
      <label
        ><input type="checkbox" id="arrowRedR" name="arrowRedR" value="arrowRedR" /><b>(→{{ $t("text.right") }})</b></label
      >
      <br />
      <br /><b>1) {{ $t("text.vertical") }} / 2{{ $t("text.division") }} / A4 ({{ $t("text.up-to-n-level") }})</b> <br /><input
        type="button"
        :value="'(2' + $t('text.division') + ')'"
        class="btnEtc"
        name="btn_write"
        @click="fn_totalLabelPrint(2)"
        role="button"
        aria-disabled="false" />
      <input type="button" :value="'(3' + $t('text.division') + ')'" class="btnEtc" name="btn_write" @click="fn_totalLabelPrint(3)" role="button" aria-disabled="false" />
      <input type="button" :value="'(4' + $t('text.division') + ')'" class="btnEtc" name="btn_write" @click="fn_totalLabelPrint(4)" role="button" aria-disabled="false" />
      <input type="button" :value="'(6' + $t('text.division') + ')'" class="btnEtc" name="btn_write" @click="fn_totalLabelPrint(6)" role="button" aria-disabled="false" />
      <br /><b>2) {{ $t("text.vertical") }} / {{ $t("text.single") }} / {{ $t("text.label") }} ({{ $t("text.ratio") }} N )</b> <br />
      <input type="button" value="100%" class="btnEtc2" name="btn_write" @click="fn_newBarcodeEA1('50')" role="button" aria-disabled="false" />
      <input type="button" value="50%:50%" class="btnEtc2" style="padding: 0px" name="btn_write" @click="fn_newBarcodeEA2()" role="button" aria-disabled="false" />
      <input type="button" value="200%" class="btnEtc2" name="btn_write" @click="fn_newBarcodeEA1('200')" role="button" aria-disabled="false" />
      <br /><b>3) {{ $t("text.vertical") }} / 3x9 / A4</b> <br /><input type="button" value="3x9" class="btnEtc3" name="btn_write" @click="fn_newBarcode()" role="button" aria-disabled="false" />
      <br /><b>4) {{ $t("text.horizontal") }} / 3{{ $t("text.division") }} / A4 ({{ $t("text.up-to-n-level") }})</b> <br /><input
        type="button"
        :value="'(2' + $t('text.division') + ')'"
        class="btnEtc2"
        name="btn_write"
        @click="fn_newBarcodeSimple(2)"
        role="button"
        aria-disabled="false" />
      <input type="button" :value="'(3' + $t('text.division') + ')'" class="btnEtc2" name="btn_write" @click="fn_newBarcodeSimple(3)" role="button" aria-disabled="false" />
      <input type="button" :value="'(4' + $t('text.division') + ')'" class="btnEtc2" name="btn_write" @click="fn_newBarcodeSimple(4)" role="button" aria-disabled="false" />
      <br /><b>5) {{ $t("text.horizontal") }} / 6{{ $t("text.division") }} / A4 ({{ $t("text.up-to-four-level") }})</b><br />
      <input type="button" :value="'(4' + $t('text.division') + ')'" class="btnEtc2 last-btnEtc2" name="btn_write" @click="fn_newBarcodeSimple_width(6)" role="button" aria-disabled="false" />
    </div>
  </div>
  <!-- <div id="printElement" v-for="(item, idx) in targetRowData" :key="idx">
    <div style='page-break-before:avoid; font-size:10px; visibility: hidden'>
      <div class='page'>
      
      </div>
    </div>
  </div> -->
  <div id="dataTable"></div>
</template>

<!-------------------------------
  PAGE TYPE SCRIPT CODES
-------------------------------->
<script lang="ts">
export default { name: "WMSMS080" };
</script>
<script setup lang="ts">
import { ControlButton, SplitButton } from "@/components/button";
import { ControlContainer } from "@/components/layout";
import { GridUtils } from "@/lib/ag-grid/utils.ts";
import CommonForm from "@/page/common-page/common-form.vue";
import CommonGridInfoForm from "@/page/common-page/common-grid-info-form.vue";
import CommonSearch from "@/page/common-page/common-search.vue";
import { ApiService } from "@/services/api-service";
import { UtilService } from "@/services/util-service";
import { useConfirmStore, useOptionDataStore, useSelectedDataStore, useTabsStore } from "@/store";
import { useEventBusStore } from "@/store/event-bus/EventBus";
import { IControlBtn, IExcelImportModal } from "@/types/index.ts";
import { CellFocusedEvent, ExcelExportParams, GridApi, GridReadyEvent } from "ag-grid-community";
import qrcode from "qrcode-generator";
import { onBeforeMount, onMounted, onUnmounted, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useToast } from "vue-toastification";
import { FORM_COLUMN_DEFS } from "./column-defs.ts";
import { CONTROL_BTN, GRID_META, GRID_OPTIONS_META, INFO_CONTROL_BTN, INFO_GRID_BTN, INFO_META, INFO_SPLIT_BTN, SEARCH_INPUT, SEARCH_META } from "./input.meta";

//#region ::  Variable Definitions

const myPageId = ref<string>();
const controlBtnRef = ref(CONTROL_BTN);
const infoControlBtnRef = ref(INFO_CONTROL_BTN);
const infoSplitButtonRef = ref(INFO_SPLIT_BTN);
const infoGridControlBtnRef = ref(INFO_GRID_BTN);
const gridApi = ref<GridApi | undefined>();
const infoGridApi = ref<GridApi | undefined>();
const eventBus = useEventBusStore();
const { t } = useI18n();
let selectedMainRowData: any = null;

/** [common-form.vue] 검색(조회) API */
let searchGridData: Function;

/** [common-form.vue] 버튼 이벤트 리스너 */
const eventHandler: Record<string, Function> = {
  save: saveRowData,
  new: addRowData,
  del: deleteRowData,
  excel: excelExport,
  "re-location": reLocation,
  "barcode-output": barcodeOutput,
  "loc-limit": setShowSelectList,
  "loc-limit-cancel": setShowSelectList,
};

/** Split 버튼 이벤트 리스너 */
const splitButtonEventHandler: Record<string, any[]> = {
  excelButtonHandler: [
    {
      label: t("control-button-name.excel-input(simple)"),
      command: () => {
        excelImport();
      },
    },
    {
      label: t("control-button-name.enter-excel"),
      command: () => {
        simpleExcelImport();
      },
    },
  ],
};

const commonFormRef = ref<InstanceType<typeof CommonForm> | null>(null);

//#endregion

//#region ::  Framework Function Definitions

onBeforeMount(async () => {
  myPageId.value = useTabsStore().selectedTab.value?.id;

  const res = await ApiService.postApi(`/WINUS/${myPageId.value}_rn.action`, {}, UtilService.getOptionApiData(`${myPageId.value}_rn`));
  if (res.result.selectBoxInfos) {
    useOptionDataStore().setOptionData(res.result.selectBoxInfos);
  } else {
    useOptionDataStore().setOptionData(res.result);
  }
});

onMounted(() => {
  searchGridData = commonFormRef.value!.searchGridData;

  eventBus.on("onGridReady", onGridReadyCallBack);
});

onUnmounted(() => {
  eventBus.off("onGridReady", onGridReadyCallBack);
});

//#endregion

//#region ::  User Function Definitions

/**
 * 신규
 * - 입력 필수값은 반드시 초기화되어 있어야 함.
 */
function addRowData() {
  const newRowData = [
    {
      STATE: "C",
      LOC_CD: "",
      WH_CD: "",
      WH_ID: "",
      WH_NM: "",
      CARRY_PLT_QTY: "",
      LOC_ABLE_PLT_QTY: "",
      LOC_TYPE: "",
      LOC_STAT: "",

      REPRESENT_CUST_CD: "",
      RACK_DIRECTION: "",
      ITEM_GRP: "",
      LOC_ITEM_TYPE: "",
    },
  ];

  gridApi.value?.applyTransaction({
    add: newRowData,
    addIndex: 0,
  });
}

/**
 * 저장
 */
async function saveRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let data: any = { _fullpath: "", I_selectIds: selectedRows.length, D_selectIds: "0" };

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  const validationResult = UtilService.inputRequiredValidation(INFO_META.infoInput, selectedRows);
  if (!validationResult?.status) {
    return useToast().warning(t("common-toast.no-search-input-item", { message: t(`input-title.${validationResult?.toastKey}`) }));
  }

  await useConfirmStore().confirm(t("confirm-message.save"), t("button-name.confirm"));

  try {
    for (let i = 0; selectedRows.length > i; i++) {
      if (selectedRows[i].STATE === "C") {
        data["ST_GUBUN" + [i]] = "INSERT";
      } else {
        data["ST_GUBUN" + [i]] = "UPDATE";
      }

      data["LOC_ID" + [i]] = selectedRows[i].LOC_ID || "";
      data["LOC_CD" + [i]] = selectedRows[i].LOC_CD || "";
      data["ROWCNT" + [i]] = String(selectedRows[i].ROWCNT || "");
      data["COL" + [i]] = String(selectedRows[i].COL || "");
      data["DAN" + [i]] = String(selectedRows[i].DAN || "");
      data["MAX_DAN" + [i]] = selectedRows[i].MAX_DAN || "";
      data["LC_ID" + [i]] = selectedRows[i].LC_ID || "";
      data["LOC_TYPE" + [i]] = selectedRows[i].LOC_TYPE || "";
      data["LOC_STAT" + [i]] = selectedRows[i].LOC_STAT || "";
      data["LOC_ITEM_TYPE" + [i]] = selectedRows[i].LOC_ITEM_TYPE || "";
      data["WH_ID" + [i]] = selectedRows[i].WH_ID || "";
      data["CUST_ID" + [i]] = selectedRows[i].CUST_ID || "";
      data["ITEM_ID" + [i]] = selectedRows[i].ITEM_ID || "";
      data["SHIP_ABC" + [i]] = selectedRows[i].SHIP_ABC || "";
      data["CELL_W" + [i]] = selectedRows[i].CELL_W || "";
      data["CELL_H" + [i]] = selectedRows[i].CELL_H || "";
      data["CELL_L" + [i]] = selectedRows[i].CELL_L || "";
      data["OP_QTY" + [i]] = selectedRows[i].OP_QTY || "";
      data["RS_QTY" + [i]] = selectedRows[i].RS_QTY || "";
      data["ITEM_GRP" + [i]] = selectedRows[i].ITEM_GRP || "";
      data["CARRY_TYPE" + [i]] = selectedRows[i].CARRY_TYPE || "";
      data["WORK_RANK" + [i]] = selectedRows[i].WORK_RANK ? "true" : "false";
      data["CARRY_PLT_QTY" + [i]] = String(selectedRows[i].CARRY_PLT_QTY || "");
      data["LOC_ABLE_PLT_QTY" + [i]] = String(selectedRows[i].LOC_ABLE_PLT_QTY || "");
      data["DLV_CNTL" + [i]] = selectedRows[i].DLV_CNTL || "";
      data["TAG_PREFIX" + [i]] = selectedRows[i].TAG_PREFIX || "";
      data["LC_GLN_CD" + [i]] = selectedRows[i].LC_GLN_CD || "";
      data["LC_BARCODE_CD" + [i]] = selectedRows[i].LC_BARCODE_CD || "";
      data["POSITION_X" + [i]] = selectedRows[i].POSITION_X || "";
      data["POSITION_Y" + [i]] = selectedRows[i].POSITION_Y || "";
      data["POSITION_Z" + [i]] = selectedRows[i].POSITION_Z || "";
      data["LOC_CBM" + [i]] = selectedRows[i].LOC_CBM || "";
      data["RACK_DIRECTION" + [i]] = selectedRows[i].RACK_DIRECTION || "";
      data["DLV_CNTL" + [i]] = selectedRows[i].DLV_CNTL || "";
    }

    data["selectIds"] = selectedRows.length;

    const result = await ApiService.postApi("/WMSMS080/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.registered"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 삭제
 */
async function deleteRowData() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let isDataDelete = false;
  let rowIndex = 0;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-delete"));
  }

  // 로우의 STOCK_QTY값이 0이상인 경우 삭제 안되게끔 막음
  for (let i = 0; selectedRows.length > i; i++) {
    if (selectedRows[i].STOCK_QTY && Number(selectedRows[i].STOCK_QTY) > 0) {
      return useToast().warning(t("common-toast.location-is-in-stock"));
    }
  }

  await useConfirmStore().confirm(t("confirm-message.delete"), t("button-name.confirm"));

  // 편집 상태 종료
  gridApi.value?.stopEditing();

  try {
    let data: any = {};

    for (let i = 0; selectedRows.length > i; i++) {
      // 반영되지 않은 신규 행 삭제
      if (selectedRows[i].STATE === "C") {
        gridApi.value?.applyTransaction({ remove: [selectedRows[i]] });
      } else {
        data["ST_GUBUN" + [rowIndex]] = "DELETE";
        data["LOC_ID" + [rowIndex]] = selectedRows[i].LOC_ID;

        rowIndex++;
        isDataDelete = true;
      }
    }

    // 데이터 삭제처리가 필요하지 않은 경우
    if (!isDataDelete) return;

    data["selectIds"] = String(rowIndex);
    data["I_selectIds"] = "0";
    data["D_selectIds"] = String(rowIndex);

    const result = await ApiService.postApi("/WMSMS080/save_rn.action", {}, data);

    if (result.status) {
      useToast().success(t("common-toast.deleted"));
      searchGridData();
    }
  } catch (err) {
    useToast().error(t("common-toast.error"));
    return console.log(err);
  }
}

/**
 * 엑셀
 */
function excelExport() {
  // 편집 상태 종료
  gridApi.value?.stopEditing();

  const excelExportParams: ExcelExportParams = {
    fileName: t("excel-export-file-name.location-management"),
  };

  gridApi.value?.exportDataAsExcel(excelExportParams);
}

/**
 * 엑셀입력
 */
function excelImport() {
  const data: IExcelImportModal = {
    modalTitle: t("modal-title.location-information-enter-excel"),
    saveUrl: "/WMSMS080/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS080&file_name=execlTemp_location_01.xls",
    uploadType: "NORMAL",
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * 엑셀입력(간편)
 */
function simpleExcelImport() {
  const data: IExcelImportModal = {
    modalTitle: t("modal-title.location-information-enter-excel"),
    saveUrl: "/WMSMS080/uploadInfo_rn.action",
    templateUrl: "/jsp/filedownloadMt.jsp?file_path=/STAN_TEMPLATE/WMSMS080&file_name=execlTemp_location_simple.xls",
    uploadType: "SIMPLE",
  };
  UtilService.excelImport(data, "/excel-import");
}

/**
 * 로케이션 재등록
 */
function reLocation() {
  const name = "/re-location";
  const windowPopup = UtilService.openWindowPopup(null, name, { width: 1100, height: 790, top: 100, left: 200 }, name) as any;

  windowPopup.onbeforeunload = function () {
    searchGridData();
  };
}

/**
 * 바코드출력
 */
function barcodeOutput() {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.no-selected-item"));
  }

  fn_contextWorkModal("O");
}

function fn_contextWorkModal(gb: string) {
  switch (gb) {
    case "O": //OPEN\\
      document.getElementById("jqContextMenu")!.style.visibility = "visible";
      break;
    case "C": //CLOSE
      document.getElementById("jqContextMenu")!.style.visibility = "hidden";
      break;
  }
}

/**
 * 2) 바코드출력 (세로/2분할/A4)
 * - 열 : 2열 고정
 * - 단 : 단 높이에 맞게 출력 (한 페이지에 선택한 '단' 만큼 행 수가 구성됨.)
 * - 화살표 : 랙 위치 방향 (열의 가장 위에 위치)
 *
 * @param nGb : 출력 단(행) 수
 */
async function fn_totalLabelPrint(nGb: number) {
  // TODO :: Refactoring
  // let nRowGb;
  // let html: string = "";
  // let innerHtml: string = "";
  // let itemHtml: string = "";
  // let tranPageGb = 1;
  // const gbArrowRed = "arrowRedL";
  // const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  // let maxRowCount = nGb;      // 출력물의 1 페이지 당 최대 행 수 (출력유형의 단 수)
  // let maxColumnCount = 2;     // 출력물의 열 수 (로케이션의 열 구분)
  // let rowNo = 1;
  // let columnNo = 1;
  // let inital = true;

  // targetRowData = selectedRows;

  // switch (nGb) {
  //   case 2:
  //     nRowGb = 300;
  //     break;
  //   case 3:
  //     nRowGb = 200;
  //     break;
  //   case 4:
  //     nRowGb = 90;
  //     break;
  //   case 6:
  //     nRowGb = 0;
  //     break;
  // }

  // await useConfirmStore().confirm(t("confirm-message.barcode-output-confirm-message", { message: nGb }), t("button-name.confirm"));

  // for (let i = 0; i < selectedRows.length; i++) {
  //   const item = selectedRows[i];
  //   const nextItem = selectedRows.at(i+1);
  //   let danColor;

  //   if (Number(item.DAN) % 2 == 0) {
  //     danColor = "#0100FF";
  //   } else {
  //     danColor = "#FF0000";
  //   }

  //   // 초기설정
  //   if(i === 0){
  //     innerHtml += /*html*/`

  //     `;
  //   }

  //   // 페이지 전환
  //   if(columnNo === maxColumnCount){
  //     columnNo = 0;   // Init

  //     innerHtml += /*html*/`
  //         </div>
  //       </div>
  //       <!-- End : Page -->

  //       <!-- Start: 페이지 -->
  //       <div style='page-break-before:avoid; font-size:10px;'>
  //         <div class='page'>
  //     `;
  //   }

  //   // 열 전환 : 로케이션의 열 이 변경될 때
  //   if(!UtilService.isEmptyObject(nextItem) && nextItem.DAN !== item.DAN){
  //     rowNo = 0;    // Ini
  //     columnNo++;

  //     innerHtml += /*html*/`
  //       </div>
  //       <!-- End : printDiv2 -->

  //       <!-- 열 반복 (printDiv2) -->
  //       <div class='printDiv2'>
  //     `;
  //   }

  //   // 페이지의 첫 번째 Item
  //   if(rowNo === 0){
  //     innerHtml += /*html*/`
  //       <!-- 화살표 (printDiv3)-->
  //       <div class='printDiv3' style='background-image:url(/img/${gbArrowRed}.png);'></div>
  //     `;
  //   }

  //   /** 종료 */
  //   if(rowNo === maxRowCount ){
  //     console.log('올바르지 않은 서식');
  //   }

  //   // 상품
  //   innerHtml += /*html*/`
  //     <!-- 아이템 반복 (printDiv)-->
  //     <div class='printDiv' style='margin-top:"${nRowGb}"px;'>
  //       <table border='0' cellspacing='0' style='width:98%;'>
  //         <colgroup>
  //           <col width='60%'/>
  //           <col width='40%'/>
  //         </colgroup>
  //         <tr>
  //           <td colspan='2' style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location${UtilService.isEmptyString(item.REMARK) ?  "" : " " + item.REMARK}</b></td>";
  //         </tr>
  //         <tr>
  //           <td style='text-align:center; font-size:20px; '><div style='border:1px solid;'><b>item.LOC_CD</b></div></td>
  //           <td rowspan='2' style='text-align:center;'><div align='center'>${QRCodeGenerator(item.LOC_CD)}</div></td>
  //         </tr>
  //         <tr>
  //           <td style='text-align:center; border-bottom:1px solid;'>
  //             <span style='font-size:60px; font-weight:900; background-color:#FFE400;'>${LPAD(item.COL, "0", 2)}</span>
  //             <span style='font-size:40px; font-weight:900; color:"${danColor}";'>${LPAD(item.DAN, "0", 2)}</span>
  //           </td>
  //         </tr>
  //       </table>
  //     </div>
  //   `;

  //   rowNo++;

  /**
   * 열 반복 : 이전 데이터의 열(COL)과 달라질 때 마다
   */

  // innerHtml += /*html*/`
  //   <!-- 열 반복 (printDiv2) -->
  //   <div class='printDiv2'>
  //     <!-- 화살표 (printDiv3)-->
  //     <div class='printDiv3' style='background-image:url(/img/${gbArrowRed}.png);'></div>
  //       <!-- 아이템 반복 (printDiv)-->
  //       <div class='printDiv' style='margin-top:"${nRowGb}"px;'>
  //         <table border='0' cellspacing='0' style='width:98%;'>
  //           <colgroup>
  //             <col width='60%'/>
  //             <col width='40%'/>
  //           </colgroup>
  //           <tr>
  //             <td colspan='2' style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location${UtilService.isEmptyString(item.REMARK) ?  "" : " " + item.REMARK}</b></td>";
  //           </tr>
  //           <tr>
  //             <td style='text-align:center; font-size:20px; '><div style='border:1px solid;'><b>item.LOC_CD</b></div></td>
  //             <td rowspan='2' style='text-align:center;'><div align='center'>${QRCodeGenerator(item.LOC_CD)}</div></td>
  //           </tr>
  //           <tr>
  //             <td style='text-align:center; border-bottom:1px solid;'>
  //               <span style='font-size:60px; font-weight:900; background-color:#FFE400;'>${LPAD(item.COL, "0", 2)}</span>
  //               <span style='font-size:40px; font-weight:900; color:"${danColor}";'>${LPAD(item.DAN, "0", 2)}</span>
  //             </td>
  //           </tr>
  //         </table>
  //       </div>
  //       <!-- End : printDiv -->
  //     </div>
  //     <!-- End : printDiv3-->
  //   </div>
  //   <!-- End : printDiv2 -->
  // `;
  // }

  // html += /*html*/ `
  //   <style type='text/css'>
  //     body {
  //       margin: 0;
  //       padding: 0;
  //       background-color: #FAFAFA;
  //     }
  //     * {
  //       box-sizing: border-box;
  //       -moz-box-sizing: border-box;
  //     }
  //     .page {
  //       width: 21cm;
  //       min-height: 29.0cm;
  //       padding: 0.5cm 1.5cm 0.5cm 1.5cm;
  //       margin: 0cm auto;
  //       border: 0px #FFFFFF solid;
  //       border-radius: 5px;
  //       background: white;
  //     }
  //     @page {
  //       size: A4;
  //       margin: 0;
  //     }
  //     @media print {
  //       .pagew {
  //         margin: 0;
  //         border: initial;
  //         border-radius: initial;
  //         width: initial;
  //         min-height: initial;
  //         box-shadow: initial;
  //         background: initial;
  //       }
  //     }
  //     .printDiv{border:2px solid #000; width:98%; height:170px; text-align:center; font-weight:bold; padding: 10 10 10 10; margin:5 5 5 5;}
  //     .printDiv2{float:left; width:50%;}
  //     .printDiv3{border:0px solid #000; width:98%; height:120px; text-align:center; font-weight:bold; padding: 10 10 10 10; margin:5 5 5 5; background-repeat:no-repeat; background-size:100% 100%;}
  //     .printDiv2{float:left; width:50%;}
  //   </style>

  //   ${innerHtml}
  // `;

  fn_contextWorkModal("C");
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);

  let tranPageGb = 1;
  const gbArrowRed = "arrowRedL";

  let nRowGb;
  switch (nGb) {
    case 2:
      nRowGb = 300;
      break;
    case 3:
      nRowGb = 200;
      break;
    case 4:
      nRowGb = 90;
      break;
    case 6:
      nRowGb = 0;
      break;
  }

  await useConfirmStore().confirm(t("confirm-message.barcode-output-confirm-message", { message: nGb }), t("button-name.confirm"));

  let html = "";
  html += " <style type='text/css'>                   ";
  html += " body {                                    ";
  html += " 	margin: 0;                              ";
  html += " 	padding: 0;                             ";
  html += " 	background-color: #FAFAFA;              ";
  html += " }                                         ";
  html += " * {                                       ";
  html += " 	box-sizing: border-box;                 ";
  html += " 	-moz-box-sizing: border-box;            ";
  html += " }                                         ";
  html += " .page {                                   ";
  html += " 	width: 21cm;                            ";
  html += " 	min-height: 29.0cm;                     ";
  html += " 	padding: 0.5cm 1.5cm 0.5cm 1.5cm;      ";
  html += " 	margin: 0cm auto;                       ";
  html += " 	border: 0px #FFFFFF solid;              ";
  html += " 	border-radius: 5px;                     ";
  html += " 	background: white;                      ";
  html += " }                                         ";
  html += "                                           ";
  html += " @page {                                   ";
  html += " 	size: A4;                               ";
  html += " 	margin: 0;                              ";
  html += " }                                         ";
  html += " @media print {                            ";
  html += " 	.pagew {                                ";
  html += " 		margin: 0;                          ";
  html += " 		border: initial;                    ";
  html += " 		border-radius: initial;             ";
  html += " 		width: initial;                     ";
  html += " 		min-height: initial;                ";
  html += " 		box-shadow: initial;                ";
  html += " 		background: initial;                ";
  html += " 	}                                       ";
  html += " }                                         ";
  html += " .printDiv{border:2px solid #000; width:98%; height:170px; text-align:center; font-weight:bold; padding: 10 10 10 10; margin:5 5 5 5;}";
  html += " .printDiv2{float:left; width:50%;}";
  /*화살표*/
  html +=
    " .printDiv3{border:0px solid #000; width:98%; height:120px; text-align:center; font-weight:bold; padding: 10 10 10 10; margin:5 5 5 5; background-repeat:no-repeat; background-size:100% 100%;}";
  html += " </style>                                  ";

  html += "<div style='page-break-before:avoid; font-size:10px;'>";
  for (let i = 0; i < selectedRows.length; i++) {
    let danColor;
    if (Number(selectedRows[i]["DAN"]) % 2 == 0) {
      danColor = "#0100FF";
    } else {
      danColor = "#FF0000";
    }

    if (i == 0) {
      html += "<div class='page'>";
      html += "<div class='printDiv2'>";

      /*화살표*/
      html += "<div class='printDiv3' style='background-image:url(/public/assets/images/" + gbArrowRed + ".png);'></div>";

      html += "<div class='printDiv'>";
      html += "   <table border='0' cellspacing='0' style='width:98%;'>";
      html += "   	<colgroup>";
      html += "   		<col width='60%'/>";
      html += "   		<col width='40%'/>";
      html += "   	</colgroup>";
      html += "   	<tr>";
      if (selectedRows[i]["REMARK"].length > 0) {
        html += "   		<td colspan='2' style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
      } else {
        html += "   		<td colspan='2' style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
      }
      html += "   	</tr>";
      html += "   	<tr>";
      html += "   		<td style='text-align:center; font-size:20px; '><div style='border:1px solid;'><b>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
      html += `   		<td rowspan='2' style='text-align:center;'><div align='center'>${QRCodeGenerator(selectedRows[i].LOC_CD)}</div></td>`;
      html += "   	</tr>";
      html += "   	<tr>";
      html +=
        "   		<td style='text-align:center; border-bottom:1px solid;'><span style='font-size:60px; font-weight:900; background-color:#FFE400;'>" +
        LPAD(selectedRows[i]["COL"], "0", 2) +
        "</span><span style='font-size:40px; font-weight:900; color:" +
        danColor +
        ";'>" +
        LPAD(selectedRows[i]["DAN"], "0", 2) +
        "</span></td>";
      html += "   	</tr>";
      html += "   </table>";
      html += "</div>";
    } else {
      if (selectedRows[i]["COL"] == selectedRows[i - 1]["COL"]) {
        html += "<div class='printDiv' style='margin-top:" + nRowGb + "px;'>"; // 2단 일 경우만 우선 적용
        html += "   <table border='0' cellspacing='0' style='width:98%;'>";
        html += "   	<colgroup>";
        html += "   		<col width='60%'/>";
        html += "   		<col width='40%'/>";
        html += "   	</colgroup>";
        html += "   	<tr>";
        if (selectedRows[i]["REMARK"].length > 0) {
          html += "   		<td colspan='2' style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
        } else {
          html += "   		<td colspan='2' style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
        }
        html += "   	</tr>";
        html += "   	<tr>";
        html += "   		<td style='text-align:center; font-size:20px; '><div style='border:1px solid;'><b>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
        html += `   		<td rowspan='2' style='text-align:center;'><div align='center'>${QRCodeGenerator(selectedRows[i].LOC_CD)}</div></td>`;
        html += "   	</tr>";
        html += "   	<tr>";
        html +=
          "   		<td style='text-align:center; border-bottom:1px solid;'><span style='font-size:60px; font-weight:900; background-color:#FFE400;'>" +
          LPAD(selectedRows[i]["COL"], "0", 2) +
          "</span><span style='font-size:40px; font-weight:900; color:" +
          danColor +
          ";'>" +
          LPAD(selectedRows[i]["DAN"], "0", 2) +
          "</span></td>";
        html += "   	</tr>";
        html += "   </table>";
        html += "</div>";
      } else {
        if (tranPageGb % 2 == 0) {
          tranPageGb = 1;
          html += "</div>";
          html += "</div>";
          html += "</div>";
          html += "<div style='page-break-before:always; font-size:10px; padding-top:2mm;''>";
          html += "<div class='page'>";
          html += "<div class='printDiv2'>";

          /*화살표*/
          html += "<div class='printDiv3' style='background-image:url(/public/assets/images/" + gbArrowRed + ".png);'></div>";
        } else {
          tranPageGb = 2;
          html += "</div>";
          html += "<div class='printDiv2'>";

          /*화살표*/
          html += "<div class='printDiv3' style='background-image:url(/public/assets/images/" + gbArrowRed + ".png);'></div>";
        }

        html += "<div class='printDiv'>";
        html += "   <table border='0' cellspacing='0' style='width:98%;'>";
        html += "   	<colgroup>";
        html += "   		<col width='60%'/>";
        html += "   		<col width='40%'/>";
        html += "   	</colgroup>";
        html += "   	<tr>";
        if (selectedRows[i]["REMARK"].length > 0) {
          html += "   		<td colspan='2' style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
        } else {
          html += "   		<td colspan='2' style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
        }
        html += "   	</tr>";
        html += "   	<tr>";
        html += "   		<td style='text-align:center; font-size:20px; '><div style='border:1px solid;'><b>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
        html += `   		<td rowspan='2' style='text-align:center;'><div align='center'>${QRCodeGenerator(selectedRows[i].LOC_CD)}</div></td>`;
        html += "   	</tr>";
        html += "   	<tr>";
        html +=
          "   		<td style='text-align:center; border-bottom:1px solid;'><span style='font-size:60px; font-weight:900; background-color:#FFE400;'>" +
          LPAD(selectedRows[i]["COL"], "0", 2) +
          "</span><span style='font-size:40px; font-weight:900; color:" +
          danColor +
          ";'>" +
          LPAD(selectedRows[i]["DAN"], "0", 2) +
          "</span></td>";
        html += "   	</tr>";
        html += "   </table>";
        html += "</div>";
      }
    }
  }

  html += "</div>";
  html += "</div>";
  html += "</div>";
  document.querySelectorAll("#dataTable")[0].innerHTML = html;

  //크롬 일때
  //프린트 출력 부분 div 셋팅
  html += "<div></div>";
  const printContent = document.getElementById("dataTable") as any;
  const windowUrl = "about:blank";
  const uniqueName = new Date();
  const windowName = "Print" + uniqueName.getTime();
  const printWindow = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1") as any;
  printWindow.document.write(printContent.innerHTML);

  let wait;
  if (selectedRows.length >= 27) {
    wait = (selectedRows.length / 27) * 1000; //출력 갯수에 따른 출력 대기시간 증가
  } else {
    wait = 1000;
  }
  setTimeout(function () {
    printWindow.window.print();
  }, wait);
  document.querySelectorAll("#dataTable")[0].innerHTML = "";
}

/**
 * 2) 바코드출력 (세로/낱장/라벨(비율n))
 * - option : 100%, 200%
 *
 * @param qrSize : 100%, 200%
 */
function fn_newBarcodeEA1(qrSize: any) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  fn_contextWorkModal("C");

  let html = "";
  let tdFontSz_1 = "";
  let tdFontSz_2 = "";
  tdFontSz_1 = "80%";
  tdFontSz_2 = "100%";
  qrSize = qrSize == undefined || qrSize == null ? "70" : qrSize;

  for (let i = 0; i < selectedRows.length; i++) {
    //open page break
    if (i == 0) {
      html += "<div style='page-break-before:avoid'>";
    } else {
      html += "<div style='page-break-before:always; padding:7px 0px 0px 0px;'>";
    }
    html += "<div style='float:left; margin:0px 0px 0px 0px; display:inline; width:100%; height:100%;'>";
    html += "   <div style='border:3px double;'>";
    html += "   <table border='0' cellspacing='0' width='100%' height='95%'>";
    html += "   	<colgroup>";
    html += "   		<col width='30%'/>";
    html += "   		<col width='30%'/>";
    html += "   		<col width='40%'/>";
    html += "   	</colgroup>";
    //1Row (표 주제 최상단)
    html += "   	<tr>";
    if (selectedRows[i]["REMARK"].length > 0) {
      html += "   		<td colspan='3' style='text-align:left; font-size:" + tdFontSz_2 + "; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
    } else {
      html += "   		<td colspan='3' style='text-align:left; font-size:" + tdFontSz_2 + "; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
    }
    html += "   	</tr>";
    //2Row (헤더+필드 포함)
    html += "   	<tr>";
    html += "   		<td colspan='2' style='text-align:center; font-size:" + tdFontSz_2 + "; '><div style='border:1px solid;'><b style='font-size: 38px'>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
    html += `   		<td rowspan='2' style='text-align:center; font-size:"${tdFontSz_2}"; font-family:Times New Roman, Times, serif;'><div align='center'>${QRCodeGenerator(selectedRows[i].LOC_CD)}</div></td>`;
    html += "   	</tr>";
    //3Row (헤더+필드 포함)
    html += "   	<tr>";
    html += "   		<td style='text-align:left; font-size:" + tdFontSz_1 + "; font-family:Times New Roman, Times, serif;'>" + selectedRows[i]["WH_NM"] + "</td>";
    html += "   		<td colspan='2' style='text-align:left; font-size:" + tdFontSz_1 + "; font-family:Times New Roman, Times, serif;'>" + selectedRows[i]["LOCAL_TIME"] + "</td>";
    html += "   	</tr>";
    //4Row (헤더+필드 포함)  font-family:Times New Roman, Times, serif;
    html += "   </table>";
    html += "	</div>";
    html += "</div>";
    //close page break
    html += "</div>";
  }

  document.querySelectorAll("#dataTable")[0].innerHTML = html;

  html += "<div></div>";
  const printContent = document.getElementById("dataTable") as any;
  const windowUrl = "about:blank";
  const uniqueName = new Date();
  const windowName = "Print" + uniqueName.getTime();
  const printWindow = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1") as any;
  printWindow.document.write(printContent.innerHTML);

  let wait;
  if (selectedRows.length >= 27) {
    wait = (selectedRows.length / 27) * 1000; //출력 갯수에 따른 출력 대기시간 증가
  } else {
    wait = 1000;
  }
  setTimeout(function () {
    printWindow.window.print();
  }, wait);
  document.querySelectorAll("#dataTable")[0].innerHTML = "";
}

/**
 * 2) 바코드출력 (세로/낱장/라벨(비율n))
 * - option : 50%/50%
 */
function fn_newBarcodeEA2() {
  fn_contextWorkModal("C");

  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let html = "";
  let tdFontSz_1 = "";
  let tdFontSz_2 = "";
  tdFontSz_1 = "80%";
  tdFontSz_2 = "100%";

  for (let i = 0; i < selectedRows.length; i++) {
    if ((i + 1) % 2 == 1) {
      if (i == 0) {
        html += "<div style='page-break-before:avoid'>";
      } else {
        html += "<div style='page-break-before:always; padding:7px 0px 0px 0px;'>";
      }
    }
    html += "<div style='float:left; margin:0px 0px 0px 0px; display:inline; width:50%; height:100%;'>";
    html += "   <div style='border:3px double;'>";
    html += "   <table border='0' cellspacing='0' width='100%' height='95%'>";
    html += "   	<colgroup>";
    html += "   		<col width='30%'/>";
    html += "   		<col width='30%'/>";
    html += "   		<col width='40%'/>";
    html += "   	</colgroup>";
    //1Row (표 주제 최상단)
    html += "   	<tr>";
    if (selectedRows[i]["REMARK"].length > 0) {
      html += "   		<td colspan='3' style='text-align:left; font-size:" + tdFontSz_2 + "; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
    } else {
      html += "   		<td colspan='3' style='text-align:left; font-size:" + tdFontSz_2 + "; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
    }
    html += "   	</tr>";
    //2Row (헤더+필드 포함)
    html += "   	<tr>";
    html += "   		<td colspan='2' style='text-align:center; font-size:" + tdFontSz_2 + "; '><div style='border:1px solid;'><b style='font-size: 38px'>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
    html += `   		<td rowspan='2' style='text-align:center; font-size:"${tdFontSz_2}"; font-family:Times New Roman, Times, serif;'><div align='center'>${QRCodeGenerator(selectedRows[i].LOC_CD)}</div></td>`;
    html += "   	</tr>";
    //3Row (헤더+필드 포함)
    html += "   	<tr>";
    html += "   		<td style='text-align:left; font-size:" + tdFontSz_1 + "; font-family:Times New Roman, Times, serif;'>" + selectedRows[i]["WH_NM"] + "</td>";
    html += "   		<td colspan='2' style='text-align:left; font-size:" + tdFontSz_1 + "; font-family:Times New Roman, Times, serif;'>" + selectedRows[i]["LOCAL_TIME"] + "</td>";
    html += "   	</tr>";
    //4Row (헤더+필드 포함)  font-family:Times New Roman, Times, serif;
    html += "   </table>";
    html += "	</div>";
    //html += "</div>";
    html += "</div>";
    if ((i + 1) % 2 == 1) {
      if (i + 1 == selectedRows.length) {
        html += "</div>";
      }
    } else {
      html += "</div>";
    }
  }
  document.querySelectorAll("#dataTable")[0].innerHTML = html;

  //프린트 출력 부분 div 셋팅
  html += "<div></div>";
  const printContent = document.getElementById("dataTable") as any;
  const windowUrl = "about:blank";
  const uniqueName = new Date();
  const windowName = "Print" + uniqueName.getTime();
  const printWindow = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1") as any;
  printWindow.document.write(printContent.innerHTML);

  let wait;
  if (selectedRows.length >= 27) {
    wait = (selectedRows.length / 27) * 1000; //출력 갯수에 따른 출력 대기시간 증가
  } else {
    wait = 1000;
  }
  setTimeout(function () {
    printWindow.window.print();
  }, wait);
  document.querySelectorAll("#dataTable")[0].innerHTML = "";
}

/**
 * 3) 바코드출력 (세로/3x9/A4)
 */
function fn_newBarcode() {
  fn_contextWorkModal("C");

  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let html = "";

  //1 or 4 분할 인쇄 설정
  let pageDivCnt = 1;
  let tlbCard_W = "";
  let tlbCard_H = "";
  let tdFontSz_1 = "";
  let tdFontSz_2 = "";
  tlbCard_W = "100%";
  tlbCard_H = "90";
  tdFontSz_1 = "8px";
  tdFontSz_2 = "18px";

  for (let i = 0; i < selectedRows.length; i++) {
    //인쇄 페이징 처리 구분
    if (i == 0) {
      html += "<div style='page-break-before:avoid'>";
    } else if (i != 0 && pageDivCnt == 1) {
      html += "</div>";
      html += "<br style='height:0; line-height:0'>";
      html += "<div style='page-break-before:always'>";
    }

    const htmlText = "<div style='float:left; margin:0px 10px 10px 0px; display:inline; width:31.5%; height:10%;'>";

    switch (pageDivCnt) {
      case 1: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 2: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 3: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 4: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 5: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 6: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 7: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 8: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 9: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 10: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 11: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 12: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 13: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 14: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 15: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 16: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 17: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 18: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 19: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 20: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 21: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 22: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 23: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 24: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 25: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 26: //검색 화주
        html += htmlText;
        pageDivCnt = pageDivCnt + 1;
        break;
      case 27: //검색 화주
        html += htmlText;
        pageDivCnt = 1;
        break;
    }

    html += "   <div style='border:3px double;'>";
    html += "   <table border='0' cellspacing='0' width='" + tlbCard_W + "' height='" + tlbCard_H + "'>";
    html += "   	<colgroup>";
    html += "   		<col width='30%'/>";
    html += "   		<col width='30%'/>";
    html += "   		<col width='40%'/>";
    html += "   	</colgroup>";
    //1Row (표 주제 최상단)
    html += "   	<tr>";
    if (selectedRows[i]["REMARK"].length > 0) {
      html += "   		<td colspan='3' style='text-align:left; font-size:" + tdFontSz_2 + "; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
    } else {
      html += "   		<td colspan='3' style='text-align:left; font-size:" + tdFontSz_2 + "; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
    }
    html += "   	</tr>";
    //2Row (헤더+필드 포함)
    html += "   	<tr>";
    html += "   		<td colspan='2' style='text-align:center; font-size:" + tdFontSz_2 + "; '><div style='border:1px solid;'><b>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
    html += `   		<td rowspan='2' style='text-align:center; font-size:"${tdFontSz_2}"; font-family:Times New Roman, Times, serif;'><div align='center'>${QRCodeGenerator(selectedRows[i].LOC_CD)}</div></td>`;
    html += "   	</tr>";
    //3Row (헤더+필드 포함)
    html += "   	<tr>";
    html += "   		<td style='text-align:left; font-size:" + tdFontSz_1 + "; font-family:Times New Roman, Times, serif;'>" + selectedRows[i]["WH_NM"] + "</td>";
    html += "   		<td style='text-align:left; font-size:" + tdFontSz_1 + "; font-family:Times New Roman, Times, serif;'>" + selectedRows[i]["LOCAL_TIME"] + "</td>";
    html += "   	</tr>";
    //4Row (헤더+필드 포함)  font-family:Times New Roman, Times, serif;
    html += "   </table>";
    html += "	</div>";
    html += "</div>";
  }
  html += "</div>";
  html += "<br style='height:0; line-height:0'>";
  document.querySelectorAll("#dataTable")[0].innerHTML = html;

  //프린트 출력 부분 div 셋팅
  html += "<div></div>";
  const printContent = document.getElementById("dataTable") as any;
  const windowUrl = "about:blank";
  const uniqueName = new Date();
  const windowName = "Print" + uniqueName.getTime();
  const printWindow = window.open(windowUrl, windowName, "width=780,height=800,scrollbars=1") as any;
  printWindow.document.write(printContent.innerHTML);

  let wait;
  if (selectedRows.length >= 27) {
    wait = (selectedRows.length / 27) * 1000; //출력 갯수에 따른 출력 대기시간 증가
  } else {
    wait = 1000;
  }
  setTimeout(function () {
    printWindow.window.print();
  }, wait);
  document.querySelectorAll("#dataTable")[0].innerHTML = "";
}

/**
 * 4) 바코드출력 (가로/3분할/A4(최대 N단))
 */
async function fn_newBarcodeSimple(nGb: number) {
  fn_contextWorkModal("C");

  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let tranPageGb = 1;
  let nRowGb;
  switch (nGb) {
    case 2:
      nRowGb = 370;
      break;
    case 3:
      nRowGb = 210;
      break;
    case 4:
      nRowGb = 160;
      break;
    case 5:
      nRowGb = 210;
      break;
  }

  await useConfirmStore().confirm(t("confirm-message.barcode-output-confirm-message", { message: nGb }), t("button-name.confirm"));

  let html = "";
  html += " <style type='text/css'>                   ";
  html += " body {                                    ";
  html += " 	margin: 0;                              ";
  html += " 	padding: 0;                             ";
  html += " 	background-color: #FAFAFA;              ";
  html += " }                                         ";
  html += " * {                                       ";
  html += " 	box-sizing: border-box;                 ";
  html += " 	-moz-box-sizing: border-box;            ";
  html += " }                                         ";
  html += " .page {                                   ";
  html += " 	width: 29cm;                            ";
  html += " 	min-height: 20.5cm;                     ";
  html += " 	padding: 0.5cm 0.5cm 0.5cm 0.5cm;       ";
  html += " 	margin: 0cm auto;                       ";
  html += " 	border: 0px #FFFFFF solid;              ";
  html += " 	border-radius: 5px;                     ";
  html += " 	background: white;                      ";
  html += " }                                         ";
  html += "                                           ";
  html += " .printDiv2 .printDiv:last-child{          ";
  html += "  	margin-right:5px !important;            ";
  html += " }                                         ";
  html += " @page {                                   ";
  html += " 	size: A4 landscape;                     ";
  html += " 	margin: 0;                              ";
  html += " }                                         ";
  html += " @media print {                            ";
  html += " 	   @page {			                    ";
  html += " 	      size : A4 landscape;              ";
  html += " 	      margin : 0;                       ";
  html += " 	   } 		                            ";
  html += " 	.pagew {                                ";
  html += " 		margin: 0;                          ";
  html += " 		border: initial;                    ";
  html += " 		border-radius: initial;             ";
  html += " 		width: initial;                     ";
  html += " 		min-height: initial;                ";
  html += " 		box-shadow: initial;                ";
  html += " 		background: initial;                ";
  html += " 	}                                       ";
  html += "                                           ";
  html += " }                                         ";
  html += " .printDiv{border:2px solid #000; width:12.5%; height:175px; text-align:center; font-weight:bold; margin-bottom : 50px; padding: 5; display: inline-block;}";
  html += " .printDiv2{float:left; width:100%;}";
  /*화살표*/
  html +=
    " .printDiv3{border:0px solid #000; width:18%; height:160px; text-align:center; font-weight:bold; padding: 10; margin:5; background-repeat:no-repeat; background-size:100% 100%; display: inline-block;}";
  html += " </style>                                  ";

  html += "<div style='page-break-before:avoid; font-size:10px;'>";
  for (let i = 0; i < selectedRows.length; i++) {
    if (i == 0) {
      html += "<div class='page'>";
      html += "<div class='printDiv2'>";
      html += "<div class='printDiv' style='margin-right:" + nRowGb + "px;'>";
      html += "   <table border='0' cellspacing='0' style='width:100%;'>";
      html += "   	<colgroup>";
      html += "   		<col width='100%'/>";
      html += "   	</colgroup>";
      html += "   	<tr>";
      if (selectedRows[i]["REMARK"].length > 0) {
        // location
        html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
      } else {
        html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
      }
      html += "   	</tr>";
      html += "   	<tr>"; // loc cd
      html += "   		<td style='text-align:center; font-size:20px;'><div style='border:1px solid; padding: 0 2px;'><b>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
      html += "   	</tr>";
      html += "   	<tr>"; // loc cd
      html += `   		<td style='text-align:center;'><div style='margin:7px;' align='center'>${QRCodeGenerator(selectedRows[i].LOC_CD, 2)}</div></td>`;
      html += "   	</tr>";
      html += "   </table>";
      html += "</div>";
    } else {
      if (selectedRows[i]["COL"] == selectedRows[i - 1]["COL"]) {
        html += "<div class='printDiv' style='margin-right:" + nRowGb + "px;'>"; // 2단 일 경우만 우선 적용
        html += "   <table border='0' cellspacing='0' style='width:100%;'>";
        html += "   	<colgroup>";
        html += "   		<col width='100%'/>";
        html += "   	</colgroup>";
        html += "   	<tr>";
        if (selectedRows[i]["REMARK"].length > 0) {
          html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
        } else {
          html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
        }
        html += "   	</tr>";
        html += "   	<tr>";
        html += "   		<td style='text-align:center; font-size:20px; '><div style='border:1px solid; padding: 0 2px;'><b>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
        html += "   	</tr>";
        html += "   	<tr>";
        html += `   		<td style='text-align:center;'><div style='margin:7px;' align='center'>${QRCodeGenerator(selectedRows[i].LOC_CD, 2)}</div></td>`;
        html += "   	</tr>";
        html += "   </table>";
        html += "</div>";
      } else {
        if (tranPageGb % 3 == 0) {
          tranPageGb = 1;
          //0짝수였으면
          html += "</div>";
          html += "</div>";
          html += "</div>";
          html += "<div style='page-break-before:always; font-size:10px; padding-top:2mm;''>";
          html += "<div class='page'>";
          html += "<div class='printDiv2'>";
        } else {
          tranPageGb += 1;
          html += "</div>";
          html += "<div class='printDiv2'>";
        }
        html += "<div class='printDiv' style='margin-right:" + nRowGb + "px;'>";
        html += "   <table border='0' cellspacing='0' style='width:100%;'>";
        html += "   	<colgroup>";
        html += "   		<col width='100%'/>";
        html += "   	</colgroup>";
        html += "   	<tr>";
        if (selectedRows[i]["REMARK"].length > 0) {
          html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
        } else {
          html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
        }
        html += "   	</tr>";
        html += "   	<tr>";
        html += "   		<td style='text-align:center; font-size:20px; '><div style='border:1px solid; padding: 0 2px;'><b>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
        html += "   	</tr>";
        html += "   	<tr>";
        html += `   		<td style='text-align:center;'><div style='margin:7px;' align='center'>${QRCodeGenerator(selectedRows[i].LOC_CD, 2)}</div></td>`;
        html += "   	</tr>";
        html += "   </table>";
        html += "</div>";
      }
    }
  }

  html += "</div>";
  html += "</div>";
  html += "</div>";
  html += "</div>";
  document.querySelectorAll("#dataTable")[0].innerHTML = html;

  //프린트 출력 부분 div 셋팅
  html += "<div></div>";
  const printContent = document.getElementById("dataTable") as any;
  const windowUrl = "about:blank";
  const uniqueName = new Date();
  const windowName = "Print" + uniqueName.getTime();
  const printWindow = window.open(windowUrl, windowName, "width=1200,height=800,scrollbars=1") as any;
  printWindow.document.write(printContent.innerHTML);

  let wait;
  if (selectedRows.length >= 27) {
    wait = (selectedRows.length / 27) * 1000; //출력 갯수에 따른 출력 대기시간 증가
  } else {
    wait = 1000;
  }
  setTimeout(function () {
    printWindow.window.print();
  }, wait);
  document.querySelectorAll("#dataTable")[0].innerHTML = "";
}

/**
 * 5) 바코드출력 (가로/6분할/A4 (최대 4단))
 */
async function fn_newBarcodeSimple_width(nGb: number) {
  fn_contextWorkModal("C");

  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let tranPageGb = 1;
  let nRowGb;
  switch (nGb) {
    case 2:
      nRowGb = 370;
      break;
    case 3:
      nRowGb = 210;
      break;
    case 4:
      nRowGb = 160;
      break;
    case 5:
      nRowGb = 120;
      break;
  }

  await useConfirmStore().confirm(t("confirm-message.barcode-output-confirm-message", { message: nGb }), t("button-name.confirm"));

  let html = "";
  html += " <style type='text/css'>                   ";
  html += " body {                                    ";
  html += " 	margin: 0;                              ";
  html += " 	padding: 0;                             ";
  html += " 	background-color: #FAFAFA;              ";
  html += " }                                         ";
  html += " * {                                       ";
  html += " 	box-sizing: border-box;                 ";
  html += " 	-moz-box-sizing: border-box;            ";
  html += " }                                         ";
  html += " .page {                                   ";
  html += " 	width: 29cm;                            ";
  html += " 	min-height: 20.5cm;                     ";
  html += " 	padding: 0.5cm 0.5cm 0.5cm 0.5cm;       ";
  html += " 	margin: 0cm auto;                       ";
  html += " 	border: 0px #FFFFFF solid;              ";
  html += " 	border-radius: 5px;                     ";
  html += " 	background: white;                      ";
  html += " }                                         ";
  html += "                                           ";
  html += " .printDiv2 .printDiv:last-child{          ";
  html += "  	margin-bottom:0px 			            ";
  html += " }                                         ";
  html += "   .pageDiv {                              ";
  html += "      display:flex;                        ";
  html += "      width:25%;                           ";
  html += "   }                                       ";
  html += " @page {                                   ";
  html += " 	size: A4 landscape;                     ";
  html += " 	margin: 0;                              ";
  html += " }                                         ";
  html += " @media print {                            ";
  html += " 	   @page {			                    ";
  html += " 	      size : A4 landscape;              ";
  html += " 	      margin : 0;                       ";
  html += " 	   } 		                            ";
  html += " 	.pagew {                                ";
  html += " 		margin: 0;                          ";
  html += " 		border: initial;                    ";
  html += " 		border-radius: initial;             ";
  html += " 		width: initial;                     ";
  html += " 		min-height: initial;                ";
  html += " 		box-shadow: initial;                ";
  html += " 		background: initial;                ";
  html += " 	}                                       ";
  html += "   .pageDiv {                              ";
  html += "      display:flex;                        ";
  html += "      width:25%;                           ";
  html += "   }                                       ";
  html += " }                                         ";
  html += " .printDiv{border:2px solid #000; width:120px; height:145px; text-align:center; font-weight:bold; margin-bottom : 50px; padding: 5; display: inline-block; margin-right: 50px;}";
  html += " .printDiv2{width:auto;}";
  html += " </style>";

  html += "<div style='page-break-before:avoid; font-size:10px;'>";
  for (let i = 0; i < selectedRows.length; i++) {
    let danColor;
    if (Number(selectedRows[i]["DAN"]) % 2 == 0) {
      danColor = "#0100FF";
    } else {
      danColor = "#FF0000";
    }
    if (i == 0) {
      html += "<div class='page'>";
      html += "<div class='pageDiv'>";
      html += "<div class='printDiv2'>";
      html += "<div class='printDiv'>";
      html += "	<table border='0' cellspacing='0'style='width: 100%;'>";
      html += "   	<colgroup>";
      html += "   		<col width='100%'/>";
      html += "   	</colgroup>";
      html += "   	<tr>";
      if (selectedRows[i]["REMARK"].length > 0) {
        // location
        html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
      } else {
        html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
      }
      html += "   	</tr>";
      html += "   	<tr>"; // loc cd
      html += "   		<td style='text-align:center; font-size:12px;'><div style='border:1px solid; padding: 0 2px;'><b>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
      html += "   	</tr>";
      html += "   	<tr>"; // loc cd
      html += `   		<td style='text-align:center;'><div style="align='center'">${QRCodeGenerator(selectedRows[i].LOC_CD, 2)}</div></td>`;
      html += "   	</tr>";
      html += "   </table>";
      html += "</div>";
    } else {
      if (selectedRows[i]["ROWCNT"] == selectedRows[i - 1]["ROWCNT"] && selectedRows[i]["COL"] == selectedRows[i - 1]["COL"]) {
        html += "<div class='printDiv'>"; // 2단 일 경우만 우선 적용
        html += "   <table border='0' cellspacing='0' style='width:100%;'>";
        html += "   	<colgroup>";
        html += "   		<col width='100%'/>";
        html += "   	</colgroup>";
        html += "   	<tr>";
        if (selectedRows[i]["REMARK"].length > 0) {
          html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
        } else {
          html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
        }
        html += "   	</tr>";
        html += "   	<tr>";
        html += "   		<td style='text-align:center; font-size:12px;'><div style='border:1px solid; padding: 0 2px;'><b>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
        html += "   	</tr>";
        html += "   	<tr>";
        html += `   		<td style='text-align:center;'><div style="align='center'">${QRCodeGenerator(selectedRows[i].LOC_CD, 2)}</div></td>`;
        html += "   	</tr>";
        html += "   </table>";
        html += "</div>";
      } else {
        if (tranPageGb % 6 == 0) {
          tranPageGb = 1;
          //0짝수였으면
          html += "</div>";
          html += "</div>";
          html += "</div>";
          html += "</div>";
          html += "<div style='page-break-before:always; font-size:10px; padding-top:2mm;''>";
          html += "<div class='page'>";
          html += "<div class='pageDiv'>";
          html += "<div class='printDiv2'>";
        } else {
          tranPageGb += 1;
          html += "</div>";
          html += "<div class='printDiv2'>";
        }
        html += "<div class='printDiv'>";
        html += "   <table border='0' cellspacing='0' style='width:100%;'>";
        html += "   	<colgroup>";
        html += "   		<col width='100%'/>";
        html += "   	</colgroup>";
        html += "   	<tr>";
        if (selectedRows[i]["REMARK"].length > 0) {
          html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location | " + selectedRows[i]["REMARK"] + "</b></td>";
        } else {
          html += "   		<td style='text-align:left; font-size:20px; font-family:Times New Roman, Times, serif;'><b>Location</b></td>";
        }
        html += "   	</tr>";
        html += "   	<tr>";
        html += "   		<td style='text-align:center; font-size:12px; '><div style='border:1px solid; padding: 0 2px;'><b>" + selectedRows[i]["LOC_CD"] + "</b></div></td>";
        html += "   	</tr>";
        html += "   	<tr>";
        html += `   		<td style='text-align:center;'><div style="align='center'">${QRCodeGenerator(selectedRows[i].LOC_CD, 2)}</div></td>`;
        html += "   	</tr>";
        html += "   </table>";
        html += "</div>";
      }
    }
  }
  html += "</div>";
  html += "</div>";
  html += "</div>";
  html += "</div>";
  document.querySelectorAll("#dataTable")[0].innerHTML = html;

  //프린트 출력 부분 div 셋팅
  html += "<div></div>";
  const printContent = document.getElementById("dataTable") as any;
  const windowUrl = "about:blank";
  const uniqueName = new Date();
  const windowName = "Print" + uniqueName.getTime();
  const printWindow = window.open(windowUrl, windowName, "width=1200,height=800,scrollbars=1") as any;
  printWindow.document.write(printContent.innerHTML);

  let wait;
  if (selectedRows.length >= 27) {
    wait = (selectedRows.length / 27) * 1000; //출력 갯수에 따른 출력 대기시간 증가
  } else {
    wait = 1000;
  }
  setTimeout(function () {
    printWindow.window.print();
  }, wait);
  document.querySelectorAll("#dataTable")[0].innerHTML = "";
}

/**
 * 출고통제
 * - 사유입력 후 통제/해제 처리
 */
async function setShowSelectList(btnData: IControlBtn) {
  const selectedRows = GridUtils.getSelectedRowData(gridApi.value!);
  let limitState: string = "";
  let confirm;

  if (UtilService.isEmptyArray(selectedRows)) {
    return useToast().warning(t("common-toast.select-data-to-save"));
  }

  // 통제
  if (btnData.title === "loc-limit") {
    confirm = await useConfirmStore().confirm(t("confirm-message.do-you-want-to-control-shipping"), t("button-name.confirm"));
    limitState = "Y";
  }
  // 해제
  else {
    confirm = await useConfirmStore().confirm(t("confirm-message.confirm-release"), t("button-name.confirm"));
    limitState = "N";
  }

  try {
    const data: any = { _fullpath: "기준관리 &gt; 로케이션정보관리" };

    data["WH_CD"] = selectedRows[0]["WH_CD"] || "";
    data["WH_ID"] = selectedRows[0]["WH_ID"] || "";
    data["WH_NM"] = selectedRows[0]["WH_NM"] || "";
    data["LOC_CD"] = selectedRows[0]["LOC_CD"] || "";
    data["CARRY_PLT_QTY"] = selectedRows[0]["CARRY_PLT_QTY"] || "";
    data["CARRY_TYPE"] = selectedRows[0]["CARRY_TYPE"] || "";
    data["LOC_ABLE_PLT_QTY"] = selectedRows[0]["LOC_ABLE_PLT_QTY"] || "";
    data["OP_QTY"] = selectedRows[0]["OP_QTY"] || "";
    data["ROWCNT"] = selectedRows[0]["ROWCNT"] || "";
    data["COL"] = selectedRows[0]["COL"] || "";
    data["DAN"] = selectedRows[0]["DAN"] || "";
    data["CUST_CD"] = selectedRows[0]["CUST_CD"] || "";
    data["CUST_ID"] = selectedRows[0]["CUST_ID"] || "";
    data["CUST_NM"] = selectedRows[0]["CUST_NM"] || "";
    data["RS_QTY"] = selectedRows[0]["RS_QTY"] || "";
    data["LOC_TYPE"] = selectedRows[0]["LOC_TYPE"] || "";
    data["CELL_W"] = selectedRows[0]["CELL_W"] || "";
    data["CELL_L"] = selectedRows[0]["CELL_L"] || "";
    data["LOC_STAT"] = selectedRows[0]["LOC_STAT"] || "";
    data["CELL_H"] = selectedRows[0]["CELL_H"] || "";
    data["TAG_PREFIX"] = selectedRows[0]["TAG_PREFIX"] || "";
    data["LOC_ITEM_TYPE"] = selectedRows[0]["LOC_ITEM_TYPE"] || "";
    data["LC_GLN_CD"] = selectedRows[0]["LC_GLN_CD"] || "";
    data["POSITION_X"] = selectedRows[0]["POSITION_X"] || "";
    data["LC_BARCODE_CD"] = selectedRows[0]["LC_BARCODE_CD"] || "";
    data["POSITION_Y"] = selectedRows[0]["POSITION_Y"] || "";
    data["RACK_DIRECTION"] = selectedRows[0]["RACK_DIRECTION"] || "";
    data["POSITION_Z"] = selectedRows[0]["POSITION_Z"] || "";
    data["LOC_CBM"] = selectedRows[0]["LOC_CBM"] || "";
    data["LOC_ID"] = selectedRows[0]["LOC_ID"] || "";
    data["MAIN_ID"] = selectedRows[0]["RNUM"] || "";
    data["DLV_CNTL"] = limitState;

    for (let i = 0; selectedRows.length > i; i++) {
      data["jqg_detail_" + [i + 1]] = "on";
    }

    const res = await ApiService.postApi("/WMSMS080/update_rn.action", {}, data);

    if (res.status) {
      useToast().success(t("common-toast.saved"));
      searchGridData(); // Main Grid 재조회
      openShipmentControlModal(selectedRows, limitState);
    }
  } catch (err) {
    return err;
  }
}

/**
 * 출고통제 사유 입력 모달 출력
 *
 * @param selectedRows: 선택된 행 데이터 (main)
 * @param limitState: 통제 여부
 */
function openShipmentControlModal(selectedRows: any, limitState: string) {
  const name = "/shipment-control";
  const data = {
    title: `${t(`modal-title.enter-LOCControl-history`)}`,
    saveUrl: "/WMSMS080E2/save_rn.action",
    changeBodyKey: "REMARK",
    body: {
      func: "fn_setWMSMS080E2",
      LOC_ID: selectedRows[0].LOC_ID,
      DLV_CNTL: limitState,
      REMARK: "",
    },
  };

  const windowPopup = UtilService.openWindowPopup(data, name, { width: 850, height: 350, top: 100, left: 200 }, "shipment-control-modal") as any;

  windowPopup.onbeforeunload = function () {
    searchGridData(infoGridApi.value); // info Grid 재조회
  };
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "text"
 */
function infoCompChangedCallBack(e: Event, key: string, overapCheckVal?: boolean) {
  const target = e.target as HTMLInputElement;
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  console.log(key, String(target.value));

  rowNode.setDataValue(key, String(target.value));

  return "";
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "select"
 */
function infoCompSelectedCallBack(e: Event, key: string, option: any) {
  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  if (rowNode.data.STATE !== "C") {
    rowNode.setDataValue("STATE", "U");
  }

  rowNode.setDataValue(key, option.CODE_CD ?? option.code);
}

/**
 * 포커싱된 행 데이터 수정
 * - info 영역의 입력 값을 포커싱된 행에 반영한다
 * - info type : "triple search (modal)"
 */
function infoModalSearchCallBack(key: string, value: any) {
  if (!value) return;

  const focusCellInfo = gridApi.value?.getFocusedCell();
  let focusedRowId = undefined;
  let rowNode = undefined;

  if (!focusCellInfo) return;

  focusedRowId = gridApi.value!.getModel().getRow(focusCellInfo!.rowIndex)?.id;
  rowNode = gridApi.value?.getRowNode(focusedRowId!);

  if (!rowNode) return;

  rowNode.setDataValue(key, value);
}

/**
 * 특정 값을 QR 바코드 Image 태그 HTML 문자열로 반환
 *
 * @params text : 변환하고자 하는 값
 * @parmas fontSize : QR코드 사이즈
 */
function QRCodeGenerator(text: string, fontSize: number = 3) {
  const QRCodeImageMaker = qrcode(4, "L");

  QRCodeImageMaker.addData(text);
  QRCodeImageMaker.make();

  return QRCodeImageMaker.createImgTag(fontSize);
}

function LPAD(s: any, c: any, n: any) {
  if (!s || !c || s.length >= n) {
    return s;
  }

  var max = (n - s.length) / c.length;
  for (var i = 0; i < max; i++) {
    s = c + s;
  }

  return s;
}

//#endregion

//#region ::  Grid Event CallBack Definitions

function onGridReadyCallBack(params: GridReadyEvent) {
  const gridId = params.api.getGridId();

  if (gridId === `${myPageId.value}-grid`) {
    gridApi.value = params.api;
  } else {
    infoGridApi.value = params.api;
  }
}

function onApiParamsChanged(apiParams: any) {
  return apiParams;
}

async function getServerData(apiParams: any, bodyData: any, gridApi: GridApi) {
  const gridId = gridApi?.getGridId();

  if (gridId === `${myPageId.value}-grid`) {
    return await ApiService.postApi("/WMSMS080/list_rn.action", apiParams, bodyData.value, false);
  } else {
    apiParams = { LOC_ID: selectedMainRowData.LOC_ID };
    return await ApiService.postApi("/WMSMS080/sublist_rn.action", apiParams, bodyData.value, false);
  }
}

/**
 * 그리드 셀 포커스 이벤트
 * - 선택 행의 정보를 info 영역에 맵핑
 */
function onCellFocused(e: CellFocusedEvent) {
  const gridId = e.api.getGridId();

  if (gridId === `${myPageId.value}-grid`) {
    const rowNode = gridApi.value!.getModel().getRow(e.rowIndex!);

    useSelectedDataStore().selectedInfoHandler(rowNode!.data, true);
    selectedMainRowData = rowNode!.data;

    searchGridData(infoGridApi.value);
  }
}

//#endregion
</script>

<!-------------------------------
  PAGE SCSS STYLES
-------------------------------->
<style lang="scss" scoped>
@include infoComponentStyle;
@include formContainerStyle;

.form-container {
  &-local {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 0 0 0 0 !important;
  }
}

#jqContextMenu {
  visibility: hidden;
  position: absolute;
  top: 27%;
  left: 19%;
  width: 800px;
  height: 605px;
  background: #ffffff;
  border: 3px solid #8c8c8c;
  z-index: 999;
  font-family: arial, serif;
  font-family: KoPubDotumLeft;
  text-align: center;
  > input {
    cursor: pointer;
  }
  .btnEtc {
    width: 23%;
    height: 60px;
    margin: 5px 0px 15px 0px;
    padding: 0px;
    background-color: #337ab7;
  }
  .btnEtc2 {
    width: 30%;
    height: 60px;
    margin: 5px 0px 15px 0px;
    background-color: #337ab7;
  }
  .last-btnEtc2 {
    margin-left: 30px;
  }
  .btnEtc3 {
    width: 90%;
    height: 60px;
    margin: 5px 0px 15px 0px;
    background-color: #337ab7;
  }
}
</style>
